Repository material-components/material-components-ios, pull requests merged in 2018-10, with the labels that each got.

#5285 [MDCTabBar] Remove dependence on a UIWindow for rendering/layout of MDCTabBa
  components/Tabs/src/private/MDCItemBar.m
  components/Tabs/src/private/MDCItemBarCell.m
  components/Tabs/tests/unit/MaterialTabsTests.m
Labels: [Tabs], cla: yes

#5273 [Alpha] Updated alpha.podspec instructions.
  contributing/alpha_components.md
Labels: PR:merge-when-approved, cla: yes

#5282 [FlexibleHeader] Clear the shadow opacity when a nil trackingScrollView is set.
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
Labels: [FlexibleHeader], cla: yes

#5252 [Banner] Prepare component for prototyping
  components/Banner/.vars
  components/Banner/README.md
  components/Banner/docs/README.md
  components/Banner/examples/BannerTypicalUseExampleViewController.h
  components/Banner/examples/BannerTypicalUseExampleViewController.m
Labels: [Banner], cla: yes

#5291 [ActionSheet] Update TypographyTheme
  components/ActionSheet/src/TypographyThemer/MDCActionSheetTypographyThemer.m
  components/ActionSheet/tests/unit/MDCActionSheetThemeTest.m
Labels: [ActionSheet], cla: yes

#5283 [Dialogs] Customizing scrim color in presentation controller
  components/Dialogs/examples/DialogsAlertCustomizationViewController.swift
  components/Dialogs/src/ColorThemer/MDCAlertColorThemer.m
  components/Dialogs/src/MDCDialogPresentationController.h
  components/Dialogs/src/MDCDialogPresentationController.m
  components/Dialogs/tests/unit/MDCAlertControllerAlertThemerTests.swift
  components/Dialogs/tests/unit/MDCAlertControllerCustomizationTests.m
Labels: [Dialogs], cla: yes

#5296 [Dialogs] Add shadow elevation
  components/Dialogs/examples/DialogsAlertViewController.m
  components/Dialogs/src/MDCAlertController.h
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/src/MDCDialogPresentationController.h
  components/Dialogs/src/MDCDialogPresentationController.m
  components/Dialogs/src/private/MDCDialogShadowedView.h
  components/Dialogs/src/private/MDCDialogShadowedView.m
  components/Dialogs/tests/unit/MDCAlertControllerTests.m
Labels: [Dialogs], cla: yes

#5298 [List] Add TypographyThemer to MDCSelfSizingStereoCell
  MaterialComponents.podspec
  components/List/BUILD
  components/List/examples/MDCSelfSizingStereoCellExample.m
  components/List/src/TypographyThemer/MDCSelfSizingStereoCellTypographyThemer.h
  components/List/src/TypographyThemer/MDCSelfSizingStereoCellTypographyThemer.m
  components/List/src/TypographyThemer/MaterialList+TypographyThemer.h
Labels: [List], cla: yes

#5301 [Dialogs] Update the themer and scheme to have elevation
  components/Dialogs/src/DialogThemer/MDCAlertControllerThemer.m
  components/Dialogs/src/DialogThemer/MDCAlertScheme.h
  components/Dialogs/src/DialogThemer/MDCAlertScheme.m
  components/Dialogs/tests/unit/MDCAlertControllerAlertThemerTests.swift
Labels: PR:merge-when-approved, [Dialogs], cla: yes

#5300 [TextFields] Fix the error accessibility label
  components/TextFields/src/MDCTextInputControllerBase.m
Labels: [TextFields], cla: yes

#5309 [Dialogs] Update default scrim color to match spec
  components/Dialogs/src/MDCDialogPresentationController.m
Labels: [Dialogs], cla: yes

#5299 [Dialogs] Update README for new themer
  components/Dialogs/README.md
  components/Dialogs/docs/README.md
  components/Dialogs/docs/theming.md
Labels: [Dialogs], cla: yes

#5311 [List] Add MDCSelfSizingStereoCellColorThemer
  MaterialComponents.podspec
  components/List/BUILD
  components/List/examples/MDCSelfSizingStereoCellExample.m
  components/List/src/ColorThemer/MDCSelfSizingStereoCellColorThemer.h
  components/List/src/ColorThemer/MDCSelfSizingStereoCellColorThemer.m
  components/List/src/ColorThemer/MaterialList+ColorThemer.h
Labels: [List], cla: yes

#5312 [kokoro] Remove remaining wildcard Xcode version support.
  .kokoro
Labels: PR:merge-when-approved, cla: yes

#5255 [NavigationDrawer] Performance improvements and increased support for customizing initial drawer percentage height
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
Labels: [NavigationDrawer], cla: yes

#5315 [List] Add tests for List themers
  components/List/BUILD
  components/List/src/ColorThemer/MDCSelfSizingStereoCellColorThemer.m
  components/List/tests/unit/MDCSelfSizingStereoCellColorThemerTests.m
  components/List/tests/unit/MDCSelfSizingStereoCellTypographyThemerTests.m
Labels: [List], cla: yes

#5337 [NavigationDrawer] Support any kInitialDrawerHeightFactor value
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
Labels: [NavigationDrawer], cla: yes

#5357 [List] Generalize List themers
  components/List/examples/MDCSelfSizingStereoCellExample.m
  components/List/src/ColorThemer/MDCListColorThemer.h
  components/List/src/ColorThemer/MDCListColorThemer.m
  components/List/src/ColorThemer/MaterialList+ColorThemer.h
  components/List/src/TypographyThemer/MDCListTypographyThemer.h
  components/List/src/TypographyThemer/MDCListTypographyThemer.m
  components/List/src/TypographyThemer/MaterialList+TypographyThemer.h
  components/List/tests/unit/MDCListColorThemerTests.m
  components/List/tests/unit/MDCListTypographyThemerTests.m
Labels: [List], cla: yes

#5358 [ButtonBar] Fix incorrect casts in ButtonBar
  components/ButtonBar/src/MDCButtonBar.m
Labels: [ButtonBar], cla: yes

#5341 [List] Fix MDCSelfSizingStereoCell not using the right text color and not resetting all label properties on re-use
  components/List/examples/MDCSelfSizingStereoCellExample.m
  components/List/src/MDCSelfSizingStereoCell.m
Labels: [List], cla: yes

#5363 Fix status bar color appearing incorrect in some Catalog examples
  catalog/MDCCatalog/MDCCatalogComponentsController.swift
  catalog/MDCCatalog/MDCNodeListViewController.swift
  components/AppBar/examples/AppBarPresentedExample.m
  components/AppBar/examples/AppBarWrappedExample.m
  components/BottomAppBar/examples/BottomAppBarTypicalUseExample.m
  components/BottomAppBar/examples/supplemental/BottomAppBarTypicalUseSupplemental.m
Labels: [AppBar], [BottomAppBar], [Catalog], cla: yes

#5361 [List] SelfSizingStereoCell should use MDCTypography instead of hardcoding its own font opacity
  components/List/src/MDCSelfSizingStereoCell.m
Labels: [List], cla: yes

#5342 [Chips] Add support for third party keyboards
  components/Chips/BUILD
  components/Chips/src/MDCChipField.m
  components/Chips/tests/unit/ChipsTests.m
Labels: [Chips], cla: yes

#5365 [.kokoro] Update clang-format to r343360
  .kokoro
Labels: PR:merge-when-approved, cla: yes

#5343 [Chips] Fix placeholder for manually adding chips
  components/Chips/src/MDCChipField.m
  components/Chips/tests/unit/ChipsTests.m
Labels: [Chips], cla: yes

#5364 [List] SelfSizingStereoCell is not resetting its -mdc_adjustsFontForContentSizeCategory in -prepareForReuse
  components/List/src/MDCSelfSizingStereoCell.m
Labels: [List], cla: yes

#5339 [BottomNavigation] Change badge position
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
  components/BottomNavigation/tests/unit/BottomNavigationItemViewTests.m
Labels: PR:screenshot-breaking, [BottomNavigation], cla: yes, risky:Visual change

#5345 [ActionSheet] Add action sheet themer
  MaterialComponentsAlpha.podspec
  components/ActionSheet/BUILD
  components/ActionSheet/src/ActionSheetThemer/MDCActionSheetScheme.h
  components/ActionSheet/src/ActionSheetThemer/MDCActionSheetScheme.m
  components/ActionSheet/src/ActionSheetThemer/MDCActionSheetThemer.h
  components/ActionSheet/src/ActionSheetThemer/MDCActionSheetThemer.m
  components/ActionSheet/src/ActionSheetThemer/MaterialActionSheet+ActionSheetThemer.h
  components/ActionSheet/tests/unit/MDCActionSheetThemeTest.m
Labels: PR:updates BUILD, [ActionSheet], cla: yes

#5377 [Chips] Respect safe area for Chips examples
  components/Chips/examples/ChipsActionExampleViewController.m
  components/Chips/examples/ChipsChoiceExampleViewController.m
  components/Chips/examples/ChipsFilterExampleViewController.m
  components/Chips/examples/ChipsTypicalUseViewController.m
Labels: [Chips], cla: yes

#5378 [List] Add global themer for List component
  MaterialComponents.podspec
  components/List/BUILD
  components/List/src/ListThemer/MDCListScheme.h
  components/List/src/ListThemer/MDCListScheme.m
  components/List/src/ListThemer/MDCListThemer.h
  components/List/src/ListThemer/MDCListThemer.m
  components/List/src/ListThemer/MaterialList+ListThemer.h
  components/List/tests/unit/MDCListThemerTest.m
Labels: [List], cla: yes

#5362 [Dialogs] add scrimColor to MDCAlertController
  components/Dialogs/examples/DialogsAlertCustomizationViewController.swift
  components/Dialogs/src/ColorThemer/MDCAlertColorThemer.m
  components/Dialogs/src/MDCAlertController.h
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/tests/unit/MDCAlertControllerCustomizationTests.m
Labels: [Dialogs], cla: yes

#5383 [releasing] Add link to internal release engineering docs
  contributing/releasing.md
Labels: PR:merge-when-approved, cla: yes

#5388 [ShadowLayer] Subclass UIView in corner radius example
  components/ShadowLayer/examples/ShadowCornerRadiusExample.m
  components/ShadowLayer/examples/ShadowRadiusLabel.h
Labels: [ShadowLayer], cla: yes

#5382 [ActionSheet] Update examples to use global themer
  components/ActionSheet/examples/ActionSheetSwiftExample.swift
  components/ActionSheet/examples/ActionSheetTypicalUse.m
Labels: [ActionSheet], cla: yes

#5390 [ShadowLayer] Corner radius
  components/ShadowLayer/src/MDCShadowLayer.m
Labels: [ShadowLayer], cla: yes

#5392 [ActivityIndicator] Fix ActivityIndicatorTransitionExample layout when rotating device
  components/ActivityIndicator/examples/ActivityIndicatorTransitionExample.m
Labels: [ActivityIndicator], cla: yes

#5389 [Buttons] [MaskedTransition] Apply safe area to floating button example and masked transition example
  components/Buttons/examples/FloatingButtonExampleViewController.m
  components/MaskedTransition/examples/MaskedTransitionTypicalUse.swift
Labels: [Buttons], [MaskedTransition], cla: yes

#5393 [List] BaseCell shouldn't display Ink on tap if -collectionView:shouldHighlightItemAtIndexPath: returns NO
  components/List/src/MDCBaseCell.m
Labels: [List], cla: yes

#5398 [ShadowLayer] Respond to corner radius change
  components/ShadowLayer/src/MDCShadowLayer.m
Labels: [ShadowLayer], cla: yes, risky:Behavioral change

#5397 {Tests} Deallocate test objects at the end of tests.
  components/ActionSheet/tests/unit/ActionSheetTest.swift
  components/ActionSheet/tests/unit/MDCActionSheetTableCellTest.m
  components/ActionSheet/tests/unit/MDCActionSheetTest.m
  components/ActionSheet/tests/unit/MDCActionSheetThemeTest.m
  components/AppBar/tests/unit/AppBarContainerIssue272Tests.swift
  components/AppBar/tests/unit/AppBarContainerIssue287Tests.swift
  components/AppBar/tests/unit/AppBarNavigationControllerTests.swift
  components/BottomAppBar/tests/unit/BottomAppBarColorThemerTests.m
  components/BottomAppBar/tests/unit/BottomAppBarTests.m
  components/BottomSheet/tests/unit/MDCBottomSheetPresentationControllerPreferredSheetHeightTests.m
  components/Cards/tests/unit/MDCCardTests.m
  components/Chips/tests/unit/ChipAccessibilityTests.m
  components/Chips/tests/unit/ChipsDelegateTests.m
  components/CollectionCells/tests/unit/CollectionCellsIssue1257Tests.m
  components/CollectionLayoutAttributes/tests/unit/CollectionLayoutAttributesTests.m
  components/Dialogs/tests/unit/MDCAlertControllerAlertThemerTests.swift
  components/Dialogs/tests/unit/MDCAlertControllerCustomizationTests.m
  components/FeatureHighlight/tests/unit/FeatureHighlightColorThemerTests.m
  components/FeatureHighlight/tests/unit/FeatureHighlightTitleBodyAccessibilityMutatorTests.m
  components/FeatureHighlight/tests/unit/FeatureHighlightTypographyThemerTests.m
  components/FlexibleHeader/tests/unit/FlexibleHeaderControllerIssue176Tests.swift
  components/FlexibleHeader/tests/unit/FlexibleHeaderControllerIssue279Tests.swift
  components/FlexibleHeader/tests/unit/FlexibleHeaderNoTrackingScrollViewTests.swift
  components/FlexibleHeader/tests/unit/FlexibleHeaderTopSafeAreaTests.m
  components/FlexibleHeader/tests/unit/FlexibleHeaderTrackingScrollViewDidScroll.swift
  components/FlexibleHeader/tests/unit/FlexibleHeaderTrackingScrollViewTests.swift
  components/FlexibleHeader/tests/unit/FlexibleHeaderView324Tests.swift
  components/NavigationBar/tests/unit/NavigationBarAccessibilityMutatorTestColorTest.swift
  components/NavigationBar/tests/unit/NavigationBarButtonLayoutTests.swift
  components/NavigationBar/tests/unit/NavigationBarButtonTitleCasingTests.swift
  components/NavigationBar/tests/unit/NavigationBarButtonTitleColorTests.swift
  components/NavigationBar/tests/unit/NavigationBarButtonTitleFontTests.swift
  components/NavigationBar/tests/unit/NavigationBarTests.m
  components/ProgressView/tests/unit/ProgressViewTests.m
  components/Snackbar/tests/unit/MDCSnackbarColorThemerTests.swift
  components/Snackbar/tests/unit/MDCSnackbarFontThemerTests.m
  components/Snackbar/tests/unit/MDCSnackbarManagerInstanceTests.m
  components/Snackbar/tests/unit/MDCSnackbarMessageViewTests.m
  components/Snackbar/tests/unit/MDCSnackbarTypographyThemerTests.swift
  components/Tabs/tests/unit/MaterialTabsTests.m
  components/TextFields/tests/unit/TextFieldControllerLegacyTests.swift
  components/TextFields/tests/unit/TextInputProtocolTests.swift
Labels: [ActionSheet], [AppBar], [BottomAppBar], [BottomSheet], [Cards], [Chips], [CollectionCells], [CollectionLayoutAttributes], [Dialogs], [FeatureHighlight], [FlexibleHeader], [NavigationBar], [ProgressView], [Snackbar], [Tabs], [TextFields], cla: yes, type:Internal cleanup, type:Test

#5399 [Dialogs] Enable misspelled test.
  components/Dialogs/tests/unit/MDCAlertControllerTests.m
Labels: [Dialogs], cla: yes, type:Test

#5394 [Snackbar] Clean up unit test.
  components/Snackbar/tests/unit/MDCSnackbarManagerInstanceTests.m
Labels: [Snackbar], cla: yes, type:Internal cleanup, type:Test

#5411 [NavigationDrawer] Added VoiceOver support to have the drawer show at full screen.
  components/NavigationDrawer/examples/BottomDrawerWithScrollableContentExample.swift
  components/NavigationDrawer/src/MDCBottomDrawerTransitionController.m
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
Labels: [NavigationDrawer], cla: yes

#5417 Remove remaining _IPHONE_11 checks
  components/ActionSheet/src/MDCActionSheetController.m
  components/ActionSheet/src/private/MDCActionSheetHeaderView.m
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
Labels: [ActionSheet], [NavigationDrawer], cla: yes

#5422 [List] Initialize layoutCache in SelfSizingStereoCell
  components/List/src/MDCSelfSizingStereoCell.m
Labels: [List], cla: yes

#5425 [Chips] Fix layout when Chip added programmatically.
  components/Chips/BUILD
  components/Chips/src/MDCChipField.m
Labels: [Chips], cla: yes

#5419 [NavigationDrawer] Add buttons to example to present navigation drawer
  components/NavigationDrawer/examples/BottomDrawerInfiniteScrollingExample.swift
  components/NavigationDrawer/examples/BottomDrawerNoHeaderExample.swift
  components/NavigationDrawer/examples/BottomDrawerWithHeaderExample.swift
  components/NavigationDrawer/examples/BottomDrawerWithScrollableContentExample.swift
Labels: [NavigationDrawer], cla: yes

#5410 [NavigationDrawer] Add rounded corners when there is scrollable content
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
  components/NavigationDrawer/src/private/MDCBottomDrawerHeaderMask.h
  components/NavigationDrawer/src/private/MDCBottomDrawerHeaderMask.m
Labels: [NavigationDrawer], cla: yes

#5325 [NavigationDrawer] Made DrawerHeaderViewController.swift file to conform to MDCBottomDrawerHeader
  components/NavigationDrawer/examples/supplemental/BottomDrawerSupplemental.swift
Labels: [NavigationDrawer], cla: yes

#5404 [BottomSheet] adjust code wrapper tags in README to prevent bad code example merge
  components/BottomSheet/README.md
Labels: [BottomSheet], cla: yes

#5405 [List] Revert "SelfSizingStereoCell should use MDCTypography instead of hard…
  components/List/src/MDCSelfSizingStereoCell.m
Labels: [List], cla: yes

#5443 [NavigationDrawer] Present the drawer in full screen when in a compact size class
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
Labels: [NavigationDrawer], cla: yes

#5446 [BottomSheet] adjust code wrapper tags on bottom sheet read me (#5404)
  components/BottomSheet/README.md
Labels: [BottomSheet], cla: yes

#5448 [kokoro] Add a "fail" command.
  .kokoro
Labels: cla: yes

#5401 [Dialogs] Upgrade buttons class to MDCButton
  components/Dialogs/src/private/MDCAlertControllerView+Private.h
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Labels: [Dialogs], [List], [TextFields], cla: yes

#5451 [Dialogs] Fix elevation to use MDCShadowElevation
  components/Dialogs/src/DialogThemer/MDCAlertScheme.h
  components/Dialogs/src/DialogThemer/MDCAlertScheme.m
  components/Dialogs/src/MDCAlertController.h
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/src/MDCDialogPresentationController.h
  components/Dialogs/src/MDCDialogPresentationController.m
  components/Dialogs/src/private/MDCDialogShadowedView.h
  components/Dialogs/src/private/MDCDialogShadowedView.m
  components/Dialogs/tests/unit/MDCAlertControllerAlertThemerTests.swift
Labels: [Dialogs], cla: yes

#5453 [NavigationDrawer] Add Fakes files for tests
  components/NavigationDrawer/BUILD
  components/NavigationDrawer/tests/unit/MDCNavigaitonDrawerFakes.m
  components/NavigationDrawer/tests/unit/MDCNavigationDrawerFakes.h
  components/NavigationDrawer/tests/unit/MDCNavigationDrawerScrollViewTests.m
  components/NavigationDrawer/tests/unit/MDCNavigationDrawerTest.m
Labels: [NavigationDrawer], cla: yes

#5454 [NavigationDrawer] fix drawer not dismissing in full screen on 32 bit devices
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
Labels: [NavigationDrawer], cla: yes

#5458 [NavigationDrawer] Add Color Themer support
  MaterialComponentsAlpha.podspec
  components/NavigationDrawer/BUILD
  components/NavigationDrawer/examples/BottomDrawerInfiniteScrollingExample.swift
  components/NavigationDrawer/examples/BottomDrawerNoHeaderExample.swift
  components/NavigationDrawer/examples/BottomDrawerWithHeaderExample.swift
  components/NavigationDrawer/examples/BottomDrawerWithScrollableContentExample.swift
  components/NavigationDrawer/examples/supplemental/BottomDrawerSupplemental.swift
  components/NavigationDrawer/src/ColorThemer/MDCBottomDrawerColorThemer.h
  components/NavigationDrawer/src/ColorThemer/MDCBottomDrawerColorThemer.m
  components/NavigationDrawer/src/ColorThemer/MaterialNavigationDrawer+ColorThemer.h
  components/NavigationDrawer/tests/unit/MDCNavigationDrawerThemeTest.m
Labels: [NavigationDrawer], cla: yes

#5461 [NavigationDrawer] Add unit test for height related properties
  components/NavigationDrawer/tests/unit/MDCNavigationDrawerScrollViewTests.m
Labels: [NavigationDrawer], cla: yes

#5463 [Docs] This add the shape theming doc generation for our components
  scripts/apply_all_templates
  scripts/templates/component/docs/README.md.template
  scripts/templates/component/docs/shape-theming.md.template
Labels: cla: yes

#5469 [Docs] Added Shape Scheme to the top level schemes doc
  components/schemes/README.md
Labels: [schemes], cla: yes

#5466 [NavigationDrawer] Test content height surplus and scrolls to reveal
  components/NavigationDrawer/tests/unit/MDCNavigationDrawerScrollViewTests.m
Labels: [NavigationDrawer], cla: yes

#5482 [Dialogs] Refactor test to use setup and teardown
  components/Dialogs/tests/unit/MDCAlertControllerTests.m
Labels: [Dialogs], cla: yes

#5476 [List] Allow stereo cell labels to take up all available space
  components/List/src/private/MDCSelfSizingStereoCellLayout.m
Labels: [List], cla: yes

#5475 [List] Do not enforce label text alignment based off effective user interface layout direction
  components/List/src/MDCSelfSizingStereoCell.m
Labels: [List], cla: yes

#5439 [List] SelfSizingStereoCell should invalidate its layout on re-use
  components/List/src/MDCSelfSizingStereoCell.m
Labels: [List], cla: yes

#5471 [AppBar] Add dragons example for appbar that demonstrates issue #5412
  components/AppBar/examples/AppBarGlitchExample.swift
Labels: [AppBar], cla: yes

#5336 [Collections] Ensures that the cell snapshot generated by MDCCollectionViewEditor reflects changes made to the cell
  components/Collections/src/private/MDCCollectionViewEditor.m
Labels: [Collections], cla: yes

#5329 [Collections] Updates MDCCollectionViewEditor panning to use cell's center property instead of transform to update its position
  components/Collections/src/private/MDCCollectionViewEditor.m
Labels: [Collections], cla: yes

#5486 [BottomSheet] Respect safe area after upward nudge
  components/BottomSheet/src/private/MDCSheetContainerView.m
  components/BottomSheet/tests/unit/MDCBottomSheetPresentationControllerPreferredSheetHeightTests.m
Labels: [BottomSheet], cla: yes

#5326 [MDCSlider] Allow setting exclusiveTouch on Sliders.
  components/Slider/src/MDCSlider.m
  components/private/ThumbTrack/src/MDCThumbView.m
Labels: [Slider], [private], cla: yes

#5500 [List] Add RTL Arabic text to list example
  components/List/examples/MDCSelfSizingStereoCellExample.m
Labels: [List], cla: yes

#5503 [BottomSheet] [Shape]! Update to the Bottom Sheet Shape Themer
  components/BottomSheet/src/ShapeThemer/MDCBottomSheetControllerShapeThemer.m
  components/BottomSheet/tests/unit/BottomSheetShapeThemerTests.swift
Labels: [BottomSheet], cla: yes

#5517 [Snackbar] Update MDCSnackbarColorThemer to set correct background color to match the spec
  components/Snackbar/src/ColorThemer/MDCSnackbarColorThemer.m
  components/Snackbar/tests/unit/MDCSnackbarColorThemerTests.m
  components/Snackbar/tests/unit/MDCSnackbarColorThemerTests.swift
Labels: [Snackbar], cla: yes

#5506 [ListItems] Improve BiDi example performance.
  components/List/examples/MDCSelfSizingStereoCellExample.m
Labels: PR:merge-when-approved, [ListItems], [List], cla: yes, type:Performance

#5505 [ActionSheet] Fix rotation bug
  components/ActionSheet/src/MDCActionSheetController.m
Labels: [ActionSheet], cla: yes

#5532 [schemes] Fix pod name in README
  components/schemes/Color/README.md
  components/schemes/Color/docs/README.md
  components/schemes/Typography/README.md
  components/schemes/Typography/docs/README.md
Labels: [schemes], cla: yes, skill:CocoaPods, type:Documentation

#5538 [CI] Fix the test_all script.
  scripts/test_all
Labels: PR:merge-when-approved, cla: yes

#5545 [BottomDrawer] Adding an example for dynamically changing content size
  components/NavigationDrawer/examples/BottomDrawerWithChangingContentSize.swift
  components/NavigationDrawer/examples/supplemental/BottomDrawerSupplemental.swift
Labels: [NavigationDrawer], cla: yes

#5546 [NavigationDrawer] Fix the init of the MDCBottomDrawerViewController to use the designated inits
  components/NavigationDrawer/src/MDCBottomDrawerViewController.m
Labels: [NavigationDrawer], cla: yes

#5543 [NavigationDrawer] Added a top corners radius for state API.
  components/NavigationDrawer/examples/BottomDrawerWithHeaderExample.swift
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.h
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.m
  components/NavigationDrawer/src/MDCBottomDrawerViewController.h
  components/NavigationDrawer/src/MDCBottomDrawerViewController.m
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.h
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
  components/NavigationDrawer/src/private/MDCBottomDrawerHeaderMask.h
  components/NavigationDrawer/src/private/MDCBottomDrawerHeaderMask.m
  components/NavigationDrawer/tests/unit/MDCNavigationDrawerScrollViewTests.m
Labels: [NavigationDrawer], cla: yes

#5568 [NavigationDrawer] Add support for scrimColor
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.h
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.m
  components/NavigationDrawer/src/MDCBottomDrawerViewController.h
  components/NavigationDrawer/src/MDCBottomDrawerViewController.m
  components/NavigationDrawer/tests/unit/MDCNavigationDrawerTest.m
Labels: PR:screenshot-breaking, [NavigationDrawer], cla: yes

#5567 [Shapes] Added shapes documentation to GitHub
  components/private/ShapeLibrary/.jazzy.yaml
  components/private/ShapeLibrary/.vars
  components/private/ShapeLibrary/README.md
  components/private/ShapeLibrary/docs/README.md
  components/private/Shapes/.jazzy.yaml
  components/private/Shapes/.vars
  components/private/Shapes/README.md
  components/private/Shapes/docs/README.md
Labels: [private], cla: yes
