Repository material-components/material-components-ios, pull requests merged in 2018-12, with the labels that each got.

#5866 [ActionSheet] Rename example view controllers.
  components/ActionSheet/examples/ActionSheetComparisonExampleViewController.h
  components/ActionSheet/examples/ActionSheetComparisonExampleViewController.m
  components/ActionSheet/examples/ActionSheetSwiftExampleViewController.swift
  components/ActionSheet/examples/ActionSheetTypicalUseExampleViewController.h
  components/ActionSheet/examples/ActionSheetTypicalUseExampleViewController.m
Labels: PR:merge-when-approved, [ActionSheet], cla: yes, skill:Refactoring, type:Internal cleanup

#5843 [ButtonBar] Add a Theming extension.
  MaterialComponents.podspec
  MaterialComponentsAlpha.podspec
  catalog/Podfile
  components/ButtonBar/BUILD
  components/ButtonBar/examples/ButtonBarCustomizedFontExample.m
  components/ButtonBar/examples/ButtonBarTypicalUseExample.m
  components/ButtonBar/examples/ButtonBarTypicalUseExample.swift
  components/ButtonBar/src/Theming/MDCButtonBar+Theming.h
  components/ButtonBar/src/Theming/MDCButtonBar+Theming.m
  components/ButtonBar/src/Theming/MaterialButtonBar+Theming.h
  components/ButtonBar/tests/unit/ButtonBarBuilderTests.m
  components/ButtonBar/tests/unit/ButtonBarThemingTests.swift
Labels: [ButtonBar], [Catalog], cla: yes

#5885 [Buttons] Add text button themer
  components/Buttons/examples/ButtonsContentEdgeInsetsExample.m
  components/Buttons/examples/ButtonsShapesExampleViewController.m
  components/Buttons/examples/ButtonsSimpleExampleSwiftViewController.swift
  components/Buttons/examples/ButtonsTypicalUseExampleViewController.m
  components/Buttons/src/Theming/MDCButton+Theming.h
  components/Buttons/src/Theming/MDCButton+Theming.m
  components/Buttons/tests/unit/ButtonsThemingTest.swift
  components/Cards/examples/CardExampleViewController.swift
  components/Dialogs/examples/DialogsTypicalUseViewController.m
Labels: [Buttons], [Cards], [Dialogs], cla: yes

#5898 [Buttons] Refactor button test
  components/Buttons/tests/unit/ButtonsThemingTest.swift
Labels: [Buttons], cla: yes

#5890 [Typography] make MDCTypography conform to NSCopying
  components/schemes/Typography/src/MDCTypographyScheme.h
  components/schemes/Typography/src/MDCTypographyScheme.m
  components/schemes/Typography/tests/unit/MDCTypographySchemeTests.m
Labels: [schemes], cla: yes

#5906 Fix owner of Dialogs
  CODEOWNERS
Labels: [docs], cla: yes, type:Internal cleanup

#5881 [schemes] Make MDCColorScheme conform to NSCopying
  components/schemes/Color/src/MDCSemanticColorScheme.h
  components/schemes/Color/src/MDCSemanticColorScheme.m
  components/schemes/Color/tests/unit/MDCSemanticColorSchemeTests.m
Labels: [schemes], cla: yes

#5910 [NavigationDrawer] Refactor test
  components/NavigationDrawer/tests/unit/MDCNavigationDrawerScrollViewTests.m
Labels: [NavigationDrawer], cla: yes

#5912 [Buttons] Fix titleColorForState in Floating Button themer.
  components/Buttons/src/ColorThemer/MDCFloatingButtonColorThemer.m
  components/Buttons/tests/unit/ButtonsColorThemerTests.m
Labels: PR:merge-when-approved, [Buttons], cla: yes, type:Bug

#5869 [Buttons] Floating Action Button Theming Extension
  components/Buttons/src/Theming/MDCFloatingButton+Theming.h
  components/Buttons/src/Theming/MDCFloatingButton+Theming.m
  components/Buttons/tests/unit/ButtonsThemingTest.swift
Labels: [Buttons], cla: yes

#5887 Snapshot Testing Proof of Concept
  .gitattributes
  .kokoro
  .travis.yml
  MaterialComponentsSnapshotTests.podspec
  catalog/MDCCatalog.xcodeproj/project.pbxproj
  catalog/MDCCatalog.xcodeproj/xcshareddata/xcschemes/MDCCatalog.xcscheme
  catalog/MDCDragons.xcodeproj/project.pbxproj
  catalog/MDCDragons.xcodeproj/xcshareddata/xcschemes/MDCDragons.xcscheme
  catalog/Podfile
  components/Cards/tests/snapshot/Dummy.swift
  components/Cards/tests/snapshot/MDCCardSnapshotTests.m
  components/private/Snapshot/MDCSnapshotTestCase.h
  components/private/Snapshot/MDCSnapshotTestCase.m
  scripts/test_all
  snapshot_test_goldens/goldens_64/MDCCardSnapshotTests/testDefaultCard_11_2@2x.png
Labels: [Cards], [Catalog], [private], cla: yes

#5877 Add git-lfs instructions to tools documentation
  contributing/tools.md
Labels: cla: yes

#5908 [FlexibleHeader] Add basic minimumHeight/maximumHeight behavior tests.
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
  components/FlexibleHeader/tests/unit/FlexibleHeaderHeightLegacySafeAreaBehaviorTests.m
  components/FlexibleHeader/tests/unit/FlexibleHeaderHeightTests.m
  components/FlexibleHeader/tests/unit/supplemental/FlexibleHeaderTopSafeAreaTestsFakeTopSafeAreaDelegate.h
  components/FlexibleHeader/tests/unit/supplemental/FlexibleHeaderTopSafeAreaTestsFakeTopSafeAreaDelegate.m
Labels: [FlexibleHeader], cla: yes

#5900 [Buttons] Correct FAB Shape themer documentation.
  components/Buttons/src/ShapeThemer/MDCFloatingButtonShapeThemer.h
  components/Buttons/src/ShapeThemer/MDCFloatingButtonShapeThemer.m
Labels: PR:merge-when-approved, [Buttons], cla: yes

#5921 [Release Docs] Added git-lfs instructions
  contributing/releasing.md
Labels: cla: yes

#5923 [Buttons] uncomment the test for verifying theming FAB title color
  components/Buttons/tests/unit/ButtonsThemingTest.swift
Labels: [Buttons], cla: yes

#5922 [Buttons] Update secondary floating action button themer examples
  components/BottomAppBar/examples/BottomAppBarTypicalUseExample.m
  components/Buttons/examples/ButtonsShapesExampleViewController.m
  components/Buttons/examples/ButtonsTypicalUseExampleViewController.m
  components/Buttons/src/Theming/MaterialButtons+Theming.h
  components/FeatureHighlight/examples/FeatureHighlightShownViewExample.m
  components/FeatureHighlight/examples/supplemental/FeatureHighlightExampleSupplemental.h
  components/FeatureHighlight/examples/supplemental/FeatureHighlightExampleSupplemental.m
  components/schemes/Shape/examples/MDCShapeSchemeExampleViewController.m
Labels: [BottomAppBar], [Buttons], [FeatureHighlight], [schemes], cla: yes

#5913 [Buttons] Improve color themer tests.
  components/Buttons/tests/unit/ButtonsColorThemerTests.m
Labels: [Buttons], cla: yes, skill:Refactoring, type:Internal cleanup

#5927 [Documentation] Clean up doc links to guidelines
  components/ActionSheet/src/MDCActionSheetController.h
  components/AppBar/src/MDCAppBarViewController.h
  components/Buttons/src/Theming/MDCFloatingButton+Theming.h
  components/Collections/src/MDCCollectionViewFlowLayout.h
Labels: [ActionSheet], [AppBar], [Buttons], [Collections], [Documentation], cla: yes

#5928 [NavigationDrawer] Fix jump when perferredContentSize changes
  MaterialComponents.podspec
  components/NavigationDrawer/BUILD
  components/NavigationDrawer/examples/BottomDrawerWithChangingContentSize.swift
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
  components/NavigationDrawer/tests/unit/MDCNavigationDrawerScrollViewTests.m
Labels: [NavigationDrawer], cla: yes

#5897 [NavigationDrawer] Remove clipping view
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
Labels: [NavigationDrawer], cla: yes

#5905 [Dialogs] Add dialog category for theming
  MaterialComponents.podspec
  MaterialComponentsAlpha.podspec
  components/Dialogs/BUILD
  components/Dialogs/examples/AlertComparison.swift
  components/Dialogs/examples/DialogsAlertCustomizationViewController.swift
  components/Dialogs/examples/DialogsAlertViewController.m
  components/Dialogs/examples/DialogsTypicalUseViewController.m
  components/Dialogs/src/MaterialTheming/MDCAlertController+MaterialTheming.h
  components/Dialogs/src/MaterialTheming/MDCAlertController+MaterialTheming.m
  components/Dialogs/src/MaterialTheming/MaterialDialogs+MaterialTheming.h
  components/Dialogs/tests/unit/DialogsMaterialThemingTests.swift
Labels: [Dialogs], cla: yes

#5803 [ActionSheet] Allow changing action item accessibility labels.
  components/ActionSheet/src/MDCActionSheetController.m
  components/ActionSheet/src/private/MDCActionSheetItemTableViewCell.m
  components/ActionSheet/tests/unit/MDCActionSheetTableCellTest.m
  components/ActionSheet/tests/unit/MDCActionSheetTestHelper.h
  components/ActionSheet/tests/unit/MDCActionSheetTestHelper.m
Labels: PR:merge-when-approved, [ActionSheet], cla: yes

#5935 [ChipField] Account for RTL in textRectForBounds override in MDCChipTextField
  components/Chips/src/MDCChipField.m
Labels: [Chips], cla: yes

#5932 [Dialogs] Renaming example view controllers
  components/Dialogs/examples/DialogsAlertComparisonExample.swift
  components/Dialogs/examples/DialogsAlertCustomizationExampleViewController.swift
  components/Dialogs/examples/DialogsAlertExampleViewController.m
  components/Dialogs/examples/DialogsCustomShadowExampleViewController.swift
  components/Dialogs/examples/DialogsDismissingExampleViewController.m
  components/Dialogs/examples/DialogsKeyboardExampleViewController.m
  components/Dialogs/examples/DialogsLongAlertExampleViewController.swift
  components/Dialogs/examples/DialogsRoundedCornerExampleViewController.h
  components/Dialogs/examples/DialogsRoundedCornerExampleViewController.m
  components/Dialogs/examples/DialogsTypicalUseExampleViewController.m
  components/Dialogs/examples/resources/DialogWithPreferredContentSize.storyboard
  components/Dialogs/examples/supplemental/DialogDismissalOverPresentedControllerExampleViewController.h
  components/Dialogs/examples/supplemental/DialogDismissalOverPresentedControllerExampleViewController.m
  components/Dialogs/examples/supplemental/DialogWithInputFieldExampleViewController.h
  components/Dialogs/examples/supplemental/DialogWithInputFieldExampleViewController.m
  components/Dialogs/examples/supplemental/DialogWithPreferredContentSizeExampleViewController.h
  components/Dialogs/examples/supplemental/DialogWithPreferredContentSizeExampleViewController.m
  components/Dialogs/examples/supplemental/DialogsKeyboardExampleViewControllerSupplemental.h
  components/Dialogs/examples/supplemental/DialogsKeyboardExampleViewControllerSupplemental.m
Labels: [Dialogs], cla: yes

#5939 [TextFields] Add Outlined snapshot tests
  MaterialComponentsSnapshotTests.podspec
  catalog/Podfile
  components/TextFields/tests/snapshot/MDCTextFieldOutlinedControllerSnapshotTests.m
  components/TextFields/tests/snapshot/supplemental/MDCTextFieldSnapshotTestsStrings.h
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerSnapshotTests/testOutlinedTextFieldEmpty_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerSnapshotTests/testOutlinedTextFieldWithLongErrorText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerSnapshotTests/testOutlinedTextFieldWithLongHelperText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerSnapshotTests/testOutlinedTextFieldWithLongInputPlaceholderErrorTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerSnapshotTests/testOutlinedTextFieldWithLongInputPlaceholderHelperTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerSnapshotTests/testOutlinedTextFieldWithLongInputText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerSnapshotTests/testOutlinedTextFieldWithLongPlaceholderText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerSnapshotTests/testOutlinedTextFieldWithShortErrorText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerSnapshotTests/testOutlinedTextFieldWithShortHelperText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerSnapshotTests/testOutlinedTextFieldWithShortInputPlaceholderErrorTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerSnapshotTests/testOutlinedTextFieldWithShortInputPlaceholderHelperTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerSnapshotTests/testOutlinedTextFieldWithShortInputText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerSnapshotTests/testOutlinedTextFieldWithShortPlaceholderText_11_2@2x.png
Labels: [Catalog], [TextFields], cla: yes

#5947 [Snapshot] Move verification into test methods
  components/Cards/tests/snapshot/MDCCardSnapshotTests.m
  components/TextFields/tests/snapshot/MDCTextFieldOutlinedControllerSnapshotTests.m
  components/private/Snapshot/MDCSnapshotTestCase.h
  components/private/Snapshot/MDCSnapshotTestCase.m
Labels: [Cards], [TextFields], [private], cla: yes, skill:Refactoring, type:Internal cleanup, type:Test

#5950 [TextFields] Add OutlinedTextArea snapshot tests
  components/TextFields/tests/snapshot/MDCTextFieldOutlinedTextAreaControllerSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedTextAreaControllerSnapshotTests/testOutlinedTextFieldEmpty_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedTextAreaControllerSnapshotTests/testOutlinedTextFieldWithLongErrorText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedTextAreaControllerSnapshotTests/testOutlinedTextFieldWithLongHelperText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedTextAreaControllerSnapshotTests/testOutlinedTextFieldWithLongInputPlaceholderErrorTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedTextAreaControllerSnapshotTests/testOutlinedTextFieldWithLongInputPlaceholderHelperTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedTextAreaControllerSnapshotTests/testOutlinedTextFieldWithLongInputText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedTextAreaControllerSnapshotTests/testOutlinedTextFieldWithLongPlaceholderText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedTextAreaControllerSnapshotTests/testOutlinedTextFieldWithShortErrorText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedTextAreaControllerSnapshotTests/testOutlinedTextFieldWithShortHelperText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedTextAreaControllerSnapshotTests/testOutlinedTextFieldWithShortInputPlaceholderErrorTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedTextAreaControllerSnapshotTests/testOutlinedTextFieldWithShortInputPlaceholderHelperTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedTextAreaControllerSnapshotTests/testOutlinedTextFieldWithShortInputText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedTextAreaControllerSnapshotTests/testOutlinedTextFieldWithShortPlaceholderText_11_2@2x.png
Labels: [TextFields], cla: yes, type:Test

#5962 [TextFields] Show clearButton in baseline snapshot
  components/TextFields/tests/snapshot/MDCTextFieldOutlinedControllerBaselineSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineSnapshotTests/testOutlinedTextFieldWithLongInputPlaceholderErrorTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineSnapshotTests/testOutlinedTextFieldWithLongInputPlaceholderHelperTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineSnapshotTests/testOutlinedTextFieldWithLongInputText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineSnapshotTests/testOutlinedTextFieldWithShortInputPlaceholderErrorTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineSnapshotTests/testOutlinedTextFieldWithShortInputPlaceholderHelperTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineSnapshotTests/testOutlinedTextFieldWithShortInputText_11_2@2x.png
Labels: [TextFields], cla: yes, type:Test

#5963 [TextFields] Add clearButton to filled snapshots
  components/TextFields/tests/snapshot/MDCTextFieldFilledControllerSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerSnapshotTests/testFilledTextFieldWithLongInputPlaceholderErrorTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerSnapshotTests/testFilledTextFieldWithLongInputPlaceholderHelperTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerSnapshotTests/testFilledTextFieldWithLongInputText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerSnapshotTests/testFilledTextFieldWithShortInputPlaceholderErrorTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerSnapshotTests/testFilledTextFieldWithShortInputPlaceholderHelperTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerSnapshotTests/testFilledTextFieldWithShortInputText_11_2@2x.png
Labels: [TextFields], cla: yes, type:Test

#5964 [TextFields] Add `editing` snapshots for Outlined Baseline
  components/TextFields/tests/snapshot/MDCTextFieldOutlinedControllerBaselineSnapshotTests.m
  components/TextFields/tests/snapshot/supplemental/SnapshotFakeMDCTextField.h
  components/TextFields/tests/snapshot/supplemental/SnapshotFakeMDCTextField.m
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineSnapshotTests/testOutlinedTextFieldEmptyIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineSnapshotTests/testOutlinedTextFieldWithLongErrorTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineSnapshotTests/testOutlinedTextFieldWithLongHelperTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineSnapshotTests/testOutlinedTextFieldWithLongInputPlaceholderErrorTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineSnapshotTests/testOutlinedTextFieldWithLongInputPlaceholderHelperTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineSnapshotTests/testOutlinedTextFieldWithLongInputTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineSnapshotTests/testOutlinedTextFieldWithLongPlaceholderTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineSnapshotTests/testOutlinedTextFieldWithShortErrorTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineSnapshotTests/testOutlinedTextFieldWithShortHelperTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineSnapshotTests/testOutlinedTextFieldWithShortInputPlaceholderErrorTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineSnapshotTests/testOutlinedTextFieldWithShortInputPlaceholderHelperTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineSnapshotTests/testOutlinedTextFieldWithShortInputTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineSnapshotTests/testOutlinedTextFieldWithShortPlaceholderTextIsEditing_11_2@2x.png
Labels: [TextFields], cla: yes, type:Test

#5953 [TextFields] Add FullWidth snapshot tests.
  components/TextFields/tests/snapshot/MDCTextFieldFullWidthControllerSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerSnapshotTests/testFullWidthTextFieldEmpty_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerSnapshotTests/testFullWidthTextFieldWithLongErrorText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerSnapshotTests/testFullWidthTextFieldWithLongHelperText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerSnapshotTests/testFullWidthTextFieldWithLongInputPlaceholderErrorTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerSnapshotTests/testFullWidthTextFieldWithLongInputPlaceholderHelperTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerSnapshotTests/testFullWidthTextFieldWithLongInputText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerSnapshotTests/testFullWidthTextFieldWithLongPlaceholderText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerSnapshotTests/testFullWidthTextFieldWithShortErrorText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerSnapshotTests/testFullWidthTextFieldWithShortHelperText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerSnapshotTests/testFullWidthTextFieldWithShortInputPlaceholderErrorTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerSnapshotTests/testFullWidthTextFieldWithShortInputPlaceholderHelperTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerSnapshotTests/testFullWidthTextFieldWithShortInputText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerSnapshotTests/testFullWidthTextFieldWithShortPlaceholderText_11_2@2x.png
Labels: [TextFields], cla: yes, type:Test

#5965 [Snapshots] Only allow snapshot tests to run on the iPhone 7 for now
  components/private/Snapshot/MDCSnapshotTestCase.m
  snapshot_test_goldens/goldens_64/MDCCardSnapshotTests/testDefaultCard_11_2@3x.png
Labels: [private], cla: yes

#5961 [TextFields] Show clearButton in outlined snapshots.
  components/TextFields/tests/snapshot/MDCTextFieldOutlinedControllerSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerSnapshotTests/testOutlinedTextFieldWithLongInputPlaceholderErrorTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerSnapshotTests/testOutlinedTextFieldWithLongInputPlaceholderHelperTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerSnapshotTests/testOutlinedTextFieldWithLongInputText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerSnapshotTests/testOutlinedTextFieldWithShortInputPlaceholderErrorTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerSnapshotTests/testOutlinedTextFieldWithShortInputPlaceholderHelperTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerSnapshotTests/testOutlinedTextFieldWithShortInputText_11_2@2x.png
Labels: [TextFields], cla: yes, type:Test

#5957 [KeyboardWatcher] fix keyboard watcher not taking into regards compatibility mode
  components/private/KeyboardWatcher/src/MDCKeyboardWatcher.m
Labels: [private], cla: yes

#5892 [BottomSheet] Create property to allow scrim color to be set on presentation controller.
  components/BottomSheet/src/MDCBottomSheetController.h
  components/BottomSheet/src/MDCBottomSheetController.m
  components/BottomSheet/src/MDCBottomSheetPresentationController.h
  components/BottomSheet/src/MDCBottomSheetPresentationController.m
  components/BottomSheet/src/MDCBottomSheetTransitionController.h
  components/BottomSheet/src/MDCBottomSheetTransitionController.m
  components/BottomSheet/tests/unit/MDCBottomSheetCustomizationTests.m
Labels: [BottomSheet], cla: yes

#5945 [Theming] Update our theming extensions
  MaterialComponents.podspec
  MaterialComponentsAlpha.podspec
  components/ButtonBar/src/Theming/MDCButtonBar+MaterialTheming.h
  components/ButtonBar/src/Theming/MDCButtonBar+MaterialTheming.m
  components/ButtonBar/src/Theming/MaterialButtonBar+Theming.h
  components/Buttons/src/Theming/MDCButton+MaterialTheming.h
  components/Buttons/src/Theming/MDCButton+MaterialTheming.m
  components/Buttons/src/Theming/MDCFloatingButton+MaterialTheming.h
  components/Buttons/src/Theming/MDCFloatingButton+MaterialTheming.m
  components/Buttons/src/Theming/MaterialButtons+Theming.h
  components/Dialogs/BUILD
  components/Dialogs/examples/DialogsAlertExampleViewController.m
  components/Dialogs/examples/DialogsTypicalUseExampleViewController.m
  components/Dialogs/src/Theming/MDCAlertController+MaterialTheming.h
  components/Dialogs/src/Theming/MDCAlertController+MaterialTheming.m
  components/Dialogs/src/Theming/MaterialDialogs+Theming.h
  components/Dialogs/tests/unit/DialogsMaterialThemingTests.swift
Labels: [BottomAppBar], [ButtonBar], [Buttons], [Dialogs], [FeatureHighlight], [schemes], cla: yes

#5969 [Snapshot] Add support for image tolerance.
  components/private/Snapshot/MDCSnapshotTestCase.h
  components/private/Snapshot/MDCSnapshotTestCase.m
Labels: PR:merge-when-approved, [Snapshot], [private], cla: yes, type:Test

#5972 [TextFields] Post notifications when `isEditing` changes.
  components/TextFields/tests/snapshot/MDCTextFieldOutlinedControllerBaselineSnapshotTests.m
  components/TextFields/tests/snapshot/supplemental/SnapshotFakeMDCTextField.m
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineSnapshotTests/testOutlinedTextFieldEmptyIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineSnapshotTests/testOutlinedTextFieldWithLongErrorTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineSnapshotTests/testOutlinedTextFieldWithLongHelperTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineSnapshotTests/testOutlinedTextFieldWithLongPlaceholderTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineSnapshotTests/testOutlinedTextFieldWithShortErrorTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineSnapshotTests/testOutlinedTextFieldWithShortHelperTextIsEditing_11_2@2x.png
Labels: [TextFields], cla: yes, type:Test

#5973 [Snapshot] Document the steps to add snapshot tests to a component
  contributing/writing_snapshot_tests.md
Labels: [Documentation], [Snapshot], cla: yes

#5977 {Git-LFS} Exclude git-lfs from `stable`
  .gitattributes
Labels: Client-blocking, [Snapshot], cla: yes

#5979 [ActionSheet] Update examples to use new theming style
  components/ActionSheet/examples/ActionSheetComparisonExampleViewController.m
  components/ActionSheet/examples/ActionSheetSwiftExampleViewController.swift
  components/ActionSheet/examples/ActionSheetTypicalUseExampleViewController.m
Labels: [ActionSheet], cla: yes

#5982 [TextFields] Refactor snapshot test class
  components/TextFields/tests/snapshot/MDCTextFieldFilledControllerSnapshotTests.m
  components/TextFields/tests/snapshot/MDCTextFieldFullWidthControllerSnapshotTests.m
  components/TextFields/tests/snapshot/MDCTextFieldOutlinedControllerBaselineSnapshotTests.m
  components/TextFields/tests/snapshot/MDCTextFieldOutlinedControllerSnapshotTests.m
  components/TextFields/tests/snapshot/supplemental/MDCTextFieldSnapshotTestCase.h
  components/TextFields/tests/snapshot/supplemental/MDCTextFieldSnapshotTestCase.m
Labels: [TextFields], cla: yes, skill:Refactoring, type:Test

#5954 [Shape] add hash function to MDCCornerTreatment
  components/private/ShapeLibrary/src/MDCCurvedCornerTreatment.m
  components/private/ShapeLibrary/src/MDCCutCornerTreatment.m
  components/private/ShapeLibrary/src/MDCRoundedCornerTreatment.m
  components/private/ShapeLibrary/tests/unit/ShapeLibraryTests.m
  components/private/Shapes/src/MDCCornerTreatment.m
  components/private/Shapes/tests/unit/ShapesTest.m
  components/schemes/Shape/src/MDCShapeCategory.h
  components/schemes/Shape/src/MDCShapeCategory.m
  components/schemes/Shape/tests/unit/MDCShapeSchemeTests.m
Labels: [private], [schemes], cla: yes

#5886 [BottomNavigation] Initial implementation of the Bottom Navigation Controller
  components/BottomNavigation/examples/MDCBottomNavigationBarController.h
  components/BottomNavigation/examples/MDCBottomNavigationBarController.m
Labels: [BottomNavigation], cla: yes

#5988 [TextFields] Add `isEditing` snapshots for Filled style
  components/TextFields/tests/snapshot/MDCTextFieldFilledControllerSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerSnapshotTests/testFilledTextFieldEmptyIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerSnapshotTests/testFilledTextFieldWithLongErrorTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerSnapshotTests/testFilledTextFieldWithLongHelperTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerSnapshotTests/testFilledTextFieldWithLongInputPlaceholderErrorTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerSnapshotTests/testFilledTextFieldWithLongInputPlaceholderHelperTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerSnapshotTests/testFilledTextFieldWithLongInputTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerSnapshotTests/testFilledTextFieldWithLongPlaceholderTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerSnapshotTests/testFilledTextFieldWithShortErrorTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerSnapshotTests/testFilledTextFieldWithShortHelperTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerSnapshotTests/testFilledTextFieldWithShortInputPlaceholderErrorTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerSnapshotTests/testFilledTextFieldWithShortInputPlaceholderHelperTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerSnapshotTests/testFilledTextFieldWithShortInputTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerSnapshotTests/testFilledTextFieldWithShortPlaceholderTextIsEditing_11_2@2x.png
Labels: [TextFields], cla: yes, type:Test

#5990 [TextFields] Add `isEditing` snapshots for Outlined style
  components/TextFields/tests/snapshot/MDCTextFieldOutlinedControllerSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerSnapshotTests/testOutlinedTextFieldEmptyIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerSnapshotTests/testOutlinedTextFieldWithLongErrorTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerSnapshotTests/testOutlinedTextFieldWithLongHelperTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerSnapshotTests/testOutlinedTextFieldWithLongInputPlaceholderErrorTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerSnapshotTests/testOutlinedTextFieldWithLongInputPlaceholderHelperTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerSnapshotTests/testOutlinedTextFieldWithLongInputTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerSnapshotTests/testOutlinedTextFieldWithLongPlaceholderTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerSnapshotTests/testOutlinedTextFieldWithShortErrorTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerSnapshotTests/testOutlinedTextFieldWithShortHelperTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerSnapshotTests/testOutlinedTextFieldWithShortInputPlaceholderErrorTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerSnapshotTests/testOutlinedTextFieldWithShortInputPlaceholderHelperTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerSnapshotTests/testOutlinedTextFieldWithShortInputTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerSnapshotTests/testOutlinedTextFieldWithShortPlaceholderTextIsEditing_11_2@2x.png
Labels: [TextFields], cla: yes, type:Test

#5991 [TextFields] Refactor textArea snapshot tests.
  components/TextFields/tests/snapshot/MDCTextFieldOutlinedTextAreaControllerSnapshotTests.m
  components/TextFields/tests/snapshot/supplemental/SnapshotFakeMDCMultilineTextField.h
  components/TextFields/tests/snapshot/supplemental/SnapshotFakeMDCMultilineTextField.m
Labels: [TextFields], cla: yes, type:Test

#5994 [TextFields] Add `isEditing` snapshots for Outlined Text Area
  components/TextFields/tests/snapshot/MDCTextFieldOutlinedTextAreaControllerSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedTextAreaControllerSnapshotTests/testOutlinedTextFieldEmptyIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedTextAreaControllerSnapshotTests/testOutlinedTextFieldWithLongErrorTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedTextAreaControllerSnapshotTests/testOutlinedTextFieldWithLongHelperTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedTextAreaControllerSnapshotTests/testOutlinedTextFieldWithLongInputPlaceholderErrorTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedTextAreaControllerSnapshotTests/testOutlinedTextFieldWithLongInputPlaceholderHelperTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedTextAreaControllerSnapshotTests/testOutlinedTextFieldWithLongInputTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedTextAreaControllerSnapshotTests/testOutlinedTextFieldWithLongPlaceholderTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedTextAreaControllerSnapshotTests/testOutlinedTextFieldWithShortErrorTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedTextAreaControllerSnapshotTests/testOutlinedTextFieldWithShortHelperTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedTextAreaControllerSnapshotTests/testOutlinedTextFieldWithShortInputPlaceholderErrorTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedTextAreaControllerSnapshotTests/testOutlinedTextFieldWithShortInputPlaceholderHelperTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedTextAreaControllerSnapshotTests/testOutlinedTextFieldWithShortInputTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedTextAreaControllerSnapshotTests/testOutlinedTextFieldWithShortPlaceholderTextIsEditing_11_2@2x.png
Labels: [TextFields], cla: yes, type:Test

#5997 [TextFields] Add "unfloating" filled style snapshots.
  components/TextFields/tests/snapshot/MDCTextFieldFilledControllerSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerSnapshotTests/testFilledFloatingTextFieldEmptyIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerSnapshotTests/testFilledFloatingTextFieldEmpty_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerSnapshotTests/testFilledFloatingTextFieldWithLongErrorTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerSnapshotTests/testFilledFloatingTextFieldWithLongErrorText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerSnapshotTests/testFilledFloatingTextFieldWithLongHelperTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerSnapshotTests/testFilledFloatingTextFieldWithLongHelperText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerSnapshotTests/testFilledFloatingTextFieldWithLongInputPlaceholderErrorTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerSnapshotTests/testFilledFloatingTextFieldWithLongInputPlaceholderErrorTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerSnapshotTests/testFilledFloatingTextFieldWithLongInputPlaceholderHelperTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerSnapshotTests/testFilledFloatingTextFieldWithLongInputPlaceholderHelperTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerSnapshotTests/testFilledFloatingTextFieldWithLongInputTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerSnapshotTests/testFilledFloatingTextFieldWithLongInputText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerSnapshotTests/testFilledFloatingTextFieldWithLongPlaceholderTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerSnapshotTests/testFilledFloatingTextFieldWithLongPlaceholderText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerSnapshotTests/testFilledFloatingTextFieldWithShortErrorTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerSnapshotTests/testFilledFloatingTextFieldWithShortErrorText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerSnapshotTests/testFilledFloatingTextFieldWithShortHelperTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerSnapshotTests/testFilledFloatingTextFieldWithShortHelperText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerSnapshotTests/testFilledFloatingTextFieldWithShortInputPlaceholderErrorTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerSnapshotTests/testFilledFloatingTextFieldWithShortInputPlaceholderErrorTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerSnapshotTests/testFilledFloatingTextFieldWithShortInputPlaceholderHelperTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerSnapshotTests/testFilledFloatingTextFieldWithShortInputPlaceholderHelperTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerSnapshotTests/testFilledFloatingTextFieldWithShortInputTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerSnapshotTests/testFilledFloatingTextFieldWithShortInputText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerSnapshotTests/testFilledFloatingTextFieldWithShortPlaceholderTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerSnapshotTests/testFilledFloatingTextFieldWithShortPlaceholderText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerSnapshotTests/testFilledTextFieldWithLongInputPlaceholderErrorTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerSnapshotTests/testFilledTextFieldWithLongInputPlaceholderErrorTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerSnapshotTests/testFilledTextFieldWithLongInputPlaceholderHelperTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerSnapshotTests/testFilledTextFieldWithLongInputPlaceholderHelperTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerSnapshotTests/testFilledTextFieldWithLongInputTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerSnapshotTests/testFilledTextFieldWithLongInputText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerSnapshotTests/testFilledTextFieldWithLongPlaceholderTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerSnapshotTests/testFilledTextFieldWithShortInputPlaceholderErrorTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerSnapshotTests/testFilledTextFieldWithShortInputPlaceholderErrorTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerSnapshotTests/testFilledTextFieldWithShortInputPlaceholderHelperTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerSnapshotTests/testFilledTextFieldWithShortInputPlaceholderHelperTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerSnapshotTests/testFilledTextFieldWithShortInputTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerSnapshotTests/testFilledTextFieldWithShortInputText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerSnapshotTests/testFilledTextFieldWithShortPlaceholderTextIsEditing_11_2@2x.png
Labels: [TextFields], cla: yes, type:Test

#5998 [TextFields] Refactor: Move `recordMode` to `-setUp`
  components/TextFields/tests/snapshot/MDCTextFieldFilledControllerSnapshotTests.m
  components/TextFields/tests/snapshot/MDCTextFieldFullWidthControllerSnapshotTests.m
  components/TextFields/tests/snapshot/MDCTextFieldOutlinedControllerBaselineSnapshotTests.m
  components/TextFields/tests/snapshot/MDCTextFieldOutlinedControllerSnapshotTests.m
  components/TextFields/tests/snapshot/MDCTextFieldOutlinedTextAreaControllerSnapshotTests.m
Labels: [TextFields], cla: yes, skill:Refactoring, type:Test

#5995 [NavigationDrawer] Navigation Drawer Present at Fullscreen
  components/NavigationDrawer/examples/BottomDrawerExpandFullscreenExample.swift
  components/NavigationDrawer/examples/supplemental/BottomDrawerSupplemental.swift
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.h
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.m
  components/NavigationDrawer/src/MDCBottomDrawerViewController.h
  components/NavigationDrawer/src/MDCBottomDrawerViewController.m
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.h
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
  components/NavigationDrawer/tests/unit/MDCNavigationDrawerScrollViewTests.m
Labels: [NavigationDrawer], cla: yes

#5999 [automated] Ran buildifier against all BUILD files.
  components/ActionSheet/BUILD
  components/ActivityIndicator/BUILD
  components/AnimationTiming/BUILD
  components/AppBar/BUILD
  components/BottomAppBar/BUILD
  components/BottomNavigation/BUILD
  components/BottomSheet/BUILD
  components/ButtonBar/BUILD
  components/Buttons/BUILD
  components/Cards/BUILD
  components/Chips/BUILD
  components/CollectionCells/BUILD
  components/CollectionLayoutAttributes/BUILD
  components/Collections/BUILD
  components/Dialogs/BUILD
  components/FeatureHighlight/BUILD
  components/FlexibleHeader/BUILD
  components/HeaderStackView/BUILD
  components/Ink/BUILD
  components/LibraryInfo/BUILD
  components/List/BUILD
  components/MaskedTransition/BUILD
  components/NavigationBar/BUILD
  components/NavigationDrawer/BUILD
  components/OverlayWindow/BUILD
  components/PageControl/BUILD
  components/Palettes/BUILD
  components/ProgressView/BUILD
  components/ShadowElevations/BUILD
  components/ShadowLayer/BUILD
  components/Slider/BUILD
  components/Snackbar/BUILD
  components/Tabs/BUILD
  components/TextFields/BUILD
  components/Themes/BUILD
  components/Typography/BUILD
  components/private/Icons/BUILD
  components/private/Icons/icons/ic_check/BUILD
  components/private/Icons/icons/ic_check_circle/BUILD
  components/private/Icons/icons/ic_chevron_right/BUILD
  components/private/Icons/icons/ic_color_lens/BUILD
  components/private/Icons/icons/ic_help_outline/BUILD
  components/private/Icons/icons/ic_info/BUILD
  components/private/Icons/icons/ic_more_horiz/BUILD
  components/private/Icons/icons/ic_radio_button_unchecked/BUILD
  components/private/Icons/icons/ic_reorder/BUILD
  components/private/Icons/icons/ic_settings/BUILD
  components/private/KeyboardWatcher/BUILD
  components/private/Overlay/BUILD
  components/private/ShapeLibrary/BUILD
  components/private/Shapes/BUILD
  components/private/ThumbTrack/BUILD
  components/schemes/Color/BUILD
  components/schemes/Container/BUILD
  components/schemes/Shape/BUILD
  components/schemes/Typography/BUILD
  components/testing/runners/BUILD
Labels: [ActionSheet], [ActivityIndicator], [AnimationTiming], [AppBar], [BottomAppBar], [BottomNavigation], [BottomSheet], [ButtonBar], [Buttons], [Cards], [Chips], [CollectionCells], [CollectionLayoutAttributes], [Collections], [Dialogs], [FeatureHighlight], [FlexibleHeader], [HeaderStackView], [Ink], [LibraryInfo], [List], [MaskedTransition], [NavigationBar], [NavigationDrawer], [OverlayWindow], [PageControl], [Palettes], [ProgressView], [ShadowElevations], [ShadowLayer], [Slider], [Snackbar], [Tabs], [TextFields], [Themes], [Typography], [private], [schemes], [testing], cla: yes

#6001 [TextFields] Add snapshots for outlined, baseline, character counts.
  components/TextFields/tests/snapshot/MDCTextFieldOutlinedControllerBaselineCharacterCountSnapshotTests.m
  components/TextFields/tests/snapshot/MDCTextFieldOutlinedControllerSnapshotTests.h
  components/TextFields/tests/snapshot/MDCTextFieldOutlinedControllerSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineCharacterCountSnapshotTests/testOutlinedTextFieldEmptyIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineCharacterCountSnapshotTests/testOutlinedTextFieldEmpty_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineCharacterCountSnapshotTests/testOutlinedTextFieldWithLongErrorTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineCharacterCountSnapshotTests/testOutlinedTextFieldWithLongErrorText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineCharacterCountSnapshotTests/testOutlinedTextFieldWithLongHelperTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineCharacterCountSnapshotTests/testOutlinedTextFieldWithLongHelperText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineCharacterCountSnapshotTests/testOutlinedTextFieldWithLongInputPlaceholderErrorTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineCharacterCountSnapshotTests/testOutlinedTextFieldWithLongInputPlaceholderErrorTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineCharacterCountSnapshotTests/testOutlinedTextFieldWithLongInputPlaceholderHelperTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineCharacterCountSnapshotTests/testOutlinedTextFieldWithLongInputPlaceholderHelperTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineCharacterCountSnapshotTests/testOutlinedTextFieldWithLongInputTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineCharacterCountSnapshotTests/testOutlinedTextFieldWithLongInputText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineCharacterCountSnapshotTests/testOutlinedTextFieldWithLongPlaceholderTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineCharacterCountSnapshotTests/testOutlinedTextFieldWithLongPlaceholderText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineCharacterCountSnapshotTests/testOutlinedTextFieldWithShortErrorTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineCharacterCountSnapshotTests/testOutlinedTextFieldWithShortErrorText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineCharacterCountSnapshotTests/testOutlinedTextFieldWithShortHelperTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineCharacterCountSnapshotTests/testOutlinedTextFieldWithShortHelperText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineCharacterCountSnapshotTests/testOutlinedTextFieldWithShortInputPlaceholderErrorTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineCharacterCountSnapshotTests/testOutlinedTextFieldWithShortInputPlaceholderErrorTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineCharacterCountSnapshotTests/testOutlinedTextFieldWithShortInputPlaceholderHelperTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineCharacterCountSnapshotTests/testOutlinedTextFieldWithShortInputPlaceholderHelperTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineCharacterCountSnapshotTests/testOutlinedTextFieldWithShortInputTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineCharacterCountSnapshotTests/testOutlinedTextFieldWithShortInputText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineCharacterCountSnapshotTests/testOutlinedTextFieldWithShortPlaceholderTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineCharacterCountSnapshotTests/testOutlinedTextFieldWithShortPlaceholderText_11_2@2x.png
Labels: [TextFields], cla: yes, type:Test

#6000 [automated] Pin all swift_library targets to Swift 3.
  components/ActionSheet/BUILD
  components/ActivityIndicator/BUILD
  components/AppBar/BUILD
  components/BottomSheet/BUILD
  components/ButtonBar/BUILD
  components/Cards/BUILD
  components/FlexibleHeader/BUILD
  components/LibraryInfo/BUILD
  components/NavigationBar/BUILD
  components/Palettes/BUILD
  components/Snackbar/BUILD
  components/TextFields/BUILD
Labels: [ActionSheet], [ActivityIndicator], [AppBar], [BottomSheet], [ButtonBar], [Cards], [FlexibleHeader], [LibraryInfo], [NavigationBar], [Palettes], [Snackbar], [TextFields], cla: yes

#6008 [TextFields] Refactor test classes to use subclassing.
  components/TextFields/tests/snapshot/MDCTextFieldOutlinedControllerBaselineCharacterCountSnapshotTests.m
  components/TextFields/tests/snapshot/MDCTextFieldOutlinedControllerBaselineSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineCharacterCountSnapshotTests/testOutlinedTextFieldWithLongInputPlaceholderErrorTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineCharacterCountSnapshotTests/testOutlinedTextFieldWithLongInputPlaceholderErrorTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineCharacterCountSnapshotTests/testOutlinedTextFieldWithLongInputPlaceholderHelperTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineCharacterCountSnapshotTests/testOutlinedTextFieldWithLongInputPlaceholderHelperTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineCharacterCountSnapshotTests/testOutlinedTextFieldWithLongPlaceholderTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineSnapshotTests/testOutlinedTextFieldWithShortPlaceholderTextIsEditing_11_2@2x.png
Labels: [TextFields], cla: yes, skill:Refactoring, type:Test

#6014 [TextFields] "FullWidth" snapshots use abstract class
  components/TextFields/tests/snapshot/MDCTextFieldFullWidthControllerSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerSnapshotTests/testTextFieldEmptyIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerSnapshotTests/testTextFieldEmpty_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerSnapshotTests/testTextFieldWithLongErrorTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerSnapshotTests/testTextFieldWithLongErrorText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerSnapshotTests/testTextFieldWithLongHelperTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerSnapshotTests/testTextFieldWithLongHelperText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerSnapshotTests/testTextFieldWithLongInputPlaceholderErrorTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerSnapshotTests/testTextFieldWithLongInputPlaceholderErrorTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerSnapshotTests/testTextFieldWithLongInputPlaceholderHelperTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerSnapshotTests/testTextFieldWithLongInputPlaceholderHelperTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerSnapshotTests/testTextFieldWithLongInputTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerSnapshotTests/testTextFieldWithLongInputText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerSnapshotTests/testTextFieldWithLongPlaceholderTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerSnapshotTests/testTextFieldWithLongPlaceholderText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerSnapshotTests/testTextFieldWithShortErrorTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerSnapshotTests/testTextFieldWithShortErrorText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerSnapshotTests/testTextFieldWithShortHelperTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerSnapshotTests/testTextFieldWithShortHelperText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerSnapshotTests/testTextFieldWithShortInputPlaceholderErrorTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerSnapshotTests/testTextFieldWithShortInputPlaceholderErrorTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerSnapshotTests/testTextFieldWithShortInputPlaceholderHelperTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerSnapshotTests/testTextFieldWithShortInputPlaceholderHelperTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerSnapshotTests/testTextFieldWithShortInputTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerSnapshotTests/testTextFieldWithShortInputText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerSnapshotTests/testTextFieldWithShortPlaceholderTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerSnapshotTests/testTextFieldWithShortPlaceholderText_11_2@2x.png
Labels: [TextFields], cla: yes, skill:Refactoring, type:Test

#6015 [TextFields] Outlined, themed, character count tests use abstract class.
  components/TextFields/tests/snapshot/MDCTextFieldOutlinedControllerBaselineCharacterCountSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineCharacterCountSnapshotTests/testTextFieldEmptyIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineCharacterCountSnapshotTests/testTextFieldEmpty_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineCharacterCountSnapshotTests/testTextFieldWithLongErrorTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineCharacterCountSnapshotTests/testTextFieldWithLongErrorText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineCharacterCountSnapshotTests/testTextFieldWithLongHelperTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineCharacterCountSnapshotTests/testTextFieldWithLongHelperText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineCharacterCountSnapshotTests/testTextFieldWithLongInputPlaceholderErrorTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineCharacterCountSnapshotTests/testTextFieldWithLongInputPlaceholderErrorTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineCharacterCountSnapshotTests/testTextFieldWithLongInputPlaceholderHelperTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineCharacterCountSnapshotTests/testTextFieldWithLongInputPlaceholderHelperTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineCharacterCountSnapshotTests/testTextFieldWithLongInputTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineCharacterCountSnapshotTests/testTextFieldWithLongInputText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineCharacterCountSnapshotTests/testTextFieldWithLongPlaceholderTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineCharacterCountSnapshotTests/testTextFieldWithLongPlaceholderText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineCharacterCountSnapshotTests/testTextFieldWithShortErrorTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineCharacterCountSnapshotTests/testTextFieldWithShortErrorText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineCharacterCountSnapshotTests/testTextFieldWithShortHelperTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineCharacterCountSnapshotTests/testTextFieldWithShortHelperText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineCharacterCountSnapshotTests/testTextFieldWithShortInputPlaceholderErrorTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineCharacterCountSnapshotTests/testTextFieldWithShortInputPlaceholderErrorTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineCharacterCountSnapshotTests/testTextFieldWithShortInputPlaceholderHelperTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineCharacterCountSnapshotTests/testTextFieldWithShortInputPlaceholderHelperTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineCharacterCountSnapshotTests/testTextFieldWithShortInputTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineCharacterCountSnapshotTests/testTextFieldWithShortInputText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineCharacterCountSnapshotTests/testTextFieldWithShortPlaceholderTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineCharacterCountSnapshotTests/testTextFieldWithShortPlaceholderText_11_2@2x.png
Labels: [TextFields], cla: yes, skill:Refactoring, type:Test

#6016 [TextFields] Outlined, themed snapshots use abstract class
  components/TextFields/tests/snapshot/MDCTextFieldOutlinedControllerBaselineSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineSnapshotTests/testTextFieldEmptyIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineSnapshotTests/testTextFieldEmpty_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineSnapshotTests/testTextFieldWithLongErrorTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineSnapshotTests/testTextFieldWithLongErrorText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineSnapshotTests/testTextFieldWithLongHelperTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineSnapshotTests/testTextFieldWithLongHelperText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineSnapshotTests/testTextFieldWithLongInputPlaceholderErrorTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineSnapshotTests/testTextFieldWithLongInputPlaceholderErrorTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineSnapshotTests/testTextFieldWithLongInputPlaceholderHelperTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineSnapshotTests/testTextFieldWithLongInputPlaceholderHelperTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineSnapshotTests/testTextFieldWithLongInputTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineSnapshotTests/testTextFieldWithLongInputText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineSnapshotTests/testTextFieldWithLongPlaceholderTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineSnapshotTests/testTextFieldWithLongPlaceholderText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineSnapshotTests/testTextFieldWithShortErrorTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineSnapshotTests/testTextFieldWithShortErrorText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineSnapshotTests/testTextFieldWithShortHelperTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineSnapshotTests/testTextFieldWithShortHelperText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineSnapshotTests/testTextFieldWithShortInputPlaceholderErrorTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineSnapshotTests/testTextFieldWithShortInputPlaceholderErrorTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineSnapshotTests/testTextFieldWithShortInputPlaceholderHelperTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineSnapshotTests/testTextFieldWithShortInputPlaceholderHelperTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineSnapshotTests/testTextFieldWithShortInputTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineSnapshotTests/testTextFieldWithShortInputText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineSnapshotTests/testTextFieldWithShortPlaceholderTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineSnapshotTests/testTextFieldWithShortPlaceholderText_11_2@2x.png
Labels: [TextFields], cla: yes, skill:Refactoring, type:Test

#6017 [TextFields] Outlined TextArea uses abstract test class
  components/TextFields/tests/snapshot/MDCTextFieldOutlinedTextAreaControllerSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedTextAreaControllerSnapshotTests/testTextFieldEmptyIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedTextAreaControllerSnapshotTests/testTextFieldEmpty_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedTextAreaControllerSnapshotTests/testTextFieldWithLongErrorTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedTextAreaControllerSnapshotTests/testTextFieldWithLongErrorText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedTextAreaControllerSnapshotTests/testTextFieldWithLongHelperTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedTextAreaControllerSnapshotTests/testTextFieldWithLongHelperText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedTextAreaControllerSnapshotTests/testTextFieldWithLongInputPlaceholderErrorTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedTextAreaControllerSnapshotTests/testTextFieldWithLongInputPlaceholderErrorTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedTextAreaControllerSnapshotTests/testTextFieldWithLongInputPlaceholderHelperTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedTextAreaControllerSnapshotTests/testTextFieldWithLongInputPlaceholderHelperTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedTextAreaControllerSnapshotTests/testTextFieldWithLongInputTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedTextAreaControllerSnapshotTests/testTextFieldWithLongInputText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedTextAreaControllerSnapshotTests/testTextFieldWithLongPlaceholderTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedTextAreaControllerSnapshotTests/testTextFieldWithLongPlaceholderText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedTextAreaControllerSnapshotTests/testTextFieldWithShortErrorTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedTextAreaControllerSnapshotTests/testTextFieldWithShortErrorText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedTextAreaControllerSnapshotTests/testTextFieldWithShortHelperTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedTextAreaControllerSnapshotTests/testTextFieldWithShortHelperText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedTextAreaControllerSnapshotTests/testTextFieldWithShortInputPlaceholderErrorTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedTextAreaControllerSnapshotTests/testTextFieldWithShortInputPlaceholderErrorTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedTextAreaControllerSnapshotTests/testTextFieldWithShortInputPlaceholderHelperTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedTextAreaControllerSnapshotTests/testTextFieldWithShortInputPlaceholderHelperTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedTextAreaControllerSnapshotTests/testTextFieldWithShortInputTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedTextAreaControllerSnapshotTests/testTextFieldWithShortInputText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedTextAreaControllerSnapshotTests/testTextFieldWithShortPlaceholderTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedTextAreaControllerSnapshotTests/testTextFieldWithShortPlaceholderText_11_2@2x.png
Labels: [TextFields], cla: yes, skill:Refactoring, type:Test

#6018 [automated] Rename MaterialComponentsAlpha to MaterialComponentsBeta.
  .kokoro
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  catalog/MDCCatalog.xcodeproj/project.pbxproj
  catalog/MDCCatalog.xcodeproj/xcshareddata/xcschemes/MDCCatalog.xcscheme
  catalog/MDCDragons.xcodeproj/project.pbxproj
  catalog/MDCDragons.xcodeproj/xcshareddata/xcschemes/MDCDragons.xcscheme
  catalog/Podfile
  components/ActionSheet/README.md
  components/ActionSheet/docs/README.md
  components/ActionSheet/docs/color-theming.md
  components/ActionSheet/docs/typography-theming.md
  components/ActionSheet/examples/ActionSheetSwiftExampleViewController.swift
  components/ActionSheet/tests/unit/ActionSheetTest.swift
  components/ButtonBar/examples/ButtonBarTypicalUseExample.swift
  components/ButtonBar/tests/unit/ButtonBarThemingTests.swift
  components/Buttons/examples/ButtonsSimpleExampleSwiftViewController.swift
  components/Buttons/tests/unit/ButtonsThemingTest.swift
  components/Cards/examples/CardExampleViewController.swift
  components/Dialogs/examples/DialogsAlertComparisonExample.swift
  components/Dialogs/examples/DialogsAlertCustomizationExampleViewController.swift
  components/Dialogs/tests/unit/DialogsMaterialThemingTests.swift
  components/NavigationDrawer/README.md
  components/NavigationDrawer/docs/README.md
  components/private/Alpha/src/MaterialAlphaComponent.h
  contributing/alpha_components.md
  contributing/beta_components.md
  scripts/release
Labels: [ActionSheet], [ButtonBar], [Buttons], [Cards], [Catalog], [Dialogs], [NavigationDrawer], [private], cla: yes

#6019 [TextFields] Outlined controller snapshots use abstract class
  components/TextFields/tests/snapshot/MDCTextFieldOutlinedControllerSnapshotTests.h
  components/TextFields/tests/snapshot/MDCTextFieldOutlinedControllerSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerSnapshotTests/testTextFieldEmptyIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerSnapshotTests/testTextFieldEmpty_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerSnapshotTests/testTextFieldWithLongErrorTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerSnapshotTests/testTextFieldWithLongErrorText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerSnapshotTests/testTextFieldWithLongHelperTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerSnapshotTests/testTextFieldWithLongHelperText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerSnapshotTests/testTextFieldWithLongInputPlaceholderErrorTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerSnapshotTests/testTextFieldWithLongInputPlaceholderErrorTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerSnapshotTests/testTextFieldWithLongInputPlaceholderHelperTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerSnapshotTests/testTextFieldWithLongInputPlaceholderHelperTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerSnapshotTests/testTextFieldWithLongInputTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerSnapshotTests/testTextFieldWithLongInputText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerSnapshotTests/testTextFieldWithLongPlaceholderTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerSnapshotTests/testTextFieldWithLongPlaceholderText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerSnapshotTests/testTextFieldWithShortErrorTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerSnapshotTests/testTextFieldWithShortErrorText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerSnapshotTests/testTextFieldWithShortHelperTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerSnapshotTests/testTextFieldWithShortHelperText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerSnapshotTests/testTextFieldWithShortInputPlaceholderErrorTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerSnapshotTests/testTextFieldWithShortInputPlaceholderErrorTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerSnapshotTests/testTextFieldWithShortInputPlaceholderHelperTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerSnapshotTests/testTextFieldWithShortInputPlaceholderHelperTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerSnapshotTests/testTextFieldWithShortInputTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerSnapshotTests/testTextFieldWithShortInputText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerSnapshotTests/testTextFieldWithShortPlaceholderTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerSnapshotTests/testTextFieldWithShortPlaceholderText_11_2@2x.png
Labels: [TextFields], cla: yes, skill:Refactoring, type:Test

#5896 [FlexibleHeader] Refactor min/max height behavior to a separate object.
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
  components/FlexibleHeader/src/private/MDCFlexibleHeaderMinMaxHeight.h
  components/FlexibleHeader/src/private/MDCFlexibleHeaderMinMaxHeight.m
  components/FlexibleHeader/tests/unit/FlexibleHeaderMinMaxHeightIncludesSafeAreaTests.m
  components/FlexibleHeader/tests/unit/FlexibleHeaderMinMaxHeightTests.m
Labels: [FlexibleHeader], cla: yes

#6025 [TextFields] Add FullWidth snapshots with character counts.
  components/TextFields/tests/snapshot/MDCTextFieldFullWidthCharacterCountSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthCharacterCountSnapshotTests/testTextFieldEmptyIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthCharacterCountSnapshotTests/testTextFieldEmpty_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthCharacterCountSnapshotTests/testTextFieldWithLongErrorTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthCharacterCountSnapshotTests/testTextFieldWithLongErrorText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthCharacterCountSnapshotTests/testTextFieldWithLongHelperTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthCharacterCountSnapshotTests/testTextFieldWithLongHelperText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthCharacterCountSnapshotTests/testTextFieldWithLongInputPlaceholderErrorTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthCharacterCountSnapshotTests/testTextFieldWithLongInputPlaceholderErrorTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthCharacterCountSnapshotTests/testTextFieldWithLongInputPlaceholderHelperTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthCharacterCountSnapshotTests/testTextFieldWithLongInputPlaceholderHelperTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthCharacterCountSnapshotTests/testTextFieldWithLongInputTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthCharacterCountSnapshotTests/testTextFieldWithLongInputText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthCharacterCountSnapshotTests/testTextFieldWithLongPlaceholderTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthCharacterCountSnapshotTests/testTextFieldWithLongPlaceholderText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthCharacterCountSnapshotTests/testTextFieldWithShortErrorTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthCharacterCountSnapshotTests/testTextFieldWithShortErrorText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthCharacterCountSnapshotTests/testTextFieldWithShortHelperTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthCharacterCountSnapshotTests/testTextFieldWithShortHelperText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthCharacterCountSnapshotTests/testTextFieldWithShortInputPlaceholderErrorTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthCharacterCountSnapshotTests/testTextFieldWithShortInputPlaceholderErrorTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthCharacterCountSnapshotTests/testTextFieldWithShortInputPlaceholderHelperTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthCharacterCountSnapshotTests/testTextFieldWithShortInputPlaceholderHelperTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthCharacterCountSnapshotTests/testTextFieldWithShortInputTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthCharacterCountSnapshotTests/testTextFieldWithShortInputText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthCharacterCountSnapshotTests/testTextFieldWithShortPlaceholderTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthCharacterCountSnapshotTests/testTextFieldWithShortPlaceholderText_11_2@2x.png
Labels: [TextFields], cla: yes, type:Test

#6029 [TextFields] Add Baseline Filled snapshots.
  components/TextFields/tests/snapshot/MDCTextFieldFilledFloatingControllerBaselineSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerBaselineSnapshotTests/testTextFieldEmptyDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerBaselineSnapshotTests/testTextFieldEmptyIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerBaselineSnapshotTests/testTextFieldEmpty_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerBaselineSnapshotTests/testTextFieldWithLongErrorTextDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerBaselineSnapshotTests/testTextFieldWithLongErrorTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerBaselineSnapshotTests/testTextFieldWithLongErrorText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerBaselineSnapshotTests/testTextFieldWithLongHelperTextDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerBaselineSnapshotTests/testTextFieldWithLongHelperTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerBaselineSnapshotTests/testTextFieldWithLongHelperText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerBaselineSnapshotTests/testTextFieldWithLongInputPlaceholderErrorTextsDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerBaselineSnapshotTests/testTextFieldWithLongInputPlaceholderErrorTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerBaselineSnapshotTests/testTextFieldWithLongInputPlaceholderErrorTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerBaselineSnapshotTests/testTextFieldWithLongInputPlaceholderHelperTextsDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerBaselineSnapshotTests/testTextFieldWithLongInputPlaceholderHelperTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerBaselineSnapshotTests/testTextFieldWithLongInputPlaceholderHelperTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerBaselineSnapshotTests/testTextFieldWithLongInputTextDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerBaselineSnapshotTests/testTextFieldWithLongInputTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerBaselineSnapshotTests/testTextFieldWithLongInputText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerBaselineSnapshotTests/testTextFieldWithLongPlaceholderTextDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerBaselineSnapshotTests/testTextFieldWithLongPlaceholderTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerBaselineSnapshotTests/testTextFieldWithLongPlaceholderText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerBaselineSnapshotTests/testTextFieldWithShortErrorTextDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerBaselineSnapshotTests/testTextFieldWithShortErrorTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerBaselineSnapshotTests/testTextFieldWithShortErrorText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerBaselineSnapshotTests/testTextFieldWithShortHelperTextDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerBaselineSnapshotTests/testTextFieldWithShortHelperTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerBaselineSnapshotTests/testTextFieldWithShortHelperText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerBaselineSnapshotTests/testTextFieldWithShortInputPlaceholderErrorTextsDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerBaselineSnapshotTests/testTextFieldWithShortInputPlaceholderErrorTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerBaselineSnapshotTests/testTextFieldWithShortInputPlaceholderErrorTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerBaselineSnapshotTests/testTextFieldWithShortInputPlaceholderHelperTextsDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerBaselineSnapshotTests/testTextFieldWithShortInputPlaceholderHelperTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerBaselineSnapshotTests/testTextFieldWithShortInputPlaceholderHelperTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerBaselineSnapshotTests/testTextFieldWithShortInputTextDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerBaselineSnapshotTests/testTextFieldWithShortInputTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerBaselineSnapshotTests/testTextFieldWithShortInputText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerBaselineSnapshotTests/testTextFieldWithShortPlaceholderTextDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerBaselineSnapshotTests/testTextFieldWithShortPlaceholderTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerBaselineSnapshotTests/testTextFieldWithShortPlaceholderText_11_2@2x.png
Labels: PR:merge-when-approved, [TextFields], cla: yes, type:Test

#6024 [BottomSheet] Fix for No safeaAreaInsets when presenting with MDCBottomSheetController
  components/BottomSheet/src/MDCBottomSheetController.m
  components/BottomSheet/src/private/MDCSheetContainerView.m
Labels: [BottomSheet], cla: yes

#6033 [Cards] Add theming extension for Cards component
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  components/Cards/BUILD
  components/Cards/examples/CardExampleViewController.swift
  components/Cards/examples/EditReorderCollectionViewController.swift
  components/Cards/examples/supplemental/CardEditReorderCollectionCell.swift
  components/Cards/src/Theming/MDCCard+MaterialTheming.h
  components/Cards/src/Theming/MDCCard+MaterialTheming.m
  components/Cards/src/Theming/MDCCardCollectionCell+MaterialTheming.h
  components/Cards/src/Theming/MDCCardCollectionCell+MaterialTheming.m
  components/Cards/src/Theming/MaterialCards+Theming.h
  components/Cards/tests/unit/CardsMaterialThemingTests.swift
  components/schemes/Shape/examples/MDCShapeSchemeExampleViewController.m
Labels: [Cards], [schemes], cla: yes

#6010 [NavigationDrawer] Attempt to fix header shadow not being removed
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
Labels: [NavigationDrawer], cla: yes

#6039 Revert "[BottomNavigation]Adds Initial tests for MDCBottomNavigationBarController"
  MaterialComponents.podspec
  components/BottomNavigation/examples/tests/unit/MDCBottomNavigationBarControllerTests.m
Labels: cla: yes

#6043 {scripts/release} Disable git lfs cloning when generating API diff.
  scripts/release
Labels: cla: yes

#6053 [.kokoro] Fix Beta rewrite rules.
  .kokoro
Labels: PR:merge-when-approved, cla: yes

#6050 [Cards] Fix shadow elevation values for outlined cards
  components/Cards/src/CardThemer/MDCCardThemer.m
  components/Cards/src/Theming/MDCCard+MaterialTheming.m
  components/Cards/src/Theming/MDCCardCollectionCell+MaterialTheming.m
  components/Cards/tests/unit/CardsMaterialThemingTests.swift
  snapshot_test_goldens/goldens_64/MDCCardSnapshotTests/testOutlinedThemedCardCell_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCCardSnapshotTests/testOutlinedThemedCard_11_2@2x.png
Labels: [Cards], cla: yes

#6057 [Snapshots] Add support to specify insets for snapshot tests
  components/Cards/tests/snapshot/MDCCardSnapshotTests.m
  components/TextFields/tests/snapshot/supplemental/MDCTextFieldSnapshotTestCase.h
  components/private/Snapshot/MaterialSnapshot.h
  components/private/Snapshot/UIView+MDCSnapshot.h
  components/private/Snapshot/UIView+MDCSnapshot.m
Labels: [Cards], [Snapshot], [TextFields], [private], cla: yes

#5550 [Tabs] Add semanticContentAttribute support to MDCTabBar for RTL.
  components/Tabs/BUILD
  components/Tabs/src/MDCTabBar.m
  components/Tabs/src/private/MDCItemBar.m
  components/Tabs/tests/unit/MDCTabBarLayoutTests.m
Labels: [Tabs], cla: yes

#6055 {Beta} Fix name of "fake" Beta header.
  MaterialComponentsBeta.podspec
  components/private/Beta/src/MaterialBetaComponent.h
Labels: cla: yes, skill:CocoaPods

#6046 {docs/releasing.md} Fix the name of the release-blocking client group
  contributing/releasing.md
Labels: [Documentation], [docs], cla: yes

#6068 Fix for release-candidate merge issue with develop
  MaterialComponentsBeta.podspec
  components/Cards/BUILD
  components/Cards/examples/CardExampleViewController.swift
  components/Cards/examples/EditReorderCollectionViewController.swift
  components/Cards/examples/supplemental/CardEditReorderCollectionCell.swift
  components/schemes/Shape/examples/MDCShapeSchemeExampleViewController.m
Labels: PR:merge-when-approved, [Cards], [schemes], cla: yes

#6072 [ActionSheet] Add examples bazel targets.
  .kokoro
  components/ActionSheet/BUILD
Labels: PR:updates BUILD, [ActionSheet], cla: yes, skill:Bazel, skill:Kokoro

#6044 [Scripts] Exit on error in release script
  scripts/release
Labels: Scripts, cla: yes, skill:Scripting

#6060 [.kokoro] Add a new affected_targets job.
  .kokoro
  scripts/affected_targets
Labels: cla: yes

#6073 [ActionSheet] Remove redundant `visibility` args.
  components/ActionSheet/BUILD
Labels: [ActionSheet], cla: yes, skill:Bazel, type:Internal cleanup

#6070 [TextFields] `Disabled` snapshot tests use text properties.
  components/TextFields/tests/snapshot/supplemental/MDCAbstractTextFieldSnapshotTests.m
Labels: [TextFields], cla: yes, skill:Refactoring, type:Internal cleanup, type:Test

#6065 [Cards, Textfields] Update snapshot tests to utilize the new API for adding a background view
  components/Cards/tests/snapshot/MDCCardSnapshotTests.m
  components/TextFields/tests/snapshot/supplemental/MDCTextFieldSnapshotTestCase.m
  components/private/Snapshot/MDCSnapshotTestCase.h
  components/private/Snapshot/MDCSnapshotTestCase.m
Labels: [Cards], [TextFields], [private], cla: yes, skill:Refactoring

#6074 [bazel] Create `mdc_theming_objc_library` rule
  material_components_ios.bzl
Labels: cla: yes, skill:Bazel

#6076 Revert "[bazel] Create `mdc_theming_objc_library` rule"
  material_components_ios.bzl
Labels: cla: yes

#6077 [automated] Ran buildifier against all BUILD files.
  components/Cards/BUILD
Labels: PR:merge-when-approved, [Cards], cla: yes

#6079 [.kokoro] Turn off verbose logging for the cocoapods-podspec job.
  .kokoro
Labels: PR:merge-when-approved, cla: yes

#6080 [automated] Make mdc_unit_test_suite's name explicit.
  components/ActionSheet/BUILD
  components/ActivityIndicator/BUILD
  components/AnimationTiming/BUILD
  components/AppBar/BUILD
  components/BottomAppBar/BUILD
  components/BottomNavigation/BUILD
  components/BottomSheet/BUILD
  components/ButtonBar/BUILD
  components/Buttons/BUILD
  components/Cards/BUILD
  components/Chips/BUILD
  components/CollectionCells/BUILD
  components/CollectionLayoutAttributes/BUILD
  components/Collections/BUILD
  components/Dialogs/BUILD
  components/FeatureHighlight/BUILD
  components/FlexibleHeader/BUILD
  components/HeaderStackView/BUILD
  components/Ink/BUILD
  components/LibraryInfo/BUILD
  components/List/BUILD
  components/MaskedTransition/BUILD
  components/NavigationBar/BUILD
  components/NavigationDrawer/BUILD
  components/OverlayWindow/BUILD
  components/PageControl/BUILD
  components/Palettes/BUILD
  components/ProgressView/BUILD
  components/ShadowElevations/BUILD
  components/ShadowLayer/BUILD
  components/Slider/BUILD
  components/Snackbar/BUILD
  components/Tabs/BUILD
  components/TextFields/BUILD
  components/Themes/BUILD
  components/Typography/BUILD
  components/private/Icons/BUILD
  components/private/KeyboardWatcher/BUILD
  components/private/Overlay/BUILD
  components/private/ShapeLibrary/BUILD
  components/private/Shapes/BUILD
  components/private/ThumbTrack/BUILD
  components/schemes/Color/BUILD
  components/schemes/Container/BUILD
  components/schemes/Shape/BUILD
  components/schemes/Typography/BUILD
  contributing/bazel_kokoro.md
  material_components_ios.bzl
Labels: PR:merge-when-approved, [ActionSheet], [ActivityIndicator], [AnimationTiming], [AppBar], [BottomAppBar], [BottomNavigation], [BottomSheet], [ButtonBar], [Buttons], [Cards], [Chips], [CollectionCells], [CollectionLayoutAttributes], [Collections], [Dialogs], [FeatureHighlight], [FlexibleHeader], [HeaderStackView], [Ink], [LibraryInfo], [List], [MaskedTransition], [NavigationBar], [NavigationDrawer], [OverlayWindow], [PageControl], [Palettes], [ProgressView], [ShadowElevations], [ShadowLayer], [Slider], [Snackbar], [Tabs], [TextFields], [Themes], [Typography], [private], [schemes], cla: yes

#6081 [Cards] Add back missing dependency for cards test spec
  MaterialComponents.podspec
Labels: cla: yes

#6063 [ActivityIndicator] Stop activity indicator animating when hidden
  components/ActivityIndicator/src/MDCActivityIndicator.m
  components/ActivityIndicator/tests/unit/ActivityIndicatorTests.m
Labels: [ActivityIndicator], cla: yes

#6086 [bazel] Add component "extensions" rule.
  material_components_ios.bzl
Labels: cla: yes, skill:Bazel

#6087 [Chips] Create theming extension for Chips
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  components/Chips/BUILD
  components/Chips/src/Theming/MDCChipView+MaterialTheming.h
  components/Chips/src/Theming/MDCChipView+MaterialTheming.m
  components/Chips/src/Theming/MaterialChips+Theming.h
  components/Chips/tests/unit/ChipsMaterialThemingTests.swift
Labels: [Chips], cla: yes

#6082 [BottomNavigation] Added an example for MDCBottomNavigationBarController
  components/BottomNavigation/examples/BottomNavigationBarControllerExampleViewController.swift
Labels: [BottomNavigation], cla: yes

#6088 [.kokoro] Don't clean before running bazel jobs.
  .kokoro
Labels: PR:merge-when-approved, cla: yes

#6078 [.kokoro] Fail when a job is unknown.
  .kokoro
Labels: PR:merge-when-approved, cla: yes

#6069 [FlexibleHeader] Fix shift phase behavior when contained in the tracking scroll view.
  components/FlexibleHeader/examples/FlexibleHeaderConfiguratorExample.m
  components/FlexibleHeader/examples/supplemental/FlexibleHeaderConfiguratorSupplemental.h
  components/FlexibleHeader/examples/supplemental/FlexibleHeaderConfiguratorSupplemental.m
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
Labels: [FlexibleHeader], cla: yes

#6089 [bazel] Use mdc_extension_objc_library in BUILD
  components/ActionSheet/BUILD
  components/ActivityIndicator/BUILD
  components/AppBar/BUILD
  components/BottomAppBar/BUILD
  components/BottomNavigation/BUILD
  components/BottomSheet/BUILD
  components/ButtonBar/BUILD
  components/Buttons/BUILD
  components/Cards/BUILD
  components/Chips/BUILD
  components/Dialogs/BUILD
  components/FeatureHighlight/BUILD
  components/FlexibleHeader/BUILD
  components/HeaderStackView/BUILD
  components/Ink/BUILD
  components/List/BUILD
  components/NavigationBar/BUILD
  components/NavigationDrawer/BUILD
  components/PageControl/BUILD
  components/ProgressView/BUILD
  components/Slider/BUILD
  components/Snackbar/BUILD
  components/Tabs/BUILD
  components/TextFields/BUILD
Labels: PR:merge-when-approved, [ActionSheet], [ActivityIndicator], [AppBar], [BottomAppBar], [BottomNavigation], [BottomSheet], [ButtonBar], [Buttons], [Cards], [Chips], [Dialogs], [FeatureHighlight], [FlexibleHeader], [HeaderStackView], [Ink], [List], [NavigationBar], [NavigationDrawer], [PageControl], [ProgressView], [Slider], [Snackbar], [Tabs], [TextFields], cla: yes, skill:Bazel, skill:Refactoring, type:Internal cleanup

#6054 [FlexibleHeader] Mark MDCFlexibleHeaderTopSafeArea as final.
  components/FlexibleHeader/src/private/MDCFlexibleHeaderTopSafeArea.h
Labels: PR:merge-when-approved, [FlexibleHeader], cla: yes

#6051 [BottomNavigation] Fix MDCBottomNavigationBar elevation on MDCBottomNavigationBarController
  components/BottomNavigation/examples/MDCBottomNavigationBarController.m
Labels: [BottomNavigation], cla: yes

#6084 [kokoro] Improvements to the affected_targets job.
  .kokoro
  scripts/affected_targets
Labels: cla: yes

#6091 [bazel] Extract minimum_os_version to a constant in material_components_ios.bzl
  material_components_ios.bzl
Labels: PR:merge-when-approved, cla: yes

#6096 [Chips] Update chips examples to use theming extension
  components/Chips/examples/ChipsActionExampleViewController.m
  components/Chips/examples/ChipsChoiceExampleViewController.m
  components/Chips/examples/ChipsFieldDeleteEnabledViewController.swift
  components/Chips/examples/ChipsFilterExampleViewController.m
  components/Chips/examples/ChipsInputExampleViewController.m
  components/Chips/examples/ChipsShapingExampleViewController.m
  components/Chips/examples/supplemental/ChipsExamplesSupplemental.h
  components/schemes/Shape/examples/MDCShapeSchemeExampleViewController.m
Labels: [Chips], [schemes], cla: yes

#6094 [scripts/affected_targets] Fix typo in docs.
  scripts/affected_targets
Labels: PR:merge-when-approved, cla: yes

#6095 [.kokoro] Post the affected bazel targets back to the PR.
  .kokoro
Labels: PR:merge-when-approved, cla: yes

#6098 [Chips] Add snapshot tests to Chips
  MaterialComponentsSnapshotTests.podspec
  catalog/Podfile
  components/Chips/tests/snapshot/MDCChipViewSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testBaselineThemedChip_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testDefaultChip_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testOutlinedThemedChip_11_2@2x.png
Labels: [Catalog], [Chips], cla: yes

#5925 [Release Docs] Highlighted creating release PR.
  contributing/releasing.md
Labels: cla: yes

#6102 {Scripts} Create a script to detect changed files not in a bazel rule
  scripts/files_missing_bazel_target
Labels: Scripts, cla: yes, skill:Bazel, skill:Kokoro, skill:Scripting

#6106 [.kokoro] Upgrade bazel prior to checking dependencies.
  .kokoro
Labels: PR:merge-when-approved, cla: yes

#6103 [kokoro] Extract github comments to a separate file
  .kokoro
  scripts/github-comments.sh
Labels: Scripts, cla: yes, skill:Kokoro, skill:Refactoring, skill:Scripting

#6062 {Scripts} Abort merging release if develop is ahead/behind
  scripts/release
Labels: Scripts, cla: yes, skill:Scripting

#6092 {kokoro} Fix job that checks for source files not covered by a BUILD target
  scripts/files_missing_bazel_target
  scripts/select_xcode.sh
Labels: Scripts, cla: yes, skill:Kokoro, skill:Refactoring, skill:Scripting, type:Internal cleanup

#6115 {kokoro} Exclude "snapshot" tests from bazel coverage.
  scripts/files_missing_bazel_target
Labels: cla: yes, skill:Kokoro, skill:Scripting

#6114 [TextFields] Arabic RTL snapshot tests
  components/TextFields/tests/snapshot/MDCTextFieldOutlinedControllerBaselineLeadingImageArabicSnapshotTests.m
  components/TextFields/tests/snapshot/supplemental/MDCAbstractTextFieldSnapshotTests+I18N.h
  components/TextFields/tests/snapshot/supplemental/MDCAbstractTextFieldSnapshotTests+I18N.m
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineLeadingImageArabicSnapshotTests/testTextFieldEmptyDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineLeadingImageArabicSnapshotTests/testTextFieldEmptyIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineLeadingImageArabicSnapshotTests/testTextFieldEmpty_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineLeadingImageArabicSnapshotTests/testTextFieldWithLongErrorTextDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineLeadingImageArabicSnapshotTests/testTextFieldWithLongErrorTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineLeadingImageArabicSnapshotTests/testTextFieldWithLongErrorText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineLeadingImageArabicSnapshotTests/testTextFieldWithLongHelperTextDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineLeadingImageArabicSnapshotTests/testTextFieldWithLongHelperTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineLeadingImageArabicSnapshotTests/testTextFieldWithLongHelperText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineLeadingImageArabicSnapshotTests/testTextFieldWithLongInputPlaceholderErrorTextsDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineLeadingImageArabicSnapshotTests/testTextFieldWithLongInputPlaceholderErrorTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineLeadingImageArabicSnapshotTests/testTextFieldWithLongInputPlaceholderErrorTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineLeadingImageArabicSnapshotTests/testTextFieldWithLongInputPlaceholderHelperTextsDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineLeadingImageArabicSnapshotTests/testTextFieldWithLongInputPlaceholderHelperTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineLeadingImageArabicSnapshotTests/testTextFieldWithLongInputPlaceholderHelperTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineLeadingImageArabicSnapshotTests/testTextFieldWithLongInputTextDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineLeadingImageArabicSnapshotTests/testTextFieldWithLongInputTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineLeadingImageArabicSnapshotTests/testTextFieldWithLongInputText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineLeadingImageArabicSnapshotTests/testTextFieldWithLongPlaceholderTextDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineLeadingImageArabicSnapshotTests/testTextFieldWithLongPlaceholderTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineLeadingImageArabicSnapshotTests/testTextFieldWithLongPlaceholderText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineLeadingImageArabicSnapshotTests/testTextFieldWithShortErrorTextDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineLeadingImageArabicSnapshotTests/testTextFieldWithShortErrorTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineLeadingImageArabicSnapshotTests/testTextFieldWithShortErrorText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineLeadingImageArabicSnapshotTests/testTextFieldWithShortHelperTextDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineLeadingImageArabicSnapshotTests/testTextFieldWithShortHelperTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineLeadingImageArabicSnapshotTests/testTextFieldWithShortHelperText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineLeadingImageArabicSnapshotTests/testTextFieldWithShortInputPlaceholderErrorTextsDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineLeadingImageArabicSnapshotTests/testTextFieldWithShortInputPlaceholderErrorTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineLeadingImageArabicSnapshotTests/testTextFieldWithShortInputPlaceholderErrorTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineLeadingImageArabicSnapshotTests/testTextFieldWithShortInputPlaceholderHelperTextsDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineLeadingImageArabicSnapshotTests/testTextFieldWithShortInputPlaceholderHelperTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineLeadingImageArabicSnapshotTests/testTextFieldWithShortInputPlaceholderHelperTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineLeadingImageArabicSnapshotTests/testTextFieldWithShortInputTextDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineLeadingImageArabicSnapshotTests/testTextFieldWithShortInputTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineLeadingImageArabicSnapshotTests/testTextFieldWithShortInputText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineLeadingImageArabicSnapshotTests/testTextFieldWithShortPlaceholderTextDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineLeadingImageArabicSnapshotTests/testTextFieldWithShortPlaceholderTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineLeadingImageArabicSnapshotTests/testTextFieldWithShortPlaceholderText_11_2@2x.png
Labels: PR:merge-when-approved, [Snapshot], [TextFields], [testing], cla: yes, skill:RTL, type:Test

#6124 [TextFields] Drop RTL assert to a log message.
  components/TextFields/tests/snapshot/MDCTextFieldOutlinedControllerBaselineLeadingImageArabicSnapshotTests.m
Labels: [TextFields], [testing], cla: yes, type:Test

#6123 [TextFields] Add underlined Arabic snapshot tests.
  components/TextFields/tests/snapshot/MDCTextFieldUnderlinedControllerLeadingImageArabicSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCTextFieldUnderlinedControllerLeadingImageArabicSnapshotTests/testTextFieldEmptyDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldUnderlinedControllerLeadingImageArabicSnapshotTests/testTextFieldEmptyIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldUnderlinedControllerLeadingImageArabicSnapshotTests/testTextFieldEmpty_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldUnderlinedControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongErrorTextDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldUnderlinedControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongErrorTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldUnderlinedControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongErrorText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldUnderlinedControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongHelperTextDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldUnderlinedControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongHelperTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldUnderlinedControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongHelperText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldUnderlinedControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongInputPlaceholderErrorTextsDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldUnderlinedControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongInputPlaceholderErrorTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldUnderlinedControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongInputPlaceholderErrorTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldUnderlinedControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongInputPlaceholderHelperTextsDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldUnderlinedControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongInputPlaceholderHelperTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldUnderlinedControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongInputPlaceholderHelperTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldUnderlinedControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongInputTextDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldUnderlinedControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongInputTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldUnderlinedControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongInputText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldUnderlinedControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongPlaceholderTextDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldUnderlinedControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongPlaceholderTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldUnderlinedControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongPlaceholderText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldUnderlinedControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortErrorTextDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldUnderlinedControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortErrorTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldUnderlinedControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortErrorText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldUnderlinedControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortHelperTextDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldUnderlinedControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortHelperTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldUnderlinedControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortHelperText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldUnderlinedControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortInputPlaceholderErrorTextsDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldUnderlinedControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortInputPlaceholderErrorTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldUnderlinedControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortInputPlaceholderErrorTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldUnderlinedControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortInputPlaceholderHelperTextsDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldUnderlinedControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortInputPlaceholderHelperTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldUnderlinedControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortInputPlaceholderHelperTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldUnderlinedControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortInputTextDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldUnderlinedControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortInputTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldUnderlinedControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortInputText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldUnderlinedControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortPlaceholderTextDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldUnderlinedControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortPlaceholderTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldUnderlinedControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortPlaceholderText_11_2@2x.png
Labels: [TextFields], [testing], cla: yes, skill:RTL, type:Test

#6119 {kokoro} Remove stale comments from "bazel coverage" job.
  scripts/files_missing_bazel_target
Labels: Scripts, cla: yes, skill:Kokoro, skill:Scripting

#6120 {kokoro} Use external "select_xcode" function.
  .kokoro
Labels: Scripts, cla: yes, skill:Kokoro, skill:Refactoring, skill:Scripting

#6121 [TextFields] Fix RTL code for iOS less than 11.
  components/TextFields/tests/snapshot/supplemental/MDCAbstractTextFieldSnapshotTests+I18N.m
Labels: [Snapshot], [TextFields], cla: yes

#6128 [TextFields] Minor clean-up/refactor of text fields snapshot tests.
  components/TextFields/tests/snapshot/MDCTextFieldFilledControllerLeadingImageSnapshotTests.m
  components/TextFields/tests/snapshot/MDCTextFieldFilledControllerSnapshotTests.m
  components/TextFields/tests/snapshot/MDCTextFieldFilledFloatingControllerBaselineSnapshotTests.m
  components/TextFields/tests/snapshot/MDCTextFieldFilledFloatingControllerLeadingImageSnapshotTests.m
  components/TextFields/tests/snapshot/MDCTextFieldFilledFloatingControllerSnapshotTests.m
  components/TextFields/tests/snapshot/MDCTextFieldFullWidthControllerLeadingImageSnapshotTests.m
Labels: [TextFields], cla: yes, skill:Refactoring, type:Test

#6126 [kokoro] Moving library scripts to `lib` directory.
  .kokoro
  scripts/files_missing_bazel_target
  scripts/lib/github_comments.sh
  scripts/lib/select_xcode.sh
Labels: Scripts, cla: yes, skill:Kokoro, skill:Refactoring, skill:Scripting

#6131 [TextFields] Add pre-verification hook for snapshot tests.
  components/TextFields/tests/snapshot/MDCAbstractTextFieldSnapshotTestsTests.m
  components/TextFields/tests/snapshot/supplemental/MDCAbstractTextFieldSnapshotTests.h
  components/TextFields/tests/snapshot/supplemental/MDCAbstractTextFieldSnapshotTests.m
Labels: [TextFields], [testing], cla: yes, skill:Refactoring, type:Test

#6132 [TextFields] Fixing RTL input text alignment in snapshots.
  components/TextFields/tests/snapshot/MDCTextFieldOutlinedControllerBaselineLeadingImageArabicSnapshotTests.m
  components/TextFields/tests/snapshot/MDCTextFieldUnderlinedControllerLeadingImageArabicSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineLeadingImageArabicSnapshotTests/testTextFieldWithLongInputPlaceholderErrorTextsDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineLeadingImageArabicSnapshotTests/testTextFieldWithLongInputPlaceholderErrorTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineLeadingImageArabicSnapshotTests/testTextFieldWithLongInputPlaceholderErrorTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineLeadingImageArabicSnapshotTests/testTextFieldWithLongInputPlaceholderHelperTextsDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineLeadingImageArabicSnapshotTests/testTextFieldWithLongInputPlaceholderHelperTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineLeadingImageArabicSnapshotTests/testTextFieldWithLongInputPlaceholderHelperTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineLeadingImageArabicSnapshotTests/testTextFieldWithLongInputTextDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineLeadingImageArabicSnapshotTests/testTextFieldWithLongInputTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineLeadingImageArabicSnapshotTests/testTextFieldWithLongInputText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineLeadingImageArabicSnapshotTests/testTextFieldWithShortInputPlaceholderErrorTextsDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineLeadingImageArabicSnapshotTests/testTextFieldWithShortInputPlaceholderErrorTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineLeadingImageArabicSnapshotTests/testTextFieldWithShortInputPlaceholderErrorTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineLeadingImageArabicSnapshotTests/testTextFieldWithShortInputPlaceholderHelperTextsDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineLeadingImageArabicSnapshotTests/testTextFieldWithShortInputPlaceholderHelperTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineLeadingImageArabicSnapshotTests/testTextFieldWithShortInputPlaceholderHelperTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineLeadingImageArabicSnapshotTests/testTextFieldWithShortInputTextDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineLeadingImageArabicSnapshotTests/testTextFieldWithShortInputTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerBaselineLeadingImageArabicSnapshotTests/testTextFieldWithShortInputText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldUnderlinedControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongInputPlaceholderErrorTextsDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldUnderlinedControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongInputPlaceholderErrorTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldUnderlinedControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongInputPlaceholderErrorTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldUnderlinedControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongInputPlaceholderHelperTextsDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldUnderlinedControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongInputPlaceholderHelperTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldUnderlinedControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongInputPlaceholderHelperTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldUnderlinedControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongInputTextDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldUnderlinedControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongInputTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldUnderlinedControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongInputText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldUnderlinedControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortInputPlaceholderErrorTextsDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldUnderlinedControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortInputPlaceholderErrorTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldUnderlinedControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortInputPlaceholderErrorTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldUnderlinedControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortInputPlaceholderHelperTextsDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldUnderlinedControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortInputPlaceholderHelperTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldUnderlinedControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortInputPlaceholderHelperTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldUnderlinedControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortInputTextDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldUnderlinedControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortInputTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldUnderlinedControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortInputText_11_2@2x.png
Labels: [TextFields], cla: yes, skill:RTL, type:Test

#6130 [TextFields] Add Arabic snapshot tests for Filled style.
  components/TextFields/tests/snapshot/MDCTextFieldFilledControllerLeadingImageArabicSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerLeadingImageArabicSnapshotTests/testTextFieldEmptyDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerLeadingImageArabicSnapshotTests/testTextFieldEmptyIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerLeadingImageArabicSnapshotTests/testTextFieldEmpty_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongErrorTextDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongErrorTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongErrorText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongHelperTextDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongHelperTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongHelperText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongInputPlaceholderErrorTextsDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongInputPlaceholderErrorTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongInputPlaceholderErrorTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongInputPlaceholderHelperTextsDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongInputPlaceholderHelperTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongInputPlaceholderHelperTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongInputTextDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongInputTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongInputText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongPlaceholderTextDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongPlaceholderTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongPlaceholderText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortErrorTextDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortErrorTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortErrorText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortHelperTextDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortHelperTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortHelperText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortInputPlaceholderErrorTextsDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortInputPlaceholderErrorTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortInputPlaceholderErrorTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortInputPlaceholderHelperTextsDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortInputPlaceholderHelperTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortInputPlaceholderHelperTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortInputTextDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortInputTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortInputText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortPlaceholderTextDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortPlaceholderTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortPlaceholderText_11_2@2x.png
Labels: PR:merge-when-approved, [TextFields], cla: yes, skill:RTL, type:Test

#6127 [TextFields] Add RTL Arabic snapshots for FullWidth
  components/TextFields/tests/snapshot/MDCTextFieldFullWidthControllerLeadingImageArabicSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerLeadingImageArabicSnapshotTests/testTextFieldEmptyDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerLeadingImageArabicSnapshotTests/testTextFieldEmptyIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerLeadingImageArabicSnapshotTests/testTextFieldEmpty_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongErrorTextDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongErrorTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongErrorText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongHelperTextDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongHelperTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongHelperText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongInputPlaceholderErrorTextsDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongInputPlaceholderErrorTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongInputPlaceholderErrorTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongInputPlaceholderHelperTextsDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongInputPlaceholderHelperTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongInputPlaceholderHelperTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongInputTextDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongInputTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongInputText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongPlaceholderTextDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongPlaceholderTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongPlaceholderText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortErrorTextDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortErrorTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortErrorText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortHelperTextDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortHelperTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortHelperText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortInputPlaceholderErrorTextsDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortInputPlaceholderErrorTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortInputPlaceholderErrorTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortInputPlaceholderHelperTextsDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortInputPlaceholderHelperTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortInputPlaceholderHelperTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortInputTextDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortInputTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortInputText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortPlaceholderTextDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortPlaceholderTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFullWidthControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortPlaceholderText_11_2@2x.png
Labels: PR:merge-when-approved, [TextFields], cla: yes, skill:RTL, type:Test

#6134 {kokoro} Fix `bazel uncovered` script failures due to pushd/popd
  scripts/files_missing_bazel_target
Labels: PR:merge-when-approved, Scripts, cla: yes, skill:Kokoro, skill:Refactoring, skill:Scripting

#6139 [TextFields] Add Filled Floating Arabic RTL snapshot tests
  components/TextFields/tests/snapshot/MDCTextFieldFilledFloatingControllerLeadingImageArabicSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerLeadingImageArabicSnapshotTests/testTextFieldEmptyDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerLeadingImageArabicSnapshotTests/testTextFieldEmptyIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerLeadingImageArabicSnapshotTests/testTextFieldEmpty_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongErrorTextDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongErrorTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongErrorText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongHelperTextDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongHelperTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongHelperText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongInputPlaceholderErrorTextsDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongInputPlaceholderErrorTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongInputPlaceholderErrorTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongInputPlaceholderHelperTextsDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongInputPlaceholderHelperTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongInputPlaceholderHelperTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongInputTextDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongInputTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongInputText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongPlaceholderTextDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongPlaceholderTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerLeadingImageArabicSnapshotTests/testTextFieldWithLongPlaceholderText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortErrorTextDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortErrorTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortErrorText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortHelperTextDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortHelperTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortHelperText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortInputPlaceholderErrorTextsDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortInputPlaceholderErrorTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortInputPlaceholderErrorTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortInputPlaceholderHelperTextsDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortInputPlaceholderHelperTextsIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortInputPlaceholderHelperTexts_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortInputTextDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortInputTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortInputText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortPlaceholderTextDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortPlaceholderTextIsEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledFloatingControllerLeadingImageArabicSnapshotTests/testTextFieldWithShortPlaceholderText_11_2@2x.png
Labels: [TextFields], cla: yes, skill:RTL, type:Test

#6140 [TextFields] Add Cyrillic, Hindi, Korean helpers for snapshot tests.
  components/TextFields/tests/snapshot/supplemental/MDCAbstractTextFieldSnapshotTests+I18N.h
  components/TextFields/tests/snapshot/supplemental/MDCAbstractTextFieldSnapshotTests+I18N.m
  components/TextFields/tests/snapshot/supplemental/MDCTextFieldSnapshotTestsStrings.h
Labels: [TextFields], [testing], cla: yes, type:Internationalization, type:Test

#6142 [TextFields] Fixing some compiler warnings.
  components/TextFields/tests/snapshot/MDCTextFieldFilledFloatingControllerBaselineSnapshotTests.m
  components/TextFields/tests/snapshot/MDCTextFieldFilledFloatingControllerLeadingImageSnapshotTests.m
  components/TextFields/tests/snapshot/supplemental/SnapshotFakeMDCMultilineTextField.h
  components/TextFields/tests/snapshot/supplemental/SnapshotFakeMDCMultilineTextField.m
Labels: [TextFields], [testing], cla: yes, type:Internal cleanup, type:Test

#6144 {kokoro} Exclude `Snapshot` component from coverage.
  scripts/files_missing_bazel_target
Labels: cla: yes, skill:Kokoro, skill:Scripting

#6138 [Snapshot] Move files to src
  MaterialComponentsSnapshotTests.podspec
  components/private/Snapshot/src/MDCSnapshotTestCase.h
  components/private/Snapshot/src/MDCSnapshotTestCase.m
  components/private/Snapshot/src/MaterialSnapshot.h
  components/private/Snapshot/src/UIView+MDCSnapshot.h
  components/private/Snapshot/src/UIView+MDCSnapshot.m
Labels: [Snapshot], [private], cla: yes

#6148 [Catalog] {Xcode} Execute snapshot tests in parallel on Xcode 10
  catalog/MDCCatalog.xcodeproj/xcshareddata/xcschemes/MDCCatalog.xcscheme
  catalog/MDCDragons.xcodeproj/xcshareddata/xcschemes/MDCDragons.xcscheme
Labels: [Catalog], cla: yes, type:Internal cleanup

#6143 [Slider] Deflake unit tests.
  components/Slider/tests/unit/SliderTests.m
Labels: Flaky, [Slider], [testing], cla: yes, type:Test
