Repository material-components/material-components-ios, pull requests merged in 2018-02, with the labels that each got.

#2920 [TextFields] Correcting color themer
  components/TextFields/src/ColorThemer/MDCTextFieldColorThemer.m
Labels: cla: yes, where:TextField

#2919 [BottomNavigation] Handle KVO NSNull parameter
  components/BottomNavigation/examples/BottomNavigationNilBadges.swift
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
Labels: cla: yes, where:BottomNavigation

#2921 [Dialogs] Temporarily revert MMotion
  MaterialComponents.podspec
  components/Dialogs/examples/DialogsKeyboardViewController.m
  components/Dialogs/examples/DialogsTypicalUseViewController.m
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/src/MDCDialogPresentationController.m
  components/Dialogs/src/MDCDialogTransition.h
  components/Dialogs/src/MDCDialogTransition.m
  components/Dialogs/src/MDCDialogTransitionController.m
  components/Dialogs/src/MaterialDialogs.h
  components/Dialogs/src/private/MDCDialogShadowedView.h
  components/Dialogs/src/private/MDCDialogShadowedView.m
  components/Dialogs/src/private/MDCDialogTransitionMotionSpec.h
  components/Dialogs/src/private/MDCDialogTransitionMotionSpec.m
  components/Dialogs/tests/unit/MDCAlertControllerTests.m
Labels: cla: yes, where:Dialogs

#2925 [TextFields] Converting NSCoding to NSSecureCoding
  components/TextFields/src/MDCTextInputController.h
  components/TextFields/src/MDCTextInputControllerBase.m
  components/TextFields/src/MDCTextInputControllerFullWidth.m
  components/TextFields/src/MDCTextInputControllerLegacyDefault.m
  components/TextFields/src/MDCTextInputControllerLegacyFullWidth.m
  components/TextFields/src/MDCTextInputUnderlineView.h
  components/TextFields/src/MDCTextInputUnderlineView.m
  components/TextFields/src/private/MDCTextInputCommonFundament.h
  components/TextFields/src/private/MDCTextInputCommonFundament.m
Labels: cla: yes, where:TextField

#2912 [CollectionCells] Support images larger than 40x40 in MDCCollectionViewTextCell
  components/CollectionCells/src/MDCCollectionViewTextCell.m
Labels: cla: yes, where:Collections

#2933 [Warnings Fix] Block implicitly retains 'self'; explicitly mention 'self' to indicate this is intended behavior.
  components/ActivityIndicator/src/MDCActivityIndicator.m
  components/BottomAppBar/src/MDCBottomAppBarView.m
  components/BottomSheet/src/MDCBottomSheetPresentationController.m
  components/ButtonBar/src/MDCButtonBar.m
  components/Buttons/src/MDCButton.m
  components/Chips/src/MDCChipCollectionViewCell.m
  components/CollectionCells/src/MDCCollectionViewCell.m
  components/Collections/src/private/MDCCollectionInfoBarView.m
  components/Collections/src/private/MDCCollectionViewEditor.m
  components/Collections/src/private/MDCCollectionViewStyler.m
  components/FeatureHighlight/src/MDCFeatureHighlightViewController.m
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
  components/FlexibleHeader/src/private/MDCStatusBarShifter.m
  components/Ink/src/MDCInkTouchController.m
  components/Ink/src/private/MDCInkLayer.m
  components/MaskedTransition/src/MDCMaskedTransition.m
  components/NavigationBar/src/MDCNavigationBar.m
  components/PageControl/src/MDCPageControl.m
  components/PageControl/src/private/MDCPageControlTrackLayer.m
  components/Snackbar/src/private/MDCSnackbarOverlayView.m
  components/Tabs/src/MDCTabBarViewController.m
  components/Tabs/src/private/MDCItemBar.m
  components/Tabs/src/private/MDCItemBarCell.m
  components/private/ThumbTrack/src/MDCThumbTrack.m
Labels: cla: yes

#2928 [MDCTonalPalette] Adding NSSecureCoding. #2904
  components/Themes/src/MDCTonalPalette.h
  components/Themes/src/MDCTonalPalette.m
  components/Themes/tests/unit/MDCTonalPaletteTests.m
  components/Themes/tests/unit/MaterialThemesTests.m
Labels: cla: yes

#2941 [BottomNavigation] Remove MaterialMath import
  components/BottomNavigation/src/MDCBottomNavigationBar.m
Labels: cla: yes, type:Internal cleanup, where:BottomNavigation

#2924 [ActivityIndicator] Add setProgress:animated:
  components/ActivityIndicator/src/MDCActivityIndicator.h
  components/ActivityIndicator/src/MDCActivityIndicator.m
  components/ActivityIndicator/tests/unit/ActivityIndicatorTests.m
Labels: cla: yes, where:ActivityIndicator

#2955 [Collections] Adding comment from .h to also the .m
  components/Collections/src/MDCCollectionViewController.m
Labels: cla: yes, where:Collections

#2950 [TextFields] Fix README.md to use MDCTextInputControllerUnderline instead of MDCTextInputControllerDefault.
  components/TextFields/README.md
Labels: cla: yes, where:TextField

#2954 Fixing Implicit Self inside blocks.
  components/ActivityIndicator/examples/ActivityIndicatorTransitionExample.m
  components/PageControl/examples/PageControlAnimationBlockExample.m
Labels: cla: yes

#2961 [CocoaPods] adding the framework search paths to the runpath search paths to fix IB_DESIGNABLE auto layout rendering errors
  catalog/Podfile
Labels: cla: yes

#2964 [Kokoro] Fix local kokoro warnings and errors
  components/Buttons/BUILD
  components/Themes/BUILD
  components/Themes/tests/unit/MDCTonalPaletteTests.m
Labels: cla: yes

#2967 [TextFields] Updating cursor color for state.
  components/TextFields/src/MDCTextInputControllerBase.m
  components/TextFields/src/MDCTextInputControllerLegacyDefault.m
  components/TextFields/tests/unit/MultilineTextFieldTests.swift
  components/TextFields/tests/unit/UIColor+ForcedFloatComparison.swift
Labels: cla: yes, where:TextField

#2960 [ShadowLayer] Document default elevation of 0
  components/ShadowLayer/README.md
  components/ShadowLayer/src/MDCShadowLayer.h
  components/ShadowLayer/tests/unit/ShadowLayerTests.m
Labels: cla: yes, type:Documentation, where:ShadowLayer

#2959 [MDCAppBar]Support NSSecureCoding for App bar.
  components/AppBar/src/MDCAppBar.h
  components/AppBar/src/MDCAppBar.m
  components/AppBar/tests/unit/AppBarEncodingTests.swift
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
  components/FlexibleHeader/src/MDCFlexibleHeaderViewController.m
  components/HeaderStackView/src/MDCHeaderStackView.m
  components/NavigationBar/src/MDCNavigationBar.m
Labels: cla: yes

#2976 [MDCButtonBar] add NSSecureCoding.
  components/ButtonBar/src/MDCButtonBar.m
  components/ButtonBar/tests/unit/ButtonBarCodingTests.m
  components/Buttons/src/MDCButton.m
  components/Buttons/src/MDCFloatingButton.m
Labels: cla: yes, where:ButtonBar

#2978 Fix new collaborator issues link
  contributing/README.md
Labels: cla: yes, type:Documentation

#2984 [MDCCard] NSSecureCoding support.
  components/Cards/src/MDCCard.m
  components/Cards/src/MDCCardCollectionCell.m
Labels: cla: yes

#2973 [MDCBottomNavigationBar] NSSecureCoding.
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/src/private/MDCBottomNavigationItemBadge.m
  components/Ink/src/MDCInkView.m
Labels: cla: yes

#2989 [TextFields] Updating placeholder constraints more often
  components/TextFields/src/private/MDCTextInputCommonFundament.m
Labels: cla: yes, where:TextField

#2990 [Textfields] Completing secure coding for all MDCTextfield and properties of it.
  components/TextFields/src/MDCTextField.m
  components/TextFields/src/MDCTextInputBorderView.m
  components/TextFields/src/private/MDCTextInputCommonFundament.m
Labels: cla: yes

#2993 [Chips] NSSecureCoding
  components/Chips/src/MDCChipView.m
Labels: cla: yes

#3005 [SnackbarExamples] Added required super call
  components/Snackbar/examples/SnackbarOverlayViewExample.m
Labels: cla: yes

#3006 [ActivityIndicator] Fixed ActivityIndicatorTests#testSetProgressStrokeAnimated test
  components/ActivityIndicator/tests/unit/ActivityIndicatorTests.m
Labels: cla: yes

#2956 [Ink] New bounded ink should ignore maxRippleRadius property
  components/Ink/src/MDCInkView.m
  components/Ink/tests/unit/MDCInkViewTests.m
Labels: cla: yes, where:Ink

#3014 [CodeOwners] Adding Text Fields
  CODEOWNERS
Labels: cla: yes, type:Documentation

#3015 [BottomNavigation] Fix OS version check
  components/BottomNavigation/src/MDCBottomNavigationBar.m
Labels: cla: yes, type:Internal cleanup, where:BottomNavigation

#3017 [BottomNavigation] Fix memory leak in example
  components/BottomNavigation/examples/BottomNavigationTypicalUseExample.m
Labels: cla: yes, type:Bug, where:BottomNavigation

#3018 [FeatureHighlight] Remove use of __typeof__
  components/FeatureHighlight/src/MDCFeatureHighlightViewController.m
Labels: cla: yes, type:Internal cleanup, where:FeatureHighlight
