Repository material-components/material-components-ios, pull requests merged in 2018-04, with the labels that each got.

#3070 Convert MaskedTransition from a MotionTransitioning Transition type to a vanilla UIKit type
  components/MaskedTransition/examples/MaskedTransitionTypicalUse.swift
  components/MaskedTransition/src/MDCMaskedTransition.m
  components/MaskedTransition/src/MDCMaskedTransitionController.h
  components/MaskedTransition/src/MDCMaskedTransitionController.m
  components/MaskedTransition/src/MaterialMaskedTransition.h
  components/MaskedTransition/src/private/MDCMaskedPresentationController.h
  components/MaskedTransition/src/private/MDCMaskedPresentationController.m
  components/MaskedTransition/src/private/MDCMaskedTransition.h
  components/MaskedTransition/src/private/MDCMaskedTransition.m
  components/MaskedTransition/src/private/MDCMaskedTransitionMotionForContext.h
  components/MaskedTransition/src/private/MDCMaskedTransitionMotionForContext.m
  components/MaskedTransition/src/private/MDCMaskedTransitionMotionSpecs.h
  components/MaskedTransition/src/private/MDCMaskedTransitionMotionSpecs.m
  components/MaskedTransition/tests/unit/MaskedTransitionNoopTest.m
Labels: cla: yes, where:MaskedTransition

#3211 [Catalog] Make the catalog's color scheme a static on AppDelegate.
  catalog/MDCCatalog/AppDelegate.swift
  catalog/MDCCatalog/MDCCatalogComponentsController.swift
  catalog/MDCCatalog/MDCCatalogTileView.swift
  catalog/MDCCatalog/MDCNodeListViewController.swift
Labels: cla: yes

#3210 [AppBar] Color Themer now composes to the FlexibleHeader and NavigationBar color themers.
  .kokoro
  components/AppBar/BUILD
  components/AppBar/src/ColorThemer/MDCAppBarColorThemer.m
  components/AppBar/tests/unit/AppBarColorThemerTests.swift
Labels: cla: yes

#3212 [Catalog] Remove all references to UIAppearance.
  catalog/MDCCatalog/AppDelegate.swift
  catalog/MDCCatalog/MDCNodeListViewController.swift
Labels: cla: yes, where:Catalog

#3213 [Catalog] Remove the global theme change notifications.
  catalog/MDCCatalog/MDCCatalogComponentsController.swift
  components/Themes/examples/ThemerCustomSchemePickerController.m
  components/Themes/examples/ThemerTypicalUseViewController.m
Labels: cla: yes, where:Catalog

#3225 Revert "[FlexibleHeader] Fix bug where shadow layer's opacity wouldn't be set without a tracking scroll view. (#3201)"
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
Labels: cla: yes, type:Visual bug, where:FlexibleHeader

#3229 Revert "Revert "[FlexibleHeader] Fix bug where shadow layer's opacity wouldn't be set without a tracking scroll view. (#3201)""
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
Labels: cla: yes

#3230 Revert "[FlexibleHeader] Fix bug where shadow layer's opacity wouldn't be set without a tracking scroll view. (#3201)"
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
Labels: cla: yes, type:Visual bug, where:FlexibleHeader

#3231 Revert "[FeatureHighlight] FeatureHighlightViewController should expose FeatureHighlightView as a property. (#3145)"
  components/FeatureHighlight/examples/FeatureHighlightColorExample.m
  components/FeatureHighlight/examples/FeatureHighlightTypicalUseViewController.m
  components/FeatureHighlight/src/FeatureHighlightAccessibilityMutator/MDCFeatureHighlightAccessibilityMutator.m
  components/FeatureHighlight/src/MDCFeatureHighlightViewController.h
  components/FeatureHighlight/src/MDCFeatureHighlightViewController.m
  components/FeatureHighlight/src/private/MDCFeatureHighlightView+Private.m
  components/FeatureHighlight/tests/unit/FeatureHighlightCustomFontTest.m
Labels: cla: yes, where:FeatureHighlight

#3217 [MDCNavigationBar] Exposing typography API.
  components/NavigationBar/src/MDCNavigationBar.h
  components/NavigationBar/src/MDCNavigationBar.m
  components/NavigationBar/tests/unit/NavigationBarTests.m
Labels: cla: yes, where:NavigationBar, where:Typography

#3232 [TextFields] Reverting textInputFont property on inputController.
  components/TextFields/examples/TextFieldCustomFontExample.m
  components/TextFields/src/MDCTextInputController.h
  components/TextFields/src/MDCTextInputControllerBase.m
  components/TextFields/src/MDCTextInputControllerFullWidth.m
Labels: cla: yes, where:TextField, where:Typography

#3214 [Catalog] Implement an app-wide theme system.
  catalog/MDCCatalog.xcodeproj/project.pbxproj
  catalog/MDCCatalog/AppDelegate.swift
  catalog/MDCCatalog/AppTheme.swift
  catalog/MDCCatalog/MDCCatalogComponentsController.swift
  catalog/MDCCatalog/MDCCatalogTileView.swift
  catalog/MDCCatalog/MDCNodeListViewController.swift
  catalog/MDCCatalog/MDCThemePickerViewController.swift
Labels: cla: yes, where:Catalog

#3234 [Color] Reduce the public API contract for MDCSemanticColorScheme.
  components/schemes/Color/src/MDCSemanticColorScheme.h
  components/schemes/Color/src/MDCSemanticColorScheme.m
  components/schemes/Color/tests/unit/MDCSemanticColorSchemeTests.m
Labels: cla: yes

#3239 [TextFields] Restore Dynamic Type to textInput
  components/TextFields/src/MDCTextInputControllerBase.m
Labels: cla: yes, where:TextField

#3223 [Snackbar] Removed dependency on UIAppearance entirely for color/font customization/theming.
  components/Snackbar/examples/SnackbarSimpleExample.m
  components/Snackbar/src/FontThemer/MDCSnackbarFontThemer.h
  components/Snackbar/src/FontThemer/MDCSnackbarFontThemer.m
  components/Snackbar/src/MDCSnackbarManager.h
  components/Snackbar/src/MDCSnackbarManager.m
  components/Snackbar/src/MDCSnackbarMessageView.m
  components/Snackbar/tests/unit/MDCSnackbarFontThemerTests.m
Labels: cla: yes, where:Snackbar

#3215 [Cards] Added Shapes support for MDCCard and MDCCardCollectionCell + 2 Examples
  components/Cards/BUILD
  components/Cards/examples/EditReorderShapedCollectionViewController.swift
  components/Cards/examples/ShapedCardViewController.swift
  components/Cards/src/MDCCard.h
  components/Cards/src/MDCCard.m
  components/Cards/src/MDCCardCollectionCell.h
  components/Cards/src/MDCCardCollectionCell.m
  components/Ink/src/MDCInkView.m
  components/private/ShapeLibrary/src/MDCCutCornerTreatment.h
  components/private/ShapeLibrary/src/MDCCutCornerTreatment.m
  components/private/ShapeLibrary/src/MaterialShapeLibrary.h
  components/private/Shapes/src/MDCShapedShadowLayer.h
  components/private/Shapes/src/MDCShapedShadowLayer.m
Labels: cla: yes, where:Cards, where:Shapes

#3241 Revert "[AppBar] Make MDCNavigationBar and MDCButtonBar size dynamically (#2974)"
  components/ButtonBar/src/MDCButtonBar.m
  components/NavigationBar/src/MDCNavigationBar.m
Labels: cla: yes, where:ButtonBar, where:NavigationBar

#3236 [FlexibleHeader] Implement a color themer API with the new MDCColorScheming type.
  MaterialComponents.podspec
  components/FlexibleHeader/BUILD
  components/FlexibleHeader/src/ColorThemer/MDCFlexibleHeaderColorThemer.h
  components/FlexibleHeader/src/ColorThemer/MDCFlexibleHeaderColorThemer.m
  components/FlexibleHeader/tests/unit/FlexibleHeaderColorThemerTests.swift
Labels: cla: yes, where:FlexibleHeader

#3237 [Color] Remove straggling reference to NSCoding.
  components/schemes/Color/src/MDCSemanticColorScheme.h
Labels: cla: yes

#3242 [Typography] Fix build breakage due to missing implementation of MDCBasicFontScheme
  components/schemes/Typography/src/MDCFontScheme.m
Labels: cla: yes, priority:high, where:Typography

#3256 Revert "[Typography] Migrate from FontScheme to TypographyScheming (#3219)"
  MaterialComponents.podspec
  components/Chips/src/FontThemer/MDCChipViewFontThemer.h
  components/Chips/src/FontThemer/MDCChipViewFontThemer.m
  components/Chips/tests/unit/ChipViewFontThemerTests.m
  components/FeatureHighlight/examples/FeatureHighlightThemerExample.m
  components/FeatureHighlight/src/FontThemer/MDCFeatureHighlightFontThemer.h
  components/FeatureHighlight/src/FontThemer/MDCFeatureHighlightFontThemer.m
  components/Snackbar/src/FontThemer/MDCSnackbarFontThemer.h
  components/Snackbar/src/FontThemer/MDCSnackbarFontThemer.m
  components/Snackbar/tests/unit/MDCSnackbarFontThemerTests.m
  components/Tabs/src/FontThemer/MDCTabBarFontThemer.h
  components/Tabs/src/FontThemer/MDCTabBarFontThemer.m
  components/Tabs/tests/unit/MDCTabBarFontThemerTests.m
  components/TextFields/src/FontThemer/MDCTextFieldFontThemer.h
  components/TextFields/src/FontThemer/MDCTextFieldFontThemer.m
  components/TextFields/tests/unit/TextFieldsFontThemerTests.m
  components/Themes/BUILD
  components/Themes/src/MDCFontScheme.h
  components/Themes/src/MDCFontScheme.m
  components/Themes/src/MaterialThemes.h
  components/schemes/Typography/BUILD
  components/schemes/Typography/src/MDCTypographyScheme.h
  components/schemes/Typography/src/MDCTypographyScheme.m
  components/schemes/Typography/src/MaterialTypographyScheme.h
  components/schemes/Typography/tests/unit/MDCTypographySchemeTests.m
Labels: cla: yes

#3246 [Color] Implement a swift-friendly API for color scheme defaults.
  components/schemes/Color/src/MDCSemanticColorScheme.h
  components/schemes/Color/src/MDCSemanticColorScheme.m
  components/schemes/Color/tests/unit/MDCSemanticColorSchemeTests.m
Labels: cla: yes

#3252 [ButtonBar] Implement new semantic color scheme themer APIs.
  components/ButtonBar/examples/ButtonBarTypicalUseExample.m
  components/ButtonBar/examples/ButtonBarTypicalUseExample.swift
  components/ButtonBar/src/ColorThemer/MDCButtonBarColorThemer.h
  components/ButtonBar/src/ColorThemer/MDCButtonBarColorThemer.m
Labels: cla: yes, where:ButtonBar

#3262 [kokoro] Disable verbose output on bazel builds.
  .kokoro
Labels: cla: yes, where:kokoro

#3263 [kokoro] Don't upgrade the bazel installation.
  .kokoro
Labels: cla: yes, where:kokoro

#3265 [ButtonBar] Update documentation for the themer.
  components/ButtonBar/src/ColorThemer/MDCButtonBarColorThemer.h
Labels: cla: yes, where:ButtonBar

#3238 [kokoro] Add support for running individual xcode instances
  .kokoro
Labels: cla: yes, where:kokoro

#3266 [NavigationBar] Add an API for customizing the title label's text color.
  components/NavigationBar/src/MDCNavigationBar.h
  components/NavigationBar/src/MDCNavigationBar.m
Labels: cla: yes, where:NavigationBar

#3255 [TextFields] Adding Color Themer.
  components/TextFields/examples/TextFieldFilledExample.swift
  components/TextFields/src/ColorThemer/MDCTextFieldColorThemer.h
  components/TextFields/src/ColorThemer/MDCTextFieldColorThemer.m
  components/TextFields/tests/unit/TextFieldColorThemerTests.m
Labels: cla: yes, where:TextField

#3271 Fix build breakages detected by internal build infra
  catalog/MDCCatalog/AppTheme.swift
  catalog/MDCCatalog/MDCNodeListViewController.swift
  catalog/MDCCatalog/MDCThemePickerViewController.swift
Labels: cla: yes

#3269 [FeatureHighlight] Simplifying UpdateTitleFont and UpdateBodyFont.
  components/FeatureHighlight/src/private/MDCFeatureHighlightView+Private.m
Labels: cla: yes, type:Internal cleanup, where:FeatureHighlight

#3279 Fix CocoaPods build failure due to duplicate header names.
  components/schemes/Color/src/MDCLegacyColorScheme.h
  components/schemes/Color/src/MDCLegacyColorScheme.m
  components/schemes/Color/src/MDCLegacyTonalColorScheme.h
  components/schemes/Color/src/MDCLegacyTonalColorScheme.m
  components/schemes/Color/src/MDCLegacyTonalPalette.h
  components/schemes/Color/src/MDCLegacyTonalPalette.m
  components/schemes/Color/src/MaterialColorScheme.h
  components/schemes/Typography/src/MDCLegacyFontScheme.h
  components/schemes/Typography/src/MDCLegacyFontScheme.m
  components/schemes/Typography/src/MaterialTypographyScheme.h
Labels: cla: yes

#3280 [Catalog] Use the Material components colors for the app's color scheme values.
  catalog/MDCCatalog/AppTheme.swift
Labels: cla: yes, where:Catalog

#3288 [Snackbar] Implement a typography themer.
  .kokoro
  MaterialComponents.podspec
  components/Snackbar/BUILD
  components/Snackbar/examples/supplemental/SnackbarExampleSupplemental.m
  components/Snackbar/src/FontThemer/MDCSnackbarFontThemer.h
  components/Snackbar/src/TypographyThemer/MDCSnackbarTypographyThemer.h
  components/Snackbar/src/TypographyThemer/MDCSnackbarTypographyThemer.m
  components/Snackbar/tests/unit/MDCSnackbarTypographyThemerTests.swift
Labels: cla: yes, where:Snackbar

#3290 [Ink] Fix flaky test
  components/Ink/tests/unit/MDCInkLayerTests.m
Labels: cla: yes, where:Ink

#3282 [Dialogs] Loading the view manually caused view did load not to be called. (Release Candidate)
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/tests/unit/MDCAlertControllerTests.m
Labels: cla: yes, is:Blocking next release, priority:fixnow, where:Dialogs

#3267 [NavigationBar] Implement a semantic color scheme color themer API.
  MaterialComponents.podspec
  components/NavigationBar/BUILD
  components/NavigationBar/examples/NavigationBarIconsExample.m
  components/NavigationBar/examples/NavigationBarLayoutExample.m
  components/NavigationBar/examples/NavigationBarRTLIcons.m
  components/NavigationBar/examples/NavigationBarTypicalUseExample.m
  components/NavigationBar/examples/NavigationBarTypicalUseExample.swift
  components/NavigationBar/examples/NavigationBarWithBarItemsExample.m
  components/NavigationBar/examples/NavigationbarWithCustomFont.m
  components/NavigationBar/src/ColorThemer/MDCNavigationBarColorThemer.h
  components/NavigationBar/src/ColorThemer/MDCNavigationBarColorThemer.m
  components/NavigationBar/tests/unit/NavigationBarColorThemerTests.swift
Labels: cla: yes

#3281 [Dialogs] Loading the view manually caused view did load not to be called.
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/tests/unit/MDCAlertControllerTests.m
Labels: cla: yes, priority:high, where:Dialogs

#3293 Update xcode projects with CocoaPods 1.5.0.
  catalog/MDCCatalog.xcodeproj/project.pbxproj
  catalog/MDCDragons.xcodeproj/project.pbxproj
  catalog/MDCUnitTests.xcodeproj/project.pbxproj
Labels: cla: yes

#3296 Add a stories command to the release tool.
  scripts/release
Labels: cla: yes

#3292 [Slider] Fix green Slider example color
  components/Slider/examples/SliderCollectionViewController.m
Labels: cla: yes, where:Slider

#3268 [FeatureHighlight] Implementation of Typography Themer.
  MaterialComponents.podspec
  components/FeatureHighlight/BUILD
  components/FeatureHighlight/examples/FeatureHighlightTypicalUseViewController.m
  components/FeatureHighlight/src/FontThemer/MDCFeatureHighlightFontThemer.h
  components/FeatureHighlight/src/TypographyThemer/MDCFeatureHighlightTypographyThemer.h
  components/FeatureHighlight/src/TypographyThemer/MDCFeatureHighlightTypographyThemer.m
  components/FeatureHighlight/tests/unit/FeatureHighlightTypographyThemerTests.m
Labels: cla: yes, where:FeatureHighlight, where:Typography

#3302 [Dialogs] Implement MDCAlertController typography themer.
  MaterialComponents.podspec
  components/Dialogs/BUILD
  components/Dialogs/examples/DialogsAlertViewController.m
  components/Dialogs/src/TypographyThemer/MDCAlertTypographyThemer.h
  components/Dialogs/src/TypographyThemer/MDCAlertTypographyThemer.m
  components/Dialogs/tests/unit/MDCAlertControllerTypographyThemerTests.m
Labels: cla: yes

#3272 [TextFields] expose input text font property on controller.
  components/TextFields/examples/TextFieldCustomFontExample.m
  components/TextFields/src/MDCTextInputController.h
  components/TextFields/src/MDCTextInputControllerBase.m
  components/TextFields/src/MDCTextInputControllerFullWidth.m
Labels: cla: yes, where:TextField, where:Typography

#3261 [ActivityIndicator] Update accessibility label and value
  components/ActivityIndicator/src/MDCActivityIndicator.m
  components/ActivityIndicator/src/MaterialActivityIndicator.bundle/Resources/en.lproj/MaterialActivityIndicator.strings
  components/ActivityIndicator/src/private/MaterialActivityIndicatorStrings.h
  components/ActivityIndicator/src/private/MaterialActivityIndicatorStrings_table.h
Labels: cla: yes

#3259 [ActivityIndicator] Update Color Themer
  MaterialComponents.podspec
  components/ActivityIndicator/BUILD
  components/ActivityIndicator/src/ColorThemer/MDCActivityIndicatorColorThemer.h
  components/ActivityIndicator/src/ColorThemer/MDCActivityIndicatorColorThemer.m
  components/ActivityIndicator/tests/unit/ActivityIndicatorColorThemerTests.swift
Labels: cla: yes

#3299 Forcing Font size now does save the right FontName for every case.
  components/NavigationBar/src/MDCNavigationBar.m
  components/NavigationBar/tests/unit/NavigationBarTests.m
Labels: cla: yes, where:NavigationBar

#3283 [AppBar] Implement semantic color themer.
  components/AppBar/examples/AppBarDelegateForwardingExample.m
  components/AppBar/examples/AppBarDelegateForwardingExample.swift
  components/AppBar/examples/AppBarImageryExample.m
  components/AppBar/examples/AppBarImageryExample.swift
  components/AppBar/examples/AppBarInterfaceBuilderExampleController.m
  components/AppBar/examples/AppBarInterfaceBuilderExampleController.swift
  components/AppBar/examples/AppBarModalPresentationExample.m
  components/AppBar/examples/AppBarModalPresentationExample.swift
  components/AppBar/examples/AppBarSectionHeadersExample.m
  components/AppBar/examples/AppBarTypicalUseExample.m
  components/AppBar/examples/AppBarTypicalUseExample.swift
  components/AppBar/examples/AppBarWithUITableViewController.swift
  components/AppBar/src/ColorThemer/MDCAppBarColorThemer.h
  components/AppBar/src/ColorThemer/MDCAppBarColorThemer.m
Labels: cla: yes, where:App Bar

#3291 [ThumbTrack] Refactoring to open the API
  MaterialComponents.podspec
  components/private/ThumbTrack/BUILD
  components/private/ThumbTrack/src/MDCThumbTrack.h
  components/private/ThumbTrack/src/MDCThumbTrack.m
  components/private/ThumbTrack/src/private/MDCThumbTrack+Private.h
  components/private/ThumbTrack/tests/unit/ThumbTrackTests.m
Labels: cla: yes, where:ThumbTrack (private)

#3306 [Buttons] Implement a semantic color scheme color themer API.
  MaterialComponents.podspec
  components/Buttons/BUILD
  components/Buttons/examples/ButtonsTypicalUse.m
  components/Buttons/src/ColorThemer/MDCButtonColorThemer.h
  components/Buttons/src/ColorThemer/MDCButtonColorThemer.m
  components/Buttons/tests/unit/ButtonsColorThemerTests.m
Labels: cla: yes, where:Buttons

#3304 [NavigationBar] typography implementation.
  MaterialComponents.podspec
  components/NavigationBar/BUILD
  components/NavigationBar/examples/NavigationBarIconsExample.m
  components/NavigationBar/src/TypographyThemer/MDCNavigationBarTypographyThemer.h
  components/NavigationBar/src/TypographyThemer/MDCNavigationBarTypographyThemer.m
  components/NavigationBar/tests/unit/NavigationBarTests.m
Labels: cla: yes, where:NavigationBar, where:Typography

#3301 [kokoro] Add CocoaPods support for specific Xcode jobs + podspec validation
  .kokoro
  .travis.yml
Labels: cla: yes

#3314 [travis] Use verbose output when linting our podspec.
  .travis.yml
Labels: cla: yes

#3311 [BottomNavigationBar] Typography Implementation.
  MaterialComponents.podspec
  components/BottomNavigation/BUILD
  components/BottomNavigation/examples/BottomNavigationTypicalUseExample.m
  components/BottomNavigation/src/TypographyThemer/MDCBottomNavigationBarTypographyThemer.h
  components/BottomNavigation/src/TypographyThemer/MDCBottomNavigationBarTypographyThemer.m
  components/BottomNavigation/tests/unit/BottomNavigationTypographyThemerTests.m
Labels: cla: yes, where:BottomNavigation, where:Typography

#3257 [Catalog] Ensure the mdc icon fades out before crossing status bar
  catalog/MDCCatalog/MDCCatalogComponentsController.swift
Labels: cla: yes

#3254 [FlexibleHeader] Fix Configurator catalog example
  components/FlexibleHeader/examples/supplemental/FlexibleHeaderConfiguratorSupplemental.m
Labels: cla: yes, where:FlexibleHeader

#3303 [TextFields] Typography Themer implementation.
  MaterialComponents.podspec
  components/TextFields/BUILD
  components/TextFields/examples/TextFieldFilledExample.swift
  components/TextFields/src/TypographyThemer/MDCTextFieldTypographyThemer.h
  components/TextFields/src/TypographyThemer/MDCTextFieldTypographyThemer.m
  components/TextFields/tests/unit/TextFieldTypographyThemer.m
Labels: cla: yes, where:TextField, where:Typography

#3312 [Chips] typography implementation.
  MaterialComponents.podspec
  components/Chips/BUILD
  components/Chips/examples/ChipsTypicalUseViewController.m
  components/Chips/src/TypographyThemer/MDCChipViewTypographyThemer.h
  components/Chips/src/TypographyThemer/MDCChipViewTypographyThemer.m
  components/Chips/tests/unit/ChipViewTypographyThemerTests.m
Labels: cla: yes, where:Chips, where:Typography

#3287 [Snackbar] Implement a semantic color scheme color themer API.
  MaterialComponents.podspec
  components/Snackbar/BUILD
  components/Snackbar/examples/supplemental/SnackbarExampleSupplemental.m
  components/Snackbar/src/ColorThemer/MDCSnackbarColorThemer.h
  components/Snackbar/src/ColorThemer/MDCSnackbarColorThemer.m
  components/Snackbar/tests/unit/MDCSnackbarColorThemerTests.swift
Labels: cla: yes, where:Snackbar

#3317 [kokoro] Add a cocoapods linter job target.
  .kokoro
Labels: cla: yes

#3318 [Buttons] Implement a typography themer.
  MaterialComponents.podspec
  components/Buttons/BUILD
  components/Buttons/examples/ButtonsTypicalUse.m
  components/Buttons/src/TypographyThemer/MDCButtonTypographyThemer.h
  components/Buttons/src/TypographyThemer/MDCButtonTypographyThemer.m
  components/Buttons/tests/unit/ButtonTypographyThemerTests.m
Labels: cla: yes, where:Buttons

#3308 [Buttons] Implement a color themer for an MDCFlatButton
  components/Buttons/examples/ButtonsTypicalUse.m
  components/Buttons/src/ColorThemer/MDCButtonColorThemer.h
  components/Buttons/src/ColorThemer/MDCButtonColorThemer.m
  components/Buttons/tests/unit/ButtonsColorThemerTests.m
Labels: cla: yes, where:Buttons

#3323 [travis] Remove pod lib lint step.
  .travis.yml
Labels: cla: yes

#3322 [ThumbTrack] Fix valueLabel backgroundColor
  components/private/ThumbTrack/src/MDCThumbTrack.m
  components/private/ThumbTrack/tests/unit/ThumbTrackTests.m
Labels: cla: yes, where:ThumbTrack (private)

#3310 [Slider] Add inkColor, thumbColorForState:, trackFillColorForState:
  components/Slider/examples/SliderCollectionViewController.m
  components/Slider/src/MDCSlider.h
  components/Slider/src/MDCSlider.m
  components/Slider/src/private/MDCSlider+Private.h
  components/Slider/tests/unit/SliderTests.m
Labels: cla: yes, where:Slider

#3333 [TextFields] Placeholder background color
  components/TextFields/src/MDCTextField.m
Labels: cla: yes, type:Visual bug, where:TextField

#3330 [Slider] Add text, background color to value label
  components/Slider/src/MDCSlider.h
  components/Slider/src/MDCSlider.m
  components/Slider/tests/unit/SliderTests.m
Labels: cla: yes, where:Slider

#3331 MDCActivityIndicator shouldnt register as accessibility element if hidden
  components/ActivityIndicator/src/MDCActivityIndicator.m
Labels: cla: yes

#3324 [ButtonBar] Fix insets for the trailing button bar
  components/ButtonBar/src/private/MDCAppBarButtonBarBuilder.m
  components/ButtonBar/src/private/MDCButtonBarButton+Private.h
  components/ButtonBar/src/private/MDCButtonBarButton.m
  components/ButtonBar/tests/unit/ButtonBarBuilderTests.m
Labels: cla: yes, kokoru:run

#3329 [ThumbTrack] Add support for colored tick marks
  components/private/ThumbTrack/src/MDCThumbTrack.h
  components/private/ThumbTrack/src/MDCThumbTrack.m
  components/private/ThumbTrack/src/private/MDCThumbTrack+Private.h
  components/private/ThumbTrack/tests/unit/ThumbTrackTests.m
Labels: cla: yes, where:ThumbTrack (private)

#3316 [BottomNavigation] Update color themer
  MaterialComponents.podspec
  components/BottomNavigation/BUILD
  components/BottomNavigation/examples/BottomNavigationNilBadges.swift
  components/BottomNavigation/examples/BottomNavigationTypicalUseExample.m
  components/BottomNavigation/examples/BottomNavigationTypicalUseExample.swift
  components/BottomNavigation/src/ColorThemer/MDCBottomNavigationBarColorThemer.h
  components/BottomNavigation/src/ColorThemer/MDCBottomNavigationBarColorThemer.m
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
  components/BottomNavigation/tests/unit/BottomNavigationBarColorThemerTests.m
Labels: cla: yes

#3344 [Slider] Add tick color API
  components/Slider/examples/SliderCollectionViewController.m
  components/Slider/src/MDCSlider.h
  components/Slider/src/MDCSlider.m
  components/Slider/tests/unit/SliderTests.m
Labels: cla: yes, where:Slider

#3313 [Dialogs] Implement a semantic color themer.
  components/Dialogs/examples/DialogsAlertViewController.m
  components/Dialogs/src/ColorThemer/MDCAlertColorThemer.h
  components/Dialogs/src/ColorThemer/MDCAlertColorThemer.m
  components/Dialogs/tests/unit/MDCAlertControllerColorThemerTests.m
Labels: cla: yes

#3350 [kokoro] Fix CocoaPods jobs.
  .kokoro
Labels: cla: yes, where:Scripts

#3289 [Cards] Implement a semantic color scheme color themer API.
  MaterialComponents.podspec
  components/Cards/BUILD
  components/Cards/examples/CardExampleViewController.swift
  components/Cards/examples/EditReorderCollectionViewController.swift
  components/Cards/src/ColorThemer/MDCCardsColorThemer.h
  components/Cards/src/ColorThemer/MDCCardsColorThemer.m
  components/Cards/tests/unit/MDCCardColorThemerTests.swift
Labels: cla: yes, where:Cards

#3335 [Buttons] Implement a color themer for an MDCRaisedButton
  components/Buttons/examples/ButtonsTypicalUse.m
  components/Buttons/src/ColorThemer/MDCButtonColorThemer.h
  components/Buttons/src/ColorThemer/MDCButtonColorThemer.m
  components/Buttons/tests/unit/ButtonsColorThemerTests.m
Labels: cla: yes, where:Buttons

#3305 [NavigationBar] Allow flexible height/insets in MDCNavigationBar
  components/AppBar/examples/AppBarTypicalUseExample.m
  components/ButtonBar/src/MDCButtonBar.m
  components/NavigationBar/src/MDCNavigationBar.h
  components/NavigationBar/src/MDCNavigationBar.m
Labels: cla: yes, kokoru:run

#3250 [ButtonBar] Allow customizing the inkColor of the buttons
  components/AppBar/examples/AppBarTypicalUseExample.m
  components/ButtonBar/src/MDCButtonBar.h
  components/ButtonBar/src/MDCButtonBar.m
  components/ButtonBar/src/private/MDCAppBarButtonBarBuilder.m
  components/NavigationBar/src/MDCNavigationBar.h
  components/NavigationBar/src/MDCNavigationBar.m
Labels: cla: yes, kokoru:run, where:ButtonBar

#3325 Adds a setting to make MDCBottomSheets impossible to dismiss.
  components/BottomSheet/src/MDCBottomSheetController.h
  components/BottomSheet/src/MDCBottomSheetController.m
  components/BottomSheet/src/MDCBottomSheetPresentationController.h
  components/BottomSheet/src/MDCBottomSheetPresentationController.m
  components/BottomSheet/src/MDCBottomSheetTransitionController.h
  components/BottomSheet/src/MDCBottomSheetTransitionController.m
Labels: cla: yes

#3345 [Chips] Exposing color for surface of chip view. …
  components/Chips/src/MDCChipView.h
  components/Chips/src/MDCChipView.m
Labels: cla: yes, where:Chips

#3347 [TextFields] Adding the expected opacities to color themer.
  components/TextFields/src/ColorThemer/MDCTextFieldColorThemer.m
  components/TextFields/tests/unit/TextFieldColorThemerTests.m
Labels: cla: yes, where:TextField

#3360 [NavigationBar] Fix bug where system font traits would be lost.
  components/NavigationBar/src/MDCNavigationBar.m
  components/NavigationBar/tests/unit/NavigationBarTests.m
Labels: cla: yes, where:NavigationBar

#3363 [bazel] Fix BUILD file paths to match file system casing
  components/ActivityIndicator/BUILD
  components/BottomNavigation/BUILD
Labels: cla: yes

#3357 [TextFields] Add backgroundColor property
  components/TextFields/src/ColorThemer/MDCTextFieldColorThemer.m
  components/TextFields/src/MDCTextInputController.h
  components/TextFields/src/MDCTextInputControllerBase.h
  components/TextFields/src/MDCTextInputControllerBase.m
  components/TextFields/src/MDCTextInputControllerFullWidth.m
Labels: cla: yes, where:TextField

#3355 Adding a helper to merge two colors with different opacities.
  components/schemes/Color/BUILD
  components/schemes/Color/src/MDCSemanticColorScheme.h
  components/schemes/Color/src/MDCSemanticColorScheme.m
  components/schemes/Color/tests/unit/MDCSemanticColorSchemeTests.m
Labels: cla: yes

#3371 [NavigationBar][ButtonBar] Restore the changed default inkColor
  components/ButtonBar/src/private/MDCAppBarButtonBarBuilder.m
Labels: cla: yes, kokoru:run

#3376 [NavigationBar] Add surface variant theme.
  components/NavigationBar/src/ColorThemer/MDCNavigationBarColorThemer.h
  components/NavigationBar/src/ColorThemer/MDCNavigationBarColorThemer.m
  components/NavigationBar/tests/unit/NavigationBarColorThemerTests.swift
Labels: [NavigationBar], cla: yes

#3378 [Shapes] Add convenience initializer for MDCCurvedCornerTreatment
  components/private/ShapeLibrary/src/MDCCurvedCornerTreatment.h
  components/private/ShapeLibrary/src/MDCCurvedCornerTreatment.m
Labels: [Shapes], cla: yes

#3379 [Shapes] Expose color sublayer for shapes
  components/private/Shapes/src/MDCShapedShadowLayer.h
  components/private/Shapes/src/MDCShapedShadowLayer.m
Labels: [Shapes], cla: yes

#3372 [Chips] color themer implementation.
  MaterialComponents.podspec
  components/Chips/BUILD
  components/Chips/examples/ChipsChoiceExampleViewController.m
  components/Chips/examples/ChipsFilterExampleViewController.m
  components/Chips/examples/ChipsInputExampleViewController.m
  components/Chips/src/ColorThemer/MDCChipViewColorThemer.h
  components/Chips/src/ColorThemer/MDCChipViewColorThemer.m
  components/Chips/tests/unit/ChipViewColorThemerTests.m
Labels: [Chips], cla: yes

#3380 [FlexibleHeader] Add a surface variant color themer API.
  components/FlexibleHeader/src/ColorThemer/MDCFlexibleHeaderColorThemer.h
  components/FlexibleHeader/src/ColorThemer/MDCFlexibleHeaderColorThemer.m
  components/FlexibleHeader/tests/unit/FlexibleHeaderColorThemerTests.swift
Labels: [FlexibleHeader], cla: yes

#3368 [Buttons] Added Shapes Support
  MaterialComponents.podspec
  components/Buttons/BUILD
  components/Buttons/examples/ButtonsShapesExampleViewController.m
  components/Buttons/examples/ButtonsTypicalUseExampleViewController.m
  components/Buttons/examples/supplemental/ButtonsTypicalUseSupplemental.h
  components/Buttons/examples/supplemental/ButtonsTypicalUseSupplemental.m
  components/Buttons/src/MDCButton.h
  components/Buttons/src/MDCButton.m
  components/Buttons/tests/unit/ButtonsTests.m
Labels: cla: yes

#3382 [Button] Color themer: Changed class of argument to be MDCButton rather than be the subclass
  components/Buttons/src/ColorThemer/MDCButtonColorThemer.h
  components/Buttons/src/ColorThemer/MDCButtonColorThemer.m
Labels: cla: yes

#3385 [Button] Split files into more appropriate names: TextButtonThemer and ButtonScheme
  components/Buttons/src/ButtonThemer/MDCButtonScheme.h
  components/Buttons/src/ButtonThemer/MDCButtonScheme.m
  components/Buttons/src/ButtonThemer/MDCTextButtonThemer.h
  components/Buttons/src/ButtonThemer/MDCTextButtonThemer.m
  components/Buttons/tests/unit/ButtonThemerTests.m
Labels: cla: yes

#3375 [Slider] Update color themer
  MaterialComponents.podspec
  components/Slider/BUILD
  components/Slider/examples/SliderAutolayoutExampleViewController.m
  components/Slider/examples/SliderCollectionViewController.m
  components/Slider/examples/SliderCompareExampleViewController.m
  components/Slider/src/ColorThemer/MDCSliderColorThemer.h
  components/Slider/src/ColorThemer/MDCSliderColorThemer.m
Labels: cla: yes

#3383 [AppBar] Add surface variant color themer API.
  components/AppBar/src/ColorThemer/MDCAppBarColorThemer.h
  components/AppBar/src/ColorThemer/MDCAppBarColorThemer.m
  components/AppBar/tests/unit/AppBarColorThemerTests.swift
Labels: cla: yes

#3381 [MDCFloatingButton] Color Themer added.
  components/Buttons/examples/ButtonsTypicalUseExampleViewController.m
  components/Buttons/examples/FloatingButtonExampleViewController.m
  components/Buttons/src/ColorThemer/MDCButtonColorThemer.h
  components/Buttons/src/ColorThemer/MDCButtonColorThemer.m
  components/Buttons/tests/unit/ButtonsColorThemerTests.m
Labels: cla: yes

#3392 [Ink] Increase range of accuracy in flaky test to +/-.1.
  components/Ink/tests/unit/MDCInkLayerTests.m
Labels: [Ink], cla: yes

#3389 [ButtonBar] Expose APIs for setting custom button fonts.
  components/ButtonBar/src/MDCButtonBar.h
  components/ButtonBar/src/MDCButtonBar.m
  components/ButtonBar/src/private/MDCAppBarButtonBarBuilder.h
  components/ButtonBar/src/private/MDCAppBarButtonBarBuilder.m
  components/ButtonBar/tests/unit/ButtonBarButtonTitleFontTests.swift
Labels: [ButtonBar], cla: yes

#3388 [Tabs] Add a surface variant color themer API.
  components/Tabs/src/ColorThemer/MDCTabBarColorThemer.h
  components/Tabs/src/ColorThemer/MDCTabBarColorThemer.m
  components/Tabs/tests/unit/MDCTabBarColorThemerTests.m
Labels: cla: yes

#3384 [Button] Renamed color themer styles to text and contained
  components/Buttons/src/ColorThemer/MDCButtonColorThemer.h
  components/Buttons/src/ColorThemer/MDCButtonColorThemer.m
  components/Buttons/src/ColorThemer/MDCContainedButtonColorThemer.h
  components/Buttons/src/ColorThemer/MDCContainedButtonColorThemer.m
  components/Buttons/src/ColorThemer/MDCTextButtonColorThemer.h
  components/Buttons/src/ColorThemer/MDCTextButtonColorThemer.m
  components/Buttons/tests/unit/ButtonsColorThemerTests.m
Labels: cla: yes

#3394 [Shapes] [ShadowLayer] Example using Shapes and Shadows with animation
  components/ShadowLayer/examples/ShapesShadows.swift
Labels: [ShadowLayer], [Shapes], cla: yes

#3406 [Button] Changed text button disabled to do 37% opacity, Ink to use onSurface 16%
  components/Buttons/examples/ButtonsTypicalUseExampleViewController.m
  components/Buttons/src/ColorThemer/MDCTextButtonColorThemer.m
  components/Buttons/tests/unit/ButtonThemerTests.m
  components/Buttons/tests/unit/ButtonsColorThemerTests.m
Labels: cla: yes

#3405 Updating Readme documentation for chips.
  components/Chips/README.md
Labels: Documentation, [Chips], cla: yes, type:Documentation

#3412 [NavigationBar] Add an API for customizing button fonts.
  components/NavigationBar/src/MDCNavigationBar.h
  components/NavigationBar/src/MDCNavigationBar.m
  components/NavigationBar/tests/unit/NavigationBarButtonTitleFontTests.swift
Labels: [NavigationBar], cla: yes

#3395 [ButtonBar] Add a Typography Themer.
  .kokoro
  MaterialComponents.podspec
  components/ButtonBar/BUILD
  components/ButtonBar/examples/ButtonBarCustomizedFontExample.m
  components/ButtonBar/src/TypographyThemer/MDCButtonBarTypographyThemer.h
  components/ButtonBar/src/TypographyThemer/MDCButtonBarTypographyThemer.m
  components/ButtonBar/tests/unit/ButtonBarButtonTypographyThemerTests.swift
Labels: cla: yes

#3410 [ButtonBar] Fix layout behavior when using custom button title font.
  components/ButtonBar/src/MDCButtonBar.m
  components/ButtonBar/tests/unit/ButtonBarButtonTitleFontTests.swift
Labels: cla: yes

#3414 [ButtonBar] Add a stateful buttons title color API.
  components/ButtonBar/src/MDCButtonBar.h
  components/ButtonBar/src/MDCButtonBar.m
  components/ButtonBar/src/private/MDCAppBarButtonBarBuilder.h
  components/ButtonBar/src/private/MDCAppBarButtonBarBuilder.m
  components/ButtonBar/tests/unit/ButtonBarButtonTitleColorTests.swift
Labels: [ButtonBar], cla: yes

#3420 [Buttons] Update opacity to 0.38 for disabled
  components/Buttons/src/ColorThemer/MDCTextButtonColorThemer.m
  components/Buttons/tests/unit/ButtonsColorThemerTests.m
Labels: cla: yes

#3396 [TabBars] Add titleColorForState and imageTintColorForState
  components/Tabs/examples/TabBarIconExample.m
  components/Tabs/src/ColorThemer/MDCTabBarColorThemer.m
  components/Tabs/src/MDCTabBar.h
  components/Tabs/src/MDCTabBar.m
  components/Tabs/src/private/MDCItemBarCell.m
  components/Tabs/src/private/MDCItemBarStyle.h
  components/Tabs/src/private/MDCItemBarStyle.m
Labels: cla: yes

#3415 [NavigationBar] Add a stateful buttons title color API.
  components/NavigationBar/src/MDCNavigationBar.h
  components/NavigationBar/src/MDCNavigationBar.m
  components/NavigationBar/tests/unit/NavigationBarButtonTitleColorTests.swift
Labels: [NavigationBar], cla: yes

#3419 [Button] Contained: Changed colors for ink and disabled
  components/Buttons/examples/ButtonsTypicalUseExampleViewController.m
  components/Buttons/src/ButtonThemer/MDCContainedButtonThemer.m
  components/Buttons/src/ColorThemer/MDCContainedButtonColorThemer.m
  components/Buttons/tests/unit/ButtonThemerTests.m
  components/Buttons/tests/unit/ButtonsColorThemerTests.m
Labels: cla: yes

#3425 Fix build breakage
  components/Tabs/src/ColorThemer/MDCTabBarColorThemer.m
Labels: cla: yes

#3390 [TabBar] Add a 1 pt bottom divider to MDCTabBar
  components/Tabs/src/ColorThemer/MDCTabBarColorThemer.m
  components/Tabs/src/MDCTabBar.h
  components/Tabs/src/MDCTabBar.m
Labels: cla: yes

#3428 Fix MDCTabBarColorThemerTests
  components/Tabs/tests/unit/MDCTabBarColorThemerTests.m
Labels: cla: yes

#3426 Disable flaky test -[SnackbarManagerTests testMessagesResumedWhenTokenIsDeallocated]
  components/Snackbar/tests/unit/SnackbarManagerTests.m
Labels: cla: yes, kokoru:run

#3416 [NavigationBar] Fix the surface variation themer's text/icon colors to match spec.
  components/AppBar/tests/unit/AppBarColorThemerTests.swift
  components/NavigationBar/src/ColorThemer/MDCNavigationBarColorThemer.m
  components/NavigationBar/tests/unit/NavigationBarColorThemerTests.swift
Labels: [NavigationBar], cla: yes

#3433 [TextFields] Adding a floating placeholder active color override.
  components/TextFields/examples/TextFieldKitchenSinkExample.swift
  components/TextFields/src/MDCTextInputControllerBase.m
  components/TextFields/src/MDCTextInputControllerFloatingPlaceholder.h
  components/TextFields/tests/unit/TextFieldControllerClassPropertiesTests.swift
Labels: [TextFields], cla: yes

#3429 [Buttons] Create a separate class for MDCFloatingButton color themer.
  components/Buttons/examples/ButtonsTypicalUseExampleViewController.m
  components/Buttons/examples/FloatingButtonExampleViewController.m
  components/Buttons/src/ColorThemer/MDCButtonColorThemer.h
  components/Buttons/src/ColorThemer/MDCButtonColorThemer.m
  components/Buttons/src/ColorThemer/MDCFloatingButtonColorThemer.h
  components/Buttons/src/ColorThemer/MDCFloatingButtonColorThemer.m
  components/Buttons/tests/unit/ButtonsColorThemerTests.m
Labels: [Buttons], [Themes], cla: yes

#3434 [Button] Button Themers calling direct color themers.
  components/Buttons/src/ButtonThemer/MDCContainedButtonThemer.m
  components/Buttons/src/ButtonThemer/MDCTextButtonThemer.m
Labels: cla: yes

#3435 [Button] Fixed catalog description of typical use example
  components/Buttons/examples/supplemental/ButtonsTypicalUseSupplemental.m
Labels: cla: yes

#3423 [MDCButton] Added new API for coloring image tint color for state.
  components/Buttons/examples/ButtonsShapesExampleViewController.m
  components/Buttons/examples/ButtonsTypicalUseExampleViewController.m
  components/Buttons/examples/FloatingButtonExampleViewController.m
  components/Buttons/src/MDCButton.h
  components/Buttons/src/MDCButton.m
  components/Buttons/tests/unit/ButtonsTests.m
Labels: [Buttons], cla: yes

#3436 [TextFields] Unit tests for more classes of controller
  components/TextFields/tests/unit/TextFieldControllerClassPropertiesTests.swift
Labels: [TextFields], cla: yes

#3438 [Textfields] Added Filled and Outlined themers
  components/TextFields/examples/TextFieldFilledExample.swift
  components/TextFields/examples/TextFieldOutlinedExample.swift
  components/TextFields/src/ColorThemer/MDCFilledTextFieldColorThemer.h
  components/TextFields/src/ColorThemer/MDCFilledTextFieldColorThemer.m
  components/TextFields/src/ColorThemer/MDCOutlinedTextFieldColorThemer.h
  components/TextFields/src/ColorThemer/MDCOutlinedTextFieldColorThemer.m
Labels: [TextFields], cla: yes

#3397 [ButtonBar] Make left/right insets for image and text buttons consistent
  components/ButtonBar/src/private/MDCAppBarButtonBarBuilder.m
  components/ButtonBar/tests/unit/ButtonBarBuilderTests.m
Labels: cla: yes, kokoru:run

#3442 [Buttons] Added ImageTintColor for theming FAB Button.
  components/Buttons/examples/ButtonsTypicalUseExampleViewController.m
  components/Buttons/examples/FloatingButtonExampleViewController.m
  components/Buttons/src/ColorThemer/MDCFloatingButtonColorThemer.m
  components/Buttons/tests/unit/ButtonsColorThemerTests.m
Labels: [Buttons], cla: yes

#3445 [chips] Chips should not display ink when the chip is disabled.
  components/Chips/src/MDCChipView.m
Labels: [Chips], cla: yes

#3447 Revert "[Chips] Reset cell selection state to NO on prepare for reuse."
  components/Chips/src/MDCChipCollectionViewCell.m
Labels: [Chips], cla: yes

#3453 [Buttons] Replace MDCRaisedButton with contained button APIs in content edge insets example.
  components/Buttons/examples/ButtonsContentEdgeInsetsExample.m
  components/Buttons/examples/resources/ButtonsContentEdgeInsets.storyboard
Labels: [Buttons], cla: yes

#3456 [Catalog] Remove unused imports from the AppDelegate.
  catalog/MDCCatalog/AppDelegate.swift
Labels: cla: yes

#3457 [kokoro] Update rewrite rules to handle Swift imports of extension targets.
  .kokoro
Labels: cla: yes

#3455 [ActivityIndicator] Add an umbrella header for the ColorThemer target.
  components/ActivityIndicator/src/ColorThemer/MDCActivityIndicatorColorThemer.h
  components/ActivityIndicator/src/ColorThemer/MaterialActivityIndicator+ColorThemer.h
  components/ActivityIndicator/tests/unit/ActivityIndicatorColorThemerTests.swift
  components/schemes/Color/examples/ThemerCustomSchemePickerController.m
  components/schemes/Color/examples/supplemental/ThemerTypicalUseSupplemental.h
Labels: cla: yes

#3449 Changing our default primary color of MDCSemanticColorScheme.
  catalog/MDCCatalog/AppTheme.swift
Labels: cla: yes

#3452 [chips] Updating chips color Themer.
  components/Chips/src/ColorThemer/MDCChipViewColorThemer.m
  components/Chips/tests/unit/ChipViewColorThemerTests.m
Labels: [Chips], cla: yes

#3461 [Catalog] Implement API for setting app-wide theming
  catalog/MDCCatalog/AppTheme.swift
  catalog/MDCCatalog/MDCNodeListViewController.swift
  catalog/MDCCatalog/MDCThemePickerViewController.swift
  components/Buttons/examples/ButtonsTypicalUseExampleViewController.m
  components/Buttons/examples/supplemental/ButtonsTypicalUseSupplemental.h
Labels: cla: yes

#3448 [Chips] color themer update.
  components/Chips/examples/ChipsActionExampleViewController.m
  components/Chips/examples/ChipsChoiceExampleViewController.m
  components/Chips/examples/ChipsFilterAnimatedExampleViewController.m
  components/Chips/examples/ChipsFilterExampleViewController.m
  components/Chips/examples/supplemental/ChipsExamplesSupplemental.h
  components/Chips/examples/supplemental/ChipsExamplesSupplemental.m
Labels: [Chips], cla: yes

#3443 [Catalog] Make all swift copycat demos be dragons.
  components/ActivityIndicator/examples/ActivityIndicatorExample.swift
  components/AnimationTiming/examples/AnimationTimingExample.swift
  components/AppBar/examples/AppBarDelegateForwardingExample.swift
  components/AppBar/examples/AppBarImageryExample.swift
  components/AppBar/examples/AppBarInterfaceBuilderExampleController.swift
  components/AppBar/examples/AppBarModalPresentationExample.swift
  components/AppBar/examples/AppBarTypicalUseExample.swift
  components/BottomAppBar/examples/BottomAppBarTypicalUseExample.swift
  components/BottomNavigation/examples/BottomNavigationTypicalUseExample.swift
  components/ButtonBar/examples/ButtonBarTypicalUseExample.swift
  components/Buttons/examples/FloatingButtonExampleSwiftViewController.swift
  components/Cards/examples/EditReorderCollectionViewController.swift
  components/Dialogs/examples/DialogsLongAlertViewController.swift
  components/FlexibleHeader/examples/supplemental/FlexibleHeaderTypicalUseSupplemental.swift
  components/HeaderStackView/examples/supplemental/HeaderStackViewTypicalUseSupplemental.swift
  components/NavigationBar/examples/supplemental/NavigationBarTypicalUseExampleSupplemental.swift
  components/PageControl/examples/PageControlTypicalUseExample.swift
  components/ShadowElevations/examples/ShadowElevationsTypicalUseExample.swift
  components/Tabs/examples/supplemental/TabBarIconExampleSupplemental.swift
  components/TextFields/examples/MultilineTextFieldLegacyExample.m
  components/TextFields/examples/TextFieldCustomFontExample.m
  components/TextFields/examples/TextFieldLegacyExample.swift
  components/TextFields/examples/TextFieldManualLayoutLegacyExample.m
  components/TextFields/examples/TextFieldManualLayoutLegacyExample.swift
  components/TextFields/examples/TextFieldOutlinedExample.m
  components/TextFields/examples/TextFieldOutlinedExample.swift
  components/TextFields/examples/TextFieldStatesViewController.m
Labels: cla: yes

#3474 [Slider] Add umbrella headers for all extension targets.
  components/Slider/examples/SliderAutolayoutExampleViewController.m
  components/Slider/examples/SliderCollectionViewController.m
  components/Slider/examples/SliderCompareExampleViewController.m
  components/Slider/src/ColorThemer/MDCSliderColorThemer.h
  components/Slider/src/ColorThemer/MaterialSlider+ColorThemer.h
  components/schemes/Color/examples/ThemerCustomSchemePickerController.m
  components/schemes/Color/examples/supplemental/ThemerTypicalUseSupplemental.h
Labels: cla: yes

#3469 [Ink] Add umbrella headers for all extension targets.
  components/Ink/src/ColorThemer/MDCInkColorThemer.h
  components/Ink/src/ColorThemer/MaterialInk+ColorThemer.h
Labels: cla: yes

#3463 [Cards] Add umbrella headers for all extension targets.
  components/Cards/src/ColorThemer/MaterialCards+ColorThemer.h
  components/Cards/tests/unit/MDCCardColorThemerTests.swift
Labels: cla: yes

#3473 [ProgressView] Add umbrella headers for all extension targets.
  components/ProgressView/src/ColorThemer/MDCProgressViewColorThemer.h
  components/ProgressView/src/ColorThemer/MaterialProgressView+ColorThemer.h
  components/schemes/Color/examples/ThemerCustomSchemePickerController.m
  components/schemes/Color/examples/supplemental/ThemerTypicalUseSupplemental.h
Labels: cla: yes

#3479 [Catalog] Remove lonely CATransaction.commit causing VC loading lag
  components/ActivityIndicator/examples/ActivityIndicatorTransitionExample.m
Labels: cla: yes

#3468 [HeaderStackView] Add umbrella headers for all extension targets.
  components/HeaderStackView/src/ColorThemer/MDCHeaderStackViewColorThemer.h
  components/HeaderStackView/src/ColorThemer/MaterialHeaderStackView+ColorThemer.h
  components/schemes/Color/examples/ThemerCustomSchemePickerController.m
  components/schemes/Color/examples/supplemental/ThemerTypicalUseSupplemental.h
Labels: cla: yes

#3475 [Snackbar] Add umbrella headers for all extension targets.
  components/Snackbar/examples/supplemental/SnackbarExampleSupplemental.m
  components/Snackbar/src/ColorThemer/MaterialSnackbar+ColorThemer.h
  components/Snackbar/src/FontThemer/MaterialSnackbar+FontThemer.h
  components/Snackbar/src/TypographyThemer/MaterialSnackbar+TypographyThemer.h
  components/Snackbar/tests/unit/MDCSnackbarColorThemerTests.swift
  components/Snackbar/tests/unit/MDCSnackbarFontThemerTests.m
  components/Snackbar/tests/unit/MDCSnackbarTypographyThemerTests.swift
Labels: cla: yes

#3492 [Catalog] One more icon needed for the menu in our catalog
  components/private/Icons/icons/ic_settings/BUILD
  components/private/Icons/icons/ic_settings/src/MaterialIcons+ic_settings.h
  components/private/Icons/icons/ic_settings/src/MaterialIcons+ic_settings.m
  components/private/Icons/icons/ic_settings/src/MaterialIcons_ic_settings.bundle/ic_settings.png
  components/private/Icons/icons/ic_settings/src/MaterialIcons_ic_settings.bundle/ic_settings@2x.png
  components/private/Icons/icons/ic_settings/src/MaterialIcons_ic_settings.bundle/ic_settings@3x.png
  scripts/generated/icons.rb
Labels: cla: yes

#3451 Replace collection view with table view in indicator example
  components/ActivityIndicator/examples/supplemental/ActivityIndicatorExampleSupplemental.h
  components/ActivityIndicator/examples/supplemental/ActivityIndicatorExampleSupplemental.m
Labels: cla: yes

#3490 [Catalog] Component descriptions update.
  components/AppBar/examples/AppBarTypicalUseExample.m
  components/BottomAppBar/examples/supplemental/BottomAppBarTypicalUseSupplemental.m
  components/BottomNavigation/examples/supplemental/BottomNavigationTypicalUseSupplemental.m
  components/BottomSheet/examples/supplemental/BottomSheetSupplemental.m
  components/Buttons/examples/supplemental/ButtonsTypicalUseSupplemental.m
  components/Cards/examples/CardExampleViewController.swift
  components/Cards/examples/CardsCollectionTintingExample.m
  components/Chips/examples/supplemental/ChipsExamplesSupplemental.m
  components/Dialogs/examples/supplemental/DialogsTypicalUseSupplemental.m
  components/ProgressView/examples/ProgressViewExample.m
  components/Slider/examples/supplemental/SliderCollectionSupplemental.m
  components/Snackbar/examples/supplemental/SnackbarExampleSupplemental.m
  components/Tabs/examples/supplemental/TabBarIconExampleSupplemental.m
  components/TextFields/examples/TextFieldExample.swift
Labels: (Catalog), cla: yes

#3496 [Dialogs] Remove unused DialogsTypicalUseViewController.storyboard.
  components/Dialogs/examples/resources/DialogsTypicalUseViewController.storyboard
Labels: cla: yes

#3495 [Dialogs] Replace MDCRaisedButton with themer APIs in DialogWithPreferredContentSizeViewController.
  components/Dialogs/examples/DialogsTypicalUseViewController.m
  components/Dialogs/examples/resources/DialogWithPreferredContentSize.storyboard
  components/Dialogs/examples/supplemental/DialogWithPreferredContentSizeViewController.h
  components/Dialogs/examples/supplemental/DialogWithPreferredContentSizeViewController.m
  components/Dialogs/examples/supplemental/DialogsTypicalUseSupplemental.h
Labels: cla: yes

#3470 [Catalog] Primary Demo now will be presented as a contained button.
  catalog/MDCCatalog/AppTheme.swift
  catalog/MDCCatalog/MDCNodeListViewController.swift
Labels: (Catalog), cla: yes
