Repository material-components/material-components-ios, pull requests merged in 2018-07, with the labels that each got.

#4460 [TextFields] Change MDCTextField accessibilityValue logic
  components/TextFields/src/MDCTextField.m
Labels: [TextFields], cla: yes

#4464 [Catalog] Make theme picker available to VoiceOver
  catalog/MDCCatalog/MDCThemePickerViewController.swift
Labels: Accessibility, PR:merge-when-approved, [Catalog], cla: yes

#4469 [Catalog] Make color pickers larger
  catalog/MDCCatalog/MDCThemePickerViewController.swift
Labels: Accessibility, PR:merge-when-approved, [Catalog], cla: yes

#4474 [Chips] chips shape support fix + example
  components/Chips/examples/ChipsShapingExampleViewController.m
  components/Chips/examples/supplemental/ChipsExamplesSupplemental.h
  components/Chips/examples/supplemental/ChipsExamplesSupplemental.m
  components/Chips/src/MDCChipView.m
Labels: [Chips], cla: yes

#4465 [TextFields] Migrate textInputClearButtonTintColor to MDCTextInputController, tests
  components/TextFields/src/MDCTextInputController.h
  components/TextFields/src/MDCTextInputControllerBase.h
  components/TextFields/src/MDCTextInputControllerFullWidth.m
  components/TextFields/tests/unit/TextFieldControllerClassPropertiesLegacyTests.swift
  components/TextFields/tests/unit/TextFieldControllerClassPropertiesTests.swift
Labels: [TextFields], cla: yes

#4463 [Catalog] Improve menu accessibility
  catalog/MDCCatalog/AppDelegate.swift
  catalog/MDCCatalog/MDCCatalogComponentsController.swift
  catalog/MDCCatalog/MDCMenuViewController.swift
Labels: Accessibility, PR:merge-when-approved, [Catalog], cla: yes

#4480 [Tabs] Fix alerts in examples
  components/Tabs/examples/TabBarIconExample.m
  components/Tabs/examples/TabBarIconExample.swift
  components/Tabs/examples/TabBarIndicatorTemplateExample.swift
  components/Tabs/examples/TabBarInterfaceBuilderExample.m
  components/Tabs/examples/TabBarTextOnlyExample.m
  components/Tabs/examples/supplemental/TabBarIconExampleSupplemental.m
  components/Tabs/examples/supplemental/TabBarIconExampleSupplemental.swift
Labels: [Catalog], cla: yes

#4481 [Catalog] Make Component tiles accessibility elements
  catalog/MDCCatalog/MDCCatalogCollectionViewCell.swift
Labels: Accessibility, [Catalog], cla: yes

#4487 [Experimental] MDCDialogPresentationController Auto Layout tests.
  components/Dialogs/examples/ChangingAxisAutoLayoutViewController.h
  components/Dialogs/examples/ChangingAxisAutoLayoutViewController.m
  components/Dialogs/examples/OrientationAutoLayoutViewController.h
  components/Dialogs/examples/OrientationAutoLayoutViewController.m
Labels: [Dialogs], cla: yes

#4473 [Chips] Fix Choice demo
  components/Chips/examples/ChipsChoiceExampleViewController.m
Labels: [Catalog], [Chips], cla: yes

#4478 [Catalog] Add custom file header
  catalog/MDCCatalog.xcworkspace/xcshareddata/IDETemplateMacros.plist
Labels: Scripts, [Catalog], cla: yes, type:Documentation

#4486 [BottomSheet] [Shapes] Added Shapes support for BottomSheet
  MaterialComponents.podspec
  components/BottomSheet/BUILD
  components/BottomSheet/examples/BottomSheetShapedExample.m
  components/BottomSheet/examples/supplemental/BottomSheetSupplemental.h
  components/BottomSheet/examples/supplemental/BottomSheetSupplemental.m
  components/BottomSheet/src/MDCBottomSheetController.h
  components/BottomSheet/src/MDCBottomSheetController.m
  components/BottomSheet/src/MDCBottomSheetPresentationController.h
  components/BottomSheet/src/MDCBottomSheetPresentationController.m
  components/BottomSheet/src/MDCSheetState.h
  components/BottomSheet/src/private/MDCSheetContainerView.h
  components/BottomSheet/src/private/MDCSheetContainerView.m
Labels: [BottomSheet], cla: yes

#4461 [ListItems] Add Base Cell With Example
  MaterialComponents.podspec
  components/List/BUILD
  components/List/README.md
  components/List/docs/assets/mdcbaselistcellexample.gif
  components/List/examples/BaseCellExample.swift
  components/List/examples/MDCBaseCellExample.h
  components/List/examples/MDCBaseCellExample.m
  components/List/src/MDCBaseCell.h
  components/List/src/MDCBaseCell.m
  components/List/src/MaterialList.h
Labels: [ListItems], [List], cla: yes

#4484 [Catalog] Launch main demo using Magic Tap
  catalog/MDCCatalog/MDCNodeListViewController.swift
Labels: Accessibility, [Catalog], cla: yes

#4475 [BottomSheet] Dismiss BottomSheet with UIAccessibility
  components/BottomSheet/src/MDCBottomSheetController.h
  components/BottomSheet/src/MDCBottomSheetController.m
  components/BottomSheet/src/MDCBottomSheetPresentationController.h
  components/BottomSheet/src/MDCBottomSheetPresentationController.m
  components/BottomSheet/src/MDCBottomSheetTransitionController.h
  components/BottomSheet/src/MDCBottomSheetTransitionController.m
Labels: Accessibility, [BottomSheet], cla: yes

#4482 [Catalog] Fix VoiceOver ordering in Buttons demo
  components/Buttons/examples/ButtonsTypicalUseExampleViewController.m
Labels: Accessibility, [Buttons], [Catalog], cla: yes

#4485 [FlexibleHeader] Fix odd scrolling bugs in voiceover
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
Labels: [FlexibleHeader], cla: yes

#4506 [Ink] Make example accessible.
  components/Ink/examples/InkTypicalUse.m
  components/Ink/examples/supplemental/InkTypicalUseSupplemental.m
Labels: [Ink], cla: yes

#4501 [Buttons] Make accessibility docs match other components
  components/Buttons/README.md
  components/Buttons/docs/README.md
  components/Buttons/docs/accessibility.md
Labels: [Buttons], cla: yes

#4508 [Dialogs] make accessibilityPerformEscape honor MDCDialogPresentationController…
  components/Dialogs/src/MDCAlertController.m
Labels: [Dialogs], cla: yes

#4504 [Chips] Add accessibilityHint to clear button in chips example
  components/Chips/examples/ChipsTypicalUseViewController.m
Labels: Accessibility, [Chips], [Dialogs], cla: yes

#4509 [Dialogs] Update A11y docs
  components/Dialogs/README.md
  components/Dialogs/docs/README.md
  components/Dialogs/docs/accessibility.md
  components/Dialogs/examples/AlertComparison.swift
  components/Dialogs/examples/DialogsAlertViewController.m
Labels: [Dialogs], cla: yes

#4510 [BottomNavigation] Give MDCBottomNavigationBar a TabBar accessibilityTrait
  components/BottomNavigation/src/MDCBottomNavigationBar.m
Labels: [BottomNavigation], cla: yes

#4535 [Buttons] Disable FAB animation for VoiceOver
  components/Buttons/examples/ButtonsTypicalUseExampleViewController.m
Labels: Accessibility, [Buttons], cla: yes

#4534 [Slider] Support custom increment and decrement levels
  components/Slider/src/MDCSlider.m
  components/Slider/tests/unit/SliderTests.m
Labels: [Slider], cla: yes

#4539 [TextFields] Fix clear button render scale
  components/TextFields/src/private/MDCTextInputCommonFundament.m
Labels: [TextFields], cla: yes

#4537 [Catalog] Enable AppBar's isTopLayoutGuideAdjustmentEnabled in all examples.
  catalog/MDCCatalog/AppDelegate.swift
  catalog/MDCDragons/MDCDragonsController.swift
  components/AppBar/examples/AppBarWrappedExample.m
  components/BottomSheet/examples/BottomSheetShapedExample.m
  components/BottomSheet/examples/BottomSheetTypicalUseExample.m
  components/Buttons/examples/supplemental/ButtonsTypicalUseSupplemental.m
Labels: [AppBar], [BottomSheet], [Buttons], [Catalog], cla: yes

#4498 [TextFields] Add accessibility docs for MDCTextField
  components/TextFields/README.md
  components/TextFields/docs/README.md
  components/TextFields/docs/accessibility.md
  components/TextFields/docs/classes.md
  components/TextFields/docs/examples.md
  components/TextFields/docs/typography-theming.md
  components/TextFields/docs/usage.md
Labels: Accessibility, [TextFields], cla: yes

#4540 [AppBar] Add docs on making navigationItems accessible with MDCAppBars
  components/AppBar/README.md
  components/AppBar/docs/README.md
  components/AppBar/docs/accessibility.md
Labels: [AppBar], cla: yes

#4494 [Codelabs] Add build tests for codelabs
  scripts/build_codelabs
Labels: cla: yes

#4497 [BottomNavigation] Add a11y to README
  components/BottomNavigation/README.md
  components/BottomNavigation/docs/README.md
  components/BottomNavigation/docs/accessibility.md
Labels: [BottomNavigation], cla: yes

#4548 [Cards] Remove NSCoding support.
  components/Cards/src/MDCCard.m
  components/Cards/tests/unit/MDCCardTests.m
Labels: [Cards], cla: yes

#4432 [BottomNavigation] Parameterize top padding and vertical margin
  components/BottomNavigation/src/MDCBottomNavigationBar.h
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.h
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
  components/BottomNavigation/tests/unit/BottomNavigationItemViewCodingTests.m
Labels: [BottomNavigation], cla: yes

#4549 [Chips] Remove NSCoding support.
  components/Chips/src/MDCChipView.m
  components/Chips/tests/unit/ChipsEncodingTests.m
Labels: [Chips], cla: yes

#4547 [Buttons] Fix button README
  components/Buttons/README.md
  components/Buttons/docs/README.md
  components/Buttons/docs/accessibility.md
Labels: [Buttons], cla: yes

#4543 [ProgressView] Add accessibility docs for MDCProgressView
  components/ProgressView/README.md
  components/ProgressView/docs/README.md
  components/ProgressView/docs/accessibility.md
Labels: [ProgressView], cla: yes

#4553 [ButtonBar] Remove NSCoding support.
  components/ButtonBar/src/MDCButtonBar.m
  components/ButtonBar/tests/unit/ButtonBarCodingTests.m
Labels: [ButtonBar], cla: yes

#4554 [FlexibleHeader] Remove NSCoding support.
  components/AppBar/tests/unit/AppBarEncodingTests.swift
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
Labels: [AppBar], [FlexibleHeader], cla: yes

#4560 [NavigationBar] Remove NSCoding support.
  components/AppBar/tests/unit/AppBarEncodingTests.swift
  components/NavigationBar/src/MDCNavigationBar.m
  components/NavigationBar/tests/unit/NavigationBarTests.m
Labels: [AppBar], [NavigationBar], cla: yes

#4564 [ActivityIndicator] Change override of AccessibilityLabel with setting it to a default.
  components/ActivityIndicator/src/MDCActivityIndicator.m
  components/ActivityIndicator/tests/unit/ActivityIndicatorTests.m
Labels: [ActivityIndicator], cla: yes

#4570 Remove useFlexibleTopBottomInsets from MDCNavigationBar
  components/AppBar/examples/AppBarPresentedExample.m
  components/NavigationBar/src/MDCNavigationBar.h
  components/NavigationBar/src/MDCNavigationBar.m
Labels: [AppBar], [NavigationBar], cla: yes

#4575 [Catalog] Fix MDCNodeListViewController section header layout issue
  catalog/MDCCatalog/MDCNodeListViewController.swift
Labels: [Catalog], cla: yes

#4559 [Buttons] Removed internal links from docs.
  components/Buttons/README.md
  components/Buttons/docs/accessibility.md
Labels: [Buttons], cla: yes

#4558 [BottomNavigation] Correct misnamed Material guidelines references
  components/BottomNavigation/README.md
  components/BottomNavigation/docs/accessibility.md
Labels: [BottomNavigation], cla: yes

#4565 [Buttons] Remove coding/encoding behavior
  components/Buttons/src/MDCButton.m
  components/Buttons/tests/unit/ButtonsTests.m
Labels: [Buttons], cla: yes

#4568 Remove NSCoding from the checklist.
  contributing/checklist.md
Labels: cla: yes

#4571 [BottomSheet] Inform delegate of accessibility escape dismissal
  components/BottomSheet/src/MDCBottomSheetController.h
  components/BottomSheet/src/MDCBottomSheetController.m
Labels: [BottomSheet], cla: yes

#4573 [FlexibleHeader] Enforce top layout guide adjustment on pre-iOS 11 devices.
  components/AnimationTiming/examples/supplemental/AnimationTimingExampleSupplemental.m
  components/FlexibleHeader/src/MDCFlexibleHeaderViewController.m
Labels: [AnimationTiming], [FlexibleHeader], cla: yes

#4546 [ShadowLayer]! Remove encoding/decoding behavior for custom properties
  components/ShadowLayer/src/MDCShadowLayer.m
  components/ShadowLayer/tests/unit/ShadowLayerTests.m
Labels: [ShadowLayer], cla: yes

#4577 [FlexibleHeader]! Update top layout behavior to match documentation.
  components/FlexibleHeader/src/MDCFlexibleHeaderViewController.m
  components/FlexibleHeader/tests/unit/FlexibleHeaderInjectionTopLayoutGuideTests.swift
Labels: [FlexibleHeader], cla: yes

#4590 [Pesto] Update minimum height so that it includes the safe area.
  demos/Pesto/Pesto/PestoCollectionViewController.h
  demos/Pesto/Pesto/PestoCollectionViewController.m
  demos/Pesto/Pesto/PestoViewController.m
Labels: cla: yes, kokoru:run

#4567 [TextFields]! Remove encoding/decoding behavior for custom properties
  components/TextFields/src/MDCMultilineTextField.m
  components/TextFields/src/MDCTextField.m
  components/TextFields/src/MDCTextInputBorderView.m
  components/TextFields/src/MDCTextInputController.h
  components/TextFields/src/MDCTextInputControllerBase.m
  components/TextFields/src/MDCTextInputControllerFullWidth.m
  components/TextFields/src/MDCTextInputControllerLegacyDefault.m
  components/TextFields/src/MDCTextInputControllerLegacyFullWidth.h
  components/TextFields/src/MDCTextInputControllerLegacyFullWidth.m
  components/TextFields/src/MDCTextInputUnderlineView.h
  components/TextFields/src/MDCTextInputUnderlineView.m
  components/TextFields/src/private/MDCTextInputCommonFundament.h
  components/TextFields/src/private/MDCTextInputCommonFundament.m
  components/TextFields/tests/unit/MultilineTextFieldLegacyTests.swift
  components/TextFields/tests/unit/MultilineTextFieldTests.swift
  components/TextFields/tests/unit/TextFieldControllerLegacyTests.swift
  components/TextFields/tests/unit/TextFieldLegacyTests.swift
  components/TextFields/tests/unit/TextFieldTests.swift
  components/TextFields/tests/unit/TextInputControllerBaseEncodingTests.swift
Labels: [TextFields], cla: yes

#4593 [Dragons] Allow view controllers to determine status bar visibility/style.
  catalog/MDCDragons/Info.plist
Labels: PR:merge-when-approved, [Catalog], cla: yes

#4616 [BottomAppBar] Fix example
  components/BottomAppBar/examples/supplemental/BottomAppBarTypicalUseSupplemental.m
Labels: [BottomAppBar], cla: yes

#4617 [BottomSheet] Replacing typeof(self) by __typeof(self)
  components/BottomSheet/src/MDCBottomSheetController.m
Labels: [BottomSheet], cla: yes, is:Internal, kokoru:run

#4601 [FlexibleHeader] Improved height consistency when horizontally paging.
  components/FlexibleHeader/examples/FlexibleHeaderHorizontalPagingExample.m
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
Labels: [FlexibleHeader], cla: yes

#4595 [FlexibleHeader] Remove Swift typical use example.
  components/FlexibleHeader/examples/FlexibleHeaderTypicalUseExample.swift
  components/FlexibleHeader/examples/supplemental/FlexibleHeaderTypicalUseSupplemental.swift
Labels: [FlexibleHeader], cla: yes

#4592 [FlexibleHeader] Fix iPhone X status bar bug when changing orientation.
  components/FlexibleHeader/src/private/MDCStatusBarShifter.m
Labels: [FlexibleHeader], cla: yes

#4622 [FlexibleHeader] Fix inconsistent shifting behavior when deceleration ends.
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
Labels: [FlexibleHeader], cla: yes

#4555 [Ink] Remove encoding/decoding behavior for custom properties
  components/Ink/src/MDCInkView.m
  components/Ink/tests/unit/MDCInkViewTests.m
Labels: [Ink], cla: yes

#4596 [FlexibleHeader] Add behavior for enabling contextual safe area insets
  catalog/MDCCatalog/MDCCatalogComponentsController.swift
  components/FlexibleHeader/examples/FlexibleHeaderConfiguratorExample.m
  components/FlexibleHeader/examples/FlexibleHeaderFABExample.m
  components/FlexibleHeader/examples/FlexibleHeaderHorizontalPagingExample.m
  components/FlexibleHeader/examples/FlexibleHeaderPageControlExample.m
  components/FlexibleHeader/examples/FlexibleHeaderTopLayoutGuideExample.m
  components/FlexibleHeader/examples/FlexibleHeaderTypicalUseExample.m
  components/FlexibleHeader/examples/FlexibleHeaderUINavigationBarExample.m
  components/FlexibleHeader/examples/FlexibleHeaderWrappedExample.m
  components/FlexibleHeader/examples/supplemental/FlexibleHeaderConfiguratorSupplemental.h
  components/FlexibleHeader/examples/supplemental/FlexibleHeaderConfiguratorSupplemental.m
  components/FlexibleHeader/src/MDCFlexibleHeaderContainerViewController.m
  components/FlexibleHeader/src/MDCFlexibleHeaderView.h
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
  components/FlexibleHeader/src/MDCFlexibleHeaderViewController.h
  components/FlexibleHeader/src/MDCFlexibleHeaderViewController.m
  components/FlexibleHeader/src/private/MDCFlexibleHeaderView+Private.h
  components/FlexibleHeader/tests/unit/FlexibleHeaderWrappingLegacyTopLayoutGuideTests.swift
  components/FlexibleHeader/tests/unit/FlexibleHeaderWrappingTopLayoutGuideTests.swift
Labels: [Catalog], [FlexibleHeader], cla: yes

#4562 [BottomNavigation]! Remove encoding/decoding behavior for custom properties
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/src/private/MDCBottomNavigationItemBadge.m
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
  components/BottomNavigation/tests/unit/BottomNavigationCodingTests.m
  components/BottomNavigation/tests/unit/BottomNavigationItemBadgeCodingTests.m
  components/BottomNavigation/tests/unit/BottomNavigationItemViewTests.m
Labels: [BottomNavigation], cla: yes

#4566 [AppBar]! Remove encoding/decoding behavior for custom properties
  components/AppBar/src/MDCAppBar.m
Labels: [AppBar], cla: yes

#4630 [NavigationDrawer] Update readme to point to the project
  components/NavigationDrawer/README.md
Labels: [NavigationDrawer], cla: yes

#4599 [BottomNavigation] Give UITabBarItems' accessibilityIdentifiers to MDCBottomNavigationBa…
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
  components/BottomNavigation/tests/unit/BottomNavigationTests.m
Labels: [BottomNavigation], cla: yes

#4625 [BottomNavigation] Fix delayed ink ripple
  components/BottomNavigation/src/MDCBottomNavigationBar.m
Labels: [BottomNavigation], cla: yes

#4647 [FlexibleHeader] Add support for observing the tracking scroll view.
  components/AppBar/examples/AppBarImageryExample.m
  components/AppBar/examples/AppBarImageryExample.swift
  components/AppBar/examples/AppBarInterfaceBuilderExampleController.m
  components/AppBar/examples/AppBarInterfaceBuilderExampleController.swift
  components/AppBar/examples/AppBarModalPresentationExample.m
  components/AppBar/examples/AppBarModalPresentationExample.swift
  components/AppBar/examples/AppBarPresentedExample.m
  components/AppBar/examples/AppBarSectionHeadersExample.m
  components/AppBar/examples/AppBarTypicalCollectionViewExample.m
  components/AppBar/examples/AppBarTypicalUseExample.m
  components/AppBar/examples/AppBarTypicalUseExample.swift
  components/AppBar/examples/AppBarWithUITableViewController.swift
  components/AppBar/examples/AppBarWrappingUITableViewControllerExample.m
  components/FlexibleHeader/src/MDCFlexibleHeaderView.h
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
  components/FlexibleHeader/src/MDCFlexibleHeaderViewController.m
  components/FlexibleHeader/tests/unit/FlexibleHeaderScrollViewObservationTests.swift
Labels: [AppBar], [FlexibleHeader], cla: yes

#4556 [Snackbar] Create explicit singleton
  components/Snackbar/src/MDCSnackbarManager.h
  components/Snackbar/src/MDCSnackbarManager.m
  components/Snackbar/src/MDCSnackbarMessageView.m
  components/Snackbar/src/private/MDCSnackbarMessageViewInternal.h
  components/Snackbar/tests/unit/MDCSnackbarManagerInstanceTests.m
Labels: PR:merge-when-approved, [Snackbar], cla: yes

#4643 [Dialogs] Better example description
  components/Dialogs/examples/DialogsAlertViewController.m
Labels: [Dialogs], cla: yes

#4635 [BottomNavigation] Explicitly update label visibility after titleVisibility is set
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
  components/BottomNavigation/tests/unit/BottomNavigationTests.m
Labels: [BottomNavigation], cla: yes

#4624 [Dialogs] Update buttons touch area to be 48x48 minimum
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Labels: [Dialogs], cla: yes

#4648 [AppBar] Add an inferTopSafeAreaInsetFromViewController behavior.
  catalog/MDCCatalog/MDCNodeListViewController.swift
  components/AppBar/examples/AppBarImageryExample.m
  components/AppBar/examples/AppBarImageryExample.swift
  components/AppBar/examples/AppBarInterfaceBuilderExampleController.m
  components/AppBar/examples/AppBarInterfaceBuilderExampleController.swift
  components/AppBar/examples/AppBarModalPresentationExample.m
  components/AppBar/examples/AppBarModalPresentationExample.swift
  components/AppBar/examples/AppBarPresentedExample.m
  components/AppBar/examples/AppBarSectionHeadersExample.m
  components/AppBar/examples/AppBarTypicalCollectionViewExample.m
  components/AppBar/examples/AppBarTypicalUseExample.m
  components/AppBar/examples/AppBarTypicalUseExample.swift
  components/AppBar/examples/AppBarWithUITableViewController.swift
  components/AppBar/examples/AppBarWrappedExample.m
  components/AppBar/examples/AppBarWrappingUITableViewControllerExample.m
  components/AppBar/src/MDCAppBar.h
  components/AppBar/src/MDCAppBar.m
  components/AppBar/tests/unit/AppBarWrappingTopLayoutGuideTests.swift
Labels: [AppBar], [Catalog], cla: yes

#4657 [KeyboardWatcher] Small optimization at load time
  components/private/KeyboardWatcher/src/MDCKeyboardWatcher.m
Labels: [KeyboardWatcher], cla: yes, kokoru:run

#4634 [Cards] Accessibility: Fixing documentation typos
  components/Cards/README.md
  components/Cards/docs/accessibility.md
  scripts/generate_readme
Labels: Accessibility, [Cards], cla: yes

#4650 [AppBar] Add new MDCAppBarNavigationController API.
  catalog/MDCCatalog/AppDelegate.swift
  catalog/MDCCatalog/MDCMenuViewController.swift
  catalog/MDCCatalog/MDCNodeListViewController.swift
  components/AppBar/src/MDCAppBarNavigationController.h
  components/AppBar/src/MDCAppBarNavigationController.m
  components/AppBar/src/MaterialAppBar.h
  components/AppBar/tests/unit/AppBarNavigationControllerTests.swift
Labels: [AppBar], [Catalog], [FlexibleHeader], cla: yes

#4662 [Ink] add commonMDCInkViewInit call to -initWithCoder:
  components/Ink/src/MDCInkView.m
Labels: [Ink], cla: yes

#4660 [Catalog] Improve Ink demo color contrast
  components/Ink/examples/InkTypicalUse.m
  components/Ink/examples/supplemental/InkTypicalUseSupplemental.m
Labels: Accessibility, [Catalog], cla: yes

#4675 Revert "[Dialogs] Update buttons touch area to be 48x48 minimum (#4624)"
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Labels: [Dialogs], cla: yes
