Repository material-components/material-components-ios, pull requests merged in 2018-06, with the labels that each got.

#4330 [Buttons] Adding Accessibility labels to README and fab example.
  components/Buttons/docs/README.md
  components/Buttons/examples/FloatingButtonExampleViewController.m
Labels: [Buttons], cla: yes

#4319 [TextFields] Add placeholderLabel accessibilityLabel to textField accessibilityValue
  components/TextFields/src/MDCTextField.m
Labels: [TextFields], cla: yes

#4348 [Collections] Remove Earl Grey tests
  components/Collections/tests/earlgrey/MDCCollectionViewControllerTests.m
Labels: Testing, [Collections], cla: yes

#4349 [Catalog][Snackbar] Fix Earl Grey test
  catalog/MDCCatalog/MDCNodeListViewController.swift
  components/Snackbar/tests/earlgrey/SnackbarInteractionTests.m
Labels: Testing, [Catalog], [Snackbar], app:Catalog, cla: yes

#4318 [BottomSheet] Add a short bottom sheet example to MDCCatalog
  components/BottomSheet/examples/BottomSheetTableViewExample.swift
Labels: [BottomSheet], cla: yes

#4336 [AppBar] Add a wrapped table view controller example.
  components/AppBar/examples/AppBarWrappingUITableViewControllerExample.m
Labels: [AppBar], cla: yes

#4350 [Slider] Notify VoiceOver of MDCSlider value changes
  components/Slider/src/MDCSlider.m
Labels: [Slider], cla: yes

#4359 [PageControl] Make MDCPageControl minimum height adhere to accessibility requirements
  components/PageControl/src/MDCPageControl.m
  components/PageControl/tests/unit/PageControlExampleTests.m
Labels: [PageControl], cla: yes

#4360 [AppBar] Fix VoiceOver escape gesture bug.
  components/AppBar/src/MDCAppBar.m
Labels: [AppBar], cla: yes

#4357 [FlexibleHeader] Only extract the top layout guide if the view has loaded.
  components/FlexibleHeader/src/MDCFlexibleHeaderViewController.m
Labels: [FlexibleHeader], cla: yes

#4351 [AppBar] Add example of an AppBar in a presented vc
  components/AppBar/examples/AppBarPresentedExample.m
Labels: [AppBar], cla: yes

#4355 [HeaderStackView] Allow flexible topBar in MDCHeaderStackView
  components/HeaderStackView/src/MDCHeaderStackView.m
Labels: [HeaderStackView], cla: yes, kokoru:run

#4367 Remove mohammad from CODEOWNERS
  CODEOWNERS
Labels: cla: yes

#4364 [TextFields] Tweak accessibility notification to prevent VoiceOver from cutting off
  components/TextFields/src/MDCTextInputControllerBase.m
Labels: [TextFields], cla: yes

#4358 [NavigationBar] Deprecate useFlexibleTopBottomInsets
  components/AppBar/examples/AppBarTypicalUseExample.m
  components/NavigationBar/src/MDCNavigationBar.h
  components/NavigationBar/src/MDCNavigationBar.m
Labels: PR is blocked, [AppBar], [NavigationBar], cla: yes, kokoru:run

#4354 [FlexibleHeader] Fix additionalSafeAreaInsets bug when topLayoutGuideAdjustmentEnabled is enabled.
  components/FlexibleHeader/src/MDCFlexibleHeaderViewController.m
  components/FlexibleHeader/tests/unit/FlexibleHeaderInjectionTopLayoutGuideTests.swift
Labels: [FlexibleHeader], cla: yes, type:Bug

#4371 [NavigationBar] Add a titleViewLayoutBehavior API.
  components/NavigationBar/src/MDCNavigationBar.h
  components/NavigationBar/src/MDCNavigationBar.m
  components/NavigationBar/tests/unit/NavigationBarTests.m
Labels: [NavigationBar], cla: yes

#4379 [ButtonBar] Add unit tests for KVO behavior.
  components/ButtonBar/tests/unit/ButtonBarObservationTests.swift
Labels: [ButtonBar], cla: yes

#4389 [TextFields] Text Input adjustment.
  components/TextFields/src/MDCTextField.m
Labels: [TextFields], cla: yes

#4369 [Chips] Adds support for reading contentHorizontalAlignment in MDCChipView.
  components/Chips/examples/ChipsSizingExampleViewController.m
  components/Chips/src/MDCChipView.h
  components/Chips/src/MDCChipView.m
  components/Chips/tests/unit/ChipsTests.m
Labels: Client-blocking, [Chips], cla: yes

#4387 [TextFields] Add baseline constraint support
  components/TextFields/examples/TextFieldKitchenSinkExample.swift
  components/TextFields/src/MDCTextField.h
  components/TextFields/src/MDCTextField.m
Labels: [TextFields], cla: yes

#4391 [TextFields] TableView example.
  components/TextFields/examples/TextFieldsTableViewExample.m
Labels: [TextFields], cla: yes

#4392 [TextFields] Example cleanup.
  components/TextFields/examples/TextFieldControllerStylesExample.m
  components/TextFields/examples/TextFieldOutlinedExample.m
  components/TextFields/examples/TextFieldPresentationStylesExample.m
  components/TextFields/examples/TextFieldUnderlineExample.swift
  components/TextFields/examples/supplemental/TextFieldControllerStylesExampleSupplemental.h
  components/TextFields/examples/supplemental/TextFieldControllerStylesExampleSupplemental.m
Labels: [TextFields], cla: yes

#4386 [Buttons] Added a11y minimum touch target size to Accessibility section in readme.
  components/Buttons/docs/README.md
  components/Buttons/examples/ButtonsTypicalUseExampleViewController.m
Labels: [Buttons], cla: yes

#4382 [List Items] List item cell prototypes AGAIN (API Review)
  components/List/examples/Auto Layout List 1/AutoLayoutListBaseCell1.h
  components/List/examples/Auto Layout List 1/AutoLayoutListBaseCell1.m
  components/List/examples/Auto Layout List 1/AutoLayoutListCellExample1.h
  components/List/examples/Auto Layout List 1/AutoLayoutListCellExample1.m
  components/List/examples/Auto Layout List 1/AutoLayoutListItemCell1.h
  components/List/examples/Auto Layout List 1/AutoLayoutListItemCell1.m
  components/List/examples/Auto Layout List 2/AutoLayoutListBaseCell2.h
  components/List/examples/Auto Layout List 2/AutoLayoutListBaseCell2.m
  components/List/examples/Auto Layout List 2/AutoLayoutListCellExample2.h
  components/List/examples/Auto Layout List 2/AutoLayoutListCellExample2.m
  components/List/examples/Auto Layout List 2/AutoLayoutListItemCell2.h
  components/List/examples/Auto Layout List 2/AutoLayoutListItemCell2.m
  components/List/examples/Collection View List/CollectionListCellExampleTypicalUse.h
  components/List/examples/Collection View List/CollectionListCellExampleTypicalUse.m
  components/List/examples/Collection View List/CollectionViewListCell.h
  components/List/examples/Collection View List/CollectionViewListCell.m
  components/List/examples/Manual Layout List 1/ManualLayoutListCellExample1.h
  components/List/examples/Manual Layout List 1/ManualLayoutListCellExample1.m
  components/List/examples/Manual Layout List 1/ManualLayoutListItemCell1.h
  components/List/examples/Manual Layout List 1/ManualLayoutListItemCell1.m
  components/List/examples/Manual Layout List 2/ManualLayoutListBaseCell2.h
  components/List/examples/Manual Layout List 2/ManualLayoutListBaseCell2.m
  components/List/examples/Manual Layout List 2/ManualLayoutListCellExample2.h
  components/List/examples/Manual Layout List 2/ManualLayoutListCellExample2.m
  components/List/examples/Manual Layout List 2/ManualLayoutListItemCell2.h
  components/List/examples/Manual Layout List 2/ManualLayoutListItemCell2.m
Labels: [List], [PageControl], cla: yes

#4398 [BottomNavigation] Fix bug when `setItems` does not correctly set items
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/tests/unit/BottomNavigationTests.m
Labels: [BottomNavigation], cla: yes

#4399 [Chips] Accessibility selected & dimmed states.
  components/Chips/src/MDCChipView.m
  components/Chips/tests/unit/ChipAccessibilityTests.m
Labels: [Chips], cla: yes

#4418 [Buttons] Updated accessibility documentation and examples
  components/Buttons/docs/README.md
  components/Buttons/examples/ButtonsSimpleExampleSwiftViewController.swift
  components/Buttons/examples/ButtonsTypicalUseExampleViewController.m
  components/Buttons/examples/FloatingButtonExampleSwiftViewController.swift
Labels: [Buttons], cla: yes

#4423 Update releasing.md
  contributing/releasing.md
Labels: cla: yes

#4424 [BottomNavigation] Layout Bottom Navigation with Size Classes Instead of Orientation
  components/BottomNavigation/src/MDCBottomNavigationBar.m
Labels: [BottomNavigation], cla: yes

#4422 [BottomNavigation] Update ripple color to match spec.
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
Labels: [BottomNavigation], cla: yes

#4420 [BottomNavigation] Add example when we explicitly set color
  components/BottomNavigation/examples/BottomNavigationExplicitlySetColorExample.swift
  components/BottomNavigation/examples/BottomNavigationTypicalUseExample.swift
Labels: [BottomNavigation], cla: yes

#4430 [ButtonBar] Update disabled button alpha to match spec
  components/ButtonBar/src/private/MDCAppBarButtonBarBuilder.m
Labels: [ButtonBar], cla: yes

#4434 [TextFields] Making leading and trailing view layout customizeable
  components/TextFields/examples/TextFieldControllerStylesExample.m
  components/TextFields/examples/TextFieldFilledExample.swift
  components/TextFields/examples/TextFieldOutlinedExample.m
  components/TextFields/examples/TextFieldOutlinedExample.swift
  components/TextFields/src/MDCTextField.h
  components/TextFields/src/MDCTextField.m
  components/TextFields/src/MDCTextFieldPositioningDelegate.h
  components/TextFields/src/MDCTextInput.h
  components/TextFields/src/MDCTextInputControllerFilled.m
  components/TextFields/src/MDCTextInputControllerOutlined.m
  components/TextFields/src/private/MDCTextInputCommonFundament.m
Labels: [TextFields], cla: yes

#4431 [BottomNavigation] Test cases when we reset the bottom navigation items array
  components/BottomNavigation/examples/BottomNavigationResetButtons.swift
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/tests/unit/BottomNavigationTests.m
Labels: [BottomNavigation], cla: yes

#4436 [BottomNavigation, Math] Fix `BOOL` types
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
  components/private/Math/src/MDCMath.h
Labels: [BottomNavigation], [Math], cla: yes, type:Internal cleanup

#4439 [FeatureHighlight] Add swift example
  components/FeatureHighlight/examples/FeatureHightlightTypicalUseViewController.swift
Labels: [FeatureHighlight], cla: yes

#4404 [Cards] Added interactability toggle to Cards
  components/Cards/examples/CardExampleViewController.swift
  components/Cards/examples/resources/CardExampleViewController.xib
  components/Cards/examples/supplemental/CardTintExampleCell.m
  components/Cards/src/CardThemer/MDCCardThemer.m
  components/Cards/src/MDCCard.h
  components/Cards/src/MDCCard.m
  components/Cards/src/MDCCardCollectionCell.h
  components/Cards/src/MDCCardCollectionCell.m
  components/Cards/tests/unit/MDCCardTests.m
Labels: [Cards], cla: yes

#4444 [BottomNavigation] AccessibilityValue and Selected icon support
  components/BottomNavigation/examples/BottomNavigationSelectedIconExample.swift
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.h
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
Labels: [BottomNavigation], cla: yes

#4445 Update CODEOWNERS file
  CODEOWNERS
Labels: cla: yes

#4450 [TextFields] Fix clearIcon drawing
  components/TextFields/src/private/MDCTextInputCommonFundament.m
Labels: [TextFields], cla: yes

#4452 [TextFields] {BreakingChange} Remove unused `backgroundColor` property
  components/TextFields/src/ColorThemer/MDCFilledTextFieldColorThemer.m
  components/TextFields/src/ColorThemer/MDCTextFieldColorThemer.m
  components/TextFields/src/MDCTextInputController.h
  components/TextFields/src/MDCTextInputControllerBase.h
  components/TextFields/src/MDCTextInputControllerBase.m
  components/TextFields/src/MDCTextInputControllerFullWidth.h
Labels: [TextFields], cla: yes

#4449 [TextFields] Support clear button tint color
  components/TextFields/examples/TextFieldFilledExample.swift
  components/TextFields/examples/TextFieldOutlinedExample.m
  components/TextFields/src/ColorThemer/MDCFilledTextFieldColorThemer.m
  components/TextFields/src/ColorThemer/MDCOutlinedTextFieldColorThemer.m
  components/TextFields/src/MDCTextInputControllerBase.h
  components/TextFields/src/MDCTextInputControllerBase.m
  components/TextFields/tests/unit/FilledTextFieldColorThemerTests.m
  components/TextFields/tests/unit/OutlinedTextFieldColorThemerTests.m
  components/TextFields/tests/unit/TextFieldControllerClassPropertiesTests.swift
Labels: PR:merge-when-approved, [TextFields], cla: yes
