Repository material-components/material-components-ios, pull requests merged in 2018-11, with the labels that each got.

#5570 [NavigationDrawer] Add scrim color to color themer
  components/NavigationDrawer/src/ColorThemer/MDCBottomDrawerColorThemer.m
  components/NavigationDrawer/tests/unit/MDCNavigationDrawerThemeTest.m
Labels: [NavigationDrawer], cla: yes

#5561 [FlexibleHeader] Fix an edge case in resetShadowAfterTrackingScrollViewIsReset
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
Labels: [FlexibleHeader], cla: yes

#5571 [BottomNavigation] Fix selection animation for badge
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
Labels: [BottomNavigation], cla: yes

#5583 [ShadowElevations] Remove .m file
  components/ShadowElevations/src/MDCShadowElevations.h
  components/ShadowElevations/src/MDCShadowElevations.m
Labels: [ShadowElevations], cla: yes

#5540 [FlexibleHeader] Fix animation glitches when switching between UITableView tabs
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
Labels: [FlexibleHeader], cla: yes

#5595 [Docs] Updated the cocoapods version we are using.
  docs/build-env/README.md
Labels: PR:merge-when-approved, cla: yes

#5582 [Snackbar] Add support to pass MDCSnackbarManager instances to color themer
  components/Snackbar/src/ColorThemer/MDCSnackbarColorThemer.h
  components/Snackbar/src/ColorThemer/MDCSnackbarColorThemer.m
  components/Snackbar/tests/unit/MDCSnackbarColorThemerSingletonTests.m
  components/Snackbar/tests/unit/MDCSnackbarColorThemerTests.m
Labels: [Snackbar], cla: yes

#5533 [Typography] Cache standard font for text style.
  components/Typography/src/UIFont+MaterialTypography.m
  components/Typography/tests/unit/UIFont+MaterialTypographyTests.m
Labels: PR is risky, [Typography], cla: yes

#5611 [BottomAppBar] Fix path animation
  components/BottomAppBar/BUILD
  components/BottomAppBar/src/private/MDCBottomAppBarLayer.m
  components/BottomAppBar/tests/unit/BottomAppBarTests.m
Labels: PR:updates BUILD, [BottomAppBar], cla: yes

#5590 [NavigationDrawer] Fix indentation in example
  components/NavigationDrawer/examples/BottomDrawerNoHeaderExample.swift
Labels: [NavigationDrawer], cla: yes

#5586 [NavigationDrawer] Automatically disable scrolling for the internal tracking scroll view
  components/NavigationDrawer/examples/BottomDrawerInfiniteScrollingExample.swift
  components/NavigationDrawer/examples/BottomDrawerWithChangingContentSize.swift
  components/NavigationDrawer/examples/BottomDrawerWithScrollableContentExample.swift
  components/NavigationDrawer/src/MDCBottomDrawerViewController.m
  components/NavigationDrawer/tests/unit/MDCNavigationDrawerScrollViewTests.m
Labels: [NavigationDrawer], cla: yes

#5634 [MDC Swift] Add guards for Swift 4.2+
  catalog/MDCCatalog/MDCCatalogComponentsController.swift
  components/AppBar/examples/AppBarGlitchExample.swift
  components/AppBar/examples/AppBarImageryExample.swift
  components/AppBar/examples/AppBarInterfaceBuilderExampleController.swift
  components/AppBar/examples/AppBarManualTabsExample.swift
  components/AppBar/examples/AppBarModalPresentationExample.swift
  components/AppBar/examples/AppBarTypicalUseExample.swift
  components/AppBar/examples/AppBarWithUITableViewController.swift
  components/AppBar/tests/unit/AppBarNavigationControllerTests.swift
  components/BottomAppBar/examples/BottomAppBarTypicalUseExample.swift
  components/BottomNavigation/examples/BottomNavigationNilBadges.swift
  components/FlexibleHeader/tests/unit/FlexibleHeaderControllerIssue176Tests.swift
  components/FlexibleHeader/tests/unit/FlexibleHeaderControllerIssue279Tests.swift
  components/FlexibleHeader/tests/unit/FlexibleHeaderInjectionLegacyTopLayoutGuideTests.swift
  components/FlexibleHeader/tests/unit/FlexibleHeaderInjectionTopLayoutGuideTests.swift
  components/FlexibleHeader/tests/unit/FlexibleHeaderScrollViewObservationTests.swift
Labels: [ActionSheet], [AppBar], [BottomAppBar], [BottomNavigation], [Catalog], [FlexibleHeader], cla: yes

#5656 [kokoro] Add protect_stable_from_undesired_merges job.
  .kokoro
Labels: cla: yes

#5594 [FlexibleHeader] Refactor min/max height behavior to a separate object.
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
  components/FlexibleHeader/src/private/MDCFlexibleHeaderMinMaxHeight.h
  components/FlexibleHeader/src/private/MDCFlexibleHeaderMinMaxHeight.m
  components/FlexibleHeader/tests/unit/FlexibleHeaderMinMaxHeightIncludesSafeAreaTests.m
  components/FlexibleHeader/tests/unit/FlexibleHeaderMinMaxHeightTests.m
Labels: [FlexibleHeader], cla: yes

#5591 [NavigationDrawer] Added a top handle to the drawer
  MaterialComponents.podspec
  components/NavigationDrawer/BUILD
  components/NavigationDrawer/examples/BottomDrawerWithHeaderExample.swift
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.h
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.m
  components/NavigationDrawer/src/MDCBottomDrawerViewController.h
  components/NavigationDrawer/src/MDCBottomDrawerViewController.m
  components/NavigationDrawer/tests/unit/MDCNavigationDrawerScrollViewTests.m
Labels: [NavigationDrawer], cla: yes

#5541 [ActionSheet] Try to fix MaterialComponentsAlpha
  .kokoro
  components/ActionSheet/src/ActionSheetThemer/MDCActionSheetScheme.h
  components/ActionSheet/src/ColorThemer/MDCActionSheetColorThemer.h
  components/ActionSheet/src/MDCActionSheetController.h
  components/ActionSheet/src/TypographyThemer/MDCActionSheetTypographyThemer.h
Labels: PR is risky, [ActionSheet], cla: yes

#5614 [AppBar] Annotate APIs that need to be deprecated.
  components/AppBar/src/ColorThemer/MDCAppBarColorThemer.h
  components/AppBar/src/TypographyThemer/MDCAppBarTypographyThemer.h
Labels: PR:merge-when-approved, [AppBar], cla: yes

#5587 [NavigationDrawer] Add dynamically sizing support for the drawer + performance improvements
  components/NavigationDrawer/examples/BottomDrawerWithChangingContentSize.swift
  components/NavigationDrawer/examples/BottomDrawerWithScrollableContentExample.swift
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
  components/NavigationDrawer/tests/unit/MDCNavigationDrawerScrollViewTests.m
Labels: [NavigationDrawer], cla: yes

#5592 [NavigationDrawer] Added Color API for the top handle.
  components/NavigationDrawer/examples/BottomDrawerWithHeaderExample.swift
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.h
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.m
  components/NavigationDrawer/src/MDCBottomDrawerViewController.h
  components/NavigationDrawer/src/MDCBottomDrawerViewController.m
  components/NavigationDrawer/tests/unit/MDCNavigationDrawerScrollViewTests.m
Labels: PR:stacked, [NavigationDrawer], cla: yes

#5674 [NavigationDrawer] Adding a top inset delegate for the drawer
  components/NavigationDrawer/examples/BottomDrawerWithHeaderExample.swift
  components/NavigationDrawer/examples/supplemental/BottomDrawerSupplemental.swift
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.m
  components/NavigationDrawer/src/MDCBottomDrawerViewController.h
  components/NavigationDrawer/src/MDCBottomDrawerViewController.m
  components/NavigationDrawer/tests/unit/MDCNavigaitonDrawerFakes.m
  components/NavigationDrawer/tests/unit/MDCNavigationDrawerFakes.h
  components/NavigationDrawer/tests/unit/MDCNavigationDrawerScrollViewTests.m
Labels: [NavigationDrawer], cla: yes

#5716 Update clang-format to r345798
  .kokoro
Labels: cla: yes

#5723 Bump MotionInterchange to 1.6.0
  WORKSPACE
Labels: PR:merge-when-approved, cla: yes

#5731 [Snackbar] Fix for Snackbar themer breaking Snackbar examples on dragons
  components/Snackbar/examples/SnackbarOverlayViewExample.m
  components/Snackbar/examples/SnackbarSimpleExample.m
  components/Snackbar/examples/SnackbarSuspensionExample.m
Labels: [Snackbar], cla: yes

#5710 [NavigationDrawer] Should be calling the transitionController getter if not in init
  components/NavigationDrawer/src/MDCBottomDrawerViewController.m
Labels: [NavigationDrawer], cla: yes

#5735 [Buttons, TextFields] fix typo in header doc
  components/Buttons/src/MDCButton.h
  components/TextFields/src/MDCTextInput.h
  components/TextFields/src/MDCTextInputController.h
Labels: [Buttons], [TextFields], cla: yes

#5733 [BottomNavigation] Add elevation property
  components/BottomNavigation/src/MDCBottomNavigationBar.h
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/tests/unit/BottomNavigationTests.m
Labels: [BottomNavigation], cla: yes

#5732 [Snackbar]! Change default Snackbar to be the new Snackbar style
  components/Snackbar/src/MDCSnackbarMessage.m
Labels: [Snackbar], cla: yes

#5742 [BottomNavigation] Minor code clean-up.
  components/BottomNavigation/src/MDCBottomNavigationBar.h
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/tests/unit/BottomNavigationTests.m
Labels: [BottomNavigation], cla: yes, type:Internal cleanup

#5743 [NavigationDrawer] Provide a non-fullscreen example
  components/NavigationDrawer/examples/BottomDrawerWithHeaderLessContentExample.swift
  components/NavigationDrawer/examples/supplemental/BottomDrawerSupplemental.swift
Labels: [NavigationDrawer], cla: yes

#5711 [PageControl] Add respectsUserInterfaceLayoutDirection to MDCPageControl
  MaterialComponents.podspec
  components/PageControl/BUILD
  components/PageControl/examples/PageControlTypicalUseExample.m
  components/PageControl/src/MDCPageControl.h
  components/PageControl/src/MDCPageControl.m
Labels: [PageControl], cla: yes

#5760 [NavigationDrawer] Position handle using NSLayoutConstraints
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.m
Labels: [NavigationDrawer], cla: yes

#5536 [Banner] Banner MVP
  components/Banner/examples/BannerTypicalUseExampleViewController.m
  components/Banner/examples/supplemental/MDCBannerView.h
  components/Banner/examples/supplemental/MDCBannerView.m
  components/Banner/examples/supplemental/MDCBannerViewLayout.h
  components/Banner/examples/supplemental/MDCBannerViewLayout.m
Labels: [Banner], cla: yes

#5736 [BottomNavigation] Support `accessibilityLabel`, `accessibilityHint`, and `isAccessibilityElement`
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/tests/unit/BottomNavigationTests.m
Labels: Accessibility, [BottomNavigation], cla: yes

#5787 [Buttons]! Remove property coding support from MDCFloatingButton and MDCFlatButton.
  components/Buttons/src/MDCFlatButton.m
  components/Buttons/src/MDCFloatingButton.m
  components/Buttons/tests/unit/FloatingButtonTests.m
Labels: PR:merge-when-approved, [Buttons], cla: yes

#5744 [NavigationDrawer] Improve performance for heavy preferredContentSize calls
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.h
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.m
  components/NavigationDrawer/src/MDCBottomDrawerViewController.m
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.h
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
  components/NavigationDrawer/tests/unit/MDCNavigationDrawerScrollViewTests.m
Labels: [NavigationDrawer], cla: yes

#5786 [Dialogs, Shape] Fix cross-component imports.
  components/Dialogs/BUILD
  components/Dialogs/src/ColorThemer/MDCAlertColorThemer.m
  components/Dialogs/src/TypographyThemer/MDCAlertTypographyThemer.m
  components/schemes/Shape/examples/MDCShapeSchemeExampleViewController.m
  components/schemes/Shape/examples/supplemental/MDCShapeExamplesDummyCollectionViewController.h
  components/schemes/Shape/examples/supplemental/MDCShapeExamplesDummyCollectionViewController.m
Labels: [ActionSheet], [Dialogs], [Shapes], [schemes], cla: yes, type:Internal cleanup

#5793 Revert "[Dialogs, Shape] Fix cross-component imports."
  components/Dialogs/BUILD
  components/Dialogs/src/ColorThemer/MDCAlertColorThemer.m
  components/Dialogs/src/TypographyThemer/MDCAlertTypographyThemer.m
  components/schemes/Shape/examples/MDCShapeSchemeExampleViewController.m
  components/schemes/Shape/examples/supplemental/MDCShapeExamplesDummyCollectionViewController.h
  components/schemes/Shape/examples/supplemental/MDCShapeExamplesDummyCollectionViewController.m
Labels: [Dialogs], [schemes], cla: yes

#5794 [Dialogs, Shape] Fix cross-component imports.
  components/Dialogs/BUILD
  components/Dialogs/src/ColorThemer/MDCAlertColorThemer.m
  components/Dialogs/src/TypographyThemer/MDCAlertTypographyThemer.m
  components/schemes/Shape/examples/MDCShapeSchemeExampleViewController.m
  components/schemes/Shape/examples/supplemental/MDCShapeExamplesDummyCollectionViewController.h
  components/schemes/Shape/examples/supplemental/MDCShapeExamplesDummyCollectionViewController.m
Labels: [Dialogs], [Shapes], [schemes], cla: yes

#5779 [BottomSheet] Add a Dragon to demonstrate issue #5778
  components/BottomSheet/examples/BottomSheetPresentationExample.m
  components/BottomSheet/examples/supplemental/BottomSheetPresenterViewController.h
  components/BottomSheet/examples/supplemental/BottomSheetPresenterViewController.m
  components/BottomSheet/examples/supplemental/BottomSheetSupplemental.h
  components/BottomSheet/examples/supplemental/BottomSheetSupplemental.m
Labels: [BottomSheet], cla: yes

#5560 [Collections] Adds ability to programmatically update the position of the reordering cell
  components/Collections/src/MDCCollectionViewEditing.h
  components/Collections/src/private/MDCCollectionViewEditor.m
Labels: [Collections], cla: yes

#5776 [NavigationDrawer] API to allow content to scroll to top
  components/NavigationDrawer/examples/BottomDrawerInfiniteScrollingExample.swift
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.h
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.m
  components/NavigationDrawer/src/MDCBottomDrawerViewController.h
  components/NavigationDrawer/src/MDCBottomDrawerViewController.m
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.h
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
  components/NavigationDrawer/tests/unit/MDCNavigationDrawerScrollViewTests.m
Labels: [NavigationDrawer], cla: yes

#5792 [all]! Remove remaining property coding.
  components/Buttons/src/MDCFloatingButton.h
  components/Buttons/src/MDCFloatingButton.m
  components/Cards/src/MDCCardCollectionCell.m
  components/Chips/src/MDCChipCollectionViewCell.m
  components/Chips/src/MDCChipField.m
  components/Dialogs/tests/unit/MDCAlertControllerTests.m
  components/FlexibleHeader/src/MDCFlexibleHeaderViewController.m
  components/Ink/src/private/MDCInkLayer.m
  components/Ink/src/private/MDCLegacyInkLayer.m
  components/Ink/tests/unit/MDCInkLayerTests.m
  components/Ink/tests/unit/MDCInkViewTests.m
  components/Ink/tests/unit/MDCLegacyInkLayerTests.m
  components/List/src/MDCBaseCell.m
  components/Slider/src/MDCSlider.h
  components/Slider/src/MDCSlider.m
  components/Tabs/src/MDCTabBar.m
  components/Tabs/src/MDCTabBarViewController.m
  components/Tabs/tests/unit/MDCTabBarCodingTests.m
  components/Tabs/tests/unit/MDCTabBarControllerEncodingTests.m
  components/TextFields/src/private/MDCTextInputCommonFundament.h
  components/TextFields/src/private/MDCTextInputCommonFundament.m
  components/private/ShapeLibrary/src/MDCCurvedCornerTreatment.h
  components/private/ShapeLibrary/src/MDCCurvedCornerTreatment.m
  components/private/ShapeLibrary/src/MDCCurvedRectShapeGenerator.h
  components/private/ShapeLibrary/src/MDCCurvedRectShapeGenerator.m
  components/private/ShapeLibrary/src/MDCCutCornerTreatment.h
  components/private/ShapeLibrary/src/MDCCutCornerTreatment.m
  components/private/ShapeLibrary/src/MDCPillShapeGenerator.m
  components/private/ShapeLibrary/src/MDCRoundedCornerTreatment.h
  components/private/ShapeLibrary/src/MDCRoundedCornerTreatment.m
  components/private/ShapeLibrary/src/MDCSlantedRectShapeGenerator.m
  components/private/ShapeLibrary/src/MDCTriangleEdgeTreatment.h
  components/private/ShapeLibrary/src/MDCTriangleEdgeTreatment.m
  components/private/Shapes/src/MDCCornerTreatment.h
  components/private/Shapes/src/MDCCornerTreatment.m
  components/private/Shapes/src/MDCEdgeTreatment.h
  components/private/Shapes/src/MDCEdgeTreatment.m
  components/private/Shapes/src/MDCRectangleShapeGenerator.m
  components/private/Shapes/src/MDCShapeGenerating.h
  components/private/Shapes/src/MDCShapedView.h
  components/private/Shapes/src/MDCShapedView.m
  components/schemes/Color/src/MDCLegacyTonalPalette.h
  components/schemes/Color/src/MDCLegacyTonalPalette.m
  components/schemes/Color/tests/unit/MDCTonalPaletteTests.m
Labels: PR:merge-when-approved, [Buttons], [Cards], [Chips], [Dialogs], [FlexibleHeader], [Ink], [List], [Slider], [Tabs], [TextFields], [private], [schemes], cla: yes

#5670 [Tabs] Update MDCItemBarCell edge insets to 16.0f, per the material spec.
  components/Tabs/src/private/MDCItemBar.m
  components/Tabs/src/private/MDCItemBarCell.h
  components/Tabs/src/private/MDCItemBarCell.m
Labels: [Tabs], cla: yes

#5796 [scripts/release] Improve the notes command output.
  scripts/release
Labels: cla: yes

#5800 Extract clang-format-ci to a separate command.
  .clang-format-ci
  .gitignore
  .kokoro
Labels: cla: yes

#5775 [Release Docs] Updated release docs to be better defined.
  contributing/releasing.md
Labels: [Documentation], cla: yes, type:Documentation

#5780 [Cards] Have updates to MDCCardCollectionCell setState properly respect the animated flag.
  components/Cards/src/MDCCardCollectionCell.m
Labels: [Cards], cla: yes

#5807 [Dialogs] cleaning catalog examples - renaming typical use example.
  components/Dialogs/examples/DialogsDismissingViewController.m
Labels: [Dialogs], cla: yes

#5801 [MDC Theming] implement a container scheme
  MaterialComponentsAlpha.podspec
  catalog/Podfile
  components/schemes/Container/.jazzy.yaml
  components/schemes/Container/.vars
  components/schemes/Container/BUILD
  components/schemes/Container/README.md
  components/schemes/Container/src/MDCContainerScheme.h
  components/schemes/Container/src/MDCContainerScheme.m
  components/schemes/Container/src/MaterialContainerScheme.h
  components/schemes/Container/tests/unit/MDCContainerSchemeTests.m
Labels: [Catalog], [schemes], cla: yes

#5829 [Dialogs] Move non-typical demo to Dragons.
  components/Dialogs/examples/supplemental/DialogsAlertViewControllerSupplemental.m
Labels: [Dialogs], cla: yes

#5816 [Dialogs] Update galiak@ as the owner
  CODEOWNERS
Labels: cla: yes

#5850 [kokoro] Pin sourcekitten to 0.21.3
  .kokoro
Labels: PR:merge-when-approved, cla: yes

#5852 [scripts/release] Ignore more project-wide files when generating release notes.
  scripts/release
Labels: cla: yes

#5853 [NavigationDrawer] Remove bottom drawer container view as child upon dismissal
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.m
Labels: [NavigationDrawer], cla: yes

#5809 [Dialogs] New typical use example
  components/Dialogs/examples/DialogsDismissingViewController.m
  components/Dialogs/examples/DialogsTypicalUseViewController.m
  components/Dialogs/examples/supplemental/DialogsAlertViewControllerSupplemental.m
Labels: [Catalog], [Dialogs], cla: yes

#5861 [Snackbar] Disable potentially flaky test
  components/Snackbar/tests/unit/MDCSnackbarMessageViewTests.m
Labels: [Snackbar], cla: yes

#5831 [Dialogs] Refactor low elevation example
  components/Dialogs/examples/DialogsAlertCustomizationViewController.swift
  components/Dialogs/examples/DialogsAlertViewController.m
Labels: [Dialogs], cla: yes

#5849 [Buttons] Add themer for contained buttons with container scheme
  MaterialComponents.podspec
  MaterialComponentsAlpha.podspec
  components/Buttons/BUILD
  components/Buttons/examples/ButtonsContentEdgeInsetsExample.m
  components/Buttons/examples/ButtonsShapesExampleViewController.m
  components/Buttons/examples/ButtonsTypicalUseExampleViewController.m
  components/Buttons/examples/supplemental/ButtonsTypicalUseSupplemental.h
  components/Buttons/src/Theming/MDCButton+Theming.h
  components/Buttons/src/Theming/MDCButton+Theming.m
  components/Buttons/src/Theming/MaterialButtons+Theming.h
  components/Buttons/tests/unit/ButtonsThemingTest.swift
Labels: [Buttons], cla: yes

#5864 [Snackbar] Updates the snackbar tests to use XCTestExpectation
  components/Snackbar/tests/unit/MDCSnackbarMessageViewTests.m
Labels: [Snackbar], cla: yes

#5833 [Banner] Fix banner revert
  components/Banner/examples/BannerTypicalUseExampleViewController.m
  components/Banner/examples/supplemental/MDCBannerView.h
  components/Banner/examples/supplemental/MDCBannerView.m
  components/Banner/examples/supplemental/MDCBannerViewLayout.h
  components/Banner/examples/supplemental/MDCBannerViewLayout.m
Labels: PR:prototype, [Banner], cla: yes

#5862 [Dialogs] Refactor low elevation example
  components/Dialogs/examples/DialogsAlertCustomizationViewController.swift
  components/Dialogs/examples/DialogsAlertViewController.m
  components/Dialogs/examples/supplemental/DialogsAlertViewControllerSupplemental.m
Labels: [Dialogs], cla: yes

#5868 [AnimationTiming] Rename examples view controllers
  components/AnimationTiming/examples/AnimationTimingExampleViewController.m
  components/AnimationTiming/examples/AnimationTimingSwiftExampleViewController.swift
  components/AnimationTiming/examples/supplemental/AnimationTimingExampleViewControllerSupplemental.h
  components/AnimationTiming/examples/supplemental/AnimationTimingExampleViewControllerSupplemental.m
Labels: [AnimationTiming], cla: yes, skill:Refactoring, type:Internal cleanup

#5867 [ActivityIndicator] Rename examples
  components/ActivityIndicator/examples/ActivityIndicatorExampleViewController.m
  components/ActivityIndicator/examples/ActivityIndicatorSwiftExampleViewController.swift
  components/ActivityIndicator/examples/ActivityIndicatorTransitionExampleViewController.m
  components/ActivityIndicator/examples/supplemental/ActivityIndicatorExampleViewControllerSupplemental.h
  components/ActivityIndicator/examples/supplemental/ActivityIndicatorExampleViewControllerSupplemental.m
Labels: [ActivityIndicator], cla: yes, skill:Refactoring, type:Internal cleanup

#5838 [Dialogs] Reduce & refactor Material Alert Controller Examples
  components/Dialogs/examples/DialogsAlertViewController.m
  components/Dialogs/examples/supplemental/DialogsAlertViewControllerSupplemental.h
  components/Dialogs/examples/supplemental/DialogsAlertViewControllerSupplemental.m
Labels: [Dialogs], [NavigationDrawer], [Snackbar], cla: yes

#5754 Snapshot Testing Proof of Concept
  .gitattributes
  .kokoro
  MaterialComponents.podspec
  catalog/MDCCatalog.xcodeproj/xcshareddata/xcschemes/MDCCatalog.xcscheme
  catalog/MDCDragons.xcodeproj/xcshareddata/xcschemes/MDCDragons.xcscheme
  catalog/Podfile
  components/Cards/tests/snapshot/MDCCardSnapshotTests.m
  scripts/test_all
  snapshot_test_goldens/goldens_64/MDCCardSnapshotTests/testDefaultCard@2x.png
Labels: [Cards], [Catalog], [Snackbar], cla: yes

#5872 Add @codeman7 as owner of ActionSheet
  CODEOWNERS
Labels: cla: yes

#5883 [Catalog] Revert "Snapshot Testing Proof of Concept"
  .gitattributes
  .kokoro
  MaterialComponents.podspec
  catalog/MDCCatalog.xcodeproj/xcshareddata/xcschemes/MDCCatalog.xcscheme
  catalog/MDCDragons.xcodeproj/xcshareddata/xcschemes/MDCDragons.xcscheme
  catalog/Podfile
  components/Cards/tests/snapshot/MDCCardSnapshotTests.m
  scripts/test_all
  snapshot_test_goldens/goldens_64/MDCCardSnapshotTests/testDefaultCard@2x.png
Labels: PR:merge-when-approved, [Catalog], cla: yes

#5878 [Buttons] Add button theming category method for outlined theming
  components/Buttons/examples/ButtonsTypicalUseExampleViewController.m
  components/Buttons/src/Theming/MDCButton+Theming.h
  components/Buttons/src/Theming/MDCButton+Theming.m
  components/Buttons/tests/unit/ButtonsThemingTest.swift
  components/schemes/Shape/examples/MDCShapeSchemeExampleViewController.m
Labels: [Buttons], [schemes], cla: yes
