Repository material-components/material-components-ios, pull requests merged in 2018-09, with the labels that each got.

#4928 [BottomAppBar] Use the height of bottom app bar as the contentInset of table view
  components/BottomAppBar/examples/supplemental/BottomAppBarTypicalUseSupplemental.m
Labels: [BottomAppBar], cla: yes

#4995 [ActionSheet] Make ActionSheet not presentable.
  components/ActionSheet/examples/ActionSheetTypicalUse.m
Labels: [ActionSheet], cla: yes

#5007 [releasing] Fold hotfixing.md into releasing.md.
  contributing/hotfixing.md
  contributing/releasing.md
Labels: cla: yes

#5005 [releasing] Emphasize importance of merging to stable and develop
  contributing/releasing.md
Labels: PR:merge-when-approved, cla: yes

#5004 [scripts/release] Remove the #### Changes header from notes output.
  scripts/release
Labels: PR:merge-when-approved, cla: yes

#5001 [scripts/release] Sort the notes output by component.
  scripts/release
Labels: PR:merge-when-approved, cla: yes

#4999 [scripts/release] Don't include automated changes in the release notes.
  scripts/release
Labels: PR:merge-when-approved, cla: yes

#4997 [BottomAppBar] Correct cut-out arc angle.
  components/BottomAppBar/src/private/MDCBottomAppBarAttributes.h
  components/BottomAppBar/src/private/MDCBottomAppBarLayer.m
Labels: [BottomAppBar], cla: yes

#5022 Removed outdated link to hotfixing.md
  contributing/README.md
Labels: cla: yes

#5027 [BottomAppBar] Make Wenyu the component owner
  CODEOWNERS
Labels: cla: yes

#5030 [Shape] Add isEqual support to our corner treatments
  components/private/ShapeLibrary/src/MDCCurvedCornerTreatment.m
  components/private/ShapeLibrary/src/MDCCutCornerTreatment.m
  components/private/ShapeLibrary/src/MDCRoundedCornerTreatment.m
  components/private/ShapeLibrary/tests/unit/ShapeLibraryNoopTest.m
  components/private/ShapeLibrary/tests/unit/ShapeLibraryTests.m
Labels: [private], cla: yes

#5040 Revert "[Dialogs] Remove use of MDCFlatButton for MDCButton and MDCTextButtonThemer (#4739)"
  MaterialComponents.podspec
  components/Dialogs/BUILD
  components/Dialogs/src/private/MDCAlertControllerView+Private.h
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Labels: [Dialogs], cla: yes

#5028 [MaskedTransition] Update Swift example to use MDCFloatingButton
  components/MaskedTransition/examples/MaskedTransitionTypicalUse.swift
  components/MaskedTransition/examples/supplemental/MaskedTransitionTypicalUseSupplemental.swift
Labels: [MaskedTransition], cla: yes

#5062 [BottomSheet] Addition of a Bottom Sheet Shape Themer
  MaterialComponents.podspec
  components/BottomSheet/BUILD
  components/BottomSheet/src/ShapeThemer/MDCBottomSheetControllerShapeThemer.h
  components/BottomSheet/src/ShapeThemer/MDCBottomSheetControllerShapeThemer.m
  components/BottomSheet/src/ShapeThemer/MaterialBottomSheet+ShapeThemer.h
  components/BottomSheet/tests/unit/BottomSheetShapeThemerTests.swift
Labels: [BottomSheet], cla: yes

#5033 [scripts/release] update release doc to discuss how to hotfix a regression with cherry-picking
  contributing/releasing.md
Labels: cla: yes

#5061 [BottomNavigation] Expose UIView for a given UITabBarItem.
  components/BottomNavigation/src/MDCBottomNavigationBar.h
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/tests/unit/BottomNavigationTests.m
Labels: PR:merge-when-approved, [BottomNavigation], cla: yes

#5072 [ActionSheet] Fix Swift imports.
  components/ActionSheet/examples/ActionSheetSwiftExample.swift
Labels: [ActionSheet], cla: yes

#5077 [CODEOWNERS] Remove jmdetloff from our CODEOWNERS file
  CODEOWNERS
Labels: cla: yes

#5065 [BottomAppBar] Tint leading, trailing bar items.
  components/BottomAppBar/BUILD
  components/BottomAppBar/src/MDCBottomAppBarView.h
  components/BottomAppBar/src/MDCBottomAppBarView.m
  components/BottomAppBar/tests/unit/BottomAppBarTests.m
Labels: [BottomAppBar], [NavigationBar], cla: yes

#5076 [ShapeLibrary] Make the new CornerTreatment initializers use concrete types
  components/BottomSheet/tests/unit/BottomSheetShapeThemerTests.swift
  components/private/ShapeLibrary/src/MDCCornerTreatment+CornerTypeInitalizer.h
  components/private/ShapeLibrary/src/MDCCornerTreatment+CornerTypeInitalizer.m
  components/private/ShapeLibrary/tests/unit/ShapeLibraryTests.m
  components/schemes/Shape/src/MDCShapeCorner.m
Labels: [BottomSheet], [private], [schemes], cla: yes

#5068 [BottomAppBar] Add surface variant color themer.
  components/BottomAppBar/BUILD
  components/BottomAppBar/README.md
  components/BottomAppBar/docs/color-theming.md
  components/BottomAppBar/src/ColorThemer/MDCBottomAppBarColorThemer.h
  components/BottomAppBar/src/ColorThemer/MDCBottomAppBarColorThemer.m
  components/BottomAppBar/tests/unit/BottomAppBarColorThemerTests.m
Labels: [BottomAppBar], [NavigationBar], cla: yes

#4992 [NavigationBar] Update layout when button bar sizes change.
  components/NavigationBar/src/MDCNavigationBar.m
  components/NavigationBar/tests/unit/NavigationBarButtonLayoutTests.swift
Labels: [AppBar], [NavigationBar], cla: yes

#5070 [BottomAppBar] Examples use semantic color scheme.
  components/BottomAppBar/examples/BottomAppBarTypicalUseExample.m
  components/BottomAppBar/examples/BottomAppBarTypicalUseExample.swift
Labels: [BottomAppBar], [NavigationBar], cla: yes

#5078 [BottomSheet] Integrating the BottomSheet shape themer in the example
  components/BottomSheet/examples/BottomSheetTypicalUseExample.m
Labels: [BottomSheet], cla: yes

#5082 [ActionSheet] Remove excessive import
  components/ActionSheet/src/MDCActionSheetController.m
Labels: [ActionSheet], cla: yes

#5080 Remove "+Extensions" pod installation instructions from component rea…
  components/HeaderStackView/README.md
  components/Ink/README.md
Labels: [HeaderStackView], [Ink], cla: yes

#5032 [Dialogs] Add Header trait to title in AlertControllerView
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Labels: [Dialogs], cla: yes, kokoru:run

#4952 [Codelabs] Add documentation for build_codelabs script
  scripts/README.md
  scripts/release
Labels: cla: yes

#5088 [ActionSheet] Update cell image alpha
  components/ActionSheet/src/private/MDCActionSheetItemTableViewCell.m
Labels: [ActionSheet], cla: yes

#5096 [NavigationDrawer] Fix Swift imports in examples.
  components/NavigationDrawer/examples/BottomDrawerInfiniteScrollingExample.swift
  components/NavigationDrawer/examples/BottomDrawerNoHeaderExample.swift
  components/NavigationDrawer/examples/BottomDrawerWithHeaderExample.swift
  components/NavigationDrawer/examples/BottomDrawerWithScrollableContentExample.swift
  components/NavigationDrawer/examples/supplemental/BottomDrawerSupplemental.swift
Labels: [NavigationDrawer], cla: yes

#4987 [FlexibleHeader] Extract safe area logic to a separate object.
  components/FlexibleHeader/BUILD
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
  components/FlexibleHeader/src/MDCFlexibleHeaderViewController.m
  components/FlexibleHeader/src/private/MDCFlexibleHeaderTopSafeArea.h
  components/FlexibleHeader/src/private/MDCFlexibleHeaderTopSafeArea.m
  components/FlexibleHeader/src/private/MDCFlexibleHeaderView+Private.h
  components/FlexibleHeader/tests/unit/FlexibleHeaderTopSafeAreaTests.m
  components/FlexibleHeader/tests/unit/supplemental/FlexibleHeaderTopSafeAreaTestsFakeViewController.h
  components/FlexibleHeader/tests/unit/supplemental/FlexibleHeaderTopSafeAreaTestsFakeViewController.m
Labels: [FlexibleHeader], cla: yes

#5090 [Shapes] merge MDCShapeCorner and MDCCornerTreatment into one
  components/BottomSheet/src/ShapeThemer/MDCBottomSheetControllerShapeThemer.m
  components/BottomSheet/tests/unit/BottomSheetShapeThemerTests.swift
  components/Cards/src/ShapeThemer/MDCCardsShapeThemer.m
  components/Cards/tests/unit/MDCCardShapeThemerTests.swift
  components/schemes/Shape/src/MDCShapeCategory.h
  components/schemes/Shape/src/MDCShapeCategory.m
  components/schemes/Shape/src/MDCShapeCorner.h
  components/schemes/Shape/src/MDCShapeCorner.m
  components/schemes/Shape/src/MaterialShapeScheme.h
Labels: [BottomSheet], [Cards], [schemes], cla: yes

#4947 [contributing] Add a tools guide.
  contributing/tools.md
Labels: PR:want-approval-from-all, cla: yes

#5091 [Shapes] Add percentage API to MDCCornerTreatment
  components/private/ShapeLibrary/src/MDCCornerTreatment+CornerTypeInitalizer.h
  components/private/ShapeLibrary/src/MDCCornerTreatment+CornerTypeInitalizer.m
  components/private/ShapeLibrary/src/MDCCurvedCornerTreatment.m
  components/private/ShapeLibrary/src/MDCCutCornerTreatment.m
  components/private/ShapeLibrary/src/MDCRoundedCornerTreatment.m
  components/private/ShapeLibrary/tests/unit/ShapeLibraryTests.m
  components/private/Shapes/src/MDCCornerTreatment.h
  components/private/Shapes/src/MDCCornerTreatment.m
Labels: [BottomSheet], [Cards], [private], [schemes], cla: yes

#5099 [Shapes] Added copy support for the new percentage API support
  components/private/ShapeLibrary/src/MDCCurvedCornerTreatment.m
  components/private/ShapeLibrary/src/MDCCutCornerTreatment.m
  components/private/ShapeLibrary/src/MDCRoundedCornerTreatment.m
  components/private/ShapeLibrary/tests/unit/ShapeLibraryTests.m
  components/private/Shapes/src/MDCCornerTreatment.m
Labels: [BottomSheet], [Cards], [private], [schemes], cla: yes

#5100 [Shapes] Added full support for intaking percentage values in the internal shape generation
  components/private/ShapeLibrary/src/MDCCurvedCornerTreatment.m
  components/private/ShapeLibrary/src/MDCCutCornerTreatment.m
  components/private/ShapeLibrary/src/MDCRoundedCornerTreatment.m
  components/private/ShapeLibrary/tests/unit/ShapeLibraryTests.m
  components/private/Shapes/src/MDCCornerTreatment.h
  components/private/Shapes/src/MDCCornerTreatment.m
  components/private/Shapes/src/MDCRectangleShapeGenerator.m
Labels: [BottomSheet], [Cards], [private], [schemes], cla: yes

#4988 [Dialogs] Expose corner radius property
  components/Dialogs/src/MDCAlertController.h
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/src/MDCAlertControllerView.h
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
  components/Dialogs/tests/unit/MDCAlertControllerTests.m
Labels: [Dialogs], cla: yes

#5106 [Tabs] Fix an example bug
  components/Tabs/examples/supplemental/TabBarIconExampleSupplemental.swift
Labels: [Tabs], cla: yes

#5111 [Chips] Addition of a Shape Themer
  MaterialComponents.podspec
  components/Chips/BUILD
  components/Chips/src/ShapeThemer/MDCChipViewShapeThemer.h
  components/Chips/src/ShapeThemer/MDCChipViewShapeThemer.m
  components/Chips/src/ShapeThemer/MaterialChips+ShapeThemer.h
  components/Chips/tests/unit/ChipViewShapeThemerTests.m
Labels: [Chips], cla: yes

#5112 [Chips]! Integrate the shape themer into the chip themer
  MaterialComponents.podspec
  components/Chips/src/ChipThemer/MDCChipViewScheme.h
  components/Chips/src/ChipThemer/MDCChipViewScheme.m
  components/Chips/src/ChipThemer/MDCChipViewThemer.m
Labels: [Chips], cla: yes

#5115 [BottomSheet] Add tests for `updatePreferredSheetHeight`.
  components/BottomSheet/src/MDCBottomSheetPresentationController.m
  components/BottomSheet/tests/unit/MDCBottomSheetPresentationControllerPreferredSheetHeightTests.m
Labels: PR:merge-when-approved, [BottomSheet], cla: yes, type:Test

#5119 [Buttons] Addition of a Shape Themer for MDCButton
  MaterialComponents.podspec
  components/Buttons/BUILD
  components/Buttons/src/ShapeThemer/MDCButtonShapeThemer.h
  components/Buttons/src/ShapeThemer/MDCButtonShapeThemer.m
  components/Buttons/src/ShapeThemer/MaterialButtons+ShapeThemer.h
  components/Buttons/tests/unit/ButtonsShapeThemerTests.m
Labels: [Buttons], cla: yes

#5113 [Chips] Integration of the chip themer into the examples
  components/Chips/examples/ChipsActionExampleViewController.m
  components/Chips/examples/ChipsChoiceExampleViewController.m
  components/Chips/examples/ChipsFilterExampleViewController.m
  components/Chips/examples/ChipsInputExampleViewController.m
  components/Chips/examples/ChipsTypicalUseViewController.m
  components/Chips/examples/supplemental/ChipsExamplesSupplemental.h
Labels: [Chips], cla: yes

#5079 [Chips] Support RTL in MDCChipCollectionViewFlowLayout
  components/Chips/src/MDCChipCollectionViewFlowLayout.m
Labels: [Chips], cla: yes

#5122 [BottomSheet] Make `sheetView` a property.
  components/BottomSheet/BUILD
  components/BottomSheet/src/MDCBottomSheetPresentationController.m
  components/BottomSheet/tests/unit/MDCBottomSheetPresentationControllerPreferredSheetHeightTests.m
Labels: [BottomSheet], cla: yes

#5127 [Shapes] Bug fix for getting the wrong backgroundColor when shapeGenerator is set.
  components/Buttons/src/MDCButton.m
  components/Buttons/tests/unit/ButtonsShapeThemerTests.m
  components/Chips/BUILD
  components/Chips/src/MDCChipView.m
  components/Chips/tests/unit/ChipViewColorThemerTests.m
  components/Chips/tests/unit/ChipViewShapeThemerTests.m
Labels: [Buttons], [Chips], cla: yes

#5121 [Buttons] Integration of the button shape themer into the examples
  components/Buttons/examples/ButtonsTypicalUseExampleViewController.m
  components/Buttons/examples/supplemental/ButtonsTypicalUseSupplemental.h
Labels: [Buttons], cla: yes

#5134 [ActionSheet] Update the docs
  components/ActionSheet/README.md
  components/ActionSheet/docs/README.md
Labels: [ActionSheet], cla: yes

#5135 [Chips] Add client the ability to delete chips in a chip field
  components/Chips/BUILD
  components/Chips/README.md
  components/Chips/docs/README.md
  components/Chips/docs/enable-chips-that-delete.md
  components/Chips/examples/ChipsFieldDeleteEnabledViewController.swift
  components/Chips/src/MDCChipField.h
  components/Chips/src/MDCChipField.m
  components/Chips/tests/unit/ChipsTests.m
Labels: [Chips], cla: yes

#5132 [Buttons] Add the Floating Button Shape themer to the Floating Button themer
  components/Buttons/src/ButtonThemer/MDCFloatingActionButtonThemer.m
Labels: [Buttons], cla: yes

#5137 [Shape Scheme] Addition of Unit Tests for the Shape Scheme
  components/schemes/Shape/src/MDCShapeCategory.m
  components/schemes/Shape/tests/unit/MDCShapeSchemeTests.m
Labels: [schemes], cla: yes

#5133 [Buttons] Integrate the FAB shape themer into our examples
  components/Buttons/examples/FloatingButtonExampleViewController.m
Labels: [Buttons], cla: yes

#5141 [alpha_components] Add README.md note
  contributing/alpha_components.md
Labels: cla: yes

#5140 [ActionSheet] Make header and table properties
  components/ActionSheet/src/MDCActionSheetController.m
Labels: [ActionSheet], cla: yes

#4921 [ShadowLayer] Mark shadowPath invalid on cornerRadius change
  MaterialComponents.podspec
  components/ShadowLayer/BUILD
  components/ShadowLayer/src/MDCShadowLayer.m
Labels: [ShadowLayer], cla: yes

#5071 [MDCItemBar] Fix an issue where the protocol method `itemBar:shouldSelectItem:` does not behave correctly
  components/Tabs/src/private/MDCItemBar.m
  components/Tabs/tests/unit/MDCItemBarTests.m
Labels: [Tabs], cla: yes

#5102 [Dialogs] Add a dialog themer
  MaterialComponents.podspec
  components/Dialogs/src/DialogThemer/MDCAlertControllerThemer.h
  components/Dialogs/src/DialogThemer/MDCAlertControllerThemer.m
  components/Dialogs/src/DialogThemer/MDCAlertScheme.h
  components/Dialogs/src/DialogThemer/MDCAlertScheme.m
  components/Dialogs/src/DialogThemer/MaterialDialogs+DialogThemer.h
  components/Dialogs/tests/unit/MDCAlertControllerAlertThemerTests.swift
Labels: [Dialogs], cla: yes

#5073 [FlexibleHeaderView] Make FexibleHeaderView respect contentInsetAdjustmentBehavior (#4970)
  components/AppBar/src/MDCAppBarNavigationController.m
  components/FlexibleHeader/src/MDCFlexibleHeaderView.h
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
  components/PageControl/examples/PageControlTypicalUseExample.m
Labels: [AppBar], [FlexibleHeader], [PageControl], cla: yes

#5144 [TextFields] Send .editingChanged control event on clear button touch
  components/TextFields/src/private/MDCTextInputCommonFundament.m
Labels: PR is risky, [TextFields], cla: yes

#5160 [Xcode10] Enable the legacy build system.
  catalog/MDCCatalog.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
Labels: [Catalog], cla: yes

#5142 [ActionSheet] Labels use text color instead of alpha
  components/ActionSheet/src/private/MDCActionSheetHeaderView.m
  components/ActionSheet/src/private/MDCActionSheetItemTableViewCell.m
  components/ActionSheet/tests/unit/MDCActionSheetTest.m
Labels: [ActionSheet], cla: yes

#5162 [FlexibleHeader] Extract height matching to a separate function.
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
Labels: [FlexibleHeader], cla: yes

#5155 [BottomAppBar] clean up how bottom app bar path renders to avoid using hardcoded values
  components/BottomAppBar/src/MDCBottomAppBarView.m
  components/BottomAppBar/src/private/MDCBottomAppBarAttributes.h
  components/BottomAppBar/src/private/MDCBottomAppBarLayer.h
  components/BottomAppBar/src/private/MDCBottomAppBarLayer.m
Labels: [BottomAppBar], cla: yes

#5168 [ActionSheet] Add color properties to header labels
  components/ActionSheet/src/MDCActionSheetController.h
  components/ActionSheet/src/MDCActionSheetController.m
  components/ActionSheet/src/private/MDCActionSheetHeaderView.h
  components/ActionSheet/src/private/MDCActionSheetHeaderView.m
  components/ActionSheet/tests/unit/MDCActionSheetTest.m
Labels: [ActionSheet], cla: yes

#5161 [AppBar] Add an example demonstrating manual tab management.
  components/AppBar/examples/AppBarManualTabsExample.swift
Labels: [AppBar], cla: yes

#5138 [BottomAppBar] enable customizing the vertical position of FAB
  components/BottomAppBar/src/MDCBottomAppBarView.h
  components/BottomAppBar/src/MDCBottomAppBarView.m
  components/BottomAppBar/tests/unit/BottomAppBarTests.m
Labels: [BottomAppBar], cla: yes

#5173 [Dragons] Fix Dragons content inset bug
  catalog/MDCDragons/MDCDragonsController.swift
Labels: [Catalog], cla: yes

#5182 [TextFields] Remove extension check in example
  components/TextFields/examples/TextFieldKitchenSinkExample.swift
Labels: [TextFields], cla: yes

#5184 [ActionSheet] Open to the correct height
  components/ActionSheet/src/MDCActionSheetController.m
  components/ActionSheet/tests/unit/MDCActionSheetTest.m
Labels: [ActionSheet], cla: yes

#5188 [kokoro] Only post to codecov if we have a token.
  .kokoro
Labels: PR:merge-when-approved, cla: yes

#5190 [ActionSheet] Update cells to be testable
  components/ActionSheet/src/private/MDCActionSheetItemTableViewCell.m
Labels: [ActionSheet], cla: yes

#5196 [ActionSheet] Use correct style
  components/ActionSheet/src/MDCActionSheetController.m
  components/ActionSheet/src/private/MDCActionSheetHeaderView.m
  components/ActionSheet/src/private/MDCActionSheetItemTableViewCell.m
Labels: [ActionSheet], cla: yes

#5195 [ActionSheet] Expose properties for the table
  components/ActionSheet/BUILD
  components/ActionSheet/src/MDCActionSheetController.h
  components/ActionSheet/src/MDCActionSheetController.m
  components/ActionSheet/src/private/MDCActionSheetItemTableViewCell.h
  components/ActionSheet/src/private/MDCActionSheetItemTableViewCell.m
  components/ActionSheet/tests/unit/MDCActionSheetTableCellTest.m
  components/ActionSheet/tests/unit/MDCActionSheetTest.m
  components/ActionSheet/tests/unit/MDCActionSheetTestHelper.h
  components/ActionSheet/tests/unit/MDCActionSheetTestHelper.m
Labels: [ActionSheet], cla: yes

#5210 [scripts/release] Fix component extension output in apidiff command.
  scripts/release
Labels: PR:merge-when-approved, cla: yes

#5212 [.kokoro] Generate verbose output when linting the pod
  .kokoro
Labels: PR:merge-when-approved, cla: yes

#5178 [FlexibleHeader] Improve tracking scroll view switching logic.
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
Labels: [FlexibleHeader], cla: yes

#5204 [CocoaPods] Remove our tests podspec in favor of official test_spec targets.
  .kokoro
  MaterialComponents.podspec
  MaterialComponentsAlpha.podspec
  MaterialComponentsUnitTests.podspec
  catalog/MDCCatalog.xcodeproj/xcshareddata/xcschemes/MDCCatalog.xcscheme
  catalog/MDCCatalog.xcworkspace/contents.xcworkspacedata
  catalog/MDCDragons.xcodeproj/xcshareddata/xcschemes/MDCDragons.xcscheme
  catalog/MDCUnitTests.xcodeproj/project.pbxproj
  catalog/MDCUnitTests.xcodeproj/xcshareddata/xcschemes/MDCUnitTests.xcscheme
  catalog/MDCUnitTests/Info.plist
  catalog/MDCUnitTests/XcodeCrashFix7.2.1.m
  catalog/Podfile
  components/FlexibleHeader/tests/unit/FlexibleHeaderTopSafeAreaTests.m
  components/FlexibleHeader/tests/unit/supplemental/FlexibleHeaderTopSafeAreaTestsFakeTopSafeAreaDelegate.h
  components/FlexibleHeader/tests/unit/supplemental/FlexibleHeaderTopSafeAreaTestsFakeTopSafeAreaDelegate.m
Labels: [Catalog], [FlexibleHeader], cla: yes

#5218 [Kokoro] Update for swift unit test of alpha components
  .kokoro
Labels: cla: yes

#5164 [Dialogs] Customize alert title alignment
  components/Dialogs/examples/DialogsAlertCustomizationViewController.swift
  components/Dialogs/src/MDCAlertController.h
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/src/MDCAlertControllerView.h
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
  components/Dialogs/tests/unit/MDCAlertControllerCustomizationTests.m
Labels: [Dialogs], cla: yes

#5221 [travis] Fix the continuous build.
  .travis.yml
Labels: PR:merge-when-approved, cla: yes

#5220 [AppBar] Delete MDCAppBarTextColorAccessibilityMutator
  components/AppBar/src/MDCAppBarViewController.h
  components/AppBar/src/MDCAppBarViewController.m
  components/AppBar/tests/unit/AppBarAccessibilityMutatorTestColorTest.swift
Labels: [AppBar], cla: yes

#5224 [ShadowLayer] Add support for responding to cornerRadius changes.
  components/ShadowLayer/src/MDCShadowLayer.m
Labels: [ShadowLayer], cla: yes, risky:Behavioral change

#5225 [ActionSheet] Add test for setting fonts
  components/ActionSheet/src/MDCActionSheetController.m
  components/ActionSheet/src/private/MDCActionSheetItemTableViewCell.m
  components/ActionSheet/tests/unit/MDCActionSheetTableCellTest.m
  components/ActionSheet/tests/unit/MDCActionSheetTest.m
Labels: [ActionSheet], cla: yes

#5213 [.kokoro] Remove kokoro runner dependency.
  .kokoro
Labels: PR:merge-when-approved, cla: yes

#5227 [ActionSheet] Fix path for ObjC test source.
  components/ActionSheet/BUILD
  components/ActionSheet/tests/unit/MDCActionSheetThemeTest.m
Labels: PR:merge-when-approved, [ActionSheet], cla: yes

#5214 [.kokoro] Upload bazel artifacts.
  .kokoro
Labels: [ActionSheet], cla: yes

#5222 [ShadowLayer] Fix layout of shadow layer example.
  components/ShadowLayer/examples/ShadowCornerRadiusExample.m
Labels: PR:merge-when-approved, [ShadowLayer], cla: yes

#5219 [Snackbar] Added API to make snackbar messages keep focus until an action is taken.
  components/Snackbar/src/MDCSnackbarManager.h
  components/Snackbar/src/MDCSnackbarManager.m
  components/Snackbar/src/private/MDCSnackbarManagerInternal.h
  components/Snackbar/tests/unit/MDCSnackbarMessageViewTests.m
Labels: PR:merge-when-approved, [Snackbar], cla: yes

#5232 [ActionSheet] Fix broken test
  components/ActionSheet/tests/unit/MDCActionSheetTableCellTest.m
Labels: [ActionSheet], cla: yes

#5129 [TextFields] Fix outline text field clear button layout in RTL
  components/TextFields/src/MDCTextField.m
  components/TextFields/src/MDCTextInputControllerFilled.m
Labels: [TextFields], cla: yes, skill:RTL

#5179 [NavigationDrawer] Fix bug where BottomDrawer layout breaks when there isn't enough cont…
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
Labels: [NavigationDrawer], cla: yes

#5248 [ActionSheet] Update MDCActionSheetHelperTest
  components/ActionSheet/BUILD
  components/ActionSheet/tests/unit/MDCActionSheetTestHelper.m
Labels: PR:merge-when-approved, [ActionSheet], cla: yes

#5247 [Shape]! Terminology updates to the Shape Scheme
  components/BottomSheet/src/ShapeThemer/MDCBottomSheetControllerShapeThemer.m
  components/BottomSheet/tests/unit/BottomSheetShapeThemerTests.swift
  components/Buttons/src/ShapeThemer/MDCButtonShapeThemer.m
  components/Buttons/tests/unit/ButtonsShapeThemerTests.m
  components/Cards/src/ShapeThemer/MDCCardsShapeThemer.m
  components/Cards/tests/unit/MDCCardShapeThemerTests.swift
  components/Chips/tests/unit/ChipViewShapeThemerTests.m
  components/schemes/Shape/src/MDCShapeCategory.h
  components/schemes/Shape/src/MDCShapeCategory.m
  components/schemes/Shape/src/MDCShapeScheme.h
  components/schemes/Shape/src/MDCShapeScheme.m
  components/schemes/Shape/tests/unit/MDCShapeSchemeTests.m
Labels: [BottomSheet], [Buttons], [Cards], [Chips], [schemes], cla: yes

#5244 [NavigationDrawer] Use CGRect accessor functions
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
Labels: [NavigationDrawer], cla: yes

#5239 [Shapes] Addition of a shape theming example to our dragons
  components/schemes/Shape/examples/MDCShapeSchemeExampleViewController.h
  components/schemes/Shape/examples/MDCShapeSchemeExampleViewController.m
  components/schemes/Shape/examples/resources/MDCShapeSchemeExampleViewController.storyboard
  components/schemes/Shape/examples/supplemental/MDCBottomSheetControllerShapeThemerDefaultMapping.h
  components/schemes/Shape/examples/supplemental/MDCBottomSheetControllerShapeThemerDefaultMapping.m
  components/schemes/Shape/examples/supplemental/MDCChipViewShapeThemerDefaultMapping.h
  components/schemes/Shape/examples/supplemental/MDCChipViewShapeThemerDefaultMapping.m
  components/schemes/Shape/examples/supplemental/MDCFloatingButtonShapeThemerDefaultMapping.h
  components/schemes/Shape/examples/supplemental/MDCFloatingButtonShapeThemerDefaultMapping.m
Labels: [schemes], cla: yes

#5243 Add @Release-blocking clients to the pull request's reviewers.
  contributing/releasing.md
Labels: PR:merge-when-approved, cla: yes

#5259 [FlexibleHeader] Update indicator insets correctly after changing the trackingScrollView
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
Labels: [FlexibleHeader], cla: yes

#5257 [releasing] Pod lint instruction now skips tests
  contributing/releasing.md
Labels: cla: yes

#5254 [releasing] Follow internal final instructions
  contributing/releasing.md
Labels: cla: yes

#5167 [Dialogs] Customize alert title icon
  components/Dialogs/examples/DialogsAlertCustomizationViewController.swift
  components/Dialogs/examples/resources/DialogsAssets.xcassets/baseline_alarm_on_black_48pt.imageset/Contents.json
  components/Dialogs/examples/resources/DialogsAssets.xcassets/baseline_alarm_on_black_48pt.imageset/baseline_alarm_on_black_48pt_1x.png
  components/Dialogs/examples/resources/DialogsAssets.xcassets/baseline_alarm_on_black_48pt.imageset/baseline_alarm_on_black_48pt_2x.png
  components/Dialogs/examples/resources/DialogsAssets.xcassets/baseline_alarm_on_black_48pt.imageset/baseline_alarm_on_black_48pt_3x.png
  components/Dialogs/examples/resources/DialogsAssets.xcassets/outline_lock_black_24pt.imageset/Contents.json
  components/Dialogs/examples/resources/DialogsAssets.xcassets/outline_lock_black_24pt.imageset/outline_lock_black_24pt_1x.png
  components/Dialogs/examples/resources/DialogsAssets.xcassets/outline_lock_black_24pt.imageset/outline_lock_black_24pt_2x.png
  components/Dialogs/examples/resources/DialogsAssets.xcassets/outline_lock_black_24pt.imageset/outline_lock_black_24pt_3x.png
  components/Dialogs/src/DialogThemer/MaterialDialogs+DialogThemer.h
  components/Dialogs/src/MDCAlertController.h
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/src/MDCAlertControllerView.h
  components/Dialogs/src/private/MDCAlertControllerView+Private.h
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
  components/Dialogs/tests/unit/MDCAlertControllerCustomizationTests.m
Labels: [ActionSheet], [Dialogs], cla: yes

#5159 [Dialogs] Customize tint color of alert title icon
  components/Dialogs/examples/DialogsAlertCustomizationViewController.swift
  components/Dialogs/src/ColorThemer/MDCAlertColorThemer.m
  components/Dialogs/src/MDCAlertController.h
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/src/MDCAlertControllerView.h
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
  components/Dialogs/tests/unit/MDCAlertControllerAlertThemerTests.swift
  components/Dialogs/tests/unit/MDCAlertControllerCustomizationTests.m
Labels: [ActionSheet], [Catalog], [Dialogs], [FlexibleHeader], [LibraryInfo], [NavigationDrawer], [ShadowLayer], [Tabs], [TextFields], cla: yes

#5251 [TextFields] Override System Initiated VoiceOver Message When Leaving Error State
  components/TextFields/src/MDCTextInputControllerBase.m
Labels: [TextFields], cla: yes
