Repository material-components/material-components-ios, pull requests merged in 2018-08, with the labels that each got.

#4677 [NavigationBar] ButtonBar example with associated UIButton
  components/NavigationBar/examples/NavigationBarWithBarItemsExample.m
Labels: [NavigationBar], cla: yes

#4661 [TextFields] Add setHelperText:helperAccessibilityLabel
  components/TextFields/examples/TextFieldFilledExample.swift
  components/TextFields/src/MDCTextInputController.h
  components/TextFields/src/MDCTextInputControllerBase.m
  components/TextFields/src/MDCTextInputControllerFullWidth.m
Labels: [TextFields], cla: yes

#4698 [FlexibleHeader] Fixes a layout bug with VoiceOver on that was introduced in v57.0.0 (5dc67c88c06f11761769de1d0bae34ff2c657046).
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
Labels: [FlexibleHeader], cla: yes

#4693 [AppBar] Enable inferTopSafeAreaInsetFromViewController on the App Bar in the navigation controller.
  components/AppBar/src/MDCAppBarNavigationController.m
Labels: [AppBar], cla: yes

#4694 [FlexibleHeader] Fix infinite recursion when observesTrackingScrollViewScrollEvents is enabled.
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
Labels: [FlexibleHeader], cla: yes

#4692 [AppBar] Increase likelihood that we detect existing App Bars when auto-injecting.
  components/AppBar/src/MDCAppBarNavigationController.m
  components/AppBar/tests/unit/AppBarNavigationControllerTests.swift
Labels: [AppBar], cla: yes

#4690 [Snackbar] Removed unused variable from MDCSnackbarMessageView
  components/Snackbar/src/MDCSnackbarMessageView.m
Labels: [Snackbar], cla: yes, kokoro

#4697 [FlexibleHeader] Allow additionalSafeAreaInsets to respect contextual top insets.
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
  components/FlexibleHeader/src/MDCFlexibleHeaderViewController.m
  components/FlexibleHeader/src/private/MDCFlexibleHeaderView+Private.h
  components/FlexibleHeader/tests/unit/FlexibleHeaderWrappingTopLayoutGuideTests.swift
Labels: [FlexibleHeader], cla: yes

#4691 [AppBar] Fix bug where initialization of nav controller with root view controller would not inject an App Bar.
  components/AppBar/src/MDCAppBarNavigationController.h
  components/AppBar/src/MDCAppBarNavigationController.m
  components/AppBar/tests/unit/AppBarNavigationControllerTests.swift
Labels: [AppBar], cla: yes

#4695 [AppBar] Expose MDCAppBarViewController as a replacement for MDCAppBar.
  components/AppBar/src/ColorThemer/MDCAppBarColorThemer.h
  components/AppBar/src/ColorThemer/MDCAppBarColorThemer.m
  components/AppBar/src/ColorThemer/MaterialAppBar+ColorThemer.h
  components/AppBar/src/MDCAppBar.h
  components/AppBar/src/MDCAppBar.m
  components/AppBar/src/MDCAppBarContainerViewController.h
  components/AppBar/src/MDCAppBarContainerViewController.m
  components/AppBar/src/MDCAppBarNavigationController.h
  components/AppBar/src/MDCAppBarNavigationController.m
  components/AppBar/src/TypographyThemer/MDCAppBarTypographyThemer.h
  components/AppBar/src/TypographyThemer/MDCAppBarTypographyThemer.m
Labels: [AppBar], cla: yes

#4684 [Dialogs] Fix button hit areas to match accessibility
  components/Dialogs/examples/DialogsAlertViewController.m
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Labels: Risky change, [Dialogs], cla: yes

#4702 [Snackbar] Ensure that the bundle is loaded with CocoaPods.
  MaterialComponents.podspec
Labels: cla: yes

#4705 [BottomAppBar] Add a11y guide to README
  components/BottomAppBar/README.md
  components/BottomAppBar/docs/README.md
  components/BottomAppBar/docs/accessibility.md
Labels: [BottomAppBar], cla: yes

#4704 [AppBar] Rename MDCAppBar.h to MDCAppBarViewController.h.
  components/AppBar/src/MDCAppBar.h
  components/AppBar/src/MDCAppBarContainerViewController.m
  components/AppBar/src/MDCAppBarNavigationController.m
  components/AppBar/src/MDCAppBarViewController.h
  components/AppBar/src/MDCAppBarViewController.m
  components/AppBar/src/MaterialAppBar.h
Labels: cla: yes

#4711 [BottomSheet] Examples support accessible scrim
  components/BottomSheet/examples/BottomSheetTableViewExample.swift
  components/BottomSheet/examples/BottomSheetTypicalUseExample.m
Labels: Accessibility, [BottomSheet], app:Catalog, cla: yes

#4716 [Checkboxes] Recommend against Checkboxes
  components/Checkboxes/README.md
Labels: PR:merge-when-approved, [Checkboxes], cla: yes, type:Documentation

#4715 [RadioButton] Update guidance to use List
  components/RadioButton/README.md
Labels: PR:merge-when-approved, [RadioButton], cla: yes, type:Documentation

#4714 [Switch] Document the use of UISwitch
  components/Switch/README.md
Labels: PR:merge-when-approved, [Switch], cla: yes, type:Documentation

#4696 [Catalog] Conversion to new App Bar View Controller API
  catalog/MDCCatalog/AppDelegate.swift
  components/AppBar/examples/AppBarImageryExample.m
  components/AppBar/examples/AppBarImageryExample.swift
  components/AppBar/examples/AppBarInterfaceBuilderExampleController.m
  components/AppBar/examples/AppBarInterfaceBuilderExampleController.swift
  components/AppBar/examples/AppBarModalPresentationExample.m
  components/AppBar/examples/AppBarModalPresentationExample.swift
  components/AppBar/examples/AppBarPresentedExample.m
  components/AppBar/examples/AppBarSectionHeadersExample.m
  components/AppBar/examples/AppBarTypicalCollectionViewExample.m
  components/AppBar/examples/AppBarTypicalUseExample.m
  components/AppBar/examples/AppBarTypicalUseExample.swift
  components/AppBar/examples/AppBarWithUITableViewController.swift
  components/AppBar/examples/AppBarWrappedExample.m
  components/AppBar/examples/AppBarWrappingUITableViewControllerExample.m
  components/BottomAppBar/examples/BottomAppBarTypicalUseExample.swift
  components/BottomAppBar/examples/supplemental/BottomAppBarTypicalUseSupplemental.m
  components/BottomNavigation/examples/BottomNavigationNilBadges.swift
  components/BottomSheet/examples/BottomSheetShapedExample.m
  components/BottomSheet/examples/BottomSheetTypicalUseExample.m
  components/ShadowElevations/examples/ShadowElevationsTypicalUseExample.swift
  components/Tabs/examples/TabBarIconExample.m
  components/Tabs/examples/TabBarIconExample.swift
  components/Tabs/examples/TabBarIndicatorTemplateExample.swift
  components/Tabs/examples/TabBarTextOnlyExample.m
  components/Tabs/examples/TabBarViewControllerExample.m
  components/Tabs/examples/TabBarViewControllerInterfaceBuilderExample.m
  components/Tabs/examples/supplemental/TabBarIconExampleSupplemental.h
  components/Tabs/examples/supplemental/TabBarIconExampleSupplemental.m
  components/Tabs/examples/supplemental/TabBarIconExampleSupplemental.swift
  components/Tabs/examples/supplemental/TabBarIndicatorTemplateExampleSupplemental.swift
  components/Tabs/examples/supplemental/TabBarTextOnlyExampleSupplemental.h
  components/Tabs/examples/supplemental/TabBarTextOnlyExampleSupplemental.m
  components/Tabs/examples/supplemental/TabBarViewControllerExampleSupplemental.h
  components/Tabs/examples/supplemental/TabBarViewControllerExampleSupplemental.m
Labels: [AppBar], [BottomAppBar], [BottomNavigation], [BottomSheet], [Catalog], [ShadowElevations], [Tabs], cla: yes

#4679 [BottomNavigation] Remove duplicate tab position descriptions
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
Labels: [BottomNavigation], cla: yes

#4732 [scripts/release] apidiff now includes any folder with an umbrella header.
  scripts/release
Labels: cla: yes

#4637 [BottomNavigation] Fix safe area insets on bottom nav example
  components/BottomNavigation/examples/BottomNavigationTypicalUseExample.m
Labels: [Catalog], cla: yes

#4736 [AppBar] Implement setViewControllers on MDCAppBarNavigationController.
  components/AppBar/src/MDCAppBarNavigationController.m
  components/AppBar/tests/unit/AppBarNavigationControllerTests.swift
Labels: [AppBar], cla: yes

#4708 [AppBar] Complete pass at documentation modernization.
  components/AppBar/README.md
  components/AppBar/docs/README.md
  components/AppBar/docs/interactive-background-views.md
  components/AppBar/docs/recommended-behavioral-flags.md
  components/AppBar/docs/tracking-a-scroll-view.md
  components/AppBar/docs/typical-use-adding-an-app-bar.md
  components/AppBar/docs/typical-use-child.md
  components/AppBar/docs/typical-use-container.md
  components/AppBar/docs/typical-use-navigation-controller.md
  components/AppBar/docs/typography-theming.md
  components/AppBar/docs/uinavigationitem-support.md
  components/FlexibleHeader/README.md
  components/FlexibleHeader/docs/README.md
  components/FlexibleHeader/docs/behavior-inferred-top-safe-area-inset.md
  components/FlexibleHeader/docs/behavior-minmax-safearea.md
  components/FlexibleHeader/docs/behavior-top-layout-adjustment.md
  components/FlexibleHeader/docs/recommended-behavioral-flags.md
  components/FlexibleHeader/docs/top-layout-guide-adjustment.md
  components/FlexibleHeader/docs/typical-use-scroll-view-observation.md
  scripts/generate_readme
Labels: [AppBar], [FlexibleHeader], cla: yes

#4734 [BottomNavigation] Fix accessibilityValue for badgeValue updates
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
  components/BottomNavigation/tests/unit/BottomNavigationItemViewAccessibilityTests.m
Labels: Accessibility, [BottomNavigation], cla: yes

#4742 [Snackbar] Create explicit singleton
  components/Snackbar/src/MDCSnackbarManager.h
  components/Snackbar/src/MDCSnackbarManager.m
  components/Snackbar/src/MDCSnackbarMessageView.m
  components/Snackbar/src/private/MDCSnackbarMessageViewInternal.h
  components/Snackbar/tests/unit/MDCSnackbarManagerInstanceTests.m
Labels: [Snackbar], cla: yes

#4745 [Snackbar] Make examples accessible to Switch Control
  components/Snackbar/examples/SnackbarSuspensionExample.m
  components/Snackbar/examples/supplemental/SnackbarExampleSupplemental.m
Labels: Accessibility, [Snackbar], app:Catalog, cla: yes

#4746 [AppBar] Move shadow layer initialization back to the init phase.
  components/AppBar/src/MDCAppBarViewController.m
Labels: [AppBar], cla: yes

#4749 [AppBar] Move more app bar logic back to the init phase.
  components/AppBar/src/MDCAppBarViewController.m
  components/AppBar/tests/unit/AppBarViewControllerInitializationTests.swift
Labels: [AppBar], cla: yes

#4750 [FlexibleHeader]! Make preferredStatusBarStyle settable.
  components/FlexibleHeader/src/MDCFlexibleHeaderViewController.h
  components/FlexibleHeader/src/MDCFlexibleHeaderViewController.m
  components/FlexibleHeader/tests/unit/FlexibleHeaderStatusBarTests.swift
Labels: [FlexibleHeader], cla: yes

#4737 [schemes/Color] Add a color scheme migration guide.
  components/schemes/Color/README.md
  components/schemes/Color/docs/README.md
  components/schemes/Color/docs/migration-guide-semantic-color-scheme.md
Labels: [schemes], cla: yes

#4739 [Dialogs] Remove use of MDCFlatButton for MDCButton and MDCTextButtonThemer
  MaterialComponents.podspec
  components/Dialogs/BUILD
  components/Dialogs/src/private/MDCAlertControllerView+Private.h
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Labels: [Dialogs], cla: yes

#4738 [schemes/Color] Formally mark all to-be-deprecated APIs as "ToBeDeprecated".
  components/ActivityIndicator/src/ColorThemer/MDCActivityIndicatorColorThemer.h
  components/AppBar/src/ColorThemer/MDCAppBarColorThemer.h
  components/BottomAppBar/src/ColorThemer/MDCBottomAppBarColorThemer.h
  components/BottomNavigation/src/ColorThemer/MDCBottomNavigationBarColorThemer.h
  components/ButtonBar/src/ColorThemer/MDCButtonBarColorThemer.h
  components/Buttons/src/ColorThemer/MDCButtonColorThemer.h
  components/Chips/src/ColorThemer/MDCChipViewColorThemer.h
  components/Dialogs/src/ColorThemer/MDCAlertColorThemer.h
  components/FeatureHighlight/src/ColorThemer/MDCFeatureHighlightColorThemer.h
  components/FlexibleHeader/src/ColorThemer/MDCFlexibleHeaderColorThemer.h
  components/HeaderStackView/src/ColorThemer/MDCHeaderStackViewColorThemer.h
  components/Ink/src/ColorThemer/MDCInkColorThemer.h
  components/NavigationBar/src/ColorThemer/MDCNavigationBarColorThemer.h
  components/PageControl/src/ColorThemer/MDCPageControlColorThemer.h
  components/ProgressView/src/ColorThemer/MDCProgressViewColorThemer.h
  components/Slider/src/ColorThemer/MDCSliderColorThemer.h
  components/Snackbar/src/ColorThemer/MDCSnackbarColorThemer.h
  components/Snackbar/src/ColorThemer/MDCSnackbarColorThemer.m
  components/Tabs/src/ColorThemer/MDCTabBarColorThemer.h
  components/TextFields/src/ColorThemer/MDCTextFieldColorThemer.h
Labels: [ActivityIndicator], [AppBar], [BottomAppBar], [BottomNavigation], [ButtonBar], [Buttons], [Chips], [Dialogs], [FeatureHighlight], [FlexibleHeader], [HeaderStackView], [Ink], [NavigationBar], [PageControl], [ProgressView], [Slider], [Snackbar], [Tabs], [TextFields], [schemes], cla: yes

#4758 [MaskedTransition] Update README.md
  components/MaskedTransition/README.md
Labels: [MaskedTransition], cla: yes, kokoru:run

#4769 [FlexibleHeader] Fix infinite recursion when VoiceOver is enabled.
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
Labels: [FlexibleHeader], cla: yes

#4771 [FlexibleHeader] Fix property setter
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
Labels: [FlexibleHeader], cla: yes

#4700 [Catalog] Fix Snackbar crash after switching between LEGACY and NEW
  components/Snackbar/src/private/MDCSnackbarOverlayView.m
Labels: [Snackbar], cla: yes, kokoru:run

#4776 [Catalog] set cell selection style to none in several examples (#3870)
  components/ActivityIndicator/examples/supplemental/ActivityIndicatorExampleSupplemental.m
  components/AppBar/examples/AppBarImageryExample.m
  components/AppBar/examples/AppBarImageryExample.swift
  components/AppBar/examples/AppBarSectionHeadersExample.m
  components/AppBar/examples/AppBarTypicalUseExample.m
  components/AppBar/examples/AppBarTypicalUseExample.swift
Labels: [ActivityIndicator], [AppBar], cla: yes

#4783 [HeaderStackView] Update swift example to not depend on obj-c example
  components/HeaderStackView/examples/HeaderStackViewTypicalUse.swift
Labels: [HeaderStackView], cla: yes

#4782 [ShadowElevations] Rewrite ShadowElevationsPointsLabel in Swift
  components/ShadowElevations/examples/ShadowElevationsTypicalUseExample.swift
Labels: [ShadowElevations], app:Catalog, cla: yes

#4773 [Catalog] Fix blank list view of samples on iOS 9
  catalog/MDCDragons/MDCDragonsController.swift
Labels: [Catalog], app:Catalog, cla: yes

#4767 [FlexibleHeader] Add minMaxHeightIncludesSafeArea migration guide.
  components/FlexibleHeader/README.md
  components/FlexibleHeader/docs/README.md
  components/FlexibleHeader/docs/migration-guide-minMaxHeightIncludesSafeArea.md
Labels: [FlexibleHeader], cla: yes

#4775 [Buttons] Fix `safeAreaInsets` availability check
  components/Buttons/examples/supplemental/ButtonsTypicalUseSupplemental.m
Labels: [Buttons], cla: yes

#4784 [NavigationBar] Update swift example to not depend on objc
  components/NavigationBar/examples/NavigationBarTypicalUseExample.m
  components/NavigationBar/examples/NavigationBarTypicalUseExample.swift
  components/NavigationBar/examples/supplemental/NavigationBarTypicalUseExampleSupplemental.swift
Labels: [NavigationBar], cla: yes

#4780 [Catalog] Fix Swift example imports
  components/AnimationTiming/examples/AnimationTimingExample.swift
  components/BottomNavigation/examples/BottomNavigationExplicitlySetColorExample.swift
  components/BottomNavigation/examples/BottomNavigationNilBadges.swift
  components/BottomNavigation/examples/BottomNavigationResetButtons.swift
  components/BottomNavigation/examples/BottomNavigationSelectedIconExample.swift
  components/BottomNavigation/examples/BottomNavigationTypicalUseExample.swift
  components/ButtonBar/examples/ButtonBarTypicalUseExample.swift
  components/Buttons/examples/ButtonsSimpleExampleSwiftViewController.swift
  components/Buttons/examples/ButtonsStoryboardAndProgrammatic.swift
  components/Buttons/examples/FloatingButtonExampleSwiftViewController.swift
  components/Dialogs/examples/AlertComparison.swift
  components/Dialogs/examples/DialogsCustomShadowViewController.swift
  components/Dialogs/examples/DialogsLongAlertViewController.swift
  components/FeatureHighlight/examples/FeatureHightlightTypicalUseViewController.swift
  components/HeaderStackView/examples/HeaderStackViewTypicalUse.swift
  components/HeaderStackView/examples/supplemental/HeaderStackViewTypicalUseSupplemental.swift
  components/NavigationBar/examples/NavigationBarTypicalUseExample.swift
  components/NavigationBar/examples/supplemental/NavigationBarTypicalUseExampleSupplemental.swift
  components/PageControl/examples/PageControlTypicalUseExample.swift
  components/Palettes/examples/PalettesExpandedExample.swift
  components/Palettes/examples/PalettesStandardExample.swift
  components/Palettes/examples/supplemental/PalettesExampleViewController.swift
  components/ShadowElevations/examples/ShadowElevationsTypicalUseExample.swift
  components/Tabs/examples/TabBarIconExample.swift
  components/Tabs/examples/TabBarIndicatorTemplateExample.swift
  components/Tabs/examples/supplemental/TabBarIconExampleSupplemental.swift
  components/Tabs/examples/supplemental/TabBarIndicatorTemplateExampleSupplemental.swift
  components/TextFields/examples/TextFieldFilledExample.swift
  components/TextFields/examples/TextFieldKitchenSinkExample.swift
  components/TextFields/examples/TextFieldOutlinedExample.swift
  components/TextFields/examples/TextFieldSemanticColorThemer.swift
Labels: [AnimationTiming], [BottomNavigation], [ButtonBar], [Buttons], [Dialogs], [FeatureHighlight], [HeaderStackView], [NavigationBar], [PageControl], [Palettes], [ShadowElevations], [Tabs], [TextFields], cla: yes

#4778 [FlexibleHeader] Move all shift behavior APIs to their own header.
  components/FlexibleHeader/src/MDCFlexibleHeaderView+ShiftBehavior.h
  components/FlexibleHeader/src/MDCFlexibleHeaderView.h
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
  components/FlexibleHeader/src/MDCFlexibleHeaderViewController.m
  components/FlexibleHeader/src/MaterialFlexibleHeader.h
Labels: [FlexibleHeader], cla: yes

#4763 [AppBar] Annotate MDCAppBar APIs as to-be-deprecated
  components/AppBar/src/MDCAppBarContainerViewController.h
  components/AppBar/src/MDCAppBarNavigationController.h
Labels: [AppBar], cla: yes

#4792 {Swift} Fix remaining imports
  components/HeaderStackView/examples/HeaderStackViewTypicalUse.swift
  components/NavigationBar/examples/NavigationBarTypicalUseExample.swift
  components/ShadowElevations/examples/ShadowElevationsTypicalUseExample.swift
Labels: [HeaderStackView], [NavigationBar], [ShadowElevations], cla: yes

#4802 [AppBar] Add deprecation schedule to the MDCAppBar migration guide.
  components/AppBar/README.md
  components/AppBar/docs/migration-guide-appbar-appbarviewcontroller.md
Labels: [AppBar], cla: yes

#4795 [Snackbar] Added switch control support for Snackbar
  components/Snackbar/src/MDCSnackbarManager.m
Labels: Accessibility, [Snackbar], cla: yes

#4799 [Snackbar] VoiceOver users can exit the snackbar
  components/Snackbar/src/MDCSnackbarManager.m
Labels: Accessibility, [Snackbar], cla: yes

#4800 [Catalog] Improve "Settings" UIAccessibility support
  catalog/MDCCatalog/MDCCatalogDebugAlert.swift
Labels: Accessibility, [Catalog], cla: yes

#4779 [TextFields] Update placeholder and outline border color when enabling/disabling text fields with outline controllers
  components/TextFields/src/MDCMultilineTextField.m
  components/TextFields/src/MDCTextField.h
  components/TextFields/src/MDCTextField.m
  components/TextFields/src/MDCTextInputControllerBase.m
  components/TextFields/src/MDCTextInputControllerOutlined.m
  components/TextFields/tests/unit/OutlinedTextFieldColorThemerTests.m
Labels: [TextFields], cla: yes

#4804 [ShadowLayer] Setting the corner radius should recalculate shadowPath
  components/ShadowLayer/src/MDCShadowLayer.m
Labels: Client-blocking, [ShadowLayer], cla: yes

#4811 [HeaderStackView] Remove the header stack view examples.
  components/HeaderStackView/examples/HeaderStackViewTypicalUse.m
  components/HeaderStackView/examples/HeaderStackViewTypicalUse.swift
  components/HeaderStackView/examples/resources/HeaderStackViewExample.xcassets/Contents.json
  components/HeaderStackView/examples/resources/HeaderStackViewExample.xcassets/header_stack_view_theme.imageset/Contents.json
  components/HeaderStackView/examples/resources/HeaderStackViewExample.xcassets/header_stack_view_theme.imageset/header_stack_view_theme.png
  components/HeaderStackView/examples/supplemental/HeaderStackViewTypicalUseSupplemental.h
  components/HeaderStackView/examples/supplemental/HeaderStackViewTypicalUseSupplemental.m
  components/HeaderStackView/examples/supplemental/HeaderStackViewTypicalUseSupplemental.swift
Labels: cla: yes

#4815 [TextFields] Trigger layout pass to update borderView.borderLayer
  components/TextFields/src/MDCTextInputControllerOutlined.m
Labels: [TextFields], cla: yes

#4826 [Cards] Fix Swift imports
  components/Cards/examples/CardExampleViewController.swift
  components/Cards/examples/EditReorderCollectionViewController.swift
  components/Cards/examples/EditReorderShapedCollectionViewController.swift
  components/Cards/examples/ShapedCardViewController.swift
  components/Cards/examples/supplemental/CardEditReorderCollectionCell.swift
Labels: [Cards], cla: yes, type:Internal cleanup

#4827 [Cards] Fix example IBOutlet
  components/Cards/examples/CardExampleViewController.swift
  components/Cards/examples/resources/CardExampleViewController.xib
Labels: [Cards], cla: yes

#4807 [AppBar] Mark MDCAppBarTextColorAccessibilityMutator as deprecated.
  components/AppBar/src/MDCAppBarViewController.h
  components/AppBar/src/MDCAppBarViewController.m
Labels: [AppBar], cla: yes

#4809 [FlexibleHeader] Mark minMaxHeightIncludesSafeArea as to be deprecated.
  components/FlexibleHeader/src/MDCFlexibleHeaderView.h
Labels: [FlexibleHeader], cla: yes

#4810 [FlexibleHeader] Add a deprecation schedule for minMaxHeightIncludesSafeArea.
  components/FlexibleHeader/docs/migration-guide-minMaxHeightIncludesSafeArea.md
Labels: [FlexibleHeader], cla: yes

#4808 [AppBar] Make migration links be actual links
  components/AppBar/src/MDCAppBarContainerViewController.h
  components/AppBar/src/MDCAppBarNavigationController.h
  components/AppBar/src/MDCAppBarViewController.h
Labels: [AppBar], cla: yes

#4828 [List] [MaskedTransition] Fix Swift imports
  components/List/examples/BaseCellExample.swift
  components/MaskedTransition/examples/MaskedTransitionTypicalUse.swift
  components/MaskedTransition/examples/supplemental/MaskedTransitionTypicalUseSupplemental.swift
Labels: [List], [MaskedTransition], cla: yes, type:Internal cleanup

#4831 [scripts] Add git-clang-format to the clang-format installer.
  scripts/install/install_clang_format
Labels: cla: yes

#4816 [Buttons] fix the text overlapping safeArea issue on
  components/Buttons/examples/supplemental/ButtonsTypicalUseSupplemental.m
Labels: [Buttons], cla: yes

#4753 Update our deprecation policy
  contributing/deprecation_policy.md
Labels: PR:requires-approval-from-all, cla: yes

#4803 Add API deprecation issue template
  .github/ISSUE_TEMPLATE/deprecate--api-.md
Labels: cla: yes

#4829 [scripts/generate_readme] Check for a .vars file before continuing.
  scripts/generate_readme
Labels: cla: yes

#4843 [ActivityIndicator] Fix example conditional
  components/ActivityIndicator/examples/supplemental/ActivityIndicatorExampleSupplemental.m
Labels: [ActivityIndicator], cla: yes

#4852 [AnimationTiming] Add button to start animation.
  components/AnimationTiming/examples/AnimationTimingExample.m
  components/AnimationTiming/examples/supplemental/AnimationTimingExampleSupplemental.m
Labels: [AnimationTiming], cla: yes

#4857 [BottomNavigation] Button for badge increment.
  components/BottomNavigation/examples/BottomNavigationTypicalUseExample.m
Labels: PR:merge-when-approved, [BottomNavigation], cla: yes

#4855 [ActivityIndicator] Default demo to .determinate
  components/ActivityIndicator/examples/ActivityIndicatorExample.m
  components/ActivityIndicator/examples/supplemental/ActivityIndicatorExampleSupplemental.m
Labels: PR:merge-when-approved, [ActivityIndicator], cla: yes

#4858 [Math] Fix CGFloat errors in tests.
  components/private/Math/tests/unit/MDCMathTests.m
Labels: [Math], [private], cla: yes, type:Internal cleanup

#4851 [NavigationBar] Remove restriction for 20pt fonts.
  components/NavigationBar/src/MDCNavigationBar.m
  components/NavigationBar/tests/unit/NavigationBarTests.m
Labels: [NavigationBar], cla: yes

#4821 Revert "Update releasing.md (#4423)"
  contributing/releasing.md
Labels: cla: yes

#4859 [ProgressView] Use schemes in example.
  components/ProgressView/examples/ProgressViewExample.m
Labels: [ProgressView], cla: yes

#4863 [ProgressView] Add 'animate' button to example.
  components/ProgressView/examples/ProgressViewExample.m
Labels: [ProgressView], cla: yes

#4865 {kokoro} Symlink DerivedData to tmpfs.
  .kokoro
Labels: cla: yes, kokoro

#4860 [FlexibleHeader] Fix bug where orientation changes would result in incorrect contentOffset.
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
Labels: [FlexibleHeader], cla: yes

#4856 [Chips] Example respects safe area
  components/Chips/examples/ChipsTypicalUseViewController.m
Labels: [Chips], cla: yes, kokoru:run

#4869 [BottomAppBar] Fix typo in the readme
  components/BottomAppBar/README.md
  components/BottomAppBar/docs/color-theming.md
Labels: [BottomAppBar], cla: yes, kokoru:run

#4801 [FlexibleHeader] Add WKWebView considerations docs.
  components/FlexibleHeader/README.md
  components/FlexibleHeader/docs/README.md
  components/FlexibleHeader/docs/wkwebview-considerations.md
Labels: [FlexibleHeader], cla: yes

#4870 [BottomSheet] Add Safe Area Handling Example
  components/BottomSheet/examples/BottomSheetAutolayoutSafeAreaExample.m
  components/BottomSheet/examples/supplemental/BottomSheetSupplemental.h
  components/BottomSheet/examples/supplemental/BottomSheetSupplemental.m
Labels: [BottomSheet], cla: yes

#4718 [CollectionCells] Support more than three lines in MDCCollectionViewTextCell?
  components/CollectionCells/src/MDCCollectionViewTextCell.m
Labels: Risky change, [CollectionCells], cla: yes

#4850 [TextFields] Don't set non-floating placeholder color to active color while editing
  components/TextFields/src/MDCTextInputControllerBase.m
Labels: [TextFields], cla: yes

#4872 [Catalog] Bump minimum supported Xcode to 9
  README.md
  catalog/MDCCatalog.xcodeproj/project.pbxproj
  catalog/MDCCatalog.xcodeproj/xcshareddata/xcschemes/MDCCatalog.xcscheme
  catalog/MDCDragons.xcodeproj/project.pbxproj
  catalog/MDCDragons.xcodeproj/xcshareddata/xcschemes/MDCDragons.xcscheme
  catalog/MDCUnitTests.xcodeproj/project.pbxproj
  catalog/MDCUnitTests.xcodeproj/xcshareddata/xcschemes/MDCUnitTests.xcscheme
Labels: [Catalog], cla: yes

#4871 [Codelabs] Update build tests for codelabs
  scripts/build_codelabs
Labels: cla: yes

#4823 [releasing] Add a note on the importance of cutting a release every Wednesday.
  contributing/releasing.md
Labels: cla: yes

#4849 [ShadowLayer] Add dragon demonstrating cornerRadius changes aren't rendering
  components/ShadowLayer/examples/ShadowCornerRadiusExample.m
  components/ShadowLayer/examples/ShadowRadiusLabel.h
  components/ShadowLayer/examples/ShadowRadiusLabel.m
Labels: [ShadowLayer], app:Catalog, cla: yes

#4874 [ButtonBar|NavigationBar] Remove custom iPad heights.
  components/ButtonBar/src/MDCButtonBar.m
  components/NavigationBar/src/MDCNavigationBar.m
Labels: [ButtonBar], [NavigationBar], cla: yes

#4867 [Math] added MDCCeilScaled and MDCFloorScaled (#1917)
  components/private/Math/src/MDCMath.h
  components/private/Math/tests/unit/MDCMathTests.m
Labels: [private], cla: yes

#4794 [FlexibleHeader] Add new canAlwaysExpandToMaximumHeight behavior.
  MaterialComponents.podspec
  components/FlexibleHeader/BUILD
  components/FlexibleHeader/examples/FlexibleHeaderConfiguratorExample.m
  components/FlexibleHeader/examples/supplemental/FlexibleHeaderConfiguratorSupplemental.h
  components/FlexibleHeader/examples/supplemental/FlexibleHeaderConfiguratorSupplemental.m
  components/FlexibleHeader/src/CanAlwaysExpandToMaximumHeight/MDCFlexibleHeaderView+canAlwaysExpandToMaximumHeight.h
  components/FlexibleHeader/src/CanAlwaysExpandToMaximumHeight/MaterialFlexibleHeader+CanAlwaysExpandToMaximumHeight.h
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
Labels: [FlexibleHeader], cla: yes

#4885 [ButtonBar] Remove unnecessary ColorThemer dependency on NavigationBar.
  components/ButtonBar/BUILD
Labels: [ButtonBar], cla: yes

#4877 [FlexibleHeader] Add a note regarding the need to clear trackingScrollView.
  components/AppBar/README.md
  components/FlexibleHeader/docs/typical-use-scroll-view-observation.md
Labels: [AppBar], [FlexibleHeader], cla: yes

#4879 [NavigationBar] Add a flag that makes it possible to set any font size.
  components/NavigationBar/src/MDCNavigationBar.h
  components/NavigationBar/src/MDCNavigationBar.m
  components/NavigationBar/tests/unit/NavigationBarTests.m
Labels: [NavigationBar], cla: yes

#4892 Introduce an Alpha program for MDC components.
  MaterialComponentsAlpha.podspec
  catalog/Podfile
  components/private/Alpha/src/MaterialAlphaComponent.h
  contributing/alpha_components.md
Labels: [Catalog], [private], cla: yes

#4894 Add the Alpha pod as a dependency to the Examples podspec
  MaterialComponentsExamples.podspec
Labels: cla: yes

#4898 [Contributing] Update Alpha doc
  contributing/alpha_components.md
Labels: cla: yes

#4906 [Podspec] Update unit test podspec to support alpha components
  MaterialComponentsUnitTests.podspec
Labels: cla: yes

#4876 Use objc_subclassing_restricted attributes directly instead of a macro
  components/ActivityIndicator/src/private/MDCActivityIndicatorMotionSpec.h
  components/AppBar/src/MDCAppBarNavigationController.h
  components/LibraryInfo/src/MDCLibraryInfo.h
Labels: [ActivityIndicator], [AppBar], [LibraryInfo], cla: yes

#4905 [Kokoro] Update kokoro to support Alpha components
  .kokoro
Labels: cla: yes

#4908 [Ink] Fix demo being clipped by safe area issue (#384)
  components/Ink/examples/InkTypicalUse.m
  components/Ink/examples/supplemental/InkTypicalUseSupplemental.h
  components/Ink/examples/supplemental/InkTypicalUseSupplemental.m
Labels: [Ink], cla: yes

#4896 [Chips] Make collectionView in Chip Demo respect safe area
  components/Chips/examples/ChipsTypicalUseViewController.m
Labels: [Chips], cla: yes

#4912 [Slider] Respect safe area
  components/Slider/examples/SliderCollectionViewController.m
  components/Slider/examples/supplemental/SliderCollectionSupplemental.h
Labels: [Slider], cla: yes

#4830 [ActionSheet] Add Action sheet
  MaterialComponentsAlpha.podspec
  components/ActionSheet/.vars
  components/ActionSheet/BUILD
  components/ActionSheet/README.md
  components/ActionSheet/docs/README.md
  components/ActionSheet/docs/assets/actionSheetLandscape.gif
  components/ActionSheet/docs/assets/actionSheetPortrait.gif
  components/ActionSheet/docs/typical-use.md
  components/ActionSheet/examples/ActionSheetSwiftExample.swift
  components/ActionSheet/examples/ActionSheetTypicalUse.h
  components/ActionSheet/examples/ActionSheetTypicalUse.m
  components/ActionSheet/src/MDCActionSheetController.h
  components/ActionSheet/src/MDCActionSheetController.m
  components/ActionSheet/src/MaterialActionSheet.h
  components/ActionSheet/src/private/MDCActionSheetHeaderView.h
  components/ActionSheet/src/private/MDCActionSheetHeaderView.m
  components/ActionSheet/src/private/MDCActionSheetItemTableViewCell.h
  components/ActionSheet/src/private/MDCActionSheetItemTableViewCell.m
  components/ActionSheet/tests/unit/ActionSheetTest.swift
Labels: [ActionSheet], [Catalog], cla: yes

#4915 Remove all __IPHONE_11_0 checks now that we no longer support Xcode 8.
  components/AnimationTiming/examples/supplemental/AnimationTimingExampleSupplemental.m
  components/AppBar/examples/AppBarPresentedExample.m
  components/AppBar/examples/AppBarWKWebViewLargeContentExample.m
  components/AppBar/examples/AppBarWKWebViewSmallContentExample.m
  components/AppBar/src/MDCAppBarViewController.m
  components/BottomAppBar/examples/supplemental/BottomAppBarTypicalUseViewController.m
  components/BottomAppBar/src/MDCBottomAppBarView.m
  components/BottomNavigation/examples/BottomNavigationTypicalUseExample.m
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomSheet/src/private/MDCSheetContainerView.m
  components/Buttons/examples/supplemental/ButtonsTypicalUseSupplemental.m
  components/Chips/examples/ChipsTypicalUseViewController.m
  components/Collections/examples/CollectionsALaCarteExample.m
  components/Collections/src/MDCCollectionViewController.m
  components/Collections/src/MDCCollectionViewFlowLayout.m
  components/Collections/src/private/MDCCollectionInfoBarView.m
  components/Dialogs/src/MDCDialogPresentationController.m
  components/FlexibleHeader/examples/FlexibleHeaderHorizontalPagingExample.m
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
  components/FlexibleHeader/src/MDCFlexibleHeaderViewController.m
  components/List/examples/CollectionListCellExampleTypicalUse.m
  components/List/examples/MDCBaseCellExample.m
  components/NavigationBar/examples/NavigationBarIconsExample.m
  components/NavigationBar/examples/NavigationBarLayoutExample.m
  components/NavigationBar/examples/NavigationBarRTLIcons.m
  components/NavigationBar/examples/NavigationBarTypicalUseExample.m
  components/NavigationBar/examples/NavigationBarWithBarItemsExample.m
  components/NavigationBar/examples/NavigationbarWithCustomFont.m
  components/NavigationBar/src/MDCNavigationBar.h
  components/NavigationBar/src/MDCNavigationBar.m
  components/PageControl/examples/PageControlAnimationBlockExample.m
  components/PageControl/examples/PageControlButtonExample.m
  components/PageControl/examples/PageControlTypicalUseExample.m
  components/Snackbar/src/MDCSnackbarMessageView.m
  components/Snackbar/src/private/MDCSnackbarOverlayView.m
  components/Tabs/src/MDCTabBarViewController.m
  components/Tabs/src/private/MDCItemBar.m
  components/TextFields/examples/MultilineTextFieldLegacyExample.m
  components/TextFields/examples/TextFieldControllerStylesExample.m
  components/TextFields/examples/TextFieldCustomFontExample.m
  components/TextFields/examples/TextFieldOutlinedExample.m
  components/TextFields/examples/TextFieldStatesViewController.m
  components/TextFields/examples/TextFieldsTableViewExample.m
  components/Typography/src/UIFontDescriptor+MaterialTypography.m
  components/private/UIMetrics/src/MDCLayoutMetrics.m
Labels: [AnimationTiming], [AppBar], [BottomAppBar], [BottomNavigation], [BottomSheet], [Buttons], [Chips], [Collections], [Dialogs], [FlexibleHeader], [List], [NavigationBar], [PageControl], [Snackbar], [Tabs], [TextFields], [Typography], [private], cla: yes

#4913 [ActivityIndicator] Fix activity indicator layout by autoresizingMask
  components/ActivityIndicator/examples/supplemental/ActivityIndicatorExampleSupplemental.m
Labels: [ActivityIndicator], cla: yes

#4926 [ActionSheet] Update header to support RTL
  components/ActionSheet/src/private/MDCActionSheetHeaderView.m
Labels: [ActionSheet], cla: yes

#4917 [Dialogs] Add accessibilityIdentifier to Actions.
  components/Dialogs/src/MDCAlertController.h
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/src/private/MDCAlertControllerView+Private.h
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
  components/Dialogs/tests/unit/MDCAlertControllerTests.m
Labels: PR:merge-when-approved, [Dialogs], cla: yes

#4933 Drop Xcode 8 builds from Travis CI
  .travis.yml
Labels: PR:merge-when-approved, cla: yes

#4931 [ButtonBar] Annotate MDCButtonBarDelegate's only API as deprecated.
  components/ButtonBar/src/MDCButtonBar.h
  components/ButtonBar/src/MDCButtonBar.m
  components/ButtonBar/src/private/MDCAppBarButtonBarBuilder.h
Labels: [ButtonBar], cla: yes

#4939 add missing .jazzy.yaml files
  components/ActionSheet/.jazzy.yaml
  components/Backdrop/.jazzy.yaml
  components/Banner/.jazzy.yaml
  components/Checkboxes/.jazzy.yaml
  components/DataTables/.jazzy.yaml
  components/Dividers/.jazzy.yaml
  components/ImageList/.jazzy.yaml
  components/List/.jazzy.yaml
  components/Menus/.jazzy.yaml
  components/RadioButton/.jazzy.yaml
  components/SideSheet/.jazzy.yaml
  components/Switch/.jazzy.yaml
  components/Tooltips/.jazzy.yaml
  components/docs/.jazzy.yaml
  components/schemes/.jazzy.yaml
Labels: [ActionSheet], [Backdrop], [Banner], [Checkboxes], [DataTables], [Dividers], [ImageList], [List], [Menus], [RadioButton], [SideSheet], [Switch], [Tooltips], [docs], [schemes], cla: yes

#4927 [NavigationDrawer] Initial doc write-up of overview, and usage.
  components/NavigationDrawer/.jazzy.yaml
  components/NavigationDrawer/.vars
  components/NavigationDrawer/README.md
  components/NavigationDrawer/docs/README.md
  components/NavigationDrawer/docs/typical-use-drawer-no-header.md
  components/NavigationDrawer/docs/typical-use-drawer.md
  components/NavigationDrawer/docs/typical-use-performant-drawer.md
Labels: [NavigationDrawer], cla: yes

#4822 [scripts/release] Add explanations for each section of the release notes.
  scripts/release
Labels: cla: yes

#4935 [ButtonBar] Add uppercasesButtonTitles API for modifying title casing behavior.
  components/ButtonBar/src/MDCButtonBar.h
  components/ButtonBar/src/MDCButtonBar.m
  components/ButtonBar/src/private/MDCAppBarButtonBarBuilder.m
  components/ButtonBar/tests/unit/ButtonBarButtonTitleCasingTests.swift
Labels: Client-blocking, [ButtonBar], cla: yes

#4941 [scripts/release] Remove email step from the release tool.
  scripts/release
Labels: cla: yes

#4946 [ActionSheet] Add example with too many options to fit on screen
  components/ActionSheet/examples/ActionSheetSwiftExample.swift
Labels: Blocked:Needs screenshots, [ActionSheet], cla: yes

#4919 [ActionSheet] Add scrim accessibility properties.
  components/ActionSheet/.vars
  components/ActionSheet/README.md
  components/ActionSheet/docs/README.md
  components/ActionSheet/docs/accessibility.md
  components/ActionSheet/src/MDCActionSheetController.h
  components/ActionSheet/src/MDCActionSheetController.m
Labels: [ActionSheet], cla: yes

#4963 [ActionSheet] Show first action
  components/ActionSheet/src/MDCActionSheetController.m
Labels: [ActionSheet], cla: yes

#4944 [ActionSheet] Add accessibility identifier
  components/ActionSheet/src/MDCActionSheetController.h
  components/ActionSheet/src/MDCActionSheetController.m
  components/ActionSheet/tests/unit/ActionSheetTest.swift
Labels: [ActionSheet], cla: yes

#4961 [scripts/release] Allow umbrellas and files to generate info from a given sha.
  scripts/release
Labels: cla: yes

#4962 [kokoro] Extract xcode-select logic to a method.
  .kokoro
Labels: cla: yes

#4949 [Tabs] fix TabBarViewControllerExample to respect safe area
  components/Tabs/examples/TabBarViewControllerExample.m
  components/Tabs/examples/supplemental/TabBarViewControllerExampleSupplemental.h
  components/Tabs/examples/supplemental/TabBarViewControllerExampleSupplemental.m
Labels: [Tabs], cla: yes

#4969 [ActionSheet] Update test to guard against silent fail
  components/ActionSheet/tests/unit/ActionSheetTest.swift
Labels: [ActionSheet], cla: yes

#4971 [scripts/release] Add a dragon to publishing the podspec.
  scripts/release
Labels: cla: yes

#4884 [Catalog] Avoid cropping on the ShadowLayer example
  components/ShadowElevations/examples/ShadowElevationsTypicalUseExample.m
Labels: [ShadowElevations], cla: yes

#4976 Revert "[FlexibleHeader] Add new canAlwaysExpandToMaximumHeight behavior. (#4794)"
  MaterialComponents.podspec
  components/FlexibleHeader/BUILD
  components/FlexibleHeader/examples/FlexibleHeaderConfiguratorExample.m
  components/FlexibleHeader/examples/supplemental/FlexibleHeaderConfiguratorSupplemental.h
  components/FlexibleHeader/examples/supplemental/FlexibleHeaderConfiguratorSupplemental.m
  components/FlexibleHeader/src/CanAlwaysExpandToMaximumHeight/MDCFlexibleHeaderView+canAlwaysExpandToMaximumHeight.h
  components/FlexibleHeader/src/CanAlwaysExpandToMaximumHeight/MaterialFlexibleHeader+CanAlwaysExpandToMaximumHeight.h
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
Labels: [FlexibleHeader], cla: yes

#4966 [ActionSheet] Add typography themer
  MaterialComponentsAlpha.podspec
  components/ActionSheet/BUILD
  components/ActionSheet/examples/ActionSheetSwiftExample.swift
  components/ActionSheet/src/TypographyThemer/MDCActionSheetTypographyThemer.h
  components/ActionSheet/src/TypographyThemer/MDCActionSheetTypographyThemer.m
  components/ActionSheet/src/TypographyThemer/MaterialActionSheet+TypographyThemer.h
Labels: [ActionSheet], cla: yes

#4950 [BottomNavigation] Update ripple color for unselected items.
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
  components/BottomNavigation/tests/unit/BottomNavigationItemViewTests.m
Labels: [BottomNavigation], cla: yes

#4975 [scripts/github-comment] Remove duplicate target.
  scripts/github-comment/Package.swift
Labels: cla: yes

#4979 [FlexibleHeader] Add buttons to the configurator demo for shifting the header on/off-screen.
  components/FlexibleHeader/examples/FlexibleHeaderConfiguratorExample.m
  components/FlexibleHeader/examples/supplemental/FlexibleHeaderConfiguratorControlItem.h
  components/FlexibleHeader/examples/supplemental/FlexibleHeaderConfiguratorSupplemental.h
  components/FlexibleHeader/examples/supplemental/FlexibleHeaderConfiguratorSupplemental.m
Labels: [FlexibleHeader], cla: yes

#4491 [TextFields] Make errorText span multiple lines on MDCTextField
  components/TextFields/examples/TextFieldKitchenSinkExample.swift
  components/TextFields/src/MDCTextInputControllerBase.m
  components/TextFields/src/MDCTextInputControllerFilled.m
  components/TextFields/src/MDCTextInputControllerFullWidth.m
  components/TextFields/src/MDCTextInputControllerOutlinedTextArea.m
  components/TextFields/src/private/MDCTextInputCommonFundament.m
  components/TextFields/tests/unit/TextFieldTests.swift
Labels: PR is risky, [TextFields], cla: yes

#4895 [ProgressView] Address progress view example problems with safe area insets and impr…
  components/ProgressView/examples/ProgressViewExample.m
Labels: [ProgressView], cla: yes

#4932 [ButtonBar] Add a buttonBarDidInvalidateIntrinsicContentSize API to the delegate.
  components/ButtonBar/src/MDCButtonBar.h
  components/ButtonBar/src/MDCButtonBar.m
  components/ButtonBar/tests/unit/ButtonBarDelegateTests.swift
Labels: [ButtonBar], cla: yes

#4978 [FlexibleHeader] Add new canAlwaysExpandToMaximumHeight behavior.
  MaterialComponents.podspec
  components/FlexibleHeader/BUILD
  components/FlexibleHeader/examples/FlexibleHeaderConfiguratorExample.m
  components/FlexibleHeader/examples/supplemental/FlexibleHeaderConfiguratorSupplemental.h
  components/FlexibleHeader/examples/supplemental/FlexibleHeaderConfiguratorSupplemental.m
  components/FlexibleHeader/src/CanAlwaysExpandToMaximumHeight/MDCFlexibleHeaderView+canAlwaysExpandToMaximumHeight.h
  components/FlexibleHeader/src/CanAlwaysExpandToMaximumHeight/MaterialFlexibleHeader+CanAlwaysExpandToMaximumHeight.h
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
Labels: [FlexibleHeader], cla: yes

#4977 [kokoro] Add a clang-format linter job.
  .kokoro
  scripts/github-comment/Sources/github-comment/DiffParser.swift
  scripts/github-comment/Sources/github-comment/HunkCorrelation.swift
  scripts/github-comment/Sources/github-comment/github/GitHubAPI.swift
  scripts/github-comment/Sources/github-comment/main.swift
Labels: cla: yes

#4986 [testing] Update remaining bits to make our CI work from Xcode v9.0.0
  .kokoro
  components/testing/runners/BUILD
  docs/build-env/README.md
  material_components_ios.bzl
Labels: [testing], cla: yes

#4974 [TextFields] Specify textRect origin according to UIUserInterfaceLayoutDirection
  components/TextFields/src/MDCTextField.m
Labels: [TextFields], cla: yes

#4990 [automated] Fix more copyright stanzas.
  components/ActionSheet/examples/ActionSheetSwiftExample.swift
  components/ActivityIndicator/examples/ActivityIndicatorTransitionExample.m
  components/AnimationTiming/examples/AnimationTimingExample.swift
  components/BottomNavigation/examples/BottomNavigationNilBadges.swift
  components/BottomNavigation/examples/BottomNavigationTypicalUseExample.swift
  components/Cards/src/CardThemer/MDCCardThemer.h
  components/Cards/src/CardThemer/MDCCardThemer.m
  components/Cards/src/CardThemer/MaterialCards+CardThemer.h
  components/Cards/tests/unit/MDCCardTests.m
  components/Chips/src/ChipThemer/MDCChipViewScheme.h
  components/Chips/src/ChipThemer/MDCChipViewScheme.m
  components/Chips/src/ChipThemer/MDCChipViewThemer.h
  components/Chips/src/ChipThemer/MDCChipViewThemer.m
  components/Chips/src/ChipThemer/MaterialChips+ChipThemer.h
  components/Chips/src/ColorThemer/MDCChipViewColorThemer.m
  components/Chips/tests/unit/ChipAccessibilityTests.m
  components/CollectionCells/tests/unit/CollectionCellsIssue1257Tests.m
  components/CollectionCells/tests/unit/CollectionViewTextCellsReuseTests.m
  components/CollectionCells/tests/unit/MDCCollectionViewCellTests.m
  components/Collections/tests/unit/CollectionsStylerTests.m
  components/Collections/tests/unit/MDCCollectionViewFlowLayoutTests.m
  components/FlexibleHeader/src/CanAlwaysExpandToMaximumHeight/MDCFlexibleHeaderView+canAlwaysExpandToMaximumHeight.h
  components/FlexibleHeader/src/CanAlwaysExpandToMaximumHeight/MaterialFlexibleHeader+CanAlwaysExpandToMaximumHeight.h
  components/LibraryInfo/src/MDCLibraryInfo.h
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/src/MaterialLibraryInfo.h
  components/LibraryInfo/tests/unit/LibraryInfoTests.swift
  components/NavigationBar/examples/supplemental/NavigationBarTypicalUseExampleSupplemental.h
  components/Palettes/src/private/MDCPaletteNames.h
  components/Palettes/src/private/MDCPaletteNames.m
  components/TextFields/src/MDCTextInputControllerFilled.h
  components/TextFields/src/private/MDCTextInputCommonFundament.h
  components/Typography/examples/TypographyCustomFontViewController.h
  components/Typography/examples/TypographyCustomFontViewController.m
  components/Typography/tests/unit/SystemFontLoaderTests.m
Labels: [ActionSheet], [ActivityIndicator], [AnimationTiming], [BottomNavigation], [Cards], [Chips], [CollectionCells], [Collections], [FlexibleHeader], [LibraryInfo], [NavigationBar], [Palettes], [TextFields], [Typography], cla: yes
