Repository material-components/material-components-ios, pull requests merged in 2018-03, with the labels that each got.

#3019 [MDCTabBar] NSCoding support.
  components/Tabs/src/MDCTabBar.m
  components/Tabs/tests/unit/MDCTabBarCodingTests.m
Labels: cla: yes

#3027 [Collections] Fix image sizing
  components/CollectionCells/src/MDCCollectionViewTextCell.m
Labels: cla: yes, where:Collections

#3029 [MDCTabBarViewController] Added NSCoding support.
  components/Tabs/src/MDCTabBarViewController.m
  components/Tabs/tests/unit/MDCTabBarControllerEncodingTests.m
Labels: cla: yes, type:Internal cleanup, where:TabBar

#3039 Fix CocoaPods url in the README.
  README.md
Labels: cla: yes

#3030 [Cards] Added customization of image, image alignment, and image tint for each state.
  components/Cards/examples/EditReorderCollectionViewController.swift
  components/Cards/src/MDCCardCollectionCell.h
  components/Cards/src/MDCCardCollectionCell.m
  components/Cards/tests/unit/MDCCardTests.m
Labels: cla: yes, is:Breaking change, where:Cards

#3031 [Docs] Correcting PR template
  PULL_REQUEST_TEMPLATE.md
Labels: cla: yes, type:Documentation

#3020 [ButtonBar] Remove UIAppearance call in themer
  MaterialComponents.podspec
  components/ButtonBar/src/ColorThemer/MDCButtonBarColorThemer.m
  components/NavigationBar/src/MDCNavigationBar.m
Labels: cla: yes, is:Breaking change, where:ButtonBar

#2999 [Collections|TextFields|Themes] Removed dead store static analyzer errors
  components/Collections/src/MDCCollectionViewFlowLayout.m
  components/TextFields/src/MDCMultilineTextField.m
  components/Themes/examples/ThemerCustomSchemePickerController.m
Labels: cla: yes

#3033 Always encode/decode CGFloat as double
  components/TextFields/src/MDCTextInputControllerBase.m
  components/TextFields/src/MDCTextInputControllerLegacyDefault.m
  components/TextFields/src/MDCTextInputUnderlineView.m
  components/TextFields/src/private/MDCPaddedLabel.m
Labels: cla: yes

#3036 [TextInputs] Added encoding test for MDCTextInputControllerBase
  components/TextFields/tests/unit/TextInputControllerBaseEncodingTests.swift
Labels: cla: yes, where:TextField

#3037 [TextFields] Cast to a protocol textInput conforms to
  components/TextFields/src/MDCTextInputControllerBase.m
Labels: cla: yes

#3052 Update bazel workspace and version to latest.
  .kokoro
  WORKSPACE
  components/ButtonBar/tests/unit/ButtonBarCodingTests.m
Labels: cla: yes

#3048 [Snackbar] Don't call UIAppearance in +initialize
  components/Snackbar/src/MDCSnackbarMessageView.h
  components/Snackbar/src/MDCSnackbarMessageView.m
  components/Snackbar/tests/unit/MDCSnackbarMessageViewTests.m
Labels: cla: yes, where:Snackbar

#3049 [MDCCollectionViewFlowLayout] Set hasSectionItems in ordinalPositionForListElementWithAttribute
  components/Collections/examples/CollectionsEmptySections.m
  components/Collections/src/MDCCollectionViewFlowLayout.m
Labels: cla: yes, where:Collections

#3059 [PageControl] Fixing example layout
  components/PageControl/examples/PageControlTypicalUseExample.m
Labels: cla: yes, where:PageControl

#3032 [FlexibleHeader] Forward taps on contentView to the tracking scroll view
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
Labels: cla: yes, where:FlexibleHeader

#3055 [Snackbar] New Snackbar implementation with legacy toggle to activate
  components/Snackbar/examples/SnackbarOverlayViewExample.m
  components/Snackbar/examples/SnackbarSimpleExample.m
  components/Snackbar/examples/supplemental/SnackbarExampleSupplemental.m
  components/Snackbar/src/MDCSnackbarMessage.h
  components/Snackbar/src/MDCSnackbarMessage.m
  components/Snackbar/src/MDCSnackbarMessageView.m
  components/Snackbar/src/private/MDCSnackbarMessageViewInternal.h
  components/Snackbar/src/private/MDCSnackbarOverlayView.h
  components/Snackbar/src/private/MDCSnackbarOverlayView.m
Labels: cla: yes

#3073 [Documentation] Update CODEOWNERS to match Checklist
  CODEOWNERS
Labels: cla: yes, type:Documentation, type:Internal cleanup

#3028 Ensure BottomSheet adjusts its target point when its bounds change
  components/BottomSheet/src/private/MDCSheetContainerView.m
Labels: cla: yes

#3065 [Catatalog] Fix unsatisfiable constraint on launch
  catalog/MDCCatalog/MDCCatalogComponentsController.swift
Labels: cla: yes, type:Visual bug, where:Catalog

#3075 Update release tool instructions to use command `release notes`
  scripts/README-release.md
Labels: cla: yes

#3067 [Tabs] Don't call UIAppearance in +initialize
  components/Tabs/src/MDCTabBar.m
  components/Tabs/tests/unit/MDCTabBarCodingTests.m
  components/Tabs/tests/unit/MDCTabBarTests.m
Labels: cla: yes, type:Internal cleanup, where:TabBar

#3069 [Buttons] Set FlatButton inkColor via UIAppearance
  components/Buttons/src/MDCFlatButton.m
  components/Buttons/tests/unit/FlatButtonTests.m
Labels: cla: yes, where:Buttons

#2998 [Button|Ink|TextFields|Palettes] Fixed NSNumber conversion static analyzer errors
  components/Buttons/src/MDCButton.m
  components/Ink/src/private/MDCLegacyInkLayer.m
  components/Palettes/src/private/MDCPaletteExpansions.m
  components/TextFields/src/MDCTextInputControllerBase.m
  components/TextFields/src/MDCTextInputControllerLegacyDefault.m
Labels: cla: yes

#3079 Fix compiler warning due to self reference in block
  components/Snackbar/src/private/MDCSnackbarOverlayView.m
Labels: cla: yes

#3043 [FeatureHighlight] Accessibility title and body mutator added to fix UIAppearance issue
  MaterialComponents.podspec
  components/FeatureHighlight/BUILD
  components/FeatureHighlight/examples/FeatureHighlightColorExample.m
  components/FeatureHighlight/examples/FeatureHighlightCustomFontsExample.m
  components/FeatureHighlight/examples/FeatureHighlightShownViewExample.m
  components/FeatureHighlight/examples/FeatureHighlightThemerExample.m
  components/FeatureHighlight/examples/FeatureHighlightTypicalUseViewController.m
  components/FeatureHighlight/src/FeatureHighlightAccessibilityMutator/MDCFeatureHighlightAccessibilityMutator.h
  components/FeatureHighlight/src/FeatureHighlightAccessibilityMutator/MDCFeatureHighlightAccessibilityMutator.m
  components/FeatureHighlight/src/MDCFeatureHighlightViewController.m
  components/FeatureHighlight/tests/unit/FeatureHighlightTitleBodyAccessibilityMutatorTests.m
  components/Themes/examples/supplemental/ThemerTypicalUseSupplemental.m
Labels: cla: yes, where:FeatureHighlight

#3076 [Catalog] Make tile ink bounded.
  catalog/MDCCatalog/MDCCatalogComponentsController.swift
Labels: cla: yes, type:Visual bug, where:Catalog

#3081 [Snackbar] Fix text color of snackbar message to use the initialized value for it and not button color
  components/Snackbar/src/MDCSnackbarMessageView.m
Labels: cla: yes, type:Visual bug, where:Snackbar

#3082 [Buttons] Support IB custom fonts
  MaterialComponentsUnitTests.podspec
  components/Buttons/BUILD
  components/Buttons/src/MDCButton.m
  components/Buttons/tests/unit/ButtonInterfaceBuilderCompatibilityTests.m
  components/Buttons/tests/unit/ButtonsTests.m
  components/Buttons/tests/unit/resources/ButtonTestView.xib
  components/Buttons/tests/unit/supplemental/ButtonTestView.h
  components/Buttons/tests/unit/supplemental/ButtonTestView.m
Labels: cla: yes, where:Buttons

#3083 [Tabs] Font/Color Scheme support for tab bar.
  MaterialComponents.podspec
  components/Tabs/BUILD
  components/Tabs/src/ColorThemer/MDCTabBarColorThemer.m
  components/Tabs/src/FontThemer/MDCTabBarFontThemer.h
  components/Tabs/src/FontThemer/MDCTabBarFontThemer.m
  components/Tabs/tests/unit/MDCTabBarColorThemerTests.m
  components/Tabs/tests/unit/MDCTabBarFontThemerTests.m
Labels: cla: yes, where:TabBar

#3090 [Snackbar] custom font and dynamic type support, UI_APPEARANCE support for color theming
  components/Snackbar/examples/SnackbarSimpleExample.m
  components/Snackbar/src/MDCSnackbarMessage.h
  components/Snackbar/src/MDCSnackbarMessage.m
  components/Snackbar/src/MDCSnackbarMessageView.h
  components/Snackbar/src/MDCSnackbarMessageView.m
  components/Snackbar/tests/unit/MDCSnackbarMessageViewTests.m
Labels: cla: yes, where:Snackbar

#3104 [Snackbar] bring back buttonTextColor and deprecate it
  components/Snackbar/src/MDCSnackbarMessage.h
  components/Snackbar/src/MDCSnackbarMessage.m
  components/Snackbar/src/MDCSnackbarMessageView.h
  components/Snackbar/src/MDCSnackbarMessageView.m
Labels: cla: yes

#3094 [BottomAppBar] Add simple color themer
  MaterialComponents.podspec
  catalog/MDCCatalog/AppDelegate.swift
  components/BottomAppBar/BUILD
  components/BottomAppBar/src/ColorThemer/MDCBottomAppBarColorThemer.h
  components/BottomAppBar/src/ColorThemer/MDCBottomAppBarColorThemer.m
  components/BottomAppBar/src/MDCBottomAppBarView.h
  components/BottomAppBar/src/MDCBottomAppBarView.m
  components/BottomAppBar/tests/unit/BottomAppBarColorThemerTests.m
  components/Themes/examples/ThemerCustomSchemePickerController.m
  components/Themes/examples/ThemerTypicalUseViewController.m
  components/Themes/examples/supplemental/ThemerTypicalUseSupplemental.h
Labels: cla: yes, where:Bottom App Bar

#3097 [Dialogs] Enable custom fonts on MDCAlertController
  MaterialComponents.podspec
  components/Dialogs/BUILD
  components/Dialogs/examples/DialogsAlertViewController.m
  components/Dialogs/src/MDCAlertController.h
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/src/MDCAlertControllerView.h
  components/Dialogs/src/MaterialDialogs.h
  components/Dialogs/src/private/MDCAlertControllerView+Private.h
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Labels: cla: yes

#3102 [Snackbar] Added Color and Font Themers
  MaterialComponents.podspec
  components/Snackbar/BUILD
  components/Snackbar/src/ColorThemer/MDCSnackbarColorThemer.h
  components/Snackbar/src/ColorThemer/MDCSnackbarColorThemer.m
  components/Snackbar/src/FontThemer/MDCSnackbarFontThemer.h
  components/Snackbar/src/FontThemer/MDCSnackbarFontThemer.m
  components/Snackbar/tests/unit/MDCSnackbarFontThemerTests.m
Labels: cla: yes, where:Snackbar

#3099 Release script: checking out stable before pushing to cocopods.
  scripts/release
Labels: cla: yes

#3122 [Snackbar] move to relative imports for certain imports in private
  components/Snackbar/src/private/MDCSnackbarMessageViewInternal.h
  components/Snackbar/src/private/MDCSnackbarOverlayView.m
Labels: cla: yes

#3121 fix: update link to material design guidelines
  components/Cards/README.md
Labels: cla: yes

#3119 [BottomNavigation] Remove ink for canceled touch
  components/BottomNavigation/src/MDCBottomNavigationBar.m
Labels: cla: yes, where:BottomNavigation

#3114 Add custom cardBorderRadius to MDCCollectionViewStyler
  components/Collections/src/MDCCollectionViewStyling.h
  components/Collections/src/private/MDCCollectionViewStyler.m
Labels: cla: yes

#3117 [Kokoro / CI] Have Kokoro test multiple iOS versions and simulators on different Xcodes.
  components/ActivityIndicator/BUILD
  components/AnimationTiming/BUILD
  components/AppBar/BUILD
  components/BottomAppBar/BUILD
  components/BottomNavigation/BUILD
  components/BottomSheet/BUILD
  components/ButtonBar/BUILD
  components/Buttons/BUILD
  components/Cards/BUILD
  components/Chips/BUILD
  components/CollectionCells/BUILD
  components/CollectionLayoutAttributes/BUILD
  components/Collections/BUILD
  components/Dialogs/BUILD
  components/FeatureHighlight/BUILD
  components/FlexibleHeader/BUILD
  components/HeaderStackView/BUILD
  components/Ink/BUILD
  components/LibraryInfo/BUILD
  components/MaskedTransition/BUILD
  components/NavigationBar/BUILD
  components/OverlayWindow/BUILD
  components/PageControl/BUILD
  components/Palettes/BUILD
  components/ProgressView/BUILD
  components/ShadowElevations/BUILD
  components/ShadowLayer/BUILD
  components/Slider/BUILD
  components/Snackbar/BUILD
  components/Tabs/BUILD
  components/TextFields/BUILD
  components/Themes/BUILD
  components/Typography/BUILD
  components/private/Application/BUILD
  components/private/Icons/BUILD
  components/private/KeyboardWatcher/BUILD
  components/private/Overlay/BUILD
  components/private/ShapeLibrary/BUILD
  components/private/Shapes/BUILD
  components/private/ThumbTrack/BUILD
  components/private/UIMetrics/BUILD
  contributing/bazel_kokoro.md
  material_components_ios.bzl
Labels: cla: yes

#2974 [AppBar] Make MDCNavigationBar and MDCButtonBar size dynamically
  components/ButtonBar/src/MDCButtonBar.m
  components/NavigationBar/src/MDCNavigationBar.m
Labels: cla: yes, where:App Bar

#3124 [Dragons] Use M2 purple, improve distinction between component name and example names
  catalog/MDCDragons/MDCDragonsController.swift
Labels: cla: yes

#3085 [BottomNavigation] Add `barTintColor` to replace `backgroundColor`
  catalog/MDCCatalog/AppDelegate.swift
  components/BottomNavigation/examples/BottomNavigationTypicalUseExample.m
  components/BottomNavigation/src/ColorThemer/MDCBottomNavigationBarColorThemer.m
  components/BottomNavigation/src/MDCBottomNavigationBar.h
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/tests/unit/BottomNavigationTests.m
Labels: cla: yes, where:BottomNavigation

#3123 [Chips] Support Dynamic Type and show it in example.
  components/Chips/examples/ChipsTypicalUseViewController.m
  components/Chips/src/MDCChipView.h
  components/Chips/src/MDCChipView.m
  components/Chips/tests/unit/ChipsEncodingTests.m
  components/Chips/tests/unit/ChipsNoopTest.m
  components/Chips/tests/unit/ChipsTests.m
Labels: cla: yes, where:Chips

#3127 Support Dynamic Type in extensions for iOS >= 10.
  components/Typography/src/UIFontDescriptor+MaterialTypography.m
Labels: cla: yes

#3133 [BottomAppBar, Tabs] Make themer parameters nonnull
  components/BottomAppBar/src/ColorThemer/MDCBottomAppBarColorThemer.h
  components/Tabs/src/FontThemer/MDCTabBarFontThemer.h
Labels: cla: yes, where:Bottom App Bar, where:TabBar

#3128 [Chips] Create a FontThemer
  MaterialComponents.podspec
  components/Chips/BUILD
  components/Chips/src/FontThemer/MDCChipViewFontThemer.h
  components/Chips/src/FontThemer/MDCChipViewFontThemer.m
  components/Chips/tests/unit/ChipViewFontThemerTests.m
Labels: cla: yes, where:Chips

#3126 Use safe selector access for color themers
  catalog/MaterialCatalog/MDCCatalogTiles.m
  components/BottomNavigation/src/ColorThemer/MDCBottomNavigationBarColorThemer.m
  components/Buttons/src/ColorThemer/MDCButtonColorThemer.m
  components/FeatureHighlight/src/ColorThemer/MDCFeatureHighlightColorThemer.m
  components/HeaderStackView/src/ColorThemer/MDCHeaderStackViewColorThemer.m
  components/Ink/src/ColorThemer/MDCInkColorThemer.m
  components/PageControl/src/ColorThemer/MDCPageControlColorThemer.m
  components/ProgressView/src/ColorThemer/MDCProgressViewColorThemer.m
  components/Slider/src/ColorThemer/MDCSliderColorThemer.m
Labels: cla: yes, type:Internal cleanup

#3096 [TextFields] Adding font themer
  MaterialComponents.podspec
  components/TextFields/BUILD
  components/TextFields/examples/TextFieldCustomFontExample.m
  components/TextFields/src/FontThemer/MDCTextFieldFontThemer.h
  components/TextFields/src/FontThemer/MDCTextFieldFontThemer.m
  components/TextFields/src/MDCTextInputController.h
  components/TextFields/src/MDCTextInputControllerBase.m
  components/TextFields/src/MDCTextInputControllerFloatingPlaceholder.h
  components/TextFields/src/MDCTextInputControllerFullWidth.m
  components/TextFields/src/MDCTextInputControllerLegacyDefault.m
  components/TextFields/src/MDCTextInputControllerLegacyFullWidth.m
  components/TextFields/src/MDCTextInputControllerOutlined.m
  components/TextFields/tests/unit/TextFieldsFontThemerTests.m
Labels: cla: yes, where:TextField

#3138 [Experimental WIP] Playground for using shapes with cards
  components/Cards/src/MDCCard.h
  components/Cards/src/MDCCard.m
  components/private/Shapes/src/MDCShapedShadowLayer.h
  components/private/Shapes/src/MDCShapedShadowLayer.m
Labels: cla: yes

#3106 [Snackbar] Don't traverse through dismissing presented child view controllers.
  components/Snackbar/src/MDCSnackbarManager.m
Labels: cla: yes, where:Snackbar

#3145 [FeatureHighlight] FeatureHighlightViewController should expose FeatureHighlightView as a property.
  components/FeatureHighlight/examples/FeatureHighlightColorExample.m
  components/FeatureHighlight/examples/FeatureHighlightTypicalUseViewController.m
  components/FeatureHighlight/src/FeatureHighlightAccessibilityMutator/MDCFeatureHighlightAccessibilityMutator.m
  components/FeatureHighlight/src/MDCFeatureHighlightViewController.h
  components/FeatureHighlight/src/MDCFeatureHighlightViewController.m
  components/FeatureHighlight/src/private/MDCFeatureHighlightView+Private.m
  components/FeatureHighlight/tests/unit/FeatureHighlightCustomFontTest.m
Labels: cla: yes, is:Blocked

#3149 [MDCTextFields + Kokoro] Making textfields dynamic type off by default
  components/TextFields/src/MDCMultilineTextField.m
  components/TextFields/src/MDCTextInputControllerBase.m
  components/TextFields/src/MDCTextInputControllerFullWidth.m
  components/TextFields/src/MDCTextInputControllerLegacyDefault.m
  components/TextFields/src/MDCTextInputControllerLegacyFullWidth.m
  components/TextFields/src/private/MDCTextInputCommonFundament.m
  components/TextFields/tests/unit/MultilineTextFieldTests.swift
  components/TextFields/tests/unit/TextFieldControllerClassPropertiesLegacyTests.swift
  components/TextFields/tests/unit/TextFieldControllerClassPropertiesTests.swift
  components/TextFields/tests/unit/TextFieldTests.swift
Labels: cla: yes

#3156 [Snackbar] added inputAccessory with Snackbar dragon + Fix for it
  components/Snackbar/examples/SnackbarInputAccessoryViewController.m
  components/Snackbar/examples/supplemental/SnackbarExampleSupplemental.h
  components/Snackbar/examples/supplemental/SnackbarExampleSupplemental.m
  components/Snackbar/src/private/MDCSnackbarOverlayView.m
Labels: cla: yes

#3154 [TextFields] Make MDCTextInputControllerLegacyFullWidth a subclass of MDCTextInputControllerFullWidth
  components/TextFields/src/MDCTextInputControllerFullWidth.m
  components/TextFields/src/MDCTextInputControllerLegacyFullWidth.h
  components/TextFields/src/MDCTextInputControllerLegacyFullWidth.m
Labels: cla: yes, where:TextField

#3125 [Snackbar] font and color updates.
  components/Snackbar/examples/SnackbarSimpleExample.m
  components/Snackbar/src/MDCSnackbarMessageView.m
Labels: cla: yes

#3152 [TextFields] Make MDCTextInputControllerLegacyDefault a subclass of MDCTextInputControllerBase
  components/TextFields/src/MDCTextInputControllerBase.m
  components/TextFields/src/MDCTextInputControllerLegacyDefault.h
  components/TextFields/src/MDCTextInputControllerLegacyDefault.m
  components/TextFields/tests/unit/TextFieldControllerLegacyTests.swift
Labels: cla: yes, where:TextField

#3159 [FeatureHighlight] Copy block instead of assign
  components/FeatureHighlight/src/private/MDCFeatureHighlightView+Private.h
Labels: cla: yes, type:Internal cleanup, where:FeatureHighlight

#3171 Add initial scaffolding for the Color scheme target.
  MaterialComponents.podspec
  components/schemes/Color/BUILD
  components/schemes/Color/README.md
  components/schemes/Color/src/MaterialColorScheme.h
Labels: cla: yes

#3178 [Snackbar] revert back to before #3106 as this code needs more thorough testing.
  components/Snackbar/src/MDCSnackbarManager.m
Labels: cla: yes, where:Snackbar

#3195 [Tabs] Fix format string argument types
  components/Collections/examples/CollectionsALaCarteExample.m
  components/Collections/examples/CollectionsAppearanceAnimationExample.m
  components/Collections/examples/CollectionsCellSeparatorExample.m
  components/Collections/examples/CollectionsContainerExample.m
  components/Collections/examples/CollectionsEditingExample.m
  components/Collections/examples/CollectionsEditingManyCellsExample.m
  components/Collections/examples/CollectionsEmptySections.m
  components/Collections/examples/CollectionsGridExample.m
  components/Collections/examples/CollectionsHeaderFooterExample.m
  components/Collections/examples/CollectionsSimpleDemo.m
  components/Collections/examples/CollectionsStoryboardExample.m
  components/Collections/examples/CollectionsSwipeToDismissRowExample.m
  components/Collections/examples/CollectionsSwipeToDismissSectionExample.m
  components/Collections/examples/supplemental/CollectionsSectionInsetsExampleSupplemental.m
  components/FlexibleHeader/examples/FlexibleHeaderPageControlExample.m
  components/PageControl/examples/PageControlAnimationBlockExample.m
  components/PageControl/examples/PageControlButtonExample.m
  components/PageControl/examples/PageControlTypicalUseExample.m
  components/Tabs/src/MDCTabBar.m
Labels: cla: yes, type:Internal cleanup, where:Collections, where:FlexibleHeader, where:PageControl, where:TabBar

#3192 [Snackbar] Update content padding for new snackbar, leave old snackbar padding as is.
  components/Snackbar/src/MDCSnackbarMessageView.m
Labels: cla: yes, where:Snackbar

#3199 [release script] Minor white space nit change
  scripts/release
Labels: cla: yes

#3196 Fixing static analyzer warnings from Xcode 9.3
  components/Buttons/src/MDCButton.m
  components/Ink/src/private/MDCLegacyInkLayer.m
  components/NavigationBar/src/MDCNavigationBar.m
  components/Palettes/src/private/MDCPaletteExpansions.m
  components/TextFields/src/MDCTextInputControllerBase.m
  components/TextFields/src/MDCTextInputControllerFullWidth.m
  components/TextFields/tests/unit/TextFieldControllerClassPropertiesLegacyTests.swift
  components/TextFields/tests/unit/TextFieldControllerClassPropertiesTests.swift
Labels: cla: yes, where:Buttons, where:Ink, where:NavigationBar, where:Palettes, where:TextField

#3198 [AnimationTiming] Update example colors to have better contrast.
  components/AnimationTiming/examples/AnimationTimingExample.swift
  components/AnimationTiming/examples/supplemental/AnimationTimingExampleSupplemental.m
Labels: cla: yes

#3193 [NavigationBar] Fix RTL for titleView
  components/NavigationBar/examples/NavigationBarRTLIcons.m
  components/NavigationBar/src/MDCNavigationBar.m
Labels: cla: yes, where:NavigationBar

#3098 [FlexibleHeader] Check if contentView is nil before the comparison in hitTest
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
Labels: cla: yes

#3201 [FlexibleHeader] Fix bug where shadow layer's opacity wouldn't be set without a tracking scroll view.
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
Labels: cla: yes, type:Bug, where:FlexibleHeader

#3197 [Dialogs] Add a Dragons samples to compare UIKit -vs- Material
  components/Dialogs/examples/AlertComparison.swift
Labels: cla: yes, type:Accessibility, where:Dialogs
