Repository material-components/material-components-ios, pull requests merged in 2019-08, with the labels that each got.

#8145 [Scripts] Update brew only once per run.
  .kokoro
  scripts/lib/package_managers.sh
Labels: Scripts, cla: yes

#8152 [ActionSheet] BUILD file uses Skylark macros.
  components/ActionSheet/BUILD
Labels: PR:merge-when-approved, PR:updates BUILD, [ActionSheet], cla: yes

#8153 [ActivityIndicator] Update BUILD to use Skylark macros.
  components/ActivityIndicator/BUILD
Labels: PR:merge-when-approved, PR:updates BUILD, [ActivityIndicator], cla: yes

#8154 [AnimationTiming] Use Skylark macros in BUILD file.
  components/AnimationTiming/BUILD
Labels: PR:merge-when-approved, PR:updates BUILD, [AnimationTiming], cla: yes

#8155 [Banner] Use Starlark macros.
  components/Banner/BUILD
Labels: PR:merge-when-approved, PR:updates BUILD, [Banner], cla: yes

#8156 [BottomAppBar] Use Starlark macros.
  components/BottomAppBar/BUILD
Labels: PR:merge-when-approved, PR:updates BUILD, [BottomAppBar], cla: yes

#8159 [BottomNavigation] Use Starlark macros.
  components/BottomNavigation/BUILD
  components/BottomNavigation/tests/unit/BottomNavigationItemViewAccessibilityTests.m
Labels: PR:merge-when-approved, PR:updates BUILD, [BottomNavigation], cla: yes

#8160 [BottomSheet] Use Starlark macros.
  components/BottomSheet/BUILD
Labels: PR:merge-when-approved, PR:updates BUILD, [BottomSheet], cla: yes

#8161 [ButtonBar] Use Starlark macros.
  components/ButtonBar/BUILD
  components/ButtonBar/tests/unit/ButtonBarBuilderTests.m
  components/ButtonBar/tests/unit/ButtonBarRippleTests.m
Labels: PR:merge-when-approved, PR:updates BUILD, [ButtonBar], cla: yes

#8163 [Cards] Use Starlark macros.
  components/Cards/BUILD
Labels: PR:merge-when-approved, PR:updates BUILD, [Cards], cla: yes

#8162 [Buttons] Use Starlark macros.
  components/Buttons/BUILD
  components/Buttons/tests/unit/ButtonSubclassingTests.m
Labels: PR:merge-when-approved, PR:updates BUILD, [Buttons], cla: yes

#8165 [CollectionCells] Use Starlark macros.
  components/CollectionCells/BUILD
Labels: PR:merge-when-approved, PR:updates BUILD, [CollectionCells], cla: yes

#8164 [Chips] Use Starlark macros.
  components/Chips/BUILD
Labels: PR:merge-when-approved, PR:updates BUILD, [Chips], cla: yes

#8166 [CollectionLayoutAttributes] Use more Starlark macros.
  components/CollectionLayoutAttributes/BUILD
Labels: PR:merge-when-approved, PR:updates BUILD, [CollectionLayoutAttributes], cla: yes

#8167 [Collections] Use more Starlark macros.
  components/Collections/BUILD
Labels: PR:merge-when-approved, PR:updates BUILD, [Collections], cla: yes

#8168 [FeatureHighlight] Use Starlark rules.
  components/FeatureHighlight/BUILD
Labels: PR:merge-when-approved, PR:updates BUILD, [FeatureHighlight], cla: yes

#8169 [FlexibleHeader] Use Starlark macros.
  components/FlexibleHeader/BUILD
Labels: PR:merge-when-approved, PR:updates BUILD, [FlexibleHeader], cla: yes

#8170 [HeaderStackView] Use Starlark macros.
  components/HeaderStackView/BUILD
Labels: PR:merge-when-approved, PR:updates BUILD, [HeaderStackView], cla: yes

#8172 [Ink] Use Starlark macros.
  components/Ink/BUILD
  components/Ink/tests/unit/MDCInkLayerTests.m
  components/Ink/tests/unit/MDCLegacyInkLayerTests.m
Labels: PR:merge-when-approved, PR:updates BUILD, [Ink], cla: yes

#8173 [LibraryInfo] Use Starlark macros.
  components/LibraryInfo/BUILD
Labels: PR:merge-when-approved, PR:updates BUILD, [LibraryInfo], cla: yes

#8174 [List] Use Starlark macros in BUILD file.
  components/List/BUILD
Labels: PR:merge-when-approved, PR:updates BUILD, [List], cla: yes

#8175 [MaskedTransition] Use more Starlark macros.
  components/MaskedTransition/BUILD
Labels: PR:merge-when-approved, PR:updates BUILD, [MaskedTransition], cla: yes

#8176 [NavigationBar] Use Starlark macros.
  components/NavigationBar/BUILD
Labels: PR:merge-when-approved, PR:updates BUILD, [NavigationBar], cla: yes

#8178 [OverlayWindow] Use more Starlark macros.
  components/OverlayWindow/BUILD
Labels: PR:merge-when-approved, PR:updates BUILD, [OverlayWindow], cla: yes

#8179 [PageControl] Use Starlark macros in BUILD file.
  components/PageControl/BUILD
Labels: PR:merge-when-approved, PR:updates BUILD, [PageControl], cla: yes

#8180 [Palettes] Use more Starlark macros in the BUILD file.
  components/Palettes/BUILD
Labels: PR:merge-when-approved, PR:updates BUILD, [Palettes], cla: yes

#8181 [ProgressView] Add more Starlark macros.
  components/ProgressView/BUILD
Labels: PR:merge-when-approved, PR:updates BUILD, [ProgressView], cla: yes

#8185 [ShadowLayer] Use Starlark macros.
  components/ShadowLayer/BUILD
Labels: PR:merge-when-approved, PR:updates BUILD, [ShadowLayer], cla: yes

#8183 [Ripple] Use Starlark macros.
  components/Ripple/BUILD
  components/Ripple/tests/unit/MDCRippleLayerTests.m
  components/Ripple/tests/unit/MDCRippleViewTests.m
  components/Ripple/tests/unit/MDCStatefulRippleViewTests.m
Labels: PR:merge-when-approved, PR:updates BUILD, [Ripple], cla: yes

#8171 Update xctestrunner link to fix Bazel test for Xcode 11.
  WORKSPACE
Labels: cla: yes

#8184 [ShadowElevations] Use Starlark macros.
  components/ShadowElevations/BUILD
Labels: PR:merge-when-approved, PR:updates BUILD, [ShadowElevations], cla: yes

#8186 [ShapeLibrary] Use Starlark macros.
  components/ShapeLibrary/BUILD
Labels: PR:merge-when-approved, PR:updates BUILD, [ShapeLibrary], cla: yes

#8177 [NavigationDrawer] Use more Starlark macros.
  components/NavigationDrawer/BUILD
Labels: PR:merge-when-approved, PR:updates BUILD, [NavigationDrawer], cla: yes

#8198 [Themes] Use Starlark macros in BUILD file.
  components/Themes/BUILD
Labels: PR:merge-when-approved, PR:updates BUILD, [Themes], cla: yes

#8192 [Shapes] Use Starlark macros.
  components/Shapes/BUILD
Labels: PR:merge-when-approved, PR:updates BUILD, [Shapes], cla: yes

#8194 [Slider] Use Starlark BUILD macros.
  components/Slider/BUILD
  components/Slider/tests/unit/SliderRippleTests.m
  components/Slider/tests/unit/SliderTests.m
Labels: PR:merge-when-approved, PR:updates BUILD, [Slider], cla: yes

#8195 [Snackbar] Use Starlark macros in BUILD file.
  components/Snackbar/BUILD
  components/Snackbar/tests/snapshot/MDCSnackbarMessageViewSnapshotTests.m
Labels: PR:merge-when-approved, PR:updates BUILD, [Snackbar], cla: yes

#8196 [Tabs] Use Starlark macros in BUILD file.
  components/Tabs/BUILD
  components/Tabs/tests/snapshot/TabBarView/MDCTabBarViewLayoutStyleSnapshotTests.m
  components/Tabs/tests/snapshot/TabBarView/MDCTabBarViewSnapshotTests.m
  components/Tabs/tests/unit/MDCItemBarCellTests.m
  components/Tabs/tests/unit/MDCItemBarTests.m
  components/Tabs/tests/unit/MDCTabBarDisplayDelegateTests.m
  components/Tabs/tests/unit/MDCTabBarLayoutTests.m
  components/Tabs/tests/unit/MDCTabBarRippleTests.m
Labels: PR:merge-when-approved, PR:updates BUILD, [Tabs], cla: yes

#8199 [Typography] Use Starlark macros.
  components/Typography/BUILD
Labels: PR:merge-when-approved, PR:updates BUILD, [Typography], cla: yes

#8200 [Application] Use Starlark macros in BUILD file.
  components/private/Application/BUILD
Labels: PR:merge-when-approved, PR:updates BUILD, [private/Application], [private], cla: yes

#8201 [Color] Use Starlark macros.
  components/private/Color/BUILD
Labels: PR:merge-when-approved, PR:updates BUILD, [Color], [private], cla: yes

#8202 [Icons] Use Starlark macros in BUILD file.
  components/private/Icons/BUILD
Labels: PR:merge-when-approved, PR:updates BUILD, [Icons], [private], cla: yes

#8203 [KeyboardWatcher] Use more Starlark macros.
  components/private/KeyboardWatcher/BUILD
Labels: PR:merge-when-approved, PR:updates BUILD, [KeyboardWatcher], [private], cla: yes

#8204 [Math] Use Starlark macros.
  components/private/Math/BUILD
Labels: PR:merge-when-approved, PR:updates BUILD, [Math], [private], cla: yes

#8205 [Overlay] Use more Starlark macros.
  components/private/Overlay/BUILD
Labels: PR:merge-when-approved, PR:updates BUILD, [OverlayWindow], [private], cla: yes

#8206 [ThumbTrack] Use Starlark macros in BUILD file.
  components/private/ThumbTrack/BUILD
  components/private/ThumbTrack/tests/unit/ThumbTrackTests.m
Labels: PR:merge-when-approved, PR:updates BUILD, [private/ThumbTrack], [private], cla: yes

#8188 [Elevation] Having MDCElevatable conform to NSObject
  components/Elevation/src/MDCElevatable.h
Labels: [Elevation], cla: yes

#8207 [UIMetrics] Use Starlark macros in the BUILD file.
  components/private/UIMetrics/BUILD
Labels: PR:merge-when-approved, PR:updates BUILD, [UIMetrics], [private], cla: yes

#8208 [schemes/Color] Use Starlark macros in BUILD file.
  components/schemes/Color/BUILD
Labels: PR:merge-when-approved, PR:updates BUILD, [Color], [schemes], cla: yes

#8211 [Typography] Use Starlark macros in BUILD file.
  components/schemes/Typography/BUILD
Labels: PR:merge-when-approved, PR:updates BUILD, [Typography], [schemes], cla: yes

#8210 [Container] Use Starlark macros in the BUILD file.
  components/schemes/Container/BUILD
Labels: PR:merge-when-approved, PR:updates BUILD, [Container], [schemes], cla: yes

#8197 [TextFields] Use Starlark macros in the BUILD file.
  components/TextFields/BUILD
Labels: PR:merge-when-approved, PR:updates BUILD, [TextFields], cla: yes

#8209 [Shape] Use Starlark macros in BUILD file.
  components/schemes/Shape/BUILD
Labels: PR:merge-when-approved, PR:updates BUILD, [Shapes], [schemes], cla: yes

#8212 [Elevation] Add smooth continuous formula for values between 0 and 1
  components/Elevation/src/UIColor+MaterialElevation.m
  components/Elevation/tests/unit/MaterialElevationColorTests.m
Labels: [Elevation], cla: yes

#8133 [BottomNavigation] Renames functions and fixes comments.
  components/BottomNavigation/src/MDCBottomNavigationBarController.h
  components/BottomNavigation/src/MDCBottomNavigationBarController.m
  components/BottomNavigation/tests/unit/MDCBottomNavigationBarControllerTests.m
Labels: [BottomNavigation], cla: yes

#8217 [Elevation] Update mdc_resolvedColorWithTraitCollection:elevation: to support pre-iOS 13
  components/Elevation/src/UIColor+MaterialElevation.h
  components/Elevation/src/UIColor+MaterialElevation.m
  components/Elevation/tests/unit/MaterialElevationColorTests.m
Labels: [Elevation], cla: yes

#8226 [ActionSheet] Allow clients to customize the title color of actions
  components/ActionSheet/src/MDCActionSheetController.h
  components/ActionSheet/src/MDCActionSheetController.m
  components/ActionSheet/tests/snapshot/MDCActionSheetControllerSnapshotTests.m
  components/ActionSheet/tests/unit/MDCActionSheetTableCellTest.m
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testActionSheetWhenEveryActionHasCustomTitleColor_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testActionSheetWithCustomActionSheetControllerTitleColorAndOneActionCustomTitleColor_11_2@2x.png
Labels: [ActionSheet], cla: yes

#8227 [ActionSheet] Allow clients to customize the tint color of actions
  components/ActionSheet/src/MDCActionSheetController.h
  components/ActionSheet/src/MDCActionSheetController.m
  components/ActionSheet/tests/snapshot/MDCActionSheetControllerSnapshotTests.m
  components/ActionSheet/tests/unit/MDCActionSheetTableCellTest.m
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testActionSheetWhenEveryActionHasCustomTintColor_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testActionSheetWithCustomActionSheetControllerTintColorAndOneActionCustomTintColor_11_2@2x.png
Labels: [ActionSheet], cla: yes

#7705 [TextFields] Add some RTL functionality to MDCBaseTextField
  catalog/MDCCatalog.xcodeproj/xcshareddata/xcschemes/MDCCatalog.xcscheme
  catalog/MDCDragons.xcodeproj/xcshareddata/xcschemes/MDCDragons.xcscheme
  components/TextFields/BUILD
  components/TextFields/src/ContainedInputView/MDCBaseTextField.h
  components/TextFields/src/ContainedInputView/MDCBaseTextField.m
  components/TextFields/tests/snapshot/MDCBaseTextFieldSnapshotTests.m
  components/TextFields/tests/unit/ContainedInputView/MDCBaseTextFieldTests.m
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithLeadingViewAndTrailingView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithLeadingView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithTrailingView_11_2@2x.png
Labels: [Catalog], [TextFields], cla: yes

#8220 [testing] add a test runner for iPhone 8, iOS 13.
  .kokoro
  components/testing/runners/BUILD
  material_components_ios.bzl
Labels: [testing], cla: yes

#8232 Use lfs file for MDCBaseTextField snapshots.
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithLeadingViewAndTrailingView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithLeadingView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithTrailingView_11_2@2x.png
Labels: cla: yes

#8237 [CI] Support Autobot environment for bazel run.
  .kokoro
Labels: cla: yes

#8240 [BottomNavigation] Don't assign `accessibilityIdentifier` to the item view
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.h
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
  components/BottomNavigation/tests/unit/MDCBottomNavigationBarKVOTests.m
  components/BottomNavigation/tests/unit/MDCBottomNavigationBarTests.m
Labels: [BottomNavigation], [testing], cla: yes, skill:UIAccessibility

#8241 [BottomNavigation] Propagate `accessibilityHint` to the accessibility element.
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
  components/BottomNavigation/tests/unit/MDCBottomNavigationBarKVOTests.m
  components/BottomNavigation/tests/unit/MDCBottomNavigationBarTests.m
Labels: Accessibility, [BottomNavigation], cla: yes

#8244 [Buttons] Replace mdc_legacyFontScaling usage with adjustsFontForContentSizeCategoryWhenScaledFontIsUnavailable.
  components/Buttons/examples/ButtonsDynamicTypeViewController.swift
  components/Buttons/tests/snapshot/ButtonCustomTraitCollectionSnapshotTests.m
Labels: PR:merge-when-approved, [Buttons], cla: yes

#8248 [ActivityIndicator] Rewrite tests in ObjC to prevent the failing unit tests on iOS 13.
  components/ActivityIndicator/tests/unit/ActivityIndicatorColorThemerTests.m
  components/ActivityIndicator/tests/unit/ActivityIndicatorColorThemerTests.swift
Labels: [ActivityIndicator], cla: yes

#8246 [ActionSheet] Disable a iOS13 failing test.
  components/ActionSheet/tests/unit/ActionSheetTest.swift
Labels: [ActionSheet], cla: yes

#8251 [LibraryInfo] Rewrite tests in ObjC to prevent the failing unit tests on iOS 13
  components/LibraryInfo/BUILD
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.swift
Labels: [LibraryInfo], cla: yes

#8253 [AppBar] Rewrite tests in ObjC to prevent the failing unit tests on iOS 13.
  components/AppBar/tests/unit/MDCAppBarNavigationControllerTests.m
  components/AppBar/tests/unit/MDCAppBarNavigationControllerTests.swift
Labels: [AppBar], cla: yes

#8255 [Palettes] Rewrite tests in ObjC to prevent the failing unit tests on iOS 13.
  components/Palettes/BUILD
  components/Palettes/tests/unit/PaletteTests.m
  components/Palettes/tests/unit/PaletteTests.swift
Labels: [Palettes], cla: yes

#8258 [Banner] Make default textView background color clear
  components/Banner/src/MDCBannerView.m
  snapshot_test_goldens/goldens_64/MDCBannerViewSnapshotTests/testDynamicTypeForAttributedTextStringWhenContentSizeCategoryIsExtraExtraLarge_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBannerViewSnapshotTests/testDynamicTypeForContentSizeCategoryExtraExtraLarge_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBannerViewSnapshotTests/testLongTextWithSingleActionLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBannerViewSnapshotTests/testLongTextWithSingleActionRTLInArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBannerViewSnapshotTests/testLongTextWithTwoActionsAndIconLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBannerViewSnapshotTests/testLongTextWithTwoActionsAndIconRTLInArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBannerViewSnapshotTests/testLongTextWithTwoActionsLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBannerViewSnapshotTests/testLongTextWithTwoActionsRTLInArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBannerViewSnapshotTests/testMiddleLengthTextAndStackedButtonsWithLargeLayoutMargin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBannerViewSnapshotTests/testMiddleLengthTextWithLargeLayoutMargin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBannerViewSnapshotTests/testShortTextWithSingleActionLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBannerViewSnapshotTests/testShortTextWithSingleActionRTLInArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBannerViewSnapshotTests/testSingleRowStyleLongTextWithSingleActionLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBannerViewSnapshotTests/testSingleRowStyleLongTextWithSingleActionRTLInArabic_11_2@2x.png
Labels: [Banner], cla: yes

#8257 [Dialogs] Rewrite tests in ObjC to prevent the failing unit tests on iOS 13
  components/Dialogs/tests/unit/MDCDialogPresentationControllerTests.m
  components/Dialogs/tests/unit/MDCDialogPresentationControllerUnitTests.swift
Labels: [Dialogs], cla: yes

#8261 [Catalog] Remove a layer of indirection in AppTheme.
  catalog/MDCCatalog/AppDelegate.swift
  catalog/MDCCatalog/AppTheme.swift
  catalog/MDCCatalog/MDCCatalogCollectionViewCell.swift
  catalog/MDCCatalog/MDCCatalogComponentsController.swift
  catalog/MDCCatalog/MDCCatalogTileView.swift
  catalog/MDCCatalog/MDCMenuViewController.swift
  catalog/MDCCatalog/MDCNodeListViewController.swift
  catalog/MDCCatalog/MDCThemePickerViewController.swift
Labels: PR:merge-when-approved, [Catalog], cla: yes

#8117 [BottomNavigation] Adds state restoration support to the bottom navigation bar controller.
  components/BottomNavigation/src/MDCBottomNavigationBarController.h
  components/BottomNavigation/src/MDCBottomNavigationBarController.m
  components/BottomNavigation/tests/unit/MDCBottomNavigationBarControllerTests.m
Labels: [BottomNavigation], cla: yes

#8259 Add an argument to mdc unit test suite to make autobot runner optional.
  material_components_ios.bzl
Labels: [ButtonBar], cla: yes

#8134 [Themes] Changes Material Components imports within Beta Components to use framework imports.
  components/ActionSheet/src/ActionSheetThemer/MDCActionSheetThemer.h
  components/ActionSheet/src/ColorThemer/MDCActionSheetColorThemer.h
  components/ActionSheet/src/TypographyThemer/MDCActionSheetTypographyThemer.h
  components/Banner/src/MDCBannerView.h
  components/ButtonBar/src/Theming/MDCButtonBar+MaterialTheming.h
Labels: PR:merge-when-approved, [ActionSheet], [Banner], [ButtonBar], cla: yes

#8264 [Catalog] Remove TextFields+ContainedInputView from everything but the Test command.
  catalog/MDCCatalog.xcodeproj/xcshareddata/xcschemes/MDCCatalog.xcscheme
Labels: PR:merge-when-approved, [Catalog], cla: yes

#8276 [Buttons] Add missing self to traitCollectionDidChangeBlock
  components/Buttons/src/MDCButton.h
  components/Buttons/src/MDCButton.m
  components/Buttons/tests/unit/MDCButtonTests.m
Labels: [Buttons], cla: yes

#8280 [Catalog] Use the typography scheme defaults.
  catalog/MDCCatalog/AppTheme.swift
  catalog/MDCCatalog/MDCCatalogComponentsController.swift
Labels: PR:merge-when-approved, [Catalog], cla: yes

#8267 [ButtonBar] Stop running swift tests on Autobot.
  components/ButtonBar/BUILD
Labels: [ButtonBar], cla: yes

#8269 [FlexibleHeader] Stop running swift tests on Autobot.
  components/FlexibleHeader/BUILD
Labels: [FlexibleHeader], cla: yes

#8274 [ActionSheet] Stop running swift tests on Autobot.
  components/ActionSheet/BUILD
Labels: [ActionSheet], cla: yes

#8272 [NavigationBar] Stop running swift tests on Autobot.
  components/NavigationBar/BUILD
Labels: [NavigationBar], cla: yes

#8275 [TextFields] Stop running swift tests on Autobot.
  components/TextFields/BUILD
Labels: [TextFields], cla: yes

#8288 [Releasing] Allow warnings in `pod lib lint`
  contributing/releasing.md
Labels: [Documentation], [docs], cla: yes, skill:Release engineering, type:Documentation

#8290 [TextFields] Don't list MDFI18N as dependency twice.
  MaterialComponents.podspec
Labels: [TextFields], cla: yes, skill:CocoaPods, type:Internal cleanup

#8289 [Releasing] Perform `pod lib lint` early
  contributing/releasing.md
Labels: [Documentation], [docs], cla: yes, skill:Release engineering, type:Documentation

#8245 [ActionSheet] Add dark mode support to theming extension
  MaterialComponents.podspec
  components/ActionSheet/BUILD
  components/ActionSheet/examples/ActionSheetTypicalUseExampleViewController.m
  components/ActionSheet/src/Theming/MDCActionSheetController+MaterialTheming.m
  components/ActionSheet/tests/unit/Theming/MDCActionSheetThemingTest.m
Labels: [ActionSheet], cla: yes

#8287 [TextFields] Add non-experimental MDCBaseTextField example
  components/TextFields/BUILD
  components/TextFields/examples/MDCBaseTextFieldTypicalUseExample.m
Labels: [TextFields], cla: yes

#8294 [List] Fix docs markdown.
  components/List/README.md
  components/List/docs/create-your-own.md
Labels: [List], cla: yes

#8299 [Color] Remove use of `NS_ASSUME_NONNULL_BEGIN`.
  components/private/Color/src/UIColor+MaterialBlending.h
  components/private/Color/src/UIColor+MaterialDynamic.h
Labels: [Color], [private], cla: yes, type:Internal cleanup

#8301 [TextFields] Remove use of `NS_ASSUME_NONNULL_BEGIN`.
  components/TextFields/examples/experimental/supplemental/InputChipView.h
  components/TextFields/examples/experimental/supplemental/InputChipViewLayout.h
  components/TextFields/examples/experimental/supplemental/MDCContainedInputUnderlineLabelView.h
  components/TextFields/examples/experimental/supplemental/MDCContainedInputUnderlineLabelViewLayout.h
  components/TextFields/examples/experimental/supplemental/MDCInputTextFieldLayout.h
Labels: [TextFields], cla: yes, type:Internal cleanup

#8298 [Ink] Remove use of `NS_ASSUME_NONNULL_BEGIN`.
  components/Ink/src/private/MDCLegacyInkLayer+Private.h
Labels: [Ink], cla: yes, type:Internal cleanup

#8300 [Slider] Remove use of `NS_ASSUME_NONNULL_BEGIN`.
  components/Slider/tests/unit/MockUIImpactFeedbackGenerator.h
Labels: [Slider], cla: yes, type:Internal cleanup

#8302 [List] Fix typo in README
  components/List/README.md
  components/List/docs/create-your-own.md
Labels: [List], cla: yes, type:Documentation

#8305 [Chips] delete deprecated mdc_legacyFontScaling.
  components/Chips/src/MDCChipView.h
  components/Chips/src/MDCChipView.m
Labels: [Chips], cla: yes

#8306 [Buttons] Delete deprecated mdc_legacyFontScaling API.
  components/Buttons/src/MDCButton.h
  components/Buttons/src/MDCButton.m
Labels: [Buttons], cla: yes

#8307 [Color] Add a method for MDC to call resolveColorWithTraitCollection on pre-iOS 13
  components/private/Color/src/UIColor+MaterialDynamic.h
  components/private/Color/src/UIColor+MaterialDynamic.m
  components/private/Color/tests/unit/MaterialColorTests.m
Labels: [private], cla: yes

#8308 [Shapes] Update border color to support dynamic color
  MaterialComponents.podspec
  components/Shapes/BUILD
  components/Shapes/src/MDCShapedShadowLayer.m
Labels: [Shapes], cla: yes

#8303 [Snackbar] Add dynamic type M2 support.
  components/Snackbar/src/MDCSnackbarManager.h
  components/Snackbar/src/MDCSnackbarManager.m
  components/Snackbar/src/MDCSnackbarMessageView.h
  components/Snackbar/src/MDCSnackbarMessageView.m
  components/Snackbar/tests/unit/MDCSnackbarMessageViewTests.m
  components/Snackbar/tests/unit/SnackbarManagerTests.m
Labels: [Snackbar], cla: yes

#8292 [TextFields] Add MDCBaseTextFieldLayout object with leading/trailing view behavior
  components/TextFields/src/ContainedInputView/MDCBaseTextField.m
  components/TextFields/src/ContainedInputView/MDCBaseTextFieldLayout.h
  components/TextFields/src/ContainedInputView/MDCBaseTextFieldLayout.m
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithLeadingViewAndTrailingView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithLeadingView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithTrailingView_11_2@2x.png
Labels: [TextFields], cla: yes

#8234 [Git LFS] Restore working .gitattributes file.
  .gitattributes
Labels: cla: yes

#8316 Revert "[TextFields] Add MDCBaseTextFieldLayout object with leading/trailing view behavior (#8292)"
  components/TextFields/src/ContainedInputView/MDCBaseTextField.m
  components/TextFields/src/ContainedInputView/MDCBaseTextFieldLayout.h
  components/TextFields/src/ContainedInputView/MDCBaseTextFieldLayout.m
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithLeadingViewAndTrailingView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithLeadingView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithTrailingView_11_2@2x.png
Labels: PR:merge-when-approved, [TextFields], cla: yes

#8311 [Typography] add doc to clarify useCurrentContentSizeCategoryWhenApplied.
  components/schemes/Typography/src/MDCTypographyScheme.h
Labels: [schemes], cla: yes

#8313 [List] Fix remaining code blocks.
  components/List/README.md
  components/List/docs/create-your-own.md
Labels: PR:merge-when-approved, [Documentation], [List], cla: yes

#8317 [TextFields] Delete experimental textfields
  MaterialComponentsExamples.podspec
  components/TextFields/examples/experimental/InputChipViewExampleViewController.h
  components/TextFields/examples/experimental/InputChipViewExampleViewController.m
  components/TextFields/examples/experimental/InputTextFieldManualLayoutExampleViewController.h
  components/TextFields/examples/experimental/InputTextFieldManualLayoutExampleViewController.m
  components/TextFields/examples/experimental/InputTextFieldStoryboardExampleViewController.swift
  components/TextFields/examples/experimental/resources/SimpleTextFieldStoryboardExampleViewController.storyboard
  components/TextFields/examples/experimental/supplemental/InputChipView+MaterialTheming.h
  components/TextFields/examples/experimental/supplemental/InputChipView+MaterialTheming.m
  components/TextFields/examples/experimental/supplemental/InputChipView.h
  components/TextFields/examples/experimental/supplemental/InputChipView.m
  components/TextFields/examples/experimental/supplemental/InputChipViewLayout.h
  components/TextFields/examples/experimental/supplemental/InputChipViewLayout.m
  components/TextFields/examples/experimental/supplemental/MDCContainedInputUnderlineLabelView.h
  components/TextFields/examples/experimental/supplemental/MDCContainedInputUnderlineLabelView.m
  components/TextFields/examples/experimental/supplemental/MDCContainedInputUnderlineLabelViewLayout.h
  components/TextFields/examples/experimental/supplemental/MDCContainedInputUnderlineLabelViewLayout.m
  components/TextFields/examples/experimental/supplemental/MDCContainedInputView.h
  components/TextFields/examples/experimental/supplemental/MDCContainedInputView.m
  components/TextFields/examples/experimental/supplemental/MDCContainerStylerFilled.h
  components/TextFields/examples/experimental/supplemental/MDCContainerStylerFilled.m
  components/TextFields/examples/experimental/supplemental/MDCContainerStylerOutlined.h
  components/TextFields/examples/experimental/supplemental/MDCContainerStylerOutlined.m
  components/TextFields/examples/experimental/supplemental/MDCContainerStylerPathDrawingUtils.h
  components/TextFields/examples/experimental/supplemental/MDCContainerStylerPathDrawingUtils.m
  components/TextFields/examples/experimental/supplemental/MDCFilledTextField+MaterialTheming.h
  components/TextFields/examples/experimental/supplemental/MDCFilledTextField+MaterialTheming.m
  components/TextFields/examples/experimental/supplemental/MDCFilledTextField.h
  components/TextFields/examples/experimental/supplemental/MDCFilledTextField.m
  components/TextFields/examples/experimental/supplemental/MDCInputTextField+MaterialTheming.h
  components/TextFields/examples/experimental/supplemental/MDCInputTextField+MaterialTheming.m
  components/TextFields/examples/experimental/supplemental/MDCInputTextField+Private.h
  components/TextFields/examples/experimental/supplemental/MDCInputTextField+Private.m
  components/TextFields/examples/experimental/supplemental/MDCInputTextField.h
  components/TextFields/examples/experimental/supplemental/MDCInputTextField.m
  components/TextFields/examples/experimental/supplemental/MDCInputTextFieldLayout.h
  components/TextFields/examples/experimental/supplemental/MDCInputTextFieldLayout.m
  components/TextFields/examples/experimental/supplemental/MDCOutlinedTextField+MaterialTheming.h
  components/TextFields/examples/experimental/supplemental/MDCOutlinedTextField+MaterialTheming.m
  components/TextFields/examples/experimental/supplemental/MDCOutlinedTextField.h
  components/TextFields/examples/experimental/supplemental/MDCOutlinedTextField.m
Labels: cla: yes

#8315 [Color+Elevation] Add a convenience method to resolve dynamic color only when traitCollection's color appearance has changed.
  components/Elevation/src/UIColor+MaterialElevation.h
  components/Elevation/src/UIColor+MaterialElevation.m
  components/Elevation/tests/unit/MaterialElevationColorTests.m
Labels: [Elevation], cla: yes

#8312 [Typography] Add deprecation flag to mdc_adjustsFontForContentSizeCategory.
  components/schemes/Typography/src/MDCTypographyScheme.h
Labels: [schemes], cla: yes

#8322 [TextFields] Remove Experimental BUILD targets.
  components/TextFields/BUILD
Labels: [TextFields], cla: yes, type:Internal cleanup

#8320 [TextFields] Revert "Revert "[TextFields] Add MDCBaseTextFieldLayout object with leading/trailing view behavior (#8292)" #8316"
  components/TextFields/src/ContainedInputView/MDCBaseTextField.m
  components/TextFields/src/ContainedInputView/MDCBaseTextFieldLayout.h
  components/TextFields/src/ContainedInputView/MDCBaseTextFieldLayout.m
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithLeadingViewAndTrailingView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithLeadingView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithTrailingView_11_2@2x.png
Labels: [TextFields], cla: yes

#8285 [Banner] Add theming extension.
  MaterialComponentsBeta.podspec
  catalog/MDCCatalog.xcodeproj/xcshareddata/xcschemes/MDCCatalog.xcscheme
  catalog/MDCDragons.xcodeproj/xcshareddata/xcschemes/MDCDragons.xcscheme
  catalog/Podfile
  components/Banner/BUILD
  components/Banner/src/Theming/MDCBannerView+MaterialTheming.h
  components/Banner/src/Theming/MDCBannerView+MaterialTheming.m
  components/Banner/src/Theming/MaterialBanner+Theming.h
  components/Banner/tests/unit/Theming/MDCBannerViewThemingTests.m
Labels: [Banner], [Catalog], cla: yes

#8321 Fix .gitattributes.
  .gitattributes
Labels: PR:merge-when-approved, cla: yes, skill:Git Hooks, skill:Git LFS

#8325 [TextFields] Add MaterialElevation support.
  MaterialComponents.podspec
  components/TextFields/BUILD
  components/TextFields/src/MDCTextField.h
  components/TextFields/src/MDCTextField.m
  components/TextFields/tests/unit/TextFieldTests.swift
Labels: [TextFields], cla: yes

#7609 [Ripple] Fixing default state values in Ripple
  components/Ripple/src/MDCStatefulRippleView.m
Labels: [Ripple], cla: yes

#8330 [Snackbar] Adding traitCollection and elevationDidChange blocks of the messageView in the manager.
  components/Snackbar/src/MDCSnackbarManager.h
  components/Snackbar/src/MDCSnackbarManager.m
  components/Snackbar/src/MDCSnackbarMessageView.m
  components/Snackbar/tests/unit/SnackbarManagerTests.m
Labels: PR:merge-when-approved, [Snackbar], cla: yes

#8332 [Banner] Refactor theming extension to use new color method for elevation.
  components/Banner/src/Theming/MDCBannerView+MaterialTheming.m
Labels: [Banner], cla: yes

#8333 [TextFields] Add MaterialElevation support.
  components/TextFields/src/MDCMultilineTextField.h
  components/TextFields/src/MDCMultilineTextField.m
  components/TextFields/tests/unit/MultilineTextFieldTests.swift
Labels: [TextFields], cla: yes

#8336 [Elevation] Fix spelling error
  components/Elevation/src/UIView+MaterialElevationResponding.m
Labels: [Elevation], cla: yes

#8328 [Buttons] Clarify docs for accessibilityTraitsIncludesButton.
  components/Buttons/src/MDCButton.h
Labels: [Buttons], cla: yes, type:Documentation

#8338 {Git LFS} Correct `.gitattributes` to use path and not glob.
  .gitattributes
Labels: cla: yes, skill:Git Hooks, skill:Git LFS

#8341 [ActionSheet] Update cells when the background is set.
  components/ActionSheet/src/MDCActionSheetController.m
Labels: [ActionSheet], cla: yes

#7724 [Snackbar] Make MDCSnackbarMessage convenience class methods allocate the proper instance type
  components/Snackbar/src/MDCSnackbarMessage.m
Labels: [Snackbar], cla: yes

#8324 [TextFields] Add initial text rect logic
  components/TextFields/BUILD
  components/TextFields/src/ContainedInputView/MDCBaseTextField.m
  components/TextFields/src/ContainedInputView/private/MDCBaseTextFieldLayout.h
  components/TextFields/src/ContainedInputView/private/MDCBaseTextFieldLayout.m
  components/TextFields/tests/unit/ContainedInputView/MDCBaseTextFieldLayoutTests.m
  components/TextFields/tests/unit/ContainedInputView/MDCBaseTextFieldTests.m
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithLeadingViewAndTrailingView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithLeadingView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithTrailingView_11_2@2x.png
Labels: [TextFields], cla: yes

#8278 [NavigationDrawer] Respect the rotation preferences of presenting controller
  components/NavigationDrawer/src/MDCBottomDrawerViewController.m
Labels: [NavigationDrawer], cla: yes

#8353 [List] Fix docs rendering for snippet.
  components/List/README.md
  components/List/docs/create-your-own.md
Labels: PR:merge-when-approved, [List], cla: yes, type:Documentation

#8354 [Ripple] Performance Improvements on initialization
  components/Ripple/src/MDCRippleView.m
Labels: [Ripple], cla: yes

#8347 [NavigationDrawer] Add fix for jump on interactive dismissal
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
Labels: [NavigationDrawer], cla: yes

#8337 [Banner] Apply text theme to button in the typical example.
  components/Banner/examples/BannerTypicalUseExampleViewController.m
Labels: [Banner], cla: yes

#8358 [TextFields] Add floating label to MDCBaseTextField
  components/TextFields/examples/MDCBaseTextFieldTypicalUseExample.m
  components/TextFields/src/ContainedInputView/MDCBaseTextField.h
  components/TextFields/src/ContainedInputView/MDCBaseTextField.m
  components/TextFields/src/ContainedInputView/MDCTextControlLabelBehavior.h
  components/TextFields/src/ContainedInputView/private/MDCBaseTextFieldLayout.h
  components/TextFields/src/ContainedInputView/private/MDCBaseTextFieldLayout.m
  components/TextFields/src/ContainedInputView/private/MDCContainedInputViewLabelState.h
  components/TextFields/src/ContainedInputView/private/MDCContainedInputViewVerticalPositioningGuideBase.h
  components/TextFields/src/ContainedInputView/private/MDCContainedInputViewVerticalPositioningGuideBase.m
  components/TextFields/src/ContainedInputView/private/MDCContainerStyleVerticalPositioningReference.h
  components/TextFields/tests/unit/ContainedInputView/MDCBaseTextFieldLayoutTests.m
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithLeadingViewAndTrailingView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithLeadingView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithTrailingView_11_2@2x.png
Labels: [TextFields], cla: yes

#8359 [Ripple] Add the layer masking in layoutSublayers if there are sublayers present.
  components/Ripple/src/MDCRippleView.m
Labels: [Ripple], cla: yes

#8378 [Banner] Update readme after updating API from textLabel to textView.
  components/Banner/README.md
  components/Banner/docs/examples.md
  components/Banner/docs/typical-use.md
Labels: [Banner], cla: yes

#8376 [Banner] Move Banner component out of Beta spec.
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  catalog/Podfile
Labels: [Catalog], cla: yes

#8247 [TextFields] Add contained input view clear button
  components/TextFields/BUILD
  components/TextFields/examples/MDCBaseTextFieldTypicalUseExample.m
  components/TextFields/src/ContainedInputView/MDCBaseTextField.m
  components/TextFields/src/ContainedInputView/private/MDCBaseTextFieldLayout.h
  components/TextFields/src/ContainedInputView/private/MDCBaseTextFieldLayout.m
  components/TextFields/tests/snapshot/MDCBaseTextFieldSnapshotTests.m
  components/TextFields/tests/unit/ContainedInputView/MDCBaseTextFieldLayoutTests.m
  components/TextFields/tests/unit/ContainedInputView/MDCBaseTextFieldTests.m
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithVisibleClearButton_11_2@2x.png
Labels: [TextFields], cla: yes
