Repository material-components/material-components-ios, pull requests merged in 2019-05, with the labels that each got.

#7309 [NavigationBar] Add titleView tests.
  components/NavigationBar/tests/unit/NavigationBarTitleViewTests.swift
Labels: [NavigationBar], cla: yes

#7307 [PageControl] Adds intrinsic content size to MDCPageControl
  components/PageControl/src/MDCPageControl.m
  components/PageControl/tests/unit/PageControlExampleTests.m
Labels: [PageControl], cla: yes

#7310 [NavigationBar] Fix bug where titleView would disappear.
  components/NavigationBar/src/MDCNavigationBar.m
  components/NavigationBar/tests/unit/NavigationBarTitleViewTests.swift
Labels: [NavigationBar], cla: yes

#7317 Small contributing fix for opening the MDCCatalog workspace
  contributing/README.md
Labels: cla: yes

#7315 [Ink] Add fail the ripple gesture when other scroll view gestures are competing unless they are tap or long press gestures to MDCInkTouchController
  components/Ink/src/MDCInkTouchController.h
  components/Ink/src/MDCInkTouchController.m
Labels: [Ink], cla: yes

#7316 [Ink] Combine initialization method for MDCLegacyInkLayer
  components/Ink/src/private/MDCLegacyInkLayer.m
Labels: [Ink], cla: yes

#7321 [docs] Add ✨to our release process
  contributing/releasing.md
Labels: PR:merge-when-approved, cla: yes

#7328 [Docs] Make "Share something" clearly optional
  contributing/releasing.md
Labels: [Documentation], [docs], cla: yes, type:Documentation

#7336 [MDC release] Publish cocoapods allows warnings
  contributing/releasing.md
Labels: PR:merge-when-approved, cla: yes

#7334 [ActionSheet] Add Snapshot test for safe area.
  components/ActionSheet/tests/snapshot/MDCActionSheetControllerSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testSafeAreaBottomRightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testSafeAreaBottomRightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testSafeAreaTopLeftBottomRightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testSafeAreaTopLeftBottomRightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testSafeAreaTopLeftLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testSafeAreaTopLeftRTL_11_2@2x.png
Labels: PR:merge-when-approved, [ActionSheet], cla: yes

#7249 [BottomNavigation] Adds .largeContentSizeImage support
  components/BottomNavigation/BUILD
  components/BottomNavigation/src/MDCBottomNavigationBarController.h
  components/BottomNavigation/src/MDCBottomNavigationBarController.m
Labels: [BottomNavigation], cla: yes

#7333 [Ripple] Remove setting frame based on superview
  components/Ripple/src/MDCRippleView.m
  components/Ripple/tests/unit/MDCRippleViewTests.m
Labels: [Ripple], cla: yes

#7340 [BottomNavigation] Removes code handling pre-iOS 9 constraints from the controller
  components/BottomNavigation/src/MDCBottomNavigationBarController.m
Labels: [BottomNavigation], cla: yes

#7319 [FlexibleHeader] Fix voice over layout bug.
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
Labels: [FlexibleHeader], cla: yes

#7326 [BottomNavigation] Log accessibility string failure values in tests.
  components/BottomNavigation/tests/unit/BottomNavigationTests.m
Labels: [BottomNavigation], [testing], cla: yes, skill:Refactoring, type:Internal cleanup, type:Test

#7345 [NavigationDrawer] Update Shadow Elevation value
  components/NavigationDrawer/tests/unit/MDCNavigationDrawerScrollViewTests.m
  components/ShadowElevations/src/MDCShadowElevations.h
  snapshot_test_goldens/goldens_64/MDCShadowElevationsSnapshotTests/testElevationNavDrawer_11_2@2x.png
Labels: [NavigationDrawer], [ShadowElevations], cla: yes

#7331 [ActionSheet] Have content positioned based on the layout margins of the container.
  components/ActionSheet/src/MDCActionSheetController.m
  components/ActionSheet/src/private/MDCActionSheetHeaderView.m
  components/ActionSheet/src/private/MDCActionSheetItemTableViewCell.m
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testFiveActionsSufficientSizeLongTextLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testFiveActionsSufficientSizeLongTextRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testFiveActionsSufficientSizeShortTextLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testFiveActionsSufficientSizeShortTextRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testFiveActionsTooNarrowLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testFiveActionsTooNarrowRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testFiveActionsTooShortLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testFiveActionsTooShortRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testSafeAreaBottomRightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testSafeAreaBottomRightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testSafeAreaTopLeftBottomRightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testSafeAreaTopLeftBottomRightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testSafeAreaTopLeftLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testSafeAreaTopLeftRTL_11_2@2x.png
Labels: [ActionSheet], cla: yes

#7351 [Demos] Run pod install in demos
  demos/Bare/Bare.xcodeproj/project.pbxproj
  demos/Pesto/Pesto.xcodeproj/project.pbxproj
  demos/Shrine/Shrine.xcodeproj/project.pbxproj
Labels: app:Pesto, app:Shrine, cla: yes

#7339 [Ink] Add animation delegate callbacks for MDCLegacyInkLayer
  components/Ink/src/MDCInkView.m
  components/Ink/src/private/MDCLegacyInkLayer+Private.h
  components/Ink/src/private/MDCLegacyInkLayer.h
  components/Ink/src/private/MDCLegacyInkLayer.m
  components/Ink/tests/unit/MDCLegacyInkLayerTests.m
Labels: [Ink], cla: yes

#7356 [Snapshot] Split implementation and supplemental.
  MaterialComponentsSnapshotTests.podspec
  components/private/Snapshot/BUILD
  components/private/Snapshot/src/MaterialSnapshot.h
  components/private/Snapshot/src/SnapshotTestCase/MDCSnapshotTestCase.h
  components/private/Snapshot/src/SnapshotTestCase/MDCSnapshotTestCase.m
  components/private/Snapshot/src/SnapshotUtilities/UIImage+MDCSnapshot.h
  components/private/Snapshot/src/SnapshotUtilities/UIImage+MDCSnapshot.m
  components/private/Snapshot/src/SnapshotUtilities/UIView+MDCSnapshot.h
  components/private/Snapshot/src/SnapshotUtilities/UIView+MDCSnapshot.m
Labels: PR:merge-when-approved, [Snapshot], [private], cla: yes, skill:Bazel, skill:CocoaPods, type:Test

#7350 [Ripple] Make rippleRadius a property
  components/Ripple/src/private/MDCRippleLayer.h
  components/Ripple/src/private/MDCRippleLayer.m
  components/Ripple/tests/unit/MDCRippleLayerTests.m
Labels: [Ripple], cla: yes

#7357 [Ripple] Add max ripple radius property
  components/Ripple/src/MDCRippleView.h
  components/Ripple/src/MDCRippleView.m
  components/Ripple/tests/unit/MDCRippleViewTests.m
Labels: [Ripple], cla: yes

#7360 [Action Sheet Docs]: Fixing handler error and adding missing parenthesis
  components/ActionSheet/README.md
Labels: [ActionSheet], cla: yes

#7358 [TextFields] Quash -Wsign-compare triggers
  components/TextFields/src/MDCTextInputControllerBase.m
Labels: PR:merge-when-approved, [TextFields], cla: yes

#7367 [Ripple] Add a migration guide for components
  components/Ripple/README.md
  components/Ripple/docs/README.md
  components/Ripple/docs/migration-guide-ink-to-ripple.md
Labels: [Ripple], cla: yes

#7370 [Ink] Update Readme to use the script generator and move migration guide.
  components/Ink/.vars
  components/Ink/README.md
  components/Ink/docs/README.md
  components/Ink/docs/migration-guide-ink-to-ripple.md
  components/Ink/docs/typical-use.md
  components/Ripple/README.md
  components/Ripple/docs/README.md
Labels: [Ink], [Ripple], cla: yes

#7373 [Releasing] Don't use `sudo` to print xcode-select
  contributing/releasing.md
Labels: [Documentation], [docs], cla: yes, type:Documentation

#7396 [NavigationDrawer] Roll-forward a shadow elevation issue.
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
  components/ShadowElevations/src/MDCShadowElevations.h
  snapshot_test_goldens/goldens_64/MDCShadowElevationsSnapshotTests/testElevationNavDrawer_11_2@2x.png
Labels: [NavigationDrawer], [ShadowElevations], cla: yes

#7397 [List] Add List theming extension
  MaterialComponents.podspec
  catalog/MDCCatalog.xcodeproj/xcshareddata/xcschemes/MDCCatalog.xcscheme
  catalog/MDCDragons.xcodeproj/xcshareddata/xcschemes/MDCDragons.xcscheme
  catalog/Podfile
  components/List/BUILD
  components/List/src/Theming/MDCBaseCell+MaterialTheming.h
  components/List/src/Theming/MDCBaseCell+MaterialTheming.m
  components/List/src/Theming/MDCSelfSizingStereoCell+MaterialTheming.h
  components/List/src/Theming/MDCSelfSizingStereoCell+MaterialTheming.m
  components/List/src/Theming/MaterialList+Theming.h
  components/List/tests/unit/Theming/ListMaterialThemingTests.swift
Labels: [Catalog], [List], cla: yes

#7390 [Buttons] Add snapshot test for theming extensions
  components/Buttons/BUILD
  components/Buttons/tests/snapshot/ButtonsThemingSnapshotTests.m
  snapshot_test_goldens/goldens_64/ButtonsThemingSnapshotTests/testContainedThemedButton_11_2@2x.png
  snapshot_test_goldens/goldens_64/ButtonsThemingSnapshotTests/testOutlineThemedButton_11_2@2x.png
  snapshot_test_goldens/goldens_64/ButtonsThemingSnapshotTests/testTextThemedButton_11_2@2x.png
Labels: [Buttons], cla: yes

#7399 [NavigationDrawer] Explain use of AppBar elevation
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
Labels: PR:merge-when-approved, [Documentation], [NavigationDrawer], cla: yes, type:Documentation

#7391 [Buttons] Remove dependency on TypographyThemer in theming extension.
  MaterialComponents.podspec
  components/Buttons/BUILD
  components/Buttons/src/Theming/MDCButton+MaterialTheming.m
  components/Buttons/src/Theming/MDCFloatingButton+MaterialTheming.m
Labels: [Buttons], cla: yes

#7402 [Buttons] Update titleFont:forState: API
  components/Buttons/src/MDCButton.m
  components/Buttons/tests/unit/ButtonsTests.m
Labels: [Buttons], cla: yes

#7404 [Dialogs] Add theming extension unit test to scheme
  catalog/MDCCatalog.xcodeproj/xcshareddata/xcschemes/MDCCatalog.xcscheme
  catalog/MDCDragons.xcodeproj/xcshareddata/xcschemes/MDCDragons.xcscheme
Labels: [Catalog], cla: yes

#7403 [Buttons] Update outline theming extension
  components/Buttons/src/Theming/MDCButton+MaterialTheming.m
  components/Buttons/tests/unit/Theming/ButtonsThemingTest.swift
  components/Dialogs/tests/unit/Theming/DialogsMaterialThemingTests.swift
  snapshot_test_goldens/goldens_64/ButtonsThemingSnapshotTests/testOutlineThemedButton_11_2@2x.png
Labels: [Buttons], [Dialogs], cla: yes

#7406 [Chips] refactor chip title font.
  components/Chips/src/MDCChipView.m
Labels: [Chips], cla: yes

#7394 [Chips] Add M2 dynamic type support to Chips.
  components/Chips/BUILD
  components/Chips/src/MDCChipView.h
  components/Chips/src/MDCChipView.m
  components/Chips/tests/unit/ChipsTests.m
Labels: [Chips], [testing], cla: yes

#7337 [Buttons] [Ripple] fix button to update ripple states correctly
  components/Buttons/src/MDCButton.m
  components/Buttons/tests/unit/ButtonRippleTests.m
Labels: [Buttons], cla: yes

#7416 [ProgressView] Add cornerRadius snapshot tests.
  components/ProgressView/tests/snapshot/MDCProgressViewCornerRadiusSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCProgressViewCornerRadiusSnapshotTests/testProgress000LTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCProgressViewCornerRadiusSnapshotTests/testProgress000RTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCProgressViewCornerRadiusSnapshotTests/testProgress025LTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCProgressViewCornerRadiusSnapshotTests/testProgress025RTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCProgressViewCornerRadiusSnapshotTests/testProgress065LTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCProgressViewCornerRadiusSnapshotTests/testProgress065RTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCProgressViewCornerRadiusSnapshotTests/testProgress097LTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCProgressViewCornerRadiusSnapshotTests/testProgress097RTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCProgressViewCornerRadiusSnapshotTests/testProgress100LTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCProgressViewCornerRadiusSnapshotTests/testProgress100RTL_11_2@2x.png
Labels: [ProgressView], cla: yes

#7415 [FlexibleHeader] Clarify the docs for preferredStatusBarStyle.
  components/FlexibleHeader/src/MDCFlexibleHeaderViewController.h
Labels: [FlexibleHeader], cla: yes

#7423 [Chips] Use umbrella header
  components/Chips/src/MDCChipView.m
Labels: [Chips], cla: yes

#7422 [Docs] Point first internal step at Requirements
  contributing/releasing.md
Labels: [Documentation], [docs], cla: yes, skill:Release engineering, type:Documentation

#7430 [List] Fix copyright dates for Theming files.
  components/List/src/Theming/MDCBaseCell+MaterialTheming.h
  components/List/src/Theming/MDCBaseCell+MaterialTheming.m
  components/List/src/Theming/MDCSelfSizingStereoCell+MaterialTheming.h
  components/List/src/Theming/MDCSelfSizingStereoCell+MaterialTheming.m
  components/List/src/Theming/MaterialList+Theming.h
  components/List/tests/unit/Theming/ListMaterialThemingTests.swift
Labels: [List], cla: yes

#7429 [Buttons] Add snapshot test for dynamic type
  components/Buttons/tests/snapshot/ButtonDynamicTypeSnapshotTests.m
  snapshot_test_goldens/goldens_64/ButtonDynamicTypeSnapshotTests/testContentSizeCategoryAccessibilityExtraExtraExtraLarge_11_2@2x.png
  snapshot_test_goldens/goldens_64/ButtonDynamicTypeSnapshotTests/testContentSizeCategoryAccessibilityExtraExtraLarge_11_2@2x.png
  snapshot_test_goldens/goldens_64/ButtonDynamicTypeSnapshotTests/testContentSizeCategoryAccessibilityExtraLarge_11_2@2x.png
  snapshot_test_goldens/goldens_64/ButtonDynamicTypeSnapshotTests/testContentSizeCategoryAccessibilityLarge_11_2@2x.png
  snapshot_test_goldens/goldens_64/ButtonDynamicTypeSnapshotTests/testContentSizeCategoryAccessibilityMedium_11_2@2x.png
  snapshot_test_goldens/goldens_64/ButtonDynamicTypeSnapshotTests/testContentSizeCategoryExtraExtraExtraLarge_11_2@2x.png
  snapshot_test_goldens/goldens_64/ButtonDynamicTypeSnapshotTests/testContentSizeCategoryExtraExtraLarge_11_2@2x.png
  snapshot_test_goldens/goldens_64/ButtonDynamicTypeSnapshotTests/testContentSizeCategoryExtraLarge_11_2@2x.png
  snapshot_test_goldens/goldens_64/ButtonDynamicTypeSnapshotTests/testContentSizeCategoryLarge_11_2@2x.png
  snapshot_test_goldens/goldens_64/ButtonDynamicTypeSnapshotTests/testContentSizeCategoryMedium_11_2@2x.png
  snapshot_test_goldens/goldens_64/ButtonDynamicTypeSnapshotTests/testContentSizeCategorySmall_11_2@2x.png
Labels: [Buttons], cla: yes

#7433 [Dialogs] Move the private property declaration to the header
  components/Dialogs/src/private/MDCAlertControllerView+Private.h
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Labels: [Dialogs], cla: yes

#7435 [Typography] Split Typography doc into separate md files.
  components/Typography/.vars
  components/Typography/README.md
  components/Typography/docs/README.md
  components/Typography/docs/advanced-use.md
  components/Typography/docs/type-size-opacity.md
  components/Typography/docs/typical-use.md
Labels: [Typography], cla: yes

#7414 [Chips] Apply Dynamic Type flag to typography themer.
  components/Chips/BUILD
  components/Chips/src/TypographyThemer/MDCChipViewTypographyThemer.m
  components/Chips/tests/unit/ChipViewTypographyThemerTests.m
Labels: [Chips], cla: yes

#7434 [Dialogs] Flash scroll indicators if content is larger than the scroll view.
  components/Dialogs/src/MDCAlertController.m
Labels: [Dialogs], cla: yes

#7425 [Buttons] Update dynamic type to match other components
  MaterialComponents.podspec
  components/Buttons/BUILD
  components/Buttons/src/MDCButton.h
  components/Buttons/src/MDCButton.m
  snapshot_test_goldens/goldens_64/ButtonDynamicTypeSnapshotTests/testContentSizeCategoryAccessibilityExtraExtraExtraLarge_11_2@2x.png
  snapshot_test_goldens/goldens_64/ButtonDynamicTypeSnapshotTests/testContentSizeCategoryAccessibilityExtraExtraLarge_11_2@2x.png
  snapshot_test_goldens/goldens_64/ButtonDynamicTypeSnapshotTests/testContentSizeCategoryAccessibilityExtraLarge_11_2@2x.png
  snapshot_test_goldens/goldens_64/ButtonDynamicTypeSnapshotTests/testContentSizeCategoryAccessibilityLarge_11_2@2x.png
  snapshot_test_goldens/goldens_64/ButtonDynamicTypeSnapshotTests/testContentSizeCategoryAccessibilityMedium_11_2@2x.png
  snapshot_test_goldens/goldens_64/ButtonDynamicTypeSnapshotTests/testContentSizeCategoryExtraExtraExtraLarge_11_2@2x.png
  snapshot_test_goldens/goldens_64/ButtonDynamicTypeSnapshotTests/testContentSizeCategoryExtraExtraLarge_11_2@2x.png
  snapshot_test_goldens/goldens_64/ButtonDynamicTypeSnapshotTests/testContentSizeCategoryExtraLarge_11_2@2x.png
  snapshot_test_goldens/goldens_64/ButtonDynamicTypeSnapshotTests/testContentSizeCategoryMedium_11_2@2x.png
  snapshot_test_goldens/goldens_64/ButtonDynamicTypeSnapshotTests/testContentSizeCategorySmall_11_2@2x.png
Labels: [Buttons], cla: yes

#7439 [List] Add basic snapshot tests for MDCSelfSizingStereoCell.
  components/List/tests/snapshot/MDCSelfSizingStereoCellSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCSelfSizingStereoCellSnapshotTests/testCellWithTitleAndDetailAndImage_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSelfSizingStereoCellSnapshotTests/testCellWithTitleAndDetail_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSelfSizingStereoCellSnapshotTests/testDefaultCell_11_2@2x.png
Labels: [List], cla: yes

#7446 [Dialogs] Add flag for legacy behavior for dynamic type
  components/Dialogs/src/MDCAlertController.h
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/src/private/MDCAlertControllerView+Private.h
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
  components/Dialogs/tests/unit/MDCAlertControllerTests.m
Labels: [Dialogs], cla: yes

#7438 [ButtonBar] Expose a rectForItem:inCoordinateSpace: API.
  components/ButtonBar/examples/ButtonBarTypicalUseExample.swift
  components/ButtonBar/src/MDCButtonBar.h
  components/ButtonBar/src/MDCButtonBar.m
  components/ButtonBar/tests/unit/ButtonBarRectForItemTests.swift
Labels: [ButtonBar], cla: yes

#7452 [Buttons] Update name for fallback behavior.
  components/Buttons/src/MDCButton.h
  components/Buttons/src/MDCButton.m
  components/Buttons/tests/unit/ButtonsTests.m
Labels: [ButtonBar], [Buttons], [Catalog], [LibraryInfo], cla: yes

#7432 [Chips] Add fallback behavior for M2 Dynamic Type.
  components/Chips/src/MDCChipView.h
  components/Chips/src/MDCChipView.m
  components/Chips/tests/unit/ChipsTests.m
Labels: [Chips], cla: yes

#7461 [Buttons] Fix up test
  components/Buttons/tests/unit/ButtonsTests.m
Labels: [Buttons], cla: yes

#7450 [NavigationDrawer] Prevent crash when passing nil completion block for a nullable method parameter.
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
Labels: [NavigationDrawer], cla: yes

#7459 [Catalog] Add accessibilityHint to Catalog tiles
  catalog/MDCCatalog/MDCCatalogCollectionViewCell.swift
Labels: [Catalog], cla: yes

#7458 [List] Snapshot tests for upcoming Scalable Font behavior.
  components/List/BUILD
  components/List/tests/snapshot/MDCSelfSizingStereoCellSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCSelfSizingStereoCellSnapshotTests/testCellWithDynamicTypeForContentSizeCategoryExtraLargeEnabledForTitleAndDetail_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSelfSizingStereoCellSnapshotTests/testCellWithDynamicTypeForContentSizeCategoryExtraSmallEnabledForTitleAndDetail_11_2@2x.png
Labels: [List], cla: yes

#7466 [Buttons] Fix issue with legacy dynamic type
  components/Buttons/src/MDCButton.m
  components/Buttons/tests/unit/ButtonsTests.m
Labels: [Buttons], cla: yes

#7465 [schemes/Typography] Add useCurrentContentSizeCategoryWhenApplied.
  components/schemes/Typography/src/MDCTypographyScheme.h
  components/schemes/Typography/src/MDCTypographyScheme.m
  components/schemes/Typography/tests/unit/MDCTypographySchemeTests.m
Labels: [schemes], cla: yes

#7431 [Typography] add a brief doc for Dynamic Type support.
  components/Typography/docs/dynamic-type.md
Labels: [Typography], cla: yes

#7440 [List] Add M2 Dynamic Type support for MDCSelfSizingStereoCell
  components/List/BUILD
  components/List/src/MDCSelfSizingStereoCell.h
  components/List/src/MDCSelfSizingStereoCell.m
  components/List/tests/unit/MDCSelfSizingStereoCellTests.m
Labels: [List], cla: yes

#7469 [Typography] Update Dynamic Type section in Typography doc.
  components/Typography/README.md
  components/Typography/docs/README.md
Labels: [Typography], cla: yes

#7473 [scheme/Typography] Add a brief dynamic type doc for Typography scheme.
  components/schemes/Typography/README.md
  components/schemes/Typography/docs/README.md
  components/schemes/Typography/docs/dynamic-type.md
Labels: [schemes], cla: yes

#7476 [Typography] Implement copy semantics on UIFont's mdc_scalingCurve.
  components/Typography/src/UIFont+MaterialScalable.m
  components/Typography/tests/unit/MaterialScalableFontTests.m
Labels: PR:merge-when-approved, [Typography], cla: yes

#7475 [Typography] Copy-edit of UIFont+MaterialScalable.h
  components/Typography/src/UIFont+MaterialScalable.h
Labels: PR:merge-when-approved, [Typography], cla: yes

#7477 [releasing] Add requirements to post status updates about the release
  contributing/releasing.md
Labels: PR:merge-when-approved, cla: yes

#7457 [Tabs] Support a dynamic alignment for Justified and Leading
  components/Tabs/src/MDCTabBar.m
  components/Tabs/src/MDCTabBarExtendedAlignment.h
  components/Tabs/src/private/MDCItemBar.m
  components/Tabs/src/private/MDCItemBarAlignment.h
  components/Tabs/tests/snapshot/MDCTabBarExtendedAlignmentSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCTabBarExtendedAlignmentSnapshotTests/testTabBarImagesAppearanceDontFitArabicRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarExtendedAlignmentSnapshotTests/testTabBarImagesAppearanceDontFitLatinLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarExtendedAlignmentSnapshotTests/testTabBarImagesAppearanceFitArabicRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarExtendedAlignmentSnapshotTests/testTabBarImagesAppearanceFitLatinLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarExtendedAlignmentSnapshotTests/testTabBarImagesOnlyWhenSizeChangesToFitArabicRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarExtendedAlignmentSnapshotTests/testTabBarImagesOnlyWhenSizeChangesToFitLatinLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarExtendedAlignmentSnapshotTests/testTabBarImagesOnlyWhenSizeChangesToNotFitArabicRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarExtendedAlignmentSnapshotTests/testTabBarImagesOnlyWhenSizeChangesToNotFitLatinLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarExtendedAlignmentSnapshotTests/testTabBarTitledImagesAppearanceDontFitArabicRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarExtendedAlignmentSnapshotTests/testTabBarTitledImagesAppearanceDontFitLatinLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarExtendedAlignmentSnapshotTests/testTabBarTitledImagesAppearanceFitArabicRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarExtendedAlignmentSnapshotTests/testTabBarTitledImagesAppearanceFitLatinLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarExtendedAlignmentSnapshotTests/testTabBarTitledImagesWhenSizeChangesToFitArabicRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarExtendedAlignmentSnapshotTests/testTabBarTitledImagesWhenSizeChangesToFitLatinLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarExtendedAlignmentSnapshotTests/testTabBarTitledImagesWhenSizeChangesToNotFitArabicRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarExtendedAlignmentSnapshotTests/testTabBarTitledImagesWhenSizeChangesToNotFitLatinLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarExtendedAlignmentSnapshotTests/testTabBarTitlesOnlyDontFitArabicRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarExtendedAlignmentSnapshotTests/testTabBarTitlesOnlyDontFitLatinLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarExtendedAlignmentSnapshotTests/testTabBarTitlesOnlyFitArabicRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarExtendedAlignmentSnapshotTests/testTabBarTitlesOnlyFitLatinLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarExtendedAlignmentSnapshotTests/testTabBarTitlesOnlyWhenSizeChangesToFitArabicRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarExtendedAlignmentSnapshotTests/testTabBarTitlesOnlyWhenSizeChangesToFitLatinLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarExtendedAlignmentSnapshotTests/testTabBarTitlesOnlyWhenSizeChangesToNotFitArabicRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarExtendedAlignmentSnapshotTests/testTabBarTitlesOnlyWhenSizeChangesToNotFitLatinLTR_11_2@2x.png
Labels: [Tabs], cla: yes

#7486 [List] Update snapshot golden images for dynamic type change.
  components/List/tests/snapshot/MDCSelfSizingStereoCellSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCSelfSizingStereoCellSnapshotTests/testCellWithDynamicTypeForContentSizeCategoryExtraLargeEnabledForTitleAndDetail_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSelfSizingStereoCellSnapshotTests/testCellWithDynamicTypeForContentSizeCategoryExtraSmallEnabledForTitleAndDetail_11_2@2x.png
Labels: [List], cla: yes

#7480 [Buttons] Revert updating fonts after adjustsFontForContentSizeCategoryWhenScaledFontIsUnavailable has been updated
  components/Buttons/src/MDCButton.m
  components/Buttons/tests/unit/ButtonsTests.m
Labels: [Buttons], cla: yes

#7471 [Typography] Add mdc_scaledFontForTraitEnvironment.
  components/Typography/src/UIFont+MaterialScalable.h
  components/Typography/src/UIFont+MaterialScalable.m
  components/Typography/tests/unit/MDCTypographyMockTraitEnvironment.h
  components/Typography/tests/unit/MDCTypographyMockTraitEnvironment.m
  components/Typography/tests/unit/UIFont+MaterialTypographyTests.m
Labels: PR:merge-when-approved, [List], [Typography], cla: yes

#7485 [Typography] make MDCTypographyScheming conform to NSObject.
  components/schemes/Typography/src/MDCTypographyScheme.h
Labels: [schemes], cla: yes

#7479 [Typography] Align useCurrentContentSizeCategoryWhenApplied with internal behavior.
  components/schemes/Typography/src/MDCTypographyScheme.h
  components/schemes/Typography/src/MDCTypographyScheme.m
  components/schemes/Typography/tests/unit/MDCTypographySchemeTests.m
Labels: PR:merge-when-approved, [schemes], cla: yes

#7482 [Chips] Fix a flag naming in Chip theming extension and added a missing test for this flag.
  components/Chips/src/TypographyThemer/MDCChipViewTypographyThemer.m
  components/Chips/tests/unit/ChipViewTypographyThemerTests.m
Labels: [Chips], cla: yes

#7491 [List] add Dynamic Type support on List Typography Themer.
  components/List/BUILD
  components/List/src/TypographyThemer/MDCListTypographyThemer.m
  components/List/tests/unit/MDCListTypographyThemerTests.m
Labels: [List], cla: yes

#7494 [Chips] Refactor dynamic type behavior by using a convenience method.
  components/Chips/BUILD
  components/Chips/src/MDCChipView.m
  components/Chips/src/TypographyThemer/MDCChipViewTypographyThemer.m
Labels: [Chips], cla: yes

#7489 [Buttons] Refactor dynamic type support to use mdc_scaledFontForTraitEnvironment.
  MaterialComponents.podspec
  components/Buttons/BUILD
  components/Buttons/src/MDCButton.m
Labels: PR:merge-when-approved, [Buttons], cla: yes

#7496 [ButtonBar] Fix a typo in the docs for rectForItem:inCoordinateSpace:.
  components/ButtonBar/src/MDCButtonBar.h
Labels: PR:merge-when-approved, [ButtonBar], cla: yes

#7495 [List] Refactor dynamic type support to use mdc_scaledFontForTraitEnvironment.
  components/List/BUILD
  components/List/src/MDCSelfSizingStereoCell.m
Labels: PR:merge-when-approved, [List], cla: yes

#7468 [Dialogs] Test title font legacy behavior when dynamic type is enabled.
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
  components/Dialogs/tests/unit/MDCAlertControllerTests.m
Labels: [Buttons], [Dialogs], cla: yes

#7506 [Buttons] Add snapshot tests for floating button theming.
  components/Buttons/tests/snapshot/ButtonsThemingSnapshotTests.m
  snapshot_test_goldens/goldens_64/ButtonsThemingSnapshotTests/testFloatingButtonWithDefaultContainerScheme_11_2@2x.png
Labels: PR:merge-when-approved, [Buttons], cla: yes

#7493 [Typography] Add doc to explain fallback behavior.
  components/Typography/README.md
  components/Typography/docs/dynamic-type.md
Labels: [Typography], cla: yes

#7504 [NavigationBar] Add rectFor*Item APIs.
  components/NavigationBar/src/MDCNavigationBar.h
  components/NavigationBar/src/MDCNavigationBar.m
  components/NavigationBar/tests/unit/NavigationBarRectForItemTests.swift
Labels: [NavigationBar], cla: yes

#7498 [Dialogs] Add test for legacy dynamic type with the messageFont property
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
  components/Dialogs/tests/unit/MDCAlertControllerTests.m
Labels: [Dialogs], cla: yes

#7509 [Dialogs] Add test for legacy dynamic type behavior around `buttonFont`
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
  components/Dialogs/tests/unit/MDCAlertControllerTests.m
Labels: [Dialogs], cla: yes

#7508 [List] Use UICollectionView as environment in List snapshot test.
  components/List/tests/snapshot/MDCSelfSizingStereoCellSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCSelfSizingStereoCellSnapshotTests/testCellWithDynamicTypeForContentSizeCategoryExtraLargeEnabledForTitleAndDetail_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSelfSizingStereoCellSnapshotTests/testCellWithDynamicTypeForContentSizeCategoryExtraSmallEnabledForTitleAndDetail_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSelfSizingStereoCellSnapshotTests/testCellWithTitleAndDetailAndImage_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSelfSizingStereoCellSnapshotTests/testCellWithTitleAndDetail_11_2@2x.png
Labels: [List], cla: yes

#7511 [AppBar] Update swift examples to use theming extension
  components/AppBar/BUILD
  components/AppBar/examples/AppBarAnimatedGlitchExample.swift
  components/AppBar/examples/AppBarGlitchExample.swift
  components/AppBar/examples/AppBarImageryExample.swift
  components/AppBar/examples/AppBarInheritedAnimatedJumpExample.swift
  components/AppBar/examples/AppBarInterfaceBuilderExampleController.swift
  components/AppBar/examples/AppBarManualTabsExample.swift
  components/AppBar/examples/AppBarModalPresentationExample.swift
  components/AppBar/examples/AppBarTypicalUseExample.swift
  components/AppBar/examples/AppBarWithUITableViewController.swift
Labels: [AppBar], cla: yes

#7447 [Dialogs] Add snapshot test for dynamic type
  components/Dialogs/tests/snapshot/MDCAlertControllerDynamicTypeTests.m
  snapshot_test_goldens/goldens_64/MDCAlertControllerDynamicTypeTests/testScaledFontDynamicTypeForContentSizeCategoryAccessibilityExtraExtraExtraLargeAndLegacyEnabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerDynamicTypeTests/testScaledFontDynamicTypeForContentSizeCategoryAccessibilityExtraExtraExtraLarge_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerDynamicTypeTests/testScaledFontDynamicTypeForContentSizeCategoryAccessibilityExtraExtraLarge_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerDynamicTypeTests/testScaledFontDynamicTypeForContentSizeCategoryAccessibilityExtraLarge_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerDynamicTypeTests/testScaledFontDynamicTypeForContentSizeCategoryAccessibilityLarge_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerDynamicTypeTests/testScaledFontDynamicTypeForContentSizeCategoryAccessibilityMedium_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerDynamicTypeTests/testScaledFontDynamicTypeForContentSizeCategoryExtraExtraExtraLarge_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerDynamicTypeTests/testScaledFontDynamicTypeForContentSizeCategoryExtraExtraLarge_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerDynamicTypeTests/testScaledFontDynamicTypeForContentSizeCategoryExtraLarge_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerDynamicTypeTests/testScaledFontDynamicTypeForContentSizeCategoryExtraSmallAndLegacyEnabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerDynamicTypeTests/testScaledFontDynamicTypeForContentSizeCategoryLarge_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerDynamicTypeTests/testScaledFontDynamicTypeForContentSizeCategoryMedium_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerDynamicTypeTests/testScaledFontDynamicTypeForContentSizeCategorySmall_11_2@2x.png
Labels: [Dialogs], cla: yes

#7514 [Buttons] Fix fallback behavior for Dynamic Type.
  components/ButtonBar/BUILD
  components/ButtonBar/tests/unit/ButtonBarButtonTitleFontTests.swift
  components/Buttons/BUILD
  components/Buttons/src/MDCButton.m
  components/Buttons/tests/unit/ButtonsCustomFontTest.m
  components/Buttons/tests/unit/ButtonsTests.m
  components/NavigationBar/tests/unit/NavigationBarButtonTitleFontTests.swift
Labels: [ButtonBar], [Buttons], [NavigationBar], cla: yes

#7517 [Tabs] Allow overriding internal size class.
  components/Tabs/src/MDCTabBar.m
  components/Tabs/src/MDCTabBarSizeClassDelegate.h
  components/Tabs/src/private/MDCItemBar.h
  components/Tabs/src/private/MDCItemBar.m
  components/Tabs/tests/snapshot/MDCTabBarSizeClassDelegateSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCTabBarSizeClassDelegateSnapshotTests/testCenterAlignmentCompactHorizontalSizeClassDelegateArabicRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarSizeClassDelegateSnapshotTests/testCenterAlignmentCompactHorizontalSizeClassDelegateLatinLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarSizeClassDelegateSnapshotTests/testCenterAlignmentNilHorizontalSizeClassDelegateArabicRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarSizeClassDelegateSnapshotTests/testCenterAlignmentNilHorizontalSizeClassDelegateLatinLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarSizeClassDelegateSnapshotTests/testCenterAlignmentRegularHorizontalSizeClassDelegateArabicRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarSizeClassDelegateSnapshotTests/testCenterAlignmentRegularHorizontalSizeClassDelegateLatinLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarSizeClassDelegateSnapshotTests/testCenterSelectedAlignmentCompactHorizontalSizeClassDelegateArabicRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarSizeClassDelegateSnapshotTests/testCenterSelectedAlignmentCompactHorizontalSizeClassDelegateLatinLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarSizeClassDelegateSnapshotTests/testCenterSelectedAlignmentNilHorizontalSizeClassDelegateArabicRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarSizeClassDelegateSnapshotTests/testCenterSelectedAlignmentNilHorizontalSizeClassDelegateLatinLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarSizeClassDelegateSnapshotTests/testCenterSelectedAlignmentRegularHorizontalSizeClassDelegateArabicRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarSizeClassDelegateSnapshotTests/testCenterSelectedAlignmentRegularHorizontalSizeClassDelegateLatinLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarSizeClassDelegateSnapshotTests/testJustifiedAlignmentCompactHorizontalSizeClassDelegateArabicRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarSizeClassDelegateSnapshotTests/testJustifiedAlignmentCompactHorizontalSizeClassDelegateLatinLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarSizeClassDelegateSnapshotTests/testJustifiedAlignmentNilHorizontalSizeClassDelegateArabicRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarSizeClassDelegateSnapshotTests/testJustifiedAlignmentNilHorizontalSizeClassDelegateLatinLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarSizeClassDelegateSnapshotTests/testJustifiedAlignmentRegularHorizontalSizeClassDelegateArabicRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarSizeClassDelegateSnapshotTests/testJustifiedAlignmentRegularHorizontalSizeClassDelegateLatinLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarSizeClassDelegateSnapshotTests/testLeadingAlignmentCompactHorizontalSizeClassDelegateArabicRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarSizeClassDelegateSnapshotTests/testLeadingAlignmentCompactHorizontalSizeClassDelegateLatinLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarSizeClassDelegateSnapshotTests/testLeadingAlignmentNilHorizontalSizeClassDelegateArabicRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarSizeClassDelegateSnapshotTests/testLeadingAlignmentNilHorizontalSizeClassDelegateLatinLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarSizeClassDelegateSnapshotTests/testLeadingAlignmentRegularHorizontalSizeClassDelegateArabicRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarSizeClassDelegateSnapshotTests/testLeadingAlignmentRegularHorizontalSizeClassDelegateLatinLTR_11_2@2x.png
Labels: [Tabs], cla: yes
