Repository material-components/material-components-ios, pull requests merged in 2019-01, with the labels that each got.

#6166 [Chips] Add more chips snapshot test to support image and accessory views
  components/Chips/tests/snapshot/MDCChipViewSnapshotTests.m
  components/Chips/tests/snapshot/resources/ChipsSnapshotTests.xcassets/Contents.json
  components/Chips/tests/snapshot/resources/ChipsSnapshotTests.xcassets/ic_cancel.imageset/Contents.json
  components/Chips/tests/snapshot/resources/ChipsSnapshotTests.xcassets/ic_cancel.imageset/ic_cancel.png
  components/Chips/tests/snapshot/resources/ChipsSnapshotTests.xcassets/ic_cancel.imageset/ic_cancel_2x.png
  components/Chips/tests/snapshot/resources/ChipsSnapshotTests.xcassets/ic_cancel.imageset/ic_cancel_3x.png
  components/Chips/tests/snapshot/resources/ChipsSnapshotTests.xcassets/ic_mask.imageset/Contents.json
  components/Chips/tests/snapshot/resources/ChipsSnapshotTests.xcassets/ic_mask.imageset/ic_mask.png
  components/Chips/tests/snapshot/resources/ChipsSnapshotTests.xcassets/ic_mask.imageset/ic_mask_2x.png
  components/Chips/tests/snapshot/resources/ChipsSnapshotTests.xcassets/ic_mask.imageset/ic_mask_3x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testBaselineThemedChipWithAccessoryView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testBaselineThemedChipWithImageAndAccessoryView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testBaselineThemedChipWithImage_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testDefaultChipWithAccessoryView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testDefaultChipWithImageAndAccessoryView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testDefaultChipWithImage_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testOutlinedThemedChipWithAccessoryView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testOutlinedThemedChipWithImageAndAccessoryView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testOutlinedThemedChipWithImage_11_2@2x.png
Labels: [Chips], cla: yes

#6032 [Chips] Rename internal MDCTextField subclass in MDCChipField
  components/Chips/src/MDCChipField.m
Labels: [Chips], cla: yes

#6161 [BottomNavigation] Add examples bazel targets
  components/BottomNavigation/BUILD
Labels: PR:updates BUILD, [BottomNavigation], cla: yes, skill:Bazel, type:Internal cleanup

#6158 {kokoro} Improve error message for dep. system.
  .kokoro
Labels: cla: yes, skill:Kokoro, type:Internal cleanup

#6168 [TextFields] Rename hook test method.
  components/TextFields/tests/snapshot/MDCAbstractTextFieldSnapshotTestsTests.m
  components/TextFields/tests/snapshot/MDCTextFieldFilledControllerLeadingImageArabicSnapshotTests.m
  components/TextFields/tests/snapshot/MDCTextFieldFilledFloatingControllerLeadingImageArabicSnapshotTests.m
  components/TextFields/tests/snapshot/MDCTextFieldFullWidthControllerLeadingImageArabicSnapshotTests.m
  components/TextFields/tests/snapshot/MDCTextFieldOutlinedControllerBaselineLeadingImageArabicSnapshotTests.m
  components/TextFields/tests/snapshot/MDCTextFieldOutlinedTextAreaControllerBaselineCharacterCountArabicSnapshotTests.m
  components/TextFields/tests/snapshot/MDCTextFieldUnderlinedControllerLeadingImageArabicSnapshotTests.m
  components/TextFields/tests/snapshot/MDCTextFieldUnderlinedFloatingControllerLeadingImageArabicSnapshotTests.m
  components/TextFields/tests/snapshot/supplemental/MDCAbstractTextFieldSnapshotTests.h
  components/TextFields/tests/snapshot/supplemental/MDCAbstractTextFieldSnapshotTests.m
Labels: [TextFields], cla: yes, skill:Refactoring, type:Test

#6170 [Collections] Add delegate method to check whether swiping should be limited to one direction.
  components/Collections/src/MDCCollectionViewEditingDelegate.h
  components/Collections/src/private/MDCCollectionViewEditor.m
Labels: PR:merge-when-approved, [Collections], cla: yes

#6171 Update documentation and usages of objc_bundle to apple_bundle_import
  contributing/bazel_kokoro.md
Labels: PR:merge-when-approved, cla: yes

#6174 [Ripple] Ripple implementation + example + unit tests
  MaterialComponentsBeta.podspec
  catalog/Podfile
  components/Ripple/.jazzy.yaml
  components/Ripple/.vars
  components/Ripple/BUILD
  components/Ripple/README.md
  components/Ripple/docs/README.md
  components/Ripple/docs/assets/ripple.gif
  components/Ripple/docs/typical-use.md
  components/Ripple/examples/RippleTypicalUseExample.m
  components/Ripple/examples/supplemental/RippleExampleSupplemental.h
  components/Ripple/examples/supplemental/RippleExampleSupplemental.m
  components/Ripple/src/MDCRippleTouchController.h
  components/Ripple/src/MDCRippleTouchController.m
  components/Ripple/src/MDCRippleView.h
  components/Ripple/src/MDCRippleView.m
  components/Ripple/src/MaterialRipple.h
  components/Ripple/src/private/MDCRippleLayer.h
  components/Ripple/src/private/MDCRippleLayer.m
  components/Ripple/tests/unit/MDCRippleLayerTests.m
  components/Ripple/tests/unit/MDCRippleViewTests.m
Labels: [Catalog], [Ripple], cla: yes

#6117 [Catalog] Begun audit of swift forced unwrapping in catalog
  components/AppBar/examples/AppBarGlitchExample.swift
  components/AppBar/examples/AppBarImageryExample.swift
  components/AppBar/examples/AppBarManualTabsExample.swift
  components/AppBar/examples/AppBarModalPresentationExample.swift
  components/AppBar/examples/AppBarTypicalUseExample.swift
Labels: [AppBar], cla: yes, skill:Swift, type:Internal cleanup

#6179 [TextFields] Fix bad test rename
  components/TextFields/tests/snapshot/MDCTextAreaOutlinedControllerBaselineCharacterCountCyrillicSnapshotTests.m
Labels: [TextFields], cla: yes, type:Internal cleanup, type:Test

#6182 [TextFields] Invalidate caret timers in snapshot tests.
  components/TextFields/tests/snapshot/supplemental/MDCTextFieldSnapshotTestCase.m
Labels: [TextFields], cla: yes, type:Internal cleanup, type:Test

#6183 [Catalog] Re-enable parallel snapshot tests.
  catalog/MDCCatalog.xcodeproj/xcshareddata/xcschemes/MDCCatalog.xcscheme
  catalog/MDCDragons.xcodeproj/xcshareddata/xcschemes/MDCDragons.xcscheme
Labels: [Catalog], app:Catalog, cla: yes

#6184 {kokoro} Updating ruby gems at the start of the website job.
  .kokoro
Labels: PR:merge-when-approved, cla: yes, skill:Kokoro, skill:Scripting

#6185 {kokoro} Fix affected targets calculation.
  scripts/affected_targets
Labels: PR:merge-when-approved, Scripts, cla: yes, skill:Bazel, skill:Kokoro

#6180 [NavigationDrawer] Fix up 'contentReachesFullScreen' linker warnings.
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
Labels: [NavigationDrawer], cla: yes

#6035 [ChipTextField] A new MDCChipTextField component in Alpha
  components/ChipTextField/examples/ChipTextFieldExampleViewController.swift
  components/ChipTextField/examples/MDCChipTextField.h
  components/ChipTextField/examples/MDCChipTextField.m
  components/ChipTextField/examples/UITextFieldWithChipsExample.swift
Labels: [ChipTextField], [Chips], cla: yes

#6163 [BottomSheet] Ensure custom scrim color is used in `MDCBottomSheetPre…
  components/BottomSheet/src/MDCBottomSheetPresentationController.m
Labels: [BottomSheet], cla: yes

#6155 [Documentation] Adds a "getting started" section to contributing/README.md
  contributing/README.md
Labels: cla: yes

#6136 [NavigationBar] Refactor tests
  components/NavigationBar/tests/unit/NavigationBarTests.m
Labels: [NavigationBar], cla: yes

#5958 [BottomAppBar] Fix it/bottom app bar cut out
  components/BottomAppBar/examples/BottomAppBarTypicalUseExample.swift
  components/BottomAppBar/src/private/MDCBottomAppBarLayer.m
  components/BottomAppBar/tests/unit/BottomAppBarTests.m
Labels: [BottomAppBar], cla: yes

#6196 [NavigationBar] Remove duplicate test helper.
  components/NavigationBar/tests/unit/NavigationBarTests.m
Labels: PR:merge-when-approved, [NavigationBar], cla: yes, type:Bug, type:Internal cleanup, type:Test

#6191 {README} Remove Discord link
  README.md
Labels: cla: yes, type:Documentation

#6190 [BottomNavigation] Confirm (un)selected ink is same.
  components/BottomNavigation/tests/unit/BottomNavigationItemViewTests.m
Labels: [BottomNavigation], cla: yes, type:Test

#6250 [bazel] Fix spelling in bzl file
  material_components_ios.bzl
Labels: cla: yes, skill:Bazel, type:Internal cleanup

#6257 {kokoro} Update Homebrew and RubyGems at the start
  .kokoro
Labels: Client-blocking, PR:merge-when-approved, cla: yes, skill:Kokoro

#6252 [Dialogs] {bazel} Add reusable examples rules.
  components/Dialogs/BUILD
  components/Dialogs/examples/DialogsAlertCustomizationExampleViewController.swift
  material_components_ios.bzl
Labels: [Dialogs], cla: yes, skill:Bazel, type:Internal cleanup

#6264 [ButtonBar] Add examples to BUILD file
  components/ButtonBar/BUILD
Labels: [ButtonBar], cla: yes

#6270 [Ink] Add example to BUILD file
  components/Ink/BUILD
Labels: [Ink], cla: yes

#6266 [BottomSheet] Add examples to BUILD file
  components/BottomSheet/BUILD
Labels: [BottomSheet], cla: yes

#6271 [Buttons] Add examples to BUILD file
  components/Buttons/BUILD
Labels: [Buttons], cla: yes

#6255 [Buttons] backgroundColorForState: should fall-back to .normal.
  components/Buttons/src/MDCButton.m
  components/Buttons/tests/unit/ButtonThemerTests.m
  components/Buttons/tests/unit/ButtonTitleColorAccessibilityMutatorTests.m
  components/Buttons/tests/unit/ButtonsColorThemerTests.m
  components/Buttons/tests/unit/ButtonsTests.m
Labels: [Buttons], cla: yes

#6278 [Dragons] Added missing imports to the dragons target
  catalog/MDCDragons/MDCDragonsController.swift
Labels: [Catalog], cla: yes

#6261 {kokoro} Only upgrade gem/homebrew when needed.
  .kokoro
  scripts/lib/package_managers.sh
Labels: PR:merge-when-approved, Scripts, cla: yes, skill:Kokoro, skill:Refactoring, skill:Scripting

#6267 [AnimationTiming] Add examples to BUILD file
  components/AnimationTiming/BUILD
Labels: [AnimationTiming], cla: yes

#6265 [Palettes] Add swift examples to BUIlD file
  .kokoro
  components/Palettes/BUILD
Labels: [ButtonBar], [Palettes], cla: yes

#6273 [Chips] Add example to BUILD file
  components/Chips/BUILD
  components/Chips/examples/ChipsActionExampleViewController.m
  components/Chips/examples/ChipsChoiceExampleViewController.m
  components/Chips/examples/ChipsCollectionExampleViewController.m
  components/Chips/examples/ChipsCustomizedExampleViewController.m
  components/Chips/examples/ChipsFilterAnimatedExampleViewController.m
  components/Chips/examples/ChipsFilterExampleViewController.m
  components/Chips/examples/ChipsInputExampleViewController.m
  components/Chips/examples/ChipsShapingExampleViewController.m
  components/Chips/examples/ChipsSizingExampleViewController.m
  components/Chips/examples/ChipsTypicalUseViewController.m
Labels: [Chips], cla: yes

#6272 [Banner] Add examples target to BUILD file
  components/Banner/BUILD
Labels: [Banner], cla: yes

#6285 Update .gitattributes
  .gitattributes
Labels: cla: yes

#6282 [Math] Add Math tests to bazel
  components/private/Math/BUILD
Labels: [private], cla: yes

#6300 [Snapshot] Add test host for snapshot tests.
  components/private/Snapshot/TestHost/BUILD
  components/private/Snapshot/TestHost/TestHost-Info.plist
  components/private/Snapshot/TestHost/src/TestHostMinimalDelegate.h
  components/private/Snapshot/TestHost/src/TestHostMinimalDelegate.m
  components/private/Snapshot/TestHost/src/main.m
Labels: [Snapshot], [private], cla: yes, skill:Bazel

#6301 [Snapshot] Fix CGFloat cast.
  components/private/Snapshot/src/UIView+MDCSnapshot.m
Labels: [Snapshot], [private], cla: yes, skill:Bazel, type:Internal cleanup

#6302 [testing] {kokoro} Add snapshot testing rule.
  components/testing/runners/BUILD
  material_components_ios.bzl
Labels: [testing], cla: yes, skill:Kokoro

#6303 {kokoro} Add snapshot test support.
  .kokoro
Labels: cla: yes, skill:Kokoro, skill:Scripting

#6298 [Typography] Add examples to BUILD file
  components/schemes/Typography/BUILD
Labels: [Typography], [schemes], cla: yes, skill:Bazel

#6307 {bazel} Add rule for snapshot Objective-C library.
  material_components_ios.bzl
Labels: cla: yes, skill:Bazel

#6310 {kokoro} Install git-lfs for bazel tests.
  .kokoro
Labels: cla: yes, skill:Git LFS, skill:Kokoro, skill:Scripting

#6286 [Dialogs] Add MDCDialogPresentationController+MaterialTheming
  components/Dialogs/examples/DialogsAlertExampleViewController.m
  components/Dialogs/examples/DialogsDismissingExampleViewController.m
  components/Dialogs/examples/DialogsRoundedCornerExampleViewController.m
  components/Dialogs/src/Theming/MDCDialogPresentationController+MaterialTheming.h
  components/Dialogs/src/Theming/MDCDialogPresentationController+MaterialTheming.m
  components/Dialogs/src/Theming/MaterialDialogs+Theming.h
  components/Dialogs/tests/unit/Theming/DialogsMaterialThemingTests.swift
Labels: [Dialogs], cla: yes

#6309 [TextFields] Add Snapshot tests to bazel.
  components/TextFields/BUILD
Labels: [TextFields], cla: yes, skill:Bazel

#6318 [ActivityIndicator] Add ActivityIndicator examples to BUILD file
  components/ActivityIndicator/BUILD
Labels: [ActivityIndicator], cla: yes

#6314 [Cards] Add Cards examples to BUILD file
  components/Cards/BUILD
Labels: [Cards], cla: yes

#6319 [Ripple] Make @yarneo CODEOWNER
  CODEOWNERS
Labels: [Ripple], cla: yes

#6328 [ProgressView] Add ProgressView examples to BUILD file
  components/ProgressView/BUILD
Labels: [ProgressView], cla: yes

#6326 [Chips] Add snapshot tests to bazel.
  components/Chips/BUILD
Labels: [Chips], cla: yes, type:Test

#6315 [Ripple] Fix flaky unit test.
  components/Ripple/tests/unit/MDCRippleLayerTests.m
Labels: [Ripple], cla: yes, type:Test

#6338 [Ink] Reduce flakiness of layer timing test.
  components/Ink/tests/unit/MDCInkLayerTests.m
Labels: [Ink], cla: yes, type:Test

#6337 [TextFields] Increase snapshot test timeout.
  components/TextFields/BUILD
Labels: [TextFields], cla: yes, skill:Bazel

#6331 [ShadowLayer] Add examples to BUILD file
  components/ShadowLayer/BUILD
  components/ShadowLayer/examples/ShapesShadows.swift
Labels: [ShadowLayer], cla: yes

#6333 {kokoro} Deflake snapshot tests on kokoro
  .kokoro
  catalog/MDCCatalog.xcodeproj/xcshareddata/xcschemes/MDCCatalog.xcscheme
  catalog/MDCDragons.xcodeproj/xcshareddata/xcschemes/MDCDragons.xcscheme
  material_components_ios.bzl
Labels: [Catalog], [TextFields], cla: yes, skill:Bazel

#6324 {kokoro} Detect snapshot tests missing bazel support.
  scripts/files_missing_bazel_target
Labels: cla: yes, skill:Bazel, skill:Kokoro, skill:Scripting

#6342 [CollectionCells] Add examples to BUILD file
  components/CollectionCells/BUILD
Labels: [CollectionCells], cla: yes

#6339 [Tabs] Add examples to BUILD file
  components/Tabs/BUILD
Labels: [ShadowLayer], [Tabs], cla: yes

#6340 [FeatureHighlight] Add examples to BUILD file
  components/FeatureHighlight/BUILD
  components/FeatureHighlight/examples/FeatureHightlightTypicalUseViewController.swift
Labels: [FeatureHighlight], cla: yes

#6348 [BottomAppBar] Add examples to BUILD file
  components/BottomAppBar/BUILD
  components/BottomAppBar/examples/BottomAppBarTypicalUseExample.m
  components/BottomAppBar/examples/BottomAppBarTypicalUseExample.swift
Labels: [BottomAppBar], cla: yes

#6341 [Collections] Add examples to BUILD file
  components/Collections/BUILD
Labels: [Collections], cla: yes

#6349 [NavigationDrawer] Add examples to BUILD file
  components/NavigationDrawer/BUILD
Labels: [NavigationDrawer], cla: yes

#6344 [AppBar] Add examples to BUILD rule
  components/AppBar/BUILD
Labels: [AppBar], cla: yes

#6343 [FlexibleHeader] Add examples to BUILD file
  components/FlexibleHeader/BUILD
Labels: [FlexibleHeader], cla: yes

#6336 [MaskedTransition] Add build file for bazel
  components/MaskedTransition/BUILD
Labels: [MaskedTransition], cla: yes

#6351 [Slider] Add examples to BUILD file
  components/Slider/BUILD
Labels: [BottomAppBar], [Slider], cla: yes

#6323 [PageControl] Add PageControl examples to BUILD file
  components/PageControl/BUILD
Labels: [PageControl], cla: yes

#6321 [List] Add List examples to BUILD file
  components/List/BUILD
Labels: [List], cla: yes

#6352 {Releasing} Add step for `.gitattributes` to documentation.
  contributing/releasing.md
Labels: cla: yes, skill:Release engineering, type:Documentation

#6345 {bazel} Ran `buildifier` on all BUILD files
  components/BottomSheet/BUILD
  components/Buttons/BUILD
  components/Chips/BUILD
  components/Dialogs/BUILD
  components/ShadowElevations/BUILD
  components/ShadowLayer/BUILD
  components/Tabs/BUILD
  components/TextFields/BUILD
  components/private/Snapshot/TestHost/BUILD
Labels: [BottomSheet], [Buttons], [Chips], [Dialogs], [ShadowElevations], [ShadowLayer], [Tabs], [TextFields], [private], cla: yes, skill:Bazel, type:Internal cleanup

#6263 [Snackbar] Allow the delegate to override accessibilityViewIsModal
  components/Snackbar/src/MDCSnackbarManager.h
  components/Snackbar/src/MDCSnackbarManager.m
  components/Snackbar/tests/unit/MDCSnackbarMessageViewTests.m
  components/Snackbar/tests/unit/supplemental/MDCFakeMDCSnackbarManagerDelegate.h
  components/Snackbar/tests/unit/supplemental/MDCFakeMDCSnackbarManagerDelegate.m
Labels: [Snackbar], cla: yes

#6402 [Snackbar] Add examples to BUILD file
  components/Snackbar/BUILD
Labels: [Snackbar], cla: yes

#6403 [Typography] Add examples to BUILD file
  components/Typography/BUILD
Labels: [Typography], cla: yes

#6404 [Shape] Add examples to BUILD file
  components/schemes/Shape/BUILD
Labels: [schemes], cla: yes

#6355 [BottomAppBar] Formatting BUILD file.
  components/BottomAppBar/BUILD
Labels: [BottomAppBar], cla: yes

#6397 [TextFields] Add TextField examples to BUILD file
  components/TextFields/BUILD
Labels: [TextFields], cla: yes

#6405 [Catalog] {Catalog} Add BUILD target for MaterialCatalog
  catalog/BUILD
Labels: [Catalog], app:Catalog, cla: yes, skill:Bazel

#6410 [Dragons] Add examples to bazel.
  components/private/Dragons/BUILD
Labels: [Dragons], [private], cla: yes, skill:Bazel

#6411 [Beta] Add bazel target.
  components/private/Beta/BUILD
Labels: [Beta], [private], cla: yes, skill:Bazel

#6409 [Catalog] {MDCDragons} Add bazel build target.
  .kokoro
  WORKSPACE
  catalog/BUILD
Labels: [Catalog], app:Catalog, cla: yes, skill:Bazel

#6412 [Catalog] Add MDCCatalog to bazel.
  .kokoro
  catalog/BUILD
  catalog/MDCCatalog/MDCMenuViewController.swift
Labels: [Catalog], app:Catalog, cla: yes, skill:Bazel

#6406 [Catalog] Add MDCActionExtension BUILD file
  catalog/BUILD
Labels: [Catalog], cla: yes

#6415 [Buttons] Add fallback for `borderWidthForState:`
  components/Buttons/src/MDCButton.m
  components/Buttons/tests/unit/ButtonsTests.m
Labels: [Buttons], [Catalog], [Dialogs], [TextFields], cla: yes

#6430 [TextFields] Add Swift examples to bazel
  components/TextFields/BUILD
Labels: PR:merge-when-approved, [TextFields], cla: yes, skill:Bazel

#6427 [Snackbar] Delete EarlGrey tests.
  components/Snackbar/tests/earlgrey/SnackbarInteractionTests.m
Labels: PR:merge-when-approved, [Snackbar], cla: yes, skill:EarlGrey, type:Test

#6426 [PageControl] Add swift examples to bazel.
  components/PageControl/BUILD
Labels: PR:merge-when-approved, [PageControl], cla: yes, skill:Bazel

#6425 [NavigationBar] Add examples to bazel.
  components/NavigationBar/BUILD
  components/NavigationBar/examples/NavigationBarIconsExample.m
  components/NavigationBar/examples/NavigationBarRTLIcons.m
Labels: PR:merge-when-approved, [NavigationBar], cla: yes, skill:Bazel

#6423 [Cards] Add snapshot tests to bazel.
  components/Cards/BUILD
Labels: PR:merge-when-approved, [Cards], cla: yes, skill:Bazel

#6421 [ActivityIndicator] Add Swift examples to bazel.
  components/ActivityIndicator/BUILD
Labels: PR:merge-when-approved, [ActivityIndicator], cla: yes, skill:Bazel

#6422 [Cards] Add Swift examples to bazel.
  components/Cards/BUILD
Labels: PR:merge-when-approved, [Cards], cla: yes, skill:Bazel

#6436 [TextFields] Add experimental examples to bazel.
  components/TextFields/BUILD
  components/TextFields/examples/experimental/SimpleTextFieldManualLayoutExampleViewController.m
  components/TextFields/examples/experimental/SimpleTextFieldStoryboardExampleViewController.swift
  components/TextFields/examples/experimental/supplemental/SimpleTextField.m
Labels: [TextFields], cla: yes, skill:Bazel

#6445 [Catalog] Add logic for custom post launch actions
  catalog/MDCCatalog/AppDelegate.swift
Labels: [Catalog], cla: yes

#6456 {releasing.md} Make PR link more descriptive
  contributing/releasing.md
Labels: [Documentation], cla: yes, skill:Release engineering, type:Documentation

#6453 [Catalog] Add constant for selector
  catalog/MDCCatalog/AppDelegate.swift
Labels: [Catalog], cla: yes

#6458 [Catalog] Provide app-wide MDCContainerScheme property
  catalog/MDCCatalog/AppTheme.swift
  catalog/MDCCatalog/MDCNodeListViewController.swift
Labels: [Catalog], cla: yes

#6269 [TextFields] Fixed issue: Placeholder label gets stuck in expanded state when switching between controls
  components/TextFields/src/MDCTextInputControllerBase.m
Labels: [TextFields], cla: yes

#6311 [BottomNavigation] Elevates the BottomNavigationBarController to beta status and re-adds its unit tests.
  MaterialComponentsBeta.podspec
  catalog/Podfile
  components/BottomNavigation/examples/BottomNavigationBarControllerExampleViewController.swift
  components/BottomNavigation/src/beta/MDCBottomNavigationBarController.h
  components/BottomNavigation/src/beta/MDCBottomNavigationBarController.m
  components/BottomNavigation/tests/unit/beta/MDCBottomNavigationBarControllerTests.m
Labels: [BottomNavigation], [Catalog], cla: yes

#6468 {kokoro} Build everything when using run_bazel
  .kokoro
  catalog/BUILD
Labels: Scripts, cla: yes, skill:Bazel, skill:Kokoro, skill:Scripting

#6471 {clang-format-ci} Fix broken presubmit.
  .clang-format-ci
Labels: PR:merge-when-approved, cla: yes

#6472 {.kokoro} Pin the website job's node version to v8.
  .kokoro
Labels: cla: yes

#6470 [BottomNavigation] Fix import in VC.
  components/BottomNavigation/src/beta/MDCBottomNavigationBarController.h
Labels: [BottomNavigation], cla: yes, skill:CocoaPods

#6469 [Collections] Customize reorder long-press timing.
  components/Collections/src/MDCCollectionViewEditing.h
  components/Collections/src/private/MDCCollectionViewEditor.m
Labels: [Collections], cla: yes

#6459 {releasing.md} Add instruction to update the title
  contributing/releasing.md
Labels: PR:merge-when-approved, [Documentation], cla: yes, skill:Release engineering, type:Documentation

#6475 [Buttons] Update examples to use theming extensions
  components/Buttons/BUILD
  components/Buttons/examples/ButtonsContentEdgeInsetsExample.m
  components/Buttons/examples/ButtonsCustomFontViewController.swift
  components/Buttons/examples/ButtonsDynamicTypeViewController.swift
  components/Buttons/examples/ButtonsShapesExampleViewController.m
  components/Buttons/examples/ButtonsSimpleExampleSwiftViewController.swift
  components/Buttons/examples/ButtonsStoryboardAndProgrammatic.swift
  components/Buttons/examples/ButtonsTypicalUseExampleViewController.m
  components/Buttons/examples/FloatingButtonExampleSwiftViewController.swift
  components/Buttons/examples/FloatingButtonExampleViewController.m
Labels: [Buttons], cla: yes

#6480 [BottomNavigation] Example is self-contained.
  components/BottomNavigation/examples/BottomNavigationBarControllerExampleViewController.swift
Labels: [BottomNavigation], cla: yes, type:Polish

#6482 [Cards] The image tint color for the Card Cell should be themed to primaryColor
  components/Cards/src/ColorThemer/MDCCardsColorThemer.m
Labels: [Cards], cla: yes

#6491 [NavigationDrawer] Fix issue where drawer opens passed `initialDrawerFactor`
  components/NavigationDrawer/examples/BottomDrawerInfiniteScrollingExample.swift
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
  components/NavigationDrawer/tests/unit/MDCNavigationDrawerScrollViewTests.m
Labels: [NavigationDrawer], cla: yes

#6460 [Docs] Add theming docs
  components/schemes/README.md
Labels: [BottomNavigation], [Catalog], [Collections], [schemes], cla: yes

#6485 [Cards] Fix elevation values for Highlighted and Selected for Cards in themer.
  components/Cards/src/Theming/MDCCard+MaterialTheming.m
  components/Cards/src/Theming/MDCCardCollectionCell+MaterialTheming.m
  components/Cards/tests/unit/Theming/CardsMaterialThemingTests.swift
Labels: [Cards], cla: yes

#6496 [Dialogs] Update theming docs for theming extension
  components/Dialogs/README.md
  components/Dialogs/docs/README.md
  components/Dialogs/docs/theming.md
Labels: [Dialogs], cla: yes

#6486 [Ripple] Remove the notion of state and its implementation from the ripple touch controller
  components/Ripple/examples/RippleTypicalUseExample.m
  components/Ripple/src/MDCRippleTouchController.h
  components/Ripple/src/MDCRippleTouchController.m
Labels: [Ripple], cla: yes

#6493 [ActionSheet] Make examples use container scheme
  components/ActionSheet/BUILD
  components/ActionSheet/examples/ActionSheetComparisonExampleViewController.h
  components/ActionSheet/examples/ActionSheetComparisonExampleViewController.m
  components/ActionSheet/examples/ActionSheetSwiftExampleViewController.swift
  components/ActionSheet/examples/ActionSheetTypicalUseExampleViewController.h
  components/ActionSheet/examples/ActionSheetTypicalUseExampleViewController.m
Labels: [ActionSheet], [Dialogs], cla: yes

#6506 [Dialogs] Fix broken link to beta documentation.
  components/Dialogs/README.md
  components/Dialogs/docs/theming.md
Labels: PR:merge-when-approved, [Dialogs], cla: yes

#6498 {kokoro} Add bazel pinning support to High Sierra images
  .kokoro
Labels: PR:merge-when-approved, cla: yes

#6501 [BottomNavigation] Move controller out of `/beta`.
  .kokoro
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  components/BottomNavigation/BUILD
  components/BottomNavigation/src/MDCBottomNavigationBarController.h
  components/BottomNavigation/src/MDCBottomNavigationBarController.m
  components/BottomNavigation/src/MaterialBottomNavigationBeta.h
  components/BottomNavigation/tests/unit/MDCBottomNavigationBarControllerTests.m
Labels: [BottomNavigation], cla: yes, skill:CocoaPods

#6508 [Catalog] {kokoro} Add Catalog bridging header to bazel.
  catalog/BUILD
Labels: PR:merge-when-approved, [Catalog], app:Catalog, cla: yes, skill:Bazel, skill:Kokoro

#6511 [Catalog] Theme the primary demo button using theming extensions.
  catalog/BUILD
  catalog/MDCCatalog/MDCNodeListViewController.swift
Labels: [Catalog], cla: yes

#6514 [NavigationDrawer] Fix issue where scrim is shown below content
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.m
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.h
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
  components/NavigationDrawer/tests/unit/MDCNavigationDrawerPresentationControllerTests.m
  components/NavigationDrawer/tests/unit/MDCNavigationDrawerScrollViewTests.m
Labels: [NavigationDrawer], cla: yes

#6515 [BottomNavigation] Stop excluding VC example.
  .kokoro
  components/BottomNavigation/BUILD
  components/BottomNavigation/examples/BottomNavigationBarControllerExampleViewController.swift
Labels: [BottomNavigation], cla: yes, skill:Bazel

#6487 [Ripple] Fail the ripple gesture when other scroll view gestures are competing unless they are tap or long press gestures.
  components/Ripple/src/MDCRippleTouchController.h
  components/Ripple/src/MDCRippleTouchController.m
Labels: [Ripple], cla: yes

#6518 [Buttons] Remove broken link.
  components/Buttons/README.md
  components/Buttons/docs/theming.md
Labels: PR:merge-when-approved, Website, [Buttons], [Documentation], [docs], cla: yes, type:Documentation

#6516 [NavigationDrawer] fix bottom drawer rest in the middle of corner radius animation
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
Labels: [NavigationDrawer], cla: yes

#6510 [Catalog] Remove the button scheme from the AppTheme.
  catalog/MDCCatalog/AppTheme.swift
Labels: [Catalog], cla: yes

#6521 [BottomNavigation] Add snapshot tests.
  MaterialComponentsSnapshotTests.podspec
  catalog/Podfile
  components/BottomNavigation/BUILD
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationBarSizingSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testCenteredCompactAlwaysFiveItemsFitWidthFitHeight_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testCenteredRegularAlwaysFiveItemsFitWidthFitHeight_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testCenteredUnspecifiedAlwaysFiveItemsFitWidthFitHeight_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testCustomColorScheme_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedAdjacentCompactAlwaysFiveItemsFitWidthFitHeight_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedAdjacentRegularAlwaysFiveItemsFitWidthFitHeight_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedAdjacentUnspecifiedAlwaysFiveItemsFitWidthFitHeight_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedCompactAlwaysFiveItemsFitWidthFitHeight_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedRegularAlwaysFiveItemsFitWidthFitHeight_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedUnspecifiedAlwaysFiveItemsFitWidthFitHeight_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedUnspecifiedAlwaysFiveItemsNarrowWidthShortHeight_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedUnspecifiedAlwaysFiveItemsWideWidthTallHeight_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedUnspecifiedAlwaysWithThreeItemsTypicalWidthTypicalHeight_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedUnspecifiedNeverWithThreeItemsTypicalWidthTypicalHeight_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedUnspecifiedSelectedWithThreeItemsTypicalWidthTypicalHeight_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testMaterialBaselineTheme_11_2@2x.png
Labels: [BottomNavigation], [Catalog], [testing], cla: yes, type:Test

#6513 [Catalog] Remove AppTheme notification keys.
  catalog/MDCCatalog/AppDelegate.swift
  catalog/MDCCatalog/AppTheme.swift
  catalog/MDCCatalog/MDCCatalogComponentsController.swift
  catalog/MDCCatalog/MDCCatalogTileView.swift
Labels: [Catalog], cla: yes

#6509 [Catalog] Update AppTheme with container scheme
  catalog/MDCCatalog/AppTheme.swift
  catalog/MDCCatalog/MDCThemePickerViewController.swift
Labels: PR:merge-when-approved, [Catalog], cla: yes

#6477 [Chips] Update chips examples to use container schemes
  components/Chips/examples/ChipsActionExampleViewController.m
  components/Chips/examples/ChipsChoiceExampleViewController.m
  components/Chips/examples/ChipsCollectionExampleViewController.m
  components/Chips/examples/ChipsCustomizedExampleViewController.m
  components/Chips/examples/ChipsFieldDeleteEnabledViewController.swift
  components/Chips/examples/ChipsFilterExampleViewController.m
  components/Chips/examples/ChipsInputExampleViewController.m
  components/Chips/examples/ChipsShapingExampleViewController.m
  components/Chips/examples/ChipsSizingExampleViewController.m
  components/Chips/examples/ChipsTypicalUseViewController.m
  components/Chips/examples/supplemental/ChipsExamplesSupplemental.h
Labels: [Chips], cla: yes

#6500 [Cards] Use containerScheme in Cards examples
  components/Cards/BUILD
  components/Cards/examples/CardExampleViewController.swift
  components/Cards/examples/CardsCollectionExample.h
  components/Cards/examples/CardsCollectionExample.m
  components/Cards/examples/CardsCollectionTintingExample.h
  components/Cards/examples/CardsCollectionTintingExample.m
  components/Cards/examples/EditReorderCollectionViewController.swift
  components/Cards/examples/EditReorderShapedCollectionViewController.swift
  components/Cards/examples/supplemental/CardEditReorderCollectionCell.swift
Labels: [Buttons], [Cards], cla: yes

#6497 [Dialogs] Update examples to use theming extensions
  components/Dialogs/BUILD
  components/Dialogs/examples/DialogsAlertComparisonExample.swift
  components/Dialogs/examples/DialogsAlertCustomizationExampleViewController.swift
  components/Dialogs/examples/DialogsAlertExampleViewController.m
  components/Dialogs/examples/DialogsCustomShadowExampleViewController.swift
  components/Dialogs/examples/DialogsDismissingExampleViewController.m
  components/Dialogs/examples/DialogsLongAlertExampleViewController.swift
  components/Dialogs/examples/DialogsRoundedCornerExampleViewController.m
  components/Dialogs/examples/DialogsTypicalUseExampleViewController.m
  components/Dialogs/examples/supplemental/DialogDismissalOverPresentedControllerExampleViewController.m
  components/Dialogs/examples/supplemental/DialogWithPreferredContentSizeExampleViewController.h
  components/Dialogs/examples/supplemental/DialogWithPreferredContentSizeExampleViewController.m
Labels: [Dialogs], cla: yes

#6526 [Catalog] Add Shape scheme to the default AppTheme.
  catalog/MDCCatalog/AppTheme.swift
Labels: PR:merge-when-approved, [Catalog], cla: yes

#6504 [Dialogs] Add DialogPresentationControllerDelegate
  components/Dialogs/examples/DialogsRoundedCornerExampleViewController.m
  components/Dialogs/src/MDCDialogPresentationController.h
  components/Dialogs/src/MDCDialogPresentationController.m
Labels: [Dialogs], cla: yes

#6531 [BottomNavigation] Add more snapshot tests.
  components/BottomNavigation/BUILD
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationBarSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testCenteredCompactAlwaysFiveItemsFitWidthFitHeight_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testCenteredRegularAlwaysFiveItemsFitWidthFitHeight_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testCenteredUnspecifiedAlwaysFiveItemsFitWidthFitHeight_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testCenteredUnspecifiedAlwaysWithFiveLongTitleItemsiPadWidthTypicalHeight_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testCustomColorScheme_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedAdjacentCompactAlwaysFiveItemsFitWidthFitHeight_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedAdjacentRegularAlwaysFiveItemsFitWidthFitHeight_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedAdjacentRegularAlwaysWithFiveLongTitleItemsiPadWidthTypicalHeight_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedAdjacentUnspecifiedAlwaysFiveItemsFitWidthFitHeight_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedCompactAlwaysFiveItemsFitWidthFitHeight_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedRegularAlwaysFiveItemsFitWidthFitHeight_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedUnspecifiedAlwaysFiveItemsFitWidthFitHeight_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedUnspecifiedAlwaysFiveItemsNarrowWidthShortHeight_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedUnspecifiedAlwaysFiveItemsWideWidthTallHeight_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedUnspecifiedAlwaysWithFiveLongTitleItemsiPadWidthTypicalHeight_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedUnspecifiedAlwaysWithThreeItemsTypicalWidthTypicalHeight_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedUnspecifiedNeverWithThreeItemsTypicalWidthTypicalHeight_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedUnspecifiedSelectedWithThreeItemsTypicalWidthTypicalHeight_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testMaterialBaselineTheme_11_2@2x.png
Labels: [BottomNavigation], [testing], cla: yes, type:Test

#6530 {Beta} Fix theming imports
  .kokoro
  components/Cards/examples/CardsCollectionExample.m
  components/Cards/examples/CardsCollectionTintingExample.m
  components/Dialogs/src/Theming/MDCAlertController+MaterialTheming.m
Labels: [Cards], [Dialogs], cla: yes, skill:Kokoro

#6535 [BottomNavigation] Minor refactor of snapshot tests.
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationBarSnapshotTests.m
Labels: [BottomNavigation], [testing], cla: yes, skill:Refactoring, type:Internal cleanup, type:Test
