Repository material-components/material-components-ios, pull requests merged in 2019-04, with the labels that each got.

#6994 [Banner] Update BannerTypicalUseExample with latest API changes
  components/Banner/examples/BannerTypicalUseExampleViewController.m
  components/Banner/examples/resources/BannerAssets.xcassets/Contents.json
  components/Banner/examples/resources/BannerAssets.xcassets/banner-email.imageset/Contents.json
  components/Banner/examples/resources/BannerAssets.xcassets/banner-email.imageset/ic_email_black_1x_ios_24dp.png
  components/Banner/examples/resources/BannerAssets.xcassets/banner-email.imageset/ic_email_black_2x_ios_24dp.png
  components/Banner/examples/resources/BannerAssets.xcassets/banner-email.imageset/ic_email_black_3x_ios_24dp.png
  components/Banner/examples/supplemental/MDCBannerView.m
Labels: [Banner], cla: yes

#6999 [BottomNavigation] Add multi-line title support.
  components/BottomNavigation/src/MDCBottomNavigationBar.h
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.h
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationBarTitleLayoutSnapshotTests.m
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationItemViewSnapshotTests.m
  components/BottomNavigation/tests/unit/BottomNavigationItemViewTests.m
  components/BottomNavigation/tests/unit/BottomNavigationTests.m
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarTitleLayoutSnapshotTests/testCenteredUnspecifiedAlwaysWithFiveLongTitleItemsWrappediPadWidthTypicalHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarTitleLayoutSnapshotTests/testCenteredUnspecifiedAlwaysWithFiveLongTitleItemsWrappediPadWidthTypicalHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarTitleLayoutSnapshotTests/testJustifiedAdjacentRegularAlwaysWithFiveLongTitleItemsWrappediPadWidthTypicalHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarTitleLayoutSnapshotTests/testJustifiedAdjacentRegularAlwaysWithFiveLongTitleItemsWrappediPadWidthTypicalHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testNarrowWidthTypicalHeightFitTitleManyLinesEmptyBadgeStackedLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testNarrowWidthTypicalHeightFitTitleManyLinesEmptyBadgeStackedRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testNarrowWidthTypicalHeightLongTitleManyLinesEmptyBadgeStackedLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testNarrowWidthTypicalHeightLongTitleManyLinesEmptyBadgeStackedRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testNarrowWidthTypicalHeightLongTitleManyLinesSingleBadgeAdjacentLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testNarrowWidthTypicalHeightLongTitleManyLinesSingleBadgeAdjacentRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testTypicalWidthTypicalHeightLongTitleManyLinesMaxBadgeAdjacentLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testTypicalWidthTypicalHeightLongTitleManyLinesMaxBadgeAdjacentRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testTypicalWidthTypicalHeightLongTitleManyLinesSingleBadgeStackedLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testTypicalWidthTypicalHeightLongTitleManyLinesSingleBadgeStackedRTL_11_2@2x.png
Labels: [BottomNavigation], cla: yes, type:Feature request

#6991 [Banner] Use autolayout internally for BannerView.
  components/Banner/examples/BannerTypicalUseExampleViewController.m
  components/Banner/examples/resources/BannerAssets.xcassets/Contents.json
  components/Banner/examples/resources/BannerAssets.xcassets/banner-email.imageset/Contents.json
  components/Banner/examples/resources/BannerAssets.xcassets/banner-email.imageset/ic_email_black_1x_ios_24dp.png
  components/Banner/examples/resources/BannerAssets.xcassets/banner-email.imageset/ic_email_black_2x_ios_24dp.png
  components/Banner/examples/resources/BannerAssets.xcassets/banner-email.imageset/ic_email_black_3x_ios_24dp.png
  components/Banner/examples/supplemental/MDCBannerView.h
  components/Banner/examples/supplemental/MDCBannerView.m
  components/Banner/examples/supplemental/MDCBannerViewLayout.h
  components/Banner/examples/supplemental/MDCBannerViewLayout.m
Labels: [Banner], cla: yes

#7016 [Buttons] Don't make Buttons example launch screen.
  components/Buttons/examples/ButtonsDynamicTypeViewController.swift
Labels: [Buttons], cla: yes, type:Internal cleanup

#6707 Encourage cutting releases earlier in the week
  contributing/releasing.md
Labels: PR:want-approval-from-all, cla: yes

#7018 [Banner] Fix broken Banner snapshot tests
  components/Banner/examples/tests/snapshot/MDCBannerSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCBannerViewSnapshotTests/testLongTextWithSingleActionLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBannerViewSnapshotTests/testLongTextWithSingleActionRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBannerViewSnapshotTests/testLongTextWithTwoActionsLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBannerViewSnapshotTests/testLongTextWithTwoActionsRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBannerViewSnapshotTests/testShortTextWithSingleActionLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBannerViewSnapshotTests/testShortTextWithSingleActionRTL_11_2@2x.png
Labels: [Banner], cla: yes

#7010 [Tabs] Fix constraint crash in example.
  components/Tabs/examples/supplemental/TabBarIconExampleSupplemental.m
Labels: [Tabs], cla: yes, type:Bug, type:Polish

#7008 [Tabs] Observe `badgeColor` changes.
  components/Tabs/src/private/MDCItemBar.m
  components/Tabs/src/private/MDCItemBarCell.m
  snapshot_test_goldens/goldens_64/MDCTabBarSnapshotTests/testTabBarItemBadgeColors_11_2@2x.png
Labels: [Tabs], cla: yes, type:Bug

#7012 [Tabs] Increase badge text contrast.
  MaterialComponents.podspec
  components/Tabs/BUILD
  components/Tabs/src/private/MDCItemBarBadge.m
  snapshot_test_goldens/goldens_64/MDCTabBarSnapshotTests/testTabBarDefaultAlignmentImagesAppearanceArabicRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarSnapshotTests/testTabBarDefaultAlignmentImagesAppearanceLatinLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarSnapshotTests/testTabBarDefaultAlignmentTitledImagesAppearanceArabicRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarSnapshotTests/testTabBarDefaultAlignmentTitledImagesAppearanceLatinLTR_11_2@2x.png
Labels: Accessibility, [Tabs], cla: yes, type:Bug

#7065 [Banner] Elevate Banner component to Beta.
  MaterialComponentsBeta.podspec
  components/Banner/BUILD
  components/Banner/examples/BannerTypicalUseExampleViewController.m
  components/Banner/src/MDCBannerView.h
  components/Banner/src/MDCBannerView.m
  components/Banner/src/MaterialBanner.h
  components/Banner/tests/snapshot/MDCBannerSnapshotTests.m
Labels: [Banner], cla: yes

#7053 [Docs] Minor docs polish
  components/AppBar/examples/AppBarInheritedAnimatedJumpExample.swift
  components/Banner/src/MDCBannerView.h
  components/Ripple/README.md
  components/Ripple/docs/typical-use.md
Labels: PR:merge-when-approved, [AppBar], [Banner], [Ripple], cla: yes

#7083 [ActionSheet] Flash scroll indicators when view appears.
  components/ActionSheet/src/MDCActionSheetController.m
Labels: [ActionSheet], cla: yes

#7021 [Banner] Make BannerView only iOS 9 available and update examples.
  components/Banner/examples/BannerTypicalUseExampleViewController.h
  components/Banner/src/MDCBannerView.h
Labels: [Banner], cla: yes

#7104 [Buttons] Add snapshot test for new Ripple behavior
  components/Buttons/tests/snapshot/ButtonsRippleSnapshotTests.m
  snapshot_test_goldens/goldens_64/ButtonsRippleSnapshotTests/testButtonWhenRippleTouchDownAtPointIsCalledGeneratesCorrectImage_11_2@2x.png
  snapshot_test_goldens/goldens_64/ButtonsRippleSnapshotTests/testDisabledStateGeneratesCorrectImage_11_2@2x.png
  snapshot_test_goldens/goldens_64/ButtonsRippleSnapshotTests/testHighlightedSelectedStateGeneratesCorrectImage_11_2@2x.png
  snapshot_test_goldens/goldens_64/ButtonsRippleSnapshotTests/testHighlightedStateGeneratesCorrectImage_11_2@2x.png
  snapshot_test_goldens/goldens_64/ButtonsRippleSnapshotTests/testNormalStateGeneratesCorrectImage_11_2@2x.png
  snapshot_test_goldens/goldens_64/ButtonsRippleSnapshotTests/testSelectedStateGeneratesCorrectImage_11_2@2x.png
Labels: [Buttons], cla: yes

#6995 Update our release version number documentation
  contributing/versions.md
Labels: PR:want-approval-from-all, cla: yes

#7107 [TextFields] Change wording on MDCTextInputController theming extensions doc comments
  components/TextFields/src/Theming/MDCTextInputControllerFilled+MaterialTheming.h
  components/TextFields/src/Theming/MDCTextInputControllerOutlined+MaterialTheming.h
Labels: [TextFields], cla: yes

#7089 Add theming extension for Tabs
  MaterialComponentsBeta.podspec
  catalog/MDCDragons.xcodeproj/xcshareddata/xcschemes/MDCDragons.xcscheme
  catalog/Podfile
  components/Tabs/BUILD
  components/Tabs/README.md
  components/Tabs/docs/README.md
  components/Tabs/docs/theming-extensions.md
  components/Tabs/src/Theming/MDCTabBar+MaterialTheming.h
  components/Tabs/src/Theming/MDCTabBar+MaterialTheming.m
  components/Tabs/src/Theming/MaterialTabs+Theming.h
  components/Tabs/tests/snapshot/Theming/MDCTabBar_MaterialThemingSnapshotTests.m
  components/Tabs/tests/unit/Theming/TabsThemingTests.m
  snapshot_test_goldens/goldens_64/MDCTabBar_MaterialThemingSnapshotTests/testTabBarPrimaryThemeWithImage_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBar_MaterialThemingSnapshotTests/testTabBarPrimaryTheme_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBar_MaterialThemingSnapshotTests/testTabBarSurfaceVariantThemeWithImage_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBar_MaterialThemingSnapshotTests/testTabBarSurfaceVariantTheme_11_2@2x.png
Labels: [Catalog], [Tabs], cla: yes

#7128 [Dialogs] fix dialog snapshot tests not using preferredContentSize.
  components/Dialogs/tests/snapshot/MDCAlertControllerSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCAlertControllerSnapshotTests/testDefaultAppearanceWithLargeIconLongMessageArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerSnapshotTests/testDefaultAppearanceWithLargeIconLongMessageLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerSnapshotTests/testDefaultAppearanceWithLargeIconLongTitleLongMessageArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerSnapshotTests/testDefaultAppearanceWithLargeIconLongTitleLongMessageLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerSnapshotTests/testDefaultAppearanceWithLongTitleLongMessageArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerSnapshotTests/testDefaultAppearanceWithLongTitleLongMessageLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerSnapshotTests/testDefaultAppearanceWithShortTitleShortMessageArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerSnapshotTests/testDefaultAppearanceWithShortTitleShortMessageLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerSnapshotTests/testDefaultAppearanceWithSmallIconShortMessageArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerSnapshotTests/testDefaultAppearanceWithSmallIconShortMessageLatin_11_2@2x.png
Labels: [Dialogs], cla: yes

#7125 [AppBar] Update AppBar theming extension docs.
  components/AppBar/docs/theming-extensions.md
Labels: [AppBar], cla: yes

#7130 Fix some CGFloat conversion.
  components/BottomSheet/src/private/MDCDraggableView.m
  components/Collections/src/private/MDCCollectionInfoBarView.m
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
  components/Shapes/src/MDCRectangleShapeGenerator.m
Labels: [BottomSheet], [Collections], [Dialogs], [FlexibleHeader], [Shapes], cla: yes

#7136 [NavigationDrawer] Add snapshot tests
  components/NavigationDrawer/BUILD
  components/NavigationDrawer/tests/snapshot/MDCBottomDrawerControllerSnapshotTests.m
  components/NavigationDrawer/tests/snapshot/supplemental/MDCBottomDrawerSnapshotTestMutableTraitCollection.h
  components/NavigationDrawer/tests/snapshot/supplemental/MDCBottomDrawerSnapshotTestMutableTraitCollection.m
  snapshot_test_goldens/goldens_64/MDCBottomDrawerControllerSnapshotTests/testPresentedDrawerWithColoredViewsWithVerticalSizeClassCompact_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomDrawerControllerSnapshotTests/testPresentedDrawerWithColoredViews_11_2@2x.png
Labels: [NavigationDrawer], cla: yes

#7112 [NavigationDrawer] Added support for customizing the initial drawer height factor
  components/NavigationDrawer/examples/BottomDrawerInfiniteScrollingExample.swift
  components/NavigationDrawer/examples/BottomDrawerWithScrollableContentExample.swift
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.h
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.m
  components/NavigationDrawer/src/MDCBottomDrawerViewController.h
  components/NavigationDrawer/src/MDCBottomDrawerViewController.m
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.h
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
  components/NavigationDrawer/tests/snapshot/MDCBottomDrawerControllerSnapshotTests.m
  components/NavigationDrawer/tests/unit/MDCNavigationDrawerScrollViewTests.m
  snapshot_test_goldens/goldens_64/MDCBottomDrawerControllerSnapshotTests/testPresentedDrawerWithColoredViews_11_2@2x.png
Labels: [NavigationDrawer], cla: yes

#7135 [ios8]! Drop support for iOS 8 in all components.
  .kokoro
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  README.md
  catalog/BUILD
  catalog/MDCCatalog.xcodeproj/project.pbxproj
  catalog/Podfile
  components/Themes/README.md
  contributing/writing_snapshot_tests.md
  demos/Bare/Podfile
  demos/Pesto/Podfile
  demos/Shrine/Podfile
  docs/build-env/README.md
  material_components_ios.bzl
Labels: [Catalog], [Themes], cla: yes

#7127 [BottomSheet] Add API to flashScrollIndicators
  components/BottomSheet/src/MDCBottomSheetController.h
  components/BottomSheet/src/MDCBottomSheetController.m
  components/BottomSheet/tests/unit/BottomSheetTests.m
Labels: [BottomSheet], cla: yes

#7138 [NavigationDrawer] Remove unneeded dependency on MDCBottomDrawerContainerViewController
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController+Testing.h
Labels: [NavigationDrawer], cla: yes

#7115 Update build environment for Xcode and CocoaPods
  docs/build-env/README.md
Labels: [Documentation], [docs], cla: yes, type:Documentation

#7139 [Dialogs] Dialog Urdu snapshot
  components/Dialogs/tests/snapshot/MDCAlertControllerLocalizationTests.m
  snapshot_test_goldens/goldens_64/MDCAlertControllerLocalizationSnapshotTests/testPreferredContentSizeWithNotoNastaliqUrdu_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerLocalizationSnapshotTests/testPreferredContentSizeWithUrduLargeFont_11_2@2x.png
Labels: [Dialogs], cla: yes

#7126 [Dialogs] Layout MDC Dialogs correctly for tall fonts.
  components/Dialogs/examples/DialogsTallTextAlertExampleViewController.m
  components/Dialogs/src/private/MDCAlertControllerView+Private.h
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
  components/Dialogs/tests/unit/MDCAlertControllerLayoutTests.m
  snapshot_test_goldens/goldens_64/MDCAlertControllerLocalizationSnapshotTests/testPreferredContentSizeWithNotoNastaliqUrdu_11_2@2x.png
Labels: [Dialogs], cla: yes

#7086 [BottomNavigation] Adds private method to retrieve tab bar item for point
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/src/private/MDCBottomNavigationBar+Private.h
  components/BottomNavigation/tests/unit/BottomNavigationTests.m
Labels: [BottomNavigation], cla: yes

#7151 [Dialogs] Fix Tall Font example
  components/Dialogs/examples/DialogsTallTextAlertExampleViewController.m
Labels: [Dialogs], cla: yes

#7146 [BottomNavigation] Adds a large item dialog view
  components/BottomNavigation/src/private/MDCBottomNavigationLargeItemDialogView.h
  components/BottomNavigation/src/private/MDCBottomNavigationLargeItemDialogView.m
  components/BottomNavigation/src/private/MDCBottomNavigationSystemDialogView.h
  components/BottomNavigation/src/private/MDCBottomNavigationSystemDialogView.m
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationLargeItemDialogViewSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCBottomNavigationSystemDialogViewSnapshotTests/testBlackBackgroundColor_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationSystemDialogViewSnapshotTests/testBlueBackgroundColor_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationSystemDialogViewSnapshotTests/testGreenBackgroundColor_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationSystemDialogViewSnapshotTests/testImageAndLongTitle_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationSystemDialogViewSnapshotTests/testLargeSize_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationSystemDialogViewSnapshotTests/testLongTitleOnly_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationSystemDialogViewSnapshotTests/testOnlyImage_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationSystemDialogViewSnapshotTests/testOnlyTitle_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationSystemDialogViewSnapshotTests/testRedBackgroundColor_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationSystemDialogViewSnapshotTests/testSmallSize_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationSystemDialogViewSnapshotTests/testWhiteBackgroundColor_11_2@2x.png
Labels: PR:merge-when-approved, [BottomNavigation], cla: yes

#7170 [ContainerScheme] Graduate ContainerScheme to ready.
  .kokoro
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  catalog/MDCCatalog/AppTheme.swift
  catalog/MDCCatalog/MDCThemePickerViewController.swift
  catalog/Podfile
  components/ActionSheet/examples/ActionSheetSwiftExampleViewController.swift
  components/ButtonBar/examples/ButtonBarTypicalUseExample.swift
  components/ButtonBar/tests/unit/Theming/ButtonBarThemingTests.swift
  components/Buttons/examples/ButtonsCustomFontViewController.swift
  components/Buttons/examples/ButtonsDynamicTypeViewController.swift
  components/Buttons/examples/ButtonsSimpleExampleSwiftViewController.swift
  components/Buttons/examples/ButtonsStoryboardAndProgrammatic.swift
  components/Buttons/examples/FloatingButtonExampleSwiftViewController.swift
  components/Buttons/tests/unit/Theming/ButtonsThemingTest.swift
  components/Cards/examples/CardExampleViewController.swift
  components/Cards/examples/EditReorderCollectionViewController.swift
  components/Cards/examples/EditReorderShapedCollectionViewController.swift
  components/Cards/tests/unit/Theming/CardsMaterialThemingTests.swift
  components/Chips/examples/ChipsFieldDeleteEnabledViewController.swift
  components/Chips/tests/unit/Theming/ChipsMaterialThemingTests.swift
  components/Dialogs/examples/DialogsAlertComparisonExample.swift
  components/Dialogs/examples/DialogsAlertCustomizationExampleViewController.swift
  components/Dialogs/examples/DialogsCustomShadowExampleViewController.swift
  components/Dialogs/examples/DialogsLongAlertExampleViewController.swift
  components/Dialogs/examples/DialogsTallTextAlertExampleViewController.m
  components/Dialogs/examples/DialogsThemedPresentationExampleViewController.swift
  components/Dialogs/examples/DialogsWithEmphasisButtonExampleViewController.swift
  components/Dialogs/tests/unit/Theming/DialogsMaterialThemingTests.swift
  components/Ripple/examples/CardCellsWithRippleExample.swift
  components/Ripple/examples/CardWithRippleExample.swift
  components/TextFields/src/Theming/MDCTextInputControllerFilled+MaterialTheming.h
  components/TextFields/src/Theming/MDCTextInputControllerOutlined+MaterialTheming.h
  components/TextFields/tests/unit/Theming/TextFieldsMaterialThemingTests.swift
  components/schemes/README.md
Labels: [ActionSheet], [ButtonBar], [Buttons], [Cards], [Catalog], [Chips], [Dialogs], [Ripple], [TextFields], [schemes], cla: yes

#7171 Remove deprecated .swift-version file
  .swift-version
Labels: cla: yes

#7173 [docs] Migrate the theming documentation to the docs folder.
  docs/theming.md
Labels: cla: yes

#7177 [Catalog] Add Container Scheme Unit Tests to scheme.
  catalog/MDCDragons.xcodeproj/xcshareddata/xcschemes/MDCDragons.xcscheme
Labels: [Catalog], cla: yes

#7176 Move Tabs theming extension to ready.
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  catalog/MDCDragons.xcodeproj/xcshareddata/xcschemes/MDCDragons.xcscheme
  catalog/Podfile
  components/Tabs/README.md
  components/Tabs/docs/theming-extensions.md
  components/Tabs/src/Theming/MDCTabBar+MaterialTheming.h
  components/Tabs/src/Theming/MDCTabBar+MaterialTheming.m
  components/Tabs/tests/unit/Theming/TabsThemingTests.m
Labels: [Catalog], [Tabs], cla: yes

#7178 [Cards] Move Cards theming extension to ready.
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  catalog/MDCDragons.xcodeproj/xcshareddata/xcschemes/MDCDragons.xcscheme
  catalog/Podfile
  components/Cards/examples/CardExampleViewController.swift
  components/Cards/examples/CardsCollectionExample.m
  components/Cards/examples/CardsCollectionTintingExample.m
  components/Cards/examples/supplemental/CardEditReorderCollectionCell.swift
  components/Cards/src/Theming/MDCCard+MaterialTheming.h
  components/Cards/src/Theming/MDCCard+MaterialTheming.m
  components/Cards/src/Theming/MDCCardCollectionCell+MaterialTheming.h
  components/Cards/tests/unit/Theming/CardsMaterialThemingTests.swift
  components/Ripple/examples/CardCellsWithRippleExample.swift
  components/Ripple/examples/CardWithRippleExample.swift
Labels: [Cards], [Catalog], [Ripple], cla: yes

#7179 [Chips] Move Chips Theming to Ready.
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  catalog/MDCDragons.xcodeproj/xcshareddata/xcschemes/MDCDragons.xcscheme
  catalog/Podfile
  components/Chips/examples/ChipsFieldDeleteEnabledViewController.swift
  components/Chips/src/Theming/MDCChipView+MaterialTheming.h
  components/Chips/src/Theming/MDCChipView+MaterialTheming.m
  components/Chips/tests/unit/Theming/ChipsMaterialThemingTests.swift
Labels: [Catalog], [Chips], cla: yes

#7184 [TextFields] Graduate TextFields theming extension to ready
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  catalog/Podfile
  components/TextFields/tests/unit/Theming/TextFieldsMaterialThemingTests.swift
Labels: [Catalog], [TextFields], cla: yes

#7186 Removing Swift code from ObjC snippet in theming
  docs/theming.md
Labels: cla: yes

#7187 [Buttons] Graduate Buttons+Theming to ready
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  catalog/MDCCatalog/MDCNodeListViewController.swift
  catalog/Podfile
  components/Buttons/examples/ButtonsCustomFontViewController.swift
  components/Buttons/examples/ButtonsDynamicTypeViewController.swift
  components/Buttons/examples/ButtonsSimpleExampleSwiftViewController.swift
  components/Buttons/examples/ButtonsStoryboardAndProgrammatic.swift
  components/Buttons/examples/FloatingButtonExampleSwiftViewController.swift
  components/Buttons/tests/unit/Theming/ButtonsThemingTest.swift
  components/Cards/examples/CardExampleViewController.swift
  components/Dialogs/examples/DialogsAlertComparisonExample.swift
  components/Dialogs/examples/DialogsAlertCustomizationExampleViewController.swift
  components/Dialogs/examples/DialogsCustomShadowExampleViewController.swift
  components/Dialogs/examples/DialogsLongAlertExampleViewController.swift
  components/Dialogs/examples/DialogsTallTextAlertExampleViewController.m
  components/Dialogs/examples/DialogsThemedPresentationExampleViewController.swift
  components/Dialogs/examples/DialogsWithEmphasisButtonExampleViewController.swift
  components/Dialogs/src/Theming/MDCAlertController+MaterialTheming.m
  components/Dialogs/tests/unit/Theming/DialogsMaterialThemingTests.swift
  components/Ripple/examples/CardWithRippleExample.swift
Labels: [Buttons], [Cards], [Catalog], [Dialogs], [Ripple], cla: yes

#7185 [AppBar]! Rename umbrella header for the theming extension
  components/AppBar/src/Theming/MaterialAppBar+Theming.h
  components/AppBar/tests/snapshot/Theming/MDCAppBarViewController_MaterialThemingSnapshotTests.m
  components/AppBar/tests/unit/Theming/MDCAppBarViewController_MaterialThemingTests.m
Labels: [AppBar], cla: yes

#7183 [ActionSheet] Remove dependency on helper methods in test.
  components/ActionSheet/tests/unit/Theming/MDCActionSheetThemingTest.m
Labels: [ActionSheet], cla: yes

#7192 [Buttons] Copy-edits on the theming documentation for clarity.
  components/Buttons/README.md
  components/Buttons/docs/theming.md
Labels: [Buttons], cla: yes

#7140 [Buttons] Add fallback behavior to setBorderColor API.
  components/Buttons/src/MDCButton.m
  components/Buttons/tests/unit/ButtonThemerTests.m
  components/Buttons/tests/unit/ButtonsTests.m
Labels: [Buttons], cla: yes

#7196 [scripts] Fix the generate_readme script's jazzy symbol generation.
  scripts/generate_readme
Labels: PR:merge-when-approved, cla: yes

#7201 (automated) Regenerate all component readmes.
  components/ActionSheet/README.md
  components/AppBar/README.md
  components/BottomSheet/README.md
  components/Cards/README.md
  components/Chips/README.md
  components/FlexibleHeader/README.md
  components/NavigationDrawer/README.md
  components/ShapeLibrary/README.md
  components/Shapes/README.md
Labels: [ActionSheet], [AppBar], [BottomSheet], [Cards], [Chips], [FlexibleHeader], [NavigationDrawer], [ShapeLibrary], [Shapes], cla: yes

#7181 [ActionSheet] Graduate theming extension to ready
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  catalog/MDCCatalog.xcodeproj/xcshareddata/xcschemes/MDCCatalog.xcscheme
  catalog/MDCDragons.xcodeproj/xcshareddata/xcschemes/MDCDragons.xcscheme
  catalog/Podfile
  components/ActionSheet/README.md
  components/ActionSheet/docs/README.md
  components/ActionSheet/docs/color-theming.md
  components/ActionSheet/docs/theming.md
  components/ActionSheet/docs/typography-theming.md
  components/ActionSheet/examples/ActionSheetSwiftExampleViewController.swift
Labels: [ActionSheet], cla: yes

#7198 [Buttons] Fix broken link within documentation
  components/Buttons/docs/theming.md
Labels: [Buttons], cla: yes

#7197 [AppBar] Update documentation around theming
  components/AppBar/README.md
  components/AppBar/docs/README.md
  components/AppBar/docs/color-theming.md
  components/AppBar/docs/theming.md
  components/AppBar/docs/typography-theming.md
Labels: [AppBar], cla: yes

#7205 [scripts] Fix relative link rewriting for local files.
  components/ActionSheet/README.md
  components/Buttons/README.md
  components/Dialogs/README.md
  components/TextFields/README.md
  scripts/generate_readme
Labels: PR:merge-when-approved, [ActionSheet], [Buttons], [Dialogs], [TextFields], cla: yes

#7211 [ActivityIndicator] Annotate themer APIs with the recommended APIs.
  components/ActivityIndicator/src/ColorThemer/MDCActivityIndicatorColorThemer.h
Labels: [ActivityIndicator], cla: yes

#7206 [Buttons] Copy-edit the documentation.
  components/Buttons/README.md
  components/Buttons/docs/README.md
  components/Buttons/docs/color-theming.md
  components/Buttons/docs/shape-theming.md
  components/Buttons/docs/theming-with-themers.md
  components/Buttons/docs/theming.md
  components/Buttons/docs/typical-use-floating-action-buttons.md
  components/Buttons/docs/typical-use-themed-buttons.md
  components/Buttons/docs/typical-use.md
  components/Buttons/docs/typography-theming.md
Labels: [Buttons], cla: yes

#7210 (docs/theming) Move "How to get the code" nearer to the top of the file.
  docs/theming.md
Labels: PR:merge-when-approved, cla: yes

#7213 [AppBar] Annotate themer APIs with the recommended APIs.
  components/AppBar/src/ColorThemer/MDCAppBarColorThemer.h
  components/AppBar/src/TypographyThemer/MDCAppBarTypographyThemer.h
Labels: PR:merge-when-approved, [AppBar], cla: yes

#7214 [BottomAppBar] Annotate themer APIs with the recommended APIs.
  components/BottomAppBar/src/ColorThemer/MDCBottomAppBarColorThemer.h
Labels: PR:merge-when-approved, [BottomAppBar], cla: yes

#7215 [BottomNavigation] Annotate themer APIs with the recommended APIs.
  components/BottomNavigation/src/ColorThemer/MDCBottomNavigationBarColorThemer.h
  components/BottomNavigation/src/TypographyThemer/MDCBottomNavigationBarTypographyThemer.h
Labels: PR:merge-when-approved, [BottomNavigation], cla: yes

#7216 [BottomSheet] Annotate themer APIs with the recommended APIs.
  components/BottomSheet/src/ShapeThemer/MDCBottomSheetControllerShapeThemer.h
Labels: PR:merge-when-approved, [BottomSheet], cla: yes

#7217 [ButtonBar] Annotate themer APIs with the recommended APIs.
  components/ButtonBar/src/ColorThemer/MDCButtonBarColorThemer.h
  components/ButtonBar/src/TypographyThemer/MDCButtonBarTypographyThemer.h
Labels: PR:merge-when-approved, [ButtonBar], cla: yes

#7218 [Buttons] Annotate themer APIs with the recommended APIs.
  components/Buttons/src/ButtonThemer/MDCButtonScheme.h
  components/Buttons/src/ButtonThemer/MDCContainedButtonThemer.h
  components/Buttons/src/ButtonThemer/MDCFloatingActionButtonThemer.h
  components/Buttons/src/ButtonThemer/MDCOutlinedButtonThemer.h
  components/Buttons/src/ButtonThemer/MDCTextButtonThemer.h
  components/Buttons/src/ColorThemer/MDCButtonColorThemer.h
  components/Buttons/src/ColorThemer/MDCContainedButtonColorThemer.h
  components/Buttons/src/ColorThemer/MDCFloatingButtonColorThemer.h
  components/Buttons/src/ColorThemer/MDCOutlinedButtonColorThemer.h
  components/Buttons/src/ColorThemer/MDCTextButtonColorThemer.h
  components/Buttons/src/ShapeThemer/MDCButtonShapeThemer.h
  components/Buttons/src/ShapeThemer/MDCFloatingButtonShapeThemer.h
  components/Buttons/src/TypographyThemer/MDCButtonTypographyThemer.h
Labels: PR:merge-when-approved, [Buttons], cla: yes

#7219 [Cards] Annotate themer APIs with the recommended APIs.
  components/Cards/src/CardThemer/MDCCardScheme.h
  components/Cards/src/CardThemer/MDCCardThemer.h
  components/Cards/src/ColorThemer/MDCCardsColorThemer.h
  components/Cards/src/ShapeThemer/MDCCardsShapeThemer.h
Labels: PR:merge-when-approved, [Cards], cla: yes

#7220 [Chips] Annotate themer APIs with the recommended APIs.
  components/Chips/src/ChipThemer/MDCChipViewScheme.h
  components/Chips/src/ChipThemer/MDCChipViewThemer.h
  components/Chips/src/ColorThemer/MDCChipViewColorThemer.h
  components/Chips/src/FontThemer/MDCChipViewFontThemer.h
  components/Chips/src/ShapeThemer/MDCChipViewShapeThemer.h
  components/Chips/src/TypographyThemer/MDCChipViewTypographyThemer.h
Labels: PR:merge-when-approved, [Chips], cla: yes

#7221 [Dialogs] Annotate themer APIs with the recommended APIs.
  components/Dialogs/src/ColorThemer/MDCAlertColorThemer.h
  components/Dialogs/src/DialogThemer/MDCAlertControllerThemer.h
  components/Dialogs/src/DialogThemer/MDCAlertScheme.h
  components/Dialogs/src/TypographyThemer/MDCAlertTypographyThemer.h
Labels: PR:merge-when-approved, [Dialogs], cla: yes

#7222 [FeatureHighlight] Annotate themer APIs with the recommended APIs.
  components/FeatureHighlight/src/ColorThemer/MDCFeatureHighlightColorThemer.h
  components/FeatureHighlight/src/FontThemer/MDCFeatureHighlightFontThemer.h
  components/FeatureHighlight/src/TypographyThemer/MDCFeatureHighlightTypographyThemer.h
Labels: PR:merge-when-approved, [FeatureHighlight], cla: yes

#7223 [FlexibleHeader] Annotate themer APIs with the recommended APIs.
  components/FlexibleHeader/src/ColorThemer/MDCFlexibleHeaderColorThemer.h
Labels: PR:merge-when-approved, [FlexibleHeader], cla: yes

#7225 [Ink] Annotate themer APIs with the recommended APIs.
  components/Ink/src/ColorThemer/MDCInkColorThemer.h
Labels: PR:merge-when-approved, [Ink], cla: yes

#7224 [HeaderStackView] Annotate themer APIs with the recommended APIs.
  components/HeaderStackView/src/ColorThemer/MDCHeaderStackViewColorThemer.h
Labels: PR:merge-when-approved, [HeaderStackView], cla: yes

#7226 [List] Annotate themer APIs with the recommended APIs.
  components/List/src/ColorThemer/MDCListColorThemer.h
  components/List/src/ListThemer/MDCListScheme.h
  components/List/src/ListThemer/MDCListThemer.h
  components/List/src/TypographyThemer/MDCListTypographyThemer.h
Labels: PR:merge-when-approved, [List], cla: yes

#7229 [NavigationDrawer] Annotate themer APIs with the recommended APIs.
  components/NavigationDrawer/src/ColorThemer/MDCBottomDrawerColorThemer.h
Labels: PR:merge-when-approved, [NavigationDrawer], cla: yes

#7228 [NavigationBar] Annotate themer APIs with the recommended APIs.
  components/NavigationBar/src/ColorThemer/MDCNavigationBarColorThemer.h
  components/NavigationBar/src/TypographyThemer/MDCNavigationBarTypographyThemer.h
Labels: PR:merge-when-approved, [NavigationBar], cla: yes

#7230 [PageControl] Annotate themer APIs with the recommended APIs.
  components/PageControl/src/ColorThemer/MDCPageControlColorThemer.h
Labels: PR:merge-when-approved, [PageControl], cla: yes

#7231 [ProgressView] Annotate themer APIs with the recommended APIs.
  components/ProgressView/src/ColorThemer/MDCProgressViewColorThemer.h
Labels: PR:merge-when-approved, [ProgressView], cla: yes

#7232 [Slider] Annotate themer APIs with the recommended APIs.
  components/Slider/src/ColorThemer/MDCSliderColorThemer.h
Labels: PR:merge-when-approved, [Slider], cla: yes

#7234 [Tabs] Annotate themer APIs with the recommended APIs.
  components/Tabs/src/ColorThemer/MDCTabBarColorThemer.h
  components/Tabs/src/FontThemer/MDCTabBarFontThemer.h
  components/Tabs/src/TypographyThemer/MDCTabBarTypographyThemer.h
Labels: PR:merge-when-approved, [Tabs], cla: yes

#7233 [Snackbar] Annotate themer APIs with the recommended APIs.
  components/Snackbar/src/ColorThemer/MDCSnackbarColorThemer.h
  components/Snackbar/src/FontThemer/MDCSnackbarFontThemer.h
  components/Snackbar/src/TypographyThemer/MDCSnackbarTypographyThemer.h
Labels: PR:merge-when-approved, [Snackbar], cla: yes

#7235 [TextFields] Annotate themer APIs with the recommended APIs.
  components/TextFields/src/ColorThemer/MDCFilledTextFieldColorThemer.h
  components/TextFields/src/ColorThemer/MDCOutlinedTextFieldColorThemer.h
  components/TextFields/src/ColorThemer/MDCTextFieldColorThemer.h
  components/TextFields/src/FontThemer/MDCTextFieldFontThemer.h
  components/TextFields/src/TypographyThemer/MDCTextFieldTypographyThemer.h
Labels: PR:merge-when-approved, [TextFields], cla: yes

#7208 [Docs] Fix links within documenation
  components/ActionSheet/README.md
  components/ActionSheet/docs/README.md
  components/ActionSheet/docs/color-theming.md
  components/ActionSheet/docs/theming.md
  components/ActionSheet/docs/typography-theming.md
  components/AppBar/README.md
  components/AppBar/docs/README.md
  components/AppBar/docs/color-theming.md
  components/AppBar/docs/typography-theming.md
Labels: [ActionSheet], [AppBar], cla: yes

#7191 [Docs] Clean up theming doc
  docs/theming.md
Labels: cla: yes

#7209 [Dialogs, TextFields] Update docs
  components/Dialogs/README.md
  components/Dialogs/docs/theming.md
  components/TextFields/README.md
  components/TextFields/docs/theming.md
Labels: cla: yes

#7182 [AppBar] Graduate theming extension to ready
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  catalog/MDCDragons.xcodeproj/xcshareddata/xcschemes/MDCDragons.xcscheme
  catalog/Podfile
  components/AppBar/src/Theming/MDCAppBarViewController+MaterialTheming.h
  components/AppBar/tests/snapshot/Theming/MDCAppBarViewController_MaterialThemingSnapshotTests.m
  components/AppBar/tests/unit/Theming/MDCAppBarViewController_MaterialThemingTests.m
Labels: [AppBar], [Catalog], cla: yes

#7236 [Buttons] Fix theming headers and copy.
  components/Buttons/README.md
  components/Buttons/docs/theming.md
  components/Buttons/docs/typical-use.md
Labels: PR:merge-when-approved, [Buttons], cla: yes

#7193 [Cards] add missing theming extension doc.
  components/Cards/README.md
  components/Cards/docs/README.md
  components/Cards/docs/theming.md
Labels: [Cards], cla: yes

#7194 [Chips] add missing theming extension documentation.
  components/Chips/README.md
  components/Chips/docs/README.md
  components/Chips/docs/theming.md
Labels: [Chips], cla: yes

#7239 Replace ajsecord with featherless in CODEOWNERS
  CODEOWNERS
Labels: PR:merge-when-approved, cla: yes

#7243 [Catalog] Add @objc annotations to our containerScheme instances in Swift
  components/ActionSheet/examples/ActionSheetSwiftExampleViewController.swift
  components/Cards/examples/CardExampleViewController.swift
  components/Cards/examples/EditReorderCollectionViewController.swift
  components/Cards/examples/EditReorderShapedCollectionViewController.swift
  components/Dialogs/examples/DialogsAlertComparisonExample.swift
  components/Dialogs/examples/DialogsAlertCustomizationExampleViewController.swift
  components/Dialogs/examples/DialogsCustomShadowExampleViewController.swift
  components/Dialogs/examples/DialogsLongAlertExampleViewController.swift
  components/Ripple/examples/CardCellsWithRippleExample.swift
  components/Ripple/examples/CardWithRippleExample.swift
Labels: PR:merge-when-approved, [ActionSheet], [Cards], [Dialogs], [Ripple], cla: yes

#7241 [Catalog, Dragons] Fix schemes
  catalog/MDCCatalog.xcodeproj/xcshareddata/xcschemes/MDCCatalog.xcscheme
  catalog/MDCDragons.xcodeproj/xcshareddata/xcschemes/MDCDragons.xcscheme
Labels: [Catalog], cla: yes

#7246 [Catalog] Add @objc annotations to our color and typography scheme instances in Swift
  components/AppBar/examples/AppBarAnimatedGlitchExample.swift
  components/AppBar/examples/AppBarGlitchExample.swift
  components/AppBar/examples/AppBarImageryExample.swift
  components/AppBar/examples/AppBarInheritedAnimatedJumpExample.swift
  components/AppBar/examples/AppBarInterfaceBuilderExampleController.swift
  components/AppBar/examples/AppBarManualTabsExample.swift
  components/AppBar/examples/AppBarModalPresentationExample.swift
  components/AppBar/examples/AppBarTypicalUseExample.swift
  components/AppBar/examples/AppBarWithUITableViewController.swift
  components/BottomAppBar/examples/BottomAppBarTypicalUseExample.swift
  components/BottomNavigation/examples/BottomNavigationBarControllerExampleViewController.swift
  components/BottomNavigation/examples/BottomNavigationExplicitlySetColorExample.swift
  components/BottomNavigation/examples/BottomNavigationNilBadges.swift
  components/BottomNavigation/examples/BottomNavigationResetButtons.swift
  components/BottomNavigation/examples/BottomNavigationSelectedIconExample.swift
  components/BottomNavigation/examples/BottomNavigationTitleVisibilityChangeExample.swift
  components/BottomNavigation/examples/BottomNavigationTypicalUseExample.swift
  components/BottomSheet/examples/BottomSheetTableViewExample.swift
  components/ButtonBar/examples/ButtonBarTypicalUseExample.swift
  components/FeatureHighlight/examples/FeatureHightlightTypicalUseViewController.swift
  components/MaskedTransition/examples/MaskedTransitionTypicalUse.swift
  components/NavigationBar/examples/NavigationBarTypicalUseExample.swift
  components/NavigationDrawer/examples/BottomDrawerExpandFullscreenExample.swift
  components/NavigationDrawer/examples/BottomDrawerInfiniteScrollingExample.swift
  components/NavigationDrawer/examples/BottomDrawerNoHeaderExample.swift
  components/NavigationDrawer/examples/BottomDrawerWithChangingContentSize.swift
  components/NavigationDrawer/examples/BottomDrawerWithHeaderExample.swift
  components/NavigationDrawer/examples/BottomDrawerWithScrollableContentExample.swift
  components/Ripple/examples/CardCellsWithRippleExample.swift
  components/Tabs/examples/TabBarIconExample.swift
  components/Tabs/examples/TabBarIndicatorTemplateExample.swift
  components/TextFields/examples/TextFieldFilledExample.swift
  components/TextFields/examples/TextFieldOutlinedExample.swift
  components/TextFields/examples/TextFieldSemanticColorThemer.swift
Labels: PR:merge-when-approved, [AppBar], [BottomAppBar], [BottomNavigation], [BottomSheet], [ButtonBar], [FeatureHighlight], [MaskedTransition], [NavigationBar], [NavigationDrawer], [Ripple], [Tabs], [TextFields], cla: yes

#7190 [Dialogs] Graduate Dialogs theming extensions to ready
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  catalog/Podfile
  components/Dialogs/examples/DialogsAlertComparisonExample.swift
  components/Dialogs/examples/DialogsAlertCustomizationExampleViewController.swift
  components/Dialogs/examples/DialogsCustomShadowExampleViewController.swift
  components/Dialogs/examples/DialogsLongAlertExampleViewController.swift
  components/Dialogs/examples/DialogsTallTextAlertExampleViewController.m
  components/Dialogs/examples/DialogsThemedPresentationExampleViewController.swift
  components/Dialogs/examples/DialogsWithEmphasisButtonExampleViewController.swift
  components/Dialogs/src/Theming/MDCAlertController+MaterialTheming.m
  components/Dialogs/tests/unit/Theming/DialogsMaterialThemingTests.swift
Labels: [Catalog], [Dialogs], cla: yes

#7250 [TextFields] Fix examples layout
  components/TextFields/examples/MultilineTextFieldLegacyExample.m
  components/TextFields/examples/TextFieldControllerStylesExample.m
  components/TextFields/examples/TextFieldOutlinedExample.m
Labels: PR:merge-when-approved, [TextFields], cla: yes

#7251 [TextFields] Fix example layout.
  components/TextFields/examples/TextFieldCustomFontExample.m
  components/TextFields/examples/TextFieldOutlinedExample.swift
  components/TextFields/examples/supplemental/TextFieldKitchenSinkExampleSupplemental.swift
Labels: PR:merge-when-approved, [TextFields], cla: yes

#7252 [TextFields] Fix Contained example error states.
  components/TextFields/examples/TextFieldOutlinedExample.m
Labels: PR:merge-when-approved, [TextFields], cla: yes

#7240 [Docs] Refactor Themers section in Theming document
  docs/theming.md
Labels: cla: yes

#7180 [docs] Add migration guide from Themers to Theming extensions.
  docs/theming.md
Labels: cla: yes

#7255 [TextFields] Fix character count overflow.
  components/TextFields/src/MDCTextInputControllerBase.m
Labels: PR:merge-when-approved, [TextFields], cla: yes

#7259 [TextFields] Make Kitchen Sink better for tests.
  components/TextFields/examples/TextFieldKitchenSinkExample.swift
Labels: [TextFields], cla: yes

#7260 [docs/theming] Remove references to Beta
  docs/theming.md
Labels: cla: yes

#7262 [Ripple] Minor docs clean up
  components/Ripple/README.md
  components/Ripple/docs/typical-use.md
  components/Ripple/src/MDCRippleView.h
Labels: PR:merge-when-approved, [Ripple], cla: yes

#7256 [TextFields] Correct UIAccessibility values and behavior.
  components/TextFields/src/MDCTextField.m
  components/TextFields/src/MDCTextInputControllerBase.m
Labels: [TextFields], cla: yes

#7271 [Ripple] Add better resizing animation support
  components/Ripple/src/MDCRippleView.m
Labels: [Ripple], cla: yes

#7275 [BottomSheet] Additional API providing callbacks for sheet offset and current state changes.
  components/BottomSheet/examples/BottomSheetTypicalUseExample.m
  components/BottomSheet/src/MDCBottomSheetController.h
  components/BottomSheet/src/MDCBottomSheetController.m
  components/BottomSheet/src/MDCBottomSheetPresentationController.h
  components/BottomSheet/src/MDCBottomSheetPresentationController.m
  components/BottomSheet/src/private/MDCDraggableView.h
  components/BottomSheet/src/private/MDCDraggableView.m
  components/BottomSheet/src/private/MDCSheetContainerView.h
  components/BottomSheet/src/private/MDCSheetContainerView.m
  components/BottomSheet/tests/unit/MDCBottomSheetPresentationControllerPreferredSheetHeightTests.m
Labels: PR:merge-when-approved, [BottomSheet], cla: yes

#7279 [Ripple] Additional snapshot test for an edge case
  components/Ripple/tests/snapshot/MDCStatefulRippleViewSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCStatefulRippleViewSnapshotTests/testRippleHighlightedIsNotDissolvedWhenSetToYES_11_2@2x.png
Labels: [Ripple], cla: yes

#7274 [Ripple] Don't dissolve the ripple if the highlighted state is still set to YES.
  components/Ripple/src/MDCStatefulRippleView.m
  snapshot_test_goldens/goldens_64/MDCStatefulRippleViewSnapshotTests/testRippleHighlightedIsNotDissolvedWhenSetToYES_11_2@2x.png
Labels: [Ripple], cla: yes

#7283 [Ripple] Reduce runloop time as speed is already very fast
  components/Ripple/tests/snapshot/MDCStatefulRippleViewSnapshotTests.m
Labels: PR:merge-when-approved, [Ripple], cla: yes

#7291 [Banner] Add document for BannerView.
  components/Banner/README.md
  components/Banner/docs/README.md
  components/Banner/docs/assets/banner.png
  components/Banner/docs/examples.md
  components/Banner/docs/installation.md
  components/Banner/docs/typical-use.md
Labels: [Banner], cla: yes

#7270 [Chips] Adding Ripple support for Chips
  MaterialComponents.podspec
  components/Chips/BUILD
  components/Chips/examples/supplemental/ChipsExamplesSupplemental.m
  components/Chips/src/MDCChipCollectionViewCell.m
  components/Chips/src/MDCChipView.h
  components/Chips/src/MDCChipView.m
  components/Chips/src/private/MDCChipView+Private.h
  components/Chips/tests/snapshot/MDCChipViewSnapshotTests.m
  components/Chips/tests/unit/ChipViewRippleTests.m
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testBaselineChipWithRippleEnabledInDisabledState_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testBaselineChipWithRippleEnabledInHighlightedAndSelectedState_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testBaselineChipWithRippleEnabledInHighlightedState_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testBaselineChipWithRippleEnabledInSelectedState_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testDefaultChipWithRippleEnabledInDisabledState_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testDefaultChipWithRippleEnabledInHighlightedAndSelectedState_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testDefaultChipWithRippleEnabledInHighlightedState_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testDefaultChipWithRippleEnabledInSelectedState_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testOutlinedChipWithRippleEnabledInDisabledState_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testOutlinedChipWithRippleEnabledInHighlightedAndSelectedState_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testOutlinedChipWithRippleEnabledInHighlightedState_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testOutlinedChipWithRippleEnabledInSelectedState_11_2@2x.png
Labels: [Chips], cla: yes

#7303 [ActionSheet] Fix issue where rotation caused bug
  components/ActionSheet/src/MDCActionSheetController.m
Labels: [ActionSheet], cla: yes
