Repository material-components/material-components-ios, pull requests merged in 2019-06, with the labels that each got.

#7529 [TextFields] Resolve some swift warnings.
  components/TextFields/examples/TextFieldFilledExample.swift
  components/TextFields/examples/TextFieldUnderlineExample.swift
  components/TextFields/examples/supplemental/TextFieldKitchenSinkExampleSupplemental.swift
Labels: PR:merge-when-approved, [TextFields], cla: yes

#7519 [MaskedTransition] Fix infinite loops in masked transition example
  components/MaskedTransition/examples/MaskedTransitionTypicalUse.swift
  components/MaskedTransition/src/MDCMaskedTransitionController.h
Labels: [MaskedTransition], cla: yes

#7538 [Ripple] Add snapshot test for `maximumRadius` API.
  components/Ripple/tests/snapshot/MDCRippleViewSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCRippleViewSnapshotTests/testMaximumRadius_11_2@2x.png
Labels: [Ripple], cla: yes

#7532 [Dragons] Fix crash on iOS 13
  catalog/MDCDragons/HeaderView.swift
Labels: PR:merge-when-approved, [Catalog], cla: yes

#7530 [Catalog] Bump Dragons' minimum OS version to 9.0.
  catalog/MDCDragons.xcodeproj/project.pbxproj
Labels: PR:merge-when-approved, [Catalog], cla: yes

#7539 [Buttons] Add support for `inkMaxRippleRadius` when `enableRippleBehavior` is set to YES
  components/Buttons/src/MDCButton.m
  components/Buttons/tests/unit/ButtonRippleTests.m
Labels: [Buttons], cla: yes

#7536 [List] Fix self sizing layout in iOS 13
  components/List/src/MDCSelfSizingStereoCell.m
  components/List/tests/unit/MDCSelfSizingStereoCellTests.m
Labels: [List], cla: yes

#7541 [MaskedTransition] Fix typo
  components/Dialogs/examples/DialogsCustomShadowExampleViewController.swift
  components/Dialogs/src/MDCAlertController.m
  components/MaskedTransition/src/MDCMaskedTransitionController.h
Labels: [Dialogs], [MaskedTransition], cla: yes

#7543 [schemes/Typography] Fix issue within the docs
  components/schemes/Typography/README.md
  components/schemes/Typography/docs/README.md
  components/schemes/Typography/docs/dynamic-type.md
Labels: [schemes], cla: yes

#7544 [NavigationDrawer] Allow Drawer height to keep current height if content height is 0.
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
  components/NavigationDrawer/tests/unit/MDCNavigationDrawerScrollViewTests.m
Labels: [NavigationDrawer], cla: yes

#7545 [NavigationDrawer] Include safe area insets in content height
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.h
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.m
  components/NavigationDrawer/src/MDCBottomDrawerViewController.h
  components/NavigationDrawer/src/MDCBottomDrawerViewController.m
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.h
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
  components/NavigationDrawer/tests/unit/MDCNavigationDrawerScrollViewTests.m
Labels: [NavigationDrawer], cla: yes

#7547 [ActionSheet] Add snapshot test for when only some actions have images.
  components/ActionSheet/tests/snapshot/MDCActionSheetControllerSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testActionSheetWhenActionsOnlyHaveTitles_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testActionSheetWhenSomeActionsHaveIconsAndTitlesAndSomeActionsOnlyHaveTitles_11_2@2x.png
Labels: [ActionSheet], cla: yes

#7548 [ActionSheet] Allow clients to align titles if only some actions have images.
  components/ActionSheet/src/MDCActionSheetController.h
  components/ActionSheet/src/MDCActionSheetController.m
  components/ActionSheet/src/private/MDCActionSheetItemTableViewCell.h
  components/ActionSheet/src/private/MDCActionSheetItemTableViewCell.m
  components/ActionSheet/tests/snapshot/MDCActionSheetControllerSnapshotTests.m
  components/ActionSheet/tests/unit/MDCActionSheetTableCellTest.m
  components/ActionSheet/tests/unit/MDCActionSheetTest.m
  components/ActionSheet/tests/unit/MDCActionSheetTestHelper.h
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testActionSheetWhenActionsOnlyHaveTitlesAndAlignTitlesEnabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testActionSheetWhenSomeActionsHaveIconsAndTitlesAndSomeActionsOnlyHavingTitlesAndAlignTitlesEnabled_11_2@2x.png
Labels: [ActionSheet], cla: yes

#7518 [Tabs] Give MDCTabBarDelegate pass through methods for "willDisplayCell"/"didEndDisplayingCell"
  components/Tabs/examples/TabBarTextOnlyExample.m
  components/Tabs/examples/supplemental/TabBarTextOnlyExampleSupplemental.h
  components/Tabs/src/MDCTabBar.m
  components/Tabs/src/MDCTabBarDisplayDelegate.h
  components/Tabs/src/private/MDCItemBar.m
  components/Tabs/tests/unit/MDCTabBarDisplayDelegateTests.m
Labels: [Tabs], cla: yes

#7552 [ActionSheet] Simplify BottomSheet import.
  components/ActionSheet/src/MDCActionSheetController.h
Labels: [ActionSheet], cla: yes

#7554 [BottomNavigation] Default `sizeThatFitsIncludesSafeArea` to `NO`.
  components/BottomNavigation/src/MDCBottomNavigationBar.h
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/tests/unit/BottomNavigationTests.m
Labels: [BottomNavigation], cla: yes

#7524 [Dialogs] Update DialogWithInputFieldExample storyboard to reference correct class
  components/Dialogs/examples/resources/DialogWithInputField.storyboard
Labels: [Dialogs], cla: yes

#7567 [Banner] Add support for divider in MDCBannerView.
  components/Banner/examples/BannerTypicalUseExampleViewController.m
  components/Banner/src/MDCBannerView.h
  components/Banner/src/MDCBannerView.m
Labels: [Banner], cla: yes

#7570 [BottomSheet] Add respondsToSelector check in BottomSheet accessibility escape
  components/BottomSheet/src/MDCBottomSheetController.m
Labels: [BottomSheet], cla: yes

#7575 [Banner] standardize dividerColor API.
  components/Banner/src/MDCBannerView.h
Labels: [Banner], cla: yes

#7572 [Banner] Expose LayoutMode and add an automatic layout mode.
  components/Banner/examples/BannerTypicalUseExampleViewController.m
  components/Banner/src/MDCBannerView.h
  components/Banner/src/MDCBannerView.m
Labels: [Banner], cla: yes

#7574 [AppBar] Update example to have accessibility elements
  components/AppBar/examples/AppBarTypicalUseExample.swift
Labels: [AppBar], cla: yes

#7555 [Tabs] Make `-itemAtIndexPath:` safe
  components/Tabs/src/private/MDCItemBar.m
  components/Tabs/tests/unit/MDCItemBarTests.m
Labels: [Tabs], cla: yes

#7573 [TextFields] Remove extra semicolon.
  components/TextFields/src/private/MDCTextInputCommonFundament.m
Labels: [TextFields], cla: yes

#7599 [Snackbar] Remove dead code from Ink
  components/Snackbar/src/MDCSnackbarMessageView.m
Labels: [Snackbar], cla: yes

#7604 [Banner] set trailingButton default to hidden under SingleRow layout mode.
  components/Banner/examples/BannerTypicalUseExampleViewController.m
  components/Banner/src/MDCBannerView.h
  components/Banner/src/MDCBannerView.m
Labels: [Banner], cla: yes

#7566 [Tabs] Revert revert of #7518
  components/Tabs/examples/TabBarTextOnlyExample.m
  components/Tabs/examples/supplemental/TabBarTextOnlyExampleSupplemental.h
  components/Tabs/src/MDCTabBar.m
  components/Tabs/src/MDCTabBarDisplayDelegate.h
  components/Tabs/src/private/MDCItemBar.m
  components/Tabs/tests/unit/MDCTabBarDisplayDelegateTests.m
Labels: [Tabs], cla: yes

#7605 [Banner] Rename layoutMode to layoutStyle.
  components/Banner/examples/BannerTypicalUseExampleViewController.m
  components/Banner/src/MDCBannerView.h
  components/Banner/src/MDCBannerView.m
Labels: [Banner], cla: yes

#7595 [Dialogs] Adds the Ripple behavior to Dialogs.
  components/Dialogs/examples/DialogsTypicalUseExampleViewController.m
  components/Dialogs/src/MDCAlertController.h
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/src/MDCAlertControllerView.h
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
  components/Dialogs/tests/unit/MDCAlertControllerRippleTests.m
Labels: [Dialogs], cla: yes

#7583 [Tabs] Adds the Ripple behavior to Tabs.
  MaterialComponents.podspec
  components/Tabs/BUILD
  components/Tabs/examples/TabBarViewControllerExample.m
  components/Tabs/src/ColorThemer/MDCTabBarColorThemer.m
  components/Tabs/src/MDCTabBar.h
  components/Tabs/src/MDCTabBar.m
  components/Tabs/src/private/MDCItemBar.m
  components/Tabs/src/private/MDCItemBarCell.m
  components/Tabs/src/private/MDCItemBarStyle.h
  components/Tabs/src/private/MDCItemBarStyle.m
  components/Tabs/tests/unit/MDCTabBarRippleTests.m
Labels: [Tabs], cla: yes

#7591 [List] Adds the Ripple behavior to List.
  MaterialComponents.podspec
  components/List/BUILD
  components/List/examples/MDCBaseCellExample.m
  components/List/src/ColorThemer/MDCListColorThemer.m
  components/List/src/MDCBaseCell.h
  components/List/src/MDCBaseCell.m
  components/List/tests/unit/MDCBaseCellRippleTests.m
Labels: [List], cla: yes

#7593 [ButtonBar] Adds the Ripple behavior to ButtonBar.
  components/ButtonBar/src/MDCButtonBar.h
  components/ButtonBar/src/MDCButtonBar.m
  components/ButtonBar/src/private/MDCAppBarButtonBarBuilder.m
  components/ButtonBar/tests/unit/ButtonBarRippleTests.m
Labels: [AppBar], [ButtonBar], [NavigationBar], cla: yes

#7596 [Snackbar] Adds the Ripple behavior to Snackbar.
  components/Snackbar/examples/SnackbarSimpleExample.m
  components/Snackbar/src/MDCSnackbarMessage.h
  components/Snackbar/src/MDCSnackbarMessage.m
  components/Snackbar/src/MDCSnackbarMessageView.m
  components/Snackbar/tests/unit/MDCSnackbarRippleTests.m
Labels: [Snackbar], cla: yes

#7594 [ActionSheet] Adds the Ripple behavior to ActionSheet.
  MaterialComponents.podspec
  components/ActionSheet/BUILD
  components/ActionSheet/examples/ActionSheetTypicalUseExampleViewController.m
  components/ActionSheet/src/ColorThemer/MDCActionSheetColorThemer.m
  components/ActionSheet/src/MDCActionSheetController.h
  components/ActionSheet/src/MDCActionSheetController.m
  components/ActionSheet/src/Theming/MDCActionSheetController+MaterialTheming.m
  components/ActionSheet/src/private/MDCActionSheetItemTableViewCell.h
  components/ActionSheet/src/private/MDCActionSheetItemTableViewCell.m
  components/ActionSheet/tests/unit/ActionSheetRippleTests.m
Labels: [ActionSheet], cla: yes

#7606 [BottomNavigation] Remove old and unused methods.
  components/BottomNavigation/src/MDCBottomNavigationBar.m
Labels: [BottomNavigation], cla: yes

#7602 [NavigationBar] Adds the Ripple behavior to NavigationBar.
  components/NavigationBar/src/MDCNavigationBar.h
  components/NavigationBar/src/MDCNavigationBar.m
  components/NavigationBar/tests/unit/NavigationBarRippleTests.m
Labels: [ButtonBar], [NavigationBar], cla: yes

#7589 [BottomNavigation] Adds the Ripple behavior to BottomNavigation.
  MaterialComponents.podspec
  components/BottomNavigation/BUILD
  components/BottomNavigation/src/MDCBottomNavigationBar.h
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.h
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
  components/BottomNavigation/tests/unit/BottomNavigationRippleTests.m
Labels: [BottomNavigation], cla: yes

#7590 [ThumbTrack] Adds the Ripple behavior to Thumbtrack.
  MaterialComponents.podspec
  components/private/ThumbTrack/BUILD
  components/private/ThumbTrack/src/MDCThumbTrack.h
  components/private/ThumbTrack/src/MDCThumbTrack.m
  components/private/ThumbTrack/tests/unit/ThumbTrackRippleTests.m
Labels: [Ripple], [Slider], [private], cla: yes

#7600 [Slider] Adds the Ripple behavior to Slider.
  components/Slider/src/MDCSlider.h
  components/Slider/src/MDCSlider.m
  components/Slider/tests/unit/SliderRippleTests.m
Labels: [Ripple], [Slider], [private], cla: yes

#7607 [ActionSheet] Fixes incorrect layout margins in MDCActionSheetController's table view pre iOS 12.
  components/ActionSheet/src/MDCActionSheetController.m
Labels: [ActionSheet], cla: yes

#7612 [Docs] Remove Travis CI badge, it is unused and confusing.
  README.md
Labels: cla: yes

#7610 [Banner] Remove a redundant header file of a typical example.
  components/Banner/examples/BannerTypicalUseExampleViewController.h
  components/Banner/examples/BannerTypicalUseExampleViewController.m
Labels: [Banner], cla: yes

#7619 [Typography] Annotate mdc_adjustsFontForContentSizeCategory as to-be-deprecated.
  components/schemes/Typography/src/MDCTypographyScheme.h
Labels: PR:merge-when-approved, [schemes], cla: yes

#7505 [Buttons] Remove all example references to MDCFloatingActionButtonThemer.
  components/BottomAppBar/BUILD
  components/BottomAppBar/examples/BottomAppBarTypicalUseExample.swift
  components/MaskedTransition/BUILD
  components/MaskedTransition/examples/MaskedTransitionTypicalUse.swift
Labels: PR:merge-when-approved, [BottomAppBar], [Buttons], [MaskedTransition], cla: yes

#7641 [Dialogs] {Bazel} Create dedicated unit test rules to reduce boilerplate
  components/Dialogs/BUILD
  material_components_ios.bzl
Labels: [Dialogs], cla: yes, skill:Bazel, type:Internal cleanup

#7636 [Tabs2] Add skeleton view for new Tabs
  MaterialComponentsBeta.podspec
  catalog/MDCCatalog.xcodeproj/xcshareddata/xcschemes/MDCCatalog.xcscheme
  catalog/MDCDragons.xcodeproj/xcshareddata/xcschemes/MDCDragons.xcscheme
  catalog/Podfile
  components/Tabs2/BUILD
  components/Tabs2/src/MDCTabBarView.h
  components/Tabs2/src/MDCTabBarView.m
  components/Tabs2/src/MaterialTabs2.h
  components/Tabs2/tests/snapshot/MDCTabBarViewSnapshotTests.m
  components/Tabs2/tests/unit/MDCTabBarViewTests.m
  material_components_ios.bzl
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testTabBarFixedSize_11_2@2x.png
Labels: PR:merge-when-approved, [Catalog], [Tabs2], [Tabs], cla: yes

#7642 [AppBar] Use new unit test Bazel rules
  components/AppBar/BUILD
Labels: PR:merge-when-approved, [AppBar], cla: yes, skill:Bazel, type:Internal cleanup

#7648 [Banner] Fix horizontal constraint between text label and button.
  components/Banner/examples/BannerTypicalUseExampleViewController.m
  components/Banner/src/MDCBannerView.m
Labels: [Banner], cla: yes

#7652 [Banner] apply constraints to trailingButton even it is hidden.
  components/Banner/src/MDCBannerView.m
Labels: [Banner], cla: yes

#7651 [Tabs2] Add placeholder item view.
  MaterialComponentsBeta.podspec
  components/Tabs2/BUILD
  components/Tabs2/src/private/MDCTabBarViewItemView.h
  components/Tabs2/src/private/MDCTabBarViewItemView.m
  components/Tabs2/tests/snapshot/MDCTabBarViewItemViewSnapshotTests.m
  components/Tabs2/tests/unit/MDCTabBarViewItemViewTests.m
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testItemViewNoTitleNoImageIntrinsicContentSize_11_2@2x.png
Labels: PR:merge-when-approved, [Tabs2], [Tabs], cla: yes

#7654 [NavigationDrawer] Update cacheLayoutCalculationsWithAddedContentHeight recursion check to factor out floating point rounding issues
  components/NavigationDrawer/examples/BottomDrawerNoHeaderLessContentExample.swift
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
  components/NavigationDrawer/tests/unit/MDCNavigationDrawerScrollViewTests.m
Labels: [NavigationDrawer], cla: yes

#7662 [Tabs2] Add example view controller.
  catalog/MDCCatalog.xcodeproj/project.pbxproj
  components/Tabs2/BUILD
  components/Tabs2/examples/MDCTabBarViewTypicalExampleViewController.m
  components/Tabs2/src/MDCTabBarView.m
Labels: PR:merge-when-approved, [Catalog], [Tabs2], [Tabs], cla: yes

#7656 [Tabs2] Add items and selectedItems API to the MDCTabBarView
  components/Tabs2/src/MDCTabBarView.h
  components/Tabs2/src/MDCTabBarView.m
  components/Tabs2/tests/unit/MDCTabBarViewTests.m
Labels: [Tabs2], cla: yes

#7663 [Tabs] Move "Tabs2" into an extension.
  MaterialComponentsBeta.podspec
  MaterialComponentsSnapshotTests.podspec
  catalog/MDCCatalog.xcodeproj/xcshareddata/xcschemes/MDCCatalog.xcscheme
  catalog/MDCDragons.xcodeproj/xcshareddata/xcschemes/MDCDragons.xcscheme
  catalog/Podfile
  components/Tabs/BUILD
  components/Tabs/src/TabBarView/MDCTabBarView.h
  components/Tabs/src/TabBarView/MDCTabBarView.m
  components/Tabs/src/TabBarView/MaterialTabs+TabBarView.h
  components/Tabs/src/TabBarView/private/MDCTabBarViewItemView.h
  components/Tabs/src/TabBarView/private/MDCTabBarViewItemView.m
  components/Tabs/tests/snapshot/TabBarView/MDCTabBarViewItemViewSnapshotTests.m
  components/Tabs/tests/snapshot/TabBarView/MDCTabBarViewSnapshotTests.m
  components/Tabs/tests/unit/TabBarView/MDCTabBarViewItemViewTests.m
  components/Tabs/tests/unit/TabBarView/MDCTabBarViewTests.m
  components/Tabs2/BUILD
  components/Tabs2/examples/MDCTabBarViewTypicalExampleViewController.m
Labels: [Catalog], [Tabs], cla: yes

#7671 [Tabs] Add missing example.
  catalog/MDCCatalog.xcodeproj/project.pbxproj
  components/Tabs/BUILD
  components/Tabs/examples/MDCTabBarViewTypicalExampleViewController.m
Labels: PR:merge-when-approved, [Catalog], [Tabs], cla: yes

#7673 [Tabs] Update README for MDCTabBarView.
  components/Tabs/README.md
  components/Tabs/docs/README.md
  components/Tabs/docs/tabbarview.md
Labels: [Tabs], cla: yes, type:Documentation

#7613 [Ripple][Chips] New AllowsSelection API in MDCChipView
  components/Chips/src/MDCChipView.h
  components/Chips/src/MDCChipView.m
  components/Chips/tests/unit/ChipViewRippleTests.m
Labels: [Chips], cla: yes

#7665 [Tabs] Initial MDCTabBarViewItemView version
  components/Tabs/src/TabBarView/private/MDCTabBarViewItemView.h
  components/Tabs/src/TabBarView/private/MDCTabBarViewItemView.m
  components/Tabs/tests/snapshot/TabBarView/MDCTabBarViewItemViewSnapshotTests.m
  components/Tabs/tests/unit/TabBarView/MDCTabBarViewItemViewTests.m
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testItemViewNoTitleNoImageIntrinsicContentSize_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testLongTitleLargeImageIntrinsicContentSizeLTRLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testLongTitleLargeImageIntrinsicContentSizeRTLArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testLongTitleLargeImageTooSmallSizeLTRLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testLongTitleLargeImageTooSmallSizeRTLArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testLongTitleLargeImageVeryTallSizeLTRLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testLongTitleLargeImageVeryTallSizeRTLArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testLongTitleLargeImageWidestSizeLTRLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testLongTitleLargeImageWidestSizeRTLArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testNoTitleNoImageIntrinsicContentSize_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testShortTitleRegularImageIntrinsicContentSizeLTRLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testShortTitleRegularImageIntrinsicContentSizeRTLArabic_11_2@2x.png
Labels: [Tabs2], [Tabs], cla: yes

#7696 [Tabs] Rearrange MDCTabBarView internals.
  components/Tabs/src/TabBarView/private/MDCTabBarViewItemView.m
Labels: [Tabs], cla: yes, type:Internal cleanup

#7691 [BottomNavigation] Add theming extension
  MaterialComponents.podspec
  catalog/MDCCatalog.xcodeproj/xcshareddata/xcschemes/MDCCatalog.xcscheme
  catalog/Podfile
  components/BottomNavigation/BUILD
  components/BottomNavigation/src/Theming/MDCBottomNavigationBar+MaterialTheming.h
  components/BottomNavigation/src/Theming/MDCBottomNavigationBar+MaterialTheming.m
  components/BottomNavigation/src/Theming/MaterialBottomNavigation+Theming.h
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationBarThemingSnapshotTests.m
  components/BottomNavigation/tests/unit/Theming/MDCBottomNavigationThemingTests.m
  snapshot_test_goldens/goldens_64/MDCBottomNavigationThemingSnapshotTests/testPrimaryThemeWithCustomContainerScheme_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationThemingSnapshotTests/testPrimaryThemeWithDefaultContainerScheme_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationThemingSnapshotTests/testSurfaceThemeWithCustomContainerScheme_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationThemingSnapshotTests/testSurfaceThemeWithDefaultScheme_11_2@2x.png
Labels: [BottomNavigation], [Catalog], cla: yes

#7698 [Tabs] Send tab item title/image to views
  components/Tabs/examples/MDCTabBarViewTypicalExampleViewController.m
  components/Tabs/src/TabBarView/MDCTabBarView.m
  components/Tabs/tests/snapshot/TabBarView/MDCTabBarViewSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testItemsWithMixedTitlesAndImages_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testItemsWithOnlyImages_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testItemsWithOnlyTitles_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testItemsWithTitlesAndImages_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testTabBarFixedSize_11_2@2x.png
Labels: [Tabs], cla: yes

#7703 [Tabs] Expose the the iconImageView and the titleLabel of the item view
  components/Tabs/src/TabBarView/MDCTabBarView.m
  components/Tabs/src/TabBarView/private/MDCTabBarViewItemView.h
  components/Tabs/src/TabBarView/private/MDCTabBarViewItemView.m
  components/Tabs/tests/snapshot/TabBarView/MDCTabBarViewItemViewSnapshotTests.m
  components/Tabs/tests/unit/TabBarView/MDCTabBarViewItemViewTests.m
Labels: [Tabs], cla: yes

#7694 [TextFields] Add MDCBaseTextField as extension
  MaterialComponents.podspec
  catalog/Podfile
  components/TextFields/BUILD
  components/TextFields/src/ContainedInputView/MDCBaseTextField.h
  components/TextFields/src/ContainedInputView/MDCBaseTextField.m
  components/TextFields/src/ContainedInputView/MaterialTextFields+ContainedInputView.h
  components/TextFields/tests/unit/ContainedInputView/MDCBaseTextFieldTests.m
Labels: [Catalog], [TextFields], cla: yes

#7702 [Tabs] Ignore `selectedItem` values not in `items`.
  components/Tabs/src/TabBarView/MDCTabBarView.m
  components/Tabs/tests/unit/TabBarView/MDCTabBarViewTests.m
Labels: PR:merge-when-approved, [Tabs], cla: yes

#7620 [Banner] Add intrinsicContentSize support with an example.
  components/Banner/BUILD
  components/Banner/examples/BannerAutolayoutExampleViewController.m
  components/Banner/src/MDCBannerView.m
Labels: [Banner], cla: yes

#7675 [CatalogApp] Resolved inifinite loop in FloatingButtonExampleViewController.
  components/Buttons/examples/FloatingButtonExampleViewController.m
Labels: [Buttons], cla: yes

#7711 [Tabs] Add `barTintColor` API.
  components/Tabs/examples/MDCTabBarViewTypicalExampleViewController.m
  components/Tabs/src/TabBarView/MDCTabBarView.h
  components/Tabs/src/TabBarView/MDCTabBarView.m
  components/Tabs/tests/snapshot/TabBarView/MDCTabBarViewSnapshotTests.m
  components/Tabs/tests/unit/TabBarView/MDCTabBarViewTests.m
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testBarTintColor_11_2@2x.png
Labels: [Tabs], cla: yes

#7712 [Tabs] Add titleColorForState: API.
  components/Tabs/src/TabBarView/MDCTabBarView.h
  components/Tabs/src/TabBarView/MDCTabBarView.m
  components/Tabs/tests/snapshot/TabBarView/MDCTabBarViewSnapshotTests.m
  components/Tabs/tests/unit/TabBarView/MDCTabBarViewTests.m
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testChangingSelectionUpdatesItemStyle_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSetTitleColorExplicitlyToNilRendersSomeDefault_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSetTitleColorForExplicitItemStates_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSetTitleColorForNormalStateAppliesToSelectedItem_11_2@2x.png
Labels: [Tabs], cla: yes

#7700 [Tabs] KVO UITabBarItem's `title` and `image` properties
  components/Tabs/src/TabBarView/MDCTabBarView.m
  components/Tabs/tests/snapshot/TabBarView/MDCTabBarViewSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testChangingImageOfSelectedItemAfterAddingToBar_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testChangingImageOfUnselectedItemAfterAddingToBar_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testChangingSelectedImageOfSelectedItemAfterAddingToBarDoesNothing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testChangingSelectedImageOfUnselectedItemAfterAddingToBarDoesNothing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testChangingSelectedItemIgnoresSelectedImage_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testChangingTitleAfterAddingToBar_11_2@2x.png
Labels: PR:merge-when-approved, [Tabs], cla: yes

#7713 [Tabs] Add user selection support to the MDCTabBarView
  components/Tabs/examples/MDCTabBarViewTypicalExampleViewController.m
  components/Tabs/src/TabBarView/MDCTabBarView.m
  components/Tabs/src/TabBarView/private/MDCTabBarViewItemView.m
Labels: [Tabs], cla: yes

#7571 [FlexibleHeader] Use updated voiceover status change notification
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
Labels: [FlexibleHeader], cla: yes

#7679 [BottomSheet] Added test to avoid referencing UIWebView under UIKit for Mac
  components/BottomSheet/src/MDCBottomSheetPresentationController.m
Labels: [BottomSheet], cla: yes

#7670 [ThumbTrack] Use @synthesize for touchController to avoid warning
  components/private/ThumbTrack/src/MDCThumbTrack.m
Labels: PR:merge-when-approved, [private/ThumbTrack], cla: yes

#7714 [Tabs] Add imageTintColorForState APIs.
  components/Tabs/examples/MDCTabBarViewTypicalExampleViewController.m
  components/Tabs/src/TabBarView/MDCTabBarView.h
  components/Tabs/src/TabBarView/MDCTabBarView.m
  components/Tabs/tests/snapshot/TabBarView/MDCTabBarViewSnapshotTests.m
  components/Tabs/tests/unit/TabBarView/MDCTabBarViewTests.m
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testChangingSelectionUpdatesItemStyle_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSetImageTintColorExplicitlyToNilUsesTintColor_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSetImageTintColorForExplicitItemStates_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSetImageTintColorForNormalStateAppliesToSelectedItem_11_2@2x.png
Labels: [Tabs], cla: yes

#7716 [Tabs] Remove redundant code.
  components/Tabs/src/TabBarView/MDCTabBarView.m
Labels: [Tabs], cla: yes, type:Internal cleanup

#7704 [Tabs] Adds justified and scrollable layout to MDCTabBarView
  components/Tabs/examples/MDCTabBarViewTypicalExampleViewController.m
  components/Tabs/src/TabBarView/MDCTabBarView.m
  components/Tabs/tests/snapshot/TabBarView/MDCTabBarViewSnapshotTests.m
  components/Tabs/tests/unit/TabBarView/MDCTabBarViewTests.m
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testItemsLargerThanBoundsChangesToScrollableLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testLayoutBehaviorWhenBoundsExceedsIntrinsicContentSizeAndRemainsLessThanMaximum_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testLayoutBehaviorWhenBoundsExceedsMaximumWidthForNumberOfItems_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSettingBoundsToIntrinsicContentSizeResultsInJustifiedLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSettingBoundsTooNarrowWithItemsLessThanMinimumWidthResultsInScrollableLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testVeryLongItemLimitsItemWidthToItemMaximumWhenBoundsAreIntrinsicContentSize_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testVeryLongItemLimitsItemWidthToItemMaximumWhenBoundsTooNarrow_11_2@2x.png
Labels: [Tabs], cla: yes

#7709 [Banner] Support Dynamic Type in Banner
  catalog/MDCDragons.xcodeproj/xcshareddata/xcschemes/MDCDragons.xcscheme
  catalog/Podfile
  components/Banner/BUILD
  components/Banner/examples/BannerTypicalUseExampleViewController.m
  components/Banner/src/MDCBannerView.h
  components/Banner/src/MDCBannerView.m
  components/Banner/tests/snapshot/MDCBannerSnapshotTests.m
  components/Banner/tests/unit/BannerViewTests.m
  snapshot_test_goldens/goldens_64/MDCBannerViewSnapshotTests/testDynamicTypeForContentSizeCategoryExtraExtraLarge_11_2@2x.png
Labels: [Banner], [Catalog], cla: yes

#7718 [Tabs] Fix MDCTabBarViewItemView sizing.
  components/Tabs/src/TabBarView/MDCTabBarView.m
  components/Tabs/src/TabBarView/private/MDCTabBarViewItemView.m
  components/Tabs/tests/snapshot/TabBarView/MDCTabBarViewItemViewSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testLongTitleNoImageIntrinsicContentSizeLTRLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testLongTitleNoImageIntrinsicContentSizeRTLArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testLongTitleNoImageSizeToFitLTRLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testLongTitleNoImageSizeToFitRTLArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testLongTitleNoImageTooLargeSizeLTRLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testLongTitleNoImageTooLargeSizeRTLArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testLongTitleNoImageTooSmallSizeLTRLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testLongTitleNoImageTooSmallSizeRTLArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testNoTitleLargeImageIntrinsicContentSizeLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testNoTitleLargeImageIntrinsicContentSizeRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testNoTitleLargeImageSizeToFitLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testNoTitleLargeImageSizeToFitRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testNoTitleLargeImageTooLargeSizeLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testNoTitleLargeImageTooLargeSizeRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testNoTitleLargeImageTooSmallSizeLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testNoTitleLargeImageTooSmallSizeRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testNoTitleTypicalImageIntrinsicContentSizeLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testNoTitleTypicalImageIntrinsicContentSizeRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testNoTitleTypicalImageSizeToFitLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testNoTitleTypicalImageSizeToFitRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testShortTitleNoImageIntrinsicContentSizeLTRLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testShortTitleNoImageIntrinsicContentSizeRTLArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testShortTitleNoImageSizeToFitLTRLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testShortTitleNoImageSizeToFitRTLArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testTitleOnlyShortTitleSizeToFitLTRLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testTitleOnlyShortTitleSizeToFitRTLArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSettingBoundsTooNarrowWithItemsLessThanMinimumWidthResultsInScrollableLayout_11_2@2x.png
Labels: [Tabs], cla: yes

#7668 [FlexibleHeader] Ensures the frame is correct under UIKit for Mac
  components/FlexibleHeader/src/MDCFlexibleHeaderViewController.m
Labels: [FlexibleHeader], cla: yes

#7727 [TabBarView] Add accessibility label
  components/Tabs/src/TabBarView/MDCTabBarView.m
  components/Tabs/src/TabBarView/private/MDCTabBarViewItemView.m
Labels: [Tabs], cla: yes

#7729 [TabBarView] Add accessibility hint and identifier
  components/Tabs/src/TabBarView/MDCTabBarView.m
Labels: [Tabs], cla: yes

#7730 [Tabs] Use templated image in snapshot test.
  components/Tabs/tests/snapshot/TabBarView/MDCTabBarViewItemViewSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testNoTitleTypicalImageIntrinsicContentSizeLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testNoTitleTypicalImageIntrinsicContentSizeRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testNoTitleTypicalImageSizeToFitLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testNoTitleTypicalImageSizeToFitRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testShortTitleRegularImageIntrinsicContentSizeLTRLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testShortTitleRegularImageIntrinsicContentSizeRTLArabic_11_2@2x.png
Labels: [Tabs], cla: yes, type:Internal cleanup

#7726 [Tabs] Add ripple effect
  components/Tabs/BUILD
  components/Tabs/src/TabBarView/private/MDCTabBarViewItemView.h
  components/Tabs/src/TabBarView/private/MDCTabBarViewItemView.m
  components/Tabs/tests/snapshot/TabBarView/MDCTabBarViewItemViewSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testRippleAppearanceWhenFullyPressed_11_2@2x.png
Labels: PR:merge-when-approved, [Tabs], cla: yes

#7735 [Tabs] Fix bugs
  components/Tabs/src/TabBarView/MDCTabBarView.m
  components/Tabs/src/TabBarView/private/MDCTabBarViewItemView.m
Labels: [Tabs], cla: yes

#7740 [Tabs] Add the user selection visible logic
  components/Tabs/examples/MDCTabBarViewTypicalExampleViewController.m
  components/Tabs/src/TabBarView/MDCTabBarView.m
  components/Tabs/tests/snapshot/TabBarView/MDCTabBarViewSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSelectedItemInitiallyVisible_11_2@2x.png
Labels: [Tabs], cla: yes

#7739 [Tabs] Add accessibility traits support
  components/Tabs/examples/MDCTabBarViewTypicalExampleViewController.m
  components/Tabs/src/TabBarView/MDCTabBarView.m
Labels: [Catalog], [Tabs], cla: yes

#7749 [Tabs] Allow setting selected item without animation.
  MaterialComponentsBeta.podspec
  components/Tabs/BUILD
  components/Tabs/src/TabBarView/MDCTabBarView.h
  components/Tabs/src/TabBarView/MDCTabBarView.m
  components/Tabs/tests/snapshot/TabBarView/MDCTabBarViewSnapshotTests.m
Labels: [Tabs], cla: yes

#7750 [Tabs] Make itemView conform to the selection indicator protocol.
  components/Tabs/src/TabBarView/private/MDCTabBarViewItemView.h
  components/Tabs/src/TabBarView/private/MDCTabBarViewItemView.m
Labels: [Tabs], cla: yes

#7751 [Tabs] Fork default selection indicator template.
  components/Tabs/src/TabBarView/MDCTabBarViewUnderlineIndicatorTemplate.h
  components/Tabs/src/TabBarView/MDCTabBarViewUnderlineIndicatorTemplate.m
Labels: [Tabs], cla: yes

#7747 [Tabs] Fix the layout of MDCTabBarViewItemView
  components/Tabs/src/TabBarView/private/MDCTabBarViewItemView.m
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testLongTitleLargeImageIntrinsicContentSizeLTRLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testLongTitleLargeImageIntrinsicContentSizeRTLArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testLongTitleLargeImageTooSmallSizeLTRLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testLongTitleLargeImageTooSmallSizeRTLArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testLongTitleLargeImageVeryTallSizeLTRLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testLongTitleLargeImageVeryTallSizeRTLArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testLongTitleLargeImageWidestSizeLTRLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testLongTitleLargeImageWidestSizeRTLArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testLongTitleNoImageIntrinsicContentSizeLTRLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testLongTitleNoImageIntrinsicContentSizeRTLArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testLongTitleNoImageSizeToFitLTRLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testLongTitleNoImageSizeToFitRTLArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testLongTitleNoImageTooLargeSizeLTRLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testLongTitleNoImageTooLargeSizeRTLArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testLongTitleNoImageTooSmallSizeLTRLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testLongTitleNoImageTooSmallSizeRTLArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testNoTitleLargeImageTooSmallSizeLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testNoTitleLargeImageTooSmallSizeRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testRippleAppearanceWhenFullyPressed_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testShortTitleNoImageIntrinsicContentSizeLTRLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testShortTitleNoImageIntrinsicContentSizeRTLArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testShortTitleNoImageSizeToFitLTRLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testShortTitleNoImageSizeToFitRTLArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testShortTitleRegularImageIntrinsicContentSizeLTRLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testShortTitleRegularImageIntrinsicContentSizeRTLArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testChangingImageOfSelectedItemAfterAddingToBar_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testChangingImageOfUnselectedItemAfterAddingToBar_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testChangingSelectedImageOfSelectedItemAfterAddingToBarDoesNothing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testChangingSelectedImageOfUnselectedItemAfterAddingToBarDoesNothing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testChangingSelectedItemIgnoresSelectedImage_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testChangingSelectionUpdatesItemStyle_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testChangingTitleAfterAddingToBar_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testItemsLargerThanBoundsChangesToScrollableLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testItemsWithMixedTitlesAndImages_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testItemsWithOnlyTitles_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testItemsWithTitlesAndImages_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testLayoutBehaviorWhenBoundsExceedsIntrinsicContentSizeAndRemainsLessThanMaximum_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testLayoutBehaviorWhenBoundsExceedsMaximumWidthForNumberOfItems_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSelectedItemInitiallyVisible_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSetImageTintColorExplicitlyToNilUsesTintColor_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSetImageTintColorForExplicitItemStates_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSetImageTintColorForNormalStateAppliesToSelectedItem_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSetTitleColorExplicitlyToNilRendersSomeDefault_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSetTitleColorForExplicitItemStates_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSetTitleColorForNormalStateAppliesToSelectedItem_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSettingBoundsToIntrinsicContentSizeResultsInJustifiedLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSettingBoundsTooNarrowWithItemsLessThanMinimumWidthResultsInScrollableLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testVeryLongItemLimitsItemWidthToItemMaximumWhenBoundsAreIntrinsicContentSize_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testVeryLongItemLimitsItemWidthToItemMaximumWhenBoundsTooNarrow_11_2@2x.png
Labels: PR:merge-when-approved, [Tabs], cla: yes
