Repository material-components/material-components-ios, pull requests merged in 2019-12, with the labels that each got.

#9040 [Chips] Mark MDCChipViewColorThemer and MDCChipViewShapeThemer as deprecated
  components/Chips/src/ColorThemer/MDCChipViewColorThemer.h
  components/Chips/src/ShapeThemer/MDCChipViewShapeThemer.h
Labels: [Chips], cla: yes

#9001 [AppBar] Add a shouldSetNavigationBarHiddenHideAppBar behavior flag.
  components/AppBar/examples/AppBarNavigationControllerExample.swift
  components/AppBar/src/MDCAppBarNavigationController.h
  components/AppBar/src/MDCAppBarNavigationController.m
  components/AppBar/tests/unit/AppBarNavigationControllerNavigationBarHiddenTests.m
  components/AppBar/tests/unit/AppBarNavigationControllerNavigationBarHiddenWhenNavigationBarHiddenHidesAppBarTests.m
Labels: PR:delete-branch-when-merged, PR:merge-when-approved, [AppBar], [Catalog], [FlexibleHeader], cla: yes

#9038 [AppBar] Rename test cases to match component conventions.
  components/AppBar/tests/unit/AppBarNavigationControllerTests.m
  components/AppBar/tests/unit/AppBarNavigationControllerTests.swift
  components/AppBar/tests/unit/AppBarViewControllerTests.m
Labels: PR:delete-branch-when-merged, PR:merge-when-approved, [AppBar], cla: yes

#9035 [ActionSheet] Refactor edge insets API snapshot tests.
  components/ActionSheet/tests/snapshot/MDCActionSheetControllerInsetsAPIsSnapshotTests.m
Labels: PR:delete-branch-when-merged, PR:does-the-same-with-less, PR:merge-when-approved, [ActionSheet], cla: yes, type:Test

#9033 [Dialogs] Add configuration options to MDCDialogTransitionController
  components/Dialogs/src/MDCDialogPresentationController.h
  components/Dialogs/src/MDCDialogPresentationController.m
  components/Dialogs/src/MDCDialogTransitionController.h
  components/Dialogs/src/MDCDialogTransitionController.m
Labels: [Dialogs], cla: yes

#9042 [Banner] Fix top layout constraint in Autolayout example on pre iOS 11 OSes.
  components/Banner/examples/BannerAutolayoutExampleViewController.m
Labels: [Banner], cla: yes

#9051 [Buttons] Deprecating MDCContainedButtonColorThemer
  components/Buttons/src/ColorThemer/MDCContainedButtonColorThemer.h
  components/Buttons/src/Theming/MDCButton+MaterialTheming.m
Labels: [Buttons], cla: yes

#9050 [Buttons] Deprecating MDCFloatingButtonColorThemer
  components/Buttons/src/ColorThemer/MDCFloatingButtonColorThemer.h
  components/Buttons/src/Theming/MDCFloatingButton+MaterialTheming.m
Labels: [Buttons], cla: yes

#9078 [Cards] Deprecate MDCCardsColorThemer
  components/Cards/src/ColorThemer/MDCCardsColorThemer.h
Labels: [Cards], cla: yes

#9077 [Ink] Delete deprecated MDCInkTouchControllerLegacyDelegate
  components/Ink/src/MDCInkTouchController.m
Labels: [Ink], cla: yes

#9076 [TextFields] Mark MDCTextFieldColorThemer as deprecated
  components/TextFields/src/ColorThemer/MDCTextFieldColorThemer.h
Labels: [TextFields], cla: yes

#9048 [Buttons] Deprecate MDCOutlinedButtonColorThemer
  components/Buttons/src/ColorThemer/MDCOutlinedButtonColorThemer.h
Labels: [Buttons], cla: yes

#9049 [Buttons] Deprecating MDCTextButtonColorThemer
  components/Buttons/src/ColorThemer/MDCTextButtonColorThemer.h
  components/Buttons/src/Theming/MDCButton+MaterialTheming.m
Labels: [Buttons], cla: yes

#9073 [Banner] Add unit test to test background color change when user interface changes.
  MaterialComponents.podspec
  components/Banner/BUILD
  components/Banner/tests/unit/Theming/MDCBannerViewThemingTests.m
Labels: [Banner], cla: yes

#9110 [Chips] Move themer code to MDCChipView+MaterialTheming
  MaterialComponents.podspec
  components/Chips/BUILD
  components/Chips/src/Theming/MDCChipView+MaterialTheming.m
Labels: [Chips], cla: yes

#9111 [Banner] Post accessibility notification when Banner shows on the screen in examples.
  components/Banner/examples/AppBarBannerExample.m
  components/Banner/examples/BannerAutolayoutExampleViewController.m
  components/Banner/examples/BannerTypicalUseExampleViewController.m
Labels: [Banner], cla: yes

#9116 [Banner] Implement UIAccessibilityContainer informal protocol to correct accessibility order.
  components/Banner/src/MDCBannerView.m
Labels: [Banner], cla: yes

#9028 [Chips] Delete Themers
  MaterialComponents.podspec
  components/Chips/BUILD
  components/Chips/src/ChipThemer/MDCChipViewScheme.h
  components/Chips/src/ChipThemer/MDCChipViewScheme.m
  components/Chips/src/ChipThemer/MDCChipViewThemer.h
  components/Chips/src/ChipThemer/MDCChipViewThemer.m
  components/Chips/src/ChipThemer/MaterialChips+ChipThemer.h
  components/Chips/src/ColorThemer/MDCChipViewColorThemer.h
  components/Chips/src/ColorThemer/MDCChipViewColorThemer.m
  components/Chips/src/ColorThemer/MaterialChips+ColorThemer.h
  components/Chips/src/FontThemer/MDCChipViewFontThemer.h
  components/Chips/src/FontThemer/MDCChipViewFontThemer.m
  components/Chips/src/FontThemer/MaterialChips+FontThemer.h
  components/Chips/src/ShapeThemer/MDCChipViewShapeThemer.h
  components/Chips/src/ShapeThemer/MDCChipViewShapeThemer.m
  components/Chips/src/ShapeThemer/MaterialChips+ShapeThemer.h
  components/Chips/src/TypographyThemer/MDCChipViewTypographyThemer.h
  components/Chips/src/TypographyThemer/MDCChipViewTypographyThemer.m
  components/Chips/src/TypographyThemer/MaterialChips+TypographyThemer.h
  components/Chips/tests/unit/ChipViewColorThemerTests.m
  components/Chips/tests/unit/ChipViewFontThemerTests.m
  components/Chips/tests/unit/ChipViewShapeThemerTests.m
  components/Chips/tests/unit/ChipViewTypographyThemerTests.m
  components/schemes/Shape/BUILD
  components/schemes/Shape/examples/MDCShapeSchemeExampleViewController.m
  components/schemes/Shape/examples/supplemental/MDCChipViewShapeThemerDefaultMapping.h
  components/schemes/Shape/examples/supplemental/MDCChipViewShapeThemerDefaultMapping.m
Labels: [Chips], [schemes], cla: yes

#9121 [Buttons] Delete MDCButton cornerRadius
  components/Buttons/src/MDCButton.m
  components/Buttons/src/private/MDCButton+Subclassing.h
Labels: [Buttons], cla: yes

#9126 [BottomNavigation] Deprecate MDCBottomNavigationBarColorThemer
  components/BottomNavigation/examples/BottomNavigationBlurExample.m
  components/BottomNavigation/examples/BottomNavigationTypicalUseExample.m
  components/BottomNavigation/src/ColorThemer/MDCBottomNavigationBarColorThemer.h
Labels: [BottomNavigation], cla: yes

#9125 [Tabs] Don't use MDCTabBarColorThemer in examples
  components/Tabs/BUILD
  components/Tabs/examples/BottomNavigationBarExample.m
  components/Tabs/examples/TabBarIconExample.m
  components/Tabs/examples/TabBarIconExample.swift
  components/Tabs/examples/TabBarIndicatorTemplateExample.swift
  components/Tabs/examples/TabBarInterfaceBuilderExample.m
  components/Tabs/examples/TabBarTextOnlyExample.m
  components/Tabs/examples/TabBarViewControllerExample.m
  components/Tabs/examples/supplemental/TabBarIconExampleSupplemental.swift
  components/Tabs/examples/supplemental/TabBarIndicatorTemplateExampleSupplemental.swift
  components/Tabs/examples/supplemental/TabBarTextOnlyExampleSupplemental.h
  components/Tabs/examples/supplemental/TabBarViewControllerExampleSupplemental.h
  components/Tabs/examples/supplemental/TabBarViewControllerExampleSupplemental.m
Labels: [Tabs], cla: yes

#9114 [Tabs] Deprecate MDCTabbarFontThemer
  components/Tabs/src/FontThemer/MDCTabBarFontThemer.h
  components/Tabs/src/FontThemer/MDCTabBarFontThemer.m
Labels: [Tabs], cla: yes

#9120 [private] deprecate-MDCThumbTrack-thumbMaxRippleRadius
  components/private/ThumbTrack/src/MDCThumbTrack.h
  components/private/ThumbTrack/src/MDCThumbTrack.m
Labels: [private], cla: yes

#9117 [ButtonBar] delete-MDCButtonBarTypographyThemer
  MaterialComponents.podspec
  components/ButtonBar/BUILD
  components/ButtonBar/src/TypographyThemer/MDCButtonBarTypographyThemer.h
  components/ButtonBar/src/TypographyThemer/MDCButtonBarTypographyThemer.m
  components/ButtonBar/src/TypographyThemer/MaterialButtonBar+TypographyThemer.h
Labels: [ButtonBar], cla: yes

#9135 [ActionSheet] Action sheet enable ripple
  components/ActionSheet/src/MDCActionSheetController.h
  components/ActionSheet/src/MDCActionSheetController.m
  components/ActionSheet/tests/unit/ActionSheetRippleTests.m
Labels: [ActionSheet], cla: yes

#9109 [TextFields] Delete MDCTextFieldColorThemer
  components/TextFields/src/ColorThemer/MDCTextFieldColorThemer.h
  components/TextFields/src/ColorThemer/MDCTextFieldColorThemer.m
  components/TextFields/src/ColorThemer/MaterialTextFields+ColorThemer.h
  components/TextFields/tests/unit/TextFieldColorThemerTests.m
Labels: [TextFields], cla: yes

#9103 [Tabs] Deprecate MDCTabBarColorThemer
  components/Tabs/src/ColorThemer/MDCTabBarColorThemer.h
  components/Tabs/src/ColorThemer/MDCTabBarColorThemer.m
Labels: [Tabs], cla: yes

#9123 [PageControl] deprecate-MDCPageControlColorThemer-applyColorScheme-toPageControl
  components/PageControl/src/ColorThemer/MDCPageControlColorThemer.h
  components/PageControl/src/ColorThemer/MDCPageControlColorThemer.m
Labels: [PageControl], cla: yes

#9108 [Cards] Deprecate MDCCardThemer
  components/Cards/src/CardThemer/MDCCardThemer.h
  components/Cards/src/CardThemer/MDCCardThemer.m
  components/Cards/src/Theming/MDCCard+MaterialTheming.m
  components/Cards/src/Theming/MDCCardCollectionCell+MaterialTheming.m
Labels: [Cards], cla: yes

#9100 [Banner] Update Readme to document the latest APIs.
  components/Banner/README.md
  components/Banner/docs/typical-use.md
Labels: [Banner], cla: yes

#9132 [Tabs] Document `MDCTabBarViewLayoutStyle`
  components/Tabs/src/TabBarView/MDCTabBarView.h
Labels: [Tabs], cla: yes, type:Documentation

#9131 [Chips] Add RTL snapshot tests.
  components/Chips/tests/snapshot/MDCChipViewSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testBaselineThemedChipWithAccessoryViewLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testBaselineThemedChipWithAccessoryViewRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testBaselineThemedChipWithImageAndAccessoryViewLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testBaselineThemedChipWithImageAndAccessoryViewRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testBaselineThemedChipWithImageLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testBaselineThemedChipWithImageRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testOutlinedThemedChipWithAccessoryViewLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testOutlinedThemedChipWithAccessoryViewRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testOutlinedThemedChipWithImageAndAccessoryViewLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testOutlinedThemedChipWithImageAndAccessoryViewRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testOutlinedThemedChipWithImageLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testOutlinedThemedChipWithImageRTL_11_2@2x.png
Labels: [Chips], cla: yes, type:Test

#9102 [MDCFloatingButton] Remove MDCFloatingButtonShapeThemer from theming extension
  components/Buttons/src/Theming/MDCFloatingButton+MaterialTheming.m
Labels: [Buttons], cla: yes

#9101 [MDCFloatingButton] Deprecate MDCFloatingButtonShapeThemer
  components/Buttons/src/ShapeThemer/MDCFloatingButtonShapeThemer.h
Labels: [Buttons], cla: yes

#9144 [Tabs] Disable Ripple while scrolling TabBarView
  components/Tabs/src/TabBarView/MDCTabBarView.m
Labels: [Tabs], cla: yes, type:Bug

#9141 [Cards] Migrate MDCCardsColorThemer to theming extensions
  MaterialComponents.podspec
  components/Cards/BUILD
  components/Cards/src/Theming/MDCCard+MaterialTheming.m
  components/Cards/src/Theming/MDCCardCollectionCell+MaterialTheming.m
  components/Cards/tests/unit/Theming/CardsMaterialThemingTests.swift
Labels: [Cards], cla: yes

#9148 [Snackbar] Adds elementToFocusOnDismiss to MDCSnackbar
  components/Snackbar/src/MDCSnackbarMessage.h
  components/Snackbar/src/MDCSnackbarMessage.m
  components/Snackbar/src/MDCSnackbarMessageView.m
Labels: [Snackbar], cla: yes

#9115 [FeatureHighlight] deprecate MDCFeatureHighlightFontThemer
  components/FeatureHighlight/src/FontThemer/MDCFeatureHighlightFontThemer.h
Labels: [FeatureHighlight], cla: yes

#9127 [ActionSheet] Deprecate MDCActionSheetAction inkColor
  components/ActionSheet/examples/ActionSheetTypicalUseExampleViewController.m
  components/ActionSheet/src/ColorThemer/MDCActionSheetColorThemer.m
  components/ActionSheet/src/MDCActionSheetController.h
  components/ActionSheet/src/MDCActionSheetController.m
  components/ActionSheet/src/Theming/MDCActionSheetController+MaterialTheming.m
  components/ActionSheet/tests/unit/ActionSheetRippleTests.m
Labels: [ActionSheet], cla: yes

#9145 [List] Remove usage of MDCListColorThemer before deprecating it.
  components/List/src/Theming/MDCBaseCell+MaterialTheming.m
  components/List/src/Theming/MDCSelfSizingStereoCell+MaterialTheming.m
Labels: [List], cla: yes

#9056 [Snackbar] Delete snackbarMessageViewTextColor
  components/Snackbar/src/MDCSnackbarMessageView.h
  components/Snackbar/src/MDCSnackbarMessageView.m
Labels: [Snackbar], cla: yes

#9142 [BottomNavigation] Migrate MDCBottomNavigationBarColorThemer use to theming extension
  components/BottomNavigation/BUILD
  components/BottomNavigation/examples/BottomNavigationBarControllerExampleViewController.swift
  components/BottomNavigation/examples/BottomNavigationBlurExample.m
  components/BottomNavigation/examples/BottomNavigationExplicitlySetColorExample.swift
  components/BottomNavigation/examples/BottomNavigationResetButtons.swift
  components/BottomNavigation/examples/BottomNavigationSelectedIconExample.swift
  components/BottomNavigation/examples/BottomNavigationTitleVisibilityChangeExample.swift
  components/BottomNavigation/examples/BottomNavigationTypicalUseExample.m
  components/BottomNavigation/examples/BottomNavigationTypicalUseExample.swift
  components/BottomNavigation/examples/supplemental/BottomNavigationTypicalUseSupplemental.h
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationBarSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testCustomColorScheme_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testMaterialBaselineTheme_11_2@2x.png
Labels: [BottomNavigation], cla: yes

#9149 [Chips] Remove Themer references from README
  components/Chips/README.md
  components/Chips/docs/README.md
  components/Chips/docs/color-theming.md
  components/Chips/docs/shape-theming.md
  components/Chips/docs/typography-theming.md
Labels: [Chips], cla: yes

#9151 [TextFields] Remove references to MDCTextFieldColorThemer from README
  components/TextFields/README.md
  components/TextFields/docs/color-theming.md
Labels: [TextFields], cla: yes

#9154 [Dialogs] Snapshot tests for long action titles.
  components/Dialogs/tests/snapshot/MDCAlertControllerSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCAlertControllerSnapshotTests/testAlertWithLongButtonTitlesLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerSnapshotTests/testAlertWithLongButtonTitlesRTL_11_2@2x.png
Labels: [Dialogs], cla: yes, type:Test

#9156 [BottomNavigation] Deprecate MDCBottomNavigationTypography themer and update docs
  components/BottomNavigation/README.md
  components/BottomNavigation/docs/README.md
  components/BottomNavigation/docs/color-theming.md
  components/BottomNavigation/docs/theming.md
  components/BottomNavigation/docs/typography-theming.md
  components/BottomNavigation/src/TypographyThemer/MDCBottomNavigationBarTypographyThemer.h
  components/BottomNavigation/src/TypographyThemer/MDCBottomNavigationBarTypographyThemer.m
Labels: [BottomNavigation], cla: yes

#9153 Update README for MDCPageControlColorThemer
  components/PageControl/README.md
  components/PageControl/docs/color-theming.md
Labels: [PageControl], cla: yes

#9152 [Snackbar] Deprecate MDCSnackbarColorThemer
  components/Snackbar/README.md
  components/Snackbar/docs/color-theming.md
  components/Snackbar/examples/supplemental/SnackbarExampleSupplemental.m
  components/Snackbar/src/ColorThemer/MDCSnackbarColorThemer.h
  components/Snackbar/src/ColorThemer/MDCSnackbarColorThemer.m
Labels: [Snackbar], cla: yes

#9157 [Chips] Add chipFieldShouldBeginEditing method to MDCChipFieldDelegate
  components/Chips/src/MDCChipField.h
  components/Chips/src/MDCChipField.m
  components/Chips/tests/unit/ChipsDelegateTests.m
Labels: [Chips], cla: yes

#9113 [Ink] Deprecate MDCInkColorThemer
  components/Ink/src/ColorThemer/MDCInkColorThemer.h
  components/Ink/src/ColorThemer/MDCInkColorThemer.m
Labels: [Ink], cla: yes

#9155 [ButtonBar] Deprecate MDCButtonBarColorThemer
  components/ButtonBar/README.md
  components/ButtonBar/docs/README.md
  components/ButtonBar/docs/color-theming.md
  components/ButtonBar/docs/theming.md
  components/ButtonBar/docs/typography-theming.md
  components/ButtonBar/src/ColorThemer/MDCButtonBarColorThemer.h
  components/ButtonBar/src/ColorThemer/MDCButtonBarColorThemer.m
Labels: [ButtonBar], cla: yes

#9163 [Cards] Delete old Cards docs
  components/Cards/README.md
  components/Cards/docs/color-theming.md
Labels: [Cards], cla: yes

#9054 [Cards] Deprecate MDCCardThemer
  components/Cards/src/CardThemer/MDCCardScheme.h
  components/Cards/src/CardThemer/MDCCardScheme.m
  components/Cards/src/CardThemer/MDCCardThemer.h
  components/Cards/src/CardThemer/MDCCardThemer.m
  components/Cards/src/ColorThemer/MDCCardsColorThemer.m
Labels: [Cards], [Snackbar], cla: yes

#9166 [BottomAppBar] Delete deprecated MDCBottomAppBarColorThemer
  MaterialComponents.podspec
  components/BottomAppBar/BUILD
  components/BottomAppBar/README.md
  components/BottomAppBar/docs/color-theming.md
  components/BottomAppBar/examples/BottomAppBarTypicalUseExample.m
  components/BottomAppBar/examples/BottomAppBarTypicalUseExample.swift
  components/BottomAppBar/src/ColorThemer/MDCBottomAppBarColorThemer.h
  components/BottomAppBar/src/ColorThemer/MDCBottomAppBarColorThemer.m
  components/BottomAppBar/src/ColorThemer/MaterialBottomAppBar+ColorThemer.h
  components/BottomAppBar/tests/unit/BottomAppBarColorThemerTests.m
  components/NavigationDrawer/BUILD
  components/NavigationDrawer/examples/BottomDrawerExpandFullscreenExample.swift
  components/NavigationDrawer/examples/BottomDrawerInfiniteScrollingExample.swift
  components/NavigationDrawer/examples/BottomDrawerNoHeaderExample.swift
  components/NavigationDrawer/examples/BottomDrawerNoHeaderLessContentExample.swift
  components/NavigationDrawer/examples/BottomDrawerWithChangingContentSize.swift
  components/NavigationDrawer/examples/BottomDrawerWithHeaderExample.swift
  components/NavigationDrawer/examples/BottomDrawerWithHeaderLessContentExample.swift
  components/NavigationDrawer/examples/BottomDrawerWithScrollableContentExample.swift
Labels: [BottomAppBar], [NavigationDrawer], cla: yes

#9171 [Dialogs] Revert Set dialog message accessibilityFrame based on visible message text (#8786)
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Labels: [Dialogs], cla: yes

#9169 [TextFields] Deprecate MDCTextFieldFontThemer
  components/TextFields/src/FontThemer/MDCTextFieldFontThemer.h
  components/TextFields/src/FontThemer/MDCTextFieldFontThemer.m
Labels: [TextFields], cla: yes

#9173 [Banner] Add a Swift example.
  components/Banner/BUILD
  components/Banner/examples/BannerAutolayoutSwiftExampleViewController.swift
Labels: [Banner], cla: yes

#9167 [Chips] Fix calculation of accessory frame.
  components/Chips/src/MDCChipView.m
  components/Chips/tests/snapshot/MDCChipViewSnapshotTests.m
  components/Chips/tests/unit/MDCChipViewTests.m
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testDefaultChipWithAccessoryViewAndNegativeBottomRightAccessoryPaddingLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testDefaultChipWithAccessoryViewAndNegativeBottomRightAccessoryPaddingRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testDefaultChipWithAccessoryViewAndNegativeTopLeftAccessoryPaddingLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testDefaultChipWithAccessoryViewAndNegativeTopLeftAccessoryPaddingRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testDefaultChipWithAccessoryViewAndPositiveBottomRightAccessoryPaddingLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testDefaultChipWithAccessoryViewAndPositiveBottomRightAccessoryPaddingRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testDefaultChipWithAccessoryViewAndPositiveTopLeftAccessoryPaddingLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testDefaultChipWithAccessoryViewAndPositiveTopLeftAccessoryPaddingRTL_11_2@2x.png
Labels: [Chips], cla: yes, type:Bug, type:Test

#9170 [TextFields] Don't use MDCTextFieldTypographyThemer
  components/TextFields/BUILD
  components/TextFields/examples/TextFieldFilledExample.swift
  components/TextFields/examples/TextFieldOutlinedExample.m
  components/TextFields/examples/TextFieldOutlinedExample.swift
  components/TextFields/examples/TextFieldSemanticColorThemer.swift
  components/TextFields/src/Theming/MDCTextInputControllerFilled+MaterialTheming.m
  components/TextFields/src/Theming/MDCTextInputControllerOutlined+MaterialTheming.m
Labels: [TextFields], cla: yes

#9192 [Catalog] Fix container scheme properties.
  components/AppBar/examples/AppBarPresentedExample.m
  components/Banner/examples/AppBarBannerExample.m
  components/Banner/examples/BannerAutolayoutExampleViewController.m
  components/Banner/examples/BannerTypicalUseExampleViewController.m
  components/Buttons/examples/ButtonsContentEdgeInsetsExample.m
  components/Buttons/examples/FloatingButtonExampleViewController.m
  components/Dialogs/examples/DialogsRoundedCornerExampleViewController.m
  components/FeatureHighlight/examples/supplemental/FeatureHighlightExampleSupplemental.h
  components/ProgressView/examples/ProgressViewPillExample.m
  components/schemes/Shape/examples/MDCShapeSchemeExampleViewController.m
Labels: "Scout" Work, [AppBar], [Banner], [Buttons], [Catalog], [Dialogs], [FeatureHighlight], [ProgressView], [schemes], app:Catalog, cla: yes, type:Internal cleanup, type:Polish

#9197 [Cards] Delete Themer classes
  components/Cards/src/CardThemer/MDCCardScheme.h
  components/Cards/src/CardThemer/MDCCardScheme.m
  components/Cards/src/CardThemer/MDCCardThemer.h
  components/Cards/src/CardThemer/MDCCardThemer.m
  components/Cards/src/CardThemer/MaterialCards+CardThemer.h
  components/Cards/src/ColorThemer/MDCCardsColorThemer.h
  components/Cards/src/ColorThemer/MDCCardsColorThemer.m
  components/Cards/src/ColorThemer/MaterialCards+ColorThemer.h
  components/Cards/src/ShapeThemer/MDCCardsShapeThemer.h
  components/Cards/src/ShapeThemer/MDCCardsShapeThemer.m
  components/Cards/src/ShapeThemer/MaterialCards+ShapeThemer.h
  components/Cards/tests/unit/MDCCardColorThemerTests.swift
  components/Cards/tests/unit/MDCCardShapeThemerTests.swift
  components/schemes/Shape/examples/MDCShapeSchemeExampleViewController.m
Labels: [schemes], cla: yes

#9143 [Dialogs] Limit Action Button width
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
  snapshot_test_goldens/goldens_64/MDCAlertControllerSnapshotTests/testAlertWithLongButtonTitlesLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerSnapshotTests/testAlertWithLongButtonTitlesRTL_11_2@2x.png
Labels: [Dialogs], cla: yes

#9198 [BottomNavigation] Delete MDCBottomNavigationBarColorThemer
  MaterialComponents.podspec
  components/BottomNavigation/BUILD
  components/BottomNavigation/src/ColorThemer/MDCBottomNavigationBarColorThemer.h
  components/BottomNavigation/src/ColorThemer/MDCBottomNavigationBarColorThemer.m
  components/BottomNavigation/src/ColorThemer/MaterialBottomNavigation+ColorThemer.h
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationBarAlignmentSnapshotTests.m
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationBarBlurEffectSnapshotTests.m
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationBarTitleLayoutSnapshotTests.m
  components/BottomNavigation/tests/unit/BottomNavigationBarColorThemerTests.m
Labels: [BottomNavigation], [NavigationDrawer], cla: yes

#9193 [Chips] Fix padding for Material theming.
  components/Chips/src/Theming/MDCChipView+MaterialTheming.m
  snapshot_test_goldens/goldens_64/MDCChipViewCustomTraitCollectionSnapshotTests/testPreferredFontForAXXXLContentSizeCategory_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewCustomTraitCollectionSnapshotTests/testPreferredFontForXSContentSizeCategory_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testBaselineChipWithDisabledState_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testBaselineChipWithHighlightedAndSelectedState_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testBaselineChipWithHighlightedState_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testBaselineChipWithRippleEnabledInDisabledState_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testBaselineChipWithRippleEnabledInHighlightedAndSelectedState_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testBaselineChipWithRippleEnabledInHighlightedState_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testBaselineChipWithRippleEnabledInSelectedState_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testBaselineChipWithSelectedState_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testBaselineThemedChipWithAccessoryViewLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testBaselineThemedChipWithAccessoryViewRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testBaselineThemedChipWithImageAndAccessoryViewLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testBaselineThemedChipWithImageAndAccessoryViewRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testBaselineThemedChipWithImageLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testBaselineThemedChipWithImageRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testBaselineThemedChip_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testOutlinedChipWithDisabledState_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testOutlinedChipWithHighlightedAndSelectedState_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testOutlinedChipWithHighlightedState_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testOutlinedChipWithRippleEnabledInDisabledState_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testOutlinedChipWithRippleEnabledInHighlightedAndSelectedState_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testOutlinedChipWithRippleEnabledInHighlightedState_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testOutlinedChipWithRippleEnabledInSelectedState_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testOutlinedChipWithSelectedState_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testOutlinedThemedChipWithAccessoryViewLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testOutlinedThemedChipWithAccessoryViewRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testOutlinedThemedChipWithImageAndAccessoryViewLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testOutlinedThemedChipWithImageAndAccessoryViewRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testOutlinedThemedChipWithImageLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testOutlinedThemedChipWithImageRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewSnapshotTests/testOutlinedThemedChip_11_2@2x.png
Labels: PR:screenshot-breaking, [Chips], cla: yes

#9200 [Tabs] Remove MDCTabBarColorThemer
  MaterialComponents.podspec
  components/Tabs/BUILD
  components/Tabs/src/ColorThemer/MDCTabBarColorThemer.h
  components/Tabs/src/ColorThemer/MDCTabBarColorThemer.m
  components/Tabs/src/ColorThemer/MaterialTabs+ColorThemer.h
  components/Tabs/tests/unit/MDCTabBarColorThemerTests.m
Labels: [Tabs], cla: yes

#9202 [PageControl] Delete MDCPageControlColorThemer
  MaterialComponents.podspec
  components/PageControl/BUILD
  components/PageControl/src/ColorThemer/MDCPageControlColorThemer.h
  components/PageControl/src/ColorThemer/MDCPageControlColorThemer.m
  components/PageControl/src/ColorThemer/MaterialPageControl+ColorThemer.h
Labels: [PageControl], cla: yes

#9201 [Tabs] Delete MDCTabBarFontThemer
  MaterialComponents.podspec
  components/Tabs/BUILD
  components/Tabs/src/FontThemer/MDCTabBarFontThemer.h
  components/Tabs/src/FontThemer/MDCTabBarFontThemer.m
  components/Tabs/src/FontThemer/MaterialTabs+FontThemer.h
  components/Tabs/tests/unit/MDCTabBarFontThemerTests.m
Labels: [Tabs], cla: yes

#9203 [ProgressView] Deprecate MDCProgressViewColorThemer
  components/ProgressView/src/ColorThemer/MDCProgressViewColorThemer.h
  components/ProgressView/src/ColorThemer/MDCProgressViewColorThemer.m
Labels: [ProgressView], cla: yes

#9205 Deprecate MDCBottomDrawerColorThemer
  components/NavigationDrawer/src/ColorThemer/MDCBottomDrawerColorThemer.h
  components/NavigationDrawer/src/ColorThemer/MDCBottomDrawerColorThemer.m
Labels: [NavigationDrawer], cla: yes

#9187 [List] Removing MDCListThemer
  MaterialComponents.podspec
  components/List/BUILD
  components/List/examples/MDCSelfSizingStereoCellExample.m
  components/List/src/ListThemer/MDCListScheme.h
  components/List/src/ListThemer/MDCListScheme.m
  components/List/src/ListThemer/MDCListThemer.h
  components/List/src/ListThemer/MDCListThemer.m
  components/List/src/ListThemer/MaterialList+ListThemer.h
  components/List/tests/unit/MDCListThemerTest.m
Labels: [List], cla: yes

#9204 [NavigationDrawer] Don't use MDCBottomDrawerColorThemer
  components/NavigationDrawer/examples/BottomDrawerExpandFullscreenExample.swift
  components/NavigationDrawer/examples/BottomDrawerInfiniteScrollingExample.swift
  components/NavigationDrawer/examples/BottomDrawerWithChangingContentSize.swift
  components/NavigationDrawer/examples/BottomDrawerWithHeaderExample.swift
  components/NavigationDrawer/examples/BottomDrawerWithScrollableContentExample.swift
Labels: [NavigationDrawer], cla: yes

#9175 [TextFields] Deprecate MDCTextFieldTypographyThemer
  components/TextFields/src/TypographyThemer/MDCTextFieldTypographyThemer.h
  components/TextFields/src/TypographyThemer/MDCTextFieldTypographyThemer.m
Labels: [TextFields], cla: yes

#9223 [TextFields] Update MDCTextInputControllerOutlined theming extension to not use color themer
  components/TextFields/src/Theming/MDCTextInputControllerOutlined+MaterialTheming.m
Labels: [TextFields], cla: yes

#9224 [FeatureHighlight] Don't use MDCFeatureHighlightTypographyThemer in examples
  components/FeatureHighlight/BUILD
  components/FeatureHighlight/examples/FeatureHighlightShownViewExample.m
  components/FeatureHighlight/examples/FeatureHighlightTypicalUseViewController.m
  components/FeatureHighlight/examples/FeatureHightlightTypicalUseViewController.swift
Labels: [FeatureHighlight], cla: yes

#9225 [FeatureHighlight] Deprecate MDCFeatureHighlightTypographyThemer
  components/FeatureHighlight/src/TypographyThemer/MDCFeatureHighlightTypographyThemer.h
  components/FeatureHighlight/src/TypographyThemer/MDCFeatureHighlightTypographyThemer.m
Labels: [FeatureHighlight], cla: yes

#9215 [TextFields] deprecate MDCOutlinedTextFieldColorThemer
  components/TextFields/src/ColorThemer/MDCOutlinedTextFieldColorThemer.h
  components/TextFields/src/ColorThemer/MDCOutlinedTextFieldColorThemer.m
Labels: [TextFields], cla: yes

#9179 [Buttons] Deprecate MDCButtonColorThemer
  components/Buttons/src/ColorThemer/MDCButtonColorThemer.h
Labels: [Buttons], cla: yes

#9180 [Buttons] Deprecating MDCContainedButtonThemer
  components/Buttons/src/ButtonThemer/MDCContainedButtonThemer.h
Labels: [Buttons], cla: yes

#9227 [Snackbar] Delete MDCSnackbarColorThemer
  MaterialComponents.podspec
  components/Snackbar/BUILD
  components/Snackbar/examples/supplemental/SnackbarExampleSupplemental.m
  components/Snackbar/src/ColorThemer/MDCSnackbarColorThemer.h
  components/Snackbar/src/ColorThemer/MDCSnackbarColorThemer.m
  components/Snackbar/src/ColorThemer/MaterialSnackbar+ColorThemer.h
  components/Snackbar/tests/unit/MDCSnackbarColorThemerSingletonTests.m
  components/Snackbar/tests/unit/MDCSnackbarColorThemerTests.m
Labels: [Snackbar], cla: yes

#9226 [TextFields] Delete MDCTextFieldFontThemer
  MaterialComponents.podspec
  components/TextFields/BUILD
  components/TextFields/src/FontThemer/MDCTextFieldFontThemer.h
  components/TextFields/src/FontThemer/MDCTextFieldFontThemer.m
  components/TextFields/src/FontThemer/MaterialTextFields+FontThemer.h
  components/TextFields/tests/unit/TextFieldsFontThemerTests.m
Labels: [TextFields], cla: yes

#9228 [Ink] Delete MDCInkColorThemer
  MaterialComponents.podspec
  components/Ink/BUILD
  components/Ink/src/ColorThemer/MDCInkColorThemer.h
  components/Ink/src/ColorThemer/MDCInkColorThemer.m
  components/Ink/src/ColorThemer/MaterialInk+ColorThemer.h
Labels: [Ink], cla: yes

#9182 [Buttons] Deprecate MDCTextButtonThemer
  components/Buttons/src/ButtonThemer/MDCTextButtonThemer.h
Labels: [Buttons], cla: yes

#9183 [Buttons] Deprecate MDCFloatingActionButtonThemer
  components/Buttons/src/ButtonThemer/MDCFloatingActionButtonThemer.h
Labels: [Buttons], cla: yes

#9184 [Buttons] Deprecating MDCButtonShapeThemer
  components/Buttons/src/ShapeThemer/MDCButtonShapeThemer.h
Labels: [Buttons], cla: yes

#9186 [Buttons] Deprecating MDCButtonScheme
  components/Buttons/src/ButtonThemer/MDCButtonScheme.h
Labels: [Buttons], cla: yes

#9181 [Buttons] Deprecate MDCOutlinedButtonThemer
  components/Buttons/src/ButtonThemer/MDCOutlinedButtonThemer.h
Labels: [Buttons], cla: yes

#9230 [FeatureHighlight] Delete MDCFeatureHighlightFontThemer
  MaterialComponents.podspec
  components/FeatureHighlight/BUILD
  components/FeatureHighlight/src/FontThemer/MDCFeatureHighlightFontThemer.h
  components/FeatureHighlight/src/FontThemer/MDCFeatureHighlightFontThemer.m
  components/FeatureHighlight/src/FontThemer/MaterialFeatureHighlight+FontThemer.h
Labels: [FeatureHighlight], cla: yes

#9232 [private] delete-thumbMaxRippleRadius
  components/private/ThumbTrack/src/MDCThumbTrack.h
Labels: [private], cla: yes

#9231 [ProgressView] Delete MDCProgressViewColorThemer
  MaterialComponents.podspec
  components/ProgressView/BUILD
  components/ProgressView/README.md
  components/ProgressView/docs/README.md
  components/ProgressView/docs/color-theming.md
  components/ProgressView/src/ColorThemer/MDCProgressViewColorThemer.h
  components/ProgressView/src/ColorThemer/MDCProgressViewColorThemer.m
  components/ProgressView/src/ColorThemer/MaterialProgressView+ColorThemer.h
Labels: [ProgressView], cla: yes

#9218 [Banner] Fix height when no action button shows.
  components/Banner/src/MDCBannerView.m
  snapshot_test_goldens/goldens_64/MDCBannerViewSnapshotTests/testShortTextWithNoAction_11_2@2x.png
Labels: [Banner], cla: yes

#9233 [Tabs] Fix examples.
  components/Tabs/examples/TabBarIconExample.m
  components/Tabs/examples/TabBarInterfaceBuilderExample.m
  components/Tabs/examples/TabBarTextOnlyExample.m
  components/Tabs/examples/supplemental/TabBarIconExampleSupplemental.h
  components/Tabs/examples/supplemental/TabBarIconExampleSupplemental.m
Labels: Crasher, PR:delete-branch-when-merged, PR:merge-when-approved, [Tabs], cla: yes, type:Polish

#9235 [ButtonBar] Delete MDCButtonBarColorThemer
  MaterialComponents.podspec
  components/ButtonBar/BUILD
  components/ButtonBar/src/ColorThemer/MDCButtonBarColorThemer.h
  components/ButtonBar/src/ColorThemer/MDCButtonBarColorThemer.m
  components/ButtonBar/src/ColorThemer/MaterialButtonBar+ColorThemer.h
Labels: [ButtonBar], cla: yes

#9237 [ActionSheet] Remove equality check when setting rippleColor to prevent crashes stemming from CIColor
  components/ActionSheet/src/MDCActionSheetController.m
  components/ActionSheet/tests/unit/MDCActionSheetTableCellTest.m
Labels: [ActionSheet], cla: yes

#9238 [ActionSheet] Delete inkColor and enableRippleBehavior properties
  components/ActionSheet/src/ColorThemer/MDCActionSheetColorThemer.m
  components/ActionSheet/src/MDCActionSheetController.h
  components/ActionSheet/src/MDCActionSheetController.m
  components/ActionSheet/src/Theming/MDCActionSheetController+MaterialTheming.m
  components/ActionSheet/tests/unit/ActionSheetRippleTests.m
  components/ActionSheet/tests/unit/ActionSheetThemer/MDCActionSheetThemeTest.m
  components/ActionSheet/tests/unit/MDCActionSheetTableCellTest.m
  components/ActionSheet/tests/unit/Theming/MDCActionSheetThemingTest.m
Labels: [ActionSheet], cla: yes

#9240 [ActionSheet] Delete inkColor and enableRippleBehavior from MDCActionSheetItemTableViewCell
  components/ActionSheet/src/MDCActionSheetController.m
  components/ActionSheet/src/private/MDCActionSheetItemTableViewCell.h
  components/ActionSheet/src/private/MDCActionSheetItemTableViewCell.m
  components/ActionSheet/tests/unit/ActionSheetRippleTests.m
  components/ActionSheet/tests/unit/MDCActionSheetTableCellTest.m
Labels: [ActionSheet], cla: yes

#9244 Update Themer migration guide in README
  docs/theming.md
Labels: cla: yes

#9234 [BottomNavigation] delete-MDCBottomNavigationBarTypographyThemer
  MaterialComponents.podspec
  components/BottomNavigation/BUILD
  components/BottomNavigation/src/TypographyThemer/MDCBottomNavigationBarTypographyThemer.h
  components/BottomNavigation/src/TypographyThemer/MDCBottomNavigationBarTypographyThemer.m
  components/BottomNavigation/src/TypographyThemer/MaterialBottomNavigation+TypographyThemer.h
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationBarAlignmentSnapshotTests.m
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationBarBlurEffectSnapshotTests.m
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationBarTitleLayoutSnapshotTests.m
  components/BottomNavigation/tests/unit/BottomNavigationTypographyThemerTests.m
Labels: [BottomNavigation], cla: yes

#9245 Update Themer examples to use non-deleted themer
  docs/theming.md
Labels: cla: yes

#9206 [NavigationDrawer] allow trackingScrollView to be resettable
  components/NavigationDrawer/examples/BottomDrawerSwappingScrollViewsExample.swift
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.m
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
  components/NavigationDrawer/tests/unit/MDCNavigationDrawerScrollViewTests.m
Labels: [NavigationDrawer], cla: yes

#9251 [NavigationDrawer] Resolve runtime warning from example in iOS 13
  components/NavigationDrawer/examples/BottomDrawerExpandFullscreenExample.swift
Labels: [NavigationDrawer], cla: yes

#9246 [Tabs] Add Swift example for MDCTabBarView
  catalog/MDCCatalog.xcodeproj/project.pbxproj
  components/Tabs/BUILD
  components/Tabs/examples/TabBarViewExample.swift
Labels: [Catalog], [Tabs], cla: yes

#9248 [Banner] Update Readme to remove Beta related information.
  components/Banner/README.md
  components/Banner/docs/README.md
  components/Banner/docs/installation.md
Labels: [Banner], cla: yes

#9189 [List] Remove usage of MDCListTypographyThemer within Theming Extension for Stereo Cell
  components/List/BUILD
  components/List/src/Theming/MDCSelfSizingStereoCell+MaterialTheming.m
Labels: [List], cla: yes

#9254 [Ink] Fix issue with unbounded ink
  components/Ink/src/MDCInkView.m
Labels: [Ink], cla: yes

#9252 [Chips] Tests to evaluate `padding` APIs.
  components/Chips/tests/snapshot/MDCChipViewLayoutSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipAccessoryPaddingAllNegativeValuesLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipAccessoryPaddingAllNegativeValuesRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipAccessoryPaddingAllPositiveValuesLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipAccessoryPaddingAllPositiveValuesRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipAccessoryPaddingShiftDown_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipAccessoryPaddingShiftToLeadingEdgeLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipAccessoryPaddingShiftToLeadingEdgeRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipAccessoryPaddingShiftToTrailingEdgeLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipAccessoryPaddingShiftToTrailingEdgeRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipAccessoryPaddingShiftUp_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipContentPaddingAllNegativeValuesLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipContentPaddingAllNegativeValuesRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipContentPaddingAllPositiveValuesLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipContentPaddingAllPositiveValuesRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipContentPaddingShiftDown_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipContentPaddingShiftToLeadingEdgeLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipContentPaddingShiftToLeadingEdgeRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipContentPaddingShiftToTrailingEdgeLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipContentPaddingShiftToTrailingEdgeRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipContentPaddingShiftUp_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipImagePaddingAllNegativeValuesLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipImagePaddingAllNegativeValuesRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipImagePaddingAllPositiveValuesLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipImagePaddingAllPositiveValuesRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipImagePaddingShiftDown_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipImagePaddingShiftToLeadingEdgeLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipImagePaddingShiftToLeadingEdgeRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipImagePaddingShiftToTrailingEdgeLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipImagePaddingShiftToTrailingEdgeRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipImagePaddingShiftUp_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipTitlePaddingAllNegativeValuesLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipTitlePaddingAllNegativeValuesRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipTitlePaddingAllPositiveValuesLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipTitlePaddingAllPositiveValuesRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipTitlePaddingShiftDown_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipTitlePaddingShiftToLeadingEdgeLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipTitlePaddingShiftToLeadingEdgeRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipTitlePaddingShiftToTrailingEdgeLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipTitlePaddingShiftToTrailingEdgeRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipTitlePaddingShiftUp_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipWithAllZeroPadding_11_2@2x.png
Labels: [Chips], [Snapshot], cla: yes, type:Test

#9264 [Chips] Fix `contentPadding` API.
  components/Chips/src/MDCChipView.m
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipContentPaddingAllNegativeValuesLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipContentPaddingAllNegativeValuesRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipContentPaddingAllPositiveValuesLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipContentPaddingAllPositiveValuesRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipContentPaddingShiftDown_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipContentPaddingShiftUp_11_2@2x.png
Labels: [Chips], cla: yes, type:Bug

#9266 [Chips] Add snapshot tests for selectedImage layout.
  components/Chips/tests/snapshot/MDCChipViewLayoutSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testSelectedChipImagePaddingAllPositiveValuesForLargeSelectedImageLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testSelectedChipImagePaddingAllPositiveValuesForOnlySelectedImageLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testUnselectedChipImagePaddingAllNegativeValuesLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testUnselectedChipImagePaddingAllNegativeValuesRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testUnselectedChipImagePaddingAllPositiveValuesForLargeSelectedImageLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testUnselectedChipImagePaddingAllPositiveValuesForOnlySelectedImageLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testUnselectedChipImagePaddingAllPositiveValuesLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testUnselectedChipImagePaddingAllPositiveValuesRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testUnselectedChipImagePaddingShiftDown_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testUnselectedChipImagePaddingShiftToLeadingEdgeLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testUnselectedChipImagePaddingShiftToLeadingEdgeRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testUnselectedChipImagePaddingShiftToTrailingEdgeLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testUnselectedChipImagePaddingShiftToTrailingEdgeRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testUnselectedChipImagePaddingShiftUp_11_2@2x.png
Labels: [Chips], cla: yes, type:Test

#9268 [Cards] Removed podspec for card themer because it was removed in #9197
  MaterialComponents.podspec
Labels: [Cards], cla: yes

#9260 [BottomNavigation] Use NotoNastaliq for Arabic/RTL tests.
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationBarAlignmentSnapshotTests.m
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationBarSnapshotTests.m
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationBarTitleLayoutSnapshotTests.m
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationItemViewSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarAlignmentSnapshotTests/testCenteredAlignmentWithCompactHorizontalSizeClassInRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarAlignmentSnapshotTests/testCenteredAlignmentWithRegularHorizontalSizeClassInRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarAlignmentSnapshotTests/testCenteredAlignmentWithUnspecifiedHorizontalSizeClassInRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarAlignmentSnapshotTests/testJustifiedAdjacentAlignmentWithCompactHorizontalSizeClassInRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarAlignmentSnapshotTests/testJustifiedAdjacentAlignmentWithRegularHorizontalSizeClassInRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarAlignmentSnapshotTests/testJustifiedAdjacentAlignmentWithUnspecifiedHorizontalSizeClassInRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarAlignmentSnapshotTests/testJustifiedAlignmentWithCompactHorizontalSizeClassInRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarAlignmentSnapshotTests/testJustifiedAlignmentWithRegularHorizontalSizeClassInRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarAlignmentSnapshotTests/testJustifiedAlignmentWithUnspecifiedHorizontalSizeClassInRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedUnspecifiedAlwaysFiveItemsNarrowWidthShortHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedUnspecifiedAlwaysFiveItemsWideWidthTallHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testTitlePositionAdjustmentJustifiedAdjacentCompactRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testTitlePositionAdjustmentJustifiedAdjacentRegularRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarTitleLayoutSnapshotTests/testCenteredUnspecifiedAlwaysWithFiveLongTitleItemsUnboundiPadWidthTypicalHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarTitleLayoutSnapshotTests/testCenteredUnspecifiedAlwaysWithFiveLongTitleItemsWrappediPadWidthTypicalHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarTitleLayoutSnapshotTests/testCenteredUnspecifiedAlwaysWithFiveLongTitleItemsiPadWidthTypicalHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarTitleLayoutSnapshotTests/testJustifiedAdjacentRegularAlwaysWithFiveLongTitleItemsUnboundiPadWidthTypicalHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarTitleLayoutSnapshotTests/testJustifiedAdjacentRegularAlwaysWithFiveLongTitleItemsWrappediPadWidthTypicalHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarTitleLayoutSnapshotTests/testJustifiedAdjacentRegularAlwaysWithFiveLongTitleItemsiPadWidthTypicalHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarTitleLayoutSnapshotTests/testJustifiedUnspecifiedAlwaysWithFiveLongTitleItemsUnboundiPadWidthTypicalHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarTitleLayoutSnapshotTests/testJustifiedUnspecifiedAlwaysWithFiveLongTitleItemsiPadWidthTypicalHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarTitleLayoutSnapshotTests/testJustifiedUnspecifiedAlwaysWithThreeItemsTypicalWidthTypicalHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarTitleLayoutSnapshotTests/testJustifiedUnspecifiedSelectedWithThreeItemsTypicalWidthTypicalHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testMaximumWidthTypicalHeightLongTitleEmptyBadgeStackedRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testMaximumWidthTypicalHeightLongTitleSingleBadgeAdjacentRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testMinimumWidthTypicalHeightLongTitleEmptyBadgeAdjacentRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testMinimumWidthTypicalHeightLongTitleMaxBadgeStackedRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testNarrowWidthTypicalHeightFitTitleManyLinesEmptyBadgeStackedRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testNarrowWidthTypicalHeightLongTitleEmptyBadgeStackedRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testNarrowWidthTypicalHeightLongTitleManyLinesEmptyBadgeStackedRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testNarrowWidthTypicalHeightLongTitleManyLinesSingleBadgeAdjacentRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testNarrowWidthTypicalHeightLongTitleSingleBadgeAdjacentRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testTypicalWidthShortHeightLongTitleEmptyBadgeStackedRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testTypicalWidthShortHeightLongTitleSingleBadgeAdjacentRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testTypicalWidthTallHeightLongTitleEmptyBadgeAdjacentRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testTypicalWidthTallHeightLongTitleMaxBadgeStackedRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testTypicalWidthTypicalHeightLongTitleManyLinesMaxBadgeAdjacentRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testTypicalWidthTypicalHeightLongTitleManyLinesSingleBadgeStackedRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testTypicalWidthTypicalHeightLongTitleMaxBadgeAdjacentRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testTypicalWidthTypicalHeightLongTitleSingleBadgeStackedRTL_11_2@2x.png
Labels: [BottomNavigation], cla: yes, skill:RTL

#9261 [Cards] Remove references to Themer from README
  components/Cards/README.md
  components/Cards/docs/shape-theming.md
Labels: [Cards], cla: yes

#9221 Release cut adjustment to generated change log
  contributing/releasing.md
  scripts/release
Labels: cla: yes

#9269 [List] Deprecate MDCListTypographyThemer
  components/List/src/TypographyThemer/MDCListTypographyThemer.h
  components/List/src/TypographyThemer/MDCListTypographyThemer.m
Labels: [List], cla: yes

#9265 [List] Deprecae MDCListColorThemer
  components/List/src/ColorThemer/MDCListColorThemer.h
  components/List/src/ColorThemer/MDCListColorThemer.m
Labels: [List], cla: yes

#9278 [Tabs] Removed build file dep for TabFontThemer that was deleted
  components/Tabs/BUILD
Labels: [Tabs], cla: yes

#9281 [FlexibleHeader] Deprecate MDCFlexibleHeaderColorThemer
  components/AppBar/src/ColorThemer/MDCAppBarColorThemer.m
  components/FlexibleHeader/src/ColorThemer/MDCFlexibleHeaderColorThemer.h
  components/FlexibleHeader/src/ColorThemer/MDCFlexibleHeaderColorThemer.m
Labels: [AppBar], [FlexibleHeader], cla: yes

#9282 [FlexibleHeader] Remove uses of MDCFlexibleHeaderColorThemer
  catalog/MDCCatalog/MDCCatalogComponentsController.swift
  components/AppBar/src/ColorThemer/MDCAppBarColorThemer.m
Labels: [AppBar], [Catalog], cla: yes

#9289 [BottomAppBar] Add snapshot test to verify autolayout bug
  components/BottomAppBar/tests/snapshot/MDCBottomAppBarSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCBottomAppBarSnapshotTests/testIntrinsicHeight_11_2@2x.png
Labels: [BottomAppBar], cla: yes

#9290 [BottomAppBar] Add intrinsicContentSize
  components/BottomAppBar/src/MDCBottomAppBarView.m
  snapshot_test_goldens/goldens_64/MDCBottomAppBarSnapshotTests/testIntrinsicHeight_11_2@2x.png
Labels: [BottomAppBar], cla: yes

#9272 [ButtonBar] Delete MDCButtonBarColorThemer
  MaterialComponents.podspec
  components/ButtonBar/BUILD
  components/ButtonBar/src/ColorThemer/MDCButtonBarColorThemer.h
  components/ButtonBar/src/ColorThemer/MDCButtonBarColorThemer.m
  components/ButtonBar/src/ColorThemer/MaterialButtonBar+ColorThemer.h
Labels: [ButtonBar], cla: yes

#9274 [TextFields] Delete MDCOutlinedTextFieldColorThemer
  components/TextFields/src/ColorThemer/MDCOutlinedTextFieldColorThemer.h
  components/TextFields/src/ColorThemer/MDCOutlinedTextFieldColorThemer.m
  components/TextFields/src/ColorThemer/MaterialTextFields+ColorThemer.h
  components/TextFields/tests/unit/OutlinedTextFieldColorThemerTests.m
Labels: [TextFields], cla: yes

#9273 [FeatureHighlight] Delete MDCFeatureHighlightTypographyThemer
  MaterialComponents.podspec
  components/FeatureHighlight/BUILD
  components/FeatureHighlight/src/TypographyThemer/MDCFeatureHighlightTypographyThemer.h
  components/FeatureHighlight/src/TypographyThemer/MDCFeatureHighlightTypographyThemer.m
  components/FeatureHighlight/src/TypographyThemer/MaterialFeatureHighlight+TypographyThemer.h
  components/FeatureHighlight/tests/unit/FeatureHighlightTypographyThemerTests.m
Labels: [FeatureHighlight], cla: yes

#9271 [Tabs] Delete MDCTabBarColorThemer
  MaterialComponents.podspec
  components/Tabs/BUILD
  components/Tabs/src/ColorThemer/MDCTabBarColorThemer.h
  components/Tabs/src/ColorThemer/MDCTabBarColorThemer.m
  components/Tabs/src/ColorThemer/MaterialTabs+ColorThemer.h
  components/Tabs/tests/unit/MDCTabBarColorThemerTests.m
Labels: [Tabs], cla: yes

#9294 [Chips] Fix documentation error for Theming section
  components/Chips/README.md
Labels: [Chips], cla: yes

#9295 [Cards] Remove leading space before Swift and ObjC example headers
  components/Cards/README.md
Labels: [Cards], cla: yes

#9188 [List] Remove MDCListColorThemer
  MaterialComponents.podspec
  components/List/BUILD
  components/List/src/ColorThemer/MDCListColorThemer.h
  components/List/src/ColorThemer/MDCListColorThemer.m
  components/List/src/ColorThemer/MaterialList+ColorThemer.h
  components/List/tests/unit/MDCListColorThemerTests.m
Labels: [List], cla: yes

#9219 [Dialogs] Fix for MDCAlertController icon centering.
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Labels: [Dialogs], cla: yes

#9296 [List] Removing Themers from documentation
  components/List/README.md
  components/List/docs/README.md
  components/List/docs/color-theming.md
  components/List/docs/theming.md
  components/List/docs/typography-theming.md
Labels: [List], cla: yes

#9299 [Snackbar] Allow Snackbars to be non-transient if needed.
  components/Snackbar/examples/SnackbarSimpleExample.m
  components/Snackbar/src/MDCSnackbarManager.m
  components/Snackbar/src/MDCSnackbarMessage.h
  components/Snackbar/src/MDCSnackbarMessage.m
  components/Snackbar/tests/unit/MDCSnackbarMessageViewTests.m
Labels: [Snackbar], cla: yes

#9190 [List] Remove MDCListTypographyThemer
  MaterialComponents.podspec
  components/List/BUILD
  components/List/src/TypographyThemer/MDCListTypographyThemer.h
  components/List/src/TypographyThemer/MDCListTypographyThemer.m
  components/List/src/TypographyThemer/MaterialList+TypographyThemer.h
  components/List/tests/unit/MDCListTypographyThemerTests.m
Labels: [List], cla: yes

#9301 [List] Fix typo in doc
  components/List/docs/theming.md
Labels: [List], cla: yes

#9310 [scripts/release] Always branch off of stable.
  contributing/releasing.md
  scripts/README-release.md
  scripts/release
Labels: cla: yes

#9309 [Snackbar] Add snapshot test showing reported shadow bug
  components/Snackbar/tests/snapshot/MDCSnackbarMessageViewSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCSnackbarMessageViewSnapshotTests/testSnackbarOverlayViewWithHighElevation_11_2@2x.png
Labels: [Snackbar], cla: yes

#9314 [Dialogs] Expose MDCAlertController presentation animation properties
  components/Dialogs/src/MDCAlertController.h
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/tests/unit/MDCAlertControllerTests.m
Labels: [Dialogs], cla: yes

#9315 [Snackbar] Resolve truncation of shadow in Snackbars
  components/Snackbar/src/private/MDCSnackbarOverlayView.m
  snapshot_test_goldens/goldens_64/MDCSnackbarMessageViewSnapshotTests/testSnackbarOverlayViewWithHighElevation_11_2@2x.png
Labels: [Snackbar], cla: yes

#9306 Resolve kokoro build failure for CocoaPods builds.
  scripts/lib/package_managers.sh
Labels: PR:delete-branch-when-merged, PR:merge-when-approved, cla: yes

#9317 [FlexibleHeader] Clean up unsupported situation when inferring the top safe area inset
  components/FlexibleHeader/src/MDCFlexibleHeaderViewController.m
Labels: [AppBar], [BottomAppBar], [ButtonBar], [Cards], [Catalog], [Chips], [Dialogs], [FeatureHighlight], [FlexibleHeader], [List], [Snackbar], [Tabs], [TextFields], cla: yes

#9277 [UIApplication] Use prefix on category name for UIApplication+AppExtensions so that category names don't conflict in ObjC namespace.
  components/Typography/src/private/MDCTypographyUtilities.m
  components/private/Application/src/MaterialApplication.h
  components/private/Application/src/UIApplication+MDCAppExtensions.h
  components/private/Application/src/UIApplication+MDCAppExtensions.m
Labels: [Tabs], [Typography], [private], cla: yes

#9253 [Ink] Update ink color to be null resettable.
  components/Ink/src/MDCInkView.h
  components/Ink/src/MDCInkView.m
  components/Ink/tests/unit/MDCInkViewTests.m
Labels: [Ink], cla: yes

#9330 [Tabs] Remove out of date color theming docs
  components/Tabs/README.md
  components/Tabs/docs/color-theming.md
Labels: [Tabs], cla: yes

#9334 [ActionSheet] Standardize the examples.
  components/ActionSheet/examples/ActionSheetComparisonExample.m
  components/ActionSheet/examples/ActionSheetComparisonExampleViewController.h
  components/ActionSheet/examples/ActionSheetTypalUseSwiftExample.swift
  components/ActionSheet/examples/ActionSheetTypicalUseExample.m
  components/ActionSheet/examples/ActionSheetTypicalUseExampleViewController.h
Labels: PR:delete-branch-when-merged, PR:does-the-same-with-less, PR:merge-when-approved, cla: yes

#9336 [TextFields] Cherry picked changes from #9258.
  components/TextFields/src/MDCMultilineTextField.m
Labels: [TextFields], cla: yes

#9337 [TextFields] Cherry picked changes from #9263
  components/TextFields/src/MDCMultilineTextField.m
Labels: [TextFields], cla: yes

#9341 Revert "[scripts/release] Always branch off of stable. (#9310)"
  contributing/releasing.md
  scripts/README-release.md
  scripts/release
Labels: PR:delete-branch-when-merged, PR:merge-when-approved, cla: yes

#9342 [scripts/release] Connect stable to develop's ancestry.
  scripts/release
Labels: PR:delete-branch-when-merged, PR:merge-when-approved, cla: yes

#9292 [Banner] Fix pod name in README.md
  components/Banner/README.md
Labels: [Banner], cla: yes

#9328 [TextControls] Add swift storyboard example
  components/TextControls/BUILD
  components/TextControls/examples/MDCTextControlTextFieldsStoryboardExample.swift
  components/TextControls/examples/resources/MDCTextControlTextFieldsStoryboardExample.storyboard
Labels: [TextControls], cla: yes

#9323 [FlexibleHeader] Add new flag to allow use of inferTopSafeAreaInsetFromViewController with topLayoutGuideAdjustmentEnabled
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
  components/FlexibleHeader/src/MDCFlexibleHeaderViewController.h
  components/FlexibleHeader/src/MDCFlexibleHeaderViewController.m
  components/FlexibleHeader/src/private/MDCFlexibleHeaderTopSafeArea.h
  components/FlexibleHeader/src/private/MDCFlexibleHeaderTopSafeArea.m
  components/FlexibleHeader/src/private/MDCFlexibleHeaderView+Private.h
  components/FlexibleHeader/tests/unit/FlexibleHeaderInjectionTopLayoutGuideTests.swift
Labels: PR:delete-branch-when-merged, PR:merge-when-approved, [FlexibleHeader], cla: yes

#9348 [bazel] Switch back to google/xctestrunner.
  WORKSPACE
Labels: PR:delete-branch-when-merged, PR:merge-when-approved, cla: yes

#9325 [MDC Dialogs iOS] Add `const` keyword to CGFloat and UIEdgeInsets constants in MDCDialogPresentationController.
  components/Dialogs/src/MDCDialogPresentationController.m
Labels: PR:delete-branch-when-merged, PR:merge-when-approved, [Dialogs], cla: yes

#9351 [FlexibleHeader] Delete MDCFlexibleHeaderColorThemer
  MaterialComponents.podspec
  catalog/MDCCatalog/MDCCatalogComponentsController.swift
  catalog/MDCCatalog/MDCNodeListViewController.swift
  components/AppBar/src/ColorThemer/MDCAppBarColorThemer.m
  components/FlexibleHeader/README.md
  components/FlexibleHeader/docs/color-theming.md
  components/FlexibleHeader/examples/FlexibleHeaderTypicalUseExample.m
  components/FlexibleHeader/src/ColorThemer/MDCFlexibleHeaderColorThemer.h
  components/FlexibleHeader/src/ColorThemer/MDCFlexibleHeaderColorThemer.m
  components/FlexibleHeader/src/ColorThemer/MaterialFlexibleHeader+ColorThemer.h
  components/FlexibleHeader/tests/unit/FlexibleHeaderColorThemerTests.swift
Labels: [AppBar], [Catalog], [FlexibleHeader], cla: yes
