Repository material-components/material-components-ios, pull requests merged in 2019-10, with the labels that each got.

#8538 [Dialogs] Add accessoryView to MDCAlertController
  components/Dialogs/examples/DialogsAccessoryExampleViewController.swift
  components/Dialogs/src/MDCAlertController.h
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/src/private/MDCAlertControllerView+Private.h
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
  components/Dialogs/tests/snapshot/MDCAlertControllerSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCAlertControllerSnapshotTests/testDefaultAppearanceWithAccessoryView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerSnapshotTests/testDefaultAppearanceWithLargeIconLongMessageArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerSnapshotTests/testDefaultAppearanceWithLargeIconLongMessageLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerSnapshotTests/testDefaultAppearanceWithLargeIconLongTitleLongMessageArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerSnapshotTests/testDefaultAppearanceWithLargeIconLongTitleLongMessageLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerSnapshotTests/testDefaultAppearanceWithLongTitleLongMessageArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerSnapshotTests/testDefaultAppearanceWithLongTitleLongMessageLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerSnapshotTests/testDefaultAppearanceWithShortTitleShortMessageArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerSnapshotTests/testDefaultAppearanceWithShortTitleShortMessageLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerSnapshotTests/testDefaultAppearanceWithSmallIconShortMessageArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerSnapshotTests/testDefaultAppearanceWithSmallIconShortMessageLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerSnapshotTests/testPreferredContentSizeWithAccessoryView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerSnapshotTests/testPreferredContentSizeWithLargeIconLongTitleLongMessageArabicAccessoryView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerSnapshotTests/testPreferredContentSizeWithLargeIconLongTitleLongMessageArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerSnapshotTests/testPreferredContentSizeWithLargeIconLongTitleLongMessageLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerSnapshotTests/testSizeToFitWithLargeIconLongTitleLongMessageArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerSnapshotTests/testSizeToFitWithLargeIconLongTitleLongMessageLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerSnapshotTests/testSizeToFitWithShortTitleShortMessageLatinAccessoryView_11_2@2x.png
Labels: [Dialogs], cla: yes

#8530 [TextFields] Bring more of base positioning reference over
  components/TextFields/BUILD
  components/TextFields/examples/MDCBaseTextFieldTypicalUseExample.m
  components/TextFields/src/ContainedInputView/MDCBaseTextField.m
  components/TextFields/src/ContainedInputView/private/MDCBaseTextFieldLayout.m
  components/TextFields/src/ContainedInputView/private/MDCTextControl.h
  components/TextFields/src/ContainedInputView/private/MDCTextControlStyleBase.m
  components/TextFields/src/ContainedInputView/private/MDCTextControlVerticalPositioningReference.h
  components/TextFields/src/ContainedInputView/private/MDCTextControlVerticalPositioningReferenceBase.h
  components/TextFields/src/ContainedInputView/private/MDCTextControlVerticalPositioningReferenceBase.m
  components/TextFields/tests/snapshot/MDCBaseTextFieldSnapshotTests.m
  components/TextFields/tests/unit/ContainedInputView/MDCBaseTextFieldTests.m
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testDisabledTextField_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testEditingTextFieldWithVisiblePlaceholder_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testFloatingLabelWithCustomColorWhileEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithLeadingViewAndTrailingView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithLeadingViewWhileEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithLeadingView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithTrailingView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithVisibleClearButton_11_2@2x.png
Labels: [TextFields], cla: yes

#8529 [Tabs] Add TabBarView API to set content padding
  components/Tabs/BUILD
  components/Tabs/src/TabBarView/MDCTabBarView.h
  components/Tabs/src/TabBarView/MDCTabBarView.m
  components/Tabs/tests/snapshot/TabBarView/MDCTabBarViewLayoutStyleSnapshotTests.m
  components/Tabs/tests/unit/TabBarView/MDCTabBarViewIndicatorViewTests.m
  components/Tabs/tests/unit/TabBarView/MDCTabBarViewTests.m
  snapshot_test_goldens/goldens_64/MDCTabBarViewLayoutStyleSnapshotTests/testFixedClusteredCenteredLayoutContentPaddingArabicRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewLayoutStyleSnapshotTests/testFixedClusteredCenteredLayoutContentPaddingLatinLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewLayoutStyleSnapshotTests/testFixedClusteredLeadingLayoutContentPaddingArabicRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewLayoutStyleSnapshotTests/testFixedClusteredLeadingLayoutContentPaddingLatinLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewLayoutStyleSnapshotTests/testFixedClusteredTrailingLayoutContentPaddingArabicRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewLayoutStyleSnapshotTests/testFixedClusteredTrailingLayoutContentPaddingLatinLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewLayoutStyleSnapshotTests/testFixedLayoutContentPaddingArabicRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewLayoutStyleSnapshotTests/testFixedLayoutContentPaddingLatinLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewLayoutStyleSnapshotTests/testScrollableLayoutContentPaddingArabicRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewLayoutStyleSnapshotTests/testScrollableLayoutContentPaddingLatinLTR_11_2@2x.png
Labels: PR:merge-when-approved, [Tabs], cla: yes

#8510 [TextFields] Adding border stroke color
  components/TextFields/src/MDCTextInputControllerBase.h
  components/TextFields/src/MDCTextInputControllerBase.m
  components/TextFields/src/MDCTextInputControllerFloatingPlaceholder.h
  components/TextFields/src/MDCTextInputControllerOutlined.m
  components/TextFields/tests/unit/OutlinedTextFieldColorThemerTests.m
  components/TextFields/tests/unit/TextFieldTests.swift
Labels: [TextFields], cla: yes

#8526 [TextFields] Adding floatingPlaceholder Error Active color API to cont…
  components/TextFields/src/MDCTextInputControllerBase.m
  components/TextFields/src/MDCTextInputControllerFloatingPlaceholder.h
  components/TextFields/tests/unit/Theming/TextFieldsMaterialThemingTests.swift
Labels: [TextFields], cla: yes

#8539 [TextFields] Add assistive label view
  components/TextFields/src/ContainedInputView/MDCBaseTextField.h
  components/TextFields/src/ContainedInputView/MDCBaseTextField.m
  components/TextFields/src/ContainedInputView/private/MDCBaseTextFieldLayout.h
  components/TextFields/src/ContainedInputView/private/MDCBaseTextFieldLayout.m
  components/TextFields/src/ContainedInputView/private/MDCTextControl.h
  components/TextFields/src/ContainedInputView/private/MDCTextControlAssistiveLabelDrawPriority.h
  components/TextFields/src/ContainedInputView/private/MDCTextControlAssistiveLabelView.h
  components/TextFields/src/ContainedInputView/private/MDCTextControlAssistiveLabelView.m
  components/TextFields/src/ContainedInputView/private/MDCTextControlAssistiveLabelViewLayout.h
  components/TextFields/src/ContainedInputView/private/MDCTextControlAssistiveLabelViewLayout.m
  components/TextFields/src/ContainedInputView/private/MDCTextControlColorViewModel.h
  components/TextFields/src/ContainedInputView/private/MDCTextControlColorViewModel.m
  components/TextFields/src/ContainedInputView/private/MDCTextControlVerticalPositioningReference.h
  components/TextFields/src/ContainedInputView/private/MDCTextControlVerticalPositioningReferenceBase.m
  components/TextFields/tests/snapshot/MDCBaseTextFieldSnapshotTests.m
  components/TextFields/tests/unit/ContainedInputView/MDCBaseTextFieldLayoutTests.m
  components/TextFields/tests/unit/ContainedInputView/MDCBaseTextFieldTests.m
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithAssistiveLabelTextWhileDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithAssistiveLabelTextWhileEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithAssistiveLabelText_11_2@2x.png
Labels: [TextFields], cla: yes

#8544 Fix .gitattributes
  .gitattributes
Labels: cla: yes

#8543 [TextFields] Minor cleanup
  components/TextFields/src/ContainedInputView/MDCBaseTextField.m
  components/TextFields/src/ContainedInputView/private/MDCTextControlStyleBase.m
Labels: [TextFields], cla: yes

#8534 [ActivityIndicator] Removes 72dp radius limit on activity indicator
  components/ActivityIndicator/src/MDCActivityIndicator.h
  components/ActivityIndicator/src/MDCActivityIndicator.m
  components/ActivityIndicator/tests/unit/ActivityIndicatorTests.m
Labels: [ActivityIndicator], cla: yes

#8527 [FlexibleHeader] Added section for iOS 13 collection considerations
  components/AppBar/README.md
  components/FlexibleHeader/README.md
  components/FlexibleHeader/docs/typical-use-tracking-a-scroll-view.md
Labels: [AppBar], [FlexibleHeader], cla: yes

#8554 [TextFields] Missing containedinputview podspec dependency
  MaterialComponents.podspec
Labels: cla: yes

#8562 [Chips] Remove unnecessary theming logic.
  components/Chips/src/Theming/MDCChipView+MaterialTheming.m
Labels: PR:merge-when-approved, [Chips], cla: yes

#8491 [BottomSheet] Disable pan gesture on UIControl
  components/BottomSheet/examples/BottomSheetUIControlExample.swift
  components/BottomSheet/src/private/MDCDraggableView.m
Labels: PR:merge-when-approved, [BottomSheet], cla: yes

#8565 [Chips] Add Dynamic Type support to ChipsActionExampleViewController.
  components/Chips/examples/ChipsActionExampleViewController.m
Labels: PR:merge-when-approved, [Chips], cla: yes

#8563 Add git steps around .gitattributes file to keep it correct throughout the branches.
  scripts/release
Labels: cla: yes

#8564 [Chips] Remove unnecessary explicit layout code.
  components/Chips/examples/ChipsActionExampleViewController.m
  components/Chips/examples/ChipsChoiceExampleViewController.m
  components/Chips/examples/ChipsCustomizedExampleViewController.m
  components/Chips/examples/ChipsFilterExampleViewController.m
Labels: PR:merge-when-approved, [Chips], cla: yes

#8567 [Chips] Add Dynamic Type support to the remaining chip collection examples.
  components/Chips/examples/ChipsChoiceExampleViewController.m
  components/Chips/examples/ChipsFilterExampleViewController.m
  components/Chips/examples/ChipsTypicalUseViewController.m
Labels: PR:merge-when-approved, [Chips], cla: yes

#8569 [Chips] Add Dynamic Type support to ChipsInputExampleViewController.
  components/Chips/examples/ChipsInputExampleViewController.m
Labels: [Chips], cla: yes

#8557 Reran ./scripts/generate_all_readmes
  components/ActionSheet/README.md
  components/Banner/README.md
  components/Ink/README.md
  components/Ripple/README.md
  components/Tabs/README.md
  components/TextFields/README.md
  components/Typography/README.md
Labels: PR:merge-when-approved, [ActionSheet], [Banner], [Ink], [Ripple], [Tabs], [TextFields], [Typography], cla: yes

#8568 [Dialogs] Store golden snapshots in LFS.
  snapshot_test_goldens/goldens_64/MDCAlertControllerSnapshotTests/testDefaultAppearanceWithAccessoryView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerSnapshotTests/testDefaultAppearanceWithLargeIconLongMessageArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerSnapshotTests/testDefaultAppearanceWithLargeIconLongMessageLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerSnapshotTests/testDefaultAppearanceWithLargeIconLongTitleLongMessageArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerSnapshotTests/testDefaultAppearanceWithLargeIconLongTitleLongMessageLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerSnapshotTests/testDefaultAppearanceWithLongTitleLongMessageArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerSnapshotTests/testDefaultAppearanceWithLongTitleLongMessageLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerSnapshotTests/testDefaultAppearanceWithShortTitleShortMessageArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerSnapshotTests/testDefaultAppearanceWithShortTitleShortMessageLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerSnapshotTests/testDefaultAppearanceWithSmallIconShortMessageArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerSnapshotTests/testDefaultAppearanceWithSmallIconShortMessageLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerSnapshotTests/testPreferredContentSizeWithAccessoryView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerSnapshotTests/testPreferredContentSizeWithLargeIconLongTitleLongMessageArabicAccessoryView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerSnapshotTests/testPreferredContentSizeWithLargeIconLongTitleLongMessageArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerSnapshotTests/testPreferredContentSizeWithLargeIconLongTitleLongMessageLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerSnapshotTests/testSizeToFitWithLargeIconLongTitleLongMessageArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerSnapshotTests/testSizeToFitWithLargeIconLongTitleLongMessageLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerSnapshotTests/testSizeToFitWithShortTitleShortMessageLatinAccessoryView_11_2@2x.png
Labels: cla: yes

#8566 [NavigationDrawer] Add delegate methods to allow the presenting VC to gain access to the transitionCoordinator used during the present/dismiss transitions.
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.h
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.m
  components/NavigationDrawer/src/MDCBottomDrawerViewController.h
  components/NavigationDrawer/src/MDCBottomDrawerViewController.m
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.h
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
  components/NavigationDrawer/tests/unit/MDCNavigationDrawerScrollViewTests.m
Labels: PR:merge-when-approved, [NavigationDrawer], cla: yes

#8575 [Chips] Remove sizing chips from all remaining examples.
  components/Chips/examples/ChipsChoiceExampleViewController.m
  components/Chips/examples/ChipsCustomizedExampleViewController.m
  components/Chips/examples/ChipsFilterExampleViewController.m
Labels: PR:merge-when-approved, [Chips], cla: yes

#8576 [Chips] Remove all lazy initialization of models from examples.
  components/Chips/examples/ChipsActionExampleViewController.m
  components/Chips/examples/ChipsChoiceExampleViewController.m
  components/Chips/examples/ChipsCollectionExampleViewController.m
  components/Chips/examples/ChipsCustomizedExampleViewController.m
  components/Chips/examples/ChipsFilterExampleViewController.m
  components/Chips/examples/ChipsTypicalUseViewController.m
Labels: PR:merge-when-approved, [Chips], cla: yes

#8577 [Chips] Move all example assets to a supplemental file.
  components/Chips/examples/ChipsCustomizedExampleViewController.m
  components/Chips/examples/ChipsFilterExampleViewController.m
  components/Chips/examples/ChipsShapingExampleViewController.m
  components/Chips/examples/ChipsSizingExampleViewController.m
  components/Chips/examples/supplemental/ChipsExampleAssets.h
  components/Chips/examples/supplemental/ChipsExampleAssets.m
  components/Chips/examples/supplemental/ChipsExamplesSupplemental.h
  components/Chips/examples/supplemental/ChipsExamplesSupplemental.m
Labels: PR:does-the-same-with-less, PR:merge-when-approved, [Chips], cla: yes

#8582 [Typography] Mark romoore@ as CODEOWNER
  CODEOWNERS
Labels: [Typography], cla: yes, type:Internal cleanup

#8579 [Chips] Move ChipModel into ChipsTypicalUseViewController.
  components/Chips/examples/ChipsTypicalUseViewController.m
  components/Chips/examples/supplemental/ChipsExamplesSupplemental.h
  components/Chips/examples/supplemental/ChipsExamplesSupplemental.m
Labels: PR:does-the-same-with-less, PR:merge-when-approved, [Chips], cla: yes

#8578 [BottomDrawer] Allow touch events to propagate to delegate for MDCBottomNavigationDrawer
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.h
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.m
  components/NavigationDrawer/src/MDCBottomDrawerViewController.h
  components/NavigationDrawer/src/MDCBottomDrawerViewController.m
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
  components/NavigationDrawer/tests/unit/MDCNavigationDrawerScrollViewTests.m
Labels: [NavigationDrawer], cla: yes

#8583 [Catalog] Remove checks for `systemFontOfSize:weight:`
  catalog/MaterialCatalog/MDCCatalogTiles.m
Labels: PR:merge-when-approved, [Catalog], cla: yes

#8581 [Typography] Remove checks for `systemFontOfSize:weight:`.
  components/Typography/src/MDCTypography.m
  components/Typography/src/UIFontDescriptor+MaterialTypography.m
  components/Typography/tests/unit/SystemFontLoaderTests.m
  components/Typography/tests/unit/TypographyTests.m
Labels: PR:merge-when-approved, [Typography], cla: yes, type:Internal cleanup

#8593 [Chips] Deprecate Chips+ChipThemer.
  components/Chips/src/ChipThemer/MDCChipViewScheme.h
  components/Chips/src/ChipThemer/MDCChipViewThemer.h
Labels: PR:merge-when-approved, [Chips], cla: yes

#8589 [Chips] Deprecate MDCChipViewFontThemer.
  components/Chips/src/FontThemer/MDCChipViewFontThemer.h
Labels: PR:merge-when-approved, [Chips], cla: yes

#8588 [Dialogs] Explicitly set title and message color
  components/Dialogs/src/MDCAlertController.m
Labels: [Dialogs], cla: yes

#8586 [Releasing] Specify origin when checking out stable's .gitattributes
  scripts/release
Labels: cla: yes

#8591 [Chips] Fold MDCChipViewTypographyThemer into the Theming extension.
  MaterialComponents.podspec
  components/Chips/BUILD
  components/Chips/src/Theming/MDCChipView+MaterialTheming.m
Labels: PR:merge-when-approved, [Chips], cla: yes

#8587 [Chips] Fold supplemental code into the examples.
  components/Chips/examples/ChipsActionExampleViewController.m
  components/Chips/examples/ChipsChoiceExampleViewController.m
  components/Chips/examples/ChipsCustomizedExampleViewController.m
  components/Chips/examples/ChipsInputExampleViewController.m
  components/Chips/examples/ChipsShapingExampleViewController.m
  components/Chips/examples/ChipsSizingExampleViewController.m
  components/Chips/examples/supplemental/ChipsExamplesSupplemental.h
  components/Chips/examples/supplemental/ChipsExamplesSupplemental.m
Labels: PR:merge-when-approved, [Chips], cla: yes

#8590 [Chips] Deprecate MDCChipViewTypographyThemer.
  components/Chips/src/TypographyThemer/MDCChipViewTypographyThemer.h
Labels: PR:stacked, [Chips], cla: yes

#8592 [MaskedTransition] Delete the component.
  MaterialComponents.podspec
  catalog/Podfile
  components/MaskedTransition/.jazzy.yaml
  components/MaskedTransition/BUILD
  components/MaskedTransition/README.md
  components/MaskedTransition/examples/MaskedTransitionTypicalUse.swift
  components/MaskedTransition/src/MDCMaskedTransitionController.h
  components/MaskedTransition/src/MDCMaskedTransitionController.m
  components/MaskedTransition/src/MaterialMaskedTransition.h
  components/MaskedTransition/src/private/MDCMaskedPresentationController.h
  components/MaskedTransition/src/private/MDCMaskedPresentationController.m
  components/MaskedTransition/src/private/MDCMaskedTransition.h
  components/MaskedTransition/src/private/MDCMaskedTransition.m
  components/MaskedTransition/src/private/MDCMaskedTransitionMotionForContext.h
  components/MaskedTransition/src/private/MDCMaskedTransitionMotionForContext.m
  components/MaskedTransition/src/private/MDCMaskedTransitionMotionSpecs.h
  components/MaskedTransition/src/private/MDCMaskedTransitionMotionSpecs.m
  components/MaskedTransition/tests/unit/MaskedTransitionNoopTest.m
Labels: PR:merge-when-approved, [Catalog], cla: yes

#8605 [Chips] Fold more supplemental code into the examples.
  components/Chips/examples/ChipsCollectionExampleViewController.m
  components/Chips/examples/ChipsFilterAnimatedExampleViewController.m
  components/Chips/examples/ChipsFilterExampleViewController.m
  components/Chips/examples/ChipsTypicalUseViewController.m
  components/Chips/examples/supplemental/ChipsExamplesSupplemental.h
  components/Chips/examples/supplemental/ChipsExamplesSupplemental.m
Labels: PR:does-the-same-with-less, PR:merge-when-approved, [Chips], cla: yes

#8606 [Buttons] Add API to disable state-based fonts.
  components/Buttons/src/MDCButton.h
  components/Buttons/src/MDCButton.m
  components/Buttons/tests/snapshot/MDCButtonSnapshotTests.m
  components/Buttons/tests/unit/MDCButtonTests.m
  snapshot_test_goldens/goldens_64/MDCButtonSnapshotTests/testPreferredFontForAXXXLContentSizeCategory_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCButtonSnapshotTests/testPreferredFontForXSContentSizeCategory_11_2@2x.png
Labels: PR:merge-when-approved, [Buttons], cla: yes, skill:Deprecations, skill:Dynamic Type

#8610 [ActionSheet] Fix behavior of `alwaysAlignTitleLeadingEdges`.
  components/ActionSheet/src/MDCActionSheetController.m
  components/ActionSheet/tests/snapshot/MDCActionSheetControllerSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testActionSheetWhenActionsOnlyHaveTitlesAndAlignTitlesDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testActionSheetWhenSomeActionsHaveIconsAndTitlesAndSomeActionsOnlyHavingTitlesAndAlignTitlesDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testActionSheetWithHeaderShownButNoTitleOrMessage_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testActionSheetWithHeaderShown_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testThreeActionsSufficientSizeShortTextLTRWithDefaultPresentationStyleOniOS13_13_0@2x.png
Labels: PR:merge-when-approved, [ActionSheet], [Catalog], cla: yes

#8613 [Tabs] Optimization to avoid creating unnecessary custom views.
  components/Tabs/src/TabBarView/MDCTabBarView.m
Labels: [Tabs], cla: yes

#8574 [Cards] New toggle-button example
  components/Cards/examples/ToggleButtonCollectionViewController.swift
  components/Cards/examples/resources/CardsAssets.xcassets/ic_favorite_24dp.imageset/Contents.json
  components/Cards/examples/resources/CardsAssets.xcassets/ic_favorite_24dp.imageset/ic_favorite_24dp.png
  components/Cards/examples/resources/CardsAssets.xcassets/ic_favorite_24dp.imageset/ic_favorite_24dp@2x.png
  components/Cards/examples/resources/CardsAssets.xcassets/ic_favorite_24dp.imageset/ic_favorite_24dp@3x.png
  components/Cards/examples/resources/CardsAssets.xcassets/ic_favorite_border_24dp.imageset/Contents.json
  components/Cards/examples/resources/CardsAssets.xcassets/ic_favorite_border_24dp.imageset/ic_favorite_border_24dp.png
  components/Cards/examples/resources/CardsAssets.xcassets/ic_favorite_border_24dp.imageset/ic_favorite_border_24dp@2x.png
  components/Cards/examples/resources/CardsAssets.xcassets/ic_favorite_border_24dp.imageset/ic_favorite_border_24dp@3x.png
  components/Cards/examples/resources/CardsAssets.xcassets/toggle-button-image1.imageset/Contents.json
  components/Cards/examples/resources/CardsAssets.xcassets/toggle-button-image1.imageset/toggle-button-image1.jpeg
  components/Cards/examples/resources/CardsAssets.xcassets/toggle-button-image1.imageset/toggle-button-image1@2x.jpeg
  components/Cards/examples/resources/CardsAssets.xcassets/toggle-button-image1.imageset/toggle-button-image1@3x.jpeg
  components/Cards/examples/resources/CardsAssets.xcassets/toggle-button-image2.imageset/Contents.json
  components/Cards/examples/resources/CardsAssets.xcassets/toggle-button-image2.imageset/toggle-button-image2.jpeg
  components/Cards/examples/resources/CardsAssets.xcassets/toggle-button-image2.imageset/toggle-button-image2@2x.jpeg
  components/Cards/examples/resources/CardsAssets.xcassets/toggle-button-image2.imageset/toggle-button-image2@3x.jpeg
  components/Cards/examples/resources/CardsAssets.xcassets/toggle-button-image3.imageset/Contents.json
  components/Cards/examples/resources/CardsAssets.xcassets/toggle-button-image3.imageset/toggle-button-image3-1.jpeg
  components/Cards/examples/resources/CardsAssets.xcassets/toggle-button-image3.imageset/toggle-button-image3@2x.jpeg
  components/Cards/examples/resources/CardsAssets.xcassets/toggle-button-image3.imageset/toggle-button-image3@3x.jpeg
  components/Cards/examples/resources/CardsAssets.xcassets/toggle-button-image4.imageset/Contents.json
  components/Cards/examples/resources/CardsAssets.xcassets/toggle-button-image4.imageset/toggle-button-image4.jpeg
  components/Cards/examples/resources/CardsAssets.xcassets/toggle-button-image4.imageset/toggle-button-image4@2x.jpeg
  components/Cards/examples/resources/CardsAssets.xcassets/toggle-button-image4.imageset/toggle-button-image4@3x.jpeg
  components/Cards/examples/supplemental/ToggleButtonCell.swift
Labels: [Cards], cla: yes

#8615 [Chips] Add an "animated" button to the filter example.
  components/Chips/examples/ChipsFilterAnimatedExampleViewController.m
  components/Chips/examples/ChipsFilterExampleViewController.m
  components/Chips/examples/supplemental/ChipsExamplesSupplemental.h
Labels: PR:does-the-same-with-less, PR:merge-when-approved, [Chips], cla: yes

#8619 [Dialogs] Remove uncontrolled snapshot tests.
  components/Dialogs/tests/snapshot/MDCAlertControllerCustomTraitCollectionTests.m
  snapshot_test_goldens/goldens_64/MDCAlertControllerCustomTraitCollectionTests/testScaledFontDynamicTypeForContentSizeCategoryAccessibilityExtraExtraExtraLargeAndLegacyEnabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerCustomTraitCollectionTests/testScaledFontDynamicTypeForContentSizeCategoryExtraSmallAndLegacyEnabled_11_2@2x.png
Labels: [Dialogs], cla: yes

#8618 [NavigationDrawer] Fix over scrolled bottom navigation incorrectly showing the scrim and presenting view
  components/NavigationDrawer/examples/BottomDrawerWithChangingContentSize.swift
  components/NavigationDrawer/examples/BottomDrawerWithScrollableContentExample.swift
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.h
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.m
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.h
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
Labels: PR:merge-when-approved, [NavigationDrawer], cla: yes

#8607 [TextFields] Add density and preferredContainerHeight as private functionality
  components/TextFields/src/ContainedInputView/MDCBaseTextField.m
  components/TextFields/src/ContainedInputView/private/MDCBaseTextFieldLayout.m
  components/TextFields/src/ContainedInputView/private/MDCTextControl.h
  components/TextFields/src/ContainedInputView/private/MDCTextControlStyleBase.m
  components/TextFields/src/ContainedInputView/private/MDCTextControlVerticalPositioningReference.h
  components/TextFields/src/ContainedInputView/private/MDCTextControlVerticalPositioningReferenceBase.h
  components/TextFields/src/ContainedInputView/private/MDCTextControlVerticalPositioningReferenceBase.m
  components/TextFields/tests/unit/ContainedInputView/MDCBaseTextFieldTests.m
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testDisabledTextField_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testEditingTextFieldWithVisiblePlaceholder_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testFloatingLabelWithCustomColorWhileEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithAssistiveLabelTextWhileDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithAssistiveLabelTextWhileEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithAssistiveLabelText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithLeadingViewAndTrailingView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithLeadingViewWhileEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithLeadingView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithTrailingView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithVisibleClearButton_11_2@2x.png
Labels: [TextFields], cla: yes

#8624 [Chips] Add snapshot tests for setting preferredFont with adjustsFontForContentSizeCategory
  components/Chips/tests/snapshot/MDCChipViewCustomTraitCollectionSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCChipViewCustomTraitCollectionSnapshotTests/testPreferredFontForAXXXLContentSizeCategory_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewCustomTraitCollectionSnapshotTests/testPreferredFontForXSContentSizeCategory_11_2@2x.png
Labels: [Chips], cla: yes

#8636 [List] Add snapshot tests for setting preferredFont with adjustsFontForContentSizeCategory
  components/List/tests/snapshot/MDCSelfSizingStereoCellSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCSelfSizingStereoCellSnapshotTests/testPreferredFontForAXSContentSizeCategory_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSelfSizingStereoCellSnapshotTests/testPreferredFontForAXXLContentSizeCategory_11_2@2x.png
Labels: [List], cla: yes

#8623 [Banner] Add snapshot tests for setting preferredFont with adjustsFontForContentSizeCategory
  components/Banner/BUILD
  components/Banner/tests/snapshot/MDCBannerSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCBannerViewSnapshotTests/testPreferredFontForAXSContentSizeCategory_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBannerViewSnapshotTests/testPreferredFontForAXXLContentSizeCategory_11_2@2x.png
Labels: [Banner], cla: yes

#8642 [Kokoro] Link to the binary installer
  contributing/bazel_kokoro.md
Labels: PR:delete-branch-when-merged, PR:merge-when-approved, cla: yes, skill:Bazel, type:Documentation

#8629 [FeatureHighlight] Add snapshot tests for setting preferredFont with adjustsFontForContentSizeCategory
  components/FeatureHighlight/tests/snapshot/MDCFeatureHighlightSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCFeatureHighlightSnapshotTests/testPreferredFontForAXXXLContentSizeCategory_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCFeatureHighlightSnapshotTests/testPreferredFontForXSContentSizeCategory_11_2@2x.png
Labels: [FeatureHighlight], cla: yes

#8633 [MDCOverlayWindow] Add initWithWindowScene: initializer
  components/OverlayWindow/src/MDCOverlayWindow.m
  components/OverlayWindow/tests/unit/OverlayWindowInitTest.m
Labels: [OverlayWindow], cla: yes

#8649 [Dialogs] Mark `buttonFont` deprecated.
  components/Dialogs/src/MDCAlertController.h
Labels: [Dialogs], cla: yes, skill:Deprecations

#8651 [ProgressView] Fix LFS storage of snapshot images.
  snapshot_test_goldens/goldens_64/MDCProgressViewCornerRadiusSnapshotTests/testProgress000LTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCProgressViewCornerRadiusSnapshotTests/testProgress000RTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCProgressViewCornerRadiusSnapshotTests/testProgress025LTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCProgressViewCornerRadiusSnapshotTests/testProgress025RTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCProgressViewCornerRadiusSnapshotTests/testProgress065LTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCProgressViewCornerRadiusSnapshotTests/testProgress065RTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCProgressViewCornerRadiusSnapshotTests/testProgress097LTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCProgressViewCornerRadiusSnapshotTests/testProgress097RTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCProgressViewCornerRadiusSnapshotTests/testProgress100LTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCProgressViewCornerRadiusSnapshotTests/testProgress100RTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCProgressViewSnapshotTests/testProgress000LTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCProgressViewSnapshotTests/testProgress000RTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCProgressViewSnapshotTests/testProgress025LTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCProgressViewSnapshotTests/testProgress025RTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCProgressViewSnapshotTests/testProgress065LTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCProgressViewSnapshotTests/testProgress065RTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCProgressViewSnapshotTests/testProgress097LTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCProgressViewSnapshotTests/testProgress097RTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCProgressViewSnapshotTests/testProgress100LTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCProgressViewSnapshotTests/testProgress100RTL_11_2@2x.png
Labels: [ProgressView], cla: yes, skill:Git LFS

#8650 [Buttons] Support non-stateful fonts in theming.
  components/Buttons/src/Theming/MDCButton+MaterialTheming.m
  components/Buttons/tests/unit/Theming/ButtonsThemingTest.swift
Labels: [Buttons], cla: yes, skill:Dynamic Type

#8627 [TextFields] Add filled and outlined positioning references
  components/TextFields/src/ContainedInputView/private/MDCTextControlVerticalPositioningReferenceFilled.h
  components/TextFields/src/ContainedInputView/private/MDCTextControlVerticalPositioningReferenceFilled.m
  components/TextFields/src/ContainedInputView/private/MDCTextControlVerticalPositioningReferenceOutlined.h
  components/TextFields/src/ContainedInputView/private/MDCTextControlVerticalPositioningReferenceOutlined.m
Labels: [TextFields], cla: yes

#8638 [NavigationDrawer] Nav drawer fix pt 2
  components/NavigationDrawer/examples/BottomDrawerWithScrollableContentExample.swift
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.m
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.h
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
Labels: [NavigationDrawer], cla: yes

#8628 [TextFields] Add path drawing utils for style objects
  components/TextFields/src/ContainedInputView/private/UIBezierPath+MDCTextControlStyle.h
  components/TextFields/src/ContainedInputView/private/UIBezierPath+MDCTextControlStyle.m
Labels: [TextFields], cla: yes

#8657 [TextFields] Add filled style object
  components/TextFields/src/ContainedInputView/private/MDCTextControl.h
  components/TextFields/src/ContainedInputView/private/MDCTextControlStyleBase.m
  components/TextFields/src/ContainedInputView/private/MDCTextControlStyleFilled.h
  components/TextFields/src/ContainedInputView/private/MDCTextControlStyleFilled.m
Labels: [TextFields], cla: yes

#8658 [TextFields] Add outlined style object
  components/TextFields/src/ContainedInputView/private/MDCTextControlStyleOutlined.h
  components/TextFields/src/ContainedInputView/private/MDCTextControlStyleOutlined.m
Labels: [TextFields], cla: yes

#8667 Replace ianegordon with jverkoey in CODEOWNERS
  CODEOWNERS
Labels: PR:merge-when-approved, cla: yes

#8668 [FlexibleHeader] Remove unnecessary caching of CATransaction's disableActions.
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
Labels: PR:merge-when-approved, [FlexibleHeader], cla: yes

#8662 [PageControl] Position active page indicator correctly after scrolling
  components/PageControl/src/MDCPageControl.m
Labels: [PageControl], cla: yes

#8663 [Cards] New toggle-button example
  components/Cards/examples/ToggleButtonCollectionViewController.swift
  components/Cards/examples/resources/CardsAssets.xcassets/ic_favorite_24dp.imageset/Contents.json
  components/Cards/examples/resources/CardsAssets.xcassets/ic_favorite_24dp.imageset/ic_favorite_24dp.png
  components/Cards/examples/resources/CardsAssets.xcassets/ic_favorite_24dp.imageset/ic_favorite_24dp@2x.png
  components/Cards/examples/resources/CardsAssets.xcassets/ic_favorite_24dp.imageset/ic_favorite_24dp@3x.png
  components/Cards/examples/resources/CardsAssets.xcassets/ic_favorite_border_24dp.imageset/Contents.json
  components/Cards/examples/resources/CardsAssets.xcassets/ic_favorite_border_24dp.imageset/ic_favorite_border_24dp.png
  components/Cards/examples/resources/CardsAssets.xcassets/ic_favorite_border_24dp.imageset/ic_favorite_border_24dp@2x.png
  components/Cards/examples/resources/CardsAssets.xcassets/ic_favorite_border_24dp.imageset/ic_favorite_border_24dp@3x.png
  components/Cards/examples/resources/CardsAssets.xcassets/toggle-button-image1-old.imageset/Contents.json
  components/Cards/examples/resources/CardsAssets.xcassets/toggle-button-image1-old.imageset/toggle-button-image1.jpg
  components/Cards/examples/resources/CardsAssets.xcassets/toggle-button-image1-old.imageset/toggle-button-image1@2x.jpg
  components/Cards/examples/resources/CardsAssets.xcassets/toggle-button-image1-old.imageset/toggle-button-image1@3x.jpg
  components/Cards/examples/resources/CardsAssets.xcassets/toggle-button-image1.imageset/Contents.json
  components/Cards/examples/resources/CardsAssets.xcassets/toggle-button-image1.imageset/toggle-button-image1.jpg
  components/Cards/examples/resources/CardsAssets.xcassets/toggle-button-image1.imageset/toggle-button-image1@2x.jpg
  components/Cards/examples/resources/CardsAssets.xcassets/toggle-button-image1.imageset/toggle-button-image1@3x.jpg
  components/Cards/examples/resources/CardsAssets.xcassets/toggle-button-image2.imageset/Contents.json
  components/Cards/examples/resources/CardsAssets.xcassets/toggle-button-image2.imageset/toggle-button-image2.jpg
  components/Cards/examples/resources/CardsAssets.xcassets/toggle-button-image2.imageset/toggle-button-image2@2x.jpg
  components/Cards/examples/resources/CardsAssets.xcassets/toggle-button-image2.imageset/toggle-button-image2@3x.jpg
  components/Cards/examples/resources/CardsAssets.xcassets/toggle-button-image3.imageset/Contents.json
  components/Cards/examples/resources/CardsAssets.xcassets/toggle-button-image3.imageset/toggle-button-image3.jpg
  components/Cards/examples/resources/CardsAssets.xcassets/toggle-button-image3.imageset/toggle-button-image3@2x.jpg
  components/Cards/examples/resources/CardsAssets.xcassets/toggle-button-image3.imageset/toggle-button-image3@3x.jpg
  components/Cards/examples/resources/CardsAssets.xcassets/toggle-button-image4.imageset/Contents.json
  components/Cards/examples/resources/CardsAssets.xcassets/toggle-button-image4.imageset/toggle-button-image4.jpg
  components/Cards/examples/resources/CardsAssets.xcassets/toggle-button-image4.imageset/toggle-button-image4@2x.jpg
  components/Cards/examples/resources/CardsAssets.xcassets/toggle-button-image4.imageset/toggle-button-image4@3x.jpg
  components/Cards/examples/supplemental/ToggleButtonCell.swift
Labels: [Cards], cla: yes

#8676 [Dialogs] Remove broken snapshot tests.
  components/Dialogs/tests/snapshot/MDCAlertControllerCustomTraitCollectionTests.m
  snapshot_test_goldens/goldens_64/MDCAlertControllerCustomTraitCollectionTests/testScaledFontDynamicTypeForContentSizeCategoryAccessibilityExtraExtraExtraLarge_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerCustomTraitCollectionTests/testScaledFontDynamicTypeForContentSizeCategoryAccessibilityExtraExtraLarge_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerCustomTraitCollectionTests/testScaledFontDynamicTypeForContentSizeCategoryAccessibilityExtraLarge_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerCustomTraitCollectionTests/testScaledFontDynamicTypeForContentSizeCategoryAccessibilityLarge_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerCustomTraitCollectionTests/testScaledFontDynamicTypeForContentSizeCategoryAccessibilityMedium_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerCustomTraitCollectionTests/testScaledFontDynamicTypeForContentSizeCategoryExtraExtraExtraLarge_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerCustomTraitCollectionTests/testScaledFontDynamicTypeForContentSizeCategoryExtraExtraLarge_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerCustomTraitCollectionTests/testScaledFontDynamicTypeForContentSizeCategoryExtraLarge_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerCustomTraitCollectionTests/testScaledFontDynamicTypeForContentSizeCategoryLarge_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerCustomTraitCollectionTests/testScaledFontDynamicTypeForContentSizeCategoryMedium_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerCustomTraitCollectionTests/testScaledFontDynamicTypeForContentSizeCategorySmall_11_2@2x.png
Labels: PR:delete-branch-when-merged, PR:merge-when-approved, [Dialogs], cla: yes, skill:Dynamic Type, type:Test

#8666 [ShadowLayer] Fix bug where headless layers would not piggyback shadowPath changes.
  components/ShadowLayer/src/MDCShadowLayer.m
  components/ShadowLayer/tests/snapshot/MDCShadowLayerPiggyBackedAnimationsTests.m
  components/ShadowLayer/tests/unit/ShadowLayerTests.m
Labels: PR:merge-when-approved, [ShadowLayer], cla: yes

#8675 [Dialogs] Add tests for Dynamic Type.
  components/Dialogs/tests/snapshot/MDCAlertControllerCustomTraitCollectionTests.m
  components/Dialogs/tests/unit/MDCAlertControllerTests.m
  snapshot_test_goldens/goldens_64/MDCAlertControllerCustomTraitCollectionTests/testFontScalerFontScaledForContentSizeAXXXL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerCustomTraitCollectionTests/testFontScalerFontScaledForContentSizeExtraSmall_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerCustomTraitCollectionTests/testSystemFontNotScaledWhenScaledFontUnavailableForContentSizeAXXXL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerCustomTraitCollectionTests/testSystemFontNotScaledWhenScaledFontUnavailableForContentSizeExtraSmall_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerCustomTraitCollectionTests/testSystemFontScaledWhenScaledFontUnavailableForContentSizeAXXXL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerCustomTraitCollectionTests/testSystemFontScaledWhenScaledFontUnavailableForContentSizeExtraSmall_11_2@2x.png
Labels: PR:delete-branch-when-merged, PR:merge-when-approved, [Dialogs], cla: yes, skill:Dynamic Type, type:Test

#8655 [FeatureHighlight] Add adjustsFontForContentSizeCategory support.
  components/FeatureHighlight/src/MDCFeatureHighlightView.h
  components/FeatureHighlight/src/MDCFeatureHighlightViewController.h
  components/FeatureHighlight/src/MDCFeatureHighlightViewController.m
  components/FeatureHighlight/src/private/MDCFeatureHighlightView+Private.m
  components/FeatureHighlight/tests/snapshot/MDCFeatureHighlightSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCFeatureHighlightSnapshotTests/testPreferredFontForAXXXLContentSizeCategory_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCFeatureHighlightSnapshotTests/testPreferredFontForXSContentSizeCategory_11_2@2x.png
Labels: [FeatureHighlight], cla: yes

#8679 [FlexibleHeader] Fix bug where shadowPath did not animate when using MDCShadowLayer.
  components/FlexibleHeader/BUILD
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
  components/FlexibleHeader/tests/snapshot/FlexibleHeaderTrackingScrollViewDidChangeTests.swift
Labels: [FlexibleHeader], cla: yes

#8670 [TextFields] Refactor snapshots in preparation for more types of textfields
  components/TextFields/BUILD
  components/TextFields/tests/snapshot/MDCBaseTextFieldSnapshotTests.m
  components/TextFields/tests/snapshot/MDCBaseTextFieldTestsSnapshotTestHelpers.h
  components/TextFields/tests/snapshot/MDCBaseTextFieldTestsSnapshotTestHelpers.m
  components/TextFields/tests/snapshot/MDCTextControlSnapshotTestHelpers.h
  components/TextFields/tests/snapshot/MDCTextControlSnapshotTestHelpers.m
Labels: [TextFields], cla: yes

#8689 [generated] Ran pod install.
  catalog/MDCCatalog.xcodeproj/project.pbxproj
  catalog/MDCDragons.xcodeproj/project.pbxproj
Labels: PR:delete-branch-when-merged, PR:merge-when-approved, [Catalog], cla: yes

#8695 [TextFields] Add safety return to new multiline logic to make it fully opt-in
  components/TextFields/src/MDCTextInputControllerBase.m
Labels: [TextFields], cla: yes

#8693 [TextFields] Add animation duration property to properly snapshot test MDCBaseTextField's subclasses
  components/TextFields/src/ContainedInputView/MDCBaseTextField.m
  components/TextFields/src/ContainedInputView/private/MDCTextControl.h
  components/TextFields/src/ContainedInputView/private/MDCTextControlLabelAnimation.h
  components/TextFields/src/ContainedInputView/private/MDCTextControlLabelAnimation.m
  components/TextFields/src/ContainedInputView/private/MDCTextControlStyleBase.m
  components/TextFields/src/ContainedInputView/private/MDCTextControlStyleFilled.m
  components/TextFields/src/ContainedInputView/private/MDCTextControlStyleOutlined.m
  components/TextFields/tests/snapshot/MDCBaseTextFieldSnapshotTests.m
  components/TextFields/tests/snapshot/MDCBaseTextFieldTestsSnapshotTestHelpers.h
Labels: [TextFields], cla: yes

#8700 [TextFields] Change label animation
  components/TextFields/src/ContainedInputView/private/MDCTextControlLabelAnimation.m
Labels: [TextFields], cla: yes

#8697 [Cards] Deprecate the ShapeThemer extension.
  components/Cards/src/CardThemer/MDCCardThemer.m
  components/Cards/src/ShapeThemer/MDCCardsShapeThemer.h
  components/Cards/src/ShapeThemer/MDCCardsShapeThemer.m
  components/Cards/src/Theming/MDCCard+MaterialTheming.m
  components/Cards/src/Theming/MDCCardCollectionCell+MaterialTheming.m
  components/schemes/Shape/examples/MDCShapeSchemeExampleViewController.m
Labels: PR:delete-branch-when-merged, PR:merge-when-approved, [Cards], [schemes], cla: yes

#8694 [ActivityIndicator] Delete MDCActivityIndicatorColorThemer.
  MaterialComponents.podspec
  components/ActivityIndicator/BUILD
  components/ActivityIndicator/src/ColorThemer/MDCActivityIndicatorColorThemer.h
  components/ActivityIndicator/src/ColorThemer/MDCActivityIndicatorColorThemer.m
  components/ActivityIndicator/src/ColorThemer/MaterialActivityIndicator+ColorThemer.h
  components/ActivityIndicator/tests/unit/ActivityIndicatorColorThemerTests.m
Labels: PR:delete-branch-when-merged, PR:merge-when-approved, [ActivityIndicator], cla: yes

#8690 [FlexibleHeader] Move all supplemental code into the examples.
  components/FlexibleHeader/examples/FlexibleHeaderConfiguratorExample.m
  components/FlexibleHeader/examples/FlexibleHeaderFABExample.m
  components/FlexibleHeader/examples/FlexibleHeaderHorizontalPagingExample.m
  components/FlexibleHeader/examples/FlexibleHeaderPageControlExample.m
  components/FlexibleHeader/examples/FlexibleHeaderTopLayoutGuideExample.m
  components/FlexibleHeader/examples/FlexibleHeaderTypicalUseExample.m
  components/FlexibleHeader/examples/FlexibleHeaderUINavigationBarExample.m
  components/FlexibleHeader/examples/FlexibleHeaderWrappedExample.m
  components/FlexibleHeader/examples/supplemental/FlexibleHeaderConfiguratorSupplemental.h
  components/FlexibleHeader/examples/supplemental/FlexibleHeaderConfiguratorSupplemental.m
  components/FlexibleHeader/examples/supplemental/FlexibleHeaderFABSupplemental.h
  components/FlexibleHeader/examples/supplemental/FlexibleHeaderFABSupplemental.m
  components/FlexibleHeader/examples/supplemental/FlexibleHeaderHorizontalPagingSupplemental.h
  components/FlexibleHeader/examples/supplemental/FlexibleHeaderHorizontalPagingSupplemental.m
  components/FlexibleHeader/examples/supplemental/FlexibleHeaderPageControlSupplemental.h
  components/FlexibleHeader/examples/supplemental/FlexibleHeaderPageControlSupplemental.m
  components/FlexibleHeader/examples/supplemental/FlexibleHeaderTopLayoutGuideSupplemental.h
  components/FlexibleHeader/examples/supplemental/FlexibleHeaderTopLayoutGuideSupplemental.m
  components/FlexibleHeader/examples/supplemental/FlexibleHeaderTypicalUseSupplemental.h
  components/FlexibleHeader/examples/supplemental/FlexibleHeaderTypicalUseSupplemental.m
  components/FlexibleHeader/examples/supplemental/FlexibleHeaderUINavigationBarSupplemental.h
  components/FlexibleHeader/examples/supplemental/FlexibleHeaderUINavigationBarSupplemental.m
  components/FlexibleHeader/examples/supplemental/FlexibleHeaderWrappedSupplemental.h
  components/FlexibleHeader/examples/supplemental/FlexibleHeaderWrappedSupplemental.m
Labels: PR:delete-branch-when-merged, PR:does-the-same-with-less, PR:merge-when-approved, [FlexibleHeader], cla: yes

#8703 [TextFields] Change label animation again
  components/TextFields/src/ContainedInputView/MDCBaseTextField.m
  components/TextFields/src/ContainedInputView/private/MDCTextControlLabelAnimation.h
  components/TextFields/src/ContainedInputView/private/MDCTextControlLabelAnimation.m
Labels: [TextFields], cla: yes

#8704 [TextFields] Change base textfield floating label scale factor.
  components/TextFields/src/ContainedInputView/MDCBaseTextField.m
  components/TextFields/src/ContainedInputView/private/MDCTextControlStyleBase.m
  components/TextFields/tests/unit/ContainedInputView/MDCBaseTextFieldTests.m
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testDisabledTextField_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testEditingTextFieldWithVisiblePlaceholder_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testFloatingLabelWithCustomColorWhileEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithAssistiveLabelTextWhileDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithAssistiveLabelTextWhileEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithAssistiveLabelText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithLeadingViewAndTrailingView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithLeadingViewWhileEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithLeadingView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithTrailingView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithVisibleClearButton_11_2@2x.png
Labels: [TextFields], cla: yes

#8645 [Slider] Add snapshot tests for setting preferredFont with adjustsFontForContentSizeCategory
  components/Slider/BUILD
  components/Slider/tests/snapshot/MDCSliderSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCSliderSnapshotTests/testPreferredFontForAXXXLContentSizeCategory_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSliderSnapshotTests/testPreferredFontForXSContentSizeCategory_11_2@2x.png
Labels: [Slider], cla: yes
