Repository material-components/material-components-ios, pull requests merged in 2019-09, with the labels that each got.

#8225 [Slider] Adding Haptic Feedback When Crossing Anchored Value
  components/Slider/src/MDCSlider.h
  components/Slider/src/MDCSlider.m
  components/Slider/tests/unit/SliderTests.m
Labels: [Slider], cla: yes

#8380 [FlexibleHeader] Update inferred status bar style on light backgrounds for iOS 13
  components/FlexibleHeader/src/MDCFlexibleHeaderViewController.m
  components/FlexibleHeader/tests/unit/FlexibleHeaderStatusBarTests.swift
Labels: [FlexibleHeader], cla: yes

#8393 [Git LFS] Fix .gitattributes again.
  .gitattributes
Labels: cla: yes, skill:Git LFS

#8399 [Chips] Remove deprecated inkColor property
  components/Chips/src/MDCChipView.h
  components/Chips/src/MDCChipView.m
Labels: [Chips], cla: yes

#8402 [Buttons] Remove unused shouldCapitalizeTitle property
  components/Buttons/src/MDCButton.h
  components/Buttons/src/MDCButton.m
Labels: [Buttons], cla: yes

#8403 [Buttons] Delete deprecated customTitleColor property
  components/Buttons/src/MDCButton.h
  components/Buttons/src/MDCButton.m
Labels: [Buttons], cla: yes

#8382 [TextFields] Add label animator
  MaterialComponents.podspec
  components/TextFields/BUILD
  components/TextFields/examples/MDCBaseTextFieldTypicalUseExample.m
  components/TextFields/src/ContainedInputView/MDCBaseTextField.m
  components/TextFields/src/ContainedInputView/private/MDCContainedInputViewLabelAnimation.h
  components/TextFields/src/ContainedInputView/private/MDCContainedInputViewLabelAnimation.m
Labels: [TextFields], cla: yes

#8404 [TextFields] Misc clean up
  components/TextFields/src/ContainedInputView/MDCBaseTextField.m
  components/TextFields/src/ContainedInputView/private/MDCContainedInputViewLabelAnimation.h
  components/TextFields/src/ContainedInputView/private/MDCContainedInputViewLabelAnimation.m
Labels: [TextFields], cla: yes

#8414 [FlexibleHeader] Delete unused behavior property
  components/FlexibleHeader/src/MDCFlexibleHeaderView+ShiftBehavior.h
Labels: [FlexibleHeader], cla: yes

#8416 [Buttons] Delete MDCFloatingButton's buttonWithShape method
  components/Buttons/src/MDCFloatingButton.h
  components/Buttons/src/MDCFloatingButton.m
Labels: [Buttons], cla: yes

#8412 [MDCThumbView] Delete unused hasShadow property
  components/private/ThumbTrack/src/MDCThumbView.h
  components/private/ThumbTrack/src/MDCThumbView.m
Labels: [NavigationBar], [private], cla: yes

#8407 [TextFields] Try new approach to snapshot testing textfields
  components/TextFields/tests/snapshot/MDCBaseTextFieldSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithLeadingViewAndTrailingView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithLeadingViewWhileEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithLeadingView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithTrailingView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithVisibleClearButton_11_2@2x.png
Labels: [TextFields], cla: yes

#8411 [MDCNavigationBar] Delete unused MDCNavigationBar textAlignment property
  components/NavigationBar/src/MDCNavigationBar.h
  components/NavigationBar/src/MDCNavigationBar.m
Labels: [NavigationBar], cla: yes

#8422 [Buttons] Clarify the alternative to shouldRaiseOnTouch.
  components/Buttons/src/MDCButton.h
Labels: PR:merge-when-approved, [Buttons], cla: yes

#8423 Fix attribution typo in CHANGELOG.md.
  CHANGELOG.md
Labels: PR:merge-when-approved, cla: yes

#8431 [Cards, Chips, Tabs] Fix theming docs.
  components/Cards/README.md
  components/Cards/docs/theming.md
  components/Chips/README.md
  components/Chips/docs/theming.md
  components/Tabs/README.md
  components/Tabs/docs/theming-extensions.md
Labels: [Cards], [Chips], [Tabs], cla: yes, type:Documentation

#8428 [ActionSheet] Minor style cleanup of import statements.
  components/ActionSheet/src/Theming/MDCActionSheetController+MaterialTheming.m
Labels: PR:merge-when-approved, [ActionSheet], cla: yes

#8432 [ButtonBar] Deprecate Theming and TypographyThemer.
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  components/ButtonBar/BUILD
  components/ButtonBar/examples/ButtonBarCustomizedFontExample.m
  components/ButtonBar/examples/ButtonBarTypicalUseExample.m
  components/ButtonBar/examples/ButtonBarTypicalUseExample.swift
  components/ButtonBar/src/Theming/MDCButtonBar+MaterialTheming.h
  components/ButtonBar/src/Theming/MDCButtonBar+MaterialTheming.m
  components/ButtonBar/src/TypographyThemer/MDCButtonBarTypographyThemer.h
Labels: PR:merge-when-approved, [ButtonBar], cla: yes

#8430 [ActivityIndicator] Deprecate ColorThemer.
  MaterialComponents.podspec
  components/ActivityIndicator/BUILD
  components/ActivityIndicator/examples/ActivityIndicatorExampleViewController.m
  components/ActivityIndicator/src/ColorThemer/MDCActivityIndicatorColorThemer.h
  components/ActivityIndicator/src/ColorThemer/MDCActivityIndicatorColorThemer.m
Labels: PR:merge-when-approved, [ActivityIndicator], cla: yes

#8438 [BottomAppBar] Deprecate the ColorThemer.
  components/BottomAppBar/BUILD
  components/BottomAppBar/examples/BottomAppBarTypicalUseExample.m
  components/BottomAppBar/src/ColorThemer/MDCBottomAppBarColorThemer.h
  components/BottomAppBar/src/ColorThemer/MDCBottomAppBarColorThemer.m
  components/NavigationDrawer/examples/BottomDrawerExpandFullscreenExample.swift
  components/NavigationDrawer/examples/BottomDrawerInfiniteScrollingExample.swift
  components/NavigationDrawer/examples/BottomDrawerNoHeaderExample.swift
  components/NavigationDrawer/examples/BottomDrawerNoHeaderLessContentExample.swift
  components/NavigationDrawer/examples/BottomDrawerWithChangingContentSize.swift
  components/NavigationDrawer/examples/BottomDrawerWithHeaderExample.swift
  components/NavigationDrawer/examples/BottomDrawerWithScrollableContentExample.swift
Labels: PR:merge-when-approved, [BottomAppBar], [NavigationDrawer], cla: yes

#8230 [ActionSheet] Add ability to add a divider between header and table
  components/ActionSheet/src/MDCActionSheetController.h
  components/ActionSheet/src/MDCActionSheetController.m
  components/ActionSheet/tests/snapshot/MDCActionSheetControllerSnapshotTests.m
  components/ActionSheet/tests/unit/MDCActionSheetTest.m
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testActionSheetWithHeaderShownButNoTitleOrMessage_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testActionSheetWithHeaderShown_11_2@2x.png
Labels: [ActionSheet], cla: yes

#8442 [schemes/Typography] Rename MaterialTypography+BasicFontScheme.h to MaterialTypographyScheme+BasicFontScheme.h.
  components/schemes/Typography/src/BasicFontScheme/MaterialTypographyScheme+BasicFontScheme.h
  components/schemes/Typography/src/MDCLegacyFontScheme.h
  components/schemes/Typography/src/MaterialTypographyScheme.h
Labels: PR:merge-when-approved, [schemes], cla: yes

#8451 [MDCButton] Delete underlyingColor property
  components/Buttons/src/MDCButton.h
  components/Buttons/src/MDCButton.m
Labels: [Buttons], cla: yes

#8455 [Buttons] Remove unused shouldRaiseOnTouch property
  components/Buttons/src/MDCButton.h
  components/Buttons/src/MDCButton.m
Labels: [Buttons], cla: yes

#8453 [BottomSheet] replace UIWebView usage with WKWebView.
  MaterialComponents.podspec
  components/BottomSheet/BUILD
  components/BottomSheet/examples/BottomSheetWebViewPresentationExample.m
  components/BottomSheet/examples/supplemental/BottomSheetSupplemental.h
  components/BottomSheet/examples/supplemental/BottomSheetSupplemental.m
  components/BottomSheet/src/MDCBottomSheetPresentationController.m
Labels: [BottomSheet], [schemes], cla: yes

#7417 [ProgressView] Add cornerRadius API.
  components/ProgressView/BUILD
  components/ProgressView/examples/ProgressViewPillExample.m
  components/ProgressView/src/MDCProgressView.h
  components/ProgressView/src/MDCProgressView.m
  components/ProgressView/tests/snapshot/MDCProgressViewCornerRadiusSnapshotTests.m
  components/ProgressView/tests/unit/ProgressViewTests.m
  snapshot_test_goldens/goldens_64/MDCProgressViewCornerRadiusSnapshotTests/testProgress000LTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCProgressViewCornerRadiusSnapshotTests/testProgress000RTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCProgressViewCornerRadiusSnapshotTests/testProgress025LTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCProgressViewCornerRadiusSnapshotTests/testProgress025RTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCProgressViewCornerRadiusSnapshotTests/testProgress065LTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCProgressViewCornerRadiusSnapshotTests/testProgress065RTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCProgressViewCornerRadiusSnapshotTests/testProgress097LTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCProgressViewCornerRadiusSnapshotTests/testProgress097RTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCProgressViewCornerRadiusSnapshotTests/testProgress100LTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCProgressViewCornerRadiusSnapshotTests/testProgress100RTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCProgressViewSnapshotTests/testProgress000LTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCProgressViewSnapshotTests/testProgress000RTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCProgressViewSnapshotTests/testProgress025LTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCProgressViewSnapshotTests/testProgress025RTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCProgressViewSnapshotTests/testProgress065LTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCProgressViewSnapshotTests/testProgress065RTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCProgressViewSnapshotTests/testProgress097LTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCProgressViewSnapshotTests/testProgress097RTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCProgressViewSnapshotTests/testProgress100LTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCProgressViewSnapshotTests/testProgress100RTL_11_2@2x.png
Labels: PR:merge-when-approved, [ProgressView], cla: yes

#8443 [MaskedTransition] Deprecate MDCMaskedTransitionController.
  components/MaskedTransition/BUILD
  components/MaskedTransition/src/MDCMaskedTransitionController.h
Labels: PR:merge-when-approved, [MaskedTransition], cla: yes

#8465 [ActionSheet] Add elevation property to ActionSheet.
  components/ActionSheet/src/MDCActionSheetController.h
  components/ActionSheet/src/MDCActionSheetController.m
  components/ActionSheet/tests/unit/MDCActionSheetTest.m
Labels: [ActionSheet], cla: yes

#8467 [BottomDrawer] Minor change to example to help debug some bugs.
  components/NavigationDrawer/examples/supplemental/BottomDrawerSupplemental.swift
Labels: [NavigationDrawer], cla: yes

#8460 [MDCTypography] Separate MDCTypopgraphyScheming from MDCTypography
  components/schemes/Typography/src/MDCTypographyScheme.h
  components/schemes/Typography/src/MDCTypographyScheming.h
  components/schemes/Typography/src/MaterialTypographyScheme.h
Labels: [schemes], cla: yes

#8473 Correct gh authentication instruction in release script
  scripts/release
Labels: cla: yes

#8466 [ActionSheet] set elevation value in theming extension.
  MaterialComponents.podspec
  components/ActionSheet/BUILD
  components/ActionSheet/src/Theming/MDCActionSheetController+MaterialTheming.m
  components/ActionSheet/tests/unit/Theming/MDCActionSheetThemingTest.m
  components/ShadowElevations/src/MDCShadowElevations.h
Labels: [ActionSheet], [ShadowElevations], cla: yes

#8471 [AppBar] Hide the navigation bar in MDCAppBarNavigationController's initWithRootViewController API.
  components/AppBar/src/MDCAppBarNavigationController.m
  components/AppBar/tests/unit/MDCAppBarNavigationControllerTests.m
Labels: PR:merge-when-approved, [AppBar], cla: yes

#8477 [Typography] Fix scaling test.
  components/Typography/tests/unit/UIFont+MaterialTypographyTests.m
Labels: [Typography], [testing], cla: yes, type:Test

#8478 [Git LFS] Fix .gitattributes in `develop`.
  .gitattributes
Labels: cla: yes, skill:Git LFS

#8474 [NavDrawer] Allow animations alongside movement in MDCBottomNavigatio…
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.h
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.m
  components/NavigationDrawer/src/MDCBottomDrawerViewController.h
  components/NavigationDrawer/src/MDCBottomDrawerViewController.m
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.h
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
  components/NavigationDrawer/tests/unit/MDCNavigationDrawerScrollViewTests.m
Labels: [NavigationDrawer], cla: yes

#8480 [Pull Request Template] Add testing checkmark.
  PULL_REQUEST_TEMPLATE.md
Labels: cla: yes

#8472 [Tabs] Add newline for code snippet.
  components/Tabs/docs/tabbarview.md
Labels: PR:merge-when-approved, [Tabs], cla: yes

#8476 [TypographyScheme] Replace `mdc_adjustsFontForContentSizeCategory` with `useCurrentContentSizeCategoryWhenApplied`
  components/Banner/src/Theming/MDCBannerView+MaterialTheming.m
  components/Chips/src/TypographyThemer/MDCChipViewTypographyThemer.m
  components/Chips/tests/unit/ChipViewTypographyThemerTests.m
  components/List/src/TypographyThemer/MDCListTypographyThemer.m
  components/schemes/Typography/src/MDCTypographyScheme.h
  components/schemes/Typography/src/MDCTypographyScheming.h
  components/schemes/Typography/tests/unit/MDCTypographySchemeTests.m
Labels: [Banner], [Chips], [List], [Typography], [schemes], cla: yes

#8481 Suppress warnings
  components/ActivityIndicator/tests/unit/ActivityIndicatorColorThemerTests.m
  components/BottomAppBar/tests/unit/BottomAppBarColorThemerTests.m
  components/ButtonBar/src/Theming/MDCButtonBar+MaterialTheming.m
  components/ButtonBar/src/TypographyThemer/MDCButtonBarTypographyThemer.m
  components/ButtonBar/tests/snapshot/MDCButtonBar_ThemingSnapshotTests.m
  components/Dialogs/tests/unit/MDCAlertControllerColorThemerTests.m
  components/Dialogs/tests/unit/MDCAlertControllerTypographyThemerTests.m
  components/MaskedTransition/src/MDCMaskedTransitionController.m
  components/MaskedTransition/tests/unit/MaskedTransitionNoopTest.m
  components/NavigationBar/examples/supplemental/NavigationBarTypicalUseExampleSupplemental.m
Labels: [ActivityIndicator], [BottomAppBar], [ButtonBar], [Dialogs], [MaskedTransition], [NavigationBar], cla: yes, type:Internal cleanup

#8489 [Tabs] Update TabBarView documentation.
  components/Tabs/README.md
  components/Tabs/docs/tabbarview.md
Labels: PR:merge-when-approved, [Tabs], cla: yes, type:Documentation

#8484 [NavigationDrawer] Allow header to expand even if content doesn't fill screen.
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.h
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.m
  components/NavigationDrawer/src/MDCBottomDrawerViewController.h
  components/NavigationDrawer/src/MDCBottomDrawerViewController.m
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.h
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
  components/NavigationDrawer/tests/unit/MDCNavigationDrawerPresentationControllerTests.m
  components/NavigationDrawer/tests/unit/MDCNavigationDrawerTest.m
Labels: [NavigationDrawer], cla: yes

#8500 [Catalog] Correct Banner tests in schemes.
  catalog/MDCCatalog.xcodeproj/xcshareddata/xcschemes/MDCCatalog.xcscheme
  catalog/MDCDragons.xcodeproj/xcshareddata/xcschemes/MDCDragons.xcscheme
Labels: [Banner], [Catalog], cla: yes

#8498 [Tabs] Expand configuration in MDCTabBarView example.
  components/Tabs/BUILD
  components/Tabs/examples/MDCTabBarViewTypicalExampleViewController.m
  components/Tabs/examples/resources/TabBarDemoAssets.xcassets/contentInset_disabled.imageset/Contents.json
  components/Tabs/examples/resources/TabBarDemoAssets.xcassets/contentInset_disabled.imageset/outline_crop_din_black_24pt_1x.png
  components/Tabs/examples/resources/TabBarDemoAssets.xcassets/contentInset_disabled.imageset/outline_crop_din_black_24pt_2x.png
  components/Tabs/examples/resources/TabBarDemoAssets.xcassets/contentInset_disabled.imageset/outline_crop_din_black_24pt_3x.png
  components/Tabs/examples/resources/TabBarDemoAssets.xcassets/contentInset_enabled.imageset/Contents.json
  components/Tabs/examples/resources/TabBarDemoAssets.xcassets/contentInset_enabled.imageset/outline_view_array_black_24pt_1x.png
  components/Tabs/examples/resources/TabBarDemoAssets.xcassets/contentInset_enabled.imageset/outline_view_array_black_24pt_2x.png
  components/Tabs/examples/resources/TabBarDemoAssets.xcassets/contentInset_enabled.imageset/outline_view_array_black_24pt_3x.png
Labels: [Tabs], cla: yes

#8499 [Icons] Add tests for remaining icons.
  components/private/Icons/BUILD
  components/private/Icons/tests/unit/MDCIconsTests.m
Labels: PR:merge-when-approved, [Icons], [private], cla: yes

#8494 [TextFields] Implement some UIView overrides in MDCBaseTextField
  components/TextFields/src/ContainedInputView/MDCBaseTextField.m
  components/TextFields/src/ContainedInputView/private/MDCBaseTextFieldLayout.h
  components/TextFields/src/ContainedInputView/private/MDCBaseTextFieldLayout.m
  components/TextFields/tests/snapshot/MDCBaseTextFieldSnapshotTests.m
  components/TextFields/tests/unit/ContainedInputView/MDCBaseTextFieldTests.m
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testDisabledTextField_11_2@2x.png
Labels: [TextFields], cla: yes

#8501 [Icons] Correct icons scripts and integration.
  catalog/MDCCatalog.xcodeproj/xcshareddata/xcschemes/MDCCatalog.xcscheme
  catalog/MDCDragons.xcodeproj/xcshareddata/xcschemes/MDCDragons.xcscheme
  catalog/Podfile
  components/private/Icons/icons/ic_color_lens/src/MaterialIcons+ic_color_lens.h
  components/private/Icons/icons/ic_color_lens/src/MaterialIcons+ic_color_lens.m
  components/private/Icons/icons/ic_help_outline/src/MaterialIcons+ic_help_outline.h
  components/private/Icons/icons/ic_help_outline/src/MaterialIcons+ic_help_outline.m
  components/private/Icons/icons/ic_more_horiz/src/MaterialIcons+ic_more_horiz.h
  components/private/Icons/icons/ic_more_horiz/src/MaterialIcons+ic_more_horiz.m
  components/private/Icons/icons/ic_reorder/src/MaterialIcons_ic_reorder.bundle/ic_reorder@3x.png
  components/private/Icons/icons/ic_settings/src/MaterialIcons+ic_settings.h
  components/private/Icons/icons/ic_settings/src/MaterialIcons+ic_settings.m
  scripts/generated/icons.rb
  scripts/sync_icons.sh
Labels: [Catalog], [Icons], [private], cla: yes

#8497 [Color] Use XCTAssertEqualColors from MDFTesting to help color testing.
  .kokoro
  MaterialComponents.podspec
  WORKSPACE
  catalog/BUILD
  components/private/Color/BUILD
  components/private/Color/tests/unit/MaterialColorTests.m
Labels: [Catalog], [private], cla: yes

#8486 [NavDrawer] Allow touch events to propagate to delegate for MDCBottomNavigationDrawer
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.h
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.m
  components/NavigationDrawer/src/MDCBottomDrawerViewController.h
  components/NavigationDrawer/src/MDCBottomDrawerViewController.m
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
  components/NavigationDrawer/tests/unit/MDCNavigationDrawerScrollViewTests.m
Labels: [NavigationDrawer], cla: yes

#8504 Add swift rewrite rules for MDFTesting.
  .kokoro
Labels: cla: yes

#8493 [TextFields] Add some important protocols
  components/TextFields/src/ContainedInputView/MDCBaseTextField.m
  components/TextFields/src/ContainedInputView/private/MDCContainedInputView.h
  components/TextFields/src/ContainedInputView/private/MDCContainedInputViewLabelAnimation.m
  components/TextFields/src/ContainedInputView/private/MDCContainedInputViewStyleBase.h
  components/TextFields/src/ContainedInputView/private/MDCContainedInputViewStyleBase.m
  components/TextFields/tests/snapshot/MDCBaseTextFieldSnapshotTests.m
Labels: [TextFields], cla: yes

#8448 [TextFields] Add some placeholder logic
  components/TextFields/examples/MDCBaseTextFieldTypicalUseExample.m
  components/TextFields/src/ContainedInputView/MDCBaseTextField.m
  components/TextFields/tests/snapshot/MDCBaseTextFieldSnapshotTests.m
  components/TextFields/tests/unit/ContainedInputView/MDCBaseTextFieldTests.m
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testEditingTextFieldWithVisiblePlaceholder_11_2@2x.png
Labels: [TextFields], cla: yes

#8503 [NavigationDrawer] Allow users to scroll to dismiss on lower resolution devices.
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
Labels: [NavigationDrawer], cla: yes

#8514 [NavigationDrawer] Fix broken header when content expands
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
Labels: [NavigationDrawer], cla: yes

#8511 [TextFields] Tinkering with snapshot tests
  components/TextFields/tests/snapshot/MDCBaseTextFieldSnapshotTests.m
Labels: [TextFields], cla: yes

#8521 [TextFields] Preserve placeholder font.
  components/TextFields/BUILD
  components/TextFields/src/MDCMultilineTextField.m
  components/TextFields/src/MDCTextField.m
  components/TextFields/src/private/MDCTextInputCommonFundament.h
  components/TextFields/src/private/MDCTextInputCommonFundament.m
  components/TextFields/tests/unit/MDCTextInputCommonFundamentTests.m
Labels: [TextFields], cla: yes

#8519 [Tabs] Remove internal layout type.
  components/Tabs/src/TabBarView/MDCTabBarView.m
Labels: PR:merge-when-approved, [Tabs], cla: yes, skill:Refactoring, type:Internal cleanup

#8524 [TextFields] Rename "contained input view" to "text control"
  components/TextFields/src/ContainedInputView/MDCBaseTextField.m
  components/TextFields/src/ContainedInputView/private/MDCBaseTextFieldLayout.h
  components/TextFields/src/ContainedInputView/private/MDCBaseTextFieldLayout.m
  components/TextFields/src/ContainedInputView/private/MDCTextControl.h
  components/TextFields/src/ContainedInputView/private/MDCTextControlColorViewModel.h
  components/TextFields/src/ContainedInputView/private/MDCTextControlColorViewModel.m
  components/TextFields/src/ContainedInputView/private/MDCTextControlLabelAnimation.h
  components/TextFields/src/ContainedInputView/private/MDCTextControlLabelAnimation.m
  components/TextFields/src/ContainedInputView/private/MDCTextControlLabelState.h
  components/TextFields/src/ContainedInputView/private/MDCTextControlStyleBase.h
  components/TextFields/src/ContainedInputView/private/MDCTextControlStyleBase.m
  components/TextFields/src/ContainedInputView/private/MDCTextControlVerticalPositioningReference.h
  components/TextFields/src/ContainedInputView/private/MDCTextControlVerticalPositioningReferenceBase.h
  components/TextFields/src/ContainedInputView/private/MDCTextControlVerticalPositioningReferenceBase.m
  components/TextFields/tests/unit/ContainedInputView/MDCBaseTextFieldLayoutTests.m
  components/TextFields/tests/unit/ContainedInputView/MDCBaseTextFieldTests.m
Labels: [TextFields], cla: yes

#8512 [Tabs] Correct MDCTabBarView behavior for contentInset.
  components/Tabs/src/TabBarView/MDCTabBarView.m
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testCustomInsetsTopAndRightRepositionsJustifiedViews_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSafeAreaAndContentInsetCombineTopAndLeftForJustifiedLayoutStyle_11_2@2x.png
Labels: [Tabs], cla: yes

#8518 [BottomNavigation] Add support for custom badge and text colors.
  components/BottomNavigation/src/MDCBottomNavigationBar.h
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.h
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationBarSnapshotTests.m
  components/BottomNavigation/tests/unit/BottomNavigationItemViewTests.m
  components/BottomNavigation/tests/unit/MDCBottomNavigationBarTests.m
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testCustomBadgeColorsSetAfterItems_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testCustomBadgeColorsSetBeforeItems_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testNilBadgeColorsRendersClearBackgroundAndUILabelDefaultTextColor_11_2@2x.png
Labels: Accessibility, [BottomNavigation], cla: yes

#8525 [PR templete] Updated link in template
  PULL_REQUEST_TEMPLATE.md
Labels: cla: yes

#8531 [MDFTesting] remove MDFTesting references.
  MaterialComponents.podspec
  catalog/BUILD
  components/private/Color/BUILD
  components/private/Color/tests/unit/MaterialColorTests.m
Labels: [Catalog], [private], cla: yes

#8505 [Ripple] Add callbacks for MDCRippleView and MDCRippleLayer NO is passed in for animated parameter
  components/Ripple/src/MDCRippleView.m
  components/Ripple/src/private/MDCRippleLayer.m
Labels: [Ripple], cla: yes

#8535 [TextFields] Add some accessors
  components/TextFields/src/ContainedInputView/MDCBaseTextField.m
  components/TextFields/src/ContainedInputView/private/MDCTextControl.h
Labels: [TextFields], cla: yes
