Repository material-components/material-components-ios, pull requests merged in 2019-02, with the labels that each got.

#6538 {kokoro} Run snapshots "exclusively"
  material_components_ios.bzl
Labels: PR:merge-when-approved, [testing], cla: yes, skill:Bazel, skill:Kokoro

#6539 [BottomNavigation] Add RTL snapshot tests.
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationBarSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testCenteredCompactAlwaysFiveItemsFitWidthFitHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testCenteredCompactAlwaysFiveItemsFitWidthFitHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testCenteredRegularAlwaysFiveItemsFitWidthFitHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testCenteredRegularAlwaysFiveItemsFitWidthFitHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testCenteredUnspecifiedAlwaysFiveItemsFitWidthFitHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testCenteredUnspecifiedAlwaysFiveItemsFitWidthFitHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testCenteredUnspecifiedAlwaysWithFiveLongTitleItemsiPadWidthTypicalHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testCenteredUnspecifiedAlwaysWithFiveLongTitleItemsiPadWidthTypicalHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedAdjacentCompactAlwaysFiveItemsFitWidthFitHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedAdjacentCompactAlwaysFiveItemsFitWidthFitHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedAdjacentRegularAlwaysFiveItemsFitWidthFitHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedAdjacentRegularAlwaysFiveItemsFitWidthFitHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedAdjacentRegularAlwaysWithFiveLongTitleItemsiPadWidthTypicalHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedAdjacentRegularAlwaysWithFiveLongTitleItemsiPadWidthTypicalHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedAdjacentUnspecifiedAlwaysFiveItemsFitWidthFitHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedAdjacentUnspecifiedAlwaysFiveItemsFitWidthFitHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedCompactAlwaysFiveItemsFitWidthFitHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedCompactAlwaysFiveItemsFitWidthFitHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedRegularAlwaysFiveItemsFitWidthFitHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedRegularAlwaysFiveItemsFitWidthFitHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedUnspecifiedAlwaysFiveItemsFitWidthFitHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedUnspecifiedAlwaysFiveItemsFitWidthFitHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedUnspecifiedAlwaysFiveItemsNarrowWidthShortHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedUnspecifiedAlwaysFiveItemsNarrowWidthShortHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedUnspecifiedAlwaysFiveItemsWideWidthTallHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedUnspecifiedAlwaysFiveItemsWideWidthTallHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedUnspecifiedAlwaysWithFiveLongTitleItemsiPadWidthTypicalHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedUnspecifiedAlwaysWithFiveLongTitleItemsiPadWidthTypicalHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedUnspecifiedAlwaysWithThreeItemsTypicalWidthTypicalHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedUnspecifiedAlwaysWithThreeItemsTypicalWidthTypicalHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedUnspecifiedNeverWithThreeItemsTypicalWidthTypicalHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedUnspecifiedNeverWithThreeItemsTypicalWidthTypicalHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedUnspecifiedSelectedWithThreeItemsTypicalWidthTypicalHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedUnspecifiedSelectedWithThreeItemsTypicalWidthTypicalHeightRTL_11_2@2x.png
Labels: PR:merge-when-approved, [BottomNavigation], [testing], cla: yes, type:Test

#6533 [BottomNavigation] Add ItemView snapshot tests.
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationItemViewSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testMaximumWidthTypicalHeightLongTitleAdjacentLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testMaximumWidthTypicalHeightLongTitleAdjacentRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testMaximumWidthTypicalHeightLongTitleStackedLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testMaximumWidthTypicalHeightLongTitleStackedRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testMinimumWidthTypicalHeightLongTitleAdjacentLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testMinimumWidthTypicalHeightLongTitleAdjacentRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testMinimumWidthTypicalHeightLongTitleStackedLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testMinimumWidthTypicalHeightLongTitleStackedRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testNarrowWidthTypicalHeightLongTitleAdjacentLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testNarrowWidthTypicalHeightLongTitleAdjacentRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testNarrowWidthTypicalHeightLongTitleStackedLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testNarrowWidthTypicalHeightLongTitleStackedRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testTypicalWidthShortHeightLongTitleAdjacentLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testTypicalWidthShortHeightLongTitleAdjacentRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testTypicalWidthShortHeightLongTitleStackedLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testTypicalWidthShortHeightLongTitleStackedRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testTypicalWidthTallHeightLongTitleAdjacentLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testTypicalWidthTallHeightLongTitleAdjacentRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testTypicalWidthTallHeightLongTitleStackedLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testTypicalWidthTallHeightLongTitleStackedRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testTypicalWidthTypicalHeightLongTitleAdjacentLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testTypicalWidthTypicalHeightLongTitleAdjacentRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testTypicalWidthTypicalHeightLongTitleStackedLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testTypicalWidthTypicalHeightLongTitleStackedRTL_11_2@2x.png
Labels: PR:merge-when-approved, [BottomNavigation], [private], [testing], cla: yes, type:Test

#6447 [AppBar] Add animated tab switching example
  components/AppBar/examples/AppBarAnimatedGlitchExample.swift
Labels: [AppBar], cla: yes

#6547 [Dialogs] buttons theming and emphasis documentation
  components/Dialogs/README.md
  components/Dialogs/docs/theming.md
Labels: [Dialogs], cla: yes

#6420 [BottomAppBar] Fix it/bottom app bar cut out
  components/BottomAppBar/examples/BottomAppBarTypicalUseExample.swift
  components/BottomAppBar/src/private/MDCBottomAppBarLayer.m
  components/BottomAppBar/tests/unit/BottomAppBarTests.m
Labels: [BottomAppBar], cla: yes

#6551 [BottomNavigation] Use chrome_reader in example.
  components/BottomNavigation/examples/BottomNavigationTypicalUseExample.m
  components/BottomNavigation/examples/resources/BottomNavigationExamples.xcassets/Contents.json
  components/BottomNavigation/examples/resources/BottomNavigationExamples.xcassets/baseline_chrome_reader_mode_black_24pt.imageset/Contents.json
  components/BottomNavigation/examples/resources/BottomNavigationExamples.xcassets/baseline_chrome_reader_mode_black_24pt.imageset/baseline_chrome_reader_mode_black_24pt_1x.png
  components/BottomNavigation/examples/resources/BottomNavigationExamples.xcassets/baseline_chrome_reader_mode_black_24pt.imageset/baseline_chrome_reader_mode_black_24pt_2x.png
  components/BottomNavigation/examples/resources/BottomNavigationExamples.xcassets/baseline_chrome_reader_mode_black_24pt.imageset/baseline_chrome_reader_mode_black_24pt_3x.png
Labels: PR:screenshot-breaking, [BottomNavigation], cla: yes, type:Polish

#6554 [BottomNavigation] Add snapshot tests for contentInsets
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationItemViewSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testContentInsetsAdjacentLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testContentInsetsAdjacentRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testContentInsetsNoopAdjacentLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testContentInsetsNoopAdjacentRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testContentInsetsNoopStackedLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testContentInsetsNoopStackedRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testContentInsetsStackedLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testContentInsetsStackedRTL_11_2@2x.png
Labels: [BottomNavigation], [testing], cla: yes, type:Test

#6557 [BottomNavigation] Deprecate `itemsContentInsets` API
  components/BottomNavigation/src/MDCBottomNavigationBar.h
Labels: [BottomNavigation], cla: yes, skill:Deprecations

#6559 [BottomNavigation] Add sizeThatFits: to Item View
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
  components/BottomNavigation/tests/unit/BottomNavigationItemViewTests.m
Labels: [BottomNavigation], cla: yes, skill:Refactoring, type:Internal cleanup

#6561 [BottomNavigation] Suppress deprecation warning.
  components/BottomNavigation/src/MDCBottomNavigationBar.m
Labels: PR:merge-when-approved, [BottomNavigation], cla: yes, type:Internal cleanup

#6186 [Catalog] Completed audit of swift forced unwrapping in catalog
  components/ActionSheet/examples/ActionSheetSwiftExampleViewController.swift
  components/Cards/examples/EditReorderShapedCollectionViewController.swift
  components/MaskedTransition/examples/MaskedTransitionTypicalUse.swift
  components/Palettes/examples/supplemental/PalettesExampleViewController.swift
  components/TextFields/examples/TextFieldFilledExample.swift
  components/TextFields/examples/TextFieldKitchenSinkExample.swift
  components/TextFields/examples/TextFieldOutlinedExample.swift
  components/Typography/examples/TypographyFontListExample.swift
Labels: [ActionSheet], [Cards], [MaskedTransition], [Palettes], [TextFields], [Typography], cla: yes

#6567 [Dialogs] Fix deprecation warnings.
  components/Dialogs/src/DialogThemer/MDCAlertControllerThemer.m
Labels: PR:merge-when-approved, [Dialogs], cla: yes, type:Internal cleanup

#6572 [Dialogs] Remove internal usage of Themers.
  components/Dialogs/src/Theming/MDCAlertController+MaterialTheming.m
Labels: [Dialogs], cla: yes, type:Internal cleanup

#6575 {kokoro} Fix develop
  .kokoro
  components/BottomSheet/tests/unit/BottomSheetShapeThemerTests.swift
  components/Cards/tests/unit/MDCCardShapeThemerTests.swift
  components/Cards/tests/unit/Theming/CardsMaterialThemingTests.swift
Labels: Scripts, [BottomSheet], [Cards], cla: yes, skill:Kokoro, skill:Scripting

#6576 [Dialogs] hide non main examples in Catalog
  components/Dialogs/examples/DialogsAlertExampleViewController.m
Labels: [Dialogs], cla: yes

#6577 [Releasing] Require presubmits to pass
  contributing/releasing.md
Labels: PR:merge-when-approved, [Documentation], [docs], cla: yes, skill:Release engineering, type:Documentation

#6586 [BottomNavigation] Extend ripple to bar bounds.
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testCenteredRegularAlwaysFiveItemsFitWidthFitHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testCenteredRegularAlwaysFiveItemsFitWidthFitHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedAdjacentRegularAlwaysWithFiveLongTitleItemsiPadWidthTypicalHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedAdjacentRegularAlwaysWithFiveLongTitleItemsiPadWidthTypicalHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedUnspecifiedAlwaysFiveItemsNarrowWidthShortHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedUnspecifiedAlwaysFiveItemsNarrowWidthShortHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedUnspecifiedAlwaysFiveItemsWideWidthTallHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedUnspecifiedAlwaysFiveItemsWideWidthTallHeightRTL_11_2@2x.png
Labels: [BottomNavigation], cla: yes, type:Bug

#6594 [BottomNavigation] Badge size grows with value
  components/BottomNavigation/src/private/MDCBottomNavigationItemBadge.m
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
Labels: [BottomNavigation], cla: yes, type:Bug

#6587 [BottomNavigation] Add support for blur effect.
  components/BottomNavigation/src/MDCBottomNavigationBar.h
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationBarSnapshotTests.m
  components/BottomNavigation/tests/unit/BottomNavigationTests.m
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testTransparentBackgroundColorWithDarkBlur_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testTransparentBackgroundColorWithExtraLightBlur_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testTransparentBackgroundColorWithLightBlur_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testTransparentBackgroundColor_11_2@2x.png
Labels: [BottomNavigation], cla: yes, type:Feature request

#6584 [BottomNavigation] Delete `itemsContentInsets` API
  components/BottomNavigation/src/MDCBottomNavigationBar.h
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.h
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationItemViewSnapshotTests.m
  components/BottomNavigation/tests/unit/BottomNavigationItemViewTests.m
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testContentInsetsAdjacentLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testContentInsetsAdjacentRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testContentInsetsNoopAdjacentLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testContentInsetsNoopAdjacentRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testContentInsetsNoopStackedLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testContentInsetsNoopStackedRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testContentInsetsStackedLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testContentInsetsStackedRTL_11_2@2x.png
Labels: [BottomNavigation], cla: yes, skill:Deprecations, type:API change

#6580 [Cocoapods] Upgrade to Cocoapods 1.6.0
  .kokoro
  catalog/MDCCatalog.xcodeproj/project.pbxproj
  catalog/MDCCatalog.xcodeproj/xcshareddata/xcschemes/MDCCatalog.xcscheme
  catalog/MDCDragons.xcodeproj/project.pbxproj
  catalog/MDCDragons.xcodeproj/xcshareddata/xcschemes/MDCDragons.xcscheme
  catalog/Podfile
Labels: [Catalog], cla: yes

#6589 [BottomNavigation] Add blur example
  components/BottomNavigation/examples/BottomNavigationBlurExample.m
  components/BottomNavigation/examples/resources/BottomNavigationExamples.xcassets/baseline_blur_off_black_24pt.imageset/Contents.json
  components/BottomNavigation/examples/resources/BottomNavigationExamples.xcassets/baseline_blur_off_black_24pt.imageset/baseline_blur_off_black_24pt_1x.png
  components/BottomNavigation/examples/resources/BottomNavigationExamples.xcassets/baseline_blur_off_black_24pt.imageset/baseline_blur_off_black_24pt_2x.png
  components/BottomNavigation/examples/resources/BottomNavigationExamples.xcassets/baseline_blur_off_black_24pt.imageset/baseline_blur_off_black_24pt_3x.png
  components/BottomNavigation/examples/resources/BottomNavigationExamples.xcassets/baseline_blur_on_black_24pt.imageset/Contents.json
  components/BottomNavigation/examples/resources/BottomNavigationExamples.xcassets/baseline_blur_on_black_24pt.imageset/baseline_blur_on_black_24pt_1x.png
  components/BottomNavigation/examples/resources/BottomNavigationExamples.xcassets/baseline_blur_on_black_24pt.imageset/baseline_blur_on_black_24pt_2x.png
  components/BottomNavigation/examples/resources/BottomNavigationExamples.xcassets/baseline_blur_on_black_24pt.imageset/baseline_blur_on_black_24pt_3x.png
Labels: [BottomNavigation], cla: yes, type:Polish

#6598 [Kokoro] Fix website generator failing in our CI
  .kokoro
Labels: cla: yes

#6588 [Ripple] Fix ripple layout issues with autolayout
  MaterialComponentsSnapshotTests.podspec
  catalog/Podfile
  components/Ripple/src/MDCRippleView.m
  components/Ripple/src/private/MDCRippleLayer.m
  components/Ripple/tests/snapshot/MDCRippleViewSnapshotTests.m
  components/Ripple/tests/unit/MDCRippleLayerTests.m
  snapshot_test_goldens/goldens_64/MDCRippleViewSnapshotTests/testDefaultRippleView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCRippleViewSnapshotTests/testLayoutChange_11_2@2x.png
Labels: [Catalog], [Ripple], cla: yes

#6591 [States] [Ripple] Provides a Stateful Ripple implementation
  components/Ripple/BUILD
  components/Ripple/examples/StatefulRippleExample.swift
  components/Ripple/examples/resources/StatefulRippleExample.xib
  components/Ripple/src/MDCRippleView.m
  components/Ripple/src/MDCStatefulRippleView.h
  components/Ripple/src/MDCStatefulRippleView.m
  components/Ripple/src/MaterialRipple.h
Labels: [Ripple], cla: yes

#6603 [BottomNavigation] Fix Item View layout.
  components/BottomNavigation/src/MDCBottomNavigationBar.h
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.h
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationBarSnapshotTests.m
  components/BottomNavigation/tests/unit/BottomNavigationItemViewTests.m
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testCenteredUnspecifiedAlwaysWithFiveLongTitleItemsUnboundiPadWidthTypicalHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testCenteredUnspecifiedAlwaysWithFiveLongTitleItemsUnboundiPadWidthTypicalHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedAdjacentRegularAlwaysFiveItemsFitWidthFitHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedAdjacentRegularAlwaysFiveItemsFitWidthFitHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedAdjacentRegularAlwaysWithFiveLongTitleItemsUnboundiPadWidthTypicalHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedAdjacentRegularAlwaysWithFiveLongTitleItemsUnboundiPadWidthTypicalHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedAdjacentRegularAlwaysWithFiveLongTitleItemsiPadWidthTypicalHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedAdjacentRegularAlwaysWithFiveLongTitleItemsiPadWidthTypicalHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedUnspecifiedAlwaysWithFiveLongTitleItemsUnboundiPadWidthTypicalHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedUnspecifiedAlwaysWithFiveLongTitleItemsUnboundiPadWidthTypicalHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testMaximumWidthTypicalHeightLongTitleSingleBadgeAdjacentLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testMaximumWidthTypicalHeightLongTitleSingleBadgeAdjacentRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testMinimumWidthTypicalHeightLongTitleEmptyBadgeAdjacentLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testMinimumWidthTypicalHeightLongTitleEmptyBadgeAdjacentRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testNarrowWidthTypicalHeightLongTitleSingleBadgeAdjacentLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testNarrowWidthTypicalHeightLongTitleSingleBadgeAdjacentRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testTypicalWidthShortHeightLongTitleSingleBadgeAdjacentLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testTypicalWidthShortHeightLongTitleSingleBadgeAdjacentRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testTypicalWidthTallHeightLongTitleEmptyBadgeAdjacentLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testTypicalWidthTallHeightLongTitleEmptyBadgeAdjacentRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testTypicalWidthTypicalHeightLongTitleMaxBadgeAdjacentLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testTypicalWidthTypicalHeightLongTitleMaxBadgeAdjacentRTL_11_2@2x.png
Labels: PR:screenshot-breaking, [BottomNavigation], [Catalog], cla: yes

#6604 [BottomNavigation] Fix "centered" alignment.
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testCenteredCompactAlwaysFiveItemsFitWidthFitHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testCenteredCompactAlwaysFiveItemsFitWidthFitHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testCenteredRegularAlwaysFiveItemsFitWidthFitHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testCenteredRegularAlwaysFiveItemsFitWidthFitHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testCenteredUnspecifiedAlwaysFiveItemsFitWidthFitHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testCenteredUnspecifiedAlwaysFiveItemsFitWidthFitHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testCenteredUnspecifiedAlwaysWithFiveLongTitleItemsUnboundiPadWidthTypicalHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testCenteredUnspecifiedAlwaysWithFiveLongTitleItemsUnboundiPadWidthTypicalHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testCenteredUnspecifiedAlwaysWithFiveLongTitleItemsiPadWidthTypicalHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testCenteredUnspecifiedAlwaysWithFiveLongTitleItemsiPadWidthTypicalHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testCustomColorScheme_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedAdjacentCompactAlwaysFiveItemsFitWidthFitHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedAdjacentCompactAlwaysFiveItemsFitWidthFitHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedAdjacentRegularAlwaysFiveItemsFitWidthFitHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedAdjacentRegularAlwaysFiveItemsFitWidthFitHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedAdjacentRegularAlwaysWithFiveLongTitleItemsUnboundiPadWidthTypicalHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedAdjacentRegularAlwaysWithFiveLongTitleItemsUnboundiPadWidthTypicalHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedAdjacentRegularAlwaysWithFiveLongTitleItemsiPadWidthTypicalHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedAdjacentRegularAlwaysWithFiveLongTitleItemsiPadWidthTypicalHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedAdjacentUnspecifiedAlwaysFiveItemsFitWidthFitHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedAdjacentUnspecifiedAlwaysFiveItemsFitWidthFitHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedCompactAlwaysFiveItemsFitWidthFitHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedCompactAlwaysFiveItemsFitWidthFitHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedRegularAlwaysFiveItemsFitWidthFitHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedRegularAlwaysFiveItemsFitWidthFitHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedUnspecifiedAlwaysFiveItemsFitWidthFitHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedUnspecifiedAlwaysFiveItemsFitWidthFitHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedUnspecifiedAlwaysFiveItemsNarrowWidthShortHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedUnspecifiedAlwaysFiveItemsNarrowWidthShortHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedUnspecifiedAlwaysFiveItemsWideWidthTallHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedUnspecifiedAlwaysFiveItemsWideWidthTallHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedUnspecifiedAlwaysWithFiveLongTitleItemsUnboundiPadWidthTypicalHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedUnspecifiedAlwaysWithFiveLongTitleItemsUnboundiPadWidthTypicalHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedUnspecifiedAlwaysWithFiveLongTitleItemsiPadWidthTypicalHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedUnspecifiedAlwaysWithFiveLongTitleItemsiPadWidthTypicalHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedUnspecifiedAlwaysWithThreeItemsTypicalWidthTypicalHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedUnspecifiedAlwaysWithThreeItemsTypicalWidthTypicalHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedUnspecifiedNeverWithThreeItemsTypicalWidthTypicalHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedUnspecifiedNeverWithThreeItemsTypicalWidthTypicalHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedUnspecifiedSelectedWithThreeItemsTypicalWidthTypicalHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedUnspecifiedSelectedWithThreeItemsTypicalWidthTypicalHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testMaterialBaselineTheme_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testTransparentBackgroundColorWithDarkBlur_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testTransparentBackgroundColorWithExtraLightBlur_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testTransparentBackgroundColorWithLightBlur_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testTransparentBackgroundColor_11_2@2x.png
Labels: PR:screenshot-breaking, [BottomNavigation], cla: yes

#6600 [MDC Dialogs] add an example for themed button with emphasis
  components/Dialogs/examples/DialogsWithEmphasisButtonExampleViewController.swift
Labels: [Dialogs], cla: yes

#6613 [ActionSheet] Promote to Ready
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  catalog/Podfile
  components/ActionSheet/examples/ActionSheetSwiftExampleViewController.swift
  components/ActionSheet/tests/unit/ActionSheetTest.swift
Labels: [ActionSheet], [Catalog], cla: yes

#6582 [Releasing] Moved hotfix instructions above create PR
  contributing/releasing.md
Labels: [Documentation], [docs], cla: yes, skill:Release engineering, type:Documentation

#6611 [Cocoapods] Fix snapshot testing after Cocoapods 1.6.0 update
  MaterialComponentsSnapshotTests.podspec
  catalog/MDCCatalog.xcodeproj/project.pbxproj
  catalog/MDCCatalog.xcodeproj/xcshareddata/xcschemes/MDCCatalog.xcscheme
  catalog/MDCDragons.xcodeproj/project.pbxproj
  catalog/MDCDragons.xcodeproj/xcshareddata/xcschemes/MDCDragons.xcscheme
  catalog/Podfile
  components/BottomNavigation/BUILD
  components/BottomNavigation/tests/snapshot/BottomNavigationSnapshotTestsSwiftSourceDummy.swift
  components/Cards/tests/snapshot/CardsSnapshotTestsSwiftSourceDummy.swift
  components/Chips/BUILD
  components/Chips/tests/snapshot/ChipsSnapshotTestsSwiftSourceDummy.swift
  components/Ripple/BUILD
  components/Ripple/tests/snapshot/RippleSnapshotTestsSwiftSourceDummy.swift
  components/TextFields/BUILD
  components/TextFields/tests/snapshot/TextFieldsSnapshotTestsSwiftSourceDummy.swift
  components/private/Snapshot/BUILD
  components/private/Snapshot/src/SourceDummies/MDCGlobalSnapshotSourceDummy.h
  components/private/Snapshot/src/SourceDummies/MDCGlobalSnapshotSourceDummy.m
  demos/Bare/Bare.xcodeproj/project.pbxproj
  demos/Pesto/Pesto.xcodeproj/project.pbxproj
  demos/Shrine/Shrine.xcodeproj/project.pbxproj
Labels: [BottomNavigation], [Cards], [Catalog], [Chips], [Ripple], [TextFields], [private], cla: yes

#6615 [Ripple] [States] Moving touch handling ownership away from the ripple view
  components/Ripple/examples/StatefulRippleExample.swift
  components/Ripple/src/MDCStatefulRippleView.h
  components/Ripple/src/MDCStatefulRippleView.m
Labels: [Ripple], cla: yes

#6616 [Shapes] ShadowPath nullified when shapeGenerator is nil
  components/Shapes/src/MDCShapedShadowLayer.m
Labels: [Shapes], cla: yes

#6619 Revert "[Cocoapods] Fix snapshot testing after Cocoapods 1.6.0 update"
  MaterialComponentsSnapshotTests.podspec
  catalog/MDCCatalog.xcodeproj/project.pbxproj
  catalog/MDCCatalog.xcodeproj/xcshareddata/xcschemes/MDCCatalog.xcscheme
  catalog/MDCDragons.xcodeproj/project.pbxproj
  catalog/MDCDragons.xcodeproj/xcshareddata/xcschemes/MDCDragons.xcscheme
  catalog/Podfile
  components/BottomNavigation/BUILD
  components/Cards/tests/snapshot/CardsSnapshotTestsSwiftSourceDummy.swift
  components/Cards/tests/snapshot/Dummy.swift
  components/Chips/BUILD
  components/Chips/tests/snapshot/ChipsSnapshotTestsSwiftSourceDummy.swift
  components/Ripple/BUILD
  components/Ripple/tests/snapshot/RippleSnapshotTestsSwiftSourceDummy.swift
  components/TextFields/BUILD
  components/TextFields/tests/snapshot/TextFieldsSnapshotTestsSwiftSourceDummy.swift
  components/private/Snapshot/BUILD
  components/private/Snapshot/src/SourceDummies/MDCGlobalSnapshotSourceDummy.h
  components/private/Snapshot/src/SourceDummies/MDCGlobalSnapshotSourceDummy.m
  demos/Bare/Bare.xcodeproj/project.pbxproj
  demos/Pesto/Pesto.xcodeproj/project.pbxproj
  demos/Shrine/Shrine.xcodeproj/project.pbxproj
Labels: [BottomNavigation], [Catalog], [Chips], [Ripple], [TextFields], [private], cla: yes

#6629 [NavigationDrawer] Add a11y identifier for the nav drawer scrollview
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
Labels: [NavigationDrawer], cla: yes

#6601 [MDC Dialogs] add an example for custom dialog view controller themed by theming extension
  components/Dialogs/BUILD
  components/Dialogs/examples/DialogsThemedPresentationExampleViewController.swift
  components/Dialogs/examples/resources/DialogsAssets.xcassets/Contents.json
  components/Dialogs/examples/resources/DialogsAssets.xcassets/add_circle.imageset/Contents.json
  components/Dialogs/examples/resources/DialogsAssets.xcassets/add_circle.imageset/ic_add_circle_black_1x_ios_24dp.png
  components/Dialogs/examples/resources/DialogsAssets.xcassets/add_circle.imageset/ic_add_circle_black_2x_ios_24dp.png
  components/Dialogs/examples/resources/DialogsAssets.xcassets/add_circle.imageset/ic_add_circle_black_3x_ios_24dp.png
  components/Dialogs/examples/resources/DialogsAssets.xcassets/ic_person.imageset/Contents.json
  components/Dialogs/examples/resources/DialogsAssets.xcassets/ic_person.imageset/ic_person_black_1x_ios_24dp.png
  components/Dialogs/examples/resources/DialogsAssets.xcassets/ic_person.imageset/ic_person_black_2x_ios_24dp.png
  components/Dialogs/examples/resources/DialogsAssets.xcassets/ic_person.imageset/ic_person_black_3x_ios_24dp.png
Labels: [Dialogs], cla: yes

#6644 [BottomAppBar] Fix FAB location when RTL changes.
  components/BottomAppBar/src/MDCBottomAppBarView.m
Labels: [BottomAppBar], cla: yes, skill:RTL, type:Bug

#6643 [BottomAppBar] Add basic snapshot tests.
  MaterialComponentsSnapshotTests.podspec
  catalog/Podfile
  components/BottomAppBar/BUILD
  components/BottomAppBar/tests/snapshot/MDCBottomAppBarSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCBottomAppBarSnapshotTests/testFloatingButtonCenterLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomAppBarSnapshotTests/testFloatingButtonCenterRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomAppBarSnapshotTests/testFloatingButtonElevationSecondaryLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomAppBarSnapshotTests/testFloatingButtonElevationSecondaryRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomAppBarSnapshotTests/testFloatingButtonHiddenLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomAppBarSnapshotTests/testFloatingButtonHiddenRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomAppBarSnapshotTests/testFloatingButtonLeadingLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomAppBarSnapshotTests/testFloatingButtonLeadingRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomAppBarSnapshotTests/testFloatingButtonTrailingLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomAppBarSnapshotTests/testFloatingButtonTrailingRTL_11_2@2x.png
Labels: [BottomAppBar], [Catalog], [testing], cla: yes, type:Test

#6641 [Dialogs] Add snapshot tests to MDCAlertController
  MaterialComponentsSnapshotTests.podspec
  catalog/Podfile
  components/Dialogs/BUILD
  components/Dialogs/tests/snapshot/MDCAlertControllerSnapshotTests.m
  components/Dialogs/tests/snapshot/MDCAlertController_ThemingSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCAlertControllerSnapshotTests/testDefaultAppearanceWithLargeIconLongMessageArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerSnapshotTests/testDefaultAppearanceWithLargeIconLongMessageLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerSnapshotTests/testDefaultAppearanceWithLargeIconLongTitleLongMessageArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerSnapshotTests/testDefaultAppearanceWithLargeIconLongTitleLongMessageLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerSnapshotTests/testDefaultAppearanceWithLongTitleLongMessageArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerSnapshotTests/testDefaultAppearanceWithLongTitleLongMessageLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerSnapshotTests/testDefaultAppearanceWithShortTitleShortMessageArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerSnapshotTests/testDefaultAppearanceWithShortTitleShortMessageLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerSnapshotTests/testDefaultAppearanceWithSmallIconShortMessageArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerSnapshotTests/testDefaultAppearanceWithSmallIconShortMessageLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertController_ThemingSnapshotTests/testCustomThemeWithLargeIconLongMessageArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertController_ThemingSnapshotTests/testCustomThemeWithLargeIconLongMessageLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertController_ThemingSnapshotTests/testCustomThemeWithLargeIconLongTitleLongMessageArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertController_ThemingSnapshotTests/testCustomThemeWithLargeIconLongTitleLongMessageLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertController_ThemingSnapshotTests/testCustomThemeWithLongTitleLongMessageArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertController_ThemingSnapshotTests/testCustomThemeWithLongTitleLongMessageLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertController_ThemingSnapshotTests/testDefaultThemeWithLargeIconLongMessageArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertController_ThemingSnapshotTests/testDefaultThemeWithLargeIconLongMessageLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertController_ThemingSnapshotTests/testDefaultThemeWithLargeIconLongTitleLongMessageArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertController_ThemingSnapshotTests/testDefaultThemeWithLargeIconLongTitleLongMessageLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertController_ThemingSnapshotTests/testDefaultThemeWithLongTitleLongMessageArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertController_ThemingSnapshotTests/testDefaultThemeWithLongTitleLongMessageLatin_11_2@2x.png
Labels: [Catalog], [Dialogs], [testing], cla: yes, type:Test

#6640 [Slider] Add basic snapshot tests.
  MaterialComponentsSnapshotTests.podspec
  catalog/Podfile
  components/Slider/BUILD
  components/Slider/tests/snapshot/MDCSliderSnapshotTests.m
  components/Slider/tests/snapshot/MDCSliderStatesSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCSliderSnapshotTests/testContinuousSliderAtMaximum_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSliderSnapshotTests/testContinuousSliderAtMidpoint_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSliderSnapshotTests/testContinuousSliderAtMinimum_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSliderSnapshotTests/testDiscreteSliderAtMaximum_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSliderSnapshotTests/testDiscreteSliderAtMidpoint_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSliderSnapshotTests/testDiscreteSliderAtMinimum_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSliderSnapshotTests/testNotHollowThumbAtStart_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSliderStatesSnapshotTests/testDisabledStateContinuous_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSliderStatesSnapshotTests/testDisabledStateDiscrete_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSliderStatesSnapshotTests/testHighlightedStateContinuous_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSliderStatesSnapshotTests/testHighlightedStateDiscrete_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSliderStatesSnapshotTests/testNormalStateContinuous_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSliderStatesSnapshotTests/testNormalStateDiscrete_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSliderStatesSnapshotTests/testSelectedHighlightedStateContinuous_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSliderStatesSnapshotTests/testSelectedHighlightedStateDiscrete_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSliderStatesSnapshotTests/testSelectedStateContinuous_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSliderStatesSnapshotTests/testSelectedStateDiscrete_11_2@2x.png
Labels: [Catalog], [Slider], [testing], cla: yes, type:Test

#6639 [Buttons] Add states snapshot tests.
  MaterialComponentsSnapshotTests.podspec
  catalog/Podfile
  components/Buttons/BUILD
  components/Buttons/tests/snapshot/ButtonsStatesSnapshotTests.m
  snapshot_test_goldens/goldens_64/ButtonsStatesSnapshotTests/testDisabledState_11_2@2x.png
  snapshot_test_goldens/goldens_64/ButtonsStatesSnapshotTests/testHighlightedSelectedState_11_2@2x.png
  snapshot_test_goldens/goldens_64/ButtonsStatesSnapshotTests/testHighlightedState_11_2@2x.png
  snapshot_test_goldens/goldens_64/ButtonsStatesSnapshotTests/testNormalState_11_2@2x.png
  snapshot_test_goldens/goldens_64/ButtonsStatesSnapshotTests/testSelectedState_11_2@2x.png
Labels: [Buttons], [Catalog], [testing], cla: yes, type:Test

#6662 [ButtonBar] Add basic snapshot tests.
  MaterialComponentsSnapshotTests.podspec
  catalog/Podfile
  components/ButtonBar/BUILD
  components/ButtonBar/tests/snapshot/MDCButtonBarSnapshotTests.m
  components/ButtonBar/tests/snapshot/MDCButtonBar_ThemingSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCButtonBarSnapshotTests/testButtonTitleBaselineHalfHeight_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCButtonBarSnapshotTests/testButtonTitleBaselineQuarterHeight_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCButtonBarSnapshotTests/testImagesSizeToFitLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCButtonBarSnapshotTests/testImagesSizeToFitRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCButtonBarSnapshotTests/testImagesSizeTooTallLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCButtonBarSnapshotTests/testImagesSizeTooTallRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCButtonBarSnapshotTests/testImagesSizeTooWideLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCButtonBarSnapshotTests/testImagesSizeTooWideRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCButtonBarSnapshotTests/testLayoutPositionLeadingWithImagesLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCButtonBarSnapshotTests/testLayoutPositionLeadingWithImagesRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCButtonBarSnapshotTests/testLayoutPositionLeadingWithTitlesLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCButtonBarSnapshotTests/testLayoutPositionLeadingWithTitlesRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCButtonBarSnapshotTests/testLayoutPositionTrailingWithImagesLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCButtonBarSnapshotTests/testLayoutPositionTrailingWithImagesRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCButtonBarSnapshotTests/testLayoutPositionTrailingWithTitlesLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCButtonBarSnapshotTests/testLayoutPositionTrailingWithTitlesRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCButtonBarSnapshotTests/testOriginalCaseTitles_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCButtonBarSnapshotTests/testTitlesSizeToFitLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCButtonBarSnapshotTests/testTitlesSizeToFitRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCButtonBarSnapshotTests/testTitlesSizeTooTallLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCButtonBarSnapshotTests/testTitlesSizeTooTallRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCButtonBarSnapshotTests/testTitlesSizeTooWideLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCButtonBarSnapshotTests/testTitlesSizeTooWideRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCButtonBar_ThemingSnapshotTests/testCustomSchemeWithImages_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCButtonBar_ThemingSnapshotTests/testCustomSchemeWithTitles_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCButtonBar_ThemingSnapshotTests/testDefaultSchemeWithImages_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCButtonBar_ThemingSnapshotTests/testDefaultSchemeWithTitles_11_2@2x.png
Labels: [ButtonBar], [Catalog], [testing], cla: yes, type:Test

#6659 [NavigationDrawer] Expose the a11y identifier so it can be reached for testing purposes.
  MaterialComponents.podspec
  components/NavigationDrawer/BUILD
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController+Testing.h
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
Labels: [NavigationDrawer], cla: yes

#6664 [Shapes]! Move shapes from components/private to components/ - Part 2
  MaterialComponents.podspec
  components/Buttons/BUILD
  components/ShapeLibrary/src/MDCCornerTreatment+CornerTypeInitalizer.h
  components/ShapeLibrary/src/MDCCurvedCornerTreatment.h
  components/ShapeLibrary/src/MDCCurvedRectShapeGenerator.h
  components/ShapeLibrary/src/MDCCutCornerTreatment.h
  components/ShapeLibrary/src/MDCPillShapeGenerator.h
  components/ShapeLibrary/src/MDCRoundedCornerTreatment.h
  components/ShapeLibrary/src/MDCSlantedRectShapeGenerator.h
  components/ShapeLibrary/src/MDCTriangleEdgeTreatment.h
  components/ShapeLibrary/src/MaterialShapeLibrary.h
  components/Shapes/src/MDCCornerTreatment.h
  components/Shapes/src/MDCEdgeTreatment.h
  components/Shapes/src/MDCPathGenerator.h
  components/Shapes/src/MDCRectangleShapeGenerator.h
  components/Shapes/src/MDCShapeGenerating.h
  components/Shapes/src/MDCShapedShadowLayer.h
  components/Shapes/src/MDCShapedView.h
  components/Shapes/src/MaterialShapes.h
  components/private/ShapeLibrary/BUILD
  components/private/Shapes/BUILD
Labels: [Buttons], cla: yes

#6621 [Cards] [Ripple] Integrate the new ripple and states into the Cards component
  .kokoro
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  components/Cards/BUILD
  components/Cards/src/MDCCard+Ripple.h
  components/Cards/src/MDCCard+Ripple.m
  components/Cards/src/MDCCard.m
  components/Cards/src/MDCCardCollectionCell+Ripple.h
  components/Cards/src/MDCCardCollectionCell+Ripple.m
  components/Cards/src/MDCCardCollectionCell.h
  components/Cards/src/MDCCardCollectionCell.m
  components/Cards/src/private/MDCCard+Private.h
  components/Cards/src/private/MDCCardCollectionCell+Private.h
  components/Cards/src/private/MaterialCards+Private.h
  components/Ripple/BUILD
  components/Ripple/examples/CardCellsWithRippleExample.swift
  components/Ripple/examples/CardWithRippleExample.swift
Labels: [Cards], [Ripple], cla: yes

#6623 [ChipTextField] A new MDCChipTextField component in Alpha
  components/ChipTextField/examples/ChipTextFieldExampleViewController.swift
  components/ChipTextField/examples/MDCChipTextField.h
  components/ChipTextField/examples/MDCChipTextField.m
  components/ChipTextField/examples/UITextFieldWithChipsExample.swift
Labels: [BottomAppBar], [Buttons], [Catalog], [ChipTextField], [Dialogs], [LibraryInfo], [NavigationDrawer], [Slider], cla: yes

#6677 [ActionSheet] Remove Beta test from Ready component
  MaterialComponentsBeta.podspec
  catalog/MDCDragons.xcodeproj/xcshareddata/xcschemes/MDCDragons.xcscheme
  catalog/Podfile
  components/ActionSheet/BUILD
  components/ActionSheet/tests/unit/ActionSheetTest.swift
  components/ActionSheet/tests/unit/ActionSheetThemer/MDCActionSheetThemeTest.m
  components/ActionSheet/tests/unit/ColorThemer/MDCActionSheetColorThemerTest.swift
  components/ActionSheet/tests/unit/Theming/MDCActionSheetThemingTest.m
Labels: [ActionSheet], [Catalog], cla: yes

#6673 {Testing} Create mechanism for test fakes and test data
  .kokoro
  MaterialComponentsBeta.podspec
  MaterialComponentsSnapshotTests.podspec
  MaterialComponentsTestingSupport.podspec
  catalog/Podfile
  components/ButtonBar/BUILD
  components/ButtonBar/tests/snapshot/MDCButtonBar_ThemingSnapshotTests.m
  components/Buttons/BUILD
  components/Buttons/tests/unit/Theming/ButtonsThemingTest.swift
  components/schemes/Typography/BUILD
  components/schemes/Typography/tests/support/MDCTypographyScheme+TestValues.h
  components/schemes/Typography/tests/support/MDCTypographyScheme+TestValues.m
  components/schemes/Typography/tests/support/MaterialTypographyScheme+TestingSupport.h
Labels: PR:merge-when-approved, [ButtonBar], [Buttons], [Catalog], [schemes], [testing], cla: yes, skill:Refactoring

#6638 [Dialogs] Fix button font in Theming Extension
  components/Dialogs/src/Theming/MDCAlertController+MaterialTheming.m
Labels: [Dialogs], cla: yes, type:Bug

#6654 [ActionSheet] Removing theming extensions dependency on themers
  components/ActionSheet/BUILD
  components/ActionSheet/src/Theming/MDCActionSheetController+MaterialTheming.m
Labels: [ActionSheet], cla: yes

#6698 [Ripple] Add Ripple snapshot test target to BUILD file
  components/Ripple/BUILD
Labels: [Ripple], cla: yes

#6690 [ColorScheme] Add test schemes.
  MaterialComponents.podspec
  MaterialComponentsTestingSupport.podspec
  components/ActivityIndicator/BUILD
  components/ActivityIndicator/tests/unit/ActivityIndicatorColorThemerTests.swift
  components/BottomAppBar/BUILD
  components/BottomAppBar/tests/unit/BottomAppBarColorThemerTests.m
  components/schemes/Color/BUILD
  components/schemes/Color/tests/support/MDCSemanticColorScheme+TestValues.h
  components/schemes/Color/tests/support/MDCSemanticColorScheme+TestValues.m
  components/schemes/Color/tests/support/MaterialColorScheme+TestingSupport.h
Labels: [ActivityIndicator], [BottomAppBar], [schemes], [testing], cla: yes, skill:Bazel, skill:CocoaPods, type:Test

#6692 [AppBar] Use test Typography scheme
  MaterialComponents.podspec
  components/AppBar/BUILD
  components/AppBar/tests/unit/AppBarTypographyThemerTests.swift
Labels: [AppBar], [testing], cla: yes, type:Test

#6693 [ButtonBar] Use test Typography scheme
  MaterialComponents.podspec
  components/ButtonBar/BUILD
  components/ButtonBar/tests/unit/ButtonBarButtonTypographyThemerTests.swift
Labels: [ButtonBar], [testing], cla: yes, type:Test

#6695 [Snackbar] Use test Typography scheme
  MaterialComponents.podspec
  components/Snackbar/BUILD
  components/Snackbar/tests/unit/MDCSnackbarTypographyThemerTests.swift
Labels: [Snackbar], [testing], cla: yes, type:Test

#6618 [Cocoapods] Fixing Snapshot Tests
  MaterialComponentsSnapshotTests.podspec
  catalog/MDCCatalog.xcodeproj/project.pbxproj
  catalog/MDCCatalog.xcodeproj/xcshareddata/xcschemes/MDCCatalog.xcscheme
  catalog/MDCDragons.xcodeproj/xcshareddata/xcschemes/MDCDragons.xcscheme
  catalog/Podfile
  components/Cards/BUILD
  components/private/Snapshot/BUILD
  components/private/Snapshot/src/SourceDummies/MDCSnapshotSourceDummy.h
  components/private/Snapshot/src/SourceDummies/MDCSnapshotSourceDummy.m
Labels: [BottomNavigation], [Cards], [Catalog], [Chips], [Ripple], [TextFields], [private], cla: yes

#6686 [ChipTextField] Use MDCChipTextFieldScrollView to replace leftView functionality for flexibility and extensibility
  components/ChipTextField/examples/MDCChipTextField.m
  components/ChipTextField/examples/MDCChipTextFieldScrollView.h
  components/ChipTextField/examples/MDCChipTextFieldScrollView.m
  components/TextFields/src/MDCMultilineTextField.m
  components/TextFields/src/MDCTextField.m
  components/TextFields/src/MDCTextInput.h
  components/TextFields/src/MDCTextInputControllerBase.m
  components/TextFields/src/private/MDCTextInputCommonFundament.m
Labels: [ChipTextField], [TextFields], cla: yes

#6694 [Dialogs] Use test Typography scheme
  MaterialComponents.podspec
  components/Dialogs/BUILD
  components/Dialogs/tests/unit/MDCAlertControllerAlertThemerTests.swift
Labels: [Dialogs], [testing], cla: yes, type:Test

#6317 [ChipTextField] add touch delegate methods into MDCChipTextField
  components/ChipTextField/examples/MDCChipTextField.h
  components/ChipTextField/examples/MDCChipTextField.m
  components/ChipTextField/examples/MDCChipTextFieldScrollView.h
  components/ChipTextField/examples/MDCChipTextFieldScrollView.m
Labels: [ChipTextField], cla: yes

#6548 [States] Material State Scheme (Experimental Prototype)
  MaterialComponentsExamples.podspec
  components/private/State/examples/StateSchemeExampleController.swift
  components/private/State/src/ColorResource.swift
  components/private/State/src/MDCControlState.swift
  components/private/State/src/StateExampleColorScheme.swift
  components/private/State/src/StateScheme.swift
Labels: [private], cla: yes

#6714 [MDCPageControl] Fixes MDCPageControl not properly revealing page indicators.
  components/PageControl/src/MDCPageControl.m
Labels: [Cards], [PageControl], cla: yes

#6699 [Container] Fix colorScheme and typographyScheme to be nonnull.
  components/ActionSheet/examples/ActionSheetSwiftExampleViewController.swift
  components/Buttons/examples/ButtonsCustomFontViewController.swift
  components/Cards/examples/EditReorderCollectionViewController.swift
  components/Chips/examples/ChipsFieldDeleteEnabledViewController.swift
  components/Dialogs/examples/DialogsAlertComparisonExample.swift
  components/Dialogs/examples/DialogsAlertCustomizationExampleViewController.swift
  components/Dialogs/examples/DialogsCustomShadowExampleViewController.swift
  components/Dialogs/examples/DialogsLongAlertExampleViewController.swift
  components/Dialogs/examples/DialogsThemedPresentationExampleViewController.swift
  components/Dialogs/examples/DialogsWithEmphasisButtonExampleViewController.swift
  components/Dialogs/tests/unit/Theming/DialogsMaterialThemingTests.swift
  components/schemes/Container/src/MDCContainerScheme.h
  components/schemes/Container/src/MDCContainerScheme.m
  components/schemes/Container/tests/unit/MDCContainerSchemeTests.m
Labels: [ActionSheet], [Buttons], [Cards], [Chips], [Dialogs], [schemes], cla: yes

#6721 [BottomNavigation] Support titlePositionAdjustment
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.h
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationBarSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testTitlePositionAdjustmentJustifiedAdjacentCompactLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testTitlePositionAdjustmentJustifiedAdjacentCompactRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testTitlePositionAdjustmentJustifiedAdjacentRegularLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testTitlePositionAdjustmentJustifiedAdjacentRegularRTL_11_2@2x.png
Labels: [BottomNavigation], cla: yes, type:Feature request

#6719 [BottomNavigation] Make Controller available on iOS 8.
  components/BottomNavigation/examples/BottomNavigationBarControllerExampleViewController.swift
  components/BottomNavigation/src/MDCBottomNavigationBarController.h
  components/BottomNavigation/src/MDCBottomNavigationBarController.m
Labels: [BottomNavigation], cla: yes, iOS:8, skill:Auto Layout, type:Feature request

#6717 [BottomNavigation] sizeThatFits: ignores safe area
  components/BottomNavigation/README.md
  components/BottomNavigation/docs/README.md
  components/BottomNavigation/docs/deprecations.md
  components/BottomNavigation/src/MDCBottomNavigationBar.h
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/tests/unit/BottomNavigationTests.m
Labels: PR:merge-when-approved, [BottomNavigation], cla: yes, skill:Deprecations

#6725 [BottomAppBar] hide swift example from Catalog.
  components/BottomAppBar/examples/BottomAppBarTypicalUseExample.swift
Labels: [BottomAppBar], cla: yes

#6727 [BottomNavigation] Remove deprecation notice from sizeThatFitsIncludesSafeArea
  components/BottomNavigation/src/MDCBottomNavigationBar.h
Labels: [BottomNavigation], cla: yes
