Repository material-components/material-components-ios, pull requests merged in 2019-07, with the labels that each got.

#7757 [TabBarView] Add titleFontForState APIs
  MaterialComponentsBeta.podspec
  components/Tabs/BUILD
  components/Tabs/examples/MDCTabBarViewTypicalExampleViewController.m
  components/Tabs/src/TabBarView/MDCTabBarView.h
  components/Tabs/src/TabBarView/MDCTabBarView.m
  components/Tabs/tests/snapshot/TabBarView/MDCTabBarViewSnapshotTests.m
  components/Tabs/tests/unit/TabBarView/MDCTabBarViewTests.m
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSetTitleFontExplicitlyToNilUsesDefaultFont_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSetTitleFontForExplicitItemStates_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSetTitleFontForNormalStateAppliesToSelectedItem_11_2@2x.png
Labels: PR:merge-when-approved, [Tabs], cla: yes

#7753 [Tabs] Adds safe area inset
  components/Tabs/src/TabBarView/MDCTabBarView.m
  components/Tabs/tests/snapshot/TabBarView/MDCTabBarViewSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSafeAreaRightAndBottomInsetsForJustifiedLayoutStyle_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSafeAreaRightAndBottomInsetsForScrollableLayoutStyle_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSafeAreaTopAndLeftInsetsForJustifiedLayoutStyle_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSafeAreaTopAndLeftInsetsForScrollableLayoutStyle_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testVeryLongItemLimitsItemWidthToItemMaximumWhenBoundsTooNarrow_11_2@2x.png
Labels: [Tabs], cla: yes

#7754 [Tabs] Fix scroll-to-item for RTL.
  MaterialComponentsBeta.podspec
  components/Tabs/BUILD
  components/Tabs/src/TabBarView/MDCTabBarView.m
  components/Tabs/tests/snapshot/TabBarView/MDCTabBarViewSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testChangingSelectedItemIgnoresSelectedImage_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testItemsWithMixedTitlesAndImagesLTRLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testItemsWithMixedTitlesAndImagesRTLArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testItemsWithMixedTitlesAndImages_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testItemsWithOnlyImagesLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testItemsWithOnlyImagesRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testItemsWithOnlyTitlesLTRLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testItemsWithOnlyTitlesRTLArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testItemsWithOnlyTitles_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testItemsWithTitlesAndImagesLTRLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testItemsWithTitlesAndImagesRTLArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testItemsWithTitlesAndImages_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSelectedItemInitiallyVisibleLTRLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSelectedItemInitiallyVisibleRTLArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSelectedItemInitiallyVisible_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSettingBoundsToIntrinsicContentSizeResultsInJustifiedLayoutLTRLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSettingBoundsToIntrinsicContentSizeResultsInJustifiedLayoutRTLArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSettingBoundsToIntrinsicContentSizeResultsInJustifiedLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSettingBoundsTooNarrowWithItemsLessThanMinimumWidthResultsInScrollableLayoutLTRLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSettingBoundsTooNarrowWithItemsLessThanMinimumWidthResultsInScrollableLayoutRTLArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSettingBoundsTooNarrowWithItemsLessThanMinimumWidthResultsInScrollableLayout_11_2@2x.png
Labels: PR:merge-when-approved, [Tabs], cla: yes, skill:RTL

#7755 [Tabs] Adds support for rendering custom views.
  components/Tabs/examples/MDCTabBarViewTypicalExampleViewController.m
  components/Tabs/src/TabBarView/MDCTabBarView.m
  components/Tabs/tests/snapshot/TabBarView/MDCTabBarViewSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testCustomView_11_2@2x.png
Labels: PR:merge-when-approved, [Tabs], cla: yes

#7756 [Tabs] Fix image tint color when unselecting an item.
  components/Tabs/src/TabBarView/MDCTabBarView.m
  components/Tabs/tests/snapshot/TabBarView/MDCTabBarViewSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testChangingSelectionUpdatesItemStyle_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testRemovingSelectedItemUpdatesStyle_11_2@2x.png
Labels: PR:merge-when-approved, [Tabs], cla: yes

#7738 [Slider] Haptics For Slider
  components/Slider/examples/SliderCollectionViewController.m
  components/Slider/src/MDCSlider.h
  components/Slider/src/MDCSlider.m
  components/Slider/tests/unit/MockUIImpactFeedbackGenerator.h
  components/Slider/tests/unit/MockUIImpactFeedbackGenerator.m
  components/Slider/tests/unit/SliderTests.m
Labels: [Slider], cla: yes

#7771 [Tabs] Fixes layout for changing font sizes.
  components/Tabs/examples/MDCTabBarViewTypicalExampleViewController.m
  components/Tabs/src/TabBarView/MDCTabBarView.m
Labels: [Tabs], cla: yes, type:Bug

#7772 [Tabs] Inject dummy scroll view into example.
  components/Tabs/examples/MDCTabBarViewTypicalExampleViewController.m
Labels: [Tabs], cla: yes

#7764 [Tabs] Switch to manual layout
  components/Tabs/src/TabBarView/MDCTabBarView.m
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSafeAreaRightAndBottomInsetsForScrollableLayoutStyle_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSafeAreaTopAndLeftInsetsForScrollableLayoutStyle_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSelectedItemInitiallyVisibleLTRLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testVeryLongItemLimitsItemWidthToItemMaximumWhenBoundsTooNarrow_11_2@2x.png
Labels: [Tabs], cla: yes

#7767 [Tabs] Add Selection Indicator
  MaterialComponentsBeta.podspec
  components/Tabs/BUILD
  components/Tabs/src/TabBarView/MDCTabBarView.h
  components/Tabs/src/TabBarView/MDCTabBarView.m
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testChangingImageOfSelectedItemAfterAddingToBar_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testChangingImageOfUnselectedItemAfterAddingToBar_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testChangingSelectedImageOfSelectedItemAfterAddingToBarDoesNothing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testChangingSelectedImageOfUnselectedItemAfterAddingToBarDoesNothing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testChangingSelectedItemIgnoresSelectedImage_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testChangingSelectionUpdatesItemStyle_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testChangingTitleAfterAddingToBar_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testItemsWithMixedTitlesAndImagesLTRLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testItemsWithMixedTitlesAndImagesRTLArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testItemsWithOnlyImagesLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testItemsWithOnlyImagesRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testItemsWithOnlyTitlesLTRLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testItemsWithOnlyTitlesRTLArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testItemsWithTitlesAndImagesLTRLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testItemsWithTitlesAndImagesRTLArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSafeAreaRightAndBottomInsetsForJustifiedLayoutStyle_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSafeAreaRightAndBottomInsetsForScrollableLayoutStyle_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSafeAreaTopAndLeftInsetsForJustifiedLayoutStyle_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSafeAreaTopAndLeftInsetsForScrollableLayoutStyle_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSelectedItemInitiallyVisibleLTRLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSelectedItemInitiallyVisibleRTLArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSetImageTintColorExplicitlyToNilUsesTintColor_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSetImageTintColorForExplicitItemStates_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSetImageTintColorForNormalStateAppliesToSelectedItem_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSetTitleColorExplicitlyToNilRendersSomeDefault_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSetTitleColorForExplicitItemStates_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSetTitleColorForNormalStateAppliesToSelectedItem_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSetTitleFontExplicitlyToNilUsesDefaultFont_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSetTitleFontForExplicitItemStates_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSetTitleFontForNormalStateAppliesToSelectedItem_11_2@2x.png
Labels: [Tabs], cla: yes

#7774 [Tabs] Customize selection indicator color.
  components/Tabs/examples/MDCTabBarViewTypicalExampleViewController.m
  components/Tabs/src/TabBarView/MDCTabBarView.h
  components/Tabs/src/TabBarView/MDCTabBarView.m
  components/Tabs/tests/snapshot/TabBarView/MDCTabBarViewSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testCustomSelectionIndicatorStrokeColor_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSelectionIndicatorStrokeColorResetsToDefault_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSetImageTintColorExplicitlyToNilUsesTintColor_11_2@2x.png
Labels: [Tabs], cla: yes

#7776 [Tabs] Inset scrollable tabs by 52 points.
  components/Tabs/src/TabBarView/MDCTabBarView.m
  components/Tabs/tests/snapshot/TabBarView/MDCTabBarViewSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testCustomInsetsToNegateInternalLeadingInset_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testItemsLargerThanBoundsChangesToScrollableLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSafeAreaTopAndLeftInsetsForScrollableLayoutStyle_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSettingBoundsTooNarrowWithItemsLessThanMinimumWidthResultsInScrollableLayoutLTRLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSettingBoundsTooNarrowWithItemsLessThanMinimumWidthResultsInScrollableLayoutRTLArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testVeryLongItemLimitsItemWidthToItemMaximumWhenBoundsTooNarrow_11_2@2x.png
Labels: [Tabs], cla: yes

#7777 [Tabs] Vertically hug content in sizeThatFits:
  components/Tabs/src/TabBarView/MDCTabBarView.m
  components/Tabs/tests/unit/TabBarView/MDCTabBarViewTests.m
Labels: [Tabs], cla: yes

#7785 [Tabs] Item views should translate their autoresizing mask into constraints
  components/Tabs/src/TabBarView/MDCTabBarView.m
Labels: [Tabs], cla: yes

#7783 [Tabs] Include public headers in umbrella header.
  components/Tabs/src/TabBarView/MaterialTabs+TabBarView.h
Labels: [Tabs], cla: yes

#7784 [Tabs] Allow setting ripple color.
  components/Tabs/examples/MDCTabBarViewTypicalExampleViewController.m
  components/Tabs/src/TabBarView/MDCTabBarView.h
  components/Tabs/src/TabBarView/MDCTabBarView.m
  components/Tabs/tests/snapshot/TabBarView/MDCTabBarViewSnapshotTests.m
  components/Tabs/tests/unit/TabBarView/MDCTabBarViewTests.m
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testRippleColor_11_2@2x.png
Labels: [Tabs], cla: yes

#7782 [Tabs] Fix `contentFrame` for item view.
  components/Tabs/src/TabBarView/private/MDCTabBarViewItemView.m
  components/Tabs/tests/snapshot/TabBarView/MDCTabBarViewItemViewSnapshotTests.m
  components/Tabs/tests/unit/TabBarView/MDCTabBarViewItemViewTests.m
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testContentFrameForImageOnly_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testContentFrameForTextAndImage_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testContentFrameForTextOnly_11_2@2x.png
Labels: [Tabs], cla: yes

#7795 [Tabs] Remove extra `contentView` from item view.
  components/Tabs/src/TabBarView/private/MDCTabBarViewItemView.m
Labels: [Tabs], cla: yes, type:Internal cleanup

#7793 [Tabs] Remove unused/duplicate method.
  components/Tabs/src/TabBarView/MDCTabBarView.m
Labels: [Tabs], cla: yes, type:Internal cleanup

#7799 [Tabs] Update README for TabBarView.
  components/Tabs/README.md
  components/Tabs/docs/assets/tabbarview-defaults-Fixed-Justified.png
  components/Tabs/docs/assets/tabbarview-defaults-Scrollable-Leading.png
  components/Tabs/docs/tabbarview.md
Labels: [Tabs], cla: yes, type:Documentation

#7803 [Tabs] Improve text and image rendering.
  MaterialComponentsBeta.podspec
  components/Tabs/BUILD
  components/Tabs/src/TabBarView/private/MDCTabBarViewItemView.m
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testContentFrameForTextOnly_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testLongTitleLargeImageWidestSizeLTRLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testLongTitleLargeImageWidestSizeRTLArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testShortTitleNoImageIntrinsicContentSizeLTRLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testShortTitleNoImageIntrinsicContentSizeRTLArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testShortTitleNoImageSizeToFitLTRLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testShortTitleNoImageSizeToFitRTLArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testChangingImageOfSelectedItemAfterAddingToBar_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testChangingImageOfUnselectedItemAfterAddingToBar_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testChangingSelectedImageOfSelectedItemAfterAddingToBarDoesNothing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testChangingSelectedImageOfUnselectedItemAfterAddingToBarDoesNothing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testChangingSelectedItemIgnoresSelectedImage_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testChangingSelectionUpdatesItemStyle_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testCustomInsetsToNegateInternalLeadingInset_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testCustomSelectionIndicatorStrokeColor_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testItemsLargerThanBoundsChangesToScrollableLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testItemsWithMixedTitlesAndImagesLTRLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testItemsWithMixedTitlesAndImagesRTLArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testItemsWithOnlyTitlesLTRLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testItemsWithOnlyTitlesRTLArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testItemsWithTitlesAndImagesLTRLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testLayoutBehaviorWhenBoundsExceedsIntrinsicContentSizeAndRemainsLessThanMaximum_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testLayoutBehaviorWhenBoundsExceedsMaximumWidthForNumberOfItems_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testRemovingSelectedItemUpdatesStyle_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testRippleColor_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSelectedItemInitiallyVisibleLTRLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSelectedItemInitiallyVisibleRTLArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSelectionIndicatorStrokeColorResetsToDefault_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSetImageTintColorExplicitlyToNilUsesTintColor_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSetImageTintColorForExplicitItemStates_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSetImageTintColorForNormalStateAppliesToSelectedItem_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSetTitleColorExplicitlyToNilRendersSomeDefault_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSetTitleColorForExplicitItemStates_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSetTitleColorForNormalStateAppliesToSelectedItem_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSetTitleFontExplicitlyToNilUsesDefaultFont_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSetTitleFontForExplicitItemStates_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSetTitleFontForNormalStateAppliesToSelectedItem_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSettingBoundsToIntrinsicContentSizeResultsInJustifiedLayoutLTRLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSettingBoundsToIntrinsicContentSizeResultsInJustifiedLayoutRTLArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSettingBoundsTooNarrowWithItemsLessThanMinimumWidthResultsInScrollableLayoutLTRLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSettingBoundsTooNarrowWithItemsLessThanMinimumWidthResultsInScrollableLayoutRTLArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testVeryLongItemLimitsItemWidthToItemMaximumWhenBoundsAreIntrinsicContentSize_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testVeryLongItemLimitsItemWidthToItemMaximumWhenBoundsTooNarrow_11_2@2x.png
Labels: [Tabs], cla: yes, type:Internal cleanup

#7796 [Tabs] Deduplicate item view layout and contentFrame calculation.
  components/Tabs/src/TabBarView/private/MDCTabBarViewItemView.m
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testTitleOnlyShortTitleSizeToFitLTRLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewItemViewSnapshotTests/testTitleOnlyShortTitleSizeToFitRTLArabic_11_2@2x.png
Labels: [Tabs], cla: yes, type:Internal cleanup

#7804 [Math] Add MDCEdgeInsetsEqualToEdgeInsets to compare two UIEdgeInsets.
  components/private/Math/src/MDCMath.h
  components/private/Math/tests/unit/MDCMathTests.m
Labels: [private], cla: yes

#7791 [ProgressView] Add an MDCProgressView theming extension
  MaterialComponents.podspec
  catalog/MDCCatalog.xcodeproj/xcshareddata/xcschemes/MDCCatalog.xcscheme
  catalog/MDCDragons.xcodeproj/xcshareddata/xcschemes/MDCDragons.xcscheme
  catalog/Podfile
  components/ProgressView/BUILD
  components/ProgressView/src/Theming/MDCProgressView+MaterialTheming.h
  components/ProgressView/src/Theming/MDCProgressView+MaterialTheming.m
  components/ProgressView/src/Theming/MaterialProgressView+Theming.h
  components/ProgressView/tests/unit/Theming/ProgressViewMaterialThemingTests.m
Labels: [Catalog], [ProgressView], cla: yes

#7807 [FlexibleHeader] use MDCEdgeInsetsEqualToEdgeInsets to compare insets
  components/FlexibleHeader/BUILD
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
Labels: [FlexibleHeader], cla: yes

#7806 [Tabs] Fix crash when assigning `nil` for KVO'd title.
  components/Tabs/src/TabBarView/MDCTabBarView.m
  components/Tabs/tests/unit/TabBarView/MDCTabBarViewTests.m
Labels: [Tabs], cla: yes

#7808 [Tabs] Add item style options for TabBarView example.
  components/Tabs/examples/MDCTabBarViewTypicalExampleViewController.m
Labels: [Tabs], cla: yes

#7810 [Tabs] Add `setSelected:animated:` API for custom views.
  components/Tabs/examples/MDCTabBarViewTypicalExampleViewController.m
  components/Tabs/src/TabBarView/MDCTabBarItemCustomViewing.h
  components/Tabs/src/TabBarView/MDCTabBarView.m
  components/Tabs/src/TabBarView/MDCTabBarViewCustomViewable.h
  components/Tabs/src/TabBarView/MaterialTabs+TabBarView.h
  components/Tabs/src/TabBarView/private/MDCTabBarViewItemView.h
  components/Tabs/src/TabBarView/private/MDCTabBarViewItemView.m
  components/Tabs/tests/snapshot/TabBarView/MDCTabBarViewSnapshotTests.m
  components/Tabs/tests/unit/TabBarView/MDCTabBarItemTests.m
  components/Tabs/tests/unit/TabBarView/MDCTabBarViewTests.m
Labels: [Tabs], cla: yes

#7818 [Tabs] Add `accessibilityElementForItem:` API.
  components/Tabs/src/TabBarView/MDCTabBarView.h
  components/Tabs/src/TabBarView/MDCTabBarView.m
  components/Tabs/tests/unit/TabBarView/MDCTabBarViewTests.m
Labels: [Tabs], cla: yes

#7765 [Slider] Allowing Full Haptics for Discrete Sliders
  components/Slider/examples/SliderCollectionViewController.m
  components/Slider/src/MDCSlider.h
  components/Slider/src/MDCSlider.m
  components/Slider/tests/unit/SliderTests.m
Labels: [Slider], cla: yes

#7817 [Tabs] Add bottom divider.
  components/Tabs/examples/MDCTabBarViewTypicalExampleViewController.m
  components/Tabs/src/TabBarView/MDCTabBarView.h
  components/Tabs/src/TabBarView/MDCTabBarView.m
  components/Tabs/tests/snapshot/TabBarView/MDCTabBarViewSnapshotTests.m
  components/Tabs/tests/unit/TabBarView/MDCTabBarViewTests.m
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testBottomDividerColor_11_2@2x.png
Labels: [Tabs], cla: yes

#7815 [Tabs] Add snapshot tests for contentInset on MDCTabBarView.
  components/Tabs/tests/snapshot/TabBarView/MDCTabBarViewSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testCustomInsetsBottomAndLeftRepositionsJustifiedViews_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testCustomInsetsBottomAndLeftRepositionsScrollableViews_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testCustomInsetsTopAndRightRepositionsJustifiedViews_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testCustomInsetsTopAndRightRepositionsScrollableViews_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSafeAreaAndContentInsetCombineBottomAndRightForJustifiedLayoutStyle_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSafeAreaAndContentInsetCombineTopAndLeftForJustifiedLayoutStyle_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSafeAreaRightAndBottomInsetsForJustifiedLayoutStyle_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSafeAreaTopAndLeftInsetsForJustifiedLayoutStyle_11_2@2x.png
Labels: [Tabs], cla: yes, type:Test

#7824 [ProgressView] Provide unique names for methods.
  components/ProgressView/src/Theming/MDCProgressView+MaterialTheming.m
  components/ProgressView/tests/unit/Theming/ProgressViewMaterialThemingTests.m
Labels: [ProgressView], cla: yes, type:Internal cleanup

#7816 [Tabs] Don't handle `contentInset` directly in layout.
  components/Tabs/src/TabBarView/MDCTabBarView.m
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testCustomInsetsBottomAndLeftRepositionsJustifiedViews_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testCustomInsetsBottomAndLeftRepositionsScrollableViews_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testCustomInsetsTopAndRightRepositionsJustifiedViews_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testCustomInsetsTopAndRightRepositionsScrollableViews_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSafeAreaAndContentInsetCombineBottomAndRightForJustifiedLayoutStyle_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSafeAreaAndContentInsetCombineTopAndLeftForJustifiedLayoutStyle_11_2@2x.png
Labels: [Tabs], cla: yes

#7822 [Tabs] Combine "default" unit tests.
  components/Tabs/tests/unit/TabBarView/MDCTabBarViewTests.m
Labels: [Tabs], cla: yes

#7820 [Banner] fix dynamic type support for attributed string.
  components/Banner/examples/BannerTypicalUseExampleViewController.m
  components/Banner/src/MDCBannerView.m
  components/Banner/tests/snapshot/MDCBannerSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCBannerViewSnapshotTests/testDynamicTypeForAttributedTextStringWhenContentSizeCategoryIsExtraExtraLarge_11_2@2x.png
Labels: [Banner], cla: yes

#7833 [FlexibleHeader] Add Math dependency to FlexibleHeader
  MaterialComponents.podspec
Labels: cla: yes

#7825 [Tabs] Minor refactoring of KVO code.
  components/Tabs/src/TabBarView/MDCTabBarView.m
Labels: [Tabs], cla: yes, type:Internal cleanup

#7831 [schemes] Add a default color scheme for Dark mode.
  components/schemes/Color/src/MDCSemanticColorScheme.h
  components/schemes/Color/src/MDCSemanticColorScheme.m
  components/schemes/Color/tests/unit/MDCSemanticColorSchemeTests.m
Labels: [schemes], cla: yes

#7846 [Tabs] Adjust sizeThatFits: behavior for TabBarView.
  MaterialComponentsBeta.podspec
  components/Tabs/BUILD
  components/Tabs/src/TabBarView/MDCTabBarView.m
  components/Tabs/tests/snapshot/TabBarView/MDCTabBarViewIntegrationSnapshotTests.m
  components/Tabs/tests/snapshot/TabBarView/MDCTabBarViewSnapshotTests.m
  components/Tabs/tests/unit/TabBarView/MDCTabBarViewTests.m
  snapshot_test_goldens/goldens_64/MDCTabBarViewIntegrationSnapshotTests/testTabBarViewInAppBarViewBottomBarWithWidthEqualToIntrinsicContentSize_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewIntegrationSnapshotTests/testTabBarViewInAppBarViewBottomBarWithWidthGreaterThanIntrinsicContentSize_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewIntegrationSnapshotTests/testTabBarViewInAppBarViewBottomBarWithWidthLessThanIntrinsicContentSize_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewIntegrationSnapshotTests/testTabBarViewInHeaderStackViewBottomBarWithWidthEqualToIntrinsicContentSize_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewIntegrationSnapshotTests/testTabBarViewInHeaderStackViewBottomBarWithWidthGreaterThanIntrinsicContentSize_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewIntegrationSnapshotTests/testTabBarViewInHeaderStackViewBottomBarWithWidthLessThanIntrinsicContentSize_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testBottomDividerColor_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testCustomSelectionIndicatorStrokeColor_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testCustomView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testRemovingSelectedItemUpdatesStyle_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testRippleColor_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSelectionIndicatorStrokeColorResetsToDefault_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSetTitleFontExplicitlyToNilUsesDefaultFont_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSetTitleFontForExplicitItemStates_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSetTitleFontForNormalStateAppliesToSelectedItem_11_2@2x.png
Labels: [Tabs], cla: yes

#7848 [schemes] Add dynamic color scheme MDCColorSchemeDefaultsMaterial201907.
  components/schemes/Color/src/MDCSemanticColorScheme.h
  components/schemes/Color/src/MDCSemanticColorScheme.m
  components/schemes/Color/tests/unit/MDCSemanticColorSchemeTests.m
Labels: [schemes], cla: yes

#7851 [AppBar] Add `traitCollectionDidChangeBlock` to AppBarViewController.
  components/AppBar/BUILD
  components/AppBar/src/MDCAppBarViewController.h
  components/AppBar/src/MDCAppBarViewController.m
  components/AppBar/tests/unit/MDCAppBarViewControllerTests.m
Labels: [AppBar], cla: yes

#7832 [Snackbar] Add button styling properties to MDCSnackbarManager
  components/Snackbar/src/MDCSnackbarManager.h
  components/Snackbar/src/MDCSnackbarManager.m
  components/Snackbar/src/MDCSnackbarMessageView.m
  components/Snackbar/tests/unit/MDCSnackbarMessageViewTests.m
Labels: [Snackbar], cla: yes

#7853 [Buttons] add traitCollectionDidChangeBlock API.
  components/Buttons/src/MDCButton.h
  components/Buttons/src/MDCButton.m
  components/Buttons/tests/unit/ButtonsTests.m
Labels: [Buttons], cla: yes

#7860 [Color] Add UIColor+MaterialDynamic to support dynamic color.
  MaterialComponents.podspec
  catalog/MDCDragons.xcodeproj/xcshareddata/xcschemes/MDCDragons.xcscheme
  catalog/Podfile
  components/private/Color/BUILD
  components/private/Color/src/UIColor+MaterialDynamic.h
  components/private/Color/src/UIColor+MaterialDynamic.m
  components/private/Color/tests/unit/MaterialColorTests.m
Labels: [Catalog], [private], cla: yes

#7843 [Snackbar] Use MDCShadowLayer instead of UIKit shadows
  MaterialComponents.podspec
  components/Snackbar/BUILD
  components/Snackbar/src/MDCSnackbarMessageView.m
  components/Snackbar/tests/snapshot/MDCSnackbarMessageViewSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCSnackbarMessageViewSnapshotTests/testWithLongMessageLongActionLTRLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSnackbarMessageViewSnapshotTests/testWithLongMessageLongActionRTLArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSnackbarMessageViewSnapshotTests/testWithLongMessageNoActionLTRLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSnackbarMessageViewSnapshotTests/testWithLongMessageNoActionRTLArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSnackbarMessageViewSnapshotTests/testWithShortMessageNoActionLTRLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSnackbarMessageViewSnapshotTests/testWithShortMessageNoActionRTLArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSnackbarMessageViewSnapshotTests/testWithShortMessageShortActionLTRLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSnackbarMessageViewSnapshotTests/testWithShortMessageShortActionRTLArabic_11_2@2x.png
Labels: [Snackbar], cla: yes

#7844 [Snackbar] Allow clients to customize elevation
  components/Snackbar/src/MDCSnackbarManager.h
  components/Snackbar/src/MDCSnackbarManager.m
  components/Snackbar/src/MDCSnackbarMessageView.h
  components/Snackbar/src/MDCSnackbarMessageView.m
  components/Snackbar/tests/snapshot/MDCSnackbarMessageViewSnapshotTests.m
  components/Snackbar/tests/unit/MDCSnackbarMessageViewTests.m
  components/Snackbar/tests/unit/SnackbarManagerTests.m
  snapshot_test_goldens/goldens_64/MDCSnackbarMessageViewSnapshotTests/testWithCustomElevation_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSnackbarMessageViewSnapshotTests/testWithZeroElevation_11_2@2x.png
Labels: [Snackbar], cla: yes

#7888 [AppBar] Provide app bar parameter for traitCollectionDidChange block.
  components/AppBar/src/MDCAppBarViewController.h
  components/AppBar/src/MDCAppBarViewController.m
  components/AppBar/tests/unit/MDCAppBarViewControllerTests.m
Labels: [AppBar], cla: yes

#7889 [TextFields] Textfields dynamic color support
  components/TextFields/src/MDCTextInputUnderlineView.m
  components/TextFields/src/MaterialTextFields.h
Labels: [TextFields], cla: yes

#7861 [private] Adds a flow to get snapshot tests for iOS13
  components/private/Snapshot/src/SnapshotTestCase/MDCSnapshotTestCase.h
  components/private/Snapshot/src/SnapshotTestCase/MDCSnapshotTestCase.m
Labels: [private], cla: yes

#7887 [AppBar] Add `defaultTraitCollectionDidChangeBlock` for injecting into AppBars.
  components/AppBar/src/MDCAppBarNavigationController.h
  components/AppBar/src/MDCAppBarNavigationController.m
  components/AppBar/tests/unit/MDCAppBarNavigationControllerTests.swift
Labels: PR:merge-when-approved, [AppBar], cla: yes

#7894 [schemes] Use UIColor method instead of static method to generate
  MaterialComponents.podspec
  components/schemes/Color/BUILD
  components/schemes/Color/src/MDCSemanticColorScheme.m
Labels: [schemes], cla: yes

#7893 [BottomNavigation] Add `traitCollectionDidChangeBlock` API.
  components/BottomNavigation/src/MDCBottomNavigationBar.h
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/tests/unit/BottomNavigationTests.m
Labels: [BottomNavigation], cla: yes

#7877 [Ripple] Add dynamic color support for ripple.
  MaterialComponents.podspec
  components/Ripple/BUILD
  components/Ripple/src/MDCRippleView.m
  components/Ripple/tests/snapshot/MDCRippleViewSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCRippleViewSnapshotTests/testRippleColorRespondsToDynamicColorBeforeRippleBegan_13_0@2x.png
  snapshot_test_goldens/goldens_64/MDCRippleViewSnapshotTests/testRippleColorRespondsToDynamicColor_13_0@2x.png
Labels: [Ripple], cla: yes

#7858 [Buttons] Add dynamic color support to MDCButton
  components/Buttons/src/MDCButton.m
  components/Buttons/tests/snapshot/ButtonCustomTraitCollectionSnapshotTests.m
  components/Buttons/tests/unit/ButtonsTests.m
  snapshot_test_goldens/goldens_64/ButtonCustomTraitCollectionSnapshotTests/testContentSizeCategoryAccessibilityExtraExtraExtraLarge_11_2@2x.png
  snapshot_test_goldens/goldens_64/ButtonCustomTraitCollectionSnapshotTests/testContentSizeCategoryAccessibilityExtraExtraLarge_11_2@2x.png
  snapshot_test_goldens/goldens_64/ButtonCustomTraitCollectionSnapshotTests/testContentSizeCategoryAccessibilityExtraLarge_11_2@2x.png
  snapshot_test_goldens/goldens_64/ButtonCustomTraitCollectionSnapshotTests/testContentSizeCategoryAccessibilityLarge_11_2@2x.png
  snapshot_test_goldens/goldens_64/ButtonCustomTraitCollectionSnapshotTests/testContentSizeCategoryAccessibilityMedium_11_2@2x.png
  snapshot_test_goldens/goldens_64/ButtonCustomTraitCollectionSnapshotTests/testContentSizeCategoryExtraExtraExtraLarge_11_2@2x.png
  snapshot_test_goldens/goldens_64/ButtonCustomTraitCollectionSnapshotTests/testContentSizeCategoryExtraExtraLarge_11_2@2x.png
  snapshot_test_goldens/goldens_64/ButtonCustomTraitCollectionSnapshotTests/testContentSizeCategoryExtraLarge_11_2@2x.png
  snapshot_test_goldens/goldens_64/ButtonCustomTraitCollectionSnapshotTests/testContentSizeCategoryLarge_11_2@2x.png
  snapshot_test_goldens/goldens_64/ButtonCustomTraitCollectionSnapshotTests/testContentSizeCategoryMedium_11_2@2x.png
  snapshot_test_goldens/goldens_64/ButtonCustomTraitCollectionSnapshotTests/testContentSizeCategorySmall_11_2@2x.png
  snapshot_test_goldens/goldens_64/ButtonCustomTraitCollectionSnapshotTests/testShadowColorRespondsToDynamicColor_13_0@2x.png
Labels: [Buttons], cla: yes

#7897 [Tabs] Fix title-only example.
  components/Tabs/examples/MDCTabBarViewTypicalExampleViewController.m
Labels: [Tabs], cla: yes

#7901 [Tabs] Retain custom view in example.
  components/Tabs/examples/MDCTabBarViewTypicalExampleViewController.m
Labels: [Tabs], cla: yes

#7898 [Tabs] Fix segmented control position.
  components/Tabs/examples/MDCTabBarViewTypicalExampleViewController.m
Labels: [Tabs], cla: yes

#7900 [NavigationDrawer] Expose headerShadowColor to allow clients to provide a dynamic color
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.h
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
Labels: [NavigationDrawer], cla: yes

#7903 [Snackbar] Add traitCollectionDidChangeBlock API
  components/Snackbar/src/MDCSnackbarMessageView.h
  components/Snackbar/src/MDCSnackbarMessageView.m
  components/Snackbar/tests/unit/MDCSnackbarMessageViewTests.m
Labels: [Snackbar], cla: yes

#7902 [Demos] Update Shrine to Swift 4.2
  demos/Shrine/Shrine.xcodeproj/project.pbxproj
  demos/Shrine/Shrine/AppDelegate.swift
  demos/Shrine/Shrine/ShrineCollectionViewController.swift
  demos/Shrine/Shrine/ShrineDetailViewController.swift
  demos/Shrine/Shrine/ShrineFlexibleHeaderContainerViewController.swift
  demos/Shrine/Shrine/ShrineHeaderContentView.swift
  demos/Shrine/Shrine/ShrineHeaderPage.swift
Labels: cla: yes

#7905 [Snackbar] Support dynamic color
  components/Snackbar/src/MDCSnackbarMessageView.m
Labels: [Snackbar], cla: yes

#7841 [Tabs] Allow clients to calculate when a view appears/disappears.
  components/Tabs/BUILD
  components/Tabs/examples/MDCTabBarViewTypicalExampleViewController.m
  components/Tabs/src/TabBarView/MDCTabBarView.h
  components/Tabs/src/TabBarView/MDCTabBarView.m
  components/Tabs/tests/snapshot/TabBarView/MDCTabBarViewSnapshotTests.m
  components/Tabs/tests/unit/TabBarView/MDCTabBarViewTests.m
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testRectForItemInCoordinateSpaceWhenPartiallyOutsideBarBounds_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testRectForItemInCoordinateSpaceWithSafeAreaInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testRectForItemInCoordinateSpaceWithinBounds_11_2@2x.png
Labels: [Tabs], cla: yes

#7909 [FlexibleHeader] Add unit test for the shadow layer
  MaterialComponents.podspec
  components/FlexibleHeader/BUILD
  components/FlexibleHeader/tests/unit/FlexibleHeaderShadowTests.swift
Labels: [FlexibleHeader], cla: yes

#7913 Fix memory leak in -[MDCRectangleShapeGenerator pathForSize:] by returning an autoreleased CGPathRef
  components/Shapes/src/MDCRectangleShapeGenerator.m
Labels: [Shapes], cla: yes

#7910 [BottomNavigation] Add shadowColor API.
  components/BottomNavigation/src/MDCBottomNavigationBar.h
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationBarSnapshotTests.m
  components/BottomNavigation/tests/unit/BottomNavigationTests.m
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testShadowColorRespondsToDynamicColor_13_0@2x.png
Labels: [BottomNavigation], cla: yes

#7904 [FlexibleHeader] Add dynamic color support to flexible header
  components/FlexibleHeader/BUILD
  components/FlexibleHeader/src/MDCFlexibleHeaderView.h
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
  components/FlexibleHeader/tests/snapshot/MDCFlexibleHeaderSnapshotTests.m
  components/FlexibleHeader/tests/unit/FlexibleHeaderShadowTests.swift
  snapshot_test_goldens/goldens_64/MDCFlexibleHeaderSnapshotTests/testTraitCollectionDidChangeColorForShadow_13_0@2x.png
Labels: [FlexibleHeader], cla: yes

#7914 [Buttons] Add dynamic color support
  components/Buttons/src/MDCButton.m
  components/Buttons/tests/snapshot/ButtonCustomTraitCollectionSnapshotTests.m
  snapshot_test_goldens/goldens_64/ButtonCustomTraitCollectionSnapshotTests/testButtonRespondsToDynamicColor_13_0@2x.png
  snapshot_test_goldens/goldens_64/ButtonCustomTraitCollectionSnapshotTests/testShadowColorRespondsToDynamicColor_13_0@2x.png
Labels: [Buttons], cla: yes

#7918 [NavigationBar] Add traitCollectionDidChange block.
  components/NavigationBar/src/MDCNavigationBar.h
  components/NavigationBar/src/MDCNavigationBar.m
  components/NavigationBar/tests/unit/NavigationBarTests.m
Labels: [NavigationBar], cla: yes

#7915 [FlexibleHeader] Add traitCollectionDidChangeBlock
  components/FlexibleHeader/src/MDCFlexibleHeaderView.h
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
  components/FlexibleHeader/tests/unit/FlexibleHeaderTraitColletionDidChangeTests.m
Labels: [FlexibleHeader], cla: yes

#7922 [FlexibleHeader] Add traitCollectionDidChangeBlock
  components/FlexibleHeader/src/MDCFlexibleHeaderContainerViewController.h
  components/FlexibleHeader/src/MDCFlexibleHeaderContainerViewController.m
  components/FlexibleHeader/tests/unit/FlexibleHeaderContainerViewControllerTests.swift
Labels: [FlexibleHeader], cla: yes

#7924 [schemes] add two properties for elevation overlay color in color
  components/schemes/Color/src/MDCSemanticColorScheme.h
  components/schemes/Color/src/MDCSemanticColorScheme.m
  components/schemes/Color/tests/unit/MDCSemanticColorSchemeTests.m
Labels: [schemes], cla: yes

#7930 [BottomAppBar] Add traitCollectionDidChange block
  components/BottomAppBar/src/MDCBottomAppBarView.h
  components/BottomAppBar/src/MDCBottomAppBarView.m
  components/BottomAppBar/tests/unit/BottomAppBarTests.m
Labels: [BottomAppBar], cla: yes

#7931 [ActivityIndicator] Add traitCollectionDidChange block
  components/ActivityIndicator/src/MDCActivityIndicator.h
  components/ActivityIndicator/src/MDCActivityIndicator.m
  components/ActivityIndicator/tests/unit/ActivityIndicatorTests.m
Labels: [ActivityIndicator], cla: yes

#7929 [ActionSheet] Add traitCollectionDidChange block
  components/ActionSheet/src/MDCActionSheetController.h
  components/ActionSheet/src/MDCActionSheetController.m
  components/ActionSheet/tests/unit/ActionSheetTest.swift
Labels: [ActionSheet], cla: yes

#7934 [Catalog] Make the catalog use a dynamic color scheme
  catalog/MDCCatalog/AppTheme.swift
Labels: [Catalog], cla: yes

#7936 [FeatureHighlight] Support dynamic color
  components/FeatureHighlight/src/private/MDCFeatureHighlightView+Private.m
Labels: [FeatureHighlight], cla: yes

#7935 [Catalog] Update the catalog to support dark mode
  catalog/MDCCatalog/MDCCatalogComponentsController.swift
  catalog/MDCCatalog/MDCCatalogTileView.swift
  catalog/MDCCatalog/MDCNodeListViewController.swift
Labels: [Catalog], cla: yes

#7911 [Dialogs] Add shadow color API
  components/Dialogs/BUILD
  components/Dialogs/src/MDCAlertController.h
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/src/MDCDialogPresentationController.h
  components/Dialogs/src/MDCDialogPresentationController.m
  components/Dialogs/src/private/MDCDialogShadowedView.h
  components/Dialogs/src/private/MDCDialogShadowedView.m
  components/Dialogs/tests/snapshot/MDCAlertControllerCustomTraitCollectionTests.m
  components/Dialogs/tests/unit/MDCAlertControllerTests.m
  snapshot_test_goldens/goldens_64/MDCAlertControllerCustomTraitCollectionTests/testDynamicColorSupportForTrackingView_13_0@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerCustomTraitCollectionTests/testDynamicColorSupport_13_0@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerCustomTraitCollectionTests/testScaledFontDynamicTypeForContentSizeCategoryAccessibilityExtraExtraExtraLargeAndLegacyEnabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerCustomTraitCollectionTests/testScaledFontDynamicTypeForContentSizeCategoryAccessibilityExtraExtraExtraLarge_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerCustomTraitCollectionTests/testScaledFontDynamicTypeForContentSizeCategoryAccessibilityExtraExtraLarge_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerCustomTraitCollectionTests/testScaledFontDynamicTypeForContentSizeCategoryAccessibilityExtraLarge_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerCustomTraitCollectionTests/testScaledFontDynamicTypeForContentSizeCategoryAccessibilityLarge_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerCustomTraitCollectionTests/testScaledFontDynamicTypeForContentSizeCategoryAccessibilityMedium_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerCustomTraitCollectionTests/testScaledFontDynamicTypeForContentSizeCategoryExtraExtraExtraLarge_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerCustomTraitCollectionTests/testScaledFontDynamicTypeForContentSizeCategoryExtraExtraLarge_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerCustomTraitCollectionTests/testScaledFontDynamicTypeForContentSizeCategoryExtraLarge_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerCustomTraitCollectionTests/testScaledFontDynamicTypeForContentSizeCategoryExtraSmallAndLegacyEnabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerCustomTraitCollectionTests/testScaledFontDynamicTypeForContentSizeCategoryLarge_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerCustomTraitCollectionTests/testScaledFontDynamicTypeForContentSizeCategoryMedium_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerCustomTraitCollectionTests/testScaledFontDynamicTypeForContentSizeCategorySmall_11_2@2x.png
Labels: [Dialogs], cla: yes

#7941 [FlexibleHeader] Add a snapshot for shadow pre iOS 13.
  components/FlexibleHeader/tests/snapshot/MDCFlexibleHeaderSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCFlexibleHeaderSnapshotTests/testShadowColor_11_2@2x.png
Labels: [FlexibleHeader], cla: yes

#7906 [Cards] Add Cards dynamic color support
  components/Cards/src/MDCCard.m
  components/Cards/tests/snapshot/MDCCardCustomTraitCollectionSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCCardCustomTraitCollectionSnapshotTests/testShadowColorRespondsToDynamicColor_13_0@2x.png
Labels: [Cards], cla: yes

#7948 [Banner] Add traitCollectionDidChangeBlock API.
  components/Banner/src/MDCBannerView.h
  components/Banner/src/MDCBannerView.m
  components/Banner/tests/unit/BannerViewTests.m
Labels: [Banner], cla: yes

#7950 [ActivityIndicator] Support dynamic color
  components/ActivityIndicator/src/MDCActivityIndicator.m
  components/ActivityIndicator/tests/snapshot/MDCActivityIndicatorSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCActivityIndicatorSnapshotTests/testProgressViewSupportsDynamicColor_13_0@2x.png
Labels: [ActivityIndicator], cla: yes

#7908 [Tabs] Support Fixed Clustered layout when Justified won't fit.
  components/Tabs/src/TabBarView/MDCTabBarView.m
  components/Tabs/tests/snapshot/TabBarView/MDCTabBarViewSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testCustomInsetsBottomAndLeftRepositionsFixedClusteredCenteredViews_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testCustomInsetsTopAndRightRepositionsFixedClusteredCenteredViews_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testLayoutBehaviorWhenBoundsExceedsMaximumWidthForNumberOfItems_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSafeAreaRightAndBottomInsetsForFixedClusteredCenteredLayoutStyle_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSafeAreaTopAndLeftInsetsForFixedClusteredCenteredLayoutStyle_11_2@2x.png
Labels: [Tabs], cla: yes

#7957 [Banner] add snapshot test for middle length text with large layout margin.
  components/Banner/tests/snapshot/MDCBannerSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCBannerViewSnapshotTests/testMiddleLengthTextWithLargeLayoutMargin_11_2@2x.png
Labels: [Banner], cla: yes

#7955 [Elevation] Add MDCElevation protocol.
  MaterialComponents.podspec
  components/Elevation/BUILD
  components/Elevation/src/MDCElevation.h
  components/Elevation/src/MaterialElevation.h
Labels: [Elevation], cla: yes

#7962 [Elevation] Add elevationDidChangeBlock to MDCElevation protocol
  components/Elevation/src/MDCElevation.h
Labels: [Elevation], cla: yes

#7965 [Elevation] Add property mdc_overrideElevation property
  components/Elevation/src/MDCElevation.h
Labels: [Elevation], cla: yes

#7960 [Slider] Add snapshot test for dynamic color with elevation.
  components/Slider/tests/snapshot/MDCSliderSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCSliderSnapshotTests/testDynamicColorSupport_13_0@2x.png
Labels: [Slider], cla: yes

#7966 [BottomSheet] add traitCollectionDidChangeBlock support.
  components/BottomSheet/src/MDCBottomSheetController.h
  components/BottomSheet/src/MDCBottomSheetController.m
  components/BottomSheet/src/MDCBottomSheetPresentationController.h
  components/BottomSheet/src/MDCBottomSheetPresentationController.m
  components/BottomSheet/tests/unit/BottomSheetTests.m
Labels: [BottomSheet], cla: yes

#7967 [Slider] Change track background color in tests.
  components/Slider/tests/snapshot/MDCSliderSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCSliderSnapshotTests/testDynamicColorSupport_13_0@2x.png
Labels: [Slider], cla: yes

#7949 [Ripple] Turn activeRippleColor into a property
  components/Ripple/src/MDCRippleView.h
  components/Ripple/src/MDCRippleView.m
Labels: [Ripple], cla: yes

#7963 [BottomNavigation] Add snapshot tests for Bottom Navigation controller.
  components/BottomNavigation/BUILD
  components/BottomNavigation/examples/BottomNavigationBarControllerExampleViewController.swift
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationBarControllerSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarControllerSnapshotTests/testNonScrollingChildViewControllerDefault_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarControllerSnapshotTests/testNonScrollingChildViewControllerWithSafeAreaInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarControllerSnapshotTests/testScrollableChildViewControllerDefault_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarControllerSnapshotTests/testScrollableChildViewControllerScrolledToBottom_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarControllerSnapshotTests/testScrollableChildViewControllerWithSafeAreaInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarControllerSnapshotTests/testScrollingChildViewControllerWithSafeAreaInsetsScrolledToBottom_11_2@2x.png
Labels: [BottomNavigation], cla: yes

#7968 [Ripple] Add dynamic color support for ripple.
  MaterialComponents.podspec
  components/Ripple/BUILD
  components/Ripple/src/MDCRippleView.m
  components/Ripple/tests/snapshot/MDCRippleViewSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCRippleViewSnapshotTests/testRippleColorRespondsToDynamicColorBeforeRippleBegan_13_0@2x.png
  snapshot_test_goldens/goldens_64/MDCRippleViewSnapshotTests/testRippleColorRespondsToDynamicColor_13_0@2x.png
Labels: [Ripple], cla: yes

#7956 [Banner] fix layout margin not being considered for all layout styles.
  components/Banner/src/MDCBannerView.m
  components/Banner/tests/snapshot/MDCBannerSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCBannerViewSnapshotTests/testMiddleLengthTextAndStackedButtonsWithLargeLayoutMargin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBannerViewSnapshotTests/testMiddleLengthTextWithLargeLayoutMargin_11_2@2x.png
Labels: [Banner], cla: yes

#7944 [Tabs] Expose selection change animation properties.
  components/Tabs/examples/MDCTabBarViewTypicalExampleViewController.m
  components/Tabs/src/TabBarView/MDCTabBarView.h
  components/Tabs/src/TabBarView/MDCTabBarView.m
  components/Tabs/src/TabBarView/private/MDCTabBarViewIndicatorView.h
  components/Tabs/src/TabBarView/private/MDCTabBarViewIndicatorView.m
  components/Tabs/tests/unit/TabBarView/MDCTabBarViewIndicatorViewTests.m
  components/Tabs/tests/unit/TabBarView/MDCTabBarViewTests.m
Labels: [Tabs], cla: yes

#7972 [Slider] Add shadowColor to support dynamic color behavior.
  components/Slider/src/MDCSlider.h
  components/Slider/src/MDCSlider.m
  components/Slider/tests/snapshot/MDCSliderSnapshotTests.m
  components/private/ThumbTrack/src/MDCThumbTrack.h
  components/private/ThumbTrack/src/MDCThumbTrack.m
  components/private/ThumbTrack/src/MDCThumbView.h
  components/private/ThumbTrack/src/MDCThumbView.m
  snapshot_test_goldens/goldens_64/MDCSliderSnapshotTests/testDynamicColorSupport_13_0@2x.png
Labels: [Slider], [private], cla: yes

#7975 [BottomAppBar] add support for dynamic color.
  components/BottomAppBar/src/MDCBottomAppBarView.m
  components/BottomAppBar/tests/snapshot/MDCBottomAppBarSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCBottomAppBarSnapshotTests/testDynamicColorSupportOniOS13AndAbove_13_0@2x.png
Labels: [BottomAppBar], cla: yes

#7974 [Ink] Dynamic color support
  MaterialComponents.podspec
  components/Ink/BUILD
  components/Ink/src/MDCInkView.m
  components/Ink/tests/snapshot/MDCInkViewSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testChangeSelectedIconWhenSelected_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testChangeSelectedIconWhenUnselected_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testChangeUnselectedIconWhenSelected_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testChangeUnselectedIconWhenUnselected_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCInkViewSnapshotTests/testInkColorRespondsToDynamicColorAfterInkBegan_13_0@2x.png
  snapshot_test_goldens/goldens_64/MDCInkViewSnapshotTests/testInkColorRespondsToDynamicColorBeforeInkBegan_13_0@2x.png
Labels: [Ink], cla: yes

#7946 [Chips] Add Dynamic Color Support for Chips
  components/Chips/src/MDCChipView.m
  components/Chips/tests/snapshot/MDCChipViewCustomTraitCollectionSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCChipViewCustomTraitCollectionSnapshotTests/testDynamicColorSupport_13_0@2x.png
Labels: [Chips], cla: yes

#7980 [Chips] Add traitCollectionDidChangeBlock
  components/Chips/src/MDCChipView.h
  components/Chips/src/MDCChipView.m
  components/Chips/tests/unit/ChipsTests.m
Labels: [Chips], cla: yes

#7976 [ButtonBar] add traitCollectionDidChangeBlock support.
  components/ButtonBar/src/MDCButtonBar.h
  components/ButtonBar/src/MDCButtonBar.m
  components/ButtonBar/tests/unit/MDCButtonBarTests.m
Labels: [ButtonBar], cla: yes

#7981 [Dialogs] Add traitCollectionDidChangeBlock to MDCAlertController
  components/Dialogs/src/MDCAlertController.h
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/src/MDCDialogPresentationController.h
  components/Dialogs/src/MDCDialogPresentationController.m
  components/Dialogs/tests/unit/MDCAlertControllerTests.m
  components/Dialogs/tests/unit/MDCDialogPresentationControllerUnitTests.swift
Labels: [Dialogs], cla: yes

#7977 [Tabs] Tabs dynamic color
  components/Tabs/src/private/MDCItemBar.m
  components/Tabs/src/private/MDCTabBarIndicatorView.m
  components/Tabs/tests/snapshot/MDCTabBarDynamicColorSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCTabBarDynamicColorSnapshotTests/testColorSchemeDefaultsWithDarkUserInterfaceStyle_13_0@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarDynamicColorSnapshotTests/testColorSchemeDefaultsWithLightUserInterfaceStyle_13_0@2x.png
Labels: [Tabs], cla: yes

#7970 [BottomNavigation] Controller positions content behind the bar
  components/BottomNavigation/src/MDCBottomNavigationBarController.m
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarControllerSnapshotTests/testNonScrollingChildViewControllerDefault_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarControllerSnapshotTests/testNonScrollingChildViewControllerWithSafeAreaInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarControllerSnapshotTests/testScrollableChildViewControllerDefault_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarControllerSnapshotTests/testScrollableChildViewControllerScrolledToBottom_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarControllerSnapshotTests/testScrollableChildViewControllerWithSafeAreaInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarControllerSnapshotTests/testScrollingChildViewControllerWithSafeAreaInsetsScrolledToBottom_11_2@2x.png
Labels: [BottomNavigation], cla: yes

#7985 [Color] Add color extension test to the xcode scheme
  catalog/MDCCatalog.xcodeproj/xcshareddata/xcschemes/MDCCatalog.xcscheme
Labels: [Catalog], cla: yes

#7986 [Snapshot] add support to change TextInput to RTL mode.
  components/Banner/tests/snapshot/MDCBannerSnapshotTests.m
  components/private/Snapshot/src/SnapshotTestCase/MDCSnapshotTestCase.h
  components/private/Snapshot/src/SnapshotTestCase/MDCSnapshotTestCase.m
Labels: [Banner], [private], cla: yes

#7989 [Banner] Add two test cases with icons.
  components/Banner/tests/snapshot/MDCBannerSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCBannerViewSnapshotTests/testLongTextWithTwoActionsAndIconLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBannerViewSnapshotTests/testLongTextWithTwoActionsAndIconRTL_11_2@2x.png
Labels: [Banner], cla: yes

#7991 [BottomNavigation] Update example to demonstrate lazy loading.
  components/BottomNavigation/examples/BottomNavigationBarControllerExampleViewController.swift
Labels: [BottomNavigation], cla: yes

#7997 [BottomNavigation] Remove iOS 9 guards.
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationBarAlignmentSnapshotTests.m
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationBarBlurEffectSnapshotTests.m
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationBarSnapshotTests.m
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationBarTitleLayoutSnapshotTests.m
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationItemViewSnapshotTests.m
Labels: [BottomNavigation], cla: yes, type:Internal cleanup

#7996 [*] Remove RTL snapshot method overrides.
  components/ActionSheet/tests/snapshot/MDCActionSheetControllerSnapshotTests.m
  components/ActivityIndicator/tests/snapshot/MDCActivityIndicatorSnapshotTests.m
  components/BottomAppBar/tests/snapshot/MDCBottomAppBarSnapshotTests.m
  components/ButtonBar/tests/snapshot/MDCButtonBarSnapshotTests.m
  components/Dialogs/tests/snapshot/MDCAlertControllerLocalizationTests.m
  components/Dialogs/tests/snapshot/MDCAlertControllerSnapshotTests.m
  components/Dialogs/tests/snapshot/MDCAlertController_ThemingSnapshotTests.m
  components/NavigationBar/tests/snapshot/MDCNavigationBarSnapshotTests.m
  components/PageControl/tests/snapshot/MDCPageControlSnapshotTests.m
  components/ProgressView/tests/snapshot/MDCProgressViewCornerRadiusSnapshotTests.m
  components/ProgressView/tests/snapshot/MDCProgressViewSnapshotTests.m
  components/Snackbar/tests/snapshot/MDCSnackbarMessageViewSnapshotTests.m
  components/Tabs/tests/snapshot/MDCTabBarExtendedAlignmentSnapshotTests.m
  components/Tabs/tests/snapshot/MDCTabBarSizeClassDelegateSnapshotTests.m
  components/Tabs/tests/snapshot/MDCTabBarSnapshotTests.m
  components/Tabs/tests/snapshot/TabBarView/MDCTabBarViewSnapshotTests.m
Labels: [ActionSheet], [ActivityIndicator], [BottomAppBar], [ButtonBar], [Dialogs], [NavigationBar], [PageControl], [ProgressView], [Snackbar], [Tabs], cla: yes, type:Internal cleanup

#7994 [TextFields] Use new Snapshot RTL methods.
  components/TextFields/tests/snapshot/supplemental/MDCAbstractTextFieldSnapshotTests+I18N.m
Labels: [TextFields], cla: yes

#7998 [Dialogs] Remove iOS 9 guards.
  components/Dialogs/src/Theming/MDCAlertController+MaterialTheming.m
  components/Dialogs/tests/snapshot/MDCAlertControllerLocalizationTests.m
  components/Dialogs/tests/snapshot/MDCAlertControllerSnapshotTests.m
  components/Dialogs/tests/snapshot/MDCAlertController_ThemingSnapshotTests.m
  components/Dialogs/tests/unit/MDCAlertControllerTests.m
Labels: [Dialogs], cla: yes, type:Internal cleanup

#7999 [Tabs] Drop iOS 9 guards.
  components/Tabs/examples/supplemental/TabBarIconExampleSupplemental.m
  components/Tabs/examples/supplemental/TabBarTextOnlyExampleSupplemental.m
  components/Tabs/tests/snapshot/MDCTabBarExtendedAlignmentSnapshotTests.m
  components/Tabs/tests/snapshot/MDCTabBarSizeClassDelegateSnapshotTests.m
  components/Tabs/tests/snapshot/MDCTabBarSnapshotTests.m
  components/Tabs/tests/snapshot/TabBarView/MDCTabBarViewItemViewSnapshotTests.m
  components/Tabs/tests/unit/MDCTabBarLayoutTests.m
Labels: [Tabs], [TextFields], cla: yes, type:Internal cleanup

#8000 [TextFields] Remove iOS 9 guards.
  components/TextFields/examples/TextFieldsTableViewExample.m
  components/TextFields/tests/snapshot/MDCTextAreaOutlinedControllerBaselineCharacterCountArabicSnapshotTests.m
  components/TextFields/tests/snapshot/MDCTextAreaUnderlinedControllerCharacterCountArabicSnapshotTests.m
  components/TextFields/tests/snapshot/MDCTextFieldFilledControllerLeadingImageArabicSnapshotTests.m
  components/TextFields/tests/snapshot/MDCTextFieldFilledFloatingControllerLeadingImageArabicSnapshotTests.m
  components/TextFields/tests/snapshot/MDCTextFieldFullWidthControllerLeadingImageArabicSnapshotTests.m
  components/TextFields/tests/snapshot/MDCTextFieldOutlinedControllerBaselineLeadingImageArabicSnapshotTests.m
  components/TextFields/tests/snapshot/MDCTextFieldUnderlinedControllerLeadingImageArabicSnapshotTests.m
  components/TextFields/tests/snapshot/MDCTextFieldUnderlinedFloatingControllerLeadingImageArabicSnapshotTests.m
Labels: [TextFields], cla: yes, type:Internal cleanup

#8001 [*] Drop iOS 9 guards for Swift.
  components/Cards/examples/EditReorderCollectionViewController.swift
  components/Cards/examples/EditReorderShapedCollectionViewController.swift
  components/Ripple/examples/CardCellsWithRippleExample.swift
  components/TextFields/examples/TextFieldKitchenSinkExample.swift
  components/TextFields/tests/unit/TextFieldTests.swift
  components/private/Dragons/examples/ZShadow.swift
Labels: [Cards], [Ripple], [TextFields], [private], cla: yes, skill:Swift, type:Internal cleanup

#8006 [Cards] Add traitCollectionDidChange block to MDCCard
  components/Cards/src/MDCCard.h
  components/Cards/src/MDCCard.m
  components/Cards/tests/unit/MDCCardTests.m
Labels: [Cards], cla: yes

#8003 [Tabs] Allow clients to set preferred layout style.
  components/Tabs/src/TabBarView/MDCTabBarView.h
  components/Tabs/src/TabBarView/MDCTabBarView.m
  components/Tabs/tests/snapshot/TabBarView/MDCTabBarViewLayoutStyleSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCTabBarViewLayoutStyleSnapshotTests/testFixedClusteredCenteredLayoutStyleFitSizeArabicRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewLayoutStyleSnapshotTests/testFixedClusteredCenteredLayoutStyleFitSizeLatinLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewLayoutStyleSnapshotTests/testFixedClusteredCenteredLayoutStyleTooNarrowSizeArabicRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewLayoutStyleSnapshotTests/testFixedClusteredCenteredLayoutStyleTooNarrowSizeLatinLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewLayoutStyleSnapshotTests/testFixedClusteredCenteredLayoutStyleTooWideSizeArabicRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewLayoutStyleSnapshotTests/testFixedClusteredCenteredLayoutStyleTooWideSizeLatinLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewLayoutStyleSnapshotTests/testFixedLayoutStyleFitSizeArabicRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewLayoutStyleSnapshotTests/testFixedLayoutStyleFitSizeLatinLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewLayoutStyleSnapshotTests/testFixedLayoutStyleTooNarrowSizeArabicRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewLayoutStyleSnapshotTests/testFixedLayoutStyleTooNarrowSizeLatinLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewLayoutStyleSnapshotTests/testFixedLayoutStyleTooWideSizeArabicRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewLayoutStyleSnapshotTests/testFixedLayoutStyleTooWideSizeLatinLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewLayoutStyleSnapshotTests/testScrollableLayoutStyleFitSizeArabicRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewLayoutStyleSnapshotTests/testScrollableLayoutStyleFitSizeLatinLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewLayoutStyleSnapshotTests/testScrollableLayoutStyleTooNarrowSizeArabicRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewLayoutStyleSnapshotTests/testScrollableLayoutStyleTooNarrowSizeLatinLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewLayoutStyleSnapshotTests/testScrollableLayoutStyleTooWideSizeArabicRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewLayoutStyleSnapshotTests/testScrollableLayoutStyleTooWideSizeLatinLTR_11_2@2x.png
Labels: [Tabs], cla: yes

#8010 [Banner] Use Arabic for RTL snapshot test
  components/Banner/tests/snapshot/MDCBannerSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCBannerViewSnapshotTests/testLongTextWithSingleActionRTLInArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBannerViewSnapshotTests/testLongTextWithSingleActionRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBannerViewSnapshotTests/testLongTextWithTwoActionsAndIconRTLInArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBannerViewSnapshotTests/testLongTextWithTwoActionsAndIconRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBannerViewSnapshotTests/testLongTextWithTwoActionsRTLInArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBannerViewSnapshotTests/testLongTextWithTwoActionsRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBannerViewSnapshotTests/testShortTextWithSingleActionRTLInArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBannerViewSnapshotTests/testShortTextWithSingleActionRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBannerViewSnapshotTests/testSingleRowStyleLongTextWithSingleActionRTLInArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBannerViewSnapshotTests/testSingleRowStyleLongTextWithSingleActionRTL_11_2@2x.png
Labels: [Banner], cla: yes

#8008 [NavigationDrawer] Add traitCollectionDidChange block
  components/NavigationDrawer/src/MDCBottomDrawerViewController.h
  components/NavigationDrawer/src/MDCBottomDrawerViewController.m
  components/NavigationDrawer/tests/unit/MDCNavigationDrawerTest.m
Labels: [NavigationDrawer], cla: yes

#8009 [NavigationDrawer] Add traitCollectionDidChange block to presentation controller.
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.h
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.m
  components/NavigationDrawer/tests/unit/MDCNavigationDrawerPresentationControllerTests.m
Labels: [NavigationDrawer], cla: yes

#8002 [Tabs] Support Leading, Trailing Fixed Clustered Layout styles.
  components/Tabs/src/TabBarView/MDCTabBarView.h
  components/Tabs/src/TabBarView/MDCTabBarView.m
  components/Tabs/tests/snapshot/TabBarView/MDCTabBarViewLayoutStyleSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCTabBarViewLayoutStyleSnapshotTests/testFixedClusteredLeadingLayoutStyleFitSizeArabicRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewLayoutStyleSnapshotTests/testFixedClusteredLeadingLayoutStyleFitSizeLatinLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewLayoutStyleSnapshotTests/testFixedClusteredLeadingLayoutStyleTooNarrowSizeArabicRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewLayoutStyleSnapshotTests/testFixedClusteredLeadingLayoutStyleTooNarrowSizeLatinLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewLayoutStyleSnapshotTests/testFixedClusteredLeadingLayoutStyleTooWideSizeArabicRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewLayoutStyleSnapshotTests/testFixedClusteredLeadingLayoutStyleTooWideSizeLatinLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewLayoutStyleSnapshotTests/testFixedClusteredTrailingLayoutStyleFitSizeArabicRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewLayoutStyleSnapshotTests/testFixedClusteredTrailingLayoutStyleFitSizeLatinLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewLayoutStyleSnapshotTests/testFixedClusteredTrailingLayoutStyleTooNarrowSizeArabicRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewLayoutStyleSnapshotTests/testFixedClusteredTrailingLayoutStyleTooNarrowSizeLatinLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewLayoutStyleSnapshotTests/testFixedClusteredTrailingLayoutStyleTooWideSizeArabicRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewLayoutStyleSnapshotTests/testFixedClusteredTrailingLayoutStyleTooWideSizeLatinLTR_11_2@2x.png
Labels: [Cards], [Dialogs], [Ripple], [Tabs], [TextFields], [private], cla: yes

#8033 [List] Add traitCollectionDidChange block to MDCBaseCell
  components/List/src/MDCBaseCell.h
  components/List/src/MDCBaseCell.m
  components/List/tests/unit/MDCBaseCellTests.m
  components/List/tests/unit/MDCSelfSizingStereoCellTests.m
Labels: [List], cla: yes

#8007 [Cards] Add traitCollectionDidChange block to MDCCardCollectionCell
  components/Cards/src/MDCCardCollectionCell.h
  components/Cards/src/MDCCardCollectionCell.m
  components/Cards/tests/unit/MDCCardTests.m
Labels: [Cards], cla: yes

#8035 [ProgressView] Add traitCollectionDidChange block
  components/ProgressView/src/MDCProgressView.h
  components/ProgressView/src/MDCProgressView.m
  components/ProgressView/tests/unit/ProgressViewTests.m
Labels: [ProgressView], cla: yes

#8052 [Elevation] Add MDCElevationOverride to umbrella header
  components/Elevation/src/MaterialElevation.h
Labels: [Elevation], cla: yes

#8037 [PageControl] Add traitCollectionDidChange block
  components/PageControl/src/MDCPageControl.h
  components/PageControl/src/MDCPageControl.m
  components/PageControl/tests/unit/PageControlExampleTests.m
Labels: [PageControl], cla: yes

#8055 [Elevation] Improve protocol naming
  components/Elevation/src/MDCElevatable.h
  components/Elevation/src/MDCElevationOverriding.h
  components/Elevation/src/MaterialElevation.h
Labels: [Elevation], cla: yes

#7969 [Elevation] Add category to UIView
  catalog/MDCCatalog.xcodeproj/xcshareddata/xcschemes/MDCCatalog.xcscheme
  catalog/MDCDragons.xcodeproj/xcshareddata/xcschemes/MDCDragons.xcscheme
  catalog/Podfile
  components/Elevation/src/MaterialElevation.h
  components/Elevation/src/UIView+MaterialElevationResponding.h
  components/Elevation/src/UIView+MaterialElevationResponding.m
  components/Elevation/tests/unit/MDCMaterialElevationRespondingTests.m
Labels: [Catalog], [Elevation], cla: yes

#8059 [Ripple] Fix active ripple layer not using active ripple color.
  components/Ripple/src/MDCRippleView.m
Labels: [Ripple], cla: yes

#8056 [Tabs] Add traitCollectionDidChange block
  components/Tabs/src/MDCTabBar.h
  components/Tabs/src/MDCTabBar.m
  components/Tabs/src/MDCTabBarViewController.h
  components/Tabs/src/MDCTabBarViewController.m
  components/Tabs/tests/unit/MDCTabBarControllerTests.m
  components/Tabs/tests/unit/MDCTabBarTests.m
Labels: [Tabs], cla: yes

#8057 [Slider] Add traitCollectionDidChange block
  components/Slider/src/MDCSlider.h
  components/Slider/src/MDCSlider.m
  components/Slider/tests/unit/SliderTests.m
Labels: [Slider], cla: yes

#8060 [TabBarView] Add traitCollectionDidChange block
  components/Tabs/src/TabBarView/MDCTabBarView.h
  components/Tabs/src/TabBarView/MDCTabBarView.m
  components/Tabs/tests/unit/TabBarView/MDCTabBarViewTests.m
Labels: [Tabs], cla: yes

#8065 [BottomNavigation] Don't set `sizeThatFitsIncludesSafeArea`.
  components/BottomNavigation/examples/BottomNavigationBlurExample.m
  components/BottomNavigation/examples/BottomNavigationExplicitlySetColorExample.swift
  components/BottomNavigation/examples/BottomNavigationNilBadges.swift
  components/BottomNavigation/examples/BottomNavigationResetButtons.swift
  components/BottomNavigation/examples/BottomNavigationSelectedIconExample.swift
  components/BottomNavigation/examples/BottomNavigationTitleVisibilityChangeExample.swift
  components/BottomNavigation/examples/BottomNavigationTypicalUseExample.m
  components/BottomNavigation/examples/BottomNavigationTypicalUseExample.swift
Labels: [BottomNavigation], cla: yes, type:Internal cleanup

#8063 [Tabs] Properties before methods.
  components/Tabs/src/TabBarView/MDCTabBarView.h
Labels: [Tabs], cla: yes, type:Internal cleanup

#8061 [HeaderStackView] Add traitCollectionDidChange block
  components/HeaderStackView/src/MDCHeaderStackView.h
  components/HeaderStackView/src/MDCHeaderStackView.m
  components/HeaderStackView/tests/unit/HeaderStackViewNoopTest.m
Labels: [HeaderStackView], cla: yes

#8062 [Ripple] Add traitCollectionDidChange block
  components/Ripple/src/MDCRippleView.h
  components/Ripple/src/MDCRippleView.m
  components/Ripple/tests/unit/MDCRippleViewTests.m
  components/Ripple/tests/unit/MDCStatefulRippleViewTests.m
Labels: [Ripple], cla: yes

#8064 [Ink] Add traitCollectionDidChange block
  components/Ink/src/MDCInkView.h
  components/Ink/src/MDCInkView.m
  components/Ink/tests/unit/MDCInkViewTests.m
Labels: [Ink], cla: yes

#8066 [BottomNavigation] Deprecate `sizeThatFitsIncludesSafeArea`.
  components/BottomNavigation/src/MDCBottomNavigationBar.h
Labels: [BottomNavigation], cla: yes, skill:Deprecations

#8036 [FeatureHighlight] Add traitCollectionDidChange block
  components/FeatureHighlight/src/MDCFeatureHighlightView.h
  components/FeatureHighlight/src/MDCFeatureHighlightViewController.h
  components/FeatureHighlight/src/MDCFeatureHighlightViewController.m
  components/FeatureHighlight/src/private/MDCFeatureHighlightView+Private.m
  components/FeatureHighlight/tests/unit/FeatureHighlightNoopTest.m
  components/FeatureHighlight/tests/unit/FeatureHighlightViewControllerTests.m
  components/FeatureHighlight/tests/unit/FeatureHighlightViewTests.m
Labels: [FeatureHighlight], cla: yes

#8058 [Elevation] passing self to the elevationDidChangeBlock
  components/Elevation/src/MDCElevatable.h
  components/Elevation/tests/unit/MDCMaterialElevationRespondingTests.m
Labels: [Elevation], cla: yes

#8067 [Elevation] Add elevationDidChange method to UIView category
  components/Elevation/src/UIView+MaterialElevationResponding.h
  components/Elevation/src/UIView+MaterialElevationResponding.m
  components/Elevation/tests/unit/MDCMaterialElevationRespondingTests.m
Labels: [Elevation], cla: yes

#8070 [TextFields] Add traitCollectionDidChange block
  components/TextFields/src/MDCMultilineTextField.h
  components/TextFields/src/MDCMultilineTextField.m
  components/TextFields/src/MDCTextField.h
  components/TextFields/src/MDCTextField.m
  components/TextFields/tests/unit/MultilineTextFieldTests.swift
  components/TextFields/tests/unit/TextFieldTests.swift
Labels: [TextFields], cla: yes

#8038 [BottomNavigation] Add MDCElevation support.
  MaterialComponents.podspec
  components/BottomNavigation/BUILD
  components/BottomNavigation/src/MDCBottomNavigationBar.h
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/tests/unit/MDCBottomNavigationBarTests.m
Labels: [BottomNavigation], cla: yes

#8068 [Chips] Conform to MDCElevatable and MDCElevationOverriding.
  MaterialComponents.podspec
  components/Chips/BUILD
  components/Chips/src/MDCChipView.h
  components/Chips/src/MDCChipView.m
  components/Chips/tests/unit/ChipsTests.m
  components/Chips/tests/unit/MDCChipViewTests.m
Labels: [Chips], cla: yes

#8071 [Elevation] Add absoluteElevation property and clarify the elevationDidChange block param
  components/Elevation/src/MDCElevatable.h
  components/Elevation/src/UIView+MaterialElevationResponding.h
  components/Elevation/src/UIView+MaterialElevationResponding.m
  components/Elevation/tests/unit/MDCMaterialElevationRespondingTests.m
Labels: [Elevation], cla: yes

#8072 [BottomAppBar] Remove no-op tests.
  components/BottomAppBar/tests/unit/BottomAppBarNoopTests.m
Labels: [BottomAppBar], cla: yes, type:Internal cleanup

#8054 [Cards] Card conforms to MDCElevation and MDCElevationOverride
  MaterialComponents.podspec
  components/Cards/BUILD
  components/Cards/src/MDCCard.h
  components/Cards/src/MDCCard.m
  components/Cards/tests/unit/MDCCardTests.m
Labels: [Cards], cla: yes

#7993 [Banner] use UITextView for text instead of UILabel.
  components/Banner/examples/BannerAutolayoutExampleViewController.m
  components/Banner/examples/BannerTypicalUseExampleViewController.m
  components/Banner/src/MDCBannerView.h
  components/Banner/src/MDCBannerView.m
  components/Banner/tests/snapshot/MDCBannerSnapshotTests.m
  components/Banner/tests/unit/BannerViewTests.m
  snapshot_test_goldens/goldens_64/MDCBannerViewSnapshotTests/testDynamicTypeForAttributedTextStringWhenContentSizeCategoryIsExtraExtraLarge_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBannerViewSnapshotTests/testDynamicTypeForContentSizeCategoryExtraExtraLarge_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBannerViewSnapshotTests/testLongTextWithSingleActionLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBannerViewSnapshotTests/testLongTextWithSingleActionRTLInArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBannerViewSnapshotTests/testLongTextWithTwoActionsAndIconLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBannerViewSnapshotTests/testLongTextWithTwoActionsAndIconRTLInArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBannerViewSnapshotTests/testLongTextWithTwoActionsLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBannerViewSnapshotTests/testLongTextWithTwoActionsRTLInArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBannerViewSnapshotTests/testMiddleLengthTextAndStackedButtonsWithLargeLayoutMargin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBannerViewSnapshotTests/testMiddleLengthTextWithLargeLayoutMargin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBannerViewSnapshotTests/testShortTextWithSingleActionLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBannerViewSnapshotTests/testShortTextWithSingleActionRTLInArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBannerViewSnapshotTests/testSingleRowStyleLongTextWithSingleActionLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBannerViewSnapshotTests/testSingleRowStyleLongTextWithSingleActionRTLInArabic_11_2@2x.png
Labels: [Banner], cla: yes

#8069 [Buttons] Move MDCButton's defaultContentInset configuration to later in init
  components/Buttons/src/MDCButton.m
  components/Buttons/tests/snapshot/ButtonsFlippedImageRenderingSnapshotTests.m
  snapshot_test_goldens/goldens_64/ButtonsFlippedImageRenderingSnapshotTests/testHorizontallyFlippedImageWithContentInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/ButtonsFlippedImageRenderingSnapshotTests/testHorizontallyFlippedImageWithContentInsets_13_0@2x.png
Labels: [Buttons], cla: yes
