Repository material-components/material-components-ios, pull requests merged in 2019-03, with the labels that each got.

#6612 [BottomNavigationBar] Add autolayout support
  components/BottomNavigation/examples/BottomNavigationBarControllerExampleViewController.swift
  components/BottomNavigation/src/MDCBottomNavigationBar.h
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/src/MDCBottomNavigationBarController.m
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationBarSnapshotTests.m
  components/BottomNavigation/tests/unit/BottomNavigationTests.m
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testBarItemsBottomAnchorWithOffset_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testBarItemsBottomAnchorWithoutOffset_11_2@2x.png
Labels: [BottomNavigation], cla: yes, skill:Auto Layout

#6750 [CI] updated Jazzy yaml files to include the framework root
  components/ActionSheet/.jazzy.yaml
  components/ActivityIndicator/.jazzy.yaml
  components/AnimationTiming/.jazzy.yaml
  components/AppBar/.jazzy.yaml
  components/Backdrop/.jazzy.yaml
  components/Banner/.jazzy.yaml
  components/BottomAppBar/.jazzy.yaml
  components/BottomNavigation/.jazzy.yaml
  components/BottomSheet/.jazzy.yaml
  components/ButtonBar/.jazzy.yaml
  components/Buttons/.jazzy.yaml
  components/Cards/.jazzy.yaml
  components/Checkboxes/.jazzy.yaml
  components/Chips/.jazzy.yaml
  components/CollectionCells/.jazzy.yaml
  components/CollectionLayoutAttributes/.jazzy.yaml
  components/Collections/.jazzy.yaml
  components/DataTables/.jazzy.yaml
  components/Dialogs/.jazzy.yaml
  components/Dividers/.jazzy.yaml
  components/FeatureHighlight/.jazzy.yaml
  components/FlexibleHeader/.jazzy.yaml
  components/HeaderStackView/.jazzy.yaml
  components/ImageList/.jazzy.yaml
  components/Ink/.jazzy.yaml
  components/LibraryInfo/.jazzy.yaml
  components/List/.jazzy.yaml
  components/MaskedTransition/.jazzy.yaml
  components/Menus/.jazzy.yaml
  components/NavigationBar/.jazzy.yaml
  components/NavigationDrawer/.jazzy.yaml
  components/OverlayWindow/.jazzy.yaml
  components/PageControl/.jazzy.yaml
  components/Palettes/.jazzy.yaml
  components/ProgressView/.jazzy.yaml
  components/RadioButton/.jazzy.yaml
  components/Ripple/.jazzy.yaml
  components/ShadowElevations/.jazzy.yaml
  components/ShadowLayer/.jazzy.yaml
  components/ShapeLibrary/.jazzy.yaml
  components/Shapes/.jazzy.yaml
  components/SideSheet/.jazzy.yaml
  components/Slider/.jazzy.yaml
  components/Snackbar/.jazzy.yaml
  components/Switch/.jazzy.yaml
  components/Tabs/.jazzy.yaml
  components/TextFields/.jazzy.yaml
  components/Themes/.jazzy.yaml
  components/Tooltips/.jazzy.yaml
  components/Typography/.jazzy.yaml
  components/docs/.jazzy.yaml
  components/schemes/.jazzy.yaml
  components/schemes/Color/.jazzy.yaml
  components/schemes/Container/.jazzy.yaml
  components/schemes/Shape/.jazzy.yaml
  components/schemes/Typography/.jazzy.yaml
  scripts/generate_jazzy_yamls.sh
Labels: [ActionSheet], [ActivityIndicator], [AnimationTiming], [AppBar], [Backdrop], [Banner], [BottomAppBar], [BottomNavigation], [BottomSheet], [ButtonBar], [Buttons], [Cards], [Checkboxes], [Chips], [CollectionCells], [CollectionLayoutAttributes], [Collections], [DataTables], [Dialogs], [Dividers], [FeatureHighlight], [FlexibleHeader], [HeaderStackView], [ImageList], [Ink], [LibraryInfo], [List], [MaskedTransition], [Menus], [NavigationBar], [NavigationDrawer], [OverlayWindow], [PageControl], [Palettes], [ProgressView], [RadioButton], [Ripple], [ShadowElevations], [ShadowLayer], [ShapeLibrary], [Shapes], [SideSheet], [Slider], [Snackbar], [Switch], [Tabs], [TextFields], [Themes], [Tooltips], [Typography], [docs], [schemes], cla: yes

#6696 [Dialogs] Fix presented corner radius in custom view controllers
  components/Dialogs/examples/DialogsAlertExampleViewController.m
  components/Dialogs/examples/DialogsCustomShadowExampleViewController.swift
  components/Dialogs/examples/DialogsDismissingExampleViewController.m
  components/Dialogs/examples/DialogsRoundedCornerExampleViewController.m
  components/Dialogs/examples/DialogsThemedPresentationExampleViewController.swift
  components/Dialogs/src/MDCDialogPresentationController.h
  components/Dialogs/src/MDCDialogPresentationController.m
  components/Dialogs/src/Theming/MDCDialogPresentationController+MaterialTheming.h
  components/Dialogs/src/Theming/MDCDialogPresentationController+MaterialTheming.m
  components/Dialogs/tests/unit/Theming/DialogsMaterialThemingTests.swift
Labels: [Dialogs], cla: yes

#6742 [NavigationDrawer] Removed beta references in NavigationDrawer
  components/NavigationDrawer/README.md
  components/NavigationDrawer/docs/README.md
Labels: [NavigationDrawer], cla: yes

#6749 [Cards] Slight changes to Cards targets + rewrite rules
  .kokoro
  components/Cards/BUILD
  components/Ripple/BUILD
Labels: [Cards], [Ripple], cla: yes

#6748 [FlexibleHeader] FlexibleHeader changes
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
  components/FlexibleHeader/src/MDCFlexibleHeaderViewController.h
  components/FlexibleHeader/src/MDCFlexibleHeaderViewController.m
  components/FlexibleHeader/src/private/MDCFlexibleHeaderTopSafeArea.h
  components/FlexibleHeader/src/private/MDCFlexibleHeaderTopSafeArea.m
  components/FlexibleHeader/tests/unit/FlexibleHeaderHeightLegacySafeAreaBehaviorTests.m
  components/FlexibleHeader/tests/unit/FlexibleHeaderHeightTests.m
  components/FlexibleHeader/tests/unit/FlexibleHeaderMinMaxHeightIncludesSafeAreaTests.m
  components/FlexibleHeader/tests/unit/FlexibleHeaderMinMaxHeightTests.m
  components/FlexibleHeader/tests/unit/FlexibleHeaderTopSafeAreaTests.m
  components/FlexibleHeader/tests/unit/supplemental/FlexibleHeaderTopSafeAreaTestsFakeTopSafeAreaDelegate.h
Labels: [FlexibleHeader], cla: yes

#6743 [ActionSheet] Fixes broken action sheet tests.
  MaterialComponentsBeta.podspec
  components/ActionSheet/tests/unit/Theming/MDCActionSheetThemingTest.m
Labels: [ActionSheet], [testing], cla: yes, type:Bug, type:Internal cleanup

#6772 [Ripple] update doc to remove redundancy
  components/Ripple/README.md
Labels: [Ripple], cla: yes

#6768 [Snackbar] Make initialization threadsafe.
  components/Snackbar/src/MDCSnackbarManager.m
  components/Snackbar/tests/unit/SnackbarManagerTests.m
Labels: [Snackbar], [testing], cla: yes, type:Bug, type:Test

#6718 [BottomNavigation] Examples clean-up.
  components/BottomNavigation/examples/BottomNavigationBlurExample.m
  components/BottomNavigation/examples/BottomNavigationExplicitlySetColorExample.swift
  components/BottomNavigation/examples/BottomNavigationNilBadges.swift
  components/BottomNavigation/examples/BottomNavigationResetButtons.swift
  components/BottomNavigation/examples/BottomNavigationSelectedIconExample.swift
  components/BottomNavigation/examples/BottomNavigationTitleVisibilityChangeExample.swift
  components/BottomNavigation/examples/BottomNavigationTypicalUseExample.m
  components/BottomNavigation/examples/BottomNavigationTypicalUseExample.swift
Labels: [BottomNavigation], cla: yes, skill:Swift, type:Internal cleanup, type:Polish

#6766 [Buttons] Allow setting `accessibilityTraits`.
  components/Buttons/src/MDCButton.h
  components/Buttons/src/MDCButton.m
  components/Buttons/tests/unit/ButtonsTests.m
Labels: Accessibility, [Buttons], cla: yes, type:Feature request

#6786 [Tabs] Fix badge text truncation bug in MDCItemBarCell
  components/Tabs/src/private/MDCItemBarCell+Private.h
  components/Tabs/src/private/MDCItemBarCell.m
  components/Tabs/tests/unit/MDCItemBarCellTests.m
Labels: [Tabs], cla: yes

#6788 [Collections] Clean up interface by removing NS_REQUIRES_SUPER
  components/Collections/src/MDCCollectionViewController.h
Labels: [Collections], cla: yes

#6789 {Tests} Fix font comparison in Objective-C.
  components/ActionSheet/tests/unit/MDCActionSheetTableCellTest.m
  components/ActionSheet/tests/unit/MDCActionSheetTest.m
  components/BottomNavigation/tests/unit/BottomNavigationTests.m
  components/BottomNavigation/tests/unit/BottomNavigationTypographyThemerTests.m
  components/Dialogs/tests/unit/MDCAlertControllerTests.m
  components/Dialogs/tests/unit/MDCAlertControllerTypographyThemerTests.m
  components/Snackbar/tests/unit/MDCSnackbarManagerInstanceTests.m
Labels: PR:merge-when-approved, [ActionSheet], [BottomNavigation], [Dialogs], [Snackbar], [testing], cla: yes, skill:Refactoring, type:Internal cleanup, type:Test

#6776 Enable -Wunguarded-availability.
  catalog/MaterialComponentsWarnings.xcconfig
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/src/MDCBottomNavigationBarController.m
  components/Tabs/examples/supplemental/TabBarIconExampleSupplemental.m
  components/Tabs/examples/supplemental/TabBarTextOnlyExampleSupplemental.m
  components/Tabs/tests/unit/MDCTabBarLayoutTests.m
  components/TextFields/examples/TextFieldsTableViewExample.m
  components/Typography/examples/TypographyMaterialStylesViewController.m
Labels: [BottomNavigation], [Catalog], [Tabs], [TextFields], [Typography], cla: yes

#6792 [Ripple] Added a fix for the ripple sometimes blinking when ending animation
  components/Ripple/src/private/MDCRippleLayer.m
Labels: [Ripple], cla: yes

#6733 [Typography] Dynamic Type 2.0
  components/Dialogs/tests/unit/MDCAlertControllerTypographyThemerTests.m
  components/Dialogs/tests/unit/Theming/DialogsMaterialThemingTests.swift
  components/NavigationBar/tests/unit/NavigationBarTests.m
  components/Typography/BUILD
  components/Typography/examples/TypographyMaterialScalableStylesViewController.h
  components/Typography/examples/TypographyMaterialScalableStylesViewController.m
  components/Typography/src/MDCFontScaler.h
  components/Typography/src/MDCFontScaler.m
  components/Typography/src/MaterialTypography.h
  components/Typography/src/UIFont+MaterialScalable.h
  components/Typography/src/UIFont+MaterialScalable.m
  components/Typography/src/private/UIFont+MaterialTypographyPrivate.m
  components/schemes/Typography/BUILD
  components/schemes/Typography/src/MDCTypographyScheme.h
  components/schemes/Typography/src/MDCTypographyScheme.m
  components/schemes/Typography/tests/unit/MDCTypographySchemeTests.m
Labels: [Dialogs], [NavigationBar], [Typography], [schemes], cla: yes

#6799 {Cocoapods} Automatically find snapshot targets.
  MaterialComponentsSnapshotTests.podspec
Labels: cla: yes, skill:CocoaPods, type:Internal cleanup

#6773 [BottomNavigation] Prevents the client from setting the navigation items directly when using the bottom navigation bar controller.
  components/BottomNavigation/src/MDCBottomNavigationBarController.m
  components/BottomNavigation/tests/unit/MDCBottomNavigationBarControllerTests.m
Labels: [BottomNavigation], cla: yes

#6828 [Typography] Add basic Snapshot tests.
  components/Typography/BUILD
  components/Typography/tests/snapshot/MDCTypographySnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCTypographySnapshotTests/testBody1_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTypographySnapshotTests/testBody2_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTypographySnapshotTests/testButton_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTypographySnapshotTests/testCaption_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTypographySnapshotTests/testDisplay1_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTypographySnapshotTests/testDisplay2_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTypographySnapshotTests/testDisplay3_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTypographySnapshotTests/testDisplay4_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTypographySnapshotTests/testHeadline_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTypographySnapshotTests/testSubhead_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTypographySnapshotTests/testTitle_11_2@2x.png
Labels: [Typography], [testing], cla: yes, skill:Bazel, skill:CocoaPods, type:Test

#6825 [ProgressView] Add basic Snapshot tests.
  components/ProgressView/BUILD
  components/ProgressView/tests/snapshot/MDCProgressViewSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCProgressViewSnapshotTests/testProgress000LTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCProgressViewSnapshotTests/testProgress000RTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCProgressViewSnapshotTests/testProgress025LTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCProgressViewSnapshotTests/testProgress025RTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCProgressViewSnapshotTests/testProgress065LTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCProgressViewSnapshotTests/testProgress065RTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCProgressViewSnapshotTests/testProgress097LTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCProgressViewSnapshotTests/testProgress097RTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCProgressViewSnapshotTests/testProgress100LTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCProgressViewSnapshotTests/testProgress100RTL_11_2@2x.png
Labels: [ProgressView], [testing], cla: yes, skill:Bazel, skill:CocoaPods, type:Test

#6826 [ActivityIndicator] Add basic Snapshot tests
  components/ActivityIndicator/BUILD
  components/ActivityIndicator/tests/snapshot/MDCActivityIndicatorSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCActivityIndicatorSnapshotTests/testDeterminateProgress000LTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActivityIndicatorSnapshotTests/testDeterminateProgress000RTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActivityIndicatorSnapshotTests/testDeterminateProgress016LTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActivityIndicatorSnapshotTests/testDeterminateProgress016RTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActivityIndicatorSnapshotTests/testDeterminateProgress042LTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActivityIndicatorSnapshotTests/testDeterminateProgress042RTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActivityIndicatorSnapshotTests/testDeterminateProgress088LTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActivityIndicatorSnapshotTests/testDeterminateProgress088RTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActivityIndicatorSnapshotTests/testDeterminateProgress100LTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActivityIndicatorSnapshotTests/testDeterminateProgress100RTL_11_2@2x.png
Labels: [ActivityIndicator], [testing], cla: yes, skill:Bazel, skill:CocoaPods, type:Test

#6824 [Snackbar] Add basic Snapshot tests.
  components/Snackbar/BUILD
  components/Snackbar/tests/snapshot/MDCSnackbarMessageViewSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCSnackbarMessageViewSnapshotTests/testWithLongMessageLongActionLTRLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSnackbarMessageViewSnapshotTests/testWithLongMessageLongActionRTLArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSnackbarMessageViewSnapshotTests/testWithLongMessageNoActionLTRLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSnackbarMessageViewSnapshotTests/testWithLongMessageNoActionRTLArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSnackbarMessageViewSnapshotTests/testWithShortMessageNoActionLTRLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSnackbarMessageViewSnapshotTests/testWithShortMessageNoActionRTLArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSnackbarMessageViewSnapshotTests/testWithShortMessageShortActionLTRLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSnackbarMessageViewSnapshotTests/testWithShortMessageShortActionRTLArabic_11_2@2x.png
Labels: [Snackbar], [testing], cla: yes, skill:Bazel, skill:CocoaPods, type:Test

#6823 [PageControl] Add basic Snapshot tests.
  components/PageControl/BUILD
  components/PageControl/tests/snapshot/MDCPageControlSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCPageControlSnapshotTests/testPageControlDefaultRTLWithRespect_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCPageControlSnapshotTests/testPageControlDefaultRTLWithoutRespect_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCPageControlSnapshotTests/testPageControlDefault_11_2@2x.png
Labels: [PageControl], [testing], cla: yes, skill:Bazel, skill:CocoaPods, type:Test

#6822 [List] Add basic snapshot tests.
  components/List/BUILD
  components/List/tests/snapshot/MDCBaseCellSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCBaseCellSnapshotTests/testCellHighlighted_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseCellSnapshotTests/testCellWithElevation24_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseCellSnapshotTests/testDefaultCell_11_2@2x.png
Labels: [List], [testing], cla: yes, skill:Bazel, skill:CocoaPods, type:Test

#6821 [NavigationBar] Add basic Snapshot tests.
  components/NavigationBar/BUILD
  components/NavigationBar/tests/snapshot/MDCNavigationBarSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCNavigationBarSnapshotTests/testNavbarWithBackButton2Leading2TrailingItemsAndShortTitleLTRLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCNavigationBarSnapshotTests/testNavbarWithBackButton2Leading2TrailingItemsAndShortTitleRTLArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCNavigationBarSnapshotTests/testNavbarWithBackButton2Leading2TrailingItemsSupplementBackAndShortTitleLTRLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCNavigationBarSnapshotTests/testNavbarWithBackButton2Leading2TrailingItemsSupplementBackAndShortTitleRTLArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCNavigationBarSnapshotTests/testNavbarWithBackButton2LeadingItemsAndShortTitleLTRLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCNavigationBarSnapshotTests/testNavbarWithBackButton2LeadingItemsAndShortTitleRTLArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCNavigationBarSnapshotTests/testNavbarWithBackButton2TrailingItemsAndShortTitleLTRLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCNavigationBarSnapshotTests/testNavbarWithBackButton2TrailingItemsAndShortTitleRTLArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCNavigationBarSnapshotTests/testNavbarWithBackButtonAndLongTitleLTRLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCNavigationBarSnapshotTests/testNavbarWithBackButtonAndLongTitleRTLArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCNavigationBarSnapshotTests/testNavbarWithBackButtonAndShortTitleLTRLatin_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCNavigationBarSnapshotTests/testNavbarWithBackButtonAndShortTitleRTLArabic_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCNavigationBarSnapshotTests/testNavbarWithBackButtonAndTitleViewLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCNavigationBarSnapshotTests/testNavbarWithBackButtonAndTitleViewRTL_11_2@2x.png
Labels: [NavigationBar], [testing], cla: yes, skill:Bazel, skill:CocoaPods, type:Test

#6801 [Tabs] Add basic Snapshot tests.
  components/Tabs/BUILD
  components/Tabs/tests/snapshot/MDCTabBarSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCTabBarSnapshotTests/testTabBarCenterItemsDontFitArabicRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarSnapshotTests/testTabBarCenterItemsDontFitLatinLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarSnapshotTests/testTabBarCenterItemsFitArabicRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarSnapshotTests/testTabBarCenterItemsFitLatinLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarSnapshotTests/testTabBarCenterSelectedItemsDontFitArabicRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarSnapshotTests/testTabBarCenterSelectedItemsDontFitLatinLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarSnapshotTests/testTabBarCenterSelectedItemsFitArabicRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarSnapshotTests/testTabBarCenterSelectedItemsFitLatinLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarSnapshotTests/testTabBarDefaultItemsDontFitArabicRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarSnapshotTests/testTabBarDefaultItemsDontFitLatinLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarSnapshotTests/testTabBarDefaultItemsFitArabicRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarSnapshotTests/testTabBarDefaultItemsFitLatinLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarSnapshotTests/testTabBarJustifiedItemsDontFitArabicRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarSnapshotTests/testTabBarJustifiedItemsDontFitLatinLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarSnapshotTests/testTabBarJustifiedItemsFitArabicRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarSnapshotTests/testTabBarJustifiedItemsFitLatinLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarSnapshotTests/testTabBarLeadingItemsDontFitArabicRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarSnapshotTests/testTabBarLeadingItemsDontFitLatinLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarSnapshotTests/testTabBarLeadingItemsFitArabicRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarSnapshotTests/testTabBarLeadingItemsFitLatinLTR_11_2@2x.png
Labels: [Tabs], [testing], cla: yes, skill:Bazel, skill:RTL, type:Test

#6833 {kokoro} Set ownership for Ruby Gems
  .kokoro
Labels: cla: yes, skill:Kokoro, type:Bug

#6834 [BottomNavigation] Clean up internal constants
  components/BottomNavigation/src/MDCBottomNavigationBar.m
Labels: [BottomNavigation], cla: yes, skill:Refactoring, type:Internal cleanup

#6829 [ShadowElevations] Add basic snapshot tests.
  components/ShadowElevations/BUILD
  components/ShadowElevations/tests/snapshot/MDCShadowElevationsSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCShadowElevationsSnapshotTests/testElevationAppBar_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCShadowElevationsSnapshotTests/testElevationBottomNavigationBar_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCShadowElevationsSnapshotTests/testElevationCardPickedUp_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCShadowElevationsSnapshotTests/testElevationCardResting_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCShadowElevationsSnapshotTests/testElevationDialog_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCShadowElevationsSnapshotTests/testElevationFABPressed_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCShadowElevationsSnapshotTests/testElevationFABResting_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCShadowElevationsSnapshotTests/testElevationMenu_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCShadowElevationsSnapshotTests/testElevationModalBottomSheet_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCShadowElevationsSnapshotTests/testElevationNavDrawer_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCShadowElevationsSnapshotTests/testElevationNone_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCShadowElevationsSnapshotTests/testElevationPicker_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCShadowElevationsSnapshotTests/testElevationQuickEntryResting_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCShadowElevationsSnapshotTests/testElevationQuickEntry_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCShadowElevationsSnapshotTests/testElevationRaisedButtonPressed_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCShadowElevationsSnapshotTests/testElevationRaisedButtonResting_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCShadowElevationsSnapshotTests/testElevationRefresh_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCShadowElevationsSnapshotTests/testElevationRightDrawer_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCShadowElevationsSnapshotTests/testElevationSearchBarResting_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCShadowElevationsSnapshotTests/testElevationSearchBarScrolled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCShadowElevationsSnapshotTests/testElevationSnackbar_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCShadowElevationsSnapshotTests/testElevationSubMenu_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCShadowElevationsSnapshotTests/testElevationSwitch_11_2@2x.png
Labels: [ShadowElevations], [testing], cla: yes, skill:Bazel, skill:CocoaPods, type:Test

#6843 [BottomNavigation] Snapshot test for selection bug
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationBarSnapshotTests.m
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationItemViewSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testChangeSelectedIconWhenSelected_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testChangeSelectedIconWhenUnselected_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testChangeUnselectedIconWhenSelected_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testChangeUnselectedIconWhenUnselected_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testChangeIconWhenNotSelected_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testChangeIconWhenSelected_11_2@2x.png
Labels: [BottomNavigation], [testing], cla: yes, type:Test

#6848 Revert "[Typography] Dynamic Type 2.0"
  components/Dialogs/tests/unit/MDCAlertControllerTypographyThemerTests.m
  components/Dialogs/tests/unit/Theming/DialogsMaterialThemingTests.swift
  components/NavigationBar/tests/unit/NavigationBarTests.m
  components/Typography/BUILD
  components/Typography/examples/TypographyMaterialScalableStylesViewController.h
  components/Typography/examples/TypographyMaterialScalableStylesViewController.m
  components/Typography/src/MDCFontScaler.h
  components/Typography/src/MDCFontScaler.m
  components/Typography/src/MaterialTypography.h
  components/Typography/src/UIFont+MaterialScalable.h
  components/Typography/src/UIFont+MaterialScalable.m
  components/Typography/src/private/UIFont+MaterialTypographyPrivate.m
  components/schemes/Typography/BUILD
  components/schemes/Typography/src/MDCTypographyScheme.h
  components/schemes/Typography/src/MDCTypographyScheme.m
  components/schemes/Typography/tests/unit/MDCTypographySchemeTests.m
Labels: PR:merge-when-approved, [Dialogs], [NavigationBar], [Typography], [schemes], cla: yes

#6859 Removing nil-coalescing operators per issue #6827
  catalog/MDCCatalog/AppTheme.swift
  components/Ripple/examples/CardCellsWithRippleExample.swift
Labels: [Catalog], [Ripple], cla: yes

#6855 [BottomNavigation] More snapshots for item icons.
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationItemViewSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testChangeSelectedImageWhenNotSelected_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testChangeSelectedImageWhenSelected_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testChangeUnselectedImageWhenNotSelectedWithSelectedImage_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testChangeUnselectedImageWhenNotSelectedWithoutSelectedImage_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testChangeUnselectedImageWhenSelectedWithSelectedImage_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testChangeUnselectedImageWhenSelectedWithoutSelectedImage_11_2@2x.png
Labels: [BottomNavigation], [testing], cla: yes, type:Test

#6847 [BottomNavigation] Fix image updates in ItemView
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
  components/BottomNavigation/tests/unit/BottomNavigationItemViewTests.m
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testChangeSelectedIconWhenUnselected_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testChangeUnselectedIconWhenSelected_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testChangeSelectedImageWhenNotSelected_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testChangeUnselectedImageWhenSelectedWithSelectedImage_11_2@2x.png
Labels: Client-blocking, [BottomNavigation], cla: yes, type:Bug

#6856 [BottomNavigation] Split alignment snapshot tests.
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationBarAlignmentSnapshotTests.m
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationBarSnapshotTests.m
  components/BottomNavigation/tests/snapshot/supplemental/MDCBottomNavigationSnapshotTestMutableTraitCollection.h
  components/BottomNavigation/tests/snapshot/supplemental/MDCBottomNavigationSnapshotTestMutableTraitCollection.m
  components/BottomNavigation/tests/snapshot/supplemental/MDCFakeBottomNavigationBar.h
  components/BottomNavigation/tests/snapshot/supplemental/MDCFakeBottomNavigationBar.m
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarAlignmentSnapshotTests/testCenteredAlignmentWithCompactHorizontalSizeClassInLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarAlignmentSnapshotTests/testCenteredAlignmentWithCompactHorizontalSizeClassInRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarAlignmentSnapshotTests/testCenteredAlignmentWithRegularHorizontalSizeClassInLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarAlignmentSnapshotTests/testCenteredAlignmentWithRegularHorizontalSizeClassInRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarAlignmentSnapshotTests/testCenteredAlignmentWithUnspecifiedHorizontalSizeClassInLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarAlignmentSnapshotTests/testCenteredAlignmentWithUnspecifiedHorizontalSizeClassInRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarAlignmentSnapshotTests/testJustifiedAdjacentAlignmentWithCompactHorizontalSizeClassInLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarAlignmentSnapshotTests/testJustifiedAdjacentAlignmentWithCompactHorizontalSizeClassInRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarAlignmentSnapshotTests/testJustifiedAdjacentAlignmentWithRegularHorizontalSizeClassInLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarAlignmentSnapshotTests/testJustifiedAdjacentAlignmentWithRegularHorizontalSizeClassInRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarAlignmentSnapshotTests/testJustifiedAdjacentAlignmentWithUnspecifiedHorizontalSizeClassInLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarAlignmentSnapshotTests/testJustifiedAdjacentAlignmentWithUnspecifiedHorizontalSizeClassInRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarAlignmentSnapshotTests/testJustifiedAlignmentWithCompactHorizontalSizeClassInLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarAlignmentSnapshotTests/testJustifiedAlignmentWithCompactHorizontalSizeClassInRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarAlignmentSnapshotTests/testJustifiedAlignmentWithRegularHorizontalSizeClassInLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarAlignmentSnapshotTests/testJustifiedAlignmentWithRegularHorizontalSizeClassInRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarAlignmentSnapshotTests/testJustifiedAlignmentWithUnspecifiedHorizontalSizeClassInLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarAlignmentSnapshotTests/testJustifiedAlignmentWithUnspecifiedHorizontalSizeClassInRTL_11_2@2x.png
Labels: [BottomNavigation], [testing], cla: yes, skill:Refactoring, type:Test

#6861 [scripts/release] Ignore goldens when generating component notes
  scripts/release
Labels: PR:merge-when-approved, cla: yes

#6862 [FlexibleHeader] refactor internal helper methods
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
Labels: [FlexibleHeader], cla: yes, skill:Refactoring, type:Internal cleanup

#6868 [FlexibleHeader] Fix incorrect insets during animated transitions
  components/AppBar/examples/AppBarAnimatedGlitchExample.swift
  components/FlexibleHeader/src/MDCFlexibleHeaderView.h
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
Labels: [AppBar], [FlexibleHeader], cla: yes

#6869 [BottomNavigation] Restore examples titles.
  components/BottomNavigation/examples/BottomNavigationNilBadges.swift
  components/BottomNavigation/examples/BottomNavigationTypicalUseExample.m
Labels: [BottomNavigation], [Catalog], app:Catalog, cla: yes, type:Polish

#6897 [Snapshot] Adding 4 more test image styles.
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationItemViewSnapshotTests.m
  components/private/Snapshot/src/UIImage+MDCSnapshot.h
  components/private/Snapshot/src/UIImage+MDCSnapshot.m
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testChangeSelectedImageWhenSelected_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testChangeUnselectedImageWhenNotSelectedWithoutSelectedImage_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testChangeUnselectedImageWhenSelectedWithSelectedImage_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationItemViewSnapshotTests/testChangeUnselectedImageWhenSelectedWithoutSelectedImage_11_2@2x.png
Labels: [BottomNavigation], [Snapshot], [private], cla: yes

#6898 [BottomNavigation] Use new test icons.
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationBarAlignmentSnapshotTests.m
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationBarSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarAlignmentSnapshotTests/testCenteredAlignmentWithCompactHorizontalSizeClassInLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarAlignmentSnapshotTests/testCenteredAlignmentWithCompactHorizontalSizeClassInRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarAlignmentSnapshotTests/testCenteredAlignmentWithRegularHorizontalSizeClassInLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarAlignmentSnapshotTests/testCenteredAlignmentWithRegularHorizontalSizeClassInRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarAlignmentSnapshotTests/testCenteredAlignmentWithUnspecifiedHorizontalSizeClassInLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarAlignmentSnapshotTests/testCenteredAlignmentWithUnspecifiedHorizontalSizeClassInRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarAlignmentSnapshotTests/testJustifiedAdjacentAlignmentWithCompactHorizontalSizeClassInLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarAlignmentSnapshotTests/testJustifiedAdjacentAlignmentWithCompactHorizontalSizeClassInRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarAlignmentSnapshotTests/testJustifiedAdjacentAlignmentWithRegularHorizontalSizeClassInLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarAlignmentSnapshotTests/testJustifiedAdjacentAlignmentWithRegularHorizontalSizeClassInRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarAlignmentSnapshotTests/testJustifiedAdjacentAlignmentWithUnspecifiedHorizontalSizeClassInLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarAlignmentSnapshotTests/testJustifiedAdjacentAlignmentWithUnspecifiedHorizontalSizeClassInRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarAlignmentSnapshotTests/testJustifiedAlignmentWithCompactHorizontalSizeClassInLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarAlignmentSnapshotTests/testJustifiedAlignmentWithCompactHorizontalSizeClassInRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarAlignmentSnapshotTests/testJustifiedAlignmentWithRegularHorizontalSizeClassInLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarAlignmentSnapshotTests/testJustifiedAlignmentWithRegularHorizontalSizeClassInRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarAlignmentSnapshotTests/testJustifiedAlignmentWithUnspecifiedHorizontalSizeClassInLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarAlignmentSnapshotTests/testJustifiedAlignmentWithUnspecifiedHorizontalSizeClassInRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testBarItemsBottomAnchorWithOffset_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testBarItemsBottomAnchorWithoutOffset_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testCenteredUnspecifiedAlwaysWithFiveLongTitleItemsUnboundiPadWidthTypicalHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testCenteredUnspecifiedAlwaysWithFiveLongTitleItemsUnboundiPadWidthTypicalHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testCenteredUnspecifiedAlwaysWithFiveLongTitleItemsiPadWidthTypicalHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testCenteredUnspecifiedAlwaysWithFiveLongTitleItemsiPadWidthTypicalHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testChangeSelectedIconWhenSelected_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testChangeSelectedIconWhenUnselected_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testChangeUnselectedIconWhenSelected_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testChangeUnselectedIconWhenUnselected_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testCustomColorScheme_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedAdjacentRegularAlwaysWithFiveLongTitleItemsUnboundiPadWidthTypicalHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedAdjacentRegularAlwaysWithFiveLongTitleItemsUnboundiPadWidthTypicalHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedAdjacentRegularAlwaysWithFiveLongTitleItemsiPadWidthTypicalHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedAdjacentRegularAlwaysWithFiveLongTitleItemsiPadWidthTypicalHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedUnspecifiedAlwaysFiveItemsNarrowWidthShortHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedUnspecifiedAlwaysFiveItemsNarrowWidthShortHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedUnspecifiedAlwaysFiveItemsWideWidthTallHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedUnspecifiedAlwaysFiveItemsWideWidthTallHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedUnspecifiedAlwaysWithFiveLongTitleItemsUnboundiPadWidthTypicalHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedUnspecifiedAlwaysWithFiveLongTitleItemsUnboundiPadWidthTypicalHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedUnspecifiedAlwaysWithFiveLongTitleItemsiPadWidthTypicalHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedUnspecifiedAlwaysWithFiveLongTitleItemsiPadWidthTypicalHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedUnspecifiedAlwaysWithThreeItemsTypicalWidthTypicalHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedUnspecifiedAlwaysWithThreeItemsTypicalWidthTypicalHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedUnspecifiedNeverWithThreeItemsTypicalWidthTypicalHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedUnspecifiedNeverWithThreeItemsTypicalWidthTypicalHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedUnspecifiedSelectedWithThreeItemsTypicalWidthTypicalHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testJustifiedUnspecifiedSelectedWithThreeItemsTypicalWidthTypicalHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testMaterialBaselineTheme_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testTitlePositionAdjustmentJustifiedAdjacentCompactLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testTitlePositionAdjustmentJustifiedAdjacentCompactRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testTitlePositionAdjustmentJustifiedAdjacentRegularLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testTitlePositionAdjustmentJustifiedAdjacentRegularRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testTransparentBackgroundColorWithDarkBlur_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testTransparentBackgroundColorWithExtraLightBlur_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testTransparentBackgroundColorWithLightBlur_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarSnapshotTests/testTransparentBackgroundColor_11_2@2x.png
Labels: [BottomNavigation], [testing], cla: yes, skill:Refactoring, type:Test

#6895 [private] Include snapshot tests in examples in Podspec
  MaterialComponentsSnapshotTests.podspec
  components/private/Snapshot/BUILD
  components/private/Snapshot/src/MDCSnapshotDummy.swift
Labels: [private], cla: yes

#6903 [AppBar] Add theming extension for MDCAppBarViewController
  .kokoro
  MaterialComponentsBeta.podspec
  MaterialComponentsSnapshotTests.podspec
  catalog/MDCCatalog.xcodeproj/xcshareddata/xcschemes/MDCCatalog.xcscheme
  catalog/MDCDragons.xcodeproj/xcshareddata/xcschemes/MDCDragons.xcscheme
  catalog/Podfile
  components/AppBar/BUILD
  components/AppBar/README.md
  components/AppBar/docs/README.md
  components/AppBar/docs/theming-extensions.md
  components/AppBar/src/Theming/MDCAppBarViewController+MaterialTheming.h
  components/AppBar/src/Theming/MDCAppBarViewController+MaterialTheming.m
  components/AppBar/src/Theming/MaterialAppBar+MaterialTheming.h
  components/AppBar/tests/snapshot/Theming/MDCAppBarViewController_MaterialThemingSnapshotTests.m
  components/AppBar/tests/unit/Theming/MDCAppBarViewController_MaterialThemingTests.m
  snapshot_test_goldens/goldens_64/MDCAppBarViewController_MaterialThemingSnapshotTests/testApplyPrimaryThemeWithSchemeWithBaselineScheme_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAppBarViewController_MaterialThemingSnapshotTests/testApplyPrimaryThemeWithSchemeWithCustomScheme_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAppBarViewController_MaterialThemingSnapshotTests/testApplySurfaceThemeWithSchemeWithBaselineScheme_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAppBarViewController_MaterialThemingSnapshotTests/testApplySurfaceThemeWithSchemeWithCustomScheme_11_2@2x.png
Labels: [AppBar], [Catalog], cla: yes

#6870 [TextFields] Add a Theming extension for MDCTextInputControllerFilled.
  MaterialComponentsBeta.podspec
  catalog/MDCCatalog.xcodeproj/xcshareddata/xcschemes/MDCCatalog.xcscheme
  catalog/Podfile
  components/TextFields/BUILD
  components/TextFields/src/Theming/MDCTextInputControllerFilled+MaterialTheming.h
  components/TextFields/src/Theming/MDCTextInputControllerFilled+MaterialTheming.m
  components/TextFields/src/Theming/MaterialTextFields+Theming.h
  components/TextFields/tests/unit/Theming/TextFieldsMaterialThemingTests.swift
Labels: PR:merge-when-approved, [Catalog], [TextFields], cla: yes

#6920 [Ink] Add basic snapshot tests.
  components/Ink/BUILD
  components/Ink/tests/snapshot/MDCInkViewSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCInkViewSnapshotTests/testNewBoundedInk_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCInkViewSnapshotTests/testNewUnboundedInkBeyondBounds_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCInkViewSnapshotTests/testNewUnboundedInkWithinBounds_11_2@2x.png
Labels: [Ink], [testing], cla: yes, skill:Bazel, type:Test

#6917 [ActionSheet] Add basic Snapshot tests.
  components/ActionSheet/BUILD
  components/ActionSheet/tests/snapshot/MDCActionSheetControllerSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testFiveActionsSufficientSizeLongTextLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testFiveActionsSufficientSizeLongTextRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testFiveActionsSufficientSizeShortTextLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testFiveActionsSufficientSizeShortTextRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testFiveActionsTooNarrowLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testFiveActionsTooNarrowRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testFiveActionsTooShortLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testFiveActionsTooShortRTL_11_2@2x.png
Labels: [ActionSheet], [testing], cla: yes, skill:Bazel, type:Test

#6921 [ShadowLayer] Add basic Snapshot tests.
  components/ShadowLayer/BUILD
  components/ShadowLayer/tests/snapshot/MDCShadowLayerSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCShadowLayerSnapshotTests/testShadowMaskDisabledElevation00_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCShadowLayerSnapshotTests/testShadowMaskDisabledElevation06_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCShadowLayerSnapshotTests/testShadowMaskDisabledElevation12_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCShadowLayerSnapshotTests/testShadowMaskDisabledElevation18_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCShadowLayerSnapshotTests/testShadowMaskDisabledElevation24_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCShadowLayerSnapshotTests/testShadowMaskEnabledElevation00_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCShadowLayerSnapshotTests/testShadowMaskEnabledElevation06_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCShadowLayerSnapshotTests/testShadowMaskEnabledElevation12_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCShadowLayerSnapshotTests/testShadowMaskEnabledElevation18_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCShadowLayerSnapshotTests/testShadowMaskEnabledElevation24_11_2@2x.png
Labels: [ShadowLayer], [testing], cla: yes, skill:Bazel, type:Test

#6916 [Tabs] Do not truncate badge text on MDCItemBarCell
  components/Tabs/src/private/MDCItemBarCell.m
Labels: [BottomNavigation], [Tabs], cla: yes

#6923 [HeaderStackView] Add basic Snapshot tests.
  components/HeaderStackView/BUILD
  components/HeaderStackView/tests/snapshot/MDCHeaderStackViewSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCHeaderStackViewSnapshotTests/testBottomViewSizeThatFitsOneThirdSetSize_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCHeaderStackViewSnapshotTests/testBottomViewSizeThatFitsOneThirdSizeToFit_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCHeaderStackViewSnapshotTests/testTopAndBottomViewSizeThatFitsOneThirdSetSize_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCHeaderStackViewSnapshotTests/testTopAndBottomViewSizeThatFitsOneThirdSizeToFit_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCHeaderStackViewSnapshotTests/testTopViewSizeThatFitsOneThirdSetSize_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCHeaderStackViewSnapshotTests/testTopViewSizeThatFitsOneThirdSizeToFit_11_2@2x.png
Labels: [ActivityIndicator], [HeaderStackView], [testing], cla: yes, skill:Bazel, type:Test

#6871 [Typography] Add Font Scaler
  catalog/MDCDragons.xcodeproj/xcshareddata/xcschemes/MDCDragons.xcscheme
  components/Typography/src/MDCFontScaler.h
  components/Typography/src/MDCFontScaler.m
  components/Typography/src/MaterialTypography.h
  components/Typography/src/UIFont+MaterialScalable.h
  components/Typography/src/UIFont+MaterialScalable.m
  components/Typography/src/private/MDCTypographyUtilities.h
  components/Typography/src/private/MDCTypographyUtilities.m
  components/Typography/src/private/UIFont+MaterialTypographyPrivate.m
  components/Typography/tests/unit/MaterialScalableFontTests.m
Labels: [Catalog], [Typography], cla: yes

#6948 [Buttons] Fix `accessibilityTraits` in init.
  components/Buttons/src/MDCButton.m
  components/Buttons/tests/unit/ButtonsTests.m
Labels: Accessibility, Client-blocking, [Buttons], cla: yes

#6925 [bazel] Update ios-snapshots-test-case library
  WORKSPACE
Labels: [Snapshot], cla: yes, skill:Bazel

#6934 [ActivityIndicator] Deflake snapshot tests.
  components/ActivityIndicator/tests/snapshot/MDCActivityIndicatorSnapshotTests.m
Labels: [ActivityIndicator], [testing], cla: yes, skill:Refactoring

#6918 [ShapeLibrary] Add basic Snapshot tests.
  components/ShapeLibrary/BUILD
  components/ShapeLibrary/tests/snapshot/MDCCurvedRectShapeGeneratorSnapshotTests.m
  components/ShapeLibrary/tests/snapshot/MDCPillShapeGeneratorSnapshotTests.m
  components/ShapeLibrary/tests/snapshot/MDCSlantedRectShapeGeneratorSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCCurvedRectShapeGeneratorSnapshotTests/testCurvedRectShapeGeneratorLargeSquare_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCCurvedRectShapeGeneratorSnapshotTests/testCurvedRectShapeGeneratorLargeTallRectangle_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCCurvedRectShapeGeneratorSnapshotTests/testCurvedRectShapeGeneratorLargeWideRectangle_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCCurvedRectShapeGeneratorSnapshotTests/testCurvedRectShapeGeneratorMediumSquare_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCCurvedRectShapeGeneratorSnapshotTests/testCurvedRectShapeGeneratorMediumTallRectangle_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCCurvedRectShapeGeneratorSnapshotTests/testCurvedRectShapeGeneratorMediumWideRectangle_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCCurvedRectShapeGeneratorSnapshotTests/testCurvedRectShapeGeneratorSmallSquare_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCCurvedRectShapeGeneratorSnapshotTests/testCurvedRectShapeGeneratorSmallTallRectangle_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCCurvedRectShapeGeneratorSnapshotTests/testCurvedRectShapeGeneratorSmallWideRectangle_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCPillShapeGeneratorSnapshotTests/testPillShapeGeneratorLargeSquare_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCPillShapeGeneratorSnapshotTests/testPillShapeGeneratorLargeTallRectangle_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCPillShapeGeneratorSnapshotTests/testPillShapeGeneratorLargeWideRectangle_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCPillShapeGeneratorSnapshotTests/testPillShapeGeneratorMediumSquare_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCPillShapeGeneratorSnapshotTests/testPillShapeGeneratorMediumTallRectangle_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCPillShapeGeneratorSnapshotTests/testPillShapeGeneratorMediumWideRectangle_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCPillShapeGeneratorSnapshotTests/testPillShapeGeneratorSmallSquare_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCPillShapeGeneratorSnapshotTests/testPillShapeGeneratorSmallTallRectangle_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCPillShapeGeneratorSnapshotTests/testPillShapeGeneratorSmallWideRectangle_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSlantedRectShapeGeneratorSnapshotTests/testSlantedRectShapeGeneratorLargeSquare_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSlantedRectShapeGeneratorSnapshotTests/testSlantedRectShapeGeneratorLargeTallRectangle_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSlantedRectShapeGeneratorSnapshotTests/testSlantedRectShapeGeneratorLargeWideRectangle_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSlantedRectShapeGeneratorSnapshotTests/testSlantedRectShapeGeneratorMediumSquare_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSlantedRectShapeGeneratorSnapshotTests/testSlantedRectShapeGeneratorMediumTallRectangle_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSlantedRectShapeGeneratorSnapshotTests/testSlantedRectShapeGeneratorMediumWideRectangle_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSlantedRectShapeGeneratorSnapshotTests/testSlantedRectShapeGeneratorSmallSquare_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSlantedRectShapeGeneratorSnapshotTests/testSlantedRectShapeGeneratorSmallTallRectangle_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSlantedRectShapeGeneratorSnapshotTests/testSlantedRectShapeGeneratorSmallWideRectangle_11_2@2x.png
Labels: [ShapeLibrary], [testing], cla: yes, skill:Bazel, type:Test

#6919 [Shapes] Add basic Snapshot tests.
  components/Shapes/BUILD
  components/Shapes/tests/snapshot/MDCShapedViewSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCShapedViewSnapshotTests/testCurvedRectShapedViewElevation00_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCShapedViewSnapshotTests/testCurvedRectShapedViewElevation12_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCShapedViewSnapshotTests/testCurvedRectShapedViewElevation24_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCShapedViewSnapshotTests/testPillShapedViewElevation00_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCShapedViewSnapshotTests/testPillShapedViewElevation12_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCShapedViewSnapshotTests/testPillShapedViewElevation24_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCShapedViewSnapshotTests/testedSlantedRectShapedViewElevation00_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCShapedViewSnapshotTests/testedSlantedRectShapedViewElevation12_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCShapedViewSnapshotTests/testedSlantedRectShapedViewElevation24_11_2@2x.png
Labels: [Shapes], [testing], cla: yes, skill:Bazel, type:Test

#6896 [Banner] add basic banner snapshot tests
  components/Banner/examples/tests/snapshot/MDCBannerSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCBannerViewSnapshotTests/testLongTextWithSingleActionLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBannerViewSnapshotTests/testLongTextWithSingleActionRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBannerViewSnapshotTests/testLongTextWithTwoActionsLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBannerViewSnapshotTests/testLongTextWithTwoActionsRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBannerViewSnapshotTests/testShortTextWithSingleActionLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBannerViewSnapshotTests/testShortTextWithSingleActionRTL_11_2@2x.png
Labels: [Banner], cla: yes

#6953 [Docs] Make bazel installer explicit
  contributing/bazel_kokoro.md
Labels: [Documentation], [docs], cla: yes, skill:Bazel, type:Documentation

#6952 [Beta] Point main pod to github/develop
  contributing/beta_components.md
Labels: [Beta], [Documentation], cla: yes, type:Documentation

#6873 [Typography] Add new typography scheme with scalable fonts
  .kokoro
  components/Typography/BUILD
  components/Typography/examples/TypographyMaterialScalableStylesViewController.m
  components/Typography/src/MDCFontScaler.m
  components/Typography/tests/unit/MaterialScalableFontTests.m
  components/schemes/Typography/BUILD
  components/schemes/Typography/src/MDCTypographyScheme.h
  components/schemes/Typography/src/MDCTypographyScheme.m
  components/schemes/Typography/tests/unit/MDCTypographySchemeTests.m
Labels: PR:merge-when-approved, [Typography], [schemes], cla: yes

#6969 [AppBar] Fix README code snippet
  components/AppBar/README.md
  components/AppBar/docs/theming-extensions.md
Labels: [AppBar], [Documentation], [docs], cla: yes, type:Documentation

#6760 [releasing] Add first-time tools installation
  contributing/releasing.md
Labels: PR:merge-when-approved, cla: yes

#6936 [Catalog] Add all tests to both schemes.
  catalog/MDCCatalog.xcodeproj/xcshareddata/xcschemes/MDCCatalog.xcscheme
  catalog/MDCDragons.xcodeproj/xcshareddata/xcschemes/MDCDragons.xcscheme
Labels: [Catalog], app:Catalog, cla: yes

#6974 [AppBar] Refactor AppBar example table views
  components/AppBar/examples/AppBarAnimatedGlitchExample.swift
  components/AppBar/examples/AppBarGlitchExample.swift
  components/AppBar/examples/AppBarManualTabsExample.swift
  components/AppBar/examples/supplemental/SimpleComposedTableViewController.swift
  components/AppBar/examples/supplemental/SimpleInheritedTableViewController.swift
Labels: [AppBar], cla: yes

#6977 [Ripple] Remove manipulation of clipping for the ripple's superview
  components/Ripple/src/MDCRippleView.m
Labels: [Ripple], cla: yes

#6983 [Ripple] Adds additional API of adding the Ripple to a view and its position in the view hierarchy.
  components/Ripple/src/MDCRippleTouchController.h
  components/Ripple/src/MDCRippleTouchController.m
  components/Ripple/tests/unit/MDCRippleTouchControllerTests.m
Labels: [Ripple], cla: yes

#6978 [Tabs] Add badge snapshot tests.
  components/Tabs/tests/snapshot/MDCTabBarSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCTabBarSnapshotTests/testTabBarDefaultAlignmentImagesAppearanceArabicRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarSnapshotTests/testTabBarDefaultAlignmentImagesAppearanceLatinLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarSnapshotTests/testTabBarDefaultAlignmentTitledImagesAppearanceArabicRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarSnapshotTests/testTabBarDefaultAlignmentTitledImagesAppearanceLatinLTR_11_2@2x.png
Labels: [Tabs], [testing], cla: yes, type:Test

#6990 [Tabs] Add badgeColor snapshot tests
  components/Tabs/tests/snapshot/MDCTabBarSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCTabBarSnapshotTests/testTabBarItemBadgeColors_11_2@2x.png
Labels: [Tabs], [testing], cla: yes, type:Test

#6971 [AppBar] Add new Dragons example for incorrect insets during animations
  components/AppBar/examples/AppBarInheritedAnimatedJumpExample.swift
Labels: [AppBar], cla: yes

#6992 [Ripple] Added additional unit and snapshot tests
  components/Ripple/tests/snapshot/MDCStatefulRippleViewSnapshotTests.m
  components/Ripple/tests/unit/MDCRippleTouchControllerTests.m
  components/Ripple/tests/unit/MDCStatefulRippleViewTests.m
  snapshot_test_goldens/goldens_64/MDCStatefulRippleViewSnapshotTests/testDefaultRippleView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCStatefulRippleViewSnapshotTests/testDraggedRippleView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCStatefulRippleViewSnapshotTests/testHighlightedRippleView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCStatefulRippleViewSnapshotTests/testSelectedRippleView_11_2@2x.png
Labels: [Ripple], cla: yes

#6996 [Ripple] Additional documentation for Ripple and its classes
  components/Ripple/README.md
  components/Ripple/docs/README.md
  components/Ripple/docs/typical-use.md
Labels: [Ripple], cla: yes

#6947 [FeatureHighlight] New Dynamic Type curves
  components/FeatureHighlight/examples/FeatureHighlightScalableDynamicTypeController.h
  components/FeatureHighlight/examples/FeatureHighlightScalableDynamicTypeController.m
  components/FeatureHighlight/src/MDCFeatureHighlightView.h
  components/FeatureHighlight/src/MDCFeatureHighlightViewController.h
  components/FeatureHighlight/src/MDCFeatureHighlightViewController.m
  components/FeatureHighlight/src/private/MDCFeatureHighlightView+Private.m
Labels: [FeatureHighlight], [Typography], [schemes], cla: yes

#7000 [Ripple] Graduate Ripple to Ready.
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  catalog/Podfile
  components/Cards/BUILD
  components/Cards/src/MDCCard+Ripple.h
  components/Cards/src/MDCCard+Ripple.m
  components/Cards/src/MDCCard.h
  components/Cards/src/MDCCard.m
  components/Cards/src/MDCCardCollectionCell+Ripple.h
  components/Cards/src/MDCCardCollectionCell+Ripple.m
  components/Cards/src/MDCCardCollectionCell.h
  components/Cards/src/MDCCardCollectionCell.m
  components/Cards/src/private/MDCCard+Private.h
  components/Cards/src/private/MDCCardCollectionCell+Private.h
  components/Cards/src/private/MaterialCards+Private.h
  components/Ripple/BUILD
  components/Ripple/README.md
  components/Ripple/docs/README.md
  components/Ripple/docs/typical-use.md
  components/Ripple/examples/CardCellsWithRippleExample.swift
  components/Ripple/examples/CardWithRippleExample.swift
  components/Ripple/examples/StatefulRippleExample.swift
Labels: PR is risky, [Cards], [Catalog], [Ripple], cla: yes

#6997 [BottomNavigation] Split snapshot tests.
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationBarBlurEffectSnapshotTests.m
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationBarSnapshotTests.m
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationBarTitleLayoutSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarBlurEffectSnapshotTests/testBarItemsBottomAnchorWithOffset_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarBlurEffectSnapshotTests/testBarItemsBottomAnchorWithoutOffset_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarBlurEffectSnapshotTests/testTransparentBackgroundColorWithDarkBlur_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarBlurEffectSnapshotTests/testTransparentBackgroundColorWithExtraLightBlur_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarBlurEffectSnapshotTests/testTransparentBackgroundColorWithLightBlur_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarBlurEffectSnapshotTests/testTransparentBackgroundColor_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarTitleLayoutSnapshotTests/testCenteredUnspecifiedAlwaysWithFiveLongTitleItemsUnboundiPadWidthTypicalHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarTitleLayoutSnapshotTests/testCenteredUnspecifiedAlwaysWithFiveLongTitleItemsUnboundiPadWidthTypicalHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarTitleLayoutSnapshotTests/testCenteredUnspecifiedAlwaysWithFiveLongTitleItemsiPadWidthTypicalHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarTitleLayoutSnapshotTests/testCenteredUnspecifiedAlwaysWithFiveLongTitleItemsiPadWidthTypicalHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarTitleLayoutSnapshotTests/testJustifiedAdjacentRegularAlwaysWithFiveLongTitleItemsUnboundiPadWidthTypicalHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarTitleLayoutSnapshotTests/testJustifiedAdjacentRegularAlwaysWithFiveLongTitleItemsUnboundiPadWidthTypicalHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarTitleLayoutSnapshotTests/testJustifiedAdjacentRegularAlwaysWithFiveLongTitleItemsiPadWidthTypicalHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarTitleLayoutSnapshotTests/testJustifiedAdjacentRegularAlwaysWithFiveLongTitleItemsiPadWidthTypicalHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarTitleLayoutSnapshotTests/testJustifiedUnspecifiedAlwaysWithFiveLongTitleItemsUnboundiPadWidthTypicalHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarTitleLayoutSnapshotTests/testJustifiedUnspecifiedAlwaysWithFiveLongTitleItemsUnboundiPadWidthTypicalHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarTitleLayoutSnapshotTests/testJustifiedUnspecifiedAlwaysWithFiveLongTitleItemsiPadWidthTypicalHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarTitleLayoutSnapshotTests/testJustifiedUnspecifiedAlwaysWithFiveLongTitleItemsiPadWidthTypicalHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarTitleLayoutSnapshotTests/testJustifiedUnspecifiedAlwaysWithThreeItemsTypicalWidthTypicalHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarTitleLayoutSnapshotTests/testJustifiedUnspecifiedAlwaysWithThreeItemsTypicalWidthTypicalHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarTitleLayoutSnapshotTests/testJustifiedUnspecifiedNeverWithThreeItemsTypicalWidthTypicalHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarTitleLayoutSnapshotTests/testJustifiedUnspecifiedNeverWithThreeItemsTypicalWidthTypicalHeightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarTitleLayoutSnapshotTests/testJustifiedUnspecifiedSelectedWithThreeItemsTypicalWidthTypicalHeightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomNavigationBarTitleLayoutSnapshotTests/testJustifiedUnspecifiedSelectedWithThreeItemsTypicalWidthTypicalHeightRTL_11_2@2x.png
Labels: [BottomNavigation], cla: yes, skill:Refactoring, type:Internal cleanup

#7004 [BottomNavigation] Extract common Snapshot consts.
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationBarBlurEffectSnapshotTests.m
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationBarSnapshotTests.m
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationBarTitleLayoutSnapshotTests.m
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationItemViewSnapshotTests.m
  components/BottomNavigation/tests/snapshot/supplemental/MDCBottomNavigationSnapshotTestUtilities.h
Labels: [BottomNavigation], [testing], cla: yes, skill:Refactoring, type:Internal cleanup, type:Test
