Repository material-components/material-components-ios, pull requests merged in 2019-11, with the labels that each got.

#8691 [Dialogs] Title supports Dynamic Type.
  components/Dialogs/src/MDCAlertController.h
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/tests/snapshot/MDCAlertControllerCustomTraitCollectionTests.m
  components/Dialogs/tests/snapshot/MDCAlertControllerSnapshotTests.m
  components/Dialogs/tests/unit/MDCAlertControllerTests.m
  snapshot_test_goldens/goldens_64/MDCAlertControllerCustomTraitCollectionTests/testAdjustsFontForContentSizeDownscalesUIFontMetricsFontsForSizeCategoryXS_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerCustomTraitCollectionTests/testAdjustsFontForContentSizeUpscalesUIFontMetricsFontsForSizeCategoryAXXXL_11_2@2x.png
Labels: [Dialogs], cla: yes, skill:Dynamic Type

#8712 [FlexibleHeader] Expose an animation delegate on MDCFlexibleHeaderView.
  components/FlexibleHeader/BUILD
  components/FlexibleHeader/src/MDCFlexibleHeaderView.h
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
  components/FlexibleHeader/tests/snapshot/FlexibleHeaderViewAnimationDelegateTests.swift
Labels: [FlexibleHeader], cla: yes

#8708 [Slider] [ThumbTrack] Add Font API and Dynamic Type support
  components/Slider/src/MDCSlider.h
  components/Slider/src/MDCSlider.m
  components/Slider/tests/snapshot/MDCSliderSnapshotTests.m
  components/Slider/tests/unit/SliderTests.m
  components/private/ThumbTrack/src/MDCNumericValueLabel.h
  components/private/ThumbTrack/src/MDCNumericValueLabel.m
  components/private/ThumbTrack/src/MDCThumbTrack.h
  components/private/ThumbTrack/src/MDCThumbTrack.m
  components/private/ThumbTrack/tests/unit/ThumbTrackTests.m
  snapshot_test_goldens/goldens_64/MDCSliderSnapshotTests/testPreferredFontForAXXXLContentSizeCategory_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSliderSnapshotTests/testPreferredFontForXSContentSizeCategory_11_2@2x.png
Labels: [Slider], [private], cla: yes

#8715 [FlexibleHeader] Add behavioral flag for animating shadow layer frames when tracking scroll view is changed
  components/FlexibleHeader/BUILD
  components/FlexibleHeader/src/MDCFlexibleHeaderView.h
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
  components/FlexibleHeader/tests/snapshot/FlexibleHeaderTrackingScrollViewDidChangeTests.swift
Labels: [FlexibleHeader], cla: yes

#8716 [TextFields] Fix minor animation glitch when opening example
  components/TextFields/src/ContainedInputView/MDCBaseTextField.m
  components/TextFields/src/ContainedInputView/private/MDCTextControlLabelAnimation.m
  components/TextFields/src/ContainedInputView/private/MDCTextControlStyleFilled.m
Labels: [TextFields], cla: yes

#8705 [TextFields] Add outlined textfield
  components/TextFields/examples/MDCTextControlTextFieldTypicalUseExample.m
  components/TextFields/src/ContainedInputView/MDCBaseTextField.m
  components/TextFields/src/ContainedInputView/MDCFilledTextField.h
  components/TextFields/src/ContainedInputView/MDCFilledTextField.m
  components/TextFields/src/ContainedInputView/MDCOutlinedTextField.h
  components/TextFields/src/ContainedInputView/MDCOutlinedTextField.m
  components/TextFields/src/ContainedInputView/MaterialTextFields+ContainedInputView.h
  components/TextFields/tests/snapshot/MDCOutlinedTextFieldSnapshotTests.m
  components/TextFields/tests/unit/ContainedInputView/MDCOutlinedTextFieldTests.m
  snapshot_test_goldens/goldens_64/MDCOutlinedTextFieldTestsSnapshotTests/testDisabledTextField_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCOutlinedTextFieldTestsSnapshotTests/testEditingTextFieldWithVisiblePlaceholder_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCOutlinedTextFieldTestsSnapshotTests/testFloatingLabelWithCustomColorWhileEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCOutlinedTextFieldTestsSnapshotTests/testTextFieldWithAssistiveLabelTextWhileDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCOutlinedTextFieldTestsSnapshotTests/testTextFieldWithAssistiveLabelTextWhileEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCOutlinedTextFieldTestsSnapshotTests/testTextFieldWithAssistiveLabelText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCOutlinedTextFieldTestsSnapshotTests/testTextFieldWithLeadingViewAndTrailingView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCOutlinedTextFieldTestsSnapshotTests/testTextFieldWithLeadingViewWhileEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCOutlinedTextFieldTestsSnapshotTests/testTextFieldWithLeadingView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCOutlinedTextFieldTestsSnapshotTests/testTextFieldWithText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCOutlinedTextFieldTestsSnapshotTests/testTextFieldWithTrailingView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCOutlinedTextFieldTestsSnapshotTests/testTextFieldWithVisibleClearButton_11_2@2x.png
Labels: [TextFields], cla: yes

#8631 [Ripple] Improve MDCRippleTouchController
  components/Ripple/src/MDCRippleTouchController.h
  components/Ripple/src/MDCRippleTouchController.m
  components/Ripple/tests/unit/MDCRippleTouchControllerTests.m
Labels: [ActionSheet], [BottomNavigation], [Ripple], [Tabs], [Typography], cla: yes

#8718 [TextFields] Capture snapshots outside of view
  components/TextFields/src/ContainedInputView/MDCBaseTextField.m
  components/TextFields/src/ContainedInputView/MDCOutlinedTextField.h
  components/TextFields/src/ContainedInputView/private/MDCTextControlStyleOutlined.m
  components/TextFields/tests/snapshot/MDCBaseTextFieldSnapshotTests.m
  components/TextFields/tests/snapshot/MDCBaseTextFieldTestsSnapshotTestHelpers.h
  components/TextFields/tests/snapshot/MDCBaseTextFieldTestsSnapshotTestHelpers.m
  components/TextFields/tests/snapshot/MDCFilledTextFieldSnapshotTests.m
  components/TextFields/tests/snapshot/MDCOutlinedTextFieldSnapshotTests.m
  components/TextFields/tests/snapshot/MDCTextControlSnapshotTestHelpers.h
  components/TextFields/tests/snapshot/MDCTextControlSnapshotTestHelpers.m
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testDisabledTextField_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testEditingTextFieldWithVisiblePlaceholder_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testFloatingLabelWithCustomColorWhileEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithAssistiveLabelTextWhileDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithAssistiveLabelTextWhileEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithAssistiveLabelText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithLeadingViewAndTrailingView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithLeadingViewWhileEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithLeadingView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithTrailingView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithVisibleClearButton_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCFilledTextFieldTestsSnapshotTests/testDisabledTextField_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCFilledTextFieldTestsSnapshotTests/testEditingTextFieldWithVisiblePlaceholder_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCFilledTextFieldTestsSnapshotTests/testFloatingLabelWithCustomColorWhileEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCFilledTextFieldTestsSnapshotTests/testTextFieldWithAssistiveLabelTextWhileDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCFilledTextFieldTestsSnapshotTests/testTextFieldWithAssistiveLabelTextWhileEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCFilledTextFieldTestsSnapshotTests/testTextFieldWithAssistiveLabelText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCFilledTextFieldTestsSnapshotTests/testTextFieldWithLeadingViewAndTrailingView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCFilledTextFieldTestsSnapshotTests/testTextFieldWithLeadingViewWhileEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCFilledTextFieldTestsSnapshotTests/testTextFieldWithLeadingView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCFilledTextFieldTestsSnapshotTests/testTextFieldWithText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCFilledTextFieldTestsSnapshotTests/testTextFieldWithTrailingView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCFilledTextFieldTestsSnapshotTests/testTextFieldWithVisibleClearButton_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCOutlinedTextFieldTestsSnapshotTests/testDisabledTextField_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCOutlinedTextFieldTestsSnapshotTests/testEditingTextFieldWithVisiblePlaceholder_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCOutlinedTextFieldTestsSnapshotTests/testFloatingLabelWithCustomColorWhileEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCOutlinedTextFieldTestsSnapshotTests/testTextFieldWithAssistiveLabelTextWhileDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCOutlinedTextFieldTestsSnapshotTests/testTextFieldWithAssistiveLabelTextWhileEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCOutlinedTextFieldTestsSnapshotTests/testTextFieldWithAssistiveLabelText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCOutlinedTextFieldTestsSnapshotTests/testTextFieldWithLeadingViewAndTrailingView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCOutlinedTextFieldTestsSnapshotTests/testTextFieldWithLeadingViewWhileEditing_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCOutlinedTextFieldTestsSnapshotTests/testTextFieldWithLeadingView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCOutlinedTextFieldTestsSnapshotTests/testTextFieldWithText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCOutlinedTextFieldTestsSnapshotTests/testTextFieldWithTrailingView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCOutlinedTextFieldTestsSnapshotTests/testTextFieldWithVisibleClearButton_11_2@2x.png
Labels: [Catalog], [TextFields], [Typography], cla: yes

#8731 [ActionSheet] Use anchor-based constraints.
  components/ActionSheet/src/private/MDCActionSheetItemTableViewCell.m
Labels: PR:does-the-same-with-less, [ActionSheet], cla: yes, skill:Auto Layout, type:Internal cleanup

#8734 [ActionSheet] Fix crash in example
  components/ActionSheet/examples/ActionSheetComparisonExampleViewController.m
Labels: [ActionSheet], cla: yes

#8735 [ActionSheet] Move layout code to `viewDidLayoutSubviews`
  components/ActionSheet/src/MDCActionSheetController.m
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testActionSheetWhenActionsOnlyHaveTitlesAndAlignTitlesDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testActionSheetWhenActionsOnlyHaveTitlesAndAlignTitlesEnabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testActionSheetWhenActionsOnlyHaveTitles_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testActionSheetWhenEveryActionHasCustomTintColor_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testActionSheetWhenEveryActionHasCustomTitleColor_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testActionSheetWhenSomeActionsHaveIconsAndTitlesAndSomeActionsOnlyHaveTitles_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testActionSheetWhenSomeActionsHaveIconsAndTitlesAndSomeActionsOnlyHavingTitlesAndAlignTitlesDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testActionSheetWhenSomeActionsHaveIconsAndTitlesAndSomeActionsOnlyHavingTitlesAndAlignTitlesEnabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testActionSheetWithCustomActionSheetControllerTintColorAndOneActionCustomTintColor_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testActionSheetWithCustomActionSheetControllerTitleColorAndOneActionCustomTitleColor_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testActionSheetWithHeaderShownButNoTitleOrMessage_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testActionSheetWithHeaderShown_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testFiveActionsSufficientSizeLongTextLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testFiveActionsSufficientSizeLongTextRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testFiveActionsSufficientSizeShortTextLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testFiveActionsSufficientSizeShortTextRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testFiveActionsTooNarrowLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testFiveActionsTooNarrowRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testFiveActionsTooShortLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testFiveActionsTooShortRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testSafeAreaBottomRightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testSafeAreaBottomRightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testSafeAreaTopLeftBottomRightLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testSafeAreaTopLeftBottomRightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testSafeAreaTopLeftLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testSafeAreaTopLeftRTL_11_2@2x.png
Labels: PR:screenshot-breaking, [ActionSheet], cla: yes

#8736 [Snackbar] Update documentation on default.
  components/Snackbar/src/MDCSnackbarMessage.h
Labels: [Snackbar], cla: yes

#8740 [Slider] Add trackHeight property
  components/Slider/src/MDCSlider.h
  components/Slider/src/MDCSlider.m
  components/Slider/tests/snapshot/MDCSliderSnapshotTests.m
  components/private/ThumbTrack/src/MDCThumbTrack.m
  snapshot_test_goldens/goldens_64/MDCSliderSnapshotTests/testContinuousSliderLargerTrackHeight_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSliderSnapshotTests/testContinuousSliderSmallerTrackHeight_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSliderSnapshotTests/testDiscreteSliderLargerTrackHeight_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSliderSnapshotTests/testDiscreteSliderSmallerTrackHeight_11_2@2x.png
Labels: [Slider], [private], cla: yes

#8743 [ThumbTrack][Slider] Add API to control showing tick marks.
  components/Slider/src/MDCSlider.h
  components/Slider/src/MDCSlider.m
  components/Slider/tests/snapshot/MDCSliderSnapshotTests.m
  components/Slider/tests/unit/MDCSliderTests.m
  components/private/ThumbTrack/src/MDCThumbTrack.h
  components/private/ThumbTrack/src/MDCThumbTrack.m
  components/private/ThumbTrack/tests/unit/ThumbTrackTests.m
  snapshot_test_goldens/goldens_64/MDCSliderSnapshotTests/testDiscreteSliderActiveThumbTrackTickMarksAlways_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSliderSnapshotTests/testDiscreteSliderActiveThumbTrackTickMarksNever_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSliderSnapshotTests/testDiscreteSliderActiveThumbTrackTickMarksWhenDragging_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSliderSnapshotTests/testDiscreteSliderInactiveThumbTrackTickMarksAlways_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSliderSnapshotTests/testDiscreteSliderInactiveThumbTrackTickMarksNever_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSliderSnapshotTests/testDiscreteSliderInactiveThumbTrackTickMarksWhenDragging_11_2@2x.png
Labels: [Slider], [private/ThumbTrack], [private], cla: yes, type:Feature request

#8744 [ThumbTrack] Discrete dots scale slowly with track height.
  components/Slider/tests/snapshot/MDCSliderSnapshotTests.m
  components/private/ThumbTrack/src/MDCThumbTrack.m
  snapshot_test_goldens/goldens_64/MDCSliderSnapshotTests/testDiscreteSliderLargerTrackHeight_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSliderSnapshotTests/testDiscreteSliderWithTrackHeight10Points_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSliderSnapshotTests/testDiscreteSliderWithTrackHeight1Points_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSliderSnapshotTests/testDiscreteSliderWithTrackHeight2Points_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSliderSnapshotTests/testDiscreteSliderWithTrackHeight3Points_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSliderSnapshotTests/testDiscreteSliderWithTrackHeight4Points_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSliderSnapshotTests/testDiscreteSliderWithTrackHeight6Points_11_2@2x.png
Labels: [Slider], [private/ThumbTrack], [private], cla: yes, type:Bug

#8745 [Slider][ThumbTrack] Continuous sliders show tick marks.
  components/Slider/src/MDCSlider.h
  components/Slider/src/MDCSlider.m
  components/Slider/tests/snapshot/MDCSliderSnapshotTests.m
  components/Slider/tests/unit/MDCSliderTests.m
  components/private/ThumbTrack/src/MDCThumbTrack.h
  components/private/ThumbTrack/src/MDCThumbTrack.m
  snapshot_test_goldens/goldens_64/MDCSliderSnapshotTests/testContinuousSliderActiveThumbTrackTickMarksAlways_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSliderSnapshotTests/testContinuousSliderActiveThumbTrackTickMarksNever_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSliderSnapshotTests/testContinuousSliderActiveThumbTrackTickMarksWhenDragging_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSliderSnapshotTests/testContinuousSliderInactiveThumbTrackTickMarksAlways_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSliderSnapshotTests/testContinuousSliderInactiveThumbTrackTickMarksNever_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSliderSnapshotTests/testContinuousSliderInactiveThumbTrackTickMarksWhenDragging_11_2@2x.png
Labels: [Slider], [private/ThumbTrack], [private], cla: yes

#8746 [Snackbar] Add focusOnShow API
  components/Snackbar/examples/SnackbarSimpleExample.m
  components/Snackbar/src/MDCSnackbarManager.m
  components/Snackbar/src/MDCSnackbarMessage.h
  components/Snackbar/src/MDCSnackbarMessage.m
  components/Snackbar/tests/unit/MDCSnackbarMessageViewTests.m
Labels: [Snackbar], cla: yes

#8749 [Banner] stop updating custom constraints before bound size is set.
  components/Banner/src/MDCBannerView.m
Labels: [Banner], cla: yes

#8751 [Snackbar] Add will present block to allow customization of snackbar view
  components/Snackbar/examples/SnackbarSimpleExample.m
  components/Snackbar/src/MDCSnackbarManager.m
  components/Snackbar/src/MDCSnackbarMessage.h
  components/Snackbar/src/MDCSnackbarMessage.m
  components/Snackbar/tests/unit/MDCSnackbarMessageViewTests.m
Labels: [Snackbar], cla: yes

#8752 [Banner] Use lastBaseLineAnchor to align buttons if they are on the same line.
  components/Banner/src/MDCBannerView.m
Labels: [Banner], cla: yes

#8739 [FlexibleHeader] Add an animateWithAnimations:completion: API.
  components/FlexibleHeader/src/MDCFlexibleHeaderView.h
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
  components/FlexibleHeader/tests/snapshot/FlexibleHeaderAnimateTests.swift
Labels: PR:delete-branch-when-merged, PR:merge-when-approved, [FlexibleHeader], cla: yes

#8757 [FlexibleHeader] Add a flexibleHeaderView:didChangeTrackingScrollViewAnimated: event to MDCFlexibleHeaderViewAnimationDelegate.
  components/FlexibleHeader/src/MDCFlexibleHeaderView.h
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
  components/FlexibleHeader/tests/snapshot/FlexibleHeaderViewAnimationDelegateTests.swift
Labels: [FlexibleHeader], cla: yes

#8765 [Banner] update constraint when frame is changed.
  components/Banner/examples/BannerTypicalUseExampleViewController.m
  components/Banner/src/MDCBannerView.m
Labels: [Banner], cla: yes

#8728 [Snackbar] Deprecate adjustsFontForContentSizeCategoryWhenScaledFontIsUnavailable
  components/Snackbar/src/MDCSnackbarManager.h
  components/Snackbar/src/MDCSnackbarMessageView.h
  components/Snackbar/src/MDCSnackbarMessageView.m
  components/Snackbar/tests/unit/MDCSnackbarMessageViewTests.m
  components/Snackbar/tests/unit/SnackbarManagerTests.m
Labels: [Snackbar], cla: yes

#8772 [Dialogs] Remove usage of `buttonFont` in example
  components/Dialogs/examples/DialogsTallTextAlertExampleViewController.m
Labels: Accessibility, [Dialogs], cla: yes

#8775 [ProgressView] Add accessibilityLabel
  components/ProgressView/src/MDCProgressView.m
  components/ProgressView/tests/unit/ProgressViewTests.m
Labels: Accessibility, [ProgressView], cla: yes

#8759 [Slider][ThumbTrack] Fix event handling.
  components/Slider/src/MDCSlider.h
  components/Slider/src/MDCSlider.m
  components/Slider/tests/snapshot/MDCSliderSnapshotTests.m
  components/Slider/tests/unit/MDCSliderTests.m
  components/private/ThumbTrack/src/MDCThumbTrack.h
  components/private/ThumbTrack/src/MDCThumbTrack.m
  snapshot_test_goldens/goldens_64/MDCSliderSnapshotTests/testDiscreteSliderAlignsToSnappedValue_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSliderSnapshotTests/testExplicitlyNonDiscreteSliderActiveThumbTrackTickMarksAlways_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSliderSnapshotTests/testExplicitlyNonDiscreteSliderActiveThumbTrackTickMarksNever_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSliderSnapshotTests/testExplicitlyNonDiscreteSliderActiveThumbTrackTickMarksWhenDragging_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSliderSnapshotTests/testExplicitlyNonDiscreteSliderAlignsToThumbPosition_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSliderSnapshotTests/testExplicitlyNonDiscreteSliderAtMaximum_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSliderSnapshotTests/testExplicitlyNonDiscreteSliderAtMidpoint_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSliderSnapshotTests/testExplicitlyNonDiscreteSliderAtMinimum_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSliderSnapshotTests/testExplicitlyNonDiscreteSliderInactiveThumbTrackTickMarksAlways_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSliderSnapshotTests/testExplicitlyNonDiscreteSliderInactiveThumbTrackTickMarksNever_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSliderSnapshotTests/testExplicitlyNonDiscreteSliderInactiveThumbTrackTickMarksWhenDragging_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSliderSnapshotTests/testImplicitlyNonDiscreteSliderActiveThumbTrackTickMarksAlways_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSliderSnapshotTests/testImplicitlyNonDiscreteSliderActiveThumbTrackTickMarksNever_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSliderSnapshotTests/testImplicitlyNonDiscreteSliderActiveThumbTrackTickMarksWhenDragging_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSliderSnapshotTests/testImplicitlyNonDiscreteSliderAlignsToThumbPosiition_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSliderSnapshotTests/testImplicitlyNonDiscreteSliderAtMaximum_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSliderSnapshotTests/testImplicitlyNonDiscreteSliderAtMidpoint_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSliderSnapshotTests/testImplicitlyNonDiscreteSliderAtMinimum_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSliderSnapshotTests/testImplicitlyNonDiscreteSliderInactiveThumbTrackTickMarksAlways_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSliderSnapshotTests/testImplicitlyNonDiscreteSliderInactiveThumbTrackTickMarksNever_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSliderSnapshotTests/testImplicitlyNonDiscreteSliderInactiveThumbTrackTickMarksWhenDragging_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSliderSnapshotTests/testNonDiscreteSliderLargerTrackHeight_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSliderSnapshotTests/testNonDiscreteSliderSmallerTrackHeight_11_2@2x.png
Labels: [Slider], [private/ThumbTrack], [private], cla: yes

#8782 [Slider] Update documentation to match behavior.
  components/Slider/README.md
  components/Slider/docs/differences-from-uislider.md
  components/Slider/src/MDCSlider.h
Labels: [Slider], cla: yes, type:Documentation

#8773 [TextControls] Add accessibilityLabel override to MDCBaseTextField
  catalog/MDCCatalog.xcodeproj/xcshareddata/xcschemes/MDCCatalog.xcscheme
  catalog/MDCDragons.xcodeproj/xcshareddata/xcschemes/MDCDragons.xcscheme
  components/TextControls/src/MDCBaseTextField.h
  components/TextControls/src/MDCBaseTextField.m
  components/TextControls/tests/unit/MDCBaseTextFieldTests.m
Labels: [Catalog], [TextControls], cla: yes

#8764 [AppBar] Add API to auto adjust height based on HeaderStackView for app bar.
  components/AppBar/src/MDCAppBarViewController.h
  components/AppBar/src/MDCAppBarViewController.m
  components/AppBar/tests/unit/MDCAppBarViewControllerTests.m
Labels: [AppBar], cla: yes

#8786 [Dialogs] Set dialog message accessibilityFrame based on visible message text
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Labels: [Dialogs], cla: yes

#8777 [TextFields] Update announcement text for fields with a character limit
  components/TextFields/src/MDCTextInputControllerBase.m
Labels: Accessibility, [TextFields], cla: yes

#8696 [ButtonBar] Delete the Theming extension.
  MaterialComponentsBeta.podspec
  catalog/Podfile
  components/ButtonBar/BUILD
  components/ButtonBar/src/Theming/MDCButtonBar+MaterialTheming.h
  components/ButtonBar/src/Theming/MDCButtonBar+MaterialTheming.m
  components/ButtonBar/src/Theming/MaterialButtonBar+Theming.h
  components/ButtonBar/tests/snapshot/MDCButtonBar_ThemingSnapshotTests.m
  components/ButtonBar/tests/unit/ButtonBarButtonTypographyThemerTests.swift
  components/ButtonBar/tests/unit/Theming/ButtonBarThemingTests.swift
Labels: PR:delete-branch-when-merged, PR:merge-when-approved, [ButtonBar], [Catalog], cla: yes

#8787 [BottomSheet] Make bottom sheet be in extended state when voiceover is on
  components/BottomSheet/src/private/MDCSheetContainerView.m
Labels: [BottomSheet], cla: yes

#8791 [examples] Annotate all catalogShouldHideNavigation invocations with @objc.
  components/AppBar/examples/AppBarAnimatedGlitchExample.swift
  components/AppBar/examples/AppBarGlitchExample.swift
  components/AppBar/examples/AppBarImageryExample.swift
  components/AppBar/examples/AppBarInheritedAnimatedJumpExample.swift
  components/AppBar/examples/AppBarInterfaceBuilderExampleController.swift
  components/AppBar/examples/AppBarManualTabsExample.swift
  components/AppBar/examples/AppBarModalPresentationExample.swift
  components/AppBar/examples/AppBarTypicalUseExample.swift
  components/AppBar/examples/AppBarWithUITableViewController.swift
  components/BottomAppBar/examples/BottomAppBarTypicalUseExample.swift
  components/BottomNavigation/examples/BottomNavigationResetButtons.swift
  components/NavigationBar/examples/supplemental/NavigationBarTypicalUseExampleSupplemental.swift
  components/ShadowElevations/examples/ShadowElevationsTypicalUseExample.swift
  components/Tabs/examples/supplemental/TabBarIconExampleSupplemental.swift
  components/Tabs/examples/supplemental/TabBarIndicatorTemplateExampleSupplemental.swift
Labels: Accessibility, PR:delete-branch-when-merged, PR:merge-when-approved, cla: yes

#8789 [TextFields] Update character count announcement in MDCTextInputControllerFullWidth
  components/TextFields/src/MDCTextInputControllerFullWidth.m
Labels: Accessibility, [TextFields], cla: yes

#8793 [Banner] Deactivate custom constraints when there is a need to update constraints.
  components/Banner/src/MDCBannerView.m
Labels: [Banner], cla: yes

#8792 [Chips] Set UIAccessibilityTraitButton on MDCChipView's accessibilityTraits.
  components/Chips/src/MDCChipView.m
  components/Chips/tests/unit/ChipsTests.m
Labels: PR:delete-branch-when-merged, PR:merge-when-approved, [Chips], cla: yes

#8785 [Banner] Add an example to show how Banner can be used as bottom bar in AppBar.
  components/Banner/BUILD
  components/Banner/examples/AppBarBannerExample.m
Labels: [Banner], cla: yes

#8797 Replace featherless with jverkoey in CODEOWNERS
  CODEOWNERS
Labels: PR:delete-branch-when-merged, PR:merge-when-approved, cla: yes

#8784 [TextFields] Convert clear button to MDCButton
  components/TextFields/BUILD
  components/TextFields/src/private/MDCTextInputCommonFundament.m
  components/TextFields/tests/snapshot/MDCTextFieldRippleSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCTextFieldRippleSnapshotTests/testClearButtonHasRipple_11_2@2x.png
Labels: Accessibility, [TextFields], cla: yes

#8660 [NavigationDrawer] Remove container view when dismiss transition completes
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.m
Labels: [NavigationDrawer], cla: yes

#8781 [TextControls] Snapshot test MDCTextControl TextFields with AXXXL content size
  components/TextControls/tests/snapshot/MDCBaseTextFieldSnapshotTests.m
  components/TextControls/tests/snapshot/MDCFilledTextFieldSnapshotTests.m
  components/TextControls/tests/snapshot/MDCOutlinedTextFieldSnapshotTests.m
  components/TextControls/tests/snapshot/supplemental/MDCBaseTextFieldTestsSnapshotTestHelpers.h
  components/TextControls/tests/snapshot/supplemental/MDCBaseTextFieldTestsSnapshotTestHelpers.m
  components/TextControls/tests/snapshot/supplemental/MDCTextControlSnapshotTestHelpers.h
  components/TextControls/tests/snapshot/supplemental/MDCTextControlSnapshotTestHelpers.m
  snapshot_test_goldens/goldens_64/MDCBaseTextFieldTestsSnapshotTests/testTextFieldWithScaledFontsAndXXXLargeContentSize_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCFilledTextFieldTestsSnapshotTests/testTextFieldWithScaledFontsAndXXXLargeContentSize_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCOutlinedTextFieldTestsSnapshotTests/testTextFieldWithScaledFontsAndXXXLargeContentSize_11_2@2x.png
Labels: [TextControls], cla: yes

#8799 [Dialogs] Allow clients to customize title accessibilityLabel.
  components/Dialogs/src/MDCAlertController.h
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/tests/unit/MDCAlertControllerTests.m
Labels: Accessibility, [Dialogs], cla: yes

#8801 [Dialogs] Allow clients to customize message accessibility label
  components/Dialogs/src/MDCAlertController.h
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/tests/unit/MDCAlertControllerTests.m
Labels: Accessibility, [Dialogs], cla: yes

#8808 [Ripple] Add tests demonstrating unexpected layer.mask behavior.
  components/Ripple/tests/unit/MDCRippleViewUsesSuperviewShadowLayerAsMaskTests.m
Labels: [Ripple], cla: yes

#8802 [TextControls] Add adjusts content size category behavior
  components/TextControls/src/MDCBaseTextField.m
  components/TextControls/tests/unit/MDCBaseTextFieldTests.m
Labels: [TextControls], cla: yes

#8807 [Snackbar] Add invisible hit target for legacy snackbar
  components/Snackbar/src/MDCSnackbarMessageView.m
Labels: [Snackbar], cla: yes

#8827 [Catalog] Handle dynamic type in Dragons on iOS 10
  catalog/MDCDragons/MDCDragonsController.swift
Labels: Accessibility, [Catalog], cla: yes

#8818 [TextControls] Use system dynamic colors for sensible defaults in iOS 13
  components/TextControls/examples/MDCTextControlTextFieldTypicalUseExample.m
  components/TextControls/src/private/MDCTextControlColorViewModel.m
  components/TextControls/src/private/MDCTextControlStyleFilled.m
  components/TextControls/src/private/MDCTextControlStyleOutlined.m
Labels: Accessibility, [TextControls], cla: yes

#8828 [AppBar] Make example titles more accurate.
  components/AppBar/examples/AppBarAnimatedGlitchExample.swift
  components/AppBar/examples/AppBarGlitchExample.swift
  components/AppBar/examples/AppBarInheritedAnimatedJumpExample.swift
  components/AppBar/examples/AppBarManualTabsExample.swift
Labels: "Scout" Work, [AppBar], [Dragons], app:Catalog, cla: yes

#8826 [Catalog] Darken ButtonBarIconExample icon colors
  components/ButtonBar/BUILD
  components/ButtonBar/examples/ButtonBarIconExample.m
Labels: Accessibility, [ButtonBar], cla: yes

#8813 [Tabs] Improve custom view documentation.
  components/Tabs/src/TabBarView/MDCTabBarViewCustomViewable.h
Labels: PR:delete-branch-when-merged, PR:merge-when-approved, [Tabs], cla: yes, type:Documentation

#8811 [Tabs] Mark TabBarView as accessibility tab bar.
  components/Tabs/src/TabBarView/MDCTabBarView.m
  components/Tabs/tests/unit/TabBarView/MDCTabBarViewTests.m
Labels: Accessibility, PR:delete-branch-when-merged, PR:merge-when-approved, [Tabs], cla: yes, skill:UIAccessibility

#8829 [Catalog] Fix Banner positioning in example for iOS 10
  components/Banner/examples/BannerTypicalUseExampleViewController.m
Labels: Accessibility, [Banner], cla: yes

#8848 [Catalog] Remove scrim accessibility logic from BottomSheetUIControlExample
  components/BottomSheet/examples/BottomSheetUIControlExample.swift
Labels: Accessibility, [BottomSheet], cla: yes

#8849 [Catalog] Add VoiceOver support to BottomSheetShortCollectionExample
  components/BottomSheet/examples/BottomSheetShortCollectionExample.m
  components/BottomSheet/examples/supplemental/BottomSheetDummyCollectionViewController.m
Labels: Accessibility, [BottomSheet], cla: yes

#8862 [Dragons] Treat MDCDragonsTableViewCell as an a11y button.
  catalog/MDCDragons/MDCDragonsTableViewCell.swift
Labels: Accessibility, PR:delete-branch-when-merged, PR:merge-when-approved, [Catalog], cla: yes

#8856 [Dragons] Remove unnecessary methods from MDCDragonsTableViewCell.
  catalog/MDCDragons/MDCDragonsTableViewCell.swift
Labels: PR:delete-branch-when-merged, PR:merge-when-approved, [Catalog], cla: yes

#8881 [private] ZShadow example supports VoiceOver
  components/private/Dragons/examples/ZShadow.swift
Labels: [private], cla: yes

#8863 [Dragons] Simplify the MDCDragonsTableViewCell accessory types.
  catalog/MDCDragons/MDCDragonsController.swift
  catalog/MDCDragons/MDCDragonsTableViewCell.swift
Labels: PR:delete-branch-when-merged, PR:merge-when-approved, [Catalog], cla: yes

#8830 [TextFields] Added tests for accessibilityLabel
  components/TextFields/tests/unit/MDCTextFieldAccessibilityTests.m
Labels: Accessibility, [TextFields], cla: yes

#8890 [Ink] Consolidate example code into a single file.
  components/Ink/examples/InkTypicalUse.m
  components/Ink/examples/supplemental/InkTypicalUseSupplemental.h
  components/Ink/examples/supplemental/InkTypicalUseSupplemental.m
Labels: PR:delete-branch-when-merged, PR:does-the-same-with-less, PR:merge-when-approved, [Ink], cla: yes

#8815 [Typography] Using safeSharedApplication in test
  MaterialComponents.podspec
  components/Typography/BUILD
  components/Typography/tests/unit/UIFont+MaterialTypographyTests.m
Labels: PR:delete-branch-when-merged, PR:merge-when-approved, [Typography], cla: yes

#8803 [TextFields] Added header comment: placeholder APIs are for `label text`
  components/TextFields/src/MDCMultilineTextField.h
  components/TextFields/src/MDCTextInput.h
  components/TextFields/src/MDCTextInputController.h
  components/TextFields/src/MDCTextInputControllerBase.h
  components/TextFields/src/MDCTextInputControllerFilled.h
  components/TextFields/src/MDCTextInputControllerFloatingPlaceholder.h
  components/TextFields/src/MDCTextInputControllerLegacyDefault.h
  components/TextFields/src/MDCTextInputControllerLegacyFullWidth.h
  components/TextFields/src/MDCTextInputControllerOutlined.h
  components/TextFields/src/MDCTextInputControllerOutlinedTextArea.h
  components/TextFields/src/MDCTextInputControllerUnderline.h
  components/TextFields/src/private/MDCTextInputControllerBase+Subclassing.h
Labels: Accessibility, PR:delete-branch-when-merged, PR:merge-when-approved, [TextFields], cla: yes

#8909 [ActivityIndicator] Add a voiceover layout change notification after animation in example
  components/ActivityIndicator/examples/ActivityIndicatorTransitionExampleViewController.m
Labels: Accessibility, [ActivityIndicator], cla: yes

#8899 [Cards] Make the Shaped Edit/Reorder example class/files match the name of the example.
  components/Cards/examples/CardsShapedEditReorderExample.swift
Labels: PR:delete-branch-when-merged, PR:merge-when-approved, [Cards], cla: yes

#8891 [Ink] Make the ink views accessibility elements.
  components/Ink/examples/InkTypicalUse.m
Labels: Accessibility, PR:delete-branch-when-merged, PR:merge-when-approved, [Ink], cla: yes

#8812 [Tabs] Use built-in "tabs" behavior on iOS 10+
  components/Tabs/src/private/MDCItemBar.m
  components/Tabs/src/private/MDCItemBarCell.m
  components/Tabs/tests/unit/MDCItemBarTests.m
Labels: Accessibility, PR:delete-branch-when-merged, PR:merge-when-approved, [Tabs], cla: yes

#8847 [TextControls] Add dynamic type functionality to text controls example
  components/TextControls/examples/MDCTextControlTextFieldTypicalUseExample.m
Labels: Accessibility, [TextControls], cla: yes

#8910 [TextFields] Fix spelling mistake in test
  components/TextFields/tests/unit/MDCTextFieldAccessibilityTests.m
Labels: [TextFields], cla: yes

#8900 [Buttons] Fix a11y issues in Buttons (Content Edge Insets) example
  components/Buttons/examples/ButtonsContentEdgeInsetsExample.m
Labels: Accessibility, PR:delete-branch-when-merged, PR:merge-when-approved, [Buttons], cla: yes

#8922 [PageControl] Fixes contrast ratio and button interactivity for example
  components/PageControl/examples/PageControlAnimationBlockExample.m
Labels: Accessibility, [PageControl], cla: yes

#8924 [Ripple] Ripple typical example now can be used with Voice Over
  components/Ripple/examples/supplemental/RippleExampleSupplemental.m
Labels: Accessibility, PR:delete-branch-when-merged, PR:merge-when-approved, [Ripple], cla: yes

#8901 [Cards] Make the shaped collection cell an accessibility button.
  components/Cards/examples/CardsShapedEditReorderExample.swift
Labels: Accessibility, PR:delete-branch-when-merged, PR:merge-when-approved, [Cards], cla: yes

#8911 [Buttons] Update accessibility label for FABs
  components/Buttons/examples/ButtonsStoryboardAndProgrammatic.swift
Labels: Accessibility, [Buttons], cla: yes

#8923 [Catalog] Add accessibility elements to BottomSheetExamples
  components/BottomSheet/examples/BottomSheetPresentationExample.m
  components/BottomSheet/examples/BottomSheetStaticExamples.m
Labels: Accessibility, PR:delete-branch-when-merged, PR:merge-when-approved, [BottomSheet], cla: yes

#8931 [Tabs] Add newlines after all Swift doc headers.
  components/Tabs/docs/color-theming.md
  components/Tabs/docs/tabbarview.md
  components/Tabs/docs/typography-theming.md
Labels: Accessibility, PR:delete-branch-when-merged, PR:merge-when-approved, [Tabs], cla: yes

#8929 [Ripple] Card with Ripple example now allows the card to be reached with voiceover.
  components/Ripple/examples/CardWithRippleExample.swift
Labels: Accessibility, PR:delete-branch-when-merged, PR:merge-when-approved, [Ripple], cla: yes

#8921 [BottomNavigation] Clean up badge value test example
  components/BottomNavigation/BUILD
  components/BottomNavigation/examples/BottomNavigationNilBadges.swift
Labels: PR:merge-when-approved, [BottomNavigation], cla: yes

#8804 [TextFields] Check if placeholder is hidden before verbalizing it in voice over.
  components/TextFields/examples/TextFieldFilledExample.swift
  components/TextFields/src/MDCTextField.m
  components/TextFields/tests/unit/MDCTextFieldAccessibilityTests.m
Labels: Accessibility, [TextFields], cla: yes, kokoro:force-run

#8932 [PageControl] Fixes contrast ratio and button interactivity for example with next button
  components/PageControl/examples/PageControlButtonExample.m
Labels: Accessibility, PR:delete-branch-when-merged, PR:merge-when-approved, [PageControl], cla: yes

#8938 [Catalog] Improve contrast ratio in PageControlSwiftExampleViewController
  components/PageControl/examples/PageControlTypicalUseExample.swift
Labels: Accessibility, PR:delete-branch-when-merged, PR:merge-when-approved, [PageControl], cla: yes

#8939 [Dialogs] Make the "Dialogs with accessory view" example's cells accessibility buttons.
  components/Dialogs/examples/DialogsAccessoryExampleViewController.swift
Labels: Accessibility, PR:delete-branch-when-merged, PR:merge-when-approved, [Dialogs], cla: yes

#8941 [Catalog] Improve contrast ratio in PageControlTypicalUseViewController
  components/PageControl/examples/PageControlTypicalUseExample.m
Labels: Accessibility, PR:delete-branch-when-merged, PR:merge-when-approved, [PageControl], cla: yes

#8902 [MDCTextfields] Added accessibility label tests for MDCMultilineTextFields
  components/TextFields/src/MDCMultilineTextField.m
  components/TextFields/tests/unit/MDCMultilineTextFieldAccessibilityTests.m
Labels: Accessibility, PR:merge-when-approved, [TextFields], cla: yes

#8930 [ShadowElevations] Provide semantic VoiceOver labels when interacting with the typical use example.
  components/ShadowElevations/examples/ShadowElevationsTypicalUseExample.m
Labels: Accessibility, PR:delete-branch-when-merged, PR:merge-when-approved, [ShadowElevations], cla: yes

#8944 [Catalog] Fix accessibility labels and layout in CollectionListCellExampleTypicalUse
  components/List/examples/CollectionListCellExampleTypicalUse.m
  components/List/examples/supplemental/CollectionViewListCell.m
Labels: Accessibility, PR:delete-branch-when-merged, PR:merge-when-approved, [List], cla: yes

#8945 [Cards] Make the "Typical use" example title label an a11y heading.
  components/Cards/examples/resources/CardExampleViewController.xib
Labels: Accessibility, PR:delete-branch-when-merged, PR:merge-when-approved, cla: yes

#8940 [Chips] Fix layout of ChipsSizingExampleViewController.
  components/Chips/examples/ChipsSizingExampleViewController.m
Labels: Accessibility, PR:delete-branch-when-merged, PR:merge-when-approved, [Chips], cla: yes

#8920 [BottomNavigation] Add accessibility value for badge
  components/BottomNavigation/examples/BottomNavigationNilBadges.swift
Labels: Accessibility, [BottomNavigation], cla: yes

#8955 [Catalog] Delete non-functional ShadowElevationsTypicalUseViewController.swift
  components/ShadowElevations/examples/ShadowElevationsTypicalUseExample.swift
Labels: Accessibility, PR:delete-branch-when-merged, PR:merge-when-approved, cla: yes

#8950 [Dialogs] Make the "View with corner radius" example's dialog escapable in VoiceOver.
  components/Dialogs/examples/DialogsCustomShadowExampleViewController.swift
Labels: Accessibility, PR:delete-branch-when-merged, PR:merge-when-approved, [Dialogs], cla: yes

#8952 [TextFields] simplify test names since the name of the file already gives context.
  components/TextFields/tests/unit/MDCTextFieldAccessibilityTests.m
Labels: Accessibility, PR:merge-when-approved, [TextFields], cla: yes

#8963 [Catalog] Add close button to bottom drawer example header
  components/NavigationDrawer/examples/supplemental/BottomDrawerSupplemental.swift
Labels: Accessibility, PR:delete-branch-when-merged, PR:merge-when-approved, [NavigationDrawer], cla: yes

#8959 [FeatureHighlight] Add a voiceover dismissal affordance for the feature highlight.
  components/FeatureHighlight/src/MDCFeatureHighlightViewController.m
  components/FeatureHighlight/src/private/MDCFeatureHighlightView+Private.m
Labels: Accessibility, [FeatureHighlight], cla: yes

#8956 [Dialogs] Make all "Dismissing Dialogs" cells a11y buttons.
  components/Dialogs/examples/DialogsDismissingExampleViewController.m
Labels: Accessibility, PR:delete-branch-when-merged, PR:merge-when-approved, [Dialogs], cla: yes

#8964 [Buttons] Improve accessibility of Shaped Buttons.
  components/Buttons/examples/ButtonsShapesExampleViewController.m
Labels: Accessibility, [Buttons], cla: yes, type:Polish

#8960 [Dialogs] More Material Alerts examples is more accessible.
  components/Dialogs/examples/DialogsAlertExampleViewController.m
Labels: Accessibility, [Dialogs], cla: yes, type:Polish

#8958 [Dialogs] Provide accessibility traits for Input Field example
  components/Dialogs/examples/supplemental/DialogsKeyboardExampleViewControllerSupplemental.m
Labels: Accessibility, [Dialogs], cla: yes, type:Polish

#8957 [FeatureHighlight] Make "Color" example accessible.
  components/FeatureHighlight/examples/FeatureHighlightColorExample.m
  components/FeatureHighlight/examples/supplemental/FeatureHighlightExampleSupplemental.h
  components/FeatureHighlight/examples/supplemental/FeatureHighlightExampleSupplemental.m
Labels: Accessibility, [FeatureHighlight], cla: yes, type:Polish

#8946 [ActionSheet] Allow Swift example to support dynamic type
  components/ActionSheet/BUILD
  components/ActionSheet/examples/ActionSheetSwiftExampleViewController.swift
Labels: Accessibility, [ActionSheet], cla: yes

#8953 [MDC Dragons] Fix MDCBaseCell Example to work with Voice Over
  components/List/examples/MDCBaseCellExample.m
Labels: Accessibility, [List], cla: yes

#8942 [Chips] Give the ChipsSizing example's sliders a11y labels and values.
  components/Chips/examples/ChipsSizingExampleViewController.m
Labels: Accessibility, PR:delete-branch-when-merged, PR:merge-when-approved, [Chips], cla: yes

#8969 [FeatureHighlight] Positions label not hidden behind nav bar.
  components/FeatureHighlight/examples/supplemental/FeatureHighlightExampleSupplemental.m
Labels: Accessibility, [FeatureHighlight], cla: yes

#8947 [List] Make Base Cell example more accessible.
  components/List/BUILD
  components/List/examples/MDCBaseCellExample.h
  components/List/examples/MDCBaseCellExample.m
Labels: Accessibility, PR:delete-branch-when-merged, PR:merge-when-approved, [List], cla: yes

#8965 [Dialogs] Implement the a11y escape gesture on all custom dialogs in the "Dismissing Dialogs" example.
  components/Dialogs/examples/DialogsDismissingExampleViewController.m
Labels: Accessibility, PR:delete-branch-when-merged, PR:merge-when-approved, [Dialogs], cla: yes

#8966 [MDC Dragons] AppBar example has low-contrast text
  components/AppBar/BUILD
  components/AppBar/examples/AppBarPresentedExample.m
Labels: Accessibility, [AppBar], cla: yes

#8962 [Shadow] Make Shadow Corner Radius example more accessible.
  components/ShadowLayer/BUILD
  components/ShadowLayer/examples/ShadowCornerRadiusExample.m
Labels: Accessibility, [ShadowLayer], cla: yes

#8943 [Cards] Fix bug in the "Typical use" example where the image would not appear.
  components/Cards/examples/CardExampleViewController.swift
  components/Cards/examples/resources/CardExampleViewController.xib
Labels: Accessibility, PR:delete-branch-when-merged, PR:merge-when-approved, [Cards], cla: yes

#8967 [Dialogs] Fix bug in "Dismissing Dialogs" dialogs where the buttons were not themed.
  components/Dialogs/examples/DialogsDismissingExampleViewController.m
Labels: Accessibility, PR:delete-branch-when-merged, PR:merge-when-approved, [Dialogs], cla: yes

#8968 [Banner] Add a snapshot for banner with no action case.
  components/Banner/tests/snapshot/MDCBannerSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCBannerViewSnapshotTests/testShortTextWithNoAction_11_2@2x.png
Labels: [Banner], cla: yes

#8974 [List] Fix catalog compile issue
  components/List/examples/MDCBaseCellExample.m
Labels: [List], cla: yes

#8951 [Banner] Support use case where no button appears on Banner.
  components/Banner/src/MDCBannerView.m
  snapshot_test_goldens/goldens_64/MDCBannerViewSnapshotTests/testShortTextWithNoAction_11_2@2x.png
Labels: [Banner], cla: yes

#8976 [TextFields] Correction to the accessibility label
  components/TextFields/src/MDCTextField.m
  components/TextFields/tests/unit/MDCTextFieldAccessibilityTests.m
Labels: Accessibility, [TextFields], cla: yes

#8982 [ListItems] Make Base Cell example more accessible.
  components/List/BUILD
  components/List/examples/BaseCellExample.swift
Labels: Accessibility, [ListItems], [List], cla: yes, skill:Swift, type:Polish

#8983 [Tabs] Improve accessibility for TabBar example.
  components/Tabs/BUILD
  components/Tabs/examples/TabBarViewControllerInterfaceBuilderExample.m
  components/Tabs/examples/resources/TabBarViewControllerInterfaceBuilderExample.storyboard
Labels: Accessibility, [Tabs], cla: yes, type:Polish

#8995 [TextFields] Add missing Button dependency.
  MaterialComponents.podspec
Labels: cla: yes

#8999 [ActionSheet] Refactor snapshot tests.
  components/ActionSheet/tests/snapshot/MDCActionSheetControllerSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testActionSheetWhenEveryActionHasCustomTintColor_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testActionSheetWhenEveryActionHasCustomTitleColor_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testActionSheetWithCustomActionSheetControllerTintColorAndOneActionCustomTintColor_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testActionSheetWithCustomActionSheetControllerTitleColorAndOneActionCustomTitleColor_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testActionSheetWithHeaderShownButNoTitleOrMessage_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testActionSheetWithHeaderShown_11_2@2x.png
Labels: PR:delete-branch-when-merged, PR:does-the-same-with-less, PR:merge-when-approved, [ActionSheet], [Catalog], cla: yes, skill:Refactoring, type:Test

#8992 [Buttons] Fix dynamic type example.
  components/Buttons/examples/ButtonsDynamicTypeViewController.swift
Labels: [Buttons], cla: yes

#8993 [TextControls] Add MDCFilledTextField theming extension
  MaterialComponents.podspec
  catalog/MDCCatalog.xcodeproj/xcshareddata/xcschemes/MDCCatalog.xcscheme
  catalog/MDCDragons.xcodeproj/xcshareddata/xcschemes/MDCDragons.xcscheme
  catalog/Podfile
  components/TextControls/BUILD
  components/TextControls/examples/MDCTextControlTextFieldTypicalUseExample.m
  components/TextControls/src/Theming/MDCFilledTextField+MaterialTheming.h
  components/TextControls/src/Theming/MDCFilledTextField+MaterialTheming.m
  components/TextControls/src/Theming/MaterialTextControls+Theming.h
  components/TextControls/tests/unit/Theming/MDCFilledTextFieldThemingTests.m
Labels: [Catalog], [TextControls], cla: yes

#9005 [ShadowElevations] Delete swift example target since there is no input file.
  components/ShadowElevations/BUILD
Labels: [ShadowElevations], cla: yes

#9011 [ActionSheet] Correct RTL snapshot tests.
  components/ActionSheet/tests/snapshot/MDCActionSheetControllerSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testSafeAreaBottomRightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testSafeAreaTopLeftBottomRightRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testSafeAreaTopLeftRTL_11_2@2x.png
Labels: PR:delete-branch-when-merged, PR:merge-when-approved, [ActionSheet], cla: yes, type:Test

#9013 [ActionSheet] Align title/image to their leading edges directly.
  components/ActionSheet/src/private/MDCActionSheetItemTableViewCell.m
Labels: PR:delete-branch-when-merged, PR:does-the-same-with-less, PR:merge-when-approved, [ActionSheet], cla: yes, type:Internal cleanup

#9008 [ActionSheet] Add `contentEdgeInsets` API.
  components/ActionSheet/README.md
  components/ActionSheet/docs/README.md
  components/ActionSheet/docs/assets/actionsheet-default appearance.png
  components/ActionSheet/docs/assets/actionsheet-left outset right inset.png
  components/ActionSheet/docs/assets/actionsheet-top and bottom insets.png
  components/ActionSheet/docs/customization.md
  components/ActionSheet/examples/ActionSheetSwiftExampleViewController.swift
  components/ActionSheet/src/MDCActionSheetController.h
  components/ActionSheet/src/MDCActionSheetController.m
  components/ActionSheet/src/private/MDCActionSheetItemTableViewCell.h
  components/ActionSheet/src/private/MDCActionSheetItemTableViewCell.m
  components/ActionSheet/tests/snapshot/MDCActionSheetControllerSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testContentEdgeInsetsDecreaseActionRowHeight_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testContentEdgeInsetsIncreaseActionRowHeight_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testContentEdgeInsetsShiftActionRowToLeftInLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testContentEdgeInsetsShiftActionRowToLeftInRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testContentEdgeInsetsShiftActionRowToRightInLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerSnapshotTests/testContentEdgeInsetsShiftActionRowToRightInRTL_11_2@2x.png
Labels: [ActionSheet], cla: yes, type:Feature request

#9018 [FeatureHighlight] Fix accessibility tests.
  components/FeatureHighlight/tests/unit/FeatureHighlightAccessibilityTests.m
Labels: PR:delete-branch-when-merged, PR:merge-when-approved, [FeatureHighlight], cla: yes, type:Test

#9003 [ActionSheet] Name unit tests to match class.
  components/ActionSheet/tests/unit/MDCActionSheetControllerTests.m
Labels: "Scout" Work, [ActionSheet], cla: yes, type:Internal cleanup, type:Test

#9014 [FlexibleHeader] Expose a shiftedOffscreen property.
  components/FlexibleHeader/src/MDCFlexibleHeaderView+ShiftBehavior.h
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
  components/FlexibleHeader/tests/unit/FlexibleHeaderShiftedOffscreenTests.m
Labels: [FlexibleHeader], cla: yes

#9020 [ActionSheet] Split "insets" API snapshot tests to separate file.
  components/ActionSheet/tests/snapshot/MDCActionSheetControllerInsetsAPIsSnapshotTests.m
  components/ActionSheet/tests/snapshot/MDCActionSheetControllerSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerInsetsAPIsSnapshotTests/testContentEdgeInsetsDecreaseActionRowHeight_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerInsetsAPIsSnapshotTests/testContentEdgeInsetsIncreaseActionRowHeight_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerInsetsAPIsSnapshotTests/testContentEdgeInsetsShiftActionRowToLeftInLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerInsetsAPIsSnapshotTests/testContentEdgeInsetsShiftActionRowToLeftInRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerInsetsAPIsSnapshotTests/testContentEdgeInsetsShiftActionRowToRightInLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerInsetsAPIsSnapshotTests/testContentEdgeInsetsShiftActionRowToRightInRTL_11_2@2x.png
Labels: [ActionSheet], cla: yes, skill:Refactoring, type:Test

#9004 [BottomSheet] Add API to not allow dragging of Bottom Sheet to dismiss.
  components/BottomSheet/README.md
  components/BottomSheet/docs/README.md
  components/BottomSheet/src/MDCBottomSheetController.h
  components/BottomSheet/src/MDCBottomSheetController.m
  components/BottomSheet/src/MDCBottomSheetPresentationController.h
  components/BottomSheet/src/MDCBottomSheetPresentationController.m
  components/BottomSheet/src/MDCBottomSheetTransitionController.h
  components/BottomSheet/src/MDCBottomSheetTransitionController.m
  components/BottomSheet/src/private/MDCSheetContainerView.h
  components/BottomSheet/src/private/MDCSheetContainerView.m
  components/BottomSheet/tests/unit/BottomSheetTests.m
  components/BottomSheet/tests/unit/MDCBottomSheetPresentationControllerTests.m
Labels: [BottomSheet], cla: yes

#9023 [FlexibleHeader] Add FlexibleHeaderShiftedOffscreenWithShiftBehaviorDisabledTests.
  components/FlexibleHeader/tests/unit/FlexibleHeaderShiftedOffscreenWithShiftBehaviorDisabledTests.m
Labels: PR:delete-branch-when-merged, PR:merge-when-approved, [FlexibleHeader], cla: yes

#8989 [Catalog] Change settings to deploy to device
  catalog/MDCCatalog.xcodeproj/project.pbxproj
  catalog/MDCDragons.xcodeproj/project.pbxproj
Labels: [Catalog], cla: yes

#9024 [ActionSheet] Add `imageEdgeInsets` API.
  components/ActionSheet/src/MDCActionSheetController.h
  components/ActionSheet/src/MDCActionSheetController.m
  components/ActionSheet/src/private/MDCActionSheetItemTableViewCell.h
  components/ActionSheet/src/private/MDCActionSheetItemTableViewCell.m
  components/ActionSheet/tests/snapshot/MDCActionSheetControllerInsetsAPIsSnapshotTests.m
  components/ActionSheet/tests/unit/MDCActionSheetControllerTests.m
  components/ActionSheet/tests/unit/MDCActionSheetTableCellTest.m
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerInsetsAPIsSnapshotTests/testImageEdgeInsetsIncreaseActionRowHeight_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerInsetsAPIsSnapshotTests/testImageEdgeInsetsShiftIconToLeftInLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerInsetsAPIsSnapshotTests/testImageEdgeInsetsShiftIconToLeftInRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerInsetsAPIsSnapshotTests/testImageEdgeInsetsShiftIconToRightInLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerInsetsAPIsSnapshotTests/testImageEdgeInsetsShiftIconToRightInRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerInsetsAPIsSnapshotTests/testImageEdgeInsetsTopInsetMovesImageViewOutsideCell_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetControllerInsetsAPIsSnapshotTests/testImageEdgeInsetsZeroPositionsImageAtTopOfCell_11_2@2x.png
Labels: [ActionSheet], cla: yes, type:Feature request

#9029 [ActionSheet] Refactor insets snapshot test.
  components/ActionSheet/tests/snapshot/MDCActionSheetControllerInsetsAPIsSnapshotTests.m
Labels: PR:does-the-same-with-less, [ActionSheet], cla: yes, skill:Refactoring, type:Test

#9030 [ActionSheet] Fix spelling error for "constraint".
  components/ActionSheet/src/private/MDCActionSheetItemTableViewCell.m
Labels: PR:delete-branch-when-merged, PR:merge-when-approved, [ActionSheet], cla: yes, type:Internal cleanup

#9036 [FlexibleHeader] Add test that validates all defaults.
  components/FlexibleHeader/tests/unit/FlexibleHeaderDefaultsTests.m
Labels: PR:delete-branch-when-merged, PR:merge-when-approved, [FlexibleHeader], cla: yes

#9037 [FlexibleHeader] Document the default value of shiftBehavior.
  components/FlexibleHeader/src/MDCFlexibleHeaderView+ShiftBehavior.h
Labels: PR:delete-branch-when-merged, PR:merge-when-approved, [FlexibleHeader], cla: yes

#8822 [Ripple] Add usesSuperviewShadowLayerAsMask flag.
  components/Ripple/README.md
  components/Ripple/docs/README.md
  components/Ripple/docs/migration-usesSuperviewShadowLayerAsMask.md
  components/Ripple/src/MDCRippleView.h
  components/Ripple/src/MDCRippleView.m
  components/Ripple/tests/unit/MDCRippleViewUsesSuperviewShadowLayerAsMaskTests.m
Labels: PR:delete-branch-when-merged, PR:merge-when-approved, [Ripple], cla: yes

#9026 [FlexibleHeader] Add MDCFlexibleHeaderShiftBehaviorHideable.
  components/FlexibleHeader/README.md
  components/FlexibleHeader/docs/shift-behavior.md
  components/FlexibleHeader/examples/FlexibleHeaderConfiguratorExample.m
  components/FlexibleHeader/src/MDCFlexibleHeaderView+ShiftBehavior.h
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
  components/FlexibleHeader/tests/unit/FlexibleHeaderShiftedOffscreenWithShiftBehaviorHideableTests.m
Labels: PR:delete-branch-when-merged, PR:merge-when-approved, [FlexibleHeader], cla: yes
