Repository material-components/material-components-ios, pull requests merged in 2020-03, with the labels that each got.

#9818 [Ink] Conditionally maskToBounds on MDCInkView layer
  components/Ink/src/MDCInkView.m
  components/Ink/tests/unit/MDCInkViewTests.m
Labels: [Ink], cla: yes

#9822 [TextFields] Lower the error VoiceOver announcement delay to near zero.
  components/TextFields/src/MDCTextInputControllerBase.m
Labels: [TextFields], cla: yes

#9820 v107.1.0
  CHANGELOG.md
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/Chips/src/MDCChipCollectionViewCell.m
  components/Chips/src/MDCChipCollectionViewFlowLayout.m
  components/Chips/tests/unit/ChipsTests.m
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
  components/FlexibleHeader/tests/unit/FlexibleHeaderShiftedOffscreenWithShiftBehaviorHideableTests.m
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  components/Snackbar/src/MDCSnackbarManager.h
  components/Snackbar/src/MDCSnackbarManager.m
  components/Snackbar/tests/unit/MDCSnackbarMessageViewTests.m
  components/Snackbar/tests/unit/supplemental/MDCFakeMDCSnackbarManagerDelegate.h
  components/Snackbar/tests/unit/supplemental/MDCFakeMDCSnackbarManagerDelegate.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testLowEmphasisActionsAreCenteredInHorizontalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testLowEmphasisActionsAreJustifiedInHorizontalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testLowEmphasisActionsAreLeadingInHorizontalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testLowEmphasisActionsAreLeadingInVerticalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testLowEmphasisActionsAreTrailingInVerticalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testMediumEmphasisActionsAreCenteredInHorizontalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testMediumEmphasisActionsAreJustifiedInHorizontalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testMediumEmphasisActionsAreJustifiedInVerticalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testMediumEmphasisActionsAreLeadingInHorizontalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testMediumEmphasisActionsAreLeadingInVerticalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testMediumEmphasisActionsAreTrailingInVerticalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipCollectionViewFlowLayoutSnapshotTests/testRespectsSectionInsets_11_2@2x.png
Labels: [Catalog], [Chips], [Dialogs], [FlexibleHeader], [LibraryInfo], [Snackbar], cla: yes

#9827 [Chips] Resize MDCChipField's textField frame instead of using left insets to align with chips
  components/Chips/src/MDCChipField.m
  components/Chips/tests/unit/ChipsTests.m
Labels: [Chips], cla: yes

#9826 [Chips] Update MDCChipField to move long text from a line with chips to a new line.
  components/Chips/src/MDCChipField.m
Labels: [Chips], cla: yes

#9828 [Chips] Revert "Resize MDCChipField's textField frame instead of using left insets to align with chips"
  components/Chips/src/MDCChipField.m
  components/Chips/tests/unit/ChipsTests.m
Labels: [Chips], cla: yes

#9823 [List] Add MDCSelfSizingLayoutAttributes
  components/List/src/MDCBaseCell.m
  components/List/src/MDCSelfSizingLayoutAttributes.h
  components/List/src/MaterialList.h
Labels: [List], cla: yes

#9831 [Chips] Add MDCChipField snapshot tests verifying text field placement
  components/Chips/tests/snapshot/MDCChipFieldSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCChipFieldSnapshotTests/testLayoutEmpty_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipFieldSnapshotTests/testTextFieldIsOnLineBelowWideChips_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipFieldSnapshotTests/testTextFieldIsOnTheLineBelowChipsWhenPlaceholderIsPreset_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipFieldSnapshotTests/testTextFieldIsOnTheSameLineAsNarrowChips_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipFieldSnapshotTests/testTextFieldWithZeroMinimumWidthIsOnSameLineAsWideChips_11_2@2x.png
Labels: [Chips], cla: yes

#9830 [Snackbar] add multi-window guessing support
  components/Snackbar/src/MDCSnackbarManager.m
Labels: [Snackbar], cla: yes

#9837 [Chips] Resize MDCChipField's textField frame instead of using left insets to align with chips
  components/Chips/src/MDCChipField.m
  components/Chips/tests/unit/ChipsTests.m
  snapshot_test_goldens/goldens_64/MDCChipFieldSnapshotTests/testTextFieldIsOnLineBelowWideChips_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipFieldSnapshotTests/testTextFieldIsOnTheSameLineAsNarrowChips_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipFieldSnapshotTests/testTextFieldWithZeroMinimumWidthIsOnSameLineAsWideChips_11_2@2x.png
Labels: [Chips], cla: yes

#9835 [BottomSheet] Anchor movement of the bottom sheet along the y axis.
  components/BottomSheet/src/private/MDCSheetBehavior.m
Labels: [BottomSheet], cla: yes

#9841 [Chips] In MDCChipField, account for horizontal padding when calculating available width for text field
  components/Chips/src/MDCChipField.m
  snapshot_test_goldens/goldens_64/MDCChipFieldSnapshotTests/testTextFieldIsOnLineBelowWideChips_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipFieldSnapshotTests/testTextFieldIsOnTheSameLineAsNarrowChips_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipFieldSnapshotTests/testTextFieldWithZeroMinimumWidthIsOnSameLineAsWideChips_11_2@2x.png
Labels: [Chips], cla: yes

#9842 [Chips] Add MDCChipField snapshot test for placeholder truncation
  components/Chips/tests/snapshot/MDCChipFieldSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCChipFieldSnapshotTests/testPlacholderIsNotTruncated_11_2@2x.png
Labels: [Chips], cla: yes

#9843 [Chips] Account for MDCChipField contentInset in placeholder width calculation
  components/Chips/src/MDCChipField.m
  snapshot_test_goldens/goldens_64/MDCChipFieldSnapshotTests/testPlacholderIsNotTruncated_11_2@2x.png
Labels: [Chips], cla: yes

#9829 [Dialogs] Adding actions order snapshot tests.
  components/Dialogs/tests/snapshot/MDCAlertControllerActionsTests.m
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testActionsAreOrderedByEmphasis_11_2@2x.png
Labels: [Dialogs], cla: yes

#9845 [Chips] Move MDCChipField text input to a new line if text is too wide
  components/Chips/src/MDCChipField.m
Labels: [Chips], cla: yes

#9847 [Chips] Add MDCChipField snapshot test to show placeholder width is being miscalculated
  components/Chips/tests/snapshot/MDCChipFieldSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCChipFieldSnapshotTests/testEmptyPlaceholderSizeDoesNotAccountForContentInsets_11_2@2x.png
Labels: [Chips], cla: yes

#9851 [Catalog] Remove traitCollection overrides from examples
  components/Cards/examples/CardExampleViewController.swift
  components/Cards/examples/ShapedCardViewController.swift
  components/Ripple/examples/CardWithRippleExample.swift
Labels: [Cards], [Ripple], cla: yes

#9850 [Chips] Do not include insets in MDCChipField placeholder width if there is no placeholder
  components/Chips/src/MDCChipField.m
  snapshot_test_goldens/goldens_64/MDCChipFieldSnapshotTests/testEmptyPlaceholderSizeDoesNotAccountForContentInsets_11_2@2x.png
Labels: [Chips], cla: yes

#9852 [Chips] Add tips about "Adjusting chip sizes after changing the label".
  components/Chips/README.md
  components/Chips/docs/tips.md
Labels: PR:delete-branch-when-merged, PR:merge-when-approved, [Banner], [Chips], cla: yes

#9832 [Dialogs] Removing enableAdjustableInsets and fixed-insets calculations.
  components/Dialogs/src/private/MDCAlertControllerView+Private.h
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Labels: [Dialogs], cla: yes

#9838 [Snackbar] Support orientation changes that respect safe area
  components/Snackbar/src/MDCSnackbarMessageView.m
  components/Snackbar/src/private/MDCSnackbarOverlayView.m
Labels: [Snackbar], cla: yes

#9862 [Dialogs] Try to fix testActionsAreOrderedByEmphasis snapshot
  components/Dialogs/tests/snapshot/MDCAlertControllerActionsTests.m
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testActionsAreOrderedByEmphasis_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testOrderVerticalActionsByEmphasis_11_2@2x.png
Labels: [Dialogs], cla: yes

#9849 [Tabs] Add MDCTabBarViewLayoutStyleScrollableCentered
  components/Tabs/src/TabBarView/MDCTabBarView.h
  components/Tabs/src/TabBarView/MDCTabBarView.m
  components/Tabs/tests/snapshot/TabBarView/MDCTabBarViewSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSelectionWithScrollableCenteredLayout_11_2@2x.png
Labels: [Tabs], cla: yes

#9866 [Slider] Allow thumb to stay filled with discrete value label
  components/Slider/src/MDCSlider.h
  components/Slider/src/MDCSlider.m
  components/Slider/tests/snapshot/MDCSliderSnapshotTests.m
  components/Slider/tests/unit/MDCSliderTests.m
  components/private/ThumbTrack/src/MDCThumbTrack.h
  components/private/ThumbTrack/src/MDCThumbTrack.m
  snapshot_test_goldens/goldens_64/MDCSliderSnapshotTests/testDiscreteSliderWithThumbAndValueLabel_11_2@2x.png
Labels: [Slider], [private], cla: yes

#9867 v107.2.0
  CHANGELOG.md
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/BottomSheet/src/private/MDCSheetBehavior.m
  components/Cards/examples/CardExampleViewController.swift
  components/Cards/examples/ShapedCardViewController.swift
  components/Chips/README.md
  components/Chips/docs/tips.md
  components/Chips/src/MDCChipField.m
  components/Chips/tests/snapshot/MDCChipFieldSnapshotTests.m
  components/Chips/tests/unit/ChipsTests.m
  components/Dialogs/src/private/MDCAlertControllerView+Private.h
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
  components/Dialogs/tests/snapshot/MDCAlertControllerActionsTests.m
  components/Ink/src/MDCInkView.m
  components/Ink/tests/unit/MDCInkViewTests.m
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  components/List/src/MDCBaseCell.m
  components/List/src/MDCSelfSizingLayoutAttributes.h
  components/List/src/MaterialList.h
  components/Ripple/examples/CardWithRippleExample.swift
  components/Snackbar/src/MDCSnackbarManager.m
  components/Snackbar/src/MDCSnackbarMessageView.m
  components/Snackbar/src/private/MDCSnackbarOverlayView.m
  components/Tabs/src/TabBarView/MDCTabBarView.h
  components/Tabs/src/TabBarView/MDCTabBarView.m
  components/Tabs/tests/snapshot/TabBarView/MDCTabBarViewSnapshotTests.m
  components/TextControls/src/BaseTextFields/MDCBaseTextField.h
  components/TextFields/src/MDCTextInputControllerBase.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testActionsAreOrderedByEmphasis_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testOrderVerticalActionsByEmphasis_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipFieldSnapshotTests/testEmptyPlaceholderSizeDoesNotAccountForContentInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipFieldSnapshotTests/testLayoutEmpty_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipFieldSnapshotTests/testPlacholderIsNotTruncated_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipFieldSnapshotTests/testTextFieldIsOnLineBelowWideChips_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipFieldSnapshotTests/testTextFieldIsOnTheLineBelowChipsWhenPlaceholderIsPreset_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipFieldSnapshotTests/testTextFieldIsOnTheSameLineAsNarrowChips_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipFieldSnapshotTests/testTextFieldWithZeroMinimumWidthIsOnSameLineAsWideChips_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSelectionWithScrollableCenteredLayout_11_2@2x.png
Labels: [BottomSheet], [Cards], [Catalog], [Chips], [Dialogs], [Ink], [LibraryInfo], [List], [Ripple], [Snackbar], [Tabs], [TextControls], [TextFields], cla: yes

#9855 [Ink] Refactor MDCInkView logic for usesLegacyInkLayer, maxRippleRadius, inkStyle Interplay
  components/Ink/src/MDCInkView.h
  components/Ink/src/MDCInkView.m
Labels: [Ink], cla: yes

#9865 [Dialogs] Accessibility frame is larger than displayed text.
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Labels: [Dialogs], cla: yes

#9864 [Dialogs] Fix incorrect content height for edge-case dialogs
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testAlertHasTitleAndTitleImageAndAccessoryView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testAlertHasTitleIconAndMessage_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testAlertHasTitleIcon_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testAlertHasTitleImageAndMessage_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testAlertHasTitleImage_11_2@2x.png
Labels: [Dialogs], cla: yes

#9873 [AppBar] Add AppBarWithExpandableCells example.
  components/AppBar/examples/AppBarWithExpandableCells.swift
Labels: PR:delete-branch-when-merged, PR:merge-when-approved, [AppBar], cla: yes

#9872 [FlexibleHeader] Fix jumping effect in a table view with dynamic cell heights.
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
Labels: PR:delete-branch-when-merged, PR:merge-when-approved, [FlexibleHeader], cla: yes

#9880 [FlexibleHeader] Add unit test to reproduce https://github.com/material-components/material-components-ios/issues/9863.
  components/FlexibleHeader/tests/unit/FlexibleHeaderHairlineTests.m
Labels: PR:delete-branch-when-merged, PR:merge-when-approved, [FlexibleHeader], cla: yes

#9881 [FlexibleHeader] Fix bug where hairline configuration would not persist.
  components/FlexibleHeader/src/MDCFlexibleHeaderViewController.m
  components/FlexibleHeader/tests/unit/FlexibleHeaderHairlineTests.m
Labels: PR:delete-branch-when-merged, PR:merge-when-approved, [FlexibleHeader], cla: yes

#9839 [Dialogs] Allow setting text alignment for alert message text
  components/Dialogs/src/MDCAlertController.h
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/src/MDCAlertControllerView.h
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
  components/Dialogs/tests/snapshot/MDCAlertControllerConfigurationsTests.m
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testLongMessageLeftAlignmentIsLeftInRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testMessageAlignmentIsCentered_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testMessageAlignmentIsJustified_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testMessageAlignmentIsLeft_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testMessageAlignmentIsNaturalInRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testMessageAlignmentIsNatural_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testMessageAlignmentIsRight_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testMessageDefaultAlignmentIsNatural_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testMessageLeftAlignmentIsLeftInRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testMessageRightAlignmentIsRightInRTL_11_2@2x.png
Labels: [Dialogs], cla: yes

#9887 [Dialogs] Fix comment line length
  components/Dialogs/src/private/MDCAlertControllerView+Private.h
Labels: [Dialogs], cla: yes

#9883 [AppBar] Add AppBarCustomButtonThemeExample.
  components/AppBar/BUILD
  components/AppBar/examples/AppBarCustomButtonThemeExample.swift
Labels: PR:delete-branch-when-merged, PR:merge-when-approved, [AppBar], cla: yes

#9876 [AppBar] Test the UINavigationController accessibilityPerformEscape behavior.
  components/AppBar/tests/unit/AppBarNavigationControllerAccessibilityPerformEscapeTests.swift
Labels: PR:delete-branch-when-merged, PR:merge-when-approved, [AppBar], cla: yes

#9886 [Dialogs] Refactoring alert actions test
  components/Dialogs/tests/snapshot/MDCAlertControllerActionsTests.m
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testVerticalActionsAreOrderedByEmphasis_11_2@2x.png
Labels: [Dialogs], cla: yes

#9875 [Dialogs] Add snapshot test for actions layout issues.
  components/Dialogs/tests/snapshot/MDCAlertControllerActionsTests.m
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testActionsLayoutHorizontallyForCatpitalizedButtonCase_11_2@2x.png
Labels: [Dialogs], cla: yes

#9888 [Dialogs] Publishing Actions API
  components/Dialogs/src/MDCAlertController.h
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/src/private/MDCAlertControllerView+Private.h
Labels: [Dialogs], cla: yes

#9889 [Dialogs] Fix actions order for center and justified actions alignment.
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testLowEmphasisActionsAreCenteredInHorizontalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testLowEmphasisActionsAreJustifiedInHorizontalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testMediumEmphasisActionsAreCenteredInHorizontalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testMediumEmphasisActionsAreJustifiedInHorizontalLayout_11_2@2x.png
Labels: [Dialogs], cla: yes

#9892 [Dialogs] Fix incorrectly stored files in GIT LFS
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testActionsLayoutHorizontallyForCatpitalizedButtonCase_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testVerticalActionsAreOrderedByEmphasis_11_2@2x.png
Labels: cla: yes

#9895 [Dialogs] Add missed accessibility labels for the UI elements of the dialog.
  components/Dialogs/src/MDCAlertController.h
  components/Dialogs/src/MDCAlertController.m
Labels: [Dialogs], cla: yes

#9879 [AppBar] Add a delegate for customizing accessibilityPerformEscape behavior.
  components/AppBar/src/MDCAppBarViewController.h
  components/AppBar/src/MDCAppBarViewController.m
  components/AppBar/tests/unit/AppBarDelegateAccessibilityPerformEscapeTests.swift
Labels: PR:delete-branch-when-merged, PR:merge-when-approved, [AppBar], cla: yes

#9897 [Dialogs] Add a snapshot test for extra long buttons
  components/Dialogs/tests/snapshot/MDCAlertControllerActionsTests.m
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testActionsLayoutHorizontallyForExtraLongButtons_11_2@2x.png
Labels: [Dialogs], cla: yes

#9878 [Dialogs] Fix vertical calculations for wide actions view
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testActionsLayoutHorizontallyForCatpitalizedButtonCase_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testActionsLayoutHorizontallyForExtraLongButtons_11_2@2x.png
Labels: [Dialogs], cla: yes

#9899 [Dialogs] Add snapshots tests for adjustable insets
  components/Dialogs/tests/snapshot/MDCAlertControllerInsetsTests.m
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testAlertActionsHaveCenteredCustomInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testAlertActionsHaveCustomInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testAlertActionsHaveJustifiedCustomInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testAlertActionsHaveJustifiedVerticalCustomInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testAlertActionsHaveVerticalCustomInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testAlertActionsHaveZeroInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testAlertContentAccessoryHaveCustomInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testAlertContentHasCustomInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testAlertContentHasZeroInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testAlertHasCustomInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testAlertTitleHasCustomInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testAlertTitleIconHasCustomInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testAlertTitleIconHasDefaultInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testAlertTitleIconInsetsOverrideTitleInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testAlertTitleIconTitleZeroInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testAlertTitleImageHasNoInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testAlertTitleImageTitleZeroInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testDefaultAlertAccessoryHasDefaultInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testDefaultAlertContentAndAccessoryHaveDefaultInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testDefaultAlertHasDefaultInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testDefaultAlertNoContentHasDefaultInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testDefaultAlertNoTitleHasDefaultInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testDefaultAlertTitleImageHasDefaultInsets_11_2@2x.png
Labels: [Dialogs], cla: yes

#9877 [Dialogs] Fix incorrect vertical layout for uppercase buttons
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/tests/snapshot/MDCAlertControllerActionsTests.m
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testActionsLayoutHorizontallyForCatpitalizedButtonCase_11_2@2x.png
Labels: [Dialogs], cla: yes

#9910 [Dialogs] Minor grammatical fix.
  components/Dialogs/src/MDCDialogTransitionController.h
Labels: [Dialogs], cla: yes

#9911 [FeatureHighlight] Minor docs fix.
  components/FeatureHighlight/src/MDCFeatureHighlightView.h
Labels: [FeatureHighlight], cla: yes
