Repository material-components/material-components-ios, pull requests merged in 2020-08, with the labels that each got.

#10051 v112.0.1
  CHANGELOG.md
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Labels: [Catalog], [LibraryInfo], cla: yes

#10064 v113.1.0
  CHANGELOG.md
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog.xcodeproj/project.pbxproj
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons.xcodeproj/project.pbxproj
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  catalog/Podfile
  components/ActionSheet/tests/unit/MDCActionSheetControllerTests.m
  components/BottomAppBar/src/MDCBottomAppBarView.m
  components/BottomNavigation/examples/BottomNavigationBarControllerExampleViewController.swift
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/src/MaterialBottomNavigation+BottomNavigationController.h
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
  components/BottomNavigation/tests/unit/BottomNavigationItemViewTests.m
  components/BottomNavigation/tests/unit/MDCBottomNavigationBarControllerDelegateTests.m
  components/BottomNavigation/tests/unit/MDCBottomNavigationBarControllerTests.m
  components/BottomNavigation/tests/unit/MDCBottomNavigationBarTests.m
  components/BottomSheet/src/MDCBottomSheetTransitionController.m
  components/ButtonBar/src/MDCButtonBar.h
  components/ButtonBar/src/MDCButtonBar.m
  components/ButtonBar/src/MDCButtonBarButton.h
  components/ButtonBar/src/private/MDCAppBarButtonBarBuilder.h
  components/ButtonBar/src/private/MDCAppBarButtonBarBuilder.m
  components/ButtonBar/src/private/MDCButtonBarButton.m
  components/ButtonBar/tests/unit/MDCButtonBarTests.m
  components/Buttons/src/MDCFloatingButton+Animation.m
  components/Chips/tests/snapshot/MDCChipViewSnapshotTests.m
  components/Dialogs/src/private/MDCAlertActionManager.m
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  components/NavigationDrawer/src/MDCBottomDrawerViewController.h
  components/NavigationDrawer/src/MDCBottomDrawerViewController.m
  components/NavigationDrawer/tests/unit/MDCNavigationDrawerScrollViewTests.m
  components/ScalableFontDescriptor/src/MDCScalableFontDescriptor.h
  components/ScalableFontDescriptor/src/MDCScalableFontDescriptor.m
  components/ScalableFontDescriptor/src/MaterialScalableFontDescriptor.h
  components/ScalableFontDescriptor/tests/unit/MDCScalableFontDescriptorTests.m
  components/Snackbar/examples/SnackbarSimpleExample.m
  components/Snackbar/src/MDCSnackbarManager.h
  components/Snackbar/src/MDCSnackbarManager.m
  components/Snackbar/tests/unit/MDCSnackbarManagerInstanceTests.m
  components/Tabs/src/TabBarView/MDCTabBarView.h
  components/Tabs/src/TabBarView/MDCTabBarView.m
  components/Tabs/src/TabBarView/private/MDCTabBarViewItemView.h
  components/Tabs/src/TabBarView/private/MDCTabBarViewItemView.m
  components/Tabs/tests/unit/TabBarView/MDCTabBarViewTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Labels: [ActionSheet], [BottomAppBar], [BottomNavigation], [BottomSheet], [ButtonBar], [Buttons], [Catalog], [Chips], [Dialogs], [LibraryInfo], [NavigationDrawer], [ScalableFontDescriptor], [Snackbar], [Tabs], cla: yes

#10067 v113.2.0
  CHANGELOG.md
  MaterialComponents.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/BottomNavigation/src/MDCBottomNavigationBar.h
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/src/MDCBottomNavigationBarController.m
  components/BottomNavigation/tests/unit/MDCBottomNavigationBarTests.m
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  components/NavigationBar/examples/NavigationBarAlertExample.swift
  components/NavigationBar/examples/NavigationBarTypicalUseExample.swift
  components/NavigationBar/examples/supplemental/NavigationBarTypicalUseExampleSupplemental.swift
  components/NavigationDrawer/README.md
  components/NavigationDrawer/docs/README.md
  components/NavigationDrawer/docs/assets/bottom-drawer-hero.png
  components/NavigationDrawer/docs/typical-use-drawer-no-header.md
  components/NavigationDrawer/docs/typical-use-drawer.md
  components/NavigationDrawer/docs/typical-use-performant-drawer.md
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.h
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.m
  components/NavigationDrawer/src/MDCBottomDrawerViewController.m
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.h
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
  components/NavigationDrawer/tests/unit/MDCNavigationDrawerScrollViewTests.m
  components/Tabs/src/MDCTabBarViewController.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Labels: [BottomNavigation], [Catalog], [LibraryInfo], [NavigationBar], [NavigationDrawer], [Tabs], cla: yes

#10070 v114.0.0
  CHANGELOG.md
  MaterialComponents.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/ActionSheet/README.md
  components/ActionSheet/docs/README.md
  components/BottomNavigation/README.md
  components/BottomNavigation/examples/BottomNavigationTypicalUseExample.m
  components/BottomNavigation/src/MDCBottomNavigationBar.h
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/tests/unit/MDCBottomNavigationBarTests.m
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  contributing/beta_components.md
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Labels: [ActionSheet], [BottomNavigation], [Catalog], [Dialogs], [LibraryInfo], cla: yes
