Repository material-components/material-components-ios, pull requests merged in 2020-05, with the labels that each got.

#9987 v109.2.0
  CHANGELOG.md
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/ActionSheet/src/MDCActionSheetAction.h
  components/ActionSheet/src/MDCActionSheetController.m
  components/ActionSheet/tests/snapshot/MDCActionSheetControllerSnapshotTests.m
  components/AppBar/README.md
  components/AppBar/docs/assets/top-app-bar-anatomy.png
  components/AppBar/src/MDCAppBarViewController.h
  components/BottomAppBar/src/MDCBottomAppBarView.m
  components/BottomAppBar/tests/snapshot/MDCBottomAppBarSnapshotTests.m
  components/BottomSheet/src/MDCBottomSheetController.m
  components/BottomSheet/src/MDCBottomSheetTransitionController.m
  components/Buttons/docs/fabs.md
  components/Cards/examples/CardsCollectionExample.m
  components/Cards/examples/CardsCollectionTintingExample.m
  components/Cards/examples/EditReorderCollectionViewController.swift
  components/Cards/examples/ToggleButtonCollectionViewController.swift
  components/Chips/examples/ChipsInputExampleViewController.m
  components/Collections/tests/localization/CollectionsLocalizationTests.m
  components/Dialogs/examples/DialogsAccessoryExampleViewController.swift
  components/Dialogs/examples/DialogsAlertComparisonExample.swift
  components/Dialogs/examples/DialogsAlertCustomizationExampleViewController.swift
  components/Dialogs/examples/DialogsAlertExampleViewController.m
  components/Dialogs/examples/DialogsCustomShadowExampleViewController.swift
  components/Dialogs/examples/DialogsDismissingExampleViewController.m
  components/Dialogs/examples/DialogsKeyboardExampleViewController.m
  components/Dialogs/examples/DialogsLongAlertExampleViewController.swift
  components/Dialogs/examples/DialogsRoundedCornerExampleViewController.m
  components/Dialogs/examples/DialogsTallTextAlertExampleViewController.m
  components/Dialogs/examples/DialogsThemedPresentationExampleViewController.swift
  components/Dialogs/examples/DialogsTypicalUseExampleViewController.m
  components/Dialogs/examples/DialogsWithEmphasisButtonExampleViewController.swift
  components/Dialogs/src/MDCAlertController+Customize.h
  components/Dialogs/src/MDCAlertController.h
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/tests/snapshot/MDCAlertControllerInsetsTests.m
  components/Dialogs/tests/unit/MDCAlertControllerTests.m
  components/FlexibleHeader/README.md
  components/FlexibleHeader/examples/FlexibleHeaderTypicalUseExample.m
  components/HeaderStackView/README.md
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  components/NavigationBar/README.md
  components/NavigationBar/examples/NavigationBarWithBarItemsExample.m
  components/TextFields/src/MDCMultilineTextField.m
  components/TextFields/src/MDCTextInputControllerBase.h
  components/TextFields/src/MDCTextInputControllerBase.m
  components/TextFields/src/MDCTextInputControllerOutlined.m
  components/TextFields/tests/localization/MultilineTextFieldLocalizationTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Labels: [ActionSheet], [AppBar], [BottomAppBar], [BottomSheet], [Buttons], [Cards], [Catalog], [Chips], [Collections], [Dialogs], [FlexibleHeader], [HeaderStackView], [LibraryInfo], [NavigationBar], [TextFields], cla: yes

#9992 v109.3.1
  CHANGELOG.md
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Labels: [Catalog], [LibraryInfo], cla: yes

#10003 v109.5.0
  CHANGELOG.md
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/AppBar/examples/AppBarPresentedHiddenExample.m
  components/Buttons/examples/FloatingButtonTypicalUseExample.m
  components/Chips/examples/ChipsTypicalUseViewController.m
  components/Dialogs/README.md
  components/Dialogs/docs/assets/shrine_dialog.png
  components/FlexibleHeader/examples/FlexibleHeaderConfiguratorExample.m
  components/FlexibleHeader/examples/FlexibleHeaderSafeAreaLayoutGuideExample.m
  components/FlexibleHeader/examples/FlexibleHeaderTopLayoutGuideExample.m
  components/FlexibleHeader/src/MDCFlexibleHeaderView+ShiftBehavior.h
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
  components/FlexibleHeader/src/MDCFlexibleHeaderViewController.m
  components/FlexibleHeader/src/ShiftBehavior/MDCFlexibleHeaderShiftBehavior.h
  components/FlexibleHeader/src/ShiftBehavior/MaterialFlexibleHeader+ShiftBehavior.h
  components/FlexibleHeader/src/ShiftBehaviorEnabledWithStatusBar/MDCFlexibleHeaderShiftBehaviorEnabledWithStatusBar.h
  components/FlexibleHeader/src/ShiftBehaviorEnabledWithStatusBar/MaterialFlexibleHeader+ShiftBehaviorEnabledWithStatusBar.h
  components/FlexibleHeader/src/private/MDCFlexibleHeaderShifter.h
  components/FlexibleHeader/src/private/MDCFlexibleHeaderShifter.m
  components/FlexibleHeader/tests/unit/FlexibleHeaderShifterTests.m
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  components/NavigationDrawer/src/Theming/MaterialNavigationDrawer+Theming.h
  components/NavigationDrawer/tests/snapshot/MDCBottomDrawerControllerSnapshotTests.m
  components/Snackbar/src/MDCSnackbarManager.m
  components/Snackbar/src/MDCSnackbarManagerDelegate.h
  components/Snackbar/tests/unit/MDCSnackbarMessageViewTests.m
  components/Snackbar/tests/unit/supplemental/MDCFakeMDCSnackbarManagerDelegate.h
  components/Snackbar/tests/unit/supplemental/MDCFakeMDCSnackbarManagerDelegate.m
  components/Tabs/examples/supplemental/TabBarTextOnlyExampleSupplemental.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Labels: [AppBar], [Buttons], [Catalog], [Chips], [Dialogs], [FlexibleHeader], [LibraryInfo], [NavigationDrawer], [Snackbar], [Tabs], cla: yes
