Repository material-components/material-components-ios, pull requests merged in 2020-01, with the labels that each got.

#8790 [TextFields] Give MDCTextField clear button proper hit area insets
  components/TextFields/src/private/MDCTextInputCommonFundament.h
  components/TextFields/src/private/MDCTextInputCommonFundament.m
  components/TextFields/tests/unit/MDCTextInputCommonFundamentTests.m
Labels: Accessibility, [TextFields], cla: yes

#9360 [TextControls] Use CGFloat consts in theming extensions
  components/TextControls/src/Theming/MDCFilledTextField+MaterialTheming.m
  components/TextControls/src/Theming/MDCOutlinedTextField+MaterialTheming.m
  components/TextControls/src/private/MDCTextControlStyleFilled.m
  components/TextControls/src/private/MDCTextControlStyleOutlined.m
  components/TextControls/tests/unit/Theming/MDCFilledTextFieldThemingTests.m
  components/TextControls/tests/unit/Theming/MDCOutlinedTextFieldThemingTests.m
Labels: [TextControls], cla: yes

#9358 [TextControls] Refactor text control examples
  components/TextControls/BUILD
  components/TextControls/examples/MDCTextControlTextFieldTypicalUseExample.m
  components/TextControls/examples/supplemental/MDCTextControlConfiguratorExample.h
  components/TextControls/examples/supplemental/MDCTextControlConfiguratorExample.m
  components/TextControls/examples/supplemental/MDCTextControlContentViewController.h
  components/TextControls/examples/supplemental/MDCTextControlContentViewController.m
  components/TextControls/examples/supplemental/MDCTextControlTextFieldConfiguratorExample.h
  components/TextControls/examples/supplemental/MDCTextControlTextFieldConfiguratorExample.m
  components/TextControls/examples/supplemental/MDCTextControlTextFieldContentViewController.h
  components/TextControls/examples/supplemental/MDCTextControlTextFieldContentViewController.m
  components/TextControls/examples/supplemental/MDCTraitEnvironmentChangeDelegate.h
Labels: [TextControls], cla: yes

#9366 [automated] Ran buildifier on all BUILD files.
  catalog/BUILD
  components/ActionSheet/BUILD
  components/ActivityIndicator/BUILD
  components/AppBar/BUILD
  components/Banner/BUILD
  components/ButtonBar/BUILD
  components/Chips/BUILD
  components/Dialogs/BUILD
  components/FlexibleHeader/BUILD
  components/LibraryInfo/BUILD
  components/NavigationBar/BUILD
  components/ShadowLayer/BUILD
  components/TextFields/BUILD
  components/private/Application/BUILD
  components/private/Color/BUILD
  components/private/Snapshot/BUILD
Labels: PR:delete-branch-when-merged, PR:merge-when-approved, [ActionSheet], [ActivityIndicator], [AppBar], [Banner], [ButtonBar], [Catalog], [Chips], [Dialogs], [FlexibleHeader], [LibraryInfo], [NavigationBar], [ShadowLayer], [TextFields], [private], cla: yes

#9356 [FlexibleHeader] Delete deprecated contentView property
  components/FlexibleHeader/README.md
  components/FlexibleHeader/src/MDCFlexibleHeaderView.h
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
Labels: [FlexibleHeader], cla: yes

#9365 [bazel] Add a .bazelversion file.
  .bazelversion
  scripts/affected_targets
Labels: PR:delete-branch-when-merged, PR:merge-when-approved, cla: yes

#9367 [Typography] Remove unused import in //components/Typography:SwiftExamples.
  components/Typography/BUILD
Labels: PR:delete-branch-when-merged, PR:merge-when-approved, [Typography], cla: yes

#9369 [bazel] Remove all unused swift_library load statements.
  components/ActionSheet/BUILD
  components/ActivityIndicator/BUILD
  components/AnimationTiming/BUILD
  components/AppBar/BUILD
  components/BottomNavigation/BUILD
  components/BottomSheet/BUILD
  components/ButtonBar/BUILD
  components/Buttons/BUILD
  components/Chips/BUILD
  components/Dialogs/BUILD
  components/Elevation/BUILD
  components/FlexibleHeader/BUILD
  components/HeaderStackView/BUILD
  components/List/BUILD
  components/NavigationDrawer/BUILD
  components/Ripple/BUILD
  components/ShadowElevations/BUILD
  components/ShadowLayer/BUILD
  components/Snackbar/BUILD
  components/TextControls/BUILD
  components/TextFields/BUILD
  components/private/Application/BUILD
  components/private/Color/BUILD
  components/private/Dragons/BUILD
  components/private/UIMetrics/BUILD
Labels: PR:delete-branch-when-merged, PR:merge-when-approved, [ActionSheet], [ActivityIndicator], [AnimationTiming], [AppBar], [BottomNavigation], [BottomSheet], [ButtonBar], [Buttons], [Chips], [Dialogs], [Elevation], [FlexibleHeader], [HeaderStackView], [List], [NavigationDrawer], [Ripple], [ShadowElevations], [ShadowLayer], [Snackbar], [TextControls], [TextFields], [private], cla: yes

#9321 [NavigationDrawer] Added ability to account for bottom safe area in presentation of initial drawer height
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.h
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.m
  components/NavigationDrawer/src/MDCBottomDrawerViewController.h
  components/NavigationDrawer/src/MDCBottomDrawerViewController.m
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.h
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
  components/NavigationDrawer/tests/unit/MDCNavigationDrawerPresentationControllerTests.m
  components/NavigationDrawer/tests/unit/MDCNavigationDrawerTest.m
Labels: [NavigationDrawer], cla: yes

#9368 [bazel] Implement Swift import rewriting as part of Bazel.
  .kokoro
  catalog/BUILD
  components/private/Snapshot/BUILD
  contributing/bazel_kokoro.md
  material_components_ios.bzl
  scripts/bazel_import_rewriter/BUILD
  scripts/bazel_import_rewriter/bazel_import_rewriter.sh
Labels: [ActionSheet], [ActivityIndicator], [AnimationTiming], [AppBar], [Banner], [BottomNavigation], [BottomSheet], [ButtonBar], [Buttons], [Catalog], [Chips], [Dialogs], [Elevation], [FlexibleHeader], [HeaderStackView], [LibraryInfo], [List], [NavigationBar], [NavigationDrawer], [Ripple], [ShadowElevations], [ShadowLayer], [Snackbar], [TextControls], [TextFields], [Typography], [private], cla: yes

#9375 [bazel] Add a .bazelrc file.
  .bazelrc
Labels: PR:delete-branch-when-merged, PR:merge-when-approved, cla: yes

#9376 [bazel] Remove all unused mdc_objc_library loads.
  components/ActivityIndicator/BUILD
  components/AnimationTiming/BUILD
  components/Banner/BUILD
  components/Cards/BUILD
  components/CollectionCells/BUILD
  components/CollectionLayoutAttributes/BUILD
  components/Elevation/BUILD
  components/HeaderStackView/BUILD
  components/LibraryInfo/BUILD
  components/List/BUILD
  components/NavigationBar/BUILD
  components/OverlayWindow/BUILD
  components/Palettes/BUILD
  components/ShadowElevations/BUILD
  components/ShadowLayer/BUILD
  components/ShapeLibrary/BUILD
  components/Shapes/BUILD
  components/Themes/BUILD
  components/private/Application/BUILD
  components/private/Color/BUILD
  components/private/Icons/BUILD
  components/private/KeyboardWatcher/BUILD
Labels: PR:delete-branch-when-merged, PR:merge-when-approved, [ActivityIndicator], [AnimationTiming], [Banner], [Cards], [CollectionCells], [CollectionLayoutAttributes], [Elevation], [HeaderStackView], [LibraryInfo], [List], [NavigationBar], [OverlayWindow], [Palettes], [ShadowElevations], [ShadowLayer], [ShapeLibrary], [Shapes], [Themes], [private], cla: yes

#9379 [Dialogs] Remove unused motion_transitioning_objc dependency.
  WORKSPACE
  components/Dialogs/BUILD
Labels: PR:delete-branch-when-merged, PR:merge-when-approved, [Dialogs], cla: yes

#9373 [Snackbar] Update reference image for testSnackbarOverlayViewWithHighElevation
  components/Snackbar/tests/snapshot/MDCSnackbarMessageViewSnapshotTests.m
Labels: [Snackbar], cla: yes

#9386 [Snackbar] clipToBounds for legacy Snackbar
  components/Snackbar/src/private/MDCSnackbarOverlayView.m
Labels: [Snackbar], cla: yes

#9389 [Snackbar] Accessibility focus change to include the accessibilityHint being announced
  components/Snackbar/src/MDCSnackbarManager.m
Labels: [Snackbar], cla: yes

#9391 [ColorScheme] deprecate init method and update documentation to reflect its purpose.
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationBarThemingSnapshotTests.m
  components/BottomNavigation/tests/unit/Theming/MDCBottomNavigationThemingTests.m
  components/Tabs/tests/unit/Theming/TabsThemingTests.m
  components/TextControls/examples/supplemental/MDCTextControlContentViewController.m
  components/TextControls/tests/unit/Theming/MDCFilledTextFieldThemingTests.m
  components/TextControls/tests/unit/Theming/MDCOutlinedTextFieldThemingTests.m
  components/schemes/Color/src/MDCSemanticColorScheme.h
  components/schemes/Color/src/MDCSemanticColorScheme.m
  components/schemes/Color/tests/unit/MDCSemanticColorSchemeTests.m
Labels: [BottomNavigation], [Tabs], [TextControls], [schemes], cla: yes

#9396 Revert "[ColorScheme] deprecate init method and update documentation to reflect its purpose. (#9391)"
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationBarThemingSnapshotTests.m
  components/BottomNavigation/tests/unit/Theming/MDCBottomNavigationThemingTests.m
  components/Tabs/tests/unit/Theming/TabsThemingTests.m
  components/TextControls/examples/supplemental/MDCTextControlContentViewController.m
  components/TextControls/tests/unit/Theming/MDCFilledTextFieldThemingTests.m
  components/TextControls/tests/unit/Theming/MDCOutlinedTextFieldThemingTests.m
  components/schemes/Color/src/MDCSemanticColorScheme.h
  components/schemes/Color/src/MDCSemanticColorScheme.m
  components/schemes/Color/tests/unit/MDCSemanticColorSchemeTests.m
Labels: [BottomNavigation], [Tabs], [TextControls], [schemes], cla: yes

#9418 [Docs] Replace releasing instructions with general steps.
  contributing/releasing.md
Labels: Accessibility, [ActionMenu], [Documentation], cla: yes, type:Documentation

#9423 [Chips] Tests to evaluate `padding` APIs.
  components/Chips/tests/snapshot/MDCChipViewLayoutSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipAccessoryPaddingAllNegativeValuesLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipAccessoryPaddingAllNegativeValuesRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipAccessoryPaddingAllPositiveValuesLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipAccessoryPaddingAllPositiveValuesRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipAccessoryPaddingShiftDown_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipAccessoryPaddingShiftToLeadingEdgeLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipAccessoryPaddingShiftToLeadingEdgeRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipAccessoryPaddingShiftToTrailingEdgeLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipAccessoryPaddingShiftToTrailingEdgeRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipAccessoryPaddingShiftUp_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipContentPaddingAllNegativeValuesLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipContentPaddingAllNegativeValuesRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipContentPaddingAllPositiveValuesLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipContentPaddingAllPositiveValuesRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipContentPaddingShiftDown_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipContentPaddingShiftToLeadingEdgeLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipContentPaddingShiftToLeadingEdgeRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipContentPaddingShiftToTrailingEdgeLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipContentPaddingShiftToTrailingEdgeRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipContentPaddingShiftUp_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipImagePaddingAllNegativeValuesLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipImagePaddingAllNegativeValuesRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipImagePaddingAllPositiveValuesLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipImagePaddingAllPositiveValuesRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipImagePaddingShiftDown_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipImagePaddingShiftToLeadingEdgeLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipImagePaddingShiftToLeadingEdgeRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipImagePaddingShiftToTrailingEdgeLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipImagePaddingShiftToTrailingEdgeRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipImagePaddingShiftUp_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipTitlePaddingAllNegativeValuesLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipTitlePaddingAllNegativeValuesRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipTitlePaddingAllPositiveValuesLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipTitlePaddingAllPositiveValuesRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipTitlePaddingShiftDown_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipTitlePaddingShiftToLeadingEdgeLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipTitlePaddingShiftToLeadingEdgeRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipTitlePaddingShiftToTrailingEdgeLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipTitlePaddingShiftToTrailingEdgeRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipTitlePaddingShiftUp_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipWithAllZeroPadding_11_2@2x.png
Labels: [Chips], cla: yes, type:Test

#9425 [Chips] Add snapshot tests for selectedImage layout.
  components/Chips/tests/snapshot/MDCChipViewLayoutSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testSelectedChipImagePaddingAllPositiveValuesForLargeSelectedImageLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testSelectedChipImagePaddingAllPositiveValuesForOnlySelectedImageLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testUnselectedChipImagePaddingAllNegativeValuesLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testUnselectedChipImagePaddingAllNegativeValuesRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testUnselectedChipImagePaddingAllPositiveValuesForLargeSelectedImageLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testUnselectedChipImagePaddingAllPositiveValuesForOnlySelectedImageLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testUnselectedChipImagePaddingAllPositiveValuesLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testUnselectedChipImagePaddingAllPositiveValuesRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testUnselectedChipImagePaddingShiftDown_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testUnselectedChipImagePaddingShiftToLeadingEdgeLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testUnselectedChipImagePaddingShiftToLeadingEdgeRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testUnselectedChipImagePaddingShiftToTrailingEdgeLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testUnselectedChipImagePaddingShiftToTrailingEdgeRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testUnselectedChipImagePaddingShiftUp_11_2@2x.png
Labels: [Chips], cla: yes, type:Test

#9394 [AppBar] Annotate MDCAppBarContainerViewController's appBar and topLayoutGuideAdjustmentEnabled as to be deprecated.
  components/AppBar/src/MDCAppBarContainerViewController.h
  components/AppBar/src/MDCAppBarContainerViewController.m
Labels: PR:delete-branch-when-merged, PR:merge-when-approved, [AppBar], cla: yes

#9411 [NavigationDrawer] Fix #9410
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.m
Labels: [NavigationDrawer], cla: yes

#9428 [Snackbar] Add tvOS support to MDCSnackbar.
  components/Snackbar/src/MDCSnackbarMessageView.m
  components/Snackbar/src/private/MDCSnackbarOverlayView.m
Labels: [Snackbar], cla: yes

#9427 [Buttons] Add tvOS support to MDCButton.
  components/Buttons/src/MDCButton.m
Labels: [Buttons], cla: yes

#9383 [Dialogs] Layout fix for MDCAlertController
  components/Dialogs/src/MDCAlertController.m
Labels: [Dialogs], cla: yes

#9395 [AppBar] Annotate MDCAppBarNavigationControllerDelegate's appBarNavigationController:willAddAppBar:asChildOfViewController: as to be deprecated.
  components/AppBar/src/MDCAppBarNavigationController.h
Labels: PR:delete-branch-when-merged, PR:merge-when-approved, [AppBar], cla: yes

#9440 [Chips] Fix `contentPadding` API.
  components/Chips/src/MDCChipView.m
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipContentPaddingAllNegativeValuesLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipContentPaddingAllNegativeValuesRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipContentPaddingAllPositiveValuesLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipContentPaddingAllPositiveValuesRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipContentPaddingShiftDown_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipContentPaddingShiftUp_11_2@2x.png
Labels: [Chips], cla: yes

#9441 [Chips] Additional `imagePadding` tests.
  components/Chips/tests/snapshot/MDCChipViewLayoutSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipImagePaddingWithoutImagesLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testSelectedChipImagePaddingAllPositiveValuesForSmallSelectedImageLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testUnselectedChipImagePaddingAllPositiveValuesForSmallSelectedImageLTR_11_2@2x.png
Labels: [Chips], cla: yes, type:Test

#9442 [Chips] Fix `imagePadding` behavior.
  components/Chips/src/MDCChipView.m
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testChipImagePaddingWithoutImagesLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testSelectedChipImagePaddingAllPositiveValuesForLargeSelectedImageLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testSelectedChipImagePaddingAllPositiveValuesForOnlySelectedImageLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testSelectedChipImagePaddingAllPositiveValuesForSmallSelectedImageLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testUnselectedChipImagePaddingAllNegativeValuesLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testUnselectedChipImagePaddingAllNegativeValuesRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testUnselectedChipImagePaddingAllPositiveValuesForLargeSelectedImageLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testUnselectedChipImagePaddingAllPositiveValuesForOnlySelectedImageLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testUnselectedChipImagePaddingAllPositiveValuesForSmallSelectedImageLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testUnselectedChipImagePaddingAllPositiveValuesLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testUnselectedChipImagePaddingAllPositiveValuesRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testUnselectedChipImagePaddingShiftToTrailingEdgeLTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipViewLayoutSnapshotTests/testUnselectedChipImagePaddingShiftToTrailingEdgeRTL_11_2@2x.png
Labels: [Chips], cla: yes

#9437 [TextFields] Add theming extension for underline controller
  components/TextFields/examples/TextFieldControllerStylesExample.m
  components/TextFields/examples/supplemental/TextFieldControllerStylesExampleSupplemental.h
  components/TextFields/src/Theming/MDCTextInputControllerUnderline+MaterialTheming.h
  components/TextFields/src/Theming/MDCTextInputControllerUnderline+MaterialTheming.m
  components/TextFields/src/Theming/MaterialTextFields+Theming.h
  components/TextFields/tests/unit/Theming/MDCTextFieldControllerUnderline_MaterialThemingTests.swift
Labels: PR:merge-when-approved, [TextFields], cla: yes

#8224 [NavigationDrawer] Enable changing the preferred size and maximum height
  components/NavigationDrawer/examples/BottomDrawerInfiniteScrollingExample.swift
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.h
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.m
  components/NavigationDrawer/src/MDCBottomDrawerViewController.h
  components/NavigationDrawer/src/MDCBottomDrawerViewController.m
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.h
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
  components/NavigationDrawer/tests/snapshot/MDCBottomDrawerControllerSnapshotTests.m
  components/NavigationDrawer/tests/unit/MDCNavigationDrawerScrollViewTests.m
  snapshot_test_goldens/goldens_64/MDCBottomDrawerControllerSnapshotTests/testPresentedDrawerWithColoredViews_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCBottomDrawerControllerSnapshotTests/testPresentedDrawerWithShadowElevation_11_2@2x.png
Labels: [NavigationDrawer], cla: yes

#9466 [TextControls] Update TextControls README
  components/TextControls/README.md
  components/TextControls/docs/installation.md
Labels: [TextControls], cla: yes

#9448 [AppBar] Fix swipe to go back gesture for MDCAppBarNavigationController.
  catalog/MDCCatalog/AppDelegate.swift
  components/AppBar/src/MDCAppBarNavigationController.m
  components/AppBar/tests/unit/AppBarNavigationControllerInteractivePopGestureTests.m
Labels: [AppBar], [Catalog], cla: yes

#9458 [Dialogs] Use dot notation for properties and copyedits.
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Labels: [Dialogs], cla: yes

#9472 [Snackbar] Update dismiss animation duration
  components/Snackbar/src/private/MDCSnackbarOverlayView.m
Labels: [Snackbar], cla: yes

#9474 [Snackbar] Support orientation changes that respect safe area
  components/Snackbar/src/MDCSnackbarMessageView.m
  components/Snackbar/src/private/MDCSnackbarOverlayView.m
Labels: [Snackbar], cla: yes

#9449 [ActionSheet] Action sheet divider
  components/ActionSheet/BUILD
  components/ActionSheet/src/MDCActionSheetController.h
  components/ActionSheet/src/MDCActionSheetController.m
  components/ActionSheet/src/private/MDCActionSheetItemTableViewCell.h
  components/ActionSheet/src/private/MDCActionSheetItemTableViewCell.m
  components/ActionSheet/tests/snapshot/MDCActionSheetItemTableViewCellSnapshotTests.m
  components/ActionSheet/tests/unit/MDCActionSheetTableCellTest.m
  snapshot_test_goldens/goldens_64/MDCActionSheetItemTableViewCellSnapshotTests/testCellWithTitleAndImageAndDivider_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetItemTableViewCellSnapshotTests/testCellWithTitleAndImage_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetItemTableViewCellSnapshotTests/testCellWithTitleImageAndDividerAndNegativeContentEdgeInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetItemTableViewCellSnapshotTests/testCellWithTitleImageAndDividerAndPositiveContentEdgeInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetItemTableViewCellSnapshotTests/testCellWithTitleImageAndDividerClearColor_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCActionSheetItemTableViewCellSnapshotTests/testCellWithTitleImageAndDividerUnbalancedContentEdgeInsets_11_2@2x.png
Labels: [ActionSheet], cla: yes

#9475 [ActionSheet] Add delegate to support dismissal notification
  components/ActionSheet/README.md
  components/ActionSheet/examples/ActionSheetTypicalUseExample.m
  components/ActionSheet/src/MDCActionSheetController.h
  components/ActionSheet/src/MDCActionSheetController.m
  components/ActionSheet/tests/unit/MDCActionSheetControllerDelegateTests.m
Labels: [ActionSheet], cla: yes

#9438 [ProgressView] Allow the progress view to be sized to fractional points.
  components/ProgressView/src/MDCProgressView.m
  snapshot_test_goldens/goldens_64/MDCProgressViewCornerRadiusSnapshotTests/testProgress097LTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCProgressViewCornerRadiusSnapshotTests/testProgress097RTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCProgressViewSnapshotTests/testProgress097LTR_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCProgressViewSnapshotTests/testProgress097RTL_11_2@2x.png
Labels: [ProgressView], [testing], cla: yes

#9479 [Snackbar] Add example to show snackbar with keyboard
  components/Snackbar/BUILD
  components/Snackbar/examples/SnackbarKeyboardExample.swift
Labels: [Snackbar], cla: yes

#9480 [TextFields] Add identity check in -setTextColor: in MDCTextField
  components/TextFields/src/MDCTextField.m
Labels: [TextFields], cla: yes

#9486 [FeatureHighlight] Allow UIAccessibility to activate the "dismiss" affordance.
  components/FeatureHighlight/src/MDCFeatureHighlightViewController.m
  components/FeatureHighlight/src/private/MDCFeatureHighlightView+Private.h
  components/FeatureHighlight/src/private/MDCFeatureHighlightView+Private.m
Labels: Client-blocking, [FeatureHighlight], cla: yes

#9489 [BottomNavigation] Fix bug in delegate method call
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  components/BottomNavigation/BUILD
  components/BottomNavigation/src/MDCBottomNavigationBarController.m
  components/BottomNavigation/tests/unit/MDCBottomNavigationBarControllerDelegateTests.m
Labels: [BottomNavigation], cla: yes

#9492 [FlexibleHeader] Annotate to-be-deprecated APIs accordingly.
  components/FlexibleHeader/src/MDCFlexibleHeaderView.h
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
Labels: PR:delete-branch-when-merged, PR:merge-when-approved, cla: yes

#9451 [BottomNavigation] Adds large content viewer support
  components/BottomNavigation/src/MDCBottomNavigationBar.h
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/src/MDCBottomNavigationBarController.m
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.h
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
  components/BottomNavigation/tests/unit/MDCBottomNavigationBarTests.m
Labels: [BottomNavigation], [private], cla: yes

#9471 [NavigationDrawer] Update `transitionPercentageForContentOffset:` to use `kEpsilon`
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
Labels: [NavigationDrawer], cla: yes
