Repository material-components/material-components-ios, pull requests merged in 2020-10, with the labels that each got.

#10096 v118.0.0 Release Candidate
  CHANGELOG.md
  MaterialComponents.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  catalog/Podfile
  components/ActionSheet/examples/ActionSheetComparisonExample.m
  components/ActionSheet/examples/ActionSheetTypalUseSwiftExample.swift
  components/ActionSheet/examples/ActionSheetTypicalUseExample.m
  components/ActionSheet/tests/unit/ActionSheetTestHelpers.h
  components/ActionSheet/tests/unit/ActionSheetTestHelpers.m
  components/ActionSheet/tests/unit/MDCActionSheetControllerRippleTests.m
  components/ActionSheet/tests/unit/MDCActionSheetControllerSwiftTests.swift
  components/ActionSheet/tests/unit/MDCActionSheetControllerTests.m
  components/ActionSheet/tests/unit/MDCActionSheetControllerThemingTests.m
  components/ActionSheet/tests/unit/MDCActionSheetItemTableViewCellTests.m
  components/Chips/README.md
  components/Chips/docs/README.md
  components/Chips/docs/assets/chips-anatomy.png
  components/Chips/docs/assets/chips-composite.png
  components/Chips/docs/assets/chips-hero.png
  components/Chips/docs/assets/shrine-chips.png
  components/Chips/docs/chips-collections.md
  components/Chips/docs/enable-chips-that-delete.md
  components/Chips/docs/examples.md
  components/Chips/docs/theming.md
  components/Chips/docs/tips.md
  components/Dialogs/src/MDCAlertController.m
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  components/Snackbar/src/MDCSnackbarManager.h
  components/Snackbar/src/MDCSnackbarManager.m
  components/Snackbar/tests/unit/MDCSnackbarManagerInstanceTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Labels: [ActionSheet], [Catalog], [Chips], [Dialogs], [LibraryInfo], [Snackbar], cla: yes

#10099 v118.0.1
  CHANGELOG.md
  MaterialComponents.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.m
  components/NavigationDrawer/src/MDCBottomDrawerViewController.m
  components/NavigationDrawer/tests/unit/MDCNavigationDrawerScrollViewTests.m
  components/Snackbar/README.md
  components/Snackbar/docs/README.md
  components/Snackbar/docs/assets/snackbar-example.png
  components/Snackbar/docs/assets/snackbar.png
  components/Snackbar/docs/assets/snackbars-anatomy.png
  components/Snackbar/docs/assets/snackbars-hero.png
  components/Snackbar/docs/color-theming.md
  components/Snackbar/docs/typical-use-display-a-message-with-action.md
  components/Snackbar/docs/typical-use-display-a-message.md
  components/private/Math/src/MDCMath.h
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Labels: [Catalog], [LibraryInfo], [NavigationDrawer], [Snackbar], [private], cla: yes

#10103 v118.1.0
  CHANGELOG.md
  MaterialComponents.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  components/TextControls/examples/supplemental/MDCTextControlTextAreaConfiguratorExample.m
  components/TextControls/examples/supplemental/MDCTextControlTextFieldConfiguratorExample.m
  components/TextControls/src/BaseTextFields/MDCBaseTextField.m
  components/TextControls/src/BaseTextFields/MDCBaseTextFieldDelegate.h
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Labels: [Catalog], [LibraryInfo], [TextControls], cla: yes

#10106 v118.2.0
  CHANGELOG.md
  MaterialComponents.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/Banner/README.md
  components/Banner/docs/README.md
  components/Banner/docs/assets/banner-anatomy.png
  components/Banner/docs/assets/banner-example.png
  components/Banner/docs/assets/banner-hero.png
  components/Banner/docs/assets/banner.png
  components/Banner/docs/assets/shrine-banner.png
  components/Banner/docs/examples.md
  components/Banner/docs/installation.md
  components/Banner/docs/typical-use.md
  components/Buttons/src/MDCButton.m
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/src/private/MDCAlertActionManager.m
  components/Dialogs/tests/unit/MDCAlertActionManagerTests.m
  components/Dialogs/tests/unit/MDCAlertControllerTests.m
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  components/Snackbar/examples/SnackbarSimpleExample.m
  components/Snackbar/src/MDCSnackbarManagerDelegate.h
  components/Snackbar/tests/unit/supplemental/MDCFakeMDCSnackbarManagerDelegate.m
  components/Tabs/src/TabBarView/MDCTabBarView.m
  components/Tabs/src/TabBarView/private/MDCTabBarViewItemView.m
  components/Tabs/tests/unit/TabBarView/MDCTabBarViewItemViewTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Labels: [Banner], [Buttons], [Catalog], [Dialogs], [LibraryInfo], [Snackbar], [Tabs], cla: no
