Repository material-components/material-components-ios, pull requests merged in 2020-02, with the labels that each got.

#9660 [CODEOWNERS] Remove romoore@
  CODEOWNERS
Labels: cla: yes

#9678 [Availability] add Availability build file
  components/Availability/BUILD
Labels: PR:delete-branch-when-merged, PR:merge-when-approved, [Availability], cla: yes

#9682 Add UITextView subclass used by text area
  components/TextControls/src/BaseTextAreas/private/MDCBaseTextAreaTextView.h
  components/TextControls/src/BaseTextAreas/private/MDCBaseTextAreaTextView.m
  components/TextControls/src/BaseTextFields/MDCBaseTextField.m
  components/private/TextControlsPrivate/src/Shared/MDCTextControl.h
Labels: [TextControls], [private], cla: yes

#9679 add deps on availability for a bunch of components
  components/Banner/BUILD
  components/Banner/tests/unit/Theming/MDCBannerViewThemingTests.m
  components/BottomNavigation/BUILD
  components/BottomNavigation/examples/BottomNavigationTypicalUseExample.m
  components/BottomNavigation/src/MDCBottomNavigationBar.h
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
  components/BottomNavigation/tests/unit/MDCBottomNavigationBarTests.m
  components/Buttons/BUILD
  components/Buttons/tests/snapshot/ButtonCustomTraitCollectionSnapshotTests.m
  components/Elevation/BUILD
  components/Elevation/src/UIColor+MaterialElevation.m
  components/Elevation/tests/unit/MaterialElevationColorTests.m
  components/FeatureHighlight/BUILD
  components/FeatureHighlight/src/private/MDCFeatureHighlightView+Private.m
Labels: PR:delete-branch-when-merged, PR:merge-when-approved, [Availability], [Banner], [BottomNavigation], [Buttons], [Elevation], [FeatureHighlight], cla: yes

#9662 [Buttons] Delete deprecated MDCFloatingActionButtonThemer
  components/Buttons/src/ButtonThemer/MDCFloatingActionButtonThemer.h
  components/Buttons/src/ButtonThemer/MDCFloatingActionButtonThemer.m
  components/Buttons/src/ButtonThemer/MaterialButtons+ButtonThemer.h
  components/Buttons/tests/unit/ButtonThemerTests.m
Labels: [Buttons], cla: yes

#9684 [TextControls] Add Initial text area class
  components/TextControls/src/BaseTextAreas/MDCBaseTextArea.h
  components/TextControls/src/BaseTextAreas/MDCBaseTextArea.m
  components/TextControls/src/BaseTextAreas/private/MDCBaseTextAreaTextView.m
Labels: [TextControls], [private], cla: yes

#9688 [Buttons] Delete deprecated MDCOutlinedButtonThemer
  components/Buttons/docs/theming-with-themers.md
  components/Buttons/src/ButtonThemer/MDCOutlinedButtonThemer.h
  components/Buttons/src/ButtonThemer/MDCOutlinedButtonThemer.m
  components/Buttons/src/ButtonThemer/MaterialButtons+ButtonThemer.h
  components/Buttons/tests/unit/ButtonThemerTests.m
  components/Dialogs/src/DialogThemer/MDCAlertControllerThemer.m
Labels: [Buttons], [Dialogs], cla: yes

#9689 [TextFields] Delete deprecated MDCTextFieldTypographyThemer
  components/TextFields/src/Theming/MDCTextInputControllerFilled+MaterialTheming.m
  components/TextFields/src/Theming/MDCTextInputControllerOutlined+MaterialTheming.m
  components/TextFields/src/TypographyThemer/MDCTextFieldTypographyThemer.h
  components/TextFields/src/TypographyThemer/MDCTextFieldTypographyThemer.m
  components/TextFields/src/TypographyThemer/MaterialTextFields+TypographyThemer.h
  components/TextFields/tests/unit/TextFieldTypographyThemer.m
Labels: [TextFields], cla: yes

#9691 [TextFields] Update snapshot goldens
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerPreferredFontAXXXLSnapshotTests/testTextFieldWithLongErrorText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerPreferredFontAXXXLSnapshotTests/testTextFieldWithLongHelperText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerPreferredFontAXXXLSnapshotTests/testTextFieldWithLongPlaceholderTextDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerPreferredFontAXXXLSnapshotTests/testTextFieldWithLongPlaceholderText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerPreferredFontAXXXLSnapshotTests/testTextFieldWithShortErrorText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerPreferredFontAXXXLSnapshotTests/testTextFieldWithShortHelperText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerPreferredFontAXXXLSnapshotTests/testTextFieldWithShortPlaceholderTextDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerPreferredFontAXXXLSnapshotTests/testTextFieldWithShortPlaceholderText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerPreferredFontXSSnapshotTests/testTextFieldWithLongErrorText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerPreferredFontXSSnapshotTests/testTextFieldWithLongHelperText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerPreferredFontXSSnapshotTests/testTextFieldWithLongPlaceholderTextDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerPreferredFontXSSnapshotTests/testTextFieldWithLongPlaceholderText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerPreferredFontXSSnapshotTests/testTextFieldWithShortErrorText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerPreferredFontXSSnapshotTests/testTextFieldWithShortHelperText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerPreferredFontXSSnapshotTests/testTextFieldWithShortPlaceholderTextDisabled_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldFilledControllerPreferredFontXSSnapshotTests/testTextFieldWithShortPlaceholderText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerPreferredFontAXXXLSnapshotTests/testTextFieldWithLongPlaceholderText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerPreferredFontAXXXLSnapshotTests/testTextFieldWithShortPlaceholderText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerPreferredFontXSSnapshotTests/testTextFieldWithLongPlaceholderText_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCTextFieldOutlinedControllerPreferredFontXSSnapshotTests/testTextFieldWithShortPlaceholderText_11_2@2x.png
Labels: cla: yes

#9698 [Snackbar] [FeatureHighlight] Fix failing snapshot tests
  snapshot_test_goldens/goldens_64/MDCFeatureHighlightSnapshotTests/testPreferredFontForAXXXLContentSizeCategory_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCFeatureHighlightSnapshotTests/testPreferredFontForXSContentSizeCategory_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCSnackbarMessageViewSnapshotTests/testSnackbarOverlayViewWithHighElevation_11_2@2x.png
Labels: cla: yes

#9692 [Dialogs] Adding accessory view vertical inset to private header
  components/Dialogs/src/private/MDCAlertControllerView+Private.h
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Labels: [Dialogs], cla: yes

#9705 [Buttons] Fix tvOS target bug.
  components/Buttons/src/MDCButton.m
Labels: PR:delete-branch-when-merged, PR:merge-when-approved, [Buttons], cla: yes, kokoro:force-run

#9696 Delete NavigationDrawer OWNERS file
  components/NavigationDrawer/OWNERS
Labels: PR:delete-branch-when-merged, PR:merge-when-approved, cla: yes

#9697 Delete Dialogs OWNERS file
  components/Dialogs/OWNERS
Labels: PR:delete-branch-when-merged, PR:merge-when-approved, cla: yes

#9711 [TextControls] Changes from text-area-feature-branch with additional podspec and BUILD file changes
  MaterialComponents.podspec
  components/TextControls/BUILD
  components/TextControls/src/BaseTextAreas/MDCBaseTextArea.h
  components/TextControls/src/BaseTextAreas/MDCBaseTextArea.m
  components/TextControls/src/BaseTextAreas/private/MDCBaseTextAreaTextView.h
  components/TextControls/src/BaseTextAreas/private/MDCBaseTextAreaTextView.m
  components/TextControls/src/BaseTextFields/MDCBaseTextField.m
  components/private/TextControlsPrivate/src/Shared/MDCTextControl.h
Labels: [TextControls], [private], cla: yes

#9718 [TextControls] Remove empty test_spec from podspec
  MaterialComponents.podspec
Labels: cla: yes

#9720 [Material][Availability] Migrates Text Controls to MDCAvailability
  MaterialComponents.podspec
  components/private/TextControlsPrivate/BUILD
  components/private/TextControlsPrivate/src/FilledStyle/MDCTextControlStyleFilled.m
  components/private/TextControlsPrivate/src/OutlinedStyle/MDCTextControlStyleOutlined.m
Labels: [private], cla: yes

#9704 [Material][Availability] Migrates Slider to MDCAvailability.
  components/Slider/tests/snapshot/MDCSliderSnapshotTests.m
Labels: PR:delete-branch-when-merged, PR:merge-when-approved, [Slider], cla: yes

#9701 [private] Move static const to MDCTextControl.m
  components/private/TextControlsPrivate/src/Shared/MDCTextControl.h
  components/private/TextControlsPrivate/src/Shared/MDCTextControl.m
Labels: [private], cla: yes

#9733 [Material][Availability] Migrates Action sheet to MDCAvailability.
  MaterialComponents.podspec
  components/ActionSheet/src/MDCActionSheetController.m
  components/ActionSheet/src/Theming/MDCActionSheetController+MaterialTheming.m
  components/ActionSheet/tests/unit/Theming/MDCActionSheetThemingTest.m
Labels: [ActionSheet], cla: yes

#9735 [Material][Availability] Migrates activity indicator to MDCAvailability.
  components/ActivityIndicator/BUILD
  components/ActivityIndicator/tests/snapshot/MDCActivityIndicatorSnapshotTests.m
Labels: [ActivityIndicator], cla: yes

#9738 [private] Make private/color use availability
  MaterialComponents.podspec
  components/private/Color/BUILD
  components/private/Color/src/UIColor+MaterialDynamic.m
  components/private/Color/tests/unit/MaterialColorTests.m
Labels: [private], cla: yes

#9739 [Material][Availability] Migrates Snackbar to MDCAvailability.
  MaterialComponents.podspec
  components/Snackbar/BUILD
  components/Snackbar/src/MDCSnackbarMessageView.m
  components/Snackbar/src/private/MDCSnackbarOverlayView.m
Labels: [Snackbar], cla: yes

#9741 [Material][Availability] Migrates Ink to MDCAvailability.
  MaterialComponents.podspec
  components/Ink/BUILD
  components/Ink/src/private/MDCLegacyInkLayer.m
  components/Ink/tests/snapshot/MDCInkViewSnapshotTests.m
Labels: [Ink], cla: yes

#9736 [Material][Availability] Migrates Schemes to MDCAvailability
  MaterialComponents.podspec
  components/schemes/Color/BUILD
  components/schemes/Color/tests/unit/MDCSemanticColorSchemeTests.m
Labels: [schemes], cla: yes

#9744 [Material][Availability] Migrates Flexible Header to MDCAvailability.
  MaterialComponents.podspec
  components/FlexibleHeader/BUILD
  components/FlexibleHeader/src/MDCFlexibleHeaderViewController.m
  components/FlexibleHeader/tests/snapshot/MDCFlexibleHeaderSnapshotTests.m
Labels: [FlexibleHeader], cla: yes

#9715 Add @jakerockland to CODEOWNERS: NavigationDrawer
  CODEOWNERS
Labels: cla: yes

#9743 [Dialogs] Migrate dialogs to availability
  components/Dialogs/BUILD
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/src/private/MDCAlertControllerView+Private.h
  components/Dialogs/tests/snapshot/MDCAlertControllerActionsTests.m
  components/Dialogs/tests/snapshot/MDCAlertControllerCustomTraitCollectionTests.m
Labels: [Dialogs], cla: yes

#9717 [Material][Availability] Migrates Bottom Navigation to MDCAvailability.
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationBarSnapshotTests.m
Labels: PR:delete-branch-when-merged, PR:merge-when-approved, [BottomNavigation], cla: yes

#9713 [Material][Availability] Migrates Chips to MDCAvailability.
  components/Chips/tests/snapshot/MDCChipViewCustomTraitCollectionSnapshotTests.m
Labels: PR:delete-branch-when-merged, PR:merge-when-approved, [Chips], cla: yes

#9716 [Material][Availability] Migrates Tabs to MDCAvailability.
  components/Tabs/BUILD
  components/Tabs/tests/snapshot/MDCTabBarDynamicColorSnapshotTests.m
Labels: PR:delete-branch-when-merged, PR:merge-when-approved, [Tabs], cla: yes

#9728 [Material][Availability] Migrates cards to MDCAvailability.
  components/Cards/BUILD
  components/Cards/tests/snapshot/MDCCardCustomTraitCollectionSnapshotTests.m
Labels: PR:delete-branch-when-merged, PR:merge-when-approved, [Cards], cla: yes

#9745 Fix invalid podspec
  MaterialComponents.podspec
Labels: cla: yes

#9721 [Dialogs] Fix custom title icon view layout - top inset
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Labels: [Dialogs], cla: yes

#9748 Remove unneeded subspec
  MaterialComponents.podspec
Labels: cla: yes

#9694 [Dialogs] Update description of adjustable insets.
  components/Dialogs/src/private/MDCAlertControllerView+Private.h
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Labels: [Dialogs], cla: yes

#9695 [Dialogs] Update adjustable insets values
  components/Dialogs/src/private/MDCAlertControllerView+Private.h
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Labels: [Dialogs], cla: yes

#9709 [Dialogs] Refactor title frame calculations to accommodate adjustable insets
  components/Dialogs/src/private/MDCAlertControllerView+Private.h
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Labels: [Dialogs], cla: yes

#9710 [Dialogs] Refactor content frame calculations to accommodate adjustable insets
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Labels: [Dialogs], cla: yes

#9746 [Buttons] Deletes deprecated MDCFloatingButtonShapeThemer
  components/Buttons/README.md
  components/Buttons/docs/shape-theming.md
  components/Buttons/src/ShapeThemer/MDCFloatingButtonShapeThemer.h
  components/Buttons/src/ShapeThemer/MDCFloatingButtonShapeThemer.m
  components/Buttons/src/ShapeThemer/MaterialButtons+ShapeThemer.h
  components/Buttons/src/Theming/MDCFloatingButton+MaterialTheming.m
  components/Buttons/tests/unit/ButtonsShapeThemerTests.m
  components/schemes/Shape/examples/MDCShapeSchemeExampleViewController.m
  components/schemes/Shape/examples/supplemental/MDCFloatingButtonShapeThemerDefaultMapping.h
  components/schemes/Shape/examples/supplemental/MDCFloatingButtonShapeThemerDefaultMapping.m
Labels: [Buttons], [schemes], cla: yes

#9730 [Material][Availability] Migrates Overlay Window to MDCAvailability.
  MaterialComponents.podspec
  components/OverlayWindow/BUILD
  components/OverlayWindow/src/MDCOverlayWindow.m
  components/OverlayWindow/tests/unit/OverlayWindowInitTest.m
Labels: PR:delete-branch-when-merged, PR:merge-when-approved, [OverlayWindow], cla: yes

#9729 [Material][Availability] Migrates BottomAppBar to MDCAvailability.
  components/BottomAppBar/BUILD
  components/BottomAppBar/tests/snapshot/MDCBottomAppBarSnapshotTests.m
Labels: PR:delete-branch-when-merged, PR:merge-when-approved, [BottomAppBar], cla: yes

#9714 [Material][Availability] Migrates Thumb Track to MDCAvailability.
  MaterialComponents.podspec
  components/private/ThumbTrack/BUILD
  components/private/ThumbTrack/src/MDCThumbTrack.m
Labels: PR:delete-branch-when-merged, PR:merge-when-approved, [private/ThumbTrack], [private], cla: yes

#9712 [Material][Availability] Migrates Collections to MDCAvailability.
  MaterialComponents.podspec
  components/Collections/BUILD
  components/Collections/src/private/MDCCollectionViewEditor.m
Labels: PR:delete-branch-when-merged, PR:merge-when-approved, [Collections], cla: yes

#9757 [Dialogs] Add reference images for MDCAlertControllerConfigurationsTests
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testAlertHasAccessoryViewInRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testAlertHasAccessoryView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testAlertHasMessageAndAccessoryView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testAlertHasMessage_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testAlertHasTitleAndAccessoryView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testAlertHasTitleAndTitleIconAndAccessoryView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testAlertHasTitleAndTitleIconAndMessageAndAccessoryViewInRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testAlertHasTitleAndTitleIconAndMessageAndAccessoryView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testAlertHasTitleAndTitleImageAndAccessoryView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testAlertHasTitleAndTitleImageAndMessageAndAccessoryView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testAlertHasTitleIconAndAccessoryView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testAlertHasTitleIconAndMessageAndAccessoryViewAndVerticalButtons_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testAlertHasTitleIconAndMessage_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testAlertHasTitleIcon_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testAlertHasTitleImageAndAccessoryView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testAlertHasTitleImageAndMessage_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testAlertHasTitleImageAndVerticalButtons_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testAlertHasTitleImage_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testAlertHasTitle_11_2@2x.png
Labels: cla: yes

#9756 [Shapes] Update MDCShapedShadowLayer color properties to use copy semantics
  components/Shapes/src/MDCShapedShadowLayer.h
Labels: [Shapes], cla: yes

#9755 [Ink] Remove unnecessary strong reference to self.layer
  components/Ink/src/MDCInkView.m
Labels: [Ink], cla: yes

#9759 [ButtonBar] Fix crash when assigning tint color, title, or image to bar button item with custom view.
  components/ButtonBar/src/MDCButtonBar.m
  components/ButtonBar/tests/unit/ButtonBarCustomViewTests.swift
Labels: PR:delete-branch-when-merged, PR:merge-when-approved, [ButtonBar], cla: yes

#9761 [ButtonBar] Do not allow implicit downcasting of item views.
  components/ButtonBar/src/MDCButtonBar.m
Labels: PR:delete-branch-when-merged, PR:merge-when-approved, [ButtonBar], cla: yes

#9768 v105.0.2
  CHANGELOG.md
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/ButtonBar/src/MDCButtonBar.m
  components/ButtonBar/tests/unit/ButtonBarCustomViewTests.swift
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Labels: [ButtonBar], [Catalog], [LibraryInfo], cla: yes

#9754 Add first pass of unit tests for MDCBaseTextArea
  MaterialComponents.podspec
  catalog/MDCDragons.xcodeproj/xcshareddata/xcschemes/MDCDragons.xcscheme
  catalog/Podfile
  components/TextControls/BUILD
  components/TextControls/tests/unit/BaseTextAreas/MDCBaseTextAreaTests.m
Labels: [Catalog], [TextControls], cla: yes

#9770 [TextControls] add filled text areas
  MaterialComponents.podspec
  catalog/MDCCatalog.xcodeproj/xcshareddata/xcschemes/MDCCatalog.xcscheme
  catalog/MDCDragons.xcodeproj/xcshareddata/xcschemes/MDCDragons.xcscheme
  catalog/Podfile
  components/TextControls/BUILD
  components/TextControls/src/FilledTextAreas/MDCFilledTextArea.h
  components/TextControls/src/FilledTextAreas/MDCFilledTextArea.m
  components/TextControls/src/FilledTextAreas/MaterialTextControls+FilledTextAreas.h
  components/TextControls/src/FilledTextAreasTheming/MDCFilledTextArea+MaterialTheming.h
  components/TextControls/src/FilledTextAreasTheming/MDCFilledTextArea+MaterialTheming.m
  components/TextControls/src/FilledTextAreasTheming/MaterialTextControls+FilledTextAreasTheming.h
  components/TextControls/tests/unit/FilledTextAreas/MDCFilledTextAreaTests.m
  components/TextControls/tests/unit/FilledTextAreasTheming/MDCFilledTextAreaThemingTests.m
Labels: [Catalog], [TextControls], cla: yes

#9772 [TextControls] Add text area example
  components/TextControls/BUILD
  components/TextControls/examples/supplemental/MDCTextControlTextAreaConfiguratorExample.h
  components/TextControls/examples/supplemental/MDCTextControlTextAreaConfiguratorExample.m
  components/TextControls/examples/supplemental/MDCTextControlTextAreaContentViewController.h
  components/TextControls/examples/supplemental/MDCTextControlTextAreaContentViewController.m
Labels: [TextControls], cla: yes

#9765 [BottomNavigation] Add horizontal padding property to MDCBottomNavigationBar
  components/BottomNavigation/src/MDCBottomNavigationBar.h
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/tests/unit/MDCBottomNavigationBarTests.m
Labels: [BottomNavigation], cla: yes

#9752 [Dialogs] Fix adjustable insets for title icon.
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Labels: [Dialogs], cla: yes, kokoro:force-run

#9775 [Dialogs] Add orderVerticalActionsByEmphasis flag
  components/Dialogs/src/private/MDCAlertControllerView+Private.h
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Labels: [Dialogs], cla: yes, kokoro:force-run

#9782 [Dialogs] Updating adjustable action margins
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Labels: [Dialogs], cla: yes

#9783 [Dialogs] Refactor actions layout calculations.
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Labels: [Dialogs], cla: yes

#9784 [Dialogs] Group UIViewController methods of MDCAlertController.
  components/Dialogs/src/MDCAlertController.m
Labels: [Dialogs], cla: yes

#9726 [BottomSheet] KVO `contentInset` property
  components/BottomSheet/src/private/MDCSheetContainerView.m
Labels: PR:merge-when-approved, [ActionSheet], [BottomSheet], cla: yes

#9776 [Dialogs] Delete deprecated DialogThemer
  components/Dialogs/README.md
  components/Dialogs/docs/theming.md
  components/Dialogs/src/DialogThemer/MDCAlertControllerThemer.h
  components/Dialogs/src/DialogThemer/MDCAlertControllerThemer.m
  components/Dialogs/src/DialogThemer/MDCAlertScheme.h
  components/Dialogs/src/DialogThemer/MDCAlertScheme.m
  components/Dialogs/src/DialogThemer/MaterialDialogs+DialogThemer.h
  components/Dialogs/tests/unit/MDCAlertControllerAlertThemerTests.swift
Labels: [Dialogs], cla: yes

#9789 [BottomSheet] Add example to reproduce issue 9773
  components/BottomSheet/BUILD
  components/BottomSheet/examples/BottomSheetFirstResponderExample.swift
Labels: [BottomSheet], cla: yes

#9793 [TextFields] implement resignFirstResponder in MDCMultilineTextField
  components/BottomSheet/BUILD
  components/BottomSheet/examples/BottomSheetFirstResponderExample.swift
  components/TextFields/src/MDCMultilineTextField.m
Labels: [BottomSheet], [TextFields], cla: yes

#9796 [Chips] Add snapshot tests for MDCChipCollectionViewFlowLayout
  components/Chips/tests/snapshot/MDCChipCollectionViewFlowLayoutSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCChipCollectionViewFlowLayoutSnapshotTests/testRespectsSectionInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipCollectionViewFlowLayoutSnapshotTests/testWithDefaultConfiguration_11_2@2x.png
Labels: [Chips], cla: yes

#9795 [Dialogs] Adding action alignment API in a private header.
  components/Dialogs/src/private/MDCAlertControllerView+Private.h
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Labels: [Dialogs], cla: yes

#9794 [Dialogs] Support impressions logging in Material Design Dialogs.
  components/Dialogs/src/MDCAlertController.h
  components/Dialogs/src/MDCAlertController.m
Labels: [Dialogs], cla: yes

#9750 [Dialogs] Use consistent syntax for float constants
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Labels: [Dialogs], cla: yes

#9800 [Dialogs] Adding justified actions alignment calculations to actions size calculations.
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Labels: [Dialogs], cla: yes

#9803 [Dialogs] Moving actions layout out to simplify layoutSubviews.
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Labels: [Dialogs], cla: yes

#9801 [Dialogs] Adding alignment snapshot tests
  components/Dialogs/tests/snapshot/MDCAlertControllerActionsTests.m
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testAutomaticChangeToVerticalLayoutForLongMediumEmphasisActions_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testLowEmphasisActionsAreCenteredInHorizontalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testLowEmphasisActionsAreJustifiedInHorizontalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testLowEmphasisActionsAreJustifiedInVerticalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testLowEmphasisActionsAreLeadingInHorizontalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testLowEmphasisActionsAreLeadingInVerticalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testLowEmphasisActionsAreTrailingInVerticalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testLowEmphasisActionsOrderInHorizontalLayoutInRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testMediumEmphasisActionsAreCenteredInHorizontalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testMediumEmphasisActionsAreJustifiedInHorizontalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testMediumEmphasisActionsAreJustifiedInVerticalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testMediumEmphasisActionsAreLeadingInHorizontalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testMediumEmphasisActionsAreLeadingInVerticalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testMediumEmphasisActionsAreTrailingInVerticalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testMediumEmphasisActionsOrderInHorizontalLayoutInRTL_11_2@2x.png
Labels: [Dialogs], cla: yes

#9799 [Chips] Refactor MDCChipCollectionViewFlowLayout
  components/Chips/src/MDCChipCollectionViewFlowLayout.m
Labels: [Chips], cla: yes

#9812 [Dialogs] Remove DialogThemer from Podspec
  MaterialComponents.podspec
Labels: cla: yes

#9813 [Chips] Update MDCChipCollectionViewFlowLayout to respect sectionInset
  components/Chips/src/MDCChipCollectionViewFlowLayout.m
  snapshot_test_goldens/goldens_64/MDCChipCollectionViewFlowLayoutSnapshotTests/testRespectsSectionInsets_11_2@2x.png
Labels: [Chips], cla: yes

#9815 [Snackbar] Add 'snackbarDidDisappear' to MDCSnackbarManagerDelegate.
  components/Snackbar/src/MDCSnackbarManager.h
  components/Snackbar/src/MDCSnackbarManager.m
  components/Snackbar/tests/unit/MDCSnackbarMessageViewTests.m
  components/Snackbar/tests/unit/supplemental/MDCFakeMDCSnackbarManagerDelegate.h
  components/Snackbar/tests/unit/supplemental/MDCFakeMDCSnackbarManagerDelegate.m
Labels: [Snackbar], cla: yes

#9774 [FlexibleHeader] Subtract minimumHeaderViewHeight from fhv_accumulatorMax.
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
  components/FlexibleHeader/tests/unit/FlexibleHeaderShiftedOffscreenWithShiftBehaviorHideableTests.m
Labels: [FlexibleHeader], cla: yes

#9816 [Chips] MDCChipCollectionViewCell to correctly support increased touch target
  components/Chips/src/MDCChipCollectionViewCell.m
  components/Chips/tests/unit/ChipsTests.m
Labels: [Chips], cla: yes

#9814 v107.0.0
  CHANGELOG.md
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/BottomSheet/BUILD
  components/BottomSheet/examples/BottomSheetFirstResponderExample.swift
  components/BottomSheet/src/private/MDCSheetContainerView.m
  components/Chips/src/MDCChipCollectionViewFlowLayout.m
  components/Chips/tests/snapshot/MDCChipCollectionViewFlowLayoutSnapshotTests.m
  components/Dialogs/README.md
  components/Dialogs/docs/theming.md
  components/Dialogs/src/DialogThemer/MDCAlertControllerThemer.h
  components/Dialogs/src/DialogThemer/MDCAlertControllerThemer.m
  components/Dialogs/src/DialogThemer/MDCAlertScheme.h
  components/Dialogs/src/DialogThemer/MDCAlertScheme.m
  components/Dialogs/src/DialogThemer/MaterialDialogs+DialogThemer.h
  components/Dialogs/src/MDCAlertController.h
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/src/private/MDCAlertControllerView+Private.h
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
  components/Dialogs/tests/snapshot/MDCAlertControllerActionsTests.m
  components/Dialogs/tests/unit/MDCAlertControllerAlertThemerTests.swift
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  components/TextFields/src/MDCMultilineTextField.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testAutomaticChangeToVerticalLayoutForLongMediumEmphasisActions_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testLowEmphasisActionsAreCenteredInHorizontalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testLowEmphasisActionsAreJustifiedInHorizontalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testLowEmphasisActionsAreJustifiedInVerticalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testLowEmphasisActionsAreLeadingInHorizontalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testLowEmphasisActionsAreLeadingInVerticalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testLowEmphasisActionsAreTrailingInVerticalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testLowEmphasisActionsOrderInHorizontalLayoutInRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testMediumEmphasisActionsAreCenteredInHorizontalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testMediumEmphasisActionsAreJustifiedInHorizontalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testMediumEmphasisActionsAreJustifiedInVerticalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testMediumEmphasisActionsAreLeadingInHorizontalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testMediumEmphasisActionsAreLeadingInVerticalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testMediumEmphasisActionsAreTrailingInVerticalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testMediumEmphasisActionsOrderInHorizontalLayoutInRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipCollectionViewFlowLayoutSnapshotTests/testRespectsSectionInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipCollectionViewFlowLayoutSnapshotTests/testWithDefaultConfiguration_11_2@2x.png
Labels: [BottomSheet], [Catalog], [Chips], [Dialogs], [LibraryInfo], [TextFields], cla: yes

#9819 [Dialogs] Add reference images for C932291406CD662FB13853A552284C81
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testLowEmphasisActionsAreCenteredInHorizontalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testLowEmphasisActionsAreJustifiedInHorizontalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testLowEmphasisActionsAreLeadingInHorizontalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testMediumEmphasisActionsAreCenteredInHorizontalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testMediumEmphasisActionsAreJustifiedInHorizontalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testMediumEmphasisActionsAreLeadingInHorizontalLayout_11_2@2x.png
Labels: cla: yes

#9817 [Dialogs] Add reference images for snapshot test
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testLowEmphasisActionsAreLeadingInVerticalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testLowEmphasisActionsAreTrailingInVerticalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testMediumEmphasisActionsAreJustifiedInVerticalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testMediumEmphasisActionsAreLeadingInVerticalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testMediumEmphasisActionsAreTrailingInVerticalLayout_11_2@2x.png
Labels: cla: yes

#9804 [Dialogs] Consider all actions alignments for vertical layouts
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testLowEmphasisActionsAreLeadingInVerticalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testLowEmphasisActionsAreTrailingInVerticalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testMediumEmphasisActionsAreJustifiedInVerticalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testMediumEmphasisActionsAreLeadingInVerticalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testMediumEmphasisActionsAreTrailingInVerticalLayout_11_2@2x.png
Labels: [Dialogs], cla: yes

#9805 [Dialogs] Consider all actions alignments for horizontal layout
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testLowEmphasisActionsAreCenteredInHorizontalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testLowEmphasisActionsAreJustifiedInHorizontalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testLowEmphasisActionsAreLeadingInHorizontalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testMediumEmphasisActionsAreCenteredInHorizontalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testMediumEmphasisActionsAreJustifiedInHorizontalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testMediumEmphasisActionsAreLeadingInHorizontalLayout_11_2@2x.png
Labels: [Dialogs], cla: yes
