Repository material-components/material-components-ios, pull requests merged in 2020-12, with the labels that each got.

#10134 v119.1.3
  CHANGELOG.md
  MaterialComponents.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/Banner/README.md
  components/Dialogs/README.md
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  components/Tabs/README.md
  components/Tabs/src/TabBarView/MDCTabBarView.h
  components/Tabs/src/TabBarView/MDCTabBarView.m
  components/Tabs/src/TabBarView/private/MDCTabBarViewItemView.h
  components/Tabs/src/TabBarView/private/MDCTabBarViewItemView.m
  components/Tabs/src/TabBarView/private/MDCTabBarViewItemViewDelegate.h
  components/Tabs/tests/snapshot/TabBarView/MDCTabBarViewItemViewSnapshotTests.m
  components/Tabs/tests/snapshot/TabBarView/MDCTabBarViewSnapshotTests.m
  components/Tabs/tests/unit/TabBarView/MDCTabBarViewItemViewTests.m
  components/TextControls/README.md
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
  docs/supporting-shapes/README.md
Labels: [Banner], [Catalog], [Dialogs], [LibraryInfo], [Tabs], [TextControls], cla: yes

#10140 v119.2.0
  CHANGELOG.md
  MaterialComponents.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/AppBar/README.md
  components/AppBar/docs/assets/appbar-hero.png
  components/AppBar/docs/assets/appbar-types.png
  components/AppBar/docs/assets/top-app-bar.gif
  components/Banner/README.md
  components/BottomAppBar/README.md
  components/BottomNavigation/README.md
  components/BottomNavigation/docs/assets/bottom-nav-generic.png
  components/BottomNavigation/docs/assets/bottom-nav-hero.png
  components/Buttons/README.md
  components/Buttons/docs/assets/buttons_hero.png
  components/Buttons/docs/assets/fab-hero.png
  components/Buttons/docs/assets/fab-types.png
  components/Buttons/docs/buttons.md
  components/Buttons/docs/fabs.md
  components/Buttons/src/MDCButton.h
  components/Buttons/src/MDCButton.m
  components/Buttons/src/MDCFloatingButton.h
  components/Buttons/tests/unit/MDCButtonTests.m
  components/Cards/README.md
  components/Cards/docs/assets/card-hero.png
  components/Chips/README.md
  components/Chips/src/MDCChipView.h
  components/Dialogs/README.md
  components/Dialogs/docs/assets/dialogs-hero.png
  components/Dialogs/docs/assets/dialogs-types.png
  components/Dialogs/docs/assets/dialogs.gif
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  components/List/README.md
  components/NavigationDrawer/README.md
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
  components/ProgressView/ProgressIndicators.md
  components/ProgressView/README.md
  components/ProgressView/docs/assets/determinate-circular.png
  components/ProgressView/docs/assets/determinate-linear.png
  components/ProgressView/docs/assets/indeterminate-circular.gif
  components/ProgressView/docs/assets/indeterminate-linear.gif
  components/ProgressView/docs/assets/linear-progress-anatomy.png
  components/ProgressView/docs/assets/progress-indicator-hero.gif
  components/ProgressView/docs/assets/progress-indicator-types.gif
  components/ProgressView/docs/assets/shrine-linear-progress-indicator.gif
  components/Shapes/src/MDCShapedShadowLayer.m
  components/Snackbar/README.md
  components/Tabs/README.md
  components/Tabs/docs/assets/tabs-generic-hero.png
  components/TextControls/README.md
  components/TextControls/docs/assets/textfields-hero.png
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Labels: [AppBar], [Banner], [BottomAppBar], [BottomNavigation], [Buttons], [Cards], [Catalog], [Chips], [Dialogs], [LibraryInfo], [List], [NavigationDrawer], [ProgressView], [Shapes], [Snackbar], [Tabs], [TextControls], cla: no

#10144 v119.3.0
  CHANGELOG.md
  MaterialComponents.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/AppBar/README.md
  components/Banner/README.md
  components/BottomAppBar/README.md
  components/BottomNavigation/README.md
  components/BottomSheet/README.md
  components/BottomSheet/docs/assets/bottom-sheet-hero.png
  components/BottomSheet/docs/assets/bottom-sheet-types.png
  components/BottomSheet/docs/assets/modal-bottom-sheet-anatomy.png
  components/BottomSheet/docs/assets/modal-bottom-sheet.png
  components/Buttons/docs/buttons.md
  components/Buttons/docs/fabs.md
  components/Cards/README.md
  components/Chips/README.md
  components/Dialogs/README.md
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  components/List/README.md
  components/NavigationDrawer/README.md
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
  components/NavigationDrawer/tests/unit/MDCNavigationDrawerTest.m
  components/Snackbar/README.md
  components/Tabs/README.md
  components/Tabs/src/TabBarView/MDCTabBarView.h
  components/Tabs/src/TabBarView/MDCTabBarView.m
  components/Tabs/tests/unit/TabBarView/MDCTabBarViewTests.m
  components/TextControls/README.md
  components/TextControls/src/BaseTextFields/MDCBaseTextField.m
  components/TextControls/src/BaseTextFields/MDCBaseTextFieldDelegate.h
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Labels: [AppBar], [Banner], [BottomAppBar], [BottomNavigation], [BottomSheet], [Buttons], [Cards], [Catalog], [Chips], [Dialogs], [LibraryInfo], [List], [NavigationDrawer], [Snackbar], [Tabs], [TextControls], cla: yes
