Repository material-components/material-components-ios, pull requests merged in 2020-09, with the labels that each got.

#10074 v115.0.0
  CHANGELOG.md
  MaterialComponents.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/src/MaterialBottomNavigation.bundle/Resources/en.lproj/MaterialBottomNavigation.strings
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.h
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
  components/BottomNavigation/src/private/MaterialBottomNavigationStrings.h
  components/BottomNavigation/src/private/MaterialBottomNavigationStrings_table.h
  components/BottomNavigation/tests/unit/MDCBottomNavigationBarTests.m
  components/Buttons/src/MDCButton.m
  components/Buttons/src/private/MDCButton+Subclassing.h
  components/Cards/src/MDCCard.h
  components/Cards/src/MDCCard.m
  components/Cards/src/MDCCardCollectionCell.h
  components/Cards/src/MDCCardCollectionCell.m
  components/Chips/src/MDCChipView.m
  components/CollectionCells/src/MDCCollectionViewCell.h
  components/CollectionCells/src/MDCCollectionViewCell.m
  components/Collections/src/MDCCollectionViewController.m
  components/Collections/src/MDCCollectionViewStylingDelegate.h
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
  components/Ink/examples/InkTypicalUse.m
  components/Ink/src/MDCInkGestureRecognizer.h
  components/Ink/src/MDCInkTouchController.h
  components/Ink/src/MDCInkView.h
  components/Ink/src/MDCInkViewDelegate.h
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  components/List/src/MDCBaseCell.m
  components/Slider/src/MDCSlider.h
  components/Slider/src/MDCSlider.m
  components/Slider/tests/unit/MDCSliderTests.m
  components/Tabs/src/private/MDCItemBarCell.m
  components/TextControls/tests/unit/BaseTextFields/MDCBaseTextFieldTests.m
  components/TextControls/tests/unit/UnderlinedTextFields/MDCUnderlinedTextFieldTests.m
  components/TextControls/tests/unit/UnderlinedTextFieldsTheming/MDCUnderlinedTextFieldThemingTests.m
  components/private/ThumbTrack/src/MDCNumericValueLabel.h
  components/private/ThumbTrack/src/MDCNumericValueLabel.m
  components/private/ThumbTrack/src/MDCThumbTrack.m
  components/private/ThumbTrack/src/private/MDCThumbTrack+Private.h
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Labels: [BottomNavigation], [Buttons], [Cards], [Catalog], [Chips], [CollectionCells], [Collections], [Dialogs], [Ink], [LibraryInfo], [List], [Slider], [Tabs], [TextControls], [private], cla: yes

#10077 v116.0.0
  CHANGELOG.md
  MaterialComponents.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/Chips/src/MDCChipCollectionViewCell.m
  components/Chips/src/MDCChipView.h
  components/Chips/src/MDCChipView.m
  components/Chips/src/private/MDCChipView+Private.h
  components/Chips/tests/unit/ChipViewRippleTests.m
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  components/TextControls/src/FilledTextFields/MDCFilledTextField.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Labels: [Catalog], [Chips], [LibraryInfo], [TextControls], cla: yes

#10078 v116.0.0
  CHANGELOG.md
  components/NavigationDrawer/src/MDCBottomDrawerViewController.h
  components/NavigationDrawer/src/MDCBottomDrawerViewController.m
  components/NavigationDrawer/tests/unit/MDCNavigationDrawerTest.m
Labels: [Catalog], [LibraryInfo], [NavigationDrawer], cla: yes

#10090 v117.0.0
  CHANGELOG.md
  MaterialComponents.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/ActivityIndicator/src/MDCActivityIndicator.h
  components/ActivityIndicator/src/MDCActivityIndicator.m
  components/AppBar/src/ColorThemer/MDCAppBarColorThemer.h
  components/AppBar/src/MDCAppBarNavigationController.h
  components/ButtonBar/src/MDCButtonBar.h
  components/Dialogs/examples/DialogsAccessoryExampleViewController.swift
  components/Dialogs/src/MDCAlertController.h
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/src/MDCAlertControllerView.h
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
  components/Dialogs/tests/snapshot/MDCAlertControllerCustomTraitCollectionTests.m
  components/Dialogs/tests/snapshot/MDCAlertControllerInsetsTests.m
  components/Dialogs/tests/snapshot/MDCAlertControllerLocalizationTests.m
  components/Dialogs/tests/unit/MDCAlertControllerLayoutTests.m
  components/Dialogs/tests/unit/MDCAlertControllerTests.m
  components/FeatureHighlight/src/ColorThemer/MDCFeatureHighlightColorThemer.h
  components/FlexibleHeader/src/MDCFlexibleHeaderView.h
  components/FlexibleHeader/src/private/MDCFlexibleHeaderMinMaxHeight.h
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  components/NavigationBar/src/ColorThemer/MDCNavigationBarColorThemer.h
  components/NavigationBar/src/TypographyThemer/MDCNavigationBarTypographyThemer.h
  components/ShapeLibrary/src/MDCPillShapeGenerator.m
  components/ShapeLibrary/src/MDCRoundedCornerTreatment.m
  components/ShapeLibrary/tests/unit/ShapeLibraryTests.m
  components/Tabs/src/TabBarView/MDCTabBarView.m
  components/Tabs/src/TypographyThemer/MDCTabBarTypographyThemer.h
  components/Tabs/tests/unit/TabBarView/MDCTabBarViewTests.m
  components/TextControls/src/BaseTextFields/MDCBaseTextField.m
  components/TextFields/src/MDCMultilineTextField.m
  components/TextFields/src/MDCTextField.m
  components/TextFields/src/MDCTextInputControllerBase.m
  components/TextFields/src/MDCTextInputControllerFilled.m
  components/TextFields/src/MDCTextInputControllerFullWidth.m
  components/TextFields/src/MDCTextInputControllerLegacyDefault.m
  components/TextFields/src/MDCTextInputControllerLegacyFullWidth.m
  components/TextFields/src/MDCTextInputControllerOutlined.m
  components/TextFields/src/MDCTextInputControllerOutlinedTextArea.m
  components/TextFields/src/private/MDCTextInputArt.h
  components/TextFields/src/private/MDCTextInputCommonFundament.m
  components/TextFields/tests/unit/TextFieldControllerLegacyTests.swift
  components/private/Math/src/MDCMath.h
  components/private/TextControlsPrivate/src/BaseStyle/MDCTextControlVerticalPositioningReferenceBase.m
  components/private/TextControlsPrivate/src/Shared/UIBezierPath+MDCTextControlStyle.m
  components/private/TextControlsPrivate/src/TextFields/MDCBaseTextFieldLayout.m
  components/private/ThumbTrack/src/MDCThumbTrack.h
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Labels: [ActivityIndicator], [AppBar], [ButtonBar], [Catalog], [Dialogs], [FeatureHighlight], [FlexibleHeader], [LibraryInfo], [NavigationBar], [ShapeLibrary], [Tabs], [TextControls], [TextFields], [private], cla: yes
