Repository material-components/material-components-ios, pull requests merged in 2021-01, with the labels that each got.

#10153 v119.4.0
  CHANGELOG.md
  MaterialComponents.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/AppBar/README.md
  components/AppBar/docs/assets/app-bar-example.png
  components/AppBar/docs/assets/appbar-types.png
  components/Banner/examples/AppBarBannerExample.m
  components/Banner/examples/BannerAutolayoutSwiftExampleViewController.swift
  components/Banner/src/MDCBannerView.h
  components/Banner/src/MDCBannerView.m
  components/Banner/tests/snapshot/MDCBannerSnapshotTests.m
  components/BottomAppBar/README.md
  components/BottomNavigation/README.md
  components/Buttons/docs/buttons.md
  components/Buttons/docs/fabs.md
  components/Buttons/src/MDCButton.m
  components/Buttons/src/MDCFloatingButton+Animation.m
  components/Cards/README.md
  components/Cards/src/Theming/MDCCard+MaterialTheming.m
  components/Dialogs/README.md
  components/Dialogs/docs/assets/alert-example.png
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  components/List/README.md
  components/List/src/MDCSelfSizingStereoCell.h
  components/List/src/MDCSelfSizingStereoCell.m
  components/List/src/MDCSelfSizingStereoCellImageViewVerticalPosition.h
  components/List/src/MaterialList.h
  components/List/src/private/MDCSelfSizingStereoCellLayout.h
  components/List/src/private/MDCSelfSizingStereoCellLayout.m
  components/List/tests/snapshot/MDCSelfSizingStereoCellSnapshotTests.m
  components/ScalableFontDescriptor/src/MDCScalableFontDescriptor.m
  components/TextControls/README.md
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
  scripts/release
Labels: [AppBar], [Banner], [BottomAppBar], [BottomNavigation], [Buttons], [Cards], [Catalog], [Dialogs], [LibraryInfo], [List], [ScalableFontDescriptor], [TextControls], cla: yes

#10154 v119.5.0
  CHANGELOG.md
  MaterialComponents.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.h
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.m
  components/NavigationDrawer/src/MDCBottomDrawerViewController.h
  components/NavigationDrawer/src/MDCBottomDrawerViewController.m
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.h
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Labels: [Catalog], [LibraryInfo], [NavigationDrawer], cla: yes

#10156 120.0.0
  CHANGELOG.md
  MaterialComponents.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/BottomSheet/src/MDCBottomSheetPresentationController.m
  components/BottomSheet/src/private/MDCSheetContainerView.h
  components/BottomSheet/src/private/MDCSheetContainerView.m
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
  components/NavigationDrawer/tests/unit/MDCNavigationDrawerTest.m
  components/ShadowLayer/examples/MDCShadowPerformanceExample.swift
  components/Shapes/src/MDCShapedView.h
  components/Shapes/src/MDCShapedView.m
  components/Shapes/tests/snapshot/MDCShapedViewSnapshotTests.m
  components/Snackbar/tests/unit/MDCSnackbarMessageViewTests.m
  components/Tabs/src/TabBarView/MDCTabBarView.m
  components/TextControls/src/BaseTextAreas/MDCBaseTextArea.h
  components/TextControls/src/BaseTextAreas/MDCBaseTextArea.m
  components/TextControls/tests/snapshot/MDCBaseTextAreaSnapshotTests.m
  components/schemes/Color/src/MDCSemanticColorScheme.h
  components/schemes/Color/src/MDCSemanticColorScheme.m
  components/schemes/Color/tests/unit/MDCSemanticColorSchemeTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Labels: [BottomSheet], [Catalog], [LibraryInfo], [NavigationDrawer], [ShadowLayer], [Shapes], [Snackbar], [Tabs], [TextControls], [schemes], cla: yes

#10157 121.0.0
  CHANGELOG.md
  MaterialComponents.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/BottomSheet/src/MDCBottomSheetController.h
  components/BottomSheet/src/MDCBottomSheetController.m
  components/BottomSheet/src/MDCBottomSheetPresentationController.h
  components/BottomSheet/src/MDCBottomSheetPresentationController.m
  components/BottomSheet/src/MDCBottomSheetTransitionController.h
  components/BottomSheet/src/MDCBottomSheetTransitionController.m
  components/BottomSheet/src/private/MDCDraggableView.h
  components/BottomSheet/src/private/MDCDraggableView.m
  components/BottomSheet/src/private/MDCSheetBehavior.h
  components/BottomSheet/src/private/MDCSheetBehavior.m
  components/BottomSheet/src/private/MDCSheetContainerView.h
  components/BottomSheet/src/private/MDCSheetContainerView.m
  components/BottomSheet/tests/unit/MDCBottomSheetCustomizationTests.m
  components/BottomSheet/tests/unit/MDCBottomSheetPresentationControllerTests.m
  components/Buttons/src/MDCFloatingButton+Animation.h
  components/Buttons/src/MDCFloatingButton.h
  components/Chips/src/MDCChipField.h
  components/Dialogs/src/MDCAlertController.h
  components/Dialogs/src/MDCAlertController.m
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  components/List/src/MDCBaseCell.m
  components/ProgressView/src/MDCProgressView.h
  components/ProgressView/src/MDCProgressView.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Labels: [BottomSheet], [Buttons], [Catalog], [Chips], [Dialogs], [LibraryInfo], [List], [ProgressView], cla: yes
