Repository material-components/material-components-ios, changes with the owners that CODEOWNERS names for each.
All owners: @material-components/core-ios-team, @codeman7, @yarneo, @jverkoey, @wenyuzhang666, @randallli, @galiak11, @iberezan, @andrewoverton, @jakerockland

[BottomNavigation] Delete deprecated sizeThatFitsIncludesSafeArea property.
  components/BottomNavigation/README.md
  components/BottomNavigation/src/MDCBottomNavigationBar.h
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/tests/unit/MDCBottomNavigationBarTests.m
Owners: @material-components/core-ios-team

[ActionSheet] Remove reference to beta
  components/ActionSheet/README.md
  components/ActionSheet/docs/README.md
  contributing/beta_components.md
Owners: @codeman7, @material-components/core-ios-team

[BottomNavigation] Align barItemsBottomAnchor with safeAreaInsets.
  components/BottomNavigation/examples/BottomNavigationTypicalUseExample.m
Owners: @material-components/core-ios-team

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Bumped version number to 114.0.0.
  CHANGELOG.md
  MaterialComponents.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

[Ink] Official deprecation of Ink.
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.h
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
  components/Buttons/src/MDCButton.m
  components/Buttons/src/private/MDCButton+Subclassing.h
  components/Cards/src/MDCCard.h
  components/Cards/src/MDCCard.m
  components/Cards/src/MDCCardCollectionCell.h
  components/Cards/src/MDCCardCollectionCell.m
  components/Chips/src/MDCChipView.m
  components/CollectionCells/src/MDCCollectionViewCell.h
  components/CollectionCells/src/MDCCollectionViewCell.m
  components/Collections/src/MDCCollectionViewController.m
  components/Ink/examples/InkTypicalUse.m
  components/Ink/src/MDCInkGestureRecognizer.h
  components/Ink/src/MDCInkTouchController.h
  components/Ink/src/MDCInkView.h
  components/Ink/src/MDCInkViewDelegate.h
  components/List/src/MDCBaseCell.m
  components/Tabs/src/private/MDCItemBarCell.m
  components/private/ThumbTrack/src/MDCThumbTrack.m
  components/private/ThumbTrack/src/private/MDCThumbTrack+Private.h
Owners: @material-components/core-ios-team, @randallli, @yarneo, @jverkoey, @andrewoverton

[TextControls] Improve TextControls test coverage
  components/TextControls/tests/unit/BaseTextFields/MDCBaseTextFieldTests.m
  components/TextControls/tests/unit/UnderlinedTextFields/MDCUnderlinedTextFieldTests.m
  components/TextControls/tests/unit/UnderlinedTextFieldsTheming/MDCUnderlinedTextFieldThemingTests.m
Owners: @material-components/core-ios-team

Silence warnings when including a header with a method that uses deprecated declarations.
  components/Collections/src/MDCCollectionViewStylingDelegate.h
Owners: @jverkoey

Issue:- We currently disable tap for message text view.
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Owners: @galiak11, @iberezan

Remove pre-iOS 10 handling for voiceover now that components support iOS 10+
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/src/MaterialBottomNavigation.bundle/Resources/en.lproj/MaterialBottomNavigation.strings
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
  components/BottomNavigation/src/private/MaterialBottomNavigationStrings.h
  components/BottomNavigation/src/private/MaterialBottomNavigationStrings_table.h
  components/BottomNavigation/tests/unit/MDCBottomNavigationBarTests.m
Owners: @material-components/core-ios-team

[ThumbTrack] Delete deprecated fontSize property.
  components/private/ThumbTrack/src/MDCNumericValueLabel.h
  components/private/ThumbTrack/src/MDCNumericValueLabel.m
Owners: @material-components/core-ios-team

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

[Slider] Expose thumbBorderWidth and thumbIsSmallerWhenDisabled.
  components/Slider/src/MDCSlider.h
  components/Slider/src/MDCSlider.m
  components/Slider/tests/unit/MDCSliderTests.m
Owners: @material-components/core-ios-team

Delete now-unused BottomNavigation resources from Podspec
  MaterialComponents.podspec
Owners: @material-components/core-ios-team

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Bumped version number to 115.0.0.
  MaterialComponents.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

[TextControls] Add `containerRadius` to MDCBaseTextField
  components/TextControls/src/BaseTextFields/MDCBaseTextField.h
  components/TextControls/src/OutlinedTextFields/MDCOutlinedTextField.m
  components/private/TextControlsPrivate/src/OutlinedStyle/MDCTextControlStyleOutlined.h
  components/private/TextControlsPrivate/src/OutlinedStyle/MDCTextControlStyleOutlined.m
Owners: @material-components/core-ios-team

[MDCSnackbar] Example: Dismiss snackbars when push or popping the example VC.
  components/Snackbar/examples/SnackbarSimpleExample.m
Owners: @yarneo

Remove now unused TabBar resources from Podspec
  MaterialComponents.podspec
Owners: @material-components/core-ios-team

[Banner] Change the trailing padding constraint for textView on MDCBannerView to match the Material Banner specs (https://material.io/components/banners#specs).
  components/Banner/src/MDCBannerView.m
Owners: @material-components/core-ios-team

Remove unused StringsConstant file from Tabs
  components/Tabs/src/private/MDCItemBarCell.m
  components/Tabs/src/private/MDCItemBarStringConstants.h
Owners: @material-components/core-ios-team

Update Bottom Navigation Item View accessibility traits so that VoiceOver works correctly on iOS 14.
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
Owners: @material-components/core-ios-team

[BottomNavigation] Remove supplemental directory from examples.
  components/BottomNavigation/examples/BottomNavigationTypicalUseExample.m
  components/BottomNavigation/examples/supplemental/BottomNavigationTypicalUseSupplemental.h
  components/BottomNavigation/examples/supplemental/BottomNavigationTypicalUseSupplemental.m
Owners: @material-components/core-ios-team

[TextControls] Refactor sizing behavior + expose sizing delegate method
  components/TextControls/src/BaseTextAreas/MDCBaseTextArea.h
  components/TextControls/src/BaseTextAreas/MDCBaseTextArea.m
  components/TextControls/src/BaseTextAreas/MDCBaseTextAreaDelegate.h
Owners: @material-components/core-ios-team

[TextControls] Add containerRadius to filled style object and base text area
  components/TextControls/src/BaseTextAreas/MDCBaseTextArea.h
  components/TextControls/src/BaseTextAreas/MDCBaseTextArea.m
  components/TextControls/src/FilledTextAreas/MDCFilledTextArea.m
  components/TextControls/src/OutlinedTextAreas/MDCOutlinedTextArea.m
  components/private/TextControlsPrivate/src/FilledStyle/MDCTextControlStyleFilled.h
  components/private/TextControlsPrivate/src/FilledStyle/MDCTextControlStyleFilled.m
Owners: @material-components/core-ios-team

[BottomNavigation] Provide an API to set the bar's height.
  components/BottomNavigation/examples/BottomNavigationTypicalUseExample.m
  components/BottomNavigation/src/MDCBottomNavigationBar.h
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/tests/unit/MDCBottomNavigationBarTests.m
Owners: @material-components/core-ios-team

Remove no longer used string bundle references
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
Owners: @material-components/core-ios-team

Remove all checks for iOS 10 availability now that components support iOS 10+
  components/BottomNavigation/examples/BottomNavigationTypicalUseExample.m
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/src/MDCBottomNavigationBarController.m
  components/BottomNavigation/src/private/MDCBottomNavigationSystemDialogView.m
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationBarSnapshotTests.m
  components/BottomNavigation/tests/unit/MDCBottomNavigationBarKVOTests.m
Owners: @material-components/core-ios-team

[Dragons] Add dark mode support to the Dragons app home page.
  catalog/MDCDragons/MDCDragonsController.swift
  catalog/MDCDragons/MDCDragonsTableViewCell.swift
Owners: @material-components/core-ios-team

[Snackbar] Remove non-shared classes from Snackbar supplemental directory.
  components/Snackbar/examples/SnackbarInputAccessoryViewController.m
  components/Snackbar/examples/SnackbarOverlayViewExample.m
  components/Snackbar/examples/SnackbarSimpleExample.m
  components/Snackbar/examples/SnackbarSuspensionExample.m
  components/Snackbar/examples/supplemental/SnackbarExampleSupplemental.h
  components/Snackbar/examples/supplemental/SnackbarExampleSupplemental.m
Owners: @yarneo

[Snackbar] Remove references to deprecated static MDCSnackbarManager methods.
  components/Snackbar/examples/SnackbarSimpleExample.m
Owners: @yarneo

[BottomNavigation] Add navigationBarHidden property to MDCBottomNavigationBarController.
  components/BottomNavigation/examples/BottomNavigationHideShowExample.swift
  components/BottomNavigation/src/MDCBottomNavigationBarController.h
  components/BottomNavigation/src/MDCBottomNavigationBarController.m
Owners: @material-components/core-ios-team

Enable shouldDismissOnOverlayTap for VO enabled scenario
  components/Snackbar/src/MDCSnackbarMessage.h
  components/Snackbar/src/MDCSnackbarMessageView.m
Owners: @yarneo

[Chips] Deprecate rippleAllowsSelection as we move away from MDCStatefulRippleView and to a simpler MDCRippleView when enableRippleBehavior is set to YES.
  components/Chips/src/MDCChipView.h
Owners: @material-components/core-ios-team

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Bumped version number to 115.1.0.
  MaterialComponents.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
**       @material-components/core-ios-team

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
/components/ActionSheet/          @codeman7
/components/AnimationTiming/      @yarneo
/components/AppBar/               @jverkoey
/components/BottomAppBar/         @wenyuzhang666
/components/BottomSheet/          @yarneo
/components/Buttons/              @randallli
/components/Cards/                @yarneo
/components/CollectionCells/      @yarneo
/components/CollectionLayoutAttributes/ @jverkoey
/components/Collections/          @jverkoey
/components/Dialogs/              @galiak11 @iberezan
/components/FeatureHighlight/     @codeman7
/components/FlexibleHeader/       @jverkoey
/components/HeaderStackView/      @jverkoey
/components/Ink/                  @yarneo
/components/LibraryInfo/          @jverkoey
/components/List                  @andrewoverton
/components/MaskedTransition/     @jverkoey
/components/NavigationBar/        @yarneo @jverkoey
/components/NavigationDrawer/     @yarneo @jakerockland
/components/OverlayWindow/        @yarneo
/components/PageControl/          @randallli
/components/Palettes/             @jverkoey
/components/Ripple                @yarneo
/components/ShadowElevations/     @jverkoey
/components/ShadowLayer/          @jverkoey
/components/Snackbar/             @yarneo
/components/TextFields/           @andrewoverton
/components/Themes/               @jverkoey
