Repository material-components/material-components-ios, changes with the owners that CODEOWNERS names for each.
All owners: @material-components/core-ios-team, @jmdetloff, @yarneo, @jverkoey, @romoore, @randallli, @ianegordon, @codeman7, @ajsecord, @andrewoverton, @featherless

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
**       @material-components/core-ios-team

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# !!!! IMPORTANT !!!!
# If a component is commented-out with a current contributor/team member
# it means that the person still "owns" the component but does not want
# to be automatically added as a reviewer to all PRs touching that component.
# Please add them manually if you feel they need to address the changes 
# personally, otherwise the team will be added instead.

# You can also use email addresses if you prefer.
/components/ActivityIndicator/    @jmdetloff
/components/AnimationTiming/      @yarneo
/components/AppBar/               @jverkoey
/components/BottomAppBar/         @jmdetloff
/components/BottomNavigation/     @romoore
/components/BottomSheet/          @jmdetloff
/components/ButtonBar/            @romoore
/components/Buttons/              @randallli
/components/Cards/                @yarneo
/components/Chips/                @romoore
/components/CollectionCells/      @yarneo
/components/CollectionLayoutAttributes/ @ianegordon
/components/Collections/          @ianegordon
/components/Dialogs/              @ianegordon
/components/FeatureHighlight/     @codeman7
/components/FlexibleHeader/       @jverkoey
/components/HeaderStackView/      @jverkoey
/components/Ink/                  @yarneo
/components/LibraryInfo/          @ajsecord
/components/MaskedTransition/     @jverkoey
# /components/NavigationBar/        @yarneo 
/components/NavigationBar/        @jverkoey
/components/OverlayWindow/        @yarneo
/components/PageControl/          @randallli
/components/Palettes/             @ajsecord
/components/ProgressView/         @romoore
/components/ShadowElevations/     @ianegordon
/components/ShadowLayer/          @ianegordon
/components/Slider/               @romoore
/components/Snackbar/             @yarneo
/components/Tabs/                 @romoore
/components/TextFields/           @andrewoverton
/components/Themes/               @featherless
/components/Typography/           @ianegordon

Replacing typeof(self) by __typeof(self) (#4617)
  components/BottomSheet/src/MDCBottomSheetController.m
Owners: @jmdetloff

Replacing typeof(self) by __typeof(self) (#4617)
  components/BottomSheet/src/MDCBottomSheetController.m
Owners: @jmdetloff

[FlexibleHeader] Improved height consistency when horizontally paging. (#4601)
  components/FlexibleHeader/examples/FlexibleHeaderHorizontalPagingExample.m
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
Owners: @jverkoey

[FlexibleHeader] Improved height consistency when horizontally paging. (#4601)
  components/FlexibleHeader/examples/FlexibleHeaderHorizontalPagingExample.m
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
Owners: @jverkoey

[FlexibleHeader] Remove Swift typical use example. (#4595)
  components/FlexibleHeader/examples/FlexibleHeaderTypicalUseExample.swift
  components/FlexibleHeader/examples/supplemental/FlexibleHeaderTypicalUseSupplemental.swift
Owners: @jverkoey

[FlexibleHeader] Remove Swift typical use example. (#4595)
  components/FlexibleHeader/examples/FlexibleHeaderTypicalUseExample.swift
  components/FlexibleHeader/examples/supplemental/FlexibleHeaderTypicalUseSupplemental.swift
Owners: @jverkoey

Remove more tests.
  components/Ink/tests/unit/MDCInkViewTests.m
Owners: @yarneo

Table work
  components/ActionSheet/examples/ActionSheetSwiftExample.swift
  components/ActionSheet/examples/ActionSheetTypicalUse.h
  components/ActionSheet/examples/ActionSheetTypicalUse.m
  components/ActionSheet/src/MDCActionSheetController.h
  components/ActionSheet/src/MDCActionSheetController.m
  components/ActionSheet/src/private/MDCActionSheetItemView.h
  components/ActionSheet/src/private/MDCActionSheetItemView.m
Owners: @material-components/core-ios-team

KVO tab bar item accessibilityIdentifier in MDCBottomNavigationItemView
  components/BottomNavigation/src/MDCBottomNavigationBar.m
Owners: @romoore

Add unit test for tracking UITabBarItem accessibilityIdentifier
  components/BottomNavigation/tests/unit/BottomNavigationItemViewCodingTests.m
Owners: @romoore

[FlexibleHeader] Fix inconsistent shifting behavior when deceleration ends.
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
Owners: @jverkoey

Initial commit
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Owners: @ianegordon

Fix insets
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Owners: @ianegordon

Fix KVO and associated spec
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
  components/BottomNavigation/tests/unit/BottomNavigationItemViewCodingTests.m
Owners: @romoore

Revert insets
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Owners: @ianegordon

Revert frame changes
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Owners: @ianegordon

Use hit area insets
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Owners: @ianegordon

[BottomNavigation] Fix delayed ink ripple
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.h
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
Owners: @romoore

Support dynamic type
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Owners: @ianegordon

Remove InkTouchControllerDelegate from ItemView
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.h
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
Owners: @romoore

Final code clean-up
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
Owners: @romoore

[FlexibleHeader] Fix iPhone X status bar bug when changing orientation. (#4592)
  components/FlexibleHeader/src/private/MDCStatusBarShifter.m
Owners: @jverkoey

[FlexibleHeader] Fix iPhone X status bar bug when changing orientation. (#4592)
  components/FlexibleHeader/src/private/MDCStatusBarShifter.m
Owners: @jverkoey

Safely cast inkView
  components/BottomNavigation/src/MDCBottomNavigationBar.m
Owners: @romoore

Fix bug where flexible header disappears when using voiceover
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
Owners: @jverkoey

[FlexibleHeader] Fix inconsistent shifting behavior when deceleration ends. (#4622)
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
Owners: @jverkoey

[FlexibleHeader] Fix inconsistent shifting behavior when deceleration ends. (#4622)
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
Owners: @jverkoey

[FlexibleHeader/AppBar] Add explicit safe area inset handling.
  catalog/MDCCatalog/MDCCatalogComponentsController.swift
  components/FlexibleHeader/examples/FlexibleHeaderConfiguratorExample.m
  components/FlexibleHeader/examples/FlexibleHeaderFABExample.m
  components/FlexibleHeader/examples/FlexibleHeaderHorizontalPagingExample.m
  components/FlexibleHeader/examples/FlexibleHeaderPageControlExample.m
  components/FlexibleHeader/examples/FlexibleHeaderTopLayoutGuideExample.m
  components/FlexibleHeader/examples/FlexibleHeaderTypicalUseExample.m
  components/FlexibleHeader/examples/FlexibleHeaderUINavigationBarExample.m
  components/FlexibleHeader/examples/FlexibleHeaderWrappedExample.m
  components/FlexibleHeader/examples/supplemental/FlexibleHeaderConfiguratorSupplemental.h
  components/FlexibleHeader/examples/supplemental/FlexibleHeaderConfiguratorSupplemental.m
  components/FlexibleHeader/src/MDCFlexibleHeaderContainerViewController.m
  components/FlexibleHeader/src/MDCFlexibleHeaderView.h
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
  components/FlexibleHeader/tests/unit/FlexibleHeaderTopSafeAreaInsetTests.swift
Owners: @material-components/core-ios-team, @jverkoey

Use availability check to silence cocoapods linter warning.
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
Owners: @jverkoey

Docs.
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
  components/FlexibleHeader/src/private/MDCFlexibleHeaderView+Private.h
Owners: @jverkoey

REmove outdated example code.
  catalog/MDCCatalog/MDCCatalogComponentsController.swift
Owners: @material-components/core-ios-team

Gate more behavior.
  components/FlexibleHeader/src/MDCFlexibleHeaderViewController.m
Owners: @jverkoey

Checkpoint of simplified implementation.
  components/FlexibleHeader/examples/FlexibleHeaderFABExample.m
  components/FlexibleHeader/examples/FlexibleHeaderHorizontalPagingExample.m
  components/FlexibleHeader/examples/FlexibleHeaderPageControlExample.m
  components/FlexibleHeader/examples/FlexibleHeaderTopLayoutGuideExample.m
  components/FlexibleHeader/examples/FlexibleHeaderUINavigationBarExample.m
  components/FlexibleHeader/examples/FlexibleHeaderWrappedExample.m
  components/FlexibleHeader/examples/supplemental/FlexibleHeaderConfiguratorSupplemental.m
  components/FlexibleHeader/src/MDCFlexibleHeaderContainerViewController.m
  components/FlexibleHeader/src/MDCFlexibleHeaderView.h
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
  components/FlexibleHeader/src/MDCFlexibleHeaderViewController.m
  components/FlexibleHeader/src/private/MDCFlexibleHeaderView+Private.h
Owners: @jverkoey

Add selector.
  components/FlexibleHeader/src/MDCFlexibleHeaderViewController.m
Owners: @jverkoey

Remove redundant code.
  components/FlexibleHeader/src/MDCFlexibleHeaderViewController.m
Owners: @jverkoey

Typos.
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
Owners: @jverkoey

Gate more logic behind flags.
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
Owners: @jverkoey

Move comments around.
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
Owners: @jverkoey

Move flag to the controller.
  components/FlexibleHeader/examples/FlexibleHeaderFABExample.m
  components/FlexibleHeader/examples/FlexibleHeaderHorizontalPagingExample.m
  components/FlexibleHeader/examples/FlexibleHeaderPageControlExample.m
  components/FlexibleHeader/examples/FlexibleHeaderTopLayoutGuideExample.m
  components/FlexibleHeader/examples/FlexibleHeaderTypicalUseExample.m
  components/FlexibleHeader/examples/FlexibleHeaderUINavigationBarExample.m
  components/FlexibleHeader/examples/FlexibleHeaderWrappedExample.m
  components/FlexibleHeader/examples/supplemental/FlexibleHeaderConfiguratorSupplemental.m
  components/FlexibleHeader/src/MDCFlexibleHeaderContainerViewController.m
  components/FlexibleHeader/src/MDCFlexibleHeaderView.h
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
  components/FlexibleHeader/src/MDCFlexibleHeaderViewController.h
  components/FlexibleHeader/src/MDCFlexibleHeaderViewController.m
  components/FlexibleHeader/src/private/MDCFlexibleHeaderView+Private.h
Owners: @jverkoey

Fix tests.
  components/FlexibleHeader/tests/unit/FlexibleHeaderWrappingLegacyTopLayoutGuideTests.swift
  components/FlexibleHeader/tests/unit/FlexibleHeaderWrappingTopLayoutGuideTests.swift
Owners: @jverkoey
