Repository material-components/material-components-ios, changes with the owners that CODEOWNERS names for each.
All owners: @material-components/core-ios-team, @codeman7, @yarneo, @jverkoey, @wenyuzhang666, @randallli, @galiak11, @iberezan, @andrewoverton, @jakerockland

Internal change
  .clang-format
Owners: @material-components/core-ios-team

[FlexibleHeader] Add synonyms to hairline API documentation for increased discovery.
  components/FlexibleHeader/src/MDCFlexibleHeaderViewController.h
Owners: @jverkoey

[NavigationBar] Remove default insets for leading titles.
  components/NavigationBar/src/MDCNavigationBar.h
  components/NavigationBar/src/MDCNavigationBar.m
  components/NavigationBar/tests/unit/NavigationBarTitleInsetsTests.swift
Owners: @yarneo, @jverkoey

[ActionSheet] Fix umbrella header imports
  components/ActionSheet/src/MaterialActionSheet.h
Owners: @codeman7

[ButtonBar] Move protocol definitions into separate header files
  components/ButtonBar/src/MDCButtonBar.h
  components/ButtonBar/src/MDCButtonBar.m
  components/ButtonBar/src/MDCButtonBarDelegate.h
  components/ButtonBar/src/MaterialButtonBar.h
Owners: @material-components/core-ios-team

[ActivityIndicator] Move protocol definitions into separate header files
  components/ActivityIndicator/src/MDCActivityIndicator.h
  components/ActivityIndicator/src/MDCActivityIndicator.m
  components/ActivityIndicator/src/MDCActivityIndicatorDelegate.h
  components/ActivityIndicator/src/MaterialActivityIndicator.h
Owners: @material-components/core-ios-team

[Material][Availability] Migrates Ripple to MDCAvailability.
  MaterialComponents.podspec
  components/Ripple/src/MDCRippleView.m
  components/Ripple/tests/snapshot/MDCRippleViewSnapshotTests.m
Owners: @material-components/core-ios-team, @yarneo

Add support for attributed dialog message text
  components/Dialogs/src/MDCAlertController.h
  components/Dialogs/src/MDCAlertController.m
Owners: @galiak11, @iberezan

[Chips] Add call to invalidateIntrinsicContentSize when text entry moves up or down a line.
  components/Chips/src/MDCChipField.m
Owners: @material-components/core-ios-team

[ProgressView] Adding default accessibility label
  MaterialComponents.podspec
  components/ProgressView/src/MDCProgressView.m
  components/ProgressView/src/MaterialProgressView.bundle/Resources/en.lproj/MaterialProgressView.strings
  components/ProgressView/src/private/MaterialProgressViewStrings.h
  components/ProgressView/src/private/MaterialProgressViewStrings_table.h
  components/ProgressView/tests/unit/ProgressViewTests.m
Owners: @material-components/core-ios-team

[ProgressView] Adding default accessibility label
  MaterialComponents.podspec
  components/ProgressView/src/MDCProgressView.m
  components/ProgressView/src/MaterialProgressView.bundle/Resources/en.lproj/MaterialProgressView.strings
  components/ProgressView/src/private/MaterialProgressViewStrings.h
  components/ProgressView/src/private/MaterialProgressViewStrings_table.h
  components/ProgressView/tests/unit/ProgressViewTests.m
Owners: @material-components/core-ios-team

CR Fixes
  components/Dialogs/src/MDCAlertController.h
  components/Dialogs/src/MDCAlertController.m
Owners: @galiak11, @iberezan

[Chips] Delete unused ChipTextField
  components/ChipTextField/examples/ChipTextFieldExampleViewController.swift
  components/ChipTextField/examples/MDCChipTextField.h
  components/ChipTextField/examples/MDCChipTextField.m
  components/ChipTextField/examples/MDCChipTextFieldScrollView.h
  components/ChipTextField/examples/MDCChipTextFieldScrollView.m
  components/ChipTextField/examples/UITextFieldWithChipsExample.swift
Owners: @material-components/core-ios-team

[Collections] Move protocol definitions into separate header files
  components/Collections/src/MDCCollectionViewController.m
  components/Collections/src/MaterialCollections.h
  components/Collections/src/private/MDCCollectionInfoBarView.h
  components/Collections/src/private/MDCCollectionInfoBarView.m
  components/Collections/src/private/MDCCollectionInfoBarViewDelegate.h
Owners: @jverkoey

[BottomSheet] Move protocol definitions into separate header files
  components/BottomSheet/src/MDCBottomSheetController.h
  components/BottomSheet/src/MDCBottomSheetController.m
  components/BottomSheet/src/MDCBottomSheetControllerDelegate.h
  components/BottomSheet/src/MDCBottomSheetPresentationController.h
  components/BottomSheet/src/MDCBottomSheetPresentationController.m
  components/BottomSheet/src/MDCBottomSheetPresentationControllerDelegate.h
  components/BottomSheet/src/MaterialBottomSheet.h
  components/BottomSheet/src/private/MDCDraggableView.h
  components/BottomSheet/src/private/MDCDraggableView.m
  components/BottomSheet/src/private/MDCDraggableViewDelegate.h
  components/BottomSheet/src/private/MDCSheetContainerView.h
  components/BottomSheet/src/private/MDCSheetContainerView.m
  components/BottomSheet/src/private/MDCSheetContainerViewDelegate.h
Owners: @yarneo

[AppBar] Move protocol definitions into separate header files
  components/AppBar/src/MDCAppBarNavigationController.h
  components/AppBar/src/MDCAppBarNavigationController.m
  components/AppBar/src/MDCAppBarNavigationControllerToBeDeprecatedDelegate.h
  components/AppBar/src/MDCAppBarViewController.h
  components/AppBar/src/MDCAppBarViewController.m
  components/AppBar/src/MDCAppBarViewControllerAccessibilityPerformEscapeDelegate.h
  components/AppBar/src/MaterialAppBar.h
Owners: @jverkoey

# Problem The current snapshot is inaccurate because there is not enough room to layout all the dialog's elements, so spaces between the elements are inaccurate for many snapshots.
  components/Dialogs/tests/snapshot/MDCAlertControllerActionsTests.m
Owners: @galiak11, @iberezan

[Icons] Use AssetCatalogs for ic_arrow_back images.
  components/private/Icons/icons/ic_arrow_back/src/Info.plist
  components/private/Icons/icons/ic_arrow_back/src/MaterialIcons_ic_arrow_back.xcassets/Contents.json
  components/private/Icons/icons/ic_arrow_back/src/MaterialIcons_ic_arrow_back.xcassets/ic_arrow_back.imageset/Contents.json
  components/private/Icons/icons/ic_arrow_back/src/MaterialIcons_ic_arrow_back.xcassets/ic_arrow_back.imageset/ic_arrow_back.png
  components/private/Icons/icons/ic_arrow_back/src/MaterialIcons_ic_arrow_back.xcassets/ic_arrow_back.imageset/ic_arrow_back@2x.png
  components/private/Icons/icons/ic_arrow_back/src/MaterialIcons_ic_arrow_back.xcassets/ic_arrow_back.imageset/ic_arrow_back@3x.png
  components/private/Icons/icons/ic_arrow_back/src/MaterialIcons_ic_arrow_back.xcassets/ic_arrow_back_ios.imageset/Contents.json
  components/private/Icons/icons/ic_arrow_back/src/MaterialIcons_ic_arrow_back.xcassets/ic_arrow_back_ios.imageset/ic_arrow_back_ios.png
  components/private/Icons/icons/ic_arrow_back/src/MaterialIcons_ic_arrow_back.xcassets/ic_arrow_back_ios.imageset/ic_arrow_back_ios@2x.png
  components/private/Icons/icons/ic_arrow_back/src/MaterialIcons_ic_arrow_back.xcassets/ic_arrow_back_ios.imageset/ic_arrow_back_ios@3x.png
Owners: @material-components/core-ios-team

[BottomNavigation] Move protocol definitions into separate header files
  components/BottomNavigation/src/MDCBottomNavigationBar.h
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/src/MDCBottomNavigationBarController.h
  components/BottomNavigation/src/MDCBottomNavigationBarController.m
  components/BottomNavigation/src/MDCBottomNavigationBarControllerDelegate.h
  components/BottomNavigation/src/MDCBottomNavigationBarDelegate.h
  components/BottomNavigation/src/MaterialBottomNavigation.h
Owners: @material-components/core-ios-team

[Dialogs] Move protocol definitions into separate header files
  components/Dialogs/src/MDCAlertController.h
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/src/MDCAlertControllerDelegate.h
  components/Dialogs/src/MDCDialogPresentationController.h
  components/Dialogs/src/MDCDialogPresentationController.m
  components/Dialogs/src/MDCDialogPresentationControllerDelegate.h
  components/Dialogs/src/MaterialDialogs.h
Owners: @galiak11, @iberezan

[FlexibleHeader] Move protocol definitions into separate header files
  components/FlexibleHeader/src/MDCFlexibleHeaderSafeAreaDelegate.h
  components/FlexibleHeader/src/MDCFlexibleHeaderView.h
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
  components/FlexibleHeader/src/MDCFlexibleHeaderViewAnimationDelegate.h
  components/FlexibleHeader/src/MDCFlexibleHeaderViewController.h
  components/FlexibleHeader/src/MDCFlexibleHeaderViewController.m
  components/FlexibleHeader/src/MDCFlexibleHeaderViewDelegate.h
  components/FlexibleHeader/src/MDCFlexibleHeaderViewLayoutDelegate.h
  components/FlexibleHeader/src/MaterialFlexibleHeader.h
  components/FlexibleHeader/src/private/MDCFlexibleHeaderMinMaxHeight.h
  components/FlexibleHeader/src/private/MDCFlexibleHeaderMinMaxHeight.m
  components/FlexibleHeader/src/private/MDCFlexibleHeaderMinMaxHeightDelegate.h
  components/FlexibleHeader/src/private/MDCFlexibleHeaderTopSafeArea.h
  components/FlexibleHeader/src/private/MDCFlexibleHeaderTopSafeArea.m
  components/FlexibleHeader/src/private/MDCFlexibleHeaderTopSafeAreaDelegate.h
  components/FlexibleHeader/src/private/MDCStatusBarShifter.h
  components/FlexibleHeader/src/private/MDCStatusBarShifter.m
  components/FlexibleHeader/src/private/MDCStatusBarShifterDelegate.h
Owners: @jverkoey

[BottomSheet] Remove private header imports from MaterialBottomSheet.h
  components/BottomSheet/src/MaterialBottomSheet.h
Owners: @yarneo

[Collections] Remove private header imports from MaterialCollections.h
  components/Collections/src/MaterialCollections.h
Owners: @jverkoey

[Ink] Move protocol definitions into separate header files
  components/Ink/src/MDCInkTouchController.h
  components/Ink/src/MDCInkTouchController.m
  components/Ink/src/MDCInkTouchControllerDelegate.h
  components/Ink/src/MDCInkView.h
  components/Ink/src/MDCInkView.m
  components/Ink/src/MDCInkViewDelegate.h
  components/Ink/src/MaterialInk.h
  components/Ink/src/private/MDCInkLayer.h
  components/Ink/src/private/MDCInkLayer.m
  components/Ink/src/private/MDCInkLayerDelegate.h
  components/Ink/src/private/MDCLegacyInkLayer+Private.h
  components/Ink/src/private/MDCLegacyInkLayer.h
  components/Ink/src/private/MDCLegacyInkLayer.m
  components/Ink/src/private/MDCLegacyInkLayerDelegate.h
  components/Ink/src/private/MDCLegacyInkLayerRippleDelegate.h
Owners: @yarneo

[Collections] Remove private header imports from MaterialCollections.h
  components/Collections/src/MaterialCollections.h
Owners: @jverkoey

[Collections] Move protocol definitions into separate header files
  components/Collections/src/MDCCollectionViewController.m
  components/Collections/src/MaterialCollections.h
  components/Collections/src/private/MDCCollectionInfoBarView.h
  components/Collections/src/private/MDCCollectionInfoBarView.m
  components/Collections/src/private/MDCCollectionInfoBarViewDelegate.h
Owners: @jverkoey

[Icons] Update podspec to include asset catalogs in bundle.
  scripts/generated/icons.rb
Owners: @material-components/core-ios-team

Colon Fix
  components/Dialogs/src/MDCAlertController.m
Owners: @galiak11, @iberezan

Add unit tests
  components/Dialogs/tests/unit/MDCAlertControllerTests.m
Owners: @galiak11, @iberezan

Expose attributed message convenience init API
  components/Dialogs/src/MDCAlertController.h
Owners: @galiak11, @iberezan

Test styling fix
  components/Dialogs/tests/unit/MDCAlertControllerTests.m
Owners: @galiak11, @iberezan

Remove trailing whitespace from attributedMessage property comment
  components/Dialogs/src/MDCAlertController.h
Owners: @galiak11, @iberezan

clang format lint fixes
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/tests/unit/MDCAlertControllerTests.m
Owners: @galiak11, @iberezan

Remove whitespace from attributed message init documentation
  components/Dialogs/src/MDCAlertController.h
Owners: @galiak11, @iberezan

Rename method to avoid naming collision
  components/Dialogs/src/MDCAlertController.m
Owners: @galiak11, @iberezan

Update TextFields docs
  components/TextFields/.vars
  components/TextFields/README.md
  components/TextFields/docs/typography-theming.md
Owners: @andrewoverton

Update components/Dialogs/src/MDCAlertController.m
  components/Dialogs/src/MDCAlertController.m
Owners: @galiak11, @iberezan

Update skeleton readme
  components/TextFields/README.md
  components/TextFields/docs/README.md
Owners: @andrewoverton

Missing clang lint fix
  components/Dialogs/tests/unit/MDCAlertControllerTests.m
Owners: @galiak11, @iberezan

[Dialogs] Support title icon content mode through custom titleIconImageView.
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/src/private/MDCAlertController+Customize.h
  components/Dialogs/src/private/MDCAlertControllerView+Private.h
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
  components/Dialogs/tests/snapshot/MDCAlertControllerConfigurationsTests.m
Owners: @galiak11, @iberezan

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
**       @material-components/core-ios-team

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
/components/ActionSheet/          @codeman7
/components/AnimationTiming/      @yarneo
/components/AppBar/               @jverkoey
/components/BottomAppBar/         @wenyuzhang666
/components/BottomSheet/          @yarneo
/components/Buttons/              @randallli
/components/Cards/                @yarneo
/components/CollectionCells/      @yarneo
/components/CollectionLayoutAttributes/ @jverkoey
/components/Collections/          @jverkoey
/components/Dialogs/              @galiak11 @iberezan
/components/FeatureHighlight/     @codeman7
/components/FlexibleHeader/       @jverkoey
/components/HeaderStackView/      @jverkoey
/components/Ink/                  @yarneo
/components/LibraryInfo/          @jverkoey
/components/List                  @andrewoverton
/components/MaskedTransition/     @jverkoey
/components/NavigationBar/        @yarneo @jverkoey
/components/NavigationDrawer/     @yarneo @jakerockland
/components/OverlayWindow/        @yarneo
/components/PageControl/          @randallli
/components/Palettes/             @jverkoey
/components/Ripple                @yarneo
/components/ShadowElevations/     @jverkoey
/components/ShadowLayer/          @jverkoey
/components/Snackbar/             @yarneo
/components/TextFields/           @andrewoverton
/components/Themes/               @jverkoey
