Repository material-components/material-components-ios, changes with the owners that CODEOWNERS names for each.
All owners: @material-components/core-ios-team, @codeman7, @yarneo, @jverkoey, @wenyuzhang666, @randallli, @galiak11, @iberezan, @andrewoverton, @jakerockland

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
**       @material-components/core-ios-team

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
/components/ActionSheet/          @codeman7
/components/AnimationTiming/      @yarneo
/components/AppBar/               @jverkoey
/components/BottomAppBar/         @wenyuzhang666
/components/BottomSheet/          @yarneo
/components/Buttons/              @randallli
/components/Cards/                @yarneo
/components/CollectionCells/      @yarneo
/components/CollectionLayoutAttributes/ @jverkoey
/components/Collections/          @jverkoey
/components/Dialogs/              @galiak11 @iberezan
/components/FeatureHighlight/     @codeman7
/components/FlexibleHeader/       @jverkoey
/components/HeaderStackView/      @jverkoey
/components/Ink/                  @yarneo
/components/LibraryInfo/          @jverkoey
/components/List                  @andrewoverton
/components/MaskedTransition/     @jverkoey
/components/NavigationBar/        @yarneo @jverkoey
/components/NavigationDrawer/     @yarneo @jakerockland
/components/OverlayWindow/        @yarneo
/components/PageControl/          @randallli
/components/Palettes/             @jverkoey
/components/Ripple                @yarneo
/components/ShadowElevations/     @jverkoey
/components/ShadowLayer/          @jverkoey
/components/Snackbar/             @yarneo
/components/TextFields/           @andrewoverton
/components/Themes/               @jverkoey

Add customization options to MDCSnackbarManager and MDCSnackbarMessageView
  components/Snackbar/src/MDCSnackbarManager.h
  components/Snackbar/src/MDCSnackbarManager.m
  components/Snackbar/src/MDCSnackbarMessageView.h
  components/Snackbar/src/MDCSnackbarMessageView.m
Owners: @yarneo

Add disableInkAndRippleBehavior and tintColor to Chips.
  components/Chips/src/MDCChipView.h
  components/Chips/src/MDCChipView.m
Owners: @material-components/core-ios-team

Refactor layout constraints for nav suite.
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/src/MDCBottomNavigationBarController.m
Owners: @material-components/core-ios-team

[NavigationSuite/Codehealth] Fix issue where the MDCBottomNavigationBar takes up more space than it needs.
  components/BottomNavigation/src/MDCBottomNavigationBar.m
Owners: @material-components/core-ios-team

[NavigationSuite] Move transition logic to MDCBottomNavigationBarController in automatic mode.
  components/BottomNavigation/src/MDCBottomNavigationBarController.h
  components/BottomNavigation/src/MDCBottomNavigationBarController.m
Owners: @material-components/core-ios-team

Update minimum os build marco to 13.0
  components/MinimumOS/src/MDCMinimumOS.h
Owners: @material-components/core-ios-team

Add public `deleteButtonImage` UIImage property to MDCChipField
  components/Chips/src/MDCChipField.h
  components/Chips/src/MDCChipField.m
Owners: @material-components/core-ios-team

[NavigationSuite] Add delegate API that allows users to set a callback block that is called when the layout changed under automatic mode.
  components/BottomNavigation/src/MDCBottomNavigationBarController.m
  components/BottomNavigation/src/MDCBottomNavigationBarControllerDelegate.h
Owners: @material-components/core-ios-team

Remove scaling divider between carousel cells.
  components/Carousel/src/private/ParallaxLayoutVerticalAttributes.swift
Owners: @material-components/core-ios-team

Allow action buttons with long text to appear below the message text
  components/Snackbar/src/MDCSnackbarMessageView.m
Owners: @yarneo

[Dialog/CodeHealth] Fix issue where enabling M3CButtons multiple times via branding API causes asserts to hit.
  components/Dialogs/src/MDCAlertController.m
Owners: @galiak11, @iberezan

Internal change
  components/Snackbar/src/MDCSnackbarManager.h
Owners: @yarneo

Add haptics to Bottom Navigation bar controller.
  components/BottomNavigation/src/MDCBottomNavigationBarController.m
Owners: @material-components/core-ios-team

Add M3CTextField component.
  components/M3CTextField/src/M3CTextField.swift
Owners: @material-components/core-ios-team

Override carectRect to use font's lineHeight.
  components/M3CTextField/src/M3CTextField.swift
Owners: @material-components/core-ios-team

#Dialog Add an API for the Dialog insets
  components/Dialogs/src/MDCAlertController.h
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/src/MDCDialogPresentationController.h
  components/Dialogs/src/MDCDialogPresentationController.m
  components/Dialogs/src/MDCDialogTransitionController.h
  components/Dialogs/src/MDCDialogTransitionController.m
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
  components/Dialogs/tests/unit/MDCAlertControllerInsetsTests.m
Owners: @galiak11, @iberezan

Change caretRect to use averaged diff between font.lineHeight and caret height as a y-offset.
  components/M3CTextField/src/M3CTextField.swift
Owners: @material-components/core-ios-team

Rename `textField` property to `textContainer`
  components/M3CTextField/src/M3CTextField.swift
Owners: @material-components/core-ios-team

[BottomNavigationController] Haptics is now disabled by default and turned on by the bottom navigation controller's enableHaptics API.
  components/BottomNavigation/src/MDCBottomNavigationBarController.h
  components/BottomNavigation/src/MDCBottomNavigationBarController.m
Owners: @material-components/core-ios-team

Remove enableVerticalLayout public API for MDCBottomNavigationController.
  components/BottomNavigation/src/MDCBottomNavigationBarController.h
  components/BottomNavigation/src/MDCBottomNavigationBarController.m
Owners: @material-components/core-ios-team

Make left/right margins equal for full-width text
  components/Snackbar/src/MDCSnackbarMessageView.m
Owners: @yarneo

Fix issue where dynamic type causes Dialogs with M3CButtons to violate insets.
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Owners: @galiak11, @iberezan

Update min touch target for M3CButton to 44pt to match spec. Previously was 48pt.
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Owners: @galiak11, @iberezan

Refactor layout constraints for bottom navigation bar controller.
  components/BottomNavigation/src/MDCBottomNavigationBarController.m
Owners: @material-components/core-ios-team

Enable `adjustsFontForContentSizeCategory` on M3CTextField's label properties.
  components/M3CTextField/src/M3CTextField.swift
Owners: @material-components/core-ios-team

Update min touch target for M3CButton to 44pt to match spec. Previously was 48pt.
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Owners: @galiak11, @iberezan

Automatically set new item size for bounds change.
  components/Carousel/src/ParallaxFlowLayout.swift
Owners: @material-components/core-ios-team

Change M3CTextField minimum version from 14.0 to 13.0.
  components/M3CTextField/src/M3CTextField.swift
Owners: @material-components/core-ios-team

Add M3CAnimationActions.
  components/Shadow/src/M3CAnimationActions.h
  components/Shadow/src/M3CAnimationActions.m
Owners: @material-components/core-ios-team

Add M3CTextInput protocol and M3CTextView component.
  components/M3CTextField/src/M3CTextField.swift
  components/M3CTextField/src/M3CTextView.swift
  components/M3CTextField/src/private/M3CTextInput.swift
Owners: @material-components/core-ios-team

Add M3CAnimationActions to MDCButton
  components/Buttons/src/MDCButton.m
Owners: @randallli

#BottomNavigation Add content corner radius API
  components/BottomNavigation/src/MDCBottomNavigationBarController.h
  components/BottomNavigation/src/MDCBottomNavigationBarController.m
Owners: @material-components/core-ios-team

[Dialogs/Codehealth] Fix issue where the dialog size shrinks when dynamic type font size changes.
  components/Dialogs/src/MDCAlertController.m
Owners: @galiak11, @iberezan

Lighten haptics generated by switching view controllers in navigation suite.
  components/BottomNavigation/src/MDCBottomNavigationBarController.m
Owners: @material-components/core-ios-team

Add objc attributes to public properties in M3CTextField and M3CTextView.
  components/M3CTextField/src/M3CTextField.swift
  components/M3CTextField/src/M3CTextView.swift
Owners: @material-components/core-ios-team

Add M3CAnimationAction to M3CButton.
  components/M3CButton/src/M3CButton.m
Owners: @material-components/core-ios-team

[NavigationSuite/Codehealth] Fix issue where the bar's width does not scale in fixed vertical layout after rotation.
  components/BottomNavigation/src/MDCBottomNavigationBarController.m
Owners: @material-components/core-ios-team

Add custom UIControl.State for M3CTextInput, and implement set...Color:forState: for M3CTextField.
  components/M3CTextField/src/M3CTextField.swift
  components/M3CTextField/src/M3CTextInputControlState.swift
  components/M3CTextField/src/M3CTextView.swift
  components/M3CTextField/src/private/M3CTextInput.swift
Owners: @material-components/core-ios-team

Make M3CTextInput custom control state public.
  components/M3CTextField/src/M3CTextField.swift
  components/M3CTextField/src/M3CTextInputControlState.swift
Owners: @material-components/core-ios-team

Polish visual hierarchy of bottom navigation bar.
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
Owners: @material-components/core-ios-team
