Repository material-components/material-components-ios, changes with the owners that CODEOWNERS names for each.
All owners: @material-components/core-ios-team, @codeman7, @yarneo, @jverkoey, @wenyuzhang666, @randallli, @galiak11, @iberezan, @andrewoverton, @jakerockland

[TabBar] Deprecate typography themer API.
  components/Tabs/src/TypographyThemer/MDCTabBarTypographyThemer.h
Owners: @material-components/core-ios-team

[FlexibleHeader] Deprecate pre iOS 8 ToBeDeprecated APIs.
  components/FlexibleHeader/src/MDCFlexibleHeaderView.h
Owners: @jverkoey

[AppBar] Deprecate AppBar color themer APIs.
  components/AppBar/src/ColorThemer/MDCAppBarColorThemer.h
Owners: @jverkoey

[Dialogs] Add an accessoryView with a collection example
  components/Dialogs/examples/DialogsAccessoryExampleViewController.swift
Owners: @galiak11, @iberezan

[Math] Deprecate all APIs that have a direct standard library equivalent.
  components/private/Math/src/MDCMath.h
Owners: @material-components/core-ios-team

Delete deprecated buttonFont for MDCAlert and make all appropriate changes following deletion
  components/Dialogs/src/MDCAlertController.h
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/src/MDCAlertControllerView.h
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
  components/Dialogs/tests/snapshot/MDCAlertControllerCustomTraitCollectionTests.m
  components/Dialogs/tests/snapshot/MDCAlertControllerLocalizationTests.m
  components/Dialogs/tests/unit/MDCAlertControllerLayoutTests.m
  components/Dialogs/tests/unit/MDCAlertControllerTests.m
Owners: @galiak11, @iberezan

Replace chips docs
  components/Chips/README.md
  components/Chips/docs/README.md
  components/Chips/docs/assets/chips-hero.png
  components/Chips/docs/assets/shrine-chips.png
  components/Chips/docs/chips-collections.md
  components/Chips/docs/enable-chips-that-delete.md
  components/Chips/docs/examples.md
  components/Chips/docs/theming.md
  components/Chips/docs/tips.md
Owners: @material-components/core-ios-team

[TabBarView] Scroll to selected item when there is an orientation/size change.
  components/Tabs/src/TabBarView/MDCTabBarView.m
  components/Tabs/tests/unit/TabBarView/MDCTabBarViewTests.m
Owners: @material-components/core-ios-team

WIP
  components/Chips/README.md
  components/Chips/docs/assets/chips-anatomy.png
  components/Chips/docs/assets/chips-composite.png
Owners: @material-components/core-ios-team

Address CL feedback
  components/Chips/README.md
Owners: @material-components/core-ios-team

Fix typos
  components/Chips/README.md
Owners: @material-components/core-ios-team

[Dialogs] Adding accessoryViewHorizontalInset API
  components/Dialogs/examples/DialogsAccessoryExampleViewController.swift
  components/Dialogs/src/MDCAlertControllerView.h
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
  components/Dialogs/tests/snapshot/MDCAlertControllerInsetsTests.m
Owners: @galiak11, @iberezan

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

[Snackbar] Delete all deprecated APIs.
  components/Snackbar/src/MDCSnackbarManager.h
  components/Snackbar/src/MDCSnackbarManager.m
  components/Snackbar/tests/unit/MDCSnackbarManagerInstanceTests.m
Owners: @yarneo

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Bumped version number to 117.0.0.
  MaterialComponents.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

Fix an issue that alertController:didTapAction:withEvent: delegate method is not called if the action doesn't have completion handler.
  components/Dialogs/src/MDCAlertController.m
Owners: @galiak11, @iberezan

Address CL feedback
  components/Chips/README.md
Owners: @material-components/core-ios-team

[ActionSheet] Flatten the unit tests into a single directory.
  components/ActionSheet/tests/unit/MDCActionSheetThemingTest.m
Owners: @codeman7

[ActionSheet] Update all test and example files to match conventions.
  components/ActionSheet/examples/ActionSheetComparisonExample.m
  components/ActionSheet/examples/ActionSheetTypalUseSwiftExample.swift
  components/ActionSheet/examples/ActionSheetTypicalUseExample.m
  components/ActionSheet/tests/unit/ActionSheetTestHelpers.h
  components/ActionSheet/tests/unit/ActionSheetTestHelpers.m
  components/ActionSheet/tests/unit/MDCActionSheetControllerRippleTests.m
  components/ActionSheet/tests/unit/MDCActionSheetControllerSwiftTests.swift
  components/ActionSheet/tests/unit/MDCActionSheetControllerTests.m
  components/ActionSheet/tests/unit/MDCActionSheetControllerThemingTests.m
  components/ActionSheet/tests/unit/MDCActionSheetItemTableViewCellTests.m
Owners: @codeman7

[Math] Remove use of deprecated methods.
  components/private/Math/src/MDCMath.h
Owners: @material-components/core-ios-team

[Chips] Replace Chips docs
  components/Chips/README.md
  components/Chips/docs/README.md
  components/Chips/docs/assets/chips-anatomy.png
  components/Chips/docs/assets/chips-composite.png
  components/Chips/docs/assets/chips-hero.png
  components/Chips/docs/assets/shrine-chips.png
  components/Chips/docs/chips-collections.md
  components/Chips/docs/enable-chips-that-delete.md
  components/Chips/docs/examples.md
  components/Chips/docs/theming.md
  components/Chips/docs/tips.md
Owners: @material-components/core-ios-team

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

Update podfile and podspec to remove test targets
  MaterialComponents.podspec
  catalog/Podfile
Owners: @material-components/core-ios-team

Automatic changelog preparation for release.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Bumped version number to 118.0.0.
  CHANGELOG.md
  MaterialComponents.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Replace snackbar docs
  components/Snackbar/README_NEW.md
  components/Snackbar/docs/assets/snackbars-anatomy.png
  components/Snackbar/docs/assets/snackbars-hero.png
Owners: @yarneo

More changes
  components/Snackbar/README.md
  components/Snackbar/README_NEW.md
  components/Snackbar/docs/assets/snackbar-example.png
Owners: @yarneo

Delete obsolete files
  components/Snackbar/docs/color-theming.md
  components/Snackbar/docs/typical-use-display-a-message-with-action.md
  components/Snackbar/docs/typical-use-display-a-message.md
Owners: @yarneo

[Math] Remove use of deprecated methods.
  components/private/Math/src/MDCMath.h
Owners: @material-components/core-ios-team

Replace snackbar docs
  components/Snackbar/README.md
  components/Snackbar/docs/assets/snackbar-example.png
  components/Snackbar/docs/assets/snackbars-anatomy.png
  components/Snackbar/docs/assets/snackbars-hero.png
  components/Snackbar/docs/color-theming.md
  components/Snackbar/docs/typical-use-display-a-message-with-action.md
  components/Snackbar/docs/typical-use-display-a-message.md
Owners: @yarneo

Address feedback
  components/Snackbar/README.md
Owners: @yarneo

Replace snackbar example asset
  components/Snackbar/docs/README.md
  components/Snackbar/docs/assets/snackbar-example.png
Owners: @yarneo

[Snackbar] Replace snackbar docs
  components/Snackbar/README.md
  components/Snackbar/docs/README.md
  components/Snackbar/docs/assets/snackbar-example.png
  components/Snackbar/docs/assets/snackbar.png
  components/Snackbar/docs/assets/snackbars-anatomy.png
  components/Snackbar/docs/assets/snackbars-hero.png
  components/Snackbar/docs/color-theming.md
  components/Snackbar/docs/typical-use-display-a-message-with-action.md
  components/Snackbar/docs/typical-use-display-a-message.md
Owners: @yarneo

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

Bumped version number to 118.0.1.
  CHANGELOG.md
  MaterialComponents.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
**       @material-components/core-ios-team

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
/components/ActionSheet/          @codeman7
/components/AnimationTiming/      @yarneo
/components/AppBar/               @jverkoey
/components/BottomAppBar/         @wenyuzhang666
/components/BottomSheet/          @yarneo
/components/Buttons/              @randallli
/components/Cards/                @yarneo
/components/CollectionCells/      @yarneo
/components/CollectionLayoutAttributes/ @jverkoey
/components/Collections/          @jverkoey
/components/Dialogs/              @galiak11 @iberezan
/components/FeatureHighlight/     @codeman7
/components/FlexibleHeader/       @jverkoey
/components/HeaderStackView/      @jverkoey
/components/Ink/                  @yarneo
/components/LibraryInfo/          @jverkoey
/components/List                  @andrewoverton
/components/MaskedTransition/     @jverkoey
/components/NavigationBar/        @yarneo @jverkoey
/components/NavigationDrawer/     @yarneo @jakerockland
/components/OverlayWindow/        @yarneo
/components/PageControl/          @randallli
/components/Palettes/             @jverkoey
/components/Ripple                @yarneo
/components/ShadowElevations/     @jverkoey
/components/ShadowLayer/          @jverkoey
/components/Snackbar/             @yarneo
/components/TextFields/           @andrewoverton
/components/Themes/               @jverkoey
