Repository material-components/material-components-ios, changes with the owners that CODEOWNERS names for each.
All owners: @material-components/core-ios-team, @codeman7, @yarneo, @jverkoey, @wenyuzhang666, @randallli, @galiak11, @iberezan, @andrewoverton, @jakerockland

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
**       @material-components/core-ios-team

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
/components/ActionSheet/          @codeman7
/components/AnimationTiming/      @yarneo
/components/AppBar/               @jverkoey
/components/BottomAppBar/         @wenyuzhang666
/components/BottomSheet/          @yarneo
/components/Buttons/              @randallli
/components/Cards/                @yarneo
/components/CollectionCells/      @yarneo
/components/CollectionLayoutAttributes/ @jverkoey
/components/Collections/          @jverkoey
/components/Dialogs/              @galiak11 @iberezan
/components/FeatureHighlight/     @codeman7
/components/FlexibleHeader/       @jverkoey
/components/HeaderStackView/      @jverkoey
/components/Ink/                  @yarneo
/components/LibraryInfo/          @jverkoey
/components/List                  @andrewoverton
/components/MaskedTransition/     @jverkoey
/components/NavigationBar/        @yarneo @jverkoey
/components/NavigationDrawer/     @yarneo @jakerockland
/components/OverlayWindow/        @yarneo
/components/PageControl/          @randallli
/components/Palettes/             @jverkoey
/components/Ripple                @yarneo
/components/ShadowElevations/     @jverkoey
/components/ShadowLayer/          @jverkoey
/components/Snackbar/             @yarneo
/components/TextFields/           @andrewoverton
/components/Themes/               @jverkoey

[dialogs] Moving non appearance API to private header
  components/Dialogs/src/MDCAlertControllerView.h
Owners: @galiak11, @iberezan

Internal error fixes
  components/Dialogs/src/MDCAlertController.h
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/tests/unit/MDCAlertControllerTests.m
Owners: @galiak11, @iberezan

Add unsoported links disclaimer
  components/Dialogs/src/MDCAlertController.h
Owners: @galiak11, @iberezan

[MDC/Chips] Update intrinsicContentSize when text, font, or image change.
  components/Chips/src/MDCChipView.m
  components/Chips/tests/unit/MDCChipViewTests.m
Owners: @material-components/core-ios-team

Fix trailing space (1)
  components/Dialogs/src/MDCAlertController.h
Owners: @galiak11, @iberezan

Fix trailing space - revenge of the blankspace
  components/Dialogs/src/MDCAlertController.h
Owners: @galiak11, @iberezan

Refactor label (attributed)text assignment logic
  components/Dialogs/src/MDCAlertController.m
Owners: @galiak11, @iberezan

Clang tidy up
  components/Dialogs/src/MDCAlertController.h
  components/Dialogs/src/MDCAlertController.m
Owners: @galiak11, @iberezan

[Collections] Move protocol definitions into separate header files
  components/Collections/src/private/MDCCollectionInfoBarView.h
  components/Collections/src/private/MDCCollectionInfoBarView.m
  components/Collections/src/private/MDCCollectionInfoBarViewDelegate.h
Owners: @jverkoey

[Tabs] Move protocol definitions into separate header files
  components/Tabs/src/MDCTabBar.h
  components/Tabs/src/MDCTabBar.m
  components/Tabs/src/MDCTabBarControllerDelegate.h
  components/Tabs/src/MDCTabBarDelegate.h
  components/Tabs/src/MDCTabBarViewController.h
  components/Tabs/src/MDCTabBarViewController.m
  components/Tabs/src/MaterialTabs.h
  components/Tabs/src/private/MDCItemBar.h
  components/Tabs/src/private/MDCItemBar.m
  components/Tabs/src/private/MDCItemBarDelegate.h
Owners: @material-components/core-ios-team

[Snackbar] Move protocol definitions into separate header files
  components/Snackbar/src/MDCSnackbarManager.h
  components/Snackbar/src/MDCSnackbarManager.m
  components/Snackbar/src/MDCSnackbarManagerDelegate.h
  components/Snackbar/src/MaterialSnackbar.h
Owners: @yarneo

[Ripple] Move protocol definitions into separate header files
  components/Ripple/src/MDCRippleTouchController.h
  components/Ripple/src/MDCRippleTouchController.m
  components/Ripple/src/MDCRippleTouchControllerDelegate.h
  components/Ripple/src/MDCRippleView.h
  components/Ripple/src/MDCRippleView.m
  components/Ripple/src/MDCRippleViewDelegate.h
  components/Ripple/src/MaterialRipple.h
  components/Ripple/src/private/MDCRippleLayer.h
  components/Ripple/src/private/MDCRippleLayer.m
  components/Ripple/src/private/MDCRippleLayerDelegate.h
Owners: @yarneo

[TextFields] Move protocol definitions into separate header files
  components/TextFields/src/MDCMultilineTextField.h
  components/TextFields/src/MDCMultilineTextField.m
  components/TextFields/src/MDCMultilineTextInputLayoutDelegate.h
  components/TextFields/src/MaterialTextFields.h
Owners: @andrewoverton

[NavigationDrawer] Move protocol definitions into separate header files
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.h
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.m
  components/NavigationDrawer/src/MDCBottomDrawerPresentationControllerDelegate.h
  components/NavigationDrawer/src/MDCBottomDrawerViewController.h
  components/NavigationDrawer/src/MDCBottomDrawerViewController.m
  components/NavigationDrawer/src/MDCBottomDrawerViewControllerDelegate.h
  components/NavigationDrawer/src/MaterialNavigationDrawer.h
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.h
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewControllerDelegate.h
Owners: @yarneo, @jakerockland

[Slider] Move protocol definitions into separate header files
  components/Slider/src/MDCSlider.h
  components/Slider/src/MDCSlider.m
  components/Slider/src/MDCSliderDelegate.h
  components/Slider/src/MaterialSlider.h
Owners: @material-components/core-ios-team

[FlexibleHeader] Remove imports of private headers from MaterialFlexibleHeader.h
  components/FlexibleHeader/src/MaterialFlexibleHeader.h
Owners: @jverkoey

[Dialogs] Refactor titleIconViewSize.
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Owners: @galiak11, @iberezan

[Chips] Adds disabling chip example to the Dragons catalog.
  components/Chips/examples/ChipsDisablingExampleViewController.m
Owners: @material-components/core-ios-team

CR @note in comment fix
  components/Dialogs/src/MDCAlertController.h
Owners: @galiak11, @iberezan

[Dialogs] Add TitleIcon snapshot tests.
  components/Dialogs/tests/snapshot/MDCAlertControllerConfigurationsTests.m
  components/Dialogs/tests/snapshot/resources/DialogsSnapshotTests.xcassets/long-image.imageset/Contents.json
  components/Dialogs/tests/snapshot/resources/DialogsSnapshotTests.xcassets/long-image.imageset/long-image.png
  components/Dialogs/tests/snapshot/resources/DialogsSnapshotTests.xcassets/long-image.imageset/long-image@2x.png
  components/Dialogs/tests/snapshot/resources/DialogsSnapshotTests.xcassets/long-image.imageset/long-image@3x.png
  components/Dialogs/tests/snapshot/resources/DialogsSnapshotTests.xcassets/square-image.imageset/Contents.json
  components/Dialogs/tests/snapshot/resources/DialogsSnapshotTests.xcassets/square-image.imageset/square-image.jpg
  components/Dialogs/tests/snapshot/resources/DialogsSnapshotTests.xcassets/square-image.imageset/square-image@2x.jpg
  components/Dialogs/tests/snapshot/resources/DialogsSnapshotTests.xcassets/square-image.imageset/square-image@3x.jpg
  components/Dialogs/tests/snapshot/resources/DialogsSnapshotTests.xcassets/wide-image.imageset/Contents.json
  components/Dialogs/tests/snapshot/resources/DialogsSnapshotTests.xcassets/wide-image.imageset/wide-image.png
  components/Dialogs/tests/snapshot/resources/DialogsSnapshotTests.xcassets/wide-image.imageset/wide-image@2x.png
  components/Dialogs/tests/snapshot/resources/DialogsSnapshotTests.xcassets/wide-image.imageset/wide-image@3x.png
Owners: @galiak11, @iberezan

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

Bump version to 107.4.0, update release notes
  CHANGELOG.md
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Fix capitalization for deprecation messages and a few comments in MDCAlertControllerView.
  components/Dialogs/src/MDCAlertControllerView.h
Owners: @galiak11, @iberezan

Fix capitalization for deprecation messages and a few comments in MDCAlertControllerView.
  components/Dialogs/src/MDCAlertControllerView.h
Owners: @galiak11, @iberezan

Fix SnackBar crash when snackbarView is nil
  components/Snackbar/src/private/MDCSnackbarOverlayView.m
Owners: @yarneo

[TextFields] Update TextFields docs
  components/TextFields/.vars
  components/TextFields/README.md
  components/TextFields/docs/README.md
  components/TextFields/docs/typography-theming.md
Owners: @andrewoverton

Add additional nil checks in SnackBar display/dismissal
  components/Snackbar/src/private/MDCSnackbarOverlayView.m
Owners: @yarneo

Only use self.snackbarView for dismissing snackbars, not presenting them
  components/Snackbar/src/private/MDCSnackbarOverlayView.m
Owners: @yarneo

Have an option in MDCTabBarView to not adjust for safe are insets (default is to adjust).
  components/Tabs/src/TabBarView/MDCTabBarView.h
  components/Tabs/src/TabBarView/MDCTabBarView.m
Owners: @material-components/core-ios-team

[ProgressView] Adding default accessibility label
  MaterialComponents.podspec
  components/ProgressView/src/MDCProgressView.m
  components/ProgressView/src/MaterialProgressView.bundle/Resources/en.lproj/MaterialProgressView.strings
  components/ProgressView/src/private/MaterialProgressViewStrings.h
  components/ProgressView/src/private/MaterialProgressViewStrings_table.h
  components/ProgressView/tests/unit/ProgressViewTests.m
Owners: @material-components/core-ios-team

[Dialogs] Remove the logic that sets accessibilityFrame manually on messageLabel.
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Owners: @galiak11, @iberezan

[Chips] Allow ending touch animation to proceed if chip is disabled on tap.
  components/Chips/src/MDCChipView.m
Owners: @material-components/core-ios-team

Give MDCBottomSheetPresentationController an opt-in mechanism to propagate presentingViewController safeAreaInsets to the presentedViewController.
  components/BottomSheet/src/MDCBottomSheetPresentationController.h
  components/BottomSheet/src/MDCBottomSheetPresentationController.m
Owners: @yarneo

Fix tests
  components/Dialogs/tests/unit/MDCAlertControllerTests.m
Owners: @galiak11, @iberezan

[Catalog] Add default case in UITouchPhase switch to account for new UITouchPhases added in iOS 13.4
  catalog/MDCCatalog/MDCCatalogWindow.swift
Owners: @material-components/core-ios-team

[MDC/ColorScheme] Remove usage of `init` within MDC.
  components/ActionSheet/tests/unit/ColorThemer/MDCActionSheetColorThemerTest.swift
  components/AppBar/tests/unit/AppBarColorThemerTests.swift
  components/BottomNavigation/examples/BottomNavigationTitleVisibilityChangeExample.swift
  components/BottomNavigation/examples/BottomNavigationTypicalUseExample.swift
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationBarThemingSnapshotTests.m
  components/BottomNavigation/tests/unit/Theming/MDCBottomNavigationThemingTests.m
  components/BottomSheet/examples/BottomSheetTableViewExample.swift
  components/BottomSheet/examples/BottomSheetUIControlExample.swift
  components/Buttons/tests/unit/Theming/ButtonsThemingTest.swift
  components/Dialogs/examples/DialogsAlertCustomizationExampleViewController.swift
  components/Dialogs/examples/DialogsThemedPresentationExampleViewController.swift
  components/Dialogs/tests/unit/Theming/DialogsMaterialThemingTests.swift
  components/FeatureHighlight/examples/FeatureHightlightTypicalUseViewController.swift
  components/NavigationBar/examples/NavigationBarTypicalUseExample.swift
  components/NavigationBar/tests/unit/NavigationBarColorThemerTests.swift
  components/NavigationDrawer/examples/BottomDrawerExpandFullscreenExample.swift
  components/NavigationDrawer/examples/BottomDrawerInfiniteScrollingExample.swift
  components/NavigationDrawer/examples/BottomDrawerNoHeaderExample.swift
  components/NavigationDrawer/examples/BottomDrawerNoHeaderLessContentExample.swift
  components/NavigationDrawer/examples/BottomDrawerSwappingScrollViewsExample.swift
  components/NavigationDrawer/examples/BottomDrawerWithChangingContentSize.swift
  components/NavigationDrawer/examples/BottomDrawerWithHeaderExample.swift
  components/NavigationDrawer/examples/BottomDrawerWithScrollableContentExample.swift
  components/Tabs/tests/unit/Theming/TabsThemingTests.m
  components/TextControls/examples/supplemental/MDCTextControlContentViewController.m
  components/TextControls/tests/unit/FilledTextAreasTheming/MDCFilledTextAreaThemingTests.m
  components/TextControls/tests/unit/FilledTextFieldsTheming/MDCFilledTextFieldThemingTests.m
  components/TextControls/tests/unit/OutlinedTextAreasTheming/MDCOutlinedTextAreaThemingTests.m
  components/TextControls/tests/unit/OutlinedTextFieldsTheming/MDCOutlinedTextFieldThemingTests.m
  components/schemes/Color/src/MDCSemanticColorScheme.m
  components/schemes/Color/tests/unit/MDCSemanticColorSchemeTests.m
Owners: @codeman7, @jverkoey, @material-components/core-ios-team, @yarneo, @randallli, @galiak11, @iberezan, @jakerockland

[MDC/ColorScheme] Remove usage of `init` within MDC.
  catalog/MDCCatalog/MDCThemePickerViewController.swift
Owners: @material-components/core-ios-team

[Dialogs] snapshot test for custom insets.
  components/Dialogs/tests/snapshot/MDCAlertControllerConfigurationsTests.m
Owners: @galiak11, @iberezan

[MDC/Docs] Remove usage of `init` with MDCSemanticColor scheme.
  docs/theming.md
Owners: @material-components/core-ios-team
