Repository material-components/material-components-ios, changes with the owners that CODEOWNERS names for each.
All owners: @material-components/core-ios-team, @codeman7, @yarneo, @jverkoey, @wenyuzhang666, @randallli, @galiak11, @iberezan, @andrewoverton, @jakerockland

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
**       @material-components/core-ios-team

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
/components/ActionSheet/          @codeman7
/components/AnimationTiming/      @yarneo
/components/AppBar/               @jverkoey
/components/BottomAppBar/         @wenyuzhang666
/components/BottomSheet/          @yarneo
/components/Buttons/              @randallli
/components/Cards/                @yarneo
/components/CollectionCells/      @yarneo
/components/CollectionLayoutAttributes/ @jverkoey
/components/Collections/          @jverkoey
/components/Dialogs/              @galiak11 @iberezan
/components/FeatureHighlight/     @codeman7
/components/FlexibleHeader/       @jverkoey
/components/HeaderStackView/      @jverkoey
/components/Ink/                  @yarneo
/components/LibraryInfo/          @jverkoey
/components/List                  @andrewoverton
/components/MaskedTransition/     @jverkoey
/components/NavigationBar/        @yarneo @jverkoey
/components/NavigationDrawer/     @yarneo @jakerockland
/components/OverlayWindow/        @yarneo
/components/PageControl/          @randallli
/components/Palettes/             @jverkoey
/components/Ripple                @yarneo
/components/ShadowElevations/     @jverkoey
/components/ShadowLayer/          @jverkoey
/components/Snackbar/             @yarneo
/components/TextFields/           @andrewoverton
/components/Themes/               @jverkoey

Clang.
  components/BottomSheet/src/MDCBottomSheetPresentationController.m
  components/BottomSheet/src/ShapeThemer/MDCBottomSheetControllerShapeThemer.h
  components/BottomSheet/src/UIViewController+MaterialBottomSheet.h
  components/Tabs/examples/MDCTabBarViewTypicalExampleViewController.m
Owners: @yarneo, @material-components/core-ios-team

Disable NavigationDrawer on macCatalyst builds.
  components/NavigationDrawer/examples/BottomDrawerExpandFullscreenExample.swift
  components/NavigationDrawer/examples/BottomDrawerInfiniteScrollingExample.swift
  components/NavigationDrawer/examples/BottomDrawerNoHeaderExample.swift
  components/NavigationDrawer/examples/BottomDrawerNoHeaderLessContentExample.swift
  components/NavigationDrawer/examples/BottomDrawerSwappingScrollViewsExample.swift
  components/NavigationDrawer/examples/BottomDrawerWithChangingContentSize.swift
  components/NavigationDrawer/examples/BottomDrawerWithHeaderExample.swift
  components/NavigationDrawer/examples/BottomDrawerWithHeaderLessContentExample.swift
  components/NavigationDrawer/examples/BottomDrawerWithScrollableContentExample.swift
  components/NavigationDrawer/examples/supplemental/BottomDrawerSupplemental.swift
  components/NavigationDrawer/src/ColorThemer/MDCBottomDrawerColorThemer.h
  components/NavigationDrawer/src/MDCBottomDrawerHeader.h
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.h
  components/NavigationDrawer/src/MDCBottomDrawerPresentationControllerDelegate.h
  components/NavigationDrawer/src/MDCBottomDrawerState.h
  components/NavigationDrawer/src/MDCBottomDrawerTransitionController.h
  components/NavigationDrawer/src/MDCBottomDrawerViewController.h
  components/NavigationDrawer/src/MDCBottomDrawerViewControllerDelegate.h
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.h
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewControllerDelegate.h
  components/NavigationDrawer/src/private/MDCBottomDrawerHeaderMask.h
  components/NavigationDrawer/src/private/MDCBottomDrawerShadowedView.h
Owners: @yarneo, @jakerockland

Swift format.
  catalog/MDCCatalog/AppDelegate.swift
  catalog/MDCCatalog/MDCCatalogComponentsController.swift
  catalog/MDCCatalog/MDCNodeListViewController.swift
  components/ActionSheet/examples/ActionSheetTypalUseSwiftExample.swift
  components/BottomSheet/examples/BottomSheetFirstResponderExample.swift
  components/BottomSheet/examples/BottomSheetLongTableViewExample.swift
  components/BottomSheet/examples/BottomSheetTableViewExample.swift
  components/BottomSheet/examples/BottomSheetUIControlExample.swift
Owners: @material-components/core-ios-team, @codeman7, @yarneo

Clang.
  components/NavigationDrawer/src/ColorThemer/MDCBottomDrawerColorThemer.h
Owners: @yarneo, @jakerockland

Swift format.
  components/NavigationDrawer/examples/BottomDrawerExpandFullscreenExample.swift
  components/NavigationDrawer/examples/BottomDrawerInfiniteScrollingExample.swift
  components/NavigationDrawer/examples/BottomDrawerNoHeaderExample.swift
  components/NavigationDrawer/examples/BottomDrawerNoHeaderLessContentExample.swift
  components/NavigationDrawer/examples/BottomDrawerSwappingScrollViewsExample.swift
  components/NavigationDrawer/examples/BottomDrawerWithChangingContentSize.swift
  components/NavigationDrawer/examples/BottomDrawerWithHeaderExample.swift
  components/NavigationDrawer/examples/BottomDrawerWithHeaderLessContentExample.swift
  components/NavigationDrawer/examples/BottomDrawerWithScrollableContentExample.swift
  components/NavigationDrawer/examples/supplemental/BottomDrawerSupplemental.swift
Owners: @yarneo, @jakerockland

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Bumped version number to 113.0.0.
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

Internal change
  components/Snackbar/examples/SnackbarSimpleExample.m
  components/Snackbar/tests/unit/MDCSnackbarManagerInstanceTests.m
Owners: @yarneo

Add isPointerInteractionEnabled availability check.
  components/Buttons/src/MDCFloatingButton+Animation.m
  components/Dialogs/src/private/MDCAlertActionManager.m
Owners: @randallli, @galiak11, @iberezan

[Snackbar] Deprecate more class methods on MDCSnackbarManager.
  components/Snackbar/src/MDCSnackbarManager.h
Owners: @yarneo

Material Snackbar support for selecting which window to present on.
  components/Snackbar/src/MDCSnackbarManager.m
Owners: @yarneo

[BottomSheet] Ensure transition controller pass-through accessors work following presentation controller initialization
  components/ActionSheet/tests/unit/MDCActionSheetControllerTests.m
  components/BottomSheet/src/MDCBottomSheetTransitionController.m
Owners: @codeman7, @yarneo

Add a new ScalableFontDescriptor library.
  components/ScalableFontDescriptor/src/MDCScalableFontDescriptor.h
  components/ScalableFontDescriptor/src/MDCScalableFontDescriptor.m
  components/ScalableFontDescriptor/src/MaterialScalableFontDescriptor.h
  components/ScalableFontDescriptor/tests/unit/MDCScalableFontDescriptorTests.m
Owners: @material-components/core-ios-team

[BottomNavigation] modify layouts with division to use floor(), as not using this was causing some non integer pixel values, which then resulted in a blurry layout
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
  components/BottomNavigation/tests/unit/BottomNavigationItemViewTests.m
  components/BottomNavigation/tests/unit/MDCBottomNavigationBarTests.m
Owners: @material-components/core-ios-team

[Chips] Add a snapshot test case for MDCChipView with minimumSize set and centerVisible set to YES.
  components/Chips/tests/snapshot/MDCChipViewSnapshotTests.m
Owners: @material-components/core-ios-team

[ButtonBar] Adds Large Content Viewer support to MDCButtonBar, MDCNavigationBar, and MDCAppBar.
  components/ButtonBar/src/MDCButtonBar.h
  components/ButtonBar/src/MDCButtonBar.m
  components/ButtonBar/src/MDCButtonBarButton.h
  components/ButtonBar/src/private/MDCAppBarButtonBarBuilder.h
  components/ButtonBar/src/private/MDCAppBarButtonBarBuilder.m
  components/ButtonBar/src/private/MDCButtonBarButton.m
  components/ButtonBar/tests/unit/MDCButtonBarTests.m
Owners: @material-components/core-ios-team

Remove BottomNavigationBeta and beta podspec
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  catalog/MDCCatalog.xcodeproj/project.pbxproj
  catalog/MDCDragons.xcodeproj/project.pbxproj
  catalog/Podfile
  components/BottomNavigation/examples/BottomNavigationBarControllerExampleViewController.swift
  components/BottomNavigation/src/MaterialBottomNavigation+BottomNavigationController.h
  components/BottomNavigation/tests/unit/MDCBottomNavigationBarControllerDelegateTests.m
  components/BottomNavigation/tests/unit/MDCBottomNavigationBarControllerTests.m
  components/private/Beta/src/MaterialBetaComponent.h
Owners: @material-components/core-ios-team

[TabBarView] Animate text and icon colors when switching tabs.
  components/Tabs/src/TabBarView/MDCTabBarView.m
Owners: @material-components/core-ios-team

[BottomNavigation] Move MDCBottomNavigationBarController to main podspec
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  catalog/MDCCatalog.xcodeproj/project.pbxproj
  catalog/MDCDragons.xcodeproj/project.pbxproj
  catalog/Podfile
  components/BottomNavigation/examples/BottomNavigationBarControllerExampleViewController.swift
  components/BottomNavigation/src/MaterialBottomNavigation+BottomNavigationController.h
  components/BottomNavigation/tests/unit/MDCBottomNavigationBarControllerDelegateTests.m
  components/BottomNavigation/tests/unit/MDCBottomNavigationBarControllerTests.m
  components/private/Beta/src/MaterialBetaComponent.h
Owners: @material-components/core-ios-team

[BottomAppBar] Fix bug where FAB shadow would "bounce" when the position changed.
  components/BottomAppBar/src/MDCBottomAppBarView.m
Owners: @wenyuzhang666

[ButtonBar] Fall back to accessibilityLabel for UILargeContentView when there is an image and no title.
  components/ButtonBar/src/private/MDCButtonBarButton.m
  components/ButtonBar/tests/unit/MDCButtonBarTests.m
Owners: @material-components/core-ios-team

[Snackbar] Deprecate remaining class methods on MDCSnackbarManager.
  components/Snackbar/src/MDCSnackbarManager.h
Owners: @yarneo

[ButtonBar] Removes nullability modifiers from file.
  components/ButtonBar/src/private/MDCAppBarButtonBarBuilder.h
Owners: @material-components/core-ios-team

[TabBarView] Adds Large Content Viewer support to MDCTabBarView.
  components/Tabs/src/TabBarView/MDCTabBarView.h
  components/Tabs/src/TabBarView/MDCTabBarView.m
  components/Tabs/src/TabBarView/private/MDCTabBarViewItemView.h
  components/Tabs/src/TabBarView/private/MDCTabBarViewItemView.m
  components/Tabs/tests/unit/TabBarView/MDCTabBarViewTests.m
Owners: @material-components/core-ios-team

[MDCBottomDrawerViewController] Adds shouldDisplayMobileLandscapeFullscreen property to MDCBottomDrawerViewController.
  components/NavigationDrawer/src/MDCBottomDrawerViewController.h
  components/NavigationDrawer/src/MDCBottomDrawerViewController.m
  components/NavigationDrawer/tests/unit/MDCNavigationDrawerScrollViewTests.m
Owners: @yarneo, @jakerockland

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Bumped version number to 113.1.0.
  MaterialComponents.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

Update accessibility logic when switching selected view controllers so that VoiceOver will always switch to a new element visible on screen
  components/BottomNavigation/src/MDCBottomNavigationBarController.m
Owners: @material-components/core-ios-team

[NavigationBar] Delete supplemental code from Swift examples
  components/NavigationBar/examples/NavigationBarTypicalUseExample.swift
  components/NavigationBar/examples/supplemental/NavigationBarTypicalUseExampleSupplemental.swift
Owners: @yarneo, @jverkoey

[NavigationBar] Add example to demonstrate how to to set source for popover alert on iPad.
  components/NavigationBar/examples/NavigationBarAlertExample.swift
Owners: @yarneo, @jverkoey

Replace navigation drawer component
  components/NavigationDrawer/README.md
  components/NavigationDrawer/docs/README.md
  components/NavigationDrawer/docs/assets/bottom-drawer-hero.png
  components/NavigationDrawer/docs/typical-use-drawer-no-header.md
  components/NavigationDrawer/docs/typical-use-drawer.md
  components/NavigationDrawer/docs/typical-use-performant-drawer.md
Owners: @yarneo, @jakerockland

[NavigationDrawer] Replace navigation drawer component README
  components/NavigationDrawer/README.md
  components/NavigationDrawer/docs/README.md
  components/NavigationDrawer/docs/assets/bottom-drawer-hero.png
  components/NavigationDrawer/docs/typical-use-drawer-no-header.md
  components/NavigationDrawer/docs/typical-use-drawer.md
  components/NavigationDrawer/docs/typical-use-performant-drawer.md
Owners: @yarneo, @jakerockland

Clarify wording to reflect that enableRippleBehavior is To Be Deprecated and can still be used in new code
  components/BottomNavigation/src/MDCBottomNavigationBar.h
Owners: @material-components/core-ios-team

Set default horizontal item padding to 0
  components/BottomNavigation/src/MDCBottomNavigationBar.h
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/tests/unit/MDCBottomNavigationBarTests.m
Owners: @material-components/core-ios-team

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Bumped version number to 113.2.0.
  CHANGELOG.md
  MaterialComponents.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

Update logic for using title insets in calculations
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Owners: @galiak11, @iberezan
