Repository material-components/material-components-ios, changes with the owners that CODEOWNERS names for each.
All owners: @material-components/core-ios-team, @codeman7, @yarneo, @jverkoey, @wenyuzhang666, @randallli, @galiak11, @iberezan, @andrewoverton, @jakerockland

[TextControls] Add containerRadius support to filled text field
  CHANGELOG.md
  MaterialComponents.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  components/TextControls/src/FilledTextFields/MDCFilledTextField.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

Internal change
  CHANGELOG.md
  MaterialComponents.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

[Chips] Have Ripple imitate Ink's behavior in MDCChipView.
  components/Chips/src/MDCChipCollectionViewCell.m
  components/Chips/src/MDCChipView.h
  components/Chips/src/MDCChipView.m
  components/Chips/src/private/MDCChipView+Private.h
  components/Chips/tests/unit/ChipViewRippleTests.m
Owners: @material-components/core-ios-team

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Bumped version number to 116.0.0.
  MaterialComponents.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

[MDCBottomDrawerViewController] Optional dismiss on accessibilityPerformEscape.
  CHANGELOG.md
  MaterialComponents.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  components/NavigationDrawer/src/MDCBottomDrawerViewController.h
  components/NavigationDrawer/src/MDCBottomDrawerViewController.m
  components/NavigationDrawer/tests/unit/MDCNavigationDrawerTest.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey, @yarneo, @jakerockland

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Bumped version number to 116.0.0.
  MaterialComponents.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

Automated g4 rollback of changelist 331153646.
  components/Snackbar/src/MDCSnackbarMessage.h
  components/Snackbar/src/MDCSnackbarMessageView.m
Owners: @yarneo

Internal change
  components/Cards/src/MDCCard.m
  components/Cards/src/MDCCardCollectionCell.m
  components/Chips/src/MDCChipField.m
  components/Chips/src/MDCChipView.m
  components/Chips/tests/unit/MDCChipViewTests.m
  components/CollectionCells/src/MDCCollectionViewTextCell.m
  components/FeatureHighlight/src/private/MDCFeatureHighlightDismissGestureRecognizer.m
  components/FeatureHighlight/src/private/MDCFeatureHighlightView+Private.m
  components/Ink/src/MDCInkView.m
  components/Ink/src/private/MDCInkLayer.m
  components/Ripple/src/MDCRippleView.m
  components/Ripple/src/private/MDCRippleLayer.m
  components/ShadowLayer/examples/ShadowCornerRadiusExample.m
  components/Shapes/src/MDCPathGenerator.m
  components/Shapes/src/MDCRectangleShapeGenerator.m
  components/private/ThumbTrack/src/MDCThumbTrack.m
  components/private/ThumbTrack/src/MDCThumbView.m
Owners: @yarneo, @material-components/core-ios-team, @codeman7, @jverkoey

[Slider] Add call to [super prepareForReuse] in example.
  components/Slider/examples/SliderCollectionViewController.m
Owners: @material-components/core-ios-team

[Dragons] Add explicit self to properties referenced in closures.
  catalog/MDCDragons/MDCDragonsController.swift
Owners: @material-components/core-ios-team

Fix mdc_elevationDidChangeBlock block parameter types for Xcode 12
  components/AppBar/tests/unit/AppBarViewControllerTests.m
  components/BottomAppBar/tests/unit/BottomAppBarTests.m
  components/BottomNavigation/tests/unit/MDCBottomNavigationBarTests.m
  components/BottomSheet/tests/unit/BottomSheetTests.m
  components/Buttons/tests/unit/MDCButtonTests.m
  components/Cards/tests/unit/MDCCardTests.m
  components/Chips/tests/unit/MDCChipViewTests.m
  components/Dialogs/tests/unit/MDCAlertControllerTests.m
  components/FlexibleHeader/tests/unit/FlexibleHeaderElevationTests.m
  components/List/tests/unit/MDCBaseCellTests.m
  components/List/tests/unit/MDCSelfSizingStereoCellTests.m
  components/NavigationDrawer/tests/unit/MDCNavigationDrawerTest.m
  components/Snackbar/tests/unit/MDCSnackbarMessageViewTests.m
  components/Snackbar/tests/unit/SnackbarManagerTests.m
Owners: @jverkoey, @wenyuzhang666, @material-components/core-ios-team, @yarneo, @randallli, @galiak11, @iberezan, @andrewoverton, @jakerockland

[Slider] Remove checks for iOS 10 availability.
  components/Slider/src/MDCSlider.m
  components/Slider/tests/unit/MDCSliderTests.m
Owners: @material-components/core-ios-team

Internal change
  components/ActionSheet/src/MDCActionSheetController.m
  components/ActionSheet/src/private/MDCActionSheetHeaderView.m
  components/ActionSheet/tests/unit/MDCActionSheetControllerTests.m
  components/BottomAppBar/src/private/MDCBottomAppBarLayer.m
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/src/private/MDCBottomNavigationItemBadge.m
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
  components/BottomSheet/src/MDCBottomSheetPresentationController.m
  components/Buttons/src/MDCButton.m
  components/Elevation/src/UIColor+MaterialElevation.m
  components/FeatureHighlight/examples/FeatureHighlightScalableDynamicTypeController.m
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
  components/List/src/MDCSelfSizingStereoCell.m
  components/NavigationBar/src/MDCNavigationBar.m
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
  components/ProgressView/src/MDCProgressView.m
  components/ProgressView/tests/unit/ProgressViewProgressWithoutScreenTests.m
  components/ShadowElevations/examples/ShadowElevationsTypicalUseExample.m
  components/Snackbar/src/MDCSnackbarMessageView.m
  components/Tabs/src/private/MDCItemBarBadge.m
  components/TextControls/src/BaseTextAreas/MDCBaseTextArea.m
  components/TextControls/src/BaseTextFields/MDCBaseTextField.m
  components/Typography/tests/unit/MaterialScalableFontTests.m
  components/schemes/Shape/tests/unit/MDCShapeSchemeTests.m
  docs/supporting-shapes/README.md
Owners: @codeman7, @wenyuzhang666, @material-components/core-ios-team, @yarneo, @randallli, @jverkoey, @andrewoverton, @jakerockland

Internal change
  components/private/ThumbTrack/src/MDCThumbTrack.m
Owners: @material-components/core-ios-team

[Slider] Do not adjust thumb size on touch down.
  components/private/ThumbTrack/src/MDCThumbTrack.m
Owners: @material-components/core-ios-team

[private/ThumbTrack] Remove ability for thumb view to grow while dragging.
  components/Slider/src/MDCSlider.m
  components/private/ThumbTrack/src/MDCThumbTrack.h
  components/private/ThumbTrack/src/MDCThumbTrack.m
Owners: @material-components/core-ios-team

[BottomSheet] Mask elevation on bottom edge
  components/BottomSheet/src/MDCBottomSheetController.m
Owners: @yarneo

[TextControls] Override accessibilityPath in MDCBaseTextField
  components/TextControls/src/BaseTextFields/MDCBaseTextField.m
Owners: @material-components/core-ios-team

Remove iOS 10+ checks now that the minimum support contract is iOS 10.
  components/Dialogs/examples/DialogsAccessoryExampleViewController.swift
  components/Dialogs/examples/DialogsAttributedExampleViewController.swift
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/tests/snapshot/MDCAlertControllerCustomTraitCollectionTests.m
  components/Dialogs/tests/unit/MDCAlertControllerTests.m
Owners: @galiak11, @iberezan

[Slider] Set thumbIsSmallerWhenDisabled to NO to match Material spec.
  components/Slider/src/MDCSlider.m
  components/Slider/tests/unit/MDCSliderTests.m
Owners: @material-components/core-ios-team

Update ink and ripple handling for long press when LargeContentViewer is enabled
  components/BottomNavigation/src/MDCBottomNavigationBar.m
Owners: @material-components/core-ios-team

Update the testing for the localization snapshot tests.
  components/Dialogs/tests/snapshot/MDCAlertControllerLocalizationTests.m
Owners: @galiak11, @iberezan

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Bumped version number to 116.0.1.
  MaterialComponents.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

Internal change
  components/ShapeLibrary/src/MDCPillShapeGenerator.m
  components/ShapeLibrary/src/MDCRoundedCornerTreatment.m
  components/ShapeLibrary/tests/unit/ShapeLibraryTests.m
  components/TextFields/src/MDCMultilineTextField.m
  components/TextFields/src/MDCTextField.m
  components/TextFields/src/MDCTextInputControllerBase.m
  components/TextFields/src/MDCTextInputControllerFilled.m
  components/TextFields/src/MDCTextInputControllerFullWidth.m
  components/TextFields/src/MDCTextInputControllerLegacyDefault.m
  components/TextFields/src/MDCTextInputControllerLegacyFullWidth.m
  components/TextFields/src/MDCTextInputControllerOutlined.m
  components/TextFields/src/MDCTextInputControllerOutlinedTextArea.m
  components/TextFields/src/private/MDCTextInputArt.h
  components/TextFields/src/private/MDCTextInputCommonFundament.m
  components/TextFields/tests/unit/TextFieldControllerLegacyTests.swift
  components/private/TextControlsPrivate/src/BaseStyle/MDCTextControlVerticalPositioningReferenceBase.m
  components/private/TextControlsPrivate/src/Shared/UIBezierPath+MDCTextControlStyle.m
  components/private/TextControlsPrivate/src/TextFields/MDCBaseTextFieldLayout.m
Owners: @material-components/core-ios-team, @andrewoverton

[TextControls] Translate frame to window coordinates in accessibilityPath
  components/TextControls/src/BaseTextFields/MDCBaseTextField.m
Owners: @material-components/core-ios-team

Update default stroke width to be 2.5
  components/ActivityIndicator/src/MDCActivityIndicator.h
  components/ActivityIndicator/src/MDCActivityIndicator.m
Owners: @material-components/core-ios-team

[ButtonBar] Deprecate inkColor API.
  components/ButtonBar/src/MDCButtonBar.h
Owners: @material-components/core-ios-team

[FeatureHighlight] Deprecate color themer APIs.
  components/FeatureHighlight/src/ColorThemer/MDCFeatureHighlightColorThemer.h
Owners: @codeman7

[NavigationBar] Deprecate color themer APIs.
  components/NavigationBar/src/ColorThemer/MDCNavigationBarColorThemer.h
Owners: @yarneo, @jverkoey

[FlexibleHeader] Deprecate MDCFlexibleHeaderMinMaxHeight API.
  components/FlexibleHeader/src/private/MDCFlexibleHeaderMinMaxHeight.h
Owners: @jverkoey

[MDCAlertController] Deprecate button styling APIs.
  components/Dialogs/src/MDCAlertControllerView.h
Owners: @galiak11, @iberezan

[AppBar] Deprecate API from MDCAppBarNavigationController.
  components/AppBar/src/MDCAppBarNavigationController.h
Owners: @jverkoey

[NavigationBar] Deprecate typography themer APIs.
  components/NavigationBar/src/TypographyThemer/MDCNavigationBarTypographyThemer.h
Owners: @yarneo, @jverkoey

[ThumbTrack] Deprecate Ink APIs.
  components/private/ThumbTrack/src/MDCThumbTrack.h
Owners: @material-components/core-ios-team

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
**       @material-components/core-ios-team

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
/components/ActionSheet/          @codeman7
/components/AnimationTiming/      @yarneo
/components/AppBar/               @jverkoey
/components/BottomAppBar/         @wenyuzhang666
/components/BottomSheet/          @yarneo
/components/Buttons/              @randallli
/components/Cards/                @yarneo
/components/CollectionCells/      @yarneo
/components/CollectionLayoutAttributes/ @jverkoey
/components/Collections/          @jverkoey
/components/Dialogs/              @galiak11 @iberezan
/components/FeatureHighlight/     @codeman7
/components/FlexibleHeader/       @jverkoey
/components/HeaderStackView/      @jverkoey
/components/Ink/                  @yarneo
/components/LibraryInfo/          @jverkoey
/components/List                  @andrewoverton
/components/MaskedTransition/     @jverkoey
/components/NavigationBar/        @yarneo @jverkoey
/components/NavigationDrawer/     @yarneo @jakerockland
/components/OverlayWindow/        @yarneo
/components/PageControl/          @randallli
/components/Palettes/             @jverkoey
/components/Ripple                @yarneo
/components/ShadowElevations/     @jverkoey
/components/ShadowLayer/          @jverkoey
/components/Snackbar/             @yarneo
/components/TextFields/           @andrewoverton
/components/Themes/               @jverkoey
