Repository material-components/material-components-ios, changes with the owners that CODEOWNERS names for each.
All owners: @material-components/core-ios-team, @codeman7, @yarneo, @jverkoey, @wenyuzhang666, @randallli, @galiak11, @iberezan, @andrewoverton, @jakerockland

Reword sentence to avoid passive voice
  components/BottomAppBar/README.md
Owners: @wenyuzhang666

[BottomAppBar] Material io bottom app bar
  components/BottomAppBar/README.md
  components/BottomAppBar/docs/README.md
  components/BottomAppBar/docs/accessibility.md
  components/BottomAppBar/docs/assets/bottom-app-bar-anatomy.png
  components/BottomAppBar/docs/assets/bottom-app-bar-hero.png
  components/BottomAppBar/docs/color-theming.md
  components/BottomAppBar/docs/typical-use.md
Owners: @wenyuzhang666

[HeaderStackView] Delete deprecated MDCHeaderStackViewColorThemer
  components/HeaderStackView/src/ColorThemer/MDCHeaderStackViewColorThemer.h
  components/HeaderStackView/src/ColorThemer/MDCHeaderStackViewColorThemer.m
  components/HeaderStackView/src/ColorThemer/MaterialHeaderStackView+ColorThemer.h
Owners: @jverkoey

[Slider] Add EarlGrey test to expose bug where tapping on slider track opposite anchor point doesn't trigger UIControlEventValueChanged
  components/Slider/examples/SliderEarlGreyTestViewController.m
Owners: @material-components/core-ios-team

[Shapes] Add unit tests demonstrating a divide by zero error.
  components/Shapes/tests/unit/MDCShapedShadowLayerPathTests.m
Owners: @material-components/core-ios-team

[Shapes] Fix divide by zero bug.
  components/Shapes/src/MDCShapedShadowLayer.m
  components/Shapes/tests/unit/MDCShapedShadowLayerPathTests.m
Owners: @material-components/core-ios-team

[private/ThumbTrack] Add snapshot tests to MDCThumbTrack.
  components/private/ThumbTrack/tests/snapshot/MDCThumbTrackSnapshotTests.m
Owners: @material-components/core-ios-team

[Dialogs] Improved titleIconView example with animation.
  components/Dialogs/examples/DialogsTitleImageExampleViewController.swift
Owners: @galiak11, @iberezan

[TextControls] Make filled positioning reference subclass NSObject
  components/private/TextControlsPrivate/src/FilledStyle/MDCTextControlVerticalPositioningReferenceFilled.h
  components/private/TextControlsPrivate/src/FilledStyle/MDCTextControlVerticalPositioningReferenceFilled.m
Owners: @material-components/core-ios-team

[Slider] Fix an issue where sliders with non-min/max anchor points do not publish a UIControlEventValueChanged event when a track tap causes the value to cross the anchor point.
  components/private/ThumbTrack/src/MDCThumbTrack.m
Owners: @material-components/core-ios-team

[TextControls] Prepare to expose preferredContainerHeight on text controls
  components/TextControls/src/BaseTextAreas/MDCBaseTextArea.m
  components/TextControls/src/BaseTextFields/MDCBaseTextField.m
  components/private/TextControlsPrivate/src/BaseStyle/MDCTextControlStyleBase.m
  components/private/TextControlsPrivate/src/BaseStyle/MDCTextControlVerticalPositioningReferenceBase.h
  components/private/TextControlsPrivate/src/BaseStyle/MDCTextControlVerticalPositioningReferenceBase.m
  components/private/TextControlsPrivate/src/FilledStyle/MDCTextControlStyleFilled.m
  components/private/TextControlsPrivate/src/FilledStyle/MDCTextControlVerticalPositioningReferenceFilled.h
  components/private/TextControlsPrivate/src/FilledStyle/MDCTextControlVerticalPositioningReferenceFilled.m
  components/private/TextControlsPrivate/src/OutlinedStyle/MDCTextControlStyleOutlined.m
  components/private/TextControlsPrivate/src/OutlinedStyle/MDCTextControlVerticalPositioningReferenceOutlined.h
  components/private/TextControlsPrivate/src/OutlinedStyle/MDCTextControlVerticalPositioningReferenceOutlined.m
  components/private/TextControlsPrivate/src/Shared/MDCTextControl.h
  components/private/TextControlsPrivate/src/UnderlinedStyle/MDCTextControlStyleUnderlined.m
  components/private/TextControlsPrivate/src/UnderlinedStyle/MDCTextControlVerticalPositioningReferenceUnderlined.h
  components/private/TextControlsPrivate/src/UnderlinedStyle/MDCTextControlVerticalPositioningReferenceUnderlined.m
Owners: @material-components/core-ios-team

[Shapes] Fixes for the shape shadow layer if the borderWidth is set multiple times and there isn't a prepareShadowPath pass.
  components/Shapes/src/MDCShapedShadowLayer.m
Owners: @material-components/core-ios-team

[Shapes] Add test demonstrating issue with calling borderWidth multiple times with same value.
  components/schemes/Shape/examples/MDCShapeWithBorderExample.m
Owners: @material-components/core-ios-team

[Shape] Update shapeLayer to the correct path to correctly be a mask for content.
  components/Shapes/src/MDCShapedShadowLayer.m
  components/Shapes/tests/snapshot/MDCShapedViewSnapshotTests.m
  components/Shapes/tests/unit/MDCShapedShadowLayerPathTests.m
Owners: @material-components/core-ios-team

[TextControls] Expose preferredContainerHeight on MDCBaseTextField
  components/TextControls/src/BaseTextFields/MDCBaseTextField.h
  components/TextControls/src/BaseTextFields/MDCBaseTextField.m
  components/TextControls/tests/snapshot/MDCBaseTextFieldSnapshotTests.m
  components/TextControls/tests/snapshot/MDCFilledTextFieldSnapshotTests.m
  components/TextControls/tests/snapshot/MDCOutlinedTextFieldSnapshotTests.m
  components/TextControls/tests/snapshot/MDCUnderlinedTextFieldSnapshotTests.m
  components/TextControls/tests/snapshot/supplemental/MDCBaseTextFieldTestsSnapshotTestHelpers.h
  components/TextControls/tests/snapshot/supplemental/MDCBaseTextFieldTestsSnapshotTestHelpers.m
Owners: @material-components/core-ios-team

[TextControls] Allow setting underline thickness regardless of state
  components/TextControls/src/UnderlinedTextFields/MDCUnderlinedTextField.h
  components/TextControls/src/UnderlinedTextFields/MDCUnderlinedTextField.m
  components/private/TextControlsPrivate/src/UnderlinedStyle/MDCTextControlStyleUnderlined.h
  components/private/TextControlsPrivate/src/UnderlinedStyle/MDCTextControlStyleUnderlined.m
Owners: @material-components/core-ios-team

[MDC/Button] Add rippleMaximumRadius API.
  components/Buttons/src/MDCButton.h
  components/Buttons/src/MDCButton.m
  components/Buttons/tests/unit/MDCButtonRippleTests.m
Owners: @randallli

Replace material.io API doc links with links to the relevant header files in GitHub
  components/ActionSheet/README.md
  components/ActivityIndicator/README.md
  components/BottomAppBar/README.md
  components/BottomNavigation/README.md
  components/Buttons/docs/buttons.md
  components/Buttons/docs/fabs.md
  components/Cards/README.md
  components/Chips/README.md
  components/CollectionCells/README.md
  components/CollectionLayoutAttributes/README.md
  components/Collections/README.md
  components/FeatureHighlight/README.md
  components/FlexibleHeader/README.md
  components/HeaderStackView/README.md
  components/Ink/README.md
  components/NavigationBar/README.md
  components/NavigationDrawer/README.md
  components/PageControl/README.md
  components/Palettes/README.md
  components/ProgressView/README.md
  components/Ripple/README.md
  components/ShadowElevations/README.md
  components/ShadowLayer/README.md
  components/Slider/README.md
  components/Snackbar/README.md
  components/Tabs/README.md
  components/TextFields/README.md
  components/Typography/README.md
  components/Typography/docs/README.md
  contributing/site_content_update.md
  contributing/site_development.md
Owners: @codeman7, @material-components/core-ios-team, @wenyuzhang666, @randallli, @yarneo, @jverkoey, @jakerockland, @andrewoverton

[Snackbar] Use different margins for multi-line snackbars
  components/Snackbar/src/MDCSnackbarMessageView.m
Owners: @yarneo

When large content view is enabled, on long presses it will correctly switch to the last selected item
  components/BottomNavigation/src/MDCBottomNavigationBar.m
Owners: @material-components/core-ios-team

[MDC/Chips] Add rippleForState APIs.
  components/Chips/src/MDCChipView.h
  components/Chips/src/MDCChipView.m
  components/Chips/tests/unit/ChipViewRippleTests.m
Owners: @material-components/core-ios-team

Replace material.io API doc links with links to the relevant header f…
  components/ActionSheet/README.md
  components/ActivityIndicator/README.md
  components/BottomAppBar/README.md
  components/BottomNavigation/README.md
  components/Buttons/docs/buttons.md
  components/Buttons/docs/fabs.md
  components/Cards/README.md
  components/Chips/README.md
  components/CollectionCells/README.md
  components/CollectionLayoutAttributes/README.md
  components/Collections/README.md
  components/FeatureHighlight/README.md
  components/FlexibleHeader/README.md
  components/HeaderStackView/README.md
  components/Ink/README.md
  components/NavigationBar/README.md
  components/NavigationDrawer/README.md
  components/PageControl/README.md
  components/Palettes/README.md
  components/ProgressView/README.md
  components/Ripple/README.md
  components/ShadowElevations/README.md
  components/ShadowLayer/README.md
  components/Slider/README.md
  components/Snackbar/README.md
  components/Tabs/README.md
  components/TextFields/README.md
  components/Typography/README.md
  components/Typography/docs/README.md
  contributing/site_content_update.md
  contributing/site_development.md
Owners: @codeman7, @material-components/core-ios-team, @wenyuzhang666, @randallli, @yarneo, @jverkoey, @jakerockland, @andrewoverton

[ThumbView] Use shapeGenerator to render the backing layer.
  components/private/ThumbTrack/src/MDCThumbTrack.m
  components/private/ThumbTrack/src/MDCThumbView.h
  components/private/ThumbTrack/src/MDCThumbView.m
Owners: @material-components/core-ios-team

[TabBarView] Point TabBarViewTheming dependency in podspec to MaterialComponentsBeta.
  MaterialComponentsBeta.podspec
Owners: @material-components/core-ios-team

Internal change.
  components/private/Snapshot/src/MaterialSnapshot.h
Owners: @material-components/core-ios-team

[private/ThumbView] Add centerVisibleArea support with snapshot tests.
  components/private/ThumbTrack/src/MDCThumbView.h
  components/private/ThumbTrack/src/MDCThumbView.m
  components/private/ThumbTrack/tests/snapshot/MDCThumbViewSnapshotTests.m
Owners: @material-components/core-ios-team

[Snackbar] Delete deprecated MDCSnackbarTypographyThemer.
  components/Snackbar/README.md
  components/Snackbar/docs/README.md
  components/Snackbar/docs/typography-theming.md
  components/Snackbar/examples/supplemental/SnackbarExampleSupplemental.m
  components/Snackbar/src/TypographyThemer/MDCSnackbarTypographyThemer.h
  components/Snackbar/src/TypographyThemer/MDCSnackbarTypographyThemer.m
  components/Snackbar/src/TypographyThemer/MaterialSnackbar+TypographyThemer.h
  components/Snackbar/tests/unit/MDCSnackbarTypographyThemerTests.swift
Owners: @yarneo

[Snackbar] Delete deprecated MDCSnackbarFontThemer.
  components/Snackbar/src/FontThemer/MDCSnackbarFontThemer.h
  components/Snackbar/src/FontThemer/MDCSnackbarFontThemer.m
  components/Snackbar/src/FontThemer/MaterialSnackbar+FontThemer.h
  components/Snackbar/tests/unit/MDCSnackbarFontThemerTests.m
Owners: @yarneo

[ProgressView] Remove request for VoiceOver focus in MDCProgressView's setHidden.
  components/ProgressView/src/MDCProgressView.m
Owners: @material-components/core-ios-team

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

[Shapes] Add a snapshot test for small path rendered in a large bounding box with same borderWidth and cornerRadius.
  components/Shapes/tests/snapshot/MDCShapedViewSnapshotTests.m
Owners: @material-components/core-ios-team

Internal change
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
Owners: @material-components/core-ios-team

Fix compilation with Cocoapods
  MaterialComponents.podspec
  catalog/Podfile
  components/Tabs/examples/TabBarViewExample.swift
  components/private/TextControlsPrivate/src/BaseStyle/MDCTextControlVerticalPositioningReferenceBase.m
  components/private/ThumbTrack/src/MDCThumbTrack.m
Owners: @material-components/core-ios-team

[Multiple components] Fix Cocoapods/compilation issues
  MaterialComponents.podspec
  catalog/Podfile
  components/Tabs/examples/TabBarViewExample.swift
  components/private/TextControlsPrivate/src/BaseStyle/MDCTextControlVerticalPositioningReferenceBase.m
  components/private/ThumbTrack/src/MDCThumbTrack.m
Owners: @material-components/core-ios-team

Add checks for existence of UIPointerInteraction class to avoid iOS 13 beta crashes
  components/ActionSheet/src/private/MDCActionSheetItemTableViewCell.m
  components/ButtonBar/src/private/MDCAppBarButtonBarBuilder.m
  components/Tabs/src/TabBarView/MDCTabBarView.m
  components/Tabs/src/private/MDCItemBar.m
Owners: @codeman7, @material-components/core-ios-team

Update changelog.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Bump the release.
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

[TextControls] Add typical use example
  components/TextControls/examples/supplemental/MDCTextControlTextFieldTypicalUseExample.h
  components/TextControls/examples/supplemental/MDCTextControlTextFieldTypicalUseExample.m
Owners: @material-components/core-ios-team

[MDC-iOS/Bottom Navigation] Updating handling of ripple/ink for long presses when large content view is enabled
  components/BottomNavigation/src/MDCBottomNavigationBar.m
Owners: @material-components/core-ios-team

[TextControls] Add MDCBaseTextFieldDelegate
  components/TextControls/src/BaseTextFields/MDCBaseTextField.h
  components/TextControls/src/BaseTextFields/MDCBaseTextField.m
  components/TextControls/src/BaseTextFields/MDCBaseTextFieldDelegate.h
  components/TextControls/src/BaseTextFields/MaterialTextControls+BaseTextFields.h
Owners: @material-components/core-ios-team

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
**       @material-components/core-ios-team

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
/components/ActionSheet/          @codeman7
/components/AnimationTiming/      @yarneo
/components/AppBar/               @jverkoey
/components/BottomAppBar/         @wenyuzhang666
/components/BottomSheet/          @yarneo
/components/Buttons/              @randallli
/components/Cards/                @yarneo
/components/CollectionCells/      @yarneo
/components/CollectionLayoutAttributes/ @jverkoey
/components/Collections/          @jverkoey
/components/Dialogs/              @galiak11 @iberezan
/components/FeatureHighlight/     @codeman7
/components/FlexibleHeader/       @jverkoey
/components/HeaderStackView/      @jverkoey
/components/Ink/                  @yarneo
/components/LibraryInfo/          @jverkoey
/components/List                  @andrewoverton
/components/MaskedTransition/     @jverkoey
/components/NavigationBar/        @yarneo @jverkoey
/components/NavigationDrawer/     @yarneo @jakerockland
/components/OverlayWindow/        @yarneo
/components/PageControl/          @randallli
/components/Palettes/             @jverkoey
/components/Ripple                @yarneo
/components/ShadowElevations/     @jverkoey
/components/ShadowLayer/          @jverkoey
/components/Snackbar/             @yarneo
/components/TextFields/           @andrewoverton
/components/Themes/               @jverkoey
