Repository material-components/material-components-ios, changes with the owners that CODEOWNERS names for each.
All owners: @material-components/core-ios-team, @codeman7, @yarneo, @jverkoey, @wenyuzhang666, @randallli, @galiak11, @iberezan, @andrewoverton, @jakerockland

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
**       @material-components/core-ios-team

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
/components/ActionSheet/          @codeman7
/components/AnimationTiming/      @yarneo
/components/AppBar/               @jverkoey
/components/BottomAppBar/         @wenyuzhang666
/components/BottomSheet/          @yarneo
/components/Buttons/              @randallli
/components/Cards/                @yarneo
/components/CollectionCells/      @yarneo
/components/CollectionLayoutAttributes/ @jverkoey
/components/Collections/          @jverkoey
/components/Dialogs/              @galiak11 @iberezan
/components/FeatureHighlight/     @codeman7
/components/FlexibleHeader/       @jverkoey
/components/HeaderStackView/      @jverkoey
/components/Ink/                  @yarneo
/components/LibraryInfo/          @jverkoey
/components/List                  @andrewoverton
/components/MaskedTransition/     @jverkoey
/components/NavigationBar/        @yarneo @jverkoey
/components/NavigationDrawer/     @yarneo @jakerockland
/components/OverlayWindow/        @yarneo
/components/PageControl/          @randallli
/components/Palettes/             @jverkoey
/components/Ripple                @yarneo
/components/ShadowElevations/     @jverkoey
/components/ShadowLayer/          @jverkoey
/components/Snackbar/             @yarneo
/components/TextFields/           @andrewoverton
/components/Themes/               @jverkoey

Notes.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Bump the release.
  MaterialComponents.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

[TextControls] Fix Cocoapods build error
  components/TextControls/src/BaseTextAreas/MDCBaseTextArea.m
Owners: @material-components/core-ios-team

Replace Slider docs
  components/Slider/README.md
  components/Slider/docs/README.md
  components/Slider/docs/accessibility.md
  components/Slider/docs/assets/continuous-slider.png
  components/Slider/docs/assets/discrete-slider.png
  components/Slider/docs/assets/slider.png
  components/Slider/docs/assets/sliders-anatomy.png
  components/Slider/docs/assets/sliders-hero.png
  components/Slider/docs/assets/sliders-types.png
  components/Slider/docs/color-theming.md
  components/Slider/docs/differences-from-uislider.md
  components/Slider/docs/stateful-apis.md
  components/Slider/docs/typical-use.md
Owners: @material-components/core-ios-team

Address feedback
  components/Slider/README.md
Owners: @material-components/core-ios-team

Fix typo
  components/Slider/README.md
Owners: @material-components/core-ios-team

[Slider] Replace Slider docs
  components/Slider/README.md
  components/Slider/docs/README.md
  components/Slider/docs/accessibility.md
  components/Slider/docs/assets/continuous-slider.png
  components/Slider/docs/assets/discrete-slider.png
  components/Slider/docs/assets/slider.png
  components/Slider/docs/assets/sliders-anatomy.png
  components/Slider/docs/assets/sliders-hero.png
  components/Slider/docs/assets/sliders-types.png
  components/Slider/docs/color-theming.md
  components/Slider/docs/differences-from-uislider.md
  components/Slider/docs/stateful-apis.md
  components/Slider/docs/typical-use.md
Owners: @material-components/core-ios-team

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Bumped version number to 119.1.1.
  MaterialComponents.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

[Tabs] Support typical UIView initializers in MDCTabBarView
  components/Tabs/src/TabBarView/MDCTabBarView.m
Owners: @material-components/core-ios-team

[Slider] Slider layout and size changes
  components/Slider/src/MDCSlider.h
  components/Slider/src/MDCSlider.m
  components/private/ThumbTrack/src/MDCNumericValueLabel.m
  components/private/ThumbTrack/src/MDCThumbTrack.m
Owners: @material-components/core-ios-team

[TextControls] Modify automatic scrolling behavior
  components/TextControls/src/BaseTextAreas/MDCBaseTextArea.m
Owners: @material-components/core-ios-team

[TextControl] Fix RTL placeholder behavior
  components/TextControls/src/BaseTextAreas/MDCBaseTextArea.m
  components/TextControls/src/BaseTextAreas/private/MDCBaseTextAreaLayout.h
  components/TextControls/src/BaseTextAreas/private/MDCBaseTextAreaLayout.m
  components/TextControls/tests/snapshot/MDCBaseTextAreaSnapshotTests.m
Owners: @material-components/core-ios-team

[TextControls] Add text areas leading/trailing views
  components/TextControls/examples/supplemental/MDCTextControlTextAreaContentViewController.m
  components/TextControls/src/BaseTextAreas/MDCBaseTextArea.h
  components/TextControls/src/BaseTextAreas/MDCBaseTextArea.m
  components/TextControls/src/BaseTextAreas/private/MDCBaseTextAreaLayout.h
  components/TextControls/src/BaseTextAreas/private/MDCBaseTextAreaLayout.m
  components/TextControls/tests/snapshot/MDCBaseTextAreaSnapshotTests.m
  components/private/TextControlsPrivate/src/Shared/MDCTextControl.h
  components/private/TextControlsPrivate/src/Shared/MDCTextControlSideViewSupport.h
  components/private/TextControlsPrivate/src/Shared/MDCTextControlSideViewSupport.m
  components/private/TextControlsPrivate/src/TextFields/MDCBaseTextFieldLayout.m
Owners: @material-components/core-ios-team

[TextControls] Expose preferredContainerHeight on MDCBaseTextArea
  components/TextControls/src/BaseTextAreas/MDCBaseTextArea.h
  components/TextControls/src/BaseTextAreas/MDCBaseTextArea.m
  components/TextControls/tests/snapshot/MDCBaseTextAreaSnapshotTests.m
Owners: @material-components/core-ios-team

[TextControls] Expose inter item spacing
  components/TextControls/src/BaseTextAreas/MDCBaseTextArea.h
  components/TextControls/src/BaseTextAreas/MDCBaseTextArea.m
  components/TextControls/src/BaseTextFields/MDCBaseTextField.h
  components/TextControls/src/BaseTextFields/MDCBaseTextField.m
  components/TextControls/tests/snapshot/MDCBaseTextAreaSnapshotTests.m
  components/TextControls/tests/snapshot/MDCBaseTextFieldSnapshotTests.m
  components/TextControls/tests/snapshot/MDCFilledTextFieldSnapshotTests.m
  components/TextControls/tests/snapshot/MDCOutlinedTextFieldSnapshotTests.m
  components/TextControls/tests/snapshot/supplemental/MDCBaseTextFieldTestsSnapshotTestHelpers.h
  components/TextControls/tests/snapshot/supplemental/MDCBaseTextFieldTestsSnapshotTestHelpers.m
Owners: @material-components/core-ios-team

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Bumped version number to 119.1.2.
  CHANGELOG.md
  MaterialComponents.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

Update README.md
  components/Banner/README.md
Owners: @material-components/core-ios-team

When building with -Wnullability-completeness, either no property should specify a nullability (nullable/nonnull) or all of them must specify one. If this is not the case, the compilation will fail.
  components/Tabs/src/TabBarView/private/MDCTabBarViewItemView.h
Owners: @material-components/core-ios-team

Add and expose property to MDCTabBarView for setting the edge insets for each item in the tab bar.
  components/Tabs/src/TabBarView/MDCTabBarView.h
  components/Tabs/src/TabBarView/MDCTabBarView.m
  components/Tabs/src/TabBarView/private/MDCTabBarViewItemView.m
  components/Tabs/src/TabBarView/private/MDCTabBarViewItemViewDelegate.h
  components/Tabs/tests/snapshot/TabBarView/MDCTabBarViewSnapshotTests.m
Owners: @material-components/core-ios-team

[Multiple components] Miscellaneous doc fixes
  components/Banner/README.md
  components/Dialogs/README.md
  components/Tabs/README.md
  components/TextControls/README.md
  docs/supporting-shapes/README.md
Owners: @material-components/core-ios-team, @galiak11, @iberezan

[Banner] Updated documentation
  components/Banner/README.md
Owners: @material-components/core-ios-team

Buttons docs
  components/AppBar/README.md
  components/AppBar/docs/assets/appbar-hero.png
  components/AppBar/docs/assets/appbar-types.png
  components/AppBar/docs/assets/top-app-bar.gif
  components/Buttons/README.md
  components/Buttons/docs/assets/buttons_hero.png
  components/Buttons/docs/assets/fab-hero.png
  components/Buttons/docs/assets/fab-types.png
  components/Buttons/docs/buttons.md
  components/Buttons/docs/fabs.md
  components/Cards/README.md
  components/Cards/docs/assets/card-hero.png
  components/Dialogs/README.md
  components/Dialogs/docs/assets/dialogs-hero.png
  components/Dialogs/docs/assets/dialogs-types.png
  components/Dialogs/docs/assets/dialogs.gif
  components/TextControls/README.md
  components/TextControls/docs/assets/textfields-hero.png
Owners: @jverkoey, @randallli, @yarneo, @galiak11, @iberezan, @material-components/core-ios-team

Undo deletion of migration guide
  components/AppBar/README.md
Owners: @jverkoey

Remove deprecation schedule
  components/AppBar/README.md
Owners: @jverkoey

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

[Multiple components] Audit recent docs changes, part 1 Closes https://github.com/material-components/material-components-ios/pull/10132
  components/AppBar/README.md
  components/AppBar/docs/assets/appbar-hero.png
  components/AppBar/docs/assets/appbar-types.png
  components/AppBar/docs/assets/top-app-bar.gif
  components/Buttons/README.md
  components/Buttons/docs/assets/buttons_hero.png
  components/Buttons/docs/assets/fab-hero.png
  components/Buttons/docs/assets/fab-types.png
  components/Buttons/docs/buttons.md
  components/Buttons/docs/fabs.md
  components/Cards/README.md
  components/Cards/docs/assets/card-hero.png
  components/Dialogs/README.md
  components/Dialogs/docs/assets/dialogs-hero.png
  components/Dialogs/docs/assets/dialogs-types.png
  components/Dialogs/docs/assets/dialogs.gif
  components/TextControls/README.md
  components/TextControls/docs/assets/textfields-hero.png
Owners: @jverkoey, @randallli, @yarneo, @galiak11, @iberezan, @material-components/core-ios-team

Bottom navigation docs
  components/AppBar/README.md
  components/Banner/README.md
  components/BottomAppBar/README.md
  components/BottomNavigation/README.md
  components/BottomNavigation/docs/assets/bottom-nav-generic.png
  components/BottomNavigation/docs/assets/bottom-nav-hero.png
  components/Buttons/docs/buttons.md
  components/Buttons/docs/fabs.md
  components/Cards/README.md
  components/Chips/README.md
  components/Dialogs/README.md
  components/List/README.md
  components/NavigationDrawer/README.md
  components/Snackbar/README.md
  components/Tabs/README.md
  components/Tabs/docs/assets/tabs-generic-hero.png
  components/TextControls/README.md
Owners: @jverkoey, @material-components/core-ios-team, @wenyuzhang666, @randallli, @yarneo, @galiak11, @iberezan, @andrewoverton, @jakerockland

Address feedback
  components/List/README.md
  components/NavigationDrawer/README.md
  components/Snackbar/README.md
Owners: @andrewoverton, @yarneo, @jakerockland

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Bumped version number to 119.1.3.
  CHANGELOG.md
  MaterialComponents.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

[Multiple components] Audit recent docs changes, part 2
  components/AppBar/README.md
  components/Banner/README.md
  components/BottomAppBar/README.md
  components/BottomNavigation/README.md
  components/BottomNavigation/docs/assets/bottom-nav-generic.png
  components/BottomNavigation/docs/assets/bottom-nav-hero.png
  components/Buttons/docs/buttons.md
  components/Buttons/docs/fabs.md
  components/Cards/README.md
  components/Chips/README.md
  components/Dialogs/README.md
  components/List/README.md
  components/NavigationDrawer/README.md
  components/Snackbar/README.md
  components/Tabs/README.md
  components/Tabs/docs/assets/tabs-generic-hero.png
  components/TextControls/README.md
Owners: @jverkoey, @material-components/core-ios-team, @wenyuzhang666, @randallli, @yarneo, @galiak11, @iberezan, @andrewoverton, @jakerockland

Add progress indicator doc
  components/Banner/README.md
  components/BottomNavigation/README.md
  components/ProgressView/ProgressIndicators.md
  components/ProgressView/README.md
  components/ProgressView/docs/assets/circular-progress-views.gif
  components/ProgressView/docs/assets/determinate-circular.png
  components/ProgressView/docs/assets/determinate-linear.png
  components/ProgressView/docs/assets/indeterminate-circular.gif
  components/ProgressView/docs/assets/indeterminate-linear.gif
  components/ProgressView/docs/assets/linear-progress-anatomy.png
  components/ProgressView/docs/assets/progress-indicator-hero.gif
  components/ProgressView/docs/assets/progress-indicator-types.gif
  components/ProgressView/docs/assets/progress-view.png
  components/ProgressView/docs/assets/shrine-linear-progress-indicator.gif
Owners: @material-components/core-ios-team

Undo asset rename
  components/ProgressView/docs/assets/progress_view.png
Owners: @material-components/core-ios-team

Remove unused asset
  components/ProgressView/docs/assets/circular-progress-views.gif
Owners: @material-components/core-ios-team

[HitAreaInsets] Deprecate hitAreaInsets APIs from MDCButton, MDCFloatingButton, and MDChipView.
  components/Buttons/src/MDCButton.h
  components/Buttons/src/MDCFloatingButton.h
  components/Chips/src/MDCChipView.h
Owners: @randallli, @material-components/core-ios-team
