Repository material-components/material-components-ios, changes with the owners that CODEOWNERS names for each.
All owners: @material-components/core-ios-team, @codeman7, @yarneo, @jverkoey, @wenyuzhang666, @randallli, @galiak11, @iberezan, @andrewoverton, @jakerockland

Add flag for enforcing full screen presentation in compact vertical size classes
  components/BottomSheet/src/MDCBottomSheetPresentationController.h
  components/BottomSheet/src/MDCBottomSheetPresentationController.m
  components/BottomSheet/src/private/MDCSheetContainerView.h
  components/BottomSheet/src/private/MDCSheetContainerView.m
Owners: @yarneo

[Tabs] Ensure the cell representing MDCTabBar's selected item is selected before display.
  components/Tabs/src/private/MDCItemBar.m
Owners: @material-components/core-ios-team

Ensure snackbar buttons meet minimum touch target requirements
  components/Snackbar/src/MDCSnackbarMessageView.m
  components/Snackbar/src/private/MDCSnackbarOverlayView.m
Owners: @yarneo

Internal change
  components/ActionSheet/examples/scuba_goldens/Action_Sheet/ipadpro10.5_10_3_1_x86_64_en_us.png
  components/ActionSheet/examples/scuba_goldens/Action_Sheet/ipadpro10.5_11_4_x86_64_en_us.png
  components/ActionSheet/examples/scuba_goldens/Action_Sheet/ipadpro10.5_12_4_x86_64_en_us.png
  components/ActionSheet/examples/scuba_goldens/Action_Sheet/ipadpro10.5_13_3_x86_64_en_us.png
  components/ActionSheet/examples/scuba_goldens/Action_Sheet/iphone7_10_3_1_x86_64_en_us.png
  components/ActionSheet/examples/scuba_goldens/Action_Sheet/iphone8_11_4_x86_64_en_us.png
  components/ActionSheet/examples/scuba_goldens/Action_Sheet/iphone8_12_4_x86_64_en_us.png
  components/ActionSheet/examples/scuba_goldens/Action_Sheet/iphone8_13_3_x86_64_en_us.png
  components/ActionSheet/examples/scuba_goldens/Action_Sheet/iphonex_11_4_x86_64_en_us.png
  components/ActionSheet/examples/scuba_goldens/Action_Sheet/iphonex_12_4_x86_64_en_us.png
  components/ActionSheet/examples/scuba_goldens/Action_Sheet/iphonex_13_3_x86_64_en_us.png
  components/ActionSheet/examples/scuba_goldens/Action_Sheet__Swift_/ipadpro10.5_10_3_1_x86_64_en_us.png
  components/ActionSheet/examples/scuba_goldens/Action_Sheet__Swift_/ipadpro10.5_11_4_x86_64_en_us.png
  components/ActionSheet/examples/scuba_goldens/Action_Sheet__Swift_/ipadpro10.5_12_4_x86_64_en_us.png
  components/ActionSheet/examples/scuba_goldens/Action_Sheet__Swift_/ipadpro10.5_13_3_x86_64_en_us.png
  components/ActionSheet/examples/scuba_goldens/Action_Sheet__Swift_/iphone7_10_3_1_x86_64_en_us.png
  components/ActionSheet/examples/scuba_goldens/Action_Sheet__Swift_/iphone8_11_4_x86_64_en_us.png
  components/ActionSheet/examples/scuba_goldens/Action_Sheet__Swift_/iphone8_12_4_x86_64_en_us.png
  components/ActionSheet/examples/scuba_goldens/Action_Sheet__Swift_/iphone8_13_3_x86_64_en_us.png
  components/ActionSheet/examples/scuba_goldens/Action_Sheet__Swift_/iphonex_11_4_x86_64_en_us.png
  components/ActionSheet/examples/scuba_goldens/Action_Sheet__Swift_/iphonex_12_4_x86_64_en_us.png
  components/ActionSheet/examples/scuba_goldens/Action_Sheet__Swift_/iphonex_13_3_x86_64_en_us.png
  components/ActionSheet/examples/scuba_goldens/Material___UIKit_Comparison/ipadpro10.5_10_3_1_x86_64_en_us.png
  components/ActionSheet/examples/scuba_goldens/Material___UIKit_Comparison/ipadpro10.5_11_4_x86_64_en_us.png
  components/ActionSheet/examples/scuba_goldens/Material___UIKit_Comparison/ipadpro10.5_12_4_x86_64_en_us.png
  components/ActionSheet/examples/scuba_goldens/Material___UIKit_Comparison/ipadpro10.5_13_3_x86_64_en_us.png
  components/ActionSheet/examples/scuba_goldens/Material___UIKit_Comparison/iphone7_10_3_1_x86_64_en_us.png
  components/ActionSheet/examples/scuba_goldens/Material___UIKit_Comparison/iphone8_11_4_x86_64_en_us.png
  components/ActionSheet/examples/scuba_goldens/Material___UIKit_Comparison/iphone8_12_4_x86_64_en_us.png
  components/ActionSheet/examples/scuba_goldens/Material___UIKit_Comparison/iphone8_13_3_x86_64_en_us.png
  components/ActionSheet/examples/scuba_goldens/Material___UIKit_Comparison/iphonex_11_4_x86_64_en_us.png
  components/ActionSheet/examples/scuba_goldens/Material___UIKit_Comparison/iphonex_12_4_x86_64_en_us.png
  components/ActionSheet/examples/scuba_goldens/Material___UIKit_Comparison/iphonex_13_3_x86_64_en_us.png
Owners: @codeman7

Present in full screen in vertical compact size classes when the content height is taller than the sheet view's bounds.
  components/BottomSheet/src/private/MDCSheetContainerView.m
Owners: @yarneo

[Snackbar] Ensure snackbar buttons meet minimum touch target requirements
  components/Snackbar/src/MDCSnackbarMessageView.m
  components/Snackbar/src/private/MDCSnackbarOverlayView.m
Owners: @yarneo

[Tabs] Add ScrollableCentered option to TabBarView example
  components/Tabs/examples/MDCTabBarViewTypicalExampleViewController.m
Owners: @material-components/core-ios-team

Internal change
  components/ActionSheet/examples/scuba_goldens/Action_Sheet/iphonese_13_3_x86_64_en_us_M.png
  components/ActionSheet/examples/scuba_goldens/Action_Sheet/iphonese_13_3_x86_64_en_us_XL.png
  components/ActionSheet/examples/scuba_goldens/Action_Sheet/iphonese_13_3_x86_64_en_us_XS.png
  components/ActionSheet/examples/scuba_goldens/Action_Sheet/iphonese_13_3_x86_64_en_us_XXXL.png
  components/ActionSheet/examples/scuba_goldens/Action_Sheet__Swift_/iphonese_13_3_x86_64_en_us_M.png
  components/ActionSheet/examples/scuba_goldens/Action_Sheet__Swift_/iphonese_13_3_x86_64_en_us_XL.png
  components/ActionSheet/examples/scuba_goldens/Action_Sheet__Swift_/iphonese_13_3_x86_64_en_us_XS.png
  components/ActionSheet/examples/scuba_goldens/Action_Sheet__Swift_/iphonese_13_3_x86_64_en_us_XXXL.png
  components/ActionSheet/examples/scuba_goldens/Material___UIKit_Comparison/iphonese_13_3_x86_64_en_us_M.png
  components/ActionSheet/examples/scuba_goldens/Material___UIKit_Comparison/iphonese_13_3_x86_64_en_us_XL.png
  components/ActionSheet/examples/scuba_goldens/Material___UIKit_Comparison/iphonese_13_3_x86_64_en_us_XS.png
  components/ActionSheet/examples/scuba_goldens/Material___UIKit_Comparison/iphonese_13_3_x86_64_en_us_XXXL.png
Owners: @codeman7

Internal change
  components/ActionSheet/examples/scuba_goldens/Action_Sheet/iphonese_13_3_x86_64_en_us.png
  components/ActionSheet/examples/scuba_goldens/Action_Sheet__Swift_/iphonese_13_3_x86_64_en_us.png
  components/ActionSheet/examples/scuba_goldens/Material___UIKit_Comparison/iphonese_13_3_x86_64_en_us.png
Owners: @codeman7

[Snackbar] Add a property to allow customization the accessibility post notification level.
  components/Snackbar/src/MDCSnackbarManager.h
  components/Snackbar/src/MDCSnackbarManager.m
  components/Snackbar/tests/unit/SnackbarManagerTests.m
Owners: @yarneo

Internal change
  components/ActionSheet/examples/scuba_goldens/Action_Sheet/ipadair2_13_3_x86_64_en_us.png
  components/ActionSheet/examples/scuba_goldens/Action_Sheet/ipadpro12.9-3rdgen_13_3_x86_64_en_us.png
  components/ActionSheet/examples/scuba_goldens/Action_Sheet/iphone11promax_13_3_x86_64_en_us.png
  components/ActionSheet/examples/scuba_goldens/Action_Sheet/iphone5s_10_3_1_x86_64_en_us.png
  components/ActionSheet/examples/scuba_goldens/Action_Sheet/iphone6splus_11_4_x86_64_en_us.png
  components/ActionSheet/examples/scuba_goldens/Action_Sheet/iphone6splus_12_4_x86_64_en_us.png
  components/ActionSheet/examples/scuba_goldens/Action_Sheet/iphonese_13_3_x86_64_en_us.png
  components/ActionSheet/examples/scuba_goldens/Action_Sheet/iphonese_13_3_x86_64_en_us_M.png
  components/ActionSheet/examples/scuba_goldens/Action_Sheet/iphonese_13_3_x86_64_en_us_XL.png
  components/ActionSheet/examples/scuba_goldens/Action_Sheet/iphonese_13_3_x86_64_en_us_XS.png
  components/ActionSheet/examples/scuba_goldens/Action_Sheet/iphonese_13_3_x86_64_en_us_XXXL.png
  components/ActionSheet/examples/scuba_goldens/Action_Sheet__Swift_/ipadair2_13_3_x86_64_en_us.png
  components/ActionSheet/examples/scuba_goldens/Action_Sheet__Swift_/ipadpro12.9-3rdgen_13_3_x86_64_en_us.png
  components/ActionSheet/examples/scuba_goldens/Action_Sheet__Swift_/iphone11promax_13_3_x86_64_en_us.png
  components/ActionSheet/examples/scuba_goldens/Action_Sheet__Swift_/iphone5s_10_3_1_x86_64_en_us.png
  components/ActionSheet/examples/scuba_goldens/Action_Sheet__Swift_/iphone6splus_11_4_x86_64_en_us.png
  components/ActionSheet/examples/scuba_goldens/Action_Sheet__Swift_/iphone6splus_12_4_x86_64_en_us.png
  components/ActionSheet/examples/scuba_goldens/Action_Sheet__Swift_/iphonese_13_3_x86_64_en_us.png
  components/ActionSheet/examples/scuba_goldens/Action_Sheet__Swift_/iphonese_13_3_x86_64_en_us_M.png
  components/ActionSheet/examples/scuba_goldens/Action_Sheet__Swift_/iphonese_13_3_x86_64_en_us_XL.png
  components/ActionSheet/examples/scuba_goldens/Action_Sheet__Swift_/iphonese_13_3_x86_64_en_us_XS.png
  components/ActionSheet/examples/scuba_goldens/Action_Sheet__Swift_/iphonese_13_3_x86_64_en_us_XXXL.png
  components/ActionSheet/examples/scuba_goldens/Material___UIKit_Comparison/ipadair2_13_3_x86_64_en_us.png
  components/ActionSheet/examples/scuba_goldens/Material___UIKit_Comparison/ipadpro12.9-3rdgen_13_3_x86_64_en_us.png
  components/ActionSheet/examples/scuba_goldens/Material___UIKit_Comparison/iphone11promax_13_3_x86_64_en_us.png
  components/ActionSheet/examples/scuba_goldens/Material___UIKit_Comparison/iphone5s_10_3_1_x86_64_en_us.png
  components/ActionSheet/examples/scuba_goldens/Material___UIKit_Comparison/iphone6splus_11_4_x86_64_en_us.png
  components/ActionSheet/examples/scuba_goldens/Material___UIKit_Comparison/iphone6splus_12_4_x86_64_en_us.png
  components/ActionSheet/examples/scuba_goldens/Material___UIKit_Comparison/iphonese_13_3_x86_64_en_us.png
  components/ActionSheet/examples/scuba_goldens/Material___UIKit_Comparison/iphonese_13_3_x86_64_en_us_M.png
  components/ActionSheet/examples/scuba_goldens/Material___UIKit_Comparison/iphonese_13_3_x86_64_en_us_XL.png
  components/ActionSheet/examples/scuba_goldens/Material___UIKit_Comparison/iphonese_13_3_x86_64_en_us_XS.png
  components/ActionSheet/examples/scuba_goldens/Material___UIKit_Comparison/iphonese_13_3_x86_64_en_us_XXXL.png
Owners: @codeman7

Internal change
  components/ActionSheet/examples/scuba_goldens/Action_Sheet/iphone11_13_3_x86_64_en_us_dark_mode.png
  components/ActionSheet/examples/scuba_goldens/Action_Sheet__Swift_/iphone11_13_3_x86_64_en_us_dark_mode.png
  components/ActionSheet/examples/scuba_goldens/Material___UIKit_Comparison/iphone11_13_3_x86_64_en_us_dark_mode.png
Owners: @codeman7

Make ScrollableCentered layout style fall back to FixClusteredCentered when contentWidth is shorter than scroll view width
  components/Tabs/src/TabBarView/MDCTabBarView.m
Owners: @material-components/core-ios-team

[Chips] Add unit tests for MDCChipField delegate interaction.
  components/Chips/tests/unit/MDCChipFieldDelegateTests.m
Owners: @material-components/core-ios-team

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Bumped version number to 108.2.0.
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Revert "Bumped version number to 108.2.0."
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

Bumped version number to 109.0.0.
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

[Catalog] Use the breadcrumb for the example's title.
  catalog/MDCCatalog/MDCNodeListViewController.swift
Owners: @material-components/core-ios-team

[AnimationTiming] Mark the swift example as flaky due to its use of animations and remove explicit titles.
  components/AnimationTiming/examples/AnimationTimingSwiftExampleViewController.swift
  components/AnimationTiming/examples/supplemental/AnimationTimingExampleViewControllerSupplemental.m
Owners: @yarneo

[ActivityIndicator] Mark the swift example as flaky due to its use of animations and remove explicit titles.
  components/ActivityIndicator/examples/ActivityIndicatorExampleViewController.m
  components/ActivityIndicator/examples/ActivityIndicatorSwiftExampleViewController.swift
  components/ActivityIndicator/examples/ActivityIndicatorTransitionExampleViewController.m
Owners: @material-components/core-ios-team

[AppBar] Round content offset clamp to nearest integer.
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
Owners: @jverkoey

[Chips] Inform MDCChipField's delegate of height change in layoutSubviews.
  components/Chips/src/MDCChipField.m
  components/Chips/tests/unit/MDCChipFieldDelegateTests.m
Owners: @material-components/core-ios-team

Adjust string description by added link to the material.io spec on tabs.
  components/Tabs/src/MaterialTabs.bundle/Resources/en.lproj/MaterialTabs.strings
Owners: @material-components/core-ios-team

[Dialogs] Add manual and auto layout accessory view tests.
  components/Dialogs/src/Testing/MDCAlertController+Testing.h
  components/Dialogs/src/Testing/MDCAlertController+Testing.m
  components/Dialogs/tests/snapshot/MDCAlertControllerAccessoryTests.m
Owners: @galiak11, @iberezan

[Dialogs] Add accessory view examples
  components/Dialogs/examples/DialogsAccessoryExampleViewController.swift
Owners: @galiak11, @iberezan

[MDC/ActionSheet] Pull MDCActionSheetActions into their own file
  components/ActionSheet/src/MDCActionSheetAction.h
  components/ActionSheet/src/MDCActionSheetController.h
  components/ActionSheet/src/MaterialActionSheet.h
  components/ActionSheet/src/private/MDCActionSheetItemTableViewCell.m
Owners: @codeman7

[Demos] Resolve the jump in the animation when selecting a card on Pesto.
  demos/Pesto/Pesto/PestoViewController.m
Owners: @material-components/core-ios-team

[AppBar] Implement catalogShouldHideNavigation in all examples.
  components/AppBar/examples/AppBarInterfaceBuilderExampleController.swift
  components/AppBar/examples/AppBarNavigationControllerExample.swift
  components/AppBar/examples/AppBarPresentedExample.m
  components/AppBar/examples/AppBarTypicalCollectionViewExample.m
Owners: @jverkoey

[Dialogs] Fix incorrect initialization of properties
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/tests/unit/MDCAlertControllerTests.m
Owners: @galiak11, @iberezan

[Banner] Add snapshot test hooks to the examples.
  components/Banner/examples/AppBarBannerExample.m
  components/Banner/examples/BannerAutolayoutExampleViewController.m
  components/Banner/examples/BannerAutolayoutSwiftExampleViewController.swift
  components/Banner/examples/BannerTypicalUseExampleViewController.m
Owners: @material-components/core-ios-team

[AppBar] Mark the webview examples as flaky.
  components/AppBar/examples/AppBarWKWebViewLargeContentExample.m
  components/AppBar/examples/AppBarWKWebViewLargeContentNoBugExample.m
  components/AppBar/examples/AppBarWKWebViewSmallContentBugExample.m
  components/AppBar/examples/AppBarWKWebViewSmallContentExample.m
Owners: @jverkoey

[Chips] Add EarlGrey test to expose issue where MDCChipField hides placeholder text after input and rotation.
  components/Chips/examples/ChipsInputExampleViewController.m
  components/Chips/tests/ui/MDCChipFieldEarlGreyTests.m
Owners: @material-components/core-ios-team

Rename "flaky" to "skip_snapshots".
  components/ActivityIndicator/examples/ActivityIndicatorSwiftExampleViewController.swift
  components/AnimationTiming/examples/AnimationTimingSwiftExampleViewController.swift
  components/AppBar/examples/AppBarInterfaceBuilderExampleController.swift
  components/AppBar/examples/AppBarWKWebViewLargeContentExample.m
  components/AppBar/examples/AppBarWKWebViewLargeContentNoBugExample.m
  components/AppBar/examples/AppBarWKWebViewSmallContentBugExample.m
  components/AppBar/examples/AppBarWKWebViewSmallContentExample.m
  components/BottomAppBar/examples/supplemental/BottomAppBarTypicalUseSupplemental.m
  components/Buttons/examples/ButtonsStoryboardExample.swift
  components/NavigationDrawer/examples/BottomDrawerExpandFullscreenExample.swift
Owners: @material-components/core-ios-team, @yarneo, @jverkoey, @wenyuzhang666, @randallli, @jakerockland

potential TabBarView refactor
  components/Tabs/src/TabBarView/MDCTabBarView.h
  components/Tabs/src/TabBarView/MDCTabBarView.m
Owners: @material-components/core-ios-team

Run clang
  components/Tabs/src/TabBarView/MDCTabBarView.h
  components/Tabs/src/TabBarView/MDCTabBarView.m
Owners: @material-components/core-ios-team

[Chips] Only hide MDCChipField's placeholder text if showPlaceholderWithChips is false and chips are present.
  components/Chips/src/MDCChipField.m
Owners: @material-components/core-ios-team

Internal change.
  components/BottomAppBar/examples/supplemental/BottomAppBarTypicalUseSupplemental.m
Owners: @wenyuzhang666

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
**       @material-components/core-ios-team

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
/components/ActionSheet/          @codeman7
/components/AnimationTiming/      @yarneo
/components/AppBar/               @jverkoey
/components/BottomAppBar/         @wenyuzhang666
/components/BottomSheet/          @yarneo
/components/Buttons/              @randallli
/components/Cards/                @yarneo
/components/CollectionCells/      @yarneo
/components/CollectionLayoutAttributes/ @jverkoey
/components/Collections/          @jverkoey
/components/Dialogs/              @galiak11 @iberezan
/components/FeatureHighlight/     @codeman7
/components/FlexibleHeader/       @jverkoey
/components/HeaderStackView/      @jverkoey
/components/Ink/                  @yarneo
/components/LibraryInfo/          @jverkoey
/components/List                  @andrewoverton
/components/MaskedTransition/     @jverkoey
/components/NavigationBar/        @yarneo @jverkoey
/components/NavigationDrawer/     @yarneo @jakerockland
/components/OverlayWindow/        @yarneo
/components/PageControl/          @randallli
/components/Palettes/             @jverkoey
/components/Ripple                @yarneo
/components/ShadowElevations/     @jverkoey
/components/ShadowLayer/          @jverkoey
/components/Snackbar/             @yarneo
/components/TextFields/           @andrewoverton
/components/Themes/               @jverkoey
