Repository material-components/material-components-ios, changes with the owners that CODEOWNERS names for each.
All owners: @material-components/core-ios-team, @codeman7, @yarneo, @jverkoey, @wenyuzhang666, @randallli, @galiak11, @iberezan, @andrewoverton, @jakerockland

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
**       @material-components/core-ios-team

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
/components/ActionSheet/          @codeman7
/components/AnimationTiming/      @yarneo
/components/AppBar/               @jverkoey
/components/BottomAppBar/         @wenyuzhang666
/components/BottomSheet/          @yarneo
/components/Buttons/              @randallli
/components/Cards/                @yarneo
/components/CollectionCells/      @yarneo
/components/CollectionLayoutAttributes/ @jverkoey
/components/Collections/          @jverkoey
/components/Dialogs/              @galiak11 @iberezan
/components/FeatureHighlight/     @codeman7
/components/FlexibleHeader/       @jverkoey
/components/HeaderStackView/      @jverkoey
/components/Ink/                  @yarneo
/components/LibraryInfo/          @jverkoey
/components/List                  @andrewoverton
/components/MaskedTransition/     @jverkoey
/components/NavigationBar/        @yarneo @jverkoey
/components/NavigationDrawer/     @yarneo @jakerockland
/components/OverlayWindow/        @yarneo
/components/PageControl/          @randallli
/components/Palettes/             @jverkoey
/components/Ripple                @yarneo
/components/ShadowElevations/     @jverkoey
/components/ShadowLayer/          @jverkoey
/components/Snackbar/             @yarneo
/components/TextFields/           @andrewoverton
/components/Themes/               @jverkoey

add multi-window guessing support (#9830)
  components/Snackbar/src/MDCSnackbarManager.m
Owners: @yarneo

Account for placeholder in width calculations if no text is present
  components/Chips/src/MDCChipField.m
  snapshot_test_goldens/goldens_64/MDCChipFieldSnapshotTests/testTextFieldIsOnLineBelowWideChips_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipFieldSnapshotTests/testTextFieldIsOnTheSameLineAsNarrowChips_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipFieldSnapshotTests/testTextFieldWithZeroMinimumWidthIsOnSameLineAsWideChips_11_2@2x.png
Owners: @material-components/core-ios-team

clang
  components/Chips/src/MDCChipField.m
Owners: @material-components/core-ios-team

[Chips] Resize MDCChipField's textField frame instead of using left insets to align with chips (#9837)
  components/Chips/src/MDCChipField.m
  components/Chips/tests/unit/ChipsTests.m
  snapshot_test_goldens/goldens_64/MDCChipFieldSnapshotTests/testTextFieldIsOnLineBelowWideChips_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipFieldSnapshotTests/testTextFieldIsOnTheSameLineAsNarrowChips_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipFieldSnapshotTests/testTextFieldWithZeroMinimumWidthIsOnSameLineAsWideChips_11_2@2x.png
Owners: @material-components/core-ios-team

[Chips] Update MDCChipField to reposition textField while typing
  components/Chips/src/MDCChipField.m
Owners: @material-components/core-ios-team

[BottomSheet] Anchor movement of the bottom sheet along the y axis. (#9835)
  components/BottomSheet/src/private/MDCSheetBehavior.m
Owners: @yarneo

[Chips] In MDCChipField, account for horizontal padding when calculating available width for text field
  components/Chips/src/MDCChipField.m
Owners: @material-components/core-ios-team

Update snapshots
  snapshot_test_goldens/goldens_64/MDCChipFieldSnapshotTests/testTextFieldIsOnLineBelowWideChips_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipFieldSnapshotTests/testTextFieldIsOnTheSameLineAsNarrowChips_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipFieldSnapshotTests/testTextFieldWithZeroMinimumWidthIsOnSameLineAsWideChips_11_2@2x.png
Owners: @material-components/core-ios-team

Use settable contentEdgeInsets instead of constant
  components/Chips/src/MDCChipField.m
Owners: @material-components/core-ios-team

[Dialogs] Adding actions order tests
  components/Dialogs/tests/snapshot/MDCAlertControllerActionsTests.m
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testActionsAreOrderedByEmphasis_11_2@2x.png
Owners: @galiak11, @iberezan, @material-components/core-ios-team

[Chips] In MDCChipField, account for horizontal padding when calculating available width for text field (#9841)
  components/Chips/src/MDCChipField.m
  snapshot_test_goldens/goldens_64/MDCChipFieldSnapshotTests/testTextFieldIsOnLineBelowWideChips_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipFieldSnapshotTests/testTextFieldIsOnTheSameLineAsNarrowChips_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCChipFieldSnapshotTests/testTextFieldWithZeroMinimumWidthIsOnSameLineAsWideChips_11_2@2x.png
Owners: @material-components/core-ios-team

[Chips] Add MDCChipField snapshot test for placeholder truncation
  components/Chips/tests/snapshot/MDCChipFieldSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCChipFieldSnapshotTests/testPlacholderIsNotTruncated_11_2@2x.png
Owners: @material-components/core-ios-team

[Chips] Add MDCChipField snapshot test for placeholder truncation (#9842)
  components/Chips/tests/snapshot/MDCChipFieldSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCChipFieldSnapshotTests/testPlacholderIsNotTruncated_11_2@2x.png
Owners: @material-components/core-ios-team

[Chips] Account for MDCChipField contentInset in placeholder width calculation
  components/Chips/src/MDCChipField.m
  snapshot_test_goldens/goldens_64/MDCChipFieldSnapshotTests/testPlacholderIsNotTruncated_11_2@2x.png
Owners: @material-components/core-ios-team

[Chips] Account for MDCChipField contentInset in placeholder width calculation (#9843)
  components/Chips/src/MDCChipField.m
  snapshot_test_goldens/goldens_64/MDCChipFieldSnapshotTests/testPlacholderIsNotTruncated_11_2@2x.png
Owners: @material-components/core-ios-team

clang
  components/Chips/src/MDCChipField.m
Owners: @material-components/core-ios-team

[Dialogs] Adding actions order tests (#9829)
  components/Dialogs/tests/snapshot/MDCAlertControllerActionsTests.m
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testActionsAreOrderedByEmphasis_11_2@2x.png
Owners: @galiak11, @iberezan, @material-components/core-ios-team

[Chips] Do not include contentEdgeInsets for MDCChipField placeholder if no placeholder is present
  components/Chips/tests/snapshot/MDCChipFieldSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCChipFieldSnapshotTests/testEmptyPlaceholderSizeDoesNotAccountForContentInsets_11_2@2x.png
Owners: @material-components/core-ios-team

Add MDCTabBarViewLayoutStyleScrollableCentered
  components/Tabs/src/TabBarView/MDCTabBarView.h
  components/Tabs/src/TabBarView/MDCTabBarView.m
  components/Tabs/tests/snapshot/TabBarView/MDCTabBarViewSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSelectionWithScrollableCenteredLayout_11_2@2x.png
Owners: @material-components/core-ios-team

[Chips] Move MDCChipField text input to a new line if text is too wide (#9845)
  components/Chips/src/MDCChipField.m
Owners: @material-components/core-ios-team

[Chips] Do not include contentEdgeInsets for MDCChipField placeholder if no placeholder is present (#9847)
  components/Chips/tests/snapshot/MDCChipFieldSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCChipFieldSnapshotTests/testEmptyPlaceholderSizeDoesNotAccountForContentInsets_11_2@2x.png
Owners: @material-components/core-ios-team

[Chips] Do not include insets in MDCChipField placeholder width if there is no placeholder
  components/Chips/src/MDCChipField.m
  snapshot_test_goldens/goldens_64/MDCChipFieldSnapshotTests/testEmptyPlaceholderSizeDoesNotAccountForContentInsets_11_2@2x.png
Owners: @material-components/core-ios-team

[Catalog] Remove traitCollection overrides from examples.
  components/Cards/examples/CardExampleViewController.swift
  components/Cards/examples/ShapedCardViewController.swift
  components/Ripple/examples/CardWithRippleExample.swift
Owners: @yarneo

[Chips] Add tip about "Adjusting chip sizes after changing the label".
  components/Banner/examples/BannerAutolayoutSwiftExampleViewController.swift
  components/Chips/README.md
  components/Chips/docs/tips.md
Owners: @material-components/core-ios-team

[Catalog] Remove traitCollection overrides from examples. (#9851)
  components/Cards/examples/CardExampleViewController.swift
  components/Cards/examples/ShapedCardViewController.swift
  components/Ripple/examples/CardWithRippleExample.swift
Owners: @yarneo

PR feedback
  components/Chips/src/MDCChipField.m
Owners: @material-components/core-ios-team

[Chips] Do not include insets in MDCChipField placeholder width if there is no placeholder (#9850)
  components/Chips/src/MDCChipField.m
  snapshot_test_goldens/goldens_64/MDCChipFieldSnapshotTests/testEmptyPlaceholderSizeDoesNotAccountForContentInsets_11_2@2x.png
Owners: @material-components/core-ios-team

Reset.
  components/Banner/examples/BannerAutolayoutSwiftExampleViewController.swift
Owners: @material-components/core-ios-team

[Chips] Add tips about "Adjusting chip sizes after changing the label". (#9852)
  components/Chips/README.md
  components/Chips/docs/tips.md
Owners: @material-components/core-ios-team

Refactor animations
  components/Tabs/src/TabBarView/MDCTabBarView.m
Owners: @material-components/core-ios-team

[Dialogs] Removing enableAdjustableInsets and fixed-insets calculations. (#9832)
  components/Dialogs/src/private/MDCAlertControllerView+Private.h
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Owners: @galiak11, @iberezan

Refactor MDCInkView logic grappling with interplay between legacy ink layer and max ripple radius, ink style, etc
  components/Ink/src/MDCInkView.h
  components/Ink/src/MDCInkView.m
Owners: @yarneo

Make order of operations more clear
  components/Tabs/src/TabBarView/MDCTabBarView.m
Owners: @material-components/core-ios-team

Add new enum case to end
  components/Tabs/src/TabBarView/MDCTabBarView.h
Owners: @material-components/core-ios-team

[Dialogs] Accessibility frame is larger than displayed text.
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Owners: @galiak11, @iberezan

[Snackbar] Support orientation changes that respect safe area (#9838)
  components/Snackbar/src/MDCSnackbarMessageView.m
  components/Snackbar/src/private/MDCSnackbarOverlayView.m
Owners: @yarneo

snackbar delay post
  components/Snackbar/src/MDCSnackbarManager.m
  components/Snackbar/src/MDCSnackbarMessage.h
  components/Snackbar/src/MDCSnackbarMessage.m
Owners: @yarneo

kreng
  components/Snackbar/src/MDCSnackbarManager.m
  components/Snackbar/src/MDCSnackbarMessage.h
Owners: @yarneo

add unit tests
  components/Snackbar/tests/unit/MDCSnackbarMessageViewTests.m
Owners: @yarneo

update method name
  components/Snackbar/tests/unit/MDCSnackbarMessageViewTests.m
Owners: @yarneo
