Repository material-components/material-components-ios, changes with the owners that CODEOWNERS names for each.
All owners: @material-components/core-ios-team, @codeman7, @yarneo, @jverkoey, @wenyuzhang666, @randallli, @galiak11, @iberezan, @andrewoverton, @jakerockland

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
**       @material-components/core-ios-team

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
/components/ActionSheet/          @codeman7
/components/AnimationTiming/      @yarneo
/components/AppBar/               @jverkoey
/components/BottomAppBar/         @wenyuzhang666
/components/BottomSheet/          @yarneo
/components/Buttons/              @randallli
/components/Cards/                @yarneo
/components/CollectionCells/      @yarneo
/components/CollectionLayoutAttributes/ @jverkoey
/components/Collections/          @jverkoey
/components/Dialogs/              @galiak11 @iberezan
/components/FeatureHighlight/     @codeman7
/components/FlexibleHeader/       @jverkoey
/components/HeaderStackView/      @jverkoey
/components/Ink/                  @yarneo
/components/LibraryInfo/          @jverkoey
/components/List                  @andrewoverton
/components/MaskedTransition/     @jverkoey
/components/NavigationBar/        @yarneo @jverkoey
/components/NavigationDrawer/     @yarneo @jakerockland
/components/OverlayWindow/        @yarneo
/components/PageControl/          @randallli
/components/Palettes/             @jverkoey
/components/Ripple                @yarneo
/components/ShadowElevations/     @jverkoey
/components/ShadowLayer/          @jverkoey
/components/Snackbar/             @yarneo
/components/TextFields/           @andrewoverton
/components/Themes/               @jverkoey

[GM3/Dialogs] Update animation for dismissing the dialog.
  components/Dialogs/src/MDCDialogTransitionController.m
Owners: @galiak11, @iberezan

Clarify the behavior of disableRippleBehavior API that there is not default system highlight behavior when this flag is turned YES.
  components/Tabs/src/TabBarView/MDCTabBarView.h
Owners: @material-components/core-ios-team

[Snackbar] Rename alignment to horizontalAlignment to reflect its intended usage.
  components/Snackbar/src/MDCSnackbarAlignment.h
  components/Snackbar/src/MDCSnackbarManager.h
  components/Snackbar/src/MDCSnackbarManager.m
  components/Snackbar/src/private/MDCSnackbarOverlayView.h
  components/Snackbar/src/private/MDCSnackbarOverlayView.m
  components/Snackbar/tests/unit/MDCSnackbarManagerInstanceTests.m
Owners: @yarneo

[Snackbar] Add vertical alignment support so that snackbar can be positioned at the top of the screen.
  components/Snackbar/src/MDCSnackbarAlignment.h
  components/Snackbar/src/MDCSnackbarManager.h
  components/Snackbar/src/MDCSnackbarManager.m
  components/Snackbar/src/MDCSnackbarMessageView.m
  components/Snackbar/src/private/MDCSnackbarOverlayView.h
  components/Snackbar/src/private/MDCSnackbarOverlayView.m
Owners: @yarneo

Change snackbarView's `accessibilityElementsHidden` to match its manager's setting when a snackbar is not focusable.
  components/Snackbar/src/MDCSnackbarManager.m
  components/Snackbar/src/MDCSnackbarMessageView.m
  components/Snackbar/tests/unit/MDCSnackbarMessageViewTests.m
Owners: @yarneo

[MDCBottomNavigationBar] Refactor layout logic to use constraints and UIStackView.
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/tests/unit/MDCBottomNavigationBarTests.m
Owners: @material-components/core-ios-team

[NavigationRail] Add vertical layout mode to bottom navigation bar component.
  components/BottomNavigation/src/MDCBottomNavigationBar.h
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/src/MDCBottomNavigationBarController.h
  components/BottomNavigation/src/MDCBottomNavigationBarController.m
  components/BottomNavigation/src/private/MDCBottomNavigationBar+Private.h
Owners: @material-components/core-ios-team

Add multiline layout support for M3CButton.
  components/M3CButton/src/M3CButton.h
  components/M3CButton/src/M3CButton.m
Owners: @material-components/core-ios-team

[GM3/NavigationRail] Update updateNavigationBarInsets to account for child view controllers going behind the navigation rail.
  components/BottomNavigation/src/MDCBottomNavigationBarController.m
Owners: @material-components/core-ios-team

Add missing dependency on QuartzCore
  components/Shadow/tests/snapshot/MDCShadowSnapshotTests.m
Owners: @material-components/core-ios-team

[NavigationRail] Add support for rotation detection for iPad.
  components/BottomNavigation/src/MDCBottomNavigationBar.h
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/src/MDCBottomNavigationBarController.m
  components/BottomNavigation/src/private/MDCBottomNavigationBar+Private.h
Owners: @material-components/core-ios-team

Internal change.
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
Owners: @yarneo, @jakerockland

[GM3/BottomNavigationBar] Change the way navigation bar determines when it should use vertical layout to a single flag.
  components/BottomNavigation/src/MDCBottomNavigationBar.h
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/src/MDCBottomNavigationBarController.h
  components/BottomNavigation/src/MDCBottomNavigationBarController.m
Owners: @material-components/core-ios-team

[Vertical carousel] Add immersive feed carousel.
  components/Carousel/examples/ImmersiveFeedTypicalUse.swift
  components/Carousel/src/ImmersiveFeedViewController.swift
  components/Carousel/src/private/ParallaxFlowLayout.swift
  components/Carousel/src/private/ParallaxLayoutAttributes.swift
  components/Carousel/src/private/RangeInterpolator.swift
Owners: @material-components/core-ios-team

[NavigationRail] Adds flag to force titles for item views to show in landscape mode + minor UI changes.
  components/BottomNavigation/src/MDCBottomNavigationBar.h
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/src/MDCBottomNavigationBarController.h
  components/BottomNavigation/src/MDCBottomNavigationBarController.m
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.h
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
Owners: @material-components/core-ios-team

[Carousel] Drop min OS version to 13.
  components/Carousel/src/ImmersiveFeedViewController.swift
  components/Carousel/src/private/ParallaxLayoutAttributes.swift
Owners: @material-components/core-ios-team

#BottomNavigation Support setting `selectionIndicatorSize/Color` before setting the items.
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/tests/unit/MDCBottomNavigationBarTests.m
Owners: @material-components/core-ios-team

Made MDCConfigureShadowForViewWithPath's path parameter nullable.
  components/Shadow/src/MDCShadowsCollection.h
  components/Shadow/src/MDCShadowsCollection.m
Owners: @material-components/core-ios-team

Increase spacing between items in vertical layout mode for both iPad and iPhone.
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/src/MDCBottomNavigationBarController.m
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
Owners: @material-components/core-ios-team

[GM3/NavigationSuite] Fix bug where disabling vertical layout does not revert to horizontal layout.
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/src/MDCBottomNavigationBarController.m
Owners: @material-components/core-ios-team

Add immersive view controller data source class with immersive feed cell.
  components/Carousel/examples/ImmersiveFeedTypicalUse.swift
  components/Carousel/src/ImmersiveFeedViewController.swift
  components/Carousel/src/ImmersiveFeedViewControllerDataSource.swift
Owners: @material-components/core-ios-team

[ImmersiveFeed] Remove immersive view controller offering; instead, expose the parallax flow layout to use with client collection views.
  components/Carousel/examples/ImmersiveFeedTypicalUse.swift
  components/Carousel/src/ImmersiveFeedViewController.swift
  components/Carousel/src/ImmersiveFeedViewControllerDataSource.swift
  components/Carousel/src/ParallaxFlowLayout.swift
Owners: @material-components/core-ios-team

Delete all navigation rail component code, please use MDCBottomNavigationBarController instead.
  components/NavigationRail/examples/NavigationRailViewControllerTypicalUse.swift
  components/NavigationRail/examples/NavigationRailViewTypicalUse.swift
  components/NavigationRail/src/NavigationRailConfiguration.swift
  components/NavigationRail/src/NavigationRailView.swift
  components/NavigationRail/src/NavigationRailViewController.swift
  components/NavigationRail/src/NavigationRailViewControllerDelegate.swift
  components/NavigationRail/src/NavigationRailViewDelegate.swift
  components/NavigationRail/src/private/NavigationRailItemView.swift
  components/NavigationRail/tests/unit/NavigationRailTests.swift
Owners: @material-components/core-ios-team

Mark FlexibleHeader "To Be Deprecated"
  components/FlexibleHeader/src/MDCFlexibleHeaderContainerViewController.h
  components/FlexibleHeader/src/MDCFlexibleHeaderSafeAreaDelegate.h
  components/FlexibleHeader/src/MDCFlexibleHeaderView+ShiftBehavior.h
  components/FlexibleHeader/src/MDCFlexibleHeaderView.h
  components/FlexibleHeader/src/MDCFlexibleHeaderViewAnimationDelegate.h
  components/FlexibleHeader/src/MDCFlexibleHeaderViewController.h
  components/FlexibleHeader/src/MDCFlexibleHeaderViewDelegate.h
  components/FlexibleHeader/src/MDCFlexibleHeaderViewLayoutDelegate.h
  components/FlexibleHeader/src/ShiftBehavior/MDCFlexibleHeaderShiftBehavior.h
  components/FlexibleHeader/src/ShiftBehaviorEnabledWithStatusBar/MDCFlexibleHeaderShiftBehaviorEnabledWithStatusBar.h
  components/FlexibleHeader/src/private/MDCFlexibleHeaderHairline.h
  components/FlexibleHeader/src/private/MDCFlexibleHeaderMinMaxHeight.h
  components/FlexibleHeader/src/private/MDCFlexibleHeaderMinMaxHeightDelegate.h
  components/FlexibleHeader/src/private/MDCFlexibleHeaderShifter.h
  components/FlexibleHeader/src/private/MDCFlexibleHeaderTopSafeArea.h
  components/FlexibleHeader/src/private/MDCFlexibleHeaderTopSafeAreaDelegate.h
  components/FlexibleHeader/src/private/MDCFlexibleHeaderView+Private.h
  components/FlexibleHeader/src/private/MDCStatusBarShifter.h
  components/FlexibleHeader/src/private/MDCStatusBarShifterDelegate.h
Owners: @jverkoey

[M3CButton] Consider attributed title when calculating and updating content insets.
  components/M3CButton/src/M3CButton.m
  components/M3CButton/tests/unit/M3CButtonInsetsTests.m
Owners: @material-components/core-ios-team

[MDC-iOS] Remove Slider testExplicitlyNonDiscreteSliderAlignsToThumbPosition test.
  components/Slider/tests/snapshot/MDCSliderSnapshotTests.m
Owners: @material-components/core-ios-team

[Dialogs] Fix issue with incorrectly locating attributed links in RTL languages.
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Owners: @galiak11, @iberezan

[MDCBottomNavigationBar] Fix bug where explicitly disabling titles in vertical layout on iPad does not work.
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
Owners: @material-components/core-ios-team

Allow snackbar managers to be scoped to a window scene.
  components/Snackbar/src/MDCSnackbarManager.h
  components/Snackbar/src/MDCSnackbarManager.m
Owners: @yarneo

Allow snackbar managers to be scoped to a window scene.
  components/Snackbar/src/MDCSnackbarManager.h
  components/Snackbar/src/MDCSnackbarManager.m
Owners: @yarneo

Fix issue with nav bar completion block not hiding the bottom nav bar.
  components/BottomNavigation/src/MDCBottomNavigationBarController.m
Owners: @material-components/core-ios-team

Test Cleanup
  components/Buttons/examples/supplemental/ButtonsTypicalUseSupplemental.m
  components/NavigationBar/examples/NavigationBarAlertExample.swift
Owners: @randallli, @yarneo, @jverkoey

Add enum for parallax flow layout to allow for future horizontal flow direction.
  components/Carousel/src/ParallaxFlowLayout.swift
  components/Carousel/src/private/ParallaxLayoutVerticalAttributes.swift
Owners: @material-components/core-ios-team

Allow snackbar managers to be scoped to a window scene.
  components/Snackbar/src/MDCSnackbarManager.h
  components/Snackbar/src/MDCSnackbarManager.m
Owners: @yarneo

[NavigationSuite/CodeHealth] Fix issue where setNavigationBarHidden in vertical layout does not animate correctly.
  components/BottomNavigation/src/MDCBottomNavigationBarController.m
Owners: @material-components/core-ios-team

Change MDCSnackbarMessageView.actionButton to a UIButton
  components/Snackbar/src/MDCSnackbarManager.m
  components/Snackbar/src/MDCSnackbarMessageView.h
  components/Snackbar/src/MDCSnackbarMessageView.m
  components/Snackbar/tests/unit/MDCSnackbarMessageViewTests.m
  components/Snackbar/tests/unit/MDCSnackbarRippleTests.m
Owners: @yarneo

Add missing type cast in MDCSnackbarMessageView
  components/Snackbar/src/MDCSnackbarMessageView.m
Owners: @yarneo

Delete deprecated `MDCSnackbarMessageView.actionButtons` API
  components/Snackbar/examples/SnackbarSimpleExample.m
  components/Snackbar/src/MDCSnackbarMessageView.h
  components/Snackbar/src/MDCSnackbarMessageView.m
  components/Snackbar/tests/unit/MDCSnackbarMessageViewTests.m
Owners: @yarneo

#BottomNavigation Add content inset API
  components/BottomNavigation/src/MDCBottomNavigationBarController.h
  components/BottomNavigation/src/MDCBottomNavigationBarController.m
Owners: @material-components/core-ios-team

[Dialogs/Accessibility] Add responds to user interaction to message text view in Dialogs.
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Owners: @galiak11, @iberezan
