Repository material-components/material-components-ios, changes with the owners that CODEOWNERS names for each.
All owners: @material-components/core-ios-team, @codeman7, @yarneo, @jverkoey, @wenyuzhang666, @randallli, @galiak11, @iberezan, @andrewoverton, @jakerockland

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
**       @material-components/core-ios-team

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
/components/ActionSheet/          @codeman7
/components/AnimationTiming/      @yarneo
/components/AppBar/               @jverkoey
/components/BottomAppBar/         @wenyuzhang666
/components/BottomSheet/          @yarneo
/components/Buttons/              @randallli
/components/Cards/                @yarneo
/components/CollectionCells/      @yarneo
/components/CollectionLayoutAttributes/ @jverkoey
/components/Collections/          @jverkoey
/components/Dialogs/              @galiak11 @iberezan
/components/FeatureHighlight/     @codeman7
/components/FlexibleHeader/       @jverkoey
/components/HeaderStackView/      @jverkoey
/components/Ink/                  @yarneo
/components/LibraryInfo/          @jverkoey
/components/List                  @andrewoverton
/components/MaskedTransition/     @jverkoey
/components/NavigationBar/        @yarneo @jverkoey
/components/NavigationDrawer/     @yarneo @jakerockland
/components/OverlayWindow/        @yarneo
/components/PageControl/          @randallli
/components/Palettes/             @jverkoey
/components/Ripple                @yarneo
/components/ShadowElevations/     @jverkoey
/components/ShadowLayer/          @jverkoey
/components/Snackbar/             @yarneo
/components/TextFields/           @andrewoverton
/components/Themes/               @jverkoey

Address feedback
  components/List/README.md
Owners: @andrewoverton

Replace manually numbered lists with "1" numbered lists
  components/List/README.md
Owners: @andrewoverton

Change sentence
  components/List/README.md
Owners: @andrewoverton

[Dialogs] Add visibleAreaInsets support.
  components/Dialogs/src/MDCAlertControllerView.h
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
  components/Dialogs/tests/unit/MDCAlertControllerInsetsTests.m
  components/Dialogs/tests/unit/MDCAlertControllerLayoutTests.m
Owners: @galiak11, @iberezan

Fix one more list
  components/List/README.md
Owners: @andrewoverton

[List] Replace list docs
  components/List/README.md
  components/List/docs/README.md
  components/List/docs/accessibility.md
  components/List/docs/assets/combined-list-content.png
  components/List/docs/assets/list-content-anatomy.png
  components/List/docs/assets/lists-anatomy.png
  components/List/docs/assets/lists-types.png
  components/List/docs/assets/shrine-list.png
  components/List/docs/assets/single-line-list-example.png
  components/List/docs/assets/three-line-list-example.png
  components/List/docs/assets/two-line-list-example.png
  components/List/docs/create-your-own.md
  components/List/docs/theming.md
  components/List/docs/typical-use.md
Owners: @andrewoverton

[ProgressView] Remove setMode:animated:completion API.
  components/ProgressView/examples/ProgressViewExample.m
  components/ProgressView/src/MDCProgressView.h
  components/ProgressView/src/MDCProgressView.m
Owners: @material-components/core-ios-team

[TextControls] Add padding customizing properties to MDCBaseTextField and MDCBaseTextArea
  components/TextControls/src/BaseTextAreas/MDCBaseTextArea.h
  components/TextControls/src/BaseTextAreas/MDCBaseTextArea.m
  components/TextControls/src/BaseTextAreas/private/MDCBaseTextAreaLayout.h
  components/TextControls/src/BaseTextAreas/private/MDCBaseTextAreaLayout.m
  components/TextControls/src/BaseTextFields/MDCBaseTextField.h
  components/TextControls/src/BaseTextFields/MDCBaseTextField.m
  components/TextControls/tests/snapshot/MDCBaseTextFieldSnapshotTests.m
  components/TextControls/tests/snapshot/MDCFilledTextFieldSnapshotTests.m
  components/TextControls/tests/snapshot/MDCOutlinedTextFieldSnapshotTests.m
  components/TextControls/tests/snapshot/MDCUnderlinedTextFieldSnapshotTests.m
  components/TextControls/tests/snapshot/supplemental/MDCBaseTextFieldTestsSnapshotTestHelpers.h
  components/TextControls/tests/snapshot/supplemental/MDCBaseTextFieldTestsSnapshotTestHelpers.m
Owners: @material-components/core-ios-team

[Ripple] Add a convenience API for finding the ripple view in the view's subviews.
  components/Ripple/src/MDCRippleView.h
  components/Ripple/src/MDCRippleView.m
  components/Ripple/tests/unit/MDCRippleViewTests.m
Owners: @yarneo

[Ripple] Add delegate method to RippleTouchController existing in InkTouchController.
  components/Ripple/examples/UICollectionViewWithRippleExample.swift
  components/Ripple/src/MDCRippleTouchController.m
  components/Ripple/src/MDCRippleTouchControllerDelegate.h
  components/Ripple/tests/unit/MDCRippleViewAtTouchLocationDelegateTests.m
Owners: @yarneo

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Bumped version number to 110.0.0.
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

[Navigation Drawer] Updated documentation
  components/NavigationDrawer/README.md
Owners: @yarneo, @jakerockland

Delete obsolete markdown files
  components/AppBar/docs/README.md
  components/AppBar/docs/accessibility.md
  components/AppBar/docs/color-theming.md
  components/AppBar/docs/interactive-background-views.md
  components/AppBar/docs/migration-guide-appbar-appbarviewcontroller.md
  components/AppBar/docs/recommended-behavioral-flags.md
  components/AppBar/docs/theming.md
  components/AppBar/docs/typical-use-child.md
  components/AppBar/docs/typical-use-container.md
  components/AppBar/docs/typical-use-navigation-controller.md
  components/AppBar/docs/typography-theming.md
  components/AppBar/docs/uinavigationitem-support.md
  components/Cards/docs/README.md
  components/Dialogs/docs/README.md
  components/TextControls/docs/README.md
  components/TextControls/docs/examples.md
  components/TextControls/docs/installation.md
  components/TextControls/docs/theming.md
  components/TextControls/docs/typical-use.md
Owners: @jverkoey, @yarneo, @galiak11, @iberezan, @material-components/core-ios-team

[Catalog] Replace Ink with Ripple in MDCCatalog
  catalog/MDCCatalog/MDCCatalogComponentsController.swift
Owners: @material-components/core-ios-team

[Collections] Add Ripple as an opt-in for MDCCollections and MDCCollectionCells
  components/CollectionCells/src/MDCCollectionViewCell.h
  components/CollectionCells/src/MDCCollectionViewCell.m
  components/CollectionCells/tests/unit/MDCCollectionViewCellTests.m
  components/Collections/examples/CollectionsRippleExample.m
  components/Collections/examples/supplemental/CollectionsRippleExample.h
  components/Collections/src/MDCCollectionViewController.h
  components/Collections/src/MDCCollectionViewController.m
  components/Collections/src/MDCCollectionViewStylingDelegate.h
Owners: @yarneo, @jverkoey

Delete obsolete markdown files
  components/AppBar/docs/README.md
  components/AppBar/docs/accessibility.md
  components/AppBar/docs/color-theming.md
  components/AppBar/docs/interactive-background-views.md
  components/AppBar/docs/migration-guide-appbar-appbarviewcontroller.md
  components/AppBar/docs/recommended-behavioral-flags.md
  components/AppBar/docs/theming.md
  components/AppBar/docs/typical-use-child.md
  components/AppBar/docs/typical-use-container.md
  components/AppBar/docs/typical-use-navigation-controller.md
  components/AppBar/docs/typography-theming.md
  components/AppBar/docs/uinavigationitem-support.md
  components/Cards/docs/README.md
  components/Dialogs/docs/README.md
  components/TextControls/docs/README.md
  components/TextControls/docs/examples.md
  components/TextControls/docs/installation.md
  components/TextControls/docs/theming.md
  components/TextControls/docs/typical-use.md
Owners: @jverkoey, @yarneo, @galiak11, @iberezan, @material-components/core-ios-team

[ProgressView] Reimplement animation on indeterminate mode to meet specification.
  components/ProgressView/src/MDCProgressView.h
  components/ProgressView/src/MDCProgressView.m
  components/ProgressView/src/private/MDCProgressGradientView.h
  components/ProgressView/src/private/MDCProgressGradientView.m
Owners: @material-components/core-ios-team

[Dialogs] Modify dialogs docs
  components/Dialogs/README.md
Owners: @galiak11, @iberezan

[ProgressView] Fix RTL support on MDCProgressGradientView.
  components/ProgressView/src/private/MDCProgressGradientView.m
Owners: @material-components/core-ios-team

[ActionSheet] Fix broken links
  components/ActionSheet/README.md
Owners: @codeman7

[Snackbar] Use the ToBeDeprecated convention for to-be-deprecated APIs.
  components/Snackbar/src/MDCSnackbarManager.h
  components/Snackbar/src/MDCSnackbarManager.m
Owners: @yarneo

Updates MDCMultilineTextField's bottom textfield constraint to use the textInsets as the constant.
  components/TextFields/src/MDCMultilineTextField.m
Owners: @andrewoverton

Updates MDCMultilineTextField to better support being embedded in self-sizing cells.
  components/TextFields/src/MDCMultilineTextField.h
  components/TextFields/src/MDCMultilineTextField.m
Owners: @andrewoverton

[Slider] Move private MDCDiscreteDotView class into its own header and implementation files.
  components/private/ThumbTrack/src/MDCThumbTrack.m
  components/private/ThumbTrack/src/private/MDCDiscreteDotView.h
  components/private/ThumbTrack/src/private/MDCDiscreteDotView.m
  components/private/ThumbTrack/src/private/MDCThumbTrack+Private.h
Owners: @material-components/core-ios-team

[Chips] Add centerVisibleArea to MDCChipView and deprecate visibleAreaInsets.
  components/Chips/examples/ChipsTypicalUseViewController.m
  components/Chips/src/MDCChipView.h
  components/Chips/src/MDCChipView.m
  components/Chips/tests/snapshot/MDCChipViewSnapshotTests.m
Owners: @material-components/core-ios-team

[BottomNavigation] Add check for existence of UIPointerInteraction to prevent iOS 13 beta crashes.
  components/BottomNavigation/src/MDCBottomNavigationBar.m
Owners: @material-components/core-ios-team

[ProgressView] Reverse the start point and end point of indeterminate progress stroke to make it aligning with the animation direction.
  components/ProgressView/src/MDCProgressView.m
  components/ProgressView/src/private/MDCProgressGradientView.m
Owners: @material-components/core-ios-team

[AppBar] Remove redundant To Be Deprecated annotation.
  components/AppBar/src/MDCAppBarContainerViewController.h
Owners: @jverkoey

[Buttons] Mark more apis as to-be-deprecated.
  components/Buttons/src/MDCButton.h
  components/Buttons/src/MDCButton.m
  components/Buttons/src/MDCFlatButton.h
  components/Buttons/src/MDCFlatButton.m
Owners: @randallli

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

Add missing pod dependencies for Collections and CollectionCells.
  MaterialComponents.podspec
Owners: @material-components/core-ios-team

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

[Chips] Mark more apis as to-be-deprecated.
  components/Chips/src/MDCChipView.h
  components/Chips/src/MDCChipView.m
Owners: @material-components/core-ios-team

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Bumped version number to 110.1.0.
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

[NavigationBar] Mark more apis as to-be-deprecated.
  components/NavigationBar/src/MDCNavigationBar.h
  components/NavigationBar/src/MDCNavigationBar.m
Owners: @yarneo, @jverkoey

[FlexibleHeader] Mark more apis as to-be-deprecated.
  CHANGELOG.md
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/FlexibleHeader/src/MDCFlexibleHeaderViewController.h
  components/FlexibleHeader/src/MDCFlexibleHeaderViewController.m
  components/FlexibleHeader/src/private/MDCFlexibleHeaderMinMaxHeight.h
  components/FlexibleHeader/src/private/MDCFlexibleHeaderMinMaxHeight.m
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey
