Repository material-components/material-components-ios, changes with the owners that CODEOWNERS names for each.
All owners: @material-components/core-ios-team, @codeman7, @yarneo, @jverkoey, @wenyuzhang666, @randallli, @galiak11, @iberezan, @andrewoverton, @jakerockland

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
**       @material-components/core-ios-team

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
/components/ActionSheet/          @codeman7
/components/AnimationTiming/      @yarneo
/components/AppBar/               @jverkoey
/components/BottomAppBar/         @wenyuzhang666
/components/BottomSheet/          @yarneo
/components/Buttons/              @randallli
/components/Cards/                @yarneo
/components/CollectionCells/      @yarneo
/components/CollectionLayoutAttributes/ @jverkoey
/components/Collections/          @jverkoey
/components/Dialogs/              @galiak11 @iberezan
/components/FeatureHighlight/     @codeman7
/components/FlexibleHeader/       @jverkoey
/components/HeaderStackView/      @jverkoey
/components/Ink/                  @yarneo
/components/LibraryInfo/          @jverkoey
/components/List                  @andrewoverton
/components/MaskedTransition/     @jverkoey
/components/NavigationBar/        @yarneo @jverkoey
/components/NavigationDrawer/     @yarneo @jakerockland
/components/OverlayWindow/        @yarneo
/components/PageControl/          @randallli
/components/Palettes/             @jverkoey
/components/Ripple                @yarneo
/components/ShadowElevations/     @jverkoey
/components/ShadowLayer/          @jverkoey
/components/Snackbar/             @yarneo
/components/TextFields/           @andrewoverton
/components/Themes/               @jverkoey

[AppBar] Fix a failing snapshot test
  components/AppBar/examples/AppBarPresentedHiddenExample.m
Owners: @jverkoey

[FlexibleHeader] Move ShiftBehaviorForCurrentAppContext into the MDCFlexibleHeaderShifter.
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
  components/FlexibleHeader/src/private/MDCFlexibleHeaderShifter.h
  components/FlexibleHeader/src/private/MDCFlexibleHeaderShifter.m
  components/FlexibleHeader/tests/unit/FlexibleHeaderShifterTests.m
Owners: @jverkoey

[FlexibleHeader] Turn MDCFlexibleHeaderShiftBehavior into an extensible enum.
  components/FlexibleHeader/src/MDCFlexibleHeaderView+ShiftBehavior.h
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
Owners: @jverkoey

[NavigationDrawer] Add NavigationDrawer theming target to podspec
  MaterialComponents.podspec
  components/NavigationDrawer/src/Theming/MaterialNavigationDrawer+Theming.h
  components/NavigationDrawer/tests/snapshot/MDCBottomDrawerControllerSnapshotTests.m
Owners: @material-components/core-ios-team, @yarneo, @jakerockland

[FAB] Fix theme being applied to a wrong floating button in the example snapshot.
  components/Buttons/examples/FloatingButtonTypicalUseExample.m
Owners: @randallli

[MDCSnackbar] Add snackbarIsPresenting to MDCSnackbarManagerDelegate.
  components/Snackbar/src/MDCSnackbarManager.m
  components/Snackbar/src/MDCSnackbarManagerDelegate.h
  components/Snackbar/tests/unit/MDCSnackbarMessageViewTests.m
  components/Snackbar/tests/unit/supplemental/MDCFakeMDCSnackbarManagerDelegate.h
  components/Snackbar/tests/unit/supplemental/MDCFakeMDCSnackbarManagerDelegate.m
Owners: @yarneo

Add additional theming screenshot to Dialogs docs
  components/Dialogs/README.md
  components/Dialogs/docs/assets/shrine_dialog.png
Owners: @galiak11, @iberezan

[Dialogs] Add additional theming screenshot to Dialogs docs
  components/Dialogs/README.md
  components/Dialogs/docs/assets/shrine_dialog.png
Owners: @galiak11, @iberezan

[FlexibleHeader] Move the shift behavior types to separate targets.
  MaterialComponents.podspec
  components/FlexibleHeader/src/MDCFlexibleHeaderView+ShiftBehavior.h
  components/FlexibleHeader/src/ShiftBehavior/MDCFlexibleHeaderShiftBehavior.h
  components/FlexibleHeader/src/ShiftBehavior/MaterialFlexibleHeader+ShiftBehavior.h
  components/FlexibleHeader/src/ShiftBehaviorEnabledWithStatusBar/MDCFlexibleHeaderShiftBehaviorEnabledWithStatusBar.h
  components/FlexibleHeader/src/ShiftBehaviorEnabledWithStatusBar/MaterialFlexibleHeader+ShiftBehaviorEnabledWithStatusBar.h
Owners: @material-components/core-ios-team, @jverkoey

[Chips] Adjust hitAreaInsets in the typical example.
  components/Chips/examples/ChipsTypicalUseViewController.m
Owners: @material-components/core-ios-team

[MDCSnackbar] Add snackbarWillDisappear to SnackbarManagerDelegate
  components/Snackbar/src/MDCSnackbarManager.m
  components/Snackbar/src/MDCSnackbarManagerDelegate.h
  components/Snackbar/tests/unit/MDCSnackbarMessageViewTests.m
  components/Snackbar/tests/unit/supplemental/MDCFakeMDCSnackbarManagerDelegate.h
  components/Snackbar/tests/unit/supplemental/MDCFakeMDCSnackbarManagerDelegate.m
Owners: @yarneo

[FlexibleHeader] Extract hidesStatusBarWhenShiftedOffscreen to the shifter.
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
  components/FlexibleHeader/src/private/MDCFlexibleHeaderShifter.h
  components/FlexibleHeader/src/private/MDCFlexibleHeaderShifter.m
  components/FlexibleHeader/tests/unit/FlexibleHeaderShifterTests.m
Owners: @jverkoey

Internal change
  components/FlexibleHeader/examples/FlexibleHeaderConfiguratorExample.m
  components/FlexibleHeader/examples/FlexibleHeaderSafeAreaLayoutGuideExample.m
  components/FlexibleHeader/examples/FlexibleHeaderTopLayoutGuideExample.m
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
  components/FlexibleHeader/src/MDCFlexibleHeaderViewController.m
  components/FlexibleHeader/src/private/MDCFlexibleHeaderShifter.m
  components/FlexibleHeader/tests/unit/FlexibleHeaderShifterTests.m
  components/Tabs/examples/supplemental/TabBarTextOnlyExampleSupplemental.m
Owners: @jverkoey, @material-components/core-ios-team

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

[MDC-iOS] Use correct variable for dependency declaration in FlexibleHeader+ShiftBehaviorEnabledWithStatusBar podspec
  MaterialComponents.podspec
Owners: @material-components/core-ios-team

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

[MDC/NavDrawer] Support a max height
  components/NavigationDrawer/examples/BottomDrawerInfiniteScrollingExample.swift
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.h
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.m
  components/NavigationDrawer/src/MDCBottomDrawerViewController.h
  components/NavigationDrawer/src/MDCBottomDrawerViewController.m
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.h
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
  components/NavigationDrawer/tests/unit/MDCNavigationDrawerTest.m
Owners: @yarneo, @jakerockland

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

[Color] Add colorWithAccessibilityContrastHigh:normal: API to support Increase Contrast color.
  components/private/Color/src/UIColor+MaterialDynamic.h
  components/private/Color/src/UIColor+MaterialDynamic.m
  components/private/Color/tests/unit/MaterialColorTests.m
Owners: @material-components/core-ios-team

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Bumped version number to 109.5.0.
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

[FlexibleHeader] Remove ShiftBehaviorWithStatusBar from the public API.
  components/FlexibleHeader/src/MDCFlexibleHeaderView+ShiftBehavior.h
Owners: @jverkoey

Internal cleanup.
  catalog/MDCDragons/AppDelegate.swift
  catalog/MDCDragons/MDCCatalogWindow.swift
Owners: @material-components/core-ios-team

[ShadowLayer] Add prepareShadowPath to MDCShadowLayer to allow its subclass preparing shadow path before MDCShadowLayer lays out its sublayers.
  components/Buttons/tests/snapshot/MDCButtonSnapshotTests.m
  components/ShadowLayer/src/MDCShadowLayer.h
  components/ShadowLayer/src/MDCShadowLayer.m
  components/Shapes/src/MDCShapedShadowLayer.m
Owners: @randallli, @jverkoey, @material-components/core-ios-team

[ShadowLayer] Resolve UIColor instance when it is set as shapedBackgroundColor to MDCShapedShadowLayer.
  components/Shapes/src/MDCShapedShadowLayer.m
Owners: @material-components/core-ios-team

[AppBar] Inject AppBars after view controllers have been added to the navigation controller.
  components/AppBar/examples/AppBarNavigationControllerWithAppBarInitiallyHiddenExample.swift
  components/AppBar/src/MDCAppBarNavigationController.m
Owners: @jverkoey

[MDCButton] Add a visibleAreaInsets API.
  components/Buttons/examples/ButtonsTypicalUseExample.m
  components/Buttons/src/MDCButton.h
  components/Buttons/src/MDCButton.m
  components/Buttons/tests/unit/MDCButtonTests.m
Owners: @randallli

Internal change
  components/Tabs/examples/supplemental/TabBarTextOnlyExampleSupplemental.m
Owners: @material-components/core-ios-team

[Dialogs] replace the message UILabel type to UITextview
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/src/Testing/MDCAlertController+Testing.m
  components/Dialogs/src/private/MDCAlertControllerView+Private.h
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
  components/Dialogs/tests/snapshot/MDCAlertControllerConfigurationsTests.m
  components/Dialogs/tests/snapshot/MDCAlertControllerInsetsTests.m
  components/Dialogs/tests/unit/MDCAlertControllerColorThemerTests.m
  components/Dialogs/tests/unit/MDCAlertControllerInsetsTests.m
  components/Dialogs/tests/unit/MDCAlertControllerTests.m
  components/Dialogs/tests/unit/MDCAlertControllerTypographyThemerTests.m
Owners: @galiak11, @iberezan

internal change
  components/ActionSheet/src/MDCActionSheetController.m
  components/ActionSheet/src/MDCActionSheetControllerDelegate.h
Owners: @codeman7

[MDCDragons] Use material201907 color scheme in Catalog to support dark mode.
  catalog/MDCDragons/MDCDragonsController.swift
Owners: @material-components/core-ios-team

[FeatureHighlight] Delete unused accessibility hint string and unused localization support.
  components/FeatureHighlight/src/MDCFeatureHighlightViewController.m
  components/FeatureHighlight/src/MaterialFeatureHighlight.bundle/Resources/en.lproj/MaterialFeatureHighlight.strings
  components/FeatureHighlight/src/MaterialFeatureHighlightStrings.h
  components/FeatureHighlight/src/MaterialFeatureHighlightStrings_table.h
  components/FeatureHighlight/src/private/MDCFeatureHighlightView+Private.m
Owners: @codeman7

[NavigationDrawer] Fix bug where setting `maximumDrawerHeight` and `maximumInitialDrawerHeight` would allow scrolling.
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
Owners: @yarneo, @jakerockland

[Banner] Apply container theme in examples.
  components/Banner/examples/BannerAutolayoutExampleViewController.m
  components/Banner/examples/BannerTypicalUseExampleViewController.m
Owners: @material-components/core-ios-team

[NavigationDrawer] Clarify `trackingScrollView` API.
  components/NavigationDrawer/src/MDCBottomDrawerViewController.h
Owners: @yarneo, @jakerockland

[Banner] Add example snapshot tests for verifying MDCColorSchemeDefaultsMaterial201907 color scheme.
  components/Banner/examples/BannerTypicalUseExampleViewController.m
Owners: @material-components/core-ios-team

[NavigationDrawer] Fix bug where `maximumDrawerHeight` wouldn't allow for the correct height.
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
Owners: @yarneo, @jakerockland

[Dialogs] Adding tappable link support to the alert message
  components/Dialogs/examples/DialogsAccessoryExampleViewController.swift
  components/Dialogs/src/MDCAlertController.h
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
  components/Dialogs/tests/unit/MDCAlertControllerTests.m
Owners: @galiak11, @iberezan
