Repository material-components/material-components-ios, changes with the owners that CODEOWNERS names for each.
All owners: @material-components/core-ios-team, @codeman7, @yarneo, @jverkoey, @wenyuzhang666, @randallli, @galiak11, @iberezan, @andrewoverton, @jakerockland

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
**       @material-components/core-ios-team

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
/components/ActionSheet/          @codeman7
/components/AnimationTiming/      @yarneo
/components/AppBar/               @jverkoey
/components/BottomAppBar/         @wenyuzhang666
/components/BottomSheet/          @yarneo
/components/Buttons/              @randallli
/components/Cards/                @yarneo
/components/CollectionCells/      @yarneo
/components/CollectionLayoutAttributes/ @jverkoey
/components/Collections/          @jverkoey
/components/Dialogs/              @galiak11 @iberezan
/components/FeatureHighlight/     @codeman7
/components/FlexibleHeader/       @jverkoey
/components/HeaderStackView/      @jverkoey
/components/Ink/                  @yarneo
/components/LibraryInfo/          @jverkoey
/components/List                  @andrewoverton
/components/MaskedTransition/     @jverkoey
/components/NavigationBar/        @yarneo @jverkoey
/components/NavigationDrawer/     @yarneo @jakerockland
/components/OverlayWindow/        @yarneo
/components/PageControl/          @randallli
/components/Palettes/             @jverkoey
/components/Ripple                @yarneo
/components/ShadowElevations/     @jverkoey
/components/ShadowLayer/          @jverkoey
/components/Snackbar/             @yarneo
/components/TextFields/           @andrewoverton
/components/Themes/               @jverkoey

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

[Chips] Add visibleAreaInsets API to MDCChipView.
  components/Chips/examples/ChipsTypicalUseViewController.m
  components/Chips/src/MDCChipView.h
  components/Chips/src/MDCChipView.m
Owners: @material-components/core-ios-team

[Cocoapods] Make MaterialComponents.podspec pass pod lib lint
  MaterialComponents.podspec
Owners: @material-components/core-ios-team

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

[Banner] Apply primary color to icon in theming.
  components/Banner/src/Theming/MDCBannerView+MaterialTheming.m
  components/Banner/tests/unit/Theming/MDCBannerViewThemingTests.m
Owners: @material-components/core-ios-team

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Bumped version number to 109.6.0.
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

[Dialogs] Adding attributed link color API and updating theming extension
  components/Dialogs/examples/DialogsAccessoryExampleViewController.swift
  components/Dialogs/src/MDCAlertController.h
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/src/Theming/MDCAlertController+MaterialTheming.m
  components/Dialogs/tests/unit/MDCAlertControllerTests.m
Owners: @galiak11, @iberezan

[Dialogs] Header file comments cleanup
  components/Dialogs/src/MDCAlertController.h
Owners: @galiak11, @iberezan

[MDCButton] Put pointerStyleProvider API under a respondsToSelector conditional to ensure no crashes for 13.4 beta users.
  components/Buttons/src/MDCButton.m
Owners: @randallli

[Tabs] Add snapshot test to expose MDCTabBar not respecting UITabBarItem's selectedImage property.
  components/Tabs/tests/snapshot/MDCTabBarSelectedImageSnapshotTests.m
Owners: @material-components/core-ios-team

[Tabs] Add selectedImage property to MDCItemBarCell to allow MDCTabBar to support selected images.
  components/Tabs/src/private/MDCItemBar.m
  components/Tabs/src/private/MDCItemBarCell.h
  components/Tabs/src/private/MDCItemBarCell.m
  components/Tabs/tests/snapshot/MDCTabBarSelectedImageSnapshotTests.m
Owners: @material-components/core-ios-team

[TextControls] Extract duplicated methods to C function
  components/private/TextControlsPrivate/src/BaseStyle/MDCTextControlVerticalPositioningReferenceBase.m
  components/private/TextControlsPrivate/src/FilledStyle/MDCTextControlVerticalPositioningReferenceFilled.m
  components/private/TextControlsPrivate/src/OutlinedStyle/MDCTextControlVerticalPositioningReferenceOutlined.m
  components/private/TextControlsPrivate/src/Shared/MDCTextControlVerticalPositioningReference.h
  components/private/TextControlsPrivate/src/Shared/MDCTextControlVerticalPositioningReference.m
Owners: @material-components/core-ios-team

Switch to regular numbered list
  components/BottomNavigation/README.md
Owners: @material-components/core-ios-team

Replace bottom navigation docs
  components/BottomNavigation/README.md
  components/BottomNavigation/docs/assets/bottom-nav-anatomy.png
  components/BottomNavigation/docs/assets/bottom-nav-example.png
  components/BottomNavigation/docs/assets/bottom-nav-generic.png
  components/BottomNavigation/docs/assets/bottom-nav-shrine.png
Owners: @material-components/core-ios-team

Delete old docs
  components/BottomNavigation/docs/README.md
  components/BottomNavigation/docs/accessibility.md
  components/BottomNavigation/docs/assets/bottom-navigation.gif
  components/BottomNavigation/docs/deprecations.md
  components/BottomNavigation/docs/theming.md
Owners: @material-components/core-ios-team

Address CL feedback
  components/BottomNavigation/README.md
  components/BottomNavigation/examples/BottomNavigationBlurExample.m
Owners: @material-components/core-ios-team

Re-order accessibility and installation steps
  components/BottomNavigation/README.md
Owners: @material-components/core-ios-team

[BottomNavigation] Replace bottom navigation README
  components/BottomNavigation/README.md
  components/BottomNavigation/docs/README.md
  components/BottomNavigation/docs/accessibility.md
  components/BottomNavigation/docs/assets/bottom-nav-anatomy.png
  components/BottomNavigation/docs/assets/bottom-nav-example.png
  components/BottomNavigation/docs/assets/bottom-nav-generic.png
  components/BottomNavigation/docs/assets/bottom-nav-shrine.png
  components/BottomNavigation/docs/assets/bottom-navigation.gif
  components/BottomNavigation/docs/deprecations.md
  components/BottomNavigation/docs/theming.md
  components/BottomNavigation/examples/BottomNavigationBlurExample.m
Owners: @material-components/core-ios-team

[schemes/Color]Add high contrast color to MDCColorSchemeDefaultsMaterial201907 scheme to support Increase Contrast feature.
  components/schemes/Color/src/MDCSemanticColorScheme.m
  components/schemes/Color/tests/unit/MDCSemanticColorSchemeTests.m
Owners: @material-components/core-ios-team

[Buttons] Add a boolean for when observing cornerRadius so that we won't try to add 2 observers or remove a non-existent observer
  components/Buttons/src/MDCButton.m
Owners: @randallli

[TextControls] Add notion of horizontal positioning reference
  components/TextControls/src/BaseTextAreas/private/MDCBaseTextAreaLayout.m
  components/TextControls/src/BaseTextFields/MDCBaseTextField.m
  components/TextControls/src/BaseTextFields/private/MDCBaseTextFieldLayout.h
  components/TextControls/src/BaseTextFields/private/MDCBaseTextFieldLayout.m
  components/TextControls/tests/unit/BaseTextFields/MDCBaseTextFieldLayoutTests.m
  components/private/TextControlsPrivate/src/BaseStyle/MDCTextControlStyleBase.m
  components/private/TextControlsPrivate/src/FilledStyle/MDCTextControlStyleFilled.m
  components/private/TextControlsPrivate/src/OutlinedStyle/MDCTextControlStyleOutlined.m
  components/private/TextControlsPrivate/src/Shared/MDCTextControl.h
  components/private/TextControlsPrivate/src/Shared/MDCTextControlAssistiveLabelViewLayout.h
  components/private/TextControlsPrivate/src/Shared/MDCTextControlAssistiveLabelViewLayout.m
  components/private/TextControlsPrivate/src/Shared/MDCTextControlHorizontalPositioningReference.h
  components/private/TextControlsPrivate/src/Shared/MDCTextControlHorizontalPositioningReference.m
  components/private/TextControlsPrivate/src/Shared/MaterialTextControlsPrivate+Shared.h
Owners: @material-components/core-ios-team

[Chips] Add cornerRadius API to support customizing chip's corner radius.
  components/Chips/src/MDCChipView.h
  components/Chips/src/MDCChipView.m
  components/Chips/tests/snapshot/MDCChipViewSnapshotTests.m
Owners: @material-components/core-ios-team

[Catalog] Rename BottomSheetPresentationExample to BottomSheetModalPresentationExample to better represent its purpose.
  components/BottomSheet/examples/BottomSheetModalPresentationExample.m
  components/BottomSheet/examples/supplemental/BottomSheetSupplemental.h
  components/BottomSheet/examples/supplemental/BottomSheetSupplemental.m
Owners: @yarneo

[Catalog] Add BottomSheetPresentationControllerDelegateExample to demonstrate usage of MDCBottomSheetPresentationControllerDelegate.
  components/BottomSheet/examples/BottomSheetPresentationControllerDelegateExample.m
Owners: @yarneo

Setting `orderVerticalActionsByEmphasis` incorrectly calculates top and bottom insets for actions.
  components/Dialogs/tests/snapshot/MDCAlertControllerInsetsTests.m
Owners: @galiak11, @iberezan

[TextControls] Extract some duplicated methods to C functions
  components/private/TextControlsPrivate/src/BaseStyle/MDCTextControlVerticalPositioningReferenceBase.m
  components/private/TextControlsPrivate/src/FilledStyle/MDCTextControlVerticalPositioningReferenceFilled.m
  components/private/TextControlsPrivate/src/OutlinedStyle/MDCTextControlVerticalPositioningReferenceOutlined.m
  components/private/TextControlsPrivate/src/Shared/MDCTextControl.h
  components/private/TextControlsPrivate/src/Shared/MDCTextControl.m
  components/private/TextControlsPrivate/src/Shared/MDCTextControlVerticalPositioningReference.h
  components/private/TextControlsPrivate/src/Shared/MDCTextControlVerticalPositioningReference.m
Owners: @material-components/core-ios-team

Fix mixed top and bottom insets for the actions.
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Owners: @galiak11, @iberezan

[TextControls] Move private text fields files to TextControlsPrivate
  components/TextControls/src/BaseTextFields/MDCBaseTextField.m
  components/TextControls/tests/unit/BaseTextFields/MDCBaseTextFieldLayoutTests.m
  components/private/TextControlsPrivate/src/TextFields/MDCBaseTextFieldLayout.h
  components/private/TextControlsPrivate/src/TextFields/MDCBaseTextFieldLayout.m
  components/private/TextControlsPrivate/src/TextFields/MaterialTextControlsPrivate+TextFields.h
Owners: @material-components/core-ios-team

[ButtonBar] Remove excess iPad insets from the button bar buttons.
  components/ButtonBar/src/private/MDCAppBarButtonBarBuilder.m
Owners: @material-components/core-ios-team

[Catalog] Adding feedback menu option
  catalog/MDCCatalog/MDCCatalogWindow.swift
  catalog/MDCCatalog/MDCMenuViewController.swift
  components/private/Icons/icons/ic_feedback/src/Info.plist
  components/private/Icons/icons/ic_feedback/src/MaterialIcons+ic_feedback.h
  components/private/Icons/icons/ic_feedback/src/MaterialIcons+ic_feedback.m
  components/private/Icons/icons/ic_feedback/src/MaterialIcons_ic_feedback.xcassets/Contents.json
  components/private/Icons/icons/ic_feedback/src/MaterialIcons_ic_feedback.xcassets/ic_feedback.imageset/Contents.json
  components/private/Icons/icons/ic_feedback/src/MaterialIcons_ic_feedback.xcassets/ic_feedback.imageset/ic_feedback.png
  components/private/Icons/icons/ic_feedback/src/MaterialIcons_ic_feedback.xcassets/ic_feedback.imageset/ic_feedback@2x.png
  components/private/Icons/icons/ic_feedback/src/MaterialIcons_ic_feedback.xcassets/ic_feedback.imageset/ic_feedback@3x.png
Owners: @material-components/core-ios-team

Internal change
  components/BottomSheet/examples/BottomSheetPresentationControllerDelegateExample.m
  components/BottomSheet/examples/supplemental/BottomSheetPresenterViewController.m
Owners: @yarneo

[Dialogs] Improve Dialogs docs Improve alt text and use string literals in Dialogs README examples.
  components/Dialogs/README.md
Owners: @galiak11, @iberezan

[BottomSheet] Add bottomSheetDismissalAnimationCompleted method to MDCBottomSheetPresentationController.
  components/BottomSheet/examples/BottomSheetPresentationControllerDelegateExample.m
  components/BottomSheet/src/MDCBottomSheetPresentationController.m
  components/BottomSheet/src/MDCBottomSheetPresentationControllerDelegate.h
Owners: @yarneo

[ActionSheet] Add actionSheetControllerDismissalAnimationCompleted method to MDCActionSheetControllerDelegate.
  components/ActionSheet/examples/ActionSheetTypicalUseExample.m
  components/ActionSheet/src/MDCActionSheetController.m
  components/ActionSheet/src/MDCActionSheetControllerDelegate.h
  components/ActionSheet/tests/unit/MDCActionSheetControllerDelegateTests.m
Owners: @codeman7

[TextControls] Add underlined style object
  components/private/TextControlsPrivate/src/FilledStyle/MDCTextControlStyleFilled.m
  components/private/TextControlsPrivate/src/FilledStyle/MDCTextControlVerticalPositioningReferenceFilled.m
  components/private/TextControlsPrivate/src/UnderlinedStyle/MDCTextControlStyleUnderlined.h
  components/private/TextControlsPrivate/src/UnderlinedStyle/MDCTextControlStyleUnderlined.m
  components/private/TextControlsPrivate/src/UnderlinedStyle/MDCTextControlVerticalPositioningReferenceUnderlined.h
  components/private/TextControlsPrivate/src/UnderlinedStyle/MDCTextControlVerticalPositioningReferenceUnderlined.m
  components/private/TextControlsPrivate/src/UnderlinedStyle/MaterialTextControlsPrivate+UnderlinedStyle.h
Owners: @material-components/core-ios-team

[TextControls] Add underlined text field
  components/TextControls/examples/supplemental/MDCTextControlTextFieldContentViewController.m
  components/TextControls/src/UnderlinedTextFields/MDCUnderlinedTextField.h
  components/TextControls/src/UnderlinedTextFields/MDCUnderlinedTextField.m
  components/TextControls/src/UnderlinedTextFields/MaterialTextControls+UnderlinedTextFields.h
  components/TextControls/src/UnderlinedTextFieldsTheming/MDCUnderlinedTextField+MaterialTheming.h
  components/TextControls/src/UnderlinedTextFieldsTheming/MDCUnderlinedTextField+MaterialTheming.m
  components/TextControls/src/UnderlinedTextFieldsTheming/MaterialTextControls+UnderlinedTextFieldsTheming.h
  components/TextControls/tests/snapshot/MDCUnderlinedTextFieldSnapshotTests.m
  components/TextControls/tests/snapshot/supplemental/MDCBaseTextFieldTestsSnapshotTestHelpers.h
  components/TextControls/tests/snapshot/supplemental/MDCBaseTextFieldTestsSnapshotTestHelpers.m
Owners: @material-components/core-ios-team

[MDC Snackbar] Making the an internal read write Error property for messages.
  components/Snackbar/src/MDCSnackbarMessage.m
  components/Snackbar/src/private/MDCSnackbarMessageInternal.h
Owners: @yarneo

[Floating Button] Add visibleAreaInsets support for the FAB.
  components/Buttons/src/MDCFloatingButton.h
  components/Buttons/src/MDCFloatingButton.m
  components/Buttons/tests/unit/MDCFloatingButtonTests.m
Owners: @randallli

[MDCSnackbar] Added more information in description to Message and MessageView.
  components/Snackbar/src/MDCSnackbarMessage.m
  components/Snackbar/src/MDCSnackbarMessageView.m
  components/Snackbar/tests/unit/MDCSnackbarMessageViewTests.m
Owners: @yarneo
