Repository material-components/material-components-ios, changes with the owners that CODEOWNERS names for each.
All owners: @material-components/core-ios-team, @codeman7, @yarneo, @jverkoey, @wenyuzhang666, @randallli, @galiak11, @iberezan, @andrewoverton, @jakerockland

Remove all pre-iOS 12 logic.
  components/NavigationBar/examples/NavigationBarAlertExample.swift
Owners: @yarneo, @jverkoey

Remove all pre-iOS 12 logic.
  components/FlexibleHeader/src/MDCFlexibleHeaderViewController.m
Owners: @jverkoey

Remove all pre-iOS 12 logic.
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
Owners: @jverkoey

Remove all pre-iOS 12 logic.
  components/Collections/src/MDCCollectionViewController.m
Owners: @jverkoey

Remove all pre-iOS 12 logic.
  components/BottomNavigation/src/MDCBottomNavigationBarController.m
Owners: @material-components/core-ios-team

Remove all pre-iOS 12 logic.
  components/private/UIMetrics/src/MDCLayoutMetrics.m
Owners: @material-components/core-ios-team

Remove all pre-iOS 12 logic.
  components/AppBar/src/MDCAppBarViewController.m
Owners: @jverkoey

Remove all pre-iOS 12 logic.
  components/NavigationBar/examples/NavigationBarTypicalUseExample.swift
Owners: @yarneo, @jverkoey

Remove all pre-iOS 12 logic.
  components/TextFields/examples/supplemental/TextFieldKitchenSinkExampleSupplemental.swift
Owners: @andrewoverton

Remove all pre-iOS 12 logic.
  components/TextFields/tests/unit/TextFieldTests.swift
Owners: @andrewoverton

Remove all pre-iOS 12 logic.
  components/AppBar/src/MDCAppBarNavigationController.m
Owners: @jverkoey

Remove all pre-iOS 12 logic.
  components/Collections/src/MDCCollectionViewFlowLayout.m
Owners: @jverkoey

Remove all pre-iOS 12 logic.
  components/FlexibleHeader/examples/FlexibleHeaderSafeAreaLayoutGuideExample.m
Owners: @jverkoey

Remove all pre-iOS 12 logic.
  components/AppBar/tests/unit/AppBarWrappingTopLayoutGuideTests.swift
Owners: @jverkoey

Remove all pre-iOS 12 logic.
  components/AppBar/tests/unit/AppBarWrappingLegacyTopLayoutGuideTests.swift
Owners: @jverkoey

Remove all pre-iOS 12 logic.
  components/Dialogs/tests/unit/MDCAlertControllerTests.m
Owners: @galiak11, @iberezan

Remove all pre-iOS 12 logic.
  components/TextControls/tests/snapshot/supplemental/MDCBaseTextFieldTestsSnapshotTestHelpers.m
Owners: @material-components/core-ios-team

Remove all pre-iOS 12 logic.
  components/Dialogs/tests/unit/MDCAlertControllerLayoutTests.m
Owners: @galiak11, @iberezan

Remove all pre-iOS 12 logic.
  components/Ripple/examples/CardCellsWithRippleExample.swift
Owners: @yarneo

Remove all pre-iOS 12 logic.
  components/FlexibleHeader/examples/FlexibleHeaderHorizontalPagingExample.m
Owners: @jverkoey

Remove all pre-iOS 12 logic.
  components/Tabs/tests/snapshot/TabBarView/MDCTabBarViewSnapshotTests.m
Owners: @material-components/core-ios-team

Remove all pre-iOS 12 logic.
  components/BottomNavigation/src/MDCBottomNavigationBar.m
Owners: @material-components/core-ios-team

Remove all pre-iOS 12 logic.
  components/Dialogs/tests/snapshot/MDCAlertControllerCustomTraitCollectionTests.m
Owners: @galiak11, @iberezan

Remove all pre-iOS 12 logic.
  components/Dialogs/tests/snapshot/MDCAlertControllerLocalizationTests.m
Owners: @galiak11, @iberezan

Update logic for dialogs recalculating preferred content size on viewWillTransitionToSize call.
  components/Dialogs/src/MDCAlertController.m
Owners: @galiak11, @iberezan

[BottomNavigation] Delete the Theming library.
  MaterialComponents.podspec
  components/BottomNavigation/README.md
  components/BottomNavigation/examples/BottomNavigationBarControllerExampleViewController.swift
  components/BottomNavigation/examples/BottomNavigationBlurExample.m
  components/BottomNavigation/examples/BottomNavigationExplicitlySetColorExample.swift
  components/BottomNavigation/examples/BottomNavigationHideShowExample.swift
  components/BottomNavigation/examples/BottomNavigationNilBadges.swift
  components/BottomNavigation/examples/BottomNavigationResetButtons.swift
  components/BottomNavigation/examples/BottomNavigationSelectedIconExample.swift
  components/BottomNavigation/examples/BottomNavigationTypicalUseExample.m
  components/BottomNavigation/src/Theming/MDCBottomNavigationBar+MaterialTheming.h
  components/BottomNavigation/src/Theming/MDCBottomNavigationBar+MaterialTheming.m
  components/BottomNavigation/src/Theming/MaterialBottomNavigation+Theming.h
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationBarSnapshotTests.m
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationBarThemingSnapshotTests.m
  components/BottomNavigation/tests/unit/MDCBottomNavigationThemingTests.m
Owners: @material-components/core-ios-team

[BottomSheet] Delete the ShapeThemer library.
  components/BottomSheet/README.md
  components/BottomSheet/docs/README.md
  components/BottomSheet/docs/shape-theming.md
  components/BottomSheet/examples/BottomSheetDismissOnDraggingDownExample.m
  components/BottomSheet/examples/BottomSheetTypicalUseExample.m
  components/BottomSheet/src/ShapeThemer/MDCBottomSheetControllerShapeThemer.h
  components/BottomSheet/src/ShapeThemer/MDCBottomSheetControllerShapeThemer.m
  components/BottomSheet/src/ShapeThemer/MaterialBottomSheet+ShapeThemer.h
  components/BottomSheet/tests/unit/BottomSheetShapeThemerTests.swift
  components/schemes/Shape/examples/MDCShapeSchemeExampleViewController.h
  components/schemes/Shape/examples/MDCShapeSchemeExampleViewController.m
  components/schemes/Shape/examples/MDCShapeWithBorderExample.m
  components/schemes/Shape/examples/resources/MDCShapeSchemeExampleViewController.storyboard
  components/schemes/Shape/examples/supplemental/MDCBottomSheetControllerShapeThemerDefaultMapping.h
  components/schemes/Shape/examples/supplemental/MDCBottomSheetControllerShapeThemerDefaultMapping.m
  components/schemes/Shape/examples/supplemental/MDCShapeExamplesDummyCollectionViewController.h
  components/schemes/Shape/examples/supplemental/MDCShapeExamplesDummyCollectionViewController.m
Owners: @yarneo, @material-components/core-ios-team

Add an MDCFloatIsApproximatelyZero method.
  components/private/Math/src/MDCMath.h
Owners: @material-components/core-ios-team

Delete deprecated math functions.
  components/private/Math/src/MDCMath.h
  components/private/Math/tests/unit/MDCMathTests.m
Owners: @material-components/core-ios-team

Update logic to make sure buttons only take up 1/2 of the screen on a Dialog.
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Owners: @galiak11, @iberezan

[TextFields] Remove part of flaky unit test.
  components/TextFields/tests/unit/TextFieldControllerClassPropertiesTests.swift
Owners: @andrewoverton

Internal change.
  components/Collections/tests/unit/MDCCollectionViewFlowLayoutTests.m
Owners: @jverkoey

[ActionSheet] Enforce the supported minimum OS policy at build time.
  components/ActionSheet/src/MDCActionSheetAction.h
  components/ActionSheet/src/MDCActionSheetController.h
  components/ActionSheet/src/MDCActionSheetControllerDelegate.h
  components/ActionSheet/src/private/MDCActionSheetHeaderView.h
  components/ActionSheet/src/private/MDCActionSheetItemTableViewCell.h
  components/MinimumOS/src/MDCMinimumOS.h
Owners: @codeman7, @material-components/core-ios-team

Add an option that allows the title to scroll with the message for a MDCAlertController.
  components/Dialogs/src/MDCAlertController.h
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/src/Testing/MDCAlertController+Testing.m
  components/Dialogs/src/private/MDCAlertControllerView+Private.h
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
  components/Dialogs/tests/snapshot/MDCAlertControllerConfigurationsTests.m
  components/Dialogs/tests/snapshot/MDCAlertControllerInsetsTests.m
  components/Dialogs/tests/unit/MDCAlertControllerInsetsTests.m
  components/Dialogs/tests/unit/MDCAlertControllerTests.m
Owners: @galiak11, @iberezan

[Dialogs] Migrate off of mdc_adjustsFontForContentSizeCategory.
  components/Dialogs/examples/DialogsAlertExampleViewController.m
  components/Dialogs/tests/snapshot/MDCAlertControllerCustomTraitCollectionTests.m
Owners: @galiak11, @iberezan

Internal Change
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
Owners: @jverkoey

[Dialogs] Deprecate mdc_adjustsFontForContentSizeCategory.
  components/Dialogs/src/MDCAlertController.h
Owners: @galiak11, @iberezan

[Buttons] Optimize imports.
  components/Buttons/src/MDCButton.m
Owners: @randallli

Update `- animationDidStop:shapeLayer:finished:` to match declaration.
  components/Ink/src/private/MDCLegacyInkLayer.m
Owners: @yarneo

[Button] Add support for multiline button titles.
  components/Buttons/src/MDCButton.h
  components/Buttons/src/MDCButton.m
Owners: @randallli

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
**       @material-components/core-ios-team

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
/components/ActionSheet/          @codeman7
/components/AnimationTiming/      @yarneo
/components/AppBar/               @jverkoey
/components/BottomAppBar/         @wenyuzhang666
/components/BottomSheet/          @yarneo
/components/Buttons/              @randallli
/components/Cards/                @yarneo
/components/CollectionCells/      @yarneo
/components/CollectionLayoutAttributes/ @jverkoey
/components/Collections/          @jverkoey
/components/Dialogs/              @galiak11 @iberezan
/components/FeatureHighlight/     @codeman7
/components/FlexibleHeader/       @jverkoey
/components/HeaderStackView/      @jverkoey
/components/Ink/                  @yarneo
/components/LibraryInfo/          @jverkoey
/components/List                  @andrewoverton
/components/MaskedTransition/     @jverkoey
/components/NavigationBar/        @yarneo @jverkoey
/components/NavigationDrawer/     @yarneo @jakerockland
/components/OverlayWindow/        @yarneo
/components/PageControl/          @randallli
/components/Palettes/             @jverkoey
/components/Ripple                @yarneo
/components/ShadowElevations/     @jverkoey
/components/ShadowLayer/          @jverkoey
/components/Snackbar/             @yarneo
/components/TextFields/           @andrewoverton
/components/Themes/               @jverkoey
