Repository material-components/material-components-ios, changes with the owners that CODEOWNERS names for each.
All owners: @material-components/core-ios-team, @codeman7, @yarneo, @jverkoey, @wenyuzhang666, @randallli, @galiak11, @iberezan, @andrewoverton, @jakerockland

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
**       @material-components/core-ios-team

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
/components/ActionSheet/          @codeman7
/components/AnimationTiming/      @yarneo
/components/AppBar/               @jverkoey
/components/BottomAppBar/         @wenyuzhang666
/components/BottomSheet/          @yarneo
/components/Buttons/              @randallli
/components/Cards/                @yarneo
/components/CollectionCells/      @yarneo
/components/CollectionLayoutAttributes/ @jverkoey
/components/Collections/          @jverkoey
/components/Dialogs/              @galiak11 @iberezan
/components/FeatureHighlight/     @codeman7
/components/FlexibleHeader/       @jverkoey
/components/HeaderStackView/      @jverkoey
/components/Ink/                  @yarneo
/components/LibraryInfo/          @jverkoey
/components/List                  @andrewoverton
/components/MaskedTransition/     @jverkoey
/components/NavigationBar/        @yarneo @jverkoey
/components/NavigationDrawer/     @yarneo @jakerockland
/components/OverlayWindow/        @yarneo
/components/PageControl/          @randallli
/components/Palettes/             @jverkoey
/components/Ripple                @yarneo
/components/ShadowElevations/     @jverkoey
/components/ShadowLayer/          @jverkoey
/components/Snackbar/             @yarneo
/components/TextFields/           @andrewoverton
/components/Themes/               @jverkoey

[Dialogs] Refactoring alert actions test
  components/Dialogs/tests/snapshot/MDCAlertControllerActionsTests.m
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testVerticalActionsAreOrderedByEmphasis_11_2@2x.png
Owners: @galiak11, @iberezan, @material-components/core-ios-team

[Dialogs] Allow setting text alignment for alert message text (#9839)
  components/Dialogs/src/MDCAlertController.h
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/src/MDCAlertControllerView.h
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
  components/Dialogs/tests/snapshot/MDCAlertControllerConfigurationsTests.m
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testLongMessageLeftAlignmentIsLeftInRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testMessageAlignmentIsCentered_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testMessageAlignmentIsJustified_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testMessageAlignmentIsLeft_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testMessageAlignmentIsNaturalInRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testMessageAlignmentIsNatural_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testMessageAlignmentIsRight_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testMessageDefaultAlignmentIsNatural_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testMessageLeftAlignmentIsLeftInRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testMessageRightAlignmentIsRightInRTL_11_2@2x.png
Owners: @galiak11, @iberezan, @material-components/core-ios-team

[Dialogs] Fix comment line length
  components/Dialogs/src/private/MDCAlertControllerView+Private.h
Owners: @galiak11, @iberezan

[Dialogs] Fix comment line length (#9887)
  components/Dialogs/src/private/MDCAlertControllerView+Private.h
Owners: @galiak11, @iberezan

Adding a snapshot test to verify correct layout of actions in edge cases found in issue: #8434.
  components/Dialogs/tests/snapshot/MDCAlertControllerActionsTests.m
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testActionsLayoutHorizontallyForCatpitalizedButtonCase_11_2@2x.png
Owners: @galiak11, @iberezan, @material-components/core-ios-team

Revert "[bottomsheet] fix to allow dismissOnDraggingDownSheet to be set"
  components/BottomSheet/src/MDCBottomSheetPresentationController.m
Owners: @yarneo

reapply revert without the clang format.
  components/BottomSheet/src/MDCBottomSheetPresentationController.m
Owners: @yarneo

reapply removal of other line
  components/BottomSheet/src/MDCBottomSheetPresentationController.m
Owners: @yarneo

[AppBar] Add AppBarCustomButtonThemeExample. (#9883)
  components/AppBar/BUILD
  components/AppBar/examples/AppBarCustomButtonThemeExample.swift
Owners: @jverkoey

fixed dismissOnDraggingDown to allow dragging up.
  components/BottomSheet/src/private/MDCSheetContainerView.m
Owners: @yarneo

[AppBar] Test the UINavigationController accessibilityPerformEscape behavior. (#9876)
  components/AppBar/tests/unit/AppBarNavigationControllerAccessibilityPerformEscapeTests.swift
Owners: @jverkoey

Rename.
  components/AppBar/tests/unit/AppBarDelegateAccessibilityPerformEscapeTests.swift
Owners: @jverkoey

Rename.
  components/AppBar/tests/unit/AppBarDelegateAccessibilityPerformEscapeTests.swift
Owners: @jverkoey

Typo.
  components/AppBar/src/MDCAppBarViewController.h
Owners: @jverkoey

Clang.
  components/AppBar/src/MDCAppBarViewController.h
  components/AppBar/src/MDCAppBarViewController.m
Owners: @jverkoey

[AppBar] Add a delegate for customizing accessibilityPerformEscape behavior.
  components/AppBar/src/MDCAppBarViewController.h
  components/AppBar/src/MDCAppBarViewController.m
  components/AppBar/tests/unit/AppBarDelegateAccessibilityPerformEscapeTests.swift
Owners: @jverkoey

Docs.
  components/AppBar/src/MDCAppBarViewController.h
  components/AppBar/src/MDCAppBarViewController.m
Owners: @jverkoey

Fix typos.
  components/AppBar/tests/unit/AppBarDelegateAccessibilityPerformEscapeTests.swift
Owners: @jverkoey

Clang.
  components/AppBar/src/MDCAppBarViewController.m
Owners: @jverkoey

added example of setting DismissOnDraggingDownSheet to NO
  components/BottomSheet/examples/supplemental/BottomSheetSupplemental.h
  components/BottomSheet/examples/supplemental/BottomSheetSupplemental.m
Owners: @yarneo

[Dialogs] Refactoring alert actions test (#9886)
  components/Dialogs/tests/snapshot/MDCAlertControllerActionsTests.m
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testVerticalActionsAreOrderedByEmphasis_11_2@2x.png
Owners: @galiak11, @iberezan, @material-components/core-ios-team

clang format. and added example
  components/BottomSheet/examples/BottomSheetDismissOnDraggingDownExample.m
  components/BottomSheet/src/private/MDCSheetContainerView.m
Owners: @yarneo

corrected copyright and added comment in example to make it more clear which line is most important in the example
  components/BottomSheet/examples/BottomSheetDismissOnDraggingDownExample.m
Owners: @yarneo

unit tests
  components/BottomSheet/tests/snapshot/MDCBottomSheetControllerSnapshotTests.m
  components/BottomSheet/tests/unit/MDCBottomSheetPresentationControllerTests.m
Owners: @yarneo

clang format
  components/BottomSheet/examples/BottomSheetDismissOnDraggingDownExample.m
  components/BottomSheet/tests/snapshot/MDCBottomSheetControllerSnapshotTests.m
  components/BottomSheet/tests/unit/MDCBottomSheetPresentationControllerTests.m
Owners: @yarneo

[Dialogs] Publishing actions API
  components/Dialogs/src/MDCAlertController.h
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/src/private/MDCAlertControllerView+Private.h
Owners: @galiak11, @iberezan

Adding a snapshot test to verify correct layout of actions in edge cases found in issue: #8434. (#9875)
  components/Dialogs/tests/snapshot/MDCAlertControllerActionsTests.m
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testActionsLayoutHorizontallyForCatpitalizedButtonCase_11_2@2x.png
Owners: @galiak11, @iberezan, @material-components/core-ios-team

[Dialogs] Publishing actions API (#9888)
  components/Dialogs/src/MDCAlertController.h
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/src/private/MDCAlertControllerView+Private.h
Owners: @galiak11, @iberezan

[Dialogs] Fix actions order for center and justified actions alignment.
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testLowEmphasisActionsAreCenteredInHorizontalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testLowEmphasisActionsAreJustifiedInHorizontalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testMediumEmphasisActionsAreCenteredInHorizontalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testMediumEmphasisActionsAreJustifiedInHorizontalLayout_11_2@2x.png
Owners: @galiak11, @iberezan, @material-components/core-ios-team

[Dialogs] Fix actions order for center and justified actions alignment. (#9889)
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testLowEmphasisActionsAreCenteredInHorizontalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testLowEmphasisActionsAreJustifiedInHorizontalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testMediumEmphasisActionsAreCenteredInHorizontalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testMediumEmphasisActionsAreJustifiedInHorizontalLayout_11_2@2x.png
Owners: @galiak11, @iberezan, @material-components/core-ios-team

[Dialogs] Publish customization API
  components/Dialogs/src/MDCAlertController+Customize.h
  components/Dialogs/src/MDCAlertController.m
Owners: @galiak11, @iberezan

Update customize file message
  components/Dialogs/src/MDCAlertController+Customize.h
Owners: @galiak11, @iberezan

[Dialogs] Publish Adjustable Insets API
  components/Dialogs/src/MDCAlertControllerView.h
  components/Dialogs/src/private/MDCAlertControllerView+Private.h
Owners: @galiak11, @iberezan

[Dialogs] Add missed accessibility labels for the UI elements of the dialog.
  components/Dialogs/src/MDCAlertController.h
  components/Dialogs/src/MDCAlertController.m
Owners: @galiak11, @iberezan

[Dialogs] Add a snapshot test for extea long buttons
  components/Dialogs/tests/snapshot/MDCAlertControllerActionsTests.m
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testActionsLayoutHorizontallyForExtraLongButtons_11_2@2x.png
Owners: @galiak11, @iberezan, @material-components/core-ios-team

[Dialogs] Add missed accessibility labels for the UI elements of the dialog. (#9895)
  components/Dialogs/src/MDCAlertController.h
  components/Dialogs/src/MDCAlertController.m
Owners: @galiak11, @iberezan

[AppBar] Add a delegate for customizing accessibilityPerformEscape behavior. (#9879)
  components/AppBar/src/MDCAppBarViewController.h
  components/AppBar/src/MDCAppBarViewController.m
  components/AppBar/tests/unit/AppBarDelegateAccessibilityPerformEscapeTests.swift
Owners: @jverkoey

[Dialogs] Add a snapshot test for extea long buttons (#9897)
  components/Dialogs/tests/snapshot/MDCAlertControllerActionsTests.m
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testActionsLayoutHorizontallyForExtraLongButtons_11_2@2x.png
Owners: @galiak11, @iberezan, @material-components/core-ios-team

[Dialogs] Fix vertical calculations for wide actions view
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testActionsLayoutHorizontallyForCatpitalizedButtonCase_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testActionsLayoutHorizontallyForExtraLongButtons_11_2@2x.png
Owners: @galiak11, @iberezan, @material-components/core-ios-team

[Dialogs] Fix vertical calculations for wide actions view (#9878)
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testActionsLayoutHorizontallyForCatpitalizedButtonCase_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testActionsLayoutHorizontallyForExtraLongButtons_11_2@2x.png
Owners: @galiak11, @iberezan, @material-components/core-ios-team
