Repository material-components/material-components-ios, changes with the owners that CODEOWNERS names for each.
All owners: @material-components/core-ios-team, @codeman7, @yarneo, @jverkoey, @wenyuzhang666, @randallli, @galiak11, @iberezan, @andrewoverton, @jakerockland

[Buttons] Remove titleEdgeInsets from title label constraints.
  components/Buttons/src/MDCButton.m
Owners: @randallli

Update MDCTextInputControllerBase.h
  components/TextFields/src/MDCTextInputControllerBase.h
Owners: @andrewoverton

Update README.md
  components/Slider/README.md
Owners: @material-components/core-ios-team

Fixes alignment issues for multiline buttons by adding constraints conditionally depending on the alignment.
  components/Buttons/src/MDCButton.m
Owners: @randallli

Fixes alignment issues for multiline buttons by adding constraints conditionally depending on the alignment.
  components/Buttons/src/MDCButton.m
Owners: @randallli

List correct default alignment for MDCNavigationBar.
  components/BottomNavigation/src/MDCBottomNavigationBar.h
Owners: @material-components/core-ios-team

Enforce minimum OS on more targets.
  components/ActivityIndicator/src/MDCActivityIndicator+Interface.h
  components/ActivityIndicator/src/MDCActivityIndicatorDelegate.h
  components/AnimationTiming/src/CAMediaTimingFunction+MDCAnimationTiming.h
  components/AnimationTiming/src/UIView+MDCTimingFunction.h
  components/AppBar/src/MDCAppBar.h
  components/AppBar/src/MDCAppBarContainerViewController.h
  components/AppBar/src/MDCAppBarNavigationController.h
  components/AppBar/src/MDCAppBarNavigationControllerToBeDeprecatedDelegate.h
  components/AppBar/src/MDCAppBarViewController.h
  components/AppBar/src/MDCAppBarViewControllerAccessibilityPerformEscapeDelegate.h
  components/Banner/src/MDCBannerView.h
Owners: @material-components/core-ios-team, @yarneo, @jverkoey

Remove custom pointer interaction handling from MDCButton.
  components/Buttons/src/MDCButton.m
  components/Buttons/tests/unit/MDCButtonPointerInteractionTests.m
Owners: @randallli

[ActivityIndicator] Change progress slider example to be a single Accessibility element
  components/ActivityIndicator/examples/supplemental/ActivityIndicatorExampleTableViewCell.h
  components/ActivityIndicator/examples/supplemental/ActivityIndicatorExampleTableViewCell.m
  components/ActivityIndicator/examples/supplemental/ActivityIndicatorExampleViewControllerSupplemental.m
Owners: @material-components/core-ios-team

[NavigationDrawer] Update imports.
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.m
  components/NavigationDrawer/src/MDCBottomDrawerViewController.m
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
Owners: @yarneo, @jakerockland

[NavigationDrawer] Allow clients to present an NavigationDrawer in non-fullscreen when VoiceOver is enabled.
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.h
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.m
  components/NavigationDrawer/src/MDCBottomDrawerViewController.h
  components/NavigationDrawer/src/MDCBottomDrawerViewController.m
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.h
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
Owners: @yarneo, @jakerockland

Remove call to [self sublayers] from initWithLayer in MDCShapeShadowLayer by updating the way _colorLayer is set.
  components/Shapes/src/MDCShapedShadowLayer.m
Owners: @material-components/core-ios-team

Internal change.
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.h
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
Owners: @material-components/core-ios-team

Enforce minimum OS on more targets.
  components/BottomAppBar/src/MDCBottomAppBarView.h
  components/BottomNavigation/src/MDCBottomNavigationBar.h
  components/BottomNavigation/src/MDCBottomNavigationBarController.h
  components/BottomNavigation/src/MDCBottomNavigationBarControllerDelegate.h
  components/BottomNavigation/src/MDCBottomNavigationBarDelegate.h
Owners: @wenyuzhang666, @material-components/core-ios-team

[BottomNavigation] Restrict subclassing for all private APIs.
  components/BottomNavigation/src/private/MDCBottomNavigationItemBadge.h
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.h
  components/BottomNavigation/src/private/MDCBottomNavigationLargeItemDialogView.h
Owners: @material-components/core-ios-team

Drop UIAppearance support from MDCBottomNavigationItemBadge.
  components/BottomNavigation/src/private/MDCBottomNavigationItemBadge.h
Owners: @material-components/core-ios-team

Drop coding support from MDCBottomNavigationItemBadge.
  components/BottomNavigation/src/private/MDCBottomNavigationItemBadge.h
  components/BottomNavigation/src/private/MDCBottomNavigationItemBadge.m
Owners: @material-components/core-ios-team

Document and nullability annotate the badge APIs.
  components/BottomNavigation/src/private/MDCBottomNavigationItemBadge.h
  components/BottomNavigation/src/private/MDCBottomNavigationItemBadge.m
Owners: @material-components/core-ios-team

[BottomNavigation] Tighten the API surface area of the badge.
  components/BottomNavigation/src/private/MDCBottomNavigationItemBadge.h
  components/BottomNavigation/src/private/MDCBottomNavigationItemBadge.m
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
  components/BottomNavigation/tests/unit/BottomNavigationItemBadgeTests.m
  components/BottomNavigation/tests/unit/BottomNavigationItemViewTests.m
Owners: @material-components/core-ios-team

[BottomNavigation] Annotate badge APIs as direct.
  components/BottomNavigation/src/private/MDCBottomNavigationItemBadge.h
Owners: @material-components/core-ios-team

[BottomNavigation] Drop NSCoding support from the item view.
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.h
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
Owners: @material-components/core-ios-team

[BottomNavigation] Store badge as an ivar.
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
  components/BottomNavigation/tests/unit/BottomNavigationItemViewTests.m
Owners: @material-components/core-ios-team

[BottomNavigation] Organize the item's badge-specific APIs to match their underlying storage.
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.h
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationItemViewSnapshotTests.m
  components/BottomNavigation/tests/unit/BottomNavigationItemViewAccessibilityTests.m
  components/BottomNavigation/tests/unit/BottomNavigationItemViewTests.m
  components/BottomNavigation/tests/unit/MDCBottomNavigationBarKVOTests.m
Owners: @material-components/core-ios-team

[BottomNavigation] Remove unnecessary NSNull check.
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
Owners: @material-components/core-ios-team

[BottomNavigation] Organize badge-related APIs together.
  components/BottomNavigation/src/MDCBottomNavigationBar.h
  components/BottomNavigation/src/MDCBottomNavigationBar.m
Owners: @material-components/core-ios-team

Badges] Extract BottomNavigation's badge out to its own component.
  components/Badges/examples/BadgeViewTypicalUseExample.m
  components/Badges/src/MDCBadgeView.h
  components/Badges/src/MDCBadgeView.m
  components/Badges/tests/unit/MDCBadgeViewTests.m
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
Owners: @material-components/core-ios-team

[Badges] Add support for borders.
  components/Badges/examples/BadgeViewTypicalUseExample.m
  components/Badges/src/MDCBadgeView.h
  components/Badges/src/MDCBadgeView.m
Owners: @material-components/core-ios-team

[Badges] Add support for dot badges.
  components/Badges/examples/BadgeViewTypicalUseExample.m
  components/Badges/src/MDCDotBadgeView.h
  components/Badges/src/MDCDotBadgeView.m
Owners: @material-components/core-ios-team

[MDCButton] Clear the values from `setImageTintColor:forState:` when you use `setTintColor:` otherwise the image color stays.
  components/Buttons/src/MDCButton.h
  components/Buttons/src/MDCButton.m
Owners: @randallli

Update minimum MDCButton size.
  components/Buttons/src/MDCButton.m
Owners: @randallli

Internal change.
  components/ActionSheet/README.md
  components/ActionSheet/docs/typical-use.md
  components/ActionSheet/examples/ActionSheetComparisonExample.m
  components/ActionSheet/examples/ActionSheetTypalUseSwiftExample.swift
  components/ActionSheet/examples/ActionSheetTypicalUseExample.m
  components/BottomAppBar/examples/BottomAppBarTypicalUseExample.m
  components/BottomAppBar/examples/BottomAppBarTypicalUseExample.swift
  components/BottomNavigation/README.md
  components/BottomNavigation/examples/BottomNavigationTitleVisibilityChangeExample.swift
  components/BottomNavigation/examples/BottomNavigationTypicalUseExample.swift
  components/Buttons/examples/ButtonsShapesExample.m
  components/Buttons/examples/ButtonsTypicalUseExample.m
  components/Buttons/examples/FloatingButtonModeAnimationExample.m
  components/Buttons/examples/FloatingButtonTypicalUseExample.m
  components/Buttons/examples/FloatingButtonTypicalUseSwiftExample.swift
  components/Buttons/examples/resources/ButtonsContentEdgeInsets.storyboard
  components/Chips/examples/supplemental/ChipsExampleAssets.m
  components/CollectionCells/tests/unit/CollectionViewTextCellsReuseTests.m
  components/FeatureHighlight/examples/FeatureHighlightShownViewExample.m
  components/FeatureHighlight/examples/supplemental/FeatureHighlightExampleSupplemental.m
  components/List/examples/MDCSelfSizingStereoCellExample.m
  components/NavigationDrawer/examples/BottomDrawerExpandFullscreenExample.swift
  components/NavigationDrawer/examples/BottomDrawerInfiniteScrollingExample.swift
  components/NavigationDrawer/examples/BottomDrawerNoHeaderExample.swift
  components/NavigationDrawer/examples/BottomDrawerNoHeaderLessContentExample.swift
  components/NavigationDrawer/examples/BottomDrawerSwappingScrollViewsExample.swift
  components/NavigationDrawer/examples/BottomDrawerWithChangingContentSize.swift
  components/NavigationDrawer/examples/BottomDrawerWithHeaderExample.swift
  components/NavigationDrawer/examples/BottomDrawerWithScrollableContentExample.swift
  components/ShadowLayer/examples/MDCShadowPerformanceExample.swift
  components/Tabs/examples/MDCTabBarViewTypicalExampleViewController.m
  components/Tabs/examples/TabBarViewExample.swift
  components/TextControls/examples/supplemental/MDCTextControlTextAreaContentViewController.m
  components/TextControls/examples/supplemental/MDCTextControlTextFieldContentViewController.m
  components/TextFields/examples/TextFieldControllerStylesExample.m
  components/TextFields/examples/TextFieldFilledExample.swift
  components/TextFields/examples/TextFieldKitchenSinkExample.swift
  components/TextFields/examples/TextFieldOutlinedExample.m
  components/TextFields/examples/TextFieldOutlinedExample.swift
  components/TextFields/tests/snapshot/supplemental/MDCAbstractTextFieldSnapshotTests+LeadingImage.m
Owners: @codeman7, @wenyuzhang666, @material-components/core-ios-team, @randallli, @yarneo, @andrewoverton, @jakerockland, @jverkoey

Create Sjenica1
  Sjenica1
Owners: @material-components/core-ios-team

[Badges] Rewrite badge appearance using Appearance objects.
  components/Badges/examples/BadgeViewTypicalUseExample.m
  components/Badges/src/Appearance/MDCBadgeAppearance.h
  components/Badges/src/Appearance/MDCBadgeAppearance.m
  components/Badges/src/Appearance/MDCDotBadgeAppearance.h
  components/Badges/src/Appearance/MDCDotBadgeAppearance.m
  components/Badges/src/MDCBadgeView.h
  components/Badges/src/MDCBadgeView.m
  components/Badges/src/MDCDotBadgeView.h
  components/Badges/src/MDCDotBadgeView.m
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
  components/BottomNavigation/tests/unit/BottomNavigationItemViewTests.m
  components/BottomNavigation/tests/unit/MDCBottomNavigationBarKVOTests.m
Owners: @material-components/core-ios-team

[BottomNavigation] Expose the item badge appearance object.
  components/BottomNavigation/src/MDCBottomNavigationBar.h
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.h
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
Owners: @material-components/core-ios-team

[BottomNavigation] Point to fully-qualified replacement APIs in deprecation notices.
  components/BottomNavigation/src/MDCBottomNavigationBar.h
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.h
Owners: @material-components/core-ios-team

[BottomNavigation] Replace null_resettable with nonnull.
  components/Badges/src/MDCBadgeView.h
  components/Badges/src/MDCBadgeView.m
  components/BottomNavigation/src/MDCBottomNavigationBar.h
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.h
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
Owners: @material-components/core-ios-team

[BottomNavigation] Remove support for UI_APPEARANCE_SELECTOR.
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.h
Owners: @material-components/core-ios-team

[BottomNavigation] Allow ripple color to be configured independently.
  components/BottomNavigation/src/MDCBottomNavigationBar.h
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.h
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
Owners: @material-components/core-ios-team

[BottomNavigation] Tighten up selection indicator animations.
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.h
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
Owners: @material-components/core-ios-team

[FeatureHighlight] Fix accessibilityFrame of dismissal button being used for location based calculation incorrectly.
  components/FeatureHighlight/src/private/MDCFeatureHighlightView+Private.m
Owners: @codeman7

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
**       @material-components/core-ios-team

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
/components/ActionSheet/          @codeman7
/components/AnimationTiming/      @yarneo
/components/AppBar/               @jverkoey
/components/BottomAppBar/         @wenyuzhang666
/components/BottomSheet/          @yarneo
/components/Buttons/              @randallli
/components/Cards/                @yarneo
/components/CollectionCells/      @yarneo
/components/CollectionLayoutAttributes/ @jverkoey
/components/Collections/          @jverkoey
/components/Dialogs/              @galiak11 @iberezan
/components/FeatureHighlight/     @codeman7
/components/FlexibleHeader/       @jverkoey
/components/HeaderStackView/      @jverkoey
/components/Ink/                  @yarneo
/components/LibraryInfo/          @jverkoey
/components/List                  @andrewoverton
/components/MaskedTransition/     @jverkoey
/components/NavigationBar/        @yarneo @jverkoey
/components/NavigationDrawer/     @yarneo @jakerockland
/components/OverlayWindow/        @yarneo
/components/PageControl/          @randallli
/components/Palettes/             @jverkoey
/components/Ripple                @yarneo
/components/ShadowElevations/     @jverkoey
/components/ShadowLayer/          @jverkoey
/components/Snackbar/             @yarneo
/components/TextFields/           @andrewoverton
/components/Themes/               @jverkoey
