Repository material-components/material-components-ios, changes with the owners that CODEOWNERS names for each.
All owners: @material-components/core-ios-team, @codeman7, @yarneo, @jverkoey, @wenyuzhang666, @randallli, @galiak11, @iberezan, @andrewoverton, @jakerockland

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
**       @material-components/core-ios-team

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
/components/ActionSheet/          @codeman7
/components/AnimationTiming/      @yarneo
/components/AppBar/               @jverkoey
/components/BottomAppBar/         @wenyuzhang666
/components/BottomSheet/          @yarneo
/components/Buttons/              @randallli
/components/Cards/                @yarneo
/components/CollectionCells/      @yarneo
/components/CollectionLayoutAttributes/ @jverkoey
/components/Collections/          @jverkoey
/components/Dialogs/              @galiak11 @iberezan
/components/FeatureHighlight/     @codeman7
/components/FlexibleHeader/       @jverkoey
/components/HeaderStackView/      @jverkoey
/components/Ink/                  @yarneo
/components/LibraryInfo/          @jverkoey
/components/List                  @andrewoverton
/components/MaskedTransition/     @jverkoey
/components/NavigationBar/        @yarneo @jverkoey
/components/NavigationDrawer/     @yarneo @jakerockland
/components/OverlayWindow/        @yarneo
/components/PageControl/          @randallli
/components/Palettes/             @jverkoey
/components/Ripple                @yarneo
/components/ShadowElevations/     @jverkoey
/components/ShadowLayer/          @jverkoey
/components/Snackbar/             @yarneo
/components/TextFields/           @andrewoverton
/components/Themes/               @jverkoey

[Dialogs] Add UIPointerInteraction support for buttons..
  components/Dialogs/src/private/MDCAlertActionManager.m
  components/Dialogs/tests/unit/MDCAlertControllerTests.m
Owners: @galiak11, @iberezan

Prototype character counter
  components/TextControls/src/BaseTextFields/MDCBaseTextField.h
  components/TextControls/src/BaseTextFields/MDCBaseTextField.m
Owners: @material-components/core-ios-team

WIP
  components/Cards/README.md
  components/Cards/docs/assets/card-hero.png
Owners: @yarneo

Replace Cards documentation
  components/Cards/README.md
  components/Cards/docs/assets/card-anatomy.png
  components/Cards/docs/assets/shrine-card.png
Owners: @yarneo

Add new images
  components/Cards/README.md
  components/Cards/docs/assets/card-collection-cells.png
  components/Cards/docs/assets/single-basic-card.png
Owners: @yarneo

Delete old cards docs stuff
  components/Cards/docs/accessibility.md
  components/Cards/docs/assets/cards.png
  components/Cards/docs/theming.md
  components/Cards/docs/typical-use-collections.md
  components/Cards/docs/typical-use-view.md
Owners: @yarneo

Small tweak
  components/Cards/README.md
Owners: @yarneo

[Button] Add custom UIButtonPointerStyleProvider to MDCButton for better iPadOS pointer interaction.
  components/Buttons/examples/ButtonsPointerInteractionExample.swift
  components/Buttons/src/MDCButton.m
  components/Buttons/tests/unit/MDCButtonPointerInteractionTests.m
Owners: @randallli

[Dialogs] Using the new Testing target in accessory snapshots.
  components/Dialogs/tests/snapshot/MDCAlertControllerAccessoryTests.m
Owners: @galiak11, @iberezan

[Buttons] Disable pointer interactions for MDCFloatingButton during animation.
  components/Buttons/src/MDCFloatingButton+Animation.m
  components/Buttons/tests/unit/MDCFloatingButtonPointerInteractionTests.m
Owners: @randallli

[Dialogs] Cleanup: move deprecated API to private header.
  components/Dialogs/src/MDCAlertController+Customize.h
  components/Dialogs/src/MDCAlertControllerView.h
  components/Dialogs/src/private/MDCAlertControllerView+Private.h
Owners: @galiak11, @iberezan

[Buttons] Update MDCButton to use the proposed pointer effect in pointerStyleProvider.
  components/Buttons/src/MDCButton.m
Owners: @randallli

[Catalog] Expose the catalog by convention tree via the AppDelegate and walk the tree with the UI test runner.
  catalog/MDCCatalog/AppDelegate.swift
  components/BottomAppBar/examples/supplemental/BottomAppBarTypicalUseSupplemental.m
  components/NavigationDrawer/examples/BottomDrawerExpandFullscreenExample.swift
  components/NavigationDrawer/examples/BottomDrawerInfiniteScrollingExample.swift
  components/NavigationDrawer/examples/BottomDrawerSwappingScrollViewsExample.swift
Owners: @material-components/core-ios-team, @wenyuzhang666, @yarneo, @jakerockland

[Ripple] Add a respondsToSelector check to resolve crashes of unrecognized selector.
  components/Ripple/src/MDCRippleView.m
Owners: @yarneo

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

Update changelog.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Bump the release.
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

[MDC/Tabs] Stop ripple in MDCTabBar from showing up on scroll
  components/Tabs/src/private/MDCItemBarCell.h
  components/Tabs/src/private/MDCItemBarCell.m
  components/Tabs/tests/unit/MDCItemBarCellTests.m
Owners: @material-components/core-ios-team

Remove stale code coverage badge.
  CHANGELOG.md
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  README.md
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

v108.1.0 release
  CHANGELOG.md
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  README.md
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

Replace TextControls docs
  components/Buttons/docs/fabs.md
  components/TextControls/README.md
  components/TextControls/docs/assets/banner.png
  components/TextControls/docs/assets/filled-text-area.png
  components/TextControls/docs/assets/filled-text-field-anatomy.png
  components/TextControls/docs/assets/filled-text-field.png
  components/TextControls/docs/assets/outlined-text-area.png
  components/TextControls/docs/assets/outlined-text-field-anatomy.png
  components/TextControls/docs/assets/outlined-text-field.png
  components/TextControls/docs/assets/shrine-filled-text-field.png
  components/TextControls/docs/assets/shrine-outlined-text-field.png
  components/TextControls/docs/assets/text-field-generic.png
  components/TextFields/README.md
Owners: @randallli, @material-components/core-ios-team, @andrewoverton

[MDC/BottomAppBar] Add MDCRipple support to MDCBottomAppBarView
  components/BottomAppBar/src/MDCBottomAppBarView.h
  components/BottomAppBar/src/MDCBottomAppBarView.m
  components/BottomAppBar/tests/unit/MDCBottomAppBarRippleTests.m
Owners: @wenyuzhang666

[ActionSheet] Remove duplicate primary demo bit.
  components/ActionSheet/examples/ActionSheetComparisonExample.m
Owners: @codeman7

[Banner] Make the primary demo presentable.
  components/Banner/examples/BannerTypicalUseExampleViewController.m
Owners: @material-components/core-ios-team

Make sure sample code results in the images shown
  components/TextControls/README.md
  components/TextControls/docs/assets/filled-text-area.png
  components/TextControls/docs/assets/outlined-text-area.png
Owners: @material-components/core-ios-team

Make sure images are all sized similarly
  components/TextControls/docs/assets/filled-text-area.png
  components/TextControls/docs/assets/filled-text-field.png
  components/TextControls/docs/assets/outlined-text-area.png
  components/TextControls/docs/assets/outlined-text-field.png
Owners: @material-components/core-ios-team

[Lists] Use standard "List Items" name for all Lists examples.
  components/List/examples/CollectionListCellExampleTypicalUse.m
Owners: @andrewoverton

[Chips] Invalidate MDCChipField intrinsic content size in layoutSubviews.
  components/Chips/src/MDCChipField.m
Owners: @material-components/core-ios-team

Fix compilation with -std=c11
  components/Buttons/src/MDCButton.m
Owners: @randallli

Replace TextControls documentation
  components/Buttons/docs/fabs.md
  components/TextControls/README.md
  components/TextControls/docs/assets/banner.png
  components/TextControls/docs/assets/filled-text-area.png
  components/TextControls/docs/assets/filled-text-field-anatomy.png
  components/TextControls/docs/assets/filled-text-field.png
  components/TextControls/docs/assets/outlined-text-area.png
  components/TextControls/docs/assets/outlined-text-field-anatomy.png
  components/TextControls/docs/assets/outlined-text-field.png
  components/TextControls/docs/assets/shrine-filled-text-field.png
  components/TextControls/docs/assets/shrine-outlined-text-field.png
  components/TextControls/docs/assets/text-field-generic.png
  components/TextFields/README.md
Owners: @randallli, @material-components/core-ios-team, @andrewoverton

Update TextControls readme metadata path
  components/TextControls/README.md
Owners: @material-components/core-ios-team

Add new example to link to from docs
  components/Cards/README.md
  components/Cards/docs/assets/custom-card.png
  components/Cards/examples/CardWithImageViewAndButtonsExample.swift
Owners: @yarneo

Remove backticks for class names
  components/Cards/README.md
Owners: @yarneo

[Chips] When deleting text in MDCChipField, only select the last chip if the text field is empty.
  components/Chips/src/MDCChipField.m
Owners: @material-components/core-ios-team

[Tabs] Add example to expose a bug where tab selection indicator and selected text highlighting can get out of sync.
  components/Tabs/examples/TabBarTextOnlyExample.m
Owners: @material-components/core-ios-team

[Tabs] Adds large content viewer support to MDCItemBar.
  MaterialComponents.podspec
  components/Tabs/src/private/MDCItemBar.m
  components/Tabs/src/private/MDCItemBarCell.m
  components/Tabs/tests/unit/MDCItemBarCellTests.m
Owners: @material-components/core-ios-team

[Tabs] Adds large content viewer support to MDCItemBar.
  MaterialComponents.podspec
  components/Tabs/src/private/MDCItemBar.m
  components/Tabs/src/private/MDCItemBarCell.m
  components/Tabs/tests/unit/MDCItemBarCellTests.m
Owners: @material-components/core-ios-team

Fix compilation error
  components/Cards/examples/CardWithImageViewAndButtonsExample.swift
Owners: @yarneo

Revert "Remove backticks for class names"
  components/Cards/README.md
Owners: @yarneo

[Cards] Replace Cards documentation
  components/Cards/README.md
  components/Cards/docs/accessibility.md
  components/Cards/docs/assets/card-anatomy.png
  components/Cards/docs/assets/card-collection-cells.png
  components/Cards/docs/assets/card-hero.png
  components/Cards/docs/assets/cards.png
  components/Cards/docs/assets/custom-card.png
  components/Cards/docs/assets/shrine-card.png
  components/Cards/docs/assets/single-basic-card.png
  components/Cards/docs/theming.md
  components/Cards/docs/typical-use-collections.md
  components/Cards/docs/typical-use-view.md
  components/Cards/examples/CardWithImageViewAndButtonsExample.swift
Owners: @yarneo
