Repository material-components/material-components-ios, changes with the owners that CODEOWNERS names for each.
All owners: @material-components/core-ios-team, @codeman7, @yarneo, @jverkoey, @wenyuzhang666, @randallli, @galiak11, @iberezan, @andrewoverton, @jakerockland

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
**       @material-components/core-ios-team

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
/components/ActionSheet/          @codeman7
/components/AnimationTiming/      @yarneo
/components/AppBar/               @jverkoey
/components/BottomAppBar/         @wenyuzhang666
/components/BottomSheet/          @yarneo
/components/Buttons/              @randallli
/components/Cards/                @yarneo
/components/CollectionCells/      @yarneo
/components/CollectionLayoutAttributes/ @jverkoey
/components/Collections/          @jverkoey
/components/Dialogs/              @galiak11 @iberezan
/components/FeatureHighlight/     @codeman7
/components/FlexibleHeader/       @jverkoey
/components/HeaderStackView/      @jverkoey
/components/Ink/                  @yarneo
/components/LibraryInfo/          @jverkoey
/components/List                  @andrewoverton
/components/MaskedTransition/     @jverkoey
/components/NavigationBar/        @yarneo @jverkoey
/components/NavigationDrawer/     @yarneo @jakerockland
/components/OverlayWindow/        @yarneo
/components/PageControl/          @randallli
/components/Palettes/             @jverkoey
/components/Ripple                @yarneo
/components/ShadowElevations/     @jverkoey
/components/ShadowLayer/          @jverkoey
/components/Snackbar/             @yarneo
/components/TextFields/           @andrewoverton
/components/Themes/               @jverkoey

[TapBar] Change deprecation warning to point at newer recommendation.
  components/Tabs/src/ExtendedAlignment/MDCTabBarExtendedAlignment.h
  components/Tabs/src/SizeClassDelegate/MDCTabBarSizeClassDelegate.h
Owners: @material-components/core-ios-team

[GM3/Dialogs] Fix issue with using incorrect min width for M3CButtons in Dialogs.
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Owners: @galiak11, @iberezan

[Typography] Change deprecation warning to point at newer recommendation.
  components/Typography/src/FontScaler/MDCFontScaler.h
  components/Typography/src/MDCFontTextStyle.h
  components/Typography/src/private/MDCTypographyUtilities.h
Owners: @material-components/core-ios-team

[Elevation] Change deprecation warning to point at potential script.
  components/Elevation/src/MDCElevatable.h
  components/Elevation/src/MDCElevationOverriding.h
  components/Elevation/src/UIColor+MaterialElevation.h
  components/Elevation/src/UIView+MaterialElevationResponding.h
Owners: @material-components/core-ios-team

[Animation] Change deprecation warning to point at newer recommendation.
  components/AnimationTiming/src/CAMediaTimingFunction+MDCAnimationTiming.h
Owners: @yarneo

Internal change
  components/Elevation/src/MDCElevatable.h
  components/Elevation/src/UIView+MaterialElevationResponding.h
  components/ShadowLayer/src/MDCShadowLayer.h
  components/Shapes/src/MDCShapedShadowLayer.h
Owners: @material-components/core-ios-team, @jverkoey

[M3CButton] Changing clients that set image to pass in templated images.
  components/M3CButton/tests/snapshot/M3CButtonSnapshotTests.m
Owners: @material-components/core-ios-team

[M3CButton] Removed logic that always set images to be template images.
  components/M3CButton/src/M3CButton.m
Owners: @material-components/core-ios-team

[GM3/Dialogs] Update bottom content inset for M3CButton enabled.
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Owners: @galiak11, @iberezan

[BottomNavigation] Minor tweak: move `sizeToFit` to `layoutSubviews` to have all the subviews resizing happen at the same place.
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.h
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
Owners: @material-components/core-ios-team

[M3CButton] Created first test.
  components/M3CButton/tests/unit/M3CButtonTests.m
Owners: @material-components/core-ios-team

[M3CButton] Added imageEdgeInsetsWithImageAndTitle property.
  components/M3CButton/src/M3CButton.h
  components/M3CButton/src/M3CButton.m
  components/M3CButton/tests/snapshot/M3CButtonSnapshotTests.m
Owners: @material-components/core-ios-team

[M3CButton] Copying some tests from MDCButtonTests.
  components/M3CButton/tests/unit/M3CButtonUIControlStatePropertyTests.m
Owners: @material-components/core-ios-team

[M3CButton] Created test for edge insets
  components/M3CButton/tests/unit/M3CButtonInsetsTests.m
Owners: @material-components/core-ios-team

Override sizeThatFits in M3CButton.
  components/M3CButton/src/M3CButton.m
Owners: @material-components/core-ios-team

[M3CButton] Copied over MDCButton tests that capture odd UIButton behavior.
  components/M3CButton/tests/unit/UIButtonTests.m
Owners: @material-components/core-ios-team

[M3CButtons] Update insets when removing the title.
  components/M3CButton/src/M3CButton.m
  components/M3CButton/tests/unit/M3CButtonInsetsTests.m
Owners: @material-components/core-ios-team

[M3CButtons] Update insets when changing selected state.
  components/M3CButton/src/M3CButton.m
  components/M3CButton/tests/unit/M3CButtonInsetsTests.m
Owners: @material-components/core-ios-team

[M3CButton] Remove ShadowColorForState setter because we should use the MDCShadow's color instead.
  components/M3CButton/src/M3CButton.h
  components/M3CButton/src/M3CButton.m
Owners: @material-components/core-ios-team

[M3CButton] Changed the name of test classes.
  components/M3CButton/tests/unit/M3CButtonUIControlStatePropertyTests.m
  components/M3CButton/tests/unit/UIButtonTests.m
Owners: @material-components/core-ios-team

[GM3/Navigation-rail] Add public APIs to allow branding APIs to brand navigation rails.
  components/NavigationRail/src/NavigationRailConfiguration.swift
  components/NavigationRail/src/NavigationRailView.swift
  components/NavigationRail/src/private/NavigationRailItemView.swift
  components/NavigationRail/tests/unit/NavigationRailTests.swift
Owners: @material-components/core-ios-team

Fix issue with selection indicator not filling entire item view when clients use empty string as label for items.
  components/NavigationRail/src/NavigationRailView.swift
  components/NavigationRail/src/private/NavigationRailItemView.swift
Owners: @material-components/core-ios-team

Updated MDCBanner to support M3CButton.
  components/Banner/src/MDCBannerView.h
  components/Banner/src/MDCBannerView.m
Owners: @material-components/core-ios-team

Fixed up imports and nullability for ActionSheet
  components/ActionSheet/tests/snapshot/MDCActionSheetItemTableViewCellSnapshotTests.m
  components/ActionSheet/tests/unit/ActionSheetTestHelpers.m
  components/ActionSheet/tests/unit/MDCActionSheetControllerRippleTests.m
  components/ActionSheet/tests/unit/MDCActionSheetControllerTests.m
  components/ActionSheet/tests/unit/MDCActionSheetControllerThemingTests.m
  components/ActionSheet/tests/unit/MDCActionSheetItemTableViewCellTests.m
Owners: @codeman7

Remove unused code from navigation rail component and polish overall view structure of the navigation rail.
  components/NavigationRail/src/NavigationRailView.swift
  components/NavigationRail/src/NavigationRailViewController.swift
  components/NavigationRail/src/private/NavigationRailItemView.swift
Owners: @material-components/core-ios-team

Change leading anchor for navigation rail to take into safe area into account.
  components/NavigationRail/src/NavigationRailViewController.swift
Owners: @material-components/core-ios-team

Add MARK in code to aid with code search
  components/NavigationRail/src/NavigationRailConfiguration.swift
Owners: @material-components/core-ios-team

Increased tappable area for nav rail item
  components/NavigationRail/src/private/NavigationRailItemView.swift
Owners: @material-components/core-ios-team

Add tests for M3CButton tintColor.
  components/M3CButton/tests/unit/M3CButtonUIControlStatePropertyTests.m
Owners: @material-components/core-ios-team

Add test for M3CButton shadowForState.
  components/M3CButton/tests/unit/M3CButtonUIControlStatePropertyTests.m
Owners: @material-components/core-ios-team

Fix A11Y on alert views when the message contains an attributed string.
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/tests/unit/MDCAlertControllerTests.m
Owners: @galiak11, @iberezan

Adjust icon for dialogs to resize with dynamic type.
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Owners: @galiak11, @iberezan

Enlarge icons for navigation rail component.
  components/NavigationRail/src/private/NavigationRailItemView.swift
Owners: @material-components/core-ios-team

Added nullability checks
  components/BottomSheet/src/MDCBottomSheetPresentationControllerDelegate.h
  components/BottomSheet/src/private/MDCSheetContainerViewDelegate.h
Owners: @yarneo

[NavigationDrawer] Fix a reverse ordered CGRectMake.
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.m
Owners: @yarneo, @jakerockland

Fix issue with trait collection changes stretches the selection indicator for navigation rail.
  components/NavigationRail/src/NavigationRailView.swift
  components/NavigationRail/src/private/NavigationRailItemView.swift
Owners: @material-components/core-ios-team

Fix navigation bar not propagating updates to its indicator visibility state to new items.
  components/BottomNavigation/src/private/MDCBottomNavigationBar+ItemView.m
Owners: @material-components/core-ios-team

Fix navigation bar item layout breaking on rotation.
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
Owners: @material-components/core-ios-team

Internal change.
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
Owners: @yarneo, @jakerockland

Add accessibility identifier to `MDCFlexibleHeaderView`.
  components/FlexibleHeader/src/MDCFlexibleHeaderView.h
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
Owners: @jverkoey
