Repository material-components/material-components-ios, changes with the owners that CODEOWNERS names for each.
All owners: @material-components/core-ios-team, @codeman7, @yarneo, @jverkoey, @wenyuzhang666, @randallli, @galiak11, @iberezan, @andrewoverton, @jakerockland

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
**       @material-components/core-ios-team

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
/components/ActionSheet/          @codeman7
/components/AnimationTiming/      @yarneo
/components/AppBar/               @jverkoey
/components/BottomAppBar/         @wenyuzhang666
/components/BottomSheet/          @yarneo
/components/Buttons/              @randallli
/components/Cards/                @yarneo
/components/CollectionCells/      @yarneo
/components/CollectionLayoutAttributes/ @jverkoey
/components/Collections/          @jverkoey
/components/Dialogs/              @galiak11 @iberezan
/components/FeatureHighlight/     @codeman7
/components/FlexibleHeader/       @jverkoey
/components/HeaderStackView/      @jverkoey
/components/Ink/                  @yarneo
/components/LibraryInfo/          @jverkoey
/components/List                  @andrewoverton
/components/MaskedTransition/     @jverkoey
/components/NavigationBar/        @yarneo @jverkoey
/components/NavigationDrawer/     @yarneo @jakerockland
/components/OverlayWindow/        @yarneo
/components/PageControl/          @randallli
/components/Palettes/             @jverkoey
/components/Ripple                @yarneo
/components/ShadowElevations/     @jverkoey
/components/ShadowLayer/          @jverkoey
/components/Snackbar/             @yarneo
/components/TextFields/           @andrewoverton
/components/Themes/               @jverkoey

[MDC Snackbar] Added error domain and code.
  components/Snackbar/src/MDCSnackbarError.h
  components/Snackbar/src/MDCSnackbarError.m
Owners: @yarneo

[MDCButton] When visibleAreaInsets are set, don't allow additional setting of the shapeGenerator API directly.
  components/Buttons/examples/FloatingButtonTypicalUseExample.m
  components/Buttons/src/MDCButton.h
  components/Buttons/src/MDCButton.m
Owners: @randallli

[MDC snackbar] Add completion handler with error parameter to snackbar message.
  components/Snackbar/src/MDCSnackbarMessage.h
  components/Snackbar/src/MDCSnackbarMessage.m
  components/Snackbar/src/private/MDCSnackbarOverlayView.m
  components/Snackbar/tests/unit/MDCSnackbarShowMessageErrorTests.m
  components/Snackbar/tests/unit/SnackbarManagerSwiftTests.swift
Owners: @yarneo

Updating BottomSheet examples organization
  components/BottomSheet/examples/BottomSheetAutolayoutExample.m
  components/BottomSheet/examples/BottomSheetAutolayoutSafeAreaExample.m
  components/BottomSheet/examples/BottomSheetDismissOnDraggingDownExample.m
  components/BottomSheet/examples/BottomSheetModalPresentationExample.m
  components/BottomSheet/examples/BottomSheetShapedExample.m
  components/BottomSheet/examples/BottomSheetSimpleExample.m
  components/BottomSheet/examples/BottomSheetTallExample.m
  components/BottomSheet/examples/BottomSheetTypicalUseExample.m
  components/BottomSheet/examples/BottomSheetWebViewPresentationExample.m
  components/BottomSheet/examples/supplemental/BottomSheetSupplemental.h
  components/BottomSheet/examples/supplemental/BottomSheetSupplemental.m
Owners: @yarneo

Fix compilation in Xcode
  MaterialComponents.podspec
  catalog/MDCDragons.xcodeproj/project.pbxproj
  catalog/MDCDragons/AppDelegate.swift
  catalog/MaterialCatalog/MDCCatalogDebugAlert.swift
  catalog/MaterialCatalog/MDCCatalogWindow.swift
  catalog/MaterialCatalog/MDCDebugSafeAreaInsetsView.swift
  catalog/MaterialCatalog/MaterialCatalog.podspec
  catalog/Podfile
  components/Dialogs/examples/DialogsAccessoryExampleViewController.swift
  components/Dialogs/src/MDCAlertController.h
  components/Dialogs/src/MDCAlertController.m
  components/private/TextControlsPrivate/tests/unit/TextFields/MDCBaseTextFieldLayoutTests.m
Owners: @material-components/core-ios-team, @galiak11, @iberezan

[Dialogs] Disable UIDataDetectorTypeLink by default for attributed messages.
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Owners: @galiak11, @iberezan

[Snackbar] Remove the unneeded hitAreaInsets usage, and set minimumSize instead.
  components/Snackbar/src/MDCSnackbarMessageView.m
  components/Snackbar/src/private/MDCSnackbarOverlayView.m
Owners: @yarneo

[TextControls] Update Podspec after TextControls changes
  MaterialComponents.podspec
  catalog/Podfile
  components/private/TextControlsPrivate/tests/unit/TextFields/MDCBaseTextFieldLayoutTests.m
Owners: @material-components/core-ios-team

[TextControls] Annotate API using UITextItemInteraction to be iOS 10 only
  components/Dialogs/examples/DialogsAccessoryExampleViewController.swift
  components/Dialogs/src/MDCAlertController.h
  components/Dialogs/src/MDCAlertController.m
Owners: @galiak11, @iberezan

Add Dragons version of MDCCatalogWindow to pbxproj
  catalog/MDCDragons.xcodeproj/project.pbxproj
Owners: @material-components/core-ios-team

[Catalog] Add Dragons version of MDCCatalogWindow to pbxproj
  catalog/MDCDragons.xcodeproj/project.pbxproj
Owners: @material-components/core-ios-team

[TextControls] Add podspec dependency
  MaterialComponents.podspec
Owners: @material-components/core-ios-team

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Bumped version number to 109.7.0.
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

[HitAreaInsets] Add a convenience math method to calculate the correct visibleAreaInsets given a frame and a minimum touch target.
  components/Buttons/examples/ButtonsTypicalUseExample.m
  components/private/Math/src/MDCMath.h
Owners: @randallli, @material-components/core-ios-team

Add and indeterminate state to the progress bar.
  components/ProgressView/examples/ProgressViewExample.m
  components/ProgressView/src/MDCProgressView.h
  components/ProgressView/src/MDCProgressView.m
  components/ProgressView/tests/unit/ProgressViewTests.m
Owners: @material-components/core-ios-team

Internal change
  components/Tabs/examples/supplemental/TabBarTextOnlyExampleSupplemental.m
Owners: @material-components/core-ios-team

[Dialogs] Voice over reads the message twice
  components/Dialogs/src/MDCAlertController.m
Owners: @galiak11, @iberezan

[TextControls] Change side view positioning for MDCUnderlinedTextField
  components/TextControls/src/BaseTextFields/MDCBaseTextField.m
  components/TextControls/src/UnderlinedTextFields/MDCUnderlinedTextField.m
  components/private/TextControlsPrivate/src/TextFields/MDCBaseTextFieldLayout.h
  components/private/TextControlsPrivate/src/TextFields/MDCBaseTextFieldLayout.m
  components/private/TextControlsPrivate/src/TextFields/MDCTextControlTextField.h
  components/private/TextControlsPrivate/src/TextFields/MDCTextControlTextFieldSideViewAlignment.h
  components/private/TextControlsPrivate/tests/unit/TextFields/MDCBaseTextFieldLayoutTests.m
Owners: @material-components/core-ios-team

[Tabs] Add explicit cast in MDCTabBarViewTests.
  components/Tabs/tests/unit/MDCItemBarTests.m
  components/Tabs/tests/unit/TabBarView/MDCTabBarViewTests.m
Owners: @material-components/core-ios-team

[TextFields] Return the empty string instead of nil in MDCTextField's accessibilityValue method to avoid VoiceOver defaulting to [super accessibilityValue].
  components/TextFields/src/MDCTextField.m
Owners: @andrewoverton

[Banner] Support two buttons on a single row style banner.
  components/Banner/examples/BannerTypicalUseExampleViewController.m
  components/Banner/src/MDCBannerView.h
  components/Banner/src/MDCBannerView.m
  components/Banner/tests/snapshot/MDCBannerSnapshotTests.m
Owners: @material-components/core-ios-team

[ActionSheet] Mark title as accessibility `.header`
  components/ActionSheet/src/private/MDCActionSheetHeaderView.m
Owners: @codeman7

[TextControls] Rename + small refactor of horizontal positioning stuff
  components/private/TextControlsPrivate/src/BaseStyle/MDCTextControlStyleBase.m
  components/private/TextControlsPrivate/src/FilledStyle/MDCTextControlStyleFilled.m
  components/private/TextControlsPrivate/src/OutlinedStyle/MDCTextControlStyleOutlined.m
  components/private/TextControlsPrivate/src/Shared/MDCTextControl.h
  components/private/TextControlsPrivate/src/Shared/MDCTextControlHorizontalPositioning.h
  components/private/TextControlsPrivate/src/Shared/MDCTextControlHorizontalPositioningReference.h
  components/private/TextControlsPrivate/src/Shared/MDCTextControlHorizontalPositioningReference.m
  components/private/TextControlsPrivate/src/TextFields/MDCBaseTextFieldLayout.h
  components/private/TextControlsPrivate/src/TextFields/MDCBaseTextFieldLayout.m
  components/private/TextControlsPrivate/src/UnderlinedStyle/MDCTextControlStyleUnderlined.m
  components/private/TextControlsPrivate/tests/unit/TextFields/MDCBaseTextFieldLayoutTests.m
Owners: @material-components/core-ios-team

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

[Typography] Use MDFTextAccessibility's isLargeForContrastRatios.
  MaterialComponents.podspec
  components/Typography/src/MDCTypography.m
Owners: @material-components/core-ios-team

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Bumped version number to 109.8.0.
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

[Ripple] Align ripple starting size with spec guidance.
  components/Ripple/src/private/MDCRippleLayer.m
  components/Ripple/tests/unit/MDCRippleLayerTests.m
Owners: @yarneo

[Chips] Add safe guard to prevent setting visibleAreaInsets using same values.
  components/Chips/src/MDCChipView.m
Owners: @material-components/core-ios-team

[Ripple] Update alpha value of Ripple to 0.12 instead of 0.16
  components/List/tests/unit/MDCBaseCellTests.m
  components/Ripple/src/MDCRippleView.m
  components/Ripple/tests/unit/MDCRippleViewTests.m
  components/Ripple/tests/unit/MDCStatefulRippleViewTests.m
Owners: @andrewoverton, @yarneo

[ActionSheet] Add alert anouncement for voiceover users.
  components/ActionSheet/src/MDCActionSheetController.m
  components/ActionSheet/src/MaterialActionSheet.bundle/Resources/en.lproj/MaterialActionSheet.strings
  components/ActionSheet/src/private/MaterialActionSheetStrings.h
  components/ActionSheet/src/private/MaterialActionSheetStrings_table.h
Owners: @codeman7

[TextControls] Separate side padding into leading/trailing padding
  components/TextControls/src/BaseTextAreas/private/MDCBaseTextAreaLayout.m
  components/private/TextControlsPrivate/src/Shared/MDCTextControlAssistiveLabelViewLayout.h
  components/private/TextControlsPrivate/src/Shared/MDCTextControlAssistiveLabelViewLayout.m
  components/private/TextControlsPrivate/src/Shared/MDCTextControlHorizontalPositioning.h
  components/private/TextControlsPrivate/src/Shared/MDCTextControlHorizontalPositioningReference.m
  components/private/TextControlsPrivate/src/TextFields/MDCBaseTextFieldLayout.m
  components/private/TextControlsPrivate/src/UnderlinedStyle/MDCTextControlStyleUnderlined.m
Owners: @material-components/core-ios-team

[ProgressView] Make indeterminate progress view example showing how transition looks.
  components/ProgressView/examples/ProgressViewExample.m
Owners: @material-components/core-ios-team

Replace list docs
  components/List/README.md
  components/List/docs/README.md
  components/List/docs/accessibility.md
  components/List/docs/assets/combined-list-content.png
  components/List/docs/assets/list-content-anatomy.png
  components/List/docs/assets/lists-anatomy.png
  components/List/docs/assets/lists-types.png
  components/List/docs/assets/shrine-list.png
  components/List/docs/assets/single-line-list-example.png
  components/List/docs/assets/three-line-list-example.png
  components/List/docs/assets/two-line-list-example.png
  components/List/docs/create-your-own.md
  components/List/docs/theming.md
  components/List/docs/typical-use.md
Owners: @andrewoverton

[Ripple] Move the radius calculation into its own method.
  components/Ripple/src/private/MDCRippleLayer.m
Owners: @yarneo

[BottomNavigation] Re-order TOC in README
  components/BottomNavigation/README.md
Owners: @material-components/core-ios-team

[ProgressView] Change float to CGFloat
  components/ProgressView/src/MDCProgressView.m
Owners: @material-components/core-ios-team

[NavigationDrawer] Add method to theming extension to color tracking scrollview.
  components/NavigationDrawer/src/Theming/MDCBottomDrawerViewController+MaterialTheming.h
  components/NavigationDrawer/src/Theming/MDCBottomDrawerViewController+MaterialTheming.m
Owners: @yarneo, @jakerockland
