Repository material-components/material-components-ios, changes with the owners that CODEOWNERS names for each.
All owners: @material-components/core-ios-team, @codeman7, @yarneo, @jverkoey, @wenyuzhang666, @randallli, @galiak11, @iberezan, @andrewoverton, @jakerockland

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
**       @material-components/core-ios-team

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
/components/ActionSheet/          @codeman7
/components/AnimationTiming/      @yarneo
/components/AppBar/               @jverkoey
/components/BottomAppBar/         @wenyuzhang666
/components/BottomSheet/          @yarneo
/components/Buttons/              @randallli
/components/Cards/                @yarneo
/components/CollectionCells/      @yarneo
/components/CollectionLayoutAttributes/ @jverkoey
/components/Collections/          @jverkoey
/components/Dialogs/              @galiak11 @iberezan
/components/FeatureHighlight/     @codeman7
/components/FlexibleHeader/       @jverkoey
/components/HeaderStackView/      @jverkoey
/components/Ink/                  @yarneo
/components/LibraryInfo/          @jverkoey
/components/List                  @andrewoverton
/components/MaskedTransition/     @jverkoey
/components/NavigationBar/        @yarneo @jverkoey
/components/NavigationDrawer/     @yarneo @jakerockland
/components/OverlayWindow/        @yarneo
/components/PageControl/          @randallli
/components/Palettes/             @jverkoey
/components/Ripple                @yarneo
/components/ShadowElevations/     @jverkoey
/components/ShadowLayer/          @jverkoey
/components/Snackbar/             @yarneo
/components/TextFields/           @andrewoverton
/components/Themes/               @jverkoey

Add explicit imports for CoreGraphics in files which use it.
  components/OverlayWindow/src/MDCOverlayWindow.m
  components/OverlayWindow/tests/unit/OverlayWindowInitTest.m
Owners: @yarneo

Removing unused, empty classes
  components/private/Snapshot/src/MDCSnapshotDummy.swift
  components/private/Snapshot/src/SourceDummies/MDCSnapshotSourceDummy.h
  components/private/Snapshot/src/SourceDummies/MDCSnapshotSourceDummy.m
Owners: @material-components/core-ios-team

Restrict the maximum number of layout passes in MDCAlertController to 10.
  components/Dialogs/src/MDCAlertController.m
Owners: @galiak11, @iberezan

Check whether a button is actually an M3CButton before assuming so.
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Owners: @galiak11, @iberezan

Make textField padding and text inset an editable variable in chipField
  components/Chips/src/MDCChipField.h
  components/Chips/src/MDCChipField.m
  components/Chips/tests/snapshot/MDCChipFieldSnapshotTests.m
Owners: @material-components/core-ios-team

Delete Animations extension
  components/Shadow/README.md
  components/Shadow/examples/ShadowAnimationBugExample.swift
  components/Shadow/src/Animations/UIView+MDCShadowAnimations.h
  components/Shadow/src/Animations/UIView+MDCShadowAnimations.m
Owners: @material-components/core-ios-team

Internal change.
  components/BottomSheet/src/private/MDCSheetContainerView.m
  components/Snackbar/src/MDCSnackbarManager.m
  components/Snackbar/src/MDCSnackbarMessageView.m
  components/Snackbar/src/private/MDCSnackbarOverlayView.m
  components/private/Overlay/src/MDCOverlayObserver.h
  components/private/Overlay/src/private/MDCOverlayUtilities.m
Owners: @yarneo, @material-components/core-ios-team

Update -sizeBasedOnLabel to return a size that is consistent with -sizeThatFits:.
  components/M3CButton/src/M3CButton.m
Owners: @material-components/core-ios-team

Internal change.
  components/Slider/src/MDCSlider.m
  components/private/ThumbTrack/src/MDCThumbView.m
Owners: @material-components/core-ios-team

[GM3/UIKit/ProgressIndicator] Fix the issue where the progress is not updated when `progress` is set after init and the determinant stop mark has been enabled.
  components/ProgressView/src/MDCProgressView.m
Owners: @material-components/core-ios-team

Replace forward declaration with header import for improved Swift compatibility.
  components/BottomNavigation/src/MDCBottomNavigationBar.h
Owners: @material-components/core-ios-team

Call `super`'s `viewDidLayoutSubviews`.
  components/Dialogs/src/MDCAlertController.m
Owners: @galiak11, @iberezan

Added [.selected, .disabled] state
  components/Chips/src/MDCChipView.m
Owners: @material-components/core-ios-team

Implement `hash` for `MDCAlertAction`.
  components/Dialogs/src/MDCAlertController.m
Owners: @galiak11, @iberezan

Delete MDCBasicFontScheme
  components/schemes/Typography/src/BasicFontScheme/MDCBasicFontScheme.h
  components/schemes/Typography/src/BasicFontScheme/MaterialTypographyScheme+BasicFontScheme.h
  components/schemes/Typography/src/MDCLegacyFontScheme.h
  components/schemes/Typography/src/MaterialTypographyScheme.h
Owners: @material-components/core-ios-team

Updates chips to use a dynamically calculated height instead of a fixed height.
  components/Chips/src/MDCChipField.h
  components/Chips/src/MDCChipField.m
Owners: @material-components/core-ios-team

[Snackbar] Remove flaky test
  components/Snackbar/tests/unit/MDCSnackbarMessageViewTests.m
Owners: @yarneo

Added a fixed vertical margin between chips for large and small fonts:
  components/Chips/src/MDCChipField.m
Owners: @material-components/core-ios-team

Added X and Y coordinates to the current API which will change the badge position. You can set the badge position for your default badge by using tabBar.badgeOffset = CGPoint(x: 10, y: 10)
  components/Tabs/src/TabBarView/MDCTabBarView.h
  components/Tabs/src/TabBarView/MDCTabBarView.m
  components/Tabs/src/TabBarView/private/MDCTabBarViewItemView.h
  components/Tabs/src/TabBarView/private/MDCTabBarViewItemView.m
Owners: @material-components/core-ios-team

Add unit tests for M3CTextField.
  components/M3CTextField/src/M3CTextField.swift
  components/M3CTextField/tests/unit/M3CTextFieldTests.swift
Owners: @material-components/core-ios-team

Rename `SnackbarManagerTests` to `MDCSnackbarManagerTests` with cleanup.
  components/Snackbar/tests/unit/MDCSnackbarManagerTests.m
Owners: @yarneo

Updates the button's width and height dynamically to adjust for long text and larger font sizes. Update the TextView height to fit large text sizes and larger font sizes
  components/Banner/src/MDCBannerView.m
Owners: @material-components/core-ios-team

Internal change
  components/Banner/src/MDCBannerView.m
Owners: @material-components/core-ios-team

Update M3CTextView to call `applyAllColor` when setting a color for a state, and add unit tests.
  components/M3CTextField/src/M3CTextView.swift
  components/M3CTextField/tests/unit/M3CTextViewTests.swift
Owners: @material-components/core-ios-team

Add unit tests for M3CTextField's color setters.
  components/M3CTextField/tests/unit/M3CTextFieldTests.swift
Owners: @material-components/core-ios-team

Use strong/weak attribute instead of assign
  components/BottomNavigation/src/MDCBottomNavigationBarController.h
Owners: @material-components/core-ios-team

#Buttons Add explicitSize method
  components/M3CButton/src/M3CButton.m
Owners: @material-components/core-ios-team

#Buttons Fix shadow not being the correct path.
  components/M3CButton/src/M3CButton.m
Owners: @material-components/core-ios-team

#Buttons Update sizing to be the correct size in regular, large and extraLarge.
  components/M3CButton/src/M3CButton.m
Owners: @material-components/core-ios-team

#Button Fix shadow not animating properly.
  components/M3CButton/src/M3CButton.m
Owners: @material-components/core-ios-team

#Buttons Refactor private classes to their own files
  components/M3CButton/src/M3CButton.m
  components/M3CButton/src/private/M3CIconAttributes.h
  components/M3CButton/src/private/M3CIconAttributes.m
  components/M3CButton/src/private/M3CVisualBackgroundView.h
  components/M3CButton/src/private/M3CVisualBackgroundView.m
Owners: @material-components/core-ios-team

#Dialogs Remove legacy tests
  components/Dialogs/tests/snapshot/MDCAlertControllerAccessoryTests.m
  components/Dialogs/tests/snapshot/MDCAlertControllerConfigurationsTests.m
  components/Dialogs/tests/snapshot/MDCAlertControllerInsetsTests.m
Owners: @galiak11, @iberezan

#Buttons Fix dynamic type size for icons
  components/M3CButton/src/M3CButton.m
Owners: @material-components/core-ios-team

Don't pin BottomNavigationBar trailing/leading edges to safe area in horizontal mode.
  components/BottomNavigation/src/MDCBottomNavigationBarController.m
Owners: @material-components/core-ios-team

Update README.md
  README.md
Owners: @material-components/core-ios-team

Delete .github/ISSUE_TEMPLATE/deprecate--api-.md
  .github/ISSUE_TEMPLATE/deprecate--api-.md
Owners: @material-components/core-ios-team

Delete .github/ISSUE_TEMPLATE/Bug_report.md
  .github/ISSUE_TEMPLATE/Bug_report.md
Owners: @material-components/core-ios-team

Delete .github/ISSUE_TEMPLATE/Feature_request.md
  .github/ISSUE_TEMPLATE/Feature_request.md
Owners: @material-components/core-ios-team

Delete .github/kokoro_label_all.yml
  .github/kokoro_label_all.yml
Owners: @material-components/core-ios-team

Delete .github/workflows/kokoro_labeler.yml
  .github/workflows/kokoro_labeler.yml
Owners: @material-components/core-ios-team
