Repository material-components/material-components-ios, changes with the owners that CODEOWNERS names for each.
All owners: @material-components/core-ios-team, @codeman7, @yarneo, @jverkoey, @wenyuzhang666, @randallli, @galiak11, @iberezan, @andrewoverton, @jakerockland

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
**       @material-components/core-ios-team

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
/components/ActionSheet/          @codeman7
/components/AnimationTiming/      @yarneo
/components/AppBar/               @jverkoey
/components/BottomAppBar/         @wenyuzhang666
/components/BottomSheet/          @yarneo
/components/Buttons/              @randallli
/components/Cards/                @yarneo
/components/CollectionCells/      @yarneo
/components/CollectionLayoutAttributes/ @jverkoey
/components/Collections/          @jverkoey
/components/Dialogs/              @galiak11 @iberezan
/components/FeatureHighlight/     @codeman7
/components/FlexibleHeader/       @jverkoey
/components/HeaderStackView/      @jverkoey
/components/Ink/                  @yarneo
/components/LibraryInfo/          @jverkoey
/components/List                  @andrewoverton
/components/MaskedTransition/     @jverkoey
/components/NavigationBar/        @yarneo @jverkoey
/components/NavigationDrawer/     @yarneo @jakerockland
/components/OverlayWindow/        @yarneo
/components/PageControl/          @randallli
/components/Palettes/             @jverkoey
/components/Ripple                @yarneo
/components/ShadowElevations/     @jverkoey
/components/ShadowLayer/          @jverkoey
/components/Snackbar/             @yarneo
/components/TextFields/           @andrewoverton
/components/Themes/               @jverkoey

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

add iOS 14 list cell config for dragons
  catalog/MDCDragons/MDCDragonsController.swift
Owners: @material-components/core-ios-team

[Dialogs] Disabling selection in alerts while allowing tappable links
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Owners: @galiak11, @iberezan

[MDCProgressView] Fix indeterminate animation being removed before it is presented on screen.
  components/ProgressView/examples/ProgressViewInDialogExample.m
  components/ProgressView/src/MDCProgressView.m
Owners: @material-components/core-ios-team

Add UIMenu support to MDCButtonBar.
  components/ButtonBar/examples/ButtonBarMenuExample.m
  components/ButtonBar/src/MDCButtonBar.m
  components/ButtonBar/src/private/MDCAppBarButtonBarBuilder.m
Owners: @material-components/core-ios-team

[Dragons] Add an iOS 14 expandable UICollectionView list configuration
  catalog/MDCDragons/MDCDragonsController.swift
Owners: @material-components/core-ios-team

[ActionSheet] Rename ActionSheet assets
  components/ActionSheet/docs/assets/actionsheet-default-appearance.png
  components/ActionSheet/docs/assets/actionsheet-left-outset-right-inset.png
  components/ActionSheet/docs/assets/actionsheet-top-and-bottom-insets.png
Owners: @codeman7

[NavDrawer] Make sure to update color of scrim view background when trait collection changes its user interface style.
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
Owners: @yarneo, @jakerockland

[Tabs] Add non fixed clustered centered layout style
  components/Tabs/examples/MDCTabBarViewTypicalExampleViewController.m
  components/Tabs/src/TabBarView/MDCTabBarView.h
  components/Tabs/src/TabBarView/MDCTabBarView.m
Owners: @material-components/core-ios-team

[ActionSheet] Delete MDCActionSheetThemer and MDCActionSheetScheme
  MaterialComponentsBeta.podspec
  components/ActionSheet/src/ActionSheetThemer/MDCActionSheetScheme.h
  components/ActionSheet/src/ActionSheetThemer/MDCActionSheetScheme.m
  components/ActionSheet/src/ActionSheetThemer/MDCActionSheetThemer.h
  components/ActionSheet/src/ActionSheetThemer/MDCActionSheetThemer.m
  components/ActionSheet/src/ActionSheetThemer/MaterialActionSheet+ActionSheetThemer.h
  components/ActionSheet/tests/unit/ActionSheetThemer/MDCActionSheetThemeTest.m
Owners: @material-components/core-ios-team, @codeman7

[ActionSheet] Delete MDCActionSheetColorThemer
  MaterialComponentsBeta.podspec
  components/ActionSheet/README.md
  components/ActionSheet/docs/color-theming.md
  components/ActionSheet/src/ColorThemer/MDCActionSheetColorThemer.h
  components/ActionSheet/src/ColorThemer/MDCActionSheetColorThemer.m
  components/ActionSheet/src/ColorThemer/MaterialActionSheet+ColorThemer.h
  components/ActionSheet/tests/unit/ColorThemer/MDCActionSheetColorThemerTest.swift
Owners: @material-components/core-ios-team, @codeman7

Internal change
  components/BottomAppBar/src/private/MDCBottomAppBarLayer.m
Owners: @wenyuzhang666

[ActionSheet] Delete MDCActionSheetTypographyThemer
  MaterialComponentsBeta.podspec
  components/ActionSheet/README.md
  components/ActionSheet/docs/README.md
  components/ActionSheet/docs/typography-theming.md
  components/ActionSheet/src/TypographyThemer/MDCActionSheetTypographyThemer.h
  components/ActionSheet/src/TypographyThemer/MDCActionSheetTypographyThemer.m
  components/ActionSheet/src/TypographyThemer/MaterialActionSheet+TypographyThemer.h
Owners: @material-components/core-ios-team, @codeman7

[MDC-iOS] Fix Podfile
  catalog/Podfile
Owners: @material-components/core-ios-team

[Chips] Update inter-chip spacing in chip field to align with Material spec (8dp vertical and horizontal inter-chip spacing)
  components/Chips/src/MDCChipField.m
Owners: @material-components/core-ios-team

[Banner] Add Banner snapshots for long text with no action style.
  components/Banner/tests/snapshot/MDCBannerSnapshotTests.m
Owners: @material-components/core-ios-team

[Banner] Add height constraints to leadingButton and trailingButton on MDCBannerView to handle the case where they are hidden.
  components/Banner/src/MDCBannerView.m
Owners: @material-components/core-ios-team

Replace bottom app bar docs
  components/BottomAppBar/README.md
  components/BottomAppBar/docs/assets/bottom-app-bar-anatomy.png
  components/BottomAppBar/docs/assets/bottom-app-bar-hero.png
Owners: @wenyuzhang666

Delete old docs
  components/BottomAppBar/docs/README.md
  components/BottomAppBar/docs/accessibility.md
  components/BottomAppBar/docs/color-theming.md
  components/BottomAppBar/docs/typical-use.md
Owners: @wenyuzhang666

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

[ButtonBar] Fix ButtonBar typical example's crash by making containerScheme a property.
  components/ButtonBar/examples/ButtonBarTypicalUseExample.m
Owners: @material-components/core-ios-team

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Bumped version number to 111.0.0.
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

[MDC/Button] Add rippleEdgeInsets API.
  components/Buttons/src/MDCButton.h
  components/Buttons/src/MDCButton.m
  components/Buttons/tests/snapshot/ButtonsRippleSnapshotTests.m
  components/Buttons/tests/unit/MDCButtonRippleTests.m
Owners: @randallli

Fix lint error `UppercaseAttributedString` in `MDCButton`
  components/Buttons/src/MDCButton.m
Owners: @randallli

Internal Change
  components/private/ThumbTrack/src/MDCThumbTrack.m
Owners: @material-components/core-ios-team

[TextControls] Fix secureTextEntry layout pass infinite loop
  components/TextControls/src/BaseTextAreas/MDCBaseTextArea.m
  components/TextControls/src/BaseTextFields/MDCBaseTextField.m
Owners: @material-components/core-ios-team

[Buttons] Remove unused TitleColorAccessibilityMutator.
  components/Buttons/src/TitleColorAccessibilityMutator/MDCButtonTitleColorAccessibilityMutator.h
  components/Buttons/src/TitleColorAccessibilityMutator/MDCButtonTitleColorAccessibilityMutator.m
  components/Buttons/src/TitleColorAccessibilityMutator/MaterialButtons+TitleColorAccessibilityMutator.h
  components/Buttons/tests/unit/MDCButtonTitleColorAccessibilityMutatorTests.m
Owners: @randallli

Address CL feedback
  components/BottomAppBar/README.md
Owners: @wenyuzhang666

Adding theming extension for TabBarView
  MaterialComponentsBeta.podspec
  components/Tabs/src/TabBarViewTheming/MDCTabBarView+MaterialTheming.h
  components/Tabs/src/TabBarViewTheming/MDCTabBarView+MaterialTheming.m
  components/Tabs/src/TabBarViewTheming/MaterialTabs+TabBarViewTheming.h
  components/Tabs/tests/unit/TabBarView/MDCTabBarViewThemingTests.m
Owners: @material-components/core-ios-team

[FeatureHighlight] Delete deprecated FeatureHighlightAccessibilityMutator.
  components/FeatureHighlight/examples/FeatureHighlightColorExample.m
  components/FeatureHighlight/examples/FeatureHighlightCustomFontsExample.m
  components/FeatureHighlight/examples/FeatureHighlightShownViewExample.m
  components/FeatureHighlight/src/FeatureHighlightAccessibilityMutator/MDCFeatureHighlightAccessibilityMutator.h
  components/FeatureHighlight/src/FeatureHighlightAccessibilityMutator/MDCFeatureHighlightAccessibilityMutator.m
  components/FeatureHighlight/src/FeatureHighlightAccessibilityMutator/MaterialFeatureHighlight+FeatureHighlightAccessibilityMutator.h
  components/FeatureHighlight/tests/unit/FeatureHighlightTitleBodyAccessibilityMutatorTests.m
Owners: @codeman7

[MDC/Button] Add rippleColor and rippleStyle APIs
  components/Buttons/src/MDCButton.h
  components/Buttons/src/MDCButton.m
  components/Buttons/tests/snapshot/ButtonsRippleSnapshotTests.m
  components/Buttons/tests/unit/MDCButtonRippleTests.m
  components/Buttons/tests/unit/MDCButtonTests.m
Owners: @randallli

[TextControls] Fix jumpiness in text areas
  components/TextControls/src/BaseTextAreas/MDCBaseTextArea.m
Owners: @material-components/core-ios-team

[Slider] Remove supplemental directory from examples.
  components/Slider/examples/SliderCollectionViewController.m
  components/Slider/examples/supplemental/SliderCollectionSupplemental.h
  components/Slider/examples/supplemental/SliderCollectionSupplemental.m
Owners: @material-components/core-ios-team

[TextControls] Add debug stuff to text controls examples
  components/TextControls/examples/supplemental/MDCTextControlTextAreaContentViewController.m
  components/TextControls/examples/supplemental/MDCTextControlTextFieldContentViewController.m
Owners: @material-components/core-ios-team

[Shapes] Updates the shapeGenerator with a line width to inset the line rather than center it.
  components/Shapes/src/MDCShapedShadowLayer.m
  components/Shapes/tests/snapshot/MDCShapedViewSnapshotTests.m
Owners: @material-components/core-ios-team
