Repository material-components/material-components-ios, changes with the owners that CODEOWNERS names for each.
All owners: @material-components/core-ios-team, @codeman7, @yarneo, @jverkoey, @wenyuzhang666, @randallli, @galiak11, @iberezan, @andrewoverton, @jakerockland

Add MDCNavigationBarTitleViewLayoutBehaviorCenterFit.
  components/NavigationBar/src/MDCNavigationBar.h
  components/NavigationBar/src/MDCNavigationBar.m
  components/NavigationBar/tests/snapshot/MDCNavigationBarSnapshotTests.m
Owners: @yarneo, @jverkoey

Make navigation bar animation completion block be called immediately when setNavigationBarHidden:animated: is invoked with animated == NO.
  components/BottomNavigation/src/MDCBottomNavigationBarController.m
Owners: @material-components/core-ios-team

Remove adjustsFontForContentSizeCategoryWhenScaledFontIsUnavailable API from MDCChipView.
  components/Chips/src/MDCChipView.h
  components/Chips/src/MDCChipView.m
  components/Chips/tests/unit/ChipsTests.m
Owners: @material-components/core-ios-team

Remove adjustsFontForContentSizeCategoryWhenScaledFontIsUnavailable API from MDCSelfSizingStereoCell.
  components/List/src/MDCSelfSizingStereoCell.h
  components/List/src/MDCSelfSizingStereoCell.m
  components/List/tests/unit/MDCSelfSizingStereoCellTests.m
Owners: @andrewoverton

Remove adjustsFontForContentSizeCategoryWhenScaledFontIsUnavailable API from MDCSnackbar.
  components/Snackbar/src/MDCSnackbarManager.h
  components/Snackbar/src/MDCSnackbarManager.m
  components/Snackbar/src/MDCSnackbarMessageView.h
  components/Snackbar/src/MDCSnackbarMessageView.m
  components/Snackbar/tests/unit/MDCSnackbarMessageViewTests.m
  components/Snackbar/tests/unit/SnackbarManagerTests.m
Owners: @yarneo

Remove adjustsFontForContentSizeCategoryWhenScaledFontIsUnavailable API from MDCAlertController.
  components/Dialogs/src/MDCAlertController.h
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/src/private/MDCAlertControllerView+Private.h
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
  components/Dialogs/tests/snapshot/MDCAlertControllerCustomTraitCollectionTests.m
  components/Dialogs/tests/unit/MDCAlertControllerTests.m
Owners: @galiak11, @iberezan

Remove setFontLoader from MDCTypography.h, now only available through MDCTypography:FontLoader.
  components/Typography/src/MDCTypography.h
  components/Typography/tests/unit/TypographyTests.m
Owners: @material-components/core-ios-team

Remove mdc_adjustsFontForContentSizeCategory from MDCActionSheet.
  components/ActionSheet/src/MDCActionSheetController.h
  components/ActionSheet/src/MDCActionSheetController.m
  components/ActionSheet/src/private/MDCActionSheetHeaderView.h
  components/ActionSheet/src/private/MDCActionSheetHeaderView.m
  components/ActionSheet/src/private/MDCActionSheetItemTableViewCell.h
  components/ActionSheet/src/private/MDCActionSheetItemTableViewCell.m
Owners: @codeman7

Remove adjustsFontForContentSizeCategoryWhenScaledFontIsUnavailable property from MDCButton.
  components/Banner/src/MDCBannerView.m
  components/Buttons/examples/ButtonsDynamicTypeExample.swift
  components/Buttons/src/MDCButton.h
  components/Buttons/src/MDCButton.m
  components/Buttons/tests/snapshot/ButtonCustomTraitCollectionSnapshotTests.m
  components/Buttons/tests/unit/MDCButtonTests.m
Owners: @material-components/core-ios-team, @randallli

Fix MDCButton ripple effect corner radius
  components/Buttons/src/MDCButton.m
Owners: @randallli

removed the objc_subclassing_restricted attribute from the header
  components/TextControls/src/OutlinedTextFields/MDCOutlinedTextField.h
Owners: @material-components/core-ios-team

[Dialogs] Enforce positive contentOffsets on the contentScrollView in MDCAlertControllerView
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Owners: @galiak11, @iberezan

[TextControls] Expose animationDuration on MDCBaseTextField
  components/TextControls/src/BaseTextFields/MDCBaseTextField.h
  components/TextControls/src/BaseTextFields/MDCBaseTextField.m
  components/TextControls/tests/snapshot/supplemental/MDCBaseTextFieldTestsSnapshotTestHelpers.m
Owners: @material-components/core-ios-team

Dependency MotionInterchange for ActivityIndicator
  MaterialComponents.podspec
Owners: @material-components/core-ios-team

Set MDCTabBarView.scrollsToTop to NO.
  components/Tabs/src/TabBarView/MDCTabBarView.m
Owners: @material-components/core-ios-team

Removes unnecessary copy qualifier on immutable types (UIColor *).
  components/schemes/Color/src/MDCSemanticColorScheme.h
  components/schemes/Color/src/MDCSemanticColorScheme.m
Owners: @material-components/core-ios-team

Expose scrollToItem:animated: to resolve rotation bug in MDCTabBarView.
  components/Tabs/src/TabBarView/MDCTabBarView.h
Owners: @material-components/core-ios-team

Rollback of https://github.com/material-components/material-components-ios/commit/ddb161b1691443763d83506fccefd582056531d9
  components/TextControls/src/BaseTextFields/MDCBaseTextField.m
  components/TextControls/tests/unit/MDCBaseTextFieldTests.m
Owners: @material-components/core-ios-team

[Chips] Explicitly trigger layout pass
  components/Chips/src/MDCChipView.m
  components/Chips/tests/unit/ChipsTests.m
Owners: @material-components/core-ios-team

[ActionSheet] Inform delegate when action sheet is dismissed via Z-Gesture when VoiceOver is enabled.
  components/ActionSheet/src/MDCActionSheetController.h
  components/ActionSheet/src/MDCActionSheetController.m
  components/BottomSheet/src/MDCBottomSheetTransitionController.h
  components/BottomSheet/src/MDCBottomSheetTransitionController.m
  components/BottomSheet/src/MDCBottomSheetTransitionControllerDelegate.h
Owners: @codeman7, @yarneo

[ActionSheet] Make sure MDCActionSheetController's delegate implements the `actionSheetControllerDidDismiss` delegate method before calling it.
  components/ActionSheet/src/MDCActionSheetController.m
Owners: @codeman7

Remove mdc_adjustsFontForContentSizeCategorydefault property from MDCTextInputController.
  components/TextFields/src/MDCTextInputController.h
  components/TextFields/src/MDCTextInputControllerBase.m
  components/TextFields/src/MDCTextInputControllerFullWidth.m
  components/TextFields/tests/unit/TextFieldControllerClassPropertiesLegacyTests.swift
  components/TextFields/tests/unit/TextFieldControllerClassPropertiesTests.swift
Owners: @andrewoverton

Update readme to reflect MDC's new maintenance mode support status.
  README.md
Owners: @material-components/core-ios-team

[TextControls] Keep floating label within bounds of outlined text controls
  components/TextControls/src/BaseTextAreas/MDCBaseTextArea.m
  components/TextControls/src/BaseTextFields/MDCBaseTextField.m
  components/TextControls/src/OutlinedTextFields/MDCOutlinedTextField.m
  components/private/TextControlsPrivate/src/OutlinedStyle/MDCTextControlStyleOutlined.m
  components/private/TextControlsPrivate/src/OutlinedStyle/MDCTextControlVerticalPositioningReferenceOutlined.m
  components/private/TextControlsPrivate/src/Shared/MDCTextControl.h
Owners: @material-components/core-ios-team

Mark mdc_adjustsFontForContentSizeCategory as to be deprecated for multiple components.
  components/Buttons/src/MDCButton.h
  components/Chips/src/MDCChipView.h
  components/Snackbar/src/MDCSnackbarManager.h
  components/Snackbar/src/MDCSnackbarMessageView.h
Owners: @randallli, @material-components/core-ios-team, @yarneo

Fix typo that read depricated instead of deprecated.
  components/Buttons/src/MDCButton.h
  components/Chips/src/MDCChipView.h
Owners: @randallli, @material-components/core-ios-team

Move mdc_adjustsFontForContentSizeCategory from MDCAlertControllerView to MDCAlertControllerView+Private.
  components/Dialogs/src/MDCAlertControllerView.h
  components/Dialogs/src/private/MDCAlertControllerView+Private.h
Owners: @galiak11, @iberezan

Fix MDCBottomNavigationItemView to inherit passed item's tag.
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/tests/unit/MDCBottomNavigationBarTests.m
Owners: @material-components/core-ios-team

[TextControls] Support original "accessibility element" VoiceOver behavior as well as "accessibility container" behavior similar to UITextField's
  components/TextControls/src/BaseTextFields/MDCBaseTextField.h
  components/TextControls/src/BaseTextFields/MDCBaseTextField.m
  components/TextControls/tests/unit/MDCBaseTextFieldTests.m
Owners: @material-components/core-ios-team

Cleanup.
  components/schemes/Typography/src/MDCTypographyScheme.m
Owners: @material-components/core-ios-team

Snackbar image and multiple button support dead code cleanup.
  components/Snackbar/src/MDCSnackbarManager.m
  components/Snackbar/src/MDCSnackbarMessageView.h
  components/Snackbar/src/MDCSnackbarMessageView.m
  components/Snackbar/tests/unit/MDCSnackbarMessageViewTests.m
  components/Snackbar/tests/unit/MDCSnackbarRippleTests.m
Owners: @yarneo

Refactor MDCSnackbarMessageView to use anchor based constraints.
  components/Snackbar/src/MDCSnackbarMessageView.m
Owners: @yarneo

Replace instances of "the the" with "the".
  components/BottomNavigation/src/MDCBottomNavigationBarController.m
  components/TextControls/src/BaseTextAreas/MDCBaseTextArea.h
  components/TextControls/src/BaseTextFields/MDCBaseTextField.h
  components/TextFields/src/MDCTextInputControllerFloatingPlaceholder.h
Owners: @material-components/core-ios-team, @andrewoverton

[ActionSheet] Move PostNotificiation announcement for the MDCActionSheetController into viewDidAppear so that it doesnt alert the user then the component gets loaded but not shown
  components/ActionSheet/src/MDCActionSheetController.m
Owners: @codeman7

Update MDCSlider to respect UISemanticContentAttribute.
  components/Slider/src/MDCSlider.m
  components/Slider/tests/snapshot/MDCSliderSnapshotTests.m
Owners: @material-components/core-ios-team

[TextControls] Prevent duplicate accessibility label and value audio feedback when placeholder is equal to the label.
  components/TextControls/src/BaseTextFields/MDCBaseTextField.m
Owners: @material-components/core-ios-team

[TabBarView] Fix build error on Xcode 12.5.1
  components/Tabs/src/TabBarView/MDCTabBarView.h
Owners: @material-components/core-ios-team

[TextControls] Fix bug where outline was misplaced when label text was empty string
  components/TextControls/tests/snapshot/MDCBaseTextAreaSnapshotTests.m
  components/private/TextControlsPrivate/src/OutlinedStyle/MDCTextControlStyleOutlined.m
  components/private/TextControlsPrivate/src/Shared/MDCTextControlLabelSupport.m
Owners: @material-components/core-ios-team

[Snackbar] Add shouldShowMessageWhenVoiceOverIsRunning to support disabling Snackbar under VoiceOver mode.
  components/Snackbar/src/MDCSnackbarManager.h
  components/Snackbar/src/MDCSnackbarManager.m
  components/Snackbar/tests/unit/MDCSnackbarMessageViewTests.m
Owners: @yarneo

[TextControls] Fix label truncation when label text changes in the floating position of outlined text controls
  components/TextControls/src/BaseTextAreas/MDCBaseTextArea.m
  components/TextControls/src/BaseTextFields/MDCBaseTextField.m
Owners: @material-components/core-ios-team

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
**       @material-components/core-ios-team

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
/components/ActionSheet/          @codeman7
/components/AnimationTiming/      @yarneo
/components/AppBar/               @jverkoey
/components/BottomAppBar/         @wenyuzhang666
/components/BottomSheet/          @yarneo
/components/Buttons/              @randallli
/components/Cards/                @yarneo
/components/CollectionCells/      @yarneo
/components/CollectionLayoutAttributes/ @jverkoey
/components/Collections/          @jverkoey
/components/Dialogs/              @galiak11 @iberezan
/components/FeatureHighlight/     @codeman7
/components/FlexibleHeader/       @jverkoey
/components/HeaderStackView/      @jverkoey
/components/Ink/                  @yarneo
/components/LibraryInfo/          @jverkoey
/components/List                  @andrewoverton
/components/MaskedTransition/     @jverkoey
/components/NavigationBar/        @yarneo @jverkoey
/components/NavigationDrawer/     @yarneo @jakerockland
/components/OverlayWindow/        @yarneo
/components/PageControl/          @randallli
/components/Palettes/             @jverkoey
/components/Ripple                @yarneo
/components/ShadowElevations/     @jverkoey
/components/ShadowLayer/          @jverkoey
/components/Snackbar/             @yarneo
/components/TextFields/           @andrewoverton
/components/Themes/               @jverkoey
