Repository material-components/material-components-ios, changes with the owners that CODEOWNERS names for each.
All owners: @material-components/core-ios-team, @jmdetloff, @yarneo, @jverkoey, @romoore, @randallli, @ianegordon, @codeman7, @ajsecord, @andrewoverton, @featherless

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
**       @material-components/core-ios-team

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# !!!! IMPORTANT !!!!
# If a component is commented-out with a current contributor/team member
# it means that the person still "owns" the component but does not want
# to be automatically added as a reviewer to all PRs touching that component.
# Please add them manually if you feel they need to address the changes 
# personally, otherwise the team will be added instead.

# You can also use email addresses if you prefer.
/components/ActivityIndicator/    @jmdetloff
/components/AnimationTiming/      @yarneo
/components/AppBar/               @jverkoey
/components/BottomAppBar/         @jmdetloff
/components/BottomNavigation/     @romoore
/components/BottomSheet/          @jmdetloff
/components/ButtonBar/            @romoore
/components/Buttons/              @randallli
/components/Cards/                @yarneo
/components/Chips/                @romoore
/components/CollectionCells/      @yarneo
/components/CollectionLayoutAttributes/ @ianegordon
/components/Collections/          @ianegordon
/components/Dialogs/              @ianegordon
/components/FeatureHighlight/     @codeman7
/components/FlexibleHeader/       @jverkoey
/components/HeaderStackView/      @jverkoey
/components/Ink/                  @yarneo
/components/LibraryInfo/          @ajsecord
/components/MaskedTransition/     @jverkoey
# /components/NavigationBar/        @yarneo 
/components/NavigationBar/        @jverkoey
/components/OverlayWindow/        @yarneo
/components/PageControl/          @randallli
/components/Palettes/             @ajsecord
/components/ProgressView/         @romoore
/components/ShadowElevations/     @ianegordon
/components/ShadowLayer/          @ianegordon
/components/Slider/               @romoore
/components/Snackbar/             @yarneo
/components/Tabs/                 @romoore
/components/TextFields/           @andrewoverton
/components/Themes/               @featherless
/components/Typography/           @ianegordon

Remove tests that are no longer applicable.
  components/FlexibleHeader/tests/unit/FlexibleHeaderTopSafeAreaInsetTests.swift
Owners: @jverkoey

Fix outdated api.
  catalog/MDCCatalog/MDCCatalogComponentsController.swift
Owners: @material-components/core-ios-team

Docs.
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
Owners: @jverkoey

Remove redundant methods.
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
Owners: @jverkoey

Docs.
  components/FlexibleHeader/src/MDCFlexibleHeaderView.h
Owners: @jverkoey

Compare ancestor not parent.
  components/FlexibleHeader/src/MDCFlexibleHeaderViewController.m
Owners: @jverkoey

Gate more behavior.
  components/FlexibleHeader/src/MDCFlexibleHeaderViewController.h
  components/FlexibleHeader/src/MDCFlexibleHeaderViewController.m
Owners: @jverkoey

Add back deleted code.
  components/FlexibleHeader/src/MDCFlexibleHeaderContainerViewController.m
Owners: @jverkoey

Docs.
  components/FlexibleHeader/src/private/MDCFlexibleHeaderView+Private.h
Owners: @jverkoey

Fix the examples and assertion.
  components/FlexibleHeader/examples/FlexibleHeaderPageControlExample.m
  components/FlexibleHeader/examples/FlexibleHeaderUINavigationBarExample.m
  components/FlexibleHeader/src/MDCFlexibleHeaderViewController.m
Owners: @jverkoey

[Ink] Remove encoding/decoding behavior for custom properties (#4555)
  components/Ink/src/MDCInkView.m
  components/Ink/tests/unit/MDCInkViewTests.m
Owners: @yarneo

[Ink] Remove encoding/decoding behavior for custom properties (#4555)
  components/Ink/src/MDCInkView.m
  components/Ink/tests/unit/MDCInkViewTests.m
Owners: @yarneo

[FlexibleHeader] Add behavior for enabling contextual safe area insets (#4596)
  catalog/MDCCatalog/MDCCatalogComponentsController.swift
  components/FlexibleHeader/examples/FlexibleHeaderConfiguratorExample.m
  components/FlexibleHeader/examples/FlexibleHeaderFABExample.m
  components/FlexibleHeader/examples/FlexibleHeaderHorizontalPagingExample.m
  components/FlexibleHeader/examples/FlexibleHeaderPageControlExample.m
  components/FlexibleHeader/examples/FlexibleHeaderTopLayoutGuideExample.m
  components/FlexibleHeader/examples/FlexibleHeaderTypicalUseExample.m
  components/FlexibleHeader/examples/FlexibleHeaderUINavigationBarExample.m
  components/FlexibleHeader/examples/FlexibleHeaderWrappedExample.m
  components/FlexibleHeader/examples/supplemental/FlexibleHeaderConfiguratorSupplemental.h
  components/FlexibleHeader/examples/supplemental/FlexibleHeaderConfiguratorSupplemental.m
  components/FlexibleHeader/src/MDCFlexibleHeaderContainerViewController.m
  components/FlexibleHeader/src/MDCFlexibleHeaderView.h
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
  components/FlexibleHeader/src/MDCFlexibleHeaderViewController.h
  components/FlexibleHeader/src/MDCFlexibleHeaderViewController.m
  components/FlexibleHeader/src/private/MDCFlexibleHeaderView+Private.h
  components/FlexibleHeader/tests/unit/FlexibleHeaderWrappingLegacyTopLayoutGuideTests.swift
  components/FlexibleHeader/tests/unit/FlexibleHeaderWrappingTopLayoutGuideTests.swift
Owners: @material-components/core-ios-team, @jverkoey

[FlexibleHeader] Add behavior for enabling contextual safe area insets (#4596)
  catalog/MDCCatalog/MDCCatalogComponentsController.swift
  components/FlexibleHeader/examples/FlexibleHeaderConfiguratorExample.m
  components/FlexibleHeader/examples/FlexibleHeaderFABExample.m
  components/FlexibleHeader/examples/FlexibleHeaderHorizontalPagingExample.m
  components/FlexibleHeader/examples/FlexibleHeaderPageControlExample.m
  components/FlexibleHeader/examples/FlexibleHeaderTopLayoutGuideExample.m
  components/FlexibleHeader/examples/FlexibleHeaderTypicalUseExample.m
  components/FlexibleHeader/examples/FlexibleHeaderUINavigationBarExample.m
  components/FlexibleHeader/examples/FlexibleHeaderWrappedExample.m
  components/FlexibleHeader/examples/supplemental/FlexibleHeaderConfiguratorSupplemental.h
  components/FlexibleHeader/examples/supplemental/FlexibleHeaderConfiguratorSupplemental.m
  components/FlexibleHeader/src/MDCFlexibleHeaderContainerViewController.m
  components/FlexibleHeader/src/MDCFlexibleHeaderView.h
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
  components/FlexibleHeader/src/MDCFlexibleHeaderViewController.h
  components/FlexibleHeader/src/MDCFlexibleHeaderViewController.m
  components/FlexibleHeader/src/private/MDCFlexibleHeaderView+Private.h
  components/FlexibleHeader/tests/unit/FlexibleHeaderWrappingLegacyTopLayoutGuideTests.swift
  components/FlexibleHeader/tests/unit/FlexibleHeaderWrappingTopLayoutGuideTests.swift
Owners: @material-components/core-ios-team, @jverkoey

[BottomNavigation]! Remove encoding/decoding behavior for custom properties (#4562)
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/src/private/MDCBottomNavigationItemBadge.m
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
  components/BottomNavigation/tests/unit/BottomNavigationCodingTests.m
  components/BottomNavigation/tests/unit/BottomNavigationItemBadgeCodingTests.m
  components/BottomNavigation/tests/unit/BottomNavigationItemViewTests.m
Owners: @romoore

[BottomNavigation]! Remove encoding/decoding behavior for custom properties (#4562)
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/src/private/MDCBottomNavigationItemBadge.m
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
  components/BottomNavigation/tests/unit/BottomNavigationCodingTests.m
  components/BottomNavigation/tests/unit/BottomNavigationItemBadgeCodingTests.m
  components/BottomNavigation/tests/unit/BottomNavigationItemViewTests.m
Owners: @romoore

[AppBar]! Remove encoding/decoding behavior for custom properties (#4566)
  components/AppBar/src/MDCAppBar.m
Owners: @jverkoey

[AppBar]! Remove encoding/decoding behavior for custom properties (#4566)
  components/AppBar/src/MDCAppBar.m
Owners: @jverkoey

Move accessibilityIdentifier spec
  components/BottomNavigation/tests/unit/BottomNavigationItemViewCodingTests.m
  components/BottomNavigation/tests/unit/BottomNavigationTests.m
Owners: @romoore

Automatic changelog preparation for release.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Automatic changelog preparation for release.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Update changelog.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Update changelog.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Bump the release.
  MaterialComponents.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsUnitTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.swift
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @ajsecord

Bump the release.
  MaterialComponents.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsUnitTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.swift
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @ajsecord

Update navigation drawer readme to point to the project
  components/NavigationDrawer/README.md
Owners: @material-components/core-ios-team

Update navigation drawer readme to point to the project (#4630)
  components/NavigationDrawer/README.md
Owners: @material-components/core-ios-team

Update navigation drawer readme to point to the project (#4630)
  components/NavigationDrawer/README.md
Owners: @material-components/core-ios-team

[BottomNavigation] Give UITabBarItems' accessibilityIdentifiers to MDCBottomNavigationBa… (#4599)
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
  components/BottomNavigation/tests/unit/BottomNavigationTests.m
Owners: @romoore

[BottomNavigation] Give UITabBarItems' accessibilityIdentifiers to MDCBottomNavigationBa… (#4599)
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
  components/BottomNavigation/tests/unit/BottomNavigationTests.m
Owners: @romoore

Add table
  components/ActionSheet/src/MDCActionSheetController.h
  components/ActionSheet/src/MDCActionSheetController.m
  components/ActionSheet/src/private/MDCActionSheetItemView.h
  components/ActionSheet/src/private/MDCActionSheetItemView.m
  components/ActionSheet/src/private/MDCActionSheetListViewController.h
  components/ActionSheet/src/private/MDCActionSheetListViewController.m
Owners: @material-components/core-ios-team

[Cards] Add accessibility documentation - use or remove images
  components/Cards/README.md
  components/Cards/docs/accessibility.md
  components/Cards/examples/EditReorderCollectionViewController.swift
  components/Cards/examples/resources/CardsAssets.xcassets/amsterdam-tuindorpoostzaan.imageset/Contents.json
  components/Cards/examples/resources/CardsAssets.xcassets/amsterdam-tuindorpoostzaan.imageset/amsterdam-tuindorpoostzaan.jpg
  components/Cards/examples/resources/CardsAssets.xcassets/amsterdam-tuindorpoostzaan.imageset/amsterdam-tuindorpoostzaan@2x.jpg
  components/Cards/examples/resources/CardsAssets.xcassets/amsterdam-tuindorpoostzaan.imageset/amsterdam-tuindorpoostzaan@3x.jpg
  components/Cards/examples/resources/CardsAssets.xcassets/austin-u-texas-bronze.imageset/Contents.json
  components/Cards/examples/resources/CardsAssets.xcassets/austin-u-texas-bronze.imageset/austin-u-texas-bronze.jpg
  components/Cards/examples/resources/CardsAssets.xcassets/austin-u-texas-bronze.imageset/austin-u-texas-bronze@2x.jpg
  components/Cards/examples/resources/CardsAssets.xcassets/austin-u-texas-bronze.imageset/austin-u-texas-bronze@3x.jpg
  components/Cards/examples/supplemental/CardEditReorderCollectionCell.swift
  scripts/generate_readme
Owners: @yarneo, @material-components/core-ios-team

[Cards] Accessibility: Fixing documentation typos. Fix readme scrip.
  components/Cards/README.md
  components/Cards/docs/accessibility.md
  scripts/generate_readme
Owners: @yarneo, @material-components/core-ios-team
