Repository material-components/material-components-ios, changes with the owners that CODEOWNERS names for each.
All owners: @material-components/core-ios-team, @codeman7, @yarneo, @jverkoey, @wenyuzhang666, @randallli, @galiak11, @iberezan, @andrewoverton, @jakerockland

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
**       @material-components/core-ios-team

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
/components/ActionSheet/          @codeman7
/components/AnimationTiming/      @yarneo
/components/AppBar/               @jverkoey
/components/BottomAppBar/         @wenyuzhang666
/components/BottomSheet/          @yarneo
/components/Buttons/              @randallli
/components/Cards/                @yarneo
/components/CollectionCells/      @yarneo
/components/CollectionLayoutAttributes/ @jverkoey
/components/Collections/          @jverkoey
/components/Dialogs/              @galiak11 @iberezan
/components/FeatureHighlight/     @codeman7
/components/FlexibleHeader/       @jverkoey
/components/HeaderStackView/      @jverkoey
/components/Ink/                  @yarneo
/components/LibraryInfo/          @jverkoey
/components/List                  @andrewoverton
/components/MaskedTransition/     @jverkoey
/components/NavigationBar/        @yarneo @jverkoey
/components/NavigationDrawer/     @yarneo @jakerockland
/components/OverlayWindow/        @yarneo
/components/PageControl/          @randallli
/components/Palettes/             @jverkoey
/components/Ripple                @yarneo
/components/ShadowElevations/     @jverkoey
/components/ShadowLayer/          @jverkoey
/components/Snackbar/             @yarneo
/components/TextFields/           @andrewoverton
/components/Themes/               @jverkoey

[Dialogs] Add new dialog presentation controller delegate methods
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/src/MDCDialogPresentationController.h
  components/Dialogs/src/MDCDialogPresentationController.m
  components/Dialogs/src/MDCDialogPresentationControllerDelegate.h
Owners: @galiak11, @iberezan

[Banner] Update the icons used in Banner examples to standardize them.
  components/Banner/examples/BannerTypicalUseExampleViewController.m
  components/Banner/examples/resources/BannerAssets.xcassets/Contents.json
  components/Banner/examples/resources/BannerAssets.xcassets/banner-email.imageset/Contents.json
  components/Banner/examples/resources/BannerAssets.xcassets/banner-email.imageset/ic_email_black_1x_ios_24dp.png
  components/Banner/examples/resources/BannerAssets.xcassets/banner-email.imageset/ic_email_black_2x_ios_24dp.png
  components/Banner/examples/resources/BannerAssets.xcassets/banner-email.imageset/ic_email_black_3x_ios_24dp.png
Owners: @material-components/core-ios-team

[Typography] Annotate legacy Dynamic Type APIs as to be deprecated.
  components/Typography/src/MDCFontScaler.h
  components/Typography/src/MDCFontTextStyle.h
  components/Typography/src/UIFont+MaterialScalable.h
  components/Typography/src/UIFont+MaterialTypography.h
Owners: @material-components/core-ios-team

[AppBar] Annotate it as To Be Deprecated.
  components/AppBar/src/ColorThemer/MDCAppBarColorThemer.h
  components/AppBar/src/MDCAppBarContainerViewController.h
  components/AppBar/src/MDCAppBarNavigationController.h
  components/AppBar/src/MDCAppBarNavigationControllerToBeDeprecatedDelegate.h
  components/AppBar/src/MDCAppBarViewController.h
  components/AppBar/src/MDCAppBarViewControllerAccessibilityPerformEscapeDelegate.h
  components/AppBar/src/Theming/MDCAppBarViewController+MaterialTheming.h
  components/AppBar/src/TypographyThemer/MDCAppBarTypographyThemer.h
Owners: @jverkoey

MDCButton ripple effect fix
  components/Buttons/src/MDCButton.m
Owners: @randallli

[NavigationBar] Annotate it as To Be Deprecated.
  components/NavigationBar/src/MDCNavigationBar.h
Owners: @yarneo, @jverkoey

Move FontScaler APIs in MDCTypography to a separate directory.
  components/Buttons/tests/snapshot/ButtonCustomTraitCollectionSnapshotTests.m
  components/Chips/tests/unit/ChipsTests.m
  components/Dialogs/tests/snapshot/MDCAlertControllerCustomTraitCollectionTests.m
  components/Snackbar/tests/unit/MDCSnackbarMessageViewTests.m
  components/Typography/src/FontScaler/MDCFontScaler.h
  components/Typography/src/FontScaler/MDCFontScaler.m
  components/Typography/src/MaterialTypography.h
  components/Typography/tests/unit/MaterialScalableFontTests.m
  components/Typography/tests/unit/UIFont+MaterialTypographyTests.m
  components/schemes/Typography/src/MDCTypographyScheme.m
Owners: @randallli, @material-components/core-ios-team, @galiak11, @iberezan, @yarneo

[Snackbar] Add leadingMargin and trailingMargin support to MDCSnackbarManager.
  components/Snackbar/src/MDCSnackbarManager.h
  components/Snackbar/src/MDCSnackbarManager.m
  components/Snackbar/src/private/MDCSnackbarOverlayView.h
  components/Snackbar/src/private/MDCSnackbarOverlayView.m
  components/Snackbar/tests/snapshot/MDCSnackbarMessageViewSnapshotTests.m
Owners: @yarneo

[MultipleComponents] Remove `mdf_effectiveUserInterfaceLayoutDirection` in favor of the system API `effectiveUserInterfaceLayoutDirection` that was added in iOS 10.
  catalog/MDCCatalog/MDCCatalogDebugAlert.swift
  components/AppBar/src/MDCAppBarViewController.m
  components/BottomAppBar/src/MDCBottomAppBarView.m
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
  components/ButtonBar/src/MDCButtonBar.m
  components/ButtonBar/src/private/MDCAppBarButtonBarBuilder.m
  components/Buttons/src/MDCFloatingButton.m
  components/Chips/src/MDCChipField.m
  components/Chips/src/MDCChipView.m
  components/CollectionCells/src/MDCCollectionViewCell.m
  components/CollectionCells/src/MDCCollectionViewTextCell.m
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
  components/List/README.md
  components/List/examples/supplemental/CollectionViewListCell.m
  components/List/src/MDCSelfSizingStereoCell.m
  components/NavigationBar/src/MDCNavigationBar.m
  components/PageControl/examples/PageControlTypicalUseExample.m
  components/PageControl/src/MDCPageControl.m
  components/ProgressView/src/MDCProgressView.m
  components/ProgressView/src/private/MDCProgressGradientView.m
  components/Snackbar/src/private/MDCSnackbarOverlayView.m
  components/Tabs/src/TabBarView/MDCTabBarView.m
  components/Tabs/src/private/MDCItemBar.m
  components/Tabs/src/private/MDCItemBarCell.m
  components/Tabs/tests/unit/MDCTabBarLayoutTests.m
  components/TextControls/src/BaseTextAreas/MDCBaseTextArea.m
  components/TextControls/src/BaseTextFields/MDCBaseTextField.m
  components/TextFields/src/MDCTextField.m
  components/TextFields/src/MDCTextInputControllerFilled.m
  components/TextFields/src/MDCTextInputControllerOutlined.m
  components/private/ThumbTrack/src/MDCThumbTrack.m
Owners: @material-components/core-ios-team, @jverkoey, @wenyuzhang666, @randallli, @yarneo, @galiak11, @iberezan, @andrewoverton

Remove mdc_adjustsfontforcontentsizecategory from MDCSnackBar
  components/Snackbar/examples/SnackbarSimpleExample.m
  components/Snackbar/src/MDCSnackbarManager.h
  components/Snackbar/src/MDCSnackbarManager.m
  components/Snackbar/src/MDCSnackbarMessageView.h
  components/Snackbar/src/MDCSnackbarMessageView.m
  components/Snackbar/tests/unit/MDCSnackbarManagerInstanceTests.m
  components/Snackbar/tests/unit/MDCSnackbarMessageViewTests.m
Owners: @yarneo

[MDCSnackbar] Add clarification that the property values set on the default manager propagate to all snackbar messages.
  components/Snackbar/src/MDCSnackbarManager.h
Owners: @yarneo

[MDFInternationalization] Remove `mdf_imageWithHorizontallyFlippedOrientation` in favor of system API, `imageWithHorizontallyFlippedOrientation`.
  components/AppBar/src/MDCAppBarViewController.m
  components/CollectionCells/src/MDCCollectionViewCell.m
  components/NavigationBar/examples/NavigationBarIconsExample.m
Owners: @jverkoey, @yarneo

[TextFields] Support original "accessibility element" VoiceOver behavior as well as "accessibility container" behavior similar to UITextField's
  components/TextFields/src/MDCMultilineTextField.h
  components/TextFields/src/MDCMultilineTextField.m
  components/TextFields/tests/unit/MDCMultilineTextFieldAccessibilityTests.m
Owners: @andrewoverton

[MDFInternationalziation] Remove mdf_semanticContentAttribute in favor of system API semanticContentAttribute.
  components/ActivityIndicator/src/MDCActivityIndicator.m
  components/CollectionCells/src/MDCCollectionViewCell.m
  components/Tabs/src/MDCTabBar.m
  components/Tabs/src/private/MDCItemBar.m
  components/Tabs/tests/unit/MDCTabBarLayoutTests.m
Owners: @material-components/core-ios-team, @yarneo

Internal change
  components/BottomNavigation/examples/BottomNavigationBlurExample.m
  components/BottomNavigation/examples/BottomNavigationExplicitlySetColorExample.swift
  components/BottomNavigation/examples/BottomNavigationNilBadges.swift
  components/BottomNavigation/examples/BottomNavigationResetButtons.swift
  components/BottomNavigation/examples/BottomNavigationSelectedIconExample.swift
  components/BottomNavigation/examples/BottomNavigationTitleVisibilityChangeExample.swift
  components/BottomNavigation/examples/BottomNavigationTypicalUseExample.m
  components/BottomNavigation/examples/BottomNavigationTypicalUseExample.swift
  components/BottomNavigation/src/MDCBottomNavigationBarController.m
  components/ShadowLayer/examples/MDCShadowPerformanceExample.swift
Owners: @material-components/core-ios-team, @jverkoey

[MDCChipView] Clean up and remove _visibleAreaInsets ivar.
  components/Chips/src/MDCChipView.m
Owners: @material-components/core-ios-team

[BottomNavigation] Enable Ripple behavior
  components/BottomNavigation/src/MDCBottomNavigationBar.h
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/tests/unit/BottomNavigationRippleTests.m
Owners: @material-components/core-ios-team

[Tabs] Fix estimatedFrameForItemAtIndex
  components/Tabs/src/TabBarView/MDCTabBarView.m
Owners: @material-components/core-ios-team

[TextFields] Update the comment for textfield accessibility behavior to be more concise
  components/TextFields/src/MDCMultilineTextField.h
Owners: @andrewoverton

Internal change
  components/Chips/examples/ChipsActionExampleViewController.m
  components/Chips/examples/ChipsChoiceExampleViewController.m
  components/Chips/examples/ChipsFilterExampleViewController.m
  components/Chips/examples/ChipsInputExampleViewController.m
  components/Chips/examples/ChipsSizingExampleViewController.m
  components/Chips/examples/ChipsTypicalUseViewController.m
  components/List/examples/CollectionListCellExampleTypicalUse.m
  components/List/examples/MDCBaseCellExample.m
  components/List/examples/MDCSelfSizingStereoCellExample.m
  components/NavigationBar/examples/NavigationBarIconsExample.m
  components/NavigationBar/examples/NavigationBarLayoutExample.m
  components/NavigationBar/examples/NavigationBarRTLIcons.m
  components/NavigationBar/examples/NavigationBarTypicalUseExample.m
  components/NavigationBar/examples/NavigationBarWithBarItemsExample.m
  components/NavigationBar/examples/NavigationbarWithCustomFont.m
  components/PageControl/examples/PageControlAnimationBlockExample.m
  components/PageControl/examples/PageControlButtonExample.m
  components/PageControl/examples/PageControlTypicalUseExample.m
  components/TextFields/examples/MultilineTextFieldLegacyExample.m
  components/TextFields/examples/TextFieldControllerStylesExample.m
  components/TextFields/examples/TextFieldCustomFontExample.m
  components/TextFields/examples/TextFieldOutlinedExample.m
  components/TextFields/examples/TextFieldStatesViewController.m
  components/TextFields/examples/TextFieldsTableViewExample.m
Owners: @material-components/core-ios-team, @andrewoverton, @yarneo, @jverkoey, @randallli

[MDCSnackbar] Support dismissal touch affordance by opt-in `enableDismissalAccessibilityAffordance` property.
  components/Snackbar/src/MDCSnackbarManager.h
  components/Snackbar/src/MDCSnackbarManager.m
  components/Snackbar/src/MDCSnackbarMessageView.h
  components/Snackbar/src/MDCSnackbarMessageView.m
  components/Snackbar/src/MaterialSnackbar.bundle/Resources/en.lproj/MaterialSnackbar.strings
  components/Snackbar/src/private/MaterialSnackbarStrings.h
  components/Snackbar/src/private/MaterialSnackbarStrings_table.h
Owners: @yarneo

Delete MDCTypography font opacities.
  catalog/MDCCatalog/MDCNodeListViewController.swift
  components/AnimationTiming/examples/AnimationTimingSwiftExampleViewController.swift
  components/AnimationTiming/examples/supplemental/AnimationTimingExampleViewControllerSupplemental.m
  components/Banner/src/MDCBannerView.m
  components/Buttons/examples/supplemental/ButtonsTypicalUseSupplemental.m
  components/CollectionCells/src/MDCCollectionViewTextCell.m
  components/FeatureHighlight/examples/FeatureHighlightCustomFontsExample.m
  components/FeatureHighlight/examples/supplemental/FeatureHighlightExampleSupplemental.m
  components/Ink/examples/InkTypicalUse.m
  components/TextFields/examples/TextFieldKitchenSinkExample.swift
  components/TextFields/src/MDCMultilineTextField.m
  components/TextFields/src/MDCTextField.m
  components/TextFields/src/MDCTextInputControllerLegacyDefault.m
  components/TextFields/src/MDCTextInputControllerLegacyFullWidth.m
  components/TextFields/src/private/MDCTextInputCommonFundament.m
  components/Typography/examples/TypographyCustomFontViewController.m
  components/Typography/examples/TypographyFontListExample.swift
  components/Typography/examples/TypographySimpleExampleViewController.m
  components/Typography/src/MDCTypography.h
  components/Typography/src/MDCTypography.m
  components/Typography/tests/snapshot/MDCTypographySnapshotTests.m
  components/Typography/tests/unit/TypographyTests.m
Owners: @material-components/core-ios-team, @yarneo, @randallli, @codeman7, @andrewoverton

Internal change
  components/ActionSheet/src/MDCActionSheetController.m
  components/AnimationTiming/examples/supplemental/AnimationTimingExampleViewControllerSupplemental.m
  components/BottomAppBar/examples/supplemental/BottomAppBarTypicalUseViewController.m
  components/BottomAppBar/src/MDCBottomAppBarView.m
  components/BottomNavigation/src/private/MDCBottomNavigationLargeItemDialogView.m
  components/BottomSheet/examples/BottomSheetPresentationControllerDelegateExample.m
  components/BottomSheet/src/MDCBottomSheetPresentationController.m
  components/BottomSheet/src/private/MDCSheetContainerView.m
  components/Buttons/examples/FloatingButtonTypicalUseExample.m
  components/Buttons/examples/supplemental/ButtonsTypicalUseSupplemental.m
  components/Collections/examples/CollectionsALaCarteExample.m
  components/Collections/src/private/MDCCollectionInfoBarView.m
  components/Dialogs/examples/DialogsTallTextAlertExampleViewController.m
  components/Dialogs/src/MDCDialogPresentationController.m
  components/FlexibleHeader/src/private/MDCFlexibleHeaderTopSafeArea.m
  components/Ink/examples/InkTypicalUse.m
  components/NavigationBar/src/MDCNavigationBar.m
  components/NavigationDrawer/src/MDCBottomDrawerViewController.m
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
  components/Ripple/examples/supplemental/RippleExampleSupplemental.m
  components/ShadowElevations/examples/ShadowElevationsTypicalUseExample.m
  components/ShadowLayer/examples/ShadowCornerRadiusExample.m
  components/Slider/examples/SliderCollectionViewController.m
  components/Snackbar/src/MDCSnackbarMessageView.m
  components/Snackbar/src/private/MDCSnackbarOverlayView.m
Owners: @codeman7, @yarneo, @wenyuzhang666, @material-components/core-ios-team, @randallli, @jverkoey, @galiak11, @iberezan, @jakerockland

Delete MDCTypography boldFontFromFont and italicFontFromFont APIs.
  components/Typography/src/MDCTypography.h
  components/Typography/src/MDCTypography.m
  components/Typography/tests/unit/TypographyTests.m
Owners: @material-components/core-ios-team

Improve dynamic type support in Snackbars (variable height + scroll view).
  components/Snackbar/src/MDCSnackbarMessageView.h
  components/Snackbar/src/MDCSnackbarMessageView.m
  components/Snackbar/src/private/MDCSnackbarOverlayView.m
  components/Snackbar/tests/snapshot/MDCSnackbarMessageViewSnapshotTests.m
  components/private/Snapshot/src/SnapshotUtilities/UIView+MDCSnapshot.h
  components/private/Snapshot/src/SnapshotUtilities/UIView+MDCSnapshot.m
Owners: @yarneo, @material-components/core-ios-team

[Snackbar] Remove the dismissal behavior on message label when enableDismissalAccessibilityAffordance is turned on.
  components/Snackbar/src/MDCSnackbarManager.h
  components/Snackbar/src/MDCSnackbarMessageView.h
  components/Snackbar/src/MDCSnackbarMessageView.m
Owners: @yarneo

Internal change.
  components/Buttons/src/MaterialButtons.h
Owners: @randallli

[MDC Shadow elevations] Delete no-op test.
  components/ShadowElevations/tests/unit/ShadowElevationsTests.m
Owners: @jverkoey

Allow the snackbar button to take up more of the available space.
  components/Snackbar/src/MDCSnackbarMessageView.m
  components/Snackbar/tests/snapshot/MDCSnackbarMessageViewSnapshotTests.m
Owners: @yarneo

Improve the Snackbar snapshot test case for large action text.
  components/Snackbar/tests/snapshot/MDCSnackbarMessageViewSnapshotTests.m
Owners: @yarneo

Return the button width instead of the label width when availbleWidth is less than 0.
  components/Snackbar/src/MDCSnackbarMessageView.m
Owners: @yarneo

[Snackbar] Expand documentation for the category property.
  components/Snackbar/src/MDCSnackbarMessage.h
Owners: @yarneo

Internal change
  components/Collections/tests/unit/MDCCollectionViewFlowLayoutTests.m
  components/PageControl/tests/unit/PageControlExampleTests.m
Owners: @jverkoey, @randallli

Internal change.
  components/BottomNavigation/src/MDCBottomNavigationBar.h
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.h
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationBarSnapshotTests.m
  components/BottomNavigation/tests/unit/MDCBottomNavigationBarTests.m
Owners: @material-components/core-ios-team

Update dialogs to recalculate preferred content size on any orientation change.
  components/Dialogs/src/MDCAlertController.m
Owners: @galiak11, @iberezan

Remove all pre-iOS 12 logic.
  components/BottomNavigation/examples/BottomNavigationBarControllerExampleViewController.swift
  components/BottomNavigation/examples/BottomNavigationBlurExample.m
  components/BottomNavigation/examples/BottomNavigationExplicitlySetColorExample.swift
  components/BottomNavigation/examples/BottomNavigationNilBadges.swift
  components/BottomNavigation/examples/BottomNavigationResetButtons.swift
  components/BottomNavigation/examples/BottomNavigationSelectedIconExample.swift
  components/BottomNavigation/examples/BottomNavigationTitleVisibilityChangeExample.swift
  components/BottomNavigation/examples/BottomNavigationTypicalUseExample.m
  components/BottomNavigation/examples/BottomNavigationTypicalUseExample.swift
Owners: @material-components/core-ios-team

Remove all pre-iOS 12 logic.
  components/FlexibleHeader/tests/unit/FlexibleHeaderDefaultsTests.m
  components/FlexibleHeader/tests/unit/FlexibleHeaderInjectionLegacyTopLayoutGuideTests.swift
  components/FlexibleHeader/tests/unit/FlexibleHeaderInjectionTopLayoutGuideTests.swift
  components/FlexibleHeader/tests/unit/FlexibleHeaderWrappingLegacyTopLayoutGuideTests.swift
  components/FlexibleHeader/tests/unit/FlexibleHeaderWrappingTopLayoutGuideTests.swift
  components/NavigationDrawer/examples/BottomDrawerExpandFullscreenExample.swift
  components/NavigationDrawer/examples/BottomDrawerInfiniteScrollingExample.swift
  components/NavigationDrawer/examples/BottomDrawerNoHeaderExample.swift
  components/NavigationDrawer/examples/BottomDrawerNoHeaderLessContentExample.swift
  components/NavigationDrawer/examples/BottomDrawerSwappingScrollViewsExample.swift
  components/NavigationDrawer/examples/BottomDrawerWithChangingContentSize.swift
  components/NavigationDrawer/examples/BottomDrawerWithHeaderExample.swift
  components/NavigationDrawer/examples/BottomDrawerWithScrollableContentExample.swift
  components/TextFields/examples/TextFieldFilledExample.swift
  components/TextFields/examples/TextFieldLegacyExample.swift
  components/TextFields/examples/TextFieldOutlinedExample.swift
  components/TextFields/examples/TextFieldSemanticColorThemer.swift
  components/TextFields/examples/TextFieldUnderlineExample.swift
  components/TextFields/tests/snapshot/MDCTextAreaOutlinedControllerPreferredFontAXXXLSnapshotTests.m
  components/TextFields/tests/snapshot/MDCTextAreaOutlinedControllerPreferredFontXSSnapshotTests.m
  components/TextFields/tests/snapshot/MDCTextFieldFilledControllerPreferredFontAXXXLSnapshotTests.m
  components/TextFields/tests/snapshot/MDCTextFieldFilledControllerPreferredFontXSSnapshotTests.m
  components/TextFields/tests/snapshot/MDCTextFieldOutlinedControllerPreferredFontAXXXLSnapshotTests.m
  components/TextFields/tests/snapshot/MDCTextFieldOutlinedControllerPreferredFontXSSnapshotTests.m
Owners: @jverkoey, @yarneo, @jakerockland, @andrewoverton

Remove all pre-iOS 12 logic.
  catalog/MDCDragons/MDCDragonsController.swift
  components/AppBar/examples/supplemental/SiblingOfTrackingScrollViewViewController.swift
  components/Banner/tests/snapshot/MDCBannerSnapshotTests.m
  components/BottomAppBar/tests/snapshot/MDCBottomAppBarSnapshotTests.m
  components/BottomAppBar/tests/unit/BottomAppBarTests.m
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationBarControllerSnapshotTests.m
  components/BottomNavigation/tests/unit/MDCBottomNavigationBarControllerTests.m
  components/Buttons/examples/ButtonsStoryboardExample.swift
  components/Buttons/tests/snapshot/MDCButtonSnapshotTests.m
  components/Cards/examples/supplemental/ToggleButtonCell.swift
  components/Chips/examples/ChipsFieldDeleteEnabledViewController.swift
  components/Chips/tests/snapshot/MDCChipViewCustomTraitCollectionSnapshotTests.m
  components/FeatureHighlight/tests/snapshot/MDCFeatureHighlightSnapshotTests.m
  components/List/examples/BaseCellExample.swift
  components/List/tests/snapshot/MDCSelfSizingStereoCellSnapshotTests.m
  components/NavigationDrawer/tests/unit/MDCNavigationDrawerScrollViewTests.m
  components/PageControl/examples/PageControlTypicalUseExample.swift
  components/ScalableFontDescriptor/tests/unit/MDCScalableFontDescriptorTests.m
  components/ShadowLayer/examples/MDCShadowPerformanceExample.swift
  components/Slider/tests/snapshot/MDCSliderSnapshotTests.m
  components/Snackbar/examples/SnackbarKeyboardExample.swift
  components/Snackbar/tests/unit/SnackbarManagerTests.m
  components/Tabs/src/MDCTabBarViewController.m
  components/Tabs/src/TabBarView/MDCTabBarView.m
  components/Tabs/src/private/MDCItemBar.m
Owners: @material-components/core-ios-team, @jverkoey, @wenyuzhang666, @randallli, @yarneo, @codeman7, @andrewoverton, @jakerockland

Remove all pre-iOS 12 logic.
  catalog/MDCCatalog/MDCCatalogComponentsController.swift
  catalog/MDCCatalog/MDCDebugSafeAreaInsetsView.swift
  catalog/MDCCatalog/MDCNodeListViewController.swift
  catalog/MDCCatalog/MDCThemePickerViewController.swift
  components/AppBar/examples/AppBarPresentedExample.m
  components/AppBar/examples/AppBarWKWebViewLargeContentExample.m
  components/AppBar/examples/AppBarWKWebViewSmallContentExample.m
  components/Banner/examples/BannerAutolayoutExampleViewController.m
  components/Banner/examples/BannerAutolayoutSwiftExampleViewController.swift
  components/Banner/examples/BannerTypicalUseExampleViewController.m
  components/Cards/examples/CardExampleViewController.swift
  components/Cards/examples/CardsShapedEditReorderExample.swift
  components/Cards/examples/EditReorderCollectionViewController.swift
  components/ScalableFontDescriptor/src/MDCScalableFontDescriptor.h
  components/ScalableFontDescriptor/src/MDCScalableFontDescriptor.m
  components/Tabs/examples/MDCTabBarViewTypicalExampleViewController.m
  components/Tabs/examples/TabBarViewExample.swift
  components/Tabs/examples/supplemental/TabBarIndicatorTemplateExampleSupplemental.swift
  components/Tabs/examples/supplemental/TabBarViewControllerExampleSupplemental.m
  components/TextControls/examples/supplemental/MDCTextControlConfiguratorExample.m
  components/TextControls/examples/supplemental/MDCTextControlContentViewController.m
Owners: @material-components/core-ios-team, @jverkoey, @yarneo

Remove all pre-iOS 12 logic.
  components/Ripple/examples/UICollectionViewWithRippleExample.swift
Owners: @yarneo
