Repository material-components/material-components-ios, changes with the owners that CODEOWNERS names for each.
All owners: @material-components/core-ios-team, @codeman7, @yarneo, @jverkoey, @wenyuzhang666, @randallli, @galiak11, @iberezan, @andrewoverton, @jakerockland

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
**       @material-components/core-ios-team

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
/components/ActionSheet/          @codeman7
/components/AnimationTiming/      @yarneo
/components/AppBar/               @jverkoey
/components/BottomAppBar/         @wenyuzhang666
/components/BottomSheet/          @yarneo
/components/Buttons/              @randallli
/components/Cards/                @yarneo
/components/CollectionCells/      @yarneo
/components/CollectionLayoutAttributes/ @jverkoey
/components/Collections/          @jverkoey
/components/Dialogs/              @galiak11 @iberezan
/components/FeatureHighlight/     @codeman7
/components/FlexibleHeader/       @jverkoey
/components/HeaderStackView/      @jverkoey
/components/Ink/                  @yarneo
/components/LibraryInfo/          @jverkoey
/components/List                  @andrewoverton
/components/MaskedTransition/     @jverkoey
/components/NavigationBar/        @yarneo @jverkoey
/components/NavigationDrawer/     @yarneo @jakerockland
/components/OverlayWindow/        @yarneo
/components/PageControl/          @randallli
/components/Palettes/             @jverkoey
/components/Ripple                @yarneo
/components/ShadowElevations/     @jverkoey
/components/ShadowLayer/          @jverkoey
/components/Snackbar/             @yarneo
/components/TextFields/           @andrewoverton
/components/Themes/               @jverkoey

[BottomSheet] Set the contentView's frame later in the lifecycle.
  components/BottomSheet/src/MDCBottomSheetController.m
Owners: @yarneo

Internal Change.
  components/private/Snapshot/TestHost/Resources/en.lproj/TestHostLocalizable.strings
Owners: @material-components/core-ios-team

Replace App Bar docs
  components/AppBar/README.md
  components/AppBar/docs/assets/top-app-bar-anatomy.png
  components/AppBar/src/MDCAppBarViewController.h
  components/Buttons/docs/fabs.md
  components/FlexibleHeader/README.md
  components/HeaderStackView/README.md
  components/NavigationBar/README.md
Owners: @jverkoey, @randallli, @yarneo

[Buttons] Move button alpha tests into their own file.
  components/Buttons/tests/unit/MDCButtonAlphaTests.m
  components/Buttons/tests/unit/MDCButtonTests.m
Owners: @randallli

Internal change.
  components/ActivityIndicator/tests/localization/ActivityIndicatorLocalizationTests.m
Owners: @material-components/core-ios-team

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Bumped version number to 109.1.0.
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

[MDCBottomSheet] recreate bug in catalog. Landscape presented tableviews resist scrolling up with longer content.
  components/BottomSheet/examples/BottomSheetLongTableViewExample.swift
Owners: @yarneo

[MDCBottomSheet] TableViewExample: Fixed swift format and added class description to example.
  components/BottomSheet/examples/BottomSheetTableViewExample.swift
Owners: @yarneo

[MDCBottomSheet] Better logging output in example.
  components/BottomSheet/examples/BottomSheetDismissOnDraggingDownExample.m
  components/BottomSheet/examples/BottomSheetTypicalUseExample.m
Owners: @yarneo

Project import generated by Copybara.
  CHANGELOG.md
  components/AppBar/tests/localization/AppBarLocalizationTests.m
  components/Buttons/src/MDCButton.m
  components/Buttons/tests/unit/MDCButtonAlphaTests.m
  components/Chips/examples/ChipsInputExampleViewController.m
  components/Chips/tests/ui/MDCChipFieldEarlGreyTests.m
  components/ProgressView/src/private/MaterialProgressViewStrings.h
  components/ProgressView/src/private/MaterialProgressViewStrings_table.h
  components/ProgressView/tests/localization/ProgressViewLocalizationTests.m
  components/Snackbar/tests/localization/SnackbarMessageViewLocalizationTests.m
  components/TextControls/examples/MDCTextControlTextFieldsStoryboardExample.swift
Owners: @material-components/core-ios-team, @jverkoey, @randallli, @yarneo

[Snackbar] Add snapshot test cases to the examples.
  components/Snackbar/examples/SnackbarSimpleExample.m
Owners: @yarneo

Replaced strong reference to weak for textInput
  components/TextFields/src/MDCTextInputController.h
Owners: @andrewoverton

Address PR feedback
  components/AppBar/README.md
Owners: @jverkoey

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

Internal change
  components/Chips/examples/ChipsInputExampleViewController.m
Owners: @material-components/core-ios-team

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Bumped version number to 109.1.0.
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Replace App Bar docs
  components/AppBar/README.md
  components/AppBar/docs/assets/top-app-bar-anatomy.png
  components/AppBar/src/MDCAppBarViewController.h
  components/Buttons/docs/fabs.md
  components/FlexibleHeader/README.md
  components/HeaderStackView/README.md
  components/NavigationBar/README.md
Owners: @jverkoey, @randallli, @yarneo

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

[BottomSheet]Set MDCSheetStateExtended for MDCBottomSheetController in its initializer.
  components/BottomSheet/src/MDCBottomSheetController.m
Owners: @yarneo

Tag </ul> is not required
  components/NavigationDrawer/README.md
Owners: @yarneo, @jakerockland

Internal change.
  components/Collections/tests/localization/CollectionsLocalizationTests.m
Owners: @jverkoey

[Cards] Add example snapshot tests.
  components/Cards/examples/CardsCollectionExample.m
  components/Cards/examples/CardsCollectionTintingExample.m
  components/Cards/examples/EditReorderCollectionViewController.swift
  components/Cards/examples/ToggleButtonCollectionViewController.swift
Owners: @yarneo

[Dialogs] Add example snapshot tests.
  components/Dialogs/examples/DialogsAccessoryExampleViewController.swift
  components/Dialogs/examples/DialogsAlertComparisonExample.swift
  components/Dialogs/examples/DialogsAlertCustomizationExampleViewController.swift
  components/Dialogs/examples/DialogsAlertExampleViewController.m
  components/Dialogs/examples/DialogsCustomShadowExampleViewController.swift
  components/Dialogs/examples/DialogsDismissingExampleViewController.m
  components/Dialogs/examples/DialogsKeyboardExampleViewController.m
  components/Dialogs/examples/DialogsLongAlertExampleViewController.swift
  components/Dialogs/examples/DialogsRoundedCornerExampleViewController.m
  components/Dialogs/examples/DialogsTallTextAlertExampleViewController.m
  components/Dialogs/examples/DialogsThemedPresentationExampleViewController.swift
  components/Dialogs/examples/DialogsTypicalUseExampleViewController.m
  components/Dialogs/examples/DialogsWithEmphasisButtonExampleViewController.swift
Owners: @galiak11, @iberezan

Internal change.
  components/TextFields/src/MDCMultilineTextField.m
  components/TextFields/tests/localization/MultilineTextFieldLocalizationTests.m
Owners: @andrewoverton

[FlexibleHeader] Add example snapshot tests.
  components/FlexibleHeader/examples/FlexibleHeaderTypicalUseExample.m
Owners: @jverkoey

[NavigationBar] Add example snapshot tests.
  components/NavigationBar/examples/NavigationBarWithBarItemsExample.m
Owners: @yarneo, @jverkoey

[Dialogs] Document icon image scaling condition
  components/Dialogs/src/MDCAlertController+Customize.h
  components/Dialogs/src/MDCAlertController.h
Owners: @galiak11, @iberezan

Add borderRadius property
  components/TextFields/src/MDCTextInputControllerBase.h
  components/TextFields/src/MDCTextInputControllerBase.m
  components/TextFields/src/MDCTextInputControllerOutlined.m
Owners: @andrewoverton

No public changes, just a test that reproduces the issue.
  components/Dialogs/tests/snapshot/MDCAlertControllerInsetsTests.m
Owners: @galiak11, @iberezan

[Dialogs] Allow MDCAlertController to become first responder.
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/tests/unit/MDCAlertControllerTests.m
Owners: @galiak11, @iberezan

[MDC/ActionSheet] Add test showcasing how when an Action's image is set it does not update an ActionSheet.
  components/ActionSheet/src/MDCActionSheetAction.h
  components/ActionSheet/tests/snapshot/MDCActionSheetControllerSnapshotTests.m
Owners: @codeman7

[MDC/ActionSheet] Support setting image later in lifecycle
  components/ActionSheet/src/MDCActionSheetController.m
Owners: @codeman7

[BottomSheet] Have the container sheet be laid out by the container view's bounds, not frame.
  components/BottomSheet/src/MDCBottomSheetTransitionController.m
Owners: @yarneo

[BottomAppBar] Have BottomAppBar respect safe area
  components/BottomAppBar/src/MDCBottomAppBarView.m
  components/BottomAppBar/tests/snapshot/MDCBottomAppBarSnapshotTests.m
Owners: @wenyuzhang666

Update expected translated string value for Progress localization test.
  components/ProgressView/tests/localization/ProgressViewLocalizationTests.m
Owners: @material-components/core-ios-team

[Snackbar] Add ability to set presentation host view on specific message.
  components/Snackbar/examples/SnackbarSimpleExample.m
  components/Snackbar/src/MDCSnackbarManager.m
  components/Snackbar/src/MDCSnackbarMessage.h
  components/Snackbar/src/MDCSnackbarMessage.m
  components/Snackbar/tests/unit/MDCSnackbarMessageViewTests.m
Owners: @yarneo
