Repository material-components/material-components-ios, changes with the owners that CODEOWNERS names for each.
All owners: @material-components/core-ios-team, @codeman7, @yarneo, @jverkoey, @wenyuzhang666, @randallli, @galiak11, @iberezan, @andrewoverton, @jakerockland

Bumped version number to 119.5.0.
  CHANGELOG.md
  MaterialComponents.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

[Snackbar] Make imports more explicit
  components/Snackbar/tests/unit/MDCSnackbarMessageViewTests.m
Owners: @yarneo

[Snackbar] Add present+dismiss unit test for legacy snackbar.
  components/Snackbar/tests/unit/MDCSnackbarMessageViewTests.m
Owners: @yarneo

[TextControls] Add placeholderColor property
  components/TextControls/src/BaseTextAreas/MDCBaseTextArea.h
  components/TextControls/src/BaseTextAreas/MDCBaseTextArea.m
  components/TextControls/tests/snapshot/MDCBaseTextAreaSnapshotTests.m
Owners: @material-components/core-ios-team

Add properties to configure the border color/width of `MDCShapedView`.
  components/Shapes/src/MDCShapedView.h
  components/Shapes/src/MDCShapedView.m
  components/Shapes/tests/snapshot/MDCShapedViewSnapshotTests.m
Owners: @material-components/core-ios-team

Fix bug that was causing messy animation when a keyboard is going to appear after the bottom sheet dismisses.
  components/BottomSheet/src/MDCBottomSheetPresentationController.m
  components/BottomSheet/src/private/MDCSheetContainerView.h
  components/BottomSheet/src/private/MDCSheetContainerView.m
Owners: @yarneo

Delete elevationOverlayColor: It is not used in any theming extensions.
  components/schemes/Color/src/MDCSemanticColorScheme.h
  components/schemes/Color/src/MDCSemanticColorScheme.m
  components/schemes/Color/tests/unit/MDCSemanticColorSchemeTests.m
Owners: @material-components/core-ios-team

Remove iOS 10 check in accessibilityTrait handling since only iOS 10 + is supported now
  components/Tabs/src/TabBarView/MDCTabBarView.m
Owners: @material-components/core-ios-team

[Shadows] Add example for performance testing.
  components/ShadowLayer/examples/MDCShadowPerformanceExample.swift
Owners: @jverkoey

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Bumped version number to 120.0.0.
  MaterialComponents.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

[Dialogs] Adding customized interface orientations and transition style support to the alert dialog.
  components/Dialogs/src/MDCAlertController.h
  components/Dialogs/src/MDCAlertController.m
Owners: @galiak11, @iberezan

[Chips] Add docs for MDCChipField
  components/Chips/src/MDCChipField.h
Owners: @material-components/core-ios-team

[List] Use isKindOfClass to ensure there is support for all MDCShadowLayer's subclasses.
  components/List/src/MDCBaseCell.m
Owners: @andrewoverton

[Buttons] Add documentation for Enums.
  components/Buttons/src/MDCFloatingButton+Animation.h
  components/Buttons/src/MDCFloatingButton.h
Owners: @randallli

Add BOOL property for whether or not the height of the bottom sheet should adjust for safe area insets.
  components/BottomSheet/src/MDCBottomSheetController.h
  components/BottomSheet/src/MDCBottomSheetController.m
  components/BottomSheet/src/MDCBottomSheetPresentationController.h
  components/BottomSheet/src/MDCBottomSheetPresentationController.m
  components/BottomSheet/src/MDCBottomSheetTransitionController.h
  components/BottomSheet/src/MDCBottomSheetTransitionController.m
  components/BottomSheet/src/private/MDCSheetContainerView.h
  components/BottomSheet/src/private/MDCSheetContainerView.m
  components/BottomSheet/tests/unit/MDCBottomSheetCustomizationTests.m
  components/BottomSheet/tests/unit/MDCBottomSheetPresentationControllerTests.m
Owners: @yarneo

[ProgressView] Add Objective-C generics to MDCProgressView
  components/ProgressView/src/MDCProgressView.h
  components/ProgressView/src/MDCProgressView.m
Owners: @material-components/core-ios-team

[BottomSheet] Add flag that turns off simulated bouncing when there isn't a tracking scroll view
  components/BottomSheet/src/MDCBottomSheetPresentationController.h
  components/BottomSheet/src/MDCBottomSheetPresentationController.m
  components/BottomSheet/src/private/MDCDraggableView.h
  components/BottomSheet/src/private/MDCDraggableView.m
  components/BottomSheet/src/private/MDCSheetBehavior.h
  components/BottomSheet/src/private/MDCSheetBehavior.m
  components/BottomSheet/src/private/MDCSheetContainerView.h
  components/BottomSheet/src/private/MDCSheetContainerView.m
  components/BottomSheet/tests/unit/MDCBottomSheetPresentationControllerTests.m
Owners: @yarneo

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

[Ripple] Declare parameter type NSArray in the Ripple implementation.
  components/Ripple/src/MDCRippleView.m
Owners: @yarneo

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Bumped version number to 121.0.0.
  MaterialComponents.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Remove unused 'kOfAnnouncement' and fix imports.
  components/BottomNavigation/src/MDCBottomNavigationBar.m
Owners: @material-components/core-ios-team

Fix imports for MDCBottomNavigationItemView.
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
Owners: @material-components/core-ios-team

UIFont MDC simple equality: updated class docs.
  components/Typography/src/UIFont+MaterialSimpleEquality.h
Owners: @material-components/core-ios-team

Update steps in the deprecation process.
  contributing/deprecation_policy.md
Owners: @material-components/core-ios-team

[TextControls] Fix imports for clang tidy
  components/TextControls/src/BaseTextFields/MDCBaseTextField.m
  components/TextControls/tests/snapshot/MDCBaseTextFieldSnapshotTests.m
  components/TextControls/tests/snapshot/MDCFilledTextFieldSnapshotTests.m
  components/TextControls/tests/snapshot/MDCOutlinedTextFieldSnapshotTests.m
  components/TextControls/tests/snapshot/supplemental/MDCBaseTextFieldTestsSnapshotTestHelpers.m
Owners: @material-components/core-ios-team

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Bumped version number to 121.0.1.
  MaterialComponents.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

[TextControls] Expose density on text fields and text areas
  components/TextControls/src/BaseTextAreas/MDCBaseTextArea.h
  components/TextControls/src/BaseTextAreas/MDCBaseTextArea.m
  components/TextControls/src/BaseTextFields/MDCBaseTextField.h
  components/TextControls/src/BaseTextFields/MDCBaseTextField.m
  components/TextControls/tests/snapshot/MDCBaseTextAreaSnapshotTests.m
  components/TextControls/tests/snapshot/MDCBaseTextFieldSnapshotTests.m
  components/TextControls/tests/snapshot/MDCFilledTextFieldSnapshotTests.m
  components/TextControls/tests/snapshot/MDCOutlinedTextFieldSnapshotTests.m
  components/TextControls/tests/snapshot/supplemental/MDCBaseTextFieldTestsSnapshotTestHelpers.h
  components/TextControls/tests/snapshot/supplemental/MDCBaseTextFieldTestsSnapshotTestHelpers.m
  components/private/TextControlsPrivate/src/FilledStyle/MDCTextControlVerticalPositioningReferenceFilled.m
  components/private/TextControlsPrivate/src/OutlinedStyle/MDCTextControlVerticalPositioningReferenceOutlined.m
Owners: @material-components/core-ios-team

[Material-iOS/Chips, Material-iOS/BottomSheet] Clean up markdown formatting.
  components/BottomSheet/README.md
  components/Chips/README.md
Owners: @yarneo, @material-components/core-ios-team

Add snapshot and unit tests.
  components/ProgressView/tests/snapshot/MDCProgressViewSnapshotTests.m
  components/ProgressView/tests/unit/ProgressViewTests.m
Owners: @material-components/core-ios-team

Remove Google specific deprecation policy from Github.
  contributing/deprecation_policy.md
Owners: @material-components/core-ios-team

[ProgressView] Remove generics from ProgressView's progressTintColors
  components/ProgressView/src/MDCProgressView.h
  components/ProgressView/src/MDCProgressView.m
Owners: @material-components/core-ios-team

Ensure correct Voiceover behavior in iOS 14.
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
Owners: @material-components/core-ios-team

[MDCAlertController] Fixed typo in API doc.
  components/Dialogs/src/MDCAlertController.h
Owners: @galiak11, @iberezan

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
**       @material-components/core-ios-team

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
/components/ActionSheet/          @codeman7
/components/AnimationTiming/      @yarneo
/components/AppBar/               @jverkoey
/components/BottomAppBar/         @wenyuzhang666
/components/BottomSheet/          @yarneo
/components/Buttons/              @randallli
/components/Cards/                @yarneo
/components/CollectionCells/      @yarneo
/components/CollectionLayoutAttributes/ @jverkoey
/components/Collections/          @jverkoey
/components/Dialogs/              @galiak11 @iberezan
/components/FeatureHighlight/     @codeman7
/components/FlexibleHeader/       @jverkoey
/components/HeaderStackView/      @jverkoey
/components/Ink/                  @yarneo
/components/LibraryInfo/          @jverkoey
/components/List                  @andrewoverton
/components/MaskedTransition/     @jverkoey
/components/NavigationBar/        @yarneo @jverkoey
/components/NavigationDrawer/     @yarneo @jakerockland
/components/OverlayWindow/        @yarneo
/components/PageControl/          @randallli
/components/Palettes/             @jverkoey
/components/Ripple                @yarneo
/components/ShadowElevations/     @jverkoey
/components/ShadowLayer/          @jverkoey
/components/Snackbar/             @yarneo
/components/TextFields/           @andrewoverton
/components/Themes/               @jverkoey
