Repository material-components/material-components-ios, changes with the owners that CODEOWNERS names for each.
All owners: @material-components/core-ios-team, @codeman7, @yarneo, @jverkoey, @wenyuzhang666, @randallli, @galiak11, @iberezan, @andrewoverton, @jakerockland

[Catalog] Add highlight UIPointerInteraction to menu button on catalog home page.
  catalog/MDCCatalog/MDCCatalogComponentsController.swift
Owners: @material-components/core-ios-team

Add new fab anatomy pngs
  components/Buttons/docs/assets/extended-fab-anatomy.png
  components/Buttons/docs/assets/mini-fab-anatomy.png
  components/Buttons/docs/assets/regular-fab-anatomy.png
  components/Buttons/docs/fabs.md
Owners: @randallli

[AppBar] Fix AppBar from jumping when contentOffset updates when VoiceOver is on.
  components/AppBar/examples/AppBarWithExpandableCells.swift
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
Owners: @jverkoey

[ButtonBar] Set inkOffset when given asymmetric contentEdgeInsets.
  components/ButtonBar/src/private/MDCButtonBarButton.m
  components/ButtonBar/tests/unit/ButtonBarButtonContentEdgeInsetsTest.m
Owners: @material-components/core-ios-team

Add a minimum dialog width.
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
  components/Dialogs/tests/snapshot/MDCAlertControllerConfigurationsTests.m
Owners: @galiak11, @iberezan

Update FAB anatomy images
  components/Buttons/docs/assets/extended-fab-anatomy.png
  components/Buttons/docs/assets/mini-fab-anatomy.png
  components/Buttons/docs/assets/regular-fab-anatomy.png
Owners: @randallli

[ActionSheet] Mark all Themer APIs as to-be-deprecated.
  components/ActionSheet/src/ActionSheetThemer/MDCActionSheetThemer.h
  components/ActionSheet/src/ColorThemer/MDCActionSheetColorThemer.h
  components/ActionSheet/src/TypographyThemer/MDCActionSheetTypographyThemer.h
Owners: @codeman7

Fixing a repeated typo in comments "Default to" => "Defaults to".
  components/Dialogs/src/MDCAlertController.h
Owners: @galiak11, @iberezan

Add missing @c in several places of MDCAlertController.
  components/Dialogs/src/MDCAlertController.h
Owners: @galiak11, @iberezan

[Buttons] Add new fab anatomy pngs
  components/Buttons/docs/assets/extended-fab-anatomy.png
  components/Buttons/docs/assets/mini-fab-anatomy.png
  components/Buttons/docs/assets/regular-fab-anatomy.png
  components/Buttons/docs/fabs.md
Owners: @randallli

Update images again because they weren't using secondary theming before
  components/Buttons/docs/assets/extended-fab-anatomy.png
  components/Buttons/docs/assets/mini-fab-anatomy.png
  components/Buttons/docs/assets/regular-fab-anatomy.png
Owners: @randallli

Update images again because they weren't using secondary theming before
  components/Buttons/docs/assets/extended-fab-anatomy.png
  components/Buttons/docs/assets/mini-fab-anatomy.png
  components/Buttons/docs/assets/regular-fab-anatomy.png
Owners: @randallli

[Tabs] Add UIPointerInteraction support to MDCTabBarView.
  components/Tabs/src/TabBarView/MDCTabBarView.m
  components/Tabs/tests/unit/TabBarView/MDCTabBarViewTests.m
Owners: @material-components/core-ios-team

[Tabs] Add UIPointerInteraction support to MDCTabBar.
  components/Tabs/src/private/MDCItemBar.m
  components/Tabs/tests/unit/MDCItemBarTests.m
Owners: @material-components/core-ios-team

[BottomNavigation] Shrink UIPointerEffect frame size to fit content of navigation item views.
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/src/private/MDCBottomNavigationBar+Private.h
  components/BottomNavigation/src/private/MDCBottomNavigationItemView+Testing.h
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.h
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
  components/BottomNavigation/tests/unit/BottomNavigationItemViewTests.m
  components/BottomNavigation/tests/unit/MDCBottomNavigationBarTests.m
Owners: @material-components/core-ios-team

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

Update changelog.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Bump the release.
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

Grammar.
  CHANGELOG.md
Owners: @material-components/core-ios-team

[Buttons] Standardize all examples on the same <Component><Example>Example pattern.
  components/Buttons/examples/ButtonsCustomFontExample.swift
  components/Buttons/examples/ButtonsDynamicTypeExample.swift
  components/Buttons/examples/ButtonsShapesExample.m
  components/Buttons/examples/ButtonsStoryboardExample.swift
  components/Buttons/examples/ButtonsTypicalUseExample.m
  components/Buttons/examples/ButtonsTypicalUseSwiftExample.swift
  components/Buttons/examples/FloatingButtonTypicalUseExample.m
  components/Buttons/examples/FloatingButtonTypicalUseSwiftExample.swift
  components/Buttons/examples/supplemental/ButtonsTypicalUseSupplemental.h
  components/Buttons/examples/supplemental/ButtonsTypicalUseSupplemental.m
Owners: @randallli

[Buttons] Use static storage for all local consts.
  components/Buttons/examples/ButtonsTypicalUseExample.m
  components/Buttons/examples/FloatingButtonTypicalUseExample.m
Owners: @randallli

This change finishes adding TextControls examples to the internal Catalog.
  components/TextControls/examples/MDCTextControlTextFieldsStoryboardExample.swift
  components/TextControls/examples/supplemental/MDCTextControlTextAreaConfiguratorExample.m
  components/TextControls/examples/supplemental/MDCTextControlTextFieldConfiguratorExample.m
Owners: @material-components/core-ios-team

Fix broken link in Buttons docs
  components/Buttons/docs/fabs.md
Owners: @randallli

[Buttons] Standardize all test names on <Symbol><TestCategory>Tests.
  components/Buttons/tests/unit/MDCButtonColorThemerTests.m
  components/Buttons/tests/unit/MDCButtonCustomFontTest.m
  components/Buttons/tests/unit/MDCButtonInterfaceBuilderCompatibilityTests.m
  components/Buttons/tests/unit/MDCButtonRippleTests.m
  components/Buttons/tests/unit/MDCButtonShapeThemerTests.m
  components/Buttons/tests/unit/MDCButtonSubclassingTests.m
  components/Buttons/tests/unit/MDCButtonThemerTests.m
  components/Buttons/tests/unit/MDCButtonTitleColorAccessibilityMutatorTests.m
  components/Buttons/tests/unit/MDCButtonTypographyThemerTests.m
  components/Buttons/tests/unit/MDCFlatButtonTests.m
  components/Buttons/tests/unit/MDCFloatingButtonTests.m
  components/Buttons/tests/unit/MDCRaisedButtonTests.m
Owners: @randallli

[Buttons] Add a snapshot test for floating buttons in normal mode with a label.
  components/Buttons/tests/snapshot/MDCFloatingButtonSnapshotTests.m
Owners: @randallli

Clean up some comments.
  components/Dialogs/src/MDCAlertController+ButtonForAction.h
Owners: @galiak11, @iberezan

[Buttons] Add support to MDCFloatingButton for animating mode changes.
  components/Buttons/examples/FloatingButtonModeAnimationExample.m
  components/Buttons/src/MDCFloatingButton.h
  components/Buttons/src/MDCFloatingButton.m
  components/Buttons/src/private/MDCFloatingButtonModeAnimator.h
  components/Buttons/src/private/MDCFloatingButtonModeAnimator.m
  components/Buttons/src/private/MDCFloatingButtonModeAnimatorDelegate.h
  components/Buttons/tests/snapshot/MDCFloatingButtonSnapshotTests.m
  components/Buttons/tests/unit/MDCFloatingButtonModeAnimatorTests.m
Owners: @randallli

Fix a lot of formatting issues with material.io and some broken links
  components/Buttons/docs/assets/shrine-buttons.png
  components/Buttons/docs/assets/shrine-fabs.png
  components/Buttons/docs/buttons.md
  components/Buttons/docs/fabs.md
Owners: @randallli

Fix broken link for buttons shapes docs
  docs/supporting-shapes/README.md
Owners: @material-components/core-ios-team

[Buttons] Fix a lot of formatting issues with material.io and some broken links
  components/Buttons/docs/assets/shrine-buttons.png
  components/Buttons/docs/assets/shrine-fabs.png
  components/Buttons/docs/buttons.md
  components/Buttons/docs/fabs.md
  docs/supporting-shapes/README.md
Owners: @randallli, @material-components/core-ios-team

[Dialogs] Resolve issue with sizing a dialog's accessoryView.
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Owners: @galiak11, @iberezan

[Dialogs] Adding accessory view tests
  components/Dialogs/tests/snapshot/MDCAlertControllerAccessoryTests.m
Owners: @galiak11, @iberezan

[BottomSheet] Deprecate the ShapeThemer.
  components/BottomSheet/src/ShapeThemer/MDCBottomSheetControllerShapeThemer.h
Owners: @yarneo

[Dialogs] Add a Testing target
  components/Dialogs/src/Testing/MDCAlertController+Testing.h
  components/Dialogs/src/Testing/MDCAlertController+Testing.m
Owners: @galiak11, @iberezan

[Dialogs] Using Testing target in configuration snapshots.
  components/Dialogs/tests/snapshot/MDCAlertControllerConfigurationsTests.m
Owners: @galiak11, @iberezan

[Dialogs] Disable broken test.
  components/Dialogs/tests/unit/MDCAlertControllerInsetsTests.m
Owners: @galiak11, @iberezan

[Dialogs] Using the new Testing target in insets unit tests.
  components/Dialogs/tests/unit/MDCAlertControllerInsetsTests.m
Owners: @galiak11, @iberezan

[Dialogs] Using the new Testing target in insets snapshots.
  components/Dialogs/tests/snapshot/MDCAlertControllerInsetsTests.m
Owners: @galiak11, @iberezan

[Dialogs] Using the new Testing target in actions snapshots.
  components/Dialogs/tests/snapshot/MDCAlertControllerActionsTests.m
Owners: @galiak11, @iberezan

[ActionSheet] Add UIPointerInteraction support for actions..
  components/ActionSheet/src/private/MDCActionSheetItemTableViewCell.m
  components/ActionSheet/tests/unit/MDCActionSheetTableCellTest.m
Owners: @codeman7

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
**       @material-components/core-ios-team

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
/components/ActionSheet/          @codeman7
/components/AnimationTiming/      @yarneo
/components/AppBar/               @jverkoey
/components/BottomAppBar/         @wenyuzhang666
/components/BottomSheet/          @yarneo
/components/Buttons/              @randallli
/components/Cards/                @yarneo
/components/CollectionCells/      @yarneo
/components/CollectionLayoutAttributes/ @jverkoey
/components/Collections/          @jverkoey
/components/Dialogs/              @galiak11 @iberezan
/components/FeatureHighlight/     @codeman7
/components/FlexibleHeader/       @jverkoey
/components/HeaderStackView/      @jverkoey
/components/Ink/                  @yarneo
/components/LibraryInfo/          @jverkoey
/components/List                  @andrewoverton
/components/MaskedTransition/     @jverkoey
/components/NavigationBar/        @yarneo @jverkoey
/components/NavigationDrawer/     @yarneo @jakerockland
/components/OverlayWindow/        @yarneo
/components/PageControl/          @randallli
/components/Palettes/             @jverkoey
/components/Ripple                @yarneo
/components/ShadowElevations/     @jverkoey
/components/ShadowLayer/          @jverkoey
/components/Snackbar/             @yarneo
/components/TextFields/           @andrewoverton
/components/Themes/               @jverkoey
