Repository material-components/material-components-ios, changes with the owners that CODEOWNERS names for each.
All owners: @material-components/core-ios-team, @codeman7, @yarneo, @jverkoey, @wenyuzhang666, @randallli, @galiak11, @iberezan, @andrewoverton, @jakerockland

Make all snackbars with actions persist until explicitly dismissed
  components/Snackbar/src/MDCSnackbarManager.m
  components/Snackbar/src/MDCSnackbarMessage.h
  components/Snackbar/tests/unit/MDCSnackbarMessageViewTests.m
  components/Snackbar/tests/unit/MDCSnackbarShowMessageErrorTests.m
Owners: @yarneo

Expose some API in snackbar public header
  components/Snackbar/src/MDCSnackbarMessageView.h
  components/Snackbar/src/private/MDCSnackbarMessageViewInternal.h
Owners: @yarneo

#NavigationSuite Fix largeItemContentViewer in NavigationRail layout
  components/BottomNavigation/src/MDCBottomNavigationBar.m
Owners: @material-components/core-ios-team

#Dialog Update dialog layout when trait collection changes
  components/Dialogs/src/MDCAlertController.m
Owners: @galiak11, @iberezan

Fix issue with setting colors.
  components/M3CTextField/src/M3CTextField.swift
Owners: @material-components/core-ios-team

#ChatNotificationsOptOutAwareness set auto layout so the header view can dynamic update when font size changes.
  components/Banner/src/MDCBannerView.m
Owners: @material-components/core-ios-team

[Typography] Delete unused display font styles.
  components/Typography/examples/TypographyCustomFontViewController.m
  components/Typography/examples/TypographyMaterialStylesViewController.m
  components/Typography/src/MDCFontTextStyle.h
  components/Typography/src/private/MDCFontTraits.m
  components/Typography/tests/unit/TypographyTests.m
  components/Typography/tests/unit/UIFont+MaterialTypographyTests.m
Owners: @material-components/core-ios-team

[Banner] Remove dependency on MDCTypography.
  components/Banner/src/MDCBannerView.m
Owners: @material-components/core-ios-team

[Typography] Remove font loader setter.
  components/Typography/src/FontLoader/MDCTypographyFontLoader.h
  components/Typography/src/MDCTypography.m
  components/Typography/tests/unit/FontLoaderTests.m
Owners: @material-components/core-ios-team

#MDC Delete failing unit tests due to xcode 15.1
  components/Banner/tests/unit/MDCBannerViewThemingTests.m
  components/ShadowLayer/tests/unit/ShadowLayerTests.m
Owners: @material-components/core-ios-team, @jverkoey

[Collections] Remove defunct test.
  components/Collections/tests/unit/CollectionsStylerTests.m
Owners: @jverkoey

#MDC Delete failing Dialog tests
  components/Dialogs/tests/unit/MDCAlertControllerTests.m
  components/Dialogs/tests/unit/MDCAlertControllerTypographyThemerTests.m
  components/Dialogs/tests/unit/MDCDialogPresentationControllerTests.m
Owners: @galiak11, @iberezan

Internal change
  components/Dialogs/src/MDCAlertControllerView.h
  components/Dialogs/src/private/MDCAlertControllerView+Private.h
Owners: @galiak11, @iberezan

[ActionSheet] Remove defunct tests.
  components/ActionSheet/tests/snapshot/MDCActionSheetCustomTraitCollectionTests.m
Owners: @codeman7

Delete flaky tests.
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationLargeItemDialogViewSnapshotTests.m
  components/Snackbar/examples/SnackbarOverlayViewExample.m
  components/Snackbar/examples/SnackbarSimpleExample.m
Owners: @material-components/core-ios-team, @yarneo

Add circular stop and gap to Determinant Progress View.
  components/ProgressView/src/MDCProgressView.h
  components/ProgressView/src/MDCProgressView.m
  components/ProgressView/src/private/MDCProgressGradientView.m
Owners: @material-components/core-ios-team

[ActionSheet] Delete flaky test.
  components/ActionSheet/tests/snapshot/MDCActionSheetControllerSnapshotTests.m
Owners: @codeman7

[ActivityIndicator] Delete flaky tests.
  components/ActivityIndicator/examples/ActivityIndicatorExampleViewController.m
  components/ActivityIndicator/examples/ActivityIndicatorSwiftExampleViewController.swift
  components/ActivityIndicator/examples/ActivityIndicatorTransitionExampleViewController.m
  components/ActivityIndicator/examples/supplemental/ActivityIndicatorExampleTableViewCell.h
  components/ActivityIndicator/examples/supplemental/ActivityIndicatorExampleTableViewCell.m
  components/ActivityIndicator/examples/supplemental/ActivityIndicatorExampleViewControllerSupplemental.h
  components/ActivityIndicator/examples/supplemental/ActivityIndicatorExampleViewControllerSupplemental.m
Owners: @material-components/core-ios-team

Change Determinate NTC Branch animations to use `fillModeForwards`, and update `_progress` in `animationDidStop`.
  components/ProgressView/src/MDCProgressView.m
Owners: @material-components/core-ios-team

[Buttons] Delete flaky shaped buttons example.
  components/Buttons/examples/ButtonsShapesExample.m
  components/Buttons/examples/supplemental/ButtonsTypicalUseSupplemental.m
Owners: @randallli

Updates "left" to "leading" and "right" to "trailing" for action layout discussion.
  components/Dialogs/src/MDCAlertController.h
Owners: @galiak11, @iberezan

Internal change.
  components/Tabs/src/TabBarView/private/MDCTabBarViewIndicatorView.m
Owners: @material-components/core-ios-team

Add UIAccessibilityCustomAction for Chip deletion.
  components/Chips/src/Chips.bundle/Resources/en.lproj/Chips.strings
  components/Chips/src/MDCChipField.m
Owners: @material-components/core-ios-team

Internal Change
  catalog/MDCActionExtension/Assets.xcassets/ExtensionIcon.appiconset/logo_components_ios-20@2x.png
  catalog/MDCActionExtension/Assets.xcassets/ExtensionIcon.appiconset/logo_components_ios-20@3x.png
  catalog/MDCActionExtension/Assets.xcassets/ExtensionIcon.appiconset/logo_components_ios-60@2x.png
  catalog/MDCActionExtension/Assets.xcassets/ExtensionIcon.appiconset/logo_components_ios-60@3x.png
  catalog/MDCActionExtension/Assets.xcassets/ExtensionIcon.appiconset/logo_components_ios-76@2x.png
  catalog/MDCActionExtension/Assets.xcassets/ExtensionIcon.appiconset/logo_components_ios-83.5@2x.png
  catalog/MDCActionExtension/Assets.xcassets/ExtensionIcon.appiconset/logo_components_ios-Small-40@2x.png
  catalog/MDCActionExtension/Assets.xcassets/ExtensionIcon.appiconset/logo_components_ios-Small-40@3x.png
  catalog/MDCActionExtension/Assets.xcassets/ExtensionIcon.appiconset/logo_components_ios-Small@2x.png
  catalog/MDCActionExtension/Assets.xcassets/ExtensionIcon.appiconset/logo_components_ios-Small@3x.png
  catalog/MDCActionExtension/Assets.xcassets/ExtensionIcon.appiconset/logo_components_ios-iTunesArtwork@2x.png
  catalog/MDCCatalog/Assets.xcassets/AppIcon.appiconset/logo_components_ios-20@2x.png
  catalog/MDCCatalog/Assets.xcassets/AppIcon.appiconset/logo_components_ios-20@3x.png
  catalog/MDCCatalog/Assets.xcassets/AppIcon.appiconset/logo_components_ios-60@2x.png
  catalog/MDCCatalog/Assets.xcassets/AppIcon.appiconset/logo_components_ios-60@3x.png
  catalog/MDCCatalog/Assets.xcassets/AppIcon.appiconset/logo_components_ios-76@2x.png
  catalog/MDCCatalog/Assets.xcassets/AppIcon.appiconset/logo_components_ios-83.5@2x.png
  catalog/MDCCatalog/Assets.xcassets/AppIcon.appiconset/logo_components_ios-Small-40@2x.png
  catalog/MDCCatalog/Assets.xcassets/AppIcon.appiconset/logo_components_ios-Small-40@3x.png
  catalog/MDCCatalog/Assets.xcassets/AppIcon.appiconset/logo_components_ios-Small@2x.png
  catalog/MDCCatalog/Assets.xcassets/AppIcon.appiconset/logo_components_ios-Small@3x.png
  catalog/MDCCatalog/Assets.xcassets/AppIcon.appiconset/logo_components_ios-iTunesArtwork@2x.png
  catalog/MDCCatalog/Assets.xcassets/AppIconInverse.appiconset/logo_components_ios_48dp-20@2x.png
  catalog/MDCCatalog/Assets.xcassets/AppIconInverse.appiconset/logo_components_ios_48dp-20@3x.png
  catalog/MDCCatalog/Assets.xcassets/AppIconInverse.appiconset/logo_components_ios_48dp-60@2x.png
  catalog/MDCCatalog/Assets.xcassets/AppIconInverse.appiconset/logo_components_ios_48dp-60@3x.png
  catalog/MDCCatalog/Assets.xcassets/AppIconInverse.appiconset/logo_components_ios_48dp-76@2x.png
  catalog/MDCCatalog/Assets.xcassets/AppIconInverse.appiconset/logo_components_ios_48dp-83.5@2x.png
  catalog/MDCCatalog/Assets.xcassets/AppIconInverse.appiconset/logo_components_ios_48dp-Small-40@2x.png
  catalog/MDCCatalog/Assets.xcassets/AppIconInverse.appiconset/logo_components_ios_48dp-Small-40@3x.png
  catalog/MDCCatalog/Assets.xcassets/AppIconInverse.appiconset/logo_components_ios_48dp-Small@2x.png
  catalog/MDCCatalog/Assets.xcassets/AppIconInverse.appiconset/logo_components_ios_48dp-Small@3x.png
  catalog/MDCCatalog/Assets.xcassets/AppIconInverse.appiconset/logo_components_ios_48dp-iTunesArtwork@2x.png
Owners: @material-components/core-ios-team

Delete TabBar Theming.
  components/Tabs/examples/BottomNavigationBarExample.m
  components/Tabs/examples/TabBarIconExample.m
  components/Tabs/examples/TabBarIconExample.swift
  components/Tabs/examples/TabBarIndicatorTemplateExample.swift
  components/Tabs/examples/TabBarInterfaceBuilderExample.m
  components/Tabs/examples/TabBarTextOnlyExample.m
  components/Tabs/examples/TabBarViewControllerExample.m
  components/Tabs/examples/TabBarViewControllerInterfaceBuilderExample.m
  components/Tabs/examples/supplemental/TabBarIconExampleSupplemental.h
  components/Tabs/examples/supplemental/TabBarIconExampleSupplemental.m
  components/Tabs/examples/supplemental/TabBarIconExampleSupplemental.swift
  components/Tabs/examples/supplemental/TabBarIndicatorTemplateExampleSupplemental.swift
  components/Tabs/examples/supplemental/TabBarTextOnlyExampleSupplemental.h
  components/Tabs/examples/supplemental/TabBarTextOnlyExampleSupplemental.m
  components/Tabs/examples/supplemental/TabBarViewControllerExampleSupplemental.h
  components/Tabs/examples/supplemental/TabBarViewControllerExampleSupplemental.m
  components/Tabs/src/Theming/MDCTabBar+MaterialTheming.h
  components/Tabs/src/Theming/MDCTabBar+MaterialTheming.m
  components/Tabs/src/Theming/MaterialTabs+Theming.h
  components/Tabs/tests/snapshot/MDCTabBarDynamicColorSnapshotTests.m
  components/Tabs/tests/snapshot/MDCTabBarExtendedAlignmentSnapshotTests.m
  components/Tabs/tests/snapshot/MDCTabBarSizeClassDelegateSnapshotTests.m
  components/Tabs/tests/snapshot/Theming/MDCTabBar_MaterialThemingSnapshotTests.m
  components/Tabs/tests/unit/TabsThemingTests.m
Owners: @material-components/core-ios-team

#Tabs Add nullability annotations
  components/Tabs/src/TabBarView/MDCTabBarItem.h
  components/Tabs/src/TabBarView/MDCTabBarItem.m
  components/Tabs/src/TabBarView/MDCTabBarItemCustomViewing.h
  components/Tabs/src/TabBarView/MDCTabBarView.h
  components/Tabs/src/TabBarView/MDCTabBarView.m
  components/Tabs/src/TabBarView/MDCTabBarViewCustomViewable.h
  components/Tabs/src/TabBarView/MDCTabBarViewDelegate.h
  components/Tabs/src/TabBarView/MDCTabBarViewIndicatorAttributes.h
  components/Tabs/src/TabBarView/MDCTabBarViewIndicatorAttributes.m
  components/Tabs/src/TabBarView/MDCTabBarViewIndicatorContext.h
  components/Tabs/src/TabBarView/MDCTabBarViewIndicatorTemplate.h
  components/Tabs/src/TabBarView/MDCTabBarViewUnderlineIndicatorTemplate.h
  components/Tabs/src/TabBarView/MDCTabBarViewUnderlineIndicatorTemplate.m
  components/Tabs/src/TabBarView/private/MDCTabBarViewIndicatorView.h
  components/Tabs/src/TabBarView/private/MDCTabBarViewIndicatorView.m
  components/Tabs/src/TabBarView/private/MDCTabBarViewItemView.h
  components/Tabs/src/TabBarView/private/MDCTabBarViewItemView.m
  components/Tabs/src/TabBarView/private/MDCTabBarViewItemViewDelegate.h
  components/Tabs/src/TabBarView/private/MDCTabBarViewPrivateIndicatorContext.h
  components/Tabs/src/TabBarView/private/MDCTabBarViewPrivateIndicatorContext.m
Owners: @material-components/core-ios-team

#Tabs Add `IconSize` parameter to `MDCTabBarView`
  components/Tabs/src/TabBarView/MDCTabBarView.h
  components/Tabs/src/TabBarView/MDCTabBarView.m
  components/Tabs/src/TabBarView/private/MDCTabBarViewItemView.h
  components/Tabs/src/TabBarView/private/MDCTabBarViewItemView.m
Owners: @material-components/core-ios-team

[ChipField] Fix reflow layout bug with text field in tight spaces.
  components/Chips/src/MDCChipField.m
Owners: @material-components/core-ios-team

[Chips] Allow chips to be selected in MDCChipField.
  components/Chips/src/MDCChipField.m
Owners: @material-components/core-ios-team

[Snackbar] Fix dismissalAccessibilityAffordance not performing action on double tap.
  components/Snackbar/src/MDCSnackbarMessageView.m
Owners: @yarneo

Update the selectedImageView's tint when the tintColor changes
  components/Chips/src/MDCChipView.m
Owners: @material-components/core-ios-team

[Dialog/Codehealth] Allow M3CButton's title in the dialog to wrap to accommodate larger accessibility font sizes and longer strings.
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Owners: @galiak11, @iberezan

Update delegate method documentation comments for accuracy.
  components/Dialogs/src/MDCAlertControllerDelegate.h
Owners: @galiak11, @iberezan

Update Material iOS to compile for visionOS
  components/AppBar/src/MDCAppBarNavigationController.m
  components/Buttons/src/MDCButton.m
  components/CollectionCells/src/MDCCollectionViewTextCell.m
  components/Collections/src/private/MDCCollectionInfoBarView.m
  components/Collections/src/private/MDCCollectionViewEditor.m
  components/Collections/src/private/MDCCollectionViewStyler.m
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
  components/FlexibleHeader/src/MDCFlexibleHeaderViewController.m
  components/FlexibleHeader/src/private/MDCFlexibleHeaderHairline.m
  components/FlexibleHeader/src/private/MDCStatusBarShifter.m
  components/NavigationBar/src/MDCNavigationBar.m
  components/ProgressView/src/MDCProgressView.m
  components/Typography/src/UIFontDescriptor+MaterialTypography.m
  components/Typography/src/private/MDCTypographyUtilities.m
  components/private/KeyboardWatcher/src/MDCKeyboardWatcher.m
  components/private/UIMetrics/src/MDCLayoutMetrics.m
Owners: @jverkoey, @randallli, @yarneo, @material-components/core-ios-team

Add explicit imports for CoreGraphics in files which use it.
  components/CollectionLayoutAttributes/src/MDCCollectionViewLayoutAttributes.m
Owners: @jverkoey

Add explicit imports for CoreGraphics in files which use it.
  components/ProgressView/src/MDCProgressView.m
  components/ProgressView/src/private/MDCProgressGradientView.m
  components/ProgressView/src/private/MDCProgressLayerView.m
  components/ProgressView/tests/snapshot/MDCProgressViewSnapshotTests.m
  components/ProgressView/tests/unit/ProgressViewMaterialThemingTests.m
  components/ProgressView/tests/unit/ProgressViewProgressWithoutScreenTests.m
  components/ProgressView/tests/unit/ProgressViewTests.m
Owners: @material-components/core-ios-team

Importing classes used by test.
  components/private/Icons/tests/unit/MDCIconsTests.m
Owners: @material-components/core-ios-team

Add explicit imports for CoreGraphics in files which use it.
  components/Ink/src/MDCInkGestureRecognizer.m
  components/Ink/src/MDCInkTouchController.m
  components/Ink/src/MDCInkView.m
  components/Ink/src/private/MDCInkLayer.m
  components/Ink/src/private/MDCLegacyInkLayer.m
  components/Ink/tests/snapshot/MDCInkViewSnapshotTests.m
  components/Ink/tests/unit/MDCInkLayerTests.m
  components/Ink/tests/unit/MDCInkViewTests.m
  components/Ink/tests/unit/MDCLegacyInkLayerTests.m
Owners: @yarneo

Add explicit imports for CoreGraphics in files which use it.
  components/PageControl/src/MDCPageControl.m
  components/PageControl/src/private/MDCPageControlIndicator.m
  components/PageControl/src/private/MDCPageControlTrackLayer.m
  components/PageControl/tests/unit/PageControlExampleTests.m
Owners: @randallli

Add explicit imports for CoreGraphics in files which use it.
  components/Ripple/examples/RippleTypicalUseExample.m
  components/Ripple/examples/supplemental/RippleExampleSupplemental.m
  components/Ripple/src/MDCRippleTouchController.m
  components/Ripple/src/MDCRippleView.m
  components/Ripple/src/private/MDCRippleLayer.m
  components/Ripple/tests/snapshot/MDCRippleViewSnapshotTests.m
  components/Ripple/tests/snapshot/MDCStatefulRippleViewSnapshotTests.m
  components/Ripple/tests/unit/MDCRippleLayerTests.m
  components/Ripple/tests/unit/MDCRippleTouchControllerTests.m
  components/Ripple/tests/unit/MDCRippleViewAtTouchLocationDelegateTests.m
  components/Ripple/tests/unit/MDCRippleViewTests.m
  components/Ripple/tests/unit/MDCRippleViewUsesSuperviewShadowLayerAsMaskTests.m
Owners: @yarneo

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
**       @material-components/core-ios-team

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
/components/ActionSheet/          @codeman7
/components/AnimationTiming/      @yarneo
/components/AppBar/               @jverkoey
/components/BottomAppBar/         @wenyuzhang666
/components/BottomSheet/          @yarneo
/components/Buttons/              @randallli
/components/Cards/                @yarneo
/components/CollectionCells/      @yarneo
/components/CollectionLayoutAttributes/ @jverkoey
/components/Collections/          @jverkoey
/components/Dialogs/              @galiak11 @iberezan
/components/FeatureHighlight/     @codeman7
/components/FlexibleHeader/       @jverkoey
/components/HeaderStackView/      @jverkoey
/components/Ink/                  @yarneo
/components/LibraryInfo/          @jverkoey
/components/List                  @andrewoverton
/components/MaskedTransition/     @jverkoey
/components/NavigationBar/        @yarneo @jverkoey
/components/NavigationDrawer/     @yarneo @jakerockland
/components/OverlayWindow/        @yarneo
/components/PageControl/          @randallli
/components/Palettes/             @jverkoey
/components/Ripple                @yarneo
/components/ShadowElevations/     @jverkoey
/components/ShadowLayer/          @jverkoey
/components/Snackbar/             @yarneo
/components/TextFields/           @andrewoverton
/components/Themes/               @jverkoey
