Repository material-components/material-components-ios, changes with the owners that CODEOWNERS names for each.
All owners: @material-components/core-ios-team, @codeman7, @yarneo, @jverkoey, @wenyuzhang666, @randallli, @galiak11, @iberezan, @andrewoverton, @jakerockland

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
**       @material-components/core-ios-team

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
/components/ActionSheet/          @codeman7
/components/AnimationTiming/      @yarneo
/components/AppBar/               @jverkoey
/components/BottomAppBar/         @wenyuzhang666
/components/BottomSheet/          @yarneo
/components/Buttons/              @randallli
/components/Cards/                @yarneo
/components/CollectionCells/      @yarneo
/components/CollectionLayoutAttributes/ @jverkoey
/components/Collections/          @jverkoey
/components/Dialogs/              @galiak11 @iberezan
/components/FeatureHighlight/     @codeman7
/components/FlexibleHeader/       @jverkoey
/components/HeaderStackView/      @jverkoey
/components/Ink/                  @yarneo
/components/LibraryInfo/          @jverkoey
/components/List                  @andrewoverton
/components/MaskedTransition/     @jverkoey
/components/NavigationBar/        @yarneo @jverkoey
/components/NavigationDrawer/     @yarneo @jakerockland
/components/OverlayWindow/        @yarneo
/components/PageControl/          @randallli
/components/Palettes/             @jverkoey
/components/Ripple                @yarneo
/components/ShadowElevations/     @jverkoey
/components/ShadowLayer/          @jverkoey
/components/Snackbar/             @yarneo
/components/TextFields/           @andrewoverton
/components/Themes/               @jverkoey

[MDCFlexibleHeader] Redefine topSafeAreaGuide as a UIView.
  components/FlexibleHeader/src/MDCFlexibleHeaderView.h
Owners: @jverkoey

Optimizing imports
  components/Buttons/tests/unit/MDCButtonAlphaTests.m
  components/Buttons/tests/unit/MDCButtonColorThemerTests.m
  components/Buttons/tests/unit/MDCButtonInterfaceBuilderCompatibilityTests.m
  components/Buttons/tests/unit/MDCButtonRippleTests.m
  components/Buttons/tests/unit/MDCButtonShapeThemerTests.m
  components/Buttons/tests/unit/MDCButtonSubclassingTests.m
  components/Buttons/tests/unit/MDCButtonThemerTests.m
  components/Buttons/tests/unit/MDCButtonTypographyThemerTests.m
  components/Dialogs/tests/unit/MDCAlertActionManagerTests.m
  components/Dialogs/tests/unit/MDCAlertControllerColorThemerTests.m
  components/Dialogs/tests/unit/MDCAlertControllerCustomizationTests.m
  components/Dialogs/tests/unit/MDCAlertControllerInsetsTests.m
  components/Dialogs/tests/unit/MDCAlertControllerRippleTests.m
  components/Dialogs/tests/unit/MDCAlertControllerTests.m
  components/Dialogs/tests/unit/MDCAlertControllerTypographyThemerTests.m
  components/TextControls/examples/supplemental/MDCTextControlConfiguratorExample.m
  components/TextControls/examples/supplemental/MDCTextControlContentViewController.m
  components/TextControls/examples/supplemental/MDCTextControlTextAreaConfiguratorExample.m
  components/TextControls/examples/supplemental/MDCTextControlTextAreaContentViewController.m
  components/TextControls/examples/supplemental/MDCTextControlTextFieldConfiguratorExample.m
  components/TextControls/examples/supplemental/MDCTextControlTextFieldContentViewController.m
Owners: @randallli, @galiak11, @iberezan, @material-components/core-ios-team

[Material-iOS/Buttons] Internal change
  components/Buttons/src/MDCButton.m
  components/Buttons/tests/snapshot/MDCButtonSnapshotTests.m
Owners: @randallli

Optimizing imports
  components/BottomSheet/examples/BottomSheetAutolayoutExample.m
  components/BottomSheet/examples/BottomSheetDismissOnDraggingDownExample.m
  components/BottomSheet/examples/BottomSheetModalPresentationExample.m
  components/BottomSheet/examples/BottomSheetPresentationControllerDelegateExample.m
  components/BottomSheet/examples/BottomSheetShapedExample.m
  components/BottomSheet/examples/BottomSheetTypicalUseExample.m
  components/FlexibleHeader/tests/unit/FlexibleHeaderHeightLegacySafeAreaBehaviorTests.m
  components/FlexibleHeader/tests/unit/FlexibleHeaderHeightTests.m
  components/FlexibleHeader/tests/unit/FlexibleHeaderMinMaxHeightIncludesSafeAreaTests.m
  components/FlexibleHeader/tests/unit/FlexibleHeaderMinMaxHeightTests.m
  components/FlexibleHeader/tests/unit/FlexibleHeaderShifterTests.m
  components/FlexibleHeader/tests/unit/FlexibleHeaderTopSafeAreaTests.m
  components/NavigationBar/examples/NavigationBarIconsExample.m
  components/NavigationBar/examples/NavigationBarLayoutExample.m
  components/NavigationBar/examples/NavigationBarRTLIcons.m
  components/NavigationBar/examples/NavigationBarTypicalUseExample.m
  components/NavigationBar/examples/NavigationBarWithBarItemsExample.m
  components/NavigationBar/examples/NavigationbarWithCustomFont.m
Owners: @yarneo, @jverkoey

Optimizing imports
  components/AppBar/examples/AppBarImageryExample.m
  components/AppBar/examples/AppBarInterfaceBuilderExampleController.m
  components/AppBar/examples/AppBarModalPresentationExample.m
  components/AppBar/examples/AppBarPresentedExample.m
  components/AppBar/examples/AppBarPresentedHiddenExample.m
  components/AppBar/examples/AppBarSectionHeadersExample.m
  components/AppBar/examples/AppBarTypicalCollectionViewExample.m
  components/AppBar/examples/AppBarTypicalUseExample.m
  components/AppBar/examples/AppBarWKWebViewLargeContentExample.m
  components/AppBar/examples/AppBarWKWebViewLargeContentNoBugExample.m
  components/AppBar/examples/AppBarWKWebViewSmallContentBugExample.m
  components/AppBar/examples/AppBarWKWebViewSmallContentExample.m
  components/AppBar/examples/AppBarWrappedExample.m
  components/AppBar/examples/AppBarWrappingUITableViewControllerExample.m
Owners: @jverkoey

Optimizing imports
  components/Collections/examples/CollectionsALaCarteExample.m
  components/Collections/examples/CollectionsAppearanceAnimationExample.m
  components/Collections/examples/CollectionsCellAccessoryExample.m
  components/Collections/examples/CollectionsCellColorExample.m
  components/Collections/examples/CollectionsCellSeparatorExample.m
  components/Collections/examples/CollectionsEditingExample.m
  components/Collections/examples/CollectionsEditingManyCellsExample.m
  components/Collections/examples/CollectionsEmptySections.m
  components/Collections/examples/CollectionsGridExample.m
  components/Collections/examples/CollectionsHeaderFooterExample.m
  components/Collections/examples/CollectionsInkExample.m
  components/Collections/examples/CollectionsInlayExample.m
  components/Collections/examples/CollectionsSectionInsetsExample.m
  components/Collections/examples/CollectionsSimpleDemo.m
  components/Collections/examples/CollectionsStoryboardExample.m
  components/Collections/examples/CollectionsSwipeToDismissRowExample.m
  components/Collections/examples/CollectionsSwipeToDismissSectionExample.m
Owners: @jverkoey

Optimizing imports
  catalog/MaterialCatalog/MDCCatalogTiles.m
  components/AppBar/src/MDCAppBarContainerViewController.m
  components/AppBar/src/MDCAppBarNavigationController.m
  components/AppBar/src/MDCAppBarViewController.m
  components/ButtonBar/examples/ButtonBarCustomizedFontExample.m
  components/ButtonBar/examples/ButtonBarMenuExample.m
  components/ButtonBar/examples/ButtonBarTypicalUseExample.m
  components/Buttons/src/ButtonThemer/MDCButtonScheme.m
  components/Buttons/src/ButtonThemer/MDCContainedButtonThemer.m
  components/Buttons/src/ButtonThemer/MDCTextButtonThemer.m
  components/Cards/src/MDCCard.m
  components/Cards/src/MDCCardCollectionCell.m
  components/Cards/src/UICollectionViewController+MDCCardReordering.m
  components/TextFields/examples/TextFieldControllerStylesExample.m
  components/TextFields/examples/TextFieldOutlinedExample.m
  components/Typography/src/MDCFontScaler.m
  components/Typography/src/UIFont+MaterialScalable.m
  components/schemes/Shape/examples/MDCShapeSchemeExampleViewController.m
  components/schemes/Shape/examples/MDCShapeWithBorderExample.m
  components/schemes/Shape/src/MDCShapeCategory.m
  components/schemes/Shape/src/MDCShapeScheme.m
Owners: @material-components/core-ios-team, @jverkoey, @randallli, @yarneo, @andrewoverton

Optimizing imports
  components/List/src/Theming/MDCBaseCell+MaterialTheming.m
  components/List/src/Theming/MDCSelfSizingStereoCell+MaterialTheming.m
  components/NavigationBar/tests/unit/NavigationBarRippleTests.m
  components/NavigationBar/tests/unit/NavigationBarTests.m
  components/NavigationDrawer/tests/unit/MDCNavigationDrawerScrollViewTests.m
  components/NavigationDrawer/tests/unit/MDCNavigationDrawerThemeTest.m
  components/Ripple/tests/unit/MDCRippleLayerTests.m
  components/ShadowElevations/examples/ShadowElevationsPointsLabel.m
  components/ShadowElevations/examples/ShadowElevationsTypicalUseExample.m
  components/ShadowLayer/examples/ShadowCornerRadiusExample.m
  components/ShadowLayer/examples/ShadowRadiusLabel.m
  components/Slider/examples/SliderAutolayoutExampleViewController.m
  components/Slider/examples/SliderCollectionViewController.m
  components/Snackbar/src/MDCSnackbarManager.m
  components/Snackbar/src/MDCSnackbarMessageView.m
  components/Snackbar/tests/unit/MDCSnackbarRippleTests.m
  components/Snackbar/tests/unit/SnackbarManagerTests.m
  components/Tabs/src/MDCTabBar.m
  components/Tabs/src/MDCTabBarViewController.m
  components/Tabs/src/TabBarView/private/MDCTabBarViewItemView.m
  components/Tabs/src/TabBarView/private/MDCTabBarViewPrivateIndicatorContext.m
  components/Tabs/tests/snapshot/MDCTabBarDynamicColorSnapshotTests.m
  components/Tabs/tests/snapshot/MDCTabBarExtendedAlignmentSnapshotTests.m
Owners: @andrewoverton, @yarneo, @jverkoey, @jakerockland, @material-components/core-ios-team

Optimizing imports
  components/Cards/tests/snapshot/MDCCardCustomTraitCollectionSnapshotTests.m
  components/Cards/tests/snapshot/MDCCardSnapshotTests.m
  components/Chips/src/MDCChipField.m
  components/Chips/src/MDCChipView.m
  components/Collections/examples/supplemental/CollectionsEditingManyCellsExampleSupplemental.m
  components/Collections/examples/supplemental/CollectionsSectionInsetsExampleSupplemental.m
  components/Collections/src/MDCCollectionViewController.m
  components/Collections/src/MDCCollectionViewFlowLayout.m
  components/Dialogs/src/MDCDialogPresentationController.m
  components/Dialogs/src/Theming/MDCAlertController+MaterialTheming.m
  components/Dialogs/src/Theming/MDCDialogPresentationController+MaterialTheming.m
  components/Dialogs/src/private/MDCAlertActionManager.m
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
  components/FeatureHighlight/tests/unit/FeatureHighlightAccessibilityTests.m
  components/FeatureHighlight/tests/unit/FeatureHighlightColorThemerTests.m
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
  components/FlexibleHeader/src/MDCFlexibleHeaderViewController.m
  components/FlexibleHeader/src/private/MDCFlexibleHeaderShifter.m
  components/FlexibleHeader/src/private/MDCFlexibleHeaderTopSafeArea.m
  components/Ink/tests/unit/MDCInkLayerTests.m
  components/Ink/tests/unit/MDCLegacyInkLayerTests.m
  components/List/examples/MDCBaseCellExample.m
  components/List/examples/MDCSelfSizingStereoCellExample.m
Owners: @yarneo, @material-components/core-ios-team, @jverkoey, @galiak11, @iberezan, @codeman7, @andrewoverton

[Buttons] Add inferMinimumAndMaximumSizeWhenMultiline
  components/Buttons/src/MDCButton.h
  components/Buttons/src/MDCButton.m
  components/Buttons/tests/snapshot/MDCButtonSnapshotTests.m
Owners: @randallli

Optimizing imports
  components/Tabs/src/MDCTabBar.m
Owners: @material-components/core-ios-team

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

Add missing podspec dependencies that were causing linker failures in MDCCatalog.
  MaterialComponentsExamples.podspec
Owners: @material-components/core-ios-team

Write release notes.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Bump the release.
  MaterialComponents.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

Minor changelog updates.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Optimizing imports
  components/BottomSheet/src/ShapeThemer/MDCBottomSheetControllerShapeThemer.m
  components/BottomSheet/tests/unit/BottomSheetTests.m
  components/Buttons/src/ShapeThemer/MDCButtonShapeThemer.m
  components/Buttons/src/TypographyThemer/MDCButtonTypographyThemer.m
  components/Buttons/src/private/MDCFloatingButtonModeAnimator.m
  components/Cards/examples/supplemental/CardTintExampleCell.m
  components/Cards/tests/unit/MDCCardTests.m
  components/Chips/src/Theming/MDCChipView+MaterialTheming.m
  components/Collections/tests/localization/CollectionsLocalizationTests.m
  components/Dialogs/src/ColorThemer/MDCAlertColorThemer.m
  components/Dialogs/src/Testing/MDCAlertController+Testing.m
  components/Dialogs/src/TypographyThemer/MDCAlertTypographyThemer.m
  components/FeatureHighlight/examples/supplemental/FeatureHighlightExampleSupplemental.m
  components/FeatureHighlight/src/ColorThemer/MDCFeatureHighlightColorThemer.m
  components/FeatureHighlight/src/MDCFeatureHighlightViewController.m
  components/FlexibleHeader/tests/unit/supplemental/FlexibleHeaderTopSafeAreaTestsFakeTopSafeAreaDelegate.m
  components/Ink/src/MDCInkView.m
  components/Ink/src/private/MDCLegacyInkLayer.m
  components/List/examples/supplemental/CollectionViewListCell.m
  components/List/src/MDCSelfSizingStereoCell.m
  components/List/tests/snapshot/MDCBaseCellSnapshotTests.m
  components/NavigationBar/examples/supplemental/NavigationBarTypicalUseExampleSupplemental.m
  components/NavigationBar/src/ColorThemer/MDCNavigationBarColorThemer.m
  components/NavigationBar/src/TypographyThemer/MDCNavigationBarTypographyThemer.m
Owners: @yarneo, @randallli, @material-components/core-ios-team, @jverkoey, @galiak11, @iberezan, @codeman7, @andrewoverton

Optimizing imports
  components/AppBar/tests/unit/AppBarNavigationControllerNavigationBarHiddenTests.m
  components/AppBar/tests/unit/AppBarNavigationControllerNavigationBarHiddenWhenNavigationBarHiddenHidesAppBarTests.m
  components/AppBar/tests/unit/AppBarNavigationControllerTests.m
  components/AppBar/tests/unit/AppBarViewControllerTests.m
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationBarBlurEffectSnapshotTests.m
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationBarControllerSnapshotTests.m
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationBarSnapshotTests.m
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationBarThemingSnapshotTests.m
  components/BottomNavigation/tests/unit/BottomNavigationItemBadgeTests.m
  components/BottomNavigation/tests/unit/BottomNavigationItemViewTests.m
  components/BottomNavigation/tests/unit/MDCBottomNavigationBarControllerDelegateTests.m
  components/BottomNavigation/tests/unit/MDCBottomNavigationBarControllerTests.m
  components/Buttons/examples/ButtonsContentEdgeInsetsExample.m
  components/Buttons/examples/ButtonsShapesExample.m
  components/Buttons/examples/ButtonsTypicalUseExample.m
  components/Buttons/examples/FloatingButtonTypicalUseExample.m
  components/TextFields/src/Theming/MDCTextInputControllerFilled+MaterialTheming.m
  components/TextFields/src/Theming/MDCTextInputControllerOutlined+MaterialTheming.m
  components/TextFields/src/Theming/MDCTextInputControllerUnderline+MaterialTheming.m
  components/private/TextControlsPrivate/src/Shared/MDCTextControlAssistiveLabelView.m
  components/private/TextControlsPrivate/src/Shared/MDCTextControlAssistiveLabelViewLayout.m
  components/private/TextControlsPrivate/src/Shared/MDCTextControlLabelAnimation.m
Owners: @jverkoey, @material-components/core-ios-team, @randallli, @andrewoverton

Optimizing imports
  components/Chips/examples/ChipsCollectionExampleViewController.m
  components/Chips/examples/ChipsCustomizedExampleViewController.m
  components/Chips/examples/ChipsDisablingExampleViewController.m
  components/Chips/examples/ChipsFilterExampleViewController.m
  components/Chips/examples/ChipsInputExampleViewController.m
  components/Chips/examples/ChipsShapingExampleViewController.m
  components/Chips/examples/ChipsSizingExampleViewController.m
  components/Chips/examples/ChipsTypicalUseViewController.m
  components/ShapeLibrary/src/MDCCornerTreatment+CornerTypeInitalizer.m
  components/ShapeLibrary/src/MDCCurvedCornerTreatment.m
  components/ShapeLibrary/src/MDCCurvedRectShapeGenerator.m
  components/ShapeLibrary/src/MDCCutCornerTreatment.m
  components/ShapeLibrary/src/MDCPillShapeGenerator.m
  components/ShapeLibrary/src/MDCRoundedCornerTreatment.m
  components/ShapeLibrary/src/MDCSlantedRectShapeGenerator.m
  components/ShapeLibrary/src/MDCTriangleEdgeTreatment.m
  components/TextFields/src/MDCMultilineTextField.m
  components/TextFields/src/MDCTextField.m
  components/TextFields/src/MDCTextInputControllerFilled.m
  components/TextFields/src/MDCTextInputControllerFullWidth.m
  components/TextFields/src/MDCTextInputControllerLegacyDefault.m
  components/TextFields/src/MDCTextInputControllerLegacyFullWidth.m
  components/TextFields/src/MDCTextInputControllerOutlined.m
  components/TextFields/src/MDCTextInputControllerOutlinedTextArea.m
  components/TextFields/src/MDCTextInputUnderlineView.m
Owners: @material-components/core-ios-team, @andrewoverton

Optimizing imports
  components/ActionSheet/tests/unit/ActionSheetTestHelpers.m
  components/ActionSheet/tests/unit/MDCActionSheetControllerDelegateTests.m
  components/ActionSheet/tests/unit/MDCActionSheetControllerRippleTests.m
  components/ActionSheet/tests/unit/MDCActionSheetControllerThemingTests.m
  components/ActionSheet/tests/unit/MDCActionSheetItemTableViewCellTests.m
  components/Buttons/src/ColorThemer/MDCButtonColorThemer.m
  components/Buttons/src/ColorThemer/MDCContainedButtonColorThemer.m
  components/Buttons/src/ColorThemer/MDCFloatingButtonColorThemer.m
  components/Buttons/src/ColorThemer/MDCOutlinedButtonColorThemer.m
  components/Buttons/src/ColorThemer/MDCTextButtonColorThemer.m
  components/Dialogs/examples/DialogsAlertExampleViewController.m
  components/Dialogs/examples/DialogsDismissingExampleViewController.m
  components/Dialogs/examples/DialogsKeyboardExampleViewController.m
  components/Dialogs/examples/DialogsRoundedCornerExampleViewController.m
  components/Dialogs/examples/DialogsTypicalUseExampleViewController.m
  components/Dialogs/tests/snapshot/MDCAlertControllerAccessoryTests.m
  components/Dialogs/tests/snapshot/MDCAlertControllerActionsTests.m
  components/Dialogs/tests/snapshot/MDCAlertControllerConfigurationsTests.m
  components/Dialogs/tests/snapshot/MDCAlertControllerInsetsTests.m
  components/Dialogs/tests/snapshot/MDCAlertController_ThemingSnapshotTests.m
  components/Tabs/tests/unit/MDCItemBarCellTests.m
  components/Tabs/tests/unit/MDCTabBarDisplayDelegateTests.m
  components/Tabs/tests/unit/MDCTabBarTests.m
  components/Tabs/tests/unit/MDCTabBarTypographyThemerTests.m
Owners: @codeman7, @randallli, @galiak11, @iberezan, @material-components/core-ios-team

Remove API changes.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Optimizing imports
  components/Buttons/src/MDCFlatButton.m
  components/Buttons/src/MDCFloatingButton.m
  components/Buttons/src/MDCRaisedButton.m
  components/Chips/tests/unit/ChipsDelegateTests.m
  components/Chips/tests/unit/ChipsTests.m
  components/Chips/tests/unit/MDCChipFieldDelegateTests.m
  components/Chips/tests/unit/MDCChipViewTests.m
  components/FeatureHighlight/examples/FeatureHighlightColorExample.m
  components/FeatureHighlight/examples/FeatureHighlightScalableDynamicTypeController.m
  components/FeatureHighlight/examples/FeatureHighlightShownViewExample.m
  components/FeatureHighlight/examples/FeatureHighlightTypicalUseViewController.m
  components/Snackbar/examples/SnackbarInputAccessoryViewController.m
  components/Snackbar/examples/SnackbarOverlayViewExample.m
  components/Snackbar/examples/SnackbarSimpleExample.m
  components/Snackbar/examples/SnackbarSuspensionExample.m
  components/Tabs/examples/MDCTabBarViewTypicalExampleViewController.m
  components/Tabs/examples/TabBarIconExample.m
  components/Tabs/examples/TabBarTextOnlyExample.m
  components/Tabs/examples/TabBarViewControllerExample.m
  components/Tabs/tests/snapshot/TabBarView/MDCTabBarViewIntegrationSnapshotTests.m
  components/Tabs/tests/snapshot/TabBarView/MDCTabBarViewItemViewSnapshotTests.m
  components/Tabs/tests/snapshot/TabBarView/MDCTabBarViewLayoutStyleSnapshotTests.m
  components/Tabs/tests/snapshot/TabBarView/MDCTabBarViewSnapshotTests.m
Owners: @randallli, @material-components/core-ios-team, @codeman7, @yarneo

Optimizing imports
  components/ActionSheet/examples/ActionSheetComparisonExample.m
  components/ActionSheet/examples/ActionSheetTypicalUseExample.m
  components/AppBar/tests/snapshot/Theming/MDCAppBarViewController_MaterialThemingSnapshotTests.m
  components/AppBar/tests/snapshot/Theming/MDCAppBarViewController_MaterialThemingWhenScrolledSnapshotTests.m
  components/Banner/examples/AppBarBannerExample.m
  components/Banner/examples/BannerTypicalUseExampleViewController.m
  components/BottomAppBar/examples/supplemental/BottomAppBarTypicalUseSupplemental.m
  components/BottomAppBar/examples/supplemental/BottomAppBarTypicalUseViewController.m
  components/BottomNavigation/examples/BottomNavigationBlurExample.m
  components/BottomNavigation/examples/BottomNavigationTypicalUseExample.m
  components/ButtonBar/src/private/MDCAppBarButtonBarBuilder.m
  components/ButtonBar/src/private/MDCButtonBarButton.m
  components/ButtonBar/tests/unit/ButtonBarBuilderTests.m
  components/ButtonBar/tests/unit/ButtonBarRippleTests.m
  components/Buttons/src/Theming/MDCButton+MaterialTheming.m
  components/Buttons/src/Theming/MDCFloatingButton+MaterialTheming.m
  components/Cards/examples/CardsCollectionExample.m
  components/Cards/examples/CardsCollectionTintingExample.m
  components/Cards/src/Theming/MDCCard+MaterialTheming.m
  components/Cards/src/Theming/MDCCardCollectionCell+MaterialTheming.m
  components/private/ThumbTrack/tests/unit/ThumbTrackTests.m
  components/schemes/Container/src/MDCContainerScheme.m
  components/schemes/Container/tests/unit/MDCContainerSchemeTests.m
  components/schemes/Shape/examples/supplemental/MDCBottomSheetControllerShapeThemerDefaultMapping.m
  components/schemes/Shape/tests/unit/MDCShapeSchemeTests.m
Owners: @codeman7, @jverkoey, @material-components/core-ios-team, @wenyuzhang666, @randallli, @yarneo

Honor the `animated` param when changing the hidden state of the bottom navigation bar.
  components/BottomNavigation/src/MDCBottomNavigationBarController.m
Owners: @material-components/core-ios-team

[NavDrawer] Increase code coverage by adding more tests.
  components/NavigationDrawer/examples/BottomDrawerInfiniteScrollingExample.swift
  components/NavigationDrawer/tests/snapshot/MDCBottomDrawerControllerSnapshotTests.m
  components/NavigationDrawer/tests/unit/MDCNavigationDrawerScrollViewTests.m
  components/NavigationDrawer/tests/unit/MDCNavigationDrawerTest.m
Owners: @yarneo, @jakerockland

[go/material-ios-deprecation-policy] Adding link to go/material-ios-deprecation-process an internal doc.
  contributing/deprecation_policy.md
Owners: @material-components/core-ios-team

[Dialogs] Adds dismissOnAction property to MDCAlertAction to allow callers to control when the dialog dismisses.
  components/Dialogs/src/MDCAlertController.h
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/src/MDCAlertControllerDelegate.h
Owners: @galiak11, @iberezan

[Dialogs] Adds dismissOnAction property to MDCAlertAction to allow callers to control when the dialog dismisses.
  components/Dialogs/src/MDCAlertController.h
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/src/MDCAlertControllerDelegate.h
Owners: @galiak11, @iberezan

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

Update changelog.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Bump the release.
  MaterialComponents.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

Update changelog.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Downgrade the release to a patch release.
  MaterialComponents.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

[ActivityIndicator] Add unit tests.
  components/ActivityIndicator/tests/unit/ActivityIndicatorTests.m
Owners: @material-components/core-ios-team

[Dialogs] Adds dismissOnAction property to MDCAlertAction to allow callers to control when the dialog dismisses.
  components/Dialogs/src/MDCAlertController.h
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/src/MDCAlertControllerDelegate.h
Owners: @galiak11, @iberezan

Annotate APIs as only supporting iOS 12+.
  components/BottomNavigation/examples/BottomNavigationHideShowExample.swift
  components/BottomNavigation/src/MDCBottomNavigationBarController.h
Owners: @material-components/core-ios-team

Internal Change
  components/Menus/README.md
Owners: @material-components/core-ios-team

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Bumped version number to 123.0.0.
  MaterialComponents.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey
