Repository material-components/material-components-ios, changes with the owners that CODEOWNERS names for each.
All owners: @material-components/core-ios-team, @codeman7, @yarneo, @jverkoey, @wenyuzhang666, @randallli, @galiak11, @iberezan, @andrewoverton, @jakerockland

[BottomAppBar] Update links in README
  components/BottomAppBar/README.md
Owners: @wenyuzhang666

[Shapes] Use the path's boundingBox to determine the scale used when borderWidth is deducted from the path.
  components/Shapes/src/MDCShapedShadowLayer.m
  components/Shapes/tests/unit/MDCShapedShadowLayerPathTests.m
Owners: @material-components/core-ios-team

Fix podspec errors resulting from deletion of targets.
  MaterialComponents.podspec
Owners: @material-components/core-ios-team

[MDCBottomDrawerViewController] Add new delegate for when scrim is tapped.
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.m
  components/NavigationDrawer/src/MDCBottomDrawerPresentationControllerDelegate.h
  components/NavigationDrawer/src/MDCBottomDrawerViewController.m
  components/NavigationDrawer/src/MDCBottomDrawerViewControllerDelegate.h
  components/NavigationDrawer/tests/unit/MDCNavigationDrawerScrollViewTests.m
Owners: @yarneo, @jakerockland

Remove more.
  MaterialComponents.podspec
Owners: @material-components/core-ios-team

More.
  MaterialComponents.podspec
Owners: @material-components/core-ios-team

[Banner] Add setUp and tearDown to AppBarBannerExample to avoid flaky testing result.
  components/Banner/examples/AppBarBannerExample.m
Owners: @material-components/core-ios-team

Fix podspec errors resulting from deletion of targets.
  MaterialComponents.podspec
Owners: @material-components/core-ios-team

Automatic changelog preparation for release.
  CHANGELOG.md
Owners: @material-components/core-ios-team

[Banner] Remove AppBar example snapshot tests because the animation involved causes flakiness.
  components/Banner/examples/AppBarBannerExample.m
Owners: @material-components/core-ios-team

Fix podspec errors resulting from deletion of targets.
  MaterialComponents.podspec
Owners: @material-components/core-ios-team

Update changelog.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Bump the release.
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

[Banner] Remove AppBar example snapshot tests because the animation involved causes flakiness.
  CHANGELOG.md
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

Internal change.
  CHANGELOG.md
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

Update release note.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Bump the release.
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

Internal change
  components/Snackbar/README.md
  components/Snackbar/docs/README.md
  components/Snackbar/docs/typical-use-display-a-message-with-action.md
  components/Snackbar/docs/typical-use-display-a-message.md
  components/Snackbar/examples/SnackbarInputAccessoryViewController.m
  components/Snackbar/examples/SnackbarKeyboardExample.swift
  components/Snackbar/examples/SnackbarOverlayViewExample.m
  components/Snackbar/examples/SnackbarSimpleExample.m
  components/Snackbar/examples/SnackbarSuspensionExample.m
  components/Snackbar/src/MDCSnackbarManager.h
  components/Snackbar/src/MDCSnackbarManager.m
  components/Snackbar/src/MDCSnackbarMessage.h
  components/Snackbar/tests/unit/MDCSnackbarManagerInstanceTests.m
  components/Snackbar/tests/unit/SnackbarManagerSwiftTests.swift
  components/Snackbar/tests/unit/SnackbarManagerTests.m
Owners: @yarneo

[ThumbTrack] Move primaryColor to the ToBeDeprecated category.
  components/private/ThumbTrack/src/MDCThumbTrack.h
  components/private/ThumbTrack/src/MDCThumbTrack.m
Owners: @material-components/core-ios-team

[Snackbar] Deprecate all unused class methods.
  components/Snackbar/src/MDCSnackbarManager.h
Owners: @yarneo

Clarify handling of safe area layout in the documentation to make clear all properties that need to be set
  components/Tabs/src/TabBarView/MDCTabBarView.h
  components/Tabs/tests/snapshot/TabBarView/MDCTabBarViewSnapshotTests.m
Owners: @material-components/core-ios-team

[TextControls] Add KVO for assistive labels
  components/TextControls/src/BaseTextAreas/MDCBaseTextArea.m
  components/TextControls/src/BaseTextFields/MDCBaseTextField.m
Owners: @material-components/core-ios-team

[MDC-iOS/Chips] Remove visibleAreaInsets from public API.
  components/Chips/src/MDCChipView.h
  components/Chips/src/MDCChipView.m
  components/Chips/tests/snapshot/MDCChipViewSnapshotTests.m
Owners: @material-components/core-ios-team

[Chips] Expose visibleAreaInsets as a public readonly API.
  components/Chips/src/MDCChipView.h
  components/Chips/tests/unit/MDCChipViewTests.m
Owners: @material-components/core-ios-team

[ThumbTrack] Turn centerVisibleArea on on ThumbView to ensure its minimum touch target size.
  components/Slider/tests/unit/SliderRippleTests.m
  components/private/ThumbTrack/src/MDCThumbTrack.m
  components/private/ThumbTrack/src/MDCThumbView.m
  components/private/ThumbTrack/tests/unit/ThumbTrackRippleTests.m
Owners: @material-components/core-ios-team

Replace tabs docs
  components/Cards/README.md
  components/Tabs/README.md
  components/Tabs/docs/README.md
  components/Tabs/docs/assets/shrine-tabs.png
  components/Tabs/docs/assets/tabbarview-defaults-Fixed-Justified.png
  components/Tabs/docs/assets/tabbarview-defaults-Scrollable-Leading.png
  components/Tabs/docs/assets/tabs-anatomy.png
  components/Tabs/docs/assets/tabs-fixed-hero.png
  components/Tabs/docs/assets/tabs-scrollable-hero.png
  components/Tabs/docs/assets/tabs.png
  components/Tabs/docs/examples.md
  components/Tabs/docs/tabbarview.md
  components/Tabs/docs/theming-extensions.md
  components/Tabs/docs/typography-theming.md
  components/Tabs/docs/usage.md
Owners: @yarneo, @material-components/core-ios-team

[Slider] Update Slider example to conform to minimum touch size by change frame.
  components/Slider/examples/SliderCollectionViewController.m
Owners: @material-components/core-ios-team

Replace tabs docs
  components/Cards/README.md
  components/Tabs/README.md
  components/Tabs/docs/README.md
  components/Tabs/docs/assets/shrine-tabs.png
  components/Tabs/docs/assets/tabbarview-defaults-Fixed-Justified.png
  components/Tabs/docs/assets/tabbarview-defaults-Scrollable-Leading.png
  components/Tabs/docs/assets/tabs-anatomy.png
  components/Tabs/docs/assets/tabs-fixed-hero.png
  components/Tabs/docs/assets/tabs-scrollable-hero.png
  components/Tabs/docs/assets/tabs.png
  components/Tabs/docs/examples.md
  components/Tabs/docs/tabbarview.md
  components/Tabs/docs/theming-extensions.md
  components/Tabs/docs/typography-theming.md
  components/Tabs/docs/usage.md
Owners: @yarneo, @material-components/core-ios-team

Drop support for iOS 9.
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  README.md
  catalog/Podfile
  components/Cards/examples/CardsShapedEditReorderExample.swift
  components/Cards/examples/EditReorderCollectionViewController.swift
  components/Cards/examples/ShapedCardViewController.swift
  components/NavigationBar/tests/snapshot/MDCNavigationBarSnapshotTests.m
  components/Ripple/examples/CardCellsWithRippleExample.swift
  components/Themes/README.md
  components/Typography/tests/unit/UIFont+MaterialTypographyTests.m
  contributing/writing_snapshot_tests.md
  demos/Bare/Podfile
  demos/Pesto/Podfile
  demos/Shrine/Podfile
  docs/build-env/README.md
Owners: @material-components/core-ios-team, @yarneo, @jverkoey

Upgrade the catalogs to the new build system.
  catalog/MDCCatalog.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
Owners: @material-components/core-ios-team

Remove
  catalog/MDCCatalog.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
Owners: @material-components/core-ios-team

Add ic_feedback icon to the podspec.
  scripts/generated/icons.rb
Owners: @material-components/core-ios-team

[Catalog] Upgrade the catalogs to the new build system.
  catalog/MDCCatalog.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
Owners: @material-components/core-ios-team

Add ic_feedback icon to the podspec.
  scripts/generated/icons.rb
Owners: @material-components/core-ios-team

Enable Catalyst support for the catalogs.
  catalog/MDCActionExtension/MDCActionExtension.entitlements
  catalog/MDCCatalog.xcodeproj/project.pbxproj
  catalog/MDCCatalog/MDCCatalog.entitlements
  components/CollectionCells/src/MDCCollectionViewCell.m
  components/Collections/src/private/MDCCollectionViewStyler.m
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
Owners: @material-components/core-ios-team, @yarneo, @jverkoey, @jakerockland

Clang.
  components/CollectionCells/src/MDCCollectionViewCell.m
  components/Collections/src/private/MDCCollectionViewStyler.m
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
Owners: @yarneo, @jverkoey, @jakerockland

Add dragons support as well.
  catalog/MDCDragons.xcodeproj/project.pbxproj
  catalog/MDCDragons/MDCDragons.entitlements
Owners: @material-components/core-ios-team

More fixes.
  catalog/MDCDragons.xcodeproj/project.pbxproj
  catalog/MDCDragons/MDCDragons.entitlements
Owners: @material-components/core-ios-team

Enable Catalyst support for the catalogs.
  catalog/MDCActionExtension/MDCActionExtension.entitlements
  catalog/MDCCatalog.xcodeproj/project.pbxproj
  catalog/MDCCatalog/MDCCatalog.entitlements
  catalog/MDCDragons.xcodeproj/project.pbxproj
  catalog/MDCDragons/MDCDragons.entitlements
  components/CollectionCells/src/MDCCollectionViewCell.m
  components/Collections/src/private/MDCCollectionViewStyler.m
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
Owners: @material-components/core-ios-team, @yarneo, @jverkoey, @jakerockland

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
**       @material-components/core-ios-team

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
/components/ActionSheet/          @codeman7
/components/AnimationTiming/      @yarneo
/components/AppBar/               @jverkoey
/components/BottomAppBar/         @wenyuzhang666
/components/BottomSheet/          @yarneo
/components/Buttons/              @randallli
/components/Cards/                @yarneo
/components/CollectionCells/      @yarneo
/components/CollectionLayoutAttributes/ @jverkoey
/components/Collections/          @jverkoey
/components/Dialogs/              @galiak11 @iberezan
/components/FeatureHighlight/     @codeman7
/components/FlexibleHeader/       @jverkoey
/components/HeaderStackView/      @jverkoey
/components/Ink/                  @yarneo
/components/LibraryInfo/          @jverkoey
/components/List                  @andrewoverton
/components/MaskedTransition/     @jverkoey
/components/NavigationBar/        @yarneo @jverkoey
/components/NavigationDrawer/     @yarneo @jakerockland
/components/OverlayWindow/        @yarneo
/components/PageControl/          @randallli
/components/Palettes/             @jverkoey
/components/Ripple                @yarneo
/components/ShadowElevations/     @jverkoey
/components/ShadowLayer/          @jverkoey
/components/Snackbar/             @yarneo
/components/TextFields/           @andrewoverton
/components/Themes/               @jverkoey
