Repository material-components/material-components-ios, changes with the owners that CODEOWNERS names for each.
All owners: @material-components/core-ios-team, @codeman7, @yarneo, @jverkoey, @wenyuzhang666, @randallli, @galiak11, @iberezan, @andrewoverton, @jakerockland

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
**       @material-components/core-ios-team

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
/components/ActionSheet/          @codeman7
/components/AnimationTiming/      @yarneo
/components/AppBar/               @jverkoey
/components/BottomAppBar/         @wenyuzhang666
/components/BottomSheet/          @yarneo
/components/Buttons/              @randallli
/components/Cards/                @yarneo
/components/CollectionCells/      @yarneo
/components/CollectionLayoutAttributes/ @jverkoey
/components/Collections/          @jverkoey
/components/Dialogs/              @galiak11 @iberezan
/components/FeatureHighlight/     @codeman7
/components/FlexibleHeader/       @jverkoey
/components/HeaderStackView/      @jverkoey
/components/Ink/                  @yarneo
/components/LibraryInfo/          @jverkoey
/components/List                  @andrewoverton
/components/MaskedTransition/     @jverkoey
/components/NavigationBar/        @yarneo @jverkoey
/components/NavigationDrawer/     @yarneo @jakerockland
/components/OverlayWindow/        @yarneo
/components/PageControl/          @randallli
/components/Palettes/             @jverkoey
/components/Ripple                @yarneo
/components/ShadowElevations/     @jverkoey
/components/ShadowLayer/          @jverkoey
/components/Snackbar/             @yarneo
/components/TextFields/           @andrewoverton
/components/Themes/               @jverkoey

Inform the dialogPresentationControllerDelegate that the alert controller is dismissed when the dismissal is issued from the accessibility gesture.
  components/Dialogs/src/MDCAlertController.m
Owners: @galiak11, @iberezan

[Shadows] Code improvements for the new Shadow component.
  components/Shadow/examples/ShadowTypicalUseExample.swift
  components/Shadow/src/MDCShadow.h
  components/Shadow/src/MDCShadow.m
  components/Shadow/src/MDCShadowConfiguring.h
  components/Shadow/src/MDCShadowConfiguring.m
  components/Shadow/src/MDCShadowsCollection.h
  components/Shadow/src/MDCShadowsCollection.m
  components/Shadow/src/MaterialShadow.h
  components/Shadow/src/private/MDCShadow+Internal.h
  components/Shadow/tests/snapshot/MDCShadowSnapshotTests.m
  components/Shadow/tests/unit/MDCShadowTests.m
Owners: @material-components/core-ios-team

[Cards] Fix broken examples
  components/Cards/examples/CardsCollectionExample.m
  components/Cards/examples/CardsCollectionTintingExample.m
Owners: @yarneo

Fix Bottom sheet bug that was causing flickering.
  components/BottomSheet/src/private/MDCSheetContainerView.m
Owners: @yarneo

[Shadows] Remove __attribute__((fallthrough))
  components/Shadow/src/MDCShadowsCollection.m
Owners: @material-components/core-ios-team

Internal change.
  components/ActivityIndicator/src/MDCActivityIndicator+Interface.h
  components/ActivityIndicator/src/MDCActivityIndicator.h
  components/ActivityIndicator/src/private/MDCActivityIndicator+Private.h
Owners: @material-components/core-ios-team

[Material-iOS/FeatureHighlight, Material-iOS/FlexibleHeader, Material-iOS/HeaderStackView, Material-iOS/PageControl, Material-iOS/ShadowElevation] Fix broken images in iOS/Supporting APIs dev docs
  components/FeatureHighlight/README.md
  components/FlexibleHeader/README.md
  components/HeaderStackView/README.md
  components/PageControl/README.md
  components/ShadowElevations/README.md
Owners: @codeman7, @jverkoey, @randallli

Deleted scaledValueForValue API from Material Typography.
  components/Typography/src/MDCFontScaler.h
  components/Typography/src/MDCFontScaler.m
Owners: @material-components/core-ios-team

[Shadows] Move MDCShadowForElevation to become an instance method of MDCShadowsCollection.
  components/Shadow/examples/ShadowTypicalUseExample.swift
  components/Shadow/src/MDCShadowsCollection.h
  components/Shadow/src/MDCShadowsCollection.m
  components/Shadow/tests/snapshot/MDCShadowSnapshotTests.m
  components/Shadow/tests/unit/MDCShadowTests.m
Owners: @material-components/core-ios-team

[Shadows] Add initial readme file with simple usage guide.
  components/Shadow/README.md
Owners: @material-components/core-ios-team

Annotate APIs with tvOS availability.
  components/AppBar/src/MDCAppBarViewController.h
  components/AppBar/src/MDCAppBarViewControllerAccessibilityPerformEscapeDelegate.h
  components/BottomNavigation/src/MDCBottomNavigationBar.h
  components/Dialogs/src/MDCAlertController.h
  components/FlexibleHeader/src/MDCFlexibleHeaderViewController.h
  components/Tabs/src/TabBarView/MDCTabBarView.h
Owners: @jverkoey, @material-components/core-ios-team, @galiak11, @iberezan

[Material-iOS/Chips] Extract clear button from MDCChipField
  components/Chips/src/MDCChipField.m
  components/Chips/src/MDCChipViewDeleteButton.h
  components/Chips/src/MDCChipViewDeleteButton.m
Owners: @material-components/core-ios-team

[BottomNavigation] Adds opt-in from MDCShadowLayer to MDCShadow.
  components/BottomNavigation/src/MDCBottomNavigationBar.h
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/src/PerformantShadowMigration/MDCBottomNavigationBar+ShadowsPrivate.h
  components/BottomNavigation/src/private/MDCBottomNavigationBar+Private.h
Owners: @material-components/core-ios-team

[Button] Add opt-in new performant shadow support.
  components/Buttons/src/MDCButton.h
  components/Buttons/src/MDCButton.m
  components/Buttons/src/PerformantShadowMigration/MDCButton+ShadowsPrivate.h
  components/Buttons/src/private/MDCButton+Subclassing.h
  components/Shapes/src/MDCShapeMediator.h
  components/Shapes/src/MDCShapeMediator.m
  components/Shapes/src/MaterialShapes.h
  components/Shapes/tests/unit/MDCShapeMediatorTests.m
Owners: @randallli, @material-components/core-ios-team

[BottomSheet] Add ignoreKeyboardHeight to allow configuring bottomSheet's behavior when keyboard is present.
  components/BottomSheet/examples/BottomSheetKeyboardBehaviorExample.swift
  components/BottomSheet/src/MDCBottomSheetController.h
  components/BottomSheet/src/MDCBottomSheetController.m
  components/BottomSheet/src/MDCBottomSheetPresentationController.h
  components/BottomSheet/src/MDCBottomSheetPresentationController.m
  components/BottomSheet/src/MDCBottomSheetTransitionController.h
  components/BottomSheet/src/MDCBottomSheetTransitionController.m
  components/BottomSheet/src/private/MDCSheetContainerView.h
  components/BottomSheet/src/private/MDCSheetContainerView.m
Owners: @yarneo

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

Fix podspec.
  MaterialComponents.podspec
Owners: @material-components/core-ios-team

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Bumped version number to 124.2.0.
  MaterialComponents.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
Owners: @material-components/core-ios-team, @jverkoey

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Bump our supported minimum iOS version to iOS 11.
  MaterialComponents.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  catalog/Podfile
  contributing/writing_snapshot_tests.md
Owners: @material-components/core-ios-team

[Button] With the new shadow, the layerClass needs to be [super layerClass] and not [super class]. This was an error in the previous change.
  components/Buttons/src/MDCButton.m
Owners: @randallli

Fix accessory view content sizing in dialogs.
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Owners: @galiak11, @iberezan

Update Dialog's adjustFontForContentSizeCategory to set the property on the message and buttons, not just the title.
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/src/MDCAlertControllerView.h
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
  components/Dialogs/tests/snapshot/MDCAlertControllerCustomTraitCollectionTests.m
Owners: @galiak11, @iberezan

Update MDC chip examples to no longer use mdc_adjsutFontForContentSizeCategory to support Dynamic Type.
  components/Chips/examples/ChipsActionExampleViewController.m
  components/Chips/examples/ChipsChoiceExampleViewController.m
  components/Chips/examples/ChipsCustomizedExampleViewController.m
  components/Chips/examples/ChipsFilterExampleViewController.m
  components/Chips/examples/ChipsInputExampleViewController.m
  components/Chips/examples/ChipsTypicalUseViewController.m
Owners: @material-components/core-ios-team

Have MDCActionSheetController conform to UIContentSizeAdjusting protocol, and implement adjustsFontForContentSizeCategory.
  components/ActionSheet/src/MDCActionSheetController.h
  components/ActionSheet/src/MDCActionSheetController.m
  components/ActionSheet/src/private/MDCActionSheetHeaderView.h
  components/ActionSheet/src/private/MDCActionSheetHeaderView.m
  components/ActionSheet/tests/snapshot/MDCActionSheetCustomTraitCollectionTests.m
Owners: @codeman7

Internal change. Fixed bug when rotating a device with an alert view presented.
  components/Dialogs/src/MDCAlertController.m
Owners: @galiak11, @iberezan

Internal change
  components/ActionSheet/examples/ActionSheetTypalUseSwiftExample.swift
Owners: @codeman7

Delete mdc_adjustsFontForContentSizeCategory from MDCBannerView.
  components/Banner/examples/BannerTypicalUseExampleViewController.m
  components/Banner/src/MDCBannerView.h
  components/Banner/src/MDCBannerView.m
  components/Banner/tests/snapshot/MDCBannerSnapshotTests.m
  components/Banner/tests/unit/BannerViewTests.m
Owners: @material-components/core-ios-team

Exploring Carthage support.
  Cartfile
  Cartfile.resolved
Owners: @material-components/core-ios-team

[HeaderStackView] Fix broken link in documentation
  components/HeaderStackView/README.md
Owners: @jverkoey

[TextControls] Fix duplicate trailingView bug
  components/TextControls/src/BaseTextAreas/MDCBaseTextArea.m
Owners: @material-components/core-ios-team

Pin MDFInternationalization to 3.0.
  MaterialComponents.podspec
  MaterialComponentsExamples.podspec
Owners: @material-components/core-ios-team

Remove mdc_adjustsFontForContentSizeCategory and mdc_UseLegacyFontScaling from FeatureHighlight
  components/FeatureHighlight/examples/FeatureHighlightScalableDynamicTypeController.h
  components/FeatureHighlight/examples/FeatureHighlightScalableDynamicTypeController.m
  components/FeatureHighlight/examples/FeatureHighlightTypicalUseViewController.m
  components/FeatureHighlight/examples/FeatureHightlightTypicalUseViewController.swift
  components/FeatureHighlight/src/MDCFeatureHighlightView.h
  components/FeatureHighlight/src/MDCFeatureHighlightViewController.h
  components/FeatureHighlight/src/MDCFeatureHighlightViewController.m
  components/FeatureHighlight/src/private/MDCFeatureHighlightView+Private.m
Owners: @codeman7

[Dialogs] Add convenience API for adding actions.
  components/Dialogs/src/MDCAlertController.h
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/tests/unit/MDCAlertActionManagerTests.m
  components/Dialogs/tests/unit/MDCAlertControllerCustomizationTests.m
Owners: @galiak11, @iberezan

[Typography] Delete MDCBasicFontScheme
  components/schemes/Typography/src/BasicFontScheme/MDCBasicFontScheme.h
  components/schemes/Typography/src/BasicFontScheme/MDCBasicFontScheme.m
Owners: @material-components/core-ios-team

[Tabs] Set minimal tab item height to 24
  components/Tabs/src/TabBarView/MDCTabBarView.m
Owners: @material-components/core-ios-team

[TextControls] Fix right edge padding in RTL
  components/private/TextControlsPrivate/src/TextFields/MDCBaseTextFieldLayout.m
Owners: @material-components/core-ios-team

[TextControls] Refactor MDCBaseTextField VoiceOver Behavior
  components/TextControls/src/BaseTextFields/MDCBaseTextField.m
  components/TextControls/tests/unit/MDCBaseTextFieldTests.m
Owners: @material-components/core-ios-team
