Repository material-components/material-components-ios, changes with the owners that CODEOWNERS names for each.
All owners: @material-components/core-ios-team, @codeman7, @yarneo, @jverkoey, @wenyuzhang666, @randallli, @galiak11, @iberezan, @andrewoverton, @jakerockland

Replace Buttons documentation
  components/Buttons/README.md
  components/Buttons/docs/README.md
  components/Buttons/docs/accessibility.md
  components/Buttons/docs/assets/buttons_types.png
  components/Buttons/docs/assets/contained.gif
  components/Buttons/docs/assets/contained_button_anatomy.png
  components/Buttons/docs/assets/fab.gif
  components/Buttons/docs/assets/ios-contained.gif
  components/Buttons/docs/assets/ios-outlined.gif
  components/Buttons/docs/assets/ios-text-button.gif
  components/Buttons/docs/assets/outlined.gif
  components/Buttons/docs/assets/outlined_button_anatomy.png
  components/Buttons/docs/assets/shrine_buttons.png
  components/Buttons/docs/assets/text.gif
  components/Buttons/docs/assets/text_button_anatomy.png
  components/Buttons/docs/buttons.md
  components/Buttons/docs/color-theming.md
  components/Buttons/docs/customizing-elevation.md
  components/Buttons/docs/customizing-floating-action-buttons.md
  components/Buttons/docs/fabs.md
  components/Buttons/docs/interface-builder.md
  components/Buttons/docs/theming-with-themers.md
  components/Buttons/docs/theming.md
  components/Buttons/docs/typical-use-floating-action-buttons.md
  components/Buttons/docs/typical-use.md
  components/Buttons/docs/typography-theming.md
Owners: @randallli

Change touch target to match Material's recommendation of 48 points
  components/Buttons/docs/buttons.md
Owners: @randallli

Add links to FABs buttons
  components/Buttons/README.md
Owners: @randallli

Comment out broken images
  components/Buttons/docs/fabs.md
Owners: @randallli

[MDC/ColorScheme] Mark init as deprecated.
  components/schemes/Color/src/MDCSemanticColorScheme.h
Owners: @material-components/core-ios-team

[Dialogs] Calculate title Insets independently of content insets (resolve scuba diff)
  components/Dialogs/src/private/MDCAlertControllerView+Private.h
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
  components/Dialogs/tests/snapshot/MDCAlertControllerConfigurationsTests.m
  components/Dialogs/tests/unit/MDCAlertControllerInsetsTests.m
Owners: @galiak11, @iberezan

Internal change.
  components/Buttons/README.md
  components/Buttons/docs/theming.md
Owners: @randallli

[Buttons] Prefix Floating Button examples with Buttons.
  components/Buttons/examples/ButtonsFloatingButtonExampleSwiftViewController.swift
  components/Buttons/examples/ButtonsFloatingButtonExampleViewController.m
Owners: @randallli

Class names.
  components/Buttons/examples/ButtonsFloatingButtonExampleSwiftViewController.swift
  components/Buttons/examples/ButtonsFloatingButtonExampleViewController.m
Owners: @randallli

[Dialogs] Publish Customize API
  components/Dialogs/src/MDCAlertController+Customize.h
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/tests/snapshot/MDCAlertControllerConfigurationsTests.m
Owners: @galiak11, @iberezan

[Dialogs] Moving static c helper functions outside of test classes.
  components/Dialogs/tests/unit/MDCAlertControllerCustomizationTests.m
  components/Dialogs/tests/unit/MDCAlertControllerInsetsTests.m
Owners: @galiak11, @iberezan

[Dialogs] Rollback of PR #9877 to fix the message text disappearing on device rotation when voiceover is active.
  components/Dialogs/src/MDCAlertController.m
Owners: @galiak11, @iberezan

[Dialogs] Publish Adjustable Insets API
  components/Dialogs/src/MDCAlertControllerView.h
  components/Dialogs/src/private/MDCAlertControllerView+Private.h
Owners: @galiak11, @iberezan

[Dialogs] Calculate title Insets independently of content insets
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
  components/Dialogs/tests/unit/MDCAlertControllerCustomizationTests.m
Owners: @galiak11, @iberezan

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

revert gitattributes
  .gitattributes
Owners: @material-components/core-ios-team

[Buttons] Replace Buttons documentation
  components/Buttons/README.md
  components/Buttons/docs/README.md
  components/Buttons/docs/accessibility.md
  components/Buttons/docs/assets/buttons_types.png
  components/Buttons/docs/assets/contained.gif
  components/Buttons/docs/assets/contained_button_anatomy.png
  components/Buttons/docs/assets/fab.gif
  components/Buttons/docs/assets/ios-contained.gif
  components/Buttons/docs/assets/ios-outlined.gif
  components/Buttons/docs/assets/ios-text-button.gif
  components/Buttons/docs/assets/outlined.gif
  components/Buttons/docs/assets/outlined_button_anatomy.png
  components/Buttons/docs/assets/shrine_buttons.png
  components/Buttons/docs/assets/text.gif
  components/Buttons/docs/assets/text_button_anatomy.png
  components/Buttons/docs/buttons.md
  components/Buttons/docs/color-theming.md
  components/Buttons/docs/customizing-elevation.md
  components/Buttons/docs/customizing-floating-action-buttons.md
  components/Buttons/docs/fabs.md
  components/Buttons/docs/interface-builder.md
  components/Buttons/docs/theming-with-themers.md
  components/Buttons/docs/theming.md
  components/Buttons/docs/typical-use-floating-action-buttons.md
  components/Buttons/docs/typical-use.md
  components/Buttons/docs/typography-theming.md
Owners: @randallli

[Dialogs] Support custom alignment for the title image (independent of title)
  components/Dialogs/src/MDCAlertController+Customize.h
  components/Dialogs/src/MDCAlertController.h
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/src/private/MDCAlertControllerView+Private.h
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
  components/Dialogs/tests/snapshot/MDCAlertControllerConfigurationsTests.m
  components/Dialogs/tests/unit/MDCAlertControllerCustomizationTests.m
Owners: @galiak11, @iberezan

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

[Dialogs] Add support for attributed dialog message text
  components/Dialogs/src/MDCAlertController.h
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/tests/unit/MDCAlertControllerTests.m
Owners: @galiak11, @iberezan

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Bumped version number to 108.0.0.
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

Update version to 107.5.0
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Internal change
  CHANGELOG.md
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

# 107.5.0
  CHANGELOG.md
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

Fix broken links in README
  components/Buttons/docs/fabs.md
Owners: @randallli

Add images
  components/Buttons/docs/assets/extended-fab.png
  components/Buttons/docs/assets/mini-fab.png
  components/Buttons/docs/assets/regular-fab.png
Owners: @randallli

Revert "Fix broken links in README"
  components/Buttons/docs/fabs.md
Owners: @randallli

Make image backgrounds white
  components/Buttons/docs/assets/extended-fab.png
  components/Buttons/docs/assets/mini-fab.png
  components/Buttons/docs/assets/regular-fab.png
Owners: @randallli

[Buttons] Fix broken links in README
  components/Buttons/docs/assets/extended-fab.png
  components/Buttons/docs/assets/mini-fab.png
  components/Buttons/docs/assets/regular-fab.png
Owners: @randallli

Don't generate readme for Buttons
  scripts/generate_all_readmes
Owners: @material-components/core-ios-team

[AppBar] Add example to dragons to demonstrate AppBar crash when VoiceOver is turned on and contentInset is set.
  components/AppBar/examples/AppBarCrashVoiceOverContentInsetExample.swift
Owners: @jverkoey

[ButtonBar] Add highlight pointer effect to MDCButtonBarButtons
  components/ButtonBar/src/MDCButtonBar.h
  components/ButtonBar/src/MDCButtonBar.m
  components/ButtonBar/src/private/MDCAppBarButtonBarBuilder.m
Owners: @material-components/core-ios-team

[MDC/ColorScheme] Delete init.
  components/schemes/Color/src/MDCSemanticColorScheme.h
  components/schemes/Color/src/MDCSemanticColorScheme.m
Owners: @material-components/core-ios-team

[AppBar] Crash fix for VoiceOver + ContentInset
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
Owners: @jverkoey

[ButtonBar] Remove custom shape for MDCButtonBarButton highlight effect.
  components/ButtonBar/src/MDCButtonBar.m
Owners: @material-components/core-ios-team

[Dialogs] Size justified-aligned title-icons to fit the alert's width.
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
  components/Dialogs/tests/snapshot/MDCAlertControllerConfigurationsTests.m
  components/Dialogs/tests/unit/MDCAlertControllerCustomizationTests.m
Owners: @galiak11, @iberezan

[BottomNavigation] Add UIPointerHighlightEffects to BottomNavigation button items.
  components/BottomNavigation/src/MDCBottomNavigationBar.m
Owners: @material-components/core-ios-team

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
**       @material-components/core-ios-team

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
/components/ActionSheet/          @codeman7
/components/AnimationTiming/      @yarneo
/components/AppBar/               @jverkoey
/components/BottomAppBar/         @wenyuzhang666
/components/BottomSheet/          @yarneo
/components/Buttons/              @randallli
/components/Cards/                @yarneo
/components/CollectionCells/      @yarneo
/components/CollectionLayoutAttributes/ @jverkoey
/components/Collections/          @jverkoey
/components/Dialogs/              @galiak11 @iberezan
/components/FeatureHighlight/     @codeman7
/components/FlexibleHeader/       @jverkoey
/components/HeaderStackView/      @jverkoey
/components/Ink/                  @yarneo
/components/LibraryInfo/          @jverkoey
/components/List                  @andrewoverton
/components/MaskedTransition/     @jverkoey
/components/NavigationBar/        @yarneo @jverkoey
/components/NavigationDrawer/     @yarneo @jakerockland
/components/OverlayWindow/        @yarneo
/components/PageControl/          @randallli
/components/Palettes/             @jverkoey
/components/Ripple                @yarneo
/components/ShadowElevations/     @jverkoey
/components/ShadowLayer/          @jverkoey
/components/Snackbar/             @yarneo
/components/TextFields/           @andrewoverton
/components/Themes/               @jverkoey
