Repository material-components/material-components-ios, changes with the owners that CODEOWNERS names for each.
All owners: @material-components/core-ios-team, @codeman7, @yarneo, @jverkoey, @wenyuzhang666, @romoore, @randallli, @ianegordon, @galiak, @ajsecord, @andrewoverton, @featherless

[Buttons] Add text button themer (#5885)
  components/Buttons/examples/ButtonsContentEdgeInsetsExample.m
  components/Buttons/examples/ButtonsShapesExampleViewController.m
  components/Buttons/examples/ButtonsSimpleExampleSwiftViewController.swift
  components/Buttons/examples/ButtonsTypicalUseExampleViewController.m
  components/Buttons/src/Theming/MDCButton+Theming.h
  components/Buttons/src/Theming/MDCButton+Theming.m
  components/Buttons/tests/unit/ButtonsThemingTest.swift
  components/Cards/examples/CardExampleViewController.swift
  components/Dialogs/examples/DialogsTypicalUseViewController.m
Owners: @randallli, @yarneo, @galiak

[Buttons] Add text button themer (#5885)
  components/Buttons/examples/ButtonsContentEdgeInsetsExample.m
  components/Buttons/examples/ButtonsShapesExampleViewController.m
  components/Buttons/examples/ButtonsSimpleExampleSwiftViewController.swift
  components/Buttons/examples/ButtonsTypicalUseExampleViewController.m
  components/Buttons/src/Theming/MDCButton+Theming.h
  components/Buttons/src/Theming/MDCButton+Theming.m
  components/Buttons/tests/unit/ButtonsThemingTest.swift
  components/Cards/examples/CardExampleViewController.swift
  components/Dialogs/examples/DialogsTypicalUseViewController.m
Owners: @randallli, @yarneo, @galiak

Refactor button test (#5898)
  components/Buttons/tests/unit/ButtonsThemingTest.swift
Owners: @randallli

Refactor button test (#5898)
  components/Buttons/tests/unit/ButtonsThemingTest.swift
Owners: @randallli

Add dialog category for theming
  MaterialComponents.podspec
  MaterialComponentsAlpha.podspec
  components/Dialogs/BUILD
  components/Dialogs/examples/AlertComparison.swift
  components/Dialogs/examples/DialogsAlertCustomizationViewController.swift
  components/Dialogs/examples/DialogsAlertViewController.m
  components/Dialogs/examples/DialogsTypicalUseViewController.m
  components/Dialogs/src/Theming/MDCAlertController+Theming.h
  components/Dialogs/src/Theming/MDCAlertController+Theming.m
  components/Dialogs/src/Theming/MaterialDialogs+Theming.h
  components/Dialogs/tests/unit/DialogsThemingTests.swift
Owners: @material-components/core-ios-team, @galiak

CRC changes
  components/schemes/Typography/tests/unit/MDCTypographySchemeTests.m
Owners: @material-components/core-ios-team

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
**       @material-components/core-ios-team

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
/components/ActionSheet/          @codeman7
/components/AnimationTiming/      @yarneo
/components/AppBar/               @jverkoey
/components/BottomAppBar/         @wenyuzhang666
/components/BottomNavigation/     @romoore
/components/BottomSheet/          @yarneo
/components/ButtonBar/            @romoore
/components/Buttons/              @randallli
/components/Cards/                @yarneo
/components/Chips/                @romoore
/components/CollectionCells/      @yarneo
/components/CollectionLayoutAttributes/ @ianegordon
/components/Collections/          @ianegordon
/components/Dialogs/              @galiak
/components/FeatureHighlight/     @codeman7
/components/FlexibleHeader/       @jverkoey
/components/HeaderStackView/      @jverkoey
/components/Ink/                  @yarneo
/components/LibraryInfo/          @ajsecord
/components/List                  @andrewoverton
/components/MaskedTransition/     @jverkoey
/components/NavigationBar/        @yarneo @jverkoey
/components/NavigationDrawer/     @yarneo
/components/OverlayWindow/        @yarneo
/components/PageControl/          @randallli
/components/Palettes/             @ajsecord
/components/ProgressView/         @romoore
/components/ShadowElevations/     @ianegordon
/components/ShadowLayer/          @ianegordon
/components/Slider/               @romoore
/components/Snackbar/             @yarneo
/components/Tabs/                 @romoore
/components/TextFields/           @andrewoverton
/components/Themes/               @featherless
/components/Typography/           @ianegordon
