Repository material-components/material-components-ios, changes with the owners that CODEOWNERS names for each.
All owners: @material-components/core-ios-team, @codeman7, @yarneo, @jverkoey, @wenyuzhang666, @randallli, @galiak11, @iberezan, @andrewoverton, @jakerockland

Fix a bug in MDCTabBarView that prevents it from consistently scrolling to the initially-selected item.
  components/Tabs/src/TabBarView/MDCTabBarView.m
Owners: @material-components/core-ios-team

Internal changes.
  catalog/MDCCatalog/MDCCatalogComponentsController.swift
Owners: @material-components/core-ios-team

Internal changes.
  catalog/MDCCatalog/MDCCatalogCollectionViewCell.swift
Owners: @material-components/core-ios-team

Internal changes.
  catalog/MDCCatalog/MDCCatalogDebugAlert.swift
Owners: @material-components/core-ios-team

Internal change.
  catalog/MDCDragons/AppDelegate.swift
  catalog/MDCDragons/MDCDragonsController.swift
Owners: @material-components/core-ios-team

Internal changes.
  catalog/MDCDragons/MDCDragonsController.swift
Owners: @material-components/core-ios-team

[MDCButton] titleFontForState: return value is never null, mark as nonnull.
  components/ButtonBar/tests/unit/ButtonBarButtonTitleFontTests.swift
  components/Buttons/src/MDCButton.h
  components/Buttons/src/MDCButton.m
  components/Buttons/tests/unit/MDCButtonTypographyThemerTests.m
  components/NavigationBar/tests/unit/NavigationBarButtonTitleFontTests.swift
Owners: @material-components/core-ios-team, @randallli, @yarneo, @jverkoey

Internal change.
  catalog/MDCDragons/MDCDragonsController.swift
Owners: @material-components/core-ios-team

Internal changes.
  catalog/MDCDragons/AppDelegate.swift
Owners: @material-components/core-ios-team

MDCChipField now consistently shows the delete button to all chips when. showChipsDeleteButton=true. Previously, the button was not shown for pre-added chips.
  components/Chips/src/MDCChipField.m
Owners: @material-components/core-ios-team

Internal change
  components/Dialogs/examples/DialogsTypicalUseExampleViewController.m
Owners: @galiak11, @iberezan

Internal Change
  components/Chips/src/MDCChipView.h
  components/Chips/src/MDCChipView.m
  components/Chips/src/PerformantShadowMigration/MDCChipView+ShadowsPrivate.h
  components/Chips/src/private/MDCChipView+Private.h
Owners: @material-components/core-ios-team

[NavigationDrawer] Allow clients to set the accessibility details of the scrimView.
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.h
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.m
  components/NavigationDrawer/src/MDCBottomDrawerViewController.h
  components/NavigationDrawer/src/MDCBottomDrawerViewController.m
Owners: @yarneo, @jakerockland

[ButtonBar] Remove use of mdf_semanticContentAttribute
  components/ButtonBar/src/MDCButtonBar.m
Owners: @material-components/core-ios-team

Implementation of the Navigation Rail.
  components/NavigationRail/examples/NavigationRailViewControllerTypicalUse.swift
  components/NavigationRail/examples/NavigationRailViewTypicalUse.swift
  components/NavigationRail/src/NavigationRailItemView.swift
  components/NavigationRail/src/NavigationRailView.swift
  components/NavigationRail/src/NavigationRailViewController.swift
  components/NavigationRail/tests/unit/NavigationRailTests.swift
Owners: @material-components/core-ios-team

Internal cleanup
  catalog/MDCCatalog/MDCCatalogWindow.swift
  catalog/MDCCatalog/MDCMenuViewController.swift
  catalog/MDCDragons/AppDelegate.swift
  catalog/MDCDragons/MDCCatalogWindow.swift
Owners: @material-components/core-ios-team

[NavigationRail] Add large content viewer support
  components/NavigationRail/src/NavigationRailItemView.swift
  components/NavigationRail/src/NavigationRailView.swift
Owners: @material-components/core-ios-team

[NavigationRail] Migrate to MDCBadgeView
  components/NavigationRail/examples/NavigationRailViewTypicalUse.swift
  components/NavigationRail/src/NavigationRailItemView.swift
  components/NavigationRail/src/NavigationRailView.swift
  components/NavigationRail/tests/unit/NavigationRailTests.swift
Owners: @material-components/core-ios-team

[NavigationRail] Move separate classes to their own files
  components/NavigationRail/src/NavigationRailConfiguration.swift
  components/NavigationRail/src/NavigationRailView.swift
  components/NavigationRail/src/NavigationRailViewController.swift
  components/NavigationRail/src/NavigationRailViewControllerDelegate.swift
  components/NavigationRail/src/NavigationRailViewDelegate.swift
  components/NavigationRail/src/private/NavigationRailItemView.swift
Owners: @material-components/core-ios-team

[NavigationRail] Update constraints in example
  components/NavigationRail/examples/NavigationRailViewTypicalUse.swift
Owners: @material-components/core-ios-team

Internal change
  components/Dialogs/examples/DialogsAccessoryExampleViewController.swift
Owners: @galiak11, @iberezan

[ActivityIndicator] Delete public documentation and tooling files.
  components/ActivityIndicator/.jazzy.yaml
  components/ActivityIndicator/.vars
  components/ActivityIndicator/README.md
  components/ActivityIndicator/docs/README.md
  components/ActivityIndicator/docs/assets/activityindicator.gif
  components/ActivityIndicator/docs/color-theming.md
  components/ActivityIndicator/docs/multiple-colors.md
  components/ActivityIndicator/docs/typical-use-determinate.md
  components/ActivityIndicator/docs/typical-use-indeterminate.md
  components/ActivityIndicator/src/MDCActivityIndicator+Interface.h
  components/ActivityIndicator/src/MDCActivityIndicator.h
Owners: @material-components/core-ios-team

[AnimationTiming] Mark it To Be Deprecated.
  components/AnimationTiming/.jazzy.yaml
  components/AnimationTiming/.vars
  components/AnimationTiming/README.md
  components/AnimationTiming/docs/assets/animationtiming.gif
  components/AnimationTiming/src/CAMediaTimingFunction+MDCAnimationTiming.h
  components/AnimationTiming/src/UIView+MDCTimingFunction.h
Owners: @yarneo

[ActionSheet] Annotate all APIs as To Be Deprecated.
  components/ActionSheet/.jazzy.yaml
  components/ActionSheet/.vars
  components/ActionSheet/README.md
  components/ActionSheet/docs/README.md
  components/ActionSheet/docs/accessibility.md
  components/ActionSheet/docs/assets/actionSheetLandscape.gif
  components/ActionSheet/docs/assets/actionSheetPortrait.gif
  components/ActionSheet/docs/assets/actionsheet-default-appearance.png
  components/ActionSheet/docs/assets/actionsheet-left-outset-right-inset.png
  components/ActionSheet/docs/assets/actionsheet-top-and-bottom-insets.png
  components/ActionSheet/docs/customization.md
  components/ActionSheet/docs/theming.md
  components/ActionSheet/docs/typical-use.md
  components/ActionSheet/src/MDCActionSheetAction.h
  components/ActionSheet/src/MDCActionSheetController.h
  components/ActionSheet/src/MDCActionSheetControllerDelegate.h
  components/ActionSheet/src/Theming/MDCActionSheetController+MaterialTheming.h
Owners: @codeman7

[Dialogs] Remove usage of `mdc_adjustsFontForContentSizeCategory` in favor of system API `adjustsFontForContentSizeCategory`.
  components/Dialogs/examples/DialogsAccessoryExampleViewController.swift
  components/Dialogs/examples/DialogsAttributedExampleViewController.swift
Owners: @galiak11, @iberezan

[Dialogs] Remove usage of `mdc_adjustsFontForContentSizeCategory` in favor of system API `adjustsFontForContentSizeCategory`.
  components/Dialogs/examples/DialogsTitleImageExampleViewController.swift
Owners: @galiak11, @iberezan

Internal Change
  components/NavigationRail/src/NavigationRailView.swift
  components/NavigationRail/src/private/NavigationRailItemView.swift
Owners: @material-components/core-ios-team

Fix text color when reseting items while maintaining the selected tab.
  components/Tabs/src/TabBarView/MDCTabBarView.m
  components/Tabs/tests/unit/MDCTabBarViewTests.m
Owners: @material-components/core-ios-team

Internal Commit
  components/Shadow/examples/ShadowAnimationBugExample.swift
  components/Shadow/examples/ShadowTypicalUseExample.swift
Owners: @material-components/core-ios-team

[ActivityIndicator] Expose subclassing APIs.
  components/ActivityIndicator/src/MDCActivityIndicator+Subclassing.h
Owners: @material-components/core-ios-team

Remove deprecated enableRippleBehavior property from BottomNavigation component
  components/BottomNavigation/examples/BottomNavigationTitleVisibilityChangeExample.swift
  components/BottomNavigation/examples/BottomNavigationTypicalUseExample.swift
  components/BottomNavigation/src/MDCBottomNavigationBar.h
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/src/MDCBottomNavigationBarController.m
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.h
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationBarAlignmentSnapshotTests.m
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationBarBlurEffectSnapshotTests.m
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationBarSnapshotTests.m
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationBarTitleLayoutSnapshotTests.m
  components/BottomNavigation/tests/unit/BottomNavigationItemViewTests.m
  components/BottomNavigation/tests/unit/BottomNavigationRippleTests.m
  components/ShadowLayer/examples/MDCShadowPerformanceExample.swift
Owners: @material-components/core-ios-team, @jverkoey

[Dialogs] Remove tests for `mdc_adjustContentForSizeCategory`
  components/Dialogs/tests/unit/MDCAlertControllerTests.m
Owners: @galiak11, @iberezan

Add isRippleEnabled property to BottomNavigation
  components/BottomNavigation/src/MDCBottomNavigationBar.h
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationBarAlignmentSnapshotTests.m
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationBarBlurEffectSnapshotTests.m
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationBarSnapshotTests.m
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationBarTitleLayoutSnapshotTests.m
  components/BottomNavigation/tests/unit/BottomNavigationRippleTests.m
Owners: @material-components/core-ios-team

[MDCTextControl] Fix the outline path animation for the MDC text view.
  components/private/TextControlsPrivate/src/OutlinedStyle/MDCTextControlStyleOutlined.m
Owners: @material-components/core-ios-team

[MDCTextControl] Rollback the fix for the outline path animation for the MDC text view.
  components/private/TextControlsPrivate/src/OutlinedStyle/MDCTextControlStyleOutlined.m
Owners: @material-components/core-ios-team

[MDCTextControl] Fix the outline path animation for the MDC text view.
  components/private/TextControlsPrivate/src/OutlinedStyle/MDCTextControlStyleOutlined.m
Owners: @material-components/core-ios-team

[Buttons] Change support status to To Be Deprecated.
  components/Buttons/src/ButtonThemer/MDCButtonScheme.h
  components/Buttons/src/ButtonThemer/MDCContainedButtonThemer.h
  components/Buttons/src/ButtonThemer/MDCTextButtonThemer.h
  components/Buttons/src/ColorThemer/MDCButtonColorThemer.h
  components/Buttons/src/ColorThemer/MDCContainedButtonColorThemer.h
  components/Buttons/src/ColorThemer/MDCFloatingButtonColorThemer.h
  components/Buttons/src/ColorThemer/MDCOutlinedButtonColorThemer.h
  components/Buttons/src/ColorThemer/MDCTextButtonColorThemer.h
  components/Buttons/src/MDCButton.h
  components/Buttons/src/MDCFlatButton.h
  components/Buttons/src/MDCFloatingButton+Animation.h
  components/Buttons/src/MDCFloatingButton.h
  components/Buttons/src/MDCRaisedButton.h
  components/Buttons/src/PerformantShadowMigration/MDCButton+ShadowsPrivate.h
  components/Buttons/src/ShapeThemer/MDCButtonShapeThemer.h
  components/Buttons/src/Theming/MDCButton+MaterialTheming.h
  components/Buttons/src/Theming/MDCFloatingButton+MaterialTheming.h
  components/Buttons/src/TypographyThemer/MDCButtonTypographyThemer.h
  components/Buttons/src/private/MDCFloatingButtonModeAnimator.h
  components/Buttons/src/private/MDCFloatingButtonModeAnimatorDelegate.h
Owners: @randallli

[Dialogs] Delete `mdc_adjustsFontForContentSizeCategory` API
  components/Dialogs/src/MDCAlertController.h
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/src/private/MDCAlertControllerView+Private.h
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Owners: @galiak11, @iberezan

[Cards] Annotate all Ripple/Ink/Shape APIs as To Be Deprecated.
  components/Cards/src/MDCCard.h
  components/Cards/src/MDCCardCollectionCell.h
Owners: @yarneo

[ButtonBar] Mark the library as To Be Deprecated.
  components/ButtonBar/src/MDCButtonBar.h
  components/ButtonBar/src/MDCButtonBarButton.h
  components/ButtonBar/src/MDCButtonBarDelegate.h
Owners: @material-components/core-ios-team

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
**       @material-components/core-ios-team

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
/components/ActionSheet/          @codeman7
/components/AnimationTiming/      @yarneo
/components/AppBar/               @jverkoey
/components/BottomAppBar/         @wenyuzhang666
/components/BottomSheet/          @yarneo
/components/Buttons/              @randallli
/components/Cards/                @yarneo
/components/CollectionCells/      @yarneo
/components/CollectionLayoutAttributes/ @jverkoey
/components/Collections/          @jverkoey
/components/Dialogs/              @galiak11 @iberezan
/components/FeatureHighlight/     @codeman7
/components/FlexibleHeader/       @jverkoey
/components/HeaderStackView/      @jverkoey
/components/Ink/                  @yarneo
/components/LibraryInfo/          @jverkoey
/components/List                  @andrewoverton
/components/MaskedTransition/     @jverkoey
/components/NavigationBar/        @yarneo @jverkoey
/components/NavigationDrawer/     @yarneo @jakerockland
/components/OverlayWindow/        @yarneo
/components/PageControl/          @randallli
/components/Palettes/             @jverkoey
/components/Ripple                @yarneo
/components/ShadowElevations/     @jverkoey
/components/ShadowLayer/          @jverkoey
/components/Snackbar/             @yarneo
/components/TextFields/           @andrewoverton
/components/Themes/               @jverkoey
