Repository material-components/material-components-ios, changes with the owners that CODEOWNERS names for each.
All owners: @material-components/core-ios-team, @codeman7, @yarneo, @jverkoey, @wenyuzhang666, @randallli, @galiak11, @iberezan, @andrewoverton, @jakerockland

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
**       @material-components/core-ios-team

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
/components/ActionSheet/          @codeman7
/components/AnimationTiming/      @yarneo
/components/AppBar/               @jverkoey
/components/BottomAppBar/         @wenyuzhang666
/components/BottomSheet/          @yarneo
/components/Buttons/              @randallli
/components/Cards/                @yarneo
/components/CollectionCells/      @yarneo
/components/CollectionLayoutAttributes/ @jverkoey
/components/Collections/          @jverkoey
/components/Dialogs/              @galiak11 @iberezan
/components/FeatureHighlight/     @codeman7
/components/FlexibleHeader/       @jverkoey
/components/HeaderStackView/      @jverkoey
/components/Ink/                  @yarneo
/components/LibraryInfo/          @jverkoey
/components/List                  @andrewoverton
/components/MaskedTransition/     @jverkoey
/components/NavigationBar/        @yarneo @jverkoey
/components/NavigationDrawer/     @yarneo @jakerockland
/components/OverlayWindow/        @yarneo
/components/PageControl/          @randallli
/components/Palettes/             @jverkoey
/components/Ripple                @yarneo
/components/ShadowElevations/     @jverkoey
/components/ShadowLayer/          @jverkoey
/components/Snackbar/             @yarneo
/components/TextFields/           @andrewoverton
/components/Themes/               @jverkoey

Add borderRadius property
  components/TextFields/src/MDCTextInputControllerBase.h
  components/TextFields/src/MDCTextInputControllerBase.m
  components/TextFields/src/MDCTextInputControllerOutlined.m
Owners: @andrewoverton

[BottomAppBar] Have BottomAppBar respect safe area
  components/BottomAppBar/src/MDCBottomAppBarView.m
  components/BottomAppBar/tests/snapshot/MDCBottomAppBarSnapshotTests.m
Owners: @wenyuzhang666

[BottomSheet] Have the container sheet be laid out by the container view's bounds, not frame.
  components/BottomSheet/src/MDCBottomSheetTransitionController.m
Owners: @yarneo

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

No public changes, just a test that reproduces the issue.
  components/Dialogs/tests/snapshot/MDCAlertControllerInsetsTests.m
Owners: @galiak11, @iberezan

[MDC/ActionSheet] Support setting image later in lifecycle
  components/ActionSheet/src/MDCActionSheetController.m
Owners: @codeman7

[MDC/ActionSheet] Add test showcasing how when an Action's image is set it does not update an ActionSheet.
  components/ActionSheet/src/MDCActionSheetAction.h
  components/ActionSheet/tests/snapshot/MDCActionSheetControllerSnapshotTests.m
Owners: @codeman7

[Dialogs] Allow MDCAlertController to become first responder.
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/tests/unit/MDCAlertControllerTests.m
Owners: @galiak11, @iberezan

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Bumped version number to 109.2.0.
  CHANGELOG.md
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

Consider the size of the longest action in horizontally justified action alignment - testing if it can fit the available horizontal space to determine if the actions should be aligned vertically.
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
  components/Dialogs/tests/snapshot/MDCAlertControllerActionsTests.m
  components/Dialogs/tests/unit/MDCAlertControllerCustomizationTests.m
Owners: @galiak11, @iberezan

[BottomNavigation] Correct `accessibilityLabel` docs
  CHANGELOG.md
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/BottomNavigation/docs/accessibility.md
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

[MDC-iOS] Sync to v109.2.0.
  CHANGELOG.md
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

[Dialogs] Fixing broken unit test
  components/Dialogs/tests/snapshot/MDCAlertControllerInsetsTests.m
Owners: @galiak11, @iberezan

[FlexibleHeader] Add a safe area layout guide example.
  components/FlexibleHeader/examples/FlexibleHeaderSafeAreaLayoutGuideExample.m
Owners: @jverkoey

[Collections] Remove special characters from example breadcrumbs.
  components/Collections/examples/CollectionsALaCarteExample.m
Owners: @jverkoey

[Dialogs] Include insets in alignment calculations of long actions
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
  components/Dialogs/tests/snapshot/MDCAlertControllerActionsTests.m
Owners: @galiak11, @iberezan

[Collections] Fix dynamic color not working when it is used in collectionView:cellBackgroundColorAtIndexPath:.
  components/Collections/examples/CollectionsCellColorExample.m
  components/Collections/src/MDCCollectionViewController.m
  components/Collections/src/private/MDCCollectionViewStyler.m
Owners: @jverkoey

[Tabs] Add programmatic tab switcher buttons to TabBarView example
  components/Tabs/examples/MDCTabBarViewTypicalExampleViewController.m
Owners: @material-components/core-ios-team

potential TabBarView refactor
  components/Tabs/src/TabBarView/MDCTabBarView.h
  components/Tabs/src/TabBarView/MDCTabBarView.m
Owners: @material-components/core-ios-team

Add buttons to tabs example for programmatic scrolling
  components/Tabs/examples/MDCTabBarViewTypicalExampleViewController.m
Owners: @material-components/core-ios-team

Fix bug where setting selectedItem programmatically doesn't scroll the tabs
  components/Tabs/src/TabBarView/MDCTabBarView.m
Owners: @material-components/core-ios-team

Add mostRecentlyRecordedSize
  components/Tabs/src/TabBarView/MDCTabBarView.m
Owners: @material-components/core-ios-team

Fix bug where passing NO into -setSelected:animated: still resulted in an animated selection
  components/Tabs/src/TabBarView/MDCTabBarView.m
Owners: @material-components/core-ios-team

Run clang
  components/Tabs/examples/MDCTabBarViewTypicalExampleViewController.m
Owners: @material-components/core-ios-team

modify example
  components/Tabs/examples/MDCTabBarViewTypicalExampleViewController.m
Owners: @material-components/core-ios-team

[SnackBar] Update localized string in localization test.
  components/Snackbar/tests/localization/SnackbarMessageViewLocalizationTests.m
Owners: @yarneo

[Dialogs] Allow MDCAlertController to become first responder via its view.
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
  components/Dialogs/tests/unit/MDCAlertControllerTests.m
Owners: @galiak11, @iberezan

[SegmentedControl] Add a typical use example.
  components/SegmentedControl/examples/SegmentedControlTypicalUseExample.swift
Owners: @material-components/core-ios-team

[Dialogs] Fix UITextView accessory view example
  components/Dialogs/examples/DialogsAccessoryExampleViewController.swift
Owners: @galiak11, @iberezan

[ProgressView] Change progressTintColor and trackTintColor to nullable.
  components/ProgressView/src/MDCProgressView.h
  components/ProgressView/src/MDCProgressView.m
  components/ProgressView/tests/unit/ProgressViewTests.m
Owners: @material-components/core-ios-team

[AppBar] Extract a sample app bar view controller to supplemental.
  components/AppBar/examples/AppBarPresentedExample.m
  components/AppBar/examples/supplemental/AppBarSampleViewController.h
  components/AppBar/examples/supplemental/AppBarSampleViewController.m
Owners: @jverkoey

[AppBar] Clarify the purpose of the example supplemental view controllers.
  components/AppBar/examples/AppBarAnimatedGlitchExample.swift
  components/AppBar/examples/AppBarGlitchExample.swift
  components/AppBar/examples/AppBarInheritedAnimatedJumpExample.swift
  components/AppBar/examples/AppBarManualTabsExample.swift
  components/AppBar/examples/supplemental/ChildOfTrackingScrollViewViewController.swift
  components/AppBar/examples/supplemental/SiblingOfTrackingScrollViewViewController.swift
Owners: @jverkoey

[AppBar] Don't hide the navigation bar in AppBarNavigationControllerExample.
  components/AppBar/examples/AppBarNavigationControllerExample.swift
Owners: @jverkoey

[AppBar] Add a presented hidden example.
  components/AppBar/examples/AppBarPresentedHiddenExample.m
Owners: @jverkoey

[Tabs] Move effectively private MDCTabBarExtendedAlignment.h and MDCTabBarSizeClassDelegate.h headers into extension directories.
  components/Tabs/src/ExtendedAlignment/MDCTabBarExtendedAlignment.h
  components/Tabs/src/MDCTabBar.m
  components/Tabs/src/SizeClassDelegate/MDCTabBarSizeClassDelegate.h
  components/Tabs/tests/snapshot/MDCTabBarExtendedAlignmentSnapshotTests.m
  components/Tabs/tests/snapshot/MDCTabBarSizeClassDelegateSnapshotTests.m
Owners: @material-components/core-ios-team

[Snackbar] Add an option to dismiss when the user taps anywhere on the overlay.
  components/Snackbar/src/MDCSnackbarMessage.h
  components/Snackbar/src/MDCSnackbarMessage.m
  components/Snackbar/src/MDCSnackbarMessageView.m
  components/Snackbar/tests/unit/MDCSnackbarMessageViewTests.m
  components/Snackbar/tests/unit/supplemental/MDCFakeMDCSnackbarManagerDelegate.h
  components/Snackbar/tests/unit/supplemental/MDCFakeMDCSnackbarManagerDelegate.m
Owners: @yarneo

[ProgressView] Add support for gradient progress bar.
  components/ProgressView/examples/ProgressViewExample.m
  components/ProgressView/src/MDCProgressView.h
  components/ProgressView/src/MDCProgressView.m
  components/ProgressView/src/private/MDCProgressGradientView.h
  components/ProgressView/src/private/MDCProgressGradientView.m
  components/ProgressView/tests/snapshot/MDCProgressViewSnapshotTests.m
Owners: @material-components/core-ios-team

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

[AppBar] Make the presented hidden example show a new view controller each time.
  components/AppBar/examples/AppBarPresentedHiddenExample.m
Owners: @jverkoey
