Repository material-components/material-components-ios, changes with the owners that CODEOWNERS names for each.
All owners: @material-components/core-ios-team, @codeman7, @yarneo, @jverkoey, @wenyuzhang666, @randallli, @galiak11, @iberezan, @andrewoverton, @jakerockland

[MDC] Adding badge view into MDCTabBarView.
  components/Tabs/src/TabBarView/MDCTabBarView.h
  components/Tabs/src/TabBarView/MDCTabBarView.m
  components/Tabs/src/TabBarView/private/MDCTabBarViewItemView.h
  components/Tabs/src/TabBarView/private/MDCTabBarViewItemView.m
Owners: @material-components/core-ios-team

Fix Snackbar dismissal when VoiceControl is enabled
  components/Snackbar/src/MDCSnackbarMessageView.m
Owners: @yarneo

Bring the text field to focus when the trailing assistive label view is tapped inside out.
  components/TextControls/src/BaseTextFields/MDCBaseTextField.m
Owners: @material-components/core-ios-team

Fix dialog button layout on text size changes
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
  components/Dialogs/tests/unit/MDCAlertControllerLayoutTests.m
Owners: @galiak11, @iberezan

Prevent button images from changing color when presenting a modal view
  components/Buttons/src/MDCButton.m
Owners: @randallli

Prevent bottom navigation images from changing color when presenting a modal view
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
Owners: @material-components/core-ios-team

Adjust slider animation for external UIView animation block
  components/private/ThumbTrack/src/MDCThumbTrack.m
Owners: @material-components/core-ios-team

Update dots when active segment shrinks and thumb crosses anchor
  components/Slider/tests/snapshot/MDCSliderSnapshotTests.m
  components/private/ThumbTrack/src/MDCThumbTrack.m
Owners: @material-components/core-ios-team

Delete CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Owners: @material-components/core-ios-team

Update accessibilityElementsHidden when VoiceOver status changes
  components/Snackbar/src/MDCSnackbarManager.m
  components/Snackbar/tests/unit/MDCSnackbarMessageViewTests.m
Owners: @yarneo

[Typography] Annotate mostly all APIs as To Be Deprecated.
  components/Typography/src/MDCTypography.h
  components/Typography/src/UIFont+MaterialScalable.h
  components/Typography/src/UIFont+MaterialSimpleEquality.h
  components/Typography/src/UIFont+MaterialTypography.h
  components/Typography/src/UIFontDescriptor+MaterialTypography.h
  components/Typography/src/private/MDCFontTraits.h
  components/Typography/src/private/MDCTypographyUtilities.h
  components/Typography/src/private/UIFont+MaterialTypographyPrivate.h
Owners: @material-components/core-ios-team

[TextFields] Update all deprecation notices.
  components/TextFields/src/ColorThemer/MDCFilledTextFieldColorThemer.h
  components/TextFields/src/MDCIntrinsicHeightTextView.h
  components/TextFields/src/MDCMultilineTextField.h
  components/TextFields/src/MDCMultilineTextInputDelegate.h
  components/TextFields/src/MDCMultilineTextInputLayoutDelegate.h
  components/TextFields/src/MDCTextField.h
  components/TextFields/src/MDCTextFieldPositioningDelegate.h
  components/TextFields/src/MDCTextInput.h
  components/TextFields/src/MDCTextInputBorderView.h
  components/TextFields/src/MDCTextInputCharacterCounter.h
  components/TextFields/src/MDCTextInputController.h
  components/TextFields/src/MDCTextInputControllerBase.h
  components/TextFields/src/MDCTextInputControllerFilled.h
  components/TextFields/src/MDCTextInputControllerFloatingPlaceholder.h
  components/TextFields/src/MDCTextInputControllerFullWidth.h
  components/TextFields/src/MDCTextInputControllerLegacyDefault.h
  components/TextFields/src/MDCTextInputControllerLegacyFullWidth.h
  components/TextFields/src/MDCTextInputControllerOutlined.h
  components/TextFields/src/MDCTextInputControllerOutlinedTextArea.h
  components/TextFields/src/MDCTextInputControllerUnderline.h
  components/TextFields/src/MDCTextInputUnderlineView.h
  components/TextFields/src/Theming/MDCTextInputControllerFilled+MaterialTheming.h
  components/TextFields/src/Theming/MDCTextInputControllerOutlined+MaterialTheming.h
  components/TextFields/src/Theming/MDCTextInputControllerUnderline+MaterialTheming.h
  components/TextFields/src/private/MDCTextField+Testing.h
  components/TextFields/src/private/MDCTextInputArt.h
  components/TextFields/src/private/MDCTextInputCommonFundament.h
  components/TextFields/src/private/MDCTextInputControllerBase+Subclassing.h
Owners: @andrewoverton

[DynamicType] Mark `mdc_adjustsFontForContentSizeCategory` as deprecated.
  components/Buttons/src/MDCButton.h
  components/Chips/src/MDCChipView.h
Owners: @randallli, @material-components/core-ios-team

[ActionSheet] Clean up constraints for ActionSheet cell
  components/ActionSheet/src/private/MDCActionSheetItemTableViewCell.m
Owners: @codeman7

Create a sizeable accessory view for iOS 13 clients.
  components/Chips/src/MDCChipViewAccessoryView.h
  components/Chips/src/MDCChipViewAccessoryView.m
Owners: @material-components/core-ios-team

[ChipViewAccessory] Fixed typo in preferredsize API.
  components/Chips/src/MDCChipViewAccessoryView.h
  components/Chips/src/MDCChipViewAccessoryView.m
Owners: @material-components/core-ios-team

[ChipViewAccessory] Fixed typo in preferredSize API.
  components/Chips/src/MDCChipViewAccessoryView.h
  components/Chips/src/MDCChipViewAccessoryView.m
Owners: @material-components/core-ios-team

Add MDCBottomNavigationBar+ItemView category.
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/src/private/MDCBottomNavigationBar+ItemView.h
  components/BottomNavigation/src/private/MDCBottomNavigationBar+ItemView.m
  components/BottomNavigation/src/private/MDCBottomNavigationBar+Private.h
Owners: @material-components/core-ios-team

Provide a UIView category for animations that change bounds and corner radius.
  components/Shadow/README.md
  components/Shadow/examples/ShadowAnimationBugExample.swift
  components/Shadow/src/Animations/UIView+MDCShadowAnimations.h
  components/Shadow/src/Animations/UIView+MDCShadowAnimations.m
Owners: @material-components/core-ios-team

[Collections] Update background color images to support dynamic colors
  components/Collections/src/private/MDCCollectionViewStyler.m
  components/Collections/tests/unit/CollectionsStylerTests.m
Owners: @jverkoey

[PageControl] Mark the component as To Be Deprecated.
  components/PageControl/src/MDCPageControl.h
  components/PageControl/src/private/MDCPageControlIndicator.h
  components/PageControl/src/private/MDCPageControlTrackLayer.h
Owners: @randallli

[Palettes] Mark all APIs as To Be Deprecated
  components/Palettes/src/MDCPalettes.h
  components/Palettes/src/private/MDCPaletteExpansions.h
  components/Palettes/src/private/MDCPaletteNames.h
Owners: @jverkoey

[Color] Mark all APIs as To Be Deprecated
  components/schemes/Color/src/MDCLegacyColorScheme.h
  components/schemes/Color/src/MDCLegacyTonalColorScheme.h
  components/schemes/Color/src/MDCLegacyTonalPalette.h
  components/schemes/Color/src/MDCSemanticColorScheme.h
Owners: @material-components/core-ios-team

[TextFields] Disable deprecated implementation warnings.
  components/TextFields/src/MDCTextInputControllerBase.m
  components/TextFields/src/MDCTextInputControllerFullWidth.m
  components/TextFields/src/MDCTextInputControllerOutlined.m
Owners: @andrewoverton

[Slider] Mark the component as To Be Deprecated.
  components/Slider/src/ColorThemer/MDCSliderColorThemer.h
  components/Slider/src/MDCSlider.h
  components/Slider/src/MDCSliderDelegate.h
  components/Slider/src/private/MDCSlider+Private.h
Owners: @material-components/core-ios-team

Mark component To Be Deprecated
  components/private/ThumbTrack/src/MDCNumericValueLabel.h
  components/private/ThumbTrack/src/MDCThumbTrack.h
  components/private/ThumbTrack/src/MDCThumbView.h
  components/private/ThumbTrack/src/private/MDCDiscreteDotView.h
  components/private/ThumbTrack/src/private/MDCThumbTrack+Private.h
Owners: @material-components/core-ios-team

[MDCFontLoader, MDCFontScaler] Mark the component's APIs as To Be Deprecated.
  components/Typography/src/FontLoader/MDCTypographyFontLoader.h
  components/Typography/src/FontScaler/MDCFontScaler.h
Owners: @material-components/core-ios-team

Mark component To Be Deprecated
  components/TextControls/src/BaseTextAreas/MDCBaseTextArea.h
  components/TextControls/src/BaseTextAreas/MDCBaseTextAreaDelegate.h
  components/TextControls/src/BaseTextAreas/private/MDCBaseTextAreaLayout.h
  components/TextControls/src/BaseTextAreas/private/MDCBaseTextAreaTextView.h
  components/TextControls/src/BaseTextFields/MDCBaseTextField.h
  components/TextControls/src/BaseTextFields/MDCBaseTextFieldDelegate.h
  components/TextControls/src/Enums/MDCTextControlLabelBehavior.h
  components/TextControls/src/Enums/MDCTextControlState.h
  components/TextControls/src/FilledTextFields/MDCFilledTextField.h
  components/TextControls/src/OutlinedTextFields/MDCOutlinedTextField.h
  components/TextControls/src/UnderlinedTextFields/MDCUnderlinedTextField.h
Owners: @material-components/core-ios-team

Mark symbols to be deprecated
  components/NavigationBar/src/MDCNavigationBar.h
Owners: @yarneo, @jverkoey

Mark symbols to be deprecated
  components/Ink/src/MDCInkGestureRecognizer.h
  components/Ink/src/MDCInkTouchController.h
  components/Ink/src/MDCInkTouchControllerDelegate.h
  components/Ink/src/MDCInkView.h
  components/Ink/src/MDCInkViewDelegate.h
  components/Ink/src/private/MDCInkLayer.h
  components/Ink/src/private/MDCInkLayerDelegate.h
  components/Ink/src/private/MDCLegacyInkLayer+Private.h
  components/Ink/src/private/MDCLegacyInkLayer.h
  components/Ink/src/private/MDCLegacyInkLayerRippleDelegate.h
Owners: @yarneo

Mark symbols to be deprecated
  components/Tabs/src/ExtendedAlignment/MDCTabBarExtendedAlignment.h
Owners: @material-components/core-ios-team

Mark symbols to be deprecated
  components/Tabs/src/SizeClassDelegate/MDCTabBarSizeClassDelegate.h
Owners: @material-components/core-ios-team

[Material iOS] Annotate "deprecated" symbols for Tab related components.
  components/Tabs/src/MDCTabBar.h
  components/Tabs/src/MDCTabBarAlignment.h
  components/Tabs/src/MDCTabBarControllerDelegate.h
  components/Tabs/src/MDCTabBarDelegate.h
  components/Tabs/src/MDCTabBarDisplayDelegate.h
  components/Tabs/src/MDCTabBarIndicatorAttributes.h
  components/Tabs/src/MDCTabBarIndicatorContext.h
  components/Tabs/src/MDCTabBarIndicatorTemplate.h
  components/Tabs/src/MDCTabBarItemAppearance.h
  components/Tabs/src/MDCTabBarTextTransform.h
  components/Tabs/src/MDCTabBarUnderlineIndicatorTemplate.h
  components/Tabs/src/MDCTabBarViewController.h
Owners: @material-components/core-ios-team

[Shadows] Annotate "to be deprecated" symbols for MDCShadowLayer.
  components/ShadowLayer/src/MDCShadowLayer.h
Owners: @jverkoey

[Schemes] Annotate "to be deprecated" symbols for scheme related components.
  components/schemes/Container/src/MDCContainerScheme.h
  components/schemes/Shape/src/MDCShapeCategory.h
  components/schemes/Shape/src/MDCShapeScheme.h
Owners: @material-components/core-ios-team

[AppBar] Annotate all APIs as To Be Deprecated.
  components/AppBar/src/ColorThemer/MDCAppBarColorThemer.h
  components/AppBar/src/MDCAppBarContainerViewController.h
  components/AppBar/src/MDCAppBarNavigationController.h
  components/AppBar/src/MDCAppBarNavigationControllerToBeDeprecatedDelegate.h
  components/AppBar/src/MDCAppBarViewController.h
  components/AppBar/src/MDCAppBarViewControllerAccessibilityPerformEscapeDelegate.h
  components/AppBar/src/TypographyThemer/MDCAppBarTypographyThemer.h
Owners: @jverkoey

Marked APIs deprecated.
  components/schemes/Typography/src/MDCTypographyScheme.h
  components/schemes/Typography/src/Scheming/MDCTypographyScheming.h
Owners: @material-components/core-ios-team

Marked APIs deprecated.
  components/schemes/Typography/src/MDCTypographyScheme.h
  components/schemes/Typography/src/Scheming/MDCTypographyScheming.h
Owners: @material-components/core-ios-team

[Collections] Annotate all APIs as To Be Deprecated
  components/Collections/src/MDCCollectionViewController.h
  components/Collections/src/MDCCollectionViewEditing.h
  components/Collections/src/MDCCollectionViewEditingDelegate.h
  components/Collections/src/MDCCollectionViewFlowLayout.h
  components/Collections/src/MDCCollectionViewStyling.h
  components/Collections/src/MDCCollectionViewStylingDelegate.h
  components/Collections/src/private/MDCCollectionGridBackgroundView.h
  components/Collections/src/private/MDCCollectionInfoBarView.h
  components/Collections/src/private/MDCCollectionInfoBarViewDelegate.h
  components/Collections/src/private/MDCCollectionStringResources.h
  components/Collections/src/private/MDCCollectionViewEditor.h
  components/Collections/src/private/MDCCollectionViewStyler.h
Owners: @jverkoey

Mark symbols to be deprecated
  components/CollectionCells/src/MDCCollectionViewCell.h
  components/CollectionCells/src/MDCCollectionViewTextCell.h
  components/CollectionLayoutAttributes/src/MDCCollectionViewLayoutAttributes.h
Owners: @yarneo, @jverkoey

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
**       @material-components/core-ios-team

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
/components/ActionSheet/          @codeman7
/components/AnimationTiming/      @yarneo
/components/AppBar/               @jverkoey
/components/BottomAppBar/         @wenyuzhang666
/components/BottomSheet/          @yarneo
/components/Buttons/              @randallli
/components/Cards/                @yarneo
/components/CollectionCells/      @yarneo
/components/CollectionLayoutAttributes/ @jverkoey
/components/Collections/          @jverkoey
/components/Dialogs/              @galiak11 @iberezan
/components/FeatureHighlight/     @codeman7
/components/FlexibleHeader/       @jverkoey
/components/HeaderStackView/      @jverkoey
/components/Ink/                  @yarneo
/components/LibraryInfo/          @jverkoey
/components/List                  @andrewoverton
/components/MaskedTransition/     @jverkoey
/components/NavigationBar/        @yarneo @jverkoey
/components/NavigationDrawer/     @yarneo @jakerockland
/components/OverlayWindow/        @yarneo
/components/PageControl/          @randallli
/components/Palettes/             @jverkoey
/components/Ripple                @yarneo
/components/ShadowElevations/     @jverkoey
/components/ShadowLayer/          @jverkoey
/components/Snackbar/             @yarneo
/components/TextFields/           @andrewoverton
/components/Themes/               @jverkoey
