Repository material-components/material-components-ios, changes with the owners that CODEOWNERS names for each.
All owners: @material-components/core-ios-team, @codeman7, @yarneo, @jverkoey, @wenyuzhang666, @randallli, @galiak11, @iberezan, @andrewoverton, @jakerockland

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

[TextControls] Add shouldDeleteBackward delegate method
  components/TextControls/src/BaseTextFields/MDCBaseTextField.m
  components/TextControls/src/BaseTextFields/MDCBaseTextFieldDelegate.h
Owners: @material-components/core-ios-team

[TextControls] consider floating label min Y in - accessibilityPath
  components/TextControls/examples/supplemental/MDCTextControlTextAreaConfiguratorExample.m
  components/TextControls/examples/supplemental/MDCTextControlTextFieldConfiguratorExample.m
  components/TextControls/src/BaseTextFields/MDCBaseTextField.m
Owners: @material-components/core-ios-team

[TextControls] Add -baseTextField:shouldPerformAction:withSender:canPerformAction:
  components/TextControls/src/BaseTextFields/MDCBaseTextField.m
  components/TextControls/src/BaseTextFields/MDCBaseTextFieldDelegate.h
Owners: @material-components/core-ios-team

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Bumped version number to 118.1.0.
  MaterialComponents.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

[MDCSnackbar] Update MDCSnackbarManagerDelegate presentation lifecycle methods to declare a nonnull MDCSnackbarMessageView.
  components/Snackbar/examples/SnackbarSimpleExample.m
  components/Snackbar/src/MDCSnackbarManagerDelegate.h
  components/Snackbar/tests/unit/supplemental/MDCFakeMDCSnackbarManagerDelegate.m
Owners: @yarneo

Replace Banner docs
  components/Banner/README.md
  components/Banner/docs/README.md
  components/Banner/docs/assets/banner-anatomy.png
  components/Banner/docs/assets/banner-example.png
  components/Banner/docs/assets/banner-hero.png
  components/Banner/docs/assets/banner.png
  components/Banner/docs/assets/shrine-banner.png
  components/Banner/docs/examples.md
  components/Banner/docs/installation.md
  components/Banner/docs/typical-use.md
Owners: @material-components/core-ios-team

[Buttons] Add extra width to buttons with text and image when UIAccessibilityIsBoldTextEnabled is true.
  components/Buttons/src/MDCButton.m
Owners: @randallli

Remove notion of max item width from TabBarView and MDCTabBarViewItemView
  components/Tabs/src/TabBarView/MDCTabBarView.m
  components/Tabs/src/TabBarView/private/MDCTabBarViewItemView.m
  components/Tabs/tests/unit/TabBarView/MDCTabBarViewItemViewTests.m
Owners: @material-components/core-ios-team

Add more descriptive alt text
  components/Banner/README.md
Owners: @material-components/core-ios-team

[Banner] Replace banners docs
  components/Banner/README.md
  components/Banner/docs/README.md
  components/Banner/docs/assets/banner-anatomy.png
  components/Banner/docs/assets/banner-example.png
  components/Banner/docs/assets/banner-hero.png
  components/Banner/docs/assets/banner.png
  components/Banner/docs/assets/shrine-banner.png
  components/Banner/docs/examples.md
  components/Banner/docs/installation.md
  components/Banner/docs/typical-use.md
Owners: @material-components/core-ios-team

Support value comparison for MDCAlertAction
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/src/private/MDCAlertActionManager.m
  components/Dialogs/tests/unit/MDCAlertActionManagerTests.m
  components/Dialogs/tests/unit/MDCAlertControllerTests.m
Owners: @galiak11, @iberezan

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Bumped version number to 118.2.0.
  MaterialComponents.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

Update handling of ripple so that, for non scroll layout styles, it shows ripple on touch down rather than touch up.
  components/Tabs/src/TabBarView/MDCTabBarView.m
  components/Tabs/tests/unit/TabBarView/MDCTabBarViewTests.m
Owners: @material-components/core-ios-team

[Buttons] Update note on visibleAreaInsets to indicate it will be deprecated explicitly to prevent future usage.
  components/Buttons/src/MDCButton.h
Owners: @randallli

[Buttons] Add visibleAreaLayoutGuide for providing anchors to the visible area when centerVisibleArea is set to YES.
  components/Buttons/src/MDCButton.h
  components/Buttons/src/MDCButton.m
  components/Buttons/tests/snapshot/MDCButtonSnapshotTests.m
Owners: @randallli

Mark MDCTabBar as deprecated.
  components/Tabs/src/MDCTabBar.h
  components/Tabs/src/MDCTabBarControllerDelegate.h
  components/Tabs/src/MDCTabBarDelegate.h
  components/Tabs/src/MDCTabBarDisplayDelegate.h
  components/Tabs/src/MDCTabBarIndicatorAttributes.h
  components/Tabs/src/MDCTabBarViewController.h
Owners: @material-components/core-ios-team

[MDC-iOS/FAB] Migrate deprecated visibleAreaInsets API to centerVisibleArea API in FAB typical example.
  components/Buttons/examples/FloatingButtonTypicalUseExample.m
Owners: @randallli

[MDC-iOS/FAB] Remove deprecated setVisibleAreaInsets:forShape:inMode: API.
  components/Buttons/src/MDCFloatingButton.h
  components/Buttons/src/MDCFloatingButton.m
  components/Buttons/tests/unit/MDCFloatingButtonTests.m
Owners: @randallli

[MDC-iOS/FAB] Add shape API to allow changing FAB's shape after it is initialized.
  components/Buttons/src/MDCFloatingButton.h
  components/Buttons/src/MDCFloatingButton.m
  components/Buttons/tests/unit/MDCFloatingButtonTests.m
Owners: @randallli

[TextControls] add RTL snapshot tests
  components/TextControls/tests/snapshot/MDCBaseTextFieldSnapshotTests.m
  components/TextControls/tests/snapshot/MDCFilledTextFieldSnapshotTests.m
  components/TextControls/tests/snapshot/MDCOutlinedTextFieldSnapshotTests.m
  components/TextControls/tests/snapshot/MDCUnderlinedTextFieldSnapshotTests.m
  components/TextControls/tests/snapshot/supplemental/MDCBaseTextFieldTestsSnapshotTestHelpers.h
  components/TextControls/tests/snapshot/supplemental/MDCBaseTextFieldTestsSnapshotTestHelpers.m
Owners: @material-components/core-ios-team

[Buttons] Apply centerVisibleArea to a FAB with default shape example to reproduce shapeGenerator not getting updated issue on FAB.
  components/Buttons/examples/FloatingButtonTypicalUseExample.m
Owners: @randallli

[Buttons] Fix cornerRadius change not triggering the update on shapeGenerator when centerVisibleArea is YES.
  components/Buttons/src/MDCButton.m
Owners: @randallli

[Tabs] Fallback to scrollable when scrollableCentered is set and VoiceOver is running
  components/Tabs/src/TabBarView/MDCTabBarView.m
Owners: @material-components/core-ios-team

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

Release notes.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Bump the release.
  MaterialComponents.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

Fix typo in release notes.
  CHANGELOG.md
Owners: @material-components/core-ios-team

[TextControls] Call -[MDCBaseTextAreaDelegate baseTextArea:shouldChangeSize:] when setting assistive label text (if needed).
  components/TextControls/src/BaseTextAreas/MDCBaseTextArea.m
Owners: @material-components/core-ios-team

[TextControls] Use custom leadingView/trailingView instead of UITextField's leftView/rightView
  components/TextControls/src/BaseTextFields/MDCBaseTextField.h
  components/TextControls/src/BaseTextFields/MDCBaseTextField.m
  components/TextControls/tests/unit/BaseTextFields/MDCBaseTextFieldTests.m
  components/private/TextControlsPrivate/src/TextFields/MDCBaseTextFieldLayout.h
  components/private/TextControlsPrivate/src/TextFields/MDCBaseTextFieldLayout.m
  components/private/TextControlsPrivate/tests/unit/TextFields/MDCBaseTextFieldLayoutTests.m
Owners: @material-components/core-ios-team

[TextControls] Add text area snapshot tests
  components/TextControls/tests/snapshot/MDCBaseTextAreaSnapshotTests.h
  components/TextControls/tests/snapshot/MDCBaseTextAreaSnapshotTests.m
  components/TextControls/tests/snapshot/MDCFilledTextAreaSnapshotTests.m
  components/TextControls/tests/snapshot/MDCOutlinedTextAreaSnapshotTests.m
Owners: @material-components/core-ios-team

[TextControls] Add placeholder to text area
  components/TextControls/src/BaseTextAreas/MDCBaseTextArea.h
  components/TextControls/src/BaseTextAreas/MDCBaseTextArea.m
  components/TextControls/src/BaseTextFields/MDCBaseTextField.m
  components/TextControls/tests/snapshot/MDCBaseTextAreaSnapshotTests.m
  components/TextControls/tests/unit/BaseTextFields/MDCBaseTextFieldTests.m
  components/private/TextControlsPrivate/src/Shared/MDCTextControlPlaceholderSupport.h
  components/private/TextControlsPrivate/src/Shared/MDCTextControlPlaceholderSupport.m
  components/private/TextControlsPrivate/tests/unit/Shared/MDCTextControlPlaceholderSupportTests.m
Owners: @material-components/core-ios-team

[BottomNavigation] Add fade animation to bottom navigation item title label on (de)selection.
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
  components/BottomNavigation/tests/unit/MDCBottomNavigationBarTests.m
Owners: @material-components/core-ios-team

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
**       @material-components/core-ios-team

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
/components/ActionSheet/          @codeman7
/components/AnimationTiming/      @yarneo
/components/AppBar/               @jverkoey
/components/BottomAppBar/         @wenyuzhang666
/components/BottomSheet/          @yarneo
/components/Buttons/              @randallli
/components/Cards/                @yarneo
/components/CollectionCells/      @yarneo
/components/CollectionLayoutAttributes/ @jverkoey
/components/Collections/          @jverkoey
/components/Dialogs/              @galiak11 @iberezan
/components/FeatureHighlight/     @codeman7
/components/FlexibleHeader/       @jverkoey
/components/HeaderStackView/      @jverkoey
/components/Ink/                  @yarneo
/components/LibraryInfo/          @jverkoey
/components/List                  @andrewoverton
/components/MaskedTransition/     @jverkoey
/components/NavigationBar/        @yarneo @jverkoey
/components/NavigationDrawer/     @yarneo @jakerockland
/components/OverlayWindow/        @yarneo
/components/PageControl/          @randallli
/components/Palettes/             @jverkoey
/components/Ripple                @yarneo
/components/ShadowElevations/     @jverkoey
/components/ShadowLayer/          @jverkoey
/components/Snackbar/             @yarneo
/components/TextFields/           @andrewoverton
/components/Themes/               @jverkoey
