Repository material-components/material-components-ios, changes with the owners that CODEOWNERS names for each.
All owners: @material-components/core-ios-team, @codeman7, @yarneo, @jverkoey, @wenyuzhang666, @randallli, @galiak11, @iberezan, @andrewoverton, @jakerockland

[BottomNavigation] Mark more apis as to-be-deprecated.
  components/BottomNavigation/src/MDCBottomNavigationBar.h
  components/BottomNavigation/src/MDCBottomNavigationBar.m
Owners: @material-components/core-ios-team

[Dialogs] Mark more apis as to-be-deprecated.
  components/Dialogs/src/MDCAlertControllerView.h
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Owners: @galiak11, @iberezan

Internal change
  CHANGELOG.md
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

[Dialogs] Testing trailing actions in reversed vertical order
  components/Dialogs/tests/snapshot/MDCAlertControllerActionsTests.m
Owners: @galiak11, @iberezan

[Dialogs] Merge typical use examples
  components/Dialogs/examples/DialogsThemedPresentationExampleViewController.swift
  components/Dialogs/examples/DialogsTypicalUseExampleViewController.m
  components/Dialogs/examples/DialogsWithEmphasisButtonExampleViewController.swift
Owners: @galiak11, @iberezan

[Dialogs] Fix position of leading/trailing actions in vertical layout
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Owners: @galiak11, @iberezan

[Dialogs] Moving attributed message example out from accessory view examples
  components/Dialogs/examples/DialogsAccessoryExampleViewController.swift
  components/Dialogs/examples/DialogsAttributedExampleViewController.swift
Owners: @galiak11, @iberezan

[Dialogs] Use API_AVAILABLE instead of `#if defined (__IPHONE_10_0)` etc
  components/Dialogs/src/MDCAlertController.m
Owners: @galiak11, @iberezan

Update the MDCBottomDrawerViewController MDC themer to use dynamic colors.
  components/NavigationDrawer/src/Theming/MDCBottomDrawerViewController+MaterialTheming.m
Owners: @yarneo, @jakerockland

[Dialogs] Fixing alignment examples.
  components/Dialogs/examples/DialogsAlertCustomizationExampleViewController.swift
  components/Dialogs/examples/DialogsAlignmentExampleViewController.swift
Owners: @galiak11, @iberezan

[Dialogs] Adding dynamic type to accessory view examples
  components/Dialogs/examples/DialogsAccessoryExampleViewController.swift
Owners: @galiak11, @iberezan

[Dialogs] Add title icon examples
  components/Dialogs/examples/DialogsTitleImageExampleViewController.swift
  components/Dialogs/examples/resources/DialogsAssets.xcassets/STAY_AMSTERDAM-WIDE.imageset/Contents.json
  components/Dialogs/examples/resources/DialogsAssets.xcassets/STAY_AMSTERDAM-WIDE.imageset/STAY_AMSTERDAM-WIDE.jpg
  components/Dialogs/examples/resources/DialogsAssets.xcassets/STAY_AMSTERDAM.imageset/Contents.json
  components/Dialogs/examples/resources/DialogsAssets.xcassets/STAY_AMSTERDAM.imageset/STAY_AMSTERDAM.jpg
Owners: @galiak11, @iberezan

[Dialogs] Fix title icon resize on orientation change
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Owners: @galiak11, @iberezan

[TextControls] Make text areas shorter when there is no floating label
  components/TextControls/examples/supplemental/MDCTextControlTextAreaContentViewController.m
  components/TextControls/examples/supplemental/MDCTextControlTextFieldContentViewController.m
  components/TextControls/src/BaseTextAreas/private/MDCBaseTextAreaLayout.m
  components/TextControls/src/BaseTextFields/MDCBaseTextField.m
  components/private/TextControlsPrivate/src/BaseStyle/MDCTextControlVerticalPositioningReferenceBase.m
  components/private/TextControlsPrivate/src/FilledStyle/MDCTextControlVerticalPositioningReferenceFilled.m
  components/private/TextControlsPrivate/src/OutlinedStyle/MDCTextControlVerticalPositioningReferenceOutlined.m
  components/private/TextControlsPrivate/src/Shared/MDCTextControlVerticalPositioningReference.h
  components/private/TextControlsPrivate/src/Shared/MDCTextControlVerticalPositioningReference.m
  components/private/TextControlsPrivate/src/TextFields/MDCBaseTextFieldLayout.h
  components/private/TextControlsPrivate/src/TextFields/MDCBaseTextFieldLayout.m
  components/private/TextControlsPrivate/src/UnderlinedStyle/MDCTextControlVerticalPositioningReferenceUnderlined.m
  components/private/TextControlsPrivate/tests/unit/TextFields/MDCBaseTextFieldLayoutTests.m
Owners: @material-components/core-ios-team

[TextControls] Make text areas respond to width changes
  components/TextControls/src/BaseTextAreas/MDCBaseTextArea.m
  components/TextControls/src/BaseTextFields/MDCBaseTextField.m
Owners: @material-components/core-ios-team

Fix bug where MDCBottomDrawerContainerViewController has the size of the screen instead of the window when in iPad Slide Over.
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.m
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
Owners: @yarneo, @jakerockland

[Math] Mark MDCVisibleAreaInsetsForMinimumTappability deprecated.
  components/private/Math/src/MDCMath.h
Owners: @material-components/core-ios-team

Respect UIRefreshControl in tracked scroll view in flexible header.
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
Owners: @jverkoey

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Bumped version number to 110.2.0.
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

Automated g4 rollback of changelist 319253730.
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.m
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
Owners: @yarneo, @jakerockland

[TextControls] Fix line counting mechanism in text areas
  components/TextControls/src/BaseTextAreas/MDCBaseTextArea.m
Owners: @material-components/core-ios-team

[Chips] Use MAX to decide the size of visible area instead of CGSizeZero.
  components/Chips/src/MDCChipView.m
Owners: @material-components/core-ios-team

[Buttons] Add centerVisibleArea to MDCButton and mark visibleAreaInsets as to be deprecated.
  components/Buttons/examples/ButtonsTypicalUseExample.m
  components/Buttons/src/MDCButton.h
  components/Buttons/src/MDCButton.m
  components/Buttons/tests/snapshot/MDCButtonSnapshotTests.m
Owners: @randallli

[Buttons] Add safeguard to avoid overwriting centerVisibleArea with the same value.
  components/Buttons/src/MDCButton.m
Owners: @randallli

[Floating Button] Add centerVisibleArea support for the FAB and deprecate visibleAreaMode API.
  components/Buttons/src/MDCFloatingButton.h
  components/Buttons/src/MDCFloatingButton.m
  components/Buttons/tests/unit/MDCFloatingButtonTests.m
Owners: @randallli

[MDC/LibraryInfo] Add "k" to string const to fix clang-tidy
  components/LibraryInfo/src/MDCLibraryInfo.m
Owners: @jverkoey

[TextControls] Make text fields without floating labels shorter
  components/TextControls/examples/supplemental/MDCTextControlTextFieldContentViewController.m
  components/TextControls/tests/unit/BaseTextFields/MDCBaseTextFieldTests.m
  components/private/TextControlsPrivate/src/TextFields/MDCBaseTextFieldLayout.m
Owners: @material-components/core-ios-team

[Dialogs] Migrate Dialogs to use centerVisibleArea from visibleAreaInsets.
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Owners: @galiak11, @iberezan

[Material iOS] Accessible URLS: Using allowlist/allowed term instead of whitelist term
  scripts/check/accessible_urls
Owners: @material-components/core-ios-team

Fix bug - New task options don’t have enough padding in iPad Slide Over.
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.h
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.m
  components/NavigationDrawer/src/MDCBottomDrawerViewController.h
  components/NavigationDrawer/src/MDCBottomDrawerViewController.m
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.h
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
Owners: @yarneo, @jakerockland

[MDC-iOS] Fix containerScheme setting in Dragons.
  catalog/MDCDragons/MDCDragonsController.swift
Owners: @material-components/core-ios-team

[Chips] Remove visibleAreaInsets usage in examples with their corresponding snapshot tests.
  components/Chips/examples/ChipsTypicalUseViewController.m
Owners: @material-components/core-ios-team

[Math] Delete MDCVisibleAreaInsetsForMinimumTappability.
  components/private/Math/src/MDCMath.h
Owners: @material-components/core-ios-team

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

Update the MDCBottomDrawerViewController MDC themer to use dynamic colors.
  components/NavigationDrawer/src/Theming/MDCBottomDrawerViewController+MaterialTheming.m
Owners: @yarneo, @jakerockland

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Bumped version number to 110.3.0.
  CHANGELOG.md
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
**       @material-components/core-ios-team

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
/components/ActionSheet/          @codeman7
/components/AnimationTiming/      @yarneo
/components/AppBar/               @jverkoey
/components/BottomAppBar/         @wenyuzhang666
/components/BottomSheet/          @yarneo
/components/Buttons/              @randallli
/components/Cards/                @yarneo
/components/CollectionCells/      @yarneo
/components/CollectionLayoutAttributes/ @jverkoey
/components/Collections/          @jverkoey
/components/Dialogs/              @galiak11 @iberezan
/components/FeatureHighlight/     @codeman7
/components/FlexibleHeader/       @jverkoey
/components/HeaderStackView/      @jverkoey
/components/Ink/                  @yarneo
/components/LibraryInfo/          @jverkoey
/components/List                  @andrewoverton
/components/MaskedTransition/     @jverkoey
/components/NavigationBar/        @yarneo @jverkoey
/components/NavigationDrawer/     @yarneo @jakerockland
/components/OverlayWindow/        @yarneo
/components/PageControl/          @randallli
/components/Palettes/             @jverkoey
/components/Ripple                @yarneo
/components/ShadowElevations/     @jverkoey
/components/ShadowLayer/          @jverkoey
/components/Snackbar/             @yarneo
/components/TextFields/           @andrewoverton
/components/Themes/               @jverkoey
