Repository material-components/material-components-ios, changes with the owners that CODEOWNERS names for each.
All owners: @material-components/core-ios-team, @codeman7, @yarneo, @jverkoey, @wenyuzhang666, @randallli, @galiak11, @iberezan, @andrewoverton, @jakerockland

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
**       @material-components/core-ios-team

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
/components/ActionSheet/          @codeman7
/components/AnimationTiming/      @yarneo
/components/AppBar/               @jverkoey
/components/BottomAppBar/         @wenyuzhang666
/components/BottomSheet/          @yarneo
/components/Buttons/              @randallli
/components/Cards/                @yarneo
/components/CollectionCells/      @yarneo
/components/CollectionLayoutAttributes/ @jverkoey
/components/Collections/          @jverkoey
/components/Dialogs/              @galiak11 @iberezan
/components/FeatureHighlight/     @codeman7
/components/FlexibleHeader/       @jverkoey
/components/HeaderStackView/      @jverkoey
/components/Ink/                  @yarneo
/components/LibraryInfo/          @jverkoey
/components/List                  @andrewoverton
/components/MaskedTransition/     @jverkoey
/components/NavigationBar/        @yarneo @jverkoey
/components/NavigationDrawer/     @yarneo @jakerockland
/components/OverlayWindow/        @yarneo
/components/PageControl/          @randallli
/components/Palettes/             @jverkoey
/components/Ripple                @yarneo
/components/ShadowElevations/     @jverkoey
/components/ShadowLayer/          @jverkoey
/components/Snackbar/             @yarneo
/components/TextFields/           @andrewoverton
/components/Themes/               @jverkoey

Add void to functions in C missing parameters to fix -Wstrict-prototypes warnings.
  components/ActionSheet/src/private/MDCActionSheetItemTableViewCell.m
  components/BottomNavigation/src/MDCBottomNavigationBarController.m
  components/BottomNavigation/src/private/MDCBottomNavigationSystemDialogView.m
  components/Collections/src/private/MDCCollectionViewStyler.m
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
  components/Ink/src/private/MDCLegacyInkLayer.m
  components/Tabs/src/MDCTabBar.m
  components/TextFields/src/MDCTextInputControllerBase.m
  components/TextFields/src/MDCTextInputControllerFilled.m
  components/TextFields/src/MDCTextInputControllerFullWidth.m
  components/TextFields/src/MDCTextInputControllerLegacyDefault.m
  components/TextFields/src/MDCTextInputUnderlineView.m
  components/TextFields/src/private/MDCTextInputCommonFundament.m
  components/private/ThumbTrack/src/MDCThumbTrack.m
Owners: @codeman7, @material-components/core-ios-team, @jverkoey, @yarneo, @andrewoverton

Fixed up imports for TextControls
  components/TextControls/src/BaseTextAreas/MDCBaseTextArea.m
  components/TextControls/tests/snapshot/MDCBaseTextAreaSnapshotTests.m
  components/TextControls/tests/snapshot/MDCBaseTextFieldSnapshotTests.m
  components/TextControls/tests/snapshot/MDCOutlinedTextFieldSnapshotTests.m
Owners: @material-components/core-ios-team

Align positioning for badges and labels in BottomNavigationItem, and reduce symbol size in example.
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
Owners: @material-components/core-ios-team

Fix horizontal layout for GM3-branded Bottom Navigation.
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
Owners: @material-components/core-ios-team

Add itemBadgeHorizontalOffset property for BottomNavigationItemView.
  components/BottomNavigation/src/MDCBottomNavigationBar.h
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.h
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
Owners: @material-components/core-ios-team

Add size class checking for layouts.
  components/BottomNavigation/src/MDCBottomNavigationBar.h
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
Owners: @material-components/core-ios-team

Increase selection indicator animation speed, and change to expand on X-axis only
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
Owners: @material-components/core-ios-team

Fixed up imports for TextFields
  components/TextFields/src/ColorThemer/MDCFilledTextFieldColorThemer.h
  components/TextFields/src/ColorThemer/MDCFilledTextFieldColorThemer.m
  components/TextFields/src/MDCMultilineTextInputDelegate.h
  components/TextFields/src/private/MDCTextInputArt.h
Owners: @andrewoverton

Update nullability guidance.
  contributing/checklist.md
Owners: @material-components/core-ios-team

Remove unused variable pageNumber
  components/PageControl/src/MDCPageControl.m
Owners: @randallli

Replace (trackHeight - dotHeight) / 2 with circleOriginY to fix -Wunused-but-set-variable warning.
  components/private/ThumbTrack/src/private/MDCDiscreteDotView.m
Owners: @material-components/core-ios-team

Remove unused variables labelMinX and floatingLabelMinX
  components/private/TextControlsPrivate/src/TextFields/MDCBaseTextFieldLayout.m
Owners: @material-components/core-ios-team

Adjust icon positions.
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
Owners: @material-components/core-ios-team

Adjust bottom navigation item animations.
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
Owners: @material-components/core-ios-team

Fixed up imports for Typography
  components/Typography/src/FontScaler/MDCFontScaler.m
  components/Typography/tests/unit/TypographyTests.m
Owners: @material-components/core-ios-team

[MDC-iOS/Snackbar] Void token variable from test.
  components/Snackbar/tests/unit/SnackbarManagerTests.m
Owners: @yarneo

Ignore strict warnings on unused functions in private/Math
  components/private/Math/src/MDCMath.h
Owners: @material-components/core-ios-team

Fixed up imports for private/TextControlsPrivate
  components/private/TextControlsPrivate/src/TextFields/MDCTextControlTextField.h
  components/private/TextControlsPrivate/src/TextFields/MDCTextControlTextFieldSideViewAlignment.h
Owners: @material-components/core-ios-team

Fix a layout exception that was triggered on iPad Mini in SplitView.
  components/Collections/src/MDCCollectionViewController.m
Owners: @jverkoey

Fixed up imports for Slider
  components/Slider/tests/snapshot/MDCSliderSnapshotTests.m
  components/Slider/tests/unit/MDCSliderTests.m
  components/Slider/tests/unit/SliderRippleTests.m
Owners: @material-components/core-ios-team

[Tabs] Add the ability to disable ripple behavior.
  components/Tabs/src/TabBarView/MDCTabBarView.h
  components/Tabs/src/TabBarView/MDCTabBarView.m
  components/Tabs/src/TabBarView/private/MDCTabBarViewItemView.h
  components/Tabs/src/TabBarView/private/MDCTabBarViewItemView.m
Owners: @material-components/core-ios-team

Internal change
  components/ActivityIndicator/tests/unit/ActivityIndicatorTests.m
  components/BottomNavigation/tests/unit/MDCBottomNavigationBarKVOTests.m
  components/Buttons/tests/unit/MDCButtonTests.m
  components/Chips/tests/unit/ChipViewRippleTests.m
  components/Collections/tests/unit/CollectionsStylerTests.m
  components/Dialogs/tests/snapshot/MDCAlertControllerCustomTraitCollectionTests.m
  components/schemes/Typography/examples/MDCTypographySchemeFontListExampleViewController.m
Owners: @material-components/core-ios-team, @randallli, @jverkoey, @galiak11, @iberezan

[Collections] Delete the docs.
  components/Collections/README.md
  components/Collections/docs/assets/collections.png
Owners: @jverkoey

[Shadow] Support spread property for MDCShadow.
  components/Shadow/src/MDCShadow.h
  components/Shadow/src/MDCShadow.m
  components/Shadow/src/MDCShadowsCollection.m
  components/Shadow/tests/snapshot/MDCShadowSnapshotTests.m
  components/Shadow/tests/unit/MDCShadowTests.m
Owners: @material-components/core-ios-team

Fixed up imports for Ripple
  components/Ripple/tests/unit/MDCRippleLayerTests.m
  components/Ripple/tests/unit/MDCRippleViewTests.m
  components/Ripple/tests/unit/MDCStatefulRippleViewTests.m
Owners: @yarneo

Fixed up imports for NavigationDrawer
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
  components/NavigationDrawer/tests/snapshot/MDCBottomDrawerControllerSnapshotTests.m
  components/NavigationDrawer/tests/unit/MDCNavigationDrawerPresentationControllerTests.m
  components/NavigationDrawer/tests/unit/MDCNavigationDrawerScrollViewTests.m
  components/NavigationDrawer/tests/unit/MDCNavigationDrawerTest.m
Owners: @yarneo, @jakerockland

Fix parameter name in documentation comment.
  components/Chips/src/MDCChipView.h
Owners: @material-components/core-ios-team

Pass SnackbarManager to MDCSnackbarManagerDelegate methods.
  components/Snackbar/examples/SnackbarSimpleExample.m
  components/Snackbar/src/MDCSnackbarManager.h
  components/Snackbar/src/MDCSnackbarManager.m
  components/Snackbar/src/MDCSnackbarManagerDelegate.h
  components/Snackbar/tests/unit/MDCFakeMDCSnackbarManagerDelegate.m
Owners: @yarneo

Add missing nullability annotations
  components/Snackbar/src/MDCSnackbarManagerDelegate.h
Owners: @yarneo

objc_direct symbols have hidden visibility. This prevents them from being usable across framework boundaries, which breaks common usage patterns.
  components/Badges/src/Appearance/MDCBadgeAppearance.h
  components/Badges/src/Appearance/MDCDotBadgeAppearance.h
  components/Badges/src/MDCBadgeView.h
  components/Badges/src/MDCDotBadgeView.h
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.h
Owners: @material-components/core-ios-team

Change `progressTintColors` array to generic <UIColor *>.
  components/ProgressView/examples/ProgressViewExample.m
  components/ProgressView/src/MDCProgressView.h
  components/ProgressView/src/MDCProgressView.m
  components/ProgressView/src/private/MDCProgressGradientView.h
  components/ProgressView/src/private/MDCProgressGradientView.m
  components/ProgressView/tests/snapshot/MDCProgressViewSnapshotTests.m
Owners: @material-components/core-ios-team

Fixed up imports for Ink
  components/Ink/tests/unit/MDCInkLayerTests.m
  components/Ink/tests/unit/MDCLegacyInkLayerTests.m
Owners: @yarneo

Fixed up imports for FlexibleHeader
  components/FlexibleHeader/tests/unit/FlexibleHeaderHairlineTests.m
  components/FlexibleHeader/tests/unit/FlexibleHeaderHeightLegacySafeAreaBehaviorTests.m
  components/FlexibleHeader/tests/unit/FlexibleHeaderHeightTests.m
  components/FlexibleHeader/tests/unit/FlexibleHeaderMinMaxHeightIncludesSafeAreaTests.m
  components/FlexibleHeader/tests/unit/FlexibleHeaderMinMaxHeightTests.m
  components/FlexibleHeader/tests/unit/FlexibleHeaderShifterTests.m
  components/FlexibleHeader/tests/unit/FlexibleHeaderTopSafeAreaTests.m
  components/FlexibleHeader/tests/unit/FlexibleHeaderTopSafeAreaTestsFakeTopSafeAreaDelegate.h
  components/FlexibleHeader/tests/unit/FlexibleHeaderTopSafeAreaTestsFakeTopSafeAreaDelegate.m
Owners: @jverkoey

[Dialogs] Test that setting `titlePinsToTop` does not cause the alert view to load.
  components/Dialogs/tests/unit/MDCAlertControllerTests.m
Owners: @galiak11, @iberezan

[Chips] add NS_ASSUME_NONNULL_BEGIN annotation.
  components/Chips/src/MDCChipView.h
Owners: @material-components/core-ios-team

[Chips] Removed deprecated API annotation.
  components/Chips/src/MDCChipView.h
Owners: @material-components/core-ios-team

Fixed up imports and nullability for Dialogs
  components/Dialogs/src/Testing/MDCAlertController+Testing.m
  components/Dialogs/tests/snapshot/MDCAlertControllerConfigurationsTests.m
  components/Dialogs/tests/snapshot/MDCAlertControllerCustomTraitCollectionTests.m
  components/Dialogs/tests/snapshot/MDCAlertControllerInsetsTests.m
  components/Dialogs/tests/unit/MDCAlertActionManagerTests.m
  components/Dialogs/tests/unit/MDCAlertControllerColorThemerTests.m
  components/Dialogs/tests/unit/MDCAlertControllerCustomizationTests.m
  components/Dialogs/tests/unit/MDCAlertControllerInsetsTests.m
  components/Dialogs/tests/unit/MDCAlertControllerLayoutTests.m
  components/Dialogs/tests/unit/MDCAlertControllerRippleTests.m
  components/Dialogs/tests/unit/MDCAlertControllerTests.m
  components/Dialogs/tests/unit/MDCAlertControllerTypographyThemerTests.m
Owners: @galiak11, @iberezan

Fix bug related to Bold Text A11y feature.
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
Owners: @material-components/core-ios-team

internal change
  components/M3CButton/src/M3CButton.h
  components/M3CButton/src/M3CButton.m
  components/M3CButton/tests/snapshot/M3CButtonSnapshotTests.m
Owners: @material-components/core-ios-team

[Shadow] Merge shadow color (UIColor) into MDCShadow class.
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/Buttons/src/MDCButton.m
  components/Chips/src/MDCChipView.m
  components/M3CButton/src/M3CButton.m
  components/Shadow/examples/ShadowAnimationBugExample.swift
  components/Shadow/examples/ShadowTypicalUseExample.swift
  components/Shadow/src/MDCShadow.h
  components/Shadow/src/MDCShadow.m
  components/Shadow/src/MDCShadowsCollection.h
  components/Shadow/src/MDCShadowsCollection.m
  components/Shadow/tests/snapshot/MDCShadowSnapshotTests.m
  components/Shadow/tests/unit/MDCShadowTests.m
Owners: @material-components/core-ios-team, @randallli
