Repository material-components/material-components-ios, changes with the owners that CODEOWNERS names for each.
All owners: @material-components/core-ios-team, @codeman7, @yarneo, @jverkoey, @wenyuzhang666, @randallli, @galiak11, @iberezan, @andrewoverton, @jakerockland

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
**       @material-components/core-ios-team

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
/components/ActionSheet/          @codeman7
/components/AnimationTiming/      @yarneo
/components/AppBar/               @jverkoey
/components/BottomAppBar/         @wenyuzhang666
/components/BottomSheet/          @yarneo
/components/Buttons/              @randallli
/components/Cards/                @yarneo
/components/CollectionCells/      @yarneo
/components/CollectionLayoutAttributes/ @jverkoey
/components/Collections/          @jverkoey
/components/Dialogs/              @galiak11 @iberezan
/components/FeatureHighlight/     @codeman7
/components/FlexibleHeader/       @jverkoey
/components/HeaderStackView/      @jverkoey
/components/Ink/                  @yarneo
/components/LibraryInfo/          @jverkoey
/components/List                  @andrewoverton
/components/MaskedTransition/     @jverkoey
/components/NavigationBar/        @yarneo @jverkoey
/components/NavigationDrawer/     @yarneo @jakerockland
/components/OverlayWindow/        @yarneo
/components/PageControl/          @randallli
/components/Palettes/             @jverkoey
/components/Ripple                @yarneo
/components/ShadowElevations/     @jverkoey
/components/ShadowLayer/          @jverkoey
/components/Snackbar/             @yarneo
/components/TextFields/           @andrewoverton
/components/Themes/               @jverkoey

[Dialogs] Add snapshots tests for adjustable insets
  components/Dialogs/tests/snapshot/MDCAlertControllerInsetsTests.m
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testAlertActionsHaveCenteredCustomInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testAlertActionsHaveCustomInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testAlertActionsHaveJustifiedCustomInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testAlertActionsHaveJustifiedVerticalCustomInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testAlertActionsHaveVerticalCustomInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testAlertActionsHaveZeroInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testAlertContentAccessoryHaveCustomInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testAlertContentHasCustomInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testAlertContentHasZeroInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testAlertHasCustomInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testAlertTitleHasCustomInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testAlertTitleIconHasCustomInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testAlertTitleIconHasDefaultInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testAlertTitleIconInsetsOverrideTitleInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testAlertTitleIconTitleZeroInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testAlertTitleImageHasNoInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testAlertTitleImageTitleZeroInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testDefaultAlertAccessoryHasDefaultInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testDefaultAlertContentAndAccessoryHaveDefaultInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testDefaultAlertHasDefaultInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testDefaultAlertNoContentHasDefaultInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testDefaultAlertNoTitleHasDefaultInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testDefaultAlertTitleImageHasDefaultInsets_11_2@2x.png
Owners: @galiak11, @iberezan, @material-components/core-ios-team

[Dialogs] Rename titleIcon to titleImage
  components/Dialogs/examples/DialogsAlertCustomizationExampleViewController.swift
  components/Dialogs/src/ColorThemer/MDCAlertColorThemer.m
  components/Dialogs/src/MDCAlertController.h
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/src/MDCAlertControllerView.h
  components/Dialogs/src/Theming/MDCAlertController+MaterialTheming.m
  components/Dialogs/src/private/MDCAlertController+Customize.h
  components/Dialogs/src/private/MDCAlertControllerView+Private.h
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
  components/Dialogs/tests/snapshot/MDCAlertControllerConfigurationsTests.m
  components/Dialogs/tests/snapshot/MDCAlertControllerLocalizationTests.m
  components/Dialogs/tests/snapshot/MDCAlertControllerSnapshotTests.m
  components/Dialogs/tests/snapshot/MDCAlertController_ThemingSnapshotTests.m
  components/Dialogs/tests/unit/MDCAlertControllerCustomizationTests.m
  components/Dialogs/tests/unit/Theming/DialogsMaterialThemingTests.swift
Owners: @galiak11, @iberezan

[Dialogs] Add snapshots tests for adjustable insets (#9899)
  components/Dialogs/tests/snapshot/MDCAlertControllerInsetsTests.m
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testAlertActionsHaveCenteredCustomInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testAlertActionsHaveCustomInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testAlertActionsHaveJustifiedCustomInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testAlertActionsHaveJustifiedVerticalCustomInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testAlertActionsHaveVerticalCustomInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testAlertActionsHaveZeroInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testAlertContentAccessoryHaveCustomInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testAlertContentHasCustomInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testAlertContentHasZeroInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testAlertHasCustomInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testAlertTitleHasCustomInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testAlertTitleIconHasCustomInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testAlertTitleIconHasDefaultInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testAlertTitleIconInsetsOverrideTitleInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testAlertTitleIconTitleZeroInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testAlertTitleImageHasNoInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testAlertTitleImageTitleZeroInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testDefaultAlertAccessoryHasDefaultInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testDefaultAlertContentAndAccessoryHaveDefaultInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testDefaultAlertHasDefaultInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testDefaultAlertNoContentHasDefaultInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testDefaultAlertNoTitleHasDefaultInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testDefaultAlertTitleImageHasDefaultInsets_11_2@2x.png
Owners: @galiak11, @iberezan, @material-components/core-ios-team

[Dialogs] Fix incorrect vertical layout for uppercase buttons
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/tests/snapshot/MDCAlertControllerActionsTests.m
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testActionsLayoutHorizontallyForCatpitalizedButtonCase_11_2@2x.png
Owners: @galiak11, @iberezan, @material-components/core-ios-team

[Dialogs] Fix incorrect vertical layout for uppercase buttons (#9877)
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/tests/snapshot/MDCAlertControllerActionsTests.m
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testActionsLayoutHorizontallyForCatpitalizedButtonCase_11_2@2x.png
Owners: @galiak11, @iberezan, @material-components/core-ios-team

[Dialogs] Fix configuration snapshots layout
  components/Dialogs/tests/snapshot/MDCAlertControllerConfigurationsTests.m
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testAlertHasMessageAndAccessoryView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testAlertHasMessage_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testAlertHasTitleAndTitleIconAndMessageAndAccessoryViewInRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testAlertHasTitleAndTitleIconAndMessageAndAccessoryView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testAlertHasTitleAndTitleImageAndAccessoryView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testAlertHasTitleAndTitleImageAndMessageAndAccessoryView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testAlertHasTitleIconAndMessage_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testAlertHasTitleIcon_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testAlertHasTitleImageAndMessage_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testAlertHasTitleImage_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testMessageAlignmentIsCentered_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testMessageAlignmentIsJustified_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testMessageAlignmentIsNaturalInRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testMessageAlignmentIsRight_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testMessageDefaultAlignmentIsNatural_11_2@2x.png
Owners: @galiak11, @iberezan, @material-components/core-ios-team

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

Changelog.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Bump the release.
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

[ProgressView] Remove MDCProgressViewMotionSpec.
  MaterialComponents.podspec
  components/ProgressView/BUILD
  components/ProgressView/src/private/MDCProgressViewMotionSpec.h
  components/ProgressView/src/private/MDCProgressViewMotionSpec.m
Owners: @material-components/core-ios-team

[Dialogs] Fix layout for dialog actions snapshots
  components/Dialogs/tests/snapshot/MDCAlertControllerActionsTests.m
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testAutomaticChangeToVerticalLayoutForLongLowEmphasisActionsInRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testAutomaticChangeToVerticalLayoutForLongLowEmphasisActions_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testAutomaticChangeToVerticalLayoutForLongMediumEmphasisActionsInRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testAutomaticChangeToVerticalLayoutForLongMediumEmphasisActions_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testLowEmphasisActionsAreCenteredInHorizontalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testLowEmphasisActionsAreJustifiedInHorizontalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testLowEmphasisActionsAreJustifiedInVerticalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testLowEmphasisActionsAreLeadingInHorizontalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testLowEmphasisActionsAreLeadingInVerticalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testLowEmphasisActionsAreTrailingInVerticalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testLowEmphasisActionsOrderInHorizontalLayoutInRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testLowEmphasisActionsOrderInHorizontalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testMediumEmphasisActionsAreCenteredInHorizontalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testMediumEmphasisActionsAreJustifiedInHorizontalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testMediumEmphasisActionsAreJustifiedInVerticalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testMediumEmphasisActionsAreLeadingInHorizontalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testMediumEmphasisActionsAreLeadingInVerticalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testMediumEmphasisActionsAreTrailingInVerticalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testMediumEmphasisActionsOrderInHorizontalLayoutInRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testMediumEmphasisActionsOrderInHorizontalLayout_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testVerticalActionsAreOrderedByEmphasis_11_2@2x.png
Owners: @galiak11, @iberezan, @material-components/core-ios-team

fix test name
  components/Dialogs/tests/snapshot/MDCAlertControllerActionsTests.m
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testActionsLayoutHorizontallyForCapitalizedButtonCase_11_2@2x.png
Owners: @galiak11, @iberezan, @material-components/core-ios-team

[Material Dialogs] Custom title icon public API: Flip the priority between title icon and title custom view to mirror UIKit convention.
  components/Dialogs/src/MDCAlertControllerView.h
  components/Dialogs/src/private/MDCAlertController+Customize.h
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Owners: @galiak11, @iberezan

Examples.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Project import generated by Copybara.
  .gitattributes
Owners: @material-components/core-ios-team

Update .gitattributes to develop branch version.
  .gitattributes
Owners: @material-components/core-ios-team

[Dialogs] Minor grammatical fix.
  components/Dialogs/src/MDCDialogTransitionController.h
Owners: @galiak11, @iberezan

[FeatureHighlight] Minor docs fix.
  components/FeatureHighlight/src/MDCFeatureHighlightView.h
Owners: @codeman7

Project import generated by Copybara.
  components/Chips/src/MDCChipField.h
  components/Chips/src/MDCChipField.m
  components/Chips/src/MDCChipFieldDelegate.h
  components/Chips/src/MaterialChips.h
Owners: @material-components/core-ios-team

Custom title icon public API: Flip the priority between title icon and title custom view to mirror UIKit convention.
  components/Dialogs/src/MDCAlertControllerView.h
  components/Dialogs/src/private/MDCAlertController+Customize.h
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Owners: @galiak11, @iberezan

[ProgressView] Remove MDCProgressViewMotionSpec.
  MaterialComponents.podspec
  components/ProgressView/src/private/MDCProgressViewMotionSpec.h
  components/ProgressView/src/private/MDCProgressViewMotionSpec.m
Owners: @material-components/core-ios-team

fixigin preferred content size. fixing title icon calculations
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Owners: @galiak11, @iberezan

Fixing content top insets calculation
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Owners: @galiak11, @iberezan

[Dialogs] Calculate content insets independently of title insets
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Owners: @galiak11, @iberezan

fix actions alignment
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
  components/Dialogs/tests/snapshot/MDCAlertControllerConfigurationsTests.m
Owners: @galiak11, @iberezan

clang format
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Owners: @galiak11, @iberezan

[Dialogs] Calculate title Insets independently of content insets
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Owners: @galiak11, @iberezan

Copying fixes from PR #9904 and #9896
  components/Dialogs/tests/snapshot/MDCAlertControllerActionsTests.m
  components/Dialogs/tests/snapshot/MDCAlertControllerConfigurationsTests.m
Owners: @galiak11, @iberezan

adding all snapshot tests
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testActionsLayoutHorizontallyForCapitalizedButtonCase_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testActionsLayoutHorizontallyForCatpitalizedButtonCase_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testActionsLayoutHorizontallyForExtraLongButtons_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testAlertHasMessageAndAccessoryView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testAlertHasMessage_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testAlertHasTitleAndTitleIconAndMessageAndAccessoryViewInRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testAlertHasTitleAndTitleIconAndMessageAndAccessoryView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testAlertHasTitleAndTitleImageAndAccessoryView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testAlertHasTitleAndTitleImageAndMessageAndAccessoryView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testAlertHasTitleIconAndMessage_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testAlertHasTitleIcon_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testAlertHasTitleImageAndAccessoryView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testAlertHasTitleImageAndMessage_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testAlertHasTitleImage_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testAlertHasTitle_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testMessageAlignmentIsCentered_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testMessageAlignmentIsJustified_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testMessageAlignmentIsNaturalInRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testMessageAlignmentIsRight_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testMessageDefaultAlignmentIsNatural_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testAlertContentAccessoryHaveCustomInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testAlertContentHasCustomInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testAlertContentHasZeroInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testAlertHasCustomInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testAlertTitleHasCustomInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testAlertTitleIconInsetsOverrideTitleInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testAlertTitleIconTitleZeroInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testAlertTitleImageHasNoInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testAlertTitleImageTitleZeroInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testDefaultAlertNoContentHasDefaultInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testDefaultAlertNoTitleHasDefaultInsets_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerInsetsTests/testDefaultAlertTitleImageHasDefaultInsets_11_2@2x.png
Owners: @material-components/core-ios-team

[MDCTabBarView] Expose effectiveLayoutStyle as a readonly property.
  components/Tabs/src/TabBarView/MDCTabBarView.h
  components/Tabs/src/TabBarView/MDCTabBarView.m
Owners: @material-components/core-ios-team

Custom title icon public API: Flip the priority between title icon and title custom view to mirror UIKit convention.
  components/Dialogs/src/MDCAlertControllerView.h
  components/Dialogs/src/private/MDCAlertController+Customize.h
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Owners: @galiak11, @iberezan

[ActionSheet] Move protocol definitions into separate header files
  components/ActionSheet/src/MDCActionSheetController.h
  components/ActionSheet/src/MDCActionSheetController.m
  components/ActionSheet/src/MDCActionSheetControllerDelegate.h
  components/ActionSheet/tests/unit/MDCActionSheetControllerDelegateTests.m
Owners: @codeman7

[ButtonBar] Move protocol definitions into separate header files
  components/ButtonBar/src/MDCButtonBar.h
  components/ButtonBar/src/MDCButtonBar.m
  components/ButtonBar/src/MDCButtonBarDelegate.h
  components/ButtonBar/src/MaterialButtonBar.h
Owners: @material-components/core-ios-team

[ActivityIndicator] Move protocol definitions into separate header files
  components/ActivityIndicator/src/MDCActivityIndicator.h
  components/ActivityIndicator/src/MDCActivityIndicator.m
  components/ActivityIndicator/src/MDCActivityIndicatorDelegate.h
  components/ActivityIndicator/src/MaterialActivityIndicator.h
Owners: @material-components/core-ios-team

Internal change
  .clang-format
  components/ActivityIndicator/src/MDCActivityIndicator.m
  components/private/Icons/icons/ic_arrow_back/src/MaterialIcons+ic_arrow_back.h
  components/private/Icons/icons/ic_arrow_back/src/MaterialIcons+ic_arrow_back.m
  components/private/Icons/icons/ic_check/src/MaterialIcons+ic_check.h
  components/private/Icons/icons/ic_check/src/MaterialIcons+ic_check.m
  components/private/Icons/icons/ic_check_circle/src/MaterialIcons+ic_check_circle.h
  components/private/Icons/icons/ic_check_circle/src/MaterialIcons+ic_check_circle.m
  components/private/Icons/icons/ic_chevron_right/src/MaterialIcons+ic_chevron_right.h
  components/private/Icons/icons/ic_chevron_right/src/MaterialIcons+ic_chevron_right.m
  components/private/Icons/icons/ic_color_lens/src/MaterialIcons+ic_color_lens.h
  components/private/Icons/icons/ic_color_lens/src/MaterialIcons+ic_color_lens.m
  components/private/Icons/icons/ic_help_outline/src/MaterialIcons+ic_help_outline.h
  components/private/Icons/icons/ic_help_outline/src/MaterialIcons+ic_help_outline.m
  components/private/Icons/icons/ic_info/src/MaterialIcons+ic_info.h
  components/private/Icons/icons/ic_info/src/MaterialIcons+ic_info.m
  components/private/Icons/icons/ic_more_horiz/src/MaterialIcons+ic_more_horiz.h
  components/private/Icons/icons/ic_more_horiz/src/MaterialIcons+ic_more_horiz.m
  components/private/Icons/icons/ic_radio_button_unchecked/src/MaterialIcons+ic_radio_button_unchecked.h
  components/private/Icons/icons/ic_radio_button_unchecked/src/MaterialIcons+ic_radio_button_unchecked.m
  components/private/Icons/icons/ic_reorder/src/MaterialIcons+ic_reorder.h
  components/private/Icons/icons/ic_reorder/src/MaterialIcons+ic_reorder.m
  components/private/Icons/icons/ic_settings/src/MaterialIcons+ic_settings.h
  components/private/Icons/icons/ic_settings/src/MaterialIcons+ic_settings.m
  demos/Shrine/Shrine/ShrineDetailViewController.swift
Owners: @material-components/core-ios-team

[MaterialIcons] Remove pathFor_ic_* methods.
  components/private/Icons/icons/ic_arrow_back/src/MaterialIcons+ic_arrow_back.h
  components/private/Icons/icons/ic_arrow_back/src/MaterialIcons+ic_arrow_back.m
  components/private/Icons/icons/ic_check/src/MaterialIcons+ic_check.h
  components/private/Icons/icons/ic_check/src/MaterialIcons+ic_check.m
  components/private/Icons/icons/ic_check_circle/src/MaterialIcons+ic_check_circle.h
  components/private/Icons/icons/ic_check_circle/src/MaterialIcons+ic_check_circle.m
  components/private/Icons/icons/ic_chevron_right/src/MaterialIcons+ic_chevron_right.h
  components/private/Icons/icons/ic_chevron_right/src/MaterialIcons+ic_chevron_right.m
  components/private/Icons/icons/ic_color_lens/src/MaterialIcons+ic_color_lens.h
  components/private/Icons/icons/ic_color_lens/src/MaterialIcons+ic_color_lens.m
  components/private/Icons/icons/ic_help_outline/src/MaterialIcons+ic_help_outline.h
  components/private/Icons/icons/ic_help_outline/src/MaterialIcons+ic_help_outline.m
  components/private/Icons/icons/ic_info/src/MaterialIcons+ic_info.h
  components/private/Icons/icons/ic_info/src/MaterialIcons+ic_info.m
  components/private/Icons/icons/ic_more_horiz/src/MaterialIcons+ic_more_horiz.h
  components/private/Icons/icons/ic_more_horiz/src/MaterialIcons+ic_more_horiz.m
  components/private/Icons/icons/ic_radio_button_unchecked/src/MaterialIcons+ic_radio_button_unchecked.h
  components/private/Icons/icons/ic_radio_button_unchecked/src/MaterialIcons+ic_radio_button_unchecked.m
  components/private/Icons/icons/ic_reorder/src/MaterialIcons+ic_reorder.h
  components/private/Icons/icons/ic_reorder/src/MaterialIcons+ic_reorder.m
  components/private/Icons/icons/ic_settings/src/MaterialIcons+ic_settings.h
  components/private/Icons/icons/ic_settings/src/MaterialIcons+ic_settings.m
  demos/Shrine/Shrine/ShrineDetailViewController.swift
Owners: @material-components/core-ios-team

Problem: The title label does not resize in an edge case when the user enables bold text in settings->display & brightness and then opening the app if the title label was already on the screen.
  components/NavigationBar/src/MDCNavigationBar.m
Owners: @yarneo, @jverkoey

[Dialogs] Fix layout of configuration snapshot test.
  components/Dialogs/tests/snapshot/MDCAlertControllerConfigurationsTests.m
Owners: @galiak11, @iberezan

[Dialogs] recalculate alert layout after adding a title icon and title view
  components/Dialogs/src/MDCAlertController.m
Owners: @galiak11, @iberezan

Fix sizeThatFits method for MDCHeaderStackView to take into account both topBar and bottomBar.
  components/HeaderStackView/src/MDCHeaderStackView.m
  components/HeaderStackView/tests/unit/HeaderStackViewNoopTest.m
Owners: @jverkoey
