Repository material-components/material-components-ios, changes with the owners that CODEOWNERS names for each.
All owners: @material-components/core-ios-team, @codeman7, @yarneo, @jverkoey, @wenyuzhang666, @randallli, @galiak11, @iberezan, @andrewoverton, @jakerockland

Internal change
  components/FeatureHighlight/src/MDCFeatureHighlightViewController.m
  components/List/examples/CollectionListCellExampleTypicalUse.m
  components/Tabs/src/private/MDCItemBarCell.m
  components/TextControls/examples/supplemental/MDCTextControlConfiguratorExample.m
  components/TextControls/examples/supplemental/MDCTextControlContentViewController.m
  components/TextControls/examples/supplemental/MDCTextControlTextAreaContentViewController.m
  components/TextControls/examples/supplemental/MDCTextControlTextFieldContentViewController.m
  components/TextControls/src/BaseTextAreas/MDCBaseTextArea.m
Owners: @codeman7, @andrewoverton, @material-components/core-ios-team

[TextFields] Deprecate MDCTextField and its associated classes/protocols
  components/TextFields/src/MDCIntrinsicHeightTextView.h
  components/TextFields/src/MDCMultilineTextField.h
  components/TextFields/src/MDCMultilineTextInputDelegate.h
  components/TextFields/src/MDCMultilineTextInputLayoutDelegate.h
  components/TextFields/src/MDCTextField.h
  components/TextFields/src/MDCTextFieldPositioningDelegate.h
  components/TextFields/src/MDCTextInput.h
  components/TextFields/src/MDCTextInputBorderView.h
  components/TextFields/src/MDCTextInputCharacterCounter.h
  components/TextFields/src/MDCTextInputController.h
  components/TextFields/src/MDCTextInputControllerBase.h
  components/TextFields/src/MDCTextInputControllerFilled.h
  components/TextFields/src/MDCTextInputControllerFloatingPlaceholder.h
  components/TextFields/src/MDCTextInputControllerFullWidth.h
  components/TextFields/src/MDCTextInputControllerLegacyDefault.h
  components/TextFields/src/MDCTextInputControllerLegacyFullWidth.h
  components/TextFields/src/MDCTextInputControllerOutlined.h
  components/TextFields/src/MDCTextInputControllerOutlinedTextArea.h
  components/TextFields/src/MDCTextInputControllerUnderline.h
  components/TextFields/src/MDCTextInputUnderlineView.h
Owners: @andrewoverton

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Bumped version number to 124.0.0.
  MaterialComponents.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Update MotionAnimator dependency to 4.0
  MaterialComponents.podspec
Owners: @material-components/core-ios-team

Upgrade MotionAnimator dependency to 4.0.
  MaterialComponents.podspec
Owners: @material-components/core-ios-team

Update hidden state logic to address a race condition occurring when showing/hiding the navigation bar multiple times before the animation ends.
  components/BottomNavigation/src/MDCBottomNavigationBarController.m
Owners: @material-components/core-ios-team

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Bumped version number to 124.0.1.
  MaterialComponents.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

Delete Shrine demo project because it no longer reflects Material component's demo usage.
  demos/README.md
  demos/Shrine/.swiftlint.yml
  demos/Shrine/Podfile
  demos/Shrine/Shrine.xcodeproj/project.pbxproj
  demos/Shrine/Shrine.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  demos/Shrine/Shrine.xcodeproj/xcshareddata/xcschemes/Shrine.xcscheme
  demos/Shrine/Shrine.xcworkspace/contents.xcworkspacedata
  demos/Shrine/Shrine/AppDelegate.swift
  demos/Shrine/Shrine/Assets.xcassets/AppIcon.appiconset/Contents.json
  demos/Shrine/Shrine/Assets.xcassets/AppIcon.appiconset/logo2x.png
  demos/Shrine/Shrine/Assets.xcassets/AppIcon.appiconset/logo3x.png
  demos/Shrine/Shrine/Assets.xcassets/AppIcon.appiconset/logo_167.png
  demos/Shrine/Shrine/Assets.xcassets/AppIcon.appiconset/logo_76.png
  demos/Shrine/Shrine/Assets.xcassets/AppIcon.appiconset/logo_76_2x.png
  demos/Shrine/Shrine/Assets.xcassets/Contents.json
  demos/Shrine/Shrine/Assets.xcassets/ShrineLaunchLogo.imageset/Contents.json
  demos/Shrine/Shrine/Assets.xcassets/ShrineLaunchLogo.imageset/Shrine_logo_launchscreen.pdf
  demos/Shrine/Shrine/Assets.xcassets/ShrineLogo.imageset/Contents.json
  demos/Shrine/Shrine/Assets.xcassets/ShrineLogo.imageset/shrine_logo_withicon.pdf
  demos/Shrine/Shrine/Assets.xcassets/ShrineTextLogo.imageset/Contents.json
  demos/Shrine/Shrine/Assets.xcassets/ShrineTextLogo.imageset/shrine_text_logo.pdf
  demos/Shrine/Shrine/Base.lproj/LaunchScreen.storyboard
  demos/Shrine/Shrine/Info.plist
  demos/Shrine/Shrine/Resources/AbrilFatface-Regular.ttf
  demos/Shrine/Shrine/Resources/OFL.txt
  demos/Shrine/Shrine/Resources/products.json
  demos/Shrine/Shrine/Shrine-Bridging-Header.h
  demos/Shrine/Shrine/ShrineCollectionViewCell.swift
  demos/Shrine/Shrine/ShrineCollectionViewController.swift
  demos/Shrine/Shrine/ShrineData.swift
  demos/Shrine/Shrine/ShrineDetailViewController.swift
  demos/Shrine/Shrine/ShrineFlexibleHeaderContainerViewController.swift
  demos/Shrine/Shrine/ShrineHeaderContentView.swift
  demos/Shrine/Shrine/ShrineHeaderPage.swift
  demos/Shrine/Shrine/ShrineInkOverlay.swift
Owners: @material-components/core-ios-team

Docs updates
  components/BottomSheet/README.md
  components/Buttons/docs/buttons.md
  components/Buttons/docs/fabs.md
  components/Chips/README.md
  components/List/README.md
  components/NavigationDrawer/README.md
  components/Slider/README.md
  components/Snackbar/README.md
  components/Tabs/README.md
  components/Tabs/docs/assets/tabs-fixed-hero.png
  components/Tabs/docs/assets/tabs-scrollable-hero.png
  components/Tabs/docs/assets/tabs-types.png
  components/TextControls/README.md
  components/Typography/README.md
  components/Typography/docs/dynamic-type.md
  docs/supporting-shapes/README.md
  docs/theming.md
Owners: @yarneo, @randallli, @material-components/core-ios-team, @andrewoverton, @jakerockland

New in-development Shadow component (not ready for public use).
  components/Shadow/src/MDCShadow.h
  components/Shadow/src/MDCShadow.m
  components/Shadow/src/MDCShadowConfiguring.h
  components/Shadow/src/MDCShadowConfiguring.m
  components/Shadow/src/MaterialShadow.h
  components/Shadow/src/private/MDCShadow+Internal.h
  components/Shadow/tests/snapshot/MDCShadowSnapshotTests.m
  components/Shadow/tests/unit/MDCShadowTests.m
Owners: @material-components/core-ios-team

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Bumped version number to 124.1.1.
  MaterialComponents.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

[Multiple components] Miscellaneous doc updates
  components/BottomSheet/README.md
  components/Buttons/docs/buttons.md
  components/Buttons/docs/fabs.md
  components/Chips/README.md
  components/List/README.md
  components/NavigationDrawer/README.md
  components/Slider/README.md
  components/Snackbar/README.md
  components/Tabs/README.md
  components/Tabs/docs/assets/tabs-fixed-hero.png
  components/Tabs/docs/assets/tabs-scrollable-hero.png
  components/Tabs/docs/assets/tabs-types.png
  components/TextControls/README.md
  components/Typography/README.md
  components/Typography/docs/dynamic-type.md
  docs/supporting-shapes/README.md
  docs/theming.md
Owners: @yarneo, @randallli, @material-components/core-ios-team, @andrewoverton, @jakerockland

Dragon Catalog example of new in-development Shadow component.
  components/Shadow/examples/ShadowTypicalUseExample.swift
Owners: @material-components/core-ios-team

Internal change.
  MaterialComponents.podspec
  catalog/Podfile
  components/Buttons/tests/unit/ButtonsThemingTest.swift
  components/Cards/tests/unit/CardsMaterialThemingTests.swift
  components/Chips/tests/unit/ChipsMaterialThemingTests.swift
  components/Dialogs/tests/unit/DialogsMaterialThemingTests.swift
  components/List/tests/unit/ListMaterialThemingTests.swift
  components/TextFields/tests/unit/MDCTextFieldControllerUnderline_MaterialThemingTests.swift
  components/TextFields/tests/unit/TextFieldsMaterialThemingTests.swift
Owners: @material-components/core-ios-team, @randallli, @yarneo, @galiak11, @iberezan, @andrewoverton

Proof of concept of a flexible header with UINavigationController.
  MaterialComponents.podspec
  catalog/CatalogAssets.xcassets/Contents.json
  catalog/CatalogAssets.xcassets/amsterdam-kadoelen.imageset/Contents.json
  catalog/CatalogAssets.xcassets/amsterdam-kadoelen.imageset/amsterdam-kadoelen.jpg
  catalog/CatalogAssets.xcassets/amsterdam-kadoelen.imageset/amsterdam-kadoelen@2x.jpg
  catalog/CatalogAssets.xcassets/amsterdam-kadoelen.imageset/amsterdam-kadoelen@3x.jpg
  catalog/CatalogAssets.xcassets/amsterdam-zeeburg.imageset/Contents.json
  catalog/CatalogAssets.xcassets/amsterdam-zeeburg.imageset/amsterdam-zeeburg.jpg
  catalog/CatalogAssets.xcassets/amsterdam-zeeburg.imageset/amsterdam-zeeburg@2x.jpg
  catalog/CatalogAssets.xcassets/amsterdam-zeeburg.imageset/amsterdam-zeeburg@3x.jpg
  catalog/CatalogAssets.xcassets/austin-u-texas-pond.imageset/Contents.json
  catalog/CatalogAssets.xcassets/austin-u-texas-pond.imageset/austin-u-texas-pond.jpg
  catalog/CatalogAssets.xcassets/austin-u-texas-pond.imageset/austin-u-texas-pond@2x.jpg
  catalog/CatalogAssets.xcassets/austin-u-texas-pond.imageset/austin-u-texas-pond@3x.jpg
  catalog/MDCCatalog.xcodeproj/project.pbxproj
  catalog/MDCCatalog/AppDelegate.swift
  catalog/MDCCatalog/MDCCatalogComponentsController.swift
  catalog/MDCCatalog/MDCNodeListViewController.swift
  components/BottomNavigation/examples/BottomNavigationBarControllerExampleViewController.swift
  components/Shadow/src/MDCShadowConfiguring.m
Owners: @material-components/core-ios-team

Fix build errors related to the Shadow component.
  MaterialComponents.podspec
  components/BottomNavigation/examples/BottomNavigationBarControllerExampleViewController.swift
  components/Shadow/src/MDCShadowConfiguring.m
Owners: @material-components/core-ios-team

Only initialize blur effect view if it is not hidden.
  components/BottomNavigation/src/MDCBottomNavigationBar.m
Owners: @material-components/core-ios-team

[Dialogs] Groups MDCAlertController view's accessibility children.
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Owners: @galiak11, @iberezan

[Buttons] Attempt to reduce flakiness of the buttons screenshot tests.
  components/Buttons/examples/supplemental/ButtonsTypicalUseSupplemental.m
Owners: @randallli

Internal Change
  components/Buttons/examples/supplemental/ButtonsTypicalUseSupplemental.m
  components/NavigationBar/examples/NavigationBarAlertExample.swift
Owners: @randallli, @yarneo, @jverkoey

Ran swift format on MDCCatalogComponentsController.
  catalog/MDCCatalog/MDCCatalogComponentsController.swift
Owners: @material-components/core-ios-team

[Catalog] Give the component list accessibility identifier a more generic name.
  catalog/MDCCatalog/MDCCatalogComponentsController.swift
Owners: @material-components/core-ios-team

Adjust content view frame when safe area insets change.
  components/BottomSheet/src/private/MDCSheetContainerView.m
Owners: @yarneo

Upgrade Swift to 5.
  components/NavigationBar/examples/NavigationBarTypicalUseExample.swift
Owners: @yarneo, @jverkoey

[ButtonBar] Fix use of wrong enum values (using FloatingBar rather than ButtonBar)
  components/ButtonBar/tests/snapshot/MDCButtonBarSnapshotTests.m
Owners: @material-components/core-ios-team

Internal change.
  components/BottomNavigation/tests/unit/MDCBottomNavigationBarTests.m
  components/Dialogs/src/private/MDCAlertActionManager.m
  components/FlexibleHeader/tests/unit/FlexibleHeaderControllerIssue176Tests.swift
  components/NavigationDrawer/tests/unit/MDCNavigationDrawerTest.m
  components/PageControl/tests/unit/PageControlExampleTests.m
  components/Snackbar/tests/unit/SnackbarManagerTests.m
  components/TextFields/tests/unit/MDCTextInputCommonFundamentTests.m
  components/TextFields/tests/unit/TextFieldControllerClassPropertiesTests.swift
Owners: @material-components/core-ios-team, @galiak11, @iberezan, @jverkoey, @yarneo, @jakerockland, @randallli, @andrewoverton

Remove all iOS 10 availability checks from material_components_ios now that only iOS 10+ is supported.
  components/Banner/tests/snapshot/MDCBannerSnapshotTests.m
  components/Banner/tests/unit/BannerViewTests.m
  components/Banner/tests/unit/Theming/MDCBannerViewThemingTests.m
  components/Buttons/tests/snapshot/ButtonCustomTraitCollectionSnapshotTests.m
  components/Buttons/tests/snapshot/ButtonsFlippedImageRenderingSnapshotTests.m
  components/Chips/tests/snapshot/MDCChipViewLayoutSnapshotTests.m
  components/Chips/tests/snapshot/MDCChipViewSnapshotTests.m
  components/Chips/tests/unit/ChipsTests.m
  components/Elevation/tests/unit/MaterialElevationColorTests.m
  components/List/tests/snapshot/MDCSelfSizingStereoCellSnapshotTests.m
  components/List/tests/unit/MDCSelfSizingStereoCellTests.m
  components/Snackbar/tests/unit/MDCSnackbarMessageViewTests.m
  components/Tabs/tests/snapshot/MDCTabBarSnapshotTests.m
  components/Tabs/tests/unit/TabBarView/MDCTabBarViewTests.m
  components/TextControls/src/BaseTextFields/MDCBaseTextField.m
  components/TextControls/tests/snapshot/supplemental/MDCTextControlSnapshotTestHelpers.m
  components/TextControls/tests/unit/BaseTextAreas/MDCBaseTextAreaTests.m
  components/TextControls/tests/unit/BaseTextFields/MDCBaseTextFieldTests.m
  components/TextFields/tests/snapshot/supplemental/SnapshotFakeMDCMultilineTextField.m
  components/TextFields/tests/snapshot/supplemental/SnapshotFakeMDCTextField.m
  components/Typography/src/UIFont+MaterialScalable.m
  components/Typography/src/UIFontDescriptor+MaterialTypography.m
  components/Typography/src/private/MDCTypographyUtilities.m
  components/private/Color/tests/unit/MaterialColorTests.m
Owners: @material-components/core-ios-team, @randallli, @andrewoverton, @yarneo

Remove description related to iOS 9 as there is no longer iOS 9 support
  components/Typography/src/UIFont+MaterialScalable.h
Owners: @material-components/core-ios-team

[ActionSheet] Allow clients to get the view associated with a given action.
  components/ActionSheet/src/MDCActionSheetController.h
  components/ActionSheet/src/MDCActionSheetController.m
  components/ActionSheet/tests/snapshot/MDCActionSheetControllerViewForActionSnapshotTests.m
  components/ActionSheet/tests/unit/MDCActionSheetControllerTests.m
Owners: @codeman7

Delete the "Bare" demos app.
  demos/Bare/Bare.xcodeproj/project.pbxproj
  demos/Bare/Bare.xcodeproj/xcshareddata/xcschemes/Bare.xcscheme
  demos/Bare/Bare.xcworkspace/contents.xcworkspacedata
  demos/Bare/Bare/AppDelegate.h
  demos/Bare/Bare/AppDelegate.m
  demos/Bare/Bare/Assets.xcassets/AppIcon.appiconset/Contents.json
  demos/Bare/Bare/Base.lproj/LaunchScreen.storyboard
  demos/Bare/Bare/Base.lproj/Main.storyboard
  demos/Bare/Bare/Info.plist
  demos/Bare/Bare/ViewController.h
  demos/Bare/Bare/ViewController.m
  demos/Bare/Bare/main.m
  demos/Bare/Podfile
  demos/Bare/README.md
  demos/README.md
  demos/supplemental/RemoteImageService/RemoteImageService.h
  demos/supplemental/RemoteImageService/RemoteImageService.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team

Inform the delegate that the action sheet is dismissed when the dismissal is issued from the accessibility gesture.
  components/ActionSheet/src/MDCActionSheetController.m
Owners: @codeman7

[TextControls] Disable label animation when label is truncated
  components/TextControls/src/BaseTextAreas/MDCBaseTextArea.m
  components/TextControls/src/BaseTextAreas/private/MDCBaseTextAreaLayout.h
  components/TextControls/src/BaseTextAreas/private/MDCBaseTextAreaLayout.m
  components/TextControls/src/BaseTextFields/MDCBaseTextField.m
  components/TextControls/tests/snapshot/MDCBaseTextAreaSnapshotTests.m
  components/TextControls/tests/snapshot/MDCBaseTextFieldSnapshotTests.m
  components/private/TextControlsPrivate/src/Shared/MDCTextControl.h
  components/private/TextControlsPrivate/src/Shared/MDCTextControlLabelAnimation.h
  components/private/TextControlsPrivate/src/Shared/MDCTextControlLabelAnimation.m
  components/private/TextControlsPrivate/src/Shared/MDCTextControlLabelSupport.h
  components/private/TextControlsPrivate/src/Shared/MDCTextControlLabelSupport.m
  components/private/TextControlsPrivate/src/Shared/MDCTextControlPlaceholderSupport.h
  components/private/TextControlsPrivate/src/Shared/MDCTextControlPlaceholderSupport.m
  components/private/TextControlsPrivate/src/Shared/MDCTextControlSideViewSupport.h
  components/private/TextControlsPrivate/src/Shared/MDCTextControlVerticalPositioningReference.h
  components/private/TextControlsPrivate/src/Shared/MaterialTextControlsPrivate+Shared.h
  components/private/TextControlsPrivate/src/TextFields/MDCBaseTextFieldLayout.h
  components/private/TextControlsPrivate/src/TextFields/MDCBaseTextFieldLayout.m
  components/private/TextControlsPrivate/tests/unit/Shared/MDCTextControlPlaceholderSupportTests.m
Owners: @material-components/core-ios-team

Consolidate all information regarding platform exceptions.
  components/Backdrop/.jazzy.yaml
  components/Backdrop/README.md
  components/Checkboxes/.jazzy.yaml
  components/Checkboxes/README.md
  components/DataTables/.jazzy.yaml
  components/DataTables/README.md
  components/Dividers/.jazzy.yaml
  components/Dividers/README.md
  components/ImageList/.jazzy.yaml
  components/ImageList/README.md
  components/Menus/.jazzy.yaml
  components/Menus/README.md
  components/README.md
  components/RadioButton/.jazzy.yaml
  components/RadioButton/README.md
  components/SideSheet/.jazzy.yaml
  components/SideSheet/README.md
  components/Switch/.jazzy.yaml
  components/Switch/README.md
  components/Tooltips/.jazzy.yaml
  components/Tooltips/README.md
Owners: @material-components/core-ios-team

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
**       @material-components/core-ios-team

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
/components/ActionSheet/          @codeman7
/components/AnimationTiming/      @yarneo
/components/AppBar/               @jverkoey
/components/BottomAppBar/         @wenyuzhang666
/components/BottomSheet/          @yarneo
/components/Buttons/              @randallli
/components/Cards/                @yarneo
/components/CollectionCells/      @yarneo
/components/CollectionLayoutAttributes/ @jverkoey
/components/Collections/          @jverkoey
/components/Dialogs/              @galiak11 @iberezan
/components/FeatureHighlight/     @codeman7
/components/FlexibleHeader/       @jverkoey
/components/HeaderStackView/      @jverkoey
/components/Ink/                  @yarneo
/components/LibraryInfo/          @jverkoey
/components/List                  @andrewoverton
/components/MaskedTransition/     @jverkoey
/components/NavigationBar/        @yarneo @jverkoey
/components/NavigationDrawer/     @yarneo @jakerockland
/components/OverlayWindow/        @yarneo
/components/PageControl/          @randallli
/components/Palettes/             @jverkoey
/components/Ripple                @yarneo
/components/ShadowElevations/     @jverkoey
/components/ShadowLayer/          @jverkoey
/components/Snackbar/             @yarneo
/components/TextFields/           @andrewoverton
/components/Themes/               @jverkoey
