Repository material-components/material-components-ios, changes with the owners that CODEOWNERS names for each.
All owners: @material-components/core-ios-team, @codeman7, @yarneo, @jverkoey, @wenyuzhang666, @randallli, @galiak11, @iberezan, @andrewoverton, @jakerockland

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Bumped version number to 109.3.0.
  CHANGELOG.md
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

[Snackbar] Add an option to dismiss when the user taps anywhere on the overlay.
  components/Snackbar/src/MDCSnackbarMessage.h
  components/Snackbar/src/MDCSnackbarMessage.m
  components/Snackbar/src/MDCSnackbarMessageView.m
  components/Snackbar/tests/unit/MDCSnackbarMessageViewTests.m
  components/Snackbar/tests/unit/supplemental/MDCFakeMDCSnackbarManagerDelegate.h
  components/Snackbar/tests/unit/supplemental/MDCFakeMDCSnackbarManagerDelegate.m
Owners: @yarneo

[AppBar] Make the presented hidden example show a new view controller each time.
  components/AppBar/examples/AppBarPresentedHiddenExample.m
Owners: @jverkoey

[ProgressView] Add support for gradient progress bar.
  components/ProgressView/examples/ProgressViewExample.m
  components/ProgressView/src/MDCProgressView.h
  components/ProgressView/src/MDCProgressView.m
  components/ProgressView/src/private/MDCProgressGradientView.h
  components/ProgressView/src/private/MDCProgressGradientView.m
  components/ProgressView/tests/snapshot/MDCProgressViewSnapshotTests.m
Owners: @material-components/core-ios-team

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Bumped version number to 109.3.0.
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

Internal change
  CHANGELOG.md
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  components/Typography/examples/TypographyMaterialStylesViewController.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

[MDCTabBar] Add support for custom accessibility labels for tab bar items.
  components/Tabs/src/private/MDCItemBar.m
  components/Tabs/src/private/MDCItemBarCell.m
  components/Tabs/tests/unit/MDCItemBarTests.m
Owners: @material-components/core-ios-team

[FlexibleHeader] Ensure that the FlexibleHeader's position reacts to safeAreaInsets changes when hidden.
  components/AppBar/examples/AppBarPresentedHiddenExample.m
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
Owners: @jverkoey

[AppBar] Add NavigationController example with AppBar initially hidden.
  components/AppBar/examples/AppBarNavigationControllerWithAppBarInitiallyHiddenExample.swift
Owners: @jverkoey

[FlexibleHeader] Change links in FlexibleHeader README
  components/FlexibleHeader/README.md
Owners: @jverkoey

[MDC-iOS] Sync to v109.3.0.
  CHANGELOG.md
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

[FlexibleHeader] Extract a shifter logical unit.
  components/FlexibleHeader/src/MDCFlexibleHeaderView+ShiftBehavior.h
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
  components/FlexibleHeader/src/private/MDCFlexibleHeaderShifter.h
  components/FlexibleHeader/src/private/MDCFlexibleHeaderShifter.m
  components/FlexibleHeader/tests/unit/FlexibleHeaderShifterTests.m
Owners: @jverkoey

[AppBar] Inject AppBars after view controllers have been added to the navigation controller.
  components/AppBar/examples/AppBarNavigationControllerWithAppBarInitiallyHiddenExample.swift
  components/AppBar/src/MDCAppBarNavigationController.m
Owners: @jverkoey

[Tabs] Update podspec to include new folders.
  MaterialComponents.podspec
Owners: @material-components/core-ios-team

[MDC-iOS] Fix broken links This CL fixes some longstanding and some newly broken links.
  components/ActionSheet/README.md
  components/BottomAppBar/README.md
  components/HeaderStackView/README.md
  components/NavigationBar/README.md
  components/Ripple/README.md
  components/ShadowElevations/README.md
  components/schemes/Typography/README.md
Owners: @codeman7, @wenyuzhang666, @jverkoey, @yarneo, @material-components/core-ios-team

Automatic changelog preparation for release.
  CHANGELOG.md
Owners: @material-components/core-ios-team

[Tabs] Update podspec to include new folders.
  MaterialComponents.podspec
Owners: @material-components/core-ios-team

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Bumped version number to 109.3.1.
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

[MDC-iOS] Fix broken links This CL fixes some longstanding and some newly broken links.
  CHANGELOG.md
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

Replace Dialogs Readme
  components/Dialogs/README.md
  components/Dialogs/docs/assets/dialogs_anatomy.png
Owners: @galiak11, @iberezan

Rename image
  components/Dialogs/README.md
  components/Dialogs/docs/assets/dialogs-anatomy.png
Owners: @galiak11, @iberezan

Delete old docs
  components/Dialogs/docs/accessibility.md
  components/Dialogs/docs/color-theming.md
  components/Dialogs/docs/theming.md
  components/Dialogs/docs/typical-use-alert.md
  components/Dialogs/docs/typical-use-modal-dialog.md
  components/Dialogs/docs/typography-theming.md
Owners: @galiak11, @iberezan

[AppBar] Roll-back "inject AppBars after view controllers have been added to the navigation controller."
  components/AppBar/examples/AppBarNavigationControllerWithAppBarInitiallyHiddenExample.swift
  components/AppBar/src/MDCAppBarNavigationController.m
Owners: @jverkoey

Update docs
  components/Dialogs/README.md
Owners: @galiak11, @iberezan

Address feedback
  components/Dialogs/README.md
Owners: @galiak11, @iberezan

Have "Cocoapods" link to Cococapods getting started guide
  components/Dialogs/README.md
Owners: @galiak11, @iberezan

Internal change
  components/ActionSheet/examples/ActionSheetTypicalUseExample.m
  components/Banner/examples/AppBarBannerExample.m
  components/BottomAppBar/examples/supplemental/BottomAppBarTypicalUseSupplemental.m
  components/BottomNavigation/examples/BottomNavigationTypicalUseExample.m
  components/Buttons/examples/ButtonsTypicalUseExample.m
  components/Buttons/examples/FloatingButtonTypicalUseExample.m
  components/Dialogs/README.md
  components/Dialogs/docs/accessibility.md
  components/Dialogs/docs/assets/dialogs-anatomy.png
  components/Dialogs/docs/color-theming.md
  components/Dialogs/docs/theming.md
  components/Dialogs/docs/typical-use-alert.md
  components/Dialogs/docs/typical-use-modal-dialog.md
  components/Dialogs/docs/typography-theming.md
  components/NavigationDrawer/examples/BottomDrawerInfiniteScrollingExample.swift
  components/NavigationDrawer/src/Theming/MDCBottomDrawerViewController+MaterialTheming.h
  components/NavigationDrawer/src/Theming/MDCBottomDrawerViewController+MaterialTheming.m
  components/NavigationDrawer/src/Theming/MaterialNavigationDrawer+MaterialTheming.h
  components/NavigationDrawer/tests/snapshot/MDCBottomDrawerControllerSnapshotTests.m
  components/Tabs/examples/TabBarIconExample.m
Owners: @codeman7, @material-components/core-ios-team, @wenyuzhang666, @randallli, @galiak11, @iberezan, @yarneo, @jakerockland

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Bumped version number to 109.4.0.
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Internal change.
  CHANGELOG.md
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

Internal change
  CHANGELOG.md
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

Rename theming umbrella header and add theming subspec to MaterialComponents.podspec
  MaterialComponents.podspec
  components/NavigationDrawer/src/Theming/MaterialNavigationDrawer+Theming.h
  components/NavigationDrawer/tests/snapshot/MDCBottomDrawerControllerSnapshotTests.m
Owners: @material-components/core-ios-team, @yarneo, @jakerockland

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
**       @material-components/core-ios-team

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
/components/ActionSheet/          @codeman7
/components/AnimationTiming/      @yarneo
/components/AppBar/               @jverkoey
/components/BottomAppBar/         @wenyuzhang666
/components/BottomSheet/          @yarneo
/components/Buttons/              @randallli
/components/Cards/                @yarneo
/components/CollectionCells/      @yarneo
/components/CollectionLayoutAttributes/ @jverkoey
/components/Collections/          @jverkoey
/components/Dialogs/              @galiak11 @iberezan
/components/FeatureHighlight/     @codeman7
/components/FlexibleHeader/       @jverkoey
/components/HeaderStackView/      @jverkoey
/components/Ink/                  @yarneo
/components/LibraryInfo/          @jverkoey
/components/List                  @andrewoverton
/components/MaskedTransition/     @jverkoey
/components/NavigationBar/        @yarneo @jverkoey
/components/NavigationDrawer/     @yarneo @jakerockland
/components/OverlayWindow/        @yarneo
/components/PageControl/          @randallli
/components/Palettes/             @jverkoey
/components/Ripple                @yarneo
/components/ShadowElevations/     @jverkoey
/components/ShadowLayer/          @jverkoey
/components/Snackbar/             @yarneo
/components/TextFields/           @andrewoverton
/components/Themes/               @jverkoey
