Repository material-components/material-components-ios, changes with the owners that CODEOWNERS names for each.
All owners: @material-components/core-ios-team, @codeman7, @yarneo, @jverkoey, @wenyuzhang666, @randallli, @galiak11, @iberezan, @andrewoverton, @jakerockland

Address PR feedback
  components/ProgressView/ProgressIndicators.md
  components/ProgressView/README.md
Owners: @material-components/core-ios-team

[ProgressView] Add ProgressIndicators.md for material.io
  components/Banner/README.md
  components/BottomNavigation/README.md
  components/ProgressView/ProgressIndicators.md
  components/ProgressView/README.md
  components/ProgressView/docs/assets/determinate-circular.png
  components/ProgressView/docs/assets/determinate-linear.png
  components/ProgressView/docs/assets/indeterminate-circular.gif
  components/ProgressView/docs/assets/indeterminate-linear.gif
  components/ProgressView/docs/assets/linear-progress-anatomy.png
  components/ProgressView/docs/assets/progress-indicator-hero.gif
  components/ProgressView/docs/assets/progress-indicator-types.gif
  components/ProgressView/docs/assets/shrine-linear-progress-indicator.gif
Owners: @material-components/core-ios-team

[Buttons] Fix bug where updating MDCButton's title case does not affect attributed titles.
  components/Buttons/src/MDCButton.m
  components/Buttons/tests/unit/MDCButtonTests.m
Owners: @randallli

[Shapes] Fix CGPath memory leaks under -[MDCShapedShadowLayer generateColorPathGivenLineWidth]
  components/Shapes/src/MDCShapedShadowLayer.m
Owners: @material-components/core-ios-team

Replace BottomSheet docs for material.io
  components/BottomSheet/README.md
  components/BottomSheet/docs/assets/bottom-sheet-hero.png
  components/BottomSheet/docs/assets/bottom-sheet-types.png
  components/BottomSheet/docs/assets/modal-bottom-sheet-anatomy.png
  components/BottomSheet/docs/assets/modal-bottom-sheet.png
Owners: @yarneo

[Manage People/Links] Removed a condition for `presentingViewYOffset` in `MDCBottomDrawerContainerViewController`
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
Owners: @yarneo, @jakerockland

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Bumped version number to 119.2.0.
  CHANGELOG.md
  MaterialComponents.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

Address feedback
  components/BottomSheet/README.md
Owners: @yarneo

Add call to update fonts from setItems to make sure tabBarView fonts are applied to new items.
  components/Tabs/src/TabBarView/MDCTabBarView.h
  components/Tabs/src/TabBarView/MDCTabBarView.m
  components/Tabs/tests/unit/TabBarView/MDCTabBarViewTests.m
Owners: @material-components/core-ios-team

[BottomSheet] Replace bottom sheet docs
  components/BottomSheet/README.md
  components/BottomSheet/docs/assets/bottom-sheet-hero.png
  components/BottomSheet/docs/assets/bottom-sheet-types.png
  components/BottomSheet/docs/assets/modal-bottom-sheet-anatomy.png
  components/BottomSheet/docs/assets/modal-bottom-sheet.png
Owners: @yarneo

[Multiple components] Change component README ToCs to bold paragraph style
  components/AppBar/README.md
  components/Banner/README.md
  components/BottomAppBar/README.md
  components/BottomNavigation/README.md
  components/Buttons/docs/buttons.md
  components/Buttons/docs/fabs.md
  components/Cards/README.md
  components/Chips/README.md
  components/Dialogs/README.md
  components/List/README.md
  components/NavigationDrawer/README.md
  components/Snackbar/README.md
  components/Tabs/README.md
  components/TextControls/README.md
Owners: @jverkoey, @material-components/core-ios-team, @wenyuzhang666, @randallli, @yarneo, @galiak11, @iberezan, @andrewoverton, @jakerockland

[TextControls] Rethink sizing behavior with sizing delegate method
  components/TextControls/src/BaseTextFields/MDCBaseTextField.m
  components/TextControls/src/BaseTextFields/MDCBaseTextFieldDelegate.h
Owners: @material-components/core-ios-team

Fix an issue where the indicator was shown moving in, rather than already at the selected item, when the tab bar appears for the first time.
  components/Tabs/src/TabBarView/MDCTabBarView.m
Owners: @material-components/core-ios-team

Create iOSmontyc
  .github/iOSmontyc
Owners: @material-components/core-ios-team

Create iOSmontyc
  .github/iOSmontyc
Owners: @material-components/core-ios-team

[Tabs] Add missing div tag
  components/Tabs/README.md
Owners: @material-components/core-ios-team

[Manage People/Links] Added `presentingViewYOffset` to `contentHeightSurplus` in `MDCBottomDrawerContainerViewController`
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
  components/NavigationDrawer/tests/unit/MDCNavigationDrawerTest.m
Owners: @yarneo, @jakerockland

Fix an issue where the indicator was shown moving in, rather than already at the selected item, when the tab bar items are recreated and the tab selected.
  components/Tabs/src/TabBarView/MDCTabBarView.m
Owners: @material-components/core-ios-team

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Bumped version number to 119.3.0.
  MaterialComponents.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

Ensure swift snippets always come before objc
  components/Buttons/docs/buttons.md
  components/Buttons/docs/fabs.md
  components/List/README.md
  components/TextControls/README.md
Owners: @randallli, @andrewoverton, @material-components/core-ios-team

[Multiple components] Ensure swift snippets always come before objc
  components/Buttons/docs/buttons.md
  components/Buttons/docs/fabs.md
  components/List/README.md
  components/TextControls/README.md
Owners: @randallli, @andrewoverton, @material-components/core-ios-team

[Releasing] Migrate release process to new official GitHub CLI
  scripts/release
Owners: @material-components/core-ios-team

Fix misc dev docs bugs
  components/AppBar/README.md
  components/AppBar/docs/assets/app-bar-example.png
  components/AppBar/docs/assets/appbar-types.png
  components/BottomAppBar/README.md
  components/BottomNavigation/README.md
  components/Buttons/docs/buttons.md
  components/Buttons/docs/fabs.md
  components/Cards/README.md
  components/Dialogs/README.md
  components/Dialogs/docs/assets/alert-example.png
Owners: @jverkoey, @wenyuzhang666, @material-components/core-ios-team, @randallli, @yarneo, @galiak11, @iberezan

Additional requested docs changes
  components/AppBar/README.md
  components/AppBar/docs/assets/app-bar-example.png
  components/AppBar/docs/assets/appbar-types.png
  components/BottomAppBar/README.md
  components/BottomNavigation/README.md
  components/Buttons/docs/buttons.md
  components/Buttons/docs/fabs.md
  components/Cards/README.md
  components/Dialogs/README.md
  components/Dialogs/docs/assets/alert-example.png
Owners: @jverkoey, @wenyuzhang666, @material-components/core-ios-team, @randallli, @yarneo, @galiak11, @iberezan

[Banner] setNeedsLayout before showing Banner in BannerAutolayoutSwiftExampleViewController
  components/Banner/examples/BannerAutolayoutSwiftExampleViewController.swift
Owners: @material-components/core-ios-team

[Cards] Update setting corner radius to match team style guide
  components/Cards/src/Theming/MDCCard+MaterialTheming.m
Owners: @yarneo

[Banner] Add contentEdgeInsets support to replace layoutMargins usage in sizeThatFits:.
  components/Banner/examples/AppBarBannerExample.m
  components/Banner/src/MDCBannerView.h
  components/Banner/src/MDCBannerView.m
  components/Banner/tests/snapshot/MDCBannerSnapshotTests.m
Owners: @material-components/core-ios-team

[List] Support vertically centered image views in MDCSelfSizingStereoCell
  components/List/src/MDCSelfSizingStereoCell.h
  components/List/src/MDCSelfSizingStereoCell.m
  components/List/src/MDCSelfSizingStereoCellImageViewVerticalPosition.h
  components/List/src/MaterialList.h
  components/List/src/private/MDCSelfSizingStereoCellLayout.h
  components/List/src/private/MDCSelfSizingStereoCellLayout.m
  components/List/tests/snapshot/MDCSelfSizingStereoCellSnapshotTests.m
Owners: @andrewoverton

Improve support for tvOS.
  components/Buttons/src/MDCButton.m
  components/Buttons/src/MDCFloatingButton+Animation.m
  components/ScalableFontDescriptor/src/MDCScalableFontDescriptor.m
Owners: @randallli, @material-components/core-ios-team

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Bumped version number to 119.4.0.
  MaterialComponents.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
**       @material-components/core-ios-team

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
/components/ActionSheet/          @codeman7
/components/AnimationTiming/      @yarneo
/components/AppBar/               @jverkoey
/components/BottomAppBar/         @wenyuzhang666
/components/BottomSheet/          @yarneo
/components/Buttons/              @randallli
/components/Cards/                @yarneo
/components/CollectionCells/      @yarneo
/components/CollectionLayoutAttributes/ @jverkoey
/components/Collections/          @jverkoey
/components/Dialogs/              @galiak11 @iberezan
/components/FeatureHighlight/     @codeman7
/components/FlexibleHeader/       @jverkoey
/components/HeaderStackView/      @jverkoey
/components/Ink/                  @yarneo
/components/LibraryInfo/          @jverkoey
/components/List                  @andrewoverton
/components/MaskedTransition/     @jverkoey
/components/NavigationBar/        @yarneo @jverkoey
/components/NavigationDrawer/     @yarneo @jakerockland
/components/OverlayWindow/        @yarneo
/components/PageControl/          @randallli
/components/Palettes/             @jverkoey
/components/Ripple                @yarneo
/components/ShadowElevations/     @jverkoey
/components/ShadowLayer/          @jverkoey
/components/Snackbar/             @yarneo
/components/TextFields/           @andrewoverton
/components/Themes/               @jverkoey
