Repository material-components/material-components-ios, changes with the owners that CODEOWNERS names for each.
All owners: @material-components/core-ios-team, @codeman7, @yarneo, @jverkoey, @wenyuzhang666, @randallli, @galiak11, @iberezan, @andrewoverton, @jakerockland

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
**       @material-components/core-ios-team

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
/components/ActionSheet/          @codeman7
/components/AnimationTiming/      @yarneo
/components/AppBar/               @jverkoey
/components/BottomAppBar/         @wenyuzhang666
/components/BottomSheet/          @yarneo
/components/Buttons/              @randallli
/components/Cards/                @yarneo
/components/CollectionCells/      @yarneo
/components/CollectionLayoutAttributes/ @jverkoey
/components/Collections/          @jverkoey
/components/Dialogs/              @galiak11 @iberezan
/components/FeatureHighlight/     @codeman7
/components/FlexibleHeader/       @jverkoey
/components/HeaderStackView/      @jverkoey
/components/Ink/                  @yarneo
/components/LibraryInfo/          @jverkoey
/components/List                  @andrewoverton
/components/MaskedTransition/     @jverkoey
/components/NavigationBar/        @yarneo @jverkoey
/components/NavigationDrawer/     @yarneo @jakerockland
/components/OverlayWindow/        @yarneo
/components/PageControl/          @randallli
/components/Palettes/             @jverkoey
/components/Ripple                @yarneo
/components/ShadowElevations/     @jverkoey
/components/ShadowLayer/          @jverkoey
/components/Snackbar/             @yarneo
/components/TextFields/           @andrewoverton
/components/Themes/               @jverkoey

Internal change
  components/Snackbar/src/MDCSnackbarMessageView.m
  components/Tabs/src/private/MDCItemBarCell.m
Owners: @yarneo, @material-components/core-ios-team

Default to low-priority announcements
  components/Snackbar/src/MDCSnackbarMessage.m
Owners: @yarneo

Add custom clear button to M3CTextField and fix rightView padding for RTL.
  components/M3CTextField/src/M3CTextField.swift
Owners: @material-components/core-ios-team

Internal change
  components/ShadowLayer/examples/ShadowCornerRadiusAnimationViewController.m
  components/Snackbar/src/private/MDCSnackbarOverlayView.m
  components/Tabs/examples/MDCTabBarViewTypicalExampleViewController.m
  components/Tabs/src/TabBarView/MDCTabBarView.m
  components/Tabs/src/private/MDCItemBar.m
  components/Tabs/tests/unit/MDCTabBarViewTests.m
  components/TextFields/src/MDCTextInputControllerBase.m
Owners: @jverkoey, @yarneo, @material-components/core-ios-team, @andrewoverton

Internal change.
  components/MinimumOS/src/MDCMinimumOS.h
Owners: @material-components/core-ios-team

Add public rightViewMode, leftViewMode, clearButton, and clearButtonTintColor properties to M3CTextField.
  components/M3CTextField/src/M3CTextField.swift
Owners: @material-components/core-ios-team

#Button Update docs around multiline use with capsule shape.
  components/M3CButton/src/M3CButton.h
Owners: @material-components/core-ios-team

Adjust button margins
  components/Banner/src/MDCBannerView.m
Owners: @material-components/core-ios-team

[MDCPageControl] Fix currentPage being set as -1 in RTL languages.
  components/PageControl/src/MDCPageControl.m
Owners: @randallli

Move errorIcon configuration into M3CTextField component.
  components/M3CTextField/src/M3CTextField.swift
Owners: @material-components/core-ios-team

Fix `trailingLabel` spacing when M3CTextField is used in a UICollectionViewCell.
  components/M3CTextField/src/M3CTextField.swift
Owners: @material-components/core-ios-team

[Floating Action Button][VoiceOver] Ignore taps when not the actively focused element.
  components/Buttons/src/MDCFloatingButton.m
Owners: @randallli

[Availability] Add macro for marking visionOS APIs as unavailable.
  components/Availability/src/MDCAvailability.h
Owners: @material-components/core-ios-team

Internal change
  components/M3CButton/src/M3CButton.m
Owners: @material-components/core-ios-team

Internal change
  CHANGELOG.md
  components/AnimationTiming/examples/AnimationTimingExampleViewController.m
  components/AnimationTiming/examples/AnimationTimingSwiftExampleViewController.swift
  components/AnimationTiming/src/CAMediaTimingFunction+MDCAnimationTiming.h
  components/AnimationTiming/src/CAMediaTimingFunction+MDCAnimationTiming.m
  components/AnimationTiming/src/MaterialAnimationTiming.h
  components/Snackbar/src/private/MDCSnackbarOverlayView.m
Owners: @material-components/core-ios-team, @yarneo

Update `MDCAlertControllerView` to more explicitly expose the differentiated `contentInsets` that are used in the `M3C` variation of the component.
  components/Dialogs/src/MDCAlertControllerView.h
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Owners: @galiak11, @iberezan

Delete deprecated keyboardOffset API.
  components/private/KeyboardWatcher/src/MDCKeyboardWatcher.h
  components/private/KeyboardWatcher/src/MDCKeyboardWatcher.m
Owners: @material-components/core-ios-team

[MDCKeyboardWatcher] Add nullability annotations.
  components/private/KeyboardWatcher/src/MDCKeyboardWatcher.h
  components/private/KeyboardWatcher/src/MDCKeyboardWatcher.m
Owners: @material-components/core-ios-team

[MDCKeyboardWatcher] Migrate off of deprecated mainScreen usage.
  components/private/KeyboardWatcher/src/MDCKeyboardWatcher.m
Owners: @material-components/core-ios-team

Internal change.
  components/private/KeyboardWatcher/src/MDCKeyboardWatcher.h
Owners: @material-components/core-ios-team

Internal change
  components/AnimationTiming/README.md
  components/AnimationTiming/examples/AnimationTimingExampleViewController.m
  components/AnimationTiming/examples/AnimationTimingSwiftExampleViewController.swift
  components/AnimationTiming/examples/supplemental/AnimationTimingExampleViewControllerSupplemental.h
  components/AnimationTiming/examples/supplemental/AnimationTimingExampleViewControllerSupplemental.m
  components/AnimationTiming/src/MaterialAnimationTiming.h
  components/AnimationTiming/src/UIView+MDCTimingFunction.h
  components/AnimationTiming/src/UIView+MDCTimingFunction.m
  components/AnimationTiming/tests/unit/AnimationTimingTests.m
  components/Tabs/examples/MDCTabBarViewTypicalExampleViewController.m
  components/TextFields/src/private/MDCTextInputCommonFundament.m
  components/private/TextControlsPrivate/src/Shared/MDCTextControlLabelAnimation.m
Owners: @yarneo, @material-components/core-ios-team, @andrewoverton

[Snackbar] Delete the unused disabledButtonAlpha property.
  components/Snackbar/src/MDCSnackbarManager.h
  components/Snackbar/src/MDCSnackbarManager.m
  components/Snackbar/src/MDCSnackbarMessageView.m
  components/Snackbar/tests/unit/MDCSnackbarMessageViewTests.m
Owners: @yarneo

#BottomNavigation Fix pointer support
  components/BottomNavigation/src/MDCBottomNavigationBar.m
Owners: @material-components/core-ios-team

Internal change
  CHANGELOG.md
Owners: @material-components/core-ios-team

Internal change
  CHANGELOG.md
Owners: @material-components/core-ios-team

Ensure text fields have zero padding by default
  components/M3CTextField/src/M3CTextField.swift
  components/M3CTextField/src/M3CTextView.swift
  components/M3CTextField/src/private/M3CTextInput.swift
Owners: @material-components/core-ios-team

Allow customization of selection indicator
  components/BottomNavigation/src/MDCBottomNavigationBar.h
  components/BottomNavigation/src/private/MDCBottomNavigationBar+Private.h
Owners: @material-components/core-ios-team

Port over constraint-based support for multiline button from MDCButton.
  components/M3CButton/src/M3CButton.h
  components/M3CButton/src/M3CButton.m
Owners: @material-components/core-ios-team

Add transitory legacy fork for MDCChipField and MDCChipFieldDelegate.
  components/Chips/src/MDCLegacyChipField.h
  components/Chips/src/MDCLegacyChipField.m
  components/Chips/src/MDCLegacyChipFieldDelegate.h
  components/Chips/src/MaterialChips.h
Owners: @material-components/core-ios-team

Change MDCChipField to use UITextField instead of MDCTextField.
  components/Chips/examples/ChipsFieldDeleteEnabledViewController.swift
  components/Chips/examples/ChipsInputExampleViewController.m
  components/Chips/src/MDCChipField.h
  components/Chips/src/MDCChipField.m
  components/Chips/tests/unit/ChipsDelegateTests.m
Owners: @material-components/core-ios-team

[Snackbar] Add messageAnimationEnabled to control the animation behavior of snackbar.
  components/Snackbar/src/MDCSnackbarManager.h
  components/Snackbar/src/MDCSnackbarManager.m
Owners: @yarneo

No third_party test failures/diff. Internal change.
  components/BottomNavigation/src/MDCBottomNavigationBar.m
Owners: @material-components/core-ios-team

No third_party test failures/diff. Internal change.
  components/BottomNavigation/src/MDCBottomNavigationBar.m
Owners: @material-components/core-ios-team

Delete transitory legacy fork for MDCChipField and MDCChipFieldDelegate.
  components/Chips/src/MDCLegacyChipField.h
  components/Chips/src/MDCLegacyChipField.m
  components/Chips/src/MDCLegacyChipFieldDelegate.h
  components/Chips/src/MaterialChips.h
Owners: @material-components/core-ios-team

[MDCKeyboardWatcher] Migrate off of deprecated mainScreen usage.
  components/private/KeyboardWatcher/src/MDCKeyboardWatcher.m
Owners: @material-components/core-ios-team

Do not allow actions with nil or empty titles
  components/Snackbar/src/MDCSnackbarMessage.h
  components/Snackbar/src/MDCSnackbarMessage.m
  components/Snackbar/tests/unit/MDCSnackbarMessageViewTests.m
Owners: @yarneo

Delete fullscreen carousel implementation
  components/Carousel/src/ParallaxFlowLayout.swift
  components/Carousel/src/private/ParallaxLayoutVerticalAttributes.swift
  components/Carousel/src/private/RangeInterpolator.swift
Owners: @material-components/core-ios-team

Add option to use legacy auto-dismissal behavior
  components/Snackbar/src/MDCSnackbarMessage.h
  components/Snackbar/src/MDCSnackbarMessage.m
Owners: @yarneo

If both parameters mdc_blendColor:(nonnull UIColor *)color withBackgroundColor:(nonnull UIColor *)backgroundColor are in the gray colorspace, the result is also in the gray colorspace.
  components/Color/src/UIColor+MaterialBlending.m
  components/Color/tests/unit/MaterialColorTests.m
Owners: @material-components/core-ios-team

Add `attributedPlaceholder` to M3CTextField.
  components/M3CTextField/src/M3CTextField.swift
Owners: @material-components/core-ios-team
