Repository material-components/material-components-ios, changes with the owners that CODEOWNERS names for each.
All owners: @material-components/core-ios-team, @codeman7, @yarneo, @jverkoey, @wenyuzhang666, @randallli, @galiak11, @iberezan, @andrewoverton, @jakerockland

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
**       @material-components/core-ios-team

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
/components/ActionSheet/          @codeman7
/components/AnimationTiming/      @yarneo
/components/AppBar/               @jverkoey
/components/BottomAppBar/         @wenyuzhang666
/components/BottomSheet/          @yarneo
/components/Buttons/              @randallli
/components/Cards/                @yarneo
/components/CollectionCells/      @yarneo
/components/CollectionLayoutAttributes/ @jverkoey
/components/Collections/          @jverkoey
/components/Dialogs/              @galiak11 @iberezan
/components/FeatureHighlight/     @codeman7
/components/FlexibleHeader/       @jverkoey
/components/HeaderStackView/      @jverkoey
/components/Ink/                  @yarneo
/components/LibraryInfo/          @jverkoey
/components/List                  @andrewoverton
/components/MaskedTransition/     @jverkoey
/components/NavigationBar/        @yarneo @jverkoey
/components/NavigationDrawer/     @yarneo @jakerockland
/components/OverlayWindow/        @yarneo
/components/PageControl/          @randallli
/components/Palettes/             @jverkoey
/components/Ripple                @yarneo
/components/ShadowElevations/     @jverkoey
/components/ShadowLayer/          @jverkoey
/components/Snackbar/             @yarneo
/components/TextFields/           @andrewoverton
/components/Themes/               @jverkoey

Fixed up imports and nullability for Collections
  components/Collections/tests/localization/CollectionsLocalizationTests.m
  components/Collections/tests/unit/CollectionsStylerTests.m
  components/Collections/tests/unit/MDCCollectionInfoBarViewTests.m
Owners: @jverkoey

Create new MDCProgressLayerView type for indeterminate multichromatic animations.
  components/ProgressView/src/private/MDCProgressLayerView.h
  components/ProgressView/src/private/MDCProgressLayerView.m
Owners: @material-components/core-ios-team

Allow custom content edge inset override for M3CButton
  components/M3CButton/src/M3CButton.m
Owners: @material-components/core-ios-team

Add MDCProgressLayerView to MDCProgressView, update animation timing.
  components/ProgressView/src/MDCProgressView.h
  components/ProgressView/src/MDCProgressView.m
  components/ProgressView/src/private/MDCProgressLayerView.m
Owners: @material-components/core-ios-team

Add minimum height to M3CButton
  components/M3CButton/src/M3CButton.m
Owners: @material-components/core-ios-team

[MDCChips] Removing deprecation of private API of chips because they are no longer going to be replaced with UIButtons.
  components/Chips/src/private/MDCChipView+Private.h
Owners: @material-components/core-ios-team

[MDCButton] Change deprecation warning to point at newer recommendation of branded M3CButtons.
  components/Buttons/src/ButtonThemer/MDCButtonScheme.h
  components/Buttons/src/ButtonThemer/MDCContainedButtonThemer.h
  components/Buttons/src/ButtonThemer/MDCTextButtonThemer.h
  components/Buttons/src/ColorThemer/MDCButtonColorThemer.h
  components/Buttons/src/ColorThemer/MDCContainedButtonColorThemer.h
  components/Buttons/src/ColorThemer/MDCFloatingButtonColorThemer.h
  components/Buttons/src/ColorThemer/MDCOutlinedButtonColorThemer.h
  components/Buttons/src/ColorThemer/MDCTextButtonColorThemer.h
  components/Buttons/src/MDCButton.h
  components/Buttons/src/MDCFlatButton.h
  components/Buttons/src/MDCFloatingButton+Animation.h
  components/Buttons/src/MDCFloatingButton.h
  components/Buttons/src/MDCRaisedButton.h
  components/Buttons/src/PerformantShadowMigration/MDCButton+ShadowsPrivate.h
  components/Buttons/src/ShapeThemer/MDCButtonShapeThemer.h
  components/Buttons/src/Theming/MDCButton+MaterialTheming.h
  components/Buttons/src/Theming/MDCFloatingButton+MaterialTheming.h
  components/Buttons/src/TypographyThemer/MDCButtonTypographyThemer.h
  components/Buttons/src/private/MDCFloatingButtonModeAnimator.h
  components/Buttons/src/private/MDCFloatingButtonModeAnimatorDelegate.h
Owners: @randallli

Fixed up imports and nullability for ButtonBar
  components/ButtonBar/tests/unit/ButtonBarBuilderTests.m
  components/ButtonBar/tests/unit/ButtonBarRippleTests.m
Owners: @material-components/core-ios-team

Fixed up imports and nullability for BottomSheet
  components/BottomSheet/tests/unit/MDCBottomSheetCustomizationTests.m
  components/BottomSheet/tests/unit/MDCBottomSheetPresentationControllerTests.m
Owners: @yarneo

[MDCTypography] Change deprecation warning to point at migration guide.
  components/Typography/src/MDCTypography.h
  components/Typography/src/UIFont+MaterialScalable.h
  components/Typography/src/UIFont+MaterialTypography.h
  components/Typography/src/UIFontDescriptor+MaterialTypography.h
  components/Typography/src/private/MDCFontTraits.h
  components/Typography/src/private/UIFont+MaterialTypographyPrivate.h
Owners: @material-components/core-ios-team

Fixed up imports and nullability for BottomNavigation
  components/BottomNavigation/src/MDCBottomNavigationBarController.m
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationBarAlignmentSnapshotTests.m
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationBarBlurEffectSnapshotTests.m
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationBarSnapshotTests.m
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationBarTitleLayoutSnapshotTests.m
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationItemViewSnapshotTests.m
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationLargeItemDialogViewSnapshotTests.m
  components/BottomNavigation/tests/unit/BottomNavigationItemViewAccessibilityTests.m
  components/BottomNavigation/tests/unit/BottomNavigationItemViewTests.m
  components/BottomNavigation/tests/unit/BottomNavigationRippleTests.m
  components/BottomNavigation/tests/unit/MDCBottomNavigationBarKVOTests.m
  components/BottomNavigation/tests/unit/MDCBottomNavigationBarTests.m
Owners: @material-components/core-ios-team

[Schemes] Change deprecation warning to add scriptable potential.
  components/Palettes/src/MDCPalettes.h
  components/Palettes/src/private/MDCPaletteExpansions.h
  components/Palettes/src/private/MDCPaletteNames.h
  components/schemes/Color/src/MDCLegacyColorScheme.h
  components/schemes/Color/src/MDCLegacyTonalColorScheme.h
  components/schemes/Color/src/MDCLegacyTonalPalette.h
  components/schemes/Color/src/MDCSemanticColorScheme.h
  components/schemes/Container/src/MDCContainerScheme.h
  components/schemes/Shape/src/MDCShapeCategory.h
  components/schemes/Shape/src/MDCShapeScheme.h
Owners: @jverkoey, @material-components/core-ios-team

[MDCTypography] Change deprecation warning to add scriptable potential.
  components/schemes/Typography/src/MDCTypographyScheme.h
  components/schemes/Typography/src/Scheming/MDCTypographyScheming.h
Owners: @material-components/core-ios-team

[MDCCollections] Change deprecation warning to point at migration guide.
  components/CollectionCells/src/MDCCollectionViewCell.h
  components/CollectionCells/src/MDCCollectionViewTextCell.h
  components/CollectionLayoutAttributes/src/MDCCollectionViewLayoutAttributes.h
  components/Collections/src/MDCCollectionViewController.h
  components/Collections/src/MDCCollectionViewEditing.h
  components/Collections/src/MDCCollectionViewEditingDelegate.h
  components/Collections/src/MDCCollectionViewFlowLayout.h
  components/Collections/src/MDCCollectionViewStyling.h
  components/Collections/src/MDCCollectionViewStylingDelegate.h
  components/Collections/src/private/MDCCollectionGridBackgroundView.h
  components/Collections/src/private/MDCCollectionInfoBarView.h
  components/Collections/src/private/MDCCollectionInfoBarViewDelegate.h
  components/Collections/src/private/MDCCollectionStringResources.h
  components/Collections/src/private/MDCCollectionViewEditor.h
  components/Collections/src/private/MDCCollectionViewStyler.h
  components/List/src/MDCBaseCell.h
  components/List/src/MDCSelfSizingLayoutAttributes.h
  components/List/src/MDCSelfSizingStereoCell.h
  components/List/src/MDCSelfSizingStereoCellImageViewVerticalPosition.h
Owners: @yarneo, @jverkoey, @andrewoverton

[MDCShadow] Change deprecation warning to point at migration guide.
  components/ShadowLayer/src/MDCShadowLayer.h
  components/Shapes/src/MDCShapedShadowLayer.h
Owners: @jverkoey, @material-components/core-ios-team

[MDCTextFields] Change deprecation warning to point at migration guide.
  components/TextControls/src/BaseTextAreas/MDCBaseTextArea.h
  components/TextControls/src/BaseTextAreas/MDCBaseTextAreaDelegate.h
  components/TextControls/src/BaseTextAreas/private/MDCBaseTextAreaLayout.h
  components/TextControls/src/BaseTextAreas/private/MDCBaseTextAreaTextView.h
  components/TextControls/src/BaseTextFields/MDCBaseTextFieldDelegate.h
  components/TextControls/src/Enums/MDCTextControlLabelBehavior.h
  components/TextControls/src/Enums/MDCTextControlState.h
  components/private/TextControlsPrivate/src/BaseStyle/MDCTextControlStyleBase.h
  components/private/TextControlsPrivate/src/BaseStyle/MDCTextControlVerticalPositioningReferenceBase.h
  components/private/TextControlsPrivate/src/FilledStyle/MDCTextControlStyleFilled.h
  components/private/TextControlsPrivate/src/FilledStyle/MDCTextControlVerticalPositioningReferenceFilled.h
  components/private/TextControlsPrivate/src/OutlinedStyle/MDCTextControlStyleOutlined.h
  components/private/TextControlsPrivate/src/OutlinedStyle/MDCTextControlVerticalPositioningReferenceOutlined.h
  components/private/TextControlsPrivate/src/Shared/MDCTextControl.h
  components/private/TextControlsPrivate/src/Shared/MDCTextControlAssistiveLabelDrawPriority.h
  components/private/TextControlsPrivate/src/Shared/MDCTextControlAssistiveLabelView.h
  components/private/TextControlsPrivate/src/Shared/MDCTextControlAssistiveLabelViewLayout.h
  components/private/TextControlsPrivate/src/Shared/MDCTextControlColorViewModel.h
  components/private/TextControlsPrivate/src/Shared/MDCTextControlGradientManager.h
  components/private/TextControlsPrivate/src/Shared/MDCTextControlHorizontalPositioning.h
  components/private/TextControlsPrivate/src/Shared/MDCTextControlHorizontalPositioningReference.h
  components/private/TextControlsPrivate/src/Shared/MDCTextControlLabelAnimation.h
  components/private/TextControlsPrivate/src/Shared/MDCTextControlLabelSupport.h
  components/private/TextControlsPrivate/src/Shared/MDCTextControlPlaceholderSupport.h
  components/private/TextControlsPrivate/src/Shared/MDCTextControlSideViewSupport.h
  components/private/TextControlsPrivate/src/Shared/MDCTextControlVerticalPositioningReference.h
  components/private/TextControlsPrivate/src/Shared/UIBezierPath+MDCTextControlStyle.h
  components/private/TextControlsPrivate/src/TextFields/MDCBaseTextFieldLayout.h
  components/private/TextControlsPrivate/src/TextFields/MDCTextControlTextField.h
  components/private/TextControlsPrivate/src/TextFields/MDCTextControlTextFieldSideViewAlignment.h
  components/private/TextControlsPrivate/src/UnderlinedStyle/MDCTextControlStyleUnderlined.h
  components/private/TextControlsPrivate/src/UnderlinedStyle/MDCTextControlVerticalPositioningReferenceUnderlined.h
Owners: @material-components/core-ios-team

[MDCTextFields] Change deprecation warning to point at migration guide.
  components/Chips/src/MDCChipField.m
  components/TextControls/src/BaseTextFields/MDCBaseTextField.h
  components/TextControls/src/FilledTextFields/MDCFilledTextField.h
  components/TextControls/src/OutlinedTextFields/MDCOutlinedTextField.h
  components/TextControls/src/UnderlinedTextFields/MDCUnderlinedTextField.h
  components/TextFields/src/ColorThemer/MDCFilledTextFieldColorThemer.h
  components/TextFields/src/MDCIntrinsicHeightTextView.h
  components/TextFields/src/MDCMultilineTextField.h
  components/TextFields/src/MDCMultilineTextInputDelegate.h
  components/TextFields/src/MDCMultilineTextInputLayoutDelegate.h
  components/TextFields/src/MDCTextField.h
  components/TextFields/src/MDCTextFieldPositioningDelegate.h
  components/TextFields/src/MDCTextInput.h
  components/TextFields/src/MDCTextInputBorderView.h
  components/TextFields/src/MDCTextInputCharacterCounter.h
  components/TextFields/src/MDCTextInputController.h
  components/TextFields/src/MDCTextInputControllerBase.h
  components/TextFields/src/MDCTextInputControllerFilled.h
  components/TextFields/src/MDCTextInputControllerFloatingPlaceholder.h
  components/TextFields/src/MDCTextInputControllerFullWidth.h
  components/TextFields/src/MDCTextInputControllerLegacyDefault.h
  components/TextFields/src/MDCTextInputControllerLegacyFullWidth.h
  components/TextFields/src/MDCTextInputControllerOutlined.h
  components/TextFields/src/MDCTextInputControllerOutlinedTextArea.h
  components/TextFields/src/MDCTextInputControllerUnderline.h
  components/TextFields/src/MDCTextInputUnderlineView.h
  components/TextFields/src/Theming/MDCTextInputControllerFilled+MaterialTheming.h
  components/TextFields/src/Theming/MDCTextInputControllerOutlined+MaterialTheming.h
  components/TextFields/src/Theming/MDCTextInputControllerUnderline+MaterialTheming.h
  components/TextFields/src/private/MDCTextField+Testing.h
  components/TextFields/src/private/MDCTextInputArt.h
  components/TextFields/src/private/MDCTextInputCommonFundament.h
  components/TextFields/src/private/MDCTextInputControllerBase+Subclassing.h
Owners: @material-components/core-ios-team, @andrewoverton

Fixed up imports and nullability for BottomAppBar
  components/BottomAppBar/tests/unit/BottomAppBarTests.m
Owners: @wenyuzhang666

[GM3] Add apply capsule corners to layoutSubviews.
  components/Dialogs/examples/DialogsAlertExampleViewController.m
  components/Dialogs/src/ColorThemer/MDCAlertColorThemer.m
  components/Dialogs/src/MDCAlertController+ButtonForAction.h
  components/Dialogs/src/MDCAlertController.h
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/src/MDCAlertControllerView.h
  components/Dialogs/src/Theming/MDCAlertController+MaterialTheming.m
  components/Dialogs/src/TypographyThemer/MDCAlertTypographyThemer.m
  components/Dialogs/src/private/MDCAlertActionManager.h
  components/Dialogs/src/private/MDCAlertActionManager.m
  components/Dialogs/src/private/MDCAlertControllerView+Private.h
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
  components/Dialogs/tests/unit/MDCAlertActionManagerTests.m
  components/Dialogs/tests/unit/MDCAlertControllerRippleTests.m
  components/Dialogs/tests/unit/MDCAlertControllerTests.m
  components/M3CButton/src/M3CButton.m
Owners: @galiak11, @iberezan, @material-components/core-ios-team

[CodeHealth] Fix comment structure.
  components/Dialogs/src/MDCAlertController+ButtonForAction.h
  components/Dialogs/src/MDCAlertController.h
Owners: @galiak11, @iberezan

[Dialogs/ActionSheets] Change deprecation warning to point at guidance and added "🕘 Schedule time to migrate" message.
  components/ActionSheet/src/MDCActionSheetAction.h
  components/ActionSheet/src/MDCActionSheetController.h
  components/ActionSheet/src/MDCActionSheetControllerDelegate.h
  components/ActionSheet/src/private/MDCActionSheetHeaderView.h
  components/ActionSheet/src/private/MDCActionSheetItemTableViewCell.h
Owners: @codeman7

[MDCInk] Change deprecation warning to point at guidance and added "🕘 Schedule time to migrate" message.
  components/Ink/src/MDCInkGestureRecognizer.h
  components/Ink/src/MDCInkTouchController.h
  components/Ink/src/MDCInkTouchControllerDelegate.h
  components/Ink/src/MDCInkView.h
  components/Ink/src/MDCInkViewDelegate.h
  components/Ink/src/private/MDCInkLayer.h
  components/Ink/src/private/MDCInkLayerDelegate.h
  components/Ink/src/private/MDCLegacyInkLayer+Private.h
  components/Ink/src/private/MDCLegacyInkLayer.h
  components/Ink/src/private/MDCLegacyInkLayerRippleDelegate.h
  components/Ripple/src/MDCRippleTouchController.h
  components/Ripple/src/MDCRippleTouchControllerDelegate.h
  components/Ripple/src/MDCRippleView.h
  components/Ripple/src/MDCRippleViewDelegate.h
  components/Ripple/src/MDCStatefulRippleView.h
Owners: @yarneo

[Slider] Change deprecation warning to point at potential script.
  components/Slider/src/ColorThemer/MDCSliderColorThemer.h
  components/Slider/src/MDCSlider.h
  components/Slider/src/MDCSliderDelegate.h
  components/Slider/src/private/MDCSlider+Private.h
  components/private/ThumbTrack/src/MDCNumericValueLabel.h
  components/private/ThumbTrack/src/MDCThumbTrack.h
  components/private/ThumbTrack/src/MDCThumbView.h
  components/private/ThumbTrack/src/private/MDCDiscreteDotView.h
  components/private/ThumbTrack/src/private/MDCThumbTrack+Private.h
Owners: @material-components/core-ios-team

[MDCCards] Change deprecation warning to point at potential script.
  components/Cards/src/MDCCard.h
  components/Cards/src/MDCCardCollectionCell.h
Owners: @yarneo

[KeyboardWatcher] Change deprecation warning to point at potential script.
  components/private/KeyboardWatcher/src/MDCKeyboardWatcher.h
Owners: @material-components/core-ios-team

Internal change
  components/private/KeyboardWatcher/src/MDCKeyboardWatcher.m
Owners: @material-components/core-ios-team

[NavigationController] Change deprecation warning to point at guidance and added "🕘 Schedule time to migrate" message.
  components/AppBar/src/ColorThemer/MDCAppBarColorThemer.h
  components/AppBar/src/MDCAppBarContainerViewController.h
  components/AppBar/src/MDCAppBarNavigationController.h
  components/AppBar/src/MDCAppBarNavigationControllerToBeDeprecatedDelegate.h
  components/AppBar/src/MDCAppBarViewController.h
  components/AppBar/src/MDCAppBarViewControllerAccessibilityPerformEscapeDelegate.h
  components/AppBar/src/Theming/MDCAppBarViewController+MaterialTheming.h
  components/AppBar/src/TypographyThemer/MDCAppBarTypographyThemer.h
  components/ButtonBar/src/MDCButtonBar.h
  components/ButtonBar/src/MDCButtonBarButton.h
  components/ButtonBar/src/MDCButtonBarDelegate.h
  components/NavigationBar/src/MDCNavigationBar.h
Owners: @jverkoey, @material-components/core-ios-team, @yarneo

[MDCPageControl] Change deprecation warning to point at newer recommendation.
  components/PageControl/src/MDCPageControl.h
  components/PageControl/src/private/MDCPageControlIndicator.h
  components/PageControl/src/private/MDCPageControlTrackLayer.h
Owners: @randallli

[MDCTabs] Change deprecation warning to point at newer recommendation of branded MDCTabs.
  components/Tabs/src/MDCTabBar.h
  components/Tabs/src/MDCTabBarAlignment.h
  components/Tabs/src/MDCTabBarControllerDelegate.h
  components/Tabs/src/MDCTabBarDelegate.h
  components/Tabs/src/MDCTabBarDisplayDelegate.h
  components/Tabs/src/MDCTabBarIndicatorAttributes.h
  components/Tabs/src/MDCTabBarIndicatorContext.h
  components/Tabs/src/MDCTabBarIndicatorTemplate.h
  components/Tabs/src/MDCTabBarItemAppearance.h
  components/Tabs/src/MDCTabBarTextTransform.h
  components/Tabs/src/MDCTabBarUnderlineIndicatorTemplate.h
  components/Tabs/src/MDCTabBarViewController.h
Owners: @material-components/core-ios-team

[ShapeGenerator] Change deprecation warning to point at potential script.
  components/Shapes/src/MDCCornerTreatment.h
  components/Shapes/src/MDCEdgeTreatment.h
  components/Shapes/src/MDCPathGenerator.h
  components/Shapes/src/MDCRectangleShapeGenerator.h
  components/Shapes/src/MDCShapeGenerating.h
  components/Shapes/src/MDCShapeMediator.h
  components/Shapes/src/MDCShapedView.h
Owners: @material-components/core-ios-team

[MDCIcons] Change deprecation warning to point at potential script.
  components/private/Icons/src/MDCIcons+BundleLoader.h
  components/private/Icons/src/MDCIcons.h
Owners: @material-components/core-ios-team

[FeatureHighlight] Change deprecation warning to point at newer recommendation.
  components/FeatureHighlight/src/ColorThemer/MDCFeatureHighlightColorThemer.h
  components/FeatureHighlight/src/MDCFeatureHighlightView.h
  components/FeatureHighlight/src/MDCFeatureHighlightViewController.h
  components/FeatureHighlight/src/private/MDCFeatureHighlightAnimationController.h
  components/FeatureHighlight/src/private/MDCFeatureHighlightDismissGestureRecognizer.h
  components/FeatureHighlight/src/private/MDCFeatureHighlightLayer.h
  components/FeatureHighlight/src/private/MDCFeatureHighlightView+Private.h
Owners: @codeman7

[DialogsPresentationController] Change deprecation warning to point at guidance and added "🕘 Schedule time to migrate" message.
  components/Dialogs/src/Theming/MDCAlertController+MaterialTheming.h
  components/Dialogs/src/Theming/MDCDialogPresentationController+MaterialTheming.h
Owners: @galiak11, @iberezan

[AnimationTiming] Change deprecation warning to point at potential script.
  components/AnimationTiming/src/CAMediaTimingFunction+MDCAnimationTiming.h
Owners: @yarneo

[FontScaler] Change deprecation warning to point at newer recommendation.
  components/ScalableFontDescriptor/src/MDCScalableFontDescriptor.h
  components/schemes/Typography/src/BasicFontScheme/MDCBasicFontScheme.h
Owners: @material-components/core-ios-team

[FontLoader] Change deprecation warning to point at newer recommendation.
  components/Typography/src/FontLoader/MDCTypographyFontLoader.h
  components/Typography/src/FontScaler/MDCFontScaler.h
Owners: @material-components/core-ios-team

[AnimationTiming] Change deprecation warning to point at newer recommendation.
  components/AnimationTiming/src/UIView+MDCTimingFunction.h
Owners: @yarneo

[MDCChipViewAccessoryView] Change deprecation warning to point at newer recommendation.
  components/Chips/src/MDCChipViewAccessoryView.h
Owners: @material-components/core-ios-team

[Shape] Change deprecation warning to point at newer recommendation.
  components/ShapeLibrary/src/MDCCornerTreatment+CornerTypeInitalizer.h
  components/ShapeLibrary/src/MDCCurvedCornerTreatment.h
  components/ShapeLibrary/src/MDCCurvedRectShapeGenerator.h
  components/ShapeLibrary/src/MDCCutCornerTreatment.h
  components/ShapeLibrary/src/MDCPillShapeGenerator.h
  components/ShapeLibrary/src/MDCRoundedCornerTreatment.h
  components/ShapeLibrary/src/MDCSlantedRectShapeGenerator.h
  components/ShapeLibrary/src/MDCTriangleEdgeTreatment.h
Owners: @material-components/core-ios-team

[MDCHeaderStackView] Change deprecation warning to point at newer recommendation.
  components/HeaderStackView/src/MDCHeaderStackView.h
Owners: @jverkoey
