Repository material-components/material-components-ios, changes with the owners that CODEOWNERS names for each.
All owners: @material-components/core-ios-team, @codeman7, @yarneo, @jverkoey, @wenyuzhang666, @randallli, @galiak11, @iberezan, @andrewoverton, @jakerockland

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
**       @material-components/core-ios-team

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
/components/ActionSheet/          @codeman7
/components/AnimationTiming/      @yarneo
/components/AppBar/               @jverkoey
/components/BottomAppBar/         @wenyuzhang666
/components/BottomSheet/          @yarneo
/components/Buttons/              @randallli
/components/Cards/                @yarneo
/components/CollectionCells/      @yarneo
/components/CollectionLayoutAttributes/ @jverkoey
/components/Collections/          @jverkoey
/components/Dialogs/              @galiak11 @iberezan
/components/FeatureHighlight/     @codeman7
/components/FlexibleHeader/       @jverkoey
/components/HeaderStackView/      @jverkoey
/components/Ink/                  @yarneo
/components/LibraryInfo/          @jverkoey
/components/List                  @andrewoverton
/components/MaskedTransition/     @jverkoey
/components/NavigationBar/        @yarneo @jverkoey
/components/NavigationDrawer/     @yarneo @jakerockland
/components/OverlayWindow/        @yarneo
/components/PageControl/          @randallli
/components/Palettes/             @jverkoey
/components/Ripple                @yarneo
/components/ShadowElevations/     @jverkoey
/components/ShadowLayer/          @jverkoey
/components/Snackbar/             @yarneo
/components/TextFields/           @andrewoverton
/components/Themes/               @jverkoey

Prevent `_selectionIndicator` from intercepting taps on the button.
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
Owners: @material-components/core-ios-team

Add `setColorForState` API to M3CTextView.
  components/M3CTextField/src/M3CTextView.swift
Owners: @material-components/core-ios-team

Avoid blending if the colors are the same.
  components/Color/src/UIColor+MaterialBlending.m
  components/Color/tests/unit/MaterialColorTests.m
Owners: @material-components/core-ios-team

Use UIViewController to override trait collection
  components/ActionSheet/tests/snapshot/MDCActionSheetCustomTraitCollectionTests.m
Owners: @codeman7

Fix accessibility hint when setting enableDismissalAccessibilityAffordance
  components/Snackbar/src/MDCSnackbarMessageView.m
Owners: @yarneo

Separate M3CTextField's `textColor` into `inputColor` and `labelColor`.
  components/M3CTextField/src/M3CTextField.swift
Owners: @material-components/core-ios-team

Separate M3CTextView's `textColor` into `inputColor` and `labelColor`.
  components/M3CTextField/src/M3CTextView.swift
Owners: @material-components/core-ios-team

Update unit test matrix
  components/PageControl/tests/unit/PageControlExampleTests.m
Owners: @randallli

Add snapshot delay of 1 second to Snackbar example.
  components/Snackbar/examples/SnackbarSimpleExample.m
Owners: @yarneo

Add proxy properties to M3CTextField, and split label colors.
  components/M3CTextField/src/M3CTextField.swift
Owners: @material-components/core-ios-team

Update min touch target for M3CButton to 44pt to match spec. Previously was 48pt.
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Owners: @galiak11, @iberezan

Only return the action button as an a11y element if there is an action
  components/Snackbar/src/MDCSnackbarMessageView.m
Owners: @yarneo

Add minimumWidth property to M3CButton.
  components/M3CButton/src/M3CButton.h
  components/M3CButton/src/M3CButton.m
Owners: @material-components/core-ios-team

Fixes an unrecognized selector on `UIInteraction` due to an assumption that all interactions were `UIPointerInteraction`.
  components/Tabs/src/TabBarView/MDCTabBarView.m
Owners: @material-components/core-ios-team

Internal change
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/src/MDCBottomNavigationBarController.m
  components/BottomNavigation/src/private/MDCBottomNavigationBar+ItemView.m
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
  components/private/TextControlsPrivate/src/FilledStyle/MDCTextControlStyleFilled.m
  components/private/TextControlsPrivate/src/OutlinedStyle/MDCTextControlStyleOutlined.m
  components/private/TextControlsPrivate/src/Shared/MDCTextControlColorViewModel.m
  components/private/TextControlsPrivate/src/UnderlinedStyle/MDCTextControlStyleUnderlined.m
Owners: @material-components/core-ios-team, @yarneo, @jakerockland

[NavigationSuite/Codehealth] Add leading and trailing padding for item view labels.
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
Owners: @material-components/core-ios-team

Update snackbar layout
  components/Snackbar/src/MDCSnackbarMessageView.m
Owners: @yarneo

Allow highlight color
  components/Snackbar/src/MDCSnackbarMessageView.h
  components/Snackbar/src/MDCSnackbarMessageView.m
Owners: @yarneo

Set M3CTextInput's trailing label's horizontal content compression resistance priority to required.
  components/M3CTextField/src/private/M3CTextInput.swift
Owners: @material-components/core-ios-team

[Parallax Flow Layout] Optimize layout attributes by copying them before modifying.
  components/Carousel/src/ParallaxFlowLayout.swift
Owners: @material-components/core-ios-team

Allow handling button gutter taps for non-legacy snackbars
  components/Snackbar/src/MDCSnackbarMessageView.m
Owners: @yarneo

Remove check for orientation in barWidthForVerticalLayout, and constrain leading and trailing anchors to safeAreaLayoutGuide.
  components/BottomNavigation/src/MDCBottomNavigationBar.m
  components/BottomNavigation/src/MDCBottomNavigationBarController.h
  components/BottomNavigation/src/MDCBottomNavigationBarController.m
Owners: @material-components/core-ios-team

Improve touch response on content view
  components/Snackbar/src/MDCSnackbarMessageView.m
Owners: @yarneo

Stop using safeAreaInsets in content margin calculation
  components/Snackbar/src/MDCSnackbarMessageView.m
Owners: @yarneo

Update M3CTextView's state colors to match spec, and add proxy properties
  components/M3CTextField/src/M3CTextView.swift
Owners: @material-components/core-ios-team

[MDCPageControl] Add bounds check for currentPage.
  components/PageControl/src/MDCPageControl.m
Owners: @randallli

[Dialogs] Add an API that allows the accessory view to be placed on top of the message.
  components/Dialogs/src/MDCAlertController.h
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/src/private/MDCAlertControllerView+Private.h
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Owners: @galiak11, @iberezan

#FlexibleHeader Delete failing tests
  components/FlexibleHeader/tests/snapshot/FlexibleHeaderAnimateTests.swift
  components/FlexibleHeader/tests/snapshot/FlexibleHeaderTrackingScrollViewDidChangeTests.swift
  components/FlexibleHeader/tests/snapshot/FlexibleHeaderViewAnimationDelegateTests.swift
  components/FlexibleHeader/tests/snapshot/MDCFlexibleHeaderSnapshotTests.m
Owners: @jverkoey

#NavigationDrawer Disable failing tests
  components/NavigationDrawer/tests/unit/MDCNavigationDrawerScrollViewTests.m
  components/NavigationDrawer/tests/unit/MDCNavigationDrawerTest.m
Owners: @yarneo, @jakerockland

#Snackbar Set all examples to delay snapshots for 1 second
  components/Snackbar/examples/SnackbarInputAccessoryViewController.m
  components/Snackbar/examples/SnackbarKeyboardExample.swift
  components/Snackbar/examples/SnackbarOverlayViewExample.m
  components/Snackbar/examples/SnackbarSuspensionExample.m
Owners: @yarneo

Update draggable view to handle when gesture gets cancelled.
  components/BottomSheet/src/private/MDCDraggableView.m
Owners: @yarneo

Internal changes
  components/TextControls/tests/snapshot/MDCBaseTextAreaSnapshotTests.h
  components/TextControls/tests/snapshot/MDCBaseTextAreaSnapshotTests.m
  components/TextControls/tests/snapshot/MDCBaseTextFieldSnapshotTests.m
  components/TextControls/tests/snapshot/MDCFilledTextAreaSnapshotTests.m
  components/TextControls/tests/snapshot/MDCFilledTextFieldSnapshotTests.m
  components/TextControls/tests/snapshot/MDCOutlinedTextAreaSnapshotTests.m
  components/TextControls/tests/snapshot/MDCOutlinedTextFieldSnapshotTests.m
  components/TextControls/tests/snapshot/MDCUnderlinedTextFieldSnapshotTests.m
  components/TextControls/tests/snapshot/supplemental/MDCBaseTextFieldTestsSnapshotTestHelpers.h
  components/TextControls/tests/snapshot/supplemental/MDCBaseTextFieldTestsSnapshotTestHelpers.m
  components/TextControls/tests/snapshot/supplemental/MDCTextControlSnapshotTestHelpers.h
  components/TextControls/tests/snapshot/supplemental/MDCTextControlSnapshotTestHelpers.m
Owners: @material-components/core-ios-team

Internal change
  components/AnimationTiming/examples/AnimationTimingExampleViewController.m
  components/Ripple/src/private/MDCRippleLayer.m
  components/private/TextControlsPrivate/src/Shared/MDCTextControlLabelAnimation.m
Owners: @yarneo, @material-components/core-ios-team

Change `voiceNotificationText` to be `NSAttributedString` to allow it set priority for announcement.
  components/Snackbar/src/MDCSnackbarMessage.h
  components/Snackbar/src/MDCSnackbarMessage.m
Owners: @yarneo

Remove `updateTextColor` call from MDCTextInputCommonFundament's `layoutSubviewsOfInput`.
  components/TextFields/src/private/MDCTextInputCommonFundament.m
Owners: @andrewoverton

Internal change
  components/AnimationTiming/examples/AnimationTimingExampleViewController.m
Owners: @yarneo

Internal change
  components/AnimationTiming/examples/AnimationTimingExampleViewController.m
Owners: @yarneo

Fixing setting the value of `userDraggingEnabled` on the container view.
  components/NavigationDrawer/src/MDCBottomDrawerPresentationController.m
Owners: @yarneo, @jakerockland

Copy the corner radius from the content view.
  components/BottomSheet/src/private/MDCSheetContainerView.m
Owners: @yarneo

Internal change
  components/AnimationTiming/examples/AnimationTimingSwiftExampleViewController.swift
Owners: @yarneo
