Repository material-components/material-components-ios, changes with the owners that CODEOWNERS names for each.
All owners: @material-components/core-ios-team, @codeman7, @yarneo, @jverkoey, @wenyuzhang666, @randallli, @galiak11, @iberezan, @andrewoverton, @jakerockland

snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testActionsAreOrderedByEmphasis_11_2@2x.png: convert to Git LFS
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testActionsAreOrderedByEmphasis_11_2@2x.png
Owners: @material-components/core-ios-team

Update MDCBaseTextField docs
  components/TextControls/src/BaseTextFields/MDCBaseTextField.h
Owners: @material-components/core-ios-team

Generate snapshot with new name
  components/Dialogs/tests/snapshot/MDCAlertControllerActionsTests.m
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testOrderVerticalActionsByEmphasis_11_2@2x.png
Owners: @galiak11, @iberezan, @material-components/core-ios-team

Update MDCBaseTextField docs (#9861)
  components/TextControls/src/BaseTextFields/MDCBaseTextField.h
Owners: @material-components/core-ios-team

[Dialogs] Try to fix testActionsAreOrderedByEmphasis snapshot (#9862)
  components/Dialogs/tests/snapshot/MDCAlertControllerActionsTests.m
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testActionsAreOrderedByEmphasis_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerActionsTests/testOrderVerticalActionsByEmphasis_11_2@2x.png
Owners: @galiak11, @iberezan, @material-components/core-ios-team

[Tabs] Add MDCTabBarViewLayoutStyleScrollableCentered (#9849)
  components/Tabs/src/TabBarView/MDCTabBarView.h
  components/Tabs/src/TabBarView/MDCTabBarView.m
  components/Tabs/tests/snapshot/TabBarView/MDCTabBarViewSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCTabBarViewSnapshotTests/testSelectionWithScrollableCenteredLayout_11_2@2x.png
Owners: @material-components/core-ios-team

add slider discrete support
  components/Slider/src/MDCSlider.h
  components/Slider/src/MDCSlider.m
  components/Slider/tests/snapshot/MDCSliderSnapshotTests.m
  components/Slider/tests/unit/MDCSliderTests.m
  components/private/ThumbTrack/src/MDCThumbTrack.h
  components/private/ThumbTrack/src/MDCThumbTrack.m
  snapshot_test_goldens/goldens_64/MDCSliderSnapshotTests/testDiscreteSliderWithThumbAndValueLabel_11_2@2x.png
Owners: @material-components/core-ios-team

kreng
  components/Slider/tests/snapshot/MDCSliderSnapshotTests.m
  components/Slider/tests/unit/MDCSliderTests.m
  components/private/ThumbTrack/src/MDCThumbTrack.h
Owners: @material-components/core-ios-team

spacing
  components/Slider/tests/snapshot/MDCSliderSnapshotTests.m
Owners: @material-components/core-ios-team

Automatic changelog preparation for release.
  .gitattributes
  CHANGELOG.md
Owners: @material-components/core-ios-team

Hand-modified CHANGELOG.md API diff.
  CHANGELOG.md
Owners: @material-components/core-ios-team

Bumped version number to 107.2.0.
  MaterialComponents.podspec
  MaterialComponentsBeta.podspec
  MaterialComponentsEarlGreyTests.podspec
  MaterialComponentsExamples.podspec
  MaterialComponentsSnapshotTests.podspec
  VERSION
  catalog/MDCCatalog/Info.plist
  catalog/MDCDragons/Info.plist
  catalog/MaterialCatalog/MaterialCatalog.podspec
  components/LibraryInfo/src/MDCLibraryInfo.m
  components/LibraryInfo/tests/unit/LibraryInfoTests.m
  demos/supplemental/RemoteImageServiceForMDCDemos.podspec
Owners: @material-components/core-ios-team, @jverkoey

update
  components/Slider/tests/snapshot/MDCSliderSnapshotTests.m
  snapshot_test_goldens/goldens_64/MDCSliderSnapshotTests/testDiscreteSliderWithThumbAndValueLabel_11_2@2x.png
Owners: @material-components/core-ios-team

[Slider] Allow thumb to stay filled with discrete value label (#9866)
  components/Slider/src/MDCSlider.h
  components/Slider/src/MDCSlider.m
  components/Slider/tests/snapshot/MDCSliderSnapshotTests.m
  components/Slider/tests/unit/MDCSliderTests.m
  components/private/ThumbTrack/src/MDCThumbTrack.h
  components/private/ThumbTrack/src/MDCThumbTrack.m
  snapshot_test_goldens/goldens_64/MDCSliderSnapshotTests/testDiscreteSliderWithThumbAndValueLabel_11_2@2x.png
Owners: @material-components/core-ios-team

[FlexibleHeader] Fix jumping effect in a table view with dynamic cell heights.
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
Owners: @jverkoey

[AppBar] Add AppBarWithExpandableCells example.
  components/AppBar/examples/AppBarWithExpandableCells.swift
Owners: @jverkoey

[NavigationDrawer] Support bottom drawer presentation from presentingViewController that is presented with Page Sheet or Form Sheet modalPresentationStyle.
  components/NavigationDrawer/src/private/MDCBottomDrawerContainerViewController.m
Owners: @yarneo, @jakerockland

Refactor MDCInkView logic grappling with interplay between legacy ink layer and max ripple radius, ink style, etc (#9855)
  components/Ink/src/MDCInkView.h
  components/Ink/src/MDCInkView.m
Owners: @yarneo

[Dialogs] Accessibility frame is larger than displayed text. (#9865)
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Owners: @galiak11, @iberezan

[Dialogs] Fix incorrect content height for edge-cases dialogs
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Owners: @galiak11, @iberezan

[Dialogs] Adding snapshot goldens
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testAlertHasTitleAndTitleImageAndAccessoryView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testAlertHasTitleIconAndMessage_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testAlertHasTitleIcon_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testAlertHasTitleImageAndMessage_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testAlertHasTitleImage_11_2@2x.png
Owners: @material-components/core-ios-team

Clangity clang.
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
Owners: @jverkoey

[Dialogs] Fix incorrect content height for non-standard dialogs (#9864)
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testAlertHasTitleAndTitleImageAndAccessoryView_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testAlertHasTitleIconAndMessage_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testAlertHasTitleIcon_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testAlertHasTitleImageAndMessage_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testAlertHasTitleImage_11_2@2x.png
Owners: @galiak11, @iberezan, @material-components/core-ios-team

[Dialogs] Allow setting text alignment for alert message text
  components/Dialogs/src/MDCAlertController.h
  components/Dialogs/src/MDCAlertController.m
  components/Dialogs/src/MDCAlertControllerView.h
  components/Dialogs/src/private/MDCAlertControllerView+Private.m
Owners: @galiak11, @iberezan

Adding message alignment snapshot tests
  components/Dialogs/tests/snapshot/MDCAlertControllerConfigurationsTests.m
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testLongMessageLeftAlignmentIsLeftInRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testMessageAlignmentIsCentered_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testMessageAlignmentIsJustified_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testMessageAlignmentIsLeft_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testMessageAlignmentIsNaturalInRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testMessageAlignmentIsNatural_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testMessageAlignmentIsRight_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testMessageDefaultAlignmentIsNatural_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testMessageLeftAlignmentIsLeftInRTL_11_2@2x.png
  snapshot_test_goldens/goldens_64/MDCAlertControllerConfigurationsTests/testMessageRightAlignmentIsRightInRTL_11_2@2x.png
Owners: @galiak11, @iberezan, @material-components/core-ios-team

[FlexibleHeader] Add unit test to reproduce https://github.com/material-components/material-components-ios/issues/9863.
  components/FlexibleHeader/tests/unit/FlexibleHeaderHairlineTests.m
Owners: @jverkoey

More.
  components/FlexibleHeader/tests/unit/FlexibleHeaderHairlineTests.m
Owners: @jverkoey

Clang.
  components/FlexibleHeader/tests/unit/FlexibleHeaderHairlineTests.m
Owners: @jverkoey

[AppBar] Add AppBarWithExpandableCells example. (#9873)
  components/AppBar/examples/AppBarWithExpandableCells.swift
Owners: @jverkoey

[FlexibleHeader] Fix jumping effect in a table view with dynamic cell heights. (#9872)
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
Owners: @jverkoey

[FlexibleHeader] Add unit test to reproduce https://github.com/material-components/material-components-ios/issues/9863. (#9880)
  components/FlexibleHeader/tests/unit/FlexibleHeaderHairlineTests.m
Owners: @jverkoey

[FlexibleHeader] Fix bug where hairline configuration would not persist.
  components/FlexibleHeader/src/MDCFlexibleHeaderViewController.m
  components/FlexibleHeader/tests/unit/FlexibleHeaderHairlineTests.m
Owners: @jverkoey

[FlexibleHeader] Fix bug where hairline configuration would not persist. (#9881)
  components/FlexibleHeader/src/MDCFlexibleHeaderViewController.m
  components/FlexibleHeader/tests/unit/FlexibleHeaderHairlineTests.m
Owners: @jverkoey

[AppBar] Test the UINavigationController accessibilityPerformEscape behavior.
  components/AppBar/tests/unit/AppBarNavigationControllerAccessibilityPerformEscapeTests.swift
Owners: @jverkoey

Docs.
  components/AppBar/tests/unit/AppBarNavigationControllerAccessibilityPerformEscapeTests.swift
Owners: @jverkoey

Names.
  components/AppBar/tests/unit/AppBarNavigationControllerAccessibilityPerformEscapeTests.swift
Owners: @jverkoey

[AppBar] Add AppBarCustomButtonThemeExample.
  components/AppBar/examples/AppBarCustomButtonThemeExample.swift
Owners: @jverkoey

Copyright.
  components/AppBar/examples/AppBarCustomButtonThemeExample.swift
Owners: @jverkoey

BUILD.
  components/AppBar/BUILD
Owners: @jverkoey

[bottomsheet] fix to allow dismissOnDraggingDownSheet to be set
  components/BottomSheet/src/MDCBottomSheetPresentationController.m
Owners: @yarneo

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
**       @material-components/core-ios-team

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
/components/ActionSheet/          @codeman7
/components/AnimationTiming/      @yarneo
/components/AppBar/               @jverkoey
/components/BottomAppBar/         @wenyuzhang666
/components/BottomSheet/          @yarneo
/components/Buttons/              @randallli
/components/Cards/                @yarneo
/components/CollectionCells/      @yarneo
/components/CollectionLayoutAttributes/ @jverkoey
/components/Collections/          @jverkoey
/components/Dialogs/              @galiak11 @iberezan
/components/FeatureHighlight/     @codeman7
/components/FlexibleHeader/       @jverkoey
/components/HeaderStackView/      @jverkoey
/components/Ink/                  @yarneo
/components/LibraryInfo/          @jverkoey
/components/List                  @andrewoverton
/components/MaskedTransition/     @jverkoey
/components/NavigationBar/        @yarneo @jverkoey
/components/NavigationDrawer/     @yarneo @jakerockland
/components/OverlayWindow/        @yarneo
/components/PageControl/          @randallli
/components/Palettes/             @jverkoey
/components/Ripple                @yarneo
/components/ShadowElevations/     @jverkoey
/components/ShadowLayer/          @jverkoey
/components/Snackbar/             @yarneo
/components/TextFields/           @andrewoverton
/components/Themes/               @jverkoey
