Repository material-components/material-components-ios, changes with the owners that CODEOWNERS names for each.
All owners: @material-components/core-ios-team, @codeman7, @yarneo, @jverkoey, @wenyuzhang666, @randallli, @galiak11, @iberezan, @andrewoverton, @jakerockland

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
**       @material-components/core-ios-team

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
/components/ActionSheet/          @codeman7
/components/AnimationTiming/      @yarneo
/components/AppBar/               @jverkoey
/components/BottomAppBar/         @wenyuzhang666
/components/BottomSheet/          @yarneo
/components/Buttons/              @randallli
/components/Cards/                @yarneo
/components/CollectionCells/      @yarneo
/components/CollectionLayoutAttributes/ @jverkoey
/components/Collections/          @jverkoey
/components/Dialogs/              @galiak11 @iberezan
/components/FeatureHighlight/     @codeman7
/components/FlexibleHeader/       @jverkoey
/components/HeaderStackView/      @jverkoey
/components/Ink/                  @yarneo
/components/LibraryInfo/          @jverkoey
/components/List                  @andrewoverton
/components/MaskedTransition/     @jverkoey
/components/NavigationBar/        @yarneo @jverkoey
/components/NavigationDrawer/     @yarneo @jakerockland
/components/OverlayWindow/        @yarneo
/components/PageControl/          @randallli
/components/Palettes/             @jverkoey
/components/Ripple                @yarneo
/components/ShadowElevations/     @jverkoey
/components/ShadowLayer/          @jverkoey
/components/Snackbar/             @yarneo
/components/TextFields/           @andrewoverton
/components/Themes/               @jverkoey

[Elevation] Mark the library as To Be Deprecated.
  components/Elevation/src/MDCElevatable.h
  components/Elevation/src/MDCElevationOverriding.h
  components/Elevation/src/UIColor+MaterialElevation.h
  components/Elevation/src/UIView+MaterialElevationResponding.h
Owners: @material-components/core-ios-team

[FeatureHighlight] Annotate all APIs as To Be Deprecated.
  components/FeatureHighlight/src/ColorThemer/MDCFeatureHighlightColorThemer.h
  components/FeatureHighlight/src/MDCFeatureHighlightView.h
  components/FeatureHighlight/src/MDCFeatureHighlightViewController.h
  components/FeatureHighlight/src/private/MDCFeatureHighlightAnimationController.h
  components/FeatureHighlight/src/private/MDCFeatureHighlightDismissGestureRecognizer.h
  components/FeatureHighlight/src/private/MDCFeatureHighlightLayer.h
  components/FeatureHighlight/src/private/MDCFeatureHighlightView+Private.h
Owners: @codeman7

[Shapes] Annotate "to be deprecated" symbols for Material Shapes.
  components/Shapes/src/MDCCornerTreatment.h
  components/Shapes/src/MDCEdgeTreatment.h
  components/Shapes/src/MDCPathGenerator.h
  components/Shapes/src/MDCRectangleShapeGenerator.h
  components/Shapes/src/MDCShapeGenerating.h
  components/Shapes/src/MDCShapeMediator.h
  components/Shapes/src/MDCShapedShadowLayer.h
  components/Shapes/src/MDCShapedView.h
Owners: @material-components/core-ios-team

[Lists] Annotate symbols as to be deprecated
  components/List/src/MDCBaseCell.h
  components/List/src/MDCSelfSizingLayoutAttributes.h
  components/List/src/MDCSelfSizingStereoCell.h
  components/List/src/MDCSelfSizingStereoCellImageViewVerticalPosition.h
Owners: @andrewoverton

[TextControls] Annotate symbols as to be deprecated
  components/private/TextControlsPrivate/src/BaseStyle/MDCTextControlStyleBase.h
  components/private/TextControlsPrivate/src/BaseStyle/MDCTextControlVerticalPositioningReferenceBase.h
  components/private/TextControlsPrivate/src/FilledStyle/MDCTextControlStyleFilled.h
  components/private/TextControlsPrivate/src/FilledStyle/MDCTextControlVerticalPositioningReferenceFilled.h
  components/private/TextControlsPrivate/src/OutlinedStyle/MDCTextControlStyleOutlined.h
  components/private/TextControlsPrivate/src/OutlinedStyle/MDCTextControlVerticalPositioningReferenceOutlined.h
  components/private/TextControlsPrivate/src/Shared/MDCTextControl.h
  components/private/TextControlsPrivate/src/Shared/MDCTextControlAssistiveLabelDrawPriority.h
  components/private/TextControlsPrivate/src/Shared/MDCTextControlAssistiveLabelView.h
  components/private/TextControlsPrivate/src/Shared/MDCTextControlAssistiveLabelViewLayout.h
  components/private/TextControlsPrivate/src/Shared/MDCTextControlColorViewModel.h
  components/private/TextControlsPrivate/src/Shared/MDCTextControlGradientManager.h
  components/private/TextControlsPrivate/src/Shared/MDCTextControlHorizontalPositioning.h
  components/private/TextControlsPrivate/src/Shared/MDCTextControlHorizontalPositioningReference.h
  components/private/TextControlsPrivate/src/Shared/MDCTextControlLabelAnimation.h
  components/private/TextControlsPrivate/src/Shared/MDCTextControlLabelSupport.h
  components/private/TextControlsPrivate/src/Shared/MDCTextControlPlaceholderSupport.h
  components/private/TextControlsPrivate/src/Shared/MDCTextControlSideViewSupport.h
  components/private/TextControlsPrivate/src/Shared/MDCTextControlVerticalPositioningReference.h
  components/private/TextControlsPrivate/src/Shared/UIBezierPath+MDCTextControlStyle.h
  components/private/TextControlsPrivate/src/TextFields/MDCBaseTextFieldLayout.h
  components/private/TextControlsPrivate/src/TextFields/MDCTextControlTextField.h
  components/private/TextControlsPrivate/src/TextFields/MDCTextControlTextFieldSideViewAlignment.h
  components/private/TextControlsPrivate/src/UnderlinedStyle/MDCTextControlStyleUnderlined.h
  components/private/TextControlsPrivate/src/UnderlinedStyle/MDCTextControlVerticalPositioningReferenceUnderlined.h
Owners: @material-components/core-ios-team

[Ripple] Annotate symbols as to be deprecated
  components/Ripple/src/MDCRippleTouchController.h
  components/Ripple/src/MDCRippleTouchControllerDelegate.h
  components/Ripple/src/MDCRippleView.h
  components/Ripple/src/MDCRippleViewDelegate.h
  components/Ripple/src/MDCStatefulRippleView.h
Owners: @yarneo

[FlexibleHeader] Delete the unused canAlwaysExpandToMaximumHeight API.
  MaterialComponents.podspec
  components/AppBar/examples/AppBarAnimatedGlitchExample.swift
  components/AppBar/examples/AppBarGlitchExample.swift
  components/AppBar/examples/AppBarInheritedAnimatedJumpExample.swift
  components/AppBar/examples/AppBarManualTabsExample.swift
  components/FlexibleHeader/examples/FlexibleHeaderConfiguratorExample.m
  components/FlexibleHeader/src/CanAlwaysExpandToMaximumHeight/MDCFlexibleHeaderView+canAlwaysExpandToMaximumHeight.h
  components/FlexibleHeader/src/CanAlwaysExpandToMaximumHeight/MaterialFlexibleHeader+CanAlwaysExpandToMaximumHeight.h
  components/FlexibleHeader/src/MDCFlexibleHeaderView.m
Owners: @material-components/core-ios-team, @jverkoey

[ShapeLibrary] Annotate all APIs as To Be Deprecated.
  components/ShapeLibrary/src/MDCCornerTreatment+CornerTypeInitalizer.h
  components/ShapeLibrary/src/MDCCurvedCornerTreatment.h
  components/ShapeLibrary/src/MDCCurvedRectShapeGenerator.h
  components/ShapeLibrary/src/MDCCutCornerTreatment.h
  components/ShapeLibrary/src/MDCPillShapeGenerator.h
  components/ShapeLibrary/src/MDCRoundedCornerTreatment.h
  components/ShapeLibrary/src/MDCSlantedRectShapeGenerator.h
  components/ShapeLibrary/src/MDCTriangleEdgeTreatment.h
Owners: @material-components/core-ios-team

[BasicFontScheme] Annotate symbols as to be deprecated
  components/schemes/Typography/src/BasicFontScheme/MDCBasicFontScheme.h
Owners: @material-components/core-ios-team

Marked APIs deprecated.
  components/schemes/Typography/src/MDCTypographyScheme.h
  components/schemes/Typography/src/Scheming/MDCTypographyScheming.h
Owners: @material-components/core-ios-team

[MDC-iOS / private/Icons] Annotate private Icons API as "to be deprecated".
  components/private/Icons/src/MDCIcons+BundleLoader.h
  components/private/Icons/src/MDCIcons.h
Owners: @material-components/core-ios-team

Mark symbols to be deprecated
  components/BottomAppBar/src/MDCBottomAppBarView.h
  components/BottomNavigation/src/MDCBottomNavigationBar.h
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.h
Owners: @wenyuzhang666, @material-components/core-ios-team

Mark symbols to be deprecated
  components/Chips/src/MDCChipView.h
  components/Chips/src/private/MDCChipView+Private.h
Owners: @material-components/core-ios-team

[Dialogs] Annotate symbols as to be deprecated
  components/Dialogs/src/MDCAlertControllerView.h
  components/Dialogs/src/Theming/MDCAlertController+MaterialTheming.h
  components/Dialogs/src/Theming/MDCDialogPresentationController+MaterialTheming.h
Owners: @galiak11, @iberezan

Annotate symbols to be deprecated
  components/AnimationTiming/src/CAMediaTimingFunction+MDCAnimationTiming.h
Owners: @yarneo

Mark MDCHeaderStackView to be deprecated.
  components/HeaderStackView/src/MDCHeaderStackView.h
Owners: @jverkoey

Mark MDCScalableFontDescriptor to be deprecated
  components/ScalableFontDescriptor/src/MDCScalableFontDescriptor.h
Owners: @material-components/core-ios-team

[ActionSheet] Annotate all APIs as To Be Deprecated.
  components/ActionSheet/src/MDCActionSheetController.h
  components/ActionSheet/src/MDCActionSheetControllerDelegate.h
  components/ActionSheet/src/private/MDCActionSheetHeaderView.h
  components/ActionSheet/src/private/MDCActionSheetItemTableViewCell.h
Owners: @codeman7

Mark as to be deprecated
  components/private/KeyboardWatcher/src/MDCKeyboardWatcher.h
Owners: @material-components/core-ios-team

[Tabs] Update badge layout to not overlap items with only a title
  components/Tabs/src/TabBarView/private/MDCTabBarViewItemView.m
Owners: @material-components/core-ios-team

[Dialogs] Make the tapHandler readonly and public.
  components/Dialogs/src/MDCAlertController.h
  components/Dialogs/src/MDCAlertController.m
Owners: @galiak11, @iberezan

[Buttons+Dialogs] Disable deprecation warnings in headers.
  components/Banner/src/MDCBannerView.h
  components/Cards/src/MDCCard.h
  components/Cards/src/MDCCardCollectionCell.h
  components/Dialogs/src/MDCAlertController+ButtonForAction.h
  components/Dialogs/src/MDCAlertController.h
  components/Dialogs/src/private/MDCAlertActionManager.h
  components/Dialogs/src/private/MDCAlertControllerView+Private.h
  components/FlexibleHeader/src/MDCFlexibleHeaderView.h
Owners: @material-components/core-ios-team, @yarneo, @galiak11, @iberezan, @jverkoey

[FlexibleHeader] Replace MDCPageControl with UIPageControl in the examples.
  components/FlexibleHeader/examples/FlexibleHeaderPageControlExample.m
Owners: @jverkoey

[Snackbar] Disable deprecation warnings in headers.
  components/Snackbar/src/MDCSnackbarManager.h
  components/Snackbar/src/MDCSnackbarMessageView.h
Owners: @yarneo

[Math] Delete unused MDCDegreesToRadians.
  components/private/Math/src/MDCMath.h
Owners: @material-components/core-ios-team

[Snackbar] Disable deprecation warnings in headers.
  components/Snackbar/src/MDCSnackbarManager.h
Owners: @yarneo

[MDC Color] Graduated color blending component to public folder
  components/Color/src/UIColor+MaterialBlending.h
  components/Color/src/UIColor+MaterialBlending.m
  components/Color/tests/unit/MaterialColorTests.m
  components/Elevation/src/UIColor+MaterialElevation.m
  components/private/Color/src/MaterialColor.h
  components/private/Color/tests/unit/MaterialColorTests.m
Owners: @material-components/core-ios-team

[Chips Themer] Remove ColorBlending API. Use Color component's color blending API instead.
  components/Chips/src/Theming/MDCChipView+MaterialTheming.m
Owners: @material-components/core-ios-team

Internal change
  components/schemes/Color/tests/unit/MDCSemanticColorSchemeTests.m
Owners: @material-components/core-ios-team

[Color blending] Delete colorBlending API from ColorSchemes. Use MDC Color component instead.
  components/Chips/tests/unit/ChipsMaterialThemingTests.swift
  components/schemes/Color/src/MDCSemanticColorScheme.h
  components/schemes/Color/src/MDCSemanticColorScheme.m
  components/schemes/Color/tests/unit/MDCSemanticColorSchemeTests.m
Owners: @material-components/core-ios-team

Internal change.
  catalog/MDCDragons/MDCDragonsController.swift
  components/NavigationRail/tests/unit/NavigationRailTests.swift
Owners: @material-components/core-ios-team

[schemes] Optimize imports
  components/schemes/Color/src/MDCSemanticColorScheme.m
  components/schemes/Color/tests/unit/MDCSemanticColorSchemeTests.m
  components/schemes/Container/src/MDCContainerScheme.m
  components/schemes/Container/tests/unit/MDCContainerSchemeTests.m
  components/schemes/Shape/src/MDCShapeCategory.m
  components/schemes/Shape/tests/unit/MDCShapeSchemeTests.m
  components/schemes/Typography/examples/MDCTypographySchemeFontListExampleViewController.m
  components/schemes/Typography/src/MDCTypographyScheme.m
  components/schemes/Typography/tests/unit/MDCTypographySchemeTests.m
Owners: @material-components/core-ios-team

[BottomNavigation] Fix bug where the badge color was not reacting to the background color set in the appearance property.
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.h
  components/BottomNavigation/src/private/MDCBottomNavigationItemView.m
  components/BottomNavigation/tests/snapshot/MDCBottomNavigationBarSnapshotTests.m
  components/BottomNavigation/tests/unit/MDCBottomNavigationBarKVOTests.m
Owners: @material-components/core-ios-team

Internal change
  components/AppBar/examples/AppBarPresentedHiddenExample.m
  components/Collections/examples/CollectionsCellColorExample.m
  components/Dialogs/examples/DialogsAlertExampleViewController.m
  components/FeatureHighlight/src/private/MDCFeatureHighlightView+Private.m
  components/NavigationDrawer/src/Theming/MDCBottomDrawerViewController+MaterialTheming.m
Owners: @jverkoey, @galiak11, @iberezan, @codeman7, @yarneo, @jakerockland

Update a link
  contributing/code-conventions.md
Owners: @material-components/core-ios-team

Update a link (#10259)
  contributing/code-conventions.md
Owners: @material-components/core-ios-team

Mark as to be deprecated
  components/Cards/src/MDCCard.h
  components/Cards/src/MDCCardCollectionCell.h
  components/Cards/src/UICollectionViewController+MDCCardReordering.h
  contributing/code-conventions.md
Owners: @yarneo, @material-components/core-ios-team

[Badge] Remove boldFont property from MDCBadgeAppearance for simplicity.
  components/Badges/src/Appearance/MDCBadgeAppearance.h
  components/Badges/src/Appearance/MDCBadgeAppearance.m
  components/Badges/src/MDCBadgeView.m
Owners: @material-components/core-ios-team

Fixed up imports for Snackbar
  components/Snackbar/tests/snapshot/MDCSnackbarMessageViewSnapshotTests.m
  components/Snackbar/tests/unit/MDCSnackbarMessageViewTests.m
  components/Snackbar/tests/unit/MDCSnackbarRippleTests.m
  components/Snackbar/tests/unit/MDCSnackbarShowMessageErrorTests.m
  components/Snackbar/tests/unit/SnackbarManagerTests.m
Owners: @yarneo

Fixed up imports for Tabs
  components/Tabs/examples/TabBarIconExample.m
  components/Tabs/examples/TabBarTextOnlyExample.m
  components/Tabs/examples/TabBarViewControllerExample.m
  components/Tabs/src/MDCTabBar.m
  components/Tabs/src/TabBarView/MDCTabBarViewCustomViewable.h
  components/Tabs/src/private/MDCItemBar.h
  components/Tabs/tests/unit/MDCItemBarCellTests.m
  components/Tabs/tests/unit/MDCItemBarTests.m
  components/Tabs/tests/unit/MDCTabBarLayoutTests.m
  components/Tabs/tests/unit/MDCTabBarRippleTests.m
Owners: @material-components/core-ios-team
